Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide

Add InternalsVisibleTo to the VSMac Razor assembly.
  src/Tools/ExternalAccess/Razor/Microsoft.CodeAnalysis.ExternalAccess.Razor.csproj
Owners: @dotnet/roslyn-infrastructure

Update release/dev16.4 version to -beta4
  eng/Versions.props
Owners: @dotnet/roslyn-infrastructure

Reorder "Suppress or Configure issues" group title
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.Designer.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Fix formatting
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Owners: @dotnet/roslyn-compiler

Move method
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Adjust baseline
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

Handle analyzer execution from "Run code analysis" commands with RunAnalyzersDuringLiveAnalysis = false
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
Owners: @dotnet/roslyn-ide

Order Suppression fixes above Configuration fixes
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureCodeStyle/ConfigureCodeStyleOptionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureSeverity/ConfigureSeverityLevelCodeFixProvider.cs
Owners: @dotnet/roslyn-ide

Use Path.Combine instead of hard-coded paths
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Use Path.Combine instead of hard-coded paths
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Respond to PR comments
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
Owners: @dotnet/roslyn-compiler

Use nullable
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Adjust test to make results accurate
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
Owners: @dotnet/roslyn-compiler

To-do: Add tests and refactor
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.CodeGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
Owners: @dotnet/roslyn-ide

Document compiler package usage (#39272)
  src/NuGet/Microsoft.NETCore.Compilers/Microsoft.NETCore.Compilers.Package.csproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/Microsoft.Net.Compilers.Toolset.Package.csproj
  src/NuGet/Microsoft.Net.Compilers/Microsoft.Net.Compilers.Package.csproj
Owners: @dotnet/roslyn-infrastructure

Accidentally deleted parts of tests
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
Owners: @dotnet/roslyn-ide

Revert "Revert "Fix converted nullability on extract method (#39134)""
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NullableExtensions.cs
Owners: @dotnet/roslyn-ide

Address review comments
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/SerializableImportCompletionItem.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ExtensionMethodInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Owners: @dotnet/roslyn-ide

Refactor
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationHelpers.cs
Owners: @dotnet/roslyn-ide

Add IVT from MS.CA.Workspaces.dll to VSMac LanguageServices.Razor.dll.
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Owners: @dotnet/roslyn-ide

Demonstrate that the display name produced does not parse
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyIdentityDisplayNameTests.cs
Owners: @dotnet/roslyn-compiler

Use DataContractJsonSerializer in features layer to avoid new dependency.
  src/Features/Core/Portable/Diagnostics/DiagnosticHelper.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
Owners: @dotnet/roslyn-ide

Add another subdir
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Remove unused properties
  src/Test.Utilities/CSharpCodeFixVerifier`2+Test.cs
  src/Test.Utilities/VisualBasicCodeFixVerifier`2+Test.cs
Owners: none

Update to Microsoft.CodeAnalysis.Testing 1.0.1-beta1.19554.4
  src/Test.Utilities/AdditionalMetadataReferences.cs
  src/Test.Utilities/CSharpCodeFixVerifier`2+Test.cs
  src/Test.Utilities/DiagnosticAnalyzerTestBase.cs
  src/Test.Utilities/VisualBasicCodeFixVerifier`2+Test.cs
Owners: none

Convert fields to properties
  src/Test.Utilities/AdditionalMetadataReferences.cs
Owners: none

Simplify metadata references
  src/PerformanceSensitiveAnalyzers/UnitTests/CSharpPerformanceCodeFixVerifier`2.cs
  src/PerformanceSensitiveAnalyzers/UnitTests/VisualBasicPerformanceCodeFixVerifier`2.cs
  src/Test.Utilities/AdditionalMetadataReferences.cs
  src/Test.Utilities/CSharpCodeFixVerifier`2+Test.cs
  src/Test.Utilities/DiagnosticAnalyzerTestBase.cs
  src/Test.Utilities/VisualBasicCodeFixVerifier`2+Test.cs
Owners: none

Analyze argument conversion for this argument of Deconstruct extension method
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Owners: @dotnet/roslyn-compiler

Fix unit test
  src/EditorFeatures/Test/CodeFixes/ExtensionOrderingTests.cs
Owners: @dotnet/roslyn-ide

When converting to LINQ calls, omit .Select(x => x) when possible.
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
Owners: @dotnet/roslyn-ide

Add a comment
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
Owners: @dotnet/roslyn-ide

Avoid using newtonsoft for deserialization.
  src/EditorFeatures/Core/Implementation/Diagnostics/DiagnosticsClassificationTaggerProvider.cs
Owners: @dotnet/roslyn-ide

Fix up integration tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
Owners: @dotnet/roslyn-ide

Work around dotnet/wpf#1718 by not embedding untracked source
  eng/targets/Settings.props
Owners: @dotnet/roslyn-infrastructure

Evaluate tuple elements in a switch control expression in the order written (#39595)
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
Owners: @dotnet/roslyn-compiler

Document `-nullable:annotations` option (#39444)
  docs/features/nullable-reference-types.md
Owners: none

Address review comments
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
Owners: @dotnet/roslyn-ide

Completion: VSMac TypeScript completion doesn't commit with Enter
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
Owners: @dotnet/roslyn-ide

Fix test
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Owners: @dotnet/roslyn-compiler

Fix build for unit tests
  src/Tools/AnalyzerRunner/Options.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide
