Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Null annotate our helpers for mapping between buffers and SourceTexts
  src/EditorFeatures/Text/Extensions.SnapshotSourceText.cs
  src/EditorFeatures/Text/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/TextExtensions.cs
Owners: @dotnet/roslyn-ide

Implement small optimization to avoid creating a diagnostic that we are not planning to look at. (#39527)
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
Owners: @dotnet/roslyn-compiler

Fix crash where we are not always finding text snapshots
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
Owners: @dotnet/roslyn-ide

Completion: provide all candidate symbols for overloads in lambda expressions (#39479)
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
Owners: @dotnet/roslyn-ide

Make IUsingDeclarationOperation explicit, and the underlying IVariableDeclarationGroupOperation implicit.
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Owners: @dotnet/roslyn-compiler

style changes based on review by AlekseyTs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
Owners: @dotnet/roslyn-compiler

Clean up help link (#39397)
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionWithNestedFlavors.cs
  src/EditorFeatures/Core/Host/IPreviewPaneService.cs
  src/EditorFeatures/Core/Shared/Extensions/WorkspaceExtensions.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataSerializerTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/EditorFeatures/TestUtilities/Preview/MockPreviewPaneService.cs
  src/EditorFeatures/TestUtilities/Squiggles/AbstractSquiggleProducerTests.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_BuildSynchronization.cs
  src/Tools/ExternalAccess/FSharp/Internal/VisualStudio/FSharpProjectExternalErrorReporterFactory.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/Implementation/PreviewPane/PreviewPaneService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/VisualStudio/Core/Def/Telemetry/ProjectTypeLookupService.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.BrowseObject.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItemSource.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/CpsDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/CpsDiagnosticItemSource.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/LegacyDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/LegacyDiagnosticItemSource.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzerCommandHandlerTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/CpsDiagnosticItemTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/LegacyDiagnosticItemTests.vb
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataSerializer.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostContext/IProjectTypeLookupService.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostContext/ProjectTypeLookupService.cs
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-infrastructure

Avoid using obsolete SourceRepositoryProvider constructor
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Avoid using obsolete SourceRepositoryProvider constructor
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Fix compiler crash in scripting. ON HOLD pending https://github.com/dotnet/roslyn/pull/39584 Fixes #39548
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Scripting/CSharpTest/ScriptTests.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-interactive

Add test for #39548
  src/Scripting/CSharpTest/InteractiveSessionTests.cs
Owners: @dotnet/roslyn-interactive

Respond to PR comments
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Owners: @dotnet/roslyn-compiler

Address review comments
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/ExtensionMethodImportCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/ImportCompletionProviderHelper.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/TypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/IRemoteExtensionMethodImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ImportCompletionItem.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/ExtensionMethodImportCompletionProvider.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/ImportCompletionProviderHelper.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/TypeImportCompletionProvider.vb
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_ExtensionMethodFiltering.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Owners: @dotnet/roslyn-ide

Fix SkipLocalsInit with stackalloc
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/CodeGen/MethodBody.cs
  src/Compilers/Core/Portable/Emit/NoPia/CommonEmbeddedMethod.cs
  src/Compilers/Core/Portable/PEWriter/Members.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
  src/Compilers/VisualBasic/Portable/Compilation/MethodCompiler.vb
  src/Test/Utilities/Portable/Metadata/ILValidation.cs
Owners: @dotnet/roslyn-compiler

Revert "Fix converted nullability on extract method (#39134)"
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NullableExtensions.cs
Owners: @dotnet/roslyn-ide

Subscribe to OnModuleInstanceLoad/OnModuleInstanceUnload events only when managed debugging is being used. (#39568)
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebugStateChangeListener.cs
  src/VisualStudio/Core/Def/ManagedEditAndContinueService.vsdconfigxml
Owners: @dotnet/roslyn-ide

Address some feedback
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Synthesized.cs
Owners: @dotnet/roslyn-compiler

localize strings
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSource.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSourceProvider.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
Owners: @dotnet/roslyn-ide

Handle dependent slots in pattern-matching null tests. Fixes #39264
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesVsPatterns.cs
Owners: @dotnet/roslyn-compiler

Do not report EnC diagnostics when EnC is disabled
  eng/Versions.props
  src/EditorFeatures/Core/Implementation/Diagnostics/DiagnosticsSquiggleTaggerProvider.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebugStateChangeListener.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

Post-release for 2.9.7
  src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.sarif
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.sarif
  src/PerformanceSensitiveAnalyzers/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.sarif
  src/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.sarif
  src/Roslyn.Diagnostics.Analyzers/Roslyn.Diagnostics.Analyzers.sarif
Owners: none

Fix build for tests
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzerCommandHandlerTests.vb
Owners: @dotnet/roslyn-ide

Add CrefSignaturePartTo SyntaxFacts.IsInTypeOnlyContext to fix #39592
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxFacts.vb
  src/Workspaces/VisualBasicTest/CodeGeneration/AddImportsTests.vb
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

LOC CHECKIN | dotnet/roslyn-analyzers master | 20191101
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.cs.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.de.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.es.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.fr.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.it.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.ja.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.ko.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.pl.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.pt-BR.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.ru.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.tr.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.zh-Hans.xlf
  src/Microsoft.CodeAnalysis.Analyzers/Core/xlf/CodeAnalysisDiagnosticsResources.zh-Hant.xlf
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/xlf/BannedApiAnalyzerResources.zh-Hans.xlf
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/xlf/BannedApiAnalyzerResources.zh-Hant.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.cs.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.de.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.it.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.ja.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.zh-Hans.xlf
  src/PerformanceSensitiveAnalyzers/CSharp/xlf/AnalyzersResources.zh-Hant.xlf
  src/PerformanceSensitiveAnalyzers/Core/xlf/PerformanceSensitiveAnalyzersResources.zh-Hans.xlf
  src/PerformanceSensitiveAnalyzers/Core/xlf/PerformanceSensitiveAnalyzersResources.zh-Hant.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.zh-Hans.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.zh-Hant.xlf
  src/Roslyn.Diagnostics.Analyzers/Core/xlf/RoslynDiagnosticsAnalyzersResources.zh-Hans.xlf
  src/Roslyn.Diagnostics.Analyzers/Core/xlf/RoslynDiagnosticsAnalyzersResources.zh-Hant.xlf
  src/Text.Analyzers/Core/xlf/TextAnalyzersResources.zh-Hans.xlf
  src/Text.Analyzers/Core/xlf/TextAnalyzersResources.zh-Hant.xlf
Owners: none

LOC CHECKIN | dotnet/templates master | 20191101
  src/Setup/Editorconfig/Microsoft.VisualStudio.Templates.Editorconfig.Wizard.Setup/xlf/VSPackage.zh-Hans.xlf
  src/Setup/Editorconfig/Microsoft.VisualStudio.Templates.Editorconfig.Wizard.Setup/xlf/VSPackage.zh-Hant.xlf
  src/Tools/Microsoft.VisualStudio.Templates.Editorconfig.Wizard/xlf/WizardResource.zh-Hans.xlf
  src/Tools/Microsoft.VisualStudio.Templates.Editorconfig.Wizard/xlf/WizardResource.zh-Hant.xlf
Owners: @dotnet/roslyn-infrastructure

Dispose of StringWriter after merging token text.
  src/Compilers/VisualBasic/Portable/Parser/Parser.vb
Owners: @dotnet/roslyn-compiler

Unify the checking that method is being called on the correct token kind. This helper method automatically gets the correct method name.
  src/Compilers/VisualBasic/Portable/Parser/ParseConditional.vb
  src/Compilers/VisualBasic/Portable/Parser/ParseExpression.vb
  src/Compilers/VisualBasic/Portable/Parser/ParseInterpolatedString.vb
  src/Compilers/VisualBasic/Portable/Parser/ParseStatement.vb
  src/Compilers/VisualBasic/Portable/Parser/ParseTerminal.vb
  src/Compilers/VisualBasic/Portable/Parser/ParseXml.vb
  src/Compilers/VisualBasic/Portable/Parser/Parser.vb
Owners: @dotnet/roslyn-compiler

Address feedback
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Owners: @dotnet/roslyn-ide

Address review comments
  src/Microsoft.CodeAnalysis.Analyzers/UnitTests/FixAnalyzers/FixerWithFixAllAnalyzerTests.cs
  src/Test.Utilities/CSharpCodeFixVerifier`2.cs
  src/Test.Utilities/VisualBasicCodeFixVerifier`2.cs
Owners: none

Minor changes per review.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
Owners: @dotnet/roslyn-compiler

Adjust fix for speculative binding, when we don't have the containing member.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Owners: @dotnet/roslyn-compiler

Add a clarifying comment.
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
Owners: @dotnet/roslyn-compiler

Add initial unit tests for initializer expression wrapping
  src/EditorFeatures/CSharpTest/Wrapping/InitializerExpressionWrappingTests.cs
Owners: @dotnet/roslyn-ide

Address more feedback
  src/Compilers/CSharp/Portable/Binder/Binder.QueryUnboundLambdaState.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaDiscardParametersTests.cs
Owners: @dotnet/roslyn-compiler

Use resource strings for validating warning text
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/VisualBasicTest/CodeGeneration/AddImportsTests.vb
Owners: @dotnet/roslyn-ide

Use string.Format instead of .Replace
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/VisualBasicTest/CodeGeneration/AddImportsTests.vb
Owners: @dotnet/roslyn-ide

Respond to PR comments
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
Owners: @dotnet/roslyn-compiler

Support non-monotonic transfer for local functions (#39570)
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.ILocalState.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Owners: @dotnet/roslyn-compiler

Forgot to actually pass the parameter
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
Owners: @dotnet/roslyn-compiler

Fix stack overflow in inheritdoc evaluation
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
Owners: @dotnet/roslyn-ide

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
