Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Make changes to which options controls the fix,
  src/Workspaces/CSharp/Portable/Formatting/Rules/NewLineUserSettingFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Owners: @dotnet/roslyn-ide

Added tests
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
Owners: @dotnet/roslyn-ide

Fix for control flow graph when combining using declarations with labels (#39451)
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

PR feedback
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/CSharpDataFlowAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/FieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotationExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/DiscardSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/EventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/FieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/LocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/NamespaceOrTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/PropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolEqualityComparer.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Compilers/Core/Portable/CodeGen/PermissionSetAttribute.cs
  src/Compilers/Core/Portable/Symbols/ISymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbolInternal.cs
  src/Compilers/Test/Utilities/CSharp/Extensions.cs
Owners: @dotnet/roslyn-compiler

Only support lambdas
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_NameConflicts.cs
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
  src/Compilers/CSharp/Portable/Binder/WithParametersBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceClonedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedAccessorValueParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaDiscardParametersTests.cs
Owners: @dotnet/roslyn-compiler

Apply suggestions from code review
  src/Workspaces/CSharp/Portable/Formatting/FormattingHelpers.cs
Owners: @dotnet/roslyn-ide

Fix broken rename.
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
Owners: @dotnet/roslyn-ide

Move tuple expression logic in TokenBasedFormattingRule,
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
Owners: @dotnet/roslyn-ide

Support case mismatch in VB
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.vb
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.cs
Owners: @dotnet/roslyn-ide

Nullable annotate TypeCompilationState and MessageID (#39449)
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Compiler/TypeCompilationState.cs
  src/Compilers/CSharp/Portable/Errors/LazyMissingNonNullTypesContextDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
Owners: @dotnet/roslyn-compiler

Fix tests
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

Address review comments
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionCacheServiceFactory.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ImportCompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/SerializableImportCompletionItem.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/ExtensionMethodImportCompletionProvider.vb
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.Node.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ExtensionMethodInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_ExtensionMethodFiltering.cs
Owners: @dotnet/roslyn-ide

Delete the checkbox to control nullable analysis in the IDE
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectOptionsProcessor.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
  src/Workspaces/Core/Portable/Utilities/CompilerFeatureFlags.cs
Owners: @dotnet/roslyn-ide

Move optimization around use of Nullable type in Boolean Expressions into LocalRewriter and eliminate invalid optimization. (#38802)
  docs/compilers/Visual Basic/Compiler Breaking Changes - post VS2019.md
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Operators.vb
  src/Compilers/VisualBasic/Portable/CodeGen/EmitOperators.vb
  src/Compilers/VisualBasic/Portable/CodeGen/OperatorKind.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Expressions.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperators.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_NullableHelpers.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperators.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_QueryLambdaRewriter.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SymbolExtensions.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineBreakingChanges.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenNullable.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/Results/CheckedCoalesceWithNullableBoolean.txt
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
  src/Workspaces/VisualBasic/Portable/Extensions/CastAnalyzer.vb
  src/Workspaces/VisualBasic/Portable/Extensions/ExpressionSyntaxExtensions.vb
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

Update .NET Core sdk to 3.1 preview
  global.json
Owners: none

Subscribe to OnModuleInstanceLoad/OnModuleInstanceUnload events only when managed debugging is being used.
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebugStateChangeListener.cs
  src/VisualStudio/Core/Def/ManagedEditAndContinueService.vsdconfigxml
Owners: @dotnet/roslyn-ide

Fix LOC
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ImportCompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/SerializableImportCompletionItem.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Owners: @dotnet/roslyn-ide

Remove debug code
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
Owners: @dotnet/roslyn-ide

Update src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
Owners: @dotnet/roslyn-ide

Support non-monotonic transfer for local functions
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.ILocalState.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Owners: @dotnet/roslyn-compiler

Update src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
Owners: @dotnet/roslyn-ide

Supports nullability codefix for `default`
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Owners: @dotnet/roslyn-ide

update windows build documentation
  docs/contributing/Building, Debugging, and Testing on Windows.md
Owners: none

Do not return favorites in expansions of null values
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ObjectFavoritesTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/MemberExpansion.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ObjectFavoritesTests.vb
Owners: none

PR feedback
  src/Compilers/Core/Portable/Symbols/ISymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
Owners: @dotnet/roslyn-compiler

Fixed work item numbers
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
Owners: @dotnet/roslyn-ide

Add comments
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
Owners: @dotnet/roslyn-ide

Remove experiment for "sorting completion list by matching"
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Owners: @dotnet/roslyn-ide

Refactoring and changed implementation
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseImplicitTypeHelper.cs
Owners: @dotnet/roslyn-ide

Fix multiple diagnostics showing up when configuring unnecessary parentheses severity with editor config
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.vb
  src/Features/Core/Portable/RemoveUnnecessaryParentheses/AbstractRemoveUnnecessaryParenthesesDiagnosticAnalyzer.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxTreeExtensions.cs
Owners: @dotnet/roslyn-ide

CR Feedback
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/MemberExpansion.cs
Owners: none

Update src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
Owners: @dotnet/roslyn-ide

Remove VariableDeclarationKind, and replace with a new IUsingDeclarationOperation node as a parent to IVariableDeclarationGroupOperation.
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Generated/OperationKind.Generated.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/Operations/VariableDeclarationKind.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationNodes.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Owners: @dotnet/roslyn-compiler

Invert if statement
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
Owners: @dotnet/roslyn-ide

support reference\definition highlight and definition bucketing
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
Owners: @dotnet/roslyn-ide

Refactoring
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
Owners: @dotnet/roslyn-ide

Added test and comment
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
Owners: @dotnet/roslyn-ide

A word
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
Owners: @dotnet/roslyn-ide

Remove constant char array out of SourceInfos.
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/HardcodedBytesSources.cs
Owners: none

Update HideBaseCodeFixProvider to follow preferred modifier order
  src/EditorFeatures/CSharpTest/Diagnostics/HideBase/HideBaseTests.cs
  src/Features/CSharp/Portable/CodeFixes/HideBase/HideBaseCodeFixProvider.AddNewKeywordAction.cs
Owners: @dotnet/roslyn-ide

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
