Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Add WorkItem attribute to all tests that reproduce the issue
  src/Compilers/Core/CodeAnalysisTest/Text/TextChangeTests.cs
Owners: @dotnet/roslyn-compiler

Fix spelling
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.OperationDeconstructor.cs
Owners: @dotnet/roslyn-ide

Add #nullable
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.OperationDeconstructor.cs
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.cs
  src/Features/Core/Portable/UseSystemHashCode/UseSystemHashCodeCodeFixProvider.cs
  src/Features/Core/Portable/UseSystemHashCode/UseSystemHashCodeDiagnosticAnalyzer.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
Owners: @dotnet/roslyn-ide

Use doc comment
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.OperationDeconstructor.cs
Owners: @dotnet/roslyn-ide

Simplify
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.cs
  src/Features/Core/Portable/UseSystemHashCode/UseSystemHashCodeCodeFixProvider.cs
  src/Features/Core/Portable/UseSystemHashCode/UseSystemHashCodeDiagnosticAnalyzer.cs
Owners: @dotnet/roslyn-ide

use null
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.cs
Owners: @dotnet/roslyn-ide

Reorder
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.OperationDeconstructor.cs
Owners: @dotnet/roslyn-ide

Cleanup
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateGetHashCodeMethod.cs
Owners: @dotnet/roslyn-ide

Rename file
  src/EditorFeatures/VisualBasicTest/UseSystemHashCode/UseSystemHashCodeTests.vb
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateGetHashCodeMethod.cs
Owners: @dotnet/roslyn-ide

Update namepace
  src/EditorFeatures/VisualBasicTest/UseSystemHashCode/UseSystemHashCodeTests.vb
Owners: @dotnet/roslyn-ide

Update namespace
  src/EditorFeatures/CSharpTest/UseSystemHashCode/UseSystemHashCodeTests.cs
Owners: @dotnet/roslyn-ide

Add tests
  src/EditorFeatures/CSharpTest/UseSystemHashCode/UseSystemHashCodeTests.cs
Owners: @dotnet/roslyn-ide

Add tesT
  src/EditorFeatures/VisualBasicTest/UseSystemHashCode/UseSystemHashCodeTests.vb
Owners: @dotnet/roslyn-ide

Address PR feedback
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Update CA1812: Do not report on internal types referenced by CoClassAttribute
  src/Utilities/Compiler/WellKnownTypeNames.cs
Owners: none

Add codefix for CS0708
  src/EditorFeatures/CSharpTest/AddStaticModifier/AddStaticModifierTests.cs
  src/Features/CSharp/Portable/AddStaticModifier/CSharpAddStaticModifierCodeFixProvider.cs
  src/Features/Core/Portable/AddStaticModifier/AbstractAddStaticModifierCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
Owners: @dotnet/roslyn-ide

Rework PR based on various feedback
  src/EditorFeatures/CSharpTest/MakeMemberStatic/MakeMemberStaticTests.cs
  src/Features/CSharp/Portable/AddStaticModifier/CSharpAddStaticModifierCodeFixProvider.cs
  src/Features/CSharp/Portable/MakeMemberStatic/CSharpMakeMemberStaticCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/MakeMemberStatic/AbstractMakeMemberStaticCodeFixProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
Owners: @dotnet/roslyn-ide

follow up for Go to base: support metadata references and bug fixes (#39334)
  src/EditorFeatures/Core/GoToBase/AbstractGoToBaseService.cs
  src/EditorFeatures/Test2/GoToBase/VisuaBasicGoToBaseTests.vb
  src/EditorFeatures/Test2/GoToHelpers/GoToHelpers.vb
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DefinitionItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/MetadataDefinitionItemEntry.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
Owners: @dotnet/roslyn-ide

Rename and remove unused wrappers
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingPersistentStorageLocationService.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingWorkspaceTaskScheduler.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingExceptionUtilitesHelpers.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingExceptionUtilitesWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingFatalErrorHelpers.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingGlobalOptionServiceWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingPersistentStorageLocationChangingEventArgsWrapper.cs
Owners: @dotnet/roslyn-ide

Remove shortcircuit of status query for commands with handlers.
  src/VisualStudio/Core/Def/Implementation/AbstractOleCommandTarget.Query.cs
Owners: @dotnet/roslyn-ide

Update src/Features/Core/Portable/UseSystemHashCode/Analyzer.cs
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.cs
Owners: @dotnet/roslyn-ide

Test checked conversions
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntTests.cs
Owners: @dotnet/roslyn-compiler

Update FindReferencesCommandHandler to return command state
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
Owners: @dotnet/roslyn-ide

Comment
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.OperationDeconstructor.cs
Owners: @dotnet/roslyn-ide

Add test with many hashes
  src/EditorFeatures/CSharpTest/UseSystemHashCode/UseSystemHashCodeTests.cs
Owners: @dotnet/roslyn-ide

Use LangVersion 8 in tests rather than Preview
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Owners: @dotnet/roslyn-compiler

Fix conflicts
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Check outputs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Commit test with repro
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ICompilationExtensions.cs
Owners: @dotnet/roslyn-ide

Add comments
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingPinnedSolutionInfoWrapper.cs
Owners: @dotnet/roslyn-ide

Change inline rename dialog to be more uniquely identifiable by automation id
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/Dashboard.xaml
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Use LangVersion 8 in tests rather than Preview (#39421)
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Owners: @dotnet/roslyn-compiler

Link to http://sourceroslyn.io
  README.md
Owners: none

Fix AttributeSemanticModel assert.
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

Preliminary fix, need to move around null checks
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.Expander.cs
Owners: @dotnet/roslyn-ide

Revert file
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.Expander.cs
Owners: @dotnet/roslyn-ide

Avoid leave.s opcode jumping out of a finally block (#39300)
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Lock resettable delay to prevent concurrent access.
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Owners: @dotnet/roslyn-ide

Call AsyncIteratorMethodBuilder.Complete
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodBuilderMemberCollection.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Remove dead class diagram.
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/CSharp/Portable/Symbols/PublicSymbolTable.cd
Owners: @dotnet/roslyn-compiler

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
