Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-compiler, @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @dotnet/roslyn-api-owners, @333fred, @dibarbet

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure

docs/compilers @dotnet/roslyn-compiler
docs/ide @dotnet/roslyn-ide

eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/Analyzers/ @dotnet/roslyn-ide
src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
# Both IDE and Compiler traits are in this file, so we don't want to ping each other for changes to just this file.
# Technically this means that if someone changes _just_ this file no reviewers will be tagged, but this isn't likely
# to happen.
src/Compilers/Test/Core/Traits/Traits.cs
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer or Cocoa layers, the VS for Mac team also should take a look. We do this even if it's
# only touching WPF since the change might also need to be made (and validated) on the Cocoa side of things.
src/EditorFeatures/Core.Cocoa/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/AnalyzerRunner @dotnet/roslyn-ide
src/Tools/BuildActionTelemetryTable @dotnet/roslyn-infrastructure
src/Tools/BuildBoss @dotnet/roslyn-infrastructure
src/Tools/BuildValidator @dotnet/roslyn-infrastructure
src/Tools/dotnet-format @dotnet/roslyn-infrastructure
src/Tools/ExternalAccess @dotnet/roslyn-ide
src/Tools/IdeBenchmarks @dotnet/roslyn-ide
src/Tools/IdeCoreBenchmarks @dotnet/roslyn-ide
src/Tools/ManifestGenerator @dotnet/roslyn-infrastructure
src/Tools/PrepareTests @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/Tools/Source/RunTests @dotnet/roslyn-infrastructure
src/VisualStudio/ @dotnet/roslyn-ide
src/Workspaces/ @dotnet/roslyn-ide

src/Compilers/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners
src/Workspaces/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners
src/Features/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners
src/EditorFeatures/**/PublicAPI.Unshipped.txt @dotnet/roslyn-api-owners

src/Tools/ExternalAccess/OmniSharp*/ @333fred @dibarbet
src/Tools/ExternalAccess/RazorCompiler*/ @dotnet/roslyn-compiler

Always check flag
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
Owners: @dotnet/roslyn-compiler

Always check flag
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
Owners: @dotnet/roslyn-compiler

Update tests
  src/Compilers/CSharp/Test/Syntax/Parsing/UsingDirectiveParsingTests.cs
Owners: @dotnet/roslyn-compiler

Update tests
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Owners: @dotnet/roslyn-compiler

Fix docs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
Owners: @dotnet/roslyn-compiler

Remove docs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
Owners: @dotnet/roslyn-compiler

revert nuget feed changes (#67378)
  NuGet.config
Owners: none

Change CheckBoxOptionViewModel to AbstractCheckBoxViewModel
  src/VisualStudio/Core/Impl/Options/OptionPreviewControl.xaml.cs
Owners: @dotnet/roslyn-ide

Fix build error
  src/Features/LanguageServer/Protocol/Handler/Configuration/DidChangeConfigurationNotificationHandler_OnInitialized.cs
Owners: @dotnet/roslyn-ide

Trim away netframework targets in source-build (#67355)
  eng/SourceBuild.props
Owners: @dotnet/roslyn-infrastructure

Don't overwrite binary logs (#66559)
  azure-pipelines.yml
  eng/build.ps1
Owners: @dotnet/roslyn-infrastructure

Disable static restore in more locations (#66567)
  azure-pipelines.yml
  eng/build-utils.ps1
  eng/test-determinism.ps1
  eng/test-rebuild.ps1
Owners: @dotnet/roslyn-infrastructure

Fix 17.5 CI build
  eng/build.ps1
Owners: @dotnet/roslyn-infrastructure

First pass of sourcemapping
  NuGet.config
Owners: none

formatting
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
Owners: @dotnet/roslyn-ide

Don't check EOL target framework
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.Package.csproj
Owners: none

more
  azure-pipelines.yml
  src/Tools/BuildBoss/ProjectCheckerUtil.cs
Owners: @dotnet/roslyn-infrastructure

Work around runtime behavior change
  src/Compilers/VisualBasic/Portable/Semantics/Conversions.vb
Owners: @dotnet/roslyn-compiler

Update .NET SDK version in docs
  docs/contributing/Building, Debugging, and Testing on Unix.md
  docs/contributing/Building, Debugging, and Testing on Windows.md
Owners: none

Remove unnecessary references to InteractiveHost32
  src/VisualStudio/CSharp/Test/Microsoft.VisualStudio.LanguageServices.CSharp.UnitTests.csproj
  src/VisualStudio/Core/Test/Microsoft.VisualStudio.LanguageServices.UnitTests.vbproj
  src/VisualStudio/TestUtilities2/Microsoft.VisualStudio.LanguageServices.Test.Utilities2.vbproj
Owners: @dotnet/roslyn-ide

fixup auth
  azure-pipelines.yml
  eng/templates/steps/azure-public-roslyn-auth.yml
Owners: @dotnet/roslyn-infrastructure

more tests
  src/Compilers/Core/CodeAnalysisTest/Collections/List/SegmentedList.Generic.cs
Owners: @dotnet/roslyn-compiler

Fix undefined tests
  src/Compilers/Core/CodeAnalysisTest/Collections/List/IEnumerable.Generic.Tests.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/List/SegmentedList.Generic.cs
  src/Compilers/Core/CodeAnalysisTest/Microsoft.CodeAnalysis.UnitTests.csproj
  src/Compilers/Test/Core/Compilation/RuntimeUtilities.cs
Owners: @dotnet/roslyn-compiler

Move NuGet auth step out of `eng/common`
  azure-pipelines.yml
  eng/templates/steps/azure-public-roslyn-auth.yml
Owners: @dotnet/roslyn-infrastructure

Merged PR 29952: IntelliCode: Enable Starred Suggestions
  eng/Versions.props
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/BrokeredServices/Services/Descriptors.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Services/StarredCompletions/CSharpStarredCompletionProvider.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Services/StarredCompletions/StarredCompletionsAssemblyHelper.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/ILspCompletionResultCreationService.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

Trim away netframework targets in source-build
  eng/SourceBuild.props
Owners: @dotnet/roslyn-infrastructure

Use dotnet log levels instead of vscode lsp client log levels
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
Owners: @dotnet/roslyn-ide

Make debug processid logs critical
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
Owners: @dotnet/roslyn-ide

More sourcemapping updates
  NuGet.config
Owners: none

Support 'partial semantics' in lsp workspaces
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerWorkspace.cs
Owners: @dotnet/roslyn-ide

formatting
  src/EditorFeatures/Core/InlineHints/InlineHintsDataTaggerProvider.cs
Owners: @dotnet/roslyn-ide

Extract local
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
Owners: @dotnet/roslyn-compiler

revert
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
Owners: @dotnet/roslyn-ide
