Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Simplify array creation
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

Ignore await in completion when triggers completion between two dots
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Owners: @dotnet/roslyn-ide

Add test harness
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Disposal inside a finally should not jump to that finally's entry label
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Introduce finally exit labels
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Use default parameter values in flow analysis (#38788)
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
Owners: @dotnet/roslyn-compiler

Reinstated code
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/SolutionEventsBatchScopeCreator.cs
Owners: @dotnet/roslyn-ide

Add more telemetry
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/ExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodFilteringService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/IRemoteExtensionMethodFilteringService.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/ExtensionMethodImportCompletionProvider.vb
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Serialization.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_ExtensionMethodFiltering.cs
Owners: @dotnet/roslyn-ide

Add tests
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Reduce allocs in benchmark
  src/Tools/IdeBenchmarks/SQLitePersistentStorageBenchmark.cs
Owners: @dotnet/roslyn-infrastructure

Enable virtual/override recommender on private protected members
  src/EditorFeatures/CSharpTest2/Recommendations/OverrideKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/VirtualKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/OverrideKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/VirtualKeywordRecommender.cs
Owners: @dotnet/roslyn-ide

Replaced \r\n with HTML line breaks in the description column of generated markdown tables so that new lines don't break the table formatting.
  src/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.md
Owners: none

More tests
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionEasyOut.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorEasyOut.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntTests.cs
Owners: @dotnet/roslyn-compiler

Ensure synthesized closure method is static for static local function
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/LocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Move much of local function data flow to AbstractFlowPass
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.ILocalState.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.VariableIdentifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ReadWriteWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
Owners: @dotnet/roslyn-compiler

Require MSBuild 16.3 in compiler NuGet packages (#39137)
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.EditorConfig.targets
  src/NuGet/Microsoft.NETCore.Compilers/build/Microsoft.NETCore.Compilers.props
  src/NuGet/Microsoft.Net.Compilers.Toolset/DesktopCompilerArtifacts.targets
  src/NuGet/Microsoft.Net.Compilers/build/Microsoft.Net.Compilers.props
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-infrastructure

Fix symbol and keyword recommenders
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Owners: @dotnet/roslyn-ide

Using declaration ioperation (#39125)
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_MultipleLocalDeclarations.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/Operations/VariableDeclarationKind.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationNodes.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
  src/Tools/Source/CompilerGeneratorTools/CompilerTools.sln
Owners: @dotnet/roslyn-compiler

Fix conflicts in SourceWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Owners: @dotnet/roslyn-compiler

Do not wait for output writer thread to complete when aborting execution in IW
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteService.cs
Owners: @dotnet/roslyn-interactive

Remove workarounds, as #32100 is now fixed
  src/Features/Core/Portable/DisposeAnalysis/DisposeObjectsBeforeLosingScopeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
Owners: @dotnet/roslyn-ide

Only join threads when testing
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.cs
  src/Interactive/HostTest/AbstractInteractiveHostTests.cs
  src/Interactive/HostTest/InteractiveHostTests.cs
  src/Interactive/HostTest/StressTests.cs
Owners: @dotnet/roslyn-interactive

Skip RenamingEscapedIdentifiers
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
Owners: @dotnet/roslyn-ide

Ensure we make progress when parsing array initializer
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

PR feedback
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Remove unnecessary assignment
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Remove unnecessary assignment
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Fix
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Be consistent
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Simplify
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Update comment
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Be more explicit
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Owners: @dotnet/roslyn-compiler

Do not wait for output writer thread to complete when aborting execution in IW (#39322)
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.cs
  src/Interactive/HostTest/AbstractInteractiveHostTests.cs
  src/Interactive/HostTest/InteractiveHostTests.cs
  src/Interactive/HostTest/StressTests.cs
Owners: @dotnet/roslyn-interactive

Harden against other places where a bad 'ref' OOMs the parser
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
Owners: @dotnet/roslyn-compiler

Skip RenamingEscapedIdentifiers (#39330)
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
Owners: @dotnet/roslyn-ide

Add test (doesn't read the local function correctly)
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Local function attributes emit
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Add basic emit test
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

simplify winforms designer loader name
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
Owners: @dotnet/roslyn-ide

Add a simple test with an attribute argument
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
