Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Fix up error messages for await using declarations in langver < 8.0
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncStreamsParsingTests.cs
Owners: @dotnet/roslyn-compiler

Re-enable test, passing as expected
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.LanguageInteraction.cs
Owners: @dotnet/roslyn-ide

Feedback
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Owners: @dotnet/roslyn-ide

Add FSharpProjectExternalErrorReporterFactory
  src/Tools/ExternalAccess/FSharp/Internal/VisualStudio/FSharpProjectExternalErrorReporterFactory.cs
Owners: @dotnet/roslyn-infrastructure

Use CSharpTestBase.IAsyncDisposableDefinition for interfaces
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncStreamsParsingTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Owners: @dotnet/roslyn-compiler

Address feedback
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Owners: @dotnet/roslyn-ide

Edge cases
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.cs
Owners: @dotnet/roslyn-ide

EnC: Compare document content before performing IO while stepping (#39341)
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Owners: @dotnet/roslyn-ide

Added unnecessary parentheses case
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Workspaces/CSharp/Portable/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
Owners: @dotnet/roslyn-ide

Fixed existing test case
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
Owners: @dotnet/roslyn-ide

Move all completion logic OOP
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodFilteringService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/IRemoteExtensionMethodFilteringService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/IRemoteExtensionMethodImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ImportCompletionItem.cs
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.Node.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_ExtensionMethodFiltering.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Owners: @dotnet/roslyn-ide

Fix 'ref' parsing crash (#39233)
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCoalescingAssignmentTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RefReadonlyTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

Put back commented out code
  src/Features/Core/Portable/Diagnostics/Analyzers/UnboundIdentifiersDiagnosticAnalyzerBase.cs
Owners: @dotnet/roslyn-ide

Cleaning up code
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUnboundIdentifiersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/UnboundIdentifiersDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicUnboundIdentifiersDiagnosticAnalyzer.vb
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Owners: @dotnet/roslyn-ide

Remove test that isn't actually testing what I want it to
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
Owners: @dotnet/roslyn-ide

Fix codefix exported name
  src/PublicApiAnalyzers/Core/CodeFixes/DeclarePublicApiFix.cs
Owners: none

More tests
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionEasyOut.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorEasyOut.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/OperatorFacts.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntTests.cs
Owners: @dotnet/roslyn-compiler

PR Feedback
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Owners: @dotnet/roslyn-compiler

work in progress
  src/EditorFeatures/Core/GoToBase/GoToBaseCommandHandler.cs
  src/EditorFeatures/Core/SymbolSearch/RoslynSymbolResult.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchContext.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSource.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSourceProvider.cs
Owners: @dotnet/roslyn-ide

Added tests
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
Owners: @dotnet/roslyn-ide

ProjectExternalErrorReporter: Avoid subscribing to solution build events multiple times and leaking the object
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
Owners: @dotnet/roslyn-ide

Update F# shim
  src/Tools/ExternalAccess/FSharp/Internal/VisualStudio/FSharpProjectExternalErrorReporterFactory.cs
Owners: @dotnet/roslyn-infrastructure

PR Feedback
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Owners: @dotnet/roslyn-compiler

Re-use semantic model when attempting to compute suppress message attribute based suppressions
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.cs
Owners: @dotnet/roslyn-compiler

Added some comments
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
Owners: @dotnet/roslyn-ide

Performance fix in analyzer driver for CFG based analyzers.
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Owners: @dotnet/roslyn-compiler

More tests
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionEasyOut.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorEasyOut.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntTests.cs
Owners: @dotnet/roslyn-compiler

Fix up Unix results
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV1ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV2ErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/SarifErrorLogger.cs
Owners: @dotnet/roslyn-compiler

Add failing test case to showcase the switch expression bug (#36913).
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Owners: @dotnet/roslyn-ide

Handle switch expressions separately in the newline formatting rule.
  src/Workspaces/CSharp/Portable/Formatting/Rules/NewLineUserSettingFormattingRule.cs
Owners: @dotnet/roslyn-ide

Minor using decl fixes (#39373)
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncStreamsParsingTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Owners: @dotnet/roslyn-compiler

Address review feedback
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.cs
Owners: @dotnet/roslyn-compiler

Apply suggestions from code review
  src/Workspaces/CSharp/Portable/Formatting/Rules/NewLineUserSettingFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Owners: @dotnet/roslyn-ide

checkpoint: display classified definitions
  eng/Versions.props
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

checkpoint: display classified references
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
Owners: @dotnet/roslyn-ide

Minor fixes to RulesetToEditorconfigConverter
  src/Tools/RulesetToEditorconfigConverter/Source/RulesetToEditorconfigConverter.csproj
Owners: @dotnet/roslyn-infrastructure

Updated Diagnosing Project System Build Errors (markdown)
  Diagnosing-Project-System-Build-Errors.md
Owners: none

Tests for Turkish input issue
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
Owners: @dotnet/roslyn-ide

completion: support local language identifiers and en-us keywords
  src/Features/Core/Portable/Completion/CompletionHelper.cs
Owners: @dotnet/roslyn-ide

ProjectExternalErrorReporter: Avoid subscribing to solution build events multiple times and leaking the object (#39389)
  src/Tools/ExternalAccess/FSharp/Internal/VisualStudio/FSharpProjectExternalErrorReporterFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
