Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Variable suggestions show duplicated filter buttons on completion window
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterSet.cs
Owners: @dotnet/roslyn-ide

Handle using alias in source
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.cs
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Owners: @dotnet/roslyn-ide

API update
  eng/Versions.props
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/LocalCodeSymbolOrigin.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSource.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

comments revised and added
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterSet.cs
Owners: @dotnet/roslyn-ide

added checks for duplicates in tests
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
Owners: @dotnet/roslyn-ide

Add extra tests with gotos
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
Owners: @dotnet/roslyn-compiler

More tests
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
Owners: @dotnet/roslyn-compiler

Respond to PR comments
  src/Compilers/CSharp/Test/CommandLine/SarifV1ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifErrorLoggerTests.cs
Owners: @dotnet/roslyn-compiler

Respond to PR comments
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
Owners: @dotnet/roslyn-compiler

More formatting fixes.
  src/Compilers/CSharp/Test/Semantic/Semantics/AccessCheckTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
Owners: @dotnet/roslyn-compiler

Fix formatting warning
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
Owners: @dotnet/roslyn-compiler

allow Editor to handle FAR
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
Owners: @dotnet/roslyn-ide

UI
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSource.cs
Owners: @dotnet/roslyn-ide

Variable suggestions show duplicated filter buttons on completion window (#39499)
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterSet.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
Owners: @dotnet/roslyn-ide

Address review comments
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.cs
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
Owners: @dotnet/roslyn-ide

Address feedback
  src/Workspaces/Core/Portable/Log/RoslynEventSource.LogBlock.cs
Owners: @dotnet/roslyn-ide

Fix NRT warnings
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
Owners: @dotnet/roslyn-ide

Address review comments
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Owners: @dotnet/roslyn-ide

Add missing parts of previous commit
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifErrorLoggerTests.cs
Owners: @dotnet/roslyn-compiler

attempt to add global namespaces if there are conflicts in symbol names
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor_Minimal.cs
Owners: @dotnet/roslyn-compiler

Move to renamed analyzer utilities package
  eng/Versions.props
  src/Features/Core/Portable/DisposeAnalysis/DisposeAnalysisHelper.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

Fix test failures
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.vb
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
Owners: @dotnet/roslyn-ide

support the Editor.HandleSymbolSearch experiment
  src/EditorFeatures/Core/CommandHandlers/AbstractGoToCommandHandler.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Owners: @dotnet/roslyn-ide

allow Editor to use multi color highlighting of matches
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
Owners: @dotnet/roslyn-ide

typo
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
Owners: @dotnet/roslyn-ide

Support triggering after dot of qualified name
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Owners: @dotnet/roslyn-ide

add copyright notice to files
  src/VisualStudio/Core/Def/Implementation/FindReferences/FindUsagesUtilities.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/LocalCodeSymbolOrigin.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSource.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSourceProvider.cs
Owners: @dotnet/roslyn-ide

use FeatureFlags to control GoTo command handlers
  src/EditorFeatures/Core/CommandHandlers/AbstractGoToCommandHandler.cs
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionCommandHandler.cs
  src/EditorFeatures/Core/GoToImplementation/GoToImplementationCommandHandler.cs
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
Owners: @dotnet/roslyn-ide

PR feedback
  src/EditorFeatures/Core/CommandHandlers/AbstractGoToCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingMemberColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingTypeColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSource.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolSourceProvider.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
Owners: @dotnet/roslyn-ide

cleanup and implementation fixes
  src/EditorFeatures/Core/CommandHandlers/AbstractGoToCommandHandler.cs
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
Owners: @dotnet/roslyn-ide

Do not walk down subsequent blocks
  src/EditorFeatures/CSharpTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Analyzer.cs
Owners: @dotnet/roslyn-ide

CA1068: Do not report when last argument is of type IProgress<T>
  src/Utilities/Compiler/WellKnownTypeNames.cs
Owners: none

Fix all violations of CA1305 and enable the rule
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Fixers/ApplyDiagnosticAnalyzerAttributeFix.cs
  src/Microsoft.CodeAnalysis.Analyzers/UnitTests/MetaAnalyzers/StartActionWithNoRegisteredActionsRuleTests.cs
  src/Microsoft.CodeAnalysis.Analyzers/UnitTests/MetaAnalyzers/StartActionWithOnlyEndActionRuleTests.cs
  src/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.Impl.cs
  src/PublicApiAnalyzers/Core/CodeFixes/DeclarePublicApiFix.cs
  src/PublicApiAnalyzers/UnitTests/DeclarePublicApiAnalyzerTests.cs
  src/Test.Utilities/DiagnosticAnalyzerTestBase.cs
  src/Test.Utilities/DiagnosticAnalyzerTests.Extensions.cs
  src/Test.Utilities/MarkupTestFile.cs
  src/Tools/Metrics/MetricsOutputWriter.cs
  src/Utilities/Compiler/WordParser.cs
Owners: @dotnet/roslyn-infrastructure

Update src/Utilities/Compiler/WordParser.cs
  src/Utilities/Compiler/WordParser.cs
Owners: none

Revert change for ReportDiagnosticExtensions.cs
  src/Utilities/Compiler/Extensions/ReportDiagnosticExtensions.cs
Owners: none

Add codefix for .Last() and .Count()
  src/Utilities/Compiler/Extensions/ReportDiagnosticExtensions.cs
Owners: none

Add xml documentation for the HasAnyCollectionCountProperty helper method
  src/Utilities/Compiler/Extensions/ITypeSymbolExtensions.cs
Owners: none

PR feedback
  src/Compilers/VisualBasic/Portable/CodeGen/OperatorKind.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperators.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_NullableHelpers.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenNullable.vb
Owners: @dotnet/roslyn-compiler

Support having multiple identical aliases as ext methods' target type
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
Owners: @dotnet/roslyn-ide

Fix test failures
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Owners: @dotnet/roslyn-ide

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
