Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Nullable annotations for Roslyn.Diagnostics.Analyzers
  src/Roslyn.Diagnostics.Analyzers/CSharp/CSharpSpecializedEnumerableCreationAnalyzer.cs
  src/Roslyn.Diagnostics.Analyzers/CSharp/CSharpSymbolDeclaredEventMustBeGeneratedForSourceSymbols.cs
  src/Roslyn.Diagnostics.Analyzers/Core/DoNotMixAttributesFromDifferentVersionsOfMEF.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ExportedPartsShouldHaveImportingConstructor.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ExportedPartsShouldHaveImportingConstructorCodeFixProvider.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsolete.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsoleteCodeFixProvider.cs
  src/Roslyn.Diagnostics.Analyzers/Core/SpecializedEnumerableCreationAnalyzer.cs
  src/Roslyn.Diagnostics.Analyzers/Core/SymbolDeclaredEventMustBeGeneratedForSourceSymbols.cs
  src/Roslyn.Diagnostics.Analyzers/Core/TestExportsShouldNotBeDiscoverable.cs
  src/Roslyn.Diagnostics.Analyzers/Core/TestExportsShouldNotBeDiscoverableCodeFixProvider.cs
  src/Test.Utilities/AdditionalMetadataReferences.cs
  src/Test.Utilities/DiagnosticAnalyzerTestBase.cs
  src/Test.Utilities/DiagnosticAnalyzerTests.Extensions.cs
  src/Test.Utilities/DiagnosticExtensions.cs
  src/Test.Utilities/EnsureEnglishUICulture.cs
  src/Test.Utilities/TestAdditionalDocument.cs
  src/Utilities/Compiler/Analyzer.Utilities.projitems
  src/Utilities/Compiler/Extensions/ITypeSymbolExtensions.cs
Owners: none

Nullable annotations for Microsoft.CodeAnalysis.Analyzers
  src/Microsoft.CodeAnalysis.Analyzers/CSharp/CSharpImmutableObjectMethodAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/CSharpRegisterActionAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/CSharpReportDiagnosticAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/FixAnalyzers/FixerWithFixAllAnalyzer.Fixer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/FixAnalyzers/FixerWithFixAllAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ConfigureGeneratedCodeAnalysisAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerAPIUsageAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerAttributeAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerCorrectnessAnalyzer.DiagnosticAnalyzerSymbolAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerCorrectnessAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerFieldsAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticDescriptorCreationAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/EnableConcurrentExecutionAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/RegisterActionAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ReportDiagnosticAnalyzer.cs
Owners: none

Nullable annotations for BannedApiAnalyzers
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/RestrictedInternalsVisibleToAnalyzer.cs
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzer.cs
Owners: none

Nullable annotations for PublicApiAnalyzers
  src/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.Impl.cs
  src/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.cs
  src/PublicApiAnalyzers/Core/CodeFixes/DeclarePublicApiFix.cs
Owners: none

Nullable annotations for PerformanceSensitiveAnalyzers
  src/PerformanceSensitiveAnalyzers/CSharp/CallSiteImplicitAllocationAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/CSharp/DisplayClassAllocationAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/CSharp/TypeConversionAllocationAnalyzer.cs
Owners: none

Don't try to use UIContexts if we are in a command line build
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
Owners: @dotnet/roslyn-ide

Move the Razor Mac IVT to the MonoDevelop section.
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Owners: @dotnet/roslyn-ide

Nullable annotation for internal flow analysis utilties
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/ParameterValidationAnalysis/ParameterValidationAnalysis.ParameterValidationDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/ConstructorMapper.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/HazardousUsageEvaluator.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/HazardousUsageEvaluatorCollection.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertyMapper.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertyMapperCollection.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAbstractValue.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysis.PropertySetAbstractValueDomain.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysis.PropertySetDataFlowOperationVisitor.TrackedAssignmentData.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysis.PropertySetDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetCallbacks.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/PooledHashSetExtensions.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataAbstractValue.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataAnalysis.TaintedDataOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataSymbolMap.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataSymbolMapExtensions.cs
Owners: none

Some more nullable annotations for utilities
  src/Utilities/Compiler/Extensions/DiagnosticExtensions.cs
  src/Utilities/Compiler/Extensions/IDictionaryExtensions.cs
  src/Utilities/Compiler/Extensions/IEnumerableOfIMethodSymbolExtensions.cs
  src/Utilities/Compiler/Extensions/ISymbolExtensions.cs
  src/Utilities/Compiler/Extensions/ITypeSymbolExtensions.cs
Owners: none

Don't store pooled object in cache
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Owners: @dotnet/roslyn-compiler

Address race in progress reporting and start task center task based on if already running.
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
  src/Workspaces/Core/Portable/Utilities/TaskExtensions.cs
Owners: @dotnet/roslyn-ide

Disable nullable in TestReferenceAssembly
  src/TestReferenceAssembly/OtherDllClass.cs
  src/TestReferenceAssembly/OtherDllStaticMethods.cs
Owners: none

use newest version of Symbol Search API
  eng/Versions.props
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core/Shared/Extensions/InferredIndentationExtensions.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

Setup collection expression wrapper for visual basic
  src/Features/Core/Portable/Wrapping/InitializerExpression/AbstractInitializerExpression.cs
  src/Features/Core/Portable/Wrapping/InitializerExpression/InitializerExpressionCodeActionComputer.cs
  src/Features/VisualBasic/Portable/Wrapping/InitializerExpression/AbstractVisualBasicInitializerExpression.vb
  src/Features/VisualBasic/Portable/Wrapping/InitializerExpression/VisualBasicCollectionCreationExpression.vb
  src/Features/VisualBasic/Portable/Wrapping/VisualBasicWrappingCodeRefactoringProvider.vb
Owners: @dotnet/roslyn-ide

Add some more missing nullable annotations found after building the entire solution
  src/Roslyn.Diagnostics.Analyzers/CSharp/CSharpSpecializedEnumerableCreationAnalyzer.cs
  src/Utilities/Compiler/CodeMetrics/ComputationalComplexityMetrics.cs
  src/Utilities/Compiler/Extensions/CompilationExtensions.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/CopyAnalysis/CopyAnalysis.CoreCopyAnalysisDataDomain.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysis.PropertySetAbstractValueDomain.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AbstractIndex.OperationBasedIndex.cs
Owners: none

Update src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Owners: @dotnet/roslyn-ide

Syntax model changes to support C# 9.0 pattern-matching changes.
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
Owners: @dotnet/roslyn-compiler

address feedback
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Owners: @dotnet/roslyn-ide

address 1 missed feedback - move var declaration inside lock.
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Owners: @dotnet/roslyn-ide

Add featured resources for refactorings
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/Wrapping/InitializerExpression/InitializerExpressionCodeActionComputer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/Wrapping/InitializerExpression/AbstractVisualBasicInitializerExpression.vb
Owners: @dotnet/roslyn-ide

Do not fail fast on cancellation
  src/Workspaces/Remote/ServiceHub/Services/SnapshotService.JsonRpcAssetSource.cs
Owners: @dotnet/roslyn-ide

Add the unwrap all refactoring option
  src/Features/Core/Portable/Wrapping/InitializerExpression/InitializerExpressionCodeActionComputer.cs
Owners: @dotnet/roslyn-ide

Update src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Owners: @dotnet/roslyn-ide

Update src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Owners: @dotnet/roslyn-ide

address feedback
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Owners: @dotnet/roslyn-ide

move fields around
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Owners: @dotnet/roslyn-ide

Add resources for the 3 fix titles
  src/PublicApiAnalyzers/Core/Analyzers/PublicApiAnalyzerResources.resx
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.cs.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.de.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.es.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.fr.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.it.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.ja.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.ko.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.pl.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.pt-BR.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.ru.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.tr.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.zh-Hans.xlf
  src/PublicApiAnalyzers/Core/Analyzers/xlf/PublicApiAnalyzerResources.zh-Hant.xlf
  src/PublicApiAnalyzers/Core/CodeFixes/DeclarePublicApiFix.cs
Owners: none

Address feedback for symbol extensions
  src/Utilities/Compiler/Extensions/ISymbolExtensions.cs
Owners: none

Fix unused interpolated string
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
Owners: @dotnet/roslyn-compiler

Add tests for different interpolated strings
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowDiagnosticTests.cs
Owners: @dotnet/roslyn-compiler

Fix IsInSourceFile handling of no-location diagnostics
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/AnalyzerTest`1.cs
Owners: none

Fix IsInSourceFile handling of no-location diagnostics
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/AnalyzerTest`1.cs
Owners: none

Release object from pool instead of allocating new object
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Owners: @dotnet/roslyn-compiler

Address feedback
  src/Microsoft.CodeAnalysis.Analyzers/CSharp/CSharpImmutableObjectMethodAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerAttributeAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticDescriptorCreationAnalyzer.cs
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/SymbolIsBannedAnalyzer.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsoleteCodeFixProvider.cs
  src/Utilities/Compiler/Analyzer.Utilities.projitems
  src/Utilities/Compiler/Debug.cs
  src/Utilities/Compiler/DoNotCatchGeneralUnlessRethrown.cs
  src/Utilities/Compiler/Extensions/ITypeSymbolExtensions.cs
  src/Utilities/Compiler/Options/CategorizedAnalyzerConfigOptions.cs
  src/Utilities/Compiler/Options/SymbolNamesOption.cs
  src/Utilities/Compiler/RoslynString.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/DisposeAnalysis/DisposeAnalysisHelper.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/ParameterValidationAnalysis/ParameterValidationAnalysis.ParameterValidationDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataConfig.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AddressSharedEntitiesProvider.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AnalysisEntityDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AnalysisEntityFactory.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowAnalysis.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/DataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/PredicatedAnalysisData.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/ThrownExceptionInfo.cs
Owners: none

To-do: Refactor, add more tests
  src/EditorFeatures/CSharpTest/CodeActions/ExtractLocalMethod/ExtractLocalMethodTests.cs
  src/Features/CSharp/Portable/ExtractLocalMethod/CSharpExtractLocalMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.TriviaResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.TriviaResult.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
Owners: @dotnet/roslyn-ide

Minor fix
  src/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsoleteCodeFixProvider.cs
Owners: none

Remove WRN_ExpressionMayIntroduceNullT (#39716)
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Owners: @dotnet/roslyn-compiler

Analyze argument conversion for this argument of Deconstruct extension method (#39694)
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Owners: @dotnet/roslyn-compiler

Update AnalyzerRunner to support code refactorings
  src/Tools/AnalyzerRunner/AnalyzerRunner.csproj
  src/Tools/AnalyzerRunner/CodeRefactoringRunner.cs
  src/Tools/AnalyzerRunner/DiagnosticAnalyzerRunner.cs
  src/Tools/AnalyzerRunner/Options.cs
  src/Tools/AnalyzerRunner/Program.cs
Owners: @dotnet/roslyn-infrastructure

Fix unit tests
  src/Roslyn.Diagnostics.Analyzers/UnitTests/ImportingConstructorShouldBeObsoleteTests.cs
Owners: none

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
