Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide

Update PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Owners: @dotnet/roslyn-compiler

Update PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Owners: @dotnet/roslyn-compiler

Pack Content for analyzer packages
  eng/targets/Imports.targets
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

Couple more test fixes
  src/Tools/AnalyzerRunner/Options.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

Add/remove todos
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Owners: @dotnet/roslyn-ide

Exports
  src/Workspaces/Remote/Core/Storage/RemotePersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Unskip .net core workspace tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
Owners: @dotnet/roslyn-ide

Fix test
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
Owners: @dotnet/roslyn-ide

Go back to checking workspace type
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioPersistentStorageLocationService.cs
  src/Workspaces/Core/Portable/SolutionSize/SolutionSizeOptions.cs
  src/Workspaces/Core/Portable/SolutionSize/SolutionSizeTracker.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Revert
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
Owners: @dotnet/roslyn-ide

Remove unnecessary type
  src/Workspaces/Remote/Core/Storage/RemotePersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Update
  src/Tools/AnalyzerRunner/PersistentStorageLocationService.cs
  src/Tools/IdeBenchmarks/SQLitePersistentStorageBenchmark.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

fix #3012
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataAnalysis.TaintedDataOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataSymbolMapExtensions.cs
Owners: none

Show QuickInfo on references to indexers
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.cs
  src/Features/VisualBasic/Portable/QuickInfo/VisualBasicSemanticQuickInfoProvider.vb
Owners: @dotnet/roslyn-ide

Fix integration tests
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/Tools/AnalyzerRunner/Options.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/VisualStudioWorkspace_OutOfProc.cs
  src/Workspaces/Core/Portable/SolutionCrawler/BackgroundAnalysisScope.cs
  src/Workspaces/Core/Portable/SolutionCrawler/SolutionCrawlerOptions.cs
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-infrastructure

To-do: fix failing tests
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/AbstractExtractMethodCommandHandler.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpExtractMethodService.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.ExpressionCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.MultipleStatementsCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.SingleStatementCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.cs
  src/Features/Core/Portable/CodeRefactorings/ExtractLocalMethod/AbstractExtractLocalMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/ExtractMethod/AbstractExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/IExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.CodeGenerator.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicExtractMethodService.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
  src/Workspaces/Core/Portable/CodeGeneration/AbstractCodeGenerationService.cs
  src/Workspaces/Core/Portable/CodeGeneration/CodeGenerationOptions.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Owners: @dotnet/roslyn-ide

Added files
  src/EditorFeatures/CSharpTest/CodeActions/ExtractLocalMethod/ExtractLocalMethodTests.cs
  src/Features/CSharp/Portable/ExtractLocalMethod/CSharpExtractLocalMethodCodeRefactoringProvider.cs
Owners: @dotnet/roslyn-ide

Update src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Only apply to Select (and not SelectMany)
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
Owners: @dotnet/roslyn-ide

Remove special case when only expr.Select(x=>x)
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
Owners: @dotnet/roslyn-ide

Fix broken unit tests
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
Owners: @dotnet/roslyn-ide

Tolerate empty assembly names (#39672)
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyIdentityDisplayNameTests.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentity.DisplayName.cs
Owners: @dotnet/roslyn-compiler

Do not report ErrorCode.WRN_ExpressionMayIntroduceNullT (#39589)
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Owners: @dotnet/roslyn-compiler

Address more feedback
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Synthesized.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Avoid directly exposing NuGet APIs
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.csproj
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/PackageIdentity.cs
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/PublicAPI.Unshipped.txt
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Avoid directly exposing NuGet APIs
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.csproj
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/PackageIdentity.cs
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/PublicAPI.Unshipped.txt
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
  tests/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.UnitTests/CompilerErrorTests.cs
Owners: none

Fix package extraction in net452 builds
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Fix package extraction in net452 builds
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Address more feedback
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Avoid calling both GetAnalyzerDiagnosticsAsync and GetAllDiagnosticsAsync
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/AnalyzerTest`1.cs
Owners: none

Avoid calling both GetAnalyzerDiagnosticsAsync and GetAllDiagnosticsAsync
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/AnalyzerTest`1.cs
Owners: none

Unskip and fix test for local function parsing with `await`
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
Owners: @dotnet/roslyn-compiler

Remove WRN_ExpressionMayIntroduceNullT
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Owners: @dotnet/roslyn-compiler

Fix typo
  src/Roslyn.Diagnostics.Analyzers/Core/DoNotInvokeDiagnosticDescriptor.cs
  src/Roslyn.Diagnostics.Analyzers/Core/DoNotMixAttributesFromDifferentVersionsOfMEF.cs
  src/Roslyn.Diagnostics.Analyzers/Core/DoNotUseGenericCodeActionCreateToCreateCodeAction.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ExportedPartsShouldHaveImportingConstructor.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsolete.cs
  src/Roslyn.Diagnostics.Analyzers/Core/PartsExportedWithMEFv2MustBeMarkedAsShared.cs
  src/Roslyn.Diagnostics.Analyzers/Core/SpecializedEnumerableCreationAnalyzer.cs
  src/Roslyn.Diagnostics.Analyzers/Core/SymbolDeclaredEventMustBeGeneratedForSourceSymbols.cs
  src/Roslyn.Diagnostics.Analyzers/Core/TestExportsShouldNotBeDiscoverable.cs
  src/Roslyn.Diagnostics.Analyzers/Roslyn.Diagnostics.Analyzers.md
  src/Roslyn.Diagnostics.Analyzers/Roslyn.Diagnostics.Analyzers.sarif
  src/Utilities/Compiler/DiagnosticCategory.cs
  src/Utilities/Compiler/DiagnosticCategoryAndIdRanges.txt
Owners: none

Update Microsoft.CodeAnalysis.Testing to 1.0.1-beta1.19557.2
  src/Test.Utilities/AdditionalMetadataReferences.cs
Owners: none

Preserve comments from removed lambdas in redundant .Select() calls
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
Owners: @dotnet/roslyn-ide

Add test for SelectMany with identity lambda
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
Owners: @dotnet/roslyn-ide

Nullable annotations in Metrics project
  src/Tools/Metrics/Program.cs
Owners: @dotnet/roslyn-infrastructure

Updated Compiler Queries (markdown)
  Compiler-Queries.md
Owners: none

Refactor task center progress reporter to simplify UI throttling.
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
  src/Workspaces/Core/Portable/Utilities/TaskExtensions.cs
Owners: @dotnet/roslyn-ide
