Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

Allow ordering of document option providers
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProviderFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
  src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigDocumentOptionsProviderFactory.cs
  src/Workspaces/Core/Portable/Options/IOptionService.cs
  src/Workspaces/Core/Portable/Options/PredefinedDocumentOptionsProviderNames.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
  src/Workspaces/Remote/Core/Services/RemoteWorkspace.cs
  src/Workspaces/Remote/Core/Services/TemporaryWorkspace.cs
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Convert token auto-formatting to use theories for tab/space tests
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartTokenFormatterFormatRangeTests.cs
Owners: @dotnet/roslyn-ide

Switch EditorFactory methods over to taking a IContentType
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTestBase.cs
  src/EditorFeatures/TestUtilities/EditorFactory.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/EditorFeatures/VisualBasicTest/Formatting/VisualBasicFormatterTestBase.vb
Owners: @dotnet/roslyn-ide

More renaming
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingIncrementalAnalyzerImplementation.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingInvocationReasonsWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingInvovationReasonsWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingIncrementalAnalyzer.cs
Owners: @dotnet/roslyn-ide

Test for semantic info with multiple overloads
  src/Compilers/VisualBasic/Test/Semantic/Semantics/GetSemanticInfoTests.vb
Owners: @dotnet/roslyn-compiler

Add an important note about the automation id needing to remain
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/Dashboard.xaml
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Address review comments
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/ExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/CompletionHelper.cs
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ImportCompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/SymbolCompletionItem.cs
  src/Features/Core/Portable/ConvertTupleToStruct/AbstractConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/ExtensionMethodImportCompletionProvider.vb
  src/Workspaces/Core/Portable/FindSymbols/Extensions.cs
  src/Workspaces/Core/Portable/FindSymbols/FindLiterals/FindLiteralsSearchEngine.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorInitializerSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.Node.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ExtensionMethodInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_ExtensionMethodFiltering.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Owners: @dotnet/roslyn-ide

Add caching for syntax based filter per project
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionCacheServiceFactory.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionService_CacheService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/IImportCompletionCacheService.cs
Owners: @dotnet/roslyn-ide

code review feedback
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/Core/Portable/Completion/CompletionHelper.cs
Owners: @dotnet/roslyn-ide

Ensure that we show the gold bar for .editorconfig as solution item only once per solution
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AnalyzerConfigDocumentAsSolutionItemHandler.cs
Owners: @dotnet/roslyn-ide

feedback addressed
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Owners: @dotnet/roslyn-ide

Update src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Owners: @dotnet/roslyn-ide

PR Feedback
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

adding a comment
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Owners: @dotnet/roslyn-ide

correcting and restoring tests
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Owners: @dotnet/roslyn-ide

Update configs for snap.
  eng/Versions.props
  eng/config/PublishData.json
Owners: @dotnet/roslyn-infrastructure

Redo when we create text buffers in TestWorkspace
  src/EditorFeatures/CSharpTest/CodeActions/Preview/PreviewExceptionTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterTests.cs
  src/EditorFeatures/CSharpTest/TodoComment/TodoCommentTests.cs
  src/EditorFeatures/CSharpTest/Workspaces/WorkspaceTests.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/SolutionCrawler/WorkCoordinatorTests.cs
  src/EditorFeatures/Test/TextEditor/TryGetDocumentTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Projections.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_Projections.vb
  src/EditorFeatures/Test2/KeywordHighlighting/AbstractKeywordHighlightingTests.vb
  src/EditorFeatures/Test2/NavigationBar/NavigationBarPresenterTests.vb
  src/EditorFeatures/Test2/ReferenceHighlighting/AbstractReferenceHighlightingTests.vb
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
  src/EditorFeatures/TestUtilities/AbstractCommandHandlerTestState.cs
  src/EditorFeatures/TestUtilities/CommentSelection/AbstractToggleCommentTestBase.cs
  src/EditorFeatures/TestUtilities/DocumentationComments/AbstractDocumentationCommentTests.cs
  src/EditorFeatures/TestUtilities/EditorFactory.cs
  src/EditorFeatures/TestUtilities/TextEditorFactoryExtensions.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestHostDocument.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestHostProject.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_Create.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
  src/EditorFeatures/VisualBasicTest/AutomaticEndConstructCorrection/AutomaticEndConstructCorrectorTests.vb
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartIndenterTests.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitWithViewTests.vb
  src/EditorFeatures/VisualBasicTest/TodoComment/TodoCommentTests.vb
  src/VisualStudio/CSharp/Test/EventHookup/EventHookupTestState.cs
  src/VisualStudio/Core/Test/AbstractTextViewFilterTests.vb
  src/VisualStudio/Core/Test/DebuggerIntelliSense/CSharpDebuggerIntellisenseTests.vb
  src/VisualStudio/Core/Test/DebuggerIntelliSense/TestState.vb
  src/VisualStudio/Core/Test/Diagnostics/DefaultDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/Snippets/CSharpSnippetExpansionClientTests.vb
  src/VisualStudio/Core/Test/Snippets/VisualBasicSnippetExpansionClientTests.vb
  src/VisualStudio/Core/Test/Venus/DocumentServiceTests.vb
Owners: @dotnet/roslyn-ide

Remove some gratuitious uses of GetOpenTextContainer()
  src/EditorFeatures/CSharpTest/ExtractMethod/MiscTests.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
Owners: @dotnet/roslyn-ide

Delete some of the PasteTrackingServiceTests
  src/EditorFeatures/Test2/PasteTracking/PasteTrackingServiceTests.vb
  src/EditorFeatures/Test2/PasteTracking/PasteTrackingTestState.vb
Owners: @dotnet/roslyn-ide

Correctly hook up .editorconfig into document.GetOptionsAsync()
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureCodeStyle/BooleanCodeStyleOptionConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/CodeStyleOptionBasedSeverityConfigurationTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureCodeStyle/BooleanCodeStyleOptionConfigurationTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureSeverity/CodeStyleOptionBasedSeverityConfigurationTests.vb
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
Owners: @dotnet/roslyn-ide

Update src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

Update src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

Revert "Update src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs"
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

Revert "Update src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs"
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

Handle lambda's inside tuple expressions:
  src/Workspaces/CSharp/Portable/Formatting/FormattingHelpers.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Owners: @dotnet/roslyn-ide

Change inline rename dialog to be more uniquely identifiable (#39428)
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/Dashboard.xaml
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Ignore await in completion when triggers completion between two dots (#39302)
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Owners: @dotnet/roslyn-ide

Completion: provide all candidate symbols for overloads
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
Owners: @dotnet/roslyn-ide

Update eng/config/PublishData.json
  eng/config/PublishData.json
Owners: @dotnet/roslyn-infrastructure

Make sure to consume MaxLanguageVersion in legacy style projects as well
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/AdditionalPropertiesTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/LegacyProject/CSharpCompilerOptionsTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/MockHierarchy.vb
Owners: @dotnet/roslyn-ide

Fix null reference warnings in merge.
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/Core/Portable/UseSystemHashCode/UseSystemHashCodeCodeFixProvider.cs
Owners: @dotnet/roslyn-ide

Upgrade to Editor version 16.4.189 and associated dependencies
  eng/Versions.props
  eng/targets/VisualStudio.targets
  src/EditorFeatures/CSharpTest2/Microsoft.CodeAnalysis.CSharp.EditorFeatures2.UnitTests.csproj
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentUncommentSelectionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ToggleBlockCommentCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ToggleLineCommentCommandHandler.cs
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_XmlDoc.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_XmlDoc.vb
  src/EditorFeatures/Test2/Microsoft.CodeAnalysis.EditorFeatures2.UnitTests.vbproj
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/EditorFeatures/TestUtilities/TestExtensionErrorHandler.cs
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
  src/EditorFeatures/TestUtilities2/Microsoft.CodeAnalysis.EditorFeatures.Test.Utilities.vbproj
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer.cs
  src/VisualStudio/Core/Test.Next/Roslyn.VisualStudio.Next.UnitTests.csproj
  src/VisualStudio/RemoteHostClientMock/Roslyn.VisualStudio.RemoteHostClientMock.csproj
  src/Workspaces/CSharpTest/Microsoft.CodeAnalysis.CSharp.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
  src/Workspaces/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Workspaces.UnitTests.vbproj
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-interactive

Allow us to light-up our use of IIndentationManagerService
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/Core/Implementation/Formatting/IIndentationManagerService.cs
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core/Shared/Extensions/InferredIndentationExtensions.cs
  src/EditorFeatures/VisualBasic/LineCommit/CommitFormatter.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitTestData.vb
Owners: @dotnet/roslyn-ide

Infer indentation in files with IIndentationManagerService
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core/Shared/Extensions/InferredIndentationExtensions.cs
  src/EditorFeatures/Test/Formatting/InferredIndentationTests.cs
  src/EditorFeatures/TestUtilities/EditorFactory.cs
  src/EditorFeatures/VisualBasic/LineCommit/CommitFormatter.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitTestData.vb
Owners: @dotnet/roslyn-ide

Remove dependency on 16.4 editor packages
  eng/Versions.props
  src/EditorFeatures/CSharpTest2/Microsoft.CodeAnalysis.CSharp.EditorFeatures2.UnitTests.csproj
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Test/Formatting/InferredIndentationTests.cs
  src/EditorFeatures/Test2/Microsoft.CodeAnalysis.EditorFeatures2.UnitTests.vbproj
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/EditorFeatures/TestUtilities2/Microsoft.CodeAnalysis.EditorFeatures.Test.Utilities.vbproj
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/VisualStudio/Core/Test.Next/Roslyn.VisualStudio.Next.UnitTests.csproj
  src/VisualStudio/RemoteHostClientMock/Roslyn.VisualStudio.RemoteHostClientMock.csproj
  src/Workspaces/CSharpTest/Microsoft.CodeAnalysis.CSharp.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
  src/Workspaces/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Workspaces.UnitTests.vbproj
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-interactive

MonoGlobalAssemblyCache: actually read assembly names from assembly files
  src/Compilers/Shared/GlobalAssemblyCacheHelpers/MonoGlobalAssemblyCache.cs
Owners: @dotnet/roslyn-compiler

CA1829: Extend the rule to cover IReadOnlyCollection<T>.Count
  src/Utilities/Compiler/Extensions/ITypeSymbolExtensions.cs
Owners: none

MonoGlobalAssemblyCache: faster resolves + resolve Facades
  src/Compilers/Shared/GlobalAssemblyCacheHelpers/MonoGlobalAssemblyCache.cs
  src/Scripting/CoreTest.Desktop/GlobalAssemblyCacheTests.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-interactive

MetadataShadowwCopyProviderTests: run on Mono
  src/Scripting/CoreTest.Desktop/MetadataShadowCopyProviderTests.cs
Owners: @dotnet/roslyn-interactive

PR Feedback: - Rename to VisitStatementsOneOrAll - Ensure start/finish visiting statement in label case - Add debug.assert
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide
