Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide

Fix Host Object Access in Interactive (#39584)
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Scripting/CSharpTest/InteractiveSessionTests.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-interactive

Address feedback
  src/Features/Core/Portable/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
Owners: @dotnet/roslyn-ide

Revert "Run integration tests with .NET Core SDK shipped with VS"
  eng/build.ps1
Owners: @dotnet/roslyn-infrastructure

Skip failing integration tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
Owners: @dotnet/roslyn-ide

Follow-up on adding NullableAnnotation/WithNullableAnnotation APIs to ITypeSymbol.
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/Core/Portable/Shared/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
Owners: @dotnet/roslyn-ide

Set TFM for Net Core integration tests
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractEditorTest.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicErrorListCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspaceBase.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
Owners: @dotnet/roslyn-ide

Fix conflict
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/ParameterSymbol.cs
Owners: @dotnet/roslyn-compiler

Show nullable annotations in the Change Signature dialog
  src/VisualStudio/Core/Def/Implementation/ChangeSignature/ChangeSignatureDialogViewModel.cs
  src/VisualStudio/Core/Test/ChangeSignature/ChangeSignatureViewModelTests.vb
Owners: @dotnet/roslyn-ide

Delete explicit feature flag which is now implied by C# 8.0
  src/VisualStudio/Core/Test/ChangeSignature/ChangeSignatureViewModelTests.vb
Owners: @dotnet/roslyn-ide

Match class name to containing file name
  src/VisualStudio/Core/Test/ChangeSignature/ChangeSignatureViewModelTests.vb
Owners: @dotnet/roslyn-ide

Wait for workspace operations to complete
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractEditorTest.cs
Owners: @dotnet/roslyn-ide

Add global.json for integration test
  src/Workspaces/MSBuildTest/Resources/global.json
Owners: @dotnet/roslyn-ide

Preliminary work
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/AbstractExtractMethodCommandHandler.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpExtractMethodService.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.ExpressionCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.MultipleStatementsCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.SingleStatementCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.cs
  src/Features/Core/Portable/CodeRefactorings/ExtractLocalMethod/AbstractExtractLocalMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/ExtractMethod/AbstractExtractMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/ExtractMethod/AbstractExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/IExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.CodeGenerator.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicExtractMethodService.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationHelpers.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
Owners: @dotnet/roslyn-ide

Add support for custom unnecessary locations on a diagnostic.
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.cs
  src/EditorFeatures/Core/Implementation/Diagnostics/AbstractDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core/Implementation/Diagnostics/DiagnosticsClassificationTaggerProvider.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.vb
  src/Features/Core/Portable/Diagnostics/DiagnosticHelper.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/Core/Portable/RemoveUnnecessaryParentheses/AbstractRemoveUnnecessaryParenthesesDiagnosticAnalyzer.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
Owners: @dotnet/roslyn-ide, @daytonellwanger, @srivatsn, @aletsdelarosa

Simplify how we compute and store the location we use to persist the sqlite storage cache.
  src/Tools/AnalyzerRunner/PersistentStorageLocationService.cs
  src/Tools/IdeBenchmarks/SQLitePersistentStorageBenchmark.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLitePersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SolutionSizeTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioSolutionSizeTracker.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioPersistentStorageLocationService.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFindReferences.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/Workspaces/Core/Portable/Remote/IRemoteHostService.cs
  src/Workspaces/Core/Portable/SolutionSize/ISolutionSizeTracker.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
  src/Workspaces/Remote/Core/Storage/RemotePersistentStorageLocationService.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

Removed unused using.
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertLinqQueryToForEachTests.cs
Owners: @dotnet/roslyn-ide

Upgrade ICSharpCode.Decompiler to 5.0.2.5153
  eng/Versions.props
Owners: @dotnet/roslyn-infrastructure

Fix nullable codefix for conditional operator
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Owners: @dotnet/roslyn-ide

Extract function for supported nodes
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Owners: @dotnet/roslyn-ide

Add test case for fixing conditional operator
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
Owners: @dotnet/roslyn-ide

Add equivalence keys
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Owners: @dotnet/roslyn-ide

Add test for fixall equivalence keys
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
Owners: @dotnet/roslyn-ide

Add support for ternary expressions
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Owners: @dotnet/roslyn-ide

Fix link to source view
  Home.md
Owners: none

Non-localized key in naming styles in .editorconfig
  src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigFileGenerator.cs
Owners: @dotnet/roslyn-ide

Remove unused/disabled code
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Remove unused/disabled code
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Add back in.
  src/VisualStudio/CSharp/Test/PersistentStorage/SolutionSizeTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/Workspaces/Core/Portable/SolutionSize/ISolutionSizeTracker.cs
  src/Workspaces/Core/Portable/SolutionSize/SolutionSizeOptions.cs
  src/Workspaces/Core/Portable/SolutionSize/SolutionSizeTracker.cs
  src/Workspaces/Remote/Core/Storage/RemotePersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Fix failure to include all reference assemblies
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
  tests/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing.UnitTests/MetadataReferenceTests.cs
Owners: none

Fix failure to include all reference assemblies
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Include the facade assemblies for netstandard2.0
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Include the reference assembly package in the resolver context
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Include the reference assembly package in the resolver context
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

Include the facade assemblies for netstandard2.0
  src/Microsoft.CodeAnalysis.Testing/Microsoft.CodeAnalysis.Analyzer.Testing/ReferenceAssemblies.cs
Owners: none

change comment
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/Workspaces/Core/Portable/SolutionSize/SolutionSizeTracker.cs
Owners: @dotnet/roslyn-ide

Follow-up on adding NullableAnnotation/WithNullableAnnotation APIs to ITypeSymbol. (#39644)
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/Core/Portable/Shared/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
Owners: @dotnet/roslyn-ide

Use TestAccessor pattern
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
Owners: @dotnet/roslyn-ide

Switch to using LocalApplicationData folder
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide

Tolerate empty assembly names
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyIdentityDisplayNameTests.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentity.DisplayName.cs
Owners: @dotnet/roslyn-compiler

Make well defined top level names
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
Owners: @dotnet/roslyn-ide
