Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.groovy @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
build/ @dotnet/roslyn-infrastructure
src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/VisualStudio/ @dotnet/roslyn-ide
src/Workspaces/ @dotnet/roslyn-ide

The intial version.
  src/Test.Utilities/MinimalImplementations/SystemNetHttpApis.cs
  src/Utilities.UnitTests/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysisTests.cs
  src/Utilities/Compiler/WellKnownTypeNames.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysis.PropertySetDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysis.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysisContext.cs
Owners: none

Put local function last
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs
Owners: @dotnet/roslyn-compiler

Remove empty line
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
Owners: @dotnet/roslyn-compiler

Improve syntax diffing of similar nodes
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxDiffingTests.cs
  src/Compilers/Core/Portable/Syntax/SyntaxDiffer.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrToken.cs
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxNode.vb
  src/Compilers/VisualBasic/Test/Syntax/TestSyntaxNodes.vb
Owners: @dotnet/roslyn-compiler

SyntaxDiffer considers nodes with the same Type similar
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxDiffingTests.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxNode.vb
  src/Compilers/VisualBasic/Test/Syntax/TestSyntaxNodes.vb
Owners: @dotnet/roslyn-compiler

Fix test on Unix
  src/Compilers/VisualBasic/Test/Syntax/TestSyntaxNodes.vb
Owners: @dotnet/roslyn-compiler

Update dependencies from https://github.com/dotnet/arcade build 20190812.7
  eng/Version.Details.xml
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  global.json
Owners: none

Minor changes per review.
  src/Compilers/Core/Portable/Collections/Rope.cs
Owners: @dotnet/roslyn-compiler

Test ReadOnlySpan initialization from static data (#24621)
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
Owners: @dotnet/roslyn-compiler

Ensure split string literal is ordered after the completion handler.
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
Owners: @dotnet/roslyn-ide

VB: Do not require to implement a method representing a re-abstraction of an interface method from base interface.
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SymbolExtensions.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/DefaultInterfaceImplementationTests.vb
Owners: @dotnet/roslyn-compiler

VB: Enable tests verifying that class is required to implement a virtual interface method.
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/DefaultInterfaceImplementationTests.vb
Owners: @dotnet/roslyn-compiler

VB: Report an attempt to implement an inaccessible interface member
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/VisualBasic/Portable/Symbols/Source/ImplementsHelper.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/DefaultInterfaceImplementationTests.vb
Owners: @dotnet/roslyn-compiler

Enable VB recommendation tests to parse source code as scripts
  src/EditorFeatures/VisualBasicTest/Recommendations/RecommendationTestHelpers.vb
Owners: @dotnet/roslyn-ide

Add positive test for '#R' directive recommender
  src/EditorFeatures/VisualBasicTest/Recommendations/PreprocessorDirectives/ReferenceDirectiveKeywordRecommenderTests.vb
Owners: @dotnet/roslyn-ide

Update version of ICSharpCode.Decompiler and M.CA.FlowAnalysis.Utilities
  eng/Versions.props
Owners: none

Address PR feedback.
  Roslyn.sln
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/IOperationClassWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/Model.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-infrastructure

Respond to feedback
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/LazyMissingNonNullTypesContextDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
Owners: @dotnet/roslyn-compiler

Add missing nullable annotations for extensions that depend on compilers
  src/Workspaces/Core/Portable/Shared/Extensions/ICompilationExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
Owners: @dotnet/roslyn-ide
