Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide

Revert "simplify winforms designer loader name"
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
Owners: @dotnet/roslyn-ide

Fix crash for synthesized parameters with custom ref modifiers
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
Owners: @dotnet/roslyn-compiler

follow up for Go to base: support metadata references and bug fixes
  src/EditorFeatures/Core/GoToBase/AbstractGoToBaseService.cs
  src/EditorFeatures/Test2/GoToBase/VisuaBasicGoToBaseTests.vb
  src/EditorFeatures/Test2/GoToHelpers/GoToHelpers.vb
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DefinitionItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/MetadataDefinitionItemEntry.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
Owners: @dotnet/roslyn-ide

Update CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Use ConstructWithNullability in InferTypeInAwaitExpression since the inferred type may include nullable information
  src/EditorFeatures/VisualBasicTest/TypeInferrer/TypeInferrerTests.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb
Owners: @dotnet/roslyn-ide

Simplify GetAttributes
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/SynthesizedClosureMethod.cs
Owners: @dotnet/roslyn-compiler

PR feedback
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
Owners: @dotnet/roslyn-compiler

Add test
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Tool to convert ruleset file to equivalent editorconfig file
  src/Tools/RulesetToEditorconfigConverter/Source/Program.cs
  src/Tools/RulesetToEditorconfigConverter/Source/RulesetToEditorconfigConverter.csproj
  src/Tools/RulesetToEditorconfigConverter/Tests/RulesetToEditorconfigConverter.UnitTests.csproj
  src/Tools/RulesetToEditorconfigConverter/Tests/RulesetToEditorconfigConverterTests.cs
  src/Utilities/Compiler/Extensions/ReportDiagnosticExtensions.cs
Owners: @dotnet/roslyn-infrastructure

Add VerifyTypeIL check
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Fix build
  src/Utilities/Compiler/Extensions/ReportDiagnosticExtensions.cs
Owners: none

Simplify
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
Owners: @dotnet/roslyn-compiler

Make comments more helpful
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
Owners: @dotnet/roslyn-compiler

Ensure synthesized closure method is static for static local function (#38147)
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/LocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

EnC: Compare document content before performing IO while stepping
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Owners: @dotnet/roslyn-ide

Preliminary bugfix.
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUnboundIdentifiersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/UnboundIdentifiersDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicUnboundIdentifiersDiagnosticAnalyzer.vb
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Owners: @dotnet/roslyn-ide

Remove all the dependency for LUT
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingChecksumWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingEncodedStringTextHelpers.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingExceptionUtilitesWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingGlobalOptionServiceWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingImmutableArrayExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingProjectExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingRemoteHostClientWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSessionWithSolutionWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionStateWrapper.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingStreamExtensions.cs
Owners: @dotnet/roslyn-ide

Add support for X509Certificate2.
  src/Utilities/Compiler/WellKnownTypeNames.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/HardcodedCertificateSinks.cs
Owners: none

Move to latest compiler toolset
  src/Utilities/Compiler/Extensions/ReportDiagnosticExtensions.cs
Owners: none

Apply suggestions from code review
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigurationUpdater.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AnalyzerConfigDocumentAsSolutionItemHandler.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioAddSolutionItemService.cs
Owners: @dotnet/roslyn-ide

Update src/VisualStudio/Core/Def/Implementation/ProjectSystem/AnalyzerConfigDocumentAsSolutionItemHandler.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AnalyzerConfigDocumentAsSolutionItemHandler.cs
Owners: @dotnet/roslyn-ide

Add annotations for classification types
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/SyntaxTokenClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/Worker_DocumentationComments.cs
  src/Workspaces/CSharp/Portable/Classification/Worker_Preprocesser.cs
  src/Workspaces/Core/Portable/Classification/AbstractClassificationService.cs
  src/Workspaces/Core/Portable/Classification/ClassificationExtensions.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractNameSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassifier.cs
Owners: @dotnet/roslyn-ide

Add annotations for case correction types
  src/Workspaces/CSharp/Portable/CaseCorrection/CSharpCaseCorrectionService.cs
  src/Workspaces/Core/Portable/CaseCorrection/AbstractCaseCorrectionService.cs
  src/Workspaces/Core/Portable/CaseCorrection/CaseCorrector.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Owners: @dotnet/roslyn-ide

Add annotations for code refactoring types
  src/Workspaces/Core/Portable/CodeRefactorings/CodeRefactoringContext.cs
  src/Workspaces/Core/Portable/CodeRefactorings/CodeRefactoringProvider.cs
  src/Workspaces/Core/Portable/CodeRefactorings/ExportCodeRefactoringProviderAttribute.cs
Owners: @dotnet/roslyn-ide

Add annotations for extension methods classes
  src/Compilers/Core/Portable/InternalUtilities/RoslynString.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Features/CSharp/Portable/ExtractMethod/Extensions.cs
  src/Features/CSharp/Portable/GenerateMember/GenerateParameterizedMember/CSharpGenerateParameterizedMemberService.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.State.cs
  src/Features/VisualBasic/Portable/GenerateMember/GenerateParameterizedMember/VisualBasicGenerateParameterizedMemberService.vb
  src/Workspaces/Core/Portable/AddImports/AbstractAddImportsService.cs
  src/Workspaces/Core/Portable/Editing/ImportAdderService.cs
  src/Workspaces/Core/Portable/ExtensionManager/IExtensionManagerExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/FileLinePositionSpanExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IFindReferencesResultExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ILanguageMetadataExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ILanguageServiceProviderExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISolutionExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeInferenceServiceExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ObjectExtensions.TypeSwitch.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ObjectExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/StringExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxTokenExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/TextDocumentExtensions.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

Add annotations for DocumentExtensions
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringContextExtensions.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction_Property.cs
  src/VisualStudio/Core/Def/Implementation/Preview/PreviewUpdater.cs
  src/Workspaces/Core/Portable/Editing/ImportAdderService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
Owners: @dotnet/roslyn-ide

Rewrite GetContiguousSpans to not require the null suppression operator
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxNodeExtensions.cs
Owners: @dotnet/roslyn-ide

Code cleanup from review
  src/Workspaces/Core/Portable/Workspace/Host/HostLanguageServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostWorkspaceServices.cs
Owners: @dotnet/roslyn-ide

Address feedback. Split TypeIL out into Desktop-only test
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Owners: @dotnet/roslyn-compiler

remove unncessary code
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Tweak test titles
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Use ConstructWithNullability in InferTypeInAwaitExpression since the inferred type may include nullable information (#39335)
  src/EditorFeatures/VisualBasicTest/TypeInferrer/TypeInferrerTests.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb
Owners: @dotnet/roslyn-ide

Simplify tests
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Add test
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Add test
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
Owners: @dotnet/roslyn-compiler

Cleanup
  src/Compilers/CSharp/Test/Syntax/Parsing/AnonymousFunctionParsingTests.cs
Owners: @dotnet/roslyn-compiler

async -> asynchronous
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
Owners: @dotnet/roslyn-compiler

Attempt to normalize Location paths before creating URIs
  src/Compilers/CSharp/Test/CommandLine/SarifV1ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV1ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV2ErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/SarifErrorLogger.cs
Owners: @dotnet/roslyn-compiler

Fixing bugs in bug fix
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.cs
Owners: @dotnet/roslyn-ide

feedback addressed
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Owners: @dotnet/roslyn-ide
