Repository dotnet/roslyn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide, @dotnet/roslyn-compiler, @dotnet/roslyn-vs-for-mac, @dotnet/roslyn-interactive, @daytonellwanger, @srivatsn, @aletsdelarosa

.github/CODEOWNERS:

# Automatically request reviews when a pull request changes any owned files
# More information: https://github.com/blog/2392-introducing-code-owners 

*.yml @dotnet/roslyn-infrastructure
.github/ @dotnet/roslyn-infrastructure
eng/ @dotnet/roslyn-infrastructure
scripts/ @dotnet/roslyn-infrastructure

src/CodeStyle/ @dotnet/roslyn-ide
src/Compilers/ @dotnet/roslyn-compiler
src/EditorFeatures/ @dotnet/roslyn-ide

# If we touch the WPF layer, let the VS for Mac team have an opportunity to sign-off. Any changes made here
# may also have to be reflected into the EditorFeatures.Cocoa library which doesn't live in this repository.
src/EditorFeatures/Core.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac
src/EditorFeatures/CSharp.Wpf/ @dotnet/roslyn-ide @dotnet/roslyn-vs-for-mac

src/Features/ @dotnet/roslyn-ide
src/Interactive/ @dotnet/roslyn-interactive
src/NuGet/ @dotnet/roslyn-infrastructure
src/Scripting/ @dotnet/roslyn-interactive
src/Setup/ @dotnet/roslyn-infrastructure
src/Tools/ @dotnet/roslyn-infrastructure
src/Tools/Source/CompilerGeneratorTools/ @dotnet/roslyn-compiler
src/VisualStudio/ @dotnet/roslyn-ide
src/VisualStudio/LiveShare @dotnet/roslyn-ide @daytonellwanger @srivatsn @aletsdelarosa
src/Workspaces/ @dotnet/roslyn-ide

Fix violations of RS0030 (Do not used banned APIs)
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/RestrictedInternalsVisibleToAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/Core/AbstractAllocationAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/Core/AbstractAllocationAnalyzer`1.cs
  src/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.Impl.cs
  src/Utilities/Compiler/WellKnownTypeProvider.cs
Owners: none

Remove project type from Bing uri
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionWithNestedFlavors.cs
  src/EditorFeatures/Core/Host/IPreviewPaneService.cs
  src/EditorFeatures/Core/Shared/Extensions/WorkspaceExtensions.cs
  src/EditorFeatures/TestUtilities/Preview/MockPreviewPaneService.cs
  src/VisualStudio/Core/Def/Implementation/PreviewPane/PreviewPaneService.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/VisualStudio/Core/Def/Telemetry/ProjectTypeLookupService.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostContext/IProjectTypeLookupService.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostContext/ProjectTypeLookupService.cs
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Refactoring
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/Implementation/PreviewPane/PreviewPaneService.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.BrowseObject.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.cs
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzerCommandHandlerTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/CpsDiagnosticItemTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/LegacyDiagnosticItemTests.vb
Owners: @dotnet/roslyn-ide

Add Language to DiagnosticData
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionWithNestedFlavors.cs
  src/EditorFeatures/Core/Host/IPreviewPaneService.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataSerializerTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/EditorFeatures/TestUtilities/Preview/MockPreviewPaneService.cs
  src/EditorFeatures/TestUtilities/Squiggles/AbstractSquiggleProducerTests.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_BuildSynchronization.cs
  src/VisualStudio/Core/Def/Implementation/PreviewPane/PreviewPaneService.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItemSource.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/CpsDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/CpsDiagnosticItemSource.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/LegacyDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/LegacyDiagnosticItemSource.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataSerializer.cs
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Trim arguments that are too long
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Owners: @dotnet/roslyn-ide

Test fixes.
  src/Tools/ExternalAccess/FSharp/Internal/VisualStudio/FSharpProjectExternalErrorReporterFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Owners: @dotnet/roslyn-infrastructure, @dotnet/roslyn-ide

send highlight and containing member information
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
Owners: @dotnet/roslyn-ide

Document `-nullable:annotations` option
  docs/features/nullable-reference-types.md
Owners: none

Changes to packaging for Analyer Utilities package
  nuget/Microsoft.CodeAnalysis.AnalyzerUtilities/Microsoft.CodeAnalysis.AnalyzerUtilities.Package.csproj
  nuget/Microsoft.CodeAnalysis.RulesetToEditorconfigConverter/Microsoft.CodeAnalysis.RulesetToEditorconfigConverter.Package.csproj
  src/Microsoft.CodeAnalysis.AnalyzerUtilities/Microsoft.CodeAnalysis.AnalyzerUtilities.csproj
  src/Microsoft.CodeAnalysis.AnalyzerUtilities/PublicAPI.Shipped.txt
  src/Microsoft.CodeAnalysis.AnalyzerUtilities/PublicAPI.Unshipped.txt
  src/Tools/RulesetToEditorconfigConverter/Source/Program.cs
  src/Tools/RulesetToEditorconfigConverter/Source/RulesetToEditorconfigConverter.csproj
  src/Tools/RulesetToEditorconfigConverter/Tests/RulesetToEditorconfigConverter.UnitTests.csproj
  src/Tools/RulesetToEditorconfigConverter/Tests/RulesetToEditorconfigConverterTests.cs
  src/Utilities/Compiler/Analyzer.Utilities.projitems
  src/Utilities/Compiler/Extensions/CompilationExtensions.cs
  src/Utilities/Compiler/RulesetToEditorconfigConverter.cs
  src/Utilities/Compiler/WellKnownTypeProvider.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/CopyAnalysis/CopyAnalysis.CopyDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/ParameterValidationAnalysis/ParameterValidationAnalysis.ParameterValidationDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/HazardousUsageEvaluatorCollection.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataConfig.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/TaintedDataAnalysis/TaintedDataSymbolMap.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/AnalysisEntityDataFlowOperationVisitor.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Framework/DataFlow/PredicatedAnalysisData.cs
Owners: @dotnet/roslyn-infrastructure

Address feedback from Chuck
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
Owners: @dotnet/roslyn-compiler

Factor and simplify generation code for AsyncIteratorMethodBuilder.Create()
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
Owners: @dotnet/roslyn-compiler

Needs some changes
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
Owners: @dotnet/roslyn-ide

make field private again
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
Owners: @dotnet/roslyn-compiler

Account for the possibility of no root
  src/VisualStudio/LiveShare/Impl/Client/RemoteLanguageServiceWorkspace.cs
Owners: @dotnet/roslyn-ide, @daytonellwanger, @srivatsn, @aletsdelarosa

PropertySetAnalysis: Handling assignments to flow captures when tracking properties
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/PropertySetAnalysis/PropertySetAnalysis.PropertySetDataFlowOperationVisitor.cs
Owners: none

Annotate TypeCompilationState
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Compiler/TypeCompilationState.cs
Owners: @dotnet/roslyn-compiler

Rename wrappers and accessors
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/IUnitTestingSolutionCrawlerServiceAccessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/UnitTestingSolutionCrawlerServiceAccessor.cs
  src/VisualStudio/Core/Def/ExternalAccess/UnitTesting/Api/UnitTestingRemoteHostOptionsAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingIncrementalAnalyzerImplementation.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingIncrementalAnalyzerProviderImplementation.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingSolutionCrawlerRegistrationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingEncodedStringTextAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingFatalErrorAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingImmutableArrayExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingInvovationReasonsWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingPredefinedInvocationReasonsAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingProjectExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSessionWithSolutionWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSymbolExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSymbolKeyWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingWellKnownExperimentNamesAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingWellKnownExperimentNamesWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingIncrementalAnalyzer.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingIncrementalAnalyzerProvider.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingSolutionCrawlerRegistrationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingSolutionCrawlerRegistrationServiceAccessorFactory .cs
  src/Workspaces/Remote/Core/ExternalAccess/UnitTesting/Api/UnitTestingAssetStorageWrappper.cs
Owners: @dotnet/roslyn-ide

Annotate MessageID.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
Owners: @dotnet/roslyn-compiler

Use elastic trivia when dealing with collection initializers
  src/Features/Core/Portable/Wrapping/SeparatedSyntaxList/SeparatedSyntaxListCodeActionComputer.cs
Owners: @dotnet/roslyn-ide

Async-streams: Call AsyncIteratorMethodBuilder.Complete (#39436)
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodBuilderMemberCollection.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Owners: @dotnet/roslyn-compiler

Change ignoreChildNode to fast pass on AreNullableDirectivesEquivalent. Fix comparison of imports to ignore nullable trivia
  src/Compilers/CSharp/Portable/Syntax/SyntaxEquivalence.cs
  src/Workspaces/CSharp/Portable/AddImports/CSharpAddImportsService.cs
Owners: @dotnet/roslyn-compiler, @dotnet/roslyn-ide

Enable logging of informational telemetry for analyzers/fixers/refactorings executed during Ctrl + .
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Workspaces/Core/Portable/Log/EtwLogger.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Log/RoslynEventSource.LogBlock.cs
  src/Workspaces/Core/Portable/Log/RoslynEventSource.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.AbstractRecoverableSyntaxRoot.cs
Owners: @dotnet/roslyn-ide

Fix for control flow graph when combining using declarations with labels
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

Handle intellicode star in display text prefix
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
Owners: @dotnet/roslyn-ide

include definitions and respect the cancellation token
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingMemberColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingTypeColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
Owners: @dotnet/roslyn-ide

Use WellKnownTypeProvider instead of GetTypeByMetadataName
  src/Microsoft.CodeAnalysis.Analyzers/CSharp/CSharpImmutableObjectMethodAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/CSharpRegisterActionAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/FixAnalyzers/FixerWithFixAllAnalyzer.Fixer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/FixAnalyzers/FixerWithFixAllAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/CompareSymbolsCorrectlyAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ConfigureGeneratedCodeAnalysisAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerAPIUsageAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerAttributeAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerCorrectnessAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticAnalyzerFieldsAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/DiagnosticDescriptorCreationAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/EnableConcurrentExecutionAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Fixers/ConfigureGeneratedCodeAnalysisFix.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/RegisterActionAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/ReportDiagnosticAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/Core/UpgradeMSBuildWorkspaceAnalyzer.cs
  src/Microsoft.CodeAnalysis.Analyzers/VisualBasic/MetaAnalyzers/BasicRegisterActionAnalyzer.vb
  src/Roslyn.Diagnostics.Analyzers/CSharp/CSharpSymbolDeclaredEventMustBeGeneratedForSourceSymbols.cs
  src/Roslyn.Diagnostics.Analyzers/Core/DoNotMixAttributesFromDifferentVersionsOfMEF.cs
  src/Roslyn.Diagnostics.Analyzers/Core/DoNotUseGenericCodeActionCreateToCreateCodeAction.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ExportedPartsShouldHaveImportingConstructor.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsolete.cs
  src/Roslyn.Diagnostics.Analyzers/Core/ImportingConstructorShouldBeObsoleteCodeFixProvider.cs
  src/Roslyn.Diagnostics.Analyzers/Core/PartsExportedWithMEFv2MustBeMarkedAsShared.cs
  src/Roslyn.Diagnostics.Analyzers/Core/SpecializedEnumerableCreationAnalyzer.cs
  src/Roslyn.Diagnostics.Analyzers/Core/SymbolDeclaredEventMustBeGeneratedForSourceSymbols.cs
  src/Roslyn.Diagnostics.Analyzers/Core/TestExportsShouldNotBeDiscoverable.cs
  src/Roslyn.Diagnostics.Analyzers/VisualBasic/BasicSymbolDeclaredEventMustBeGeneratedForSourceSymbols.vb
  src/Utilities/Compiler/DoNotCatchGeneralUnlessRethrown.cs
  src/Utilities/Compiler/Extensions/CompilationExtensions.cs
  src/Utilities/Compiler/Extensions/OperationBlockAnalysisContextExtension.cs
  src/Utilities/FlowAnalysis/FlowAnalysis/Analysis/DisposeAnalysis/DisposeAnalysisHelper.cs
  src/Utilities/Workspaces/SyntaxGeneratorExtensions.cs
Owners: none

Improve WellKnownTypeProvider handling of duplicate types
  src/Utilities/Compiler/WellKnownTypeProvider.cs
Owners: none

Fix violations of RS0030 (Do not used banned APIs)
  src/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/RestrictedInternalsVisibleToAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/Core/AbstractAllocationAnalyzer.cs
  src/PerformanceSensitiveAnalyzers/Core/AbstractAllocationAnalyzer`1.cs
  src/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.Impl.cs
  src/Utilities/Compiler/WellKnownTypeProvider.cs
Owners: none

refactor to remove duplicate code
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithoutReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractDocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/FindUsagesUtilities.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/RoslynSymbolResult.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/SymbolSearchContext.cs
  src/VisualStudio/Core/Def/PublicAPI.Unshipped.txt
Owners: @dotnet/roslyn-ide

Address feedback, rename, nullable-enable most usage sites
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Compiler/TypeCompilationState.cs
  src/Compilers/CSharp/Portable/Errors/LazyMissingNonNullTypesContextDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
Owners: @dotnet/roslyn-compiler

Address review feedback
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Workspaces/Core/Portable/Log/RoslynEventSource.LogBlock.cs
Owners: @dotnet/roslyn-ide

Revert some more changes
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
Owners: @dotnet/roslyn-ide

Only log information for code fixes that can fix the diagnostics.
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
Owners: @dotnet/roslyn-ide

Remove unnecessary usings
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.AbstractRecoverableSyntaxRoot.cs
Owners: @dotnet/roslyn-ide

Fix VB operation tests
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Owners: @dotnet/roslyn-compiler

Add some nullable annotations in options system
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.DocumentOptions.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider_Ide.cs
  src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigDocumentOptionsProviderFactory.cs
  src/Workspaces/Core/Portable/Options/IDocumentOptions.cs
  src/Workspaces/Core/Portable/Options/IDocumentOptionsProvider.cs
  src/Workspaces/Core/Portable/Options/IDocumentOptionsProviderFactory.cs
  src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs
Owners: @dotnet/roslyn-ide, @dotnet/roslyn-vs-for-mac

Update some comments to delete references to Visual Studio 2017
  src/Workspaces/Core/Portable/Options/IDocumentOptionsProvider.cs
  src/Workspaces/Core/Portable/Options/IDocumentOptionsProviderFactory.cs
Owners: @dotnet/roslyn-ide

Add an overload to DocumentOptionSet.WithChangedOption
  src/Workspaces/Core/Portable/Options/DocumentOptionSet.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Owners: @dotnet/roslyn-ide

Fix document.GetOptionsAsync().WithChangedOption potentially throwing
  src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs
Owners: @dotnet/roslyn-ide

Nullable annotate our extension ordering code and delete IOrderableMetadata
  src/Workspaces/Core/Portable/IOrderableMetadata.cs
  src/Workspaces/Core/Portable/OrderableMetadata.cs
  src/Workspaces/Core/Portable/Shared/Utilities/ExtensionOrderer.Graph.cs
  src/Workspaces/Core/Portable/Shared/Utilities/ExtensionOrderer.cs
  src/Workspaces/CoreTest/ExtensionOrdererTests.cs
Owners: @dotnet/roslyn-ide
