Repository dotnet/roslyn, pull requests merged in 2018-05, with the labels that each got.

#26476 Add ToString implementations to help with debugging signature help text
  src/Features/Core/Portable/SignatureHelp/SignatureHelpItem.cs
  src/Features/Core/Portable/SignatureHelp/SignatureHelpParameter.cs
Labels: Approved to merge, Area-IDE

#26477 Handle empty queue in WaitForPendingWorkAsync
  src/EditorFeatures/Core/Implementation/ForegroundNotification/ForegroundNotificationService.cs
Labels: Approved to merge, Area-IDE

#26506 Migrate VSTS YAML to dev15.7.x
  .vsts-ci.yml
  build/Targets/Packages.props
Labels: Area-Infrastructure

#26399 Update RoslynAnalyzers to fix diff churn with PublicAPI.Unshipped.txt files
  build/Rulesets/Roslyn_BuildRules.ruleset
  build/Targets/Packages.props
  build/scripts/sort-unshipped.cmd
  src/Workspaces/Core/Desktop/PublicAPI.Shipped.txt
Labels: Area-Infrastructure

#26463 Simplify shape of control flow graph when conditional branches involve conditional, coalesce and throw expressions.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IIfStatement.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26023 Update ICSharpCode.Decompiler to version 3.1.0.3652
  build/Targets/Packages.props
Labels: Approved to merge, Area-IDE, Community

#26458 MEF construction
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTestBase.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartTokenFormatterFormatRangeTests.cs
  src/EditorFeatures/Core/CommandHandlers/CompletionCommandHandler.cs
  src/EditorFeatures/Core/CommandHandlers/IntelliSenseCommandHandler.cs
  src/EditorFeatures/Core/CommandHandlers/SignatureHelpCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/AsyncCompletionService.cs
  src/EditorFeatures/TestUtilities/AbstractCommandHandlerTestState.cs
  src/EditorFeatures/TestUtilities2/Intellisense/IntelliSenseTestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestCompletionPresenter.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestSignatureHelpPresenter.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
  src/VisualStudio/CSharp/Test/EventHookup/EventHookupTestState.cs
  src/VisualStudio/Core/Test/Completion/CSharpCompletionSnippetNoteTests.vb
  src/VisualStudio/Core/Test/Completion/VisualBasicCompletionSnippetNoteTests.vb
  src/VisualStudio/Core/Test/DebuggerIntelliSense/TestState.vb
  src/VisualStudio/Core/Test/Snippets/SnippetTestState.vb
  src/Workspaces/Core/Portable/Execution/SerializerService.cs
  src/Workspaces/Core/Portable/Execution/SerializerServiceFactory.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/IAsynchronousOperationListenerProvider.cs
  src/Workspaces/Core/Portable/Workspace/Host/Mef/MefConstruction.cs
  src/Workspaces/CoreTestUtilities/ExportProviderCache.cs
Labels: Approved to merge

#25233 Enable InvertIf
  src/EditorFeatures/CSharpTest/CodeActions/InvertIf/InvertIfTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/InvertIf/InvertIfTests.vb
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/CodeRefactorings/InvertIf/AbstractInvertIfCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.Designer.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.resx
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.cs.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.de.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.es.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.fr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.it.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ja.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ko.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pl.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pt-BR.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ru.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.tr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hans.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsServiceExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Approved to merge, Area-IDE

#26330 Improve searching for symbols when a name is known ahead of time. (And avoid O(n) enumerations)
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Declarations/SingleTypeDeclaration.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Declarations/DeclarationTable.vb
  src/Compilers/VisualBasic/Portable/Declarations/DeclarationTreeBuilder.vb
  src/Compilers/VisualBasic/Portable/Declarations/SingleTypeDeclaration.vb
Labels: Area-Compilers, Community

#26135 fix UpgradeProject crashes IDE with Unable to check out the files fro…
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectChanges.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/CoreTestUtilities/SolutionUtilities.cs
Labels: Approved to merge, Area-IDE

#25099 Fixes NullReferenceException in NewLineUserSettingFormattingRule
  src/Workspaces/CSharp/Portable/Formatting/Rules/NewLineUserSettingFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Approved to merge, Area-IDE, Community

#26541 Merge both features/ranges-v2 and features/recursive-patterns into features/build-demo
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundPattern_ConvertedType.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Deployment/source.extension.vsixmanifest
Labels: Area-Compilers

#26523 Changes that can go in independently from the "parenthese preferences" PR
  src/EditorFeatures/CSharpTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractUserDiagnosticTest.cs
  src/Features/Core/Portable/CodeRefactorings/InvertIf/AbstractInvertIfCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleDiagnosticAnalyzer.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/ExpressionGenerator.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpParenthesesReducer.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/Core/Portable/CodeGeneration/LiteralSpecialValues.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsServiceExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/LocationExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/ExpressionGenerator.vb
  src/Workspaces/VisualBasic/Portable/Extensions/ExpressionSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/Extensions/ParenthesizedExpressionSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/AbstractVisualBasicReducer.vb
  src/Workspaces/VisualBasicTest/CodeGeneration/SyntaxGeneratorTests.vb
Labels: Approved to merge, Area-IDE, Community

#26524 The LDM decided to try : instead of => in the switch expression syntax.
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Test/Utilities/Portable/TestResource.resx
Labels: Area-Compilers, Feature Request, New Language Feature - Pattern Matching

#26224 Add refactoring for UseImplicitType
  src/EditorFeatures/CSharpTest/CodeActions/UseExplicitType/UseExplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/UseImplicitType/UseImplicitTypeRefactoringTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/UseExplicitTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/UseImplicitTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/TypeStyle/UseImplicitTypeCodeFixProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
Labels: Approved to merge, Area-IDE

#26186 Offer 'readonly' completion in type contexts
  src/EditorFeatures/CSharpTest2/Recommendations/PartialKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ReadOnlyKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RefKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StructKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ReadOnlyKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/RefKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/StructKeywordRecommender.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxTreeExtensions.cs
  src/Workspaces/CSharp/Portable/Utilities/SyntaxKindSet.cs
Labels: Approved to merge, Area-IDE

#26544 Remove our perf job infrastructure
  Roslyn.sln
  build/scripts/build.ps1
  netci.groovy
  perf.groovy
  src/Test/Perf/Runner/Perf.Runner.csproj
  src/Test/Perf/Runner/Program.cs
  src/Test/Perf/Runner/Tools.cs
  src/Test/Perf/Runner/TraceBackup.cs
Labels: Area-Infrastructure

#26570 Revert "The LDM decided to try : instead of => in the switch expression syntax."
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Test/Utilities/Portable/TestResource.resx
Labels: Area-Compilers, Feature Request, New Language Feature - Pattern Matching

#26574 Patterns completion for build-demo
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/IsKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SwitchKeywordRecommenderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CSharpCompletionService.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PropertySubPatternCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AsKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/IsKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/SwitchKeywordRecommender.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/CSharpSyntaxContext.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE

#26575 Formatting for recursive patterns for build-demo
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticBraceCompletionTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterEnterOnTokenTests.cs
  src/EditorFeatures/TestUtilities/AutomaticCompletion/AbstractAutomaticBraceCompletionTests.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/CSharp/Portable/Formatting/FormattingHelpers.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/AnchorIndentationFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/IndentBlockFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/Core/Portable/Formatting/Rules/Operations/IndentBlockOperation.cs
  src/Workspaces/Core/Portable/Formatting/Rules/Operations/SuppressOperation.cs
Labels: Area-Compilers, Area-IDE

#26552 Added support for INameOfOperation to the control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_INameOfOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_INameOfOperation.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#20872 Modify DataFlowAnalysis implementations to only report referenceable symbols (fixes #5891)
  src/Compilers/CSharp/Portable/FlowAnalysis/CSharpDataFlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/VisualBasic/Portable/Analysis/FlowAnalysis/VisualBasicDataFlowAnalysis.vb
Labels: Area-Compilers, Community, cla-already-signed

#26490 Add a test to show that and old performance-related issue no longer exists.
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenIterators.cs
Labels: 4 - In Review, Area-Compilers, Tenet-Performance, Test

#26425 Do not report unused using/imports if not processing doc comments.
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetUnusedImportDirectivesTests.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/CrefTests.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/GetUnusedImportDirectivesTests.vb
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryImports/RemoveUnnecessaryImportsTests.cs
Labels: Area-Compilers, Bug

#26509 Update XliffTasks
  build/Targets/Packages.props
Labels: Area-Infrastructure, Tenet-Localization

#26522 Fix the analyzer driver to make IOperation callbacks for code in cons…
  src/Compilers/CSharp/CSharpAnalyzerDriver/CSharpDeclarationComputer.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers

#26564 Handle IRangeCaseClauseOperation in control flow graph
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_SelectCase.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundNodes.xml
  src/Compilers/VisualBasic/Portable/BoundTree/BoundRangeCaseClause.vb
  src/Compilers/VisualBasic/Portable/Generated/BoundNodes.xml.Generated.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenSelectCase.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.vb
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, Language-VB, New Feature - Flow Analysis, New Feature - IOperation

#26104 Miscellaneous project system decoupling
  src/Features/Core/Portable/EditAndContinue/EncDebuggingSessionInfo.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/DebugLogMessage.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VsENCRebuildableProjectImpl.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VsReadOnlyDocumentTracker.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.VsCodeWindowManager.cs
  src/VisualStudio/Core/Def/Implementation/NavigationBar/NavigationBarClient.cs
  src/VisualStudio/Core/Def/Implementation/Options/LanguageSettingsPersister.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.TextBufferDataEventsSink.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/IComEventSink.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/WorkspaceBackgroundWork.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/ComEventSink.cs
  src/VisualStudio/Core/Def/Implementation/VsRefactorNotifyService.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolNavigationService.cs
  src/VisualStudio/Core/Def/Telemetry/ProjectTypeLookupService.cs
  src/VisualStudio/Core/Test/EditAndContinue/VsReadOnlyDocumentTrackerTests.vb
  src/VisualStudio/TestUtilities2/MockVisualStudioWorkspace.vb
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Approved to merge, Area-IDE

#26555 Formatting for recursive patterns
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticBraceCompletionTests.cs
  src/EditorFeatures/TestUtilities/AutomaticCompletion/AbstractAutomaticBraceCompletionTests.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/CSharp/Portable/Formatting/FormattingHelpers.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/AnchorIndentationFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/IndentBlockFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/Core/Portable/Formatting/Context/SuppressWrappingData.cs
  src/Workspaces/Core/Portable/Formatting/ContextIntervalTree.cs
  src/Workspaces/Core/Portable/Formatting/Rules/Operations/IndentBlockOperation.cs
  src/Workspaces/Core/Portable/Formatting/Rules/Operations/SuppressOperation.cs
Labels: Area-IDE, New Language Feature - Pattern Matching

#26600 Indentation/SymbolAPI fixes
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/OperatorKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorEasyOut.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Compilation/BuiltInOperators.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Index.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Range.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUnaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/IIndexOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/Operations/UnaryOperatorKind.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterEnterOnTokenTests.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-Compilers, Area-IDE, PR For Personal Review Only

#26558 Large simplification of the 'remove cast' analyzer/fixer code.
  src/EditorFeatures/CSharpTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/EditorFeatures/Test2/Simplification/CastSimplificationTests.vb
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/CodeFixes/RemoveUnnecessaryCast/RemoveUnnecessaryCastCodeFixProvider.RemoveUnnecessaryCastFixAllProvider.cs
  src/Features/CSharp/Portable/CodeFixes/RemoveUnnecessaryCast/RemoveUnnecessaryCastCodeFixProvider.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpRemoveUnnecessaryCastDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/Diagnostics/Analyzers/RemoveUnnecessaryCastDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/CodeFixes/RemoveUnnecessaryCast/RemoveUnnecessaryCastCodeFixProvider.RemoveUnnecessaryCastFixAllProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/RemoveUnnecessaryCast/RemoveUnnecessaryCastCodeFixProvider.Rewriter.vb
  src/Features/VisualBasic/Portable/CodeFixes/RemoveUnnecessaryCast/RemoveUnnecessaryCastCodeFixProvider.vb
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicRemoveUnnecessaryCastDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.Designer.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.resx
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.cs.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.de.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.es.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.fr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.it.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ja.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ko.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pl.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pt-BR.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ru.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.tr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hans.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/Extensions/CastExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpCastReducer.cs
  src/Workspaces/VisualBasic/Portable/Extensions/CallStatementSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/Extensions/CastExpressionSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicCastReducer.vb
Labels: Approved to merge, Area-IDE, Community

#22898 Uncomment and fix CodeGeneration tests
  src/EditorFeatures/Test/CodeGeneration/ExpressionGenerationTests.cs
  src/EditorFeatures/Test/CodeGeneration/ExpressionPrecedenceGenerationTests.cs
  src/EditorFeatures/Test/CodeGeneration/NameGenerationTests.cs
Labels: Area-IDE, Community, cla-already-signed

#26609 Document representation of boolean values
  docs/compilers/Boolean Representation.md
Labels: Area-Compilers, Documentation

#26604 Document breaking change in C# 6 regarding indexed properties
  docs/compilers/CSharp/Compiler Breaking Changes - VS2015.md
Labels: Area-Compilers, Documentation

#26602 Resolve merge conflicts when updating async-streams with latest master
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers

#26603 Empty C# statement has no side-effects
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TryStatement.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTryFinally.cs
Labels: 4 - In Review, Area-Compilers

#25056 Adding await keyword highlighting on async using & foreach
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAwaitHighlighter.cs
  src/EditorFeatures/CSharpTest/KeywordHighlighting/AwaitHighlighterTests.cs
Labels: Area-IDE, Blocked, Community, PR For Personal Review Only

#25622 Completion for attributes: searching for attributes recursively
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/INamespaceOrTypeSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/INamespaceSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
Labels: Approved to merge, Area-IDE, Community

#23721 Fixed incorrect suggestion for collection initialization simplification
  src/EditorFeatures/CSharpTest/UseCollectionInitializer/UseCollectionInitializerTests.cs
  src/EditorFeatures/VisualBasicTest/UseCollectionInitializer/UseCollectionInitializerTests.vb
  src/Features/Core/Portable/UseCollectionInitializer/AbstractObjectCreationExpressionAnalyzer.cs
  src/Features/Core/Portable/UseCollectionInitializer/ObjectCreationExpressionAnalyzer.cs
  src/Features/Core/Portable/UseObjectInitializer/ObjectCreationExpressionAnalyzer.cs
Labels: Approved to merge, Area-IDE, Community

#26629 Recover from `Deconstruct` binding error.
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
Labels: Area-Compilers, Bug, New Language Feature - Pattern Matching

#26611 Use SyntaxEditorBasedCodeFixProvider for 'qualify member access'
  src/Features/CSharp/Portable/QualifyMemberAccess/CSharpQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessCodeFixprovider.cs
  src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicQualifyMemberAccessDiagnosticAnalyzer.vb
Labels: Approved to merge, Area-IDE, Community

#26599 Make VisualStudioRuleSetManager thread safe
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/AnalyzersTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/LegacyProject/AnalyzersTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject_Analyzers.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject_Options.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/RuleSets/VisualStudioRuleSetManager.RuleSetFile.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/RuleSets/VisualStudioRuleSetManager.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectTracker.cs
  src/VisualStudio/Core/SolutionExplorerShim/AnalyzersCommandHandler.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioRuleSetTests.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProject.vb
  src/Workspaces/Core/Portable/Utilities/IReferenceCountedDisposable.cs
  src/Workspaces/Core/Portable/Utilities/ReferenceCountedDisposable.cs
Labels: Approved to merge, Area-IDE

#26389 Added support for object initializers and member initializers
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26550 Bump version to 2.8.1
  build/Targets/Versions.props
Labels: Area-Infrastructure

#26632 Adding some IDE code fix tests for async using & foreach
  src/EditorFeatures/CSharpTest/Diagnostics/MakeMethodAsynchronous/MakeMethodAsynchronousTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/MakeMethodSynchronous/MakeMethodSynchronousTests.cs
Labels: Area-IDE, Community

#26545 Handle interpolated strings in CFG
  src/Compilers/CSharp/Portable/Binder/Binder_InterpolatedString.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IInterpolatedStringExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IInterpolatedStringExpression.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#25542 add package dependencies
  src/NuGet/Microsoft.CodeAnalysis.CSharp.Features.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Common.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.Text.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.Wpf.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Workspaces.Common.nuspec
  src/NuGet/NuGetProjectPackUtil.csproj
Labels: Approved to merge, Area-IDE

#26641 Change code blocks to inline code to make the paragraph read nicer
  src/Compilers/Core/Portable/Diagnostic/Location.cs
Labels: Area-Compilers, Community

#26667 Allow null return from async method when `Task<T>` type argument is nullable
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Urgency-Soon

#26630 Add a DeclareAsNullable fixer
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE, New Language Feature - Nullable Reference Types, Urgency-Soon

#26698 Update LangVersion to 7.3
  build/Targets/Settings.props
Labels: Area-Infrastructure

#26355 Add support for generating fields/properties for property patterns.
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/Features/CSharp/Portable/GenerateMember/GenerateVariable/CSharpGenerateVariableService.cs
  src/Features/Core/Portable/GenerateMember/AbstractGenerateMemberService.cs
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.State.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/TypeInferenceService/AbstractTypeInferenceService.AbstractTypeInferrer.cs
  src/Workspaces/Core/Portable/LanguageServices/TypeInferenceService/AbstractTypeInferenceService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicTypeInferenceService.vb
Labels: Area-IDE, Community, New Language Feature - Pattern Matching

#26691 Adding support for ILiteralOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILiteralOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ILiteralOperation.vb
Labels: New Feature - Flow Analysis, New Feature - IOperation

#26660 Set nullability of foreach iteration variable
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Urgency-Soon

#26731 Fix Index zero ends
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers, PR For Personal Review Only

#26248 Produce correct diagnostics on implicit operator conversions for stackalloc expressions
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#26336 Naming style for locals
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/EditorConfigNamingStyleParserTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/NamingStylesTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/NamingStylesTests_OptionSets.cs
  src/EditorFeatures/Test2/NamingStyles/NamingStylesTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/NamingStyles/NamingStylesTestOptionSets.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/NamingStyles/NamingStylesTests.vb
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpNamingStyleDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeFixes/NamingStyle/AbstractNamingStyleCodeFixProvider.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/NamingStyleDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/Diagnostics/SymbolAnalysisContextExtensions.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicNamingStyleDiagnosticAnalyzer.vb
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/SymbolSpecification/SymbolSpecificationViewModel.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_SymbolSpec.cs
  src/Workspaces/Core/Portable/NamingStyles/Serialization/SymbolSpecification.cs
  src/Workspaces/CoreTest/CodeStyle/EditorConfigCodeStyleParserTests.cs
Labels: Approved to merge, Area-IDE, Community

#26718 Fix the message for Make Field Readonly
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/AddImport/AddImportTests_NuGet.vb
  src/Features/Core/Portable/MakeFieldReadonly/AbstractMakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Test/Utilities/Portable/Diagnostics/DescriptorFactory.cs
Labels: Approved to merge

#23589 Escape curly braces in string literals when converting concatenation to interpolated string
  src/EditorFeatures/CSharpTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.cs
  src/EditorFeatures/VisualBasicTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.vb
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
Labels: Approved to merge, Area-IDE, Community

#26724 Delay formatting of BoundSuppressNullableWarningExpression.Display
  src/Compilers/CSharp/Portable/BoundTree/Formatting.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#26671 Use appropriate analyzer category for these analyzers.
  src/Features/CSharp/Portable/InlineDeclaration/CSharpInlineDeclarationDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessAnalyzer.cs
  src/Features/CSharp/Portable/UseExpressionBody/UseExpressionBodyDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseCoalesceExpression/AbstractUseCoalesceExpressionDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseCoalesceExpression/AbstractUseCoalesceExpressionForNullableDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseCollectionInitializer/AbstractUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseObjectInitializer/AbstractUseObjectInitializerDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseThrowExpression/AbstractUseThrowExpressionDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-Analyzers, Area-IDE, Community

#26635 Added support for array element references in object initializers
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/Core/Portable/InternalUtilities/ImmutableArrayExtensions.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26720 Implement IDiscardSymbol.Equals and GetHashCode
  src/Compilers/CSharp/Portable/Symbols/DiscardSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Tuples

#26659 Fixed exception message in GetSemanticModel
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
Labels: Area-Compilers, Community

#26727 Align the implementations of IAssemblySymbol.GivesAccessTo
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MetadataOrSourceAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/Core/CodeAnalysisTest/GivesAccessTo.cs
  src/Compilers/Core/Portable/IVTConclusion.cs
  src/Compilers/Core/Portable/Symbols/ISymbolExtensions.cs
  src/Compilers/Core/Portable/Symbols/ISymbolExtensions_PerformIVTCheck.cs
  src/Compilers/VisualBasic/Portable/Symbols/AssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/MetadataOrSourceAssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceAssemblySymbol.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.vb
  src/Scripting/CSharpTest/CommandLineRunnerTests.cs
Labels: Area-Compilers, Concept-Design Debt

#26726 Warning for null default value of non-nullable parameter
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_CallerInfoAttributes.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#26734 Handle IForToLoopOperation over numeric types in control flow graph
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IPlaceholderOperation.cs
  src/Compilers/Core/Portable/Operations/Loops/ForEachLoopOperationInfo.cs
  src/Compilers/Core/Portable/Operations/Loops/ForToLoopOperationInfo.cs
  src/Compilers/Core/Portable/Operations/Loops/IForToLoopOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SpecialTypeExtensions.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_ForTo.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Symbols/SpecialTypeExtensions.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_InvalidStatement.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, Language-VB, New Feature - Flow Analysis, New Feature - IOperation

#26769 Exclude System.Net.Http from PortableFacades
  src/Setup/DevDivInsertionFiles/BuildDevDivInsertionFiles.vb
  src/Setup/DevDivVsix/PortableFacades/PortableFacades.swr
Labels: Auto-Merge If Tests Pass

#26361 Use completion item InsertionText in the debugger, even before any non-debugger completion sessions have run
  src/Features/Core/Portable/Completion/CompletionServiceWithProviders.cs
Labels: Approved to merge, Area-IDE, Bug

#23693 "Generate method" refactoring enabled if method name is equal to imported type.
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateMethod/GenerateMethodTests.vb
  src/Features/CSharp/Portable/CodeFixes/GenerateMethod/GenerateMethodCodeFixProvider.cs
  src/Features/VisualBasic/Portable/CodeFixes/GenerateParameterizedMember/GenerateParameterizedMemberCodeFixProvider.vb
  src/Features/VisualBasic/Portable/GenerateMember/GenerateParameterizedMember/VisualBasicCommonGenerationServiceMethods.vb
Labels: Approved to merge, Area-IDE, Community

#26553 Completion for property-based pattern and 'switch' keyword in switch expression
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/IsKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SwitchKeywordRecommenderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CSharpCompletionService.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PropertySubPatternCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AsKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/IsKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/SwitchKeywordRecommender.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/CSharpSyntaxContext.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, New Language Feature - Pattern Matching

#26690 Handle dynamic operations in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDynamicIndexerAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDynamicInvocationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDynamicMemberReferenceExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IDynamicInvocationExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IDynamicMemberReferenceExpression.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis

#26683 Enable portable signing for Mono
  src/Compilers/Core/Portable/CommandLine/CommonCommandLineArguments.cs
  src/Compilers/Core/Portable/InternalUtilities/PlatformInformation.cs
Labels: Area-Compilers, Pending Shiproom Approval

#26771 Handle IForToLoopOperation over user-defined types in control flow graph
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Loops/IForToLoopOperation.cs
  src/Compilers/Core/Portable/SpecialTypeExtensions.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/VisualBasic/BasicTestBase.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26784 Add more details to IL/PDB verification for two tests
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#26801 Adding support for IParenthesizedOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParenthesized.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IParenthesizedExpression.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26790 Fix formatting on nullable array type
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-IDE, New Language Feature - Nullable Reference Types

#26789 DeclareAsNullable: recognize 'as' expressions as nullable
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Labels: Area-IDE, New Language Feature - Nullable Reference Types

#26753 Permit a parenthesized expression as the first operand of a switch expression
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Pattern Matching

#26763 Handle symbol initializers (field/property/parameter) in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISymbolInitializer.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/VisualBasic/BasicTestBase.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ArrayCreationAndInitializer.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ISymbolInitializer.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Analyzers, Area-Compilers, Auto-Merge If Tests Pass, New Feature - Flow Analysis, New Feature - IOperation

#20723 Support using patterns when generating .Equals
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionTest.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ICodeDefinitionFactoryExtensions_CreateEqualsMethod.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, Community, cla-already-signed

#26253 Add editorconfig parser and unit tests
  src/Compilers/Core/CodeAnalysisTest/EditorConfigTests.cs
  src/Compilers/Core/Portable/CaseInsensitiveComparison.cs
  src/Compilers/Core/Portable/CodeAnalysis.csproj
  src/Compilers/Core/Portable/CommandLine/EditorConfig.cs
Labels: Area-Compilers

#26750 made "foreach to for" to only support rank1 array.
  src/EditorFeatures/CSharpTest/ConvertForEachToFor/ConvertForEachToForTests.cs
  src/Features/Core/Portable/ConvertForEachToFor/AbstractConvertForEachToForCodeRefactoringProvider.cs
Labels: Approved to merge, Area-IDE

#26762 Fix our Compiler NuGet dependency list
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/scripts/cibuild.cmd
  build/scripts/test-build-correctness.cmd
  build/scripts/test-build-correctness.ps1
  netci.groovy
  src/Compilers/Core/MSBuildTask/MSBuildTask.csproj
  src/Compilers/Extension/AssemblyRedirects.cs
  src/NuGet/Microsoft.Net.Compilers.netcore.nuspec
  src/NuGet/Microsoft.Net.Compilers.nuspec
  src/Setup/DevDivInsertionFiles/BuildDevDivInsertionFiles.vb
  src/Setup/DevDivInsertionFiles/My Project/launchSettings.json
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.swr
  src/Setup/DevDivVsix/PortableFacades/PortableFacades.swr
  src/Tools/BuildBoss/BuildBoss.csproj
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
  src/Tools/BuildBoss/Program.cs
  src/Tools/BuildBoss/StructuredLoggerCheckerUtil.cs
Labels: Area-Infrastructure

#26822 Remove value that is not used in fix all.
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchSimplificationFixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/WellKnownFixAllProviders.cs
Labels: Approved to merge, Area-IDE, Community

#26851 Groovy cleanup
  build/scripts/build.ps1
  build/scripts/cibuild.cmd
Labels: Area-Infrastructure

#26744 Finalize PublicAPI.Shipped files
  src/Compilers/CSharp/Portable/PublicAPI.Shipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Shipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Shipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Infrastructure

#26803 Handle IForToLoopOperation over object in control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/SpecialTypeExtensions.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.vb
Labels: Area-Compilers, Language-VB, New Feature - Flow Analysis, New Feature - IOperation

#26845 Avoid allocating instances of LookupResult in a loop to decrease pressure on the pool in highly multi-threaded scenarios.
  src/Compilers/VisualBasic/Portable/Binding/Binder_Lookup.vb
Labels: Approved to merge, Area-Compilers, Language-VB, Tenet-Performance

#26862 Updates to our IOperation testing
  build/scripts/build.ps1
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleBinaryOperatorExpression.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
  src/Test/Utilities/Portable/Compilation/NoIOperationValidationFactAttribute.cs
  src/Test/Utilities/Portable/TestUtilities.csproj
Labels: Approved to merge, Area-Compilers, Area-Infrastructure

#25032 Moved VB tests to test emitted attributes vs source synthesized ones
  src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_Synthesized.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_Tuples.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/CompilationEmitTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/OptionalArgumentsTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/MetadataTypeTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/PE/LoadingAttributes.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/PropertyTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ExpressionCompilerTestBase.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/TupleTests.vb
Labels: Area-Compilers, Test

#26811 Add support for IAwaitOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAwaitExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26804 Add support for IEmptyOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IEmptyOperation.cs
Labels: New Feature - Flow Analysis, New Feature - IOperation

#26866 Merge remote-tracking branch 'dotnet/master' into dataflow. Bring recent changes around IOperation testing/bug fixes
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/scripts/build.ps1
  build/scripts/test-build-correctness.cmd
  build/scripts/test-build-correctness.ps1
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  netci.groovy
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleBinaryOperatorExpression.cs
  src/Compilers/Core/MSBuildTask/MSBuildTask.csproj
  src/Compilers/Core/Portable/CommandLine/CommonCommandLineArguments.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/InternalUtilities/PlatformInformation.cs
  src/Compilers/Extension/AssemblyRedirects.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Lookup.vb
  src/EditorFeatures/CSharpTest/ConvertForEachToFor/ConvertForEachToForTests.cs
  src/Features/Core/Portable/ConvertForEachToFor/AbstractConvertForEachToForCodeRefactoringProvider.cs
  src/NuGet/Microsoft.Net.Compilers.netcore.nuspec
  src/NuGet/Microsoft.Net.Compilers.nuspec
  src/Setup/DevDivInsertionFiles/BuildDevDivInsertionFiles.vb
  src/Setup/DevDivInsertionFiles/My Project/launchSettings.json
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.swr
  src/Setup/DevDivVsix/PortableFacades/PortableFacades.swr
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
  src/Test/Utilities/Portable/Compilation/NoIOperationValidationFactAttribute.cs
  src/Test/Utilities/Portable/TestUtilities.csproj
  src/Tools/BuildBoss/BuildBoss.csproj
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
  src/Tools/BuildBoss/Program.cs
  src/Tools/BuildBoss/StructuredLoggerCheckerUtil.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchSimplificationFixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/WellKnownFixAllProviders.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation, PR For Personal Review Only

#26740 Escape keywords in object initializer completion
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/ObjectInitializerCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractObjectInitializerCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ObjectInitializerCompletionProvider.vb
Labels: Approved to merge, Area-IDE, Community

#25964 Add diagnostic options to SyntaxTree
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.DebuggerSyntaxTree.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.Dummy.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.ParsedSyntaxTree.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/DeclarationTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.MockSyntaxTree.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxTreeTests.cs
  src/Compilers/Core/Portable/InternalUtilities/KeyValuePair.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Syntax/SyntaxTree.cs
  src/Compilers/Test/Utilities/VisualBasic/ParserTestUtilities.vb
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicDiagnosticFilter.vb
  src/Compilers/VisualBasic/Portable/GlobalSuppressions.vb
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxTree.DummySyntaxTree.vb
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxTree.ParsedSyntaxTree.vb
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxTree.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
  src/Compilers/VisualBasic/Test/Syntax/Syntax/SyntaxTreeTests.vb
  src/Test/Utilities/Portable/TestHelpers.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.RecoverableSyntaxTree.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.AbstractRecoverableSyntaxRoot.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxTreeFactoryService.RecoverableSyntaxTree.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxTreeFactoryService.vb
Labels: Area-Compilers

#26797 Handle symbol reference operations in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IEventReferenceOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IFieldReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IInvocationOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILocalReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IMethodReferenceOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IPropertyReferenceExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IEventReferenceOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IFieldReferenceExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IInvocationOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IMethodReferenceOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IPropertyReferenceExpression.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis

#26770 fix for CLR_EXCEPTION_System.NullReferenceException_80004003_Microsoft.VisualStudio.InteractiveWindow.dll
  src/Interactive/EditorFeatures/Core/Extensibility/Interactive/InteractiveEvaluator.cs
  src/Interactive/Features/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Features/Interactive/Core/InteractiveHost.RemoteService.cs
  src/Interactive/Features/Interactive/Core/InteractiveHost.cs
  src/Interactive/HostTest/InteractiveHostTests.cs
Labels: Approved to merge, Area-Interactive, Bug, Tenet-Reliability

#26798 Relax the requirement in WithChanges that changes be ordered
  src/Compilers/Core/CodeAnalysisTest/Text/TextChangeTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.Designer.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/Text/SourceText.cs
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Labels: Approved to merge, Area-Compilers

#23989 Updated summaries
  src/Compilers/Core/Portable/Emit/SemanticEdit.cs
  src/Compilers/Core/Portable/Symbols/TypedConstant.cs
  src/Compilers/Core/Portable/Text/SubText.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.cs
  src/EditorFeatures/Text/Shared/Extensions/TextSpanExtensions.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixContext.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.DiagnosticProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.cs
  src/Workspaces/Core/Portable/CodeRefactorings/CodeRefactoringContext.cs
Labels: Approved to merge, Area-IDE, Community, Documentation

#26857 guard us from completely failing when classification type map is mess…
  src/EditorFeatures/Core.Wpf/Completion/Presentation/ToolTipProvider.cs
  src/EditorFeatures/Core.Wpf/WpfClassificationExtensions.cs
  src/EditorFeatures/Core/Shared/Extensions/ClassificationExtensions.cs
  src/EditorFeatures/Core/Shared/Utilities/ClassificationTypeMap.cs
  src/EditorFeatures/Test2/Classification/ClassificationTests.vb
Labels: Approved to merge

#26860 Handle pattern operations in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IIsPatternExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis

#26909 Fix some test issues
  src/Tools/MicroBuild/microbuild.ps1
  src/Tools/Source/RunTests/Program.cs
Labels: Area-Infrastructure

#26903 Add control flow graph verification into IOperation test hook.
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/VisualBasic/BasicTestBase.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundAssignmentOperator.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IWhileUntilLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_TryCatch.vb
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26904 Pass /fullpaths option to compiler to get full paths in diagnostics
  build/Targets/Settings.props
Labels: Area-Infrastructure

#26853 Add installer to roslyn build
  build/Targets/Packages.props
  build/scripts/build.ps1
  src/Setup/InstallerScripts/install.bat
  src/Setup/InstallerScripts/tools/install.ps1
  src/Setup/InstallerScripts/tools/uninstall.ps1
  src/Setup/InstallerScripts/tools/utils.ps1
  src/Setup/InstallerScripts/uninstall.bat
Labels: Area-Infrastructure

#26846 Produce much better code for CInt(Fix(number))
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Portable/CodeGen/EmitConversion.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenExpression.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: 4 - In Review, Area-Compilers, Area-Performance, Language-VB

#26785 When comparing an expression to a constant, put the constant on the right.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenClosureLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenIterators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#23544 Reduce async overhead in CodeAnalysis
  src/Workspaces/Core/Portable/CaseCorrection/CaseCorrector.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/SimpleCodeCleanupProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.cs
  src/Workspaces/Core/Portable/Editing/SymbolEditor.cs
  src/Workspaces/Core/Portable/Formatting/AbstractSyntaxFormattingService.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClientExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Remote/Core/Services/SolutionService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_AddImport.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_DocumentHighlights.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_NavigateTo.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_SymbolFinder.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_TodoComments.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteSymbolSearchUpdateEngine.cs
Labels: Approved to merge, Area-IDE, Community

#26898 Add -launch flag to the build script
  build/scripts/build.ps1
Labels: Area-Infrastructure

#26949 Ordering releases (8.0 at the top, 7.1 at the bottom)
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#26885 Improve trivia handling in 'use auto property'.
  src/EditorFeatures/CSharpTest/UseAutoProperty/UseAutoPropertyTests.cs
  src/EditorFeatures/Test2/Diagnostics/UseAutoProperty/UseAutoPropertyTests.vb
  src/EditorFeatures/VisualBasicTest/UseAutoProperty/UseAutoPropertyTests.vb
  src/Features/CSharp/Portable/UseAutoProperty/CSharpUseAutoPropertyAnalyzer.cs
  src/Features/CSharp/Portable/UseAutoProperty/CSharpUseAutoPropertyCodeFixProvider.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Features/VisualBasic/Portable/UseAutoProperty/Utilities.vb
  src/Features/VisualBasic/Portable/UseAutoProperty/VisualBasicUseAutoPropertyAnalyzer.vb
  src/Features/VisualBasic/Portable/UseAutoProperty/VisualBasicUseAutoPropertyCodeFixProvider.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Approved to merge, Area-IDE, Community

#17253 Fixes #16984: Accessors not correctly indented
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartTokenFormatterFormatRangeTests.cs
  src/Workspaces/CSharp/Portable/Utilities/FormattingRangeHelper.cs
Labels: Approved to merge, Area-IDE, Community

#26925 Implement suggested refactoring.
  src/Compilers/Core/Portable/MemberDescriptor.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, Language-VB, New Feature - Flow Analysis, New Feature - IOperation

#26849 Update dotnet SDK to 2.1.300-rtm-008866
  build.sh
  build/Targets/Tools.props
  docs/contributing/Building, Debugging, and Testing on Windows.md
  global.json
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/DotNetSdkTestBase.cs
  src/Tools/ILAsm/ILAsm.csproj
Labels: Area-Infrastructure

#26815 Produce errors on emitting attributes using default constructor of structs
  src/Compilers/CSharp/Portable/Emitter/Model/AttributeDataAdapter.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/CodeGen/PermissionSetAttribute.cs
  src/Compilers/Core/Portable/PEWriter/ICustomAttribute.cs
  src/Compilers/Core/Portable/PEWriter/MetadataVisitor.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
  src/Compilers/VisualBasic/Portable/Emit/AttributeDataAdapter.vb
  src/Compilers/VisualBasic/Portable/Emit/SymbolTranslator.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.vb
Labels: Area-Compilers, Bug

#26956 VenusCommandFilter/AbstractVsTextViewFilter uses incorrect buffer whe…
  src/VisualStudio/Core/Def/Implementation/AbstractVsTextViewFilter`2.cs
  src/VisualStudio/Core/Def/Implementation/Venus/VenusCommandFilter.cs
Labels: Approved to merge, Area-IDE, Bug

#26924 Parameter Shadowing Error Fix
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers

#26918 Ensure that expression variables (improperly) declared in a case expression are captured in bound nodes.
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.cs
Labels: 4 - In Review, Area-Compilers, Bug, New Feature - Flow Analysis, New Language Feature - Pattern Matching

#26936 Handle IDelegateCreationOperation in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDelegateCreationExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IDelegateCreationExpression.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27003 Add CompilationVerifier.Dump utility method
  src/Test/Utilities/Portable/CompilationVerifier.cs
  src/Test/Utilities/Portable/TestUtilities.csproj
Labels: Area-Compilers, Test

#26710 Extract out a 'relational' section for parenthese preferences
  src/EditorFeatures/CSharpTest/AddRequiredParentheses/AddRequiredParenthesesTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/Features/Core/Portable/AbstractParenthesesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/AddRequiredParentheses/AbstractAddRequiredParenthesesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/AddRequiredParentheses/AddRequiredParenthesesCodeFixProvider.cs
  src/Features/Core/Portable/AddRequiredParentheses/AddRequiredParenthesesConstants.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Impl/Options/AbstractOptionPreviewViewModel.cs
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.Designer.vb
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.resx
  src/VisualStudio/VisualBasic/Impl/Options/StyleViewModel.vb
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.cs.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.es.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.fr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.it.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ja.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ko.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pl.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pt-BR.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ru.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.tr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hans.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/CodeFixes/SyntaxEditorBasedCodeFixProvider.FixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/SyntaxEditorBasedCodeFixProvider.cs
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
  src/Workspaces/Core/Portable/Execution/AbstractOptionsSerializationService.cs
Labels: Approved to merge, Area-IDE, Community

#26971 Add IVTs to 15.7 & 15.8 versions of RemoteLS
  src/EditorFeatures/Core/EditorFeatures.csproj
  src/EditorFeatures/Text/TextEditorFeatures.csproj
  src/Features/Core/Portable/Features.csproj
  src/VisualStudio/Core/Def/ServicesVisualStudio.csproj
  src/VisualStudio/Core/Impl/ServicesVisualStudioImpl.csproj
  src/Workspaces/Core/Portable/Workspaces.csproj
Labels: Approved to merge, Area-IDE

#26782 Consolidate positional and property patterns into one node
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/ExpressionVariableFinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PropertySubPatternCompletionProvider.cs
  src/Features/CSharp/Portable/GenerateMember/GenerateVariable/CSharpGenerateVariableService.cs
  src/Features/Core/Portable/GenerateMember/AbstractGenerateMemberService.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/CSharp/Portable/Formatting/FormattingHelpers.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/IndentBlockFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: 4 - In Review, Area-Compilers, Feature Request, New Language Feature - Pattern Matching

#26847 Handle IEventAssignmentOperation and IRaiseEventOperation in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IEventAssignmentExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IDynamicInvocationExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IEventAssignmentExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IRaiseEventStatement.vb
Labels: Area-Analyzers, Area-Compilers, Auto-Merge If Tests Pass, New Feature - Flow Analysis, New Feature - IOperation

#26984 Add Locals property to IUsingOperation
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IUsingOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Binding/Binder_Statements.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundNodes.xml
  src/Compilers/VisualBasic/Portable/Generated/BoundNodes.xml.Generated.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_Using.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IUsingStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Analyzers, Area-Compilers, Auto-Merge If Tests Pass, New Feature - Flow Analysis, New Feature - IOperation

#26943 Add support for IIsTypeOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IIsTypeExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ITypeOfExpression.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26987 Add IVT for Razor tooling assemblies
  src/VisualStudio/Core/Def/ServicesVisualStudio.csproj
  src/Workspaces/Core/Portable/Workspaces.csproj
Labels: Area-IDE

#26939 First Draft towards Razor FAR Support
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractDocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.IVsContainedLanguageFactory.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/CPS/IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.StandardTextDocument.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/IVisualStudioHostDocument.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
  src/VisualStudio/Core/Def/Implementation/Venus/DefaultDocumentServiceFactory.cs
  src/VisualStudio/Core/Def/Implementation/Venus/SimpleContainedDocument.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicLanguageService.vb
  src/VisualStudio/VisualBasic/Impl/Venus/VisualBasicContainedLanguage.vb
  src/Workspaces/Core/Portable/Workspace/Experiment/IDocumentServiceFactory.cs
  src/Workspaces/Core/Portable/Workspace/Experiment/ISpanMapper.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextLoader.cs
Labels: Area-IDE

#26955 Handle IConstructorBodyOperation and IMethodBodyOperation in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConstructorBodyOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IMethodBodyOperation.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/OperationTests.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.Region.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26970 Add missing dependency of target _BeforeVBCSCoreCompile
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
Labels: Area-Compilers

#26919 Handle ITupleBinaryOperation in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDeconstructionAssignmentOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Analyzers, Area-Compilers, Auto-Merge If Tests Pass, New Feature - Flow Analysis

#26994 Properly reflect control flow for lifted Boolean AndAlso/OrElse operators in control flow graph.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.vb
Labels: Area-Compilers, Language-VB, New Feature - Flow Analysis, New Feature - IOperation

#26921 Add TextDocument.GetText[Version]Synchronously
  src/EditorFeatures/CSharp/AutomaticCompletion/Sessions/InterpolatedStringCompletionSession.cs
  src/EditorFeatures/CSharp/AutomaticCompletion/Sessions/InterpolationCompletionSession.cs
  src/EditorFeatures/Core/Implementation/AutomaticCompletion/Extensions.cs
  src/EditorFeatures/Core/Implementation/CodeActions/CodeActionEditHandlerService.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller_Backspace.cs
  src/EditorFeatures/Core/Implementation/Peek/PeekableItemSource.cs
  src/EditorFeatures/Core/Implementation/RenameTracking/RenameTrackingTaggerProvider.RenameTrackingCommitter.cs
  src/EditorFeatures/Core/Shared/Extensions/WorkspaceExtensions.cs
  src/EditorFeatures/Core/Shared/Preview/PreviewWorkspace.cs
  src/EditorFeatures/VisualBasic/AutomaticCompletion/Sessions/InterpolatedStringCompletionSession.vb
  src/EditorFeatures/VisualBasic/AutomaticCompletion/Sessions/InterpolationCompletionSession.vb
  src/EditorFeatures/VisualBasic/NavigationBar/VisualBasicNavigationBarItemService.vb
  src/Interactive/EditorFeatures/Core/Implementation/Interactive/InteractiveDocumentNavigationService.cs
  src/VisualStudio/CSharp/Impl/EventHookup/EventHookupCommandHandler_TabKeyCommand.cs
  src/VisualStudio/CSharp/Impl/Snippets/SnippetFunctions/SnippetFunctionGenerateSwitchCases.cs
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
  src/VisualStudio/Core/Def/Implementation/Extensions/DocumentExtensions.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.VsLanguageDebugInfo.cs
  src/VisualStudio/Core/Def/Implementation/Preview/FileChange.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/SnippetFunctions/AbstractSnippetFunctionSimpleTypeName.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguageCodeSupport.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationService.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioFormattingRuleFactoryServiceFactory.cs
  src/VisualStudio/Core/Def/Utilities/IVsEditorAdaptersFactoryServiceExtensions.cs
  src/VisualStudio/Core/Impl/CodeModel/FileCodeModel.cs
  src/VisualStudio/VisualBasic/Impl/Snippets/SnippetFunctions/SnippetFunctionGenerateSwitchCases.vb
  src/VisualStudio/VisualBasic/Impl/Venus/ContainedLanguageStaticEventBinding.vb
  src/Workspaces/Core/Portable/Workspace/AdhocWorkspace.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocument.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
  src/Workspaces/Remote/Core/Services/RemoteWorkspace.cs
Labels: Approved to merge, Area-IDE

#26948 Extend CInt(Fix(x)) optimization to other whole-number-returning functions.
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenExpression.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: 4 - In Review, Area-Compilers, Language-VB

#26952 Do not offer to simplify a foreach collection initializer.
  src/EditorFeatures/CSharpTest/CodeActions/UseExplicitType/UseExplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/UseImplicitType/UseImplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseExplicitTypeHelper.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseImplicitTypeHelper.cs
Labels: Approved to merge, Area-IDE, Community

#27077 [Test only change] Fix IOperation/CFG test hook
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27024 Bump file version from 2.8.2 to 2.8.3
  build/Targets/Versions.props
Labels: Area-Infrastructure

#26697 When computing method references ignore nulls
  src/EditorFeatures/CSharpTest/CodeLens/CSharpCodeLensTests.cs
  src/EditorFeatures/VisualBasicTest/CodeLens/VisualBasicCodeLensTests.vb
  src/Features/Core/Portable/CodeLens/CodeLensReferencesService.cs
Labels: Area-IDE

#26959 Fix issue with generate-method inside a lambda.
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUseImplicitTypeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeFixes/GenerateMember/AbstractGenerateMemberCodeFixProvider.cs
  src/Features/Core/Portable/MakeFieldReadonly/AbstractMakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsServiceExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Approved to merge, Area-IDE, Community

#27096 Fix assembly binding redirection in AnalyzerRunner
  src/Tools/AnalyzerRunner/AnalyzerRunner.csproj
  src/Tools/AnalyzerRunner/app.config
Labels: Area-Infrastructure, Urgency-Now

#26757 Suggest parameter documentation tags on delegates
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/XmlDocumentationCommentCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractDocCommentCompletionProvider.cs
Labels: Area-IDE, Community

#26486 Handle expression body in PartialMethodCompletionProvider
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PartialMethodCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/CompletionUtilities.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/OverrideCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PartialMethodCompletionProvider.cs
Labels: Approved to merge, Area-IDE, Community

#26781 Updated handling of ICollectionElementInitializerOperation arguments
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
  src/Compilers/Core/Portable/Collections/BitVector.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ICollectionElementInitializerOperation.cs
  src/Compilers/Core/Portable/Operations/IDynamicInvocationOperation.cs
  src/Compilers/Core/Portable/Operations/IInvocationOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Attributes.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Invocation.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_ObjectInitializer.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Operators.vb
  src/Compilers/VisualBasic/Portable/Binding/MemberSemanticModel.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundCall.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundNodes.xml
  src/Compilers/VisualBasic/Portable/BoundTree/BoundObjectCreationExpression.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundPropertyAccess.vb
  src/Compilers/VisualBasic/Portable/CodeGen/Optimizer/StackScheduler.Analyzer.vb
  src/Compilers/VisualBasic/Portable/Generated/BoundNodes.xml.Generated.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Expressions.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter_BinaryOperator.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter_ConditionalExpresion.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter_UnaryOperator.vb
  src/Compilers/VisualBasic/Portable/Lowering/LambdaRewriter/LambdaRewriter.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperators.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_Call.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreation.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_Query.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_RaiseEvent.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_TupleLiteralExpression.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperators.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_XmlLiterals.vb
  src/Compilers/VisualBasic/Portable/Lowering/MethodToClassRewriter/MethodToClassRewriter.vb
  src/Compilers/VisualBasic/Portable/Lowering/UseTwiceRewriter.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_QueryLambdaRewriter.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/BindingCollectionInitializerTests.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - IOperation

#27046 Ensure that EventAssignmentOperation always has a non-null EventRefer…
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IEventAssignmentOperation.cs
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Utilities/VisualBasic/BasicTestBase.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IEventAssignmentExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/NewOnInterfaceTests.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
  src/Test/Utilities/Portable/Diagnostics/OperationTestAnalyzer.cs
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27082 Address few prototype comments in features/dataflow
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDeconstructionAssignmentOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILockStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#21380 Improve error messages when converting lambdas to expression trees
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Approved to merge, Area-Compilers, Community, cla-already-signed

#27070 Properly reflect control flow for user-defined logical operators in control flow graph.
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUnaryOperatorExpression.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationFactory.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/OptionalArgumentsTests.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27131 Razor FAR: Add compat overload
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/CPS/IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
Labels: Area-IDE

#27127 Fix initialization in CSharpReplIntellisense
  src/VisualStudio/Core/Def/Telemetry/ProjectTypeLookupService.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIntellisense.cs
Labels: Approved to merge, Area-Infrastructure
