Repository dotnet/roslyn, pull requests merged in 2018-06, with the labels that each got.

#26828 Fix out var behavior, including with NotNullWhenTrue/False
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundLocalDeclarationKind.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/VariablePendingInference.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.VariableIdentifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/VariablesDeclaredWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/ExtraAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonParameterWellKnownAttributeData.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#27100 Add well-known types/members for async iterators, add reference for ValueTask
  build/Targets/Packages.props
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/SignatureComparer.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Portable/Symbols/WellKnownMembers.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/Test/Utilities/Portable/Mocks/TestReferences.cs
Labels: Area-Compilers, New Feature - Async Streams

#27315 Refactoring: Renaming types, files, splitting files.
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/BasicBlock2.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.BasicBlockBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.RegionBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowRegion.cs
  src/Compilers/Core/Portable/Operations/ControlFlowRegionKind.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26165 Naming style for local functions
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests_NameDeclarationInfoTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/EditorConfigNamingStyleParserTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/NamingStylesTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/NamingStyles/NamingStylesTestOptionSets.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.DeclarationInfo.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider_BuiltInStyles.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpNamingStyleDiagnosticAnalyzer.cs
  src/VisualStudio/Core/Def/Implementation/Options/RoamingVisualStudioProfileOptionPersister.cs
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/NamingStyleOptionPageViewModel.cs
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/SymbolSpecification/SymbolSpecificationViewModel.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_SymbolSpec.cs
  src/Workspaces/Core/Portable/NamingStyles/NamingStyleRules.cs
  src/Workspaces/Core/Portable/NamingStyles/Serialization/NamingStylePreferences.cs
  src/Workspaces/Core/Portable/NamingStyles/Serialization/SymbolSpecification.cs
  src/Workspaces/Core/Portable/Simplification/SimplificationOptions.cs
  src/Workspaces/CoreTest/CodeStyle/NamingStylePreferencesUpgradeTests.cs
Labels: Approved to merge, Area-IDE, Community

#27182 Adding 'await' to ERR_IllegalStatement message
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDelegateCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDynamicMemberReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_InvalidStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DeconstructionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ExpressionBodiedMemberTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NameOfTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Scope.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ScriptSemanticsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Approved to merge, Area-Compilers, Community, Language-C#

#26612 lower interpolated strings to string concatenation where possible
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringInterpolation.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInterpolatedString.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
Labels: Approved to merge, Area-Compilers, Community

#27316 Allow passing in a workspace for a ContainedLanguage
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
Labels: Approved to merge, Area-IDE

#27363 BasicBlockBuilder overhaul and some follow-up on recent public API changes.
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/CaptureId.cs
  src/Compilers/Core/Portable/Operations/ControlFlowBranch.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.BasicBlockBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27052 Diagnostic Improvements for error #0281
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/CSharp/Test/Emit/PrivateProtected.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AccessCheckTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/BaseClassTests.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentity.DisplayName.cs
  src/Features/CSharp/Portable/AddImport/CSharpAddImportCodeFixProvider.cs
  src/Features/CSharp/Portable/AddImport/CSharpAddImportFeatureService.cs
Labels: Area-Compilers

#27376 Merge BasicBlock.Condition and BasicBlock.Value into single property BranchValue.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDiscardOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IReturnStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.BasicBlockBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.RegionBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBranchOperation.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#18455 Fixes #18240 - "Generate class ..." causes inconsistent accessibility
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/Features/CSharp/Portable/GenerateType/CSharpGenerateTypeService.cs
  src/Workspaces/CSharp/Portable/Extensions/SemanticModelExtensions.cs
Labels: Approved to merge, Area-IDE, Community, cla-already-signed

#24624 InitializeParameter refactorings support for local & anonymous functions
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceVariable/IntroduceVariableTests.vb
  src/EditorFeatures/VisualBasicTest/InitializeParameter/AddParameterCheckTests.vb
  src/Features/CSharp/Portable/InitializeParameter/CSharpAddParameterCheckCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InitializeParameter/CSharpInitializeMemberFromParameterCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InitializeParameter/InitializeParameterHelpers.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeMemberFromParameterCodeRefactoringProviderMemberCreation.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/InitializeParameter/InitializeParameterHelpers.vb
  src/Features/VisualBasic/Portable/InitializeParameter/VisualBasicAddParameterCheckCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/InitializeParameter/VisualBasicInitializeMemberFromParameterCodeRefactoringProvider.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/Extensions/ArrowExpressionClauseSyntaxExtensions.cs
  src/Workspaces/VisualBasic/Portable/Formatting/Rules/ElasticTriviaFormattingRule.vb
Labels: Approved to merge, Area-IDE, Community

#27238 Make VisualBasicAdditionalFormattingRuleLanguageService a singleton.
  src/VisualStudio/VisualBasic/Impl/Venus/VisualBasicAdditionalFormattingRuleLanguageService.vb
Labels: Approved to merge, Area-IDE, Community

#27391 Finalize handling of IPlaceholderOperation in control flow graph.
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IAggregateQueryOperation.cs
  src/Compilers/Core/Portable/Operations/IPlaceholderOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ITranslatedQueryOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/QueryExpressions.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, Language-VB, New Feature - Flow Analysis, New Feature - IOperation

#27349 Csc/Vbc Tasks should log stderr as error
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
Labels: Approved to merge, Area-Compilers

#27401 Remove language agnostic ControlFlowGraphBuilder.ConvertibleConversion
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDeconstructionAssignmentOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILockStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Operations/CommonConversion.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.ConvertibleConversion.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ILockStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IUsingStatement.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27393 Finalize handling of IObjectOrCollectionInitializerOperation in control flow graph.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27308 Support Dynamic Collection Initializers
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Latebound.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26188 Enable "prefer 'this.' qualifier" on methods.
  src/EditorFeatures/CSharpTest/QualifyMemberAccess/QualifyMemberAccessTests.cs
  src/EditorFeatures/VisualBasicTest/QualifyMemberAccess/QualifyMemberAccessTests.vb
  src/Features/CSharp/Portable/QualifyMemberAccess/CSharpQualifyMemberAccessCodeFixProvider.cs
  src/Features/CSharp/Portable/QualifyMemberAccess/CSharpQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessCodeFixprovider.cs
  src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicQualifyMemberAccessDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/QualifyMemberAccess/VisualBasicQualifyMemberAccessCodeFixProvider.vb
Labels: Approved to merge, Area-IDE, Community

#27402 Offer generate variable fixer when inside a lock statement in C#
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateVariable/GenerateVariableTests.vb
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Labels: Approved to merge, Area-IDE, Community

#25929 Use elastic crlf where applicable
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceVariable/IntroduceVariableTests.vb
  src/Features/CSharp/Portable/ConvertAutoPropertyToFullProperty/CSharpConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ImplementInterface/CSharpImplementInterfaceService.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.VisualBasicCodeGenerator.vb
  src/Features/VisualBasic/Portable/ImplementInterface/VisualBasicImplementInterfaceService.vb
  src/Features/VisualBasic/Portable/IntroduceVariable/VisualBasicIntroduceVariableService_IntroduceLocal.vb
  src/Workspaces/CSharp/Portable/Extensions/TypeDeclarationSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Utilities/UsingsAndExternAliasesOrganizer.cs
  src/Workspaces/VisualBasic/Portable/Extensions/TypeBlockSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/Utilities/ImportsOrganizer.vb
Labels: Approved to merge, Area-IDE

#27370 Handle IAnonymousObjectCreationOperation in CFG
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAnonymousObjectCreationOperation.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/AnonymousTypesSemanticsTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.ImplicitInstanceInfo.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IAnonymousObjectCreationOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ITranslatedQueryOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/AnonymousTypesTests.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27190 Make the variables constants.
  src/VisualStudio/VisualBasic/Impl/Help/HelpKeywords.vb
Labels: Approved to merge, Area-IDE, Community, Concept-Continuous Improvement

#27160 Implement GetSymbolInfo for the identifier in a property pattern.
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTestBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#27191 Upgrade Microsoft.CodeAnalysis.Analyzers version to 2.6.1
  build/Targets/Packages.props
Labels: Area-Infrastructure

#27460 Add support for ITypeParameterObjectCreationOperation to the CFG.
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITypeParameterObjectCreationTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ITypeParameterObjectCreation.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27464 Add support for IConversionOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConversionExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IConversionExpression.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27476 Add handling for NoPia object creation in control flow graph.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_INoPiaObjectCreationOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/INoPiarObjectCreationOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/VisualBasic/Portable/BoundTree/Expression.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_INoPiaObjectCreationOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IObjectCreationExpression.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IParameterReferenceExpression.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27465 add support for IDefaultValueOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDefaultValueOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27484 Revert #25047 - [SQLite] Bump and use byte[] variants added to blob_open for performance
  build/Targets/Packages.props
  src/VisualStudio/CSharp/Test/CSharpVisualStudioTest.csproj
  src/VisualStudio/Setup/VisualStudioSetup.csproj
  src/Workspaces/Core/Desktop/Workspace/SQLite/Interop/SqlConnection.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/Interop/Util.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage_DocumentSerialization.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage_ProjectSerialization.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage_SolutionSerialization.cs
Labels: Approved to merge, Area-IDE, Bug

#27506 Cache Compilation in ControlFlowGraphBuilder instance
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27477 Add documentation comments for CFG public APIs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/OperationTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.Designer.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/BasicBlockKind.cs
  src/Compilers/Core/Portable/Operations/CaptureId.cs
  src/Compilers/Core/Portable/Operations/ControlFlowBranch.cs
  src/Compilers/Core/Portable/Operations/ControlFlowBranchSemantics.cs
  src/Compilers/Core/Portable/Operations/ControlFlowConditionKind.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/Operations/ControlFlowRegion.cs
  src/Compilers/Core/Portable/Operations/ControlFlowRegionKind.cs
  src/Compilers/Core/Portable/Operations/ICaughtExceptionOperation.cs
  src/Compilers/Core/Portable/Operations/IFlowCaptureOperation.cs
  src/Compilers/Core/Portable/Operations/IFlowCaptureReferenceOperation.cs
  src/Compilers/Core/Portable/Operations/IIsNullOperation.cs
  src/Compilers/Core/Portable/Operations/IStaticLocalInitializationSemaphoreOperation.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27193 Expand persister deserialization to also take into account string and accessibility modifiers
  src/VisualStudio/Core/Def/Implementation/Options/RoamingVisualStudioProfileOptionPersister.cs
Labels: Approved to merge, Area-IDE, Community

#27475 Add support for VSMac unit test synchronization context
  src/Workspaces/Core/Portable/Utilities/ForegroundThreadDataKind.cs
Labels: Area-IDE, Community

#27508 Put some guards in place to make sure CFG builder doesn’t violate IOperation invariants while visiting malformed IOperation tree, which didn’t violate those invariants.
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27400 Add support for IInvalidOperation to control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDiscardOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_INoneOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_InvalidExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_InvalidStatement.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IOmittedArgumentOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_InvalidExpression.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_InvalidStatement.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27537 Stop NGENing System.Net.Http and dependencies
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.swr
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
Labels: Area-Compilers, Bug

#27557 Add GetLanguageService overload for binary compatibility
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
Labels: Approved to merge

#27535 Remove unused IPointerIndirectionReferenceOperation code
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IPointerIndirectionReferenceOperation.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27494 Expose SymbolFinder APIs that find source declarations based on a pattern
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder_SourceDeclarations.cs
  src/Workspaces/Core/Portable/FindSymbols/IRemoteSymbolFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Declarations_CustomQueries.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Declarations_SourceDeclarations.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/CoreTest/FindAllDeclarationsTests.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_SymbolFinder.cs
Labels: Approved to merge, Area-IDE

#27481 Update XliffTasks
  build/Targets/Packages.props
Labels: Area-Infrastructure

#26823 Simplify type names should fix all diagnostics with the same ID.
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests_FixAllTests.cs
  src/EditorFeatures/VisualBasicTest/SimplifyTypeNames/SimplifyTypeNamesTests.vb
  src/EditorFeatures/VisualBasicTest/SimplifyTypeNames/SimplifyTypeNamesTests_FixAllTests.vb
  src/Features/CSharp/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.SimplifyTypeNamesFixAllProvider.cs
  src/Features/CSharp/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.cs
  src/Features/VisualBasic/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.SimplifyTypeNamesFixAllProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.vb
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchSimplificationFixAllProvider.cs
  src/Workspaces/Core/Portable/Simplification/SimplifyTypeNameCodeAction.cs
Labels: Approved to merge, Area-IDE, Community

#27394 Fix unnecessary cast
  src/EditorFeatures/CSharpTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/CSharp/Portable/Extensions/CastExpressionSyntaxExtensions.cs
Labels: Approved to merge, Area-IDE, Community

#27498 Exclude nested captures from quick-info
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
Labels: Approved to merge, Area-IDE, Community

#27519 Finalize Object Initializer Support and Dynamic Object Creation Support
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDynamicObjectCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#23395 Fixed incorrect suggestion for object initialization simplification
  src/EditorFeatures/CSharpTest/UseObjectInitializer/UseObjectInitializerTests.cs
  src/EditorFeatures/VisualBasicTest/UseObjectInitializer/UseObjectInitializerTests.vb
  src/Features/Core/Portable/UseObjectInitializer/ObjectCreationExpressionAnalyzer.cs
  src/Features/VisualBasic/Portable/UseObjectInitializer/VisualBasicUseObjectInitializerCodeFixProvider.vb
Labels: Approved to merge, Area-IDE, Community

#26589 Strip common prefixes before applying naming suggestions
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/NamingStylesTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/NamingStyles/NamingStylesTestOptionSets.cs
  src/Features/Core/Portable/CodeFixes/NamingStyle/NamingStyleCodeFixProvider.cs
  src/Workspaces/Core/Portable/NamingStyles/NamingStyle.cs
Labels: Approved to merge, Area-IDE

#27279 Validate full path of file instead of file name in parsing /resource args
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
Labels: Approved to merge, Area-Compilers, Bug

#20795 Report conflicts when renaming a partial method definition's parameters
  src/EditorFeatures/Test2/Rename/CSharp/DeclarationConflictTests.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/DeclarationConflictTests.vb
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
Labels: Approved to merge, Area-IDE, Community, cla-already-signed

#27536 Address a number of issues with handling lambdas and local functions in Control Flow Graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAnonymousObjectCreationOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDelegateCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILocalFunctionStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITranslatedQueryOperation.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.BasicBlockBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.CaptureIdDispenser.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.Context.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.ImplicitInstanceInfo.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.RegionBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowRegion.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Binding/Binder_Statements.vb
  src/Compilers/VisualBasic/Portable/Binding/MemberSemanticModel.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IAnonymousFunctionOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IAnonymousObjectCreationOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IDelegateCreationExpression.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ITranslatedQueryOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IWithStatement.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#25876 Orchestrated build dependency uptake
  NuGet.Config
  build/Targets/Packages.props
  build/Targets/RepoToolset/Build.proj
  build/Targets/RepoToolset/BuildTasks.props
  build/Targets/RepoToolset/DefaultVersions.props
  build/Targets/RepoToolset/ProjectLayout.props
  build/Targets/RepoToolset/RepoLayout.props
  build/Targets/RepoToolset/SymStore.targets
  build/Targets/Settings.props
  build/Targets/Versions.props
  build/ToolsetPackages/RoslynToolset.csproj
  build/scripts/build-utils.ps1
  build/scripts/build.ps1
Labels: Area-Infrastructure

#27604 Refine input validation for GetLocalFunctionControlFlowGraph/GetAnonymousFunctionControlFlowGraph APIs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26495 Update "use 'is null'" analyzer to also find and offer to simplify "(object)expr == null".
  src/EditorFeatures/CSharpTest/UseIsNullCheck/UseIsNullCheckForCastAndEqualityOperatorTests.cs
  src/EditorFeatures/CSharpTest/UseIsNullCheck/UseIsNullCheckForReferenceEqualsTests.cs
  src/EditorFeatures/VisualBasicTest/UseIsNullCheck/UseIsNullCheckForReferenceEqualsTests.vb
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForCastAndEqualityOperatorCodeFixProvider.cs
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForCastAndEqualityOperatorDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForReferenceEqualsCodeFixProvider.cs
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForReferenceEqualsDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseIsNullCheck/AbstractUseIsNullForReferenceEqualsCodeFixProvider.cs
  src/Features/Core/Portable/UseIsNullCheck/AbstractUseIsNullForReferenceEqualsDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseIsNullCheck/UseIsNullConstants.cs
  src/Features/VisualBasic/Portable/UseIsNullCheck/VisualBasicUseIsNullCheckForReferenceEqualsCodeFixProvider.vb
  src/Features/VisualBasic/Portable/UseIsNullCheck/VisualBasicUseIsNullCheckForReferenceEqualsDiagnosticAnalyzer.vb
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.Designer.vb
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.resx
  src/VisualStudio/VisualBasic/Impl/Options/StyleViewModel.vb
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.cs.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.es.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.fr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.it.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ja.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ko.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pl.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pt-BR.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ru.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.tr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hans.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE, Community

#27612 Improve shape of the Control Flow Graph when throw expression is used in conditional context.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27618 Add test to address a PROTOTYPE comment.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUnaryOperatorExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27603 Address/file tracking issues for few more dataflow prototype comments
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/IAggregateQueryOperation.cs
  src/Compilers/Core/Portable/Operations/IFlowCaptureOperation.cs
  src/Compilers/Core/Portable/Operations/IFlowCaptureReferenceOperation.cs
  src/Compilers/Core/Portable/Operations/INoPiarObjectCreationOperation.cs
  src/Compilers/Core/Portable/Operations/IPatternCaseClauseOperation.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/OperationAnalyzerTests.vb
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
Labels: Area-Analyzers, Area-Compilers, Auto-Merge If Tests Pass, New Feature - Flow Analysis, New Feature - IOperation

#27605 Fix crash in GetDeconstructionInfo
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
Labels: Approved to merge, Area-Compilers

#27583 Addressed PROTOTYPE comment on VisitArray.
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27634 Remove PROTOTYPE comment already tracked by https://github.com/dotnet/roslyn/issues/27594.
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27232 Wire through editorconfig
  docs/compilers/analyzer-config.md
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/CodeAnalysisTest/EditorConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCommandLineArguments.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/CommandLine/EditorConfig.cs
  src/Compilers/Core/Portable/Diagnostic/CommonMessageProvider.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Errors/MessageProvider.vb
  src/Compilers/VisualBasic/Portable/Generated/ErrorFacts.Generated.vb
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Test/Utilities/Portable/Mocks/TestMessageProvider.cs
Labels: Area-Compilers

#19391 Avoid toggle checkbox when clicked on an option's description.
  src/VisualStudio/Core/Impl/Options/OptionPreviewControl.xaml
Labels: Approved to merge, Area-IDE, Community, cla-already-signed

#27652 When a recursive pattern has no explicit type and acts on a nullable,
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
Labels: 4 - In Review, Area-Compilers, Bug, New Language Feature - Pattern Matching

#27611 Address PROTOTYPE comments around ParenthesizedOperation and not eras…
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IBinaryOperatorExpression.vb
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27317 Suppression operator produces non-null result
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#21374 Removed text truncation logic from Introduce Variable codeaction
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.AbstractIntroduceVariableCodeAction.cs
Labels: Approved to merge, Area-IDE, Community, cla-already-signed

#27679 Adding a backwards compatbile constructor to ContainedLanguage for Tyepscript
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
Labels: Approved to merge

#27280 EditorConfig full refresh
  build/Targets/Packages.props
  src/EditorFeatures/Core.Wpf/EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider.Ide.cs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider.cs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProviderFactory.cs
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFormatting.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/VisualStudioWorkspace_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownCommandNames.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
  src/Workspaces/Remote/Core/RemoteWorkspaces.csproj
  src/Workspaces/Remote/Core/Services/Options/FileWatcher.cs
  src/Workspaces/Remote/Core/Services/RemoteWorkspace.cs
  src/Workspaces/Remote/Core/Services/RoslynServices.cs
  src/Workspaces/Remote/Core/Services/TemporaryWorkspaceOptionsServiceFactory.cs
Labels: Approved to merge, Area-IDE

#27561 Fix memory leak in EditorConfigDocumentOptionsProvider
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider.cs
Labels: Approved to merge, Area-IDE

#27626 Fix #26358: AbstractDocumentationCommentCommandHandler has hardcoded Windows line ending
  src/EditorFeatures/CSharpTest/DocumentationComments/DocumentationCommentTests.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/TestUtilities/DocumentationComments/AbstractDocumentationCommentTests.cs
Labels: Approved to merge, Area-IDE

#27461 TryParse API for language version no longer an extension method
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  docs/compilers/Visual Basic/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Compilers/CSharp/Portable/PublicAPI.Shipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Portable/LanguageVersion.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpParseOptionsService.cs
Labels: Approved to merge, Area-Compilers, Area-IDE

#26551 Fix for #2128 (Outlining cuts off closing } )
  src/EditorFeatures/Core.Wpf/IWpfTextViewExtensions.cs
Labels: Approved to merge, Area-IDE, Community

#26512 Raise events when connecting or disconnecting from a workspace for semantic changed
  src/EditorFeatures/Core/Shared/Tagging/EventSources/TaggerEventSources.SemanticChangedEventSource.cs
Labels: Approved to merge, Area-IDE

#27283 Handle anonymous method conversions in NullableWalker
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.VariableIdentifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPassBase.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#27313 Implement AssertsTrue/AssertsFalse
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Symbols/ExtraAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/FlowAnalysisAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceClonedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ThisParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonParameterWellKnownAttributeData.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#27736 Merge nullable reference type tests into single class and file
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_Members.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#20154 Add an async test case for a try/finally with an uncaught exception
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Labels: Area-Compilers, Community

#27589 Emit [Nullable] for implemented interfaces
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/TypeParameterSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Emitter/NoPia/EmbeddedType.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/TupleTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Test/Utilities/Portable/Metadata/MetadataReaderUtils.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#27690 Recommend 'this' inside local functions
  src/EditorFeatures/CSharpTest2/Recommendations/ThisKeywordRecommenderTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Approved to merge, Area-IDE

#27721 Create a spec-let to track decisions around nullable reference types
  docs/features/nullable-reference-types.md
Labels: Area-Compilers, Documentation, New Language Feature - Nullable Reference Types

#27753 Deal with PROTOTYPE comments in the patterns prototype
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDiscardPattern.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/IRecursivePatternOperation.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/WhenKeywordRecommenderTests.cs
Labels: Area-Compilers, Feature Request, New Language Feature - Pattern Matching

#27785 Include top-level nullability in ToTestDisplayString() test helper
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/Test/Utilities/CSharp/SymbolUtilities.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#27744 Trap all exceptions from the IVsFileChange service
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeTracker.cs
Labels: Approved to merge, Area-IDE

#27787 Change compiler NuGet licenses to redistributable.
  src/NuGet/Microsoft.CodeAnalysis.Compilers.nuspec
  src/NuGet/Microsoft.NETCore.Compilers.nuspec
  src/NuGet/Microsoft.Net.Compilers.nuspec
Labels: Area-Compilers, Area-Infrastructure

#27778 Remove EditorFeatures dependency to ImageCatalog
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
  src/EditorFeatures/Test/AssemblyReferenceTests.cs
Labels: Approved to merge, Area-IDE

#27718 do not cancel pending incremental parsing request
  src/Features/Core/Portable/Workspace/BackgroundParser.cs
Labels: Approved to merge

#27650 Make ShadowCopyAnalyzerAssemblyLoader threadsafe
  src/Compilers/Shared/ShadowCopyAnalyzerAssemblyLoader.cs
Labels: Approved to merge, Area-Compilers, Area-IDE

#27030 ToBadExpression() checking incorrect HasAnyErrors API
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#27763 Reporting errors on foreach ref/readonly declarations in async/iterator methods
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#27803 Copy escape scope of pattern locals from source expressions
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/PatternSwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#27839 Replace a hard crash with an NFW
  src/VisualStudio/Core/Def/Implementation/TableDataSource/TableItem.cs
Labels: Approved to merge, Area-IDE, Auto-Merge If Tests Pass

#27738 move some GetServices from constructor into CreateEditorInstance()
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpEditorFactory.cs
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicEditorFactory.vb
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
Labels: Approved to merge

#27424 Fixed error messages around fixed fields
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#27833 move off UI thread in option changed event handler
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
Labels: Approved to merge, Area-IDE

#26106 Fix possible stack overflow in IntegrationHelper (#25313)
  src/VisualStudio/IntegrationTest/TestUtilities/IntegrationHelper.cs
Labels: Area-IDE, Community

#27944 Revert "Fixed error messages around fixed fields (#27424)"
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Area-Compilers, Bug

#27931 Disable NuGet restore in the IDE
  NuGet.Config
Labels: Contributor Pain

#27809 Use a pattern-specific diagnostic for pointer types.
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTestBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, Bug, Concept-Diagnostic Clarity, New Language Feature - Pattern Matching

#27774 Make AnalyzerDependencyCheckingService thread safe
  src/VisualStudio/Core/Def/Implementation/AnalyzerDependency/AnalyzerDependencyChecker.cs
  src/VisualStudio/Core/Def/Implementation/AnalyzerDependency/AnalyzerDependencyCheckingService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject_Analyzers.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectTracker.cs
  src/VisualStudio/Core/Test/AnalyzerSupport/AnalyzerDependencyCheckerTests.vb
Labels: Approved to merge, Area-IDE

#27641 Add convenience APIs to get control flow graph
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/OperationTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.Designer.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContextHelpers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticStartAnalysisScope.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationExtensions.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers, Auto-Merge If Tests Pass, New Feature - Flow Analysis, New Feature - IOperation

#27898 Cleaner test accessor
  src/Features/Core/Portable/CodeFixes/FixAllOccurrences/FixSomeCodeAction.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
Labels: Approved to merge

#27331 Fix handling of unrecognized naming style values
  .editorconfig
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests_NameDeclarationInfoTests.cs
  src/EditorFeatures/CSharpTest/ConvertAutoPropertyToFullProperty/ConvertAutoPropertyToFullPropertyTests_OptionSets.cs
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/EditorConfigNamingStyleParserTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/NamingStylesTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/NamingStyles/NamingStylesTestOptionSets.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.DeclarationInfo.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider_BuiltInStyles.cs
  src/Features/CSharp/Portable/ConvertAutoPropertyToFullProperty/CSharpConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpNamingStyleDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/NamingStyleDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicNamingStyleDiagnosticAnalyzer.vb
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/SymbolSpecification/SymbolSpecificationViewModel.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_SymbolSpec.cs
  src/Workspaces/Core/Portable/NamingStyles/Serialization/AccessibilityExtensions.cs
  src/Workspaces/Core/Portable/NamingStyles/Serialization/SymbolSpecification.cs
Labels: Approved to merge, Area-IDE

#24763 Bug fixes and improvements to UseLocalFunction
  src/EditorFeatures/CSharpTest/UseLocalFunction/UseLocalFunctionTests.cs
  src/Features/CSharp/Portable/UseLocalFunction/CSharpUseLocalFunctionCodeFixProvider.cs
  src/Features/CSharp/Portable/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE, Community

#27977 Move basic test utilities to netstandard1.3
  src/Compilers/Test/Utilities/VisualBasic/BasicCompilerTestUtilities.vbproj
  src/Compilers/Test/Utilities/VisualBasic/Extensions.vb
  src/Compilers/Test/Utilities/VisualBasic/MockVbi.vb
  src/Compilers/Test/Utilities/VisualBasic/MockVisualBasicCompiler.vb
  src/Compilers/Test/Utilities/VisualBasic/VBParser.vb
  src/Test/Utilities/Portable/Compilation/RuntimeUtilities.cs
  src/Test/Utilities/Portable/Platform/Custom/OSVersion.cs
  src/Test/Utilities/Portable/Platform/Desktop/ConditionalFactAttribute.cs
Labels: Area-Compilers

#27758 Add exception handling for erasing XML stream
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, Bug

#26825 Move to using hte SyntaxEditor for the 'simplify type name' fix-all code.
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/EditorFeatures/VisualBasicTest/SimplifyTypeNames/SimplifyTypeNamesTests.vb
  src/Features/CSharp/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.SimplifyTypeNamesFixAllProvider.cs
  src/Features/CSharp/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/SimplifyTypeNames/AbstractSimplifyTypeNamesCodeFixProvider.cs
  src/Features/VisualBasic/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.SimplifyTypeNamesFixAllProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.vb
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicSimplifyTypeNamesDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.vb
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchSimplificationFixAllProvider.cs
  src/Workspaces/Core/Portable/Simplification/SimplifyTypeNameCodeAction.cs
Labels: Approved to merge, Area-IDE, Community

#27939 Reduce the default severity of preferring conditional expressions
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
Labels: Approved to merge, Area-IDE

#27934 Integration test stability improvements
  src/VisualStudio/IntegrationTest/TestUtilities/AutomationElementExtensions.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Helper.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc_NavigationBar.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InProcComponent.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ObjectBrowserWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ReflectionExtensions/ObjectExtensions.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/ChangeSignatureDialog_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/ObjectBrowserWindow_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstance.cs
Labels: Area-IDE

#27884 update UI text strings for code cleanup setting
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/Features/CSharp/Portable/CodeCleanup/CSharpCodeCleanupService.cs
  src/Features/Core/Portable/CodeCleanup/CodeCleanupOptions.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE

#26981 Use Microsoft.SourceLink.GitHub package
  build/Targets/GenerateAssemblyInfo.targets
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/Targets/RepoToolset/GitHash.props
  build/Targets/RepoToolset/SourceLink.targets
  build/Targets/RepoToolset/Workarounds.targets
  build/Targets/Settings.props
  build/Targets/SourcePackage.targets
  build/Targets/Versions.props
  build/scripts/build.ps1
  build/scripts/test-determinism.ps1
  src/Compilers/CSharp/Portable/CSharpCodeAnalysis.csproj
  src/Compilers/CSharp/Test/CommandLine/CSharpCommandLineTest.csproj
  src/Compilers/VisualBasic/Portable/BasicCodeAnalysis.vbproj
  src/Compilers/VisualBasic/Test/CommandLine/BasicCommandLineTest.vbproj
  src/NuGet/Microsoft.CodeAnalysis.Build.Tasks.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.CodeStyle.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.Features.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.Scripting.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.Workspaces.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Common.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Compilers.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Debugging.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.Text.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.Wpf.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Features.nuspec
  src/NuGet/Microsoft.CodeAnalysis.PooledObjects.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Remote.Razor.ServiceHub.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Remote.ServiceHub.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Remote.Workspaces.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Scripting.Common.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Scripting.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.Features.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.Scripting.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.Workspaces.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Workspaces.Common.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Workspaces.MSBuild.nuspec
  src/NuGet/Microsoft.CodeAnalysis.nuspec
  src/NuGet/Microsoft.NETCore.Compilers.nuspec
  src/NuGet/Microsoft.Net.CSharp.Interactive.netcore.nuspec
  src/NuGet/Microsoft.Net.Compilers.nuspec
  src/NuGet/Microsoft.VisualStudio.IntegrationTest.Utilities.nuspec
  src/NuGet/Microsoft.VisualStudio.LanguageServices.Razor.RemoteClient.nuspec
  src/NuGet/Microsoft.VisualStudio.LanguageServices.nuspec
  src/NuGet/NuGetProjectPackUtil.csproj
Labels: Area-Infrastructure

#27978 Run VB Syntax tests on CoreClr
  src/Compilers/VisualBasic/Test/Syntax/BasicCompilerSyntaxTest.vbproj
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDirectives.vb
  src/Compilers/VisualBasic/Test/Syntax/Syntax/SyntaxFactsTest.vb
Labels: Area-Compilers

#27933 Avoid producing a new tag tree for buffers that aren't part of the SpansToTag
  src/EditorFeatures/Core/Shared/Tagging/Utilities/TagSpanIntervalTree.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
Labels: Approved to merge, Area-IDE, Area-Infrastructure, Urgency-Now

#27994 Use a synthesized local for the lockTaken parameter and create a region for it
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILockStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ILockStatement.vb
Labels: Approved to merge, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27962 Update 'use conditional expression' to work for 'yield' statements.
  src/EditorFeatures/CSharpTest/UseConditionalExpression/UseConditionalExpressionForReturnTests.cs
  src/EditorFeatures/VisualBasicTest/UseConditionalExpression/UseConditionalExpressionForReturnTests.vb
  src/Features/Core/Portable/UseConditionalExpression/ForReturn/AbstractUseConditionalExpressionForReturnCodeFixProvider.cs
  src/Features/Core/Portable/UseConditionalExpression/ForReturn/UseConditionalExpressionForReturnHelpers.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
  src/Workspaces/VisualBasicTest/CodeGeneration/SyntaxGeneratorTests.vb
Labels: Approved to merge, Area-IDE, Community

#27267 Fix a build warning related to an unused event that implements an interface event
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider.EmptyCodingConventionContext.cs
Labels: Approved to merge, Area-IDE, Concept-Continuous Improvement

#27966 Fix target instance selection for integration tests run from test explorer
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Approved to merge, Area-Infrastructure, Contributor Pain

#27865 Implement INavigateToItemProvider2 with filtering
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Searcher.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.Remote.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/IRemoteNavigateToSearchService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_NavigateTo.cs
Labels: Approved to merge, Area-IDE

#27920 Check for invalid file paths in ContainsChildrenGraphQuery
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/ContainsChildrenGraphQuery.cs
  src/VisualStudio/Core/Test/Progression/ContainsChildrenGraphQueryTests.vb
Labels: Approved to merge, Area-IDE

#26578 Simplify impl of 'prefer predefined type'
  src/EditorFeatures/VisualBasicTest/Diagnostics/PreferFrameworkType/PreferFrameworkTypeTests_FixAllTests.vb
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpPreferFrameworkTypeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeFixes/PreferFrameworkType/PreferFrameworkTypeCodeFixProvider.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/PreferFrameworkTypeDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicPreferFrameworkTypeDiagnosticAnalyzer.vb
Labels: Approved to merge, Area-IDE, Community

#28016 Make "Roslyn" default setup project
  Roslyn.sln
Labels: Approved to merge, Area-IDE, Contributor Pain

#28030 Enable C# semantic tests on CoreClr
  build/scripts/tests.sh
  src/Compilers/CSharp/Test/Semantic/CSharpCompilerSemanticTest.csproj
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/StructTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IArgument.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Properties/launchSettings.json
  src/Compilers/CSharp/Test/Semantic/Semantics/ArglistTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NamedAndOptionalTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NonTrailingNamedArgumentsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/QueryTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ScriptSemanticsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StructsTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers

#28037 Rename KeyValuePair
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/GotoTest.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/LoadDirectiveTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/CompilationWithAnalyzersTests.cs
  src/Compilers/Core/CodeAnalysisTest/SourceFileResolverTest.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DocumentationComments/DocumentationCommentIncludeCache.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DefinitionMap.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DeltaMetadataWriter.cs
  src/Compilers/Core/Portable/InternalUtilities/KeyValuePairUtil.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataHelpers.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentityMap.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.State.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Invocation.vb
  src/Compilers/VisualBasic/Portable/Compilation/SemanticModel.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Portable/VisualBasicParseOptions.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/MyTemplateTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/CompilationEventTests.vb
  src/Compilers/VisualBasic/Test/Semantic/FlowAnalysis/RegionAnalysisTests.vb
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDirectives.vb
  src/EditorFeatures/CSharpTest/Semantics/SpeculationAnalyzerTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerService.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/DeclaratorMapDescription.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/VisualBasicEditAndContinueAnalyzerTests.vb
  src/EditorFeatures/VisualBasicTest/Semantics/SpeculationAnalyzerTests.vb
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/PDB/MethodDebugInfo.Native.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageFixAllCodeAction.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
  src/Scripting/CSharpTest.Desktop/CsiTests.cs
  src/Scripting/CSharpTest/ScriptTests.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VsENCRebuildableProjectImpl.cs
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProjectOptionsHelper.vb
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.DiagnosticProvider.cs
  src/Workspaces/Core/Portable/Execution/AbstractOptionsSerializationService.cs
  src/Workspaces/Core/Portable/SemanticModelWorkspaceService/SemanticModelWorkspaceServiceFactory.cs
  src/Workspaces/Core/Portable/Utilities/BidirectionalMap.cs
  src/Workspaces/Core/Portable/Workspaces.csproj
  src/Workspaces/CoreTest/Differencing/MatchTests.cs
  src/Workspaces/VisualBasic/Portable/Execution/VisualBasicOptionsSerializationService.vb
Labels: Area-Infrastructure

#26230 Avoid stealing focus from the active output window pane
  src/VisualStudio/Core/Def/Implementation/Workspace/WorkspaceFailureOutputPane.cs
Labels: Approved to merge, Area-IDE

#28005 Fix bugs related to IAnonymousObjectCreationOperation
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAnonymousObjectCreationOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/AnonymousTypesSemanticsTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IAnonymousObjectCreationOperation.cs
  src/Compilers/Core/Portable/Operations/InstanceReferenceKind.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IAnonymousObjectCreationOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IParameterReferenceExpression.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ITranslatedQueryOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IWithStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/AnonymousTypesTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/QueryExpressions.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/QueryExpressions_LookupSymbols.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/QueryExpressions_SemanticModel.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#27919 Don't push an empty batch of projects
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectTracker.cs
Labels: Approved to merge, Area-IDE

#28072 Resolve function to native offset uint.MaxValue
  src/ExpressionEvaluator/Core/Source/FunctionResolver/FunctionResolver.cs
Labels: Approved to merge, Interactive-Debugging

#27973 Stop calling IVsHerarchy.ParseCanonicalName if we don't need it
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject_Analyzers.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.StandardTextDocument.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Extensions/IVsHierarchyExtensions.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/IVisualStudioHostProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/Xaml/Impl/Implementation/XamlTextViewCreationListener.cs
Labels: Approved to merge, Area-IDE

#28082 Test alias to forwarded type
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/TypeForwarders.cs
Labels: Area-Compilers, Test

#27989 Correct doc about Equivalence Key
  docs/analyzers/FixAllProvider.md
Labels: Approved to merge, Area-IDE

#28085 Move to new MSBuild drop
  build/Targets/Packages.props
  build/scripts/build-utils.ps1
Labels: Area-Infrastructure

#28101 Unskip test for fixed IOperation issue
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IObjectCreationExpression.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - IOperation

#28084 Remove testoperationvisitor workaround now that bug is fixed.
  src/Compilers/VisualBasic/Test/Semantic/Semantics/ConditionalAccessTests.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Approved to merge, Area-Compilers

#27411 bug fix: don't optimize interpolations when in an expression lambda
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringInterpolation.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInterpolatedString.cs
Labels: 4 - In Review, Approved to merge, Area-Compilers, Bug, Community

#27922 Expose IOperation.SemanticModel
  src/Compilers/CSharp/Portable/Compilation/AttributeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/InitializerSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.SpeculativeMemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SpeculativeSyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IOperation.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationExtensions.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/VisualBasic/BasicTestBase.vb
  src/Compilers/VisualBasic/Portable/Binding/AttributeSemanticModel.vb
  src/Compilers/VisualBasic/Portable/Binding/InitializerSemanticModel.vb
  src/Compilers/VisualBasic/Portable/Binding/MemberSemanticModel.vb
  src/Compilers/VisualBasic/Portable/Binding/MethodBodySemanticModel.vb
  src/Compilers/VisualBasic/Portable/Binding/SpeculativeMemberSemanticModel.vb
  src/Compilers/VisualBasic/Portable/Compilation/SyntaxTreeSemanticModel.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/MethodBodyBindingTests.vb
  src/Test/Utilities/Portable/CommonTestBase.cs
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/SemanticModelExtensions.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
  src/Test/Utilities/Portable/Diagnostics/OperationTestAnalyzer.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#28081 Use System.Runtime.Loader light-up package
  build/Targets/Packages.props
  build/ToolsetPackages/RoslynToolset.csproj
  src/NuGet/NuGetProjectPackUtil.csproj
  src/Scripting/Core/Scripting.csproj
Labels: Area-Infrastructure

#28103 Visit local function bodies in NullableWalker
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#27582 Added 15.8-preview3 builds to README
  README.md
Labels: Area-Infrastructure

#28105 Handle Nullable<T> in AsNotNullableReferenceType()
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28107 Infrastructure misc changes
  build/Targets/Imports.targets
  build/Targets/Tools.props
Labels: Area-Infrastructure

#28079 Add ControlFlowGraph.Create overload that takes syntax and semantic m…
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/OperationTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContextHelpers.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Labels: Approved to merge, Area-Analyzers, Area-Compilers, Auto-Merge If Tests Pass, New Feature - Flow Analysis, New Feature - IOperation

#27992 Targets refactoring
  build/Targets/GetProjectsReferencingProjectJsonFiles.targets
  build/Targets/GetProjectsReferencingProjectJsonFilesEntryPoint.targets
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/Targets/RepoToolset/OptimizationData.targets
  build/Targets/RepoToolset/RepositoryInfo.targets
  build/Targets/RepoToolset/Workarounds.targets
  build/Targets/Roslyn.Toolsets.Xunit.targets
  build/Targets/VisualStudio.targets
  src/Tools/MicroBuild/PublishBlobAssets.proj
  src/VisualStudio/Core/Test.Next/VisualStudioTest.Next.csproj
  src/VisualStudio/Core/Test/ServicesVisualStudioTest.vbproj
  src/VisualStudio/TestUtilities2/VisualStudioTestUtilities2.vbproj
Labels: Area-Infrastructure

#27802 servicing fix for CLR_EXCEPTION_System.NullReferenceException_80004003_Microsoft.VisualStudio.InteractiveWindow.dll into dev15.7
  src/Interactive/EditorFeatures/Core/Extensibility/Interactive/InteractiveEvaluator.cs
  src/Interactive/Features/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Features/Interactive/Core/InteractiveHost.RemoteService.cs
  src/Interactive/Features/Interactive/Core/InteractiveHost.cs
  src/Interactive/HostTest/InteractiveHostTests.cs
Labels: Approved to merge, Area-Interactive, Bug, Tenet-Reliability

#27929 Change goldbar text for updating keyboard bindings
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE

#28144 Assert that IArrayInitializationOperation.Type is always null in test visitors
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Analyzers, Area-Compilers, New Feature - IOperation

#28108 Bind goto case expression even in presence of errors
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_InvalidStatement.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers, New Feature - IOperation

#28136 Update branches for target-typed-new and caller-expression
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#28063 Enable VB emit tests on CoreClr
  build/scripts/tests.sh
  src/Compilers/CSharp/Test/Emit/PDB/PDBEmbeddedSourceTests.cs
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.vb
  src/Compilers/VisualBasic/Test/Emit/BasicCompilerEmitTest.vbproj
  src/Compilers/VisualBasic/Test/Emit/CodeGen/AnonymousTypesCodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenConstLocal.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenExpression.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenLateBound.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenMultiDimensionalArray.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenNullable.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenRefReturnTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenUnstructuredErrorHandling.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenWithBlock.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/FieldInitializerTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/OptionalArgumentsTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/ResourceTests.vb
  src/Compilers/VisualBasic/Test/Emit/EmitResourceUtil.vb
  src/Compilers/VisualBasic/Test/Emit/ErrorHandling.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/CodeGenExprLambda.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/ExpTreeTestResources.Designer.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/ExpTreeTestResources.resx
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/ExpTreeTestResources.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBEmbeddedSourceTests.vb
  src/Compilers/VisualBasic/Test/Emit/Resource.Designer.vb
  src/Compilers/VisualBasic/Test/Emit/Resource.resx
  src/Compilers/VisualBasic/Test/Emit/Semantics/StaticLocalsSemanticTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OptionalArgumentTests.vb
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers

#28137 Added null-coalescing-assignment to the C# 8 feature status.
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#28159 Enable VB semantic tests on CoreClr
  build/Targets/Packages.props
  build/scripts/tests.sh
  src/Compilers/VisualBasic/Test/Semantic/BasicCompilerSemanticTest.vbproj
  src/Compilers/VisualBasic/Test/Semantic/Binding/Binder_Expressions_Tests.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/Binder_Statements_Tests.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/ImplicitVariableTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/MyTemplateTests.vb
  src/Compilers/VisualBasic/Test/Semantic/HasValidFonts.vb
  src/Compilers/VisualBasic/Test/Semantic/Resource.Designer.vb
  src/Compilers/VisualBasic/Test/Semantic/Resource.resx
  src/Compilers/VisualBasic/Test/Semantic/SemanticResourceUtil.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/AsyncAwait.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/BinaryOperators.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/CompoundAssignment.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/Conversions.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/MethodCalls.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OverloadResolution.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/QueryExpressions.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/TooLongNameTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/UnstructuredExceptionHandling.vb
Labels: Area-Compilers

#28034 Fix breaking change in fixed AddressOf expressions
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#28147 Merge identical branches in rewrite of Nullable Binary Conditional Operator for CFG
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IBinaryOperatorExpression.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.vb
Labels: Approved to merge, Area-Compilers, New Feature - Flow Analysis
