Repository dotnet/roslyn, pull requests merged in 2018-02, with the labels that each got.

#24489 Don't freeze compilation when getting diagnostics for a single tree
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/GetDiagnosticsTests.cs
Labels: Area-Compilers, Bug

#24706 Improve error tolerance when parsing invalid implicit arrays.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ArrayCreationAndInitializer.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Area-Compilers, Concept-Diagnostic Clarity

#24757 Remove dependency on Microsoft.VisualStudio.Text.UI.Wpf
  src/EditorFeatures/Core/EditorFeatures.csproj
  src/EditorFeatures/VisualBasic/BasicEditorFeatures.vbproj
  src/EditorFeatures/VisualBasic/LineCommit/CommitConnectionListener.vb
Labels: Approved to merge

#24700 Notify the remote workspace of working folder paths in the background
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.WorkspaceHost.cs
Labels: Approved to merge

#24673 added a way to specify ordering of Document/ProjectDiagnosticAnalyzers
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/DocumentDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/ProjectDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.HostStates.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
Labels: Approved to merge

#24766 Use machine mono install
  build/scripts/docker/Dockerfile
  build/scripts/obtain_mono.sh
  build/scripts/tests.sh
Labels: Area-Infrastructure

#24724 added [Obsolete] to legacy waiter/listener API.
  src/Features/Core/Portable/Shared/TestHooks/Legacy/AggregateAsynchronousOperationListener.cs
  src/Features/Core/Portable/Shared/TestHooks/Legacy/AsynchronousOperationListener.cs
  src/Features/Core/Portable/Shared/TestHooks/Legacy/FeatureAttribute.cs
  src/Features/Core/Portable/Shared/TestHooks/Legacy/FeatureMetadata.cs
  src/Test/Diagnostics/Waiters_Legacy/WaiterBase.cs
  src/Test/Diagnostics/Waiters_Legacy/Waiters.cs
Labels: Approved to merge

#24785 Update Language Feature Status for 7.3 and 8.0
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#19541 Create and thread through an options API into the compiler
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Compilation/CompilationOptions.cs
  src/Compilers/Core/Portable/Options/EditorConfigFileOptionsProvider.cs
  src/Compilers/Core/Portable/Options/FileOptionsManager.cs
  src/Compilers/Core/Portable/Options/FileOptionsProvider.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/VisualBasicCompilationOptions.vb
Labels: Area-Compilers, cla-already-signed

#24808 Fixing a typo
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Approved to merge

#24770 Handle Try/Catch/Finally in flow graph, expose lifetime of locals and tree of regions in the graph.
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBlock.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ICompoundAssignmentOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUnaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IWhileUntilLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.Region.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.RegionBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ICaughtExceptionOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ICompoundAssignmentOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IWhileUntilLoopStatement.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#24783 Enable TestPreviewDiagnosticTaggerInPreviewPane
  src/EditorFeatures/Core/Shared/Preview/PreviewSolutionCrawlerRegistrationService.cs
  src/EditorFeatures/Test/Preview/PreviewWorkspaceTests.cs
Labels: Approved to merge

#24693 Add null check for textSnapshot
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.cs
Labels: Approved to merge

#24721 Keep track of the associated text snapshot when diagnotsics are created.
  src/EditorFeatures/Core/Implementation/Diagnostics/AbstractDiagnosticsTaggerProvider.cs
Labels: Approved to merge

#24524 Ensure modreq must exist on PE symbols that C# compiler expects them to have
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/LoadInAttributeModifier.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Readonly References

#24753 Skipping PasteCommandWithInteractiveFormatAsBoxCopy test
  src/EditorFeatures/Test2/InteractivePaste/InteractivePasteCommandHandlerTests.vb
Labels: Disabled Test, Flaky

#24755 Skipping ProjectionBuffersWork test
  src/EditorFeatures/Test2/NavigationBar/NavigationBarPresenterTests.vb
Labels: Disabled Test, Flaky

#24748 Fix command handler cancellation
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.FormatDocument.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.ReturnKey.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.TypeChar.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.cs
Labels: Approved to merge

#24796 Allow replacement in !expr if it doesn't affect type
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/CSharp/Portable/Utilities/SpeculationAnalyzer.cs
Labels: Approved to merge, Area-IDE

#24573 Report non-fatal errors if projects are removed that are referenced
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
Labels: Approved to merge

#24812 Respect current Environment.NewLine in MSBuild task
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/Vbc.cs
Labels: Approved to merge

#24161 GetHashCode code generator should produce code that doesn't overflow in checked mode.
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_Create.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlCreation.cs
  src/EditorFeatures/VisualBasicTest/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.vb
  src/Features/CSharp/Portable/GenerateEqualsAndGetHashCodeFromMembers/CSharpGenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/FormatLargeBinaryExpressionRule.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndHashWithDialogCodeAction.cs
  src/Features/VisualBasic/Portable/GenerateEqualsAndGetHashCodeFromMembers/VisualBasicGenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.Designer.vb
  src/Workspaces/Core/Portable/Shared/Extensions/ICodeDefinitionFactoryExtensions_CreateGetHashCodeMethod.cs
  src/Workspaces/VisualBasic/Portable/Extensions/ParenthesizedExpressionSyntaxExtensions.vb
Labels: Approved to merge

#24173 Suppress 'IDE0041 Null check can be simplified' for unconstraint generic parameters.
  src/EditorFeatures/CSharpTest/UseIsNullCheck/UseIsNullCheckTests.cs
  src/EditorFeatures/VisualBasicTest/UseIsNullCheck/UseIsNullCheckTests.vb
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckCodeFixProvider.cs
  src/Features/Core/Portable/UseIsNullCheck/AbstractUseIsNullCodeFixProvider.cs
  src/Features/Core/Portable/UseIsNullCheck/AbstractUseIsNullDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/UseIsNullCheck/VisualBasicUseIsNullCheckCodeFixProvider.vb
Labels: Approved to merge, Community

#24496 Fix CSharpFormattingOptions csharp_space_around_binary_operators key
  src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.cs
Labels: Approved to merge, Community

#22114 Class view should show nested private types if source code is available.
  src/VisualStudio/Core/Def/Implementation/Library/ObjectBrowser/AbstractListItemFactory.cs
  src/VisualStudio/Core/Test/ObjectBrowser/AbstractObjectBrowserTests.vb
  src/VisualStudio/Core/Test/ObjectBrowser/CSharp/ObjectBrowerTests.vb
  src/VisualStudio/Core/Test/ObjectBrowser/Helpers.vb
  src/VisualStudio/Core/Test/ObjectBrowser/VisualBasic/ObjectBrowerTests.vb
Labels: Area-IDE, Community, cla-already-signed

#23551 Simplified using directive comparer
  src/Workspaces/CSharp/Portable/Utilities/UsingsAndExternAliasesDirectiveComparer.cs
Labels: Community

#24854 Set ChecksumAlgorithm to SHA256
  build/Targets/Settings.props
Labels: Approved to merge

#24751 first refactoring to add connection pool
  src/Features/Core/Portable/DesignerAttributes/AbstractDesignerAttributeService.cs
  src/Features/Core/Portable/DesignerAttributes/IRemoteDesignerAttributeService.cs
  src/Features/Core/Portable/TodoComments/AbstractTodoCommentService.cs
  src/Features/Core/Portable/TodoComments/IRemoteTodoCommentService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcConnection.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostOptions.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.ConnectionManager.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.Connections.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.PooledConnection.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostSessionHelpers.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_DesignerAttributes.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_TodoComments.cs
Labels: Approved to merge

#24870 Add telemetry for when projects are created/pushed/etc
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
Labels: Approved to merge

#24848 Skipping TestRegionCompletionCommitFormatting test
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Projections.vb
Labels: Disabled Test, Flaky

#24795 Skipping TestSelection test
  src/EditorFeatures/Test2/FindReferences/FindReferencesCommandHandlerTests.vb
Labels: Disabled Test, Flaky

#24851 Skipping PasteCommandWithOutInteractiveFormat test
  src/EditorFeatures/Test2/InteractivePaste/InteractivePasteCommandHandlerTests.vb
Labels: Disabled Test, Flaky

#24492 Override completion with in parameter should omit IsReadOnly attribute
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_IsByRefLike.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_ReadOnlyStruct.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_RefReadOnly.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/InAttributeModifierTests.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/CompilationEmitTests.vb
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/Test/Utilities/Portable/CommonTestBase.cs
  src/Test/Utilities/Portable/Metadata/MetadataReaderUtils.cs
Labels: Approved to merge, Area-Compilers, Area-IDE

#24761 Permit selecting an instance from a type in a sub-expression in nameof(...)
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NameOfTests.cs
  src/Compilers/VisualBasic/Test/Semantic/Semantics/NameOfTests.vb
Labels: Approved to merge, Area-Compilers, Bug

#24876 Self-reference const via lambda should not overflow
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ConstantTests.cs
Labels: Approved to merge, Area-Compilers

#24491 Add ref-reassignment tests for conversions
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Area-Compilers

#24945 Revert "Enable multicore JIT in the compilers (#23173)"
  src/Compilers/Shared/BuildClient.cs
Labels: Area-Compilers

#24902 Grammar fix
  build/Targets/Imports.targets
Labels: Area-Infrastructure

#24915 [stackalloc-init] Use initblk whenever possible regardless of type size
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStackAllocInitializer.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/Core/Portable/CodeGen/ILBuilderEmit.cs
Labels: Area-Compilers, Community

#24965 SubstituteNoPiaLocalType - use comparison of SpecialTypes to match bases across distinct core libraries.
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/MetadataDecoder.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Retargeting/NoPia.cs
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/MetadataDecoder.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Retargeting/NoPia.vb
Labels: Area-Compilers

#20905 Remove find refs window
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
  src/EditorFeatures/Core/FindReferences/IFindReferencesService.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/GoToImplementation/GoToImplementationCommandHandler.cs
  src/EditorFeatures/Core/GoToImplementation/IGoToImplementationService.cs
  src/EditorFeatures/Core/Host/IDefinitionsAndReferencesPresenter.cs
  src/EditorFeatures/Core/Host/INavigableItemsPresenter.cs
  src/EditorFeatures/Test/FindReferences/FindReferencesCommandHandlerTests.cs
  src/EditorFeatures/Test2/FindReferences/FindReferencesCommandHandlerTests.vb
  src/VisualStudio/Core/Def/Guids.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/DefinitionsAndReferencesPresenter.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/VisualStudioDefinitionsAndReferencesFactory.cs
  src/VisualStudio/Core/Def/Implementation/GoToDefinition/NavigableItemsPresenter.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/LibraryManager.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/LibraryManager_FindReferences.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/LibraryManager_GoToDefinition.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/NavInfo.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/ObjectList.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/TreeItems/AbstractTreeItem.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/TreeItems/DefinitionTreeItem.cs
  src/VisualStudio/Core/Def/Implementation/Library/FindResults/TreeItems/SourceReferenceTreeItem.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE, Community, cla-already-signed

#24883 Fix SyntacticClassificationTagger's handling of workspace changes
  src/EditorFeatures/Core/Implementation/Classification/SyntacticClassificationTaggerProvider.TagComputer.cs
Labels: Approved to merge

#24908 csc should return error code only if an error diagnostic is printed out
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Test/Utilities/CSharp/MockCSharpCompiler.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers

#25005 Point Mono build to apt snapshots directory
  build/scripts/docker/Dockerfile
Labels: Area-Compilers, Area-Infrastructure

#19599 Remove old IDocumentHIghlightsService.
  src/EditorFeatures/Core/ReferenceHighlighting/IDocumentHighlightsService.cs
  src/EditorFeatures/Core/ReferenceHighlighting/ReferenceHighlightingViewTaggerProvider.cs
Labels: Area-IDE, Community, cla-already-signed

#24957 Prevent accidental passing by reference of reduced expressions when it was not valid originally.
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Portable/BoundTree/Formatting.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitAddress.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AwaitExpressionSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/ExpressionLambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ConditionalOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInParametersTests.cs
Labels: Approved to merge, Area-Compilers

#24771 Move to a new CoreCLR package for tests and enable tests blocked by bugs fixed in runtime
  build/Targets/FixedPackages.props
  build/Targets/Packages.props
  build/Targets/Tools.props
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#24165 Remove IVisualStudioWorkspaceHost and related interfaces
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLitePersistentStorageTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject_Analyzers.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject_Options.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/HierarchyEventsSink.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/IVisualStudioWorkingFolder.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/IVisualStudioWorkspaceHost.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/IVisualStudioWorkspaceHost2.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject_IIntellisenseBuildTarget.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectTracker.WorkspaceHostState.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.DeferredInitialization.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl_IVsSolutionWorkingFoldersEvents.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.WorkspaceHost.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioPersistentStorageLocationService.cs
  src/VisualStudio/Core/Impl/CodeModel/AbstractProjectCodeModel.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/RemoteHostClientMock/Remote/RemoteHostClientFactory.cs
  src/VisualStudio/Setup/Properties/launchSettings.json
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
  src/Workspaces/Core/Desktop/Workspace/SQLite/Interop/SqlConnection.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Desktop/Workspace/SolutionSize/ISolutionSizeTracker.cs
  src/Workspaces/Core/Desktop/Workspace/SolutionSize/SolutionSizeTracker.cs
  src/Workspaces/Core/Desktop/Workspace/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Desktop/Workspace/Storage/PersistenceStorageServiceFactory.cs
  src/Workspaces/Core/Desktop/Workspace/Storage/PersistentStorageService.cs
  src/Workspaces/Core/Portable/Remote/IRemoteHostService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/AbstractPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
  src/Workspaces/Remote/Core/Storage/RemotePersistentStorageLocationService.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
Labels: Approved to merge

#24931 Added member classification support for c#.
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests_Preprocessor.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests_Dynamic.cs
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/Implementation/Classification/ClassificationUtilities.cs
  src/EditorFeatures/TestUtilities/Classification/AbstractClassifierTests.cs
  src/EditorFeatures/TestUtilities/Classification/ClassificationBuilder.cs
  src/VisualStudio/Core/Def/HACK_ThemeColorFixer.cs
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/ClassificationTypeNames.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/Core/Portable/PublicAPI.Shipped.txt
Labels: Approved to merge

#25023 IOperation - expose declared locals for field/property/parameter initializers.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Initializers.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Compilation/InitializerSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/InitializerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/ConstantValueUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FieldInitializerBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ISymbolInitializerOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - IOperation, New Language Feature - Out Variable Declaration

#25046 Add MetadataImportOptions to public compilation options constructor and add validation for the specified value.
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/MetadataMemberTests.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataImportOptions.cs
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/VisualBasicCompilationOptions.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/MetadataMemberTests.vb
Labels: Approved to merge, Area-Compilers, Concept-API

#24979 Added ILabelSymbol properties to loops and try statements for exposur…
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IPatternSwitchCase.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IWhileUntilLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_InvalidStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DeconstructionTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ISwitchOperation.cs
  src/Compilers/Core/Portable/Operations/ITryOperation.cs
  src/Compilers/Core/Portable/Operations/Loops/ILoopOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IWhileUntilLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_InvalidStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_TryCatch.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/SelectCaseTests.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#25031 IOperation - expose nodes for C# method declarations.
  src/Compilers/CSharp/Portable/BoundTree/Statement.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConstructorBodyOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IMethodBodyOperation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/IConstructorBodyOperation .cs
  src/Compilers/Core/Portable/Operations/IMethodBodyBaseOperation.cs
  src/Compilers/Core/Portable/Operations/IMethodBodyOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - IOperation, New Language Feature - Out Variable Declaration

#24914 [stackalloc-init] Improve error tolerance when parsing invalid implicit stackalloc arrays
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StackAllocInitializerTests.cs
Labels: Area-Compilers, Community

#25074 fixed a bug where free after shutdown is not properly handled. this i…
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.ConnectionManager.cs
Labels: Approved to merge

#25002 Add ref for and foreach variables
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/LocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ExceptionLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ObjectAddressLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ObjectIdLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ReturnValueLocalSymbol.cs
Labels: Area-Compilers

#25070 Fix code that violated the (!Alive || !Reported) control-flow-analysis invariant.
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#23357 recursive-patterns(4): Parsing the switch expression.
  src/Compilers/CSharp/Portable/Binder/BinderFactory.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/ExpressionVariableFinder.cs
  src/Compilers/CSharp/Portable/Binder/LocalBinderFactory.cs
  src/Compilers/CSharp/Portable/Binder/PatternSwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/PatternSwitchBinder2.cs
  src/Compilers/CSharp/Portable/Binder/SubsumptionDiagnosticBuilder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionArmBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDagEvaluation.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDagTemp.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Errors/DiagnosticBagExtensions.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/Source/GlobalExpressionVariable.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxNodeExtensions.cs
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTestBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Global.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Scope.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedDefaultTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/Test/Utilities/Portable/TestResource.resx
Labels: Area-Compilers, New Language Feature - Pattern Matching

#25079 Follow-up on try/catch/finally implementation
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.Region.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.RegionBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#24904 Use LHS of ref-assignment for ref-readonly
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefReturnTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SpanStackSafetyTests.cs
Labels: Area-Compilers

#25109 Manish's new analyzer flagged it as not disposing disposable object e…
  src/Workspaces/Remote/Core/Diagnostics/DiagnosticComputer.cs
Labels: Approved to merge

#25108 Fixed a bug where errors from previous analyzer leaking to next analyzer for Workspace Analyzers
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
Labels: Approved to merge

#24913 Allow default literal in comparisons
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Compilation/BuiltInOperators.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedDefaultTests.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
Labels: Approved to merge, Area-Compilers
