Repository dotnet/roslyn, pull requests merged in 2018-09, with the labels that each got.

#29608 Nullability warnings in ternary expressions
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IArgument.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#29614 Enable remaining VB tests on Linux CoreClr
  build/scripts/tests.sh
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_Conditional.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/EmitTestStrongNameProvider.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenClosureLambdaTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenLateBound.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenNullable.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenStringConcat.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenVBCore.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenWinMdEvents.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinuePdbTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EmitMetadata.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/ResourceTests.vb
  src/Compilers/VisualBasic/Test/Emit/ErrorHandling.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/CodeGenExprLambda.vb
  src/Compilers/VisualBasic/Test/Emit/Microsoft.CodeAnalysis.VisualBasic.Emit.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Emit/PDB/ChecksumTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBCollectionInitializerTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBConstLocalTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBExternalSourceDirectiveTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBForEachTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBIteratorTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBLambdaTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBNamespaceScopes.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBObjectInitializerTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBSyncLockTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTupleTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBUsingTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBVariableInitializerTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBWinMdExpTests.vb
  src/Compilers/VisualBasic/Test/Emit/XmlLiteralTests.vb
  src/Test/Utilities/Portable/Platform/Custom/SigningTestHelpers.cs
Labels: Area-Compilers

#29533 Cleanup Mono heplers
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Test/Utilities/Portable/Metadata/IlasmUtilities.cs
  src/Test/Utilities/Portable/Platform/Desktop/DesktopRuntimeEnvironment.cs
Labels: Area-Compilers, Test

#29577 Relax type restrictions on null coalescing and null coalescing assign…
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCoalescingAssignmentTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
Labels: Area-Compilers

#29679 Handle tuple conversions and extension method `this` argument conversions in NullableWalker
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers

#29432 Add a test that demonstrates using an anonymous type in a property pattern.
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#29622 Arcade signing
  build/Targets/Packages.props
  build/Targets/RepoToolset/RepoLayout.props
  build/Targets/RepoToolset/Sign.proj
  build/Targets/Signing.props
  build/ToolsetPackages/RoslynToolset.csproj
  build/config/SignToolData.json
  build/scripts/build.ps1
  src/ExpressionEvaluator/CSharp/Source/ResultProvider/NetFX20/AssemblyInfo.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/NetFX20/Helpers/Placeholders.cs
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/NetFX20/AssemblyInfo.vb
Labels: Area-Infrastructure

#29426 Remove flow-analysis feature flag for CFG APIs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBlock.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConstructorBodyOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILockStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IMethodBodyOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IReturnStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/OperationTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.Designer.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.cs
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Compilers/Test/Utilities/VisualBasic/BasicTestBase.vb
  src/Compilers/Test/Utilities/VisualBasic/TestOptions.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ICoalesceOperation.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IForLoopStatement.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/ConditionalAccessTests.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#29666 follow up fix for https://github.com/dotnet/roslyn/pull/29066
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioWorkspaceDiagnosticAnalyzerProviderService.cs
Labels: Approved to merge, Area-IDE

#29636 Address/clean some PROTOTYPE markers
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDiscardExpression.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/LazyNullAsNonNullableDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/ParameterWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/LocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/TupleTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/FieldSymbolWithAttributesAndModifiers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CustomModifiersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ErrorTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonParameterWellKnownAttributeData.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Compilers/Test/Utilities/CSharp/UsesIsNullableVisitor.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/Test/Utilities/Portable/CommonTestBase.cs
  src/Test/Utilities/Portable/TestResource.resx
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#29061 Add parameter CodeFixProvider: Add support for `this` and `base` constructor initializers invocations.
  src/EditorFeatures/CSharpTest/AddParameter/AddParameterTests.cs
  src/EditorFeatures/VisualBasicTest/AddParameter/AddParameterTests.vb
  src/Features/CSharp/Portable/AddParameter/CSharpAddParameterCodeFixProvider.cs
  src/Features/Core/Portable/AddParameter/AbstractAddParameterCodeFixProvider.cs
  src/Features/Core/Portable/AddParameter/RegisterFixData.cs
Labels: Area-IDE, Community

#28218 Implement async-iterator methods
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ExitPointsWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorInfo.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodBuilderMemberCollection.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncStateMachine.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNameKind.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncDisposableTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/Features/CSharp/Portable/ConvertForEachToFor/CSharpConvertForEachToForCodeRefactoringProvider.cs
  src/Test/Utilities/Portable/CompilationVerifier.cs
Labels: Area-Compilers, New Feature - Async Streams

#29663 Update xunit to 2.4.1-pre.build.4059
  build/Targets/Packages.props
  build/ToolsetPackages/RoslynToolset.csproj
  build/scripts/tests.sh
  src/EditorFeatures/TestUtilities/Threading/WpfFactDiscoverer.cs
  src/EditorFeatures/TestUtilities/Threading/WpfTestCase.cs
  src/EditorFeatures/TestUtilities/Threading/WpfTheoryTestCase.cs
Labels: Area-Infrastructure

#28441 Enable incremental updates of the dependency graph
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/CoreTest/SolutionTests/ProjectDependencyGraphTests.cs
Labels: Area-IDE

#29711 Compile Server Hash Check
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/CommandLine/BuildProtocol.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
  src/Compilers/Server/VBCSCompiler/Connection.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/Server/VBCSCompilerTests/BuildProtocolTest.cs
  src/Compilers/Server/VBCSCompilerTests/ClientConnectionTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Shared/BuildClient.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/VisualBasic/vbc/vbc.csproj
Labels: Area-Compilers

#29750 YAML file for Azure Dev Ops validation
  .vsts-dnceng.yml
  build/Targets/Packages.props
  build/ToolsetPackages/RoslynToolset.csproj
  src/Tools/BuildBoss/BuildBoss.csproj
Labels: Area-Infrastructure

#29595 Queue tasks rather than invoking them inline
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioTaskSchedulerFactory.cs
Labels: Area-IDE

#29415 Document #6941
  docs/compilers/Visual Basic/Compiler Breaking Changes - VS2015.md
  docs/compilers/Visual Basic/Overflow In Embedded Runtime.md
  docs/designNotes/2015-01-14 VB Design Meeting.md
  docs/designNotes/2015-01-21 C# Design Meeting.md
  docs/designNotes/2015-01-28 C# Design Meeting.md
  docs/designNotes/2015-02-04 C# Design Meeting.md
  docs/designNotes/2015-02-11 C# Design Meeting.md
  docs/designNotes/2015-03-04 C# Design Meeting.md
  docs/designNotes/2015-03-10,17 C# Design Meeting.md
  docs/designNotes/2015-03-18 C# Design Meeting.md
  docs/designNotes/2015-03-24 C# Design Meeting.md
  docs/designNotes/2015-03-25 C# Design Meeting.md
  docs/designNotes/2015-03-25 C# Design Review.md
  docs/designNotes/2015-04-01,8 C# Design Meeting.md
  docs/designNotes/2015-04-14 C# Design Meeting.md
  docs/designNotes/2015-04-15 C# Design Meeting.md
  docs/designNotes/2015-04-22 C# Design Review.md
  docs/designNotes/2015-05-20 C# Design Meeting.md
  docs/designNotes/2015-05-25 C# Design Meeting.md
  docs/designNotes/2015-07-01 C# Design Meeting.md
  docs/designNotes/2015-07-07 C# Design Meeting.md
  docs/designNotes/2015-08-18 C# Design Meeting.md
  docs/designNotes/2015-09-01 C# Design Meeting.md
  docs/designNotes/2015-09-02 C# Design Meeting.md
  docs/designNotes/2015-09-08 C# Design Meeting.md
  docs/designNotes/2015-10-07 C# Design Review Notes.md
  docs/designNotes/2015-11-02 C# Design Demo.md
  docs/designNotes/2016-02-29 C# Design Meeting.md
  docs/designNotes/2016-04-06 C# Design Meeting.md
Labels: Area-Compilers, Documentation, Language-VB

#29513 Fix Tuple Crefs causing null exception
  src/Compilers/CSharp/Portable/Binder/Binder_Crefs.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/CrefTests.cs
  src/Compilers/VisualBasic/Test/Symbol/DocumentationComments/DocCommentTests.vb
Labels: Area-Compilers

#29691 Addressed remaining test items
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCoalescingAssignmentTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCoalsceAssignmentTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers

#29722 Upgrade to .NET Core SDK version 2.1.401
  build/Targets/Tools.props
  docs/contributing/Building, Debugging, and Testing on Windows.md
  global.json
Labels: Area-IDE

#28776 Remove this recommendation for anonymous functions in static methods
  src/EditorFeatures/CSharpTest2/Recommendations/ThisKeywordRecommenderTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, Community

#29770 Prevent Format String analyzer from crashing on a local function named Format
  src/EditorFeatures/CSharpTest/ValidateFormatString/ValidateFormatStringTests.cs
  src/Features/Core/Portable/ValidateFormatString/AbstractValidateFormatStringDiagnosticAnalyzer.cs
Labels: Area-IDE

#28286 GenerateDeconstructMethod code fixer
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateDeconstructMethodTests.cs
  src/Features/CSharp/Portable/CodeFixes/GenerateMethod/GenerateDeconstructMethodCodeFixProvider.cs
  src/Features/CSharp/Portable/GenerateMember/GenerateParameterizedMember/CSharpGenerateDeconstructMethodService.cs
  src/Features/CSharp/Portable/GenerateMember/GenerateParameterizedMember/CSharpGenerateMethodService.cs
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateConversionService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateDeconstructMethodService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateDeconstructMethodService.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateMethodService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateParameterizedMemberService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/IGenerateDeconstructMemberService.cs
Labels: Area-IDE

#29686 VB - fix broken code generated when converting to auto property
  src/EditorFeatures/VisualBasicTest/UseAutoProperty/UseAutoPropertyTests.vb
  src/Features/CSharp/Portable/UseAutoProperty/CSharpUseAutoPropertyCodeFixProvider.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Features/VisualBasic/Portable/UseAutoProperty/VisualBasicUseAutoPropertyCodeFixProvider.vb
Labels: Area-IDE

#29803 Add Make Field Readonly test for accessed fields
  src/EditorFeatures/CSharpTest/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/EditorFeatures/VisualBasicTest/MakeFieldReadonly/MakeFieldReadonlyTests.vb
Labels: Area-IDE

#27397 Add analyzer options threading
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/CodeAnalysisTest/EditorConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/CommandLine/EditorConfig.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerConfigOptions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerConfigOptionsProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerOptions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerAnalyzerConfigOptionsProvider.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Utilities/CSharp/MockCSharpCompiler.cs
  src/Compilers/Test/Utilities/VisualBasic/MockVisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Scripting/Core/Hosting/CommandLine/CommandLineRunner.cs
  src/Test/Utilities/Portable/Diagnostics/OptionsDiagnosticAnalyzer.cs
Labels: Area-Compilers

#29591 Fix temp creation with `in` parameters
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitAddress.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AwaitExpressionSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInParametersTests.cs
Labels: Area-Compilers, Bug

#29807 Fix race in SourceEventSymbol.GetAttributesBag
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
Labels: Area-Compilers

#29799 Fix issue when adding/removing event handlers again and again
  src/VisualStudio/Core/Impl/CodeModel/FileCodeModel.cs
  src/VisualStudio/Core/Test/CodeModel/CSharp/FileCodeModelTests.vb
Labels: Approved to merge, Area-IDE

#29664 Move xunit package references to Roslyn.Toolsets.Xunit.targets
  build/Targets/Packages.props
  build/Targets/RepoToolset/Workarounds.targets
  build/Targets/Roslyn.Toolsets.Xunit.targets
  src/CodeStyle/CSharp/Tests/Microsoft.CodeAnalysis.CSharp.CodeStyle.UnitTests.csproj
  src/CodeStyle/Core/Tests/Microsoft.CodeAnalysis.CodeStyle.UnitTests.csproj
  src/CodeStyle/VisualBasic/Tests/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.UnitTests.vbproj
  src/Compilers/CSharp/Test/CommandLine/Microsoft.CodeAnalysis.CSharp.CommandLine.UnitTests.csproj
  src/Compilers/CSharp/Test/Emit/Microsoft.CodeAnalysis.CSharp.Emit.UnitTests.csproj
  src/Compilers/CSharp/Test/Semantic/Microsoft.CodeAnalysis.CSharp.Semantic.UnitTests.csproj
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
  src/Compilers/CSharp/Test/Syntax/Microsoft.CodeAnalysis.CSharp.Syntax.UnitTests.csproj
  src/Compilers/CSharp/Test/WinRT/Microsoft.CodeAnalysis.CSharp.WinRT.UnitTests.csproj
  src/Compilers/Core/CodeAnalysisTest/Microsoft.CodeAnalysis.UnitTests.csproj
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/Compilers/Server/VBCSCompilerTests/VBCSCompiler.UnitTests.csproj
  src/Compilers/VisualBasic/Test/CommandLine/Microsoft.CodeAnalysis.VisualBasic.CommandLine.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Emit/Microsoft.CodeAnalysis.VisualBasic.Emit.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/IOperation/Roslyn.Compilers.VisualBasic.IOperation.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Semantic/Microsoft.CodeAnalysis.VisualBasic.Semantic.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Symbol/Microsoft.CodeAnalysis.VisualBasic.Symbol.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Syntax/Microsoft.CodeAnalysis.VisualBasic.Syntax.UnitTests.vbproj
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/Microsoft.CodeAnalysis.CSharp.ExpressionCompiler.UnitTests.csproj
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/Microsoft.CodeAnalysis.CSharp.ResultProvider.UnitTests.csproj
  src/ExpressionEvaluator/Core/Test/ExpressionCompiler/Microsoft.CodeAnalysis.ExpressionCompiler.Utilities.csproj
  src/ExpressionEvaluator/Core/Test/FunctionResolver/Microsoft.CodeAnalysis.FunctionResolver.UnitTests.csproj
  src/ExpressionEvaluator/Core/Test/ResultProvider/Microsoft.CodeAnalysis.ResultProvider.Utilities.csproj
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/Microsoft.CodeAnalysis.VisualBasic.ExpressionCompiler.UnitTests.vbproj
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/Microsoft.CodeAnalysis.VisualBasic.ResultProvider.UnitTests.vbproj
  src/Scripting/CSharpTest/Microsoft.CodeAnalysis.CSharp.Scripting.UnitTests.csproj
  src/Scripting/CoreTest.Desktop/Microsoft.CodeAnalysis.Scripting.Desktop.UnitTests.csproj
  src/Scripting/CoreTest/Microsoft.CodeAnalysis.Scripting.UnitTests.csproj
  src/Scripting/CoreTestUtilities/Microsoft.CodeAnalysis.Scripting.TestUtilities.csproj
  src/Scripting/VisualBasicTest.Desktop/Microsoft.CodeAnalysis.VisualBasic.Scripting.Desktop.UnitTests.vbproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/IntegrationTest/IntegrationTests/Microsoft.VisualStudio.LanguageServices.IntegrationTests.csproj
  src/Workspaces/CSharpTest/Microsoft.CodeAnalysis.CSharp.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTestUtilities/Roslyn.Services.UnitTests.Utilities.csproj
  src/Workspaces/MSBuildTest/Microsoft.CodeAnalysis.Workspaces.MSBuild.UnitTests.csproj
  src/Workspaces/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Workspaces.UnitTests.vbproj
Labels: Area-Infrastructure

#29783 Re-enable VB semantic / emit tests on Linux
  build/scripts/tests.sh
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/CodeGenExprLambda.vb
Labels: Area-Compilers

#24897 Stop generating redundant this() when initializing struct property
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE, Community

#26793 Integrate elseless-if handling for 'invert-if' refactoring
  src/EditorFeatures/CSharpTest/CodeActions/InvertIf/InvertIfTests.Elseless.cs
  src/EditorFeatures/CSharpTest/CodeActions/InvertIf/InvertIfTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/InvertIf/InvertIfTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/InvertIf/InvertMultiLineIfTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/InvertIf/InvertSingleLineIfTests.vb
  src/Features/CSharp/Portable/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/InvertIf/AbstractInvertIfCodeRefactoringProvider.StatementRange.cs
  src/Features/Core/Portable/CodeRefactorings/InvertIf/AbstractInvertIfCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.MultiLine.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.SingleLine.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InvertIf/InvertIfCodeRefactoringProvider.vb
Labels: Area-IDE, Community

#28765 Add codesstyle, fix and refactoring for "Use Expression/Block body for lambda".
  src/EditorFeatures/CSharpTest/UseExpressionBodyForLambda/UseExpressionBodyForLambdasAnalyzerTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBodyForLambda/UseExpressionBodyForLambdasRefactoringTests.cs
  src/Features/CSharp/Portable/ConvertAutoPropertyToFullProperty/CSharpConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InitializeParameter/InitializeParameterHelpers.cs
  src/Features/CSharp/Portable/ReplaceMethodWithProperty/CSharpReplaceMethodWithPropertyService.cs
  src/Features/CSharp/Portable/ReplacePropertyWithMethods/CSharpReplacePropertyWithMethodsService.cs
  src/Features/CSharp/Portable/UseExpressionBody/Helpers/UseExpressionBodyHelper`1.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeFixProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaHelpers.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/CodeGeneration/ConstructorGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/ConversionGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/OperatorGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/PropertyGenerator.cs
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/CSharp/Portable/Extensions/ArrowExpressionClauseSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/BlockSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Labels: Area-IDE, Community

#28930 Create AddAwait refactoring
  src/EditorFeatures/CSharpTest/CodeActions/AddAwait/AddAwaitTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/AddAwait/AddAwaitTests.vb
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/CodeRefactorings/AddAwait/AddAwaitCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/CodeRefactorings/AddAwait/AbstractAddAwaitCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/AddAwait/AddAwaitCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.Designer.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.resx
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.cs.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.de.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.es.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.fr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.it.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ja.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ko.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pl.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pt-BR.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ru.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.tr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hans.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE

#29809 Support Object type as a generic type constraint.
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/Model/TypeParameterSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Errors/LazyMissingNonNullTypesContextDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Errors/LazyUseSiteDiagnosticsInfoForNullableType.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/TypeParameterConstraintClause.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/VisualBasic/Portable/Symbols/MethodSignatureComparer.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/GenericConstraintTests.vb
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#29852 Enable DeadCodeAnalysis rules and address design/review feedback.
  src/Compilers/Test/Utilities/VisualBasic/ParserTestUtilities.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/CodeGenExprLambda.vb
  src/EditorFeatures/CSharpTest/Diagnostics/FixAllProvider/BatchFixerTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveSuppressionTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTest_FixMultipleTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Suppression/SuppressionTests.vb
  src/EditorFeatures/VisualBasicTest/RemoveUnusedMembers/RemoveUnusedMembersTests.vb
  src/Features/CSharp/Portable/RemoveUnusedMembers/CSharpRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/RemoveUnusedMembers/VisualBasicRemoveUnusedMembersDiagnosticAnalyzer.vb
  src/Test/Utilities/Portable/TestBase.cs
  src/Test/Utilities/Portable/TestHelpers.cs
Labels: Area-IDE

#29827 Use Microsoft.NetFramework.ReferenceAssemblies
  build/Targets/BeforeCommonTargets.targets
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/Targets/RepoToolset/ProjectDefaults.props
  build/Targets/RepoToolset/Workarounds.targets
  build/Targets/Settings.props
  src/ExpressionEvaluator/CSharp/Source/ResultProvider/NetFX20/CSharpResultProvider.NetFX20.csproj
  src/ExpressionEvaluator/Core/Source/ResultProvider/NetFX20/ResultProvider.NetFX20.csproj
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/NetFX20/BasicResultProvider.NetFX20.vbproj
Labels: Area-Infrastructure

#29872 Cleanup prototype comments in nullable tests (Part 1)
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#29861 Disable VB semantic tests on Linux
  build/scripts/tests.sh
Labels: Area-Infrastructure

#29883 Doc update for Linux debugging
  docs/contributing/Building, Debugging, and Testing on Unix.md
Labels: Area-Infrastructure

#29724 Relax VB Type Restrictions for If(a, b)
  docs/Language Feature Status.md
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCoalescingAssignmentTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/Test/Utilities/VisualBasic/TestOptions.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundNodes.xml
  src/Compilers/VisualBasic/Portable/BoundTree/BoundTernaryConditionalExpression.vb
  src/Compilers/VisualBasic/Portable/CodeGen/EmitExpression.vb
  src/Compilers/VisualBasic/Portable/CodeGen/EmitStatement.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_ConditionalExpressions.vb
  src/Compilers/VisualBasic/Portable/Parser/ParserFeature.vb
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenIfOperator.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/BindingErrorTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/ConditionalExpressionsTests.vb
  src/Test/Utilities/Portable/Platform/Desktop/DesktopRuntimeEnvironment.cs
Labels: Area-Compilers, Language-VB

#29456 Bypass auto-pretty-listing of large VB code
  src/EditorFeatures/VisualBasic/LineCommit/CommitBufferManager.vb
Labels: Approved to merge, Area-IDE, Tenet-Performance

#29947 Cleanup prototype comments in nullable tests (Part 2)
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#29820 Revert LangVersion default/latest. Mark C# 8.0 and VB 16 as beta
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/LanguageVersion.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Syntax/Parser/VisualBasicParseOptionsTests.vb
  src/EditorFeatures/CSharpTest/CodeActions/LambdaSimplifier/LambdaSimplifierTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.cs
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/EditorFeatures/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/EditorFeatures/CSharpTest/UseNamedArguments/UseNamedArgumentsTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/VisualStudio/Core/Test/CodeModel/CSharp/CodeClassTests.vb
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-Compilers

#29886 Move to netcoreapp2.1
  Compilers.sln
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/Targets/Settings.props
  build/Targets/Tools.props
  build/ToolsetPackages/RoslynToolset.csproj
  build/scripts/build.ps1
  build/scripts/tests.sh
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_CallerInfoAttributes.cs
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/CodeAnalysisTest/FileSystem/PathUtilitiesTests.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompiler.UnitTests.csproj
  src/Compilers/Shared/CoreClrAnalyzerAssemblyLoader.cs
  src/Compilers/VisualBasic/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/FieldInitializerTests.vb
  src/Compilers/VisualBasic/Test/Emit/Microsoft.CodeAnalysis.VisualBasic.Emit.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Microsoft.CodeAnalysis.VisualBasic.Semantic.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OptionalArgumentTests.vb
  src/Compilers/VisualBasic/vbc/vbc.csproj
  src/Interactive/csi/csi.csproj
  src/Interactive/vbi/vbi.vbproj
  src/NuGet/Microsoft.NETCore.Compilers/Microsoft.NETCore.Compilers.Package.csproj
  src/Scripting/CSharpTest/CommandLineRunnerTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Test/Utilities/Portable/Assert/UseCultureAttribute.cs
  src/Test/Utilities/Portable/Compilation/RuntimeUtilities.cs
  src/Test/Utilities/Portable/FX/MonoHelpers.cs
  src/Test/Utilities/Portable/Platform/CoreClr/CoreCLRRuntimeEnvironment.cs
  src/Test/Utilities/Portable/Platform/CoreClr/CoreCLRRuntimeEnvironmentFactory.cs
  src/Test/Utilities/Portable/Platform/CoreClr/SharedConsoleOutWriter.cs
  src/Test/Utilities/Portable/Platform/CoreClr/TestExecutionLoadContext.cs
  src/Test/Utilities/Portable/Platform/Custom/OSVersion.cs
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
  src/Tools/BuildBoss/ProjectCheckerUtil.cs
  src/Tools/CompilerBenchmarks/CompilerBenchmarks.csproj
  src/Tools/ILAsm/IlAsmDeploy.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/CompilersBoundTreeGenerator.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpErrorFactsGenerator/CSharpErrorFactsGenerator.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/CSharpSyntaxGenerator.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicErrorFactsGenerator/VisualBasicErrorFactsGenerator.vbproj
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/RedNodes/RedNodeWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/Util/WriteCsvNames.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/VisualBasicSyntaxGenerator.vbproj
  src/Workspaces/CoreTestUtilities/Resources/NetCoreApp2/Project.csproj
  src/Workspaces/CoreTestUtilities/Resources/NetCoreApp2AndLibrary/Project.csproj
  src/Workspaces/CoreTestUtilities/Resources/NetCoreApp2AndTwoLibraries/Project.csproj
  src/Workspaces/CoreTestUtilities/Resources/NetCoreMultiTFM/Project.csproj
  src/Workspaces/CoreTestUtilities/Resources/NetCoreMultiTFM_ProjectReference/Project.csproj
  src/Workspaces/CoreTestUtilities/Resources/NetCoreMultiTFM_ProjectReferenceWithReversedTFMs/Project.csproj
Labels: Area-Infrastructure

#29884 Fix tuple deconstruction for field name containing escaped context keyword
  src/EditorFeatures/CSharpTest/UseDeconstruction/UseDeconstructionTests.cs
  src/Features/CSharp/Portable/UseDeconstruction/CSharpUseDeconstructionCodeFixProvider.cs
Labels: Area-IDE

#29973 Fixed langversions
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb
  src/Compilers/Test/Utilities/VisualBasic/TestOptions.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EntryPointTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/BindingErrorTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/GroupClassTests.vb
Labels: Area-Compilers, Test

#29875 Clean up some PROTOTYPE markers in NullableWalker
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28327 VB: Added support for line continuation comments
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Parser/ParserFeature.vb
  src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDirectives.vb
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseStatements.vb
  src/Compilers/VisualBasic/Test/Syntax/Scanner/ScannerTests.vb
  src/EditorFeatures/VisualBasic/Formatting/Indentation/VisualBasicIndentationService.Indenter.vb
  src/EditorFeatures/VisualBasicTest/AutomaticCompletion/AutomaticLineEnderTests.vb
  src/EditorFeatures/VisualBasicTest/Classification/SyntacticClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/InlineTemporary/InlineTemporaryTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceVariable/IntroduceVariableTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/InvertIf/InvertIfTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/ReplacePropertyWithMethods/ReplacePropertyWithMethodsTests.vb
  src/EditorFeatures/VisualBasicTest/ConvertForEachToFor/ConvertForEachToForTests.vb
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartIndenterTests.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitOnEnterTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/ArrayStatements/PreserveKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/AliasKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/AsKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/CharsetModifierKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/DelegateSubFunctionKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/FunctionKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/GenericConstraintsKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/InKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/LibKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/PropertyKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/SubKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/ToKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/BinaryOperatorKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/FromKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/NewKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/WithKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/OnErrorStatements/GoToDestinationsRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/OnErrorStatements/NextKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/OptionStatements/CompareOptionsRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/EachKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/IsKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/StepKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/UntilAndWhileKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/WhenKeywordRecommenderTests.vb
  src/Features/VisualBasic/Portable/ConvertForEachToFor/VisualBasicConvertForEachToForCodeRefactoringProvider.vb
  src/Workspaces/CoreTest/CodeCleanup/RemoveUnnecessaryLineContinuationTests.cs
Labels: Area-Compilers, Community, Language-VB

#29392 Add codefix that offers to add a name to an anonymous type member when one is missing.
  src/EditorFeatures/CSharpTest/AddAnonymousTypeMemberName/AddAnonymousTypeMemberNameTests.cs
  src/EditorFeatures/VisualBasicTest/AddAnonymousTypeMemberName/AddAnonymousTypeMemberNameTests.vb
  src/Features/CSharp/Portable/AddAnonymousTypeMemberName/CSharpAddAnonymousTypeMemberNameCodeFixProvider.cs
  src/Features/Core/Portable/AddAnonymousTypeMemberName/AbstractAddAnonymousTypeMemberNameCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/AddAnonymousTypeMemberName/VisualBasicAddAnonymousTypeMemberNameCodeFixProvider.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
Labels: Area-IDE, Community, Feature Request

#26191 Enable completion of object initializer of generic type constraint.
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/ObjectInitializerCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ObjectInitializerCompletionProvider.vb
Labels: Area-IDE, Community

#30004 Cleanup prototype comments in nullable tests (Part 3)
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Nullable Reference Types, Test

#29928 Add feature to invert conditionals.
  src/EditorFeatures/CSharpTest/InvertConditional/InvertConditionalTests.cs
  src/EditorFeatures/CSharpTest/InvertIf/InvertIfTests.Elseless.cs
  src/EditorFeatures/CSharpTest/InvertIf/InvertIfTests.cs
  src/EditorFeatures/CSharpTest/InvertLogical/InvertLogicalTests.cs
  src/EditorFeatures/VisualBasicTest/InvertConditional/InvertIfTests.vb
  src/EditorFeatures/VisualBasicTest/InvertIf/InvertMultiLineIfTests.vb
  src/EditorFeatures/VisualBasicTest/InvertIf/InvertSingleLineIfTests.vb
  src/EditorFeatures/VisualBasicTest/InvertLogical/InvertLogicalTests.vb
  src/Features/CSharp/Portable/InvertConditional/CSharpInvertConditionalCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InvertIf/CSharpInvertIfCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InvertLogical/CSharpInvertLogicalCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/IntroduceVariable/IntroduceVariableCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/InvertConditional/AbstractInvertConditionalCodeRefactoringProvider.cs
  src/Features/Core/Portable/InvertIf/AbstractInvertIfCodeRefactoringProvider.StatementRange.cs
  src/Features/Core/Portable/InvertIf/AbstractInvertIfCodeRefactoringProvider.cs
  src/Features/Core/Portable/InvertLogical/AbstractInvertLogicalCodeRefactoringProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/InvertConditional/VisualBasicInvertConditionalCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/InvertIf/VisualBasicInvertIfCodeRefactoringProvider.MultiLine.vb
  src/Features/VisualBasic/Portable/InvertIf/VisualBasicInvertIfCodeRefactoringProvider.SingleLine.vb
  src/Features/VisualBasic/Portable/InvertIf/VisualBasicInvertIfCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/InvertLogical/VisualBasicInvertLogicalCodeRefactoringProvider.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_Negate.cs
Labels: Area-IDE, Community, Feature Request

#30032 Update implemented C# 8.0 features and some assignments
  docs/Language Feature Status.md
Labels: Approved to merge, Area-Compilers, Documentation

#29792 Minor. Fix whitespace in connection.cs
  src/Compilers/Server/VBCSCompiler/Connection.cs
Labels: Area-Compilers

#21338 Fixed IntelliSense suggestion for read-only class properties in object initializers
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractObjectInitializerCompletionProvider.cs
Labels: Approved to merge, Area-IDE, Community, cla-already-signed

#30036 Cleanup prototype comments in nullable tests (Part 4)
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AccessibilityTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Iterator/AddYieldTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/EditorFeatures/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ReferencedModulesTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/UsingDebugInfoTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#30007 Clean up some PROTOTYPE markers in NullableWalker (part 2)
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#30025 Add test for Span not allowed as lhs of ??=
  build/scripts/tests.sh
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCoalescingAssignmentTests.cs
Labels: Approved to merge

#30013 DebuggerTextView to support ITextView2
  src/VisualStudio/Core/Def/Implementation/DebuggerIntelliSense/DebuggerTextView.cs
Labels: Approved to merge, Interactive-Debugging

#30113 Revert "Fix #30091 throwing exceptions"
  src/Features/Core/Portable/RemoveUnusedVariable/AbstractRemoveUnusedVariableCodeFixProvider.cs
Labels: Approved to merge, Area-IDE

#29926 Avoid NullReferenceException in VisualBasicExtensions
  src/Compilers/VisualBasic/Portable/VisualBasicExtensions.vb
  src/Compilers/VisualBasic/Test/Symbol/CrossLanguageTest.vb
Labels: Area-Compilers, Community

#29153 Fix problem to rename Attribute
  src/EditorFeatures/Core.Wpf/InlineRename/AbstractEditorInlineRenameService.SymbolRenameInfo.cs
  src/EditorFeatures/Core.Wpf/InlineRename/AbstractEditorInlineRenameService.cs
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.OpenTextBufferManager.cs
  src/EditorFeatures/Test/RenameTracking/RenameTrackingTaggerProviderTests.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpRename.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicRename.cs
Labels: Area-IDE, Community

#29919 Add feature to suggest converting code to use compound assignment.
  src/EditorFeatures/CSharpTest/UseCompoundAssignment/UseCompoundAssignmentTests.cs
  src/EditorFeatures/VisualBasicTest/UseCompoundAssignment/UseCompoundAssignmentTests.vb
  src/Features/CSharp/Portable/UseCompoundAssignment/CSharpUseCompoundAssignmentCodeFixProvider.cs
  src/Features/CSharp/Portable/UseCompoundAssignment/CSharpUseCompoundAssignmentDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseCompoundAssignment/Utilities.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/GenerateMember/AbstractGenerateMemberService.cs
  src/Features/Core/Portable/UseCompoundAssignment/AbstractUseCompoundAssignmentCodeFixProvider.cs
  src/Features/Core/Portable/UseCompoundAssignment/AbstractUseCompoundAssignmentDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseCompoundAssignment/Utilities.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/UseCompoundAssignment/Utilities.vb
  src/Features/VisualBasic/Portable/UseCompoundAssignment/VisualBasicUseCompoundAssignmentCodeFixProvider.vb
  src/Features/VisualBasic/Portable/UseCompoundAssignment/VisualBasicUseCompoundAssignmentDiagnosticAnalyzer.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/StyleViewModel.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsServiceExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE, Community, Feature Request

#30119 Remove redundant Jenkins jobs
  README.md
  netci.groovy
Labels: Area-Infrastructure

#30055 Cleanup prototype comments in Symbols
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/AbstractTypeMap.cs
  src/Compilers/CSharp/Portable/Symbols/ExtraAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/MemberRefMetadataDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NullableTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterBounds.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Nullable Reference Types

#30125 Fix spanish job
  netci.groovy
Labels: Area-Infrastructure

#30070 Clean up PROTOTYPE comments besides Symbols
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/INonNullTypesContext.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPassBase.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DeltaMetadataWriter.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#30129 Fix C# semantic tests for Mono execution
  src/Compilers/CSharp/Test/Semantic/Semantics/ArglistTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers, Test

#30132 Rename Operations.xml.Generated.cs to OperationNodes.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
Labels: Area-Compilers

#30137 Don't mark Microsoft.CodeAnalysis.Elfie as a private package
  build/Targets/Packages.props
Labels: Approved to merge, Area-Infrastructure

#30148 Restore an overload of `CommonCompletionUtilities.GetWordSpan` that broke an IVT reference
  src/Features/Core/Portable/Completion/CommonCompletionUtilities.cs
Labels: Approved to merge

#30142 Correct unix first time build instructions
  build/scripts/obtain_dotnet.sh
  docs/contributing/Building, Debugging, and Testing on Unix.md
Labels: Area-Infrastructure

#30149 Change Windows build machine affinity to Windows.10.Amd64.ClientRS3.DevEx.Open (#29709)
  netci.groovy
Labels: Area-Compilers, New Language Feature - enhanced using

#30154 Change Windows build machine affinity to Windows.10.Amd64.ClientRS3.DevEx.Open
  netci.groovy
Labels: Area-Compilers

#30118 Fix #30091 throwing exceptions
  src/Features/Core/Portable/RemoveUnusedVariable/AbstractRemoveUnusedVariableCodeFixProvider.cs
Labels: Area-IDE, Community

#29097 Handle mixed initializer style with initblk
  src/Compilers/CSharp/Portable/CodeGen/EmitStackAllocInitializer.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
Labels: Area-Compilers, Community

#29985 Implement ValEscape rules for ?? operator
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers

#30136 Fix TypeParamRefs in included xml docs in C# not resolving correctly:
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.IncludeElementExpander.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/DocumentationCommentCompilerTests.cs
Labels: Area-Compilers

#29263 add SyntaxFactory.ParseDeclaration
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/MemberDeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
Labels: Area-Compilers, Concept-API, Feature Request, Language-C#

#30124 Enable hard links as a build option
  build/Targets/Settings.props
Labels: Area-Infrastructure

#30104 Call `builder.SetResult()` in `DisposeAsync()`
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers, New Feature - Async Streams

#30170 Enable C# emit tests for Mono
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Assembly.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Emit/Attributes/EmitTestStrongNameProvider.cs
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/CSharp/Test/Emit/BreakingChanges.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncEHTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenCapturing.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenCheckedTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenClosureLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenExplicitImplementationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenExprLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenImplicitImplementationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInParametersTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOverridingAndHiding.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStructsAndEnum.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTryFinally.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/DesktopStrongNameProviderTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/DeterministicTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/NoPiaEmbedTypes.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBUsingTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Test/Utilities/Portable/Compilation/IRuntimeEnvironment.cs
  src/Test/Utilities/Portable/CompilationVerifier.cs
  src/Test/Utilities/Portable/FX/CappedStringWriter.cs
Labels: Area-Compilers

#29405 Fix #29390, add space after tuple type and identifier
  src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
Labels: Area-IDE, Community
