Repository dotnet/roslyn, pull requests merged in 2018-12, with the labels that each got.

#31480 Update our status badges
  README.md
  build/scripts/generate-badges.ps1
Labels: Area-Infrastructure

#31220 Throw MatchFailureException when match expression fails.
  Patterns.playlist
  azure-pipelines-integration.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Language Feature - Pattern Matching

#31389 Refactor dataflow classes
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.ILocalState.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AlwaysAssignedWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowsInWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.VariableIdentifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.AbstractLocalState.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedAddressTakenVariablesWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedVariablesWalker.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/IteratorAndAsyncCaptureWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers

#31491 Fix procdump support
  azure-pipelines.yml
  src/Tools/Source/RunTests/Options.cs
Labels: Area-Infrastructure

#30330 Use Arcade testing targets
  azure-pipelines-integration.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
  build.sh
  build/Defaults/Desktop/app.config
  build/Defaults/Portable/app.config
  build/Targets/BeforeCommonTargets.targets
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/Targets/RepoToolset/Imports.targets
  build/Targets/RepoToolset/RepoLayout.props
  build/Targets/RepoToolset/Tests.props
  build/Targets/RepoToolset/Tests.targets
  build/Targets/RepoToolset/XUnit/XUnit.props
  build/Targets/RepoToolset/XUnit/XUnit.targets
  build/Targets/RepoToolset/XUnit/xunit.runner.json
  build/Targets/Roslyn.Toolsets.Xunit.targets
  build/Targets/Settings.props
  build/config/xunit.runner.json
  build/scripts/build.ps1
  build/scripts/build.sh
  build/scripts/tests.sh
  src/CodeStyle/CSharp/Tests/Microsoft.CodeAnalysis.CSharp.CodeStyle.UnitTests.csproj
  src/CodeStyle/VisualBasic/Tests/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.UnitTests.vbproj
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
  src/Compilers/CSharp/Test/WinRT/Microsoft.CodeAnalysis.CSharp.WinRT.UnitTests.csproj
  src/Compilers/Core/CodeAnalysisTest/Microsoft.CodeAnalysis.UnitTests.csproj
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/Compilers/Server/VBCSCompilerTests/VBCSCompiler.UnitTests.csproj
  src/Compilers/VisualBasic/Test/CommandLine/Microsoft.CodeAnalysis.VisualBasic.CommandLine.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Emit/Microsoft.CodeAnalysis.VisualBasic.Emit.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Semantic/Microsoft.CodeAnalysis.VisualBasic.Semantic.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Symbol/Microsoft.CodeAnalysis.VisualBasic.Symbol.UnitTests.vbproj
  src/Scripting/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Scripting.UnitTests.vbproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/Tools/Source/RunTests/AssemblyScheduler.cs
  src/Tools/Source/RunTests/Cache/CachingTestExecutor.cs
  src/Tools/Source/RunTests/Constants.cs
  src/Tools/Source/RunTests/ITestExecutor.cs
  src/Tools/Source/RunTests/Options.cs
  src/Tools/Source/RunTests/ProcessTestExecutor.cs
  src/Tools/Source/RunTests/Program.cs
  src/Tools/Source/RunTests/TestRunner.cs
  src/VisualStudio/Core/Test.Next/Roslyn.VisualStudio.Next.UnitTests.csproj
  src/VisualStudio/Core/Test/Microsoft.VisualStudio.LanguageServices.UnitTests.vbproj
  src/VisualStudio/TestUtilities2/Microsoft.VisualStudio.LanguageServices.Test.Utilities2.vbproj
  src/Workspaces/CoreTestUtilities/Roslyn.Services.UnitTests.Utilities.csproj
Labels: Area-Infrastructure

#31457 Split nullable context for types and for warnings.
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/CSharpExtensions.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpPragmaWarningStateMap.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Syntax/AbstractWarningStateMap.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicWarningStateMap.vb
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31448 Set working folder for the solution added.
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFindReferences.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/VisualStudioWorkspace_OutOfProc.cs
Labels: Approved to merge, Area-IDE

#31505 Fix double writes of XML files during build
  build/Targets/Imports.targets
  build/Targets/Packages.props
Labels: Area-Infrastructure

#31433 Update CompilerServerLogger.cs
  src/Compilers/Core/CommandLine/CompilerServerLogger.cs
Labels: Area-Compilers, Bug, Community

#31470 Mention "enhanced using" in feature status page
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#31506 Cherry pick yaml
  azure-pipelines-integration.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
  src/Compilers/CSharp/Test/Emit/Emit/ResourceTests.cs
Labels: Area-Infrastructure

#31330 Async-streams: use ManualResetValueTaskSourceCore and AsyncIteratorMethodBuilder types
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorInfo.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodBuilderMemberCollection.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncStateMachine.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Feature - Async Streams

#31509 completion: some suffixes scenarios
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Intellisense/ModernCompletionTestState.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/NamedParameterCompletionProvider.cs
Labels: Approved to merge, Area-IDE

#31512 Share xml code in the lexer.
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
Labels: Area-Compilers

#31543 make sure VS to not crash when analyzer.initialize throws
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateSet.cs
Labels: Approved to merge, Area-IDE

#30998 Get root namespace from the project
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_MoveFile.cs
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_NoAction.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_Create.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/AdditionalPropertiesTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectCreationInfo.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFile.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Approved to merge, Area-IDE, Auto-Merge If Tests Pass

#31432 Allow completion to provide an 'short description' for completion items.
  src/EditorFeatures/Core.Wpf/Completion/Presentation/CustomCommitCompletion.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Model.cs
  src/Features/Core/Portable/Completion/CompletionItem.cs
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
Labels: Approved to merge, Area-IDE, Community

#31411 Properly import the IAsyncServiceProvider
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
Labels: Approved to merge, Area-IDE, Concept-Continuous Improvement

#31546 Add a simple CFG implementation of index and range to avoid asserts in the builder.
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IFromEndIndexOperation_IRangeOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#31510 Add overload for AnalyzerConfig.Parse that takes a SourceText
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers

#31513 Make SolutionState hold onto SolutionInfo.SolutionAttributes
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Approved to merge, Area-IDE, Concept-Continuous Improvement

#31379 Remove assertion that this must be called on the UI thread
  src/VisualStudio/Core/Def/Implementation/Options/LocalUserRegistryOptionPersister.cs
Labels: Approved to merge, Area-IDE

#31134 support semantic errors for script files in misc projects.
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/DefaultDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/AnalysisKind.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.AnalysisKind.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/Log/DiagnosticAnalyzerLogger.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Test/Diagnostics/DefaultDiagnosticUpdateSourceTests.vb
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticProvider.cs
  src/Workspaces/Core/Portable/Diagnostics/InternalRuntimeDiagnosticOptions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState_SimpleProperties.cs
Labels: Approved to merge, Area-IDE

#31559 Standardize the conditional IOperation verification skip method, and …
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/EmitErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/OperationAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/ReferenceManagerTests.cs
  src/Compilers/CSharp/Test/Symbol/DeclarationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/EnumTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/OptionalArgumentsTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/Binder_Expressions_Tests.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/ReferenceManagerTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/BinaryOperators.vb
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Test/Utilities/Portable/Compilation/NoIOperationValidationFactAttribute.cs
Labels: Area-Compilers, Test

#31148 Allow unmanaged generic structs
  azure-pipelines-integration.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
  src/Compilers/CSharp/Portable/Symbols/BaseTypeAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedFieldSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/ResourceTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/BaseClassTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ManagedAddressOfTests.cs
Labels: Area-Compilers

#31564 Mark compiler generated files as generated for GitHub PRs
  .gitattributes
Labels: Area-Compilers

#31201 Implement async pattern dispose
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#31553 Async-streams: Emit AsyncIteratorStateMachine attribute on async-iterator methods
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Feature - Async Streams

#31132 Fix issue where we show the 'ReSharper is suspended' gold bar before ReSharper has finished loading
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/ReSharperStatus.cs
Labels: Approved to merge, Area-IDE

#31591 Change to use ConfigureAwait(true) following JTF SwitchToMainThread
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
Labels: Approved to merge

#31507 Add IWorkspaceProjectContext.Add/RemoveAnalyzerConfigFile stubs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/CPS/IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
Labels: Approved to merge, Area-IDE, Auto-Merge If Tests Pass

#31413 Remove unnecessary asynchronous Formatter operations
  src/CodeStyle/Core/CodeFixes/FormattingCodeFixHelper.cs
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/CSharp/Formatting/Indentation/SmartTokenFormatter.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTestBase.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartTokenFormatterFormatRangeTests.cs
  src/EditorFeatures/VisualBasic/Formatting/Indentation/SmartTokenFormatter.vb
  src/Features/CSharp/Portable/CodeFixes/Suppression/CSharpSuppressionCodeFixProvider.cs
  src/Features/CSharp/Portable/RemoveUnnecessaryImports/AbstractCSharpRemoveUnnecessaryImportsService.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageFixAllCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.PragmaHelpers.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.PragmaWarningCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.RemoveSuppressionCodeAction_Pragma.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Features/Core/Portable/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
  src/Features/VisualBasic/Portable/CodeFixes/Suppression/VisualBasicSuppressionCodeFixProvider.vb
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguageCodeSupport.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingElasticTriviaTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingMultipleSpanTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTreeEditTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTriviaTests.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/FormatCodeCleanupProvider.cs
  src/Workspaces/Core/Portable/Formatting/Formatter.cs
  src/Workspaces/CoreTest/Editting/SyntaxEditorTests.cs
  src/Workspaces/CoreTest/FormattingTests.cs
  src/Workspaces/CoreTestUtilities/Formatting/FormattingTestBase.cs
  src/Workspaces/VisualBasicTest/Formatting/FormattingTests.vb
  src/Workspaces/VisualBasicTest/Formatting/VisualBasicFormattingTestBase.vb
Labels: Approved to merge, Area-IDE, Concept-Continuous Improvement

#31454 Update dotnet-format to format files in parallel
  src/Tools/dotnet-format/CodeFormatter.cs
  src/Tools/dotnet-format/dotnet-format.csproj
Labels: Approved to merge, Area-IDE

#31574 Ensure we update additional documents when they change on disk
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
Labels: Approved to merge, Area-IDE

#31605 make sure we don't load assembly too early for vsix installed analyze…
  src/Workspaces/Core/Portable/Execution/AbstractReferenceSerializationService.cs
  src/Workspaces/Core/Portable/Execution/CustomAsset.cs
  src/Workspaces/Core/Portable/Execution/CustomAssetBuilder.cs
  src/Workspaces/Core/Portable/Execution/IReferenceSerializationService.cs
  src/Workspaces/Core/Portable/Execution/SerializerService.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
Labels: Approved to merge, Area-IDE

#31613 Fix to unused value assignment analyzer for #31583
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Features/CSharp/Portable/RemoveUnusedParametersAndValues/CSharpRemoveUnusedValuesCodeFixProvider.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
  src/Features/VisualBasic/Portable/RemoveUnusedParametersAndValues/VisualBasicRemoveUnusedValuesCodeFixProvider.vb
Labels: Approved to merge, Area-IDE

#31558 Add support to Replace and Insert SyntaxEditor APIs to allow tracking…
  src/Workspaces/Core/Portable/Editing/SyntaxEditor.cs
  src/Workspaces/CoreTest/Editting/SyntaxEditorTests.cs
Labels: Approved to merge, Area-IDE

#31622 [dotnet-format] Decreased the logged severity of workspace diagnostic warnings
  src/Tools/dotnet-format/CodeFormatter.cs
  src/Tools/dotnet-format/Program.cs
  src/Tools/dotnet-format/README.md
  src/Tools/dotnet-format/Resources.Designer.cs
  src/Tools/dotnet-format/Resources.resx
  src/Tools/dotnet-format/xlf/Resources.cs.xlf
  src/Tools/dotnet-format/xlf/Resources.de.xlf
  src/Tools/dotnet-format/xlf/Resources.es.xlf
  src/Tools/dotnet-format/xlf/Resources.fr.xlf
  src/Tools/dotnet-format/xlf/Resources.it.xlf
  src/Tools/dotnet-format/xlf/Resources.ja.xlf
  src/Tools/dotnet-format/xlf/Resources.ko.xlf
  src/Tools/dotnet-format/xlf/Resources.pl.xlf
  src/Tools/dotnet-format/xlf/Resources.pt-BR.xlf
  src/Tools/dotnet-format/xlf/Resources.ru.xlf
  src/Tools/dotnet-format/xlf/Resources.tr.xlf
  src/Tools/dotnet-format/xlf/Resources.zh-Hans.xlf
  src/Tools/dotnet-format/xlf/Resources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE

#31579 Add syntax classification for nullable directives
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests_Preprocessor.cs
  src/Workspaces/CSharp/Portable/Classification/Worker.cs
  src/Workspaces/CSharp/Portable/Classification/Worker_Preprocesser.cs
Labels: Approved to merge, Area-IDE, Community, New Language Feature - Nullable Reference Types

#31596 asynccompletion: number of changes when making large changes differ with the original completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManagerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller_Commit.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Approved to merge, Area-IDE

#31478 added partial solution telemetry
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Versions/PersistedVersionStampLogger.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionLogger.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Approved to merge, Area-IDE

#31499 Track nullability of nullable value types
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31522 async completion: re-consider using snapshots for caret positioning after edit
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
Labels: Approved to merge, Area-IDE

#31626 added Telemetry dumper to roslyn diagnostic tool window
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/CodeFixSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/FixAllSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core/Shared/Extensions/TelemetryExtensions.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/DiagnosticsWindow.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/Roslyn.VisualStudio.DiagnosticsWindow.csproj
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/Telemetry/TelemetryPanel.xaml
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/Telemetry/TelemetryPanel.xaml.cs
Labels: Approved to merge, Area-IDE

#31604 Lookup dispose methods on the underlying type for nullable value types:
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#31664 Put Binaries in gitignore
  .gitignore
Labels: Area-Infrastructure

#31536 Implement host object support for .editorconfig files
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/DiscoverEditorConfigFiles.cs
  src/Compilers/Core/MSBuildTask/IAnalyzerConfigFilesHostObject.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.VisualBasic.Core.targets
  src/Compilers/Core/MSBuildTask/Vbc.cs
  src/Compilers/Core/MSBuildTaskTests/DiscoverEditorConfigFilesTests.cs
Labels: Area-Compilers, Area-IDE

#31593 Hide AnalyzerConfig section matching implementation
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.SectionNameMatching.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers, New Feature - Editor Config

#31695 Use release bootstrap compiler
  eng/build-utils.ps1
  eng/build.ps1
  eng/test-determinism.ps1
Labels: Area-Infrastructure

#31693 Fix AddImport to not error on awaited extension methods
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
Labels: Approved to merge, Area-IDE

#31592 More Test Hook Fixes
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.RegionBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#31473 Fix classification for comments after "#pragma warning" directives
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests_Preprocessor.cs
  src/Workspaces/CSharp/Portable/Classification/Worker_Preprocesser.cs
Labels: Approved to merge, Area-IDE, Community

#30742 Fix double negation of integral `MinValue`s
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/ExpressionGenerator.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/ExpressionGenerator.vb
Labels: Approved to merge, Area-IDE, Community

#31634 fixed re-enterance bug in async operation listener.
  src/Workspaces/Core/Portable/Shared/TestHooks/AsynchronousOperationListener.AsyncToken.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/AsynchronousOperationListener.cs
Labels: Approved to merge, Area-IDE, Bug

#31595 Fix couple of bugs in unused private members analyzer
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedMembers/RemoveUnusedMembersTests.vb
  src/Features/Core/Portable/Diagnostics/DiagnosticHelper.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE

#31687 close sqlite connection when solution is closed
  src/VisualStudio/Core/Def/Storage/VisualStudioPersistentStorageLocationService.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFindReferences.cs
Labels: Approved to merge, Area-IDE

#31705 Add SymbolDisplay test for annotations on nested arrays
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#31183 Add ability to extract interface to same file
  src/EditorFeatures/CSharp/ExtractInterface/ExtractInterfaceCommandHandler.cs
  src/EditorFeatures/CSharpTest/ExtractInterface/ExtractInterfaceTests.cs
  src/EditorFeatures/Core/Implementation/ExtractInterface/AbstractExtractInterfaceCommandHandler.cs
  src/EditorFeatures/TestUtilities/ExtractInterface/AbstractExtractInterfaceTests.cs
  src/EditorFeatures/TestUtilities/ExtractInterface/ExtractInterfaceTestState.cs
  src/EditorFeatures/TestUtilities/ExtractInterface/TestExtractInterfaceOptions.cs
  src/EditorFeatures/VisualBasic/ExtractInterface/ExtractInterfaceCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/ExtractInterface/ExtractInterfaceTests.vb
  src/Features/CSharp/Portable/ExtractInterface/CSharpExtractInterfaceService.cs
  src/Features/Core/Portable/ExtractInterface/AbstractExtractInterfaceService.SymbolMapping.cs
  src/Features/Core/Portable/ExtractInterface/AbstractExtractInterfaceService.cs
  src/Features/Core/Portable/ExtractInterface/ExtractInterfaceCodeAction.cs
  src/Features/Core/Portable/ExtractInterface/ExtractInterfaceOptionsResult.cs
  src/Features/Core/Portable/ExtractInterface/IExtractInterfaceOptionsService.cs
  src/Features/VisualBasic/Portable/ExtractInterface/VisualBasicExtractInterfaceService.vb
  src/VisualStudio/Core/Def/Implementation/ExtractInterface/ExtractInterfaceDialog.xaml
  src/VisualStudio/Core/Def/Implementation/ExtractInterface/ExtractInterfaceDialog.xaml.cs
  src/VisualStudio/Core/Def/Implementation/ExtractInterface/ExtractInterfaceDialogViewModel.cs
  src/VisualStudio/Core/Def/Implementation/ExtractInterface/VisualStudioExtractInterfaceOptionsService.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/EnumBoolConverter.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpExtractInterfaceDialog.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicExtractInterfaceDialog.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/ExtractInterfaceDialog_OutOfProc.cs
Labels: Approved to merge, Area-IDE, Feature Request

#31462 Project document ordering
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/SourceFileHandlingTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/CPS/IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Approved to merge, Area-IDE, Community

#31721 Fix a bug in the syntax generator with VB constructors and attributes.
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
  src/Workspaces/VisualBasicTest/CodeGeneration/SyntaxGeneratorTests.vb
Labels: Approved to merge, Area-IDE

#31727 Revert #31132
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/ReSharperStatus.cs
Labels: Approved to merge, Area-IDE

#31447 Refactor change namespace service
  src/Features/CSharp/Portable/CodeRefactorings/SyncNamespace/CSharpChangeNamespaceService.cs
  src/Features/CSharp/Portable/CodeRefactorings/SyncNamespace/CSharpSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.MoveFileCodeAction.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.State.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/IChangeNamespaceService.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/SyncNamespace/VisualBasicChangeNamespaceService.vb
Labels: Approved to merge, Area-IDE

#31708 DeclareAsNullable should handle async returns
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Labels: Approved to merge, Area-IDE, New Language Feature - Nullable Reference Types

#31717 Simplify SetForegroundWindow
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicEditAndContinue.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudio_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/IntegrationHelper.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Interop/NativeMethods.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstance.cs
Labels: Area-Infrastructure

#31527 Async-streams: Disposal in async-iterator methods
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorInfo.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncStateMachine.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TryStatement.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNameKind.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestSource.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Feature - Async Streams

#31761 Ensure Visual Studio has focus at the start of each new test
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractIntegrationTest.cs
Labels: Area-Infrastructure

#31703 Track nullability of instance members in lambdas and local functions
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowDiagnosticTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31681 Eliminate differences between Arcade and Roslyn targets
  eng/build.ps1
  eng/targets/RepoToolset/DefaultVersions.props
  eng/targets/RepoToolset/GenerateInternalsVisibleTo.targets
  eng/targets/RepoToolset/Imports.targets
  eng/targets/RepoToolset/Localization.targets
  eng/targets/RepoToolset/NativeVersion.rc
  eng/targets/RepoToolset/OptimizationData.targets
  eng/targets/RepoToolset/Performance.targets
  eng/targets/RepoToolset/ProjectDefaults.props
  eng/targets/RepoToolset/Publish.proj
  eng/targets/RepoToolset/RepositoryInfo.targets
  eng/targets/RepoToolset/Settings.props
  eng/targets/RepoToolset/Sign.proj
  eng/targets/RepoToolset/StrongName.props
  eng/targets/RepoToolset/StrongName.targets
  eng/targets/RepoToolset/Tests.targets
  eng/targets/RepoToolset/VisualStudio.DesignTimeBuild.targets
  eng/targets/RepoToolset/VisualStudio.SetupPackage.swixproj
  eng/targets/RepoToolset/VisualStudio.SetupPackage.vsmanproj
  eng/targets/RepoToolset/VisualStudio.targets
  eng/targets/RepoToolset/Workarounds.targets
  eng/targets/RepoToolset/XUnit/XUnit.targets
  eng/targets/RepoToolset/snk/35MSSharedLib1024.snk
  eng/targets/RepoToolset/snk/AspNetCore.snk
  eng/targets/RepoToolset/snk/ECMA.snk
  eng/targets/RepoToolset/snk/MSFT.snk
  eng/targets/RepoToolset/snk/Open.snk
  eng/targets/RepoToolset/snk/SilverlightPlatformPublicKey.snk
  eng/targets/Settings.props
Labels: Area-Infrastructure

#31755 Tests for `is` declaration pattern
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31741 Use Equals to compare array types in attributes
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31580 Async-streams: Fix crash with async-iterator method with only throw
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers, New Feature - Async Streams

#31763 Fix build task on CoreClr 3.0
  eng/Versions.props
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeResolutionTests.cs
  src/Compilers/CSharp/Test/WinRT/AnonymousTypesSymbolTests.cs
  src/Compilers/Core/AnalyzerDriver/AnalyzerExceptionDescriptionBuilder.cs
  src/Compilers/Core/MSBuildTask/AssemblyResolution.cs
  src/Compilers/Core/MSBuildTask/CopyRefAssembly.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/Compilers/Core/Portable/CorLightup.cs
  src/Compilers/Core/Portable/MetadataReference/MetadataReference.cs
  src/Compilers/Shared/DesktopShim.cs
  src/Compilers/Shared/GlobalAssemblyCacheHelpers/MonoGlobalAssemblyCache.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Features/Core/Portable/Completion/FileSystemCompletionHelper.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Scripting/Core/CoreLightup.cs
  src/Scripting/Core/Hosting/AssemblyLoader/DesktopAssemblyLoaderImpl.cs
  src/Scripting/Core/Hosting/AssemblyLoader/InteractiveAssemblyLoader.cs
  src/Scripting/Core/Microsoft.CodeAnalysis.Scripting.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-Compilers

#31789 Minimize all before starting integration tests on CI
  eng/build.ps1
Labels: Area-Infrastructure, Integration-Test

#31142 Enable FormattingAnalyzer
  eng/Versions.props
  eng/common/tools.ps1
  eng/config/rulesets/Shipping.ruleset
  eng/targets/Imports.targets
  eng/targets/Settings.props
  eng/test-build-correctness.ps1
  src/CodeStyle/CSharp/Analyzers/Microsoft.CodeAnalysis.CSharp.CodeStyle.csproj
  src/CodeStyle/VisualBasic/Analyzers/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.vbproj
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Security.cs
  src/Compilers/CSharp/Test/Emit/Emit/NoPiaEmbedTypes.cs
  src/Compilers/VisualBasic/Portable/Symbols/EmbeddedSymbols/EmbeddedSymbolManager.SymbolsCollection.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMemberContainerTypeSymbol.vb
Labels: Approved to merge, Area-Infrastructure

#31756 Fix 'convert to tuple' analyzer.
  src/Features/Core/Portable/ConvertAnonymousTypeToTuple/AbstractConvertAnonymousTypeToTupleDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE, Community

#31794 Fix the action registration for unused parameters analyzer to ensure …
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
Labels: Approved to merge, Area-IDE

#31775 Add some more bail out cases for unused parameters and value assignments analyzers
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.vb
  src/EditorFeatures/VisualBasicTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.vb
  src/Features/CSharp/Portable/RemoveUnusedParametersAndValues/CSharpRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/RemoveUnusedParametersAndValues/VisualBasicRemoveUnusedParametersAndValuesDiagnosticAnalyzer.vb
  src/Workspaces/Core/Portable/Shared/Extensions/ICompilationExtensions.cs
Labels: Approved to merge, Area-IDE

#31822 Add workaround to unused parameters/values analyzer for code with con…
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.vb
  src/EditorFeatures/VisualBasicTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.vb
  src/Features/CSharp/Portable/RemoveUnusedParametersAndValues/CSharpRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/RemoveUnusedParametersAndValues/VisualBasicRemoveUnusedParametersAndValuesDiagnosticAnalyzer.vb
Labels: Approved to merge, Area-IDE

#31809 Fix an assert in unused members analyzer for newly added IReDimClause…
  src/EditorFeatures/VisualBasicTest/RemoveUnusedMembers/RemoveUnusedMembersTests.vb
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE

#31771 Report nested nullability warnings for arguments to user-defined conversions
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31624 Async-streams: Add CancellationToken to GetAsyncEnumerator
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Feature - Async Streams

#31779 Fix issues with using dogfood compilers
  eng/Versions.props
  eng/build-utils.ps1
  eng/generate-compiler-code.ps1
  eng/targets/Imports.targets
  eng/targets/Settings.props
  eng/test-determinism.ps1
  src/NuGet/Microsoft.NETCore.Compilers/Microsoft.NETCore.Compilers.Package.csproj
  src/NuGet/Microsoft.Net.Compilers/Microsoft.Net.Compilers.Package.csproj
Labels: Area-Infrastructure, PR For Personal Review Only

#31806 Add support for restore and safeonly for #nullable directive.
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/NullableContextOptions.cs
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/CSharpPragmaWarningStateMap.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.cs
  src/Compilers/CSharp/Portable/Syntax/NullableDirectiveMap.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RestoreKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SafeOnlyKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/KeywordCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/RestoreKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/SafeOnlyKeywordRecommender.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31844 Use recommended msdn names for parameters when generating operators.
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/VisualBasicTest/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.vb
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
Labels: Approved to merge, Area-IDE, Community, Feature Request

#31645 Async-streams: Optimize return of MoveNextAsync
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: 4 - In Review, Area-Compilers, New Feature - Async Streams

#31719 Annotate NullableWalker
  eng/Versions.props
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31888 Add EditorConfig to branch publish list
  eng/config/PublishData.json
Labels: Area-Infrastructure

#31910 Add missing .editorconfig formatting settings
  .editorconfig
Labels: Area-Infrastructure, Contributor Pain

#31781 Permit tests that fail certain assertions to run in !DEBUG
  src/Compilers/CSharp/Test/Emit/CodeGen/GotoTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Global.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/DeclarationTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/DynamicTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/PseudoVariableTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ReferencedModulesTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ResultPropertiesTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/TupleTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/WinMdTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#31917 Remove last PROTOTYPE comment and add reference to bug
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
Labels: Area-Compilers

#31919 Rename members of NullableContextOptions enum.
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/NullableContextOptions.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31785 Add Span and Memory conversion methods for ImmutableArray
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/ISymUnmanagedAsyncMethodPropertiesWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/ISymUnmanagedDocumentWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriterImpl.cs
  src/Compilers/Core/Portable/InternalUtilities/ImmutableArrayInterop.cs
  src/Compilers/Core/Portable/InternalUtilities/LittleEndianReader.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs
  src/Compilers/Core/Portable/StrongName/CryptoBlobParser.cs
  src/Test/PdbUtilities/Writer/DelegatingSymUnmanagedWriter.cs
  src/Test/PdbUtilities/Writer/MockSymUnmanagedWriter.cs
  src/Test/Utilities/Portable/FX/PinnedBlob.cs
  src/Test/Utilities/Portable/FX/PinnedMetadata.cs
  src/Test/Utilities/Portable/Metadata/ILValidation.cs
Labels: Area-Compilers

#31847 Fix up benchmarks after arcade refactoring
  src/Tools/CompilerBenchmarks/run-perf.ps1
Labels: Area-Compilers, Area-Infrastructure, Area-Performance

#31648 Include local functions in 'Use expression body' refactoring
  src/EditorFeatures/CSharpTest/UseExpressionBody/Analyzer/UseExpressionBodyForLocalFunctionsAnalyzerTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForLocalFunctionsRefactoringTests.cs
  src/Features/CSharp/Portable/CodeCleanup/CSharpCodeCleanupService.cs
  src/Features/CSharp/Portable/UseExpressionBody/Helpers/UseExpressionBodyForLocalFunctionHelper.cs
  src/Features/CSharp/Portable/UseExpressionBody/Helpers/UseExpressionBodyHelper.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions.cs
Labels: Approved to merge, Area-IDE, Community

#31914 use more nameof keyword for generate code
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Labels: Area-Compilers, Community

#31915 Enable Arcade dependency flow
  eng/Version.Details.xml
Labels: Area-Infrastructure

#31293 Correct the Syntax of IUnaryOperation (logical not) in control flow g…
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUnaryOperatorExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IUnaryOperatorExpression.vb
Labels: Area-Compilers, Community

#31927 Set the ulimit higher to avoid too many open files when running build.sh
  eng/build.sh
Labels: Area-Infrastructure

#31932 Disable warn as error in build correctness
  eng/build.ps1
  eng/test-build-correctness.ps1
Labels: Area-Infrastructure

#31933 Fix formatting error
  src/Features/CSharp/Portable/UseExpressionBody/Helpers/UseExpressionBodyForLocalFunctionHelper.cs
Labels: Area-Infrastructure

#31526 Add BoundNode.Source() method. Improve AssertEx.SetEqual() method
  src/Compilers/CSharp/Portable/BoundTree/BoundNode_Source.cs
  src/Test/Utilities/Portable/Assert/AssertEx.cs
Labels: Area-Compilers, Test

#31936 Fix nugetKind for editorconfig branch in PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure

#31921 Add test to record order of evaluation.
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#31894 DeclareAsNullable: handle iterator methods
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Labels: Approved to merge, Area-IDE, New Language Feature - Nullable Reference Types

#31940 Rename new suppress message attribute scope
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.cs
  src/Test/Utilities/Portable/Diagnostics/SuppressMessageAttributeTests.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers

#31956 Fix typos
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.ILocalState.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncLocalsTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IConversionExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/InterfaceOverriddenOrHiddenMembersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/OverriddenOrHiddenMembersTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NullableParsingTests.cs
  src/Compilers/Core/CodeAnalysisTest/SourceFileResolverTest.cs
  src/Compilers/Core/Portable/DiaSymReader/Utilities/InteropUtilities.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriterImpl.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
  src/Compilers/Core/Portable/Operations/IEmptyOperation.cs
  src/Compilers/Core/Portable/Operations/OperationExtensions.cs
  src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb
  src/Compilers/VisualBasic/Portable/Symbols/EventSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/PropertySymbol.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/OperationAnalyzerTests.vb
  src/Test/PdbUtilities/Writer/MockSymUnmanagedWriter.cs
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder_SourceDeclarations.cs
Labels: Area-Compilers, Area-IDE

#31231 Add new classifications
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayPartKind.cs
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolDisplay/SymbolDisplayTests.vb
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests_Preprocessor.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests_Dynamic.cs
  src/EditorFeatures/Core.Wpf/Classification/ClassificationTypeFormatDefinitions.cs
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Implementation/Classification/ClassificationTypeDefinitions.cs
  src/EditorFeatures/Core/Implementation/Classification/EditorClassifier.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/TestUtilities/Classification/FormattedClassifications.OverloadedOperators.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassifications.cs
  src/EditorFeatures/VisualBasicTest/Classification/SemanticClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/Classification/SyntacticClassifierTests.vb
  src/Features/Core/Portable/Common/SymbolDisplayPartKindTags.cs
  src/Features/Core/Portable/Common/TaggedText.cs
  src/Features/Core/Portable/Common/TextTags.cs
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
  src/VisualStudio/Core/Def/HACK_ThemeColorFixer.cs
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/CSharpSyntaxClassificationService.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/OperatorOverloadSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/UsingDirectiveSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/Worker.cs
  src/Workspaces/Core/Portable/Classification/ClassificationTypeNames.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractNameSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassifier.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/VisualBasic/Portable/Classification/ClassificationHelpers.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/AbstractSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/IdentifierNameSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/ImportAliasClauseSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/OperatorOverloadSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/VisualBasicSyntaxClassificationService.vb
  src/Workspaces/VisualBasic/Portable/Classification/Worker.vb
Labels: Approved to merge, Area-IDE

#31599 Add when_multiline option for csharp_prefer_braces
  src/EditorFeatures/CSharpTest/AddBraces/AddBracesTests.cs
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/Test2/Simplification/BlockSimplificationTests.vb
  src/Features/CSharp/Portable/AddBraces/CSharpAddBracesDiagnosticAnalyzer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions_Parsing.cs
  src/Workspaces/CSharp/Portable/CodeStyle/PreferBracesPreference.cs
  src/Workspaces/CSharp/Portable/Execution/CSharpOptionsSerializationService.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpMiscellaneousReducer.cs
  src/Workspaces/CSharp/Portable/Utilities/FormattingRangeHelper.cs
Labels: Approved to merge, Area-IDE

#31674 Using declaration lowering rewrite
  Compilers.sln
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Block.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_LabeledStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_MultipleLocalDeclarations.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalUsingVarRewriter.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#31846 MakeMethodAsync: fix iterator methods
  src/EditorFeatures/CSharpTest/Diagnostics/MakeMethodAsynchronous/MakeMethodAsynchronousTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/MakeMethodSynchronous/MakeMethodSynchronousTests.cs
  src/Features/CSharp/Portable/MakeMethodAsynchronous/CSharpMakeMethodAsynchronousCodeFixProvider.cs
  src/Features/CSharp/Portable/MakeMethodSynchronous/CSharpMakeMethodSynchronousCodeFixProvider.cs
  src/Features/Core/Portable/MakeMethodAsynchronous/AbstractMakeMethodAsynchronousCodeFixProvider.KnownTypes.cs
  src/Features/Core/Portable/MakeMethodAsynchronous/AbstractMakeMethodAsynchronousCodeFixProvider.cs
  src/Features/Core/Portable/MakeMethodSynchronous/AbstractMakeMethodSynchronousCodeFixProvider.cs
  src/Features/VisualBasic/Portable/MakeMethodAsynchronous/VisualBasicMakeMethodAsynchronousCodeFixProvider.vb
  src/Features/VisualBasic/Portable/MakeMethodSynchronous/VisualBasicMakeMethodSynchronousCodeFixProvider.vb
  src/Workspaces/Core/Portable/Shared/Extensions/ICompilationExtensions.cs
Labels: Approved to merge, Area-IDE, New Feature - Async Streams

#31989 Correct XML summary on ITypeSymbol.AllInterfaces
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
Labels: Area-Compilers, Community, Documentation

#31990 Take notes on C# 8 features
  docs/contributing/Compiler Test Plan.md
Labels: Area-Compilers, Documentation

#31953 Fix formatting following suppress nullable warning operator
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
Labels: Approved to merge, Area-IDE, New Language Feature - Nullable Reference Types

#31952 Remove unnecessary call to GetLocalName
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
Labels: Approved to merge, Area-IDE

#31787 Force cancellation if switching to UI thread completed after cancellation request
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Core/GoToDefinition/AbstractGoToSymbolService.cs
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/ModelComputation.cs
  src/EditorFeatures/Core/Implementation/NavigationBar/NavigationBarController_ModelComputation.cs
  src/EditorFeatures/Core/Implementation/RenameTracking/RenameTrackingTaggerProvider.TrackingSession.cs
  src/EditorFeatures/Core/Shared/Utilities/ForegroundThreadAffinitizedObject.cs
  src/VisualStudio/CSharp/Impl/EventHookup/EventHookupSessionManager_EventHookupSession.cs
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/DesignerAttributeIncrementalAnalyzer.cs
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
Labels: Approved to merge, Area-IDE, Bug, Regression, Tenet-Reliability, Urgency-Soon

#32010 Implement parsing for positional records
  src/CodeStyle/CSharp/Analyzers/PublicAPI.Unshipped.txt
  src/CodeStyle/Core/Analyzers/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Portable/Syntax/ClassDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/StructDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/TypeDeclarationSyntax.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxFactoryTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Features/CSharp/Portable/Organizing/Organizers/ClassDeclarationOrganizer.cs
  src/Features/CSharp/Portable/Organizing/Organizers/StructDeclarationOrganizer.cs
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/CSharpTest/Formatting/FormattingElasticTriviaTests.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers, PR For Personal Review Only

#32023 Fix a bad merge
  azure-pipelines-official.yml
Labels: Area-Compilers, Area-Infrastructure

#31937 Avoid cascading diagnostic for unexpected override
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UseSiteErrorTests.cs
Labels: Area-Compilers, Community

#32031 Add record synthesized constructor generation
  src/Compilers/CSharp/Portable/Binder/BinderFactory.BinderFactoryVisitor.cs
  src/Compilers/CSharp/Portable/Binder/BinderFactory.NodeUsage.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Syntax/LookupPosition.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupPositionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, PR For Personal Review Only

#31967 IOperation for recursive pattern and switch expression
  Patterns.playlist
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationNodes.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIsPatternExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IPatternSwitchCase.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IDeclarationPatternOperation.cs
  src/Compilers/Core/Portable/Operations/IPatternOperation.cs
  src/Compilers/Core/Portable/Operations/IRecursivePatternOperation.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, Concept-API, New Feature - IOperation, New Language Feature - Pattern Matching

#31993 Compile successfully - without IDE0055 - from a fresh checkout
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IUnaryOperatorExpression.vb
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
Labels: Area-Compilers

#31920 MatchFailureException to SwitchExpressionException
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, Concept-API, New Language Feature - Pattern Matching

#32019 Implement IOperation for suppression operator
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationNodes.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Approved to merge, Area-Compilers, New Feature - IOperation, New Language Feature - Nullable Reference Types

#31980 Await using declarations
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/StackAllocArrayCreationExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncStreamsParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAwaitHighlighter.cs
  src/EditorFeatures/CSharpTest/KeywordHighlighting/AwaitHighlighterTests.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#32015 VB command line parser: Do not unquote /embed and /additionalfile values
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/MSBuildTask/CommandLineBuilderExtension.cs
  src/Compilers/Core/MSBuildTaskTests/VbcTests.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers

#31987 Move CI / PR triggers to YAML files
  azure-pipelines-integration.yml
  azure-pipelines.yml
  docs/infrastructure/feature branches azure.md
  docs/infrastructure/feature branches jenkins.md
Labels: Area-Infrastructure

#32028 Update build, debug, test doc
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-Infrastructure, Community

#31813 Use speakable annotations in method type re-inference
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Errors/LazyUseSiteDiagnosticsInfoForNullableType.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
  src/Test/Utilities/Portable/Assert/AssertEx.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Nullable Reference Types
