Repository dotnet/roslyn, pull requests merged in 2018-07, with the labels that each got.

#28043 Change 'None' in code style options to 'Refactoring Only'
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/CSharpTest/QualifyMemberAccess/QualifyMemberAccessTests.cs
  src/EditorFeatures/VisualBasicTest/QualifyMemberAccess/QualifyMemberAccessTests.vb
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpTypeStyleDiagnosticAnalyzerBase.cs
  src/Features/CSharp/Portable/UseExpressionBody/UseExpressionBodyCodeFixProvider.cs
  src/Features/CSharp/Portable/UseLocalFunction/CSharpUseLocalFunctionCodeFixProvider.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/NamingStyleDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/PreferFrameworkType/PreferFrameworkTypeDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseExplicitTupleName/UseExplicitTupleNameDiagnosticAnalyzer.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpTypeStyleHelper.cs
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleHelpers.cs
  src/Workspaces/Core/Portable/CodeStyle/NotificationOption.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_NamingRule.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigSeverityStrings.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/CoreTest/CodeStyle/EditorConfigCodeStyleParserTests.cs
Labels: Approved to merge, Area-IDE, Urgency-Soon

#28177 Typo
  src/Compilers/Core/Portable/Symbols/RefKind.cs
  src/Features/CSharp/Portable/AddAccessibilityModifiers/CSharpAddAccessibilityModifiersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Completion/MatchPriority.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/PreferFrameworkTypeDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpChangeSignatureDialog.cs
  src/Workspaces/Core/Portable/Differencing/LongestCommonSubsequence.cs
  src/Workspaces/Core/Portable/Execution/AbstractReferenceSerializationService.cs
  src/Workspaces/Remote/Core/Diagnostics/DiagnosticComputer.cs
Labels: Area-Compilers, Area-IDE, Community

#28118 Ref-assigning to array elements should produce an error
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#28239 Misc. changes
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/BinderFlags.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/ContextualAttributeBinder.cs
  src/Compilers/CSharp/Portable/Errors/DiagnosticInfoWithSymbols.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28217 Enable refactorings which were unintentionally removed by 'none' severity
  src/EditorFeatures/CSharpTest/CodeActions/UseExplicitType/UseExplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/UseImplicitType/UseImplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/UseExplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/UseImplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForAccessorsRefactoringTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForConstructorsRefactoringTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForConversionOperatorsRefactoringTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForIndexersRefactoringTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForMethodsRefactoringTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForOperatorsRefactoringTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForPropertiesRefactoringTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UseExpressionBody/Helpers/UseExpressionBodyHelper`1.cs
Labels: Approved to merge, Area-IDE, Bug, Urgency-Soon

#27383 Use ValueTask in DisposeAsync and WaitForNextAsync
  build/Targets/Tools.props
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncDisposableTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncForeachTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/Test/Utilities/Portable/CompilationVerifier.cs
  src/Test/Utilities/Portable/Mocks/TestReferences.cs
Labels: Area-Compilers, New Feature - Async Streams

#28230 Implement FAR for GetAwaiter methods
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.OrdinaryMethodSymbols.vb
  src/EditorFeatures/Test2/Rename/CSharp/ImplicitReferenceConflictTests.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/OrdinaryMethodReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ContextInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Approved to merge, Area-IDE

#28206 Produce errors on ref-assignment to byval parameters
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#28162 Defer reading of the metadata timestamp until later
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReference.Snapshot.cs
Labels: Approved to merge, Area-IDE

#28254 Fix type name typo in breaking change docs
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  docs/compilers/Visual Basic/Compiler Breaking Changes - post VS2017.md
Labels: Area-Compilers, Documentation

#23642 Update NamingStyle.cs
  src/Workspaces/Core/Portable/NamingStyles/NamingStyle.cs
Labels: Approved to merge, Area-IDE, Community

#28249 Move to 2.0.7 runtime
  build/Targets/Tools.props
Labels: Area-Infrastructure

#27818 fix quickinfo close brace
  src/EditorFeatures/CSharpTest/QuickInfo/SyntacticQuickInfoSourceTests.cs
  src/EditorFeatures/Core/FindUsages/ClassifiedSpansAndHighlightSpanFactory.cs
  src/EditorFeatures/Core/Implementation/Classification/EditorClassifier.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/QuickInfoSourceProvider.QuickInfoSource.cs
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests.vb
  src/Features/Core/Portable/QuickInfo/IndentationHelper.cs
Labels: Approved to merge, Area-IDE, Urgency-Soon

#28248 Ignore nullability when checking for duplicate constraints
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28153 Reduce IO costs in AnalyzerFileWatcherService
  src/VisualStudio/Core/Def/Implementation/AnalyzerDependency/AnalyzerFileWatcherService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject_Analyzers.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeTracker.cs
Labels: Approved to merge, Area-IDE

#28209 fix crash where diagnostic progress reporter is created after solution crawler is started…
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Labels: Approved to merge, Area-IDE

#28245 Provide a spellchecking suggestion when someone mispells a constructor.
  src/EditorFeatures/CSharpTest/Diagnostics/SpellCheck/SpellCheckTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Spellcheck/SpellcheckTests.vb
  src/Features/CSharp/Portable/SpellCheck/CSharpSpellcheckCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/SpellCheck/AbstractSpellCheckCodeFixProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/SpellCheck/VisualBasicSpellCheckCodeFixProvider.vb
Labels: Area-IDE, Community

#28252 Track enclosing symbol in data flow analysis, which might be a field or property.
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ReadWriteWalker.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#28298 Ensure TypeSymbolWithAnnotations.IsNullable != null for value type
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28282 Erase nullability for unconstrained type parameters in constraints from unannotated assemblies
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/NullableReferenceFlags.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28332 Updating the OptimizationData to 2.9.0-beta7-63018-03-01
  build/Targets/Packages.props
Labels: Approved to merge

#28250 Added more tests to ref assignment to invalid expressions
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Area-Compilers, Bug, Test

#28299 Remove unused Maddog code
  src/Setup/DevDivInsertionFiles/BuildDevDivInsertionFiles.vb
Labels: Area-Infrastructure

#28344 Handle null in AssemblyVersion attribute
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests.cs
Labels: Approved to merge, Area-Compilers

#28330 Track "line continuation comments" feature for VB
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#28247 Preserve left-to-right evaluation order for dynamic compound addition…
  docs/compilers/CSharp/Compiler Breaking Changes - VS2019.md
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/WinRT/Metadata/WinMdEventTests.cs
Labels: Area-Compilers

#28423 Rename StaticNullChecking test class to NullableReferenceTypeTests
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPassBase.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#28312 Normalize xunit.runner.visualstudio references
  src/Compilers/CSharp/Test/CommandLine/CSharpCommandLineTest.csproj
  src/Compilers/CSharp/Test/Emit/CSharpCompilerEmitTest.csproj
  src/Compilers/CSharp/Test/Semantic/CSharpCompilerSemanticTest.csproj
  src/Compilers/CSharp/Test/Symbol/CSharpCompilerSymbolTest.csproj
  src/Compilers/CSharp/Test/WinRT/CSharpWinRTTest.csproj
  src/Compilers/Core/CodeAnalysisTest/CodeAnalysisTest.csproj
  src/Compilers/Core/MSBuildTaskTests/MSBuildTaskTests.csproj
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerTests.csproj
  src/Compilers/VisualBasic/Test/CommandLine/BasicCommandLineTest.vbproj
  src/Compilers/VisualBasic/Test/Emit/BasicCompilerEmitTest.vbproj
  src/Compilers/VisualBasic/Test/IOperation/BasicCompilerIOperationTest.vbproj
  src/Compilers/VisualBasic/Test/Semantic/BasicCompilerSemanticTest.vbproj
  src/Compilers/VisualBasic/Test/Symbol/BasicCompilerSymbolTest.vbproj
  src/Compilers/VisualBasic/Test/Syntax/BasicCompilerSyntaxTest.vbproj
  src/EditorFeatures/TestUtilities/ServicesTestUtilities.csproj
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/CSharpExpressionCompilerTest.csproj
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/CSharpResultProviderTest.csproj
  src/ExpressionEvaluator/Core/Test/ExpressionCompiler/ExpressionCompilerTestUtilities.csproj
  src/ExpressionEvaluator/Core/Test/FunctionResolver/FunctionResolverTest.csproj
  src/ExpressionEvaluator/Core/Test/ResultProvider/ResultProviderTestUtilities.csproj
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/BasicExpressionCompilerTest.vbproj
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/BasicResultProviderTest.vbproj
  src/Scripting/CoreTest.Desktop/ScriptingTest.Desktop.csproj
  src/Scripting/CoreTestUtilities/ScriptingTestUtilities.csproj
  src/Test/Utilities/Portable/TestUtilities.csproj
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualStudioIntegrationTests.csproj
  src/Workspaces/CSharpTest/CSharpServicesTest.csproj
  src/Workspaces/CoreTest/ServicesTest.csproj
  src/Workspaces/CoreTestUtilities/WorkspacesTestUtilities.csproj
  src/Workspaces/VisualBasicTest/VisualBasicServicesTest.vbproj
Labels: Area-Infrastructure, Test

#28420 Skip AttributeTests_WellKnownAttributes.ObsoleteOnVirtual_OnBase on S…
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
Labels: Area-Compilers, Area-Infrastructure, Test

#28294 Fallback navigate to
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Searcher.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.cs
  src/Features/CSharp/Portable/NavigateTo/CSharpNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.Remote.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchService.cs
  src/Features/VisualBasic/Portable/NavigateTo/VisualBasicNavigateToSearchService.vb
Labels: Area-IDE, Pending Shiproom Approval

#28287 Track if a file contains a tuple expression or tuple type in our index.
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ContextInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE, Community

#28066 Initial impl of 'convert anonymous type to class' refactoring.
  src/EditorFeatures/CSharpTest/ConvertAnonymousTypeToClass/ConvertAnonymousTypeToClassTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/VisualBasicTest/ConvertAnonymousTypeToClass/ConvertAnonymousTypeToClassTests.vb
  src/EditorFeatures/VisualBasicTest/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.vb
  src/Features/CSharp/Portable/ConvertAnonymousTypeToClass/CSharpConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/GenerateEqualsAndGetHashCodeFromMembers/CSharpGenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/GenerateEqualsAndGetHashCodeFromMembers/CSharpGenerateEqualsAndGetHashCodeService.cs
  src/Features/Core/Portable/CodeRefactorings/IntroduceVariable/IntroduceVariableCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/AbstractGenerateEqualsAndGetHashCodeService.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/FormatLargeBinaryExpressionRule.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndHashWithDialogCodeAction.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/IGenerateEqualsAndGetHashCodeService.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/IGenerateEqualsAndGetHashCodeServiceExtensions.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/ConvertAnonymousTypeToClass/VisualBasicConvertAnonymousTypeToClassCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/GenerateEqualsAndGetHashCodeFromMembers/VisualBasicGenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/GenerateEqualsAndGetHashCodeFromMembers/VisualBasicGenericEqualsAndGetHashCodeService.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsServiceExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ICodeDefinitionFactoryExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ICodeDefinitionFactoryExtensions_CreateEqualsMethod.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE

#28467 Use latest stable mono instead of a hardcoded version
  build/scripts/docker/Dockerfile
Labels: Area-Infrastructure

#28425 Fix VB snippet tests race condition
  src/VisualStudio/Core/Test/Snippets/SnippetTestState.vb
Labels: Area-IDE

#28253 Added binding for null coalescing assignment
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/NullCoalescingAssignmentTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/Test/Utilities/Portable/TestResource.resx
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Area-Compilers

#27099 Initial impl of 'convert anonymous type to tuple' refactoring
  src/EditorFeatures/CSharpTest/ConvertAnonymousTypeToTuple/ConvertAnonymousTypeToTupleTests.cs
  src/EditorFeatures/VisualBasicTest/ConvertAnonymousTypeToTuple/ConvertAnonymousTypeToTupleTests.vb
  src/Features/CSharp/Portable/ConvertAnonymousTypeToTuple/CSharpConvertAnonymousTypeToTupleCodeFixProvider.cs
  src/Features/CSharp/Portable/ConvertAnonymousTypeToTuple/CSharpConvertAnonymousTypeToTupleDiagnosticAnalyzer.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToTuple/AbstractConvertAnonymousTypeToTupleCodeFixProvider.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToTuple/AbstractConvertAnonymousTypeToTupleDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/ConvertAnonymousTypeToTuple/VisualBasicConvertAnonymousTypeToTupleCodeFixProvider.vb
  src/Features/VisualBasic/Portable/ConvertAnonymousTypeToTuple/VisualBasicConvertAnonymousTypeToTupleDiagnosticAnalyzer.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
Labels: Area-IDE, Community

#28227 Transfer leading trivia in ChangeSignature
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignature_Delegates.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignature_Formatting.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ReorderParametersTests.cs
  src/Features/CSharp/Portable/ChangeSignature/CSharpChangeSignatureService.cs
Labels: Area-IDE

#26787 Convert to AsyncPackage
  build/Rulesets/Roslyn_BuildRules.ruleset
  build/Targets/Packages.props
  src/Compilers/Extension/CompilerExtension.csproj
  src/Compilers/Extension/CompilerPackage.cs
  src/Deployment/Roslyn.csproj
  src/ExpressionEvaluator/Package/ExpressionEvaluatorPackage.csproj
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/CSharp/Repl/CSharpVsInteractiveWindowPackage.cs
  src/VisualStudio/Core/Def/Implementation/Interactive/AbstractResetInteractiveMenuCommand.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractPackage`2.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/IntegrationTest/TestSetup/IntegrationTestServicePackage.cs
  src/VisualStudio/IntegrationTest/TestSetup/VisualStudioIntegrationTestSetup.csproj
  src/VisualStudio/InteractiveServices/Interactive/VsInteractiveWindowPackage.cs
  src/VisualStudio/RemoteHostClientMock/RemoteHostClientMock.csproj
  src/VisualStudio/Setup.Dependencies/VisualStudioSetup.Dependencies.csproj
  src/VisualStudio/Setup/VisualStudioSetup.csproj
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
  src/VisualStudio/VisualBasic/Repl/VisualBasicVsInteractiveWindowPackage.vb
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/OptionPages/PerformanceLoggersPage.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/VisualStudioDiagnosticsWindow.csproj
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/VisualStudioDiagnosticsWindowPackage.cs
  src/VisualStudio/VisualStudioInteractiveComponents/VisualStudioInteractiveComponents.csproj
Labels: Area-IDE, Tenet-Performance

#28069 add PerformAdditionalCodeCleanupDuringFormattingCheckBox
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.FormatDocument.cs
  src/Features/Core/Portable/CodeCleanup/CodeCleanupOptions.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingOptionPage.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
Labels: Approved to merge, Area-IDE, Urgency-Soon

#28196 make code cleanup run in-proc
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.FixAllPredefinedDiagnosticProvider.cs
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/CSharp/Portable/CodeCleanup/CSharpCodeCleanupService.cs
  src/Features/Core/Portable/CodeFixes/ICodeFixService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/EditAndContinue/EditAndContinueTestHelper.vb
Labels: Approved to merge, Area-IDE

#28280 Break 'remove unnecessary this/me' into it's own analyzer+codefixer.
  src/EditorFeatures/CSharpTest/SimplifyThisOrMe/SimplifyThisOrMeTests.cs
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests_FixAllTests.cs
  src/EditorFeatures/VisualBasicTest/SimplifyThisOrMe/SimplifyThisOrMeTests.vb
  src/EditorFeatures/VisualBasicTest/SimplifyTypeNames/SimplifyTypeNamesTests.vb
  src/EditorFeatures/VisualBasicTest/SimplifyTypeNames/SimplifyTypeNamesTests_FixAllTests.vb
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/SimplifyThisOrMe/CSharpSimplifyThisOrMeCodeFixProvider.cs
  src/Features/CSharp/Portable/SimplifyThisOrMe/CSharpSimplifyThisOrMeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Features/Core/Portable/SimplifyThisOrMe/AbstractSimplifyThisOrMeCodeFixProvider.cs
  src/Features/Core/Portable/SimplifyThisOrMe/AbstractSimplifyThisOrMeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/SimplifyTypeNames/AbstractSimplifyTypeNamesCodeFixProvider.cs
  src/Features/Core/Portable/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicSimplifyTypeNamesDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/SimplifyThisOrMe/VisualBasicSimplifyThisOrMeCodeFixProvider.vb
  src/Features/VisualBasic/Portable/SimplifyThisOrMe/VisualBasicSimplifyThisOrMeDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/VisualBasic/Portable/Extensions/ExpressionSyntaxExtensions.vb
Labels: Approved to merge, Area-IDE, Community

#27993 Fix generating types into an existing file
  src/VisualStudio/Core/Def/Implementation/GenerateType/GenerateTypeDialogViewModel.cs
  src/VisualStudio/Core/Test/GenerateType/GenerateTypeViewModelTests.vb
Labels: Approved to merge, Area-IDE

#28268 use correct line ending
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.cs
Labels: Approved to merge, Area-IDE

#28311 Use default constant value for synthesized local reference for LockTa…
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILockStatement.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_ILockStatement.vb
Labels: Approved to merge, Area-Analyzers, Area-Compilers, New Feature - Flow Analysis

#26306 remove perf optimization that cause gigantic memory to be held onto m…
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Approved to merge, Area-IDE

#28471 Return Completion.Empty when the service is null
  src/EditorFeatures/Core.Wpf/Completion/Presentation/CustomCommitCompletion.cs
Labels: Approved to merge, Area-IDE

#28469 Fix discard symbol for declaration pattern
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDiscardOperation.cs
Labels: Approved to merge, Area-Compilers

#28257 Add feature to allow converting from a tuple to a named-struct.
  src/EditorFeatures/CSharpTest/ConvertTupleToStruct/ConvertTupleToStructTests.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionTest.cs
  src/EditorFeatures/VisualBasicTest/ConvertTupleToStruct/ConvertTupleToStructTests.vb
  src/Features/CSharp/Portable/ConvertTupleToStruct/CSharpConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/IntroduceVariable/IntroduceVariableCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/ConvertTupleToStruct/AbstractConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertTupleToStruct/DocumentToUpdate.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/ConvertTupleToStruct/VisualBasicConvertTupleToStructCodeRefactoringProvider.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSymbolDeclarationService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/CodeGeneration/CodeGenerationSymbolFactory.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationTypeSymbol.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
  src/Workspaces/Core/Portable/LanguageServices/SymbolDeclarationService/ISymbolDeclarationService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
  src/Workspaces/VisualBasic/Portable/Extensions/TypeSyntaxGeneratorVisitor.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSymbolDeclarationService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE, Community

#25982 make diagnostic analyzer service lazy and not require UI thread.
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioWorkspaceDiagnosticAnalyzerProviderService.cs
  src/VisualStudio/Core/Test/Diagnostics/VisualStudioWorkspaceDiagnosticAnalyzerProviderServiceTests.vb
Labels: Approved to merge, Area-IDE

#28320 Bind NonNullTypes for modules
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/BinderFlags.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorStateMachine.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousType.TypePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/ModuleEarlyWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ExtendedErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ImplicitNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFixedFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedDelegateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ErrorTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28484 Remove SymbolWithAnnotations base class
  src/Compilers/CSharp/Portable/Binder/Binder.NamespaceOrTypeOrAliasSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/Errors/LazyObsoleteDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Retargeting/RetargetingTests.cs
  src/Compilers/Test/Utilities/CSharp/SymbolUtilities.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28475 Don't ensure we have a FileChangeTracker until we actually read the file
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReference.Snapshot.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReference.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.cs
Labels: Approved to merge, Area-IDE

#28385 Add telemetry for code cleanup
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.FormatDocument.cs
  src/Features/CSharp/Portable/CodeCleanup/CSharpCodeCleanupService.cs
  src/Features/Core/Portable/CodeCleanup/CodeCleanupLogMessage.cs
  src/Features/Core/Portable/CodeCleanup/CodeCleanupOptions.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
Labels: Approved to merge, Area-IDE

#28512 Move IntegrationService (used by integration tests) to its own project
  Roslyn.sln
  build/config/SignToolData.json
  src/VisualStudio/IntegrationTest/IntegrationService/IntegrationService.cs
  src/VisualStudio/IntegrationTest/IntegrationService/IntegrationService.csproj
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualStudioIntegrationTests.csproj
  src/VisualStudio/IntegrationTest/TestSetup/BindingAttributes.cs
  src/VisualStudio/IntegrationTest/TestSetup/VisualStudioIntegrationTestSetup.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioIntegrationTestUtilities.csproj
Labels: Area-Infrastructure

#28523 Use a 75 minute test timeout on CI
  build/scripts/build.ps1
Labels: Area-Infrastructure

#28583 Several simplifications to TypeSymbolWithAnnotations
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Symbols/AbstractTypeMap.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28310 In region analysis, recover gracefully from zero-width nodes.
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Labels: 4 - In Review, Approved to merge, Area-Compilers, Bug

#28295 Set VSSDKTargetPlatformRegRootSuffix for Roslyn.csproj
  src/Deployment/Roslyn.csproj
Labels: Approved to merge, Area-Infrastructure, Contributor Pain

#28522 Add LanguageVersion.VisualBasic16
  src/Compilers/VisualBasic/Portable/LanguageVersion.vb
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/GetExtendedSemanticInfoTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/RedimStatementTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/OperatorsTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/SymbolErrorTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/UseNamedArguments/UseNamedArgumentsTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualBasicCompilerOptionsTests.vb
Labels: Area-Compilers, Area-IDE, Language-VB

#27312 Add API bool Compilation.IsSymbolAccessibleWithin(
  src/Compilers/CSharp/Portable/Binder/Semantics/AccessCheck.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AccessCheckTests.cs
  src/Compilers/Core/CodeAnalysisTest/IsSymbolAccessibleWithinTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.Designer.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Semantics/AccessCheck.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/OptionalArgumentsTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/AccessCheckTests.vb
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/AbstractGenerateConstructorService.Editor.cs
  src/Scripting/CSharpTest/InteractiveSessionTests.cs
  src/Scripting/VisualBasicTest/InteractiveSessionTests.vb
Labels: 4 - In Review, Area-Compilers, Concept-API

#28622 Misc infrastructure fixes
  build/scripts/test-determinism.ps1
  src/Compilers/Server/VBCSCompilerTests/DesktopBuildClientTests.cs
Labels: Area-Infrastructure

#28657 Fix folder names
  src/Setup/Vsix/myget_org-extensions.config
Labels: Area-Infrastructure

#28472 Add support to save current tools options into an .editorconfig file
  src/VisualStudio/CSharp/Impl/Options/Formatting/CodeStylePage.cs
  src/VisualStudio/Core/Impl/Options/GridOptionPreviewControl.xaml
  src/VisualStudio/Core/Impl/Options/GridOptionPreviewControl.xaml.cs
  src/VisualStudio/Core/Test/Options/EditorConfigGeneratorTestsCSharp.vb
  src/VisualStudio/Core/Test/Options/EditorConfigGeneratorTestsVB.vb
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
  src/VisualStudio/VisualBasic/Impl/Options/Formatting/CodeStylePage.vb
Labels: Area-IDE

#28652 Fix tests to be only conditionally skipped
  src/Compilers/CSharp/Test/Emit/PDB/PDBEmbeddedSourceTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ArglistTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NonTrailingNamedArgumentsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ScriptSemanticsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenConstLocal.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenExpression.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenLateBound.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenMultiDimensionalArray.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenNullable.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenRefReturnTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenUnstructuredErrorHandling.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenWithBlock.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/OptionalArgumentsTests.vb
  src/Compilers/VisualBasic/Test/Emit/ErrorHandling.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/CodeGenExprLambda.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBEmbeddedSourceTests.vb
  src/Compilers/VisualBasic/Test/Emit/Semantics/StaticLocalsSemanticTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/Binder_Statements_Tests.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/ImplicitVariableTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/MyTemplateTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/BinaryOperators.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/CompoundAssignment.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/MethodCalls.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OptionalArgumentTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/QueryExpressions.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/UnstructuredExceptionHandling.vb
  src/Compilers/VisualBasic/Test/Symbol/DocumentationComments/DocCommentTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/AnonymousTypes/AnonymousTypesEmittedSymbolsTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/PE/NoPia.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/GroupClassTests.vb
  src/Interactive/HostTest/InteractiveHostTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/VisualStudio/CSharp/Test/CodeModel/FileCodeFunctionTests.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
  src/Workspaces/MSBuildTest/NetCoreTests.cs
Labels: Area-Compilers

#28663 CoreClr tests
  .vsts-dotnet.yml
Labels: Area-Infrastructure, PR For Personal Review Only

#28527 Add new rule for moveability of pointer element expressions
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Approved to merge, Area-Compilers

#28660 Stop executing flaky tests that can fail because of aggressive GC
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Area-Compilers, Test

#28683 Fix a bad merge
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
Labels: Area-Infrastructure

#28067 optimize checks in AbstractVsTextViewFilter.GetDataTipTextImpl
  src/VisualStudio/Core/Def/Implementation/AbstractVsTextViewFilter`2.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.VsLanguageDebugInfo.cs
  src/VisualStudio/Core/Def/Implementation/Venus/VenusCommandFilter.cs
Labels: Area-IDE

#28705 Update Language Feature Status
  docs/Language Feature Status.md
Labels: Area-Compilers

#27130 Foreach to LINQ query refactoring
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractToMethodConverter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/CSharpConvertForEachToLinqQueryProvider.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/DefaultConverter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/ToCountConverter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/ToToListConverter.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/YieldReturnConverter.cs
  src/Features/Core/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConvertForEachToLinqQueryProvider.cs
  src/Features/Core/Portable/ConvertLinq/ConvertForEachToLinqQuery/ExtendedSyntaxNode.cs
  src/Features/Core/Portable/ConvertLinq/ConvertForEachToLinqQuery/ForEachInfo.cs
  src/Features/Core/Portable/ConvertLinq/ConvertForEachToLinqQuery/IConverter.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxTokenExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxTriviaExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxNodeOrTokenExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxTokenExtensions.cs
Labels: Area-IDE, New Feature - LINQ Conversion

#28733 Disable leak detection tests on x64
  src/EditorFeatures/Test/Preview/PreviewWorkspaceTests.cs
  src/EditorFeatures/Test/Workspaces/ProjectCacheHostServiceFactoryTests.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-IDE

#28685 Do not qualify member accesses that appear inside attributes.
  src/EditorFeatures/CSharpTest/QualifyMemberAccess/QualifyMemberAccessTests.cs
  src/EditorFeatures/VisualBasicTest/QualifyMemberAccess/QualifyMemberAccessTests.vb
  src/Features/CSharp/Portable/QualifyMemberAccess/CSharpQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicQualifyMemberAccessDiagnosticAnalyzer.vb
Labels: Area-IDE, Community

#28769 Make module-level NonNullTypes explicit in tests
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#28599 Put completion in 'suggestion' mode when typing a lambda to a method that could be an extension or instance method.
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SuggestionModeCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/AsKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/IsKeywordRecommenderTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/CSharpSyntaxContext.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeInferenceServiceExtensions.cs
Labels: Area-IDE

#28624 update quickinfo close brace tests
  src/EditorFeatures/CSharpTest/QuickInfo/SyntacticQuickInfoSourceTests.cs
  src/EditorFeatures/TestUtilities/QuickInfo/AbstractQuickInfoSourceTests.cs
Labels: Test

#28668 make AbstractObjectBrowserLibraryManager constructor lazier
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/CSharp/Impl/ObjectBrowser/ObjectBrowserLibraryManager.cs
  src/VisualStudio/Core/Def/Implementation/Library/ObjectBrowser/AbstractObjectBrowserLibraryManager.cs
  src/VisualStudio/Core/Test/ObjectBrowser/AbstractObjectBrowserTests.vb
  src/VisualStudio/Core/Test/ObjectBrowser/CSharp/ObjectBrowerTests.vb
  src/VisualStudio/Core/Test/ObjectBrowser/VisualBasic/ObjectBrowerTests.vb
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
  src/VisualStudio/VisualBasic/Impl/ObjectBrowser/ObjectBrowserLibraryManager.vb
Labels: Area-IDE

#28686 `is` operator informs nullability analysis
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28083 Add support for {...,...,...} choice in EditorConfig
  src/Compilers/Core/CodeAnalysisTest/EditorConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/EditorConfig.SectionNameMatching.cs
Labels: Area-Compilers

#28784 Add test to verify that #28632 has been fixed.
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#28722 Added support for setting null-conditional access receiver state.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28706 Removed redundant sentence fragment.
  src/Compilers/Core/Portable/MetadataReference/MetadataReference.cs
Labels: Area-Compilers, Community, Documentation

#28491 Bind NonNullTypes for types
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDiscardExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/OutDeconstructVarPendingInference.cs
  src/Compilers/CSharp/Portable/BoundTree/VariablePendingInference.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolMatcher.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/AbstractTypeMap.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/DynamicTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NullableTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingSymbolTranslator.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/GlobalExpressionVariable.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInteractiveInitializerMethod.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayCompilerInternalOptions.cs
  src/Compilers/Core/Portable/Symbols/TypeCompareKind.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/VisualStudio/Core/Test/Diagnostics/DefaultDiagnosticUpdateSourceTests.vb
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28732 Switch to Helix
  .vsts-dotnet.yml
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Infrastructure, PR For Personal Review Only

#28837 Document `IsAnnotated` concept
  docs/features/nullable-reference-types.md
Labels: Area-Compilers, Documentation, New Language Feature - Nullable Reference Types

#28857 Remove PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Area-Infrastructure

#28854 Disable icacls use on Helix
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers

#28824 Bind NonNullTypes on members
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/EventWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/FieldWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/MethodWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/ModuleWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/PropertyWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/TypeWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Source/FieldSymbolWithAttributesAndModifiers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#26708 remove random last token from format engine.
  src/EditorFeatures/CSharp/AutomaticCompletion/Sessions/CurlyBraceCompletionSession.cs
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/CSharp/Formatting/Indentation/SmartTokenFormatter.cs
  src/EditorFeatures/CSharp/Formatting/TypingFormattingRule.cs
  src/EditorFeatures/Core/Implementation/SmartIndent/AbstractIndentationService.AbstractIndenter.cs
  src/EditorFeatures/VisualBasic/Formatting/Indentation/SpecialFormattingOperation.vb
  src/EditorFeatures/VisualBasic/Formatting/Indentation/VisualBasicIndentationService.vb
  src/EditorFeatures/VisualBasic/LineCommit/CommitFormatter.vb
  src/EditorFeatures/VisualBasic/Utilities/LineAdjustmentFormattingRule.vb
  src/VisualStudio/CSharp/Impl/CodeModel/EndRegionFormattingRule.cs
  src/VisualStudio/CSharp/Impl/Utilities/BlankLineInGeneratedMethodFormattingRule.cs
  src/VisualStudio/VisualBasic/Impl/CodeModel/EndRegionFormattingRule.vb
  src/Workspaces/CSharp/Portable/Formatting/DefaultOperationProvider.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/BaseFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/ElasticTriviaFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/QueryExpressionFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/WrappingFormattingRule.cs
  src/Workspaces/Core/Portable/Formatting/BottomUpBaseIndentationFinder.cs
  src/Workspaces/Core/Portable/Formatting/Context/FormattingContext.InitialContextFinder.cs
  src/Workspaces/Core/Portable/Formatting/Context/FormattingContext.cs
  src/Workspaces/Core/Portable/Formatting/Engine/AbstractFormatEngine.cs
  src/Workspaces/Core/Portable/Formatting/Engine/ActionCache`1.cs
  src/Workspaces/Core/Portable/Formatting/Engine/ChainedFormattingRules.cs
  src/Workspaces/Core/Portable/Formatting/Rules/AbstractFormattingRule.cs
  src/Workspaces/Core/Portable/Formatting/Rules/IActionHolder`1.cs
  src/Workspaces/Core/Portable/Formatting/Rules/IFormattingRule.cs
  src/Workspaces/Core/Portable/Formatting/Rules/NextAction`1.cs
  src/Workspaces/Core/Portable/Formatting/Rules/NoOpFormattingRule.cs
  src/Workspaces/Core/Portable/Formatting/Rules/Operations/FormattingOperations.cs
  src/Workspaces/VisualBasic/Portable/Formatting/DefaultOperationProvider.vb
  src/Workspaces/VisualBasic/Portable/Formatting/Rules/ElasticTriviaFormattingRule.vb
Labels: Area-IDE

#28789 Fix rename with F# projects referencing C# projects
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.ConstructorSymbols.vb
  src/EditorFeatures/Test2/Rename/RenameEngineTests.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentProjectsFinder.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/RenameLocation.ReferenceProcessing.cs
Labels: Approved to merge, Area-IDE

#28847 updating optprof data for expression evaluators
  build/Targets/Packages.props
Labels: Approved to merge

#28667 Fix crash for assignable ref this on RHS of assignment
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers, Bug

#28861 Typos
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
Labels: Area-Compilers

#28269 Add a namespace-glyph when spell-checking+add-using.
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests.cs
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
  src/EditorFeatures/Test2/Diagnostics/AbstractCrossLanguageUserDiagnosticTest.vb
  src/EditorFeatures/Test2/Diagnostics/AddImport/AddImportCrossLanguageTests.vb
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/Features/Core/Portable/AddImport/References/ProjectSymbolReference.cs
  src/Features/Core/Portable/AddImport/References/SymbolReference.cs
Labels: Area-IDE, Community

#28625 Code Cleanup AB Test
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.FormatDocument.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/CodeCleanup/CodeCleanupABTestOptions.cs
  src/Features/Core/Portable/CodeCleanup/CodeCleanupLogMessage.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
Labels: Approved to merge, Area-IDE

#28804 Report error for T? when T is unconstrained
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/FieldSymbolWithAttributesAndModifiers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedFieldSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28587 Using Var Binding
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/LocalScopeBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalUsingVarRewriter.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingVariableTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
Labels: Area-Compilers

#28844 Warn for 'new C?()'
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#28777 Prioritize NavigateTo searches to care most about the current actives docs/project.
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToTests.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Searcher.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProviderFactory.cs
  src/EditorFeatures/TestUtilities/NavigateTo/AbstractNavigateToTests.cs
  src/EditorFeatures/VisualBasicTest/NavigateTo/NavigateToTests.vb
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.Remote.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/IRemoteNavigateToSearchService.cs
  src/Features/Core/Portable/SolutionCrawler/IDocumentTrackingServiceExtensions.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_NavigateTo.cs
Labels: Area-IDE, Community

#28853 Enable VSTS Testing
  .vsts-dotnet.yml
  build/Targets/Settings.props
  build/scripts/build-utils.ps1
  build/scripts/build.ps1
  build/scripts/test-determinism.ps1
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Server/VBCSCompilerTests/DesktopBuildClientTests.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/EditorFeatures/Test/Preview/PreviewWorkspaceTests.cs
  src/EditorFeatures/Test/Workspaces/ProjectCacheHostServiceFactoryTests.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-Infrastructure
