Repository dotnet/roslyn, pull requests merged in 2018-03, with the labels that each got.

#23978 Call the correct (non boxing) Equals method
  src/Compilers/Core/Portable/PEWriter/UsedNamespaceOrType.cs
Labels: Area-Compilers, Community

#25150 Localization test failures VB CodeGenRefReturnTests.RefReturnLateBoundCall
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenRefReturnTests.vb
Labels: Area-Compilers, Tenet-Localization, Test

#23836 Support expression bodied properties in "use auto property" analyzer.
  src/EditorFeatures/CSharp/UseAutoProperty/UseAutoPropertyAnalyzer.cs
  src/EditorFeatures/CSharp/UseAutoProperty/UseAutoPropertyCodeFixProvider.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseAutoProperty/UseAutoPropertyTests.cs
Labels: Approved to merge

#25087 Use IsNullable=null for types from unannotated assemblies
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/BoundTree/VariablePendingInference.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/AbstractTypeMap.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ConstructedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NullableTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/GlobalExpressionVariable.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInteractiveInitializerMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStaticConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IArgument.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/CompletionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeTests.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayCompilerInternalOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayFormat.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/UsesIsNullableVisitor.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Iterator/AddYieldTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
Labels: Area-Compilers

#25106 Added support for IInvocationOperation to the control flow graph.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IInvocationOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_INoneOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IInvocationOperation.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - IOperation

#23921 recursive-patterns(5): Respond to code review comments in #23208 and #23209, #23228, and #23357
  docs/features/patterns.md
  docs/features/patterns.work.md
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/ExpressionVariableFinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionArmBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Scope.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#25169 Implement a generic topological sort algorithm
  src/Compilers/Core/CodeAnalysisTest/Collections/TopologicalSortTests.cs
  src/Compilers/Core/Portable/Collections/TopologicalSort.cs
Labels: Area-Compilers, Feature Request

#25147 Fixed bug where extract method throws on unreachable code or local function parameter
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodMatrix.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.VariableSymbol.cs
  src/Features/Core/Portable/ExtractMethod/SelectionValidator.cs
Labels: Approved to merge

#25190 Handle return and yield statements in control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IReturnStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ICompoundAssignmentOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IInvocationOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_INoneOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IReturnStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IWhileUntilLoopStatement.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis

#25194 Localization test failures VB Fix creation of diagnostic in VisualBasicParseOptions.ValidateOptions
  src/Compilers/VisualBasic/Portable/VisualBasicParseOptions.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/GetDiagnosticsTests.vb
Labels: Approved to merge, Area-Compilers, Community, Language-VB, Tenet-Localization

#25126 Add classification API support for VB members, locals and parameters, and tweak C# implementation
  src/EditorFeatures/CSharpTest/Classification/AbstractCSharpClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests_Preprocessor.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests_Dynamic.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Core/Implementation/Classification/ClassificationUtilities.cs
  src/EditorFeatures/TestUtilities/Classification/AbstractClassifierTests.cs
  src/EditorFeatures/TestUtilities/Classification/ClassificationBuilder.OperatorClassificationTypes.cs
  src/EditorFeatures/TestUtilities/Classification/ClassificationBuilder.PunctuationClassificationTypes.cs
  src/EditorFeatures/TestUtilities/Classification/ClassificationBuilder.XmlDocClassificationTypes.cs
  src/EditorFeatures/TestUtilities/Classification/ClassificationBuilder.cs
  src/EditorFeatures/TestUtilities/Classification/ClassificationTestHelper.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassification.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassifications.Operators.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassifications.Punctuation.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassifications.XmlDoc.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassifications.cs
  src/EditorFeatures/TestUtilities/QuickInfo/AbstractSemanticQuickInfoSourceTests.cs
  src/EditorFeatures/VisualBasicTest/Classification/AbstractVisualBasicClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/Classification/SemanticClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/Classification/SyntacticClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/VisualStudio/Core/Def/HACK_ThemeColorFixer.cs
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/ClassificationTypeNames.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/Core/Portable/PublicAPI.Shipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/VisualBasic/Portable/Classification/ClassificationHelpers.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.vb
Labels: Approved to merge

#25220 Fix typo in Microsoft.NETCore.Compilers props file
  build/NuGetAdditionalFiles/Microsoft.NETCore.Compilers.props
Labels: Approved to merge, Area-Compilers

#25180 Add tests for blocking issues
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefReturnTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RefKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/RefKeywordRecommender.cs
Labels: Area-Compilers

#23587 Add parentheses around conditional expression in interpolated string code fix provider
  src/EditorFeatures/CSharpTest/Diagnostics/ConditionalExpressionInStringInterpolation/CSharpAddParenthesesAroundConditionalExpressionInInterpolatedStringCodeFixProviderTests.cs
  src/EditorFeatures/TestUtilities/Traits.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/CodeFixes/ConditionalExpressionInStringInterpolation/CSharpAddParenthesesAroundConditionalExpressionInInterpolatedStringCodeFixProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
Labels: Approved to merge

#24909 Support PointerElementAccess in value escape rules
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#25083 Add missing resource string to VB for Interpolated String feature.
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Parser/Parser.vb
  src/Compilers/VisualBasic/Portable/Parser/ParserFeature.vb
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
Labels: Area-Compilers, Language-VB, Tenet-Localization

#24621 Refer directly to static data when ReadOnlySpan wraps arrays of bytes.
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/ForeachTest.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/CodeGen/ILBuilderEmit.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Approved to merge, Area-Compilers

#24849 Fixed cases where 1:1 mapping between Roslyn and editor text buffer/s…
  src/EditorFeatures/Test/Extensions/SourceTextContainerExtensionsTests.cs
  src/EditorFeatures/Test/TextEditor/TryGetDocumentTests.cs
  src/EditorFeatures/Text/Extensions.SnapshotSourceText.cs
  src/EditorFeatures/Text/Extensions.TextBufferContainer.cs
  src/EditorFeatures/Text/Extensions.TextBufferMapper.cs
Labels: Approved to merge

#25213 Move more test projects to net461
  build/Targets/Imports.targets
  src/Compilers/CSharp/Portable/CSharpCodeAnalysis.csproj
  src/Compilers/CSharp/Test/CommandLine/CSharpCommandLineTest.csproj
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/CommandLine/TouchedFileLoggingTests.cs
  src/Compilers/Core/MSBuildTaskTests/MSBuildTaskTests.csproj
  src/Compilers/Server/VBCSCompilerTests/TouchedFileLoggingTests.cs
  src/Compilers/Test/Utilities/CSharp/MockCSharpCompiler.cs
  src/Compilers/Test/Utilities/VisualBasic/BasicCompilerTestUtilities.vbproj
  src/Compilers/Test/Utilities/VisualBasic/MockVisualBasicCompiler.vb
  src/Compilers/VisualBasic/Test/CommandLine/BasicCommandLineTest.vbproj
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers

#25193 Ensure analyzers are able to subscribe and get notifications for new …
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
Labels: Area-Analyzers, Area-Compilers

#25186 Enable building targeting arm64 platform
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/DeterministicTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Compilation/Platform.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceModuleSymbol.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Emit/Emit/DeterministicTests.vb
Labels: Area-Compilers

#25131 Check generic construction diagnostics for stackalloc to span conversions
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
Labels: Area-Compilers, Bug

#25210 Handle explicit branch operations in control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBinaryOperatorExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ICompoundAssignmentOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IInvocationOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_INoneOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IReturnStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IWhileUntilLoopStatement.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#25033 Fixed IDE services touching `unmanaged` constraint
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/ITypeParameterSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/TypeParameterSymbol.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/PE/LoadCustomModifiers.vb
  src/EditorFeatures/CSharpTest/Classification/AbstractCSharpClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/SpellCheck/SpellCheckTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/EditorFeatures/CSharpTest/ExtractInterface/ExtractInterfaceTests.cs
  src/EditorFeatures/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest/SignatureHelp/GenericNameSignatureHelpProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UnmanagedKeywordRecommenderTests.cs
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.TestContext.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
  src/EditorFeatures/Test/RenameTracking/RenameTrackingTaggerProviderTests.cs
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionTests.vb
  src/EditorFeatures/TestUtilities/Classification/ClassificationBuilder.OperatorClassificationTypes.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/KeywordCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/UnmanagedKeywordRecommender.cs
  src/Features/CSharp/Portable/SignatureHelp/GenericNameSignatureHelpProvider.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.CodeGenerator.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateParameterizedMemberService.AbstractInvocationInfo.cs
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Extensions/ITypeParameterSymbolExtensions.cs
  src/Workspaces/Core/Portable/CodeGeneration/CodeGenerationSymbolFactory.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationTypeParameterSymbol.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IMethodSymbolExtensions.cs
  src/Workspaces/CoreTest/FindReferencesTests.cs
Labels: Area-IDE, New Language Feature - Constraints

#23356 Implement tuple equality
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/TupleBinaryOperatorInfo.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Area-Compilers

#25209 Localization test failures Return FormattableString for BoundTupleExpression.Display
  src/Compilers/CSharp/Portable/BoundTree/Formatting.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/Core/Portable/Diagnostic/DiagnosticInfo.cs
Labels: Area-Compilers, Bug, Language-C#, Tenet-Localization

#24043 Blame
  src/EditorFeatures/TestUtilities/ServiceTestExportProvider.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/ICodeAnalysisDiagnosticAnalyzerExecutor.cs
  src/Features/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Log/DiagnosticAnalyzerLogger.cs
  src/Features/Core/Portable/Diagnostics/Log/DiagnosticLogAggregator.cs
  src/VisualStudio/Core/Test.Next/Remote/JsonConverterTests.cs
  src/VisualStudio/Core/Test.Next/Services/PerformanceTrackerServiceTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/Core/Test.Next/TestFiles/analyzer_input.csv
  src/VisualStudio/Core/Test.Next/VisualStudioTest.Next.csproj
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClientExtensions.cs
  src/Workspaces/Core/Portable/Remote/WellKnownServiceHubServices.cs
  src/Workspaces/Remote/Core/Diagnostics/DiagnosticComputer.cs
  src/Workspaces/Remote/Core/Diagnostics/IPerformanceTrackerService.cs
  src/Workspaces/Remote/Core/Diagnostics/PerformanceQueue.cs
  src/Workspaces/Remote/Core/Diagnostics/PerformanceTrackerService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_Diagnostics.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.PerformanceReporter.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
  src/Workspaces/Remote/ServiceHub/Shared/RoslynJsonConverter.RoslynOnly.cs
  src/Workspaces/Remote/ServiceHub/Shared/RoslynJsonConverter.SolutionIdConverters.cs
  src/Workspaces/Remote/ServiceHub/Shared/RoslynJsonConverter.cs
  src/Workspaces/Remote/ServiceHub/Telemetry/WatsonReporter.cs
Labels: Approved to merge

#25258 Handle return statements with no expression in CSharpAsAndNullCheckDi…
  src/EditorFeatures/CSharpTest/UsePatternMatching/CSharpAsAndNullCheckTests.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.cs
Labels: Approved to merge

#25280 Harden against errors reading active statement properties
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioActiveStatementProvider.cs
Labels: Approved to merge

#25284 Select specific overload in DebugDirectoryExtensions reflection
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PortablePdbTests.cs
  src/Compilers/Core/Portable/PEWriter/DebugDirectoryExtensions.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/VisualBasic/Test/Emit/PDB/PortablePdbTests.vb
  src/Test/PdbUtilities/Pdb/PdbValidation.cs
Labels: Approved to merge, Area-Compilers

#25045 Clean up GUIDs and checksums in PDB tests
  build/Targets/Packages.props
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncEHTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncLocalsTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinuePdbTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/CheckSumTest.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBConstantTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBDynamicLocalsTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBEmbeddedSourceTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTupleTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBUsingTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenVBCore.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinuePdbTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/ChecksumTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBCollectionInitializerTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBConstLocalTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBEmbeddedSourceTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBExternalSourceDirectiveTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBForEachTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBIteratorTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBLambdaTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBNamespaceScopes.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBObjectInitializerTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBSyncLockTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTupleTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBUsingTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBVariableInitializerTests.vb
Labels: Area-Compilers, Test

#25199 Managed core targets
  src/Compilers/Core/MSBuildTask/MSBuildTask.csproj
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.VisualBasic.Core.targets
  src/EditorFeatures/Test2/EditorServicesTest2.vbproj
  src/NuGet/Microsoft.CodeAnalysis.Build.Tasks.nuspec
  src/NuGet/Microsoft.NETCore.Compilers.nuspec
  src/NuGet/Microsoft.Net.Compilers.nuspec
  src/Setup/DevDivInsertionFiles/BuildDevDivInsertionFiles.vb
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.swr
  src/Workspaces/CoreTest/ServicesTest.csproj
Labels: Approved to merge, Area-Compilers

#24362 Move checking of structure-options to a common location (so it will be picked up by all roslyn languages).
  src/Features/Core/Portable/Structure/BlockStructureServiceWithProviders.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Labels: Approved to merge

#25281 Remove NFW causing delays
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
Labels: Approved to merge

#22611 Refactor Windows PDB writer
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBSourceLinkTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/Core/CodeAnalysisTest/NativePdbWriter/ComMemoryStreamTests.cs
  src/Compilers/Core/Portable/CodeGen/CompilationTestData.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/DiaSymReader/Metadata/IMetadataEmit.cs
  src/Compilers/Core/Portable/DiaSymReader/Metadata/IMetadataImport.cs
  src/Compilers/Core/Portable/DiaSymReader/Metadata/ISymWriterMetadataProvider.cs
  src/Compilers/Core/Portable/DiaSymReader/Metadata/MetadataAdapterBase.cs
  src/Compilers/Core/Portable/DiaSymReader/Metadata/MetadataImportFieldOffset.cs
  src/Compilers/Core/Portable/DiaSymReader/Metadata/SymWriterMetadataAdapter.cs
  src/Compilers/Core/Portable/DiaSymReader/Readme.md
  src/Compilers/Core/Portable/DiaSymReader/SymUnmanagedFactory.cs
  src/Compilers/Core/Portable/DiaSymReader/Utilities/ComMemoryStream.cs
  src/Compilers/Core/Portable/DiaSymReader/Utilities/HResult.cs
  src/Compilers/Core/Portable/DiaSymReader/Utilities/IUnsafeComStream.cs
  src/Compilers/Core/Portable/DiaSymReader/Utilities/InteropUtilities.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/ISymUnmanagedAsyncMethodPropertiesWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/ISymUnmanagedDocumentWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/ISymUnmanagedWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedSequencePointsWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriterCreationOptions.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriterException.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriterFactory.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriterImpl.cs
  src/Compilers/Core/Portable/InternalUtilities/ImmutableArrayInterop.cs
  src/Compilers/Core/Portable/NativePdbWriter/ISymUnmanagedAsyncMethodPropertiesWriter.cs
  src/Compilers/Core/Portable/NativePdbWriter/PdbMetadataWrapper.cs
  src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs
  src/Compilers/Core/Portable/NativePdbWriter/SymWriterMetadataProvider.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/Core/Portable/PEWriter/Units.cs
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
  src/ExpressionEvaluator/Core/Test/ExpressionCompiler/ExpressionCompilerTestHelpers.cs
  src/ExpressionEvaluator/Core/Test/ExpressionCompiler/ExpressionCompilerTestUtilities.csproj
  src/Test/PdbUtilities/HResult.cs
  src/Test/PdbUtilities/Pdb/MockSymWriter.cs
  src/Test/PdbUtilities/PdbUtilities.csproj
  src/Test/PdbUtilities/Reader/CustomDebugInfoUtilities.cs
  src/Test/PdbUtilities/Reader/MethodDebugInfoBytes.cs
  src/Test/PdbUtilities/Reader/MockSymUnmanagedReader.cs
  src/Test/PdbUtilities/Reader/NotImplementedSymUnmanagedReader.cs
  src/Test/PdbUtilities/Reader/PdbTestUtilities.cs
  src/Test/PdbUtilities/Reader/PdbValidation.cs
  src/Test/PdbUtilities/Reader/PdbValidationOptions.cs
  src/Test/PdbUtilities/Reader/SymReaderFactory.cs
  src/Test/PdbUtilities/Reader/Token2SourceLineExporter.cs
  src/Test/PdbUtilities/Writer/DelegatingSymUnmanagedWriter.cs
  src/Test/PdbUtilities/Writer/MockSymUnmanagedWriter.cs
  src/Test/PdbUtilities/Writer/SymUnmanagedWriterWithoutSourceLinkSupport.cs
  src/Test/PdbUtilities/Writer/SymWriterTestUtilities.cs
Labels: Approved to merge, Area-Compilers, cla-already-signed

#24935 Add IncludeNullability option to Conversions
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/TypeConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/PropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#25297 Restore semantic model functionality in tuple comparisons
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/TupleBinaryOperatorInfo.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.NodeMapBuilder.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
Labels: Area-Compilers, New Language Feature - Tuples

#25364 Extract common code to a helper method
  src/VisualStudio/Core/Def/Implementation/Library/AbstractLibraryManager.cs
  src/VisualStudio/Core/Def/Implementation/NavigationBar/NavigationBarClient.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/IVsShellExtensions.cs
Labels: Approved to merge

#25344 Adjust indent block operations used for VB smart indent in argument lists
  src/EditorFeatures/VisualBasic/Formatting/Indentation/SpecialFormattingOperation.vb
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartIndenterTests.vb
Labels: Approved to merge

#25327 Give default literals a type in tuple comparisons
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedDefaultTests.cs
Labels: Area-Compilers, New Language Feature - Tuples

#25360 Remove IMessageSerializable interface
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolDistinguisher.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs
  src/Compilers/Core/Portable/CodeAnalysisResourcesLocalizableErrorArgument.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticInfo.cs
  src/Compilers/Core/Portable/Diagnostic/IMessageSerializable.cs
  src/Compilers/Core/Portable/SymbolDisplay/FormattedSymbol.cs
  src/Compilers/Core/Portable/SymbolDisplay/FormattedSymbolList.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeUsageInfo.cs
  src/Compilers/VisualBasic/Portable/Errors/LocalizableErrorArgument.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol.vb
Labels: Approved to merge, Area-Compilers

#25338 Handle Throw and End operations in control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IReturnStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IEndOperation.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#25376 Add Project.OutputRefFilePath and ProjectInfo.OutputRefFilePath
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/Remote/Core/Services/SolutionCreator.cs
Labels: Approved to merge

#25382 [stackalloc-init] Symbol API tests
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_StackAllocArrayCreationAndInitializer.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StackAllocInitializerParsingTests.cs
Labels: Area-Compilers

#25335 Finalize fixes for semantic model and IDE support for merging
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUseImplicitTypeDiagnosticAnalyzer.cs
Labels: Area-IDE

#25386 Fix netcoreapp2.0 use in TestUtilities
  src/Compilers/CSharp/Test/Emit/Attributes/EmitTestStrongNameProvider.cs
  src/Compilers/CSharp/Test/Emit/CSharpCompilerEmitTest.csproj
  src/Compilers/CSharp/Test/Symbol/CSharpCompilerSymbolTest.csproj
  src/Test/Utilities/Portable/Platform/Custom/MetadataSignatureHelper.cs
  src/Test/Utilities/Portable/Platform/Custom/SigningTestHelpers.cs
  src/Test/Utilities/Portable/TestUtilities.csproj
Labels: Area-Compilers

#25413 Merge ref reassignment into 15.7
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/CSharpCodeAnalysis.csproj
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitAddress.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/LocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefReturnTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SpanStackSafetyTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RefKeywordRecommenderTests.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ExceptionLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ObjectAddressLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ObjectIdLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ReturnValueLocalSymbol.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/RefKeywordRecommender.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUseImplicitTypeDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-Compilers

#25392 Refactor CodeModel hookup
  src/VisualStudio/CSharp/Impl/CodeModel/CSharpProjectCodeModel.cs
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpLanguageService_ICSharpProjectHost.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.ICSharpProjectSite.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShimWithServices.CodeModel.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShimWithServices.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CSharpHelpers.cs
  src/VisualStudio/Core/Def/Implementation/CodeModel/ICodeModelInstanceFactory.cs
  src/VisualStudio/Core/Def/Implementation/CodeModel/IProjectCodeModel.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/VisualStudio/Core/Impl/CodeModel/AbstractProjectCodeModel.cs
  src/VisualStudio/Core/Impl/CodeModel/CodeModelIncrementalAnalyzer.cs
  src/VisualStudio/Core/Impl/CodeModel/CodeModelProjectCache.cs
  src/VisualStudio/Core/Impl/CodeModel/FileCodeModel_Events.cs
  src/VisualStudio/Core/Impl/CodeModel/IProjectCodeModelProvider.cs
  src/VisualStudio/Core/Impl/CodeModel/NodeKeyValidation.cs
  src/VisualStudio/Core/Impl/CodeModel/ProjectCodeModel.cs
  src/VisualStudio/Core/Impl/CodeModel/RootCodeModel.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProjectCodeModel.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IProjectCodeModelProvider.cs
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
  src/VisualStudio/TestUtilities2/MockVisualStudioWorkspace.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/VisualBasicHelpers/VisualBasicHelpers.vb
  src/VisualStudio/VisualBasic/Impl/CodeModel/VisualBasicCodeModelInstanceFactory.vb
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.IVbCompiler.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProject.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProjectShimWithServices.CodeModel.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProjectShimWithServices.vb
Labels: Approved to merge

#25208 Add refactoring for UseExplicitType
  src/EditorFeatures/CSharpTest/CodeActions/UseExplicitType/UseExplicitTypeTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitType/UseExplicitTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpTypeStyleDiagnosticAnalyzerBase.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUseExplicitTypeDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUseImplicitTypeDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/TypeStyle/UseExplicitTypeCodeFixProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
Labels: Approved to merge, Area-IDE

#25396 Track and check names in tuple equality
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/BoundTree/TupleBinaryOperatorInfo.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Tuples

#25397 'unmanaged' constraint fixups for merge
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolMatcher.cs
  src/Compilers/CSharp/Portable/Emitter/Model/TypeParameterSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Emit/UnmanagedTypeModifierTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
Labels: Area-Compilers

#24022 Ambiguous type codefix provider (using alias)
  src/EditorFeatures/CSharpTest/AliasAmbiguousType/AliasAmbiguousTypeTests.cs
  src/EditorFeatures/TestUtilities/Traits.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/AliasAmbiguousType/AliasAmbiguousTypeTests.vb
  src/Features/CSharp/Portable/AliasAmbiguousType/CSharpAliasAmbiguousTypeCodeFixProvider.cs
  src/Features/Core/Portable/AliasAmbiguousType/AbstractAliasAmbiguousTypeCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/AliasAmbiguousType/VisualBasicAliasAmbiguousTypeCodeFixProvider.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Community

#25361 fixed MEF composition issue cased by waiter change
  src/Features/Core/Portable/Shared/TestHooks/Legacy/AggregateAsynchronousOperationListener.cs
  src/Features/Core/Portable/Shared/TestHooks/Legacy/AsynchronousOperationListener.cs
  src/Features/Core/Portable/Shared/TestHooks/Legacy/FeatureAttribute.cs
  src/Features/Core/Portable/Shared/TestHooks/Legacy/FeatureMetadata.cs
  src/Test/Diagnostics/TestingOnly_WaitingService.cs
  src/VisualStudio/VisualBasic/Impl/Snippets/VisualBasicSnippetInfoService.vb
Labels: Approved to merge

#25403 Use-auto-prop should not be offered if accessors differ in accessibility
  src/EditorFeatures/CSharp/UseAutoProperty/CSharpUseAutoPropertyAnalyzer.cs
  src/EditorFeatures/CSharp/UseAutoProperty/CSharpUseAutoPropertyCodeFixProvider.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseAutoProperty/UseAutoPropertyTests.cs
  src/EditorFeatures/VisualBasic/UseAutoProperty/VisualBasicUseAutoPropertyAnalyzer.vb
  src/EditorFeatures/VisualBasic/UseAutoProperty/VisualBasicUseAutoPropertyCodeFixProvider.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/UseAutoProperty/UseAutoPropertyTests.vb
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs
Labels: Approved to merge, Area-IDE

#25374 Implementing basic GetOperations on tuple equality
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleBinaryOperatorExpression.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ITupleBinaryOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
  src/Test/Utilities/Portable/TestResource.resx
Labels: Area-Compilers, Discussion, New Feature - IOperation, New Language Feature - Tuples

#25388 Move to the 2.1 SDK
  build/Targets/Imports.targets
  build/Targets/Packages.props
  build/Targets/Tools.props
  docs/contributing/Building, Debugging, and Testing on Windows.md
  global.json
  src/Compilers/Server/PortableServer/PortableServer.csproj
Labels: Area-Infrastructure

#25363 fix codeFix info bar behavior and fix AutoProperty to only offer refactoring when it is on right context
  src/EditorFeatures/CSharpTest/ConvertAutoPropertyToFullProperty/ConvertAutoPropertyToFullPropertyTests.cs
  src/EditorFeatures/Core/Implementation/EditorLayerExtensionManager.cs
  src/EditorFeatures/VisualBasicTest/ConvertAutoPropertyToFullProperty/ConvertAutoPropertyToFullPropertyTests.vb
  src/Features/CSharp/Portable/ConvertAutoPropertyToFullProperty/CSharpConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertAutoPropertyToFullProperty/AbstractConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ConvertAutoPropertyToFullProperty/VisualBasicConvertAutoPropertyToFullProperty.vb
Labels: Approved to merge

#25451 Fix our coreclr job definition
  netci.groovy
Labels: Area-Infrastructure

#22612 restrict keywords that trigger <see langword> tag and don't offer tag inside XML attribute
  src/EditorFeatures/CSharpTest/ReplaceDocCommentTextWithTag/ReplaceDocCommentTextWithTagTests.cs
  src/EditorFeatures/VisualBasicTest/ReplaceDocCommentTextWithTag/ReplaceDocCommentTextWithTagTests.vb
  src/Features/CSharp/Portable/ReplaceDocCommentTextWithTag/CSharpReplaceDocCommentTextWithTagCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplaceDocCommentTextWithTag/AbstractReplaceDocCommentTextWithTagCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ReplaceDocCommentTextWithTag/VisualBasicReplaceDocCommentTextWithTagCodeRefactoringProvider.vb
Labels: cla-already-signed

#25306 Better support inferring a return type when assigning to a tuple.
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
  src/EditorFeatures/CSharpTest/TypeInferrer/TypeInferrerTests.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
Labels: Area-IDE

#25034 Minor bug fix: adding missing case for ConversionOperatorDeclaration in IsReturnableConstruct
  src/EditorFeatures/CSharpTest/KeywordHighlighting/ReturnStatementHighlighterTests.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
Labels: Community

#25387 Verify type and inferred nullability matches expected results based on comments in unit test source
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
Labels: Area-Compilers

#25404 ChangeSignature: enable on local functions
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ReorderParametersTests.cs
  src/Features/CSharp/Portable/ChangeSignature/CSharpChangeSignatureService.cs
Labels: Approved to merge, Area-Compilers, Area-IDE, New Language Feature - Local Functions

#25464 Remove content SHA from generated files
  src/Compilers/VisualBasic/Portable/Generated/Syntax.xml.Internal.Generated.vb
  src/Compilers/VisualBasic/Portable/Generated/Syntax.xml.Main.Generated.vb
  src/Compilers/VisualBasic/Portable/Generated/Syntax.xml.Syntax.Generated.vb
  src/Compilers/VisualBasic/Test/Syntax/Generated/Syntax.Test.xml.Generated.vb
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/Generated/Syntax.xml.GetText.Generated.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/Program.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/Tests/TestWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/Util/WriteDumper.vb
Labels: Area-Compilers

#25420 Improvements in decompiler output
  src/EditorFeatures/Core/Implementation/MetadataAsSource/MetadataAsSourceFileService.cs
Labels: Approved to merge, Area-IDE

#25441 Align PDB scope for variable declared within field initializers with sequence point.
  src/Compilers/CSharp/Portable/Lowering/InitializerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/CompoundInstrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DebugInfoInjector.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DynamicAnalysisInjector.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/Instrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaUtilities.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
Labels: Area-Compilers, New Language Feature - Out Variable Declaration

#25466 [VSMac] Add Xamarin.Ide to InternalsVisibleTo, to expose ILogger
  src/Workspaces/Core/Portable/Workspaces.csproj
Labels: Approved to merge

#25426 Key container signing fix
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/Portable/CodeAnalysis.csproj
  src/Compilers/Core/Portable/CommandLine/CommonCommandLineArguments.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.vb
  src/Compilers/VisualBasic/vbc/vbc.csproj
  src/Scripting/Core/Scripting.csproj
  src/Test/Utilities/Portable/TestUtilities.csproj
Labels: Area-Compilers

#25457 Upgrade Editor and related nuget packages from 15.6.281-preview to 15…
  build/Targets/Packages.props
  docs/contributing/Building, Debugging, and Testing on Windows.md
  src/EditorFeatures/Core.Wpf/Completion/Presentation/CompletionPresenterSession.cs
  src/EditorFeatures/Core.Wpf/Completion/Presentation/CustomCommitCompletion.cs
  src/EditorFeatures/Core.Wpf/Completion/Presentation/RoslynCompletionSet.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
Labels: Approved to merge

#25476 Merging features/stackalloc-init into dev15.7.x
  src/Compilers/CSharp/Portable/Binder/BinderFlagsExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Portable/BoundTree/Formatting.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStackAllocInitializer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StackAlloc.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/StackAllocArrayCreationExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_StackAllocArrayCreationAndInitializer.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StackAllocInitializerParsingTests.cs
  src/Compilers/Core/Portable/CodeGen/ILBuilderEmit.cs
  src/Test/Utilities/Portable/TestResource.resx
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Approved to merge

#25491 Adjust the way sequence point is injected for a field initializer to avoid interference of hidden sequence point added by lambda rewriter.
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DebugInfoInjector.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
Labels: Area-Compilers, New Language Feature - Out Variable Declaration

#25499 Remove props file reference
  src/Tools/MicroBuild/PublishBlobAssets.proj
Labels: Area-Infrastructure

#25432 Fix #25211.
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
Labels: Approved to merge, Area-IDE, Bug

#24937 When a text buffer does not represent a document from a workspace Get…
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
Labels: Approved to merge

#25486 Add suggested tuple equality tests
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Labels: Area-Compilers

#25359 Handle conversions in ConditionalOperator in NullableWalker
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#25490 Merging feature "tuple equality" into dev15.7.x
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/TupleBinaryOperatorInfo.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.NodeMapBuilder.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedDefaultTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ITupleBinaryOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
  src/Test/Utilities/Portable/TestResource.resx
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Approved to merge, Area-Compilers

#25519 Additional tests for Expression Variables feature
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Scope.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
Labels: Area-Compilers, New Language Feature - Out Variable Declaration, Test

#25526 Fix ForegroundThreadAffinitizedObject.InvokeBelowInputPriority on non…
  src/EditorFeatures/Core/Shared/Utilities/ForegroundThreadAffinitizedObject.cs
Labels: Approved to merge

#25515 Update progress on C# 7.3
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#24966 Allow indexing fixed fields in movable contexts without pinning.
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder.WithQueryLambdaParametersBinder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Await.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AwaitExpressionSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PointerElementAccess.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers

#25551 Fixed DDRIT failure
  src/EditorFeatures/Text/Extensions.TextBufferContainer.cs
Labels: Approved to merge

#25458 Handle const and static local variables
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.Region.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IStaticLocalInitializationSemaphoreOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IVariableDeclaration.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Analyzers, Area-Compilers, New Feature - IOperation

#25000 Add more casts to (object) to avoid JITting the dynamic binder
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/DocumentProvider.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolNavigationService.cs
Labels: Approved to merge

#25496 Fix race condition in analyzer driver where multiple threads attempti…
  src/Compilers/CSharp/CSharpAnalyzerDriver/CSharpDeclarationComputer.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.CompilationData.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.DeclarationAnalysisData.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/VisualBasic/BasicAnalyzerDriver/VisualBasicDeclarationComputer.vb
  src/Compilers/VisualBasic/Portable/Compilation/SemanticModel.vb
  src/Features/CSharp/Portable/Diagnostics/CSharpAnalyzerDriverService.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/Diagnostics/IAnalyzerDriverService.cs
  src/Features/VisualBasic/Portable/Diagnostics/VisualBasicAnalyzerDriverService.vb
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers

#25506 Fix race condition in DebugDirectoryExtensions
  src/Compilers/Core/Portable/PEWriter/DebugDirectoryExtensions.cs
Labels: Area-Compilers

#25411 Track nullability of non-nullable locals, parameters, members
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#25629 Add unit test leg on ES image
  netci.groovy
Labels: Area-Infrastructure

#25358 Handle conversions for NullCoalescingOperator in NullableWalker
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundNullCoalescingOperatorResultKind.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AwaitExpressionSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#25440 Move bootstrap phase to use NuPkg files
  build.sh
  build/Targets/Imports.targets
  build/Targets/Settings.props
  build/scripts/build-utils.ps1
  build/scripts/build.ps1
  build/scripts/docker/Dockerfile
  src/Compilers/Core/MSBuildTask/ValidateBootstrap.cs
  src/NuGet/Bootstrap.csproj
  src/NuGet/Microsoft.NETCore.Compilers.nuspec
Labels: Area-Compilers, Area-Infrastructure

#25620 Cancel pending work on workspace dispose
  src/EditorFeatures/Core/Implementation/Classification/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/EditorFeatures/Core/Implementation/ForegroundNotification/ForegroundNotificationService.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.BatchChangeNotifier.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.Tagger.cs
Labels: Approved to merge

#25637 Add C# 7.3 features to compiler test plan
  docs/contributing/Compiler Test Plan.md
Labels: Area-Compilers, Documentation

#23049 Support GotoDefinition in LINQ query syntax
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/Providers/AbstractSemanticQuickInfoProvider.cs
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionTests.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Approved to merge, Area-IDE, Community

#25553 Add names to code refactoring providers which don't have one
  src/Features/CSharp/Portable/AddFileBanner/CSharpAddFileBannerCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ReplaceDocCommentTextWithTag/CSharpReplaceDocCommentTextWithTagCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UseExpressionBody/UseExpressionBodyCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/VisualBasic/Portable/AddFileBanner/VisualBasicAddFileBannerCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/ReplaceDocCommentTextWithTag/VisualBasicReplaceDocCommentTextWithTagCodeRefactoringProvider.vb
Labels: Approved to merge, Area-IDE

#25438 Test EnC on expression variables in initializers and queries
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
Labels: Area-Compilers, Test

#25351 recursive-patterns(7): improve generated code for switch
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/DeclarationTests.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#25672 Add link to compiler changelog in wiki
  README.md
Labels: Documentation

#25661 SkipLocalsInitAttribute on properties
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonPropertyWellKnownAttributeData.cs
Labels: Area-Compilers

#25282 "Deconstruct variable declaration" should not introduce errors
  src/EditorFeatures/CSharpTest/UseDeconstruction/UseDeconstructionTests.cs
  src/Features/CSharp/Portable/UseDeconstruction/CSharpUseDeconstructionDiagnosticAnalyzer.cs
Labels: Area-IDE, Community

#25562 Allow deconstruction of 'default' literal
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
Labels: Area-Compilers

#25660 Add tests for the "fixed" features.
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenMscorlib.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IFieldReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Area-Compilers

#25624 Merging `features/custom-fixed` to dev15.7.x
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder.WithQueryLambdaParametersBinder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Await.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/BoundTree/GenerateNodes.bat
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AwaitExpressionSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ConditionalAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PointerElementAccess.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenMscorlib.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IFieldReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedDefaultTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Area-Compilers

#25712 Update Language Feature Status
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#25673 SkipLocalsInitAttribute on classes
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/MethodWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/PropertyWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/TypeWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ImplicitNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonMethodWellKnownAttributeData.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonPropertyWellKnownAttributeData.cs
Labels: Area-Compilers

#25644 Tuple equality: Optimize cases where nullable always has value
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Field.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
Labels: Approved to merge, Area-Compilers

#25691 Fix failure to initialize RemoteWorkspace in the out-of-process host
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/Workspaces/Remote/Core/Services/RoslynServices.cs
  src/Workspaces/Remote/Core/Services/SolutionService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_Diagnostics.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
Labels: Approved to merge

#25723 Export classification type definitions for new classification types
  src/EditorFeatures/Core/Implementation/Classification/ClassificationTypeDefinitions.cs
  src/EditorFeatures/Test/Workspaces/ClassificationTypeNamesTests.cs
Labels: Approved to merge, Area-IDE

#25719 Fix for #25706 by Correcting As from Punctuation to Keyword in SymbolDisplay.
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolDisplay/SymbolDisplayTests.vb
Labels: Area-Compilers, Community

#25698 Add BasicBlock.IsReachable property.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IReturnStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IThrowOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Operations/BasicBlock.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraph.Region.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ICoalesceOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IEndOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_TryCatch.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis

#25753 Skip some PDBUsingTests tests to unblock CI
  src/Compilers/CSharp/Test/Emit/PDB/PDBUsingTests.cs
Labels: Area-Compilers, Test

#24921 Local function script globals
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.Lowered.cs
  src/Compilers/CSharp/Portable/Emitter/Model/SynthesizedPrivateImplementationDetailsStaticConstructor.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DynamicAnalysisInjector.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_HostObjectMemberReference.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Literal.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PreviousSubmissionReference.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ReturnStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Yield.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.SynthesizedMethodBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Scripting/CSharpTest/InteractiveSessionTests.cs
Labels: Area-Compilers, Community

#25505 Avoid crash with 'new ref[]'
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RefReadonlyTests.cs
Labels: Approved to merge, Area-Compilers

#25633 Add tests for improved candidate selection.
  src/Compilers/CSharp/Test/Semantic/Semantics/BetterCandidates.cs
Labels: 4 - In Review, Area-Compilers, Test

#25738 Fix inference when tuple names differ
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
Labels: Approved to merge, Area-Compilers

#25773 Added a regression test for #25024
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefReturnTests.cs
Labels: Area-Compilers, Test

#23393 Remove suggestion to upgrade to latest language version
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
  src/Features/Core/Portable/UpgradeProject/AbstractUpgradeProjectCodeFixProvider.cs
Labels: Approved to merge

#20743 #20630 Cast is redundant on attribute with params fix
  src/EditorFeatures/CSharpTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/CSharp/Portable/Extensions/AttributeArgumentSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/CastExpressionSyntaxExtensions.cs
Labels: Approved to merge, Area-IDE, Community, cla-already-signed

#19067 Add Make Field Readonly analyzer/code fix
  src/EditorFeatures/CSharpTest/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/EditorFeatures/VisualBasicTest/MakeFieldReadonly/MakeFieldReadonlyTests.vb
  src/Features/CSharp/Portable/MakeFieldReadonly/CSharpMakeFieldReadonlyCodeFixProvider.cs
  src/Features/CSharp/Portable/MakeFieldReadonly/CSharpMakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/MakeFieldReadonly/AbstractMakeFieldReadonlyCodeFixProvider.cs
  src/Features/Core/Portable/MakeFieldReadonly/AbstractMakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/MakeFieldReadonly/VisualBasicMakeFieldReadonlyCodeFixProvider.vb
  src/Features/VisualBasic/Portable/MakeFieldReadonly/VisualBasicMakeFieldReadonlyDiagnosticAnalyzer.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/AutomationObject.vb
  src/VisualStudio/VisualBasic/Impl/Options/StyleViewModel.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
  src/Workspaces/Core/Portable/Execution/AbstractOptionsSerializationService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Approved to merge, Area-IDE, Community, cla-already-signed

#25772 Fixing compiler test localization issues
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/LoadDirectiveTests.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/DocumentationCommentCompilerTests.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/MethodDocumentationCommentTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserRegressionTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenRefReturnTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/MetadataFileReferenceCompilationTests.vb
  src/Test/Utilities/Portable/Diagnostics/DiagnosticExtensions.cs
Labels: Area-Compilers

#25792 Quick job updates
  netci.groovy
  src/Compilers/CSharp/Test/Emit/PDB/PDBUsingTests.cs
Labels: Area-Infrastructure

#25751 Make SWIX builds more dependable
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.swixproj
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.vsmanproj
  src/Setup/DevDivVsix/MicrosoftCodeAnalysisLanguageServices/Microsoft.CodeAnalysis.LanguageServices.vsmanproj
  src/Setup/DevDivVsix/PortableFacades/PortableFacades.swixproj
  src/Setup/DevDivVsix/PortableFacades/PortableFacades.vsmanproj
  src/Setup/DevDivVsix/Settings.props
Labels: Area-Infrastructure

#25390 Struct this should be saved to temp in tuple equality
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Tuples

#25775 Rename CurrentMethodOrNestedFunction to CurrentFunction
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.Lowered.cs
  src/Compilers/CSharp/Portable/Emitter/Model/SynthesizedPrivateImplementationDetailsStaticConstructor.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DynamicAnalysisInjector.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Literal.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ReturnStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Yield.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.SynthesizedMethodBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
Labels: Area-Compilers

#25803 Add InternalsVisibleTo from Workspaces to Microsoft.Test.Apex.VisualStudio
  src/Workspaces/Core/Portable/Workspaces.csproj
Labels: Urgency-Now

#25662 recursive-patterns(10): Rename elements of the pattern-matching implementation for clarity
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/PatternSwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionArmBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#25739 recursive-patterns(12): Improve switch code by using pattern variables as match automaton temps
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenClosureLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/GotoTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#25783 recursive-patterns(16) Fix an infinite loop in property parsing.
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#25767 recursive-patterns(13): Address issues from previous recursive-patterns code reviews
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/PatternSwitchBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNode.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/IteratorAndAsyncCaptureWalker.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaUtilities.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/Core/Portable/Collections/IOrderedReadOnlySet.cs
  src/Compilers/Core/Portable/Symbols/RefKind.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#25656 Add suggested stackalloc initializer tests
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
Labels: Area-Compilers, Test

#25826 Update error messages for 'in'
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/LocalFunctions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/DelegateTests.cs
Labels: Area-Compilers

#25590 [SQLite] Fix continuous probing for sqlite
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLitePersistentStorageTests.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorage.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Desktop/Workspace/Storage/PersistenceStorageServiceFactory.cs
Labels: Approved to merge

#25800 Add breaking change item for forbidding `default` in pattern.
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
Labels: Area-Compilers, Documentation, New Language Feature - Pattern Matching

#25750 Update PATH to our xcopy CLI
  build/scripts/build-utils.ps1
  build/scripts/build.ps1
Labels: Area-Infrastructure

#25801 added more logging for completion to track some test failures where c…
  src/EditorFeatures/Core/CommandHandlers/AbstractCompletionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Commands/CommandHandlerService.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller.Session_ComputeModel.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
Labels: Approved to merge

#25460 Foreach to For refactoring
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/CSharpTest/ConvertForEachToFor/ConvertForEachToForTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceVariable/IntroduceVariableTests.vb
  src/EditorFeatures/VisualBasicTest/ConvertForEachToFor/ConvertForEachToForTests.vb
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/ConvertForEachToFor/CSharpConvertForEachToForCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertForToForEach/CSharpConvertForToForEachCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/ConvertForEachToFor/AbstractConvertForEachToForCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.cs
  src/Features/VisualBasic/Portable/ConvertForEachToFor/VisualBasicConvertForEachToForCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/ConvertForToForEach/VisualBasicConvertForToForEachCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/ConvertIfToSwitch/VisualBasicConvertIfToSwitchCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.Designer.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.resx
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.cs.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.de.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.es.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.fr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.it.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ja.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ko.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pl.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pt-BR.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ru.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.tr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hans.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/CodeStyle/TypeStyle/TypeStyleHelper.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Approved to merge, Area-IDE

#25817 More notes from C# 7.3
  docs/contributing/Compiler Test Plan.md
Labels: Area-Compilers, Documentation

#25782 Added both ExpressionBody and BlockBody to the underlying BoundNode f…
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundLocalFunctionStatement.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Statement.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILocalFunctionStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ILocalFunctionOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Analyzers, Area-Compilers, New Feature - IOperation

#25850 Fix signing of swix project output
  build/config/SignToolData.json
  build/scripts/build.ps1
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.vsmanproj
  src/Setup/DevDivVsix/PortableFacades/PortableFacades.vsmanproj
Labels: Area-Infrastructure

#25564 Fix some inline uses of block documentation XML tags
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
Labels: Area-IDE, Community

#25819 Make escape analysis over unexpected nodes to return conservative results
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers

#25854 Fix stackalloc test broken in merge
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
Labels: Area-Compilers, Area-Infrastructure, Test
