Repository dotnet/roslyn, pull requests merged in 2018-04, with the labels that each got.

#25362 LINQ query to foreach
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertLinqQueryToForEachTests.cs
  src/Features/CSharp/Portable/ConvertLinq/CSharpConvertLinqQueryToForEachProvider.cs
  src/Features/Core/Portable/ConvertForToForEach/AbstractConvertForToForEachCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertLinq/AbstractConvertLinqQueryToForEachProvider.cs
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Approved to merge, Area-IDE, New Feature - LINQ Conversion

#25821 Report warning when SkipLocalsInitAttribute is used in VB
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Generated/ErrorFacts.Generated.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol_Attributes.vb
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.vb
Labels: Area-Compilers

#24111 Extract out the VirtualChar portion of the Regex and JSON editor work.
  src/Workspaces/CSharp/Portable/VirtualChars/CSharpVirtualCharService.cs
  src/Workspaces/CSharpTest/VirtualChars/CSharpVirtualCharServiceTests.cs
  src/Workspaces/Core/Portable/VirtualChars/AbstractVirtualCharService.cs
  src/Workspaces/Core/Portable/VirtualChars/IVirtualCharService.cs
  src/Workspaces/Core/Portable/VirtualChars/VirtualChar.cs
  src/Workspaces/Core/Portable/VirtualChars/VirtualCharExtensions.cs
  src/Workspaces/VisualBasic/Portable/VirtualChars/VisualBasicVirtualCharService.vb
  src/Workspaces/VisualBasicTest/VirtualChars/VisualBasicVirtualCharServiceTests.vb
Labels: Area-IDE

#25797 Fix loc failures in IDE
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
  src/EditorFeatures/Test2/NavigationBar/VisualBasicNavigationBarTests.vb
  src/VisualStudio/Core/Test.Next/Services/PerformanceTrackerServiceTests.cs
  src/Workspaces/CoreTest/WorkspaceTests/MSBuildWorkspaceTests.cs
Labels: Area-Compilers, Area-IDE, Test

#25837 Update links to Samples.sln location
  docs/analyzers/Analyzer Samples.md
Labels: Area-Analyzers, Community, Documentation

#25839 Pass SemanticModel as an argument where it is required
  src/Features/Core/Portable/ChangeSignature/DelegateInvokeMethodReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/DeclaredSymbolInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/Extensions.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine_DocumentProcessing.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractMemberScopedReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorInitializerSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/DestructorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/EventSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ExplicitInterfaceMethodReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/FieldSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/IReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/LinkedFileReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/MethodTypeParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamedTypeSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamespaceSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/OperatorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/OrdinaryMethodReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/PropertyAccessorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/PropertySymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/TypeParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferenceLocationExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
Labels: Approved to merge

#25879 Use SignTool that supports binary logging
  build/Targets/Packages.props
  build/ToolsetPackages/RoslynToolset.csproj
  build/scripts/build.ps1
Labels: Area-Infrastructure

#25779 recursive-patterns(15) Report an error when discard pattern is used but there is a _ in scope
  docs/compilers/CSharp/Compiler Breaking Changes - Milestone 16.md
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#25733 Report warnings for unconstrained type parameters
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers

#25736 Fix loc issue on "Manage Specifications" and "Manage styles" dialogs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/NamingStyleOptionPageViewModel.cs
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/NamingStyles/ManageNamingStylesDialogViewModel.cs
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/SymbolSpecification/ManageSymbolSpecificationsDialogViewModel.cs
Labels: Approved to merge

#25820 Added IDiscardOperation to the IOperation API
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBoundDiscardOperation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DeconstructionTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/IDiscardPatternOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers, New Feature - IOperation

#24750 Implement async foreach statement
  src/Compilers/CSharp/Portable/Binder/AwaitableInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/ForEachStatementInfo.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AwaitExpressionSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncDisposableTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncForeachTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/ForEachStatementInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/Test/Utilities/Portable/CompilationVerifier.cs
Labels: Area-Compilers, New Feature - Async Streams

#25896 Improve diagnostics when tests fail due to an asynchronous operation timeout
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/IAsynchronousOperationListenerProvider.cs
  src/Workspaces/CoreTestUtilities/UseExportProviderAttribute.cs
Labels: Approved to merge

#25904 Misc infrastructure fixes
  build/scripts/build.ps1
  src/Tools/Source/RunTests/Program.cs
Labels: Area-Infrastructure

#23515 Fixed formatting for 'Use pattern matching code fix'
  src/EditorFeatures/CSharpTest/UsePatternMatching/CSharpAsAndNullCheckTests.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpAsAndNullCheckCodeFixProvider.cs
Labels: Community

#25907 fixed bug where all documents are added as high priority on solution …
  src/EditorFeatures/Test/SolutionCrawler/WorkCoordinatorTests.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.NormalPriorityProcessor.cs
  src/Workspaces/Core/Portable/SolutionCrawler/InvocationReasons_Constants.cs
Labels: Approved to merge

#25828 Handle using statement in control flow graph
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Operations/CommonConversion.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.ConvertibleConversion.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IUsingStatement.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#25774 recursive-patterns(14) Improve definite-assignment behavior in error cases for switch and is-pattern
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Global.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Scope.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#25901 InternalsVisibleTo for the completion test framework
  build/Targets/GenerateInternalsVisibleTo.targets
  src/Features/CSharp/Portable/CSharpFeatures.csproj
  src/Features/Core/Portable/Features.csproj
  src/Workspaces/CSharp/Portable/CSharpWorkspace.csproj
  src/Workspaces/Core/Portable/Workspaces.csproj
  src/Workspaces/Remote/Core/RemoteWorkspaces.csproj
  src/Workspaces/Remote/ServiceHub/ServiceHub.csproj
Labels: Approved to merge

#25650 Account for Mutex ctor throwing
  src/Compilers/Server/VBCSCompilerTests/DesktopBuildClientTests.cs
  src/Compilers/Shared/BuildServerConnection.cs
Labels: Area-Compilers

#25680 Follow up on unmanaged constraint
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_IsUnmanaged.cs
  src/Compilers/CSharp/Test/Emit/Emit/UnmanagedTypeModifierTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Retargeting/RetargetingTests.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UnmanagedKeywordRecommenderTests.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassification.cs
Labels: Approved to merge, Area-Compilers, Area-IDE, New Language Feature - Constraints

#25831 Optimize deconstruction of default literal and expression
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Field.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
Labels: Area-Compilers, New Language Feature - Tuples

#25848 Bind ForEachVariableStatementSyntax.Variables for error recovery
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Approved to merge, Area-Compilers, New Feature - IOperation

#25133 Adding missing completion for switch when clause
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Extensions/ContextQuery/IsPossibleDeconstructionDesignationTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NullKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/WhenKeywordRecommenderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/NullKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/WhenKeywordRecommender.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/TypeSyntaxExtensions.cs
Labels: Area-IDE, Community

#25538 UseDefaultLiteral and RemoveUnnecessaryCast shouldn't introduce invalid default literal in pattern or case label
  src/EditorFeatures/CSharpTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/EditorFeatures/CSharpTest/UseDefaultLiteral/UseDefaultLiteralTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/Workspaces/CSharp/Portable/Extensions/CastExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/DefaultExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Utilities/SpeculationAnalyzer.cs
Labels: Area-IDE, Community

#25886 Document definite assignment back compat bug
  docs/compilers/CSharp/Definite Assignment.md
Labels: Area-Compilers

#25856 IntroduceLocal on simple names
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceVariable/IntroduceVariableTests.vb
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.AbstractIntroduceVariableCodeAction.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.CodeAction.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.IntroduceVariableAllOccurrenceCodeAction.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State_Attribute.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State_Block.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State_ConstructorInitializer.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State_Field.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State_Parameter.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State_Query.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.cs
  src/Features/VisualBasic/Portable/IntroduceVariable/VisualBasicIntroduceVariableService.vb
Labels: Approved to merge, Area-IDE

#25855 Added tests for propagating escape errors through array elements
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers, Test

#25802 use latest language version for Miscellaneous Files workspace
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/ISyntaxTreeFactoryService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxTreeFactoryService.vb
Labels: Approved to merge, Area-IDE

#25942 fix the KnownImageIds.LocalVariable which was missed in the previous PR
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
Labels: Approved to merge

#25893 Partial methods implementation should match declaration parameter ref kinds
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
Labels: Approved to merge, Area-Compilers, Bug

#25730 Assert duplicate named arguments produce correct diagnostics
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/ArgumentAnalysisResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/ArgumentAnalysisResultKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MemberAnalysisResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MemberResolutionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_InvalidExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NonTrailingNamedArgumentsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Approved to merge, Area-Compilers, Test

#25042 Bug fixes in SwitchStatementHighlighter
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/LoopHighlighter.cs
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/SwitchStatementHighlighter.cs
  src/EditorFeatures/CSharpTest/KeywordHighlighting/SwitchStatementHighlighterTests.cs
  src/EditorFeatures/TestUtilities/KeywordHighlighting/AbstractKeywordHighlighterTests.cs
Labels: Area-IDE, Community

#25394 Fixing NullReferenceException inside GenerateTypeCodeFixProvider when System.Action is missing
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/EditorFeatures/CSharpTest/GenerateConstructor/GenerateConstructorTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/INamedTypeSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
Labels: Area-IDE, Community

#25704 Fix parsing an expression-bodied property with async as the type
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncParsingTests.cs
Labels: Approved to merge, Area-Compilers, Community

#25581 fix broken link
  docs/Language Feature Status.md
Labels: Area-Compilers, Community, Documentation

#25917 Mark lambda conversions as side-affecting
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenClosureLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenExprLambdaTests.cs
Labels: Approved to merge, Area-Compilers

#25914 Adjust “reachable” walker according to design meeting decision.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IEndOperation.vb
Labels: Area-Compilers, New Feature - Flow Analysis

#25911 Fix a bug and finish ref-reassignment test plan
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Area-Compilers

#25037 Fixing async keyword highlighting on local functions
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AbstractAsyncHighlighter.cs
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAnonymousFunctionHighlighter.cs
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncLocalFunctionHighlighter.cs
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncParenthesizedLambdaHighlighter.cs
  src/EditorFeatures/CSharpTest/KeywordHighlighting/AsyncAnonymousFunctionHighlighterTests.cs
  src/EditorFeatures/CSharpTest/KeywordHighlighting/AsyncAnonymousMethodHighlighterTests.cs
  src/EditorFeatures/CSharpTest/KeywordHighlighting/AsyncLocalFunctionHighlighterTests.cs
  src/EditorFeatures/CSharpTest/KeywordHighlighting/AsyncParenthesizedLambdaHighlighterTests.cs
Labels: Area-IDE, Community

#25570 Adding missing completion after 'ref'
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/BaseKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/BoolKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ByteKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/CharKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/CheckedKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DecimalKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DefaultKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DoubleKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DynamicKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/FalseKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/FloatKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/GlobalKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/IntKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/LongKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NameOfKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NewKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ObjectKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ReadOnlyKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SByteKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ShortKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SizeOfKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StringKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ThisKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/TrueKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/TypeOfKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UIntKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ULongKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UShortKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UncheckedKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/VarKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/BoolKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ByteKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/CharKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/DecimalKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/DoubleKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/DynamicKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/FloatKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/GlobalKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/IntKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/LongKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ObjectKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ReadOnlyKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/SByteKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ShortKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/StringKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/UIntKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ULongKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/UShortKeywordRecommender.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, Community

#25916 Handle lock statement in control flow graph
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILockStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ILockStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IUsingStatement.vb
Labels: Area-Compilers, New Feature - Flow Analysis

#25431 Not offering UseAutoProperty for volatile fields & when field used with ref
  src/EditorFeatures/CSharp/UseAutoProperty/CSharpUseAutoPropertyAnalyzer.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseAutoProperty/UseAutoPropertyTests.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs
  src/Workspaces/Core/Portable/Utilities/IGroupingExtensions.cs
Labels: Area-IDE, Community

#25983 Bind Return key in ChangeSignature dialog
  src/VisualStudio/Core/Def/Implementation/ChangeSignature/ChangeSignatureDialog.xaml
Labels: Area-IDE

#25296 Include additional information about the found and expected character.
  src/Compilers/Core/Portable/Syntax/SyntaxTreeExtensions.cs
Labels: Area-Compilers, Test

#25941 Remove un-necessary tuplification code
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass

#25984 GoToDef on deconstruction assignment and foreach
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionTests.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Area-IDE

#25986 Parens on tuple literals can be simplified
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
Labels: Area-IDE

#25968 Prefer dashes in compiler help message
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
Labels: Area-Compilers, Auto-Merge If Tests Pass

#26018 Add test to ensure we do not regress already-fixed pattern-matching bug.
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#26012 Add test to ensure an async capturing compiler bug remains fixed
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Labels: 4 - In Review, Area-Compilers, Test

#26032 Add empty Directory.Build.rsp files
  Directory.Build.rsp
  build/scripts/build.ps1
  src/Workspaces/CoreTestUtilities/Resources/Directory.Build.rsp
Labels: Area-Infrastructure

#26052 Change the topological sort's successor function to return an immutable array
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/TopologicalSortTests.cs
  src/Compilers/Core/Portable/Collections/TopologicalSort.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#25985 Extract out subsystem for allowing embedded languages to export language services.
  src/EditorFeatures/CSharp/BraceMatching/CSharpEmbeddedLanguageBraceMatcher.cs
  src/EditorFeatures/Core/Implementation/BraceMatching/AbstractEmbeddedLanguageBraceMatcher.cs
  src/EditorFeatures/Core/Implementation/KeywordHighlighting/HighlighterViewTaggerProvider.cs
  src/EditorFeatures/Core/ReferenceHighlighting/ReferenceHighlightingViewTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/TaggerContext.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/VisualBasic/BraceMatching/StringLiteralBraceMatcher.vb
  src/EditorFeatures/VisualBasic/BraceMatching/VisualBasicEmbeddedLanguageBraceMatcher.vb
  src/Features/CSharp/Portable/EmbeddedLanguages/CSharpEmbeddedLanguageCodeFixProvider.cs
  src/Features/CSharp/Portable/EmbeddedLanguages/CSharpEmbeddedLanguageDiagnosticAnalyzer.cs
  src/Features/Core/Portable/DocumentHighlighting/AbstractDocumentHighlightsService.cs
  src/Features/Core/Portable/EmbeddedLanguages/AbstractEmbeddedLanguageCodeFixProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/AbstractEmbeddedLanguageDiagnosticAnalyzer.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/VisualBasic/Portable/EmbeddedLanguages/VisualBasicEmbeddedLanguageCodeFixProvider.vb
  src/Features/VisualBasic/Portable/EmbeddedLanguages/VisualBasicEmbeddedLanguageDiagnosticAnalyzer.vb
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/CSharpSyntaxClassificationService.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/EmbeddedLanguageTokenClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/SyntaxTokenClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/UsingDirectiveSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/EmbeddedLanguages/LanguageServices/CSharpEmbeddedLanguageProvider.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractEmbeddedLanguageTokenClassifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassificationService.Worker.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/ISyntaxClassifier.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/AbstractEmbeddedLanguageProvider.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/AggregateEmbeddedDiagnosticAnalyzer.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/EmbeddedBraceMatchingResult.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/IEmbeddedBraceMatcher.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/IEmbeddedClassifier.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/IEmbeddedCodeFixProvider.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/IEmbeddedDiagnosticAnalyzer.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/IEmbeddedLanguage.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/IEmbeddedLanguageProvider.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/AbstractSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/EmbeddedLanguageTokenClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/IdentifierNameSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/ImportAliasClauseSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/VisualBasicSyntaxClassificationService.vb
  src/Workspaces/VisualBasic/Portable/EmbeddedLanguages/LanguageServices/VisualBasicEmbeddedLanguageProvider.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#25970 Make HostAnalyzerManager a bit lazier
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
Labels: Approved to merge

#25963 recursive-patterns(17) Improvements when switching on a tuple
  docs/compilers/CSharp/Compiler Breaking Changes - Milestone 16.md
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/PatternSwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDagEvaluation.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDagTemp.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundPatternBinding.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DebugInfoInjector.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/Features/CSharp/Portable/EditAndContinue/BreakpointSpans.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharp/Portable/Structure/Providers/SwitchStatementStructureProvider.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#25974 Handle fixed statement in control flow graph
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IFixedStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IFixedOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationVisitor.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/ILocalSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/Source/LocalSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/SemanticModelGetDeclaredSymbolAPITests.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26035 recursive-patterns(19) Distinguish irrefutable and refutable patterns in the `is` expression
  docs/compilers/CSharp/Compiler Breaking Changes - Milestone 16.md
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundPatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundSwitchExpression.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/VariablesDeclaredWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#26073 Fix compiler crash when binding missing property pattern member.
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#26095 Add SourceRootMappedPathsFeatureSupported property
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
Labels: Area-Compilers

#25995 recursive-patterns(18): Permit a constant pattern to be used with an open type as input
  docs/compilers/CSharp/Compiler Breaking Changes - Milestone 16.md
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#26110 Remove dead NuGet code
  src/Setup/NuGet/MakeLocNuSpec.fsx
  src/Setup/NuGet/NuGet.loc.ps1
  src/Setup/NuGet/NuGetPackagePublishing.psm1
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.CSharp.Workspaces.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.CSharp.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.Common.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.Compilers.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.EditorFeatures.Text.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.VisualBasic.Workspaces.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.VisualBasic.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.Workspaces.Common.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.CodeAnalysis.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.Net.Compilers.loc.nuspec
  src/Setup/NuGet/NuSpec.loc/Microsoft.VisualStudio.LanguageServices.loc.nuspec
  src/Setup/NuGet/PackageDependencies.dgml
  src/Setup/NuGet/packages.config
Labels: Area-Infrastructure

#26050 recursive-patterns(20) Add language version 8.0 for recursive pattern-matching.
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/LambdaSimplifier/LambdaSimplifierTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.cs
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/EditorFeatures/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/EditorFeatures/CSharpTest/UseDeconstruction/UseDeconstructionTests.cs
  src/EditorFeatures/CSharpTest/UseNamedArguments/UseNamedArgumentsTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
  src/Test/Utilities/Portable/TestResource.resx
  src/VisualStudio/Core/Test/CodeModel/CSharp/CodeClassTests.vb
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
  src/Workspaces/MSBuildTest/NetCoreTests.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#26071 Move some bound node definitions leaving the statements more contiguous.
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#26099 Move to dotnet pack
  Compilers.sln
  Roslyn.sln
  build.sh
  build/Targets/Tools.props
  build/scripts/LoadNuGetInfo.cmd
  build/scripts/LoadNuGetInfo.ps1
  build/scripts/build-utils.ps1
  build/scripts/build.ps1
  src/Dependencies/Microsoft.NetFX20/Microsoft.NetFX20.nuget.proj
  src/Dependencies/Microsoft.NetFX20/Microsoft.NetFX20.nuspec
  src/NuGet/Bootstrap.csproj
  src/NuGet/BuildNuGets.csx
  src/NuGet/Microsoft.CodeAnalysis.Build.Tasks.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.CodeStyle.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.Features.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.Scripting.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.Workspaces.nuspec
  src/NuGet/Microsoft.CodeAnalysis.CSharp.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Common.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Compilers.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Debugging.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.Text.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.Wpf.nuspec
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Features.nuspec
  src/NuGet/Microsoft.CodeAnalysis.PooledObjects.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Remote.Razor.ServiceHub.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Remote.ServiceHub.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Remote.Workspaces.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Scripting.Common.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Scripting.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.Features.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.Scripting.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.Workspaces.nuspec
  src/NuGet/Microsoft.CodeAnalysis.VisualBasic.nuspec
  src/NuGet/Microsoft.CodeAnalysis.Workspaces.Common.nuspec
  src/NuGet/Microsoft.CodeAnalysis.nuspec
  src/NuGet/Microsoft.NETCore.Compilers.nuspec
  src/NuGet/Microsoft.Net.CSharp.Interactive.netcore.nuspec
  src/NuGet/Microsoft.Net.Compilers.netcore.nuspec
  src/NuGet/Microsoft.Net.Compilers.nuspec
  src/NuGet/Microsoft.VisualStudio.IntegrationTest.Utilities.nuspec
  src/NuGet/Microsoft.VisualStudio.LanguageServices.Razor.RemoteClient.nuspec
  src/NuGet/Microsoft.VisualStudio.LanguageServices.nuspec
  src/NuGet/NuGet.proj
  src/NuGet/NuGetProjectPackUtil.csproj
  src/Setup/DevDivPackages/Pack.cmd
  src/Setup/DevDivPackages/Roslyn.proj
  src/Tools/MicroBuild/publish-assets.ps1
Labels: Area-Infrastructure

#26010 Use 7.2 language features in Roslyn
  build/Targets/Packages.props
  src/Compilers/CSharp/Portable/Parser/BlendedNode.cs
  src/Compilers/CSharp/Portable/Parser/Blender.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/Core/Portable/Diagnostic/SourceLocation.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumField.cs
  src/Compilers/Core/Portable/InternalUtilities/TextKeyedCache.cs
  src/Compilers/Core/Portable/Optional.cs
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/Syntax/ChildSyntaxList.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/ChildSyntaxList.Reversed.cs
  src/Compilers/Core/Portable/Syntax/ChildSyntaxList.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SeparatedSyntaxList.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SeparatedSyntaxListBuilder.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxListPool.cs
  src/Compilers/Core/Portable/Syntax/SeparatedSyntaxList.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/SeparatedSyntaxList.cs
  src/Compilers/Core/Portable/Syntax/SeparatedSyntaxListBuilder.cs
  src/Compilers/Core/Portable/Syntax/SyntaxDiffer.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList`1.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList`1.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNavigator.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.Iterators.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrToken.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrTokenList.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrTokenListBuilder.cs
  src/Compilers/Core/Portable/Syntax/SyntaxToken.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTokenList.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTokenList.Reversed.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTokenList.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTrivia.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTriviaList.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTriviaList.Reversed.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTriviaList.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTriviaListBuilder.cs
  src/Compilers/Core/Portable/Syntax/SyntaxWalker.cs
  src/Compilers/Core/Portable/Text/LinePosition.cs
  src/Compilers/Core/Portable/Text/LinePositionSpan.cs
  src/Compilers/Core/Portable/Text/TextChange.cs
  src/Compilers/Core/Portable/Text/TextChangeRange.cs
  src/Compilers/Core/Portable/Text/TextLine.cs
  src/Compilers/Core/Portable/Text/TextSpan.cs
Labels: Area-Compilers

#26127 Source root mapped paths 15.7
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
Labels: Area-Compilers

#26131 Change resource string (feedback from #25903)
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCommandLineParser.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/Diagnostic/CommonMessageProvider.cs
  src/Compilers/Core/Portable/Emit/EmitOptions.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Errors/MessageProvider.vb
  src/Compilers/VisualBasic/Portable/Generated/ErrorFacts.Generated.vb
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Test/Utilities/Portable/Mocks/TestMessageProvider.cs
Labels: Area-Compilers, Concept-Code Quality Improvement

#25700 "Generate Equals" should ignore indexers and setter-only properties
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/VisualBasicTest/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.vb
  src/EditorFeatures/VisualBasicTest/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.vb
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateFromMembers/AbstractGenerateFromMembersService.cs
Labels: Area-IDE, Community

#26140 Fix for UseDeconstruction with default literal
  src/EditorFeatures/CSharpTest/UseDeconstruction/UseDeconstructionTests.cs
  src/Features/CSharp/Portable/UseDeconstruction/CSharpUseDeconstructionDiagnosticAnalyzer.cs
Labels: Area-IDE, Community

#26155 Build NuPkg on Unix
  build.sh
  build/scripts/cibuild.sh
Labels: Area-Infrastructure

#26108 Added support for Tuple operations in the CFG.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDeclarationExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDeconstructionAssignmentOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ITupleExpression.vb
Labels: Area-Analyzers, Area-Compilers, New Feature - IOperation

#26130 __arglist cannot have an argument passed by 'in' or 'out'
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/ArglistTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
Labels: Area-Compilers, Bug

#25574 Allowing multiple exposed line spans in VS style options preview
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Impl/Options/AbstractOptionPreviewViewModel.cs
  src/VisualStudio/VisualBasic/Impl/Options/StyleViewModel.vb
Labels: Area-IDE, Community

#26200 Enable implicit framework references
  build/Targets/Imports.targets
  build/ToolsetPackages/RoslynToolset.csproj
  build/config/SignToolData.json
  src/CodeStyle/CSharp/Tests/CSharpCodeStyleTests.csproj
  src/CodeStyle/Core/Tests/CodeStyleTests.csproj
  src/CodeStyle/VisualBasic/Tests/BasicCodeStyleTests.vbproj
  src/Compilers/CSharp/Test/Emit/CSharpCompilerEmitTest.csproj
  src/Compilers/CSharp/Test/Symbol/CSharpCompilerSymbolTest.csproj
  src/Compilers/CSharp/Test/Syntax/CSharpCompilerSyntaxTest.csproj
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/MSBuildTask/MSBuildTask.csproj
  src/Compilers/Core/Portable/CodeAnalysis.csproj
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerTests.csproj
  src/Compilers/VisualBasic/vbc/vbc.csproj
  src/Dependencies/CodeAnalysis.Debugging/Microsoft.CodeAnalysis.Debugging.Package.csproj
  src/Dependencies/PooledObjects/Microsoft.CodeAnalysis.PooledObjects.Package.csproj
  src/ExpressionEvaluator/CSharp/Source/ResultProvider/NetFX20/CSharpResultProvider.NetFX20.csproj
  src/ExpressionEvaluator/CSharp/Source/ResultProvider/Portable/CSharpResultProvider.Portable.csproj
  src/ExpressionEvaluator/Core/Source/FunctionResolver/FunctionResolver.csproj
  src/ExpressionEvaluator/Core/Source/ResultProvider/NetFX20/ResultProvider.NetFX20.csproj
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/ResultProvider.Portable.csproj
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/NetFX20/BasicResultProvider.NetFX20.vbproj
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/Portable/BasicResultProvider.Portable.vbproj
  src/Features/Core/Portable/Features.csproj
  src/Interactive/csi/csi.csproj
  src/Interactive/vbi/vbi.vbproj
  src/NuGet/Bootstrap.csproj
  src/Scripting/CSharp/CSharpScripting.csproj
  src/Scripting/CSharpTest.Desktop/CSharpScriptingTest.Desktop.csproj
  src/Scripting/CSharpTest/CSharpScriptingTest.csproj
  src/Scripting/Core/Scripting.csproj
  src/Scripting/CoreTest/ScriptingTest.csproj
  src/Scripting/CoreTestUtilities/ScriptingTestUtilities.csproj
  src/Setup/DevDivInsertionFiles/BuildDevDivInsertionFiles.vb
  src/Setup/DevDivPackages/Debugger/DevDivPackagesDebugger.csproj
  src/Setup/DevDivVsix/PortableFacades/PortableFacades.swr
  src/Test/PdbUtilities/PdbUtilities.csproj
  src/Test/Perf/StackDepthTest/StackDepthTest.csproj
  src/Tools/BuildUtil/BuildUtil.csproj
  src/Tools/ILAsm/ILAsm.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/CompilersBoundTreeGenerator.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpErrorFactsGenerator/CSharpErrorFactsGenerator.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/CSharpSyntaxGenerator.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicErrorFactsGenerator/VisualBasicErrorFactsGenerator.vbproj
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/VisualBasicSyntaxGenerator.vbproj
  src/VisualStudio/Setup.Dependencies/VisualStudioSetup.Dependencies.csproj
  src/Workspaces/Core/Portable/Workspaces.csproj
Labels: Area-Infrastructure

#25703 Fixing 'else' keyword completion
  src/EditorFeatures/CSharpTest2/Recommendations/ElseKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ElseKeywordRecommender.cs
Labels: Area-IDE, Community

#26019 Fix parser regression in pattern switch parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/WhenKeywordRecommenderTests.cs
Labels: 4 - In Review, Area-Compilers, Bug, New Language Feature - Pattern Matching

#26088 Permit an array of tuple type in an is-type expression or in a pattern.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: 4 - In Review, Area-Compilers, Bug, New Language Feature - Pattern Matching

#26158 Handle ForEach statement in control flow graph
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IDeconstructionAssignmentOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ILockStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ForEachLoopOperationInfo.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Statements.vb
  src/Compilers/VisualBasic/Portable/Binding/ForEachEnumeratorInfo.vb
  src/Compilers/VisualBasic/Portable/Binding/MemberSemanticModel.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/LocalSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/ForEachTests.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IBranchOperation.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/Conversions.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/ForeachTest.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/GetSemanticInfoTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/MultiDimensionalTest.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26164 Use 2.8-beta3 toolset compiler
  build/Targets/Packages.props
Labels: Area-Infrastructure

#26057 VB: Debugger Bug when using type Date Properties in Classes in .NET Core Projects
  src/ExpressionEvaluator/Core/Source/ResultProvider/Formatter.Values.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/TypeHelpers.cs
  src/Test/PdbUtilities/Shared/DateTimeUtilities.cs
Labels: Approved to merge, Area-Interactive, Interactive-Debugging

#26233 Log the path to procdump
  src/Tools/Source/RunTests/Options.cs
  src/Tools/Source/RunTests/Program.cs
Labels: Area-Infrastructure

#26201 Enable "Linq to foreach" refactoring in VS
  src/Features/CSharp/Portable/ConvertLinq/CSharpConvertLinqQueryToForEachProvider.cs
Labels: Approved to merge, Area-IDE

#26128 Fix for ValidateBreakpointLocationWorker NFW
  src/EditorFeatures/Test/Extensions/ITextSnapshotExtensionsTests.cs
  src/EditorFeatures/Text/Shared/Extensions/ITextSnapshotExtensions.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.VsLanguageDebugInfo.cs
Labels: Approved to merge, Interactive-Debugging

#26156 In Object serialization, do not keep track of non-reusable green nodes.
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/Parser/QuickScanner.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/SyntaxToken.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/SyntaxTrivia.cs
  src/Compilers/Core/CodeAnalysisTest/ObjectSerializationTests.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticInfo.cs
  src/Compilers/Core/Portable/Diagnostic/LocalizableResourceString.cs
  src/Compilers/Core/Portable/Serialization/IObjectWritable.cs
  src/Compilers/Core/Portable/Serialization/ObjectBinder.cs
  src/Compilers/Core/Portable/Serialization/ObjectBinderSnapshot.cs
  src/Compilers/Core/Portable/Serialization/ObjectReader.cs
  src/Compilers/Core/Portable/Serialization/ObjectWriter.cs
  src/Compilers/Core/Portable/Syntax/GreenNode.cs
  src/Compilers/Core/Portable/Syntax/SyntaxAnnotation.cs
  src/Compilers/VisualBasic/Portable/Errors/MessageProvider.vb
  src/Compilers/VisualBasic/Portable/Scanner/QuickTokenAccumulator.vb
  src/Compilers/VisualBasic/Portable/Syntax/InternalSyntax/SyntaxToken.vb
  src/Compilers/VisualBasic/Portable/Syntax/InternalSyntax/SyntaxTrivia.vb
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Serialization.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/Core/Portable/Shared/Utilities/BloomFilter_Serialization.cs
  src/Workspaces/Core/Portable/Utilities/SpellChecker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentId.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectId.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionId.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/VersionStamp.cs
Labels: Approved to merge, Area-Compilers

#26210 EnC does not work in .NET Core async methods
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VsENCRebuildableProjectImpl.cs
Labels: Approved to merge

#26221 Update Roslyn snapshot when editorconfig is updated. for now, it only…
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider.cs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core/Shared/Utilities/ResettableDelay.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
Labels: Approved to merge

#26235 Fix operation kind for tuple equality
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ITupleBinaryOperatorExpression.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
Labels: Area-Compilers, New Feature - IOperation, New Language Feature - Tuples

#26267 Enable NuGet package signing
  build/config/SignToolData.json
Labels: Area-Infrastructure

#26259 Remove debug assert that is causing some unit tests to be flaky.
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
Labels: Area-IDE

#26026 Suggested variable names inside using, for & foreach
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests_NameDeclarationInfoTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.DeclarationInfo.cs
Labels: Area-IDE, Community

#22426 Update Developing a Language Feature.md
  docs/contributing/Developing a Language Feature.md
Labels: Area-Compilers, Documentation, Resolution-Expired

#25865 Update the simplifier to respect and apply the 'use var' user preference.
  src/EditorFeatures/Test2/Simplification/AbstractSimplificationTests.vb
  src/EditorFeatures/Test2/Simplification/TypeNameSimplifierTest.vb
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitType/UseExplicitTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertForToForEach/CSharpConvertForToForEachCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpTypeStyleDiagnosticAnalyzerBase.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUseExplicitTypeDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUseImplicitTypeDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/TypeStyle/UseExplicitTypeCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/CodeStyle/TypeStyle/TypeStyleHelper.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpTypeStyleHelper.State.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpTypeStyleHelper.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseExplicitTypeHelper.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseImplicitTypeHelper.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsServiceExtensions.cs
  src/Workspaces/Core/Portable/Simplification/DoNotAddImportsAnnotation.cs
  src/Workspaces/Core/Portable/Simplification/DoNotAllowVarAnnotation.cs
  src/Workspaces/Core/Portable/Simplification/SimplificationOptions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#26216 Fixes mapping of active statement when changing ctor body from block to expression
  src/Compilers/Core/Portable/InternalUtilities/FatalError.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.Methods.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/DocumentAnalysisResults.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Labels: Approved to merge, Area-Compilers, Area-Interactive, Interactive-EnC

#26107 Handle conversions for arguments in NullableWalker
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/NullableReferenceFlags.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_FlowAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#25928 Prototype mechanism for adding annotations to BCL APIs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/ExternalAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NullableTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/SymbolFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOverridingAndHiding.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/NoPiaEmbedTypes.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CustomModifiersTests.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayCompilerInternalOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayFormat.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
  src/Compilers/Test/Utilities/CSharp/UsesIsNullableVisitor.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#25225 Fixing NullReferenceException inside ConvertToInterpolatedString
  src/EditorFeatures/CSharpTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
Labels: Area-IDE, Community

#26129 Don't try to create a XamlProject for a null hierarchy.
  src/VisualStudio/Xaml/Impl/Implementation/XamlTextViewCreationListener.cs
Labels: Area-IDE

#26207 Skipping GenerateMethodInClosedFile with recurring failures
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
Labels: Area-Infrastructure

#26265 Fix race condition in SolutionExplorer_InProc.OpenFile
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpWinForms.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicWinForms.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
Labels: Area-IDE

#26215 Make sure we always subscribe to shared hierarchy eventing
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
Labels: Approved to merge

#26289 Build NuGet with correct prerelease tags
  build/scripts/build.ps1
Labels: Area-Infrastructure

#26295 Add tests to demonstrate that a bug is fixed
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#26286 Now that we have only one kind of switch statement, rename bound nodes to recognize that fact.
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/LocalBinderFactory.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNode.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundStatementExtensions.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/PreciseAbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/VariablesDeclaredWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/CompoundInstrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DebugInfoInjector.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DynamicAnalysisInjector.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/Instrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#26202 Handle C# "for" statement in control flow graph
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/ForLoopBinder.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaUtilities.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IForLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Loops/IForLoopOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, Language-C#, New Feature - Flow Analysis, New Feature - IOperation

#26080 De-duplicate strings in DiagnosticIncrementalAnalyzer.StateSet
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateSet.cs
Labels: Approved to merge, Area-IDE

#26269 Defer loading of SQLite binaries until they will be used
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLitePersistentStorageTests.cs
  src/Workspaces/Core/Desktop/Workspace/SQLite/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Desktop/Workspace/Storage/PersistenceStorageServiceFactory.cs
Labels: Approved to merge, Area-IDE

#26154 Support pointers of unmanaged type parameters in method type inference
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Test/Emit/Emit/UnmanagedTypeModifierTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
Labels: Approved to merge, Area-Compilers, Bug, New Language Feature - Constraints

#26296 Avoid cycle checking constraint
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#26302 Address more feedback on external annotations prototype
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/ExternalAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayCompilerInternalOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayFormat.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#26343 Add VBCSCompiler to SourceBuild.sln
  SourceBuild.sln
Labels: Area-Infrastructure

#25955 Reference assemblies reachable from current module only
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CSharpExpressionCompiler.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CSharpInstructionDecoder.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CSharpMetadataContext.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationExtensions.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/EvaluationContext.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTestBase.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/HoistedStateMachineLocalTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/InstructionDecoderTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/MissingAssemblyTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ReferencedModulesTests.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/DkmUtilities.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/EEMetadataReferenceResolver.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/EvaluationContextBase.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/ExpressionCompiler.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/ExpressionEvaluatorFatalError.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/InstructionDecoder.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/MakeAssemblyReferencesKind.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/MetadataContext.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/MetadataContextId.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/MetadataUtilities.cs
  src/ExpressionEvaluator/Core/Test/ExpressionCompiler/ExpressionCompilerTestHelpers.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/CompilationExtensions.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/EvaluationContext.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/VisualBasicExpressionCompiler.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/VisualBasicInstructionDecoder.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/VisualBasicMetadataContext.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ExpressionCompilerTestBase.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ExpressionCompilerTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/HoistedStateMachineLocalTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/LocalsTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ReferencedModulesTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/StaticLocalsTests.vb
Labels: Approved to merge, Area-Compilers, Interactive-Debugging

#26272 Add ISwitchOperation.Locals, ISwitchCaseOperation.Locals and ICaseClauseOperation.Label.
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IPatternSwitchCase.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_InvalidStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.xml.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/ICaseClauseOperation.cs
  src/Compilers/Core/Portable/Operations/IPatternCaseClauseOperation.cs
  src/Compilers/Core/Portable/Operations/ISwitchCaseOperation.cs
  src/Compilers/Core/Portable/Operations/ISwitchOperation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_ISwitchOperation.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Feature - Flow Analysis, New Feature - IOperation

#26297 EE doesn't recognize property in generic if declaration is an interface
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EETypeParameterSymbol.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ExpressionCompilerTests.vb
Labels: Approved to merge, Area-Interactive, Interactive-Debugging

#26341 Handle completion items with leading/trailing decorative text
  src/EditorFeatures/Core.Wpf/Completion/Presentation/RoslynCompletionSet.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller.Session_FilterModel.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller_Commit.cs
  src/Features/Core/Portable/Completion/CompletionHelper.cs
Labels: PR For Personal Review Only

#25008 Add docs on editorconfig external file support
  docs/compilers/Design/Editor Config.md
Labels: Area-Compilers

#26298 Fix path to Microsoft.Build.Tasks.CodeAnalysis.dll in Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/DotNetSdkTestBase.cs
Labels: Approved to merge, Area-Compilers

#25953 push text edit to OOP
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.SolutionChecksumUpdater.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Remote/IRemoteHostService.cs
  src/Workspaces/Remote/Core/Services/AssetStorage.cs
  src/Workspaces/Remote/Core/Services/RoslynServices.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
Labels: Area-IDE

#26339 Use ITextBufferCloneService if available in AsText
  src/EditorFeatures/Text/Extensions.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
Labels: Approved to merge

#26303 Fix issue where a write wasn't detected in make-readonly #2
  src/EditorFeatures/CSharpTest/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/EditorFeatures/VisualBasicTest/MakeFieldReadonly/MakeFieldReadonlyTests.vb
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Labels: Area-IDE, Community

#15543 Prioritize refactorings over code-fixes if the user has made a selection.
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
Labels: Area-IDE, Community, cla-already-signed

#26309 removed back pointer to document from DocumentSpecficiOptionSet
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider.DocumentOptions.cs
  src/Workspaces/Core/Portable/Options/IDocumentOptions.cs
  src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs
Labels: Area-IDE

#26349 Clean up comments
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/SymbolFactory.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StaticNullChecking_TypeInference.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#26357 some clean up
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
Labels: Area-IDE

#26351 Fix bad codegen for fixed buffer access
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Approved to merge, Area-Compilers

#26325 Improve searching for symbols when a name is known ahead of time. (Including Compilation.GetEntryPoint())
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compiler/EntryPointCandidateFinder.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTable.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SymbolSearchTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/VisualBasic/Portable/Compilation/EntryPointCandidateFinder.vb
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Declarations/DeclarationTable.vb
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/SymbolSearchTests.vb
Labels: Approved to merge, Area-Compilers, Community

#26374 Revert "Update Roslyn snapshot when editorconfig is updated
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider.cs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core/Shared/Utilities/ResettableDelay.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
Labels: Area-IDE

#26365 Remove redundant SyntaxTree casts.
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/OverrideCompletionProvider.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb
Labels: Area-Compilers, Area-IDE, Community, Concept-Continuous Improvement

#26368 `git update-index --chmod=+x build.sh` to fix Ubuntu build.
  build.sh
Labels: Area-Compilers, Bug, New Language Feature - Pattern Matching

#26212 add publishing data for 15.8-preview1 branch
  build/config/PublishData.json
Labels: Area-Infrastructure

#26371 Reenable IDE test in features/recursive-patterns
  src/EditorFeatures/CSharpTest/UseDeconstruction/UseDeconstructionTests.cs
Labels: Area-IDE

#26208 Yaml build definition
  .vsts-ci.yml
  build/Targets/Packages.props
Labels: Area-Infrastructure

#26390 Correct the generated code for a null check on a type parameter that may be a value type.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
Labels: 4 - In Review, Area-Compilers, Bug, New Language Feature - Pattern Matching

#26288 Move all feature code over to using the new 'generate type or var' helper.
  src/Features/CSharp/Portable/ConvertLinq/CSharpConvertLinqQueryToForEachProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/GenerateMember/GenerateVariable/CSharpGenerateVariableService.cs
  src/Features/CSharp/Portable/InlineDeclaration/CSharpInlineDeclarationCodeFixProvider.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.CodeGenerator.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.VisualBasicCodeGenerator.vb
  src/Workspaces/CSharp/Portable/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpNameReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpNameReducer.cs
Labels: Approved to merge, Area-IDE, Community

#26316 MakeMethodAsync: don't rename entry point methods
  src/EditorFeatures/CSharpTest/Diagnostics/MakeMethodAsynchronous/MakeMethodAsynchronousTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_Create.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlCreation.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/MakeMethodAsynchronous/MakeMethodAsynchronousTests.vb
  src/Features/CSharp/Portable/MakeMethodAsynchronous/CSharpMakeMethodAsynchronousCodeFixProvider.cs
  src/Features/Core/Portable/MakeMethodAsynchronous/AbstractMakeMethodAsynchronousCodeFixProvider.cs
Labels: Approved to merge, Area-IDE

#23557 Use ValueTask<T> on allocation hot paths
  build/Targets/Packages.props
  src/Compilers/Core/Portable/CodeAnalysis.csproj
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/InternalUtilities/PerformanceSensitiveAttribute.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/SymbolAnalysisContextExtensions.cs
  src/Features/Core/Portable/Diagnostics/WorkspaceAnalyzerOptions.cs
  src/Features/Core/Portable/Features.csproj
  src/NuGet/Microsoft.CodeAnalysis.Common.nuspec
  src/NuGet/NuGetProjectPackUtil.csproj
  src/Setup/DevDivInsertionFiles/BuildDevDivInsertionFiles.vb
  src/VisualStudio/Setup.Dependencies/AssemblyRedirects.cs
  src/VisualStudio/Setup.Dependencies/VisualStudioSetup.Dependencies.csproj
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/VisualStudioSetup.csproj
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
Labels: Approved to merge, Area-IDE

#25945 Pull common methods up to base type in syntax api.
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Generated/Syntax.xml.Syntax.Generated.vb
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/AbstractFileWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/RedNodes/RedNodeWriter.vb
  src/Workspaces/CSharp/Portable/Extensions/BaseArgumentListSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/BaseMethodDeclarationSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/BaseParameterListSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/TypeDeclarationSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Utilities/FormattingRangeHelper.cs
  src/Workspaces/VisualBasic/Portable/Extensions/MethodBaseSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/Extensions/TypeBlockSyntaxExtensions.vb
Labels: Area-Compilers, Community

#26434 Merge: Fix publish error
  src/Tools/MicroBuild/publish-assets.ps1
Labels: Area-Infrastructure

#26234 Improve packing of control flow graph.
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/VisualBasic/Test/Semantic/IOperation/IOperationTests_IForEachLoopStatement.vb
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Feature - Flow Analysis

#26372 deploy vsix packages on build
  build/scripts/build.ps1
Labels: Area-Infrastructure

#24821 Fixing IntroduceVariable for expression bodied void-returning methods, local functions & accessors
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs
  src/Workspaces/CSharp/Portable/Extensions/BasePropertyDeclarationSyntaxExtensions.cs
Labels: Area-IDE, Community

#26416 do not build additional artifacts in default build
  Build.cmd
  build/scripts/build.ps1
Labels: Area-Infrastructure

#26345 Inaccessible extension methods should not be considered eligible candidates.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/MethodGroupResolution.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Emit/PrivateProtected.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/MissingAssemblyTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/NoPIATests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/PseudoVariableTests.cs
Labels: Area-Compilers, Bug

#26465 Fix symbol indexing
  .vsts-ci.yml
Labels: Area-Infrastructure

#23980 Remove workaround that's already included in MSBuild 15.5
  build/Targets/Settings.props
Labels: Area-Infrastructure, Community

#26438 Avoid adding duplicate metadata references to AbstractProject reference list
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
Labels: Approved to merge, Area-IDE

#26287 Extend lifetime of switch arm pattern variables to permit them to be shared in the decision dag.
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
Labels: 4 - In Review, Area-Compilers, Bug, New Language Feature - Pattern Matching, Urgency-Soon

#26291 Port CodeAnalysisTest to Unix + CoreCLR
  src/Compilers/Core/CodeAnalysisTest/AnalyzerFileReferenceTests.cs
  src/Compilers/Core/CodeAnalysisTest/CodeAnalysisTest.csproj
  src/Compilers/Core/CodeAnalysisTest/DesktopAnalyzerAssemblyLoaderTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/CompilationWithAnalyzersTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Emit/EmitOptionsTests.cs
  src/Compilers/Core/CodeAnalysisTest/FileSystem/PathUtilitiesTests.cs
  src/Compilers/Core/CodeAnalysisTest/FileSystem/RelativePathResolverTests.cs
  src/Compilers/Core/CodeAnalysisTest/FileUtilitiesTests.cs
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyIdentityComparerTests.cs
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyIdentityDisplayNameTests.cs
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyIdentityTests.cs
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyPortabilityPolicyTests.cs
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/FusionAssemblyIdentityTests.cs
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/MetadataReferenceTests.cs
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/ModuleMetadataTests.cs
  src/Compilers/Core/CodeAnalysisTest/StrongNameProviderTests.cs
  src/Compilers/Core/CodeAnalysisTest/Text/LargeTextTests.cs
  src/Compilers/Core/CodeAnalysisTest/Text/SourceTextTests.cs
  src/Compilers/Core/CodeAnalysisTest/Text/StringTextDecodingTests.cs
  src/Compilers/Core/CodeAnalysisTest/Text/StringTextTest.cs
  src/Compilers/Core/CodeAnalysisTest/Text/StringTextTests_Default.cs
  src/Compilers/Core/CodeAnalysisTest/Text/StringText_LineTest.cs
  src/Compilers/Core/CodeAnalysisTest/Win32Res.cs
  src/Test/Utilities/Portable/Assert/AssertEx.cs
  src/Test/Utilities/Portable/Assert/DiffUtil.cs
Labels: Area-Compilers, Area-Infrastructure

#26462 Increase logging for unit tests
  src/Tools/Source/RunTests/ConsoleUtil.cs
  src/Tools/Source/RunTests/ITestExecutor.cs
  src/Tools/Source/RunTests/ProcDumpUtil.cs
  src/Tools/Source/RunTests/ProcessRunner.cs
  src/Tools/Source/RunTests/ProcessTestExecutor.cs
  src/Tools/Source/RunTests/Program.cs
  src/Tools/Source/RunTests/TestRunner.cs
Labels: Area-Infrastructure

#26423 Cleanup our analyzer disable option
  build/scripts/build.ps1
Labels: Area-Infrastructure
