Repository dotnet/roslyn, pull requests merged in 2019-03, with the labels that each got.

#33679 Implement full spec changes for Index/Range
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Range.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationNodes.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
Labels: Area-Compilers, New Language Feature - Range

#33704 Follow up on the addition of Preview langversion, handle custom diagnostics.
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/PrivateProtected.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation, New Language Feature - Nullable Reference Types

#33772 Delayed failures in integration tests
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-Infrastructure

#33773 Allow specific exception without crash in integration tests
  src/VisualStudio/IntegrationTest/TestSetup/TestExtensionErrorHandler.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-Infrastructure

#33764 Handle interface members in NullableWalker.AsMemberOfType
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers

#33709 Enable to run apps targeting netcoreapp2.1 against netcoreapp3.0
  eng/build.sh
  eng/common/tools.sh
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#33745 16.0 Preview 4. Up and down key do not work for editor if the old completion is turned on
  src/EditorFeatures/Core/CommandHandlers/AbstractCompletionCommandHandler.cs
Labels: Approved to merge, Area-IDE, Bug, IDE-IntelliSense

#31644 Remove OOP related feature options.
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngineFactory.cs
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.vb
  src/EditorFeatures/Test2/ReferenceHighlighting/AbstractReferenceHighlightingTests.vb
  src/EditorFeatures/TestUtilities/NavigateTo/AbstractNavigateToTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/AddImport/AddImportTests.vb
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/DocumentHighlighting/AbstractDocumentHighlightsService.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.Remote.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/OptionPages/InternalFeaturesOnOffPage.cs
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder_AllDeclarations.cs
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder_SourceDeclarations.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_FindLiteralReferences.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_FindReferences_Current.cs
  src/Workspaces/Core/Portable/Remote/RemoteFeatureOptions.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClientExtensions.cs
Labels: Area-IDE, Community

#33575 Fix integration tests
  eng/build-utils.ps1
  eng/build.ps1
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicRename.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-Infrastructure

#33528 Add ITypeSymbol.IsReadOnly public API
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousType.TypePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationTypeSymbol.cs
Labels: Area-Compilers

#33790 Port #33631 to dev16.0 (Low priority for code wrapping refactorings)
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Wrapping/AbstractCodeActionComputer.cs
  src/EditorFeatures/Core/Wrapping/WrapItemsAction.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
Labels: Approved to merge, Area-IDE

#33791 Use the correct iteration count in IterationDataAttribute
  src/VisualStudio/IntegrationTest/TestUtilities/IterationDataAttribute.cs
Labels: Area-Infrastructure, Integration-Test

#33800 Execute code through Exec-Command for consistent error handling
  eng/build.ps1
Labels: Area-Infrastructure

#33747 Text on a InterpolatedVerbatimStringStartToken token
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInterpolatedString.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxFactoryTests.cs
Labels: Area-Compilers

#33795 Enable async completion
  azure-pipelines-integration.yml
  eng/build.ps1
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/AsyncCompletionService.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractEditorTest.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractIntegrationTest.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpIntelliSense.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpInteractive.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpInteractiveDirectives.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIdeFeatures.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIntellisense.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicEditAndContinue.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicIntelliSense.cs
  src/VisualStudio/IntegrationTest/TestUtilities/AsyncCompletionCondition.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/LegacyCompletionCondition.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/TextViewWindow_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/VisualStudioWorkspace_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-Infrastructure, Integration-Test

#33647 Rename and cleanup some members in the 'use var' feature.
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/ConvertForEachToFor/ConvertForEachToForTests.cs
  src/EditorFeatures/CSharpTest/ConvertForToForEach/ConvertForToForEachTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/EditorFeatures/CSharpTest/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/EditorFeatures/Test2/Simplification/TypeNameSimplifierTest.vb
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpTypeStyleDiagnosticAnalyzerBase.cs
  src/Features/CSharp/Portable/InlineDeclaration/CSharpInlineDeclarationCodeFixProvider.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/CSharp/Portable/CodeStyle/TypeStyle/TypeStyle.cs
  src/Workspaces/CSharp/Portable/CodeStyle/TypeStyle/TypeStyleHelper.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpTypeStyleHelper.State.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseExplicitTypeHelper.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseImplicitTypeHelper.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
Labels: Area-IDE, Community

#33802 Add UseEnhancedColors to FeatureOnOffOptionsProvider
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
Labels: Area-IDE

#33397 Fix #33253: Smart Indent does not handle fluent sequences correctly
  src/EditorFeatures/CSharp/Formatting/Indentation/CSharpIndentationService.Indenter.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterTests.cs
Labels: Area-IDE, Community

#33806 Move leading trivia with node when removing unused values.
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.vb
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.cs
Labels: Area-IDE

#33803 Add a regression test for nullable range indexer
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, New Language Feature - Range

#33831 Remove unnecessary (duplicate) WaitForAsyncOperations
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIntellisense.cs
Labels: Area-Infrastructure, Integration-Test

#33778 Properly handle nullability mismatch in default interface implementations.
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#33834 Introduce more efficient internal representation of a sequence VirtualChars
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexDocumentHighlightsService.cs
  src/Workspaces/CSharp/Portable/EmbeddedLanguages/VirtualChars/CSharpVirtualCharService.cs
  src/Workspaces/CSharpTest/EmbeddedLanguages/RegularExpressions/CSharpRegexParserTests.cs
  src/Workspaces/CSharpTest/EmbeddedLanguages/VirtualChars/CSharpVirtualCharServiceTests.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/Common/EmbeddedSyntaxHelpers.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/Common/EmbeddedSyntaxToken.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/Common/EmbeddedSyntaxTree.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/Common/EmbeddedSyntaxTrivia.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexPatternDetector.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexSyntaxClassifier.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexHelpers.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexLexer.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexParser.CaptureInfoAnalyzer.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexParser.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexTree.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/VirtualChars/AbstractVirtualCharService.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/VirtualChars/IVirtualCharService.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/VirtualChars/VirtualCharExtensions.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/VirtualChars/VirtualCharSequence.Chunks.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/VirtualChars/VirtualCharSequence.Enumerator.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/VirtualChars/VirtualCharSequence.cs
  src/Workspaces/VisualBasic/Portable/EmbeddedLanguages/VirtualChars/VisualBasicVirtualCharService.vb
  src/Workspaces/VisualBasicTest/EmbeddedLanguages/VirtualChars/VisualBasicVirtualCharServiceTests.vb
Labels: Area-IDE, Community

#33840 Replace Stack with ArrayBuilder in GreenNode walker
  src/Compilers/Core/Portable/Syntax/GreenNode.cs
Labels: Area-Compilers, Area-Performance

#33859 Move ILASMDeploy to netcoreapp3.0
  src/Tools/ILAsm/IlAsmDeploy.csproj
Labels: Area-Compilers

#33870 Regression test for suppression on ref-returns
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Nullable Reference Types, Test

#33871 Split CloseFile into CloseCodeFile and CloseDesignerFile
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpGoToDefinition.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpGoToImplementation.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpWinForms.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicLineCommit.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicWinForms.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/SolutionExplorer_OutOfProc.cs
Labels: Area-Infrastructure, Integration-Test

#33817 improving performance on running completion tests
  src/EditorFeatures/TestUtilities/AbstractCommandHandlerTestState.cs
  src/EditorFeatures/TestUtilities/TestExportProvider.cs
  src/EditorFeatures/TestUtilities2/Intellisense/TestStateBase.vb
  src/VisualStudio/CSharp/Test/EventHookup/EventHookupTestState.cs
Labels: Area-IDE, Test

#33893 Verify we learn from non-null tests from attributes
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#33876 Remove NoBuild from ILAsmDeploy
  src/Tools/ILAsm/IlAsmDeploy.csproj
Labels: Area-Infrastructure

#33899 Disable VirtualMemoryNotificationListener for Server GC
  src/VisualStudio/Core/Def/Implementation/VirtualMemoryNotificationListener.cs
Labels: Area-IDE, Bug

#33875 Completion does not work in the Immediate Window after expression evaluation
  src/VisualStudio/Core/Def/Implementation/DebuggerIntelliSense/DebuggerIntellisenseFilter.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.IVsImmediateStatementCompletion2.cs
Labels: Approved to merge, Area-IDE, Bug, IDE-IntelliSense

#33882 Simplify error message to not mention unconstrained type parameter that it doesn't apply to.
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, Concept-Diagnostic Clarity, New Language Feature - Nullable Reference Types

#33880 Remove comments for already-resolved github issues.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33739 Fix incorrect assertion in ContainedLanguage
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
Labels: Area-IDE

#33606 Expand trigger area for Generate Constructor and Add Parameters to constructor
  src/EditorFeatures/CSharpTest/GenerateFromMembers/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/VisualBasicTest/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.vb
  src/EditorFeatures/VisualBasicTest/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.vb
  src/EditorFeatures/VisualBasicTest/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.vb
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateFromMembers/AbstractGenerateFromMembersCodeRefactoringProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxTreeExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/Extensions/SyntaxTreeExtensions.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#33850 Close the Find Source window in case it's open
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
Labels: Area-Infrastructure

#33878 Fix Mono tests
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#33437 Add missing dot for `/embed` documentation of `csc.exe /?`
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
Labels: Area-Compilers, Community

#33028 Condense quick info
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Test/DocCommentFormatting/DocCommentFormattingTests.cs
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests.vb
  src/Features/Core/Portable/DocumentationComments/AbstractDocumentationCommentFormattingService.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Features/Core/Portable/Shared/Extensions/ISymbolExtensions_2.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/QuickInfoToStringConverter.cs
Labels: Area-IDE

#33358 Remove fixed IBC drop name
  azure-pipelines-official.yml
  src/Interactive/EditorFeatures/CSharp/Microsoft.CodeAnalysis.CSharp.InteractiveEditorFeatures.csproj
  src/Interactive/EditorFeatures/Core/Microsoft.CodeAnalysis.InteractiveEditorFeatures.csproj
  src/Interactive/Features/Microsoft.CodeAnalysis.InteractiveFeatures.csproj
  src/NuGet/Microsoft.Net.Compilers/CompilerArtifacts.targets
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
Labels: Area-Infrastructure

#29094 fixed doesn't list 'assembly' keyword
  src/EditorFeatures/CSharpTest2/Recommendations/AssemblyKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AssemblyKeywordRecommender.cs
Labels: Area-IDE, Community

#33869 Analyze ref declarations/assignments/foreachs/returns
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#32884 Address minor issues identified in review #32431.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NullableParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33547 Classify paramref and typeparamref in Quick Info
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests.vb
  src/Features/Core/Portable/DocumentationComments/AbstractDocumentationCommentFormattingService.cs
Labels: Area-IDE

#33922 VSSDK update
  eng/Versions.props
Labels: Area-IDE

#33907 Restore fluent call depth
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
Labels: Area-Compilers

#33943 Enable roll forward in our .NET Core exes
  eng/config/runtimeconfig.template.json
  eng/targets/Imports.targets
Labels: Area-Infrastructure

#33885 Test handling of a small selection of lifted built-in unary and binary operators
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#33942 Copy nullable state from a limited set of BoundExpression types only
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33911 Suppress nullable diagnostics in unreachable code
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33463 Add MakeStatementAsynchronous fixer
  src/EditorFeatures/CSharpTest/Diagnostics/MakeStatementAsynchronous/CSharpMakeStatementAsynchronousCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/MakeStatementAsynchronous/CSharpMakeStatementAsynchronousCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Test/Utilities/Portable/Traits/Traits.cs
Labels: Area-IDE, Auto-Merge If Tests Pass, Feature Request

#33947 Move to BYOC pools
  azure-pipelines.yml
Labels: Area-Infrastructure

#33966 Offer symbol completion in branch of switch expression
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, New Language Feature - Pattern Matching

#33830 Fix completion at the start of readonly documents
  src/Features/Core/Portable/Completion/CommonCompletionProvider.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicEditAndContinue.cs
Labels: Approved to merge, Area-IDE, Tenet-Reliability

#33828 Restore original behavior of Shift+Enter during completion
  src/EditorFeatures/CSharp/AutomaticCompletion/AutomaticLineEnderCommandHandler.cs
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticLineEnderTests.cs
  src/EditorFeatures/Core/Implementation/AutomaticCompletion/AbstractAutomaticLineEnderCommandHandler.cs
  src/EditorFeatures/TestUtilities/AutomaticCompletion/AbstractAutomaticLineEnderTests.cs
  src/EditorFeatures/VisualBasic/AutomaticCompletion/AutomaticLineEnderCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/AutomaticCompletion/AutomaticLineEnderTests.vb
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpIntelliSense.cs
Labels: Approved to merge, Area-IDE

#33827 Ensure the caret is visible after commit
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpIntelliSense.cs
Labels: Approved to merge, Area-IDE

#33929 Learn from binary operators on non-null constant values
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33930 Reduce allocations in CanonicallyCompareDiagnostics
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
Labels: Area-Compilers, Community

#33927 Refine the set of NullableAnnotation values to the three speakable options
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/TypeParameterSymbolAdapter.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.ObjectCreationPlaceholderLocal.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/SymbolFactory.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotation.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotationExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/NullableFlowState.cs
  src/Compilers/CSharp/Portable/Symbols/NullableFlowStateExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithState.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
  src/Compilers/Test/Utilities/CSharp/UsesIsNullableVisitor.cs
  src/Scripting/CoreTest/ScriptOptionsTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33931 Improve the error message for an 'in' extension method so it's clear …
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RefExtensionMethodsTests.cs
Labels: Area-Compilers, Community

#32858 Add helpers to make it easy to compute smart-indenting in wrapping refactoring.
  src/EditorFeatures/CSharp/Formatting/Indentation/CSharpIndentationService.cs
  src/EditorFeatures/CSharp/Wrapping/BinaryExpression/CSharpBinaryExpressionWrapper.cs
  src/EditorFeatures/CSharp/Wrapping/SeparatedSyntaxList/AbstractCSharpSeparatedSyntaxListWrapper.cs
  src/EditorFeatures/Core/Wrapping/AbstractCodeActionComputer.cs
  src/EditorFeatures/Core/Wrapping/AbstractWrapper.cs
  src/EditorFeatures/Core/Wrapping/BinaryExpression/AbstractBinaryExpressionWrapper.cs
  src/EditorFeatures/Core/Wrapping/SeparatedSyntaxList/AbstractSeparatedSyntaxListWrapper.cs
  src/EditorFeatures/Core/Wrapping/SeparatedSyntaxList/SeparatedSyntaxListCodeActionComputer.cs
  src/EditorFeatures/VisualBasic/Formatting/Indentation/VisualBasicIndentationService.vb
  src/EditorFeatures/VisualBasic/Wrapping/BinaryExpression/VisualBasicBinaryExpressionWrapper.vb
  src/EditorFeatures/VisualBasic/Wrapping/SeparatedSyntaxList/AbstractVisualBasicSeparatedSyntaxListWrapper.vb
Labels: Area-IDE, Community

#30461 Restore async-streams tests on Core
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
Labels: Area-Compilers, New Feature - Async Streams, Test

#33971 Improve test performance
  src/EditorFeatures/TestUtilities/AbstractCommandHandlerTestState.cs
  src/EditorFeatures/TestUtilities/TestExportProvider.cs
  src/EditorFeatures/TestUtilities/Threading/StaTaskScheduler.cs
  src/EditorFeatures/TestUtilities/Threading/WpfTestRunner.cs
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
  src/VisualStudio/CSharp/Test/EventHookup/EventHookupTestState.cs
Labels: Area-Infrastructure

#33502 Fix deployment of ILAsm when building from VS
  src/Tools/ILAsm/IlAsmDeploy.csproj
Labels: Area-Infrastructure

#33926 Immediate Window keyboard navigation with Ctrl+Up has been broken.
  src/VisualStudio/Core/Def/Implementation/DebuggerIntelliSense/DebuggerIntellisenseFilter.cs
Labels: Area-IDE, Interactive-Debugging

#33974 Update to Arcade 1.0.0-beta.19157.23
  global.json
Labels: Area-Infrastructure

#33804 Execute test scenarios on mono
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#28518 Wait for graceful close before terminating process
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstance.cs
Labels: Area-Infrastructure

#33892 Implement LDM decisions on the behavior of `??` and `??=` operators
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, New Language Feature - Nullable Reference Types

#33902 handle extension methods in "Sync Namespace" refactoring
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
Labels: Approved to merge, Area-IDE

#33697 Correct parsing of a parenthesized constant pattern expression in switch expression arm
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, Bug, New Language Feature - Pattern Matching

#33972 Nullable nontrivial constructor should propagate state of the argument to Value.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33874 Update nullable api proposal with new separate rvalue and lvalue design.
  docs/compilers/CSharp/Nullability Public API Design Notes.md
Labels: Area-Compilers, Documentation, New Language Feature - Nullable Reference Types

#33985 Fix stack overflow compiling deeply nested generic
  src/Compilers/CSharp/Portable/Binder/Binder.NamespaceOrTypeOrAliasSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers

#33954 Readonly members emit changes
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitAddress.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.SynthesizedMethodBase.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStaticConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ReadOnlyStructsTests.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.cs
Labels: Area-Compilers

#33984 Check nullness of a nullable receiver when invoking base methods.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33997 Fix result and slot of conditional receiver
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34004 Warn on locking null
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33950 Confirm suppression for ref/out/in parameters
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#33940 LOC CHECKIN | dotnet/roslyn dev16.0-vs-deps | 20190307
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hant.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Approved to merge, Area-Infrastructure

#33921 Regex Completion + Async Completion = Failure to trigger on `[` in VB
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Regex.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_Regex.vb
Labels: Area-IDE, IDE-IntelliSense

#33621 async completion. re-consider changes TestNavigationBeforeCompletedComputation
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Intellisense/LegacyTestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/ModernCompletionTestState.vb
Labels: IDE-IntelliSense, Test

#33774 Editor completion: move references to EditorOperations from the new completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManagerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller_Commit.cs
Labels: Area-IDE, Concept-Continuous Improvement, IDE-IntelliSense

#29043 Fixing false unresolvedConflict when renaming overloaded VB properties
  src/EditorFeatures/Test2/Rename/RenameEngineTests.VisualBasicConflicts.vb
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/DeclarationConflictHelpers.cs
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
Labels: Area-IDE, Community

#34024 VS SDK update
  eng/Versions.props
Labels: Area-IDE

#34029 Track nullable state through implicit and explicit reference and tuple conversions
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithState.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33962 Track inferred state changes in a finally block
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, New Language Feature - Nullable Reference Types

#33883 Complete statement: special handling needed for caret at end of line, outside of delimiters
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
Labels: Area-IDE

#34053 Remove unused ITestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/ITestState.vb
Labels: Area-IDE, IDE-IntelliSense, Test

#33903 Record which packages were missing if we skipped an installed instance
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-Infrastructure, Integration-Test

#33988 Write the targets files into the correct directory for VS2019
  src/Compilers/Extension/CompilerPackage.cs
Labels: Area-Infrastructure

#34084 Report nullness warnings for nullable collections in foreach.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34012 Support protected access for declarations in interfaces
  docs/features/DefaultInterfaceImplementation.md
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/AccessCheck.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ExplicitInterfaceHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/PrivateProtected.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#33816 Report nullability for attribute arguments:
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33779 added partial load mode feature flag and made extract method to handle partial load mode.
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Implementation/ExtractMethod/AbstractExtractMethodCommandHandler.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextSnapshotExtensions.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/Experimentation/ExperimentationOptions.cs
  src/VisualStudio/Core/Def/Guids.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/AnalyzerVsixSuggestedActionCallback.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioWorkspaceStatusServiceFactory.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/OptionPages/ExperimentationPage.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/VisualStudioDiagnosticsWindowPackage.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Utilities/TaskExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Host/Status/IWorkspaceStatusService.cs
  src/Workspaces/Core/Portable/Workspace/Host/Status/WorkspaceStatusService.cs
Labels: Area-IDE

#34102 Mitigation for GetTypeInfo on suppressed expression
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, New Language Feature - Nullable Reference Types

#34109 Conditional access and null coalescing operator affect both branches
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34110 Remove BoundExpressionExtensions.GetTypeAndNullability and GetNullableAnnotation
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, New Language Feature - Nullable Reference Types

#34087 Track nullable state across boxing conversions
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#33986 Add the correct nullable annotations to generated iterator code
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/Binder/InContainerBinder.cs
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithLambdaParametersBinder.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncStateMachine.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorStateMachine.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineFieldSymbol.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34096 Remove IgnoreInsignificantNullableModifiersDifference
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/Core/Portable/Symbols/TypeCompareKind.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, New Language Feature - Nullable Reference Types

#34016 Bind T? in cref as Nullable<T>
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Nullable Reference Types

#33951 Allow stack-only types in stackalloc
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
Labels: Approved to merge, Area-Compilers

#34128 Fix struct layout error when nullable enabled:
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34078 include the correct compiler resources assemblies for pt-BR
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.Setup.csproj
Labels: Approved to merge

#34133 Block specific command handlers during partial load
  src/EditorFeatures/Core.Wpf/InlineRename/CommandHandlers/RenameCommandHandler_RenameHandler.cs
  src/EditorFeatures/Core/GoToImplementation/GoToImplementationCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ChangeSignature/AbstractChangeSignatureCommandHandler.cs
  src/EditorFeatures/Core/Implementation/EncapsulateField/AbstractEncapsulateFieldCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ExtractInterface/AbstractExtractInterfaceCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/AbstractExtractMethodCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Organizing/OrganizeDocumentCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/CallHierarchy/CallHierarchyCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/Library/ClassView/AbstractSyncClassViewCommandHandler.cs
Labels: Area-IDE

#34130 Adjust upgrade project fixer to support new error codes
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
Labels: Area-Compilers, Area-IDE, New Language Feature - Default Interface Implementation

#33749 Add a hack to ensure documents are connected to open files
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Impl/CodeModel/FileCodeModel.cs
Labels: Approved to merge, Area-IDE

#34135 Warn on __refvalue null dereference:
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34152 Update vs branch for 16.1
  eng/config/PublishData.json
Labels: Area-Infrastructure

#34120 Add hang mitigating timeout to WaitForAsyncOperations
  src/Test/Diagnostics/TestingOnly_WaitingService.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpExtractMethod.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFormatting.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpImmediate.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReferenceHighlighting.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpRename.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIdeFeatures.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSendToInteractive.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicChangeSignatureDialog.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicEditAndContinue.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicExtractMethod.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicFormatting.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicGenerateConstructorDialog.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicGenerateEqualsAndGetHashCodeDialog.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicImmediate.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.Verifier.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/ErrorList_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/ExtractInterfaceDialog_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/FindReferencesWindow_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/GenerateTypeDialog_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/InlineRenameDialog_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/OutOfProcComponent.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/PickMembersDialog_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/PreviewChangesDialog_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/SolutionExplorer_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/TextViewWindow_OutOfProc.Verifier.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/TextViewWindow_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/VisualStudioWorkspace_OutOfProc.cs
Labels: Area-Infrastructure, Integration-Test

#33938 Fix several outstanding small formatter bugs
  eng/Versions.props
  src/CodeStyle/Core/Analyzers/Microsoft.CodeAnalysis.CodeStyle.csproj
  src/EditorFeatures/CSharpTest/ConvertTupleToStruct/ConvertTupleToStructTests.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/IndentBlockFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/NewLineUserSettingFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/CSharpTest/Microsoft.CodeAnalysis.CSharp.Workspaces.UnitTests.csproj
  src/Workspaces/Core/Portable/Shared/Extensions/ChildSyntaxListExtensions.cs
Labels: Area-IDE

#33674 Integration test cleanup
  src/EditorFeatures/TestUtilities/VisualStudioSendKeys.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpAutomaticBraceCompletion.cs
Labels: Area-Infrastructure

#34113 Fix FindReferencesTests and link to correct issues
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.OrdinaryMethodSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.XmlDocSymbols.vb
Labels: Area-IDE

#34153 Remove earlier NullableReferenceTypes documentation
  docs/features/NullableReferenceTypes/ImplementationNotes.md
  docs/features/NullableReferenceTypes/Nullable reference types.md
  docs/features/NullableReferenceTypes/README.md
Labels: Area-Compilers, Documentation

#34199 Skip test DecimalBinaryOp_03
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
Labels: Area-Compilers, Area-Infrastructure

#34055 Remove the use of forced GC in production code
  src/VisualStudio/Core/Def/Implementation/GCManager.cs
Labels: Area-IDE

#34134 Update indexers based on analyzer receiver
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34126 Hide obsolete member from the IDE for improved usability
  src/Features/Core/Portable/Completion/CompletionItem.cs
Labels: Area-IDE, Community

#34114 Rewrite FindReferencesTests as theories
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.AccessorSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.AliasSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.AnonymousTypeSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.AsyncSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.ConstructorSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DelegateInvokeMethodSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DynamicAssemblies.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DynamicBinding.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DynamicConstructors.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DynamicDelegatesAndIndexers.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DynamicFunctions.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DynamicIdentifiers.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.DynamicPartialClass.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.EventSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.ExplicitInterfaceMethodSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.ExtensionMethodSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.FieldSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.IndexerSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.LabelSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.LambdaSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.LinkedFiles.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.Literals.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.LocalFunctions.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.LocalSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.MethodTypeParameterTypeSymbol.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.NamedTypeSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.NamespaceSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.OperatorSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.OrdinaryMethodSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.ParameterSymbol.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.PropertySymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.RangeVariableSymbol.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.Tuples.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.TypeParameterTypeSymbol.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.WinmdSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.XmlDocSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.vb
  src/EditorFeatures/Test2/Microsoft.CodeAnalysis.EditorFeatures2.UnitTests.vbproj
Labels: Area-IDE

#34071 Apply a hang mitigating timeout to ExecuteCommand
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InProcComponent.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownCommandNames.cs
Labels: Area-Infrastructure, Integration-Test

#34121 Adjust base access with explicit base according to latest LDM decisions
  docs/features/DefaultInterfaceImplementation.md
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/EventTests.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#34141 Check implicit receiver in nested initializers
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34172 Update to Arcade SDK 1.0.0-beta.19167.10
  eng/targets/Settings.props
  eng/targets/SourcePackage.targets
  global.json
  src/Dependencies/CodeAnalysis.Debugging/Microsoft.CodeAnalysis.Debugging.nuspec
  src/Dependencies/PooledObjects/Microsoft.CodeAnalysis.PooledObjects.nuspec
Labels: Area-Infrastructure

#34171 Prevent embedding of interfaces that contain non-abstract members.
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/NoPia/EmbeddedTypesManager.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#34214 Skip test DecimalBinaryOp_03 (#34199)
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
Labels: Area-Infrastructure

#34194 Fix typo
  docs/analyzers/Localizing Analyzers.md
  docs/compilers/Visual Basic/Overflow In Embedded Runtime.md
  docs/contributing/Building, Debugging, and Testing on Windows.md
  docs/features/deconstruction.md
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/TypeForwarders.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeTests.cs
  src/Compilers/Core/MSBuildTask/ManagedToolTask.cs
  src/Compilers/Core/Portable/InternalUtilities/StringExtensions.cs
  src/Compilers/VisualBasic/Portable/CodeGen/EmitArrayInitializer.vb
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/PE/TypeForwarders.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/TypeTests.vb
  src/Compilers/VisualBasic/Test/Syntax/Resources/VBAllInOne.vb
  src/Compilers/VisualBasic/Test/Syntax/Syntax/VBAllInOne.txt
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexEmbeddedCompletionProvider.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.State.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Test/Utilities/Portable/TestResource.resx
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/SimpleNameSyntaxExtensions.cs
  src/Workspaces/CSharpTest/EmbeddedLanguages/RegularExpressions/CSharpRegexParserTests.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexSyntaxClassifier.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexCharClass.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexLexer.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexNodes.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexParser.cs
  src/Workspaces/Core/Portable/Formatting/FormattingOptions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxTreeExtensions_SharedWithCodeStyle.cs
  src/Workspaces/Core/Portable/Shared/Utilities/BloomFilter.cs
  src/Workspaces/Core/Portable/Utilities/TaskExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Host/Metadata/IFrameworkAssemblyPathResolver.cs
Labels: Community

#34015 Tuple nullable suppression
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34083 Remove unused ICommentUncommentService.
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentSelectionServiceProxy.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentUncommentSelectionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ICommentUncommentService.cs
Labels: Area-IDE

#34125 Enable some custom modifier tests on Mono
  src/Compilers/CSharp/Test/Symbol/Symbols/CustomModifiersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/LoadInAttributeModifier.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/LoadingMethods.cs
Labels: Area-Infrastructure

#34103 Workaround a deadlock caused by watching .editorconfigs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider_Ide.cs
Labels: Approved to merge, Area-IDE

#34022 Readonly members warnings and semantic errors
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ReadOnlyStructsTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers

#34074 Fix few false positives in unused value assignment analyzer
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Test/Utilities/Portable/Compilation/FlowAnalysis/BasicBlockReachabilityDataFlowAnalyzer.cs
  src/Workspaces/Core/Portable/FlowAnalysis/CustomDataFlowAnalysis.cs
  src/Workspaces/Core/Portable/FlowAnalysis/DataFlowAnalyzer.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.FlowGraphAnalysisData.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.Walker.cs
Labels: Area-IDE

#34245 Workaround a deadlock caused by watching .editorconfigs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core.Wpf/Options/EditorConfigDocumentOptionsProvider_Ide.cs
Labels: Approved to merge

#34154 Allow NuGet within the IDE
  NuGet.config
  eng/targets/GenerateCompilerExecutableBindingRedirects.targets
Labels: Area-Infrastructure

#34093 Move to .NET Core 3.0 SDK
  docs/contributing/Building, Debugging, and Testing on Windows.md
  eng/Versions.props
  eng/build.ps1
  eng/build.sh
  global.json
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/VisualBasic/vbc/vbc.csproj
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
Labels: Area-Infrastructure

#34156 Respect the iteration parameter in IterationData
  src/VisualStudio/IntegrationTest/TestUtilities/IterationDataAttribute.cs
Labels: Area-Infrastructure

#31923 use cleaner syntax for C# Generated.cs files
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/TestWriter.cs
Labels: Area-Compilers, Community

#34195 Fix race in GetOpenDocumentInCurrentContextWithChanges
  src/Workspaces/Core/Portable/Workspace/TextExtensions.cs
Labels: Approved to merge, Area-IDE

#34212 Fix saving naming styles options page
  src/Tools/ILAsm/IlAsmDeploy.csproj
  src/VisualStudio/Core/Impl/Options/AbstractOptionPage.cs
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
  src/VisualStudio/Core/Impl/Options/GridOptionPreviewControl.xaml.cs
  src/VisualStudio/Core/Impl/Options/OptionPreviewControl.xaml.cs
  src/VisualStudio/Core/Impl/Options/OptionStore.cs
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/NamingStyleOptionPageControl.xaml.cs
Labels: Approved to merge, Area-IDE

#34255 Comment out parameters in the official build pipeline
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#34174 Do not skip emit if errors are suppressed
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, Bug

#34219 Report uninitialized fields on field if ctor is default
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers, Bug

#34275 Fix inline description for async completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/TestUtilities2/Intellisense/ModernCompletionTestState.vb
Labels: Area-IDE

#27982 Enable suggestions for types in reference assemblies and NuGet packages by default
  src/Workspaces/Core/Portable/SymbolSearch/SymbolSearchOptions.cs
Labels: Approved to merge, Area-IDE

#34262 Only skip test on mono
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
Labels: Area-Compilers, Area-Infrastructure

#34292 Don't track uninitialized non-null struct fields
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers, Bug

#34293 Add extra nullable test for params:
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#34226 Move Spanish runs to new queue
  azure-pipelines.yml
Labels: Area-Infrastructure
