Repository dotnet/roslyn, pull requests merged in 2019-05, with the labels that each got.

#35373 Use more robust initialization for TypeWithAnnotations.Builder
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35238 Auto-generate assembly version of the build task assembly
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
Labels: Area-Infrastructure

#35315 Use Arcade SDK infrastructure for building source packages
  eng/targets/PackageProject.targets
  eng/targets/SourcePackage.targets
  src/Dependencies/CodeAnalysis.Debugging/Microsoft.CodeAnalysis.Debugging.Package.csproj
  src/Dependencies/CodeAnalysis.Debugging/Microsoft.CodeAnalysis.Debugging.nuspec
  src/Dependencies/PooledObjects/Microsoft.CodeAnalysis.PooledObjects.Package.csproj
  src/Dependencies/PooledObjects/Microsoft.CodeAnalysis.PooledObjects.nuspec
Labels: Area-Infrastructure

#35395 Update PublishData for "release/" branch prefix
  eng/config/PublishData.json
Labels: Area-Infrastructure

#35396 Update yml files for `release/*` branches
  azure-pipelines-integration.yml
  azure-pipelines.yml
Labels: Area-Infrastructure

#35385 merge features/nested-stackalloc
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundSpillSequence.cs
  src/Compilers/CSharp/Portable/BoundTree/Formatting.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Await.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StackAlloc.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxNodeExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncLocalsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTasklikeMoreTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/PropertyTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Area-Compilers, New Language Feature - Stackalloc initializers

#35411 Use more robust initialization for TypeWithAnnotations.Builder (#35373)
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers, Bug

#35262 Hide dependency on VsInteractiveWindow package from Microsoft.VisualStudio.LanguageServices package
  src/VisualStudio/CSharp/Impl/Microsoft.VisualStudio.LanguageServices.CSharp.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Approved to merge, Area-IDE

#35418 Update language feature status
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#35422 Ensure unimplemented interface members are reported even in presence of unification warnings
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
Labels: Area-Compilers, Language-C#

#35326 [EnumeratorCancellation] combines tokens
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorInfo.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNameKind.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Test/Utilities/Portable/Metadata/MetadataReaderUtils.cs
Labels: Area-Compilers, New Feature - Async Streams

#34793 🔼 Compute indices when OOP is disabled
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/Workspaces/Core/Portable/Remote/DefaultRemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/Workspaces/Core/Portable/Remote/IRemoteHostClientService.cs
  src/Workspaces/Core/Portable/Remote/RemoteFeatureOptions.cs
Labels: Approved to merge, Area-IDE, Needs Shiproom Approval

#35427 Remove some restrictions for base access expression.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/LookupOptions.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers

#35303 perf tweak to run OpenFileOnly analyzers only for open files even if …
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/Test/Diagnostics/SuppressMessageAttributeTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractSuppressionDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/DiagnosticProviderTestUtilities.cs
  src/EditorFeatures/TestUtilities/Diagnostics/FixAllDiagnosticProvider.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.vb
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/Core/Portable/Remote/RemoteFeatureOptions.cs
Labels: Area-IDE

#34959 Allow `ignore spaces around declaration` to work when `preserve single line statements` is set to false
  src/Workspaces/CSharp/Portable/Formatting/Rules/WrappingFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Approved to merge, Area-IDE, Needs Shiproom Approval

#35225 Fix razor completion
  src/EditorFeatures/CSharpTest/ChangeSignature/RemoveParametersTests.cs
  src/EditorFeatures/CSharpTest/EncapsulateField/EncapsulateFieldCommandHandlerTests.cs
  src/EditorFeatures/CSharpTest/ExtractInterface/ExtractInterfaceTests.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/CSharpTest/Organizing/OrganizeTypeDeclarationTests.cs
  src/EditorFeatures/Core.Wpf/Interactive/InteractiveSupportsFeatureService.cs
  src/EditorFeatures/Core.Wpf/Interactive/InteractiveTextBufferSupportsFeatureService.cs
  src/EditorFeatures/Core/Shared/ITextBufferSupportsFeatureService.cs
  src/EditorFeatures/Test2/Rename/RenameCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/RemoveParametersTests.vb
  src/EditorFeatures/VisualBasicTest/EncapsulateField/EncapsulateFieldCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/ExtractInterface/ExtractInterfaceTests.vb
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.LanguageInteraction.vb
  src/EditorFeatures/VisualBasicTest/Organizing/OrganizeTypeDeclarationTests.vb
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/MoveToNamespace/MoveToNamespaceResult.cs
  src/Features/Core/Portable/Shared/IDocumentSupportsFeatureService.cs
  src/VisualStudio/Core/Def/Implementation/VisualStudioSupportsFeatureService.cs
  src/VisualStudio/Core/Def/Implementation/VisualStudioTextBufferSupportsFeatureService.cs
Labels: Approved to merge, Area-IDE, Needs Shiproom Approval

#35423 Add import completion telemetry
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerLogger.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/Workspaces/Core/Portable/Log/AbstractLogAggregator.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Log/LogAggregator.cs
  src/Workspaces/Core/Portable/Log/StatisticLogAggregator.cs
Labels: Approved to merge, Area-IDE

#35434 Avoid caching VS completion item
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
Labels: Approved to merge, Area-IDE, Needs Shiproom Approval

#34548 Add asyncInfo.catchHandlerOffset for async Main implementation
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Test/CommandLine/ErrorLoggerTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncMainTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenScriptTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
Labels: Area-Compilers, Interactive-Debugging

#34607 Use new CoreFX API for creating NamedPipeServerStreams
  src/Compilers/Server/VBCSCompiler/BuildServerController.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnection.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Server/VBCSCompilerTests/DesktopBuildClientTests.cs
  src/Compilers/Server/VBCSCompilerTests/DesktopBuildServerControllerTests.cs
  src/Compilers/Server/VBCSCompilerTests/EndToEndDeterminismTest.cs
  src/Compilers/Server/VBCSCompilerTests/ServerUtil.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerServerTests.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/NamedPipeUtil.cs
Labels: Area-Compilers, Area-Infrastructure

#35310 IntelliCode duplicate items inhibit Ctrl+Space
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Approved to merge, Area-IDE, IDE-IntelliSense

#35460 Fix typo in OptProf test name
  eng/config/OptProf.json
Labels: Area-Infrastructure

#35375 Revert two step initialization of constraints
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousType.TypePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.ErrorTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ExtendedErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MissingMetadataTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaAmbiguousCanonicalTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaIllegalGenericInstantiationSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaMissingCanonicalTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CrefTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/IndexedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDestructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/TypeParameterConstraintClause.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterBounds.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/UnboundGenericType.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedTypeParameterSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/CrefTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/Core/Portable/Collections/SmallDictionary.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EETypeParameterSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/SimpleTypeParameterSymbol.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35318 Support TimeTravelTraceInterop in function resolver.
  eng/Versions.props
  eng/targets/Vsdconfig.targets
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Microsoft.CodeAnalysis.CSharp.ExpressionCompiler.csproj
  src/ExpressionEvaluator/CSharp/Source/ResultProvider/CSharpResultProvider.projitems
  src/ExpressionEvaluator/Core/Source/FunctionResolver/CSharp/FunctionResolver.vsdconfigxml
  src/ExpressionEvaluator/Core/Source/FunctionResolver/Microsoft.CodeAnalysis.FunctionResolver.csproj
  src/ExpressionEvaluator/Core/Source/FunctionResolver/VisualBasic/FunctionResolver.vsdconfigxml
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Microsoft.CodeAnalysis.VisualBasic.ExpressionCompiler.vbproj
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/BasicResultProvider.projitems
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Area-Infrastructure, Community

#35497 Update PublishData.json
  eng/config/PublishData.json
Labels: Approved to merge, Area-Infrastructure

#35456 Remove support for base access with explicit base type.
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DelegateCreationExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Event.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PropertyAccess.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/BaseExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Test/Utilities/Portable/TestResource.resx
Labels: Area-Compilers

#35459 Use boxed `TypeWithAnnotations` instead of builder
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/GlobalExpressionVariable.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35512 Fix yaml to pick up full branch name
  azure-pipelines-official.yml
Labels: Approved to merge, Area-Infrastructure

#34718 Allow overriding members with nullable variance
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35506 Change accessibility of explicit implementations in interfaces to 'private'.
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers

#35445 Nullable Deconstruction in foreach loops:
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35516 Use 'Nullable' for Csc Task property
  docs/features/nullable-reference-types.md
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35359 Deadlock during shutdown of interactive window
  src/EditorFeatures/Core.Wpf/Interactive/InteractiveEvaluator.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.cs
  src/Interactive/HostTest/InteractiveHostTests.cs
Labels: Area-IDE

#34876 Readonly members symbol display
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.SynthesizedMethodBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenConstructorInitTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenShortCircuitOperatorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/ObjectAndCollectionInitializerTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayMemberOptions.cs
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests.vb
Labels: Area-Compilers, Area-IDE, IDE-IntelliSense

#35494 Improve diagnostic messaging for unused value assignment and unused p…
  src/CodeStyle/Core/Analyzers/AbstractCodeStyleDiagnosticAnalyzer.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#35538 Adjust nullability warning on ref argument
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35508 Don't emit readonly attributes on members within readonly structs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
Labels: Area-Compilers

#35184 Don't allow void to convert to object via user-defined conversion
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DeconstructionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UserDefinedConversionTests.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/OperatorsTests.vb
Labels: Area-Compilers

#35535 Ignore annotations analyzing method calls for attributes
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35547 Report nullability mismatches for delegate creation expressions
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticAnalyzerTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35463 Fix lambda lowering for cast to generic ReadOnlySpan<T>
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
Labels: Area-Compilers, Bug

#35541 Account for nullability in array conversion to interface
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35150 Synchronize AnalyzerConfig documents when creating OOP solutions
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioSnapshotSerializationTests.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Solution/AnalyzerConfigDocument.cs
  src/Workspaces/Core/Portable/Workspace/Solution/AnalyzerConfigDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
  src/Workspaces/CoreTestUtilities/Extensions.cs
  src/Workspaces/CoreTestUtilities/SnapshotSerializationTestBase.cs
  src/Workspaces/Remote/Core/Services/ChecksumSynchronizer.cs
  src/Workspaces/Remote/Core/Services/SolutionCreator.cs
  src/Workspaces/Remote/Core/Shared/Extensions.cs
  src/Workspaces/Remote/Core/Shared/SimpleAssetSource.cs
  src/Workspaces/Remote/Core/TestUtils.cs
Labels: Area-IDE

#35461 made error navigation and de-duplication a bit better with mapped span…
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractTableControlEventProcessorProvider.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Labels: Area-IDE

#35383 fixed issue where analyzer run after project is already removed from VS.
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/DesignerAttributeIncrementalAnalyzer.cs
Labels: Approved to merge, Area-IDE

#35503 Fix logging for option value change
  src/VisualStudio/Core/Impl/Options/AbstractOptionPage.cs
Labels: Approved to merge, Area-IDE

#35449 Fix having the wrong syntax trees after adding an .editorconfig
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Approved to merge, Area-IDE

#35543 Use AssemblyInformationalVersionAttribute value for logo and version
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Interactive/HostTest/InteractiveHostTests.cs
  src/Scripting/CSharp/Hosting/CSharpReplServiceProvider.cs
  src/Scripting/CSharp/Hosting/CommandLine/Csi.cs
  src/Scripting/CSharpTest.Desktop/CsiTests.cs
  src/Scripting/CSharpTest/CommandLineRunnerTests.cs
  src/Scripting/VisualBasic/Hosting/CommandLine/Vbi.vb
  src/Scripting/VisualBasic/Hosting/VisualBasicReplServiceProvider.vb
  src/Scripting/VisualBasicTest/CommandLineRunnerTests.vb
  src/Test/Utilities/Portable/Diagnostics/DiagnosticExtensions.cs
Labels: Area-Compilers

#35544 Refactor ApplyConversion into VisitConversion
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, New Language Feature - Nullable Semantic Model

#35612 Remove PROTOTYPE comment from editorconfig
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
Labels: Area-Compilers, Test

#35601 Infer method group based on receiver nullability
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Compilation/AttributeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/InitializerSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.SpeculativeMemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35542 Move to a newer version of CoreCLR
  docs/contributing/Building, Debugging, and Testing on Windows.md
  eng/Versions.props
  global.json
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
Labels: Area-Compilers

#35621 Fix three .editorconfig bugs
  src/Features/Core/Portable/Diagnostics/WorkspaceAnalyzerOptions.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Area-IDE

#35433 Debugger shows property as field
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ExpansionTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/ResultProvider.cs
Labels: Area-IDE, Interactive-Debugging

#35616 Fix commit of import completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Approved to merge, Area-IDE

#35638 Fix crash when using bad indexer type
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
Labels: Area-Compilers

#35504 Optimize codegen for pattern index access
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
Labels: Area-Compilers

#35653 InlineTemporary: don't inline using declarations
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
Labels: Area-IDE, New Language Feature - enhanced using

#35327 Resurrected the option to suppress in source using attributes
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Suppression/SuppressionTests.vb
  src/Features/CSharp/Portable/CodeFixes/Suppression/CSharpSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.FixAllProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.LocalSuppressMessageCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/NestedSuppressionCodeAction.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/CodeFixes/Suppression/VisualBasicSuppressionCodeFixProvider.vb
Labels: Area-IDE, Community

#35655 Use inferred nullability for delegate method in MethodTypeInferrer
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35603 Use the hosted pool for integration tests
  azure-pipelines-integration.yml
  eng/build.ps1
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Extension/CompilerPackage.cs
  src/EditorFeatures/Core/Implementation/EncapsulateField/AbstractEncapsulateFieldCommandHandler.cs
  src/Tools/Source/RunTests/Options.cs
  src/Tools/Source/RunTests/ProcDumpUtil.cs
  src/Tools/Source/RunTests/Program.cs
  src/VisualStudio/Core/Def/Implementation/Preview/PreviewEngine.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpEncapsulateField.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicEncapsulateField.cs
  src/VisualStudio/IntegrationTest/TestSetup/IntegrationTestServicePackage.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Dialog_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-Infrastructure

#35475 Fix violations of RS1024 in Microsoft.CodeAnalysis.CSharp.Workspaces
  src/EditorFeatures/Test2/Rename/RenameEngineTests.CSharpConflicts.vb
  src/Workspaces/CSharp/Portable/Extensions/CastExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/CrefSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.Expander.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpMiscellaneousReducer.cs
Labels: Area-IDE

#35421 Clean up YAML
  azure-pipelines-integration.yml
  azure-pipelines.yml
Labels: Area-Infrastructure

#35481 Fix violations of RS1024 in Microsoft.CodeAnalysis.EditorFeatures.UnitTests
  src/EditorFeatures/Test/CodeGeneration/CodeGenerationTests.cs
Labels: Area-IDE

#35476 Fix violations of RS1024 in Microsoft.CodeAnalysis.VisualBasic.Workspaces
  src/Workspaces/VisualBasic/Portable/CaseCorrection/VisualBasicCaseCorrectionService.Rewriter.vb
  src/Workspaces/VisualBasic/Portable/Extensions/CastAnalyzer.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb
  src/Workspaces/VisualBasic/Portable/Recommendations/VisualBasicRecommendationServiceRunner.vb
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
  src/Workspaces/VisualBasic/Portable/Simplification/VisualBasicSimplificationService.Expander.vb
Labels: Area-IDE

#35467 Fix violations of RS1024 in Microsoft.VisualStudio.LanguageServices
  src/VisualStudio/Core/Def/Implementation/ChangeSignature/ChangeSignatureDialogViewModel.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphNodeIdCreation.cs
Labels: Area-IDE

#35479 Fix violations of RS1024 in Microsoft.CodeAnalysis.CSharp.Features
  src/Features/CSharp/Portable/ChangeSignature/CSharpChangeSignatureService.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ThisKeywordRecommender.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/CSharpConvertForEachToLinqQueryProvider.cs
  src/Features/CSharp/Portable/GenerateConstructor/CSharpGenerateConstructorService.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider_MethodGroup.cs
Labels: Area-IDE

#35483 Update analyzers to follow recommended patterns
  eng/config/rulesets/NonShipping.ruleset
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.cs
  src/EditorFeatures/Core/Implementation/RenameTracking/RenameTrackingDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/DocumentDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/ProjectDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/UnboundIdentifiersDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/EmbeddedLanguages/AbstractEmbeddedLanguageDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/Features/Core/Portable/ValidateFormatString/AbstractValidateFormatStringDiagnosticAnalyzer.cs
Labels: Area-Compilers

#35733 Ensure we give .editorconfig keys in the same order as in the file
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.DocumentOptions.cs
  src/EditorFeatures/Test/EditorConfig/LegacyEditorConfigDocumentOptionsProviderTests.cs
  src/EditorFeatures/Test/Microsoft.CodeAnalysis.EditorFeatures.UnitTests.csproj
  src/Workspaces/CoreTest/EditorConfigStorageLocation/NamingStylePreferenceEditorConfigStorageLocationTests.cs
Labels: Approved to merge, Area-IDE

#35563 Set the initial directory for generate .editorconfig file from settings
  src/VisualStudio/Core/Impl/Options/GridOptionPreviewControl.xaml.cs
Labels: Area-IDE

#35717 Adjust logo tests to recognize official build versions
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers

#35604 Work around integration test crash in light bulb controller
  src/VisualStudio/IntegrationTest/TestSetup/TestExtensionErrorHandler.cs
Labels: Area-Infrastructure, Integration-Test

#35492 Remove legacy IVTs
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Test/Utilities/CSharp/Microsoft.CodeAnalysis.CSharp.Test.Utilities.csproj
  src/Compilers/Test/Utilities/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.Test.Utilities.vbproj
  src/EditorFeatures/CSharp.Wpf/Microsoft.CodeAnalysis.CSharp.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Scripting/Core/Microsoft.CodeAnalysis.Scripting.csproj
  src/Test/Diagnostics/Roslyn.Hosting.Diagnostics.csproj
  src/Test/PdbUtilities/Roslyn.Test.PdbUtilities.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/CSharp/Impl/Microsoft.VisualStudio.LanguageServices.CSharp.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Impl/Microsoft.VisualStudio.LanguageServices.Implementation.csproj
  src/VisualStudio/Core/SolutionExplorerShim/Microsoft.VisualStudio.LanguageServices.SolutionExplorer.csproj
  src/VisualStudio/InteractiveServices/Microsoft.VisualStudio.InteractiveServices.csproj
  src/VisualStudio/InteractiveServices/PublicAPI.Shipped.txt
  src/VisualStudio/InteractiveServices/PublicAPI.Unshipped.txt
  src/VisualStudio/VisualBasic/Impl/Microsoft.VisualStudio.LanguageServices.VisualBasic.vbproj
  src/Workspaces/Core/Desktop/Microsoft.CodeAnalysis.Workspaces.Desktop.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-Infrastructure

#35478 Fix violations of RS1024 in Microsoft.CodeAnalysis.VisualBasic.Features
  src/Features/VisualBasic/Portable/ChangeSignature/VisualBasicChangeSignatureService.vb
  src/Features/VisualBasic/Portable/CodeFixes/GenerateEvent/GenerateEventCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.ReferenceRewriter.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/EnumCompletionProvider.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Expressions/MeKeywordRecommender.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionValidator.vb
  src/Features/VisualBasic/Portable/GenerateConstructor/VisualBasicGenerateConstructorService.vb
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicAnonymousTypeDisplayService.vb
  src/Features/VisualBasic/Portable/MakeMethodSynchronous/VisualBasicMakeMethodSynchronousCodeFixProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/RaiseEventStatementSignatureHelpProvider.vb
Labels: Area-IDE

#35470 Fix violations of RS1024 in Microsoft.CodeAnalysis.Workspaces
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageResult.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/DeclarationConflictHelpers.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IMethodSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/INamedTypeSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/INamespaceSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.SubstituteTypesVisitor.cs
  src/Workspaces/Core/Portable/Shared/Utilities/EditorBrowsableHelpers.cs
  src/Workspaces/Core/Portable/Utilities/AbstractSpeculationAnalyzer.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE

#35464 Fix mismatched use of MEF 1 and 2
  src/EditorFeatures/Core.Wpf/Tags/DefaultImageMonikerService.cs
Labels: Area-IDE

#35716 Feed the NullableContextOptions msbuild property into Nullable
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Nullable Reference Types

#35565 Localize "General" groupbox header in the Formatting>General option page
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingGeneralOptionPageStrings.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
Labels: Area-IDE

#35720 Copy nullable state of members unconditionally up to a certain depth
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35364 Make IPackageInstallerService implementation lazy
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests_NuGet.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/AddImport/AddImportTests_NuGet.vb
  src/Features/Core/Portable/AddImport/AbstractAddImportCodeFixProvider.cs
  src/Features/Core/Portable/AddPackage/AbstractAddPackageCodeFixProvider.cs
  src/VisualStudio/Core/Def/Packaging/IPackageServicesProxy.cs
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
  src/VisualStudio/Core/Def/SymbolSearch/VisualStudioSymbolSearchService.cs
  src/Workspaces/Core/Portable/Packaging/IPackageInstallerService.cs
Labels: Area-IDE, Tenet-Performance

#35703 Unskip working test
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
Labels: Area-Compilers, Disabled Test

#35570 Improve determination of starting node for Complete Statement
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
Labels: Area-IDE

#35273 Cherry-pick PR #34909
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/ExtraAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotation.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotationExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers, Area-Infrastructure

#35704 Go to base
  src/EditorFeatures/CSharp/GoToBase/CSharpGoToBaseService.cs
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/GoToBase/AbstractGoToBaseService.cs
  src/EditorFeatures/Core/GoToBase/FindBaseHelpers.cs
  src/EditorFeatures/Core/GoToBase/IGoToBaseService.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test2/GoToBase/GoToBaseTests.vb
  src/EditorFeatures/Test2/GoToHelpers/GoToHelpers.vb
  src/EditorFeatures/Test2/GoToImplementation/GoToImplementationTests.vb
  src/EditorFeatures/VisualBasic/GoToBase/VisualBasicGoToBaseService.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.cs
Labels: Area-IDE

#35765 Track nullability of struct properties that are not auto-properties
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35659 Make compilation outputs available via a workspace service
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineArguments.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/EditorFeatures/Test/Debugging/DebugInformationReaderProviderTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueMethodDebugInfoReaderTests.cs
  src/EditorFeatures/Test/Emit/CompilationOutputFilesTests.cs
  src/EditorFeatures/Test/Emit/CompilationOutputsTests.cs
  src/EditorFeatures/Test/Microsoft.CodeAnalysis.EditorFeatures.UnitTests.csproj
  src/Features/Core/Portable/Debugging/DebugInformationReaderProvider.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueMethodDebugInfoReader.cs
  src/Features/Core/Portable/Emit/CompilationOutputFiles.cs
  src/Features/Core/Portable/Emit/CompilationOutputs.cs
  src/Features/Core/Portable/Emit/ICompilationOutputsProviderService.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Compilation/CompilationOutputFiles.cs
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/CSharp/Test/Microsoft.VisualStudio.LanguageServices.CSharp.UnitTests.csproj
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/AnalyzersTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/LegacyProject/AnalyzersTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/LegacyProject/CSharpCompilerOptionsTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/VisualStudioCompilationOutputFilesTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/CompilationOutputFilesWithImplicitPdbPath.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioCompilationOutputsProviderService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioCompilationOutputsProviderServiceFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectOptionsProcessor.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualBasicCompilerOptionsTests.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/VisualBasicHelpers/VisualBasicHelpers.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProject.vb
Labels: Area-IDE

#35414 Expand Complete Statement to complete delegate declaration statements
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
Labels: Area-IDE

#35557 Remove safeonly option
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/NullableContextOptions.cs
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/CSharpPragmaWarningStateMap.cs
  src/Compilers/CSharp/Portable/Syntax/NullableDirectiveMap.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NullableKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SafeOnlyKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/KeywordCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/NullableKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/SafeOnlyKeywordRecommender.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35480 Fix violations of RS1024 in Microsoft.CodeAnalysis.EditorFeatures
  src/EditorFeatures/Core/GoToDefinition/AbstractGoToDefinitionService.cs
Labels: Area-IDE

#35677 Limit use of IBuiltInAnalyzer.OpenFileOnly
  src/EditorFeatures/Core/Implementation/RenameTracking/RenameTrackingDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/AddBraces/CSharpAddBracesDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/InlineDeclaration/CSharpInlineDeclarationDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessAnalyzer.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/MakeStructFieldsWritable/CSharpMakeStructFieldsWritableDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/RemoveUnreachableCode/CSharpRemoveUnreachableCodeDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseDeconstruction/CSharpUseDeconstructionDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseDefaultLiteral/CSharpUseDefaultLiteralDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseExpressionBody/UseExpressionBodyDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForCastAndEqualityOperatorDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseSimpleUsingStatement/UseSimpleUsingStatementDiagnosticAnalyzer.cs
  src/Features/Core/Portable/AddAccessibilityModifiers/AbstractAddAccessibilityModifiersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/AddRequiredParentheses/AbstractAddRequiredParenthesesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeQuality/AbstractCodeQualityDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeStyle/AbstractBuiltInCodeStyleDiagnosticAnalyzer.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToTuple/AbstractConvertAnonymousTypeToTupleDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/NamingStyleDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/RemoveUnnecessaryCastDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Features/Core/Portable/Diagnostics/IBuiltInAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/IInProcessAnalyzer.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Formatting/FormattingDiagnosticAnalyzer.cs
  src/Features/Core/Portable/MakeFieldReadonly/MakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Features/Core/Portable/OrderModifiers/AbstractOrderModifiersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/PopulateSwitch/PopulateSwitchDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnnecessaryParentheses/AbstractRemoveUnnecessaryParenthesesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/SimplifyThisOrMe/AbstractSimplifyThisOrMeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs
  src/Features/Core/Portable/UseCoalesceExpression/AbstractUseCoalesceExpressionDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseCoalesceExpression/AbstractUseCoalesceExpressionForNullableDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseCollectionInitializer/AbstractUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseCompoundAssignment/AbstractUseCompoundAssignmentDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseConditionalExpression/AbstractUseConditionalExpressionDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseExplicitTupleName/UseExplicitTupleNameDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseInferredMemberName/AbstractUseInferredMemberNameDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseIsNullCheck/AbstractUseIsNullForReferenceEqualsDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseObjectInitializer/AbstractUseObjectInitializerDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseThrowExpression/AbstractUseThrowExpressionDiagnosticAnalyzer.cs
Labels: Area-IDE

#35734 Separate script arguments from the script file for InteractiveCompiler tasks
  src/Compilers/Core/MSBuildTask/CommandLineBuilderExtension.cs
  src/Compilers/Core/MSBuildTask/InteractiveCompiler.cs
  src/Compilers/Core/MSBuildTaskTests/CsiTests.cs
Labels: Area-Interactive

#35499 More external access
  Roslyn.sln
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
  src/Tools/ExternalAccess/Apex/Microsoft.CodeAnalysis.ExternalAccess.Apex.csproj
  src/Tools/ExternalAccess/Apex/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/Apex/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/CodeLens/Microsoft.CodeAnalysis.ExternalAccess.CodeLens.csproj
  src/Tools/ExternalAccess/CodeLens/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/CodeLens/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/IntelliTrace/Microsoft.CodeAnalysis.ExternalAccess.IntelliTrace.csproj
  src/Tools/ExternalAccess/IntelliTrace/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/IntelliTrace/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/LegacyCodeAnalysis/Microsoft.CodeAnalysis.ExternalAccess.LegacyCodeAnalysis.csproj
  src/Tools/ExternalAccess/LegacyCodeAnalysis/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/LegacyCodeAnalysis/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/LiveShare/Microsoft.CodeAnalysis.ExternalAccess.LiveShare.csproj
  src/Tools/ExternalAccess/LiveShare/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/LiveShare/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/ProjectSystem/Microsoft.CodeAnalysis.ExternalAccess.ProjectSystem.csproj
  src/Tools/ExternalAccess/ProjectSystem/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/ProjectSystem/PublicAPI.Unshipped.txt
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/Setup/source.extension.vsixmanifest
Labels: Area-Infrastructure

#35804 Ignore nullability in operator overload resolution
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35605 X64 testing
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Input/AbstractSendKeys.cs
  src/VisualStudio/IntegrationTest/TestUtilities/IntegrationHelper.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Interop/NativeMethods.cs
Labels: Area-Infrastructure, Integration-Test

#35830 added code lens resource file in vsix
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-Infrastructure

#35828 Add helper to simplify a common parsing pattern.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
Labels: Area-Compilers

#35780 Elide an emit optimization that produces bad code near a stackalloc.
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StackAlloc.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
Labels: Area-Compilers, Bug, Urgency-Soon

#35772 When building a decision dag, recognize special CLR behavior of arrays.
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#35597 Don't check safe-to-escape of receiver arguments to readonly members
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers

#35856 Unskip passing tests.
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterEnterOnTokenTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterTests.cs
Labels: Area-IDE, New Language Feature - Pattern Matching

#35510 Implement external access APIs for Apex
  src/Tools/ExternalAccess/Apex/ApexAsynchronousOperationListenerProviderAccessor.cs
  src/Tools/ExternalAccess/Apex/IApexAsynchronousOperationListenerProviderAccessor.cs
  src/Tools/ExternalAccess/Apex/Microsoft.CodeAnalysis.ExternalAccess.Apex.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-Infrastructure

#35482 Fix violations of CA2237 (Mark ISerializable types with serializable)
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmException.cs
  src/Test/Utilities/Portable/Compilation/Exceptions.cs
  src/Test/Utilities/Portable/Diagnostics/ThrowingDiagnosticAnalyzer.cs
Labels: Area-Analyzers, Area-Compilers

#35831 Modify get contained document to accept null id as input.
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.cs
  src/VisualStudio/Core/Test/Venus/ContainedDocumentTests.vb
Labels: Area-IDE

#35846 Decode pre- and post-condition nullable attributes
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/ParameterWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/ExtraAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/FlowAnalysisAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumUtilties.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/TypedConstant.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34860 move StreamJsonRpc 1.xxx to 2.xxx
  eng/Versions.props
  src/EditorFeatures/TestUtilities/Remote/InProcRemostHostClient.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Tools/ExternalAccess/FSharp/Microsoft.CodeAnalysis.ExternalAccess.FSharp.csproj
  src/Tools/ExternalAccess/Xamarin.Remote/Microsoft.CodeAnalysis.ExternalAccess.Xamarin.Remote.csproj
  src/VisualStudio/CSharp/Test/Watson/WatsonTests.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcClient.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcMessageHandler.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemotableDataJsonRpcEx.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Def/Implementation/Watson/WatsonExtensions.cs
  src/VisualStudio/Core/Impl/Microsoft.VisualStudio.LanguageServices.Implementation.csproj
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Xaml/Impl/Microsoft.VisualStudio.LanguageServices.Xaml.csproj
  src/Workspaces/Remote/Razor/Microsoft.CodeAnalysis.Remote.Razor.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_AddImport.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_CodeLens.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_DesignerAttributes.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_Diagnostics.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_DocumentHighlights.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_NavigateTo.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_SymbolFinder.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_TodoComments.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteSymbolSearchUpdateEngine.cs
  src/Workspaces/Remote/ServiceHub/Services/SnapshotService.JsonRpcAssetSource.cs
  src/Workspaces/Remote/ServiceHub/Shared/Extensions.cs
  src/Workspaces/Remote/ServiceHub/Shared/ServiceHubServiceBase.cs
Labels: Area-IDE

#35331 Pull Members Up: A couple of fixes to pull to base class as abstract
  src/EditorFeatures/CSharpTest/PullMemberUp/CSharpPullMemberUpTests.cs
  src/Features/Core/Portable/PullMemberUp/MembersPuller.cs
Labels: Area-IDE, Community

#35837 Set non-blocking mode per textView
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: IDE-IntelliSense

#31812 Add feature to convert switch statement to switch expression
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionFixAllTests.cs
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionConstants.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/AutomationObject.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions.cs
Labels: Area-IDE, Feature Request, New Language Feature - Pattern Matching

#35781 Copy liveshare client into external access
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/LanguageServer/Protocol/CustomProtocol/RunCodeActionParams.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Definitions/GoToDefinitionTests.cs
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
  src/Tools/ExternalAccess/LiveShare/Classification/RoslynClassificationService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Classification/RoslynClassificationService.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynCodeActionProvider.Exports.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynCodeActionProvider.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynRemoteCodeAction.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynRemoteCodeActionOperation.cs
  src/Tools/ExternalAccess/LiveShare/Completion/RoslynCompletionProvider.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Completion/RoslynCompletionProvider.cs
  src/Tools/ExternalAccess/LiveShare/Completion/RoslynCompletionService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Completion/RoslynCompletionService.cs
  src/Tools/ExternalAccess/LiveShare/Diagnostics/IRemoteDiagnosticsService.cs
  src/Tools/ExternalAccess/LiveShare/Diagnostics/RoslynDocumentDiagnosticAnalyzer.cs
  src/Tools/ExternalAccess/LiveShare/Diagnostics/RoslynRemoteDiagnosticsService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Diagnostics/RoslynRemoteDiagnosticsService.cs
  src/Tools/ExternalAccess/LiveShare/GotoDefinition/RoslynGotoDefinitionService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/GotoDefinition/RoslynGotoDefinitionService.cs
  src/Tools/ExternalAccess/LiveShare/Highlights/RoslynDocumentHighlightsService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Highlights/RoslynDocumentHighlightsService.cs
  src/Tools/ExternalAccess/LiveShare/HostLanguageServicesExtensions.cs
  src/Tools/ExternalAccess/LiveShare/LanguageServiceUtils.cs
  src/Tools/ExternalAccess/LiveShare/Microsoft.CodeAnalysis.ExternalAccess.LiveShare.csproj
  src/Tools/ExternalAccess/LiveShare/Navigation/RoslynNavigationBarItemService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Navigation/RoslynNavigationBarItemService.cs
  src/Tools/ExternalAccess/LiveShare/Projects/FileTextLoaderNoException.cs
  src/Tools/ExternalAccess/LiveShare/Projects/IRemoteProjectInfoProvider.cs
  src/Tools/ExternalAccess/LiveShare/Projects/RoslynRemoteProjectInfoProvider.cs
  src/Tools/ExternalAccess/LiveShare/References/RoslynFindUsagesService.Exports..cs
  src/Tools/ExternalAccess/LiveShare/References/RoslynFindUsagesService.cs
  src/Tools/ExternalAccess/LiveShare/Rename/RoslynRenameService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Rename/RoslynRenameService.FailureRenameInfo.cs
  src/Tools/ExternalAccess/LiveShare/Rename/RoslynRenameService.cs
  src/Tools/ExternalAccess/LiveShare/RoslynLSPClientService.cs
  src/Tools/ExternalAccess/LiveShare/SignatureHelp/RoslynSignatureHelpProvider.Exports.cs
  src/Tools/ExternalAccess/LiveShare/SignatureHelp/RoslynSignatureHelpProvider.cs
  src/Tools/ExternalAccess/LiveShare/StringConstants.cs
  src/VisualStudio/LiveShare/Impl/Microsoft.VisualStudio.LanguageServices.LiveShare.csproj
  src/VisualStudio/LiveShare/Impl/PreviewCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/RunCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/CodeActionsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/GoToDefinitionHandlerShim.cs
  src/VisualStudio/LiveShare/Test/Microsoft.VisualStudio.LanguageServices.LiveShare.UnitTests.csproj
  src/VisualStudio/LiveShare/Test/PreviewCodeActionsTests.cs
  src/VisualStudio/LiveShare/Test/RunCodeActionsHandlerTests.cs
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-IDE

#35890 Bump the 16.1 version for future servicing releases
  eng/Versions.props
Labels: Area-Infrastructure

#35907 Update SuggestedAction to track successful application
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core/Implementation/CodeActions/CodeActionEditHandlerService.cs
  src/EditorFeatures/Core/Implementation/CodeRefactorings/ICodeActionEditHandlerService.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/TextViewWindow_OutOfProc.Verifier.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/TextViewWindow_OutOfProc.cs
  src/Workspaces/Core/Portable/CodeActions/Operations/ApplyChangesOperation.cs
Labels: Area-Infrastructure, Integration-Test

#35877 Make importing constructors public to fix RS0034 (Exported parts should have ImportingConstructor)
  src/EditorFeatures/CSharp/TextStructureNavigation/TextStructureNavigatorProvider.cs
  src/EditorFeatures/Core.Wpf/BraceMatching/ClassificationTypeFormatDefinitions.cs
  src/EditorFeatures/Core.Wpf/Classification/ClassificationTypeFormatDefinitions.cs
  src/EditorFeatures/Core.Wpf/Diagnostics/UnnecessaryCodeFormatDefinition.cs
  src/EditorFeatures/Core.Wpf/InlineRename/Taggers/ClassificationTypeDefinitions.cs
  src/EditorFeatures/Core.Wpf/Interactive/InteractiveDocumentNavigationServiceFactory.cs
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentUncommentSelectionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/EditAndContinue/ActiveStatementTrackingService.cs
  src/EditorFeatures/Core/Implementation/Peek/PeekableItemFactory.cs
  src/EditorFeatures/Core/Shared/Utilities/ClassificationTypeMap.cs
  src/EditorFeatures/VisualBasic/AutomaticCompletion/AutomaticLineEnderCommandHandler.vb
  src/EditorFeatures/VisualBasic/LineCommit/CommitCommandHandler.vb
  src/EditorFeatures/VisualBasic/TextStructureNavigation/TextStructureNavigatorProvider.vb
  src/VisualStudio/CSharp/Impl/CodeModel/CSharpCodeModelServiceFactory.cs
  src/VisualStudio/CSharp/Impl/EventHookup/EventHookupSessionManager.cs
  src/VisualStudio/CSharp/Impl/ObjectBrowser/CSharpSyncClassViewCommandHandler.cs
  src/VisualStudio/Core/Def/HACK_ThemeColorFixer.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/EnhancedColorExperiment.cs
  src/VisualStudio/Core/Def/Implementation/VirtualMemoryNotificationListener.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationServiceFactory.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolNavigationServiceFactory.cs
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
  src/VisualStudio/Core/SolutionExplorerShim/AnalyzerReferenceManager.cs
  src/VisualStudio/Core/Test/Completion/TestCSharpSnippetInfoService.vb
  src/VisualStudio/Core/Test/Completion/TestVisualBasicSnippetInfoService.vb
  src/VisualStudio/VisualBasic/Impl/CodeModel/VisualBasicCodeModelServiceFactory.vb
  src/VisualStudio/VisualBasic/Impl/ObjectBrowser/VisualBasicSyncClassViewCommandHandler.vb
Labels: Area-IDE

#35916 Do not suggest converting from using-statement to using-local form if it would cause a variable collision.
  src/EditorFeatures/CSharpTest/UseSimpleUsingStatement/UseSimpleUsingStatementTests.cs
  src/Features/CSharp/Portable/UseSimpleUsingStatement/UseSimpleUsingStatementDiagnosticAnalyzer.cs
Labels: Area-IDE, Community

#35756 Support re-abstraction of interface members in derived interfaces
  docs/features/DefaultInterfaceImplementation.md
  src/Compilers/CSharp/CSharpAnalyzerDriver/CSharpDeclarationComputer.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/MemberSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldLikeEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/EventDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/EventTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/PropertyTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Features/CSharp/Portable/EditAndContinue/BreakpointSpans.cs
  src/Features/CSharp/Portable/Organizing/Organizers/EventDeclarationOrganizer.cs
  src/Features/CSharp/Portable/Structure/Providers/EventDeclarationStructureProvider.cs
Labels: Area-Compilers

#35895 Get FullPath and deduplicate potential editorconfig files
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.EditorConfig.targets
Labels: Area-Compilers

#35759 include exception type in CommonObjectFormatter for scripting/interactive
  src/Interactive/HostTest/InteractiveHostTests.cs
  src/Scripting/CSharpTest.Desktop/CsiTests.cs
  src/Scripting/CSharpTest/CommandLineRunnerTests.cs
  src/Scripting/Core/Hosting/ObjectFormatter/CommonObjectFormatter.cs
Labels: Area-Interactive, Community

#35539 Add Generate Parameter Code Fix
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateVariable/GenerateVariableTests.vb
  src/Features/Core/Portable/AddParameter/AbstractAddParameterCodeFixProvider.cs
  src/Features/Core/Portable/AddParameter/AddParameterService.cs
  src/Features/Core/Portable/AddParameter/IAddParameterService.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.GenerateParameterCodeAction.cs
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, Feature Request

#34065 Properly thread through cancellation through a bunch of our RPC services
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngineFactory.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/VisualStudioSymbolSearchService.ProgressService.cs
  src/VisualStudio/Core/Def/SymbolSearch/VisualStudioSymbolSearchService.LogService.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test/SymbolSearch/SymbolSearchUpdateEngineTests.vb
  src/Workspaces/Core/Portable/SymbolSearch/ISymbolSearchLogService.cs
  src/Workspaces/Core/Portable/SymbolSearch/ISymbolSearchProgressService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_SymbolFinder.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteSymbolSearchUpdateEngine.cs
Labels: Area-IDE, Community

#35832 Allow nullable variance for in/out params when converting method group to delegate
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35627 Use 'x is object' instead of '!(x is null)' or 'x != null'
  src/EditorFeatures/CSharpTest/UseIsNullCheck/UseIsNullCheckForCastAndEqualityOperatorTests.cs
  src/EditorFeatures/CSharpTest/UseIsNullCheck/UseIsNullCheckForReferenceEqualsTests.cs
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForCastAndEqualityOperatorCodeFixProvider.cs
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForReferenceEqualsCodeFixProvider.cs
  src/Features/Core/Portable/UseIsNullCheck/AbstractUseIsNullForReferenceEqualsCodeFixProvider.cs
  src/Features/VisualBasic/Portable/UseIsNullCheck/VisualBasicUseIsNullCheckForReferenceEqualsCodeFixProvider.vb
Labels: Area-IDE

#35095 Add new ConversionKind to IsImplicitConversion test
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
Labels: Area-Compilers

#35946 Fix some bugs in the project system shims that impact ASP.NET Projects
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.ICSInputSet.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/SolutionEventsBatchScopeCreator.cs
Labels: Area-IDE

#35576 Infer nested nullability for implicitly typed deconstruction variable:
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35964 Update PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure, Auto-Merge If Tests Pass

#35966 Update Versions.props
  eng/Versions.props
Labels: Area-Infrastructure, Auto-Merge If Tests Pass

#35967 Merge release/dev16.2-preview2 to release/dev16.2-preview2-vs-deps
  eng/Version.Details.xml
  eng/common/templates/steps/send-to-helix.yml
  eng/targets/PackageProject.targets
  global.json
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.EditorConfig.targets
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/EditorFeatures/CSharpTest/UseIsNullCheck/UseIsNullCheckForCastAndEqualityOperatorTests.cs
  src/EditorFeatures/CSharpTest/UseIsNullCheck/UseIsNullCheckForReferenceEqualsTests.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngineFactory.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateVariable/GenerateVariableTests.vb
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForCastAndEqualityOperatorCodeFixProvider.cs
  src/Features/CSharp/Portable/UseIsNullCheck/CSharpUseIsNullCheckForReferenceEqualsCodeFixProvider.cs
  src/Features/Core/Portable/AddParameter/AbstractAddParameterCodeFixProvider.cs
  src/Features/Core/Portable/AddParameter/AddParameterService.cs
  src/Features/Core/Portable/AddParameter/IAddParameterService.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.GenerateParameterCodeAction.cs
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.cs
  src/Features/Core/Portable/UseIsNullCheck/AbstractUseIsNullForReferenceEqualsCodeFixProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/UseIsNullCheck/VisualBasicUseIsNullCheckForReferenceEqualsCodeFixProvider.vb
  src/Interactive/HostTest/InteractiveHostTests.cs
  src/Scripting/CSharpTest.Desktop/CsiTests.cs
  src/Scripting/CSharpTest/CommandLineRunnerTests.cs
  src/Scripting/Core/Hosting/ObjectFormatter/CommonObjectFormatter.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.ICSInputSet.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/SolutionEventsBatchScopeCreator.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/VisualStudioSymbolSearchService.ProgressService.cs
  src/VisualStudio/Core/Def/SymbolSearch/VisualStudioSymbolSearchService.LogService.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test/SymbolSearch/SymbolSearchUpdateEngineTests.vb
  src/Workspaces/Core/Portable/SymbolSearch/ISymbolSearchLogService.cs
  src/Workspaces/Core/Portable/SymbolSearch/ISymbolSearchProgressService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_SymbolFinder.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteSymbolSearchUpdateEngine.cs
Labels: Area-Infrastructure

#35892 Ensure unimplemented interface members are reported even in presence …
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
Labels: Approved to merge, Area-Compilers

#35749 Autocomplete eagerly completes before second `.` in Range declaration
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/SuggestionMode/CSharpSuggestionModeCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractRecommendationServiceBasedCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/CSharpSyntaxContext.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTokenExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ContextQuery/SyntaxContext.cs
  src/Workspaces/VisualBasic/Portable/Extensions/ContextQuery/VisualBasicSyntaxContext.vb
Labels: Area-IDE, IDE-IntelliSense

#36002 Use vsBranch: lab/d16.2stg for 16.2-p2 publish
  eng/config/PublishData.json
Labels: Area-Infrastructure

#35917 Add recently added features list
  docs/README.md
  docs/ide/README.md
Labels: Area-IDE, Documentation

#35914 Fix declaration name completion when local functions present.
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertLinqQueryToForEachTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/ConvertForToForEach/ConvertForToForEachTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Area-IDE

#35397 use the source instead of the name to find nuget packages
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests_NuGet.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.cs
  src/VisualStudio/Core/Def/SymbolSearch/VisualStudioSymbolSearchService.cs
  src/VisualStudio/Core/Test/SymbolSearch/SymbolSearchUpdateEngineTests.vb
Labels: Area-IDE

#36025 Add "Parameter null-checking" feature
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#35951 Add (internal-only) CompletionItem.AutomationText and pass it through to the editor
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Intellisense/LegacyTestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/ModernCompletionTestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestStateBase.vb
  src/Features/Core/Portable/Completion/CompletionItem.cs
Labels: Area-IDE

#35248 Port Dispose analyzers (DisposeObjectsBeforeLosingScope and DisposableFieldsShouldBeDisposed)
  eng/Versions.props
  src/EditorFeatures/CSharpTest/DisposeAnalysis/DisposableFieldsShouldBeDisposedTests.cs
  src/EditorFeatures/CSharpTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractUserDiagnosticTest.cs
  src/EditorFeatures/VisualBasicTest/DisposeAnalysis/DisposableFieldsShouldBeDisposedTests.vb
  src/EditorFeatures/VisualBasicTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.vb
  src/Features/Core/Portable/CodeQuality/AbstractCodeQualityDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/DisposeAnalysis/DisposableFieldsShouldBeDisposedDiagnosticAnalyzer.cs
  src/Features/Core/Portable/DisposeAnalysis/DisposeAnalysisHelper.cs
  src/Features/Core/Portable/DisposeAnalysis/DisposeObjectsBeforeLosingScopeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
  src/Test/Utilities/Portable/Diagnostics/DiagnosticDescription.cs
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/Workspaces/Core/Portable/Extensions/OperationExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ICompilationExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.cs
Labels: Area-IDE, Feature Request

#35826 Parsing for Parameter Nullchecking
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/ParameterSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
Labels: Area-Compilers

#36054 Avoid renaming methods that don't change return type
  src/EditorFeatures/CSharpTest/Diagnostics/MakeMethodAsynchronous/MakeMethodAsynchronousTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/MakeMethodAsynchronous/MakeMethodAsynchronousTests.vb
  src/Features/CSharp/Portable/MakeMethodAsynchronous/CSharpMakeMethodAsynchronousCodeFixProvider.cs
  src/Features/Core/Portable/MakeMethodAsynchronous/AbstractMakeMethodAsynchronousCodeFixProvider.cs
  src/Features/VisualBasic/Portable/MakeMethodAsynchronous/VisualBasicMakeMethodAsynchronousCodeFixProvider.vb
Labels: Area-IDE

#36089 Fix assembly version to 3.1.0.0 for 16.1 servicing
  eng/Versions.props
Labels: Area-Infrastructure

#35746 Use IVsSolution to look up IVsHierarchy by project GUID
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer.cs
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.IVsContainedLanguageFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Extensions/IVsHierarchyExtensions.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/InvisibleEditor.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectCreationInfo.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProjectFactory.cs
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzersFolderProviderTests.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/MockHierarchy.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/MockVsSolution.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
Labels: Area-IDE

#36081 Fix null reference in BindBase
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
Labels: Area-Compilers
