Repository dotnet/roslyn, pull requests merged in 2019-11, with the labels that each got.

#39594 Don't MEF import core Roslyn language service type in SolutionExplore…
  src/VisualStudio/Core/SolutionExplorerShim/AnalyzersCommandHandler.cs
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzerCommandHandlerTests.vb
Labels: Approved to merge, Area-IDE

#39570 Support non-monotonic transfer for local functions
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.ILocalState.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Labels: Area-Compilers

#39584 Fix Host Object Access in Interactive
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Scripting/CSharpTest/InteractiveSessionTests.cs
Labels: Area-Interactive, Community

#39596 Hook up "Run Code Analysis" commands in Visual Studio to execute Rosl…
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/Commands.vsct
  src/VisualStudio/Core/Def/ExternalAccess/LegacyCodeAnalysis/Api/ILegacyCodeAnalysisVisualStudioDiagnosticAnalyzerServiceAccessor.cs
  src/VisualStudio/Core/Def/ExternalAccess/LegacyCodeAnalysis/LegacyCodeAnalysisVisualStudioDiagnosticAnalyzerServiceAccessor.cs
  src/VisualStudio/Core/Def/ID.RoslynCommands.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/IVisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/Commands.vsct.cs.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.de.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.es.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.fr.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.it.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ja.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ko.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.pl.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ru.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.tr.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.zh-Hant.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/EditAndContinue/EditAndContinueTestHelper.vb
Labels: Area-IDE

#39607 Fix crash where we are not always finding text snapshots
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Text/Extensions.SnapshotSourceText.cs
  src/EditorFeatures/Text/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/TextExtensions.cs
Labels: Approved to merge, Area-IDE

#39634 Fix crash where we are not always finding text snapshots
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Text/Extensions.SnapshotSourceText.cs
  src/EditorFeatures/Text/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/TextExtensions.cs
Labels: Area-IDE

#39642 Skip failing integration tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
Labels: Area-Infrastructure

#39644 Follow-up on adding NullableAnnotation/WithNullableAnnotation APIs to ITypeSymbol.
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/Core/Portable/Shared/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
Labels: Area-IDE, New Language Feature - Nullable Reference Types

#39638 Use resource strings for validating warning text
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/VisualBasicTest/CodeGeneration/AddImportsTests.vb
Labels: Area-Infrastructure

#39667 Fix crash where we are not always finding text snapshots
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Text/Extensions.SnapshotSourceText.cs
  src/EditorFeatures/Text/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/TextExtensions.cs
Labels: auto-merge

#39639 Revert "Run integration tests with .NET Core SDK shipped with VS"
  eng/build.ps1
Labels: Area-Infrastructure

#39675 Update release/dev16.4 version to -beta4
  eng/Versions.props
Labels: Area-Compilers

#39272 Document compiler package usage
  src/NuGet/Microsoft.NETCore.Compilers/Microsoft.NETCore.Compilers.Package.csproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/Microsoft.Net.Compilers.Toolset.Package.csproj
  src/NuGet/Microsoft.Net.Compilers/Microsoft.Net.Compilers.Package.csproj
Labels: Area-Compilers

#39680 Switch some calls to ThreadHelper.ThrowIfNotOnUIThread to something else
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
Labels: Area-Infrastructure

#39612 Fix SkipLocalsInit with stackalloc
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/CodeGen/MethodBody.cs
  src/Compilers/Core/Portable/Emit/NoPia/CommonEmbeddedMethod.cs
  src/Compilers/Core/Portable/PEWriter/Members.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
  src/Compilers/VisualBasic/Portable/Compilation/MethodCompiler.vb
  src/Test/Utilities/Portable/Metadata/ILValidation.cs
Labels: Area-Compilers, auto-merge

#39595 Evaluate tuple elements in a switch control expression in the order written
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
Labels: 4 - In Review, Area-Compilers

#39444 Document `-nullable:annotations` option
  docs/features/nullable-reference-types.md
Labels: Area-Compilers, Documentation, New Language Feature - Nullable Reference Types

#39660 Upgrade ICSharpCode.Decompiler to 5.0.2.5153
  eng/Versions.props
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertLinqQueryToForEachTests.cs
Labels: Area-IDE, Community

#39678 Reorder Suppression fixes to be above Configuration fixes in the lightbulb
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.Designer.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Test/CodeFixes/ExtensionOrderingTests.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureCodeStyle/ConfigureCodeStyleOptionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureSeverity/ConfigureSeverityLevelCodeFixProvider.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
Labels: Area-IDE

#39698 Completion: VSMac TypeScript completion doesn't commit with Enter
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
Labels: Area-IDE, Bug, IDE-IntelliSense

#35698 Show nullable annotations in the Change Signature dialog
  src/VisualStudio/Core/Def/Implementation/ChangeSignature/ChangeSignatureDialogViewModel.cs
  src/VisualStudio/Core/Test/ChangeSignature/ChangeSignatureViewModelTests.vb
Labels: Area-IDE, New Language Feature - Nullable Semantic Model

#39708 Show QuickInfo on references to indexers
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.cs
  src/Features/VisualBasic/Portable/QuickInfo/VisualBasicSemanticQuickInfoProvider.vb
Labels: Area-IDE

#39672 Tolerate empty assembly names
  src/Compilers/Core/CodeAnalysisTest/MetadataReferences/AssemblyIdentityDisplayNameTests.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentity.DisplayName.cs
Labels: Approved to merge, Area-Compilers, Bug

#39695 When converting to LINQ calls, omit .Select(x => x) when possible.
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConverter.cs
Labels: Area-IDE

#39626 Do not report EnC diagnostics when EnC is disabled
  eng/Versions.props
  src/EditorFeatures/Core/Implementation/Diagnostics/DiagnosticsSquiggleTaggerProvider.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebugStateChangeListener.cs
Labels: Approved to merge, Area-Interactive

#39249 Generate proper nullability annotation for IEquatable.Equals
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/AbstractGenerateEqualsAndGetHashCodeService.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndHashWithDialogCodeAction.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/IGenerateEqualsAndGetHashCodeService.cs
  src/Workspaces/Core/Portable/CodeGeneration/CodeGenerationSymbolFactory.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateEqualsMethod.cs
Labels: Area-IDE, Community

#39086 Prevent removing all whitespace when formatting unrecognized whitespace charactes
  src/Workspaces/CSharp/Portable/Formatting/Engine/Trivia/TriviaDataFactory.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-IDE, Community

#39716 Remove WRN_ExpressionMayIntroduceNullT
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers

#39407 Update HideBaseCodeFixProvider to follow preferred modifier order
  src/EditorFeatures/CSharpTest/Diagnostics/HideBase/HideBaseTests.cs
  src/Features/CSharp/Portable/CodeFixes/HideBase/HideBaseCodeFixProvider.AddNewKeywordAction.cs
  src/Features/Core/Portable/OrderModifiers/AbstractOrderModifiersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/OrderModifiers/OrderModifiersHelpers.cs
Labels: Area-IDE, Community

#39629 Add CrefSignaturePart to SyntaxFacts.IsInTypeOnlyContext
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxFacts.vb
  src/Workspaces/VisualBasicTest/CodeGeneration/AddImportsTests.vb
Labels: Area-Compilers, Area-IDE, Community

#39714 Unskip and fix test for local function parsing with `await`
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
Labels: Area-Compilers

#39726 Don't try to use UIContexts if we are in a command line build
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
Labels: Approved to merge, Area-IDE

#39673 Add InternalsVisibleTo to the VSMac Razor assembly.
  src/Tools/ExternalAccess/Razor/Microsoft.CodeAnalysis.ExternalAccess.Razor.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-IDE, Community

#39121 Add support for static lambdas.
  src/Compilers/CSharp/Portable/Binder/Binder.QueryUnboundLambdaState.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AnonymousFunctionParsingTests.cs
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Area-Compilers, Community

#39729 Don't store pooled object in cache
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Labels: Area-Compilers, ask-mode

#39369 MonoGlobalAssemblyCache: faster resolves + resolve facade assemblies
  src/Compilers/Shared/GlobalAssemblyCacheHelpers/MonoGlobalAssemblyCache.cs
  src/Scripting/CoreTest.Desktop/GlobalAssemblyCacheTests.cs
  src/Scripting/CoreTest.Desktop/MetadataShadowCopyProviderTests.cs
Labels: Area-Interactive, Community

#39627 Do not fail fast on cancellation
  src/Workspaces/Remote/ServiceHub/Services/SnapshotService.JsonRpcAssetSource.cs
Labels: Approved to merge, Area-IDE

#39747 Add notes from the last two meetings
  docs/compilers/Design/Notes/10-29-19.md
  docs/compilers/Design/Notes/9-30-19.md
Labels: Area-Compilers, Documentation

#39636 Fix stack overflow in inheritdoc evaluation
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
Labels: Approved to merge, Area-IDE

#39252 Update Windows Build Instructions To Enable .NET Core SDK Previews
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-Infrastructure, Community

#39457 Refactor task center progress reporting
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
Labels: Area-IDE

#38582 Extract Method Can Call ConfigureAwait(False) if extracted method does.
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/ExtractMethod/ExtractMethodTests.vb
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.cs
  src/Features/Core/Portable/ExtractMethod/SelectionResult.cs
  src/Features/Core/Portable/ExtractMethod/SelectionValidator.NullSelectionResult.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.VisualBasicCodeGenerator.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
Labels: Area-IDE, Community

#39226 Local function attributes emit
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Synthesized.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers

#39819 Disable the goldbar for suggesting install of FxCop analyzers
  src/VisualStudio/Core/Def/Implementation/Diagnostics/FxCopAnalyzersSuggestedActionCallback.cs
Labels: Area-IDE

#39829 Remove capturing lambdas from the language parser.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Labels: Area-Compilers

#39830 Follow-up to "Local function attributes emit"
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedTypeParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Synthesized.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_Synthesized.vb
Labels: Area-Compilers

#35700 Filter optprof to specific tests
  eng/config/OptProf.json
  src/Tools/BuildBoss/OptProfCheckerUtil.cs
  src/Tools/BuildBoss/Program.cs
Labels: Area-Infrastructure

#39836 EnC: Fix document out-of-sync checks when module is not loaded when d…
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueMethodDebugInfoReaderTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/Helpers/SymReaderTestHelpers.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueMethodDebugInfoReader.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/IDebuggeeModuleMetadataProvider.cs
  src/Test/Utilities/Portable/FX/ImmutableArrayTestExtensions.cs
Labels: Area-IDE, Needs Shiproom Approval

#39807 Beginning of work on "Used Assembly References" feature.
  docs/features/UsedAssemblyReferences.md
  src/Compilers/CSharp/Portable/Binder/BinderFlags.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Imports.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_UsedAssemblies.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/UsedAssembliesRecorder.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/UsedAssembliesTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
Labels: Area-Compilers

#39756 Add new feature to switch existing interface impl to/from implicit/explicit impls.
  src/Compilers/Core/Portable/InternalUtilities/OrderedMultiDictionary.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementExplicitlyTests.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementImplicitlyTests.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/Features/CSharp/Portable/ImplementInterface/AbstractChangeImplementionCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ImplementInterface/CSharpImplementExplicitlyCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ImplementInterface/CSharpImplementImplicitlyCodeRefactoringProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/ReplaceMethodWithProperty/AbstractReplaceMethodWithPropertyService.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/ReplaceMethodWithPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxEditor.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_FindReferences_Legacy.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SolutionExtensions.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, Community, Feature Request

#39885 Revert arcade changes
  eng/Version.Details.xml
  eng/build.ps1
  eng/common/templates/post-build/channels/general-testing.yml
  eng/common/templates/post-build/channels/netcore-3-eng-validation.yml
  eng/common/templates/post-build/channels/netcore-3-eng.yml
  eng/common/templates/post-build/channels/netcore-blazor-31-features.yml
  eng/common/templates/post-build/channels/netcore-dev-31.yml
  eng/common/templates/post-build/channels/netcore-dev-5.yml
  eng/common/templates/post-build/channels/netcore-eng-latest.yml
  eng/common/templates/post-build/channels/netcore-eng-validation.yml
  eng/common/templates/post-build/channels/netcore-internal-30.yml
  eng/common/templates/post-build/channels/netcore-release-30.yml
  eng/common/templates/post-build/channels/netcore-release-31.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/steps/publish-logs.yml
  global.json
Labels: Area-Infrastructure

#39735 Cleanup hoisted locals at async state machine end (#34239)
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
Labels: Area-Compilers, Community

#39839 Address a number of variance safety issues with code in interfaces.
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Emitter/NoPia/EmbeddedType.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/VarianceSafety.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
  src/Compilers/Core/Portable/Emit/NoPia/CommonEmbeddedType.cs
  src/Compilers/Core/Portable/PEWriter/InheritedTypeParameter.cs
  src/Compilers/Core/Portable/PEWriter/RootModuleType.cs
  src/Compilers/Core/Portable/PEWriter/Types.cs
  src/Compilers/VisualBasic/Portable/Emit/NamedTypeSymbolAdapter.vb
  src/Compilers/VisualBasic/Portable/Emit/NoPia/EmbeddedType.vb
  src/ExpressionEvaluator/Core/Test/ExpressionCompiler/NamespaceTypeDefinitionNoBase.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Default Interface Impl

#39910 Decouple command filters and contained documents from language service
  src/VisualStudio/CSharp/Impl/Interactive/CSharpVsInteractiveWindowCommandProvider.cs
  src/VisualStudio/Core/Def/Implementation/AbstractOleCommandTarget.Execute.cs
  src/VisualStudio/Core/Def/Implementation/AbstractOleCommandTarget.cs
  src/VisualStudio/Core/Def/Implementation/AbstractVsTextViewFilter.cs
  src/VisualStudio/Core/Def/Implementation/AbstractVsTextViewFilter`2.cs
  src/VisualStudio/Core/Def/Implementation/DebuggerIntelliSense/DebuggerIntellisenseFilter.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.IVsImmediateStatementCompletion2.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.VsLanguageDebugInfo.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.cs
  src/VisualStudio/Core/Def/Implementation/StandaloneCommandFilter.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.IVsContainedCode.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.IVsContainedLanguage.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.IVsContainedLanguageCodeSupport.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage`2.cs
  src/VisualStudio/Core/Def/Implementation/Venus/VenusCommandFilter.cs
  src/VisualStudio/Core/Def/Implementation/Venus/VenusCommandFilter`2.cs
  src/VisualStudio/Core/Def/Interactive/ScriptingOleCommandTarget.cs
  src/VisualStudio/Core/Test/AbstractTextViewFilterTests.vb
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicLanguageService.vb
  src/VisualStudio/VisualBasic/Impl/Venus/VisualBasicContainedLanguage.vb
  src/VisualStudio/Xaml/Impl/Implementation/XamlOleCommandTarget.cs
  src/VisualStudio/Xaml/Impl/Implementation/XamlTextViewCreationListener.cs
Labels: Area-IDE

#39763 Add tests for SkipLocalsInit
  docs/contributing/Compiler Test Plan.md
  docs/features/skiplocalsinit.md
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
Labels: Area-Compilers

#39813 Improvement for completion of unimported types
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.vb
  src/Features/Core/Portable/Completion/CompletionContext.cs
  src/Features/Core/Portable/Completion/CompletionServiceOptions.cs
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ITypeImportCompletionService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SolutionExtensions.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Area-IDE

#39942 Update the Spanish CI build to skip analyzers
  azure-pipelines.yml
Labels: Area-Infrastructure

#39944 Skip analyzers during official builds
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#39945 Skip analyzers in all CI builds except correctness
  azure-pipelines.yml
Labels: Area-Infrastructure

#39955 Re-add ServiceFeatureOnOffOptions.ClosedFileDiagnostic to fix the bre…
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test/SolutionCrawler/WorkCoordinatorTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.IncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/Features/Core/Portable/Workspace/BackgroundCompiler.cs
  src/Tools/AnalyzerRunner/IncrementalAnalyzerRunner.cs
  src/Tools/ExternalAccess/FSharp/Shared/Options/FSharpServiceFeatureOnOffOptions.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/Core/Def/Implementation/VirtualMemoryNotificationListener.cs
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/VisualStudioWorkspace_OutOfProc.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/Workspaces/Core/Portable/SolutionCrawler/ServiceFeatureOnOffOptions.cs
  src/Workspaces/Core/Portable/SolutionCrawler/SolutionCrawlerOptions.cs
Labels: Area-IDE

#39973 Ensure that work coordinator sees change to "RunAnalyzers" project pr…
  src/EditorFeatures/Test/SolutionCrawler/WorkCoordinatorTests.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
Labels: Area-IDE

#39980 Move the ClosedFileDiagnostic option used by TS back to Features layer
  src/Features/Core/Portable/Shared/Options/ServiceFeatureOnOffOptions.cs
  src/Tools/ExternalAccess/FSharp/Shared/Options/FSharpServiceFeatureOnOffOptions.cs
  src/Workspaces/Core/Portable/SolutionCrawler/SolutionCrawlerOptions.cs
Labels: Area-IDE

#39949 Emit CS8370 instead of CS1674 for ref struct disposable
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
Labels: Area-Compilers

#39982 Change to telemetry logger
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/AsyncCompletionLogger.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Workspaces/Core/Portable/Log/HistogramLogAggregator.cs
  src/Workspaces/Core/Portable/Log/SyntacticLspLogger.cs
Labels: Area-IDE, Tenet-Telemetry

#40009 Extend profiling inputs drop time to 90 days
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#39978 Extra check for EnumeratorCancellation parameter type
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers, New Feature - Async Streams

#39990 Move reporting of ERR_IteratorMustBeAsync to avoid race condition
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/Binder/ExecutableCodeBinder.cs
  src/Compilers/CSharp/Portable/Binder/InContainerBinder.cs
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithLambdaParametersBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Feature - Async Streams

#39655 Simplify how we compute and store the location we use to persist the sqlite storage cache.
  src/Tools/AnalyzerRunner/PersistentStorageLocationService.cs
  src/Tools/IdeBenchmarks/SQLitePersistentStorageBenchmark.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLitePersistentStorageTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioPersistentStorageLocationService.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFindReferences.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/Workspaces/Core/Portable/Remote/IRemoteHostService.cs
  src/Workspaces/Core/Portable/SolutionSize/ISolutionSizeTracker.cs
  src/Workspaces/Core/Portable/SolutionSize/SolutionSizeTracker.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
  src/Workspaces/Remote/Core/Storage/RemotePersistentStorageLocationService.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
Labels: Area-IDE, Community

#40025 Always restore when running a bootstrap build
  eng/build.ps1
Labels: Area-Infrastructure

#39879 Add parsing for function pointer types
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FunctionPointerTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
Labels: Area-Compilers

#40017 Fix for configuring code style for "infer member names in anonymous types" persists the wrong setting
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/MultipleCodeStyleOptionBasedSeverityConfigurationTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureSeverity/MultipleCodeStyleOptionBasedConfigureSeverityTests.vb
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigurationUpdater.cs
  src/Features/Core/Portable/UseInferredMemberName/AbstractUseInferredMemberNameDiagnosticAnalyzer.cs
Labels: Area-IDE
