Repository dotnet/roslyn, pull requests merged in 2019-10, with the labels that each got.

#38967 Fix language check for netcoreapp3.1
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
Labels: Area-Compilers

#38974 Fix NGEN failures
  eng/Versions.props
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-Infrastructure, Urgency-Soon

#38859 Add analyzer driver editorconfig option for end users to configure ge…
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-Analyzers, Area-Compilers

#38920 Remove experimentation for file rename with inline rename
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
  src/EditorFeatures/Test2/Rename/RenameTestHelpers.vb
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE

#38862 Add test for SkipLocalsInit in default interface implementations
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
Labels: Area-Compilers, Test

#38825 Fix server capabilities initialization and remove previous experiment…
  src/VisualStudio/LiveShare/Impl/Client/Classification/RoslynSyntaxClassificationService.cs
  src/VisualStudio/LiveShare/Impl/Client/RoslynLSPClientService.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/SyntacticClassificationModeSelector.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE

#38985 Disable IDE dispose analyzers by default
  src/EditorFeatures/CSharpTest/DisposeAnalysis/DisposableFieldsShouldBeDisposedTests.cs
  src/EditorFeatures/CSharpTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.cs
  src/EditorFeatures/VisualBasicTest/DisposeAnalysis/DisposableFieldsShouldBeDisposedTests.vb
  src/EditorFeatures/VisualBasicTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.vb
  src/Features/Core/Portable/DisposeAnalysis/DisposableFieldsShouldBeDisposedDiagnosticAnalyzer.cs
  src/Features/Core/Portable/DisposeAnalysis/DisposeObjectsBeforeLosingScopeDiagnosticAnalyzer.cs
Labels: Area-IDE

#38987 Fix regression in RemoveUnusedParametersAndValues analyzer
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.cs
Labels: Area-IDE

#37228 Feature/add import annotation
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/CSharpTest/ConvertAnonymousTypeToClass/ConvertAnonymousTypeToClassTests.cs
  src/EditorFeatures/CSharpTest/ConvertTupleToStruct/ConvertTupleToStructTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.VisualBasic.cs
  src/EditorFeatures/TestUtilities/ExtractInterface/ExtractInterfaceTestState.cs
  src/EditorFeatures/VisualBasicTest/ConvertAnonymousTypeToClass/ConvertAnonymousTypeToClassTests.vb
  src/EditorFeatures/VisualBasicTest/ConvertTupleToStruct/ConvertTupleToStructTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateMethod/GenerateMethodTests.vb
  src/Features/CSharp/Portable/AddImport/CSharpAddImportFeatureService.cs
  src/Features/Core/Portable/AliasAmbiguousType/AbstractAliasAmbiguousTypeCodeFixProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.cs
  src/Features/VisualBasic/Portable/AddImport/VisualBasicAddImportFeatureService.vb
  src/VisualStudio/CSharp/Impl/Snippets/SnippetExpansionClient.cs
  src/Workspaces/CSharp/Portable/AddImports/CSharpAddImportsService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/UsingDirectivesAdder.Rewriter.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/UsingDirectivesAdder.cs
  src/Workspaces/CSharp/Portable/Editing/CSharpImportAdder.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.Expander.cs
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/Core/Portable/AddImports/AbstractAddImportsService.cs
  src/Workspaces/Core/Portable/AddImports/IAddImportsService.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
  src/Workspaces/Core/Portable/CodeGeneration/AbstractCodeGenerationService.cs
  src/Workspaces/Core/Portable/CodeGeneration/AbstractImportsAdder.cs
  src/Workspaces/Core/Portable/CodeGeneration/CodeGenerationOptions.cs
  src/Workspaces/Core/Portable/CodeGeneration/ICodeGenerationService.cs
  src/Workspaces/Core/Portable/Editing/ImportAdder.cs
  src/Workspaces/Core/Portable/Editing/ImportAdderService.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Simplification/Simplifier.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/VisualBasic/Portable/AddImports/VisualBasicAddImportsService.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/ImportsStatementsAdder.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicCodeGenerationService.vb
  src/Workspaces/VisualBasic/Portable/Editing/VisualBasicImportAdder.vb
  src/Workspaces/VisualBasic/Portable/Utilities/ImportsClauseComparer.vb
  src/Workspaces/VisualBasic/Portable/Utilities/ImportsOrganizer.vb
  src/Workspaces/VisualBasic/Portable/Utilities/ImportsStatementComparer.vb
  src/Workspaces/VisualBasicTest/CodeGeneration/AddImportsTests.vb
Labels: Area-IDE, Community, Feature Request

#38998 Delete some dead code from the rename test harness
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
Labels: Area-IDE

#39004 Fix favorites for expansions of nullables
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ExpansionTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ObjectFavoritesTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ResultsViewTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/ResultProvider.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ExpansionTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ObjectFavoritesTests.vb
Labels: Interactive-Debugging

#38980 Check language version on relaxed ordering of parameter modifiers
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefExtensionMethodsTests.cs
Labels: Area-Compilers

#39016 Update config for snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure, Urgency-Soon

#38007 Bugfixes for ConvertSwitchStatementToExpression
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionFixAllTests.cs
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.cs
Labels: Area-IDE, Community

#38841 Fix crash that would happen when renaming in mixed f#/c# project.
  src/EditorFeatures/Test2/Rename/RenameEngineTests.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder.cs
Labels: Area-IDE, Community

#39018 Disable assert tracked by https://github.com/dotnet/roslyn/iss…
  src/Compilers/Core/Portable/Operations/Operation.cs
Labels: Area-Infrastructure, Disabled Test, New Feature - IOperation

#38855 Provide signature help for collection initializers
  src/EditorFeatures/CSharpTest/SignatureHelp/InitializerExpressionSignatureHelpProviderTests.cs
  src/EditorFeatures/TestUtilities/SignatureHelp/AbstractSignatureHelpProviderTests.cs
  src/EditorFeatures/VisualBasicTest/SignatureHelp/CollectionInitializerSignatureHelpProviderTests.vb
  src/Features/CSharp/Portable/SignatureHelp/AbstractOrdinaryMethodSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/InitializerExpressionSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider_MethodGroup.cs
  src/Features/CSharp/Portable/SignatureHelp/SignatureHelpUtilities.cs
  src/Features/Core/Portable/SignatureHelp/AbstractSignatureHelpProvider.cs
  src/Features/Core/Portable/SignatureHelp/CommonSignatureHelpUtilities.cs
  src/Features/VisualBasic/Portable/SignatureHelp/AbstractOrdinaryMethodSignatureHelpProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/AbstractVisualBasicSignatureHelpProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/CollectionInitializerSignatureHelpProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.MemberGroup.vb
  src/Features/VisualBasic/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/SignatureHelpUtilities.vb
Labels: Area-IDE, Community

#39031 Fix import completion crash in interactive window
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspaceFixture.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ICompilationExtensions.cs
Labels: Approved to merge, Area-IDE, Area-Interactive

#39013 NoWarn NU5128 instead of suppressing dependencies
  eng/targets/Imports.targets
  eng/targets/PackageProject.targets
  src/CodeStyle/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.CodeStyle.Fixes.csproj
  src/CodeStyle/VisualBasic/CodeFixes/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.Fixes.vbproj
  src/Dependencies/CodeAnalysis.Debugging/Microsoft.CodeAnalysis.Debugging.Package.csproj
  src/Dependencies/PooledObjects/Microsoft.CodeAnalysis.PooledObjects.Package.csproj
  src/NuGet/Microsoft.CodeAnalysis.Compilers.Package.csproj
  src/NuGet/Microsoft.CodeAnalysis.EditorFeatures.Package.csproj
  src/NuGet/Microsoft.CodeAnalysis.Package.csproj
  src/NuGet/Microsoft.CodeAnalysis.Scripting.Package.csproj
  src/NuGet/Microsoft.NETCore.Compilers/Microsoft.NETCore.Compilers.Package.csproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/Microsoft.Net.Compilers.Toolset.Package.csproj
  src/NuGet/Microsoft.Net.Compilers/Microsoft.Net.Compilers.Package.csproj
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
  src/NuGet/VisualStudio/VS.Tools.Roslyn.Package.csproj
Labels: Area-Infrastructure

#38718 Make certain parts of the nuget search update system non-cancellable.
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngine.cs
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngineFactory.cs
  src/VisualStudio/Core/Def/Implementation/SymbolSearch/VisualStudioSymbolSearchService.ProgressService.cs
  src/VisualStudio/Core/Def/SymbolSearch/VisualStudioSymbolSearchService.LogService.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test/SymbolSearch/SymbolSearchUpdateEngineTests.vb
  src/Workspaces/Core/Portable/SymbolSearch/ISymbolSearchLogService.cs
  src/Workspaces/Core/Portable/SymbolSearch/ISymbolSearchProgressService.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteSymbolSearchUpdateEngine.cs
Labels: Area-IDE, Community

#38937 Allow parsing of attributes on any statement.
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/BlockSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/BreakStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/CheckedStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ContinueStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/DoStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/EmptyStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ExpressionStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/FixedStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ForEachStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ForEachVariableStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ForStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/GotoStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/IfStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LabeledStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LocalDeclarationStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LockStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ReturnStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/StackAllocArrayCreationExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/SwitchStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/Syntax/ThrowStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/TryStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/UnsafeStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/UsingStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/WhileStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/YieldStatementSyntax.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RoundTrippingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/SyntaxHelpers.cs
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
Labels: Area-Compilers, Community

#38929 Fix crash in flow analysis
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.VariableIdentifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/TupleTests.cs
Labels: Area-Compilers

#38981 Publish LSP document diagnostics only for relevant documents.
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.cs
Labels: Area-IDE

#38905 EnC: Track documents that do not match the debuggee
  src/Compilers/Core/Portable/Debugging/SourceHashAlgorithms.cs
  src/Compilers/Core/Portable/EmbeddedText.cs
  src/Compilers/Core/Portable/PEWriter/DebugSourceDocument.cs
  src/Compilers/Core/Portable/PEWriter/DebugSourceInfo.cs
  src/Compilers/Core/Portable/Text/SourceText.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/CSharpEditAndContinueAnalyzerTests.cs
  src/EditorFeatures/Core/Extensibility/Commands/PredefinedCommandHandlerNames.cs
  src/EditorFeatures/Core/Implementation/EditAndContinue/ActiveStatementTrackingService.cs
  src/EditorFeatures/Core/Implementation/EditAndContinue/EditAndContinueSaveFileCommandHandler.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/EditAndContinue/TraceLogTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/VisualBasicEditAndContinueAnalyzerTests.vb
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueErrorCode.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/IDebuggeeModuleMetadataProvider.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/PendingSolutionUpdate.cs
  src/Features/Core/Portable/EditAndContinue/ProjectChanges.cs
  src/Features/Core/Portable/EditAndContinue/SolutionUpdate.cs
  src/Features/Core/Portable/EditAndContinue/TraceLog.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-Compilers, Area-IDE

#39071 Skip TestExpanderWithImportCompletionDisabled
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Area-Infrastructure

#39085 Fix Issue #9658
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
Labels: Area-Compilers, Community

#38992 Add regex header support for configuring severity and IDE code style options with .editorconfig
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureCodeStyle/BooleanCodeStyleOptionConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/CSharpCodeStyleOptionBasedSeverityConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/CodeStyleOptionBasedSeverityConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/DotNetDiagnosticSeverityBasedSeverityConfigurationTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureCodeStyle/BooleanCodeStyleOptionConfigurationTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureSeverity/CodeStyleOptionBasedSeverityConfigurationTests.vb
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigurationUpdater.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureCodeStyle/ConfigureCodeStyleOptionCodeFixProvider.cs
Labels: Area-IDE

#38341 Remove System.Runtime.Loader hack
  eng/Versions.props
  src/Scripting/Core/Microsoft.CodeAnalysis.Scripting.csproj
Labels: Area-Infrastructure

#39089 Fix symbol display for group by range variable
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor_Minimal.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Labels: Area-Compilers, Community

#39035 Update PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure

#37758 Enable nullable reference types for generated code
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxRewriter.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/CSharpSyntaxRewriter.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticHelper.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/AbstractFileWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/Workspaces/CSharp/Portable/AddImports/CSharpAddImportsService.cs
  src/Workspaces/CSharp/Portable/Editing/CSharpImportAdder.cs
  src/Workspaces/Core/Portable/AddImports/AbstractAddImportsService.cs
Labels: Area-Compilers

#38693 Use SHA256 (default source hash) for hashing privateimplementationdefails and MVID
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenForEachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/ForeachTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexerTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EmitMetadataTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/WinRT/CodeGen/WinRTCollectionTests.cs
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
  src/Compilers/Core/Portable/CryptographicHashProvider.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/Core/Portable/Text/SourceHashAlgorithm.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenForeach.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenMultiDimensionalArray.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenRefReturnTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/WinRTCollectionTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/MultiDimensionalTest.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/DynamicTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/TupleTests.cs
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/ExpressionCompilerTests.vb
Labels: Area-Compilers

#38868 Generate direct GetHashCode calls for value types when they would be non-boxing
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateGetHashCodeMethod.cs
Labels: Area-IDE, Community

#39119 Add note about testing updated assembly versions
  eng/Versions.props
Labels: Area-Infrastructure

#39112 Update roslyn version for 16.5 preview 1
  eng/Versions.props
Labels: Area-Infrastructure

#39015 Track local telemetry during remote LSP experimentation for comparison.
  src/EditorFeatures/Core/Implementation/Classification/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/Workspaces/Core/Portable/Log/RequestLatencyTracker.cs
Labels: Area-IDE

#38886 Add editorconfig options to bulk configure analyzer diagnostics
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.AnalyzerConfigOptionNames.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-Analyzers, Area-Compilers

#38793 Analyzer driver perf optimization
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
Labels: Area-Analyzers, Area-Compilers

#39097 Handle null Display string in FxCopAnalyzersSuggestedActionCallback
  src/VisualStudio/Core/Def/Implementation/Diagnostics/FxCopAnalyzersSuggestedActionCallback.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioAnalyzer.cs
  src/VisualStudio/Core/Test/Diagnostics/FxCopAnalyzersSuggestedActionCallbackTests.vb
Labels: Area-IDE

#38988 Better array pattern index codegen
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
Labels: Area-Compilers

#38810 Support SkipLocalsInit on event accessors
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonEventWellKnownAttributeData.cs
Labels: Area-Compilers

#39034 Pool analyzer diagnostic reporters
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.AnalyzerDiagnosticReporter.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Labels: Area-Compilers, Area-Performance

#39091 Fix: Underselection test bug
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/EditorFeatures/TestUtilities/RefactoringHelpers/RefactoringHelpersTestBase.cs
  src/Features/Core/Portable/CodeRefactoringHelpers.cs
  src/Test/Utilities/Portable/MarkedSource/MarkupTestFile.cs
Labels: Area-IDE, Community

#39156 Remove code to generate type switches
  src/Workspaces/Core/Portable/Shared/Extensions/ObjectExtensions.cs
Labels: Area-IDE

#39014 Enable warnAsError for correctness builds
  azure-pipelines.yml
  eng/build.ps1
  eng/targets/Settings.props
  eng/test-build-correctness.ps1
  src/Features/CSharp/Portable/SignatureHelp/InitializerExpressionSignatureHelpProvider.cs
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
  src/Workspaces/Core/Portable/AddImports/AbstractAddImportsService.cs
Labels: Area-Infrastructure

#39061 Spelling fixes
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/EditorFeatures/CSharpTest/InlineDeclaration/CSharpInlineDeclarationTests_FixAllTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedMembers/RemoveUnusedMembersTests.vb
  src/VisualStudio/Core/Def/Implementation/Diagnostics/FxCopAnalyzersSuggestedActionCallback.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/PullMemberUp/VisualStudioPullMemberUpService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.Connections.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.Indenter.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/Portable/Execution/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/Host/Metadata/IFrameworkAssemblyPathResolver.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/CoreTest/WorkspaceTests/WorkspaceReferenceTests.cs
  src/Workspaces/Remote/Core/Services/RemoteDocumentDifferenceService.cs
Labels: Area-IDE, Community

#39055 Go to base: support metadata references and bug fixes
  src/EditorFeatures/Core/GoToBase/AbstractGoToBaseService.cs
  src/EditorFeatures/Core/GoToBase/FindBaseHelpers.cs
  src/EditorFeatures/Test2/GoToBase/CSharpGoToBaseTests.vb
  src/EditorFeatures/Test2/GoToBase/GoToBaseTestsBase.vb
  src/EditorFeatures/Test2/GoToBase/VisuaBasicGoToBaseTests.vb
  src/EditorFeatures/Test2/GoToHelpers/GoToHelpers.vb
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithoutReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractDocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DefinitionItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/MetadataDefinitionItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/FindReferencesTableControlEventProcessorProvider.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/RoslynDefinitionBucket.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/TableEntriesSnapshot.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
Labels: Area-IDE

#39073 Completion: save trigger location per item
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
Labels: Area-IDE, IDE-IntelliSense

#39216 Disable optimization for flow analysis utilities.
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-Infrastructure

#39185 Annotate core symbol types
  src/Compilers/Core/Portable/Symbols/Accessibility.cs
  src/Compilers/Core/Portable/Symbols/AnonymousTypes/CommonAnonymousTypeManager.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeUsageInfo.cs
  src/Compilers/Core/Portable/Symbols/CommonAttributeDataExtensions.cs
  src/Compilers/Core/Portable/Symbols/CustomModifier.cs
  src/Compilers/Core/Portable/Symbols/CustomModifiersTuple.cs
  src/Compilers/Core/Portable/Symbols/LanguageNames.cs
  src/Compilers/Core/Portable/Symbols/ManagedKind.cs
  src/Compilers/Core/Portable/Symbols/MethodKind.cs
  src/Compilers/Core/Portable/Symbols/NamespaceKind.cs
  src/Compilers/Core/Portable/Symbols/NullabilityInfo.cs
  src/Compilers/Core/Portable/Symbols/NullableAnnotation.cs
  src/Compilers/Core/Portable/Symbols/NullableFlowState.cs
  src/Compilers/Core/Portable/Symbols/PlatformInvokeInformation.cs
  src/Compilers/Core/Portable/Symbols/RefKind.cs
  src/Compilers/Core/Portable/Symbols/SymbolEqualityComparer.cs
  src/Compilers/Core/Portable/Symbols/SymbolKind.cs
  src/Compilers/Core/Portable/Symbols/SymbolKindExtensions.cs
  src/Compilers/Core/Portable/Symbols/SymbolVisitor.cs
  src/Compilers/Core/Portable/Symbols/SymbolVisitor`1.cs
  src/Compilers/Core/Portable/Symbols/TypeCompareKind.cs
  src/Compilers/Core/Portable/Symbols/TypeKind.cs
  src/Compilers/Core/Portable/Symbols/TypeLayout.cs
  src/Compilers/Core/Portable/Symbols/TypeParameterKind.cs
  src/Compilers/Core/Portable/Symbols/TypedConstant.cs
  src/Compilers/Core/Portable/Symbols/TypedConstantKind.cs
  src/Compilers/Core/Portable/Symbols/TypedConstantValue.cs
  src/Compilers/Core/Portable/Symbols/VarianceKind.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
Labels: Area-Compilers

#39180 Add annotations for most of ISymbol
  src/Compilers/Core/Portable/Symbols/ISymbol.cs
Labels: Area-Compilers

#39254 Parse test analyzer data using InvariantCulture
  src/VisualStudio/Core/Test.Next/Services/PerformanceTrackerServiceTests.cs
Labels: Area-Infrastructure, Community

#39134 Fix converted nullability on extract method
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NullableExtensions.cs
Labels: Area-IDE, New Language Feature - Nullable Reference Types

#39136 Include source files w/o method bodies in the PDB documents
  src/Compilers/CSharp/Test/Emit/PDB/CheckSumTest.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Emit/DebugDocumentsBuilder.cs
  src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/VisualBasic/Test/Emit/PDB/ChecksumTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBExternalSourceDirectiveTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
Labels: Area-Compilers

#39273 Disable optprof check for flow analysis assembly
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
Labels: Area-Infrastructure

#39104 Handle a missing case in bad conversion error reporting.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#39069 Refactor merging types (dynamic, tuple names, nullability) into a single pass
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers

#39077 Simplify C# syntax generators.
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/AbstractFileWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Labels: Area-Compilers, Concept-Design Debt

#39118 Relax the shape of lambdas in our syntax model to allow for a list of modifiers.
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/AnonymousFunctionExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/AnonymousMethodExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ParenthesizedLambdaExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/SimpleLambdaExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Labels: Area-Compilers, Community

#39063 Fixed incorrect IDE0044 (Make field readonly) when the field is accessed by refeference.
  src/EditorFeatures/CSharpTest/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/Workspaces/Core/Portable/Extensions/OperationExtensions.cs
Labels: Area-IDE, Community

#39281 Switch source writer entirely over to using interpolations.
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/AbstractFileWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/TestWriter.cs
Labels: Area-Compilers, Community

#39228 Fix IDE0009 false positive on local functions
  src/EditorFeatures/CSharpTest/QualifyMemberAccess/QualifyMemberAccessTests.cs
  src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs
Labels: Area-IDE

#39184 Annotate remaining symbol interfaces
  src/Compilers/Core/Portable/Symbols/IAliasSymbol.cs
  src/Compilers/Core/Portable/Symbols/IAnonymousTypeTemplateSymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/IArrayTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/IAssemblySymbol.cs
  src/Compilers/Core/Portable/Symbols/IAssemblySymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/IDiscardSymbol.cs
  src/Compilers/Core/Portable/Symbols/IDynamicTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/IErrorTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/IEventSymbol.cs
  src/Compilers/Core/Portable/Symbols/IFieldSymbol.cs
  src/Compilers/Core/Portable/Symbols/ILabelSymbol.cs
  src/Compilers/Core/Portable/Symbols/ILocalSymbol.cs
  src/Compilers/Core/Portable/Symbols/ILocalSymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/Core/Portable/Symbols/IMethodSymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/IModuleSymbol.cs
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/INamespaceOrTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/INamespaceSymbol.cs
  src/Compilers/Core/Portable/Symbols/IParameterSymbol.cs
  src/Compilers/Core/Portable/Symbols/IPointerTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/IPreprocessingSymbol.cs
  src/Compilers/Core/Portable/Symbols/IPropertySymbol.cs
  src/Compilers/Core/Portable/Symbols/IRangeVariableSymbol.cs
  src/Compilers/Core/Portable/Symbols/ISourceAssemblySymbol.cs
  src/Compilers/Core/Portable/Symbols/ISourceAssemblySymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/ISymbolInternal.cs
  src/Compilers/Core/Portable/Symbols/ISynthesizedMethodBodyImplementationSymbol.cs
  src/Compilers/Core/Portable/Symbols/ITypeParameterSymbol.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Workspaces/Core/Portable/Shared/Extensions/INamedTypeSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.cs
Labels: Area-Compilers

#37618 Rename First/LastOrNullable to First/LastOrNull
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.OpenTextBufferManager.cs
  src/EditorFeatures/Core/EmbeddedLanguages/RegularExpressions/RegexBraceMatcher.cs
  src/EditorFeatures/Core/Implementation/CodeActions/CodeActionEditHandlerService.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/Core/Implementation/TextStructureNavigation/AbstractTextStructureNavigatorProvider.TextStructureNavigator.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextViewExtensions.cs
  src/Features/CSharp/Portable/Structure/Providers/MetadataAsSource/AbstractMetadataAsSourceStructureProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractMemberInsertingCompletionProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexDocumentHighlightsService.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexEmbeddedCompletionProvider.cs
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.cs
  src/Features/VisualBasic/Portable/Structure/Providers/DocumentationCommentStructureProvider.vb
  src/Features/VisualBasic/Portable/Structure/Providers/MetadataAsSource/AbstractMetadataAsSourceStructureProvider.vb
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractDocumentSpanEntry.cs
  src/VisualStudio/VisualBasic/Impl/CodeModel/VisualBasicCodeModelService.NodeLocator.vb
  src/Workspaces/CSharp/Portable/Extensions/SyntaxTriviaListExtensions.cs
  src/Workspaces/Core/Portable/EmbeddedLanguages/VirtualChars/VirtualCharSequence.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractDocumentationCommentService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxTriviaListExtensions.cs
  src/Workspaces/VisualBasic/Portable/Extensions/SyntaxTreeExtensions_SharedWithCodeStyle.vb
Labels: Area-IDE, Community

#39105 Add an IDE storage service benchmark
  src/Tools/IdeBenchmarks/SQLitePersistentStorageBenchmark.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
Labels: Area-IDE, Community

#38238 Update IfToSwitch refactoring for switch expressions
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/EditorFeatures/CSharpTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.vb
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Analyzer.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Pattern.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.AnalyzedNodes.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Analyzer.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ConvertIfToSwitch/VisualBasicConvertIfToSwitchCodeRefactoringProvider.Analyzer.vb
  src/Features/VisualBasic/Portable/ConvertIfToSwitch/VisualBasicConvertIfToSwitchCodeRefactoringProvider.Pattern.vb
  src/Features/VisualBasic/Portable/ConvertIfToSwitch/VisualBasicConvertIfToSwitchCodeRefactoringProvider.Rewriting.vb
  src/Features/VisualBasic/Portable/ConvertIfToSwitch/VisualBasicConvertIfToSwitchCodeRefactoringProvider.vb
Labels: Area-IDE, Community, Feature Request

#39137 Require MSBuild 16.3 in compiler NuGet packages
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.EditorConfig.targets
  src/NuGet/Microsoft.NETCore.Compilers/build/Microsoft.NETCore.Compilers.props
  src/NuGet/Microsoft.Net.Compilers.Toolset/DesktopCompilerArtifacts.targets
  src/NuGet/Microsoft.Net.Compilers/build/Microsoft.Net.Compilers.props
Labels: Area-Compilers

#39125 Using declaration ioperation
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_MultipleLocalDeclarations.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/Operations/VariableDeclarationKind.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationNodes.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
  src/Tools/Source/CompilerGeneratorTools/CompilerTools.sln
Labels: Area-Compilers

#39316 Enable virtual/override recommender on private protected members
  src/EditorFeatures/CSharpTest2/Recommendations/OverrideKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/VirtualKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/OverrideKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/VirtualKeywordRecommender.cs
Labels: Area-IDE, Community

#39330 Skip RenamingEscapedIdentifiers
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
Labels: Area-Infrastructure

#38147 Ensure synthesized closure method is static for static local function
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/LocalFunctionTests.cs
Labels: Area-Compilers

#39335 Use ConstructWithNullability in InferTypeInAwaitExpression
  src/EditorFeatures/VisualBasicTest/TypeInferrer/TypeInferrerTests.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicTypeInferenceService.TypeInferrer.vb
Labels: Area-IDE, New Language Feature - Nullable Reference Types

#39127 Enable detection and addition of solution level .editorconfig as solu…
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigurationUpdater.cs
  src/Features/Core/Portable/CodeFixes/Configuration/IAddSolutionItemService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AnalyzerConfigDocumentAsSolutionItemHandler.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioAddSolutionItemService.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
Labels: Area-IDE

#39233 Fix 'ref' parsing crash
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCoalescingAssignmentTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RefReadonlyTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-Compilers

#39373 Minor using decl fixes
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncStreamsParsingTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#39242 Use lifted operator in generated Equals if the underlying type's operator would have been used
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateEqualsMethod.cs
Labels: Area-IDE, Community

#39258 Fix SourceText.GetChanges exception on merging certain changes
  src/Compilers/Core/CodeAnalysisTest/Text/TextChangeTests.cs
  src/Compilers/Core/Portable/Text/ChangedText.cs
Labels: Area-Compilers, Community

#39334 follow up for Go to base: support metadata references and bug fixes
  src/EditorFeatures/Core/GoToBase/AbstractGoToBaseService.cs
  src/EditorFeatures/Test2/GoToBase/VisuaBasicGoToBaseTests.vb
  src/EditorFeatures/Test2/GoToHelpers/GoToHelpers.vb
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DefinitionItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/MetadataDefinitionItemEntry.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
Labels: Area-IDE, Concept-Continuous Improvement

#38973 Add feature to upgrade existing IDE-generated `GetHashCode` methods to use `System.HashCode` if available.
  src/EditorFeatures/CSharpTest/UseSystemHashCode/UseSystemHashCodeTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/EditorFeatures/VisualBasicTest/UseSystemHashCode/UseSystemHashCodeTests.vb
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/AbstractGenerateEqualsAndGetHashCodeService.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.OperationDeconstructor.cs
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.cs
  src/Features/Core/Portable/UseSystemHashCode/UseSystemHashCodeCodeFixProvider.cs
  src/Features/Core/Portable/UseSystemHashCode/UseSystemHashCodeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/StyleViewModel.vb
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/OperationExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateGetHashCodeMethod.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_Negate.cs
Labels: Area-IDE, Community

#39419 Remove shortcircuit of status query for commands with handlers.
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/AbstractOleCommandTarget.Query.cs
Labels: Area-IDE

#39394 Re-use semantic model when attempting to compute suppress message att…
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.cs
Labels: Area-Analyzers, Area-Compilers

#39395 Performance fix in analyzer driver for CFG based analyzers
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Labels: Area-Analyzers, Area-Compilers

#39300 Avoid leave.s opcode jumping out of a finally block
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers

#39431 Link to http://sourceroslyn.io
  README.md
Labels: Area-Infrastructure, Community

#39189 Removed deprecated DPL code
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/SolutionEventsBatchScopeCreator.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
Labels: Area-Infrastructure

#39432 Semantic model assert
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ICompilationExtensions.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#39436 Async-streams: Call AsyncIteratorMethodBuilder.Complete
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodBuilderMemberCollection.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers, New Feature - Async Streams

#39455 Handle intellicode star in display text prefix
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
Labels: Area-IDE, Community, IDE-IntelliSense

#39224 Show code instead of designer, but only after trying to create the designer loader
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
Labels: Area-IDE

#39227 Adjust syntax equivalence to account for nullable directives
  src/Compilers/CSharp/Portable/Syntax/SyntaxEquivalence.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxEquivalenceTests.cs
  src/Workspaces/CSharp/Portable/AddImports/CSharpAddImportsService.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#38466 Remove the workspace IVT of SourceBasedTestDiscovery and LiveUnitTesting
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/IUnitTestingSolutionCrawlerServiceAccessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/UnitTestingSolutionCrawlerServiceAccessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/UnitTestingSolutionCrawlerServiceAccessorFactory.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/VisualStudio/Core/Def/ExternalAccess/UnitTesting/Api/UnitTestingRemoteHostOptionsAccessor.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/Microsoft.VisualStudio.IntegrationTest.Utilities.csproj
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingExperimentationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingIncrementalAnalyzerImplementation.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingIncrementalAnalyzerProviderImplementation.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingSolutionCrawlerRegistrationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingChecksumWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingEncodedStringTextAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingExceptionUtilitesHelpers.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingFatalErrorAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingImmutableArrayExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingIncrementalAnalyzerProviderMetadataWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingInvocationReasonsWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingKeepAliveSessionWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingOptionChangedEventArgsWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingPredefinedInvocationReasonsAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingProjectExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingRemoteHostClientWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSessionWithSolutionWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionStateWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSymbolExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSymbolKeyWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingWellKnownExperimentNamesAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingWorkspaceExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingExperimentationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingExperimentationServiceAccessorFactory.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingIncrementalAnalyzer.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingIncrementalAnalyzerProvider.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingSolutionCrawlerRegistrationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingSolutionCrawlerRegistrationServiceAccessorFactory .cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/Core/ExternalAccess/UnitTesting/Api/UnitTestingAssetStorageWrappper.cs
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingPinnedSolutionInfoWrapper.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingRoslynServicesWrapper.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingStreamExtensions.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE

#39401 Completion: support local language identifiers and en-us keywords
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/Features/Core/Portable/Completion/CompletionHelper.cs
Labels: Area-IDE, IDE-IntelliSense

#39428 Change inline rename dialog to be more uniquely identifiable
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/Dashboard.xaml
Labels: Area-IDE, Tenet-User Friendly

#39302 Ignore await in completion when triggers completion between two dots
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Labels: Area-IDE, IDE-IntelliSense

#39473 Ensure that we show the gold bar for .editorconfig as solution item o…
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AnalyzerConfigDocumentAsSolutionItemHandler.cs
Labels: Area-IDE

#39474 Update configs for snap.
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure

#39499 Variable suggestions show duplicated filter buttons on completion window
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterSet.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
Labels: Approved to merge, Area-IDE, Bug, IDE-IntelliSense, Regression

#39159 Infer indentation in files with IIndentationManagerService
  eng/targets/VisualStudio.targets
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentUncommentSelectionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ToggleBlockCommentCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ToggleLineCommentCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Formatting/IIndentationManagerService.cs
  src/EditorFeatures/Core/Implementation/Formatting/InferredIndentationDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core/Shared/Extensions/InferredIndentationExtensions.cs
  src/EditorFeatures/Test/Formatting/InferredIndentationTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_XmlDoc.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_XmlDoc.vb
  src/EditorFeatures/TestUtilities/EditorFactory.cs
  src/EditorFeatures/TestUtilities/TestExtensionErrorHandler.cs
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
  src/EditorFeatures/VisualBasic/LineCommit/CommitFormatter.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitTestData.vb
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer.cs
Labels: Approved to merge, Area-IDE

#39450 Enable logging of informational telemetry for analyzers/fixers/refact…
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Workspaces/Core/Portable/Log/EtwLogger.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Log/RoslynEventSource.LogBlock.cs
  src/Workspaces/Core/Portable/Log/RoslynEventSource.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.AbstractRecoverableSyntaxRoot.cs
Labels: Approved to merge, Area-IDE

#39274 Attempt to normalize Location paths before creating URIs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV1ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV2ErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/SarifErrorLogger.cs
Labels: Area-Compilers

#39526 Fix an assert in IOperationExtension.GetValueUsageInfo
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Workspaces/Core/Portable/Extensions/OperationExtensions.cs
Labels: Area-IDE

#39451 Fix for control flow graph when combining using declarations with labels
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#39449 Nullable annotate TypeCompilationState and MessageID
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Compiler/TypeCompilationState.cs
  src/Compilers/CSharp/Portable/Errors/LazyMissingNonNullTypesContextDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
Labels: Area-Compilers

#39528 Switch some calls to ThreadHelper.ThrowIfNotOnUIThread to something else
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
Labels: Area-IDE

#39523 Move to renamed analyzer utilities package
  eng/Versions.props
  src/Features/Core/Portable/DisposeAnalysis/DisposeAnalysisHelper.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-IDE

#39261 Remove dead class diagram
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/CSharp/Portable/Symbols/PublicSymbolTable.cd
Labels: Area-Compilers, Community

#39307 Move much of local function data flow to AbstractFlowPass
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.ILocalState.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.VariableIdentifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ReadWriteWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
Labels: Area-Compilers, auto-merge

#39465 Fix minor issue in IfToSwitch refactoring
  src/EditorFeatures/CSharpTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Analyzer.cs
Labels: Area-IDE, Community

#38802 Move optimization around use of Nullable type in Boolean Expressions into LocalRewriter and eliminate invalid optimization.
  docs/compilers/Visual Basic/Compiler Breaking Changes - post VS2019.md
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Operators.vb
  src/Compilers/VisualBasic/Portable/CodeGen/EmitOperators.vb
  src/Compilers/VisualBasic/Portable/CodeGen/OperatorKind.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Expressions.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperators.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_NullableHelpers.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperators.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_QueryLambdaRewriter.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SymbolExtensions.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineBreakingChanges.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenNullable.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/Results/CheckedCoalesceWithNullableBoolean.txt
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
  src/Workspaces/VisualBasic/Portable/Extensions/CastAnalyzer.vb
  src/Workspaces/VisualBasic/Portable/Extensions/ExpressionSyntaxExtensions.vb
Labels: Area-Compilers, Language-VB

#38323 LSP Server Handle DisplayTextPrefix and DisplayTextSuffix on Completion Items
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
Labels: Area-IDE, IDE-IntelliSense

#38689 Delete the checkbox to control nullable analysis in the IDE
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectOptionsProcessor.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
  src/Workspaces/Core/Portable/Utilities/CompilerFeatureFlags.cs
Labels: Area-IDE

#39545 typo
  docs/features/nullable-reference-types.md
Labels: Area-Infrastructure, Community

#39486 Make sure to consume MaxLanguageVersion in legacy style projects as well
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/AdditionalPropertiesTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/LegacyProject/CSharpCompilerOptionsTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpUpgradeProject.cs
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/MockHierarchy.vb
Labels: Approved to merge, Area-IDE

#39532 Check that PackageInstallerService is enabled before getting sources
  src/Features/Core/Portable/AddImport/AbstractAddImportCodeFixProvider.cs
Labels: Approved to merge, Area-IDE

#39587 Run integration tests with .NET Core SDK shipped with VS
  eng/build.ps1
Labels: Area-Infrastructure, PR For Personal Review Only

#39554 Fix for split string literals broken with multi-carets
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
Labels: Area-IDE

#39574 Remove experiment for "sorting completion list by matching"
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE, IDE-IntelliSense

#39527 Implement small optimization to avoid creating a diagnostic that we are not planning to look at.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
Labels: Area-Compilers, Language-C#

#39479 Completion: provide all candidate symbols for overloads in lambda expressions
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
Labels: Area-IDE, Bug, IDE-IntelliSense

#39397 Clean up help link
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionWithNestedFlavors.cs
  src/EditorFeatures/Core/Host/IPreviewPaneService.cs
  src/EditorFeatures/Core/Shared/Extensions/WorkspaceExtensions.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataSerializerTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/EditorFeatures/TestUtilities/Preview/MockPreviewPaneService.cs
  src/EditorFeatures/TestUtilities/Squiggles/AbstractSquiggleProducerTests.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_BuildSynchronization.cs
  src/Tools/ExternalAccess/FSharp/Internal/VisualStudio/FSharpProjectExternalErrorReporterFactory.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/Implementation/PreviewPane/PreviewPaneService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/BrowserHelper.cs
  src/VisualStudio/Core/Def/Telemetry/ProjectTypeLookupService.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.BrowseObject.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItemSource.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/CpsDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/CpsDiagnosticItemSource.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/LegacyDiagnosticItem.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/LegacyDiagnosticItemSource.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzerCommandHandlerTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/CpsDiagnosticItemTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/LegacyDiagnosticItemTests.vb
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataSerializer.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostContext/IProjectTypeLookupService.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostContext/ProjectTypeLookupService.cs
Labels: Area-IDE

#39573 Do not return favorites in expansions of null values.
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ObjectFavoritesTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/MemberExpansion.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ObjectFavoritesTests.vb
Labels: Approved to merge, Area-IDE

#39576 Introduce IUsingDeclarationOperation
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Generated/OperationKind.Generated.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/Operations/VariableDeclarationKind.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_Methods.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationNodes.vb
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Approved to merge, Area-Compilers, New Feature - IOperation, ask-mode

#39568 Subscribe to OnModuleInstanceLoad/OnModuleInstanceUnload events only when managed debugging is being used
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebugStateChangeListener.cs
  src/VisualStudio/Core/Def/ManagedEditAndContinueService.vsdconfigxml
Labels: Approved to merge, Area-IDE
