Repository dotnet/roslyn, pull requests merged in 2019-04, with the labels that each got.

#34600 Simplify handling of grouped conversions in NullableWalker
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34430 Wait for fully loaded workspace before allowing code cleanup.
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer.cs
Labels: Area-IDE

#34049 Allow Xamarin to provide its OOP service
  Roslyn.sln
  eng/targets/Settings.props
  src/Tools/ExternalAccess/Xamarin.Remote/Microsoft.CodeAnalysis.ExternalAccess.Xamarin.Remote.csproj
  src/Tools/ExternalAccess/Xamarin.Remote/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/Xamarin.Remote/PublicAPI.Unshipped.txt
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-Infrastructure, Community

#34516 Create and use TestAccessor types where applicable
  src/Compilers/Core/CodeAnalysisTest/FileSystem/PathUtilitiesTests.cs
  src/Compilers/Core/CodeAnalysisTest/Text/StringTextDecodingTests.cs
  src/Compilers/Core/Portable/EncodedStringText.cs
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SuggestionModeCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/EditSessionTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/Helpers/EditingTestBase.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/SyntaxComparerTests.cs
  src/EditorFeatures/Test/CodeFixes/ExtensionOrderingTests.cs
  src/EditorFeatures/Test/Completion/FileSystemCompletionHelperTests.cs
  src/EditorFeatures/Test/EditAndContinue/TraceLogTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SuggestionModeCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/Helpers/RudeEditTestBase.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/SyntaxComparerTests.vb
  src/Features/Core/Portable/CodeFixes/ImplementAbstractClass/AbstractImplementAbstractClassCodeFixProvider.cs
  src/Features/Core/Portable/Completion/CompletionList.cs
  src/Features/Core/Portable/Completion/CompletionServiceWithProviders.cs
  src/Features/Core/Portable/Completion/FileSystemCompletionHelper.cs
  src/Features/Core/Portable/Completion/MatchPriority.cs
  src/Features/Core/Portable/Diagnostics/AbstractHostDiagnosticUpdateSource.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/TraceLog.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactory.PathSyntaxReference.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.NullSyntaxReference.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.PositionalSyntaxReference.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.RecoverableSyntaxTree.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Desktop/Workspace/Host/Mef/MefV1HostServices.cs
  src/Workspaces/Core/Portable/Differencing/SequenceEdit.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferencedSymbol.cs
  src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolution.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/RenamedSpansTracker.cs
  src/Workspaces/Core/Portable/Shared/Utilities/ExtensionOrderer.cs
  src/Workspaces/Core/Portable/Workspace/Host/Mef/MefHostServices.cs
  src/Workspaces/Core/Portable/Workspace/Solution/VersionStamp.cs
  src/Workspaces/CoreTest/ExtensionOrdererTests.cs
  src/Workspaces/CoreTest/ReferencedSymbolTests.cs
  src/Workspaces/CoreTestUtilities/MEF/UseExportProviderAttribute.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
  src/Workspaces/Remote/Core/Services/RoslynServices.cs
Labels: Area-Compilers

#34602 Readonly members more test coverage
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ReadOnlyStructsTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
Labels: Area-Compilers

#34316 Check reachability when looking at uninitialized non-null fields
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers, Bug

#34656 Move to BYOC pools
  azure-pipelines.yml
  src/Tools/ExternalAccess/Xamarin.Remote/Microsoft.CodeAnalysis.ExternalAccess.Xamarin.Remote.csproj
Labels: Area-Infrastructure

#34630 Assert MaybeNull is not used for value types other than Nullable<T>
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithState.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34579 Report a better error for an attempt to access protected member of object class within an interface.
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Utilities/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupPositionTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34529 Test helpers utilized by Microsoft.CodeAnalysis.Editor.CSharp.UnitTests.Completion.CompletionProviders.ExplicitInterfaceMemberCompletionProviderTests do not handle ```<Workspace>``` markup
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExplicitInterfaceMemberCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspaceFixture.cs
Labels: IDE-IntelliSense, Test

#31095 VB: Merging "line continuation comments" feature
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Parser/ParserFeature.vb
  src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb
  src/Compilers/VisualBasic/Portable/VBResources.Designer.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDirectives.vb
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseStatements.vb
  src/Compilers/VisualBasic/Test/Syntax/Scanner/ScannerTests.vb
  src/EditorFeatures/VisualBasic/Formatting/Indentation/VisualBasicIndentationService.Indenter.vb
  src/EditorFeatures/VisualBasicTest/AutomaticCompletion/AutomaticLineEnderTests.vb
  src/EditorFeatures/VisualBasicTest/Classification/SyntacticClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/AbstractVisualBasicCodeActionTest.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/InlineTemporary/InlineTemporaryTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceVariable/IntroduceVariableTests.vb
  src/EditorFeatures/VisualBasicTest/CodeActions/ReplacePropertyWithMethods/ReplacePropertyWithMethodsTests.vb
  src/EditorFeatures/VisualBasicTest/ConvertForEachToFor/ConvertForEachToForTests.vb
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartIndenterTests.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitOnEnterTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/ArrayStatements/PreserveKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/AliasKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/AsKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/CharsetModifierKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/DelegateSubFunctionKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/FunctionKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/GenericConstraintsKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/InKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/LibKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/PropertyKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/SubKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Declarations/ToKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/BinaryOperatorKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/FromKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/NewKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/WithKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/OnErrorStatements/GoToDestinationsRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/OnErrorStatements/NextKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/OptionStatements/CompareOptionsRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/EachKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/IsKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/StepKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/UntilAndWhileKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Statements/WhenKeywordRecommenderTests.vb
  src/Features/VisualBasic/Portable/ConvertForEachToFor/VisualBasicConvertForEachToForCodeRefactoringProvider.vb
  src/Workspaces/CoreTest/CodeCleanup/RemoveUnnecessaryLineContinuationTests.cs
Labels: Area-Compilers, Language-VB

#34639 Misc infrastructure fixes
  eng/build.ps1
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
Labels: Area-Compilers, Area-Infrastructure

#34676 Move to 16.0 RTM build tools
  global.json
Labels: Area-Infrastructure

#32571 Allow Obsolete Attribute on Accessors
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/ObsoleteAttributeHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, Community

#34619 Format `{}`
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticBraceCompletionTests.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-IDE

#34680 Update Language Feature Status
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#34514 Add IMethodSymbol.IsReadOnly to public API
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ReadOnlyStructsTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationConstructedMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationMethodSymbol.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass

#34682 Disallow declaration of static members in interfaces when target runtime doesn’t support Default Interface Methods.
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldLikeEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/IndexerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
Labels: Area-Compilers

#34690 NGEN logging code is fixed in arcade
  eng/targets/Settings.props
Labels: Area-Infrastructure

#34694 Update shell framework version to consume partial load API.
  eng/Versions.props
Labels: Area-IDE

#34066 Add command handler for toggle block comment and refactor comment uncomment handler.
  src/EditorFeatures/CSharp/CommentSelection/CSharpToggleBlockCommentCommandHandler.cs
  src/EditorFeatures/CSharpTest/CommentSelection/CSharpCommentSelectionTests.cs
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Extensibility/Commands/PredefinedCommandHandlerNames.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/AbstractCommentSelectionBase.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/AbstractToggleBlockCommentBase.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentSelectionResult.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentTrackingSpan.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentUncommentSelectionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ToggleBlockCommentCommandHandler.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test/CommentSelection/AbstractToggleBlockCommentTestBase.cs
  src/EditorFeatures/Test/CommentSelection/CSharpToggleBlockCommentCommandHandlerTests.cs
  src/EditorFeatures/Test/CommentSelection/CommentUncommentSelectionCommandHandlerTests.cs
  src/EditorFeatures/Test/CommentSelection/ToggleBlockCommentCommandHandlerTests.cs
  src/EditorFeatures/VisualBasicTest/CommentSelection/VisualBasicCommentSelectionTests.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE

#32256 Discover .editorconfig files during evaluation
  src/Compilers/Core/MSBuildTask/DiscoverEditorConfigFiles.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.EditorConfig.targets
  src/Compilers/Core/MSBuildTaskTests/DiscoverEditorConfigFilesTests.cs
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
  src/NuGet/Microsoft.Net.Compilers.Toolset/DesktopCompilerArtifacts.targets
Labels: Area-Compilers, New Feature - Editor Config

#34730 Remove unnecessary StreamJsonRpc reference
  src/Tools/ExternalAccess/Xamarin.Remote/Microsoft.CodeAnalysis.ExternalAccess.Xamarin.Remote.csproj
Labels: Area-Infrastructure

#34727 Fix commit tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpIntelliSense.cs
Labels: Area-Infrastructure

#34689 Support `inlineDescription` parameter for `AssertSelectedCompletionIt…em` in ModernCompletionTestState
  src/EditorFeatures/TestUtilities2/Intellisense/ModernCompletionTestState.vb
Labels: Area-IDE, Test

#34657 Async Completion - Ctrl+Space isn't filtering the list (when non-unique)
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Area-IDE, Bug, IDE-IntelliSense, Regression

#32686 Export CodeCleanUpFixerProvider rather than register it
  src/VisualStudio/Core/Def/Implementation/CodeCleanup/CodeCleanupFixerProvider.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE

#34653 Use correct Solution snapshot in call to UpdateSolutionForBatch
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
Labels: Area-IDE

#34739 Fix unconditional binding of pointer types
  src/Compilers/CSharp/Portable/Symbols/BaseTypeAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Area-Compilers

#34706 Don't complete statement on element access expression unless caret is inside bracketed argument list
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
Labels: Area-IDE

#34756 Classify Catch variables as locals
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/VisualBasicTest/Classification/SemanticClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/Classification/SyntacticClassifierTests.vb
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
  src/Workspaces/VisualBasic/Portable/Classification/ClassificationHelpers.vb
Labels: Area-IDE

#34765 Add back-compat overloads to prevent breaking change
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers

#33983 Simplify handling of 'enter' in formatting.
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/EditorFeatures/Test2/Formatting/FormattingCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities/AbstractCommandHandlerTestState.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-IDE, Community

#33653 TempPE compiler fixes
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/TempPECompiler.cs
Labels: Area-IDE

#34737 Fix wrong package name for VS debugger
  src/Tools/ExternalAccess/Debugger/Microsoft.CodeAnalysis.ExternalAccess.Debugger.csproj
Labels: Area-Infrastructure, Community

#34705 Use object== for original types rather than .Equals.
  src/Compilers/CSharp/Portable/Binder/Semantics/AccessCheck.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#34728 Remove InteractiveHost dependency from nuget packages
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/Workspaces/Remote/Razor/Microsoft.CodeAnalysis.Remote.Razor.ServiceHub.csproj
Labels: Area-Infrastructure

#34732 Reword option 'Suggest usings for types in reference assemblies'
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
Labels: Area-IDE

#34695 `t is null` with LangVersion 7 should produce a diagnostic
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#34687 Infer nullability in switch on conditional access operator
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesVsPatterns.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34769 Simplify the representation of `NullableWalker.LocalState` to a `BitVector`
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/Core/Portable/Collections/BitVector.cs
  src/Compilers/Core/Portable/InternalUtilities/ArrayExtensions.cs
  src/Compilers/Core/Portable/Serialization/ObjectReader.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34795 Fix netmodule build targeting net470 declaring a struct auto-getter
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ReadOnlyStructsTests.cs
Labels: Area-Compilers

#34208 Guard against `string.Concat(object)` returning null
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringConcat.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStringConcat.cs
Labels: Area-Compilers, Community

#33946 Add AssertEx.EqualOrDiff
  eng/Versions.props
  src/Test/Utilities/Portable/Assert/AssertEx.cs
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/Workspaces/CoreTestUtilities/Formatting/FormattingTestBase.cs
Labels: Area-IDE

#34768 Handle nullability in recursive deconstruction:
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34814 Remove redundant line.
  src/Compilers/VisualBasic/Portable/Parser/ParseExpression.vb
Labels: Area-Compilers, Language-VB

#34775 Add telemetry to toggle block comment.
  src/EditorFeatures/Core/Implementation/CommentSelection/AbstractToggleBlockCommentBase.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
Labels: Area-IDE

#34764 Pull Members Up UI fixes
  src/VisualStudio/Core/Def/Implementation/PullMemberUp/MainDialog/PullMemberUpDialog.xaml
  src/VisualStudio/Core/Def/Implementation/PullMemberUp/WarningDialog/PullMemberUpWarningDialog.xaml
  src/VisualStudio/Core/Def/Implementation/Utilities/SymbolViewModel.cs
Labels: Area-IDE

#34856 Update config files for snap
  azure-pipelines-integration.yml
  azure-pipelines.yml
  eng/config/PublishData.json
Labels: Area-Infrastructure

#34341 Use CancellationTokenExtensions.CombineWith where appropriate
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemotableDataJsonRpcEx.cs
Labels: Area-IDE

#34857 Bump version to 3.1.0-beta3
  eng/Versions.props
Labels: Area-Infrastructure

#34559 Add SelectAsArray, DangerousCreateFromUnderlyingArray
  src/Compilers/Core/CodeAnalysisTest/Collections/ImmutableArrayExtensionsTests.cs
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Workspaces/Core/Portable/Utilities/SerializableBytes.cs
Labels: Area-Compilers

#34851 publish feature branch bits (nuget/vsix) so that partner team can try…
  eng/config/PublishData.json
Labels: Area-Infrastructure

#34848 Clean up our CI setup code
  eng/build.ps1
Labels: Area-Infrastructure

#34611 Remove verbose flag
  eng/build.sh
Labels: Area-Infrastructure

#34804 Remove unnecessary code: was When generating constructor, trim known prefixes from argument name to get parameter name
  src/EditorFeatures/CSharpTest/GenerateConstructor/GenerateConstructorTests.cs
  src/Workspaces/Core/Portable/Utilities/ParameterName.cs
Labels: Area-IDE

#34850 Compare constraints lazily across partial type declarations
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34861 Cleanups to callers of GetSemanticInfo
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Test2/Extensions/ISymbolExtensionsTests.vb
  src/EditorFeatures/Test2/Workspaces/SymbolDescriptionServiceTests.vb
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/TokenSemanticInfo.cs
Labels: Area-IDE

#34883 Revert "Regex Completion + Async Completion = Failure to trigger on `[` in VB"
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Regex.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_Regex.vb
Labels: Approved to merge, Area-IDE

#34910 Compare constraints lazily across partial type declarations (#34850)
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers

#34899 Type parameters with an oblivious constraint shouldn't be considered as PossiblyNullableReferenceTypeTypeParameter
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34781 Report unboxing conversion of a possibly null value.
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34904 Document compat break between 16.0 and 16.1 from #34695
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
Labels: Area-Compilers, Documentation

#34911 Switch on enum type nested in generic type produces LangVersion error
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
Labels: Area-Compilers, Bug, Urgency-Now

#34799 Implement "character class" for analyzerconfig globs
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.SectionNameMatching.cs
Labels: Area-Compilers

#34429 Add public API implementation and wire it up to the rewriter.
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNode.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/NullabilityRewriter.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Compilation/AttributeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/InitializerSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.SpeculativeMemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/TypeInfo.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplay.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/DiscardSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/EventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/LocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotationExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/NullableFlowStateExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Global.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/TypeInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Compilers/Core/CodeAnalysisTest/Symbols/NullablilityInfoTests.cs
  src/Compilers/Core/Portable/InternalUtilities/ReaderWriterLockSlimExtensions.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/SelectionValidatorTests.cs
  src/EditorFeatures/CSharpTest/NameTupleElement/NameTupleElementTests.cs
  src/EditorFeatures/Test2/Expansion/NameExpansionTests.vb
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/Model.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34908 Merge dev16.1-preview2 to dev16.1-preview2-vs-deps
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Regex.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_Regex.vb
Labels: Area-Infrastructure

#34796 Revert "Format `{}`"
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticBraceCompletionTests.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-IDE, New Language Feature - Pattern Matching

#34939 Specially handle type parameters constrained to `Nullable<T>` in TypeSymbolExtensions.CanContainNull().
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithState.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34937 Improve naming of integration test runs
  azure-pipelines-integration.yml
Labels: Area-Infrastructure

#34890 Make sure to add the new namespace for declaring documents in IChangeNamespaceService
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
  src/EditorFeatures/CSharpTest/MoveToNamespace/MoveToNamespaceTests.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
Labels: Approved to merge, Area-IDE

#34914 Update upgrade fixer
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
  src/Features/Core/Portable/UpgradeProject/AbstractUpgradeProjectCodeFixProvider.cs
Labels: Approved to merge, Area-IDE

#34938 removed duplicated entry for ExternalAccess.FSharp
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
Labels: Area-Infrastructure

#34686 Re-infer nullable result of switch expression
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesVsPatterns.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34849 Add mac CI
  azure-pipelines.yml
  eng/cibuild.sh
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerServerTests.cs
  src/Compilers/VisualBasic/Test/Semantic/Binding/BindingObjectInitializerTests.vb
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Infrastructure

#34878 Don't complete statement when multiple characters are selected
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
  src/EditorFeatures/TestUtilities/CompleteStatement/AbstractCompleteStatementTests.cs
Labels: Approved to merge, Area-IDE

#34897 Implement design changes for "pattern" Index/Range indexers
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IFromEndIndexOperation_IRangeOperation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SpecialMember.cs
  src/Compilers/Core/Portable/SpecialMembers.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers

#32631 disable completion for immediate window commands
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/AsyncCompletionService.cs
  src/VisualStudio/Core/Def/Implementation/DebuggerIntelliSense/AbstractDebuggerIntelliSenseContext.cs
  src/VisualStudio/Core/Def/Implementation/DebuggerIntelliSense/DebuggerIntellisenseFilter.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.IVsImmediateStatementCompletion2.cs
Labels: Approved to merge, Area-IDE, IDE-IntelliSense, Interactive-Debugging

#34978 Fix bootstrap on Linux/Mac
  eng/build.sh
Labels: Area-Compilers

#34909 Remove the dependence between the order in NullableAnnotation and metadata attribute values
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/ExtraAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotation.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotationExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34584 Properly treat ambiguous explicit interface implementations
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/OverriddenOrHiddenMembersHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ExplicitInterfaceHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/IndexedTypeParameterSymbolForOverriding.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
Labels: Area-Compilers, Community, New Language Feature - Nullable Reference Types

#34926 Correctly report mismatches in foreach types
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34941 Add command handler and tests for toggle line comment.
  src/EditorFeatures/CSharpTest/CommentSelection/CSharpToggleBlockCommentCommandHandlerTests.cs
  src/EditorFeatures/CSharpTest/CommentSelection/CSharpToggleLineCommentCommandHandlerTests.cs
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Extensibility/Commands/PredefinedCommandHandlerNames.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/AbstractCommentSelectionBase.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/CommentUncommentSelectionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ToggleLineCommentCommandHandler.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test/CommentSelection/CommentUncommentSelectionCommandHandlerTests.cs
  src/EditorFeatures/Test/CommentSelection/ToggleBlockCommentCommandHandlerTests.cs
  src/EditorFeatures/TestUtilities/CommentSelection/AbstractToggleCommentTestBase.cs
  src/EditorFeatures/VisualBasicTest/CommentSelection/VisualBasicToggleLineCommentTests.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Approved to merge, Area-IDE, Feature Request

#34797 Treat unconstrained type parameters declared in `#nullable disable` context as having an unknown nullability in case they are substituted with a reference type.
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.ErrorTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CrefTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/IndexedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/TypeParameterConstraintClause.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EETypeParameterSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/SimpleTypeParameterSymbol.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31573 move code lens to use new code lens API
  Roslyn.sln
  eng/Versions.props
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core/Shared/Utilities/ResettableDelay.cs
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
  src/Features/Core/Portable/CodeLens/IRemoteCodeLensReferencesService.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/VisualStudio/CodeLens/CodeLensVSResources.Designer.cs
  src/VisualStudio/CodeLens/CodeLensVSResources.resx
  src/VisualStudio/CodeLens/Microsoft.VisualStudio.CodeAnalysis.CodeLens.csproj
  src/VisualStudio/CodeLens/PublicAPI.Shipped.txt
  src/VisualStudio/CodeLens/PublicAPI.Unshipped.txt
  src/VisualStudio/CodeLens/ReferenceCodeLensProvider.cs
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.cs.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.de.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.es.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.fr.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.it.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.ja.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.ko.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.pl.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.pt-BR.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.ru.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.tr.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.zh-Hans.xlf
  src/VisualStudio/CodeLens/xlf/CodeLensVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/Implementation/CodeLens/CodeLensCallbackListener.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/ICodeLensContext.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_CodeLens.cs
  src/Workspaces/Remote/ServiceHub/Shared/ServiceHubServiceBase.cs
Labels: Approved to merge, Area-IDE

#34991 Use original definition symbol for fetching control flow graph of gen…
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.AnalysisData.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.FlowGraphAnalysisData.cs
Labels: Approved to merge, Area-IDE

#35004 Fix Value/Ref checks for pattern Index/Range
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers

#34915 Add IVsRefactorNotify changes to MoveToNamespace refactorings
  src/EditorFeatures/CSharpTest/MoveToNamespace/MoveToNamespaceTests.cs
  src/EditorFeatures/TestUtilities/MoveToNamespace/AbstractMoveToNamespaceTests.cs
  src/Features/Core/Portable/MoveToNamespace/AbstractMoveToNamespaceCodeAction.cs
  src/Features/Core/Portable/MoveToNamespace/AbstractMoveToNamespaceService.cs
  src/Features/Core/Portable/MoveToNamespace/MoveToNamespaceResult.cs
Labels: Approved to merge, Area-IDE

#34485 Change preview warnings from a background to a border marker
  src/EditorFeatures/Core.Wpf/PreviewWarningTagDefinition.cs
Labels: Approved to merge, Area-IDE

#35023 Fix assert in remove unused member analyzer
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE

#34966 Add IVTs to 16.1 version of RemoteLS
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Impl/Microsoft.VisualStudio.LanguageServices.Implementation.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Approved to merge, Area-IDE, Community

#34886 Roslyn Installer: Stop processes that block VSIX installation.
  src/Setup/Installer/tools/install.ps1
  src/Setup/Installer/tools/uninstall.ps1
  src/Setup/Installer/tools/utils.ps1
Labels: Approved to merge, Area-IDE

#34992 Improve IDE0052 diagnostic message for properties with used setter bu…
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE

#35054 Apply hang mitigating timeouts in integration tests
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/AbstractCodeRefactorDialog_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/CSharpInteractiveWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ErrorList_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ExtractInterfaceDialog_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/FindReferencesWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/GenerateTypeDialog_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InProcComponent.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InteractiveWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ObjectBrowserWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/PickMembersDialog_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Shell_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/StartPage_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudio_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudio_InProc_Telemetry.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Input/SendKeys_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstance.cs
Labels: Area-Infrastructure, Integration-Test

#34476 Fix all remaining violations of RS1016
  src/Features/CSharp/Portable/CodeFixes/GenerateMethod/GenerateDeconstructMethodCodeFixProvider.cs
  src/Features/CSharp/Portable/CodeFixes/HideBase/HideBaseCodeFixProvider.AddNewKeywordAction.cs
  src/Features/CSharp/Portable/CodeFixes/HideBase/HideBaseCodeFixProvider.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportCodeFixProvider.cs
  src/Features/Core/Portable/AddMissingReference/AbstractAddMissingReferenceCodeFixProvider.cs
  src/Features/Core/Portable/AddPackage/AbstractAddPackageCodeFixProvider.cs
  src/Features/Core/Portable/AddPackage/AbstractAddSpecificPackageCodeFixProvider.cs
  src/Features/Core/Portable/AddParameter/AbstractAddParameterCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Async/AbstractAddAwaitCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Async/AbstractAsyncCodeFix.cs
  src/Features/Core/Portable/CodeFixes/Async/AbstractChangeToAsyncCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/GenerateMember/AbstractGenerateMemberCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Iterator/AbstractIteratorCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/NamingStyle/NamingStyleCodeFixProvider.cs
  src/Features/Core/Portable/ConflictMarkerResolution/AbstractConflictMarkerCodeFixProvider.cs
  src/Features/Core/Portable/FullyQualify/AbstractFullyQualifyCodeFixProvider.cs
  src/Features/Core/Portable/SpellCheck/AbstractSpellCheckCodeFixProvider.cs
  src/Features/VisualBasic/Portable/CodeFixes/CorrectNextControlVariable/CorrectNextControlVariableCodeFixProvider.CodeAction.vb
  src/Features/VisualBasic/Portable/CodeFixes/CorrectNextControlVariable/CorrectNextControlVariableCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/GenerateEndConstruct/GenerateEndConstructCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/GenerateEvent/GenerateEventCodeFixProvider.CodeAction.vb
  src/Features/VisualBasic/Portable/CodeFixes/GenerateEvent/GenerateEventCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/IncorrectExitContinue/IncorrectExitContinueCodeFixProvider.AddKeywordCodeAction.vb
  src/Features/VisualBasic/Portable/CodeFixes/IncorrectExitContinue/IncorrectExitContinueCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/IncorrectFunctionReturnType/IncorrectFunctionReturnTypeCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/InsertMissingCast/InsertMissingCastCodeFixProvider.CodeAction.vb
  src/Features/VisualBasic/Portable/CodeFixes/InsertMissingCast/InsertMissingCastCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/MoveToTopOfFile/MoveToTopOfFileCodeFixProvider.MoveToLineCodeAction.vb
  src/Features/VisualBasic/Portable/CodeFixes/MoveToTopOfFile/MoveToTopOfFileCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/OverloadBase/OverloadBaseCodeFixProvider.AddKeywordAction.vb
  src/Features/VisualBasic/Portable/CodeFixes/OverloadBase/OverloadBaseCodeFixProvider.vb
  src/VisualStudio/Xaml/Impl/CodeFixes/RemoveUnnecessaryUsings/XamlRemoveUnnecessaryUsingsCodeFixProvider.cs
Labels: Area-IDE

#35055 Disable background download UI to avoid toasts
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-Infrastructure, Integration-Test

#35061 Fix Spanish build pool name
  azure-pipelines.yml
Labels: Area-Infrastructure

#33712 Create Workspace APIs for .editorconfig files, and wire everything up
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerAnalyzerConfigOptionsProvider.cs
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxNodeFactories.vb
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/EditorConfigNamingStyleParserTests.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.DocumentOptions.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.EmptyCodingConventionContext.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider_Ide.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject_IAnalyzerConfigFileHost.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractTable.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFormatting.cs
  src/VisualStudio/IntegrationTest/TestUtilities/LegacyEditorConfigCondition.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Execution/Extensions.cs
  src/Workspaces/Core/Portable/Execution/SerializerService.cs
  src/Workspaces/Core/Portable/Execution/SerializerService_ChecksumWithChildren.cs
  src/Workspaces/Core/Portable/Execution/WellKnownSynchronizationKind.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_NamingRule.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_NamingStyle.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_SymbolSpec.cs
  src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigDocumentOptionsProviderFactory.cs
  src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigStorageLocation`1.cs
  src/Workspaces/Core/Portable/Options/EditorConfig/IEditorConfigStorageLocation.cs
  src/Workspaces/Core/Portable/Options/EditorConfig/NamingStylePreferenceEditorConfigStorageLocation.cs
  src/Workspaces/Core/Portable/Options/IDocumentOptionsProviderFactory.cs
  src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/SemanticModelWorkspaceService/SemanticModelWorkspaceServiceFactory.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/ISyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/AnalyzerConfigDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ChecksumCollection.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTranslationAction.Actions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTranslationAction.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/Core/Portable/Workspace/WorkspaceChangeKind.cs
  src/Workspaces/CoreTest/CodeStyle/EditorConfigCodeStyleParserTests.cs
  src/Workspaces/CoreTest/EditorConfigStorageLocation/EditorConfigStorageLocationTests.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
  src/Workspaces/Remote/Core/Services/RemoteWorkspace.cs
  src/Workspaces/Remote/Core/Services/TemporaryWorkspaceOptionsServiceFactory.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxTreeFactoryService.vb
Labels: Area-IDE

#35014 Fix regression for switching on a constant value
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowTests.cs
Labels: Area-Compilers, Bug

#35048 Implement `where T: class` and `where T: struct` for overrides and explicit interface implementations.
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35017 Simplify null checks using 'is null' and 'is object'
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
Labels: Area-Compilers

#35107 Fully NGen CodeLens assembly until optimization training is complete
  src/VisualStudio/CodeLens/Microsoft.VisualStudio.CodeAnalysis.CodeLens.csproj
Labels: Area-Infrastructure

#34563 install servicehub json files in common7/servicehub folders
  Roslyn.sln
  eng/targets/GenerateServiceHubConfigurationFiles.targets
  eng/targets/Settings.props
  src/ExpressionEvaluator/Package/ExpressionEvaluatorPackage.csproj
  src/Setup/DevDivVsix/ServiceHubConfig/Roslyn.VisualStudio.Setup.ServiceHub.csproj
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/Setup/roslynCodeAnalysis.servicehub.service.json
  src/VisualStudio/Setup/roslynCodeAnalysis64.servicehub.service.json
  src/VisualStudio/Setup/roslynRemoteHost.servicehub.service.json
  src/VisualStudio/Setup/roslynRemoteHost64.servicehub.service.json
  src/VisualStudio/Setup/roslynRemoteSymbolSearchUpdateEngine.servicehub.service.json
  src/VisualStudio/Setup/roslynRemoteSymbolSearchUpdateEngine64.servicehub.service.json
  src/VisualStudio/Setup/roslynSnapshot.servicehub.service.json
  src/VisualStudio/Setup/roslynSnapshot64.servicehub.service.json
  src/VisualStudio/VisualStudioInteractiveComponents/Roslyn.VisualStudio.InteractiveComponents.csproj
Labels: Approved to merge, Area-IDE

#35097 Use Machine.Arm64 instead of raw value
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceModuleSymbol.vb
Labels: Area-Compilers

#35094 Add unit-tests for fixed issues.
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#34763 Update nullable attribute in docs
  docs/features/nullable-reference-types.md
Labels: Area-Compilers, Documentation

#34581 Fix the pull member up failure
  src/EditorFeatures/CSharpTest/PullMemberUp/CSharpPullMemberUpTests.cs
  src/Features/Core/Portable/PullMemberUp/MembersPuller.cs
Labels: Approved to merge, Area-IDE

#34945 FSharp Shim - First Phase
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Core/Shared/Extensions/HostWorkspaceServicesExtensions.cs
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Tools/ExternalAccess/FSharp/Classification/FSharpClassificationService.cs
  src/Tools/ExternalAccess/FSharp/Classification/FSharpClassificationTags.cs
  src/Tools/ExternalAccess/FSharp/Classification/IFSharpClassificationService.cs
  src/Tools/ExternalAccess/FSharp/Completion/FSharpCompletionOptions.cs
  src/Tools/ExternalAccess/FSharp/Diagnostics/FSharpDiagnosticAnalyzerService.cs
  src/Tools/ExternalAccess/FSharp/Diagnostics/FSharpDiagnosticCustomTags.cs
  src/Tools/ExternalAccess/FSharp/Diagnostics/IFSharpDiagnosticAnalyzerService.cs
  src/Tools/ExternalAccess/FSharp/Editor/FSharpBraceMatcher.cs
  src/Tools/ExternalAccess/FSharp/Editor/FSharpContentTypeLanguageService.cs
  src/Tools/ExternalAccess/FSharp/Editor/FSharpContentTypeNames.cs
  src/Tools/ExternalAccess/FSharp/Editor/FSharpEditorFormattingService.cs
  src/Tools/ExternalAccess/FSharp/Editor/FSharpSynchronousIndentationService.cs
  src/Tools/ExternalAccess/FSharp/Editor/FindUsages/FSharpFindUsagesContext.cs
  src/Tools/ExternalAccess/FSharp/Editor/FindUsages/FSharpFindUsagesService.cs
  src/Tools/ExternalAccess/FSharp/Editor/FindUsages/IFSharpFindUsagesContext.cs
  src/Tools/ExternalAccess/FSharp/Editor/FindUsages/IFSharpFindUsagesService.cs
  src/Tools/ExternalAccess/FSharp/Editor/IFSharpBraceMatcher.cs
  src/Tools/ExternalAccess/FSharp/Editor/IFSharpEditorFormattingService.cs
  src/Tools/ExternalAccess/FSharp/Editor/IFSharpIndentationService.cs
  src/Tools/ExternalAccess/FSharp/Editor/Implementation/Debugging/FSharpBreakpointResolutionService.cs
  src/Tools/ExternalAccess/FSharp/Editor/Implementation/Debugging/FSharpLanguageDebugInfoService.cs
  src/Tools/ExternalAccess/FSharp/Editor/Implementation/Debugging/IFSharpBreakpointResolutionService.cs
  src/Tools/ExternalAccess/FSharp/Editor/Implementation/Debugging/IFSharpLanguageDebugInfoService.cs
  src/Tools/ExternalAccess/FSharp/Editor/Shared/Utilities/FSharpClassificationTypeMap.cs
  src/Tools/ExternalAccess/FSharp/FSharpDocumentSpan.cs
  src/Tools/ExternalAccess/FSharp/FSharpGlyph.cs
  src/Tools/ExternalAccess/FSharp/FSharpGlyphHelpers.cs
  src/Tools/ExternalAccess/FSharp/FSharpGlyphHelpersObsolete.cs
  src/Tools/ExternalAccess/FSharp/FindUsages/FSharpDefinitionItem.cs
  src/Tools/ExternalAccess/FSharp/FindUsages/FSharpSourceReferenceItem.cs
  src/Tools/ExternalAccess/FSharp/LanguageServices/FSharpVisualStudioWorkspaceExtensions.cs
  src/Tools/ExternalAccess/FSharp/Microsoft.CodeAnalysis.ExternalAccess.FSharp.csproj
  src/Tools/ExternalAccess/FSharp/Shared/Options/FSharpServiceFeatureOnOffOptions.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Impl/Microsoft.VisualStudio.LanguageServices.Implementation.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Approved to merge, Area-IDE, Community

#34440 Export additional code styles in .editorconfig generation
  src/VisualStudio/Core/Impl/Options/GridOptionPreviewControl.xaml.cs
  src/VisualStudio/Core/Test/Options/BasicEditorConfigGeneratorTests.vb
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/Editing/GenerationOptions.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_NamingStyle.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser_SymbolSpec.cs
  src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigFileGenerator.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE

#34964 Allow the simplification of using directives where the global alias is specified
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Labels: Approved to merge, Area-IDE

#34963 Create mapping from NotificationOption to EditorConfig severity string.
  src/Workspaces/Core/Portable/Extensions/NotificationOptionExtensions.cs
Labels: Approved to merge, Area-IDE

#34785 use new CPS API to report designer attribute
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/DesignerAttributeIncrementalAnalyzer.cs
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/DesignerAttributeIncrementalAnalyzerProvider.cs
  src/Workspaces/Core/Portable/Utilities/TaskExtensions.cs
Labels: Approved to merge, Area-IDE

#35066 Implement InternalsVisibleTo checks
  eng/test-build-correctness.ps1
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Test/Utilities/CSharp/Microsoft.CodeAnalysis.CSharp.Test.Utilities.csproj
  src/Compilers/Test/Utilities/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.Test.Utilities.vbproj
  src/Compilers/VisualBasic/Portable/Microsoft.CodeAnalysis.VisualBasic.vbproj
  src/Compilers/VisualBasic/vbc/vbc.csproj
  src/EditorFeatures/CSharp.Wpf/Microsoft.CodeAnalysis.CSharp.EditorFeatures.Wpf.csproj
  src/EditorFeatures/CSharpTest/Microsoft.CodeAnalysis.CSharp.EditorFeatures.UnitTests.csproj
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
  src/EditorFeatures/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.EditorFeatures.vbproj
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Microsoft.CodeAnalysis.CSharp.ExpressionCompiler.csproj
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/Microsoft.CodeAnalysis.ExpressionCompiler.csproj
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Microsoft.CodeAnalysis.VisualBasic.ExpressionCompiler.vbproj
  src/Features/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.Features.csproj
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/VisualBasic/Portable/Microsoft.CodeAnalysis.VisualBasic.Features.vbproj
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/Scripting/Core/Microsoft.CodeAnalysis.Scripting.csproj
  src/Test/Diagnostics/Roslyn.Hosting.Diagnostics.csproj
  src/Test/PdbUtilities/Roslyn.Test.PdbUtilities.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/Tools/BuildBoss/InternalsVisibleTo.cs
  src/Tools/BuildBoss/Program.cs
  src/Tools/BuildBoss/ProjectCheckerUtil.cs
  src/Tools/BuildBoss/ProjectUtil.cs
  src/Tools/BuildBoss/SolutionCheckerUtil.cs
  src/VisualStudio/CSharp/Impl/Microsoft.VisualStudio.LanguageServices.CSharp.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Impl/Microsoft.VisualStudio.LanguageServices.Implementation.csproj
  src/VisualStudio/Core/SolutionExplorerShim/Microsoft.VisualStudio.LanguageServices.SolutionExplorer.csproj
  src/VisualStudio/Core/Test.Next/Roslyn.VisualStudio.Next.UnitTests.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/Microsoft.VisualStudio.IntegrationTest.Utilities.csproj
  src/VisualStudio/InteractiveServices/Microsoft.VisualStudio.InteractiveServices.csproj
  src/VisualStudio/Razor/Microsoft.VisualStudio.LanguageServices.Razor.RemoteClient.csproj
  src/VisualStudio/VisualBasic/Impl/Microsoft.VisualStudio.LanguageServices.VisualBasic.vbproj
  src/VisualStudio/Xaml/Impl/Microsoft.VisualStudio.LanguageServices.Xaml.csproj
  src/Workspaces/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.Workspaces.csproj
  src/Workspaces/Core/Desktop/Microsoft.CodeAnalysis.Workspaces.Desktop.csproj
  src/Workspaces/Core/MSBuild/Microsoft.CodeAnalysis.Workspaces.MSBuild.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
  src/Workspaces/Remote/Razor/Microsoft.CodeAnalysis.Remote.Razor.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/VisualBasic/Portable/Microsoft.CodeAnalysis.VisualBasic.Workspaces.vbproj
Labels: Area-Infrastructure

#35125 Addressed PR feedback.
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/ITypeParameterSymbol.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/NullabilityInfo.cs
  src/Compilers/Core/Portable/Symbols/NullableAnnotation.cs
  src/Compilers/Core/Portable/Symbols/NullableFlowState.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#34955 LOC CHECKIN | dotnet/roslyn master | 20190412
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.cs.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.de.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.es.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.fr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.it.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ja.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ko.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pl.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pt-BR.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ru.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.tr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hans.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hant.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.cs.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.de.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.es.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.fr.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.it.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.ja.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.ko.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.pl.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.pt-BR.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.ru.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.tr.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.zh-Hans.xlf
  src/Interactive/Host/xlf/InteractiveHostResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Approved to merge

#35022 Add Nullable Reference Analysis to C# > Advanced options page
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectOptionsProcessor.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
Labels: Area-IDE, New Language Feature - Nullable Semantic Model

#34672 Fixed broken link in documentation
  docs/analyzers/FixAllProvider.md
Labels: Approved to merge, Area-IDE, Community, Documentation

#34715 Fix usage of ConcurrentDictionary.AddOrUpdate
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/Features/Core/Portable/IncrementalCaches/SymbolTreeInfoIncrementalAnalyzerProvider.cs
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
Labels: Approved to merge, Area-IDE, Community

#35116 `Equals` for generic methods should compare nullable annotations for type type arguments.
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35067 Intellisense broken inside of methods that have delegates as arguments
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
Labels: Approved to merge, Area-IDE, Bug, IDE-IntelliSense, Regression

#34454 🔼 Avoid FailFast for VS service missing during shutdown
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioWorkspaceDiagnosticAnalyzerProviderService.cs
Labels: Approved to merge, Area-IDE

#34988 Regex Completion + Async Completion = Failure to trigger on `[` in VB
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Regex.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_Regex.vb
Labels: Approved to merge, Bug, IDE-IntelliSense, Regression

#35132 renamed MS.VS.CodeAnalysis.CodeLens to MS.VS.LanguageServices.CodeLens
  Roslyn.sln
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/VisualStudio/CodeLens/CodeLensVSResources.Designer.cs
  src/VisualStudio/CodeLens/Microsoft.VisualStudio.LanguageServices.CodeLens.csproj
  src/VisualStudio/CodeLens/ReferenceCodeLensProvider.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Approved to merge, Area-IDE

#35158 Cleanup missed prototype comments.
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionAllCodeTests.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/SelectionValidatorTests.cs
  src/EditorFeatures/CSharpTest/NameTupleElement/NameTupleElementTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/EditorFeatures/CSharpTest/UseExplicitTypeForConst/UseExplicitTypeForConstTests.cs
  src/EditorFeatures/Test2/Expansion/NameExpansionTests.vb
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#35121 Async-enumerator methods honor the EnumeratorCancellation attribute
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Feature - Async Streams

#35154 Avoid caching VS completion items for non-import items
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/Features/Core/Portable/Completion/CompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/TypeImportCompletionService.cs
Labels: Approved to merge, Area-IDE

#35122 Correctly report null reference possibility when GetEnumerator returns a potentially nullable Enumerator type.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35024 Fix complete statement's semicolon placement to better handle incomplete code
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
Labels: Approved to merge, Area-IDE

#34655 Target Typed Completion Prototype
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/AbstractCSharpCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/CrefCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/LoadDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ReferenceDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests_NoInteractive.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/XmlDocumentationCommentCompletionProviderTests.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/AsyncCompletionLogger.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/AbstractVisualBasicCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/OverrideCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/XmlDocCommentCompletionProviderTests.vb
  src/Features/Core/Portable/Common/Glyph.cs
  src/Features/Core/Portable/Common/GlyphExtensions.cs
  src/Features/Core/Portable/Completion/CompletionItemFilter.cs
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Tags/WellKnownTags.cs
Labels: Approved to merge, Area-IDE, Feature Request

#35181 Binary log for Unix bootstrap
  eng/build.sh
Labels: Area-Infrastructure

#35120 Fix sorting of import completion items
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/TypeImportCompletionItem.cs
Labels: Approved to merge, Area-IDE, Bug

#35186 Re-enable set -e
  eng/build.sh
Labels: Area-Infrastructure

#35082 Add telemetry for import completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/AsyncCompletionLogger.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractTypeImportCompletionProvider.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Approved to merge, Area-IDE, Tenet-Telemetry

#35009 Add import placement codestyle, diagnostic, and fixer
  src/EditorFeatures/CSharp/CSharpEditorResources.Designer.cs
  src/EditorFeatures/CSharp/CSharpEditorResources.resx
  src/EditorFeatures/CSharp/MisplacedUsingDirectives/MisplacedUsingDirectivesCodeFixProvider.cs
  src/EditorFeatures/CSharp/MisplacedUsingDirectives/MisplacedUsingDirectivesDiagnosticAnalyzer.cs
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.cs.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.de.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.es.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.fr.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.it.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.ja.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.ko.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.pl.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.pt-BR.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.ru.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.tr.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.zh-Hans.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.zh-Hant.xlf
  src/EditorFeatures/CSharpTest/MisplacedUsingDirectives/MisplacedUsingDirectivesCodeFixProviderTests.cs
  src/Features/Core/Portable/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/CSharp/Portable/CSharpWorkspaceResources.Designer.cs
  src/Workspaces/CSharp/Portable/CSharpWorkspaceResources.resx
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleOptions_Parsing.cs
  src/Workspaces/CSharp/Portable/Execution/CSharpOptionsSerializationService.cs
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.cs.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.de.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.es.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.fr.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.it.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.ja.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.ko.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.pl.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.pt-BR.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.ru.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.tr.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.zh-Hans.xlf
  src/Workspaces/CSharp/Portable/xlf/CSharpWorkspaceResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/AddImports/AddImportPlacement.cs
Labels: Approved to merge, Area-IDE

#35170 Add version check to enable the pattern-based Index & Range indexers
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
Labels: Area-Compilers, New Language Feature - Range

#35145 Implement an alternative way to break cycles while calculating IsValueType/IsReferenceType for a type parameter.
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#34794 Move basic implementation of LSP into roslyn.
  Roslyn.sln
  eng/Versions.props
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/Protocol/Handler/DocumentHighlightHandler.cs
  src/Features/LanguageServer/Protocol/Handler/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/FoldingRangesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/GoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/GoToImplementationHandler.cs
  src/Features/LanguageServer/Protocol/Handler/HoverHandler.cs
  src/Features/LanguageServer/Protocol/Handler/WorkspaceSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/Protocol/Lsp/DocumentSymbol.cs
  src/Features/LanguageServer/Protocol/Lsp/FoldingRange.cs
  src/Features/LanguageServer/Protocol/Lsp/FoldingRangeKind.cs
  src/Features/LanguageServer/Protocol/Lsp/FoldingRangeParams.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Features/LanguageServer/Protocol/PublicAPI.Shipped.txt
  src/Features/LanguageServer/Protocol/PublicAPI.Unshipped.txt
  src/Features/LanguageServer/ProtocolUnitTests/Microsoft.CodeAnalysis.LanguageServer.Protocol.UnitTests.csproj
  src/Features/LanguageServer/ProtocolUnitTests/RoslynLanguageServiceTests.cs
  src/Features/Protocol/LanguageServices/Class1.cs
  src/Features/Protocol/LanguageServices/Microsoft.CodeAnalysis.Protocol.LanguageServices.csproj
  src/Features/Protocol/LanguageServicesTest/Microsoft.CodeAnalysis.Protocol.LanguageServices.UnitTests.csproj
  src/Features/Protocol/LanguageServicesTest/TestClass1.cs
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-IDE

#35153 Add telemetry to toggle line comment.
  src/EditorFeatures/Core/Implementation/CommentSelection/AbstractCommentSelectionBase.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/AbstractToggleBlockCommentBase.cs
  src/EditorFeatures/Core/Implementation/CommentSelection/ToggleLineCommentCommandHandler.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
Labels: Approved to merge, Area-IDE

#35191 Implement IMethodSymbol.ReceiverNullableAnnotation
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#35189 Revert two step initialization of base type in PENamedTypeSymbol.
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#35215 A couple of tweaks around features that add parameter null-checks.
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertTupleToStruct/AbstractConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.ConstructorDelegatingCodeAction.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.FieldDelegatingCodeAction.cs
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/AbstractGenerateConstructorService.Editor.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.GenerateNamedType.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, Community

#35220 Don't suggest static members in PropertySubPatternCompletionProvider
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PropertySubPatternCompletionProvider.cs
Labels: Area-IDE, Community, IDE-IntelliSense

#35217 Make bootstrap 32 bit in 32 bit CI
  eng/build-utils.ps1
  eng/build.ps1
  eng/targets/Imports.targets
Labels: Area-Infrastructure

#35213 Only emit readonly attributes implicitly when feature enabled
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
Labels: Area-Compilers

#35155 VisualBasic semantic model does not recognize overloads at chained queries
  src/Compilers/VisualBasic/Portable/Semantics/TypeInference/TypeArgumentInference.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/LambdaSemanticInfoTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/QueryExpressions.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
Labels: Area-Compilers, Language-VB

#34697 Add spec for enhanced using
  docs/features/enhanced-using.md
Labels: Area-Compilers, Documentation, New Language Feature - enhanced using

#35245 Fix mock experiment service
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/AbstractCSharpCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/CrefCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/LoadDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ReferenceDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests_NoInteractive.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/XmlDocumentationCommentCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/TestExperimentationService.cs
  src/EditorFeatures/TestUtilities/Workspaces/CSharpTestWorkspaceFixture.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspaceFixture.cs
  src/EditorFeatures/TestUtilities/Workspaces/VisualBasicTestWorkspaceFixture.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/AbstractVisualBasicCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/OverrideCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/XmlDocCommentCompletionProviderTests.vb
Labels: Area-IDE, Test

#35015 Hide dependency on VsInteractiveWindow package from Microsoft.VisualStudio.LanguageServices package
  src/VisualStudio/CSharp/Impl/Microsoft.VisualStudio.LanguageServices.CSharp.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Area-Infrastructure, Needs Shiproom Approval

#32092 Optimise DisplayClass Allocations
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.Tree.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenClosureLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs
  src/Dependencies/PooledObjects/ArrayBuilder.cs
  src/Test/Utilities/Portable/CompilationVerifier.cs
Labels: Area-Compilers, Community

#35247 Fix `nameof(MethodName)` not classifying MethodName
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
Labels: Approved to merge, Area-IDE
