Repository dotnet/roslyn, pull requests merged in 2019-12, with the labels that each got.

#39892 Remove diagnostics from error list on document close or reset for tha…
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Shared/Options/ServiceFeatureOnOffOptions.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListDesktop.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListNetCore.cs
Labels: Area-IDE

#40107 Store nested conversion in the target-typed switch expression conversion
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#39953 Prefer user-defined conversion over a switch expression conversion
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#39543 Implicit numeric casts shouldn't be recommended to be removed if doing so loses precision
  src/EditorFeatures/CSharpTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/CSharp/Portable/Extensions/CastExpressionSyntaxExtensions.cs
Labels: Area-IDE, Community

#40104 Visual Studio Code Tasks
  .gitignore
  .vscode/tasks.json
Labels: Area-Infrastructure

#40093 Convert operand expressions in an error case
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#40091 Make finding checksum async
  src/EditorFeatures/TestUtilities/Remote/InProcRemostHostClient.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Features/Core/Portable/DesignerAttributes/AbstractDesignerAttributeService.cs
  src/Test/Diagnostics/RemoteHost/RemoteHostPanel.xaml
  src/Test/Diagnostics/RemoteHost/RemoteHostPanel.xaml.cs
  src/Test/Diagnostics/RemoteHost/SolutionAssetManager.cs
  src/Test/Diagnostics/Roslyn.Hosting.Diagnostics.csproj
  src/VisualStudio/Core/Def/Implementation/Remote/RemotableDataJsonRpcEx.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.ConnectionManager.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/DiagnosticsWindow.cs
  src/Workspaces/Core/Portable/Execution/AssetStorages.Storage.cs
  src/Workspaces/Core/Portable/Execution/AssetStorages.cs
  src/Workspaces/Core/Portable/Execution/ISolutionSynchronizationService.cs
  src/Workspaces/Core/Portable/Execution/PinnedRemotableDataScope.cs
  src/Workspaces/Core/Portable/Execution/SolutionAsset.cs
  src/Workspaces/Core/Portable/Execution/SolutionSynchronizationService.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClientExtensions.cs
  src/Workspaces/Core/Portable/Utilities/LazyInitialization.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocument.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
  src/Workspaces/CoreTestUtilities/Extensions.cs
  src/Workspaces/CoreTestUtilities/SnapshotSerializationTestBase.cs
  src/Workspaces/Remote/Core/Shared/Extensions.cs
  src/Workspaces/Remote/Core/TestUtils.cs
Labels: Area-IDE

#40029 Nullable collections
  src/Compilers/Core/Portable/Collections/CachingFactory.cs
  src/Compilers/Core/Portable/Collections/ConcurrentCache.cs
  src/Compilers/Core/Portable/Collections/Grouping.cs
  src/Compilers/Core/Portable/Collections/IdentifierCollection.Collection.cs
  src/Compilers/Core/Portable/Collections/IdentifierCollection.cs
  src/Compilers/Core/Portable/Collections/ImmutableMemoryStream.cs
  src/Compilers/Core/Portable/Collections/OrderPreservingMultiDictionary.cs
  src/Compilers/Core/Portable/Collections/OrderedSet.cs
  src/Compilers/Core/Portable/Collections/SmallConcurrentSetOfInts.cs
  src/Dependencies/PooledObjects/ObjectPool`1.cs
Labels: Area-Compilers

#40161 Skip failing C# REPL integration tests.
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpInteractiveCommands.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpInteractiveDirectives.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplClassification.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIdeFeatures.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIntellisense.cs
Labels: Area-Infrastructure, Integration-Test

#39914 Move to new API for GetSuggestedActions
  eng/Versions.props
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/CSharpTest/DocumentationComments/DocumentationCommentTests.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.Designer.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.vb
  src/EditorFeatures/VisualBasicTest/DocumentationComments/DocumentationCommentTests.vb
  src/Features/Core/Portable/CodeFixes/ICodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/CodeRefactorings/ICodeRefactoringService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/EditAndContinue/EditAndContinueTestHelper.vb
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
Labels: Area-IDE

#40044 Document load failures
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/FileContentLoadAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/Diagnostics/DefaultDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticResultSerializer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.ProjectState.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.HostStates.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/Features/Core/Portable/Shared/Extensions/DiagnosticAnalyzerExtensions.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/WorkspaceFailureOutputPane.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/Workspaces/Core/MSBuild/MSBuild/DiagnosticReporter.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildWorkspace.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoaderRegistry.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalysisResult.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/ConstantValueSource.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/ValueSource.cs
  src/Workspaces/Core/Portable/Workspace/FileTextLoader.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/RecoverableTextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextLoader.cs
  src/Workspaces/Core/Portable/Workspace/WorkspaceDiagnosticDescriptors.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/CoreTestUtilities/WorkspaceExtensions.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-IDE

#40175 Avoid going into an infinite cycle while resolving erroneous event/property implementation within an interface
  src/Compilers/CSharp/Portable/Symbols/Source/ExplicitInterfaceHelpers.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Default Interface Impl

#40178 Add helper methods for the Binder to assert that we are not recording used assemblies while binding for SemanticModel.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
Labels: Area-Compilers

#40190 Consolidate C# and VB language servers into one implementation
  eng/targets/GenerateServiceHubConfigurationFiles.targets
  src/EditorFeatures/TestUtilities/Remote/InProcRemostHostClient.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/LanguageClient/CSharpLanguageServerClient.cs
  src/VisualStudio/CSharp/Impl/Microsoft.VisualStudio.LanguageServices.CSharp.csproj
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/Implementation/LanguageClient/LanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/LanguageServerClientEventListener.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test.Next/Services/LanguageServiceTests.cs
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.Designer.vb
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.resx
  src/VisualStudio/VisualBasic/Impl/LanguageClient/VisualBasicLanguageServerClient.vb
  src/VisualStudio/VisualBasic/Impl/Microsoft.VisualStudio.LanguageServices.VisualBasic.vbproj
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.cs.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.es.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.fr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.it.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ja.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ko.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pl.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pt-BR.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ru.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.tr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hans.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/Remote/WellKnownServiceHubServices.cs
  src/Workspaces/Remote/ServiceHub/Services/LanguageServer.cs
Labels: Area-IDE

#40206 Revert "Move to new API for GetSuggestedActions"
  eng/Versions.props
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/CSharpTest/DocumentationComments/DocumentationCommentTests.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.Designer.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.vb
  src/EditorFeatures/VisualBasicTest/DocumentationComments/DocumentationCommentTests.vb
  src/Features/Core/Portable/CodeFixes/ICodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/CodeRefactorings/ICodeRefactoringService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/EditAndContinue/EditAndContinueTestHelper.vb
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
Labels: Area-IDE

#40189 Update branches for two features under development.
  docs/Language Feature Status.md
Labels: Area-Compilers

#39215 Fix AddImports codefix on implicit extension methods
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests_ExtensionMethods.cs
  src/EditorFeatures/VisualBasicTest/CodeRefactorings/AddMissingImports/VisualBasicAddMissingImportsRefactoringProviderTests.vb
  src/Features/CSharp/Portable/AddImport/CSharpAddImportCodeFixProvider.cs
  src/Features/CSharp/Portable/AddImport/CSharpAddImportFeatureService.cs
  src/Features/VisualBasic/Portable/AddImport/VisualBasicAddImportCodeFixProvider.vb
  src/Features/VisualBasic/Portable/AddImport/VisualBasicAddImportFeatureService.vb
Labels: Area-IDE, Community

#40208 EnC: Fix incorrect reporting of changes in non-UTF8 encoded source files
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Labels: Approved to merge, Area-IDE

#40165 Do not offer to rename files/types to match when there's no type name available
  src/EditorFeatures/CSharpTest/CodeActions/MoveType/MoveTypeTests.RenameType.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/MoveType/MoveTypeTests.RenameType.vb
  src/Features/Core/Portable/CodeRefactorings/MoveType/AbstractMoveTypeService.State.cs
Labels: Area-IDE

#39157 Initial support for binary operators with native-sized integers
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Unsafe.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionEasyOut.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorEasyOut.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/OperatorFacts.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/OperatorKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/OperatorKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitOperators.cs
  src/Compilers/CSharp/Portable/Compilation/BuiltInOperators.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/TypeSyntax.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/ConstantValue.cs
  src/Compilers/Core/Portable/PrimitiveTypeCodeExtensions.cs
  src/Compilers/VisualBasic/Portable/CodeGen/EmitConversion.vb
Labels: Area-Compilers

#38945 Use camelCase for variables and method arguments
  src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb
Labels: Area-Compilers

#40068 Add feature to allow simple reversing of a for-loop
  src/EditorFeatures/CSharpTest/ReverseForStatement/ReverseForStatementTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/ReverseForStatement/CSharpReverseForStatementCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/Core/Portable/Shared/Utilities/IntegerUtilities.cs
Labels: Area-IDE, Community, Feature Request

#40195 Disallow pointer types to be used as top-level constraints on generic parameters
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers, auto-merge

#40215 Update status on "lambda discard parameters"
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#39783 Update System.Runtime.CompilerServices.Unsafe to 4.6.0
  eng/Versions.props
Labels: Area-Infrastructure

#40274 Revert "Revert "Move to new API for GetSuggestedActions""
  eng/Versions.props
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/CSharpTest/DocumentationComments/DocumentationCommentTests.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.Designer.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.vb
  src/EditorFeatures/VisualBasicTest/DocumentationComments/DocumentationCommentTests.vb
  src/Features/Core/Portable/CodeFixes/ICodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/CodeRefactorings/ICodeRefactoringService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/EditAndContinue/EditAndContinueTestHelper.vb
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
Labels: Area-IDE

#40262 Fix for lambda parameter type inference in completion
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
Labels: Area-IDE

#40258 Remove "Usage: await x();" help text in QuickInfo and SigHelp
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest/SignatureHelp/GenericNamePartiallyWrittenSignatureHelpProviderTests.cs
  src/EditorFeatures/CSharpTest/SignatureHelp/InvocationExpressionSignatureHelpProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/EditorFeatures/VisualBasicTest/SignatureHelp/InvocationExpressionSignatureHelpProviderTests.vb
  src/Features/CSharp/Portable/LanguageServices/CSharpSymbolDisplayService.SymbolDescriptionBuilder.cs
  src/Features/CSharp/Portable/SignatureHelp/AbstractCSharpSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/AbstractOrdinaryMethodSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/GenericNameSignatureHelpProvider.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Features/Core/Portable/Shared/Extensions/ISymbolExtensions_2.cs
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicSymbolDisplayService.SymbolDescriptionBuilder.vb
  src/Features/VisualBasic/Portable/SignatureHelp/AbstractOrdinaryMethodSignatureHelpProvider.vb
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpQuickInfo.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Area-IDE

#40135 LSP - Never precalculate codeaction results. They will be calculated lazily on preview or invoke.
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
Labels: Area-IDE

#40236 Do not offer to convert switches when ref-returns are involved.
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
Labels: Area-IDE, Community

#40261 Run nullable analysis unconditionally in debug compilers
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#40011 Support extern local functions and well-known method attributes
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundLocalFunctionStatement.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.Tree.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Experimental.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
Labels: Area-Compilers

#40306 Don't bail out of binding unary operators unless the operand has an error type
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
Labels: Area-Compilers, Bug, auto-merge

#40317 Nullabilities should match null=allow in BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Labels: Area-Compilers

#40193 Fix a false positive in IDE0059 in presence of try/finally
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.cs
Labels: Area-IDE

#40302 Revert "Document load failures (#40044)"
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/FileContentLoadAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/Diagnostics/DefaultDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticResultSerializer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.ProjectState.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.HostStates.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/Features/Core/Portable/Shared/Extensions/DiagnosticAnalyzerExtensions.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/WorkspaceFailureOutputPane.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/Workspaces/Core/MSBuild/MSBuild/DiagnosticReporter.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildWorkspace.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoaderRegistry.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalysisResult.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/ConstantValueSource.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/ValueSource.cs
  src/Workspaces/Core/Portable/Workspace/FileTextLoader.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/RecoverableTextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextLoader.cs
  src/Workspaces/Core/Portable/Workspace/WorkspaceDiagnosticDescriptors.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/CoreTestUtilities/WorkspaceExtensions.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-Infrastructure

#40162 Features/source generators
  docs/features/source-generators.md
Labels: Area-Compilers, Documentation, New Feature - Source Generators

#38908 Add codefix for CS0708
  src/EditorFeatures/CSharpTest/MakeMemberStatic/MakeMemberStaticTests.cs
  src/Features/CSharp/Portable/MakeMemberStatic/CSharpMakeMemberStaticCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/MakeMemberStatic/AbstractMakeMemberStaticCodeFixProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
Labels: Area-IDE, Community

#40271 Correct lowering of conversions between decimal and nint/nuint
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Compilation/BuiltInOperators.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntTests.cs
Labels: Area-Compilers

#40335 Add fail-fast exception filters to improve diagnosability of crash dumps
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol_Completion.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceModuleSymbol.vb
Labels: Area-Compilers

#40290 Reduce complexity of ParseStatementNoDeclaration
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
Labels: Area-Compilers

#39003 Fix incorrect diagnostic message for "using"
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IVariableDeclaration.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
Labels: Area-Compilers, Community

#40318 Fix for introduce local does not introduce across local functions
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs
Labels: Area-IDE

#40348 CreateTupleTypeSymbol shouldn’t reset nullability element types to None if elementNullableAnnotations is a default array.
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#40114 Disallow initializers for extern events
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldLikeEventSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/EventTests.cs
Labels: Area-Compilers

#40211 Switch to iterative algorithm to prevent stack overflows.
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAwaitHighlighter.cs
Labels: Area-IDE, Community

#40328 Add xml documentation for IsKind and Kind extension methods
  src/Compilers/CSharp/Portable/CSharpExtensions.cs
  src/Compilers/VisualBasic/Portable/VisualBasicExtensions.vb
Labels: Area-Compilers, Community, Documentation

#39974 Pool intermediary allocations when generating unique names for features.
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateParameterizedMemberService.SignatureInfo.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction_Property.cs
  src/Workspaces/CSharp/Portable/Extensions/SemanticModelExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IMethodSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IParameterSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IPropertySymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Utilities/NameGenerator.cs
  src/Workspaces/VisualBasic/Portable/Extensions/SemanticModelExtensions.vb
Labels: Area-IDE, Community

#40332 Nullable progress: Enable nullable fully for TypeSymbolExtensions
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/TypeParameterConstraintClause.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, auto-merge

#40350 Added System.Index and System.Range
  src/Compilers/Core/Portable/InternalUtilities/Index.cs
  src/Compilers/Core/Portable/InternalUtilities/Range.cs
Labels: Area-Compilers

#40232 Update 'Populate switch' to support switch-expressions.
  src/EditorFeatures/CSharpTest/PopulateSwitch/PopulateSwitchExpressionTests.cs
  src/EditorFeatures/CSharpTest/PopulateSwitch/PopulateSwitchExpressionTests_FixAllTests.cs
  src/EditorFeatures/CSharpTest/PopulateSwitch/PopulateSwitchStatementTests.cs
  src/EditorFeatures/CSharpTest/PopulateSwitch/PopulateSwitchStatementTests_FixAllTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/EditorFeatures/VisualBasicTest/PopulateSwitch/PopulateSwitchStatementTests.vb
  src/EditorFeatures/VisualBasicTest/PopulateSwitch/PopulateSwitchStatementTests_FixAllTests.vb
  src/Features/CSharp/Portable/PopulateSwitch/CSharpPopulateSwitchExpressionCodeFixProvider.cs
  src/Features/CSharp/Portable/PopulateSwitch/CSharpPopulateSwitchExpressionDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/PopulateSwitch/CSharpPopulateSwitchStatementCodeFixProvider.cs
  src/Features/CSharp/Portable/PopulateSwitch/CSharpPopulateSwitchStatementDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/PopulateSwitch/AbstractPopulateSwitchCodeFixProvider.cs
  src/Features/Core/Portable/PopulateSwitch/AbstractPopulateSwitchDiagnosticAnalyzer.cs
  src/Features/Core/Portable/PopulateSwitch/AbstractPopulateSwitchExpressionCodeFixProvider.cs
  src/Features/Core/Portable/PopulateSwitch/AbstractPopulateSwitchExpressionDiagnosticAnalyzer.cs
  src/Features/Core/Portable/PopulateSwitch/AbstractPopulateSwitchStatementCodeFixProvider.cs
  src/Features/Core/Portable/PopulateSwitch/AbstractPopulateSwitchStatementDiagnosticAnalyzer.cs
  src/Features/Core/Portable/PopulateSwitch/PopulateSwitchExpressionHelpers.cs
  src/Features/Core/Portable/PopulateSwitch/PopulateSwitchStatementHelpers.cs
  src/Features/VisualBasic/Portable/PopulateSwitch/VisualBasicPopulateSwitchStatementCodeFixProvider.vb
  src/Features/VisualBasic/Portable/PopulateSwitch/VisualBasicPopulateSwitchStatementDiagnosticAnalyzer.vb
  src/Workspaces/CSharp/Portable/Extensions/SeparatedSyntaxListExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE, Community

#40191 Fix control flow analysis for local functions
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IBranchOperation.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/LocalFunctions.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
Labels: Area-Compilers

#40089 Diagnose parsing precedence inversions with left operand that do not end in an expression
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#40432 Validate that nodes from UsingTree/UsingNode are consumed
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AwaitParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ScriptParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
Labels: Area-Compilers, Concept-Design Debt, Test

#40450 Pass a default value for the parameterList in SyntaxFactory.ParenthesizedLambdaExpression(SyntaxNode)
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxFactoryTests.cs
Labels: Area-Compilers, Bug

#39556 Support nullability codefix for default, ternary, conditional expressions
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Labels: Area-IDE, Community

#40077 Improve performance of introduce-var refactoring
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceField.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.AbstractIntroduceVariableCodeAction.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.cs
  src/Features/VisualBasic/Portable/IntroduceVariable/VisualBasicIntroduceVariableService_IntroduceField.vb
Labels: Area-IDE, Community

#40426 Fix statement attribute parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
Labels: Area-Compilers

#40150 Unify the pattern used to run a feature in OOP
  src/EditorFeatures/Core.Wpf/SymbolSearch/SymbolSearchUpdateEngineFactory.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/AddImport/Remote/AbstractAddImportFeatureService_Remote.cs
  src/Features/Core/Portable/AddImport/SymbolReferenceFinder_PackageAssemblySearch.cs
  src/Features/Core/Portable/AddImport/SymbolResult.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Features/Core/Portable/DesignerAttributes/AbstractDesignerAttributeService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/DocumentHighlighting/AbstractDocumentHighlightsService.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.Remote.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/TodoComments/AbstractTodoCommentService.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/CodeLensCallbackListener.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/RemoteCodeLensReferencesService.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/LanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcClient.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcConnection.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientFactory.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.SolutionChecksumUpdater.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostCrashInfoBar.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.ConnectionManager.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.Connections.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/LanguageServiceTests.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/OptionPages/PerformanceLoggersPage.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingKeepAliveSessionWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingRemoteHostClientWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingWorkspaceExtensions.cs
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder_AllDeclarations.cs
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder_SourceDeclarations.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_FindLiteralReferences.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_FindReferences_Current.cs
  src/Workspaces/Core/Portable/Remote/IRemoteHostClientFactory.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClientExtensions.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostSessionHelpers.cs
  src/Workspaces/Core/Portable/SymbolSearch/ISymbolSearchService.cs
Labels: Area-IDE

#40070 Add feature to simplify interpolation expressions when possible
  src/EditorFeatures/CSharpTest/SimplifyInterpolation/SimplifyInterpolationTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/Features/CSharp/Portable/SimplifyInterpolation/CSharpSimplifyInterpolationCodeFixProvider.cs
  src/Features/CSharp/Portable/SimplifyInterpolation/CSharpSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/SimplifyInterpolation/AbstractSimplifyInterpolationCodeFixProvider.cs
  src/Features/Core/Portable/SimplifyInterpolation/AbstractSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Features/Core/Portable/SimplifyInterpolation/Helpers.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/SimplifyInterpolation/VisualBasicSimplifyInterpolationCodeFixProvider.vb
  src/Features/VisualBasic/Portable/SimplifyInterpolation/VisualBasicSimplifyInterpolationDiagnosticAnalyzer.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/Core/Test/Options/BasicEditorConfigGeneratorTests.vb
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/TextSpanExtensions.cs
  src/Workspaces/CoreTest/Shared/Extensions/TextSpanExtensions/SubtractTests.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, Community, Feature Request

#40465 Give errors on implicit conversions to 'void'
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers

#40479 Use a temp when a local or parameter is ref/in/out in pattern input
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
Labels: Area-Compilers

#40484 Remove null from Diagnostic.Arguments
  .vscode/tasks.json
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.DiagnosticWithProgrammaticSuppression.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticInfo.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticWithInfo.cs
Labels: Area-Compilers

#40504 Add missing back compat overload
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
Labels: Area-Analyzers, Area-Compilers

#40222 Fix nullable annotations for ValueSource
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/Core.Wpf/Preview/PreviewFactoryService.cs
  src/EditorFeatures/Core.Wpf/Structure/BlockContextProvider.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/ModelComputation.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Session.cs
  src/EditorFeatures/TestUtilities/InProcRemoteHostClientFactory.cs
  src/Features/CSharp/Portable/CodeFixes/Async/CSharpAddAwaitCodeFixProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexEmbeddedCompletionProvider.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoService.cs
  src/Features/Core/Portable/Workspace/ProjectCacheService.cs
  src/Features/VisualBasic/Portable/CodeFixes/Async/VisualBasicAddAwaitCodeFixProvider.vb
  src/VisualStudio/CSharp/Impl/EventHookup/EventHookupSessionManager_EventHookupSession.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.MetadataCache.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.RecoverableMetadataValueSource.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/Workspaces/Core/Portable/ExtensionManager/IExtensionManagerExtensions.cs
  src/Workspaces/Core/Portable/Remote/DefaultRemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/SemanticModelWorkspaceService/SemanticModelWorkspaceServiceFactory.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/Core/Portable/Utilities/AsyncLazy`1.cs
  src/Workspaces/Core/Portable/Utilities/SpecializedTasks.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/CachedWeakValueSource.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/ValueSource.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/WeakConstantValueSource.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/WeakValueSource.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/WeaklyCachedRecoverableValueSource.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/WeaklyCachedValueSource.cs
  src/Workspaces/Core/Portable/Workspace/Host/Caching/IProjectCacheService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/NoOpPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.AbstractRecoverableSyntaxRoot.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/RecoverableTextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.State.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE

#40521 Assert that ParsingTests.N nodes are not missing, fix up tests that didn't assume this.
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AwaitParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CrefParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NullableParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ScriptParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/SeparatedSyntaxListParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/SuppressNullableWarningExpressionParsingTests.cs
Labels: Area-Compilers, Test, auto-merge

#40488 Remove CompilationWithAnalyzers.IsDiagnosticAnalyzerSuppressed checks…
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
Labels: Area-IDE

#40534 Do not include binding cache in BoundLambda
  src/Compilers/CSharp/Portable/Binder/Binder.QueryUnboundLambdaState.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Query.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionPerfTests.cs
Labels: Area-Compilers

#40284 Fix extract local function bugs
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractLocalFunctionTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.ExpressionCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.MultipleStatementsCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.SingleStatementCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.CodeGenerator.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.VisualBasicCodeGenerator.ExpressionCodeGenerator.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.VisualBasicCodeGenerator.MultipleStatementsCodeGenerator.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.VisualBasicCodeGenerator.SingleStatementCodeGenerator.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.VisualBasicCodeGenerator.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
  src/Workspaces/Core/Portable/CodeGeneration/CodeGenerationOptions.cs
Labels: Area-IDE

#40556 Don't allow named arguments for implicit indexers
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
Labels: Area-Compilers, Community

#40542 Fix NRE during InteractiveWindow disposal
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteService.cs
Labels: Area-IDE

#40535 Extract 'use var' from 'simplify type names'
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/Features/CSharp/Portable/SimplifyTypeNames/SimplifyTypeNamesCodeFixProvider.cs
  src/Features/CSharp/Portable/TypeStyle/UseExplicitTypeCodeFixProvider.cs
  src/Features/Core/Portable/SimplifyTypeNames/AbstractSimplifyTypeNamesCodeFixProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/AbstractCSharpReducer.AbstractReductionRewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpVarReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpVarReducer.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpTypeStyleHelper.State.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpTypeStyleHelper.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseExplicitTypeHelper.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseImplicitTypeHelper.cs
  src/Workspaces/Core/Portable/Simplification/AbstractReducer.cs
  src/Workspaces/Core/Portable/Simplification/AbstractSimplificationService.cs
Labels: Area-IDE, Community

#40018 Fix move to namespace refactoring
  src/EditorFeatures/CSharpTest/MoveToNamespace/MoveToNamespaceTests.cs
  src/EditorFeatures/TestUtilities/MoveToNamespace/AbstractMoveToNamespaceTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/SyncNamespace/CSharpChangeNamespaceService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/MoveToNamespace/AbstractMoveToNamespaceService.cs
  src/Workspaces/CoreTestUtilities/MEF/ExportProviderCache.cs
Labels: Area-IDE

#40441 Fix for introduce local variable bugs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.cs
  src/Features/VisualBasic/Portable/IntroduceVariable/VisualBasicIntroduceVariableService.vb
Labels: Area-IDE

#40662 Add issue links to issue likely to be hit when porting compiler to core 3.
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
Labels: Area-Compilers, Concept-Determinism

#40661 Clean up some dead comments.
  src/Compilers/CSharp/Portable/Binder/TypeofBinder.cs
Labels: Area-Compilers

#40410 Simplify recent code with indexing operator
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAwaitHighlighter.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-IDE

#40419 Avoid boxing and closures
  src/Workspaces/Core/Portable/Shared/TestHooks/TaskExtensions.cs
  src/Workspaces/Core/Portable/Utilities/EventMap.cs
  src/Workspaces/Core/Portable/Utilities/SimpleTaskQueue.cs
  src/Workspaces/Core/Portable/Utilities/TaskExtensions.cs
Labels: Area-IDE

#39393 Fix switch expression conversion creates broken code due to unspecific var return
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseImplicitTypeHelper.cs
Labels: Area-IDE
