Repository dotnet/roslyn, pull requests merged in 2019-07, with the labels that each got.

#36712 Enable tests for fixed scenarios on Mono.
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, New Language Feature - Default Interface Impl, Test

#36567 Make metadata properties more efficient
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/Workspaces/Core/Portable/Utilities/IDictionaryExtensions.cs
Labels: Area-IDE, Community

#36811 Update VS editor SDK version
  eng/Versions.props
Labels: Area-Infrastructure

#36754 Use toolset version from Arcade
  .editorconfig
  eng/Versions.props
Labels: Area-Compilers, Area-Infrastructure

#36709 Make IRecursivePatternOperation public
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIsPatternExpression.cs
  src/Compilers/Core/Portable/Operations/IPropertySubpatternOperation.cs
  src/Compilers/Core/Portable/Operations/IRecursivePatternOperation.cs
  src/Compilers/Core/Portable/Operations/OperationKind.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/ControlFlowGraphVerifier.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#36813 EE formatters for IntPtr and UIntPtr
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/CSharpResultProviderTestBase.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ExpansionTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/MemberExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Formatter.Values.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/TypeHelpers.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ExpansionTests.vb
Labels: Interactive-Debugging

#36905 Revert "Fix couple of false positives in unused parameter analyzer"
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.vb
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
Labels: Area-Infrastructure

#36898 Consistently name C#/VB editors
  src/VisualStudio/CSharp/Impl/CSharpPackageRegistration.pkgdef
  src/VisualStudio/CSharp/Impl/VSPackage.resx
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/VSPackage.resx
  src/VisualStudio/VisualBasic/Impl/VisualBasicPackageRegistration.pkgdef
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.cs.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.es.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.fr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.it.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.ja.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.ko.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.pl.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.ru.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.tr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/VSPackage.zh-Hant.xlf
Labels: Area-IDE, Community

#36916 Add liveshare local forwarders for C#_LSP content type
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteBlockStructureService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteBraceCompletionService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteDocumentDifferenceService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteLineSeparatorService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteRenameTrackingLanguageHeuristicsService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteSyntaxFactsService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteSyntaxTreeFactoryService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Comments/CSharpRemoteCommentSelectionService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Comments/CSharpRemoteDocumentationCommentFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Comments/VBRemoteCommentSelectionService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Comments/VBRemoteDocumentationCommentFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Debugging/CSharpRemoteBreakpointService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Debugging/CSharpRemoteDebugInfoService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Debugging/VBRemoteBreakpointService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Debugging/VBRemoteDebugInfoService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/CSharpRemoteEditorFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/CSharpRemoteFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/CSharpRemoteIndentationService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/CSharpRemoteSyntaxFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/VBRemoteEditorFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/VBRemoteFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/VBRemoteIndentationService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/VBRemoteSyntaxFormattingService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteBlockStructureService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteBraceCompletionService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteDocumentDifferenceService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteLineSeparatorService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteRenameTrackingLanguageHeuristicsService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteSyntaxFactsService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteSyntaxTreeFactoryService.cs
Labels: Area-IDE

#36896 Enable nullable for BoundNodes
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#36493 Preserve local function preceding whitespace for Issue #35489
  src/EditorFeatures/CSharpTest/MakeLocalFunctionStatic/MakeLocalFunctionStaticTests.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/ElasticTriviaFormattingRule.cs
Labels: Area-IDE, Community

#33989 Merge all indentation related code into one service.
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/CSharp/Formatting/Indentation/SmartTokenFormatterCommandHandler.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/CSharpFormatterTestsBase.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterEnterOnTokenTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartTokenFormatterFormatRangeTests.cs
  src/EditorFeatures/Core/Implementation/Formatting/Indentation/AbstractSmartTokenFormatterCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Formatting/Indentation/WhitespaceExtensions.cs
  src/EditorFeatures/Core/Implementation/SmartIndent/SmartIndent.cs
  src/EditorFeatures/TestUtilities/Formatting/CoreFormatterTestsBase.cs
  src/EditorFeatures/VisualBasic/Formatting/Indentation/SmartTokenFormatterCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartIndenterTests.vb
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartTokenFormatter_FormatTokenTests.vb
  src/EditorFeatures/VisualBasicTest/Formatting/VisualBasicFormatterTestBase.vb
  src/Tools/ExternalAccess/FSharp/Internal/Editor/FSharpSynchronousIndentationService.cs
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.Indenter.cs
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.cs
  src/Workspaces/Core/Portable/Indentation/AbstractIndentationService.AbstractIndenter.cs
  src/Workspaces/Core/Portable/Indentation/AbstractIndentationService.cs
  src/Workspaces/Core/Portable/Indentation/IIndentationService.cs
  src/Workspaces/VisualBasic/Portable/Indentation/VisualBasicIndentationService.Indenter.vb
  src/Workspaces/VisualBasic/Portable/Indentation/VisualBasicIndentationService.vb
Labels: Area-IDE, Community

#36940 Hang on applying code action on a single unopened file
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core/Implementation/CodeActions/CodeActionEditHandlerService.cs
  src/EditorFeatures/Core/Implementation/CodeRefactorings/ICodeActionEditHandlerService.cs
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
  src/VisualStudio/Core/Def/Implementation/TableDataSource/Suppression/VisualStudioSuppressionFixService.cs
Labels: Bug, Tenet-Reliability

#36939 Update .NET Core SDK Url in build on Windows instructions
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-Infrastructure

#36935 Unskip BasicEditAndContinue Tests
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicEditAndContinue.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
Labels: Area-Infrastructure, Integration-Test

#36864 use JTF to avoid hang on OperationProgress API
  src/EditorFeatures/CSharp/ChangeSignature/CSharpChangeSignatureCommandHandler.cs
  src/EditorFeatures/CSharp/EncapsulateField/EncapsulateFieldCommandHandler.cs
  src/EditorFeatures/CSharp/ExtractMethod/ExtractMethodCommandHandler.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/RemoveParametersTests.cs
  src/EditorFeatures/CSharpTest/EncapsulateField/EncapsulateFieldCommandHandlerTests.cs
  src/EditorFeatures/CSharpTest/EncapsulateField/EncapsulateFieldTestState.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/MiscTests.cs
  src/EditorFeatures/CSharpTest/Organizing/OrganizeTypeDeclarationTests.cs
  src/EditorFeatures/Core.Wpf/InlineRename/CommandHandlers/RenameCommandHandler.cs
  src/EditorFeatures/Core.Wpf/InlineRename/CommandHandlers/RenameCommandHandler_RenameHandler.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Searcher.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/GoToImplementation/GoToImplementationCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ChangeSignature/AbstractChangeSignatureCommandHandler.cs
  src/EditorFeatures/Core/Implementation/EncapsulateField/AbstractEncapsulateFieldCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ExtractInterface/AbstractExtractInterfaceCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/AbstractExtractMethodCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Organizing/OrganizeDocumentCommandHandler.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextSnapshotExtensions.cs
  src/EditorFeatures/Test2/Rename/RenameCommandHandlerTests.vb
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
  src/EditorFeatures/VisualBasic/ChangeSignature/VisualBasicChangeSignatureCommandHandler.vb
  src/EditorFeatures/VisualBasic/EncapsulateField/EncapsulateFieldCommandHandler.vb
  src/EditorFeatures/VisualBasic/ExtractMethod/ExtractMethodCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/RemoveParametersTests.vb
  src/EditorFeatures/VisualBasicTest/EncapsulateField/EncapsulateFieldCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/EncapsulateField/EncapsulateFieldTestState.vb
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.LanguageInteraction.vb
  src/EditorFeatures/VisualBasicTest/Organizing/OrganizeTypeDeclarationTests.vb
  src/VisualStudio/Core/Def/Implementation/CallHierarchy/CallHierarchyCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/Library/ClassView/AbstractSyncClassViewCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioWorkspaceStatusServiceFactory.cs
  src/VisualStudio/TestUtilities2/CallHierarchy/CallHierarchyTestState.vb
  src/Workspaces/Core/Portable/Workspace/Host/Status/IWorkspaceStatusService.cs
Labels: Area-IDE

#36924 Require System.Index/Range to be present to offer to use the new language features.
  src/EditorFeatures/CSharpTest/UseIndexOrRangeOperator/UseIndexOperatorTests.cs
  src/EditorFeatures/CSharpTest/UseIndexOrRangeOperator/UseRangeOperatorTests.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.InfoCache.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/CSharpUseRangeOperatorCodeFixProvider.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.InfoCache.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/UseIndexOrRangeOperator/Helpers.cs
Labels: Area-IDE, Community

#36098 made error and todo list initialization lazy
  src/EditorFeatures/CSharpTest/TodoComment/TodoCommentTests.cs
  src/EditorFeatures/Core/Implementation/TodoComment/TodoCommentIncrementalAnalyzer.cs
  src/EditorFeatures/Core/Implementation/TodoComment/TodoCommentIncrementalAnalyzerProvider.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueDiagnosticUpdateSourceTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/DiagnosticTaggerWrapper.cs
  src/EditorFeatures/VisualBasicTest/TodoComment/TodoCommentTests.vb
  src/Features/Core/Portable/Diagnostics/DiagnosticService.cs
  src/Features/Core/Portable/SolutionCrawler/HostSolutionCrawlerWorkspaceEventListener.cs
  src/Features/Core/Portable/SolutionCrawler/MiscSolutionCrawlerWorkspaceEventListener.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerRegistrationService.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.IncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/VisualStudio/CSharp/Test/CodeModel/VisualStudioTestExportProvider.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractPackage`2.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.WorkspaceEventListener.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/DiagnosticTableControlEventProcessorProvider.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/MiscDiagnosticTableControlEventProcessorProvider.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/MiscTodoListTableControlEventProcessorProvider.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/MiscellaneousDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/MiscellaneousTodoListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/Suppression/VisualStudioSuppressionFixService.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/TodoListTableControlEventProcessorProvider.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseTodoListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioTodoListTable.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/HostDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProjectFactory.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/TodoListTableDataSourceTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioAnalyzerTests.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
  src/VisualStudio/TestUtilities2/VisualStudioTestExportProvider.vb
  src/Workspaces/Core/Portable/SolutionCrawler/IncrementalAnalyzerProviderMetadata.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/EventListenerMetadata.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/EventListenerTracker.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/ExportEventListenerAttribute.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/IEventListener.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/IEventListenerStoppable.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/IEventListener`1.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/IWorkspaceEventListenerProvider.cs
  src/Workspaces/Core/Portable/Workspace/Host/EventListener/WellKnownEventListeners.cs
  src/Workspaces/Core/Portable/Workspace/Host/Mef/WorkspaceKindMetadata.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Events.cs
Labels: Area-IDE, Needs Shiproom Approval

#36903 Don't lose tree DiganosticOptions when we recover or replace a tree
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/ISyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxTreeFactoryService.vb
Labels: Approved to merge, Area-IDE

#36959 Port new liveshare changes to roslyn.
  src/Tools/ExternalAccess/LiveShare/HostLanguageServicesExtensions.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/Formatting/CSharpRemoteIndentationService.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.cs
  src/VisualStudio/LiveShare/Impl/FindAllReferencesHandler.cs
  src/VisualStudio/LiveShare/Impl/GoToDefintionWithFarHandler.cs
  src/VisualStudio/LiveShare/Impl/LiveShareConstants.cs
  src/VisualStudio/LiveShare/Impl/Microsoft.VisualStudio.LanguageServices.LiveShare.csproj
  src/VisualStudio/LiveShare/Impl/Shims/GoToDefinitionHandlerShim.cs
Labels: Area-IDE

#36832 Nullchecked Lambdas and Local Functions + Constructor Tests
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullChecking.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter_NullChecking.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCheckedParameterTests.cs
Labels: Area-Compilers

#36219 Use pattern-matching in MetadataWriter for readability and possibly performance.
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
Labels: Area-Compilers, Urgency-Low

#36994 Make Field Readonly - Keep leading trivia
  src/EditorFeatures/CSharpTest/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/EditorFeatures/VisualBasicTest/MakeFieldReadonly/MakeFieldReadonlyTests.vb
  src/Features/Core/Portable/MakeFieldReadonly/AbstractMakeFieldReadonlyCodeFixProvider.cs
Labels: Area-IDE, Community

#37020 Optimize flow analysis
  eng/targets/VisualStudio.targets
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-Infrastructure

#36996 Update liveshare diagnostic list table to use new constructor.
  src/Tools/ExternalAccess/LiveShare/RemoteDiagnosticListTable.cs
Labels: Area-IDE

#32943 Small amounts of cleanup
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
Labels: Area-IDE, Community, Concept-Continuous Improvement

#36973 Workaround IExperimentationService having a UI thread dependency
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
Labels: Approved to merge, Area-IDE

#36879 Move refactorings to new set of helpers
  src/EditorFeatures/CSharpTest/CodeActions/LambdaSimplifier/LambdaSimplifierTests.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/UseImplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/ConvertAnonymousTypeToClass/ConvertAnonymousTypeToClassTests.cs
  src/EditorFeatures/CSharpTest/ConvertAutoPropertyToFullProperty/ConvertAutoPropertyToFullPropertyTests.cs
  src/EditorFeatures/CSharpTest/PullMemberUp/CSharpPullMemberUpTests.cs
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/EditorFeatures/TestUtilities/RefactoringHelpers/RefactoringHelpersTestBase.cs
  src/EditorFeatures/TestUtilities/TypeInferrer/TypeInferrerTestBase.cs
  src/Features/CSharp/Portable/CodeRefactorings/LambdaSimplifier/LambdaSimplifierCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertAutoPropertyToFullProperty/CSharpConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/IRefactoringHelpersService.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertAutoPropertyToFullProperty/AbstractConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ConvertAutoPropertyToFullProperty/VisualBasicConvertAutoPropertyToFullProperty.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#37019 Avoid generating or emitting NullablePublicOnlyAttribute when no other nullable attributes are emitted
  src/Compilers/CSharp/Portable/Emitter/Model/PEAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_NullablePublicOnly.cs
Labels: Area-Compilers

#36982 Fix Solution.WithDocumentFilePath not updating the file path of the tree
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Area-IDE

#36914 Add cache to target-typed completion
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
Labels: Area-IDE

#37057 Ensure we have stack spilling support for the recently-added expression node `BoundReadOnlySpanFromArray`
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
Labels: Area-Compilers, New Language Feature - Stackalloc initializers

#36681 C# SymbolMatcher tests for nullables
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/SymbolMatcherTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, Test

#36770 Editing tests for support nullable in ENC
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
Labels: Interactive-EnC, New Language Feature - Nullable Reference Types, Test

#37042 Remark about F# not supported
  src/Compilers/Core/Portable/Symbols/LanguageNames.cs
Labels: Area-Compilers, Community, Documentation

#37083 Enable EnC tests on Core
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers, Interactive-EnC, Test

#34001 No blank line indentation
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.StringSplitter.cs
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterEnterOnTokenTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterTests.cs
  src/EditorFeatures/Core/Implementation/SmartIndent/SmartIndent.cs
  src/EditorFeatures/Core/Wrapping/AbstractCodeActionComputer.cs
  src/EditorFeatures/TestUtilities/Formatting/CoreFormatterTestsBase.cs
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartIndenterTests.vb
  src/EditorFeatures/VisualBasicTest/Formatting/Indentation/SmartTokenFormatter_FormatTokenTests.vb
  src/Tools/ExternalAccess/FSharp/Internal/Editor/FSharpSynchronousIndentationService.cs
  src/Workspaces/Core/Portable/Indentation/AbstractIndentationService.cs
  src/Workspaces/Core/Portable/Indentation/IIndentationService.cs
  src/Workspaces/VisualBasic/Portable/Indentation/VisualBasicIndentationService.Indenter.vb
  src/Workspaces/VisualBasic/Portable/Indentation/VisualBasicIndentationService.vb
Labels: Area-IDE, Community

#37085 Show suppression fixes in the light bulb under the squiggle/faded dia…
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
Labels: Area-IDE

#31951 Add new refactoring feature to wrap chains of fluent calls.
  src/EditorFeatures/CSharp/Wrapping/CSharpWrappingCodeRefactoringProvider.cs
  src/EditorFeatures/CSharp/Wrapping/ChainedExpression/CSharpChainedExpressionWrapper.cs
  src/EditorFeatures/CSharpTest/Wrapping/BinaryExpressionWrappingTests.cs
  src/EditorFeatures/CSharpTest/Wrapping/ChainedExpressionWrappingTests.cs
  src/EditorFeatures/Core/Wrapping/BinaryExpression/BinaryExpressionCodeActionComputer.cs
  src/EditorFeatures/Core/Wrapping/ChainedExpression/AbstractChainedExpressionWrapper.cs
  src/EditorFeatures/Core/Wrapping/ChainedExpression/ChainedExpressionCodeActionComputer.cs
  src/EditorFeatures/Core/Wrapping/SeparatedSyntaxList/SeparatedSyntaxListCodeActionComputer.cs
  src/EditorFeatures/VisualBasic/Wrapping/ChainedExpression/VisualBasicChainedExpressionWrapper.vb
  src/EditorFeatures/VisualBasic/Wrapping/VisualBasicWrappingCodeRefactoringProvider.vb
  src/EditorFeatures/VisualBasicTest/Wrapping/BinaryExpressionWrappingTests.vb
  src/EditorFeatures/VisualBasicTest/Wrapping/ChainedExpressionWrappingTests.vb
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxKindsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxKindsServiceFactory.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsServiceExtensions.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxKindsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsServiceFactory.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxKindsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxKindsServiceFactory.vb
Labels: Area-IDE, Community, Feature Request

#36975 Add nullability information to GetSymbolInfo for invocations.
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/NullabilityRewriter.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.SnapshotManager.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#37112 Tweak error message for publish failure
  eng/publish-assets.ps1
Labels: Area-Infrastructure

#37066 Completion should select IntelliCode item when possible
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Intellisense/ModernCompletionTestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestStateBase.vb
Labels: IDE-IntelliSense

#37117 Remove reflection based workaround for IRecursivePatternOperation
  src/Workspaces/Core/Portable/Extensions/OperationExtensions.cs
Labels: Area-IDE

#36395 Don't show full attribute type name if in attribute name context
  src/Compilers/Core/Portable/InternalUtilities/StringExtensions.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/CSharpTypeImportCompletionServiceFactory.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/TypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService_CacheService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ITypeImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/TypeImportCompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/TypeImportCompletionService.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/BasicTypeImportCompletionServiceFactory.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/TypeImportCompletionProvider.vb
Labels: Area-IDE, IDE-IntelliSense

#37133 Try task.logissue to get error message to show in build summary
  eng/publish-assets.ps1
Labels: Area-Infrastructure

#37022 Fix crash in semantic model when using unmanaged constraint
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NameOfTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
Labels: Area-Compilers

#36976 Add netstandard to the exclusion list for the AnalyzerConsistencyChecker
  src/Compilers/Server/VBCSCompiler/AnalyzerConsistencyChecker.cs
  src/Compilers/Server/VBCSCompilerTests/AnalyzerConsistencyCheckerTests.cs
Labels: Area-Compilers

#36956 Update to System.Memory 4.5.3
  eng/Versions.props
Labels: Area-Infrastructure

#36965 Add nullable annotations to parts of the Workspace API
  src/CodeStyle/Core/Analyzers/Microsoft.CodeAnalysis.CodeStyle.csproj
  src/Interactive/Host/Microsoft.CodeAnalysis.InteractiveHost.csproj
  src/Workspaces/Core/Portable/Utilities/Contract.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NullableAttributes.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostLanguageServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostWorkspaceServices.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Area-IDE

#37025 EnC emit tests for C# 8.0 patterns
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
Labels: Area-Compilers, Interactive-EnC, Test

#37053 Use switch expressions to simplify GetAccessibilityAndModifiers
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
Labels: Area-IDE

#37048 Add nullability parameters to Compilation.Create*Type()
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_NullablePublicOnly.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.Designer.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/AnonymousTypeDescriptor.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#37186 Full-ngen ResultProvider
  src/ExpressionEvaluator/Core/Source/ResultProvider/NetFX20/ResultProvider.NetFX20.csproj
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/Microsoft.CodeAnalysis.ResultProvider.csproj
Labels: Area-Infrastructure

#37158 Rename TypeArgumentsNullableAnnotations to TypeArgumentNullableAnnotations
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedMethodSymbol.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Workspaces/CSharp/Portable/Extensions/ITypeSymbolExtensions.TypeSyntaxGeneratorVisitor.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationConstructedNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.SubstituteTypesVisitor.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NamedTypeSymbolWithNullableAnnotation.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#37072 Move refactorings to common helpers
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLocalFunctionToMethod/ConvertLocalFunctionToMethodTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/EditorFeatures/CSharpTest/PullMemberUp/CSharpPullMemberUpTests.cs
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/EditorFeatures/CSharpTest/UseNamedArguments/UseNamedArgumentsTests.cs
  src/EditorFeatures/VisualBasicTest/RefactoringHelpers/RefactoringHelpersTests.vb
  src/Features/CSharp/Portable/CodeRefactorings/CSharpRefactoringHelpersService.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertNumericLiteral/CSharpConvertNumericLiteralCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ReplaceMethodWithProperty/CSharpReplaceMethodWithPropertyService.cs
  src/Features/CSharp/Portable/ReplacePropertyWithMethods/CSharpReplacePropertyWithMethodsService.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/ConvertNumericLiteral/AbstractConvertNumericLiteralCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/AbstractReplaceMethodWithPropertyService.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/IReplaceMethodWithPropertyService.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/ReplaceMethodWithPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/AbstractReplacePropertyWithMethodsService.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/IReplacePropertyWithMethodsService.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/ReplacePropertyWithMethodsCodeRefactoringProvider.cs
  src/Features/Core/Portable/UseNamedArguments/AbstractUseNamedArgumentsCodeRefactoringProvider.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/VisualBasicRefactoringHelpersService.vb
  src/Features/VisualBasic/Portable/ConvertNumericLiteral/VisualBasicConvertNumericLiteralCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/ReplaceMethodWithProperty/VisualBasicReplaceMethodWithPropertyService.vb
  src/Features/VisualBasic/Portable/ReplacePropertyWithMethods/VisualBasicReplacePropertyWithMethods.ConvertValueToParamRewriter.vb
  src/Features/VisualBasic/Portable/ReplacePropertyWithMethods/VisualBasicReplacePropertyWithMethods.ConvertValueToReturnsRewriter.vb
  src/Features/VisualBasic/Portable/ReplacePropertyWithMethods/VisualBasicReplacePropertyWithMethods.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#36936 Completion timebox
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ITypeImportCompletionService.cs
Labels: Area-IDE

#37192 Remove support for '#pragma warning enable' directive (take 2)
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpPragmaWarningStateMap.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
Labels: Area-Compilers

#29167 Address test plan for target-typed new
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Query.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/AnalyzedArguments.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/BuiltInOperators.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleEqualityTests.cs
  src/Compilers/CSharp/Test/Semantic/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedDefaultTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedNewTests.cs
Labels: Area-Compilers, Community, New Language Feature - Target-Typed New

#36895 Fix typo in EmitStreamSignKind
  src/Compilers/Core/Portable/Compilation.EmitStream.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
Labels: Area-Compilers, Community

#37202 Fix parsing for double-slash langver
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineParser.cs
Labels: Area-Compilers

#35006 Avoid boxing in string concatenation
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringConcat.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStringConcat.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTryFinally.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/WinRT/CodeGen/WinRTCollectionTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
Labels: Area-Compilers, Community

#37194 Check for implicit 'this' copy when binding pattern indexers
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
Labels: Area-Compilers

#36890 Expand introduced using statement to include encompassed locals
  src/EditorFeatures/CSharpTest/IntroduceUsingStatement/IntroduceUsingStatementTests.cs
  src/EditorFeatures/VisualBasicTest/IntroduceUsingStatement/IntroduceUsingStatementTests.vb
  src/Features/Core/Portable/IntroduceUsingStatement/AbstractIntroduceUsingStatementCodeRefactoringProvider.cs
Labels: Area-IDE

#37115 EnC support for DIM
  eng/Versions.props
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/Helpers/CSharpEditAndContinueTestHelpers.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/Helpers/Extensions.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
  src/Test/Utilities/Portable/Mocks/TestReferences.cs
  src/Test/Utilities/Portable/TargetFrameworkUtil.cs
Labels: Interactive-EnC

#35710 Warn on implicit copies for event assignment within readonly members
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ReadOnlyStructsTests.cs
Labels: Area-Compilers

#37244 Add MaxLangVersion
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
Labels: Area-Compilers, Area-IDE

#37036 Fix significant wrong translation in CodeStyle.Resources.zh-Hans.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.zh-Hans.xlf
Labels: Area-IDE, Community

#37207 Use pattern matching in a few more places.
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockSymbolTests.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/PDB/PdbHelpers.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ObjectInitializerCompletionProvider.cs
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ParameterSymbolReferenceFinder.cs
Labels: Area-IDE, Community

#36907 Fix NullableAttribute.Flags->NullableFlags in docs
  docs/features/nullable-metadata.md
Labels: Area-Compilers, Community

#37239 Fix EnC debug information emitted for patterns
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpLambdaSyntaxFacts.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaUtilities.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EncVariableSlotAllocator.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/LambdaSyntaxFacts.cs
  src/Compilers/VisualBasic/Portable/Emit/EditAndContinue/VisualBasicLambdaSyntaxFacts.vb
Labels: Area-Compilers

#37017 Add initial nullable context api definitions
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/NullableContextOptions.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableContextTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
  src/Compilers/Core/CodeAnalysisTest/CommonCompilationOptionsTests.cs
  src/Compilers/Core/Portable/Compilation/CompilationOptions.cs
  src/Compilers/Core/Portable/Compilation/NullableContext.cs
  src/Compilers/Core/Portable/Compilation/NullableContextOptions.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Compilation/SemanticModel.vb
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/VisualBasicCompilationOptions.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/VisualBasicCompilationOptionsTests.vb
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
Labels: Area-Compilers

#37271 Add INamedType.Construct overload with nullable annotations
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NamedTypeSymbolWithNullableAnnotation.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#37263 Add feature to introduce a local variable immediately after writing its initializer.
  src/EditorFeatures/CSharpTest/IntroduceVariable/IntroduceLocalForExpressionTests.cs
  src/EditorFeatures/VisualBasicTest/IntroduceVariable/IntroduceLocalForExpressionTests.vb
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceLocalForExpressionCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringContextExtensions.cs
  src/Features/Core/Portable/IntroduceVariable/IntroduceLocalForExpressionCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/IntroduceVariable/VisualBasicIntroduceLocalForExpressionCodeRefactoringProvider.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/Core/Portable/CodeRefactorings/CodeRefactoringContext.cs
Labels: Area-IDE, Community, Feature Request

#36012 Remove the AbstractIndenter type (and subtypes).
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.Indenter.cs
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.cs
  src/Workspaces/Core/Portable/Indentation/AbstractIndentationService.AbstractIndenter.cs
  src/Workspaces/Core/Portable/Indentation/AbstractIndentationService.cs
  src/Workspaces/VisualBasic/Portable/Indentation/VisualBasicIndentationService.Indenter.vb
  src/Workspaces/VisualBasic/Portable/Indentation/VisualBasicIndentationService.vb
Labels: Area-IDE, Community

#37170 Ensure that IVsContainedLanguage.SetHost(null) won't fail a second time
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.IVsContainedLanguage.cs
Labels: Area-IDE

#37266 Add ref var decl detection for for/foreach
  src/EditorFeatures/CSharpTest2/Recommendations/VarKeywordRecommenderTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, Community

#37294 Make refactoring boilerplate more consistent.
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/LambdaSimplifier/LambdaSimplifierCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/PullMemberUp/CSharpPullMemberUpCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertLinq/CSharpConvertLinqQueryToForEachProvider.cs
  src/Features/CSharp/Portable/UseExpressionBody/UseExpressionBodyCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddFileBanner/AbstractAddFileBannerCodeRefactoringProvider.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/AddAwait/AbstractAddAwaitCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/ExtractMethod/AbstractExtractMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/MoveType/MoveTypeCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertAutoPropertyToFullProperty/AbstractConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertForEachToFor/AbstractConvertForEachToForCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertForToForEach/AbstractConvertForToForEachCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertLinq/AbstractConvertLinqQueryToForEachProvider.cs
  src/Features/Core/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConvertForEachToLinqQueryProvider.cs
  src/Features/Core/Portable/ConvertNumericLiteral/AbstractConvertNumericLiteralCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertPlaceholderToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/ConvertTupleToStruct/AbstractConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/Core/Portable/EncapsulateField/EncapsulateFieldRefactoringProvider.cs
  src/Features/Core/Portable/ExtractInterface/ExtractInterfaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateDefaultConstructors/GenerateDefaultConstructorsCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateOverrides/GenerateOverridesCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceUsingStatement/AbstractIntroduceUsingStatementCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceVariable/IntroduceVariableCodeRefactoringProvider.cs
  src/Features/Core/Portable/InvertConditional/AbstractInvertConditionalCodeRefactoringProvider.cs
  src/Features/Core/Portable/InvertIf/AbstractInvertIfCodeRefactoringProvider.cs
  src/Features/Core/Portable/InvertLogical/AbstractInvertLogicalCodeRefactoringProvider.cs
  src/Features/Core/Portable/MoveDeclarationNearReference/MoveDeclarationNearReferenceCodeRefactoringProvider.cs
  src/Features/Core/Portable/MoveToNamespace/MoveToNamespaceCodeActionProvider.cs
  src/Features/Core/Portable/NameTupleElement/AbstractNameTupleElementCodeRefactoringProvider.cs
  src/Features/Core/Portable/PullMemberUp/AbstractPullMemberUpRefactoringProvider.cs
  src/Features/Core/Portable/ReplaceDocCommentTextWithTag/AbstractReplaceDocCommentTextWithTagCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/AbstractReplaceMethodWithPropertyService.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/IReplaceMethodWithPropertyService.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/ReplaceMethodWithPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/AbstractReplacePropertyWithMethodsService.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/IReplacePropertyWithMethodsService.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/ReplacePropertyWithMethodsCodeRefactoringProvider.cs
  src/Features/Core/Portable/SplitOrMergeIfStatements/AbstractMergeIfStatementsCodeRefactoringProvider.cs
  src/Features/Core/Portable/SplitOrMergeIfStatements/AbstractSplitIfStatementCodeRefactoringProvider.cs
  src/Features/Core/Portable/UseNamedArguments/AbstractUseNamedArgumentsCodeRefactoringProvider.cs
  src/Features/Core/Portable/Wrapping/AbstractWrappingCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ReplaceMethodWithProperty/VisualBasicReplaceMethodWithPropertyService.vb
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynCodeActionProvider.cs
Labels: Area-IDE, Community

#37015 ENC editing tests for C# 8.0 pattern matching
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementMatchingTests.cs
Labels: Interactive-EnC, New Language Feature - Pattern Matching, Test

#36800 EnC support of static local functions
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
Labels: Area-Compilers, Interactive-EnC, Language-C#, New Language Feature - Local Functions, Test

#37291 Update filename to match contained type.
  src/Workspaces/Core/Portable/Indentation/AbstractIndentationService.Indenter.cs
Labels: Area-IDE, Community

#37305 Fix bad merge
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementMatchingTests.cs
Labels: Area-Infrastructure

#36979 Nullchecked Iterators + Error Messages
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullChecking.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ThisParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#37240 Add compilerNext packages to be published to myget
  eng/config/PublishData.json
Labels: Area-Infrastructure

#37248 Remove features/lspSupport from publishing to myget
  eng/config/PublishData.json
Labels: Area-Infrastructure

#37241 Prepare for compilerNext version number
  eng/Versions.props
Labels: Area-Infrastructure

#37196 Move refactorings to common helpers
  src/EditorFeatures/CSharpTest/GenerateOverrides/GenerateOverridesTests.cs
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/EditorFeatures/VisualBasicTest/ConvertAutoPropertyToFullProperty/ConvertAutoPropertyToFullPropertyTests.vb
  src/Features/CSharp/Portable/CodeRefactorings/CSharpRefactoringHelpersService.cs
  src/Features/CSharp/Portable/GenerateMember/GenerateDefaultConstructors/CSharpGenerateDefaultConstructorsService.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/IRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/MoveType/AbstractMoveTypeService.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateOverrides/GenerateOverridesCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceUsingStatement/AbstractIntroduceUsingStatementCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/VisualBasicRefactoringHelpersService.vb
  src/Features/VisualBasic/Portable/GenerateMember/GenerateDefaultConstructors/VisualBasicGenerateDefaultConstructorsService.vb
  src/Features/VisualBasic/Portable/ReplaceMethodWithProperty/VisualBasicReplaceMethodWithPropertyService.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxKindsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxKindsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxKindsService.vb
Labels: Area-IDE

#37151 Define IProjectSiteEx.SetProperty
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Interop/IProjectSiteEx.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject_IProjectSiteEx.cs
Labels: Area-IDE, Community

#37236 Syntax kinds service cleanup
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxKindsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxKindsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxKindsService.vb
Labels: Area-IDE

#37311 Consume construction with nullable in type inferrer
  src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
  src/EditorFeatures/CSharpTest/TypeInferrer/TypeInferrerTests.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationConstructedNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/Shared/Extensions/INamedTypeSymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.CompilationTypeGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.SubstituteTypesVisitor.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateEqualsMethod.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NullableExtensions.cs
Labels: Approved to merge, Area-Compilers, Area-IDE, New Language Feature - Nullable Reference Types, tell-mode

#37327 Replace ApplyPartialNgenOptimization with ApplyNgenOptimization
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.Setup.csproj
Labels: Area-Infrastructure

#37330 Fix InvalidOperationException in AbstractRemoveUnusedParametersAndVal…
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
Labels: Area-IDE

#37140 Less SymbolKey allocations.
  src/Features/Core/Portable/Completion/Providers/SymbolCompletionItem.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.DocumentLocationDefinitionItem.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceHelpers.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.cs
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AliasSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousFunctionOrDelegateSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ArrayTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AssemblySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.DynamicTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ErrorTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.EventSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.FieldSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.MethodSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ModuleSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamespaceSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PointerTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PooledArrayBuilder.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PropertySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyWriter.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TupleTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterOrdinalSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyExtensions.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyResolution.Enumeration.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyResolution.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyResolutionExtensions.cs
  src/Workspaces/CoreTest/SymbolKeyTests.cs
Labels: Area-IDE, Community

#37360 Initialize the remote workspace on the UI thread.
  src/Tools/ExternalAccess/LiveShare/RemoteLanguageServiceWorkspaceHost.cs
Labels: Area-IDE

#37378 Pr feedback
  src/Features/Core/Portable/Completion/Providers/SymbolCompletionItem.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.DocumentLocationDefinitionItem.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceHelpers.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/Shared/Collections/IntervalTree`1.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AliasSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousFunctionOrDelegateSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ArrayTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AssemblySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.DynamicTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ErrorTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.EventSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.FieldSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.MethodSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ModuleSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamespaceSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PointerTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PooledArrayBuilder.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PropertySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyWriter.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TupleTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterOrdinalSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyExtensions.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyResolution.Enumeration.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyResolution.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKeyResolutionExtensions.cs
  src/Workspaces/CoreTest/SymbolKeyTests.cs
Labels: Area-IDE, Community

#37108 Introduce CodeFixContext.IsBlocking
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/CodeFixes/ICodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/CodeRefactorings/ICodeRefactoringService.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixContext.cs
  src/Workspaces/Core/Portable/CodeRefactorings/CodeRefactoringContext.cs
Labels: Area-IDE, Community

#37373 Handle reduced extension method invocations in remove unused member a…
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedMembers/RemoveUnusedMembersTests.vb
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Area-IDE

#37298 Small cleanup.
  src/Features/CSharp/Portable/Completion/CompletionProviders/SpeculativeTCompletionProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, Community

#37283 Respect root editorconfig files when getting options for a file
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Labels: Area-Compilers, Area-IDE, tell-mode

#37351 Update the LangVersion and Nullable command line text
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
Labels: Area-Compilers, Documentation, tell-mode

#37301 Syntax factory for switch statement adds parens when needed.
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/GreenNodeTests.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/Model/TreeType.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Labels: Area-Compilers, Regression, Urgency-Soon, tell-mode

#37365 Include netstandard2.1 in the set of default C# 8 frameworks
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
Labels: Area-Compilers, tell-mode

#37149 Move GenerateConstructorFromMembers to language dependent implementations
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionTest.cs
  src/EditorFeatures/VisualBasicTest/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE

#37403 Add dotnet-format feature branch to myget publishing
  eng/config/PublishData.json
Labels: Area-Infrastructure

#36220 Remove naming styles before generating field/property/parameter in constructor related refactorings
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/NamingStylesTests.cs
  src/EditorFeatures/CSharpTest/GenerateConstructor/GenerateConstructorTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/EditorFeatures/CSharpTest/InitializeParameter/InitializeMemberFromParameterTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/NamingStyles/NamingStylesTestOptionSets.cs
  src/EditorFeatures/VisualBasicTest/GenerateConstructor/GenerateConstructorTests.vb
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.State.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.GenerateConstructorWithDialogCodeAction.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.State.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/GenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateFromMembers/AbstractGenerateFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeMemberFromParameterCodeRefactoringProviderMemberCreation.cs
  src/Features/Core/Portable/Shared/Naming/IdentifierNameParts.cs
  src/Workspaces/Core/Portable/NamingStyles/NamingStyle.cs
Labels: Area-IDE

#37416 Sort Traits.Features members alphabetically
  src/Test/Utilities/Portable/Traits/Traits.cs
Labels: Area-IDE, Community

#34384 Remove data flow analysis from convert foreach to for refactoring
  src/EditorFeatures/CSharpTest/ConvertForEachToFor/ConvertForEachToForTests.cs
  src/EditorFeatures/VisualBasicTest/ConvertForEachToFor/ConvertForEachToForTests.vb
  src/Features/CSharp/Portable/ConvertForEachToFor/CSharpConvertForEachToForCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertForEachToFor/AbstractConvertForEachToForCodeRefactoringProvider.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/ConvertForEachToFor/VisualBasicConvertForEachToForCodeRefactoringProvider.vb
Labels: Area-Compilers, Area-IDE, Community

#37426 React to Live Share Language Services API Changes
  eng/Versions.props
  src/Tools/ExternalAccess/LiveShare/Classification/RoslynClassificationService.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynCodeActionProvider.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynRemoteCodeAction.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynRemoteCodeActionOperation.cs
  src/Tools/ExternalAccess/LiveShare/Completion/RoslynCompletionProvider.cs
  src/Tools/ExternalAccess/LiveShare/Diagnostics/RoslynRemoteDiagnosticsService.cs
  src/Tools/ExternalAccess/LiveShare/GotoDefinition/RoslynGotoDefinitionService.cs
  src/Tools/ExternalAccess/LiveShare/Highlights/RoslynDocumentHighlightsService.cs
  src/Tools/ExternalAccess/LiveShare/Microsoft.CodeAnalysis.ExternalAccess.LiveShare.csproj
  src/Tools/ExternalAccess/LiveShare/Navigation/RoslynNavigationBarItemService.cs
  src/Tools/ExternalAccess/LiveShare/Projects/RoslynRemoteProjectInfoProvider.cs
  src/Tools/ExternalAccess/LiveShare/References/RoslynFindUsagesService.cs
  src/Tools/ExternalAccess/LiveShare/RoslynLSPClientService.cs
  src/Tools/ExternalAccess/LiveShare/SignatureHelp/RoslynSignatureHelpProvider.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/LiveShare/Impl/CustomProtocol/LspRequestExtensions.cs
  src/VisualStudio/LiveShare/Impl/CustomProtocol/TextDocumentParams.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.cs
  src/VisualStudio/LiveShare/Impl/FindAllReferencesHandler.cs
  src/VisualStudio/LiveShare/Impl/LSPSDKInitializeHandler.cs
  src/VisualStudio/LiveShare/Impl/LoadHandler.cs
  src/VisualStudio/LiveShare/Impl/Microsoft.VisualStudio.LanguageServices.LiveShare.csproj
  src/VisualStudio/LiveShare/Impl/ProjectsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/AbstractLiveShareHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/CodeActionsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/DocumentSymbolsHandlerShim.cs
  src/VisualStudio/LiveShare/Test/AbstractLiveShareRequestHandlerTests.cs
  src/VisualStudio/LiveShare/Test/DiagnosticsHandlerTests.cs
Labels: Area-IDE

#37396 Add CI telemetry for bootstrap build and test
  eng/build.ps1
Labels: Area-Infrastructure

#37016 IDE0066 code fix adds parentheses when needed
  src/EditorFeatures/CSharpTest/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Features/CSharp/Portable/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
Labels: Area-IDE, Community

#37445 Add IMethodSymbol.Construct overload with nullable annotations
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationConstructedMethodSymbol.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NamedTypeSymbolWithNullableAnnotation.cs
Labels: Area-Compilers, tell-mode

#37431 Use NullableAnnotation.NotAnnotated for value types
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplay.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/EventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/LocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NullableAnnotationExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, tell-mode

#37303 Analyzer driver performance fixes for IDE open file analysis
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.PerAnalyzerState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
Labels: Area-Analyzers, Area-Compilers, Tenet-Performance, tell-mode

#37459 Support local constants being captured in static local functions
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.LocalFunctions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Labels: Area-Compilers, tell-mode

#35667 Implement Quick Info styles
  src/Compilers/Core/Portable/InternalUtilities/DocumentationCommentXmlNames.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SyntacticQuickInfoSourceTests.cs
  src/EditorFeatures/Core/Implementation/DefaultNavigateToLinkService.cs
  src/EditorFeatures/Core/Implementation/INavigateToLinkService.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSourceProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Helpers.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/QuickInfoSourceProvider.QuickInfoSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/QuickInfoSourceProvider.cs
  src/EditorFeatures/Test/DocCommentFormatting/DocCommentFormattingTests.cs
  src/EditorFeatures/Test2/IntelliSense/AbstractIntellisenseQuickInfoBuilderTests.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Links.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Lists.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Styles.vb
  src/Features/CSharp/Portable/SignatureHelp/AbstractCSharpSignatureHelpProvider.cs
  src/Features/Core/Portable/Common/TaggedText.cs
  src/Features/Core/Portable/Common/TaggedTextStyle.cs
  src/Features/Core/Portable/Common/TextTags.cs
  src/Features/Core/Portable/DocumentationComments/AbstractDocumentationCommentFormattingService.cs
  src/VisualStudio/CSharp/Impl/EventHookup/EventHookupSessionManager.cs
  src/VisualStudio/CSharp/Test/EventHookup/EventHookupCommandHandlerTests.cs
  src/VisualStudio/CSharp/Test/EventHookup/EventHookupTestState.cs
  src/VisualStudio/Core/Def/Implementation/Utilities/VisualStudioNavigateToLinkService.cs
Labels: Area-IDE, Feature Request

#37452 Remove Microsoft.Tpl.Dataflow references
  eng/Versions.props
  src/VisualStudio/IntegrationTest/IntegrationTests/Microsoft.VisualStudio.LanguageServices.IntegrationTests.csproj
  src/VisualStudio/IntegrationTest/TestSetup/Microsoft.VisualStudio.IntegrationTest.Setup.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/Microsoft.VisualStudio.IntegrationTest.Utilities.csproj
Labels: Area-Infrastructure

#37466 Use AnalyzerConfigOptionsProvider when available
  src/CodeStyle/Core/Analyzers/AbstractFormattingAnalyzer.cs
  src/CodeStyle/Core/Analyzers/AnalyzerConfigCodingConventionsContext.cs
  src/CodeStyle/Core/Analyzers/AnalyzerConfigCodingConventionsManager.cs
  src/CodeStyle/Core/CodeFixes/FormattingCodeFixProvider.cs
Labels: Area-IDE

#37390 add new vs search provider to Roslyn
  eng/Versions.props
  eng/targets/GenerateServiceHubConfigurationFiles.targets
  src/EditorFeatures/TestUtilities/Remote/InProcRemostHostClient.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.Designer.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/LanguageClient/CSharpLanguageServerClient.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractLanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.Connections.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Test.Next/Services/LanguageServiceTests.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/VisualStudio/LiveShare/Impl/Microsoft.VisualStudio.LanguageServices.LiveShare.csproj
  src/VisualStudio/LiveShare/Test/Microsoft.VisualStudio.LanguageServices.LiveShare.UnitTests.csproj
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.Designer.vb
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.resx
  src/VisualStudio/VisualBasic/Impl/LanguageClient/VisualBasicLanguageServerClient.vb
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.cs.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.es.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.fr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.it.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ja.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ko.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pl.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pt-BR.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ru.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.tr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hans.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/Remote/WellKnownServiceHubServices.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute_Names.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Services/LanguageServer.cs
  src/Workspaces/Remote/ServiceHub/Shared/ServiceHubServiceBase.cs
Labels: Area-IDE

#37437 Split liveshare handlers
  src/Tools/ExternalAccess/LiveShare/Classification/RoslynClassificationService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Classification/RoslynClassificationService.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynCodeActionProvider.Exports.cs
  src/Tools/ExternalAccess/LiveShare/CodeActions/RoslynCodeActionProvider.cs
  src/Tools/ExternalAccess/LiveShare/Completion/RoslynCompletionProvider.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Completion/RoslynCompletionProvider.cs
  src/Tools/ExternalAccess/LiveShare/Diagnostics/RoslynRemoteDiagnosticsService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Diagnostics/RoslynRemoteDiagnosticsService.cs
  src/Tools/ExternalAccess/LiveShare/GotoDefinition/RoslynGotoDefinitionService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/GotoDefinition/RoslynGotoDefinitionService.cs
  src/Tools/ExternalAccess/LiveShare/Highlights/RoslynDocumentHighlightsService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Highlights/RoslynDocumentHighlightsService.cs
  src/Tools/ExternalAccess/LiveShare/Navigation/RoslynNavigationBarItemService.Exports.cs
  src/Tools/ExternalAccess/LiveShare/Navigation/RoslynNavigationBarItemService.cs
  src/Tools/ExternalAccess/LiveShare/Projects/RoslynRemoteProjectInfoProvider.cs
  src/Tools/ExternalAccess/LiveShare/References/RoslynFindUsagesService.Exports..cs
  src/Tools/ExternalAccess/LiveShare/References/RoslynFindUsagesService.cs
  src/Tools/ExternalAccess/LiveShare/RoslynLSPClientService.cs
  src/Tools/ExternalAccess/LiveShare/SignatureHelp/RoslynSignatureHelpProvider.Exports.cs
  src/Tools/ExternalAccess/LiveShare/SignatureHelp/RoslynSignatureHelpProvider.cs
  src/Tools/ExternalAccess/LiveShare/StringConstants.cs
  src/VisualStudio/LiveShare/Impl/ClassificationsHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/ClassificationsHandler.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/FindAllReferencesHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/FindAllReferencesHandler.cs
  src/VisualStudio/LiveShare/Impl/GoToDefintionWithFarHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/GoToDefintionWithFarHandler.cs
  src/VisualStudio/LiveShare/Impl/LiveShareConstants.cs
  src/VisualStudio/LiveShare/Impl/LoadHandler.cs
  src/VisualStudio/LiveShare/Impl/PreviewCodeActionsHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/PreviewCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/ProjectsHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/ProjectsHandler.cs
  src/VisualStudio/LiveShare/Impl/RenameHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/RenameHandler.cs
  src/VisualStudio/LiveShare/Impl/RunCodeActionsHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/RunCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/CodeActionsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/CompletionHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/CompletionResolverHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/DocumentHighlightHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/DocumentSymbolsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FindImplementationsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FormatDocumentHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FormatDocumentOnTypeHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FormatDocumentRangeHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/InitializeHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/SignatureHelpHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/WorkspaceSymbolsHandlerShim.cs
Labels: Area-IDE

#37433 Update code style analyzer
  eng/Versions.props
  src/EditorFeatures/Test/Diagnostics/DiagnosticServiceTests.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.State.cs
  src/VisualStudio/Core/Def/Implementation/MoveToNamespace/MoveToNamespaceDialogViewModel.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-Infrastructure

#37487 LambdaRewriter.SubstituteTypeArguments should make progress
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Area-Compilers, tell-mode

#37450 Fix region tracking for regions with local functions
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowsOutWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Labels: Area-Compilers, Bug, tell-mode

#37173 IDE EnC support for all C# 8.0 features
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBLambdaTests.vb
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.Methods.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/CSharpEditAndContinueAnalyzerTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementMatchingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/SyntaxUtilitiesTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/Test/EditAndContinue/RudeEditDiagnosticTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/ActiveStatementTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/BreakpointSpansTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/RudeEditTopLevelTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/VisualBasicEditAndContinueAnalyzerTests.vb
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharp/Portable/EditAndContinue/StatementSyntaxComparer.cs
  src/Features/CSharp/Portable/EditAndContinue/SyntaxUtilities.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/EditAndContinue/StateMachineKinds.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/EditAndContinue/BreakpointSpans.vb
  src/Features/VisualBasic/Portable/EditAndContinue/SyntaxUtilities.vb
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-Compilers, Interactive-EnC

#37492 Support GetDeclaredSymbol on ForeachStatementSyntax and add tests for…
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model, tell-mode

#37493 Don't drop a token passed to a syntax factory method.
  src/Compilers/CSharp/Portable/Syntax/MethodDeclarationSyntax.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxFactoryTests.cs
Labels: Area-Compilers, Bug, tell-mode

#37486 Simplify readonly MetadataAsSource
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/EventGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/PropertyGenerator.cs
Labels: Area-IDE

#37535 LambdaRewriter.SubstituteTypeArguments should make progress (#37487)
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Area-Compilers

#37513 Handle checking for language version in speculative semantic model
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
Labels: Area-Compilers, ask-mode

#37381 IOperation for Parameter Nullchecking
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceClonedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ThisParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTest_INullCheckedParameters.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/IParameterSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/ParameterSymbol.vb
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationParameterSymbol.cs
Labels: Area-Compilers

#37295 Move refa to helpers5
  src/EditorFeatures/CSharpTest/CodeActions/AddAwait/AddAwaitTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/LambdaSimplifier/LambdaSimplifierTests.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/UseImplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/MoveDeclarationNearReference/MoveDeclarationNearReferenceTests.cs
  src/EditorFeatures/CSharpTest/NameTupleElement/NameTupleElementTests.cs
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/EditorFeatures/TestUtilities/RefactoringHelpers/RefactoringHelpersTestBase.cs
  src/Features/CSharp/Portable/CodeRefactorings/AddAwait/AddAwaitCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/CSharpRefactoringHelpersService.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/LambdaSimplifier/LambdaSimplifierCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/PullMemberUp/CSharpPullMemberUpCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertLinq/CSharpConvertLinqQueryToForEachProvider.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/AddAwait/AbstractAddAwaitCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringContextExtensions.cs
  src/Features/Core/Portable/CodeRefactorings/IRefactoringHelpersService.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertAutoPropertyToFullProperty/AbstractConvertAutoPropertyToFullPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertForEachToFor/AbstractConvertForEachToForCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertForToForEach/AbstractConvertForToForEachCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertNumericLiteral/AbstractConvertNumericLiteralCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceUsingStatement/AbstractIntroduceUsingStatementCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceVariable/IntroduceLocalForExpressionCodeRefactoringProvider.cs
  src/Features/Core/Portable/InvertIf/AbstractInvertIfCodeRefactoringProvider.cs
  src/Features/Core/Portable/MoveDeclarationNearReference/AbstractMoveDeclarationNearReferenceCodeRefactoringProvider.cs
  src/Features/Core/Portable/NameTupleElement/AbstractNameTupleElementCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/AbstractReplaceMethodWithPropertyService.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/AbstractReplacePropertyWithMethodsService.cs
  src/Features/Core/Portable/UseNamedArguments/AbstractUseNamedArgumentsCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/AddAwait/AddAwaitCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/VisualBasicRefactoringHelpersService.vb
Labels: Area-IDE

#37538 Snap 16.3-preview2
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure

#37095 fix for insert a new line on pressing Enter if the suggested word was typed completely
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
Labels: Area-IDE, Bug, IDE-IntelliSense

#37312 Fix make method async/sync and some related code fixes
  src/EditorFeatures/CSharpTest/Diagnostics/Iterator/ChangeToIEnumerableTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/MakeMethodAsynchronous/MakeMethodAsynchronousTests.cs
  src/Features/CSharp/Portable/CodeFixes/Iterator/CSharpAddYieldCodeFixProvider.cs
  src/Features/CSharp/Portable/CodeFixes/Iterator/CSharpChangeToIEnumerableCodeFixProvider.cs
  src/Features/CSharp/Portable/MakeMethodAsynchronous/CSharpMakeMethodAsynchronousCodeFixProvider.cs
  src/Features/CSharp/Portable/MakeMethodSynchronous/CSharpMakeMethodSynchronousCodeFixProvider.cs
  src/Features/Core/Portable/ExtractInterface/AbstractExtractInterfaceService.cs
  src/Features/VisualBasic/Portable/CodeFixes/Iterator/VisualBasicConvertToIteratorCodeFixProvider.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/Core/Portable/Utilities/NullableHelpers/NullableExtensions.cs
Labels: Area-IDE

#37539 Use simpler null checks
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/AccessCheck.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDiscardPattern.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Errors/LazyMissingNonNullTypesContextDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_NullablePublicOnly.cs
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.AbstractRecoverableSyntaxRoot.cs
Labels: Area-Compilers, Community

#36000 Feeding VSSDK from new VSSDK channel
  NuGet.config
  eng/Versions.props
Labels: Area-Infrastructure

#37290 Fully qualify unimported type name when in import directive
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/TypeImportCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/SymbolCompletionProvider.cs
  src/Features/Core/Portable/Completion/CompletionServiceOptions.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/TypeImportCompletionProvider.vb
  src/Workspaces/CSharp/Portable/Extensions/ContextQuery/CSharpSyntaxContext.cs
Labels: Area-IDE

#37542 Simplify code generation options code
  src/Workspaces/Core/Portable/CodeGeneration/AbstractCodeGenerationService.cs
Labels: Area-IDE, Community

#37583 Handle checking for language version in speculative semantic model
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
Labels: Area-Compilers

#37534 Update version of ICSharpCode.Decompiler and M.CA.FlowAnalysis.Utilities
  eng/Versions.props
  src/EditorFeatures/CSharpTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.cs
  src/EditorFeatures/VisualBasicTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.vb
Labels: Area-Infrastructure

#37585 Added language check to null-checked parameters in parsing
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTest_INullCheckedParameters.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
Labels: Area-Compilers

#37587 Some Inline Rename accessibility improvements
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/Dashboard.xaml
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/Dashboard.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/DashboardAutomationPeer.cs
  src/EditorFeatures/Core.Wpf/InlineRename/Dashboard/DashboardViewModel.cs
  src/EditorFeatures/Core/EditorFeaturesResources.Designer.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#37610 Remove AttributeTargets.Module from NullableContextAttribute
  docs/features/nullable-metadata.md
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedNullableContextAttributeSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_NullableContext.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#37096 EnC compiler tests for nullables
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
Labels: Area-Compilers, Interactive-EnC, New Language Feature - Nullable Reference Types, Test

#37620 Update NuGet Dependencies in Release/dev16.2-vs-deps
  eng/Versions.props
  src/EditorFeatures/CSharpTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.cs
  src/EditorFeatures/VisualBasicTest/DisposeAnalysis/DisposeObjectsBeforeLosingScopeTests.vb
Labels: Area-Infrastructure

#37623 Fix typing crash during open file analysis
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers

#37600 Backported fix for #37584 to 16.3-preview2
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
Labels: Approved to merge, Area-IDE

#37602 Don't show nullability information in quick info if it's not enabled
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
Labels: Area-IDE

#37485 Adjust ngen priority of assemblies for perf gains
  src/NuGet/Microsoft.Net.Compilers.Toolset/DesktopCompilerArtifacts.targets
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-Infrastructure

#37619 Make Microsoft.CodeAnalysis.Analyzers reference conditional in source-build.
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
Labels: Area-Compilers, tell-mode

#37614 Semantic model variable is never used
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageCodeAction.cs
Labels: Area-IDE, Community

#37541 Use expr/block body lambda simplification
  src/EditorFeatures/CSharpTest/UseExpressionBodyForLambda/UseExpressionBodyForLambdasAnalyzerTests.cs
  src/EditorFeatures/CSharpTest/UseExpressionBodyForLambda/UseExpressionBodyForLambdasRefactoringTests.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeFixProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider_Analysis.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider_Fixing.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider_Refactoring.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaDiagnosticAnalyzer.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Analysis.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Fixing.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Refactoring.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertTupleToStruct/AbstractConvertTupleToStructCodeRefactoringProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/BlockSyntaxExtensions.cs
  src/Workspaces/Core/Portable/CodeFixes/SyntaxEditorBasedCodeFixProvider.cs
Labels: Area-IDE, Community
