Repository dotnet/roslyn, pull requests merged in 2019-09, with the labels that each got.

#38187 Add infromation to bound nodes for converted tuples and switches to determine if they were target-typed.
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
Labels: Area-Compilers, Concept-Design Debt, New Language Feature - Nullable Reference Types

#38425 Support building the workspaces layer in source-build
  SourceBuild.sln
  azure-pipelines.yml
  eng/build.ps1
  eng/build.sh
  eng/targets/Imports.targets
  eng/targets/Settings.props
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Core/Portable/Storage/PersistenceStorageServiceFactory.cs
Labels: Approved to merge, Area-Infrastructure, Source-Build, tell-mode

#38393 Add an IDE test covering https://github.com/dotnet/roslyn/issues/36052
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
Labels: Area-IDE

#38338 Fix test trait
  src/EditorFeatures/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
Labels: Area-IDE

#38411 Collapse redundant types in the server
  src/Compilers/CSharp/csc/Program.cs
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/CommandLine/BuildProtocol.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineParser.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Server/VBCSCompiler/BuildServerController.cs
  src/Compilers/Server/VBCSCompiler/CompilerRequestHandler.cs
  src/Compilers/Server/VBCSCompiler/DesktopBuildServerController.cs
  src/Compilers/Server/VBCSCompiler/DesktopCompilerServerHost.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerHostTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Server/VBCSCompilerTests/DesktopBuildClientTests.cs
  src/Compilers/Server/VBCSCompilerTests/DesktopBuildServerControllerTests.cs
  src/Compilers/Server/VBCSCompilerTests/ServerUtil.cs
  src/Compilers/Server/VBCSCompilerTests/TouchedFileLoggingTests.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerServerTests.cs
  src/Compilers/Shared/BuildClient.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/DesktopBuildClient.cs
  src/Compilers/VisualBasic/Test/CommandLine/TouchedFileLoggingTests.vb
  src/Compilers/VisualBasic/vbc/Program.cs
  src/Compilers/VisualBasic/vbc/vbc.csproj
Labels: Area-Compilers

#38441 Move to a newer FlowAnalysis utilities package
  eng/Versions.props
  src/Features/Core/Portable/DisposeAnalysis/DisposableFieldsShouldBeDisposedDiagnosticAnalyzer.cs
  src/Features/Core/Portable/DisposeAnalysis/DisposeObjectsBeforeLosingScopeDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE

#37912 VB: Check for script context in '#R' directive recommender
  src/EditorFeatures/VisualBasicTest/Recommendations/PreprocessorDirectives/ReferenceDirectiveKeywordRecommenderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/RecommendationTestHelpers.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/PreprocessorDirectives/ReferenceDirectiveKeywordRecommender.vb
Labels: Area-IDE, Community

#38462 Cache diagnostic ID strings in the AnalyzerConfigSet
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.SectionNameMatching.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
  src/Compilers/Core/Portable/InternalUtilities/CharMemoryEqualityComparer.cs
  src/Compilers/Core/Portable/InternalUtilities/Hash.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers

#38470 Collapse redundant types in the server part 2
  src/Compilers/Server/VBCSCompiler/Connection.cs
  src/Compilers/Server/VBCSCompiler/DiagnosticListener.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnection.cs
  src/Compilers/Server/VBCSCompiler/ServerDispatcher.cs
  src/Compilers/Server/VBCSCompilerTests/ClientConnectionTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Server/VBCSCompilerTests/Extensions.cs
  src/Compilers/Server/VBCSCompilerTests/ServerUtil.cs
  src/Compilers/Server/VBCSCompilerTests/TestableDiagnosticListener.cs
  src/Compilers/Shared/NamedPipeUtil.cs
Labels: Area-Compilers

#38500 Disposer cleanup for pooled objects.
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
Labels: Area-IDE

#38188 Nullable annotations refactoring helpers & bits and pieces elsewhere
  src/Features/CSharp/Portable/CodeRefactorings/CSharpRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactoringHelpers.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringContextExtensions.cs
  src/Features/Core/Portable/CodeRefactorings/IRefactoringHelpersService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
Labels: Area-IDE

#38457 Disable failing tests
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Disabled Test

#38200 Exclude textual changes made in unchangeable document
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignatureTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/CSharpSyncNamespaceTestsBase.cs
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Test2/Rename/RenameEngineTests.vb
  src/EditorFeatures/TestUtilities/Utilities/TestDocumentServiceProvider.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureCodeAction.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISolutionExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Area-IDE

#38476 Don't offer Introduce local for expression statement if expr. stm is assignment.
  src/EditorFeatures/CSharpTest/IntroduceVariable/IntroduceLocalForExpressionTests.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceLocalForExpressionCodeRefactoringProvider.cs
Labels: Area-IDE

#38494 Adjust dependency tracking for types with respect to added ability to nest types into interfaces.
  src/Compilers/CSharp/Portable/Symbols/BaseTypeAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/VisualBasic/Portable/Symbols/BaseTypeAnalysis.vb
Labels: Area-Compilers, Language-C#, New Language Feature - Default Interface Impl

#38410 Use shim for c#/vb liveshare gotodef, leave typescript as custom impl…
  src/VisualStudio/LiveShare/Impl/AbstractGoToDefinitionWithFindUsagesServiceHandler.cs
  src/VisualStudio/LiveShare/Impl/GoToDefintionWithFarHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/GotoDefinitionWithFindUsagesServiceHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/Shims/GoToDefinitionHandlerShim.cs
Labels: Area-IDE

#38298 Add comment to document the use of the variables in the signed build yml
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#38409 Fix underselection problem in invertlogical refactoring.
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/CSharpTest/InvertLogical/InvertLogicalTests.cs
  src/Features/Core/Portable/CodeRefactoringHelpers.cs
  src/Features/Core/Portable/InvertLogical/AbstractInvertLogicalCodeRefactoringProvider.cs
Labels: Area-IDE

#38451 Adjust inconsistent accessibility checks to properly handle protected types declared within interfaces.
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/VisualBasic/Portable/Semantics/AccessCheck.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/DefaultInterfaceImplementationTests.vb
Labels: Area-Compilers, New Language Feature - Default Interface Impl

#38521 Added comments here and there.
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
Labels: Area-IDE

#37526 Warn when inlining a temporary into a conditional
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/MethodTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractMethodSymbol.cs
Labels: Area-IDE, Community

#38544 Fix incomplete attribute causing exc. in IsOnHeaderXXX methods #38502
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/AbstractSyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#37781 move to new OperationProgress API.
  eng/Versions.props
  eng/config/rulesets/Shipping.ruleset
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Implementation/RenameTracking/AbstractRenameTrackingCodeFixProvider.cs
  src/Test/Diagnostics/RemoteHost/RemoteHostPanel.xaml.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioWorkspaceStatusServiceFactory.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/Telemetry/TelemetryPanel.xaml.cs
  src/Workspaces/Core/Portable/Workspace/Host/Status/IWorkspaceStatusService.cs
  src/Workspaces/Core/Portable/Workspace/Host/Status/WorkspaceStatusService.cs
Labels: Approved to merge, Area-IDE, Auto-Merge If Tests Pass, auto-merge

#38532 Support reinferring collection element initializer symbols
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#38493 Enable xUnit2002: Assert.NotNull validation
  eng/config/rulesets/Shipping.ruleset
  src/Compilers/CSharp/Test/Emit/Emit/ResourceTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ColorColorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LockTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCoalsceAssignmentTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/QueryTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoBrokenCodeTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/IndexedProperties_BindingTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DestructorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ImplicitClassTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Metadata/PE/LoadingMethods.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/LexicalTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NameParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingErrorRecoveryTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/Compilers/CSharp/Test/WinRT/AnonymousTypesSymbolTests.cs
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/CodeAnalysisTest/Text/TextSpanTest.cs
  src/Compilers/Core/Portable/Compilation/SymbolInfo.cs
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/TestWriter.cs
  src/Workspaces/CoreTest/SymbolKeyTests.cs
Labels: Area-Compilers

#38524 Updating TPN to the current MSFT format and adding Humanizer, SQLitePCLRaw and ICSharpCode.Decompiler
  eng/targets/VisualStudio.targets
  src/Compilers/Extension/source.extension.vsixmanifest
  src/Deployment/source.extension.vsixmanifest
  src/ExpressionEvaluator/Package/source.extension.vsixmanifest
  src/Setup/Roslyn.ThirdPartyNotices/ThirdPartyNotices.rtf
  src/Setup/Roslyn.VsixLicense/EULA.rtf
  src/VisualStudio/IntegrationTest/TestSetup/source.extension.vsixmanifest
  src/VisualStudio/RemoteHostClientMock/source.extension.vsixmanifest
  src/VisualStudio/Setup.Dependencies/source.extension.vsixmanifest
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/source.extension.vsixmanifest
  src/VisualStudio/VisualStudioInteractiveComponents/source.extension.vsixmanifest
Labels: Documentation

#38510 Rename files in the compiler server
  src/Compilers/Server/VBCSCompiler/Connection.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnection.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnectionHost.cs
  src/Compilers/Server/VBCSCompilerTests/BuildClientTests.cs
  src/Compilers/Server/VBCSCompilerTests/BuildServerControllerTests.cs
  src/Compilers/Server/VBCSCompilerTests/NamedPipeClientConnectionTests.cs
  src/Compilers/Server/VBCSCompilerTests/ServerUtil.cs
Labels: Area-Compilers

#38380 Remove unnecessary AbstractFormatEngine.Partitioner
  src/CodeStyle/Core/Analyzers/Microsoft.CodeAnalysis.CodeStyle.csproj
  src/Workspaces/Core/Portable/Formatting/Engine/AbstractFormatEngine.Partitioner.cs
  src/Workspaces/Core/Portable/Formatting/Engine/AbstractFormatEngine.cs
Labels: Area-IDE, Community

#38583 Remove duplicated project guid
  Roslyn.sln
Labels: Area-Infrastructure, Community

#38461 Remove SourceBuild.sln, and use ExcludeFromSourceBuild propert…
  SourceBuild.sln
  eng/build.sh
  src/CodeStyle/Directory.Build.props
  src/Compilers/CSharp/CSharpAnalyzerDriver/CSharpAnalyzerDriver.shproj
  src/Compilers/Core/AnalyzerDriver/AnalyzerDriver.shproj
  src/Compilers/Extension/Roslyn.Compilers.Extension.csproj
  src/Compilers/RealParserTests/RealParserTests.csproj
  src/Compilers/Test/Directory.Build.props
  src/Compilers/VisualBasic/BasicAnalyzerDriver/BasicAnalyzerDriver.shproj
  src/Dependencies/Directory.Build.props
  src/Deployment/Directory.Build.props
  src/EditorFeatures/Directory.Build.props
  src/ExpressionEvaluator/Directory.Build.props
  src/Features/Directory.Build.props
  src/Interactive/Directory.Build.props
  src/NuGet/Directory.Build.props
  src/NuGet/VisualStudio/VS.Tools.Roslyn.Package.csproj
  src/Scripting/Directory.Build.props
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.Setup.csproj
  src/Setup/DevDivVsix/Directory.Build.targets
  src/Setup/Directory.Build.props
  src/Setup/Installer/Installer.Package.csproj
  src/Test/Directory.Build.props
  src/Tools/Directory.Build.props
  src/VisualStudio/Directory.Build.props
  src/Workspaces/Core/Desktop/Microsoft.CodeAnalysis.Workspaces.Desktop.csproj
  src/Workspaces/Core/MSBuild/Microsoft.CodeAnalysis.Workspaces.MSBuild.csproj
  src/Workspaces/CoreTestUtilities/Roslyn.Services.UnitTests.Utilities.csproj
  src/Workspaces/Remote/Directory.Build.props
Labels: Area-Infrastructure

#38273 Improved Markdown formatting of Breaking changes documents
  docs/compilers/CSharp/Compiler Breaking Changes - VS2015.md
  docs/compilers/CSharp/Compiler Breaking Changes - VS2017.md
  docs/compilers/CSharp/Compiler Breaking Changes - VS2019.md
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2017.md
Labels: Area-Compilers, Community

#38456 Add a test for awaitable pattern with ref struct result
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTasklikeMoreTests.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass, Test

#38435 Remove incorrect assertion
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
Labels: Area-Compilers

#38527 Add FIPS AppContextSwitchOverrides to some executable projects
  src/Compilers/CSharp/csc/App.config
  src/Compilers/Server/VBCSCompiler/App.config
  src/Compilers/VisualBasic/vbc/App.config
  src/Interactive/csi/App.config
  src/Interactive/vbi/App.config
Labels: Area-Compilers

#38416 Formatting removes newline before semicolon
  src/EditorFeatures/CSharpTest/UseCoalesceExpression/UseCoalesceExpressionTests.cs
  src/EditorFeatures/VisualBasicTest/UseCoalesceExpression/UseCoalesceExpressionTests.vb
  src/Features/Core/Portable/UseCoalesceExpression/UseCoalesceExpressionCodeFixProvider.cs
Labels: Area-IDE, Community

#38592 Fix race condition in AnalyzerConfigSet
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Labels: Area-Compilers, Auto-Merge If Tests Pass

#38594 Run scripts/PublicAPI/mark-shipped.cmd
  scripts/PublicApi/mark-shipped.ps1
  src/CodeStyle/CSharp/Analyzers/PublicAPI.Shipped.txt
  src/CodeStyle/CSharp/Analyzers/PublicAPI.Unshipped.txt
  src/CodeStyle/Core/Analyzers/PublicAPI.Shipped.txt
  src/CodeStyle/Core/Analyzers/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Shipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Shipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/EditorFeatures/Core.Wpf/PublicAPI.Unshipped.txt
  src/EditorFeatures/Core/PublicAPI.Unshipped.txt
  src/Features/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Features/Core/Portable/PublicAPI.Shipped.txt
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
  src/Features/LanguageServer/Protocol/PublicAPI.Unshipped.txt
  src/Scripting/CSharp/PublicAPI.Shipped.txt
  src/Scripting/CSharp/PublicAPI.Unshipped.txt
  src/Scripting/Core/PublicAPI.Shipped.txt
  src/Scripting/Core/PublicAPI.Unshipped.txt
  src/Scripting/VisualBasic/PublicAPI.Shipped.txt
  src/Scripting/VisualBasic/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/Apex/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/CodeLens/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/Debugger/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/FSharp/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/IntelliTrace/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/LiveShare/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/ProjectSystem/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/Razor/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/TypeScript/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/UnitTesting/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/Xamarin.Remote/PublicAPI.Unshipped.txt
  src/VisualStudio/CodeLens/PublicAPI.Unshipped.txt
  src/VisualStudio/Core/Def/PublicAPI.Shipped.txt
  src/Workspaces/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Desktop/PublicAPI.Unshipped.txt
  src/Workspaces/Core/MSBuild/PublicAPI.Shipped.txt
  src/Workspaces/Core/MSBuild/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Shipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Infrastructure

#37750 Enable EnC and PDB tests on Core
  eng/Versions.props
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinuePdbTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/CheckSumTest.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBConstantTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBDynamicLocalsTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBEmbeddedSourceTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTupleTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBUsingTests.cs
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBConstLocalTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBEmbeddedSourceTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBNamespaceScopes.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Test/PdbUtilities/Reader/PdbValidation.cs
  src/Test/Utilities/Portable/CommonTestBase.cs
  src/Test/Utilities/Portable/Compilation/CompilationDifference.cs
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
  src/Test/Utilities/Portable/Compilation/IRuntimeEnvironment.cs
  src/Test/Utilities/Portable/CompilationVerifier.cs
  src/Test/Utilities/Portable/Metadata/ILValidation.cs
  src/Test/Utilities/Portable/Platform/Desktop/AppDomainAssemblyCache.cs
  src/Test/Utilities/Portable/Platform/Desktop/RuntimeAssemblyManager.cs
Labels: Area-IDE

#37973 Move to new suppression state column in error list
  src/VisualStudio/Core/Def/Implementation/TableDataSource/Suppression/SuppressionStateColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/Suppression/VisualStudioDiagnosticListSuppressionStateService.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Area-IDE

#38576 Remove DesktopShim.FileNotFoundExceptionShim
  src/Compilers/Core/AnalyzerDriver/AnalyzerExceptionDescriptionBuilder.cs
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Shared/DesktopShim.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
Labels: Area-Infrastructure, Community

#38499 Sort completion list by pattern matching results
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterResult.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/Controller.Session_FilterModel.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Text/Shared/Extensions/TextSpanExtensions.cs
  src/Features/Core/Portable/Completion/CommonCompletionService.cs
  src/Features/Core/Portable/Completion/CompletionHelper.cs
  src/Features/Core/Portable/Completion/CompletionItem.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/TypeImportCompletionItem.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE, IDE-IntelliSense

#38608 Fix PDB reader disposal
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Labels: Approved to merge, Area-IDE

#38614 Fix spelling error
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#38598 Support reinferring indexers
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#38415 Support compound operators with pattern Index/Range indexers
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
Labels: Area-Compilers, New Language Feature - Range

#38654 Update version and publish data for 16.4 P1 snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure

#38551 Fix inconsistencies with nullability annotations in the BCL
  src/Compilers/Core/Portable/Collections/Rope.cs
  src/Workspaces/Core/Portable/Classification/ClassifiedSpan.cs
  src/Workspaces/Core/Portable/SemanticModelWorkspaceService/SemanticModelWorkspaceServiceFactory.cs
  src/Workspaces/Core/Portable/Shared/Extensions/LineSpan.cs
  src/Workspaces/Core/Portable/Utilities/IDictionaryExtensions.cs
  src/Workspaces/Core/Portable/Utilities/IReadOnlyDictionaryExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
Labels: Area-IDE

#34617 🐛 Fix Type/Constructor deduplication in Find All References
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamedTypeSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferenceLocation.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy.cs
  src/Workspaces/Core/Portable/Rename/RenameLocation.ReferenceProcessing.cs
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
Labels: Area-IDE, Concept-Continuous Improvement

#38550 Reuse previously resolved missing assembly metadata objects when identity doesn't match
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Symbols/ReferenceManager.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Binding.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Resolution.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.State.cs
  src/Compilers/VisualBasic/Portable/Symbols/ReferenceManager.vb
  src/Scripting/CSharpTest.Desktop/InteractiveSessionReferencesTests.cs
  src/Scripting/CSharpTest/InteractiveSessionReferencesTests.cs
  src/Scripting/CSharpTest/ScriptTests.cs
  src/Scripting/Core/Hosting/AssemblyLoader/InteractiveAssemblyLoader.cs
  src/Scripting/CoreTestUtilities/TestCompilationFactory.cs
Labels: Area-Compilers

#38564 Perform lookup in base interfaces even in a type-only context.
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Default Interface Impl

#37629 Codefix and Code Refactoring for making local functions static
  src/EditorFeatures/CSharpTest/MakeLocalFunctionStatic/MakeLocalFunctionStaticRefactoringTests.cs
  src/EditorFeatures/CSharpTest/MakeLocalFunctionStatic/PassInCapturedVariablesAsArgumentsCodeFixProviderTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticCodeFixProvider.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticHelper.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/PassInCapturedVariablesAsArgumentsCodeFixProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
Labels: Area-IDE, Feature Request

#38688 Additional logging in the compiler server
  src/Compilers/Shared/BuildServerConnection.cs
Labels: Area-Compilers

#38695 Export limited semantic model in liveshare scenario to avoid null ptrs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/CSharpRemoteCompilationFactoryService.cs
  src/Tools/ExternalAccess/LiveShare/LocalForwarders/VBRemoteCompilationFactoryService.cs
Labels: Area-IDE

#38739 Remove unnecessary nullable suppression
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
Labels: Area-IDE

#38683 Add handling for unconventional implementation of events and properties when Default Interface Implementations are involved.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/Test/Utilities/CSharp/Extensions.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Default Interface Impl

#38731 Detect when type/field declared in an interface shadows a member from base interface.
  src/Compilers/CSharp/Portable/Symbols/OverriddenOrHiddenMembersHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/DefaultInterfaceImplementationTests.vb
Labels: Area-Compilers, Language-C#, New Language Feature - Default Interface Impl

#38749 Change the Using organizer to not use ElasticTrivia for the NewLine
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/VisualBasicTest/Organizing/OrganizeImportsTests.vb
  src/Workspaces/CSharp/Portable/Utilities/UsingsAndExternAliasesOrganizer.cs
  src/Workspaces/VisualBasic/Portable/Utilities/ImportsOrganizer.vb
Labels: Area-IDE

#38753 Use IContentType.IsOfType when checking for content type matches
  src/EditorFeatures/Core/CommandHandlers/ExecuteInInteractiveCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/CodeCleanup/CodeCleanupFixerProvider.cs
Labels: Area-IDE

#38738 Add cycle detection for more scenarios involving looking in base interfaces.
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Default Interface Impl

#38736 Update immutable arrays of symbols in the NullabilityRewriter
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/NullabilityRewriter.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/CompilersBoundTreeGenerator.csproj
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/Model.cs
Labels: Area-Compilers

#38751 Fix typo and add richer info to rename test failure message
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
Labels: Area-IDE, Community

#38194 Add ETW events for recovering syntax trees
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.AbstractRecoverableSyntaxRoot.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxTreeFactoryService.RecoverableSyntaxTree.vb
Labels: Tenet-Telemetry

#38709 Require /unsafe flag for SkipLocalsInitAttribute
  src/Compilers/CSharp/Portable/Symbols/Attributes/AttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/MethodWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/ModuleWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/PropertyWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/TypeWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/Symbols/Attributes/ISkipLocalsInitAttributeTarget.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
Labels: Area-Compilers

#37802 Add Containing Type and Containing Member columns to FAR
  src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/Host/IStreamingFindReferencesPresenter.cs
  src/EditorFeatures/Test/FindReferences/FindReferencesCommandHandlerTests.cs
  src/EditorFeatures/Test2/FindReferences/FindReferencesCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Utilities/GoToHelpers/MockNavigableItemsPresenter.vb
  src/Features/Core/Portable/ChangeSignature/DelegateInvokeMethodReferenceFinder.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.DocumentLocationDefinitionItem.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.cs
  src/Features/Core/Portable/FindUsages/SourceReferenceItem.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/AbstractCustomColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/AbstractCustomColumnDefinitionWithMultipleValues.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/AbstractFindUsagesCustomColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingMemberColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingTypeColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithoutReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/FindUsagesValueUsageInfoColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/StreamingFindUsagesPresenter.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/VisualStudioDefinitionsAndReferencesFactory.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindUsageProperty.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractMemberScopedReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorInitializerSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamespaceSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/PropertySymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferenceLocation.cs
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/CoreTestUtilities/Fakes/StubStreamingFindUsagesPresenter.cs
Labels: Area-IDE

#38713 Adjust syntax disambiguation for ref ternary.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationExpressionTests.cs
Labels: Area-Compilers

#38729 Mask the shift count during constant folding to imitate the X86 behavior when unspecified.
  src/Compilers/CSharp/Test/Semantic/Semantics/ConstantTests.cs
Labels: Area-Compilers, Concept-Determinism

#38714 Refine diagnostic for switch expression that is not exhaustive
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
Labels: Area-Compilers

#38364 port typescript's remote syntactic classification tagger for A/B testing
  src/Tools/ExternalAccess/LiveShare/Classification/RequestLatencyTracker.cs
  src/Tools/ExternalAccess/LiveShare/Classification/RoslynClassificationService.cs
  src/Tools/ExternalAccess/LiveShare/Classification/RoslynSyntaxClassificationService.cs
  src/Tools/ExternalAccess/LiveShare/Microsoft.CodeAnalysis.ExternalAccess.LiveShare.csproj
  src/Tools/ExternalAccess/LiveShare/RoslynLSPClientService.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/AbstractAsyncClassificationTaggerProvider.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/ModeAwareSyntacticClassificationTaggerProvider.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/ModeAwareSyntacticClassificationViewTaggerProvider.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/ModeAwareTagger.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/SyntacticClassificationMode.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/SyntacticClassificationModeSelector.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/SyntacticClassificationTaggerProvider.TagSpanList.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/SyntacticClassificationTaggerProvider.Tagger.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/SyntacticClassificationTaggerProvider.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/SyntacticClassificationViewTaggerProvider.cs
  src/Tools/ExternalAccess/LiveShare/Tagger/TextMateClassificationTaggerProvider.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Log/AbstractLogAggregator.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
  src/Workspaces/Core/Portable/Log/SyntacticLspLogger.cs
Labels: Area-Infrastructure

#38784 Add a comment explaining the recently added cycle detection code and its relation to the language specification.
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
Labels: Area-Compilers, Documentation

#38754 Fix crash when moving type from global namespace
  src/EditorFeatures/CSharpTest/MoveToNamespace/MoveToNamespaceTests.cs
  src/EditorFeatures/TestUtilities/MoveToNamespace/AbstractMoveToNamespaceTests.cs
  src/EditorFeatures/TestUtilities/MoveToNamespace/TestMoveToNamespaceOptionsService.cs
  src/Features/CSharp/Portable/MoveToNamespace/CSharpMoveToNamespaceService.cs
  src/Features/Core/Portable/MoveToNamespace/AbstractMoveToNamespaceCodeAction.cs
  src/Features/Core/Portable/MoveToNamespace/AbstractMoveToNamespaceService.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#38787 Allow selection in move type to file
  src/EditorFeatures/CSharpTest/CodeActions/MoveType/MoveTypeTests.ActionCountTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/MoveType/MoveTypeTests.MoveToNewFile.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/MoveType/MoveTypeTests.ActionCountTests.vb
  src/Features/CSharp/Portable/CodeRefactorings/MoveType/CSharpMoveTypeService.cs
  src/Features/Core/Portable/CodeRefactorings/MoveType/AbstractMoveTypeService.State.cs
  src/Features/Core/Portable/CodeRefactorings/MoveType/AbstractMoveTypeService.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/MoveType/VisualBasicMoveTypeService.vb
Labels: Area-IDE

#38799 Add telemetry for target type completion
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/AbstractRecommendationServiceBasedCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
Labels: Area-IDE, Tenet-Telemetry

#38430 Formatter throws a exception where HostObjectValue is null
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ValueFormattingTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Formatter.Values.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Formatter.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/Resources.Designer.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/Resources.resx
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.cs.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.de.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.es.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.fr.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.it.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.ja.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.ko.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.pl.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.pt-BR.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.ru.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.tr.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.zh-Hans.xlf
  src/ExpressionEvaluator/Core/Source/ResultProvider/Portable/xlf/Resources.zh-Hant.xlf
  src/ExpressionEvaluator/Core/Test/ResultProvider/ResultProviderTestBase.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ValueFormatterTests.vb
Labels: Area-Interactive, Interactive-Debugging

#38721 Spelling fixes
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Syntax/Resources/VBAllInOne.vb
  src/Compilers/VisualBasic/Test/Syntax/Syntax/VBAllInOne.txt
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/TestResource.resx
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Area-IDE, Community

#38772 Copy value from field on MarshalByRef object to call ToString()
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_Warnings.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringConcat.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStringConcat.cs
Labels: Area-Compilers

#38669 Object favorites
  eng/Versions.props
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ArrayExpansionTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/CSharpResultProviderTestBase.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/DebuggerBrowsableAttributeTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/DebuggerDisplayAttributeTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/DebuggerTypeProxyAttributeTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/DynamicTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/DynamicViewTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ExpansionTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/FormatSpecifierTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/FullNameTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ObjectFavoritesTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ResultsViewTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/TupleTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/AggregateExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/ArrayExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/DebuggerTypeProxyExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/Expansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/MemberExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/PointerDereferenceExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/ResultsViewExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/RootHiddenExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/TupleExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/DebuggerDisplayInfo.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/EvalResultDataItem.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/FavoritesDataItem.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/MemberAndDeclarationInfo.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/TypeHelpers.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/ResultProvider.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/ResultProvider.projitems
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmClrObjectFavoritesInfo.cs
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmClrRuntimeInstance.cs
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmClrType.cs
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmEvaluationFlags.cs
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmEvaluationResultFlags.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ArrayExpansionTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/DebuggerTypeProxyAttributeTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/DynamicViewTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ExpansionTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/FullNameTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ObjectFavoritesTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ResultsViewTests.vb
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/TupleTests.vb
Labels: Area-Interactive, Community

#38624 Properly pass along actual referenced symbol in FindCallersAsync result.
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy.cs
Labels: Area-IDE, Community

#38831 Change icon for target type completion filter
  eng/Versions.props
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
Labels: Area-IDE

#38839 Update required version of VS in Building doc
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-IDE, Documentation

#38823 Update utils.ps1
  src/Setup/Installer/tools/utils.ps1
Labels: Area-Infrastructure, Community

#38760 Cache AnalyzerConfigOptionsResult instances
  src/Compilers/Core/CodeAnalysisTest/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Labels: Area-Compilers

#38848 Update TypeImportCompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/TypeImportCompletionItem.cs
Labels: Area-IDE, Community

#38846 Update SyntaxGeneratorTests.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
Labels: Area-IDE, Community

#38845 Update AbstractAddAccessibilityModifiersCodeFixProvider.cs
  src/Features/Core/Portable/AddAccessibilityModifiers/AbstractAddAccessibilityModifiersCodeFixProvider.cs
Labels: Area-IDE, Community

#38818 Update Language Feature Status
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#38824 Update README.md
  src/Tools/BuildBoss/README.md
Labels: Area-Infrastructure, Community

#38646 Add nullable-annotated Debug.Assert
  src/CodeStyle/Core/Analyzers/Microsoft.CodeAnalysis.CodeStyle.csproj
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/Core/Portable/InternalUtilities/Debug.cs
  src/Compilers/Core/Portable/InternalUtilities/NullableAttributes.cs
  src/Interactive/Host/Microsoft.CodeAnalysis.InteractiveHost.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-Compilers

#38847 Update DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
Labels: Area-Compilers, Community

#38829 Update AnalysisContextInfoTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/AnalysisContextInfoTests.cs
Labels: Area-Compilers, Community

#38828 Update Binder_Lookup.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Lookup.vb
Labels: Area-Compilers, Community

#38849 Update IOperationTests_IDelegateCreationExpression.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IDelegateCreationExpression.vb
Labels: Area-Compilers, Community

#38877 Spelling fixes
  src/VisualStudio/LiveShare/Impl/Client/RemoteLanguageServiceWorkspaceHost.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/AbstractAsyncClassificationTaggerProvider.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/ModeAwareSyntacticClassificationTaggerProvider.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/ModeAwareSyntacticClassificationViewTaggerProvider.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/ModeAwareTagger.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/SyntacticClassificationModeSelector.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/SyntacticClassificationTaggerProvider.TagSpanList.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/SyntacticClassificationTaggerProvider.Tagger.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/SyntacticClassificationViewTaggerProvider.cs
  src/VisualStudio/LiveShare/Impl/Shims/AbstractLiveShareHandlerShim.cs
Labels: Area-IDE, Community

#38883 Bump format version
  dotnet-tools.json
  eng/Versions.props
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV1ErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/SarifDiagnosticComparer.cs
  src/Compilers/Core/Portable/CommandLine/SarifVersion.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
Labels: Area-Infrastructure

#38880 Spelling fixes
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicEndConstruct.cs
  src/VisualStudio/IntegrationTest/TestUtilities/FeedbackItemDotNetEntry.cs
  src/VisualStudio/IntegrationTest/TestUtilities/FeedbackItemWatsonEntry.cs
  src/VisualStudio/IntegrationTest/TestUtilities/IntegrationHelper.cs
Labels: Area-IDE, Community

#38809 Use new Span/Memory APIs on System.Collections.Immutable
  eng/Versions.props
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/ImmutableArrayExtensionsTests.cs
  src/Compilers/Core/CodeAnalysisTest/Emit/EmitBaselineTests.cs
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Test/Utilities/Portable/FX/PinnedBlob.cs
  src/Test/Utilities/Portable/FX/PinnedMetadata.cs
  src/Workspaces/Core/Portable/Utilities/ImmutableArrayExtensions.cs
  src/Workspaces/Core/Portable/Utilities/SerializableBytes.cs
Labels: Area-Compilers

#38833 Pass the actual code action span to the server when calculating code …
  src/VisualStudio/LiveShare/Impl/Client/CodeActions/RoslynCodeActionProvider.cs
Labels: Area-IDE

#38860 Avoid crash on concat on structs with ToString member
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringConcat.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenStringConcat.cs
Labels: Area-Compilers

#38526 completion leaking cancellation exception
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
Labels: Area-IDE, IDE-IntelliSense, Tenet-Reliability

#38870 Add missing parsing test for TypeOf expr IsNot type
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseExpression.vb
Labels: Area-Compilers, Community, Test

#38906 Improved formatting of comments and suppressions
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/CSharpTest/InvertIf/InvertIfTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueExpressionStatementTests.cs
  src/EditorFeatures/TestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/Features/CSharp/Portable/CodeFixes/Suppression/CSharpSuppressionCodeFixProvider.cs
  src/Workspaces/CSharp/Portable/Formatting/Engine/Trivia/CSharpTriviaFormatter.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-IDE

#38915 typo: ahve -> have
  src/Workspaces/Core/Portable/Utilities/EditDistance.cs
Labels: Area-IDE, Community

#34762 Reduce allocations in DiagnosticIncrementalAnalyzer
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateSet.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
Labels: Area-Analyzers, Community

#38627 Implement formatting suppression
  src/CodeStyle/CSharp/Tests/FormattingAnalyzerTests.cs
  src/CodeStyle/Core/Analyzers/Microsoft.CodeAnalysis.CodeStyle.csproj
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlCreation.cs
  src/Features/CSharp/Portable/CodeFixes/Suppression/CSharpSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/SuppressionHelpers.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/VisualBasic/Portable/CodeFixes/Suppression/VisualBasicSuppressionCodeFixProvider.vb
  src/Workspaces/CSharp/Portable/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/Core/Portable/Formatting/Context/FormattingContext.cs
  src/Workspaces/Core/Portable/Formatting/Engine/AbstractFormatEngine.OperationApplier.cs
  src/Workspaces/Core/Portable/Formatting/Engine/AbstractFormatEngine.cs
  src/Workspaces/Core/Portable/Formatting/FormattingDiagnosticIds.cs
  src/Workspaces/Core/Portable/Formatting/Rules/Operations/SuppressOption.cs
Labels: Area-IDE

#38759 Refactoring: remove CompltetionItemFilter
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/AbstractCSharpCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/CrefCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/LoadDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ReferenceDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests_NoInteractive.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/XmlDocumentationCommentCompletionProviderTests.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterSet.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/AbstractVisualBasicCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/XmlDocCommentCompletionProviderTests.vb
  src/Features/Core/Portable/Completion/CompletionItemFilter.cs
Labels: Area-IDE, IDE-IntelliSense

#38808 Parse attributes on local function declarations
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/LocalFunctionStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
Labels: Area-Compilers

#38811 support local functions inside static in signature help
  src/EditorFeatures/CSharpTest/SignatureHelp/InvocationExpressionSignatureHelpProviderTests.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider_MethodGroup.cs
Labels: Area-IDE, IDE-IntelliSense

#38904 Completion: refactor FilterResult
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterResult.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/MatchResult.cs
Labels: Area-IDE, Concept-Continuous Improvement, IDE-IntelliSense

#38894 Move to Platform team's Find All References Kind Column
  eng/Versions.props
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/Features/Core/Portable/FindUsages/DefinitionItem.DocumentLocationDefinitionItem.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.cs
  src/Features/Core/Portable/FindUsages/SourceReferenceItem.cs
  src/Tools/ExternalAccess/FSharp/FindUsages/FSharpSourceReferenceItem.cs
  src/VisualStudio/Core/Def/Implementation/Extensions/SymbolUsageInfoExtensions.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/AbstractCustomColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/AbstractCustomColumnDefinitionWithMultipleValues.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingMemberColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/ContainingTypeColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithoutReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/FindUsagesValueUsageInfoColumnDefinition.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/StreamingFindUsagesPresenter.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/VisualStudioDefinitionsAndReferencesFactory.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/LiveShare/Impl/Client/References/RoslynFindUsagesService.cs
  src/Workspaces/Core/Portable/Extensions/SymbolUsageInfo.cs
  src/Workspaces/Core/Portable/Extensions/TypeOrNamespaceUsageInfo.cs
  src/Workspaces/Core/Portable/Extensions/ValueUsageInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindUsageProperty.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferenceLocation.cs
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Area-IDE

#38911 rename ProgressStatus.Stoped --> Stopped
  src/EditorFeatures/Test/SolutionCrawler/WorkCoordinatorTests.cs
  src/Features/Core/Portable/SolutionCrawler/ISolutionCrawlerProgressReporter.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerProgressReporter.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/DiagnosticProgressReporter.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractRoslynTableDataSource.cs
Labels: Area-IDE, Community

#38948 Fix typos
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/ExpressionLambdaRewriter.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Compilers/Core/CodeAnalysisTest/Symbols/NullabilityInfoTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/RealParser.cs
  src/Compilers/Core/Portable/Serialization/ObjectWriter.cs
  src/Compilers/Core/Portable/SynthesizedLocalKind.cs
  src/Compilers/Core/Portable/Text/LargeText.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicDiagnosticFilter.vb
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxFactory.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.vb
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseErrorTests.vb
Labels: Area-Compilers

#38935 Simplify parsing of attributes
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Labels: Area-Compilers, Community

#38955 Skip flaky tests
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
Labels: Area-Infrastructure, Flaky, Test

#38951 Spelling fixes
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignatureTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertLinqQueryToForEachTests.cs
  src/EditorFeatures/Core.Wpf/Classification/ClassificationTypeFormatDefinitions.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.DocumentOptions.cs
  src/EditorFeatures/Core.Wpf/QuickInfo/IContentControlService.cs
  src/EditorFeatures/Core.Wpf/Structure/AbstractStructureTaggerProvider.cs
  src/EditorFeatures/Core/FindUsages/FindUsagesHelpers.cs
  src/EditorFeatures/Core/Host/IStreamingFindReferencesPresenter.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
  src/EditorFeatures/Core/Implementation/KeywordHighlighting/HighlighterViewTaggerProvider.cs
  src/EditorFeatures/Core/Shared/Preview/PreviewSolutionCrawlerRegistrationService.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticsSquiggleTaggerProviderTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
Labels: Area-IDE, Community

#38792 Allow disabled by default analyzers to be enabled with editorconfig e…
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/CommandLine/Microsoft.CodeAnalysis.CSharp.CommandLine.UnitTests.csproj
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/Test/Utilities/Portable/Diagnostics/ReportDiagnosticExtensions.cs
Labels: Area-Analyzers, Area-Compilers
