Repository dotnet/roslyn, pull requests merged in 2019-01, with the labels that each got.

#31981 Await should check null-state of expression
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31966 Cache the return values for GetIdForErrorCode
  src/Compilers/Core/Portable/Diagnostic/CommonMessageProvider.cs
Labels: Approved to merge, Area-Compilers

#32062 Add null checks in AwaitExpressionInfo
  src/Compilers/CSharp/Portable/Compilation/AwaitExpressionInfo.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AwaitExpressionTests.cs
  src/Compilers/VisualBasic/Test/Semantic/Semantics/AsyncAwait.vb
Labels: Area-Compilers

#32030 Random code comment typo fixes
  src/VisualStudio/Core/Def/Implementation/FindReferences/StreamingFindUsagesPresenter.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine.cs
Labels: Approved to merge, Area-IDE, Community

#32071 Add support for /nullable:warnings and /nullable:safeonlywarnings
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/NullableContextOptions.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Nullable Reference Types

#32051 Fixed adding attribute list with target specifier
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharpTest/CodeGeneration/AddAttributesTests.cs
Labels: Approved to merge, Community

#31929 EditorFeatures.Text IVTs for MonoDevelop
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
Labels: Approved to merge, Area-IDE, Community

#28025 Consistently parse .editorconfig option values containing spaces
  src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.Parsers.cs
  src/Workspaces/CSharpTest/CodeStyle/CSharpEditorConfigCodeStyleParserTests.cs
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleHelpers.cs
  src/Workspaces/Core/Portable/Formatting/FormattingOptions.cs
  src/Workspaces/CoreTest/CodeStyle/EditorConfigCodeStyleParserTests.cs
Labels: Approved to merge, Area-IDE

#31782 Fix additional newlines being added when adding all missing imports
  src/EditorFeatures/CSharpTest/CodeRefactorings/AddMissingImports/CSharpAddMissingImportsRefactoringProviderTests.cs
  src/EditorFeatures/VisualBasicTest/CodeRefactorings/AddMissingImports/VisualBasicAddMissingImportsRefactoringProviderTests.vb
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsFeatureService.cs
Labels: Approved to merge, Area-IDE

#32005 Use NullXmlDocumentationProvider when XML file doesn't exist.
  src/Workspaces/Core/Portable/Utilities/Documentation/XmlDocumentationProvider.cs
Labels: Approved to merge, Area-IDE, Community

#32078 Learn from non-null test through suppression operator
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Nullable Reference Types

#32079 Synthesize record ctor body
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedRecordPropertySymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRecords.cs
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Area-Compilers, PR For Personal Review Only

#31941 Add IVT adapter assemblies
  Roslyn.sln
  src/Tools/ExternalAccess/FSharp/Microsoft.CodeAnalysis.ExternalAccess.FSharp.csproj
  src/Tools/ExternalAccess/FSharp/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/FSharp/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/MonoDevelop/Microsoft.CodeAnalysis.ExternalAccess.MonoDevelop.csproj
  src/Tools/ExternalAccess/MonoDevelop/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/MonoDevelop/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/Razor/Microsoft.CodeAnalysis.ExternalAccess.Razor.csproj
  src/Tools/ExternalAccess/Razor/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/Razor/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/TypeScript/Microsoft.CodeAnalysis.ExternalAccess.TypeScript.csproj
  src/Tools/ExternalAccess/TypeScript/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/TypeScript/PublicAPI.Unshipped.txt
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-IDE

#32072 Publish NuPkg as artifact
  azure-pipelines.yml
Labels: Area-Infrastructure

#32115 Fix compiler extension VSIX dependencies
  src/Compilers/Extension/Roslyn.Compilers.Extension.csproj
Labels: Area-Compilers

#32052 Restrict using pattern
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#32127 Use VsShellUtilities to open a file in design view
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
Labels: Area-IDE, Integration-Test

#32134 completion: do not insert extra colon if colon has been typed
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/NamedParameterCompletionProvider.cs
Labels: Approved to merge, Area-IDE

#32119 Fix QuickInfo tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpQuickInfo.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIdeFeatures.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicQuickInfo.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspaceBase.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesDesktop.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/QuickInfoToStringConverter.cs
Labels: Area-IDE, Integration-Test

#28549 Add code fixer to add [Obsolete] attribute on code that gets an 'obsolete' warning.
  src/EditorFeatures/CSharpTest/AddObsoleteAttribute/AddObsoleteAttributeTests.cs
  src/EditorFeatures/VisualBasicTest/AddObsoleteAttribute/AddObsoleteAttributeTests.vb
  src/Features/CSharp/Portable/AddObsoleteAttribute/CSharpAddObsoleteAttributeCodeFixProvider.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/AddObsoleteAttribute/AbstractAddObsoleteAttributeCodeFixProvider.cs
  src/Features/VisualBasic/Portable/AddObsoleteAttribute/VisualBasicAddObsoleteAttributeCodeFixProvider.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.Designer.vb
  src/Features/VisualBasic/Portable/VBFeaturesResources.resx
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.cs.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.de.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.es.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.fr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.it.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ja.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ko.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pl.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.pt-BR.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.ru.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.tr.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hans.xlf
  src/Features/VisualBasic/Portable/xlf/VBFeaturesResources.zh-Hant.xlf
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Approved to merge, Area-IDE, Community, Feature Request

#32122 Fix .NET Core project tests
  eng/Versions.props
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractEditorTest.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListDesktop.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesDesktop.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicErrorListNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesNetCore.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspaceBase.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Common/ErrorListItem.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ErrorList_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Microsoft.VisualStudio.IntegrationTest.Utilities.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/SolutionExplorer_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstance.cs
Labels: Area-IDE, Integration-Test

#31786 Hide the start page to improve test performance
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/StartPage_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/StartPage_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstance.cs
Labels: Area-Infrastructure, Integration-Test

#32137 Fix and validate compiler extension VSIX
  src/Compilers/Extension/Roslyn.Compilers.Extension.csproj
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
  src/Tools/BuildBoss/Program.cs
Labels: Area-Infrastructure

#32041 Ensure nullability mismatch in implemented interface types is treated as a warning.
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Compiler/ClsComplianceChecker.cs
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/MetadataDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ExplicitInterfaceHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenExplicitImplementationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/InterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/InternalUtilities/MultiDictionary.cs
  src/Compilers/Core/Portable/Symbols/TypeCompareKind.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#32090 No nested nullability warnings on converting suppressed expressions
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31976 Add enhanced color experiment for new classifications.
  src/VisualStudio/Core/Def/Experimentation/VisualStudioExperimentationService.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/EnhancedColorExperiment.cs
Labels: Approved to merge, Area-IDE

#32143 async completion: fixing 'Nullable object must have a value' when del…
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Approved to merge, Area-IDE

#32116 Fix a regression in dynamic event addition that would fail at runtime.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/WinRT/Metadata/WinMdEventTests.cs
Labels: Area-Compilers

#32152 Do not pass /warnaserror to msbuild
  eng/build.ps1
  eng/build.sh
Labels: Area-Infrastructure

#32112 Ensure IOperation/CFG doesn't crash in presence of using declarations:
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#32153 Handle GetIntellisenseProjectName returning empty
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.IVsContainedLanguageFactory.cs
Labels: Approved to merge, Area-IDE

#31764 Add guard to DisposeAsync
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineStates.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
Labels: Area-Compilers, New Feature - Async Streams

#32147 Add "static local functions" to status page
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#32045 use global options for async completion
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/AsyncCompletionService.cs
Labels: Approved to merge, Area-IDE

#32167 Remove prototype comments
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#32162 Merge master to master vs deps
  eng/build.ps1
  eng/build.sh
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.IVsContainedLanguageFactory.cs
Labels: Area-Infrastructure

#32171 Fix async test
  docs/Language Feature Status.md
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineStates.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/EditorFeatures/VisualBasicTest/Classification/SyntacticClassifierTests.vb
  src/Workspaces/VisualBasic/Portable/Classification/ClassificationHelpers.vb
Labels: Area-Compilers, New Language Feature - enhanced using

#31931 SetupAuthoring for Roslyn localization
  src/ExpressionEvaluator/Package/ExpressionEvaluatorPackage.csproj
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.Setup.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/VisualStudioInteractiveComponents/Roslyn.VisualStudio.InteractiveComponents.csproj
Labels: Approved to merge, Area-Infrastructure

#32067 Static local functions
  src/Compilers/CSharp/Portable/Binder/Binder_NameConflicts.cs
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/Binder/LocalScopeBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithLambdaParametersBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ILocalFunctionStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Scope.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/MemberDeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
Labels: Area-Compilers

#32144 tabs should not trigger completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Approved to merge, Area-IDE

#32177 Change no conversion to idisposable message:
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/AnonymousTypesSemanticsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ConversionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#32183 Update the experimental struct color to have more contrast.
  src/VisualStudio/Core/Def/Implementation/Experimentation/EnhancedColorExperiment.cs
Labels: Approved to merge, Area-IDE

#31811 consume NoSideEffects flag in EE
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/NativeViewTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ResultsViewTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/NativeViewExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/ResultsViewExpansion.cs
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmEvaluationFlags.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ResultsViewTests.vb
Labels: Approved to merge, Interactive-Debugging

#32157 IDE0060 doesn't warn about unused params in ISerializable constructors
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/Features/CSharp/Portable/RemoveUnusedParametersAndValues/CSharpRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Shared/Utilities/DeserializationConstructorCheck.cs
Labels: Approved to merge, Area-IDE

#32192 Publish VSIX installer with build
  azure-pipelines.yml
Labels: Area-Infrastructure

#31986 Unify StrongNameProvider implementations
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/Attributes/EmitTestStrongNameProvider.cs
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/DesktopStrongNameProviderTests.cs
  src/Compilers/CSharp/Test/Emit/PrivateProtected.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/CodeAnalysisTest/StrongNameProviderTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCommandLineArguments.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.LoggingStrongNameProvider.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/Compilation.EmitStream.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/Core/Portable/StrongName/DesktopStrongNameProvider.cs
  src/Compilers/Core/Portable/StrongName/PortableStrongNameProvider.cs
  src/Compilers/Core/Portable/StrongName/StrongNameFileSystem.cs
  src/Compilers/Core/Portable/StrongName/StrongNameKeys.cs
  src/Compilers/Core/Portable/StrongName/StrongNameProvider.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Compilers/Test/Utilities/VisualBasic/TestOptions.vb
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceAssemblySymbol.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/EmitTestStrongNameProvider.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Emit/PrivateProtected.vb
  src/EditorFeatures/Test/Utilities/SymbolEquivalenceComparerTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_InternalsVisibleTo.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_InternalsVisibleTo.vb
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/Test/Utilities/Portable/Compilation/TestDesktopStrongNameProvider.cs
  src/Test/Utilities/Portable/Compilation/TestStrongNameFileSystem.cs
  src/Test/Utilities/Portable/Compilation/ThrowingStrongNameFileSystem.cs
  src/Test/Utilities/Portable/Platform/Custom/SigningTestHelpers.cs
Labels: Area-Compilers

#31944 Filter out wpftemp projects.
  .gitignore
Labels: Area-Infrastructure, Community, Contributor Pain

#32185 Start dogfooding editorconfig support in the branch
  .editorconfig
  eng/Versions.props
  eng/config/rulesets/Shipping.ruleset
Labels: Area-Compilers

#32194 Record merged features
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#32229 Add vs-deps branches for dev16.0-preview2 & dev16.1-preview1 to pipelines.yml
  azure-pipelines.yml
Labels: Area-Infrastructure

#32245 Use PipeOptions.CurrentUserOnly
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnection.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/NamedPipeUtil.cs
  src/Compilers/VisualBasic/vbc/vbc.csproj
Labels: Area-Compilers

#32188 Update the version number to 3.0.0 beta3
  eng/Versions.props
Labels: Area-Infrastructure

#31492 Fix brace placement for destructor in "Implement interface with Dispose pattern"
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/Features/CSharp/Portable/ImplementInterface/CSharpImplementInterfaceService.cs
Labels: Approved to merge, Area-IDE, Community

#32285 Trigger Branch and PR CI builds for 16.0 preview branches
  azure-pipelines-integration.yml
  azure-pipelines.yml
Labels: Area-Infrastructure

#32283 Handle recursive patterns in IOperation based GetValueUsageInfo method
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValuesTestsBase.cs
  src/Workspaces/Core/Portable/Extensions/OperationExtensions.cs
Labels: Approved to merge, Area-IDE

#32118 Fix IDE0055 formatting errors
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Block.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ILocalFunctionStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAwaitHighlighter.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/Core/Implementation/RenameTracking/RenameTrackingDiagnosticAnalyzer.cs
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/AddObsoleteAttribute/CSharpAddObsoleteAttributeCodeFixProvider.cs
  src/Features/Core/Portable/AddObsoleteAttribute/AbstractAddObsoleteAttributeCodeFixProvider.cs
  src/Features/Core/Portable/OrderModifiers/AbstractOrderModifiersDiagnosticAnalyzer.cs
  src/Workspaces/Core/Portable/Utilities/Documentation/XmlDocumentationProvider.cs
Labels: Area-Infrastructure, Contributor Pain

#32230 Async-streams: Produce diagnostic for async-iterator missing async
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Approved to merge, Area-Compilers, New Feature - Async Streams

#32184 Pattern-based 'await foreach' should find parameterless 'GetAsyncEnumerator' and 'MoveNextAsync'
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Dependencies/PooledObjects/ArrayBuilder.cs
Labels: Approved to merge, Area-Compilers, New Feature - Async Streams

#32293 Handle null value for `IDeclarationPatternOperation.DeclaredSymbol`
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.Walker.cs
Labels: Approved to merge, Area-IDE

#32180 Publish OptProf Data files
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#32208 Add support for enable/safeonly/nullable within #pragma directive
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/CSharpPragmaWarningStateMap.cs
  src/Compilers/CSharp/Portable/Syntax/PragmaWarningDirectiveTriviaSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/EnableKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NullableKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SafeOnlyKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/EnableKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/NullableKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/SafeOnlyKeywordRecommender.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Nullable Reference Types

#32150 Fix the InvalidCastException when trying to introduce a variable
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceVariable/IntroduceVariableTests.vb
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.cs
Labels: Approved to merge, Area-IDE

#32277 Add ITypeSymbol.IsUnmanagedType and ITypeSymbol.IsRefLikeType
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousType.TypePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_IsByRefLike.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ReadOnlyStructs.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/ITypeSymbol.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/SemanticModelAPITests.vb
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationTypeSymbol.cs
Labels: Area-Compilers

#32267 AsyncCompletion in Debugger: potential commit chars is empty
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManagerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
Labels: Approved to merge, Area-IDE

#32187 Recommend keyword static for static local functions
  src/EditorFeatures/CSharpTest2/Recommendations/RecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StaticKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/StaticKeywordRecommender.cs
Labels: Approved to merge, Area-IDE

#32268 fix rename crash when an invalid for-loop control variable exist in VB syntax tree
  src/EditorFeatures/Test2/Rename/RenameEngineTests.VisualBasicConflicts.vb
  src/Workspaces/VisualBasic/Portable/Rename/LocalConflictVisitor.vb
Labels: Approved to merge, Area-IDE

#32159 Fix null check combined with nullable bool test
  azure-pipelines-integration.yml
  eng/build.ps1
  src/Features/Core/Portable/Diagnostics/DiagnosticResultSerializer.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalysisResultBuilder.cs
Labels: Approved to merge, Area-Infrastructure

#31602 Unmanaged constructed types tests
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Imports.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/BaseTypeAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/ManagedKind.cs
Labels: Area-Compilers

#32279 Async-streams: Add sequence point after resume label for yield
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#32255 updating OptimizationData to 3.0.0-beta2-19053-01
  eng/Versions.props
Labels: Area-Performance

#32304 Non-nullable fields of default struct value should be treated as nullable
  docs/features/nullable-reference-types.md
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.VariableIdentifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/Test/Utilities/CSharp/CompilationTestUtils.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#32398 Remove unused TypeSymbol.EqualsIgnoringTupleNames static readonly field.
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#32375 Avoid navigating to message severity items unless requested
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListCommon.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ErrorList_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/ErrorList_OutOfProc.cs
Labels: Area-IDE, Integration-Test

#29825 Fix for InvalidCastException when passing lambda with incorrect number of parameters
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/VisualBasicTest/InitializeParameter/AddParameterCheckTests.vb
  src/Features/CSharp/Portable/InitializeParameter/CSharpAddParameterCheckCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InitializeParameter/CSharpInitializeMemberFromParameterCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InitializeParameter/InitializeParameterHelpers.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/InitializeParameter/InitializeParameterHelpers.vb
  src/Features/VisualBasic/Portable/InitializeParameter/VisualBasicAddParameterCheckCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/InitializeParameter/VisualBasicInitializeMemberFromParameterCodeRefactoringProvider.vb
Labels: Approved to merge, Area-IDE

#32340 Prevent unnecessary cast warning for required casts in with statements
  src/EditorFeatures/VisualBasicTest/Diagnostics/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.vb
  src/Workspaces/VisualBasic/Portable/Utilities/SpeculationAnalyzer.vb
Labels: Approved to merge, Area-IDE

#32265 Add support for expanding of alias of value tuple types
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.Expander.cs
Labels: Approved to merge, Area-IDE

#32402 Copy nullability of struct fields of unconstrained type
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#31851 Include the member name in the error message when one attempt to explicitly implement an interface event in an interface
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/EventTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Area-Compilers, Bug, Language-C#

#32435 Reorder wrapping refactoring to show after initialize member from par…
  src/Features/CSharp/Portable/InitializeParameter/CSharpInitializeMemberFromParameterCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/InitializeParameter/VisualBasicInitializeMemberFromParameterCodeRefactoringProvider.vb
Labels: Approved to merge, Area-IDE

#32307 Completion window tooltip for constants/extension methods always show…
  src/EditorFeatures/Core.Wpf/Completion/Presentation/ToolTipProvider.cs
  src/EditorFeatures/Core.Wpf/WpfClassificationExtensions.cs
  src/EditorFeatures/Core/Implementation/Classification/ClassificationTags.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractDocumentSpanEntry.cs
Labels: Approved to merge, Area-IDE

#32436 Disable a few tests on Mono
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOverridingAndHiding.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/DestructorTests.cs
Labels: Area-Compilers

#32313 Finish the project context implementation for the free-threaded project system shims
  src/Interactive/EditorFeatures/Core/Implementation/Interactive/InteractiveWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/RuleSets/VisualStudioRuleSetManager.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectOptionsProcessor.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioRuleSetTests.vb
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Utilities/ICacheEntry.cs
  src/Workspaces/Core/Portable/Utilities/ReferenceCountedDisposableCache.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
Labels: Approved to merge, Area-IDE

#32440 Fix assert in UsePatternMatching.CSharpAsAndNullCheckDiagnosticAnalyzer
  src/EditorFeatures/CSharpTest/UsePatternMatching/CSharpAsAndNullCheckTests.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.Analyzer.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE

#31534 Editor completion: tests for non-block for completion items
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Intellisense/LegacyTestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/ModernCompletionTestState.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestStateBase.vb
Labels: Area-IDE, Test

#31244 Resources should not be emitted into ref assemblies
  docs/compilers/CSharp/Compiler Breaking Changes - VS2019.md
  docs/compilers/Visual Basic/Compiler Breaking Changes - VS2019.md
  docs/features/refout.md
  src/Compilers/CSharp/Portable/Emitter/Model/PEAssemblyBuilder.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/Core/Portable/EmbeddedText.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/VisualBasic/Portable/Emit/PEAssemblyBuilder.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/CompilationEmitTests.vb
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
Labels: Area-Compilers

#32445 Fix UseExpressionBodyHelper.GetDiagnosticLocation for indexer declara…
  src/EditorFeatures/CSharpTest/UseExpressionBody/Analyzer/UseExpressionBodyForAccessorsAnalyzerTests.cs
  src/Features/CSharp/Portable/UseExpressionBody/Helpers/UseExpressionBodyForIndexersHelper.cs
Labels: Approved to merge, Area-IDE

#32443 Fix typo
  src/Workspaces/Core/Portable/Simplification/Simplifier.cs
Labels: Approved to merge, Area-IDE, Community

#32508 Fix regression where renaming a CodeElement didn't update node keys
  src/VisualStudio/Core/Impl/CodeModel/AbstractCodeModelService.cs
  src/VisualStudio/Core/Impl/CodeModel/FileCodeModel.cs
  src/VisualStudio/Core/Impl/CodeModel/ICodeModelService.cs
  src/VisualStudio/Core/Impl/CodeModel/InternalElements/AbstractCodeElement.cs
  src/VisualStudio/Core/Impl/CodeModel/NodeKeyValidation.cs
  src/VisualStudio/Core/Impl/CodeModel/ProjectCodeModelFactory.cs
  src/VisualStudio/Core/Test/CodeModel/CSharp/FileCodeModelTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/FileCodeModelTests.vb
  src/VisualStudio/TestUtilities2/CodeModel/CodeModelTestHelpers.vb
Labels: Approved to merge

#32372 Fix NullReferenceException in LocalRewriter.MakeConversionNode
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenConversionTests.cs
Labels: Area-Compilers

#32233 Async-streams: Recognize MoveNextAsync that returns an awaitable
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingDeclarationTests.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
Labels: Approved to merge, Area-Compilers, New Feature - Async Streams

#32442 Publish to BAR
  azure-pipelines-official.yml
  eng/common/CIBuild.cmd
  eng/common/PublishBuildAssets.cmd
  eng/common/PublishToPackageFeed.proj
  eng/common/README.md
  eng/common/build.ps1
  eng/common/build.sh
  eng/common/cibuild.sh
  eng/common/darc-init.ps1
  eng/common/darc-init.sh
  eng/common/helixpublish.proj
  eng/common/init-tools-native.cmd
  eng/common/init-tools-native.ps1
  eng/common/init-tools-native.sh
  eng/common/msbuild.ps1
  eng/common/msbuild.sh
  eng/common/templates/job/job.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/jobs/jobs.yml
  eng/common/templates/phases/base.yml
  eng/common/templates/phases/publish-build-assets.yml
  eng/common/templates/steps/build-reason.yml
  eng/common/templates/steps/helix-publish.yml
  eng/common/templates/steps/run-on-unix.yml
  eng/common/templates/steps/run-on-windows.yml
  eng/common/templates/steps/run-script-ifequalelse.yml
  eng/common/templates/steps/send-to-helix.yml
  eng/common/templates/steps/telemetry-end.yml
  eng/common/templates/steps/telemetry-start.yml
  eng/common/tools.ps1
  eng/common/tools.sh
Labels: Area-Infrastructure

#32257 Remove more private reflection from compiler
  src/Compilers/CSharp/Test/Emit/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/CSharp/csc/csc.csproj
  src/Compilers/Core/MSBuildTask/ManagedToolTask.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
  src/Compilers/Core/MSBuildTask/Utilities.cs
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.csproj
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Shared/BuildClient.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/CoreClrAnalyzerAssemblyLoader.cs
  src/Compilers/Shared/DesktopBuildClient.cs
  src/Compilers/Shared/NamedPipeUtil.cs
  src/Compilers/Shared/RuntimeHostInfo.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/vbc/vbc.csproj
  src/Scripting/Core/Microsoft.CodeAnalysis.Scripting.csproj
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Test/Utilities/Portable/Assert/UseCultureAttribute.cs
  src/Test/Utilities/Portable/Compilation/RuntimeUtilities.cs
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/Test/Utilities/Portable/TargetFrameworkUtil.cs
  src/Test/Utilities/Portable/TestBase.cs
Labels: Area-Compilers

#32517 Fix bad merge conflict resolution in azure-pipelines-official
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#25875 Code fix to add unsafe option to C# project
  src/EditorFeatures/CSharpTest/Diagnostics/UpdateProjectToAllowUnsafe/UpdateProjectToAllowUnsafeTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_Create.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlCreation.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.Designer.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/UpdateProjectToAllowUnsafe/CSharpUpdateProjectToAllowUnsafeCodeFixProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/UpgradeProject/AbstractUpgradeProjectCodeFixProvider.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/CSharp/Impl/Microsoft.VisualStudio.LanguageServices.CSharp.csproj
  src/VisualStudio/CSharp/Impl/Utilities/CSharpCompilationOptionsChangingService.cs
  src/VisualStudio/CSharp/Impl/Utilities/CSharpParseOptionsChangingService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/Utilities/ICompilationOptionsChangingService.cs
  src/VisualStudio/Core/Def/Utilities/IParseOptionsChangingService.cs
  src/VisualStudio/Core/Def/Utilities/ProjectPropertyStorage.cs
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractIntegrationTest.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractUpdateProjectTest.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpUpdateProjectToAllowUnsafe.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpUpgradeProject.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/SolutionExplorer_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownProjectTemplates.cs
  src/VisualStudio/VisualBasic/Impl/Utilities/VisualBasicCompilationOptionsChangingService.vb
  src/VisualStudio/VisualBasic/Impl/Utilities/VisualBasicParseOptionsChangingService.vb
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpParseOptionsService.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Host/ParseOptions/IParseOptionsService.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Area-IDE, Community

#32430 Supress 1579 when the type being enumerated is an Error Type
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
Labels: Area-Compilers, Community, Concept-Diagnostic Clarity

#32497 report NFW instead of crash when creating formatting rules if encoutered unexpected state
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioFormattingRuleFactoryServiceFactory.cs
Labels: Approved to merge, Area-IDE

#28793 Don't attach trivia to nodes that will be removed, fixes #28323
  src/EditorFeatures/CSharpTest/InlineDeclaration/CSharpInlineDeclarationTests_FixAllTests.cs
  src/Features/CSharp/Portable/InlineDeclaration/CSharpInlineDeclarationCodeFixProvider.cs
Labels: Approved to merge, Area-IDE, Community

#32450 Avoid KeyNotFound when updating inline rename state
  src/VisualStudio/Core/Def/Implementation/InlineRename/InlineRenameUndoManager.cs
Labels: Approved to merge, Area-IDE

#32403 Ensure that we always mark an analyzer file reference full path as a
  src/Compilers/Core/CodeAnalysisTest/ShadowCopyAnalyzerAssemblyLoaderTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
  src/Compilers/Shared/ShadowCopyAnalyzerAssemblyLoader.cs
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
Labels: Approved to merge, Area-Compilers, Area-IDE

#31918 Keybinding reset gold bar is displayed when not applicable
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/ReSharperStatus.cs
Labels: Approved to merge, Area-IDE

#32536 Fix crash with unmanaged constraint and recursive type argument
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/BaseClassTests.cs
Labels: Area-Compilers

#32548 Allow skipping tests and opt data in official builds
  azure-pipelines-official.yml
  eng/build.ps1
Labels: Area-Infrastructure

#32449 Make array Range indexer expression an rvalue
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IndexAndRangeTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Range

#32552 workaround for concurrent event causing VS to crash
  src/Workspaces/Core/Portable/Workspace/WorkspaceRegistration.cs
Labels: Approved to merge, Area-IDE

#32432 Syntax changes for recursive pattern-matching feature
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SyntaxKindEx.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#32550 add more telemetry to track feature performances
  src/EditorFeatures/Core/GoToImplementation/GoToImplementationCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphProvider.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/ImplementedByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/ImplementsGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/IsCalledByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/IsUsedByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/OverridesGraphQuery.cs
  src/Workspaces/Core/Portable/Log/FunctionId.cs
Labels: Approved to merge, Area-IDE

#32598 Updated dotnet build tools
  eng/Versions.props
  src/Tools/RoslynPublish/Program.cs
Labels: Area-Infrastructure

#30849 Change space and wrapping exclusions to include information about ignoring elastic
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/Workspaces/CSharp/Portable/Formatting/Engine/Trivia/TriviaDataFactory.ComplexTrivia.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/ElasticTriviaFormattingRule.cs
  src/Workspaces/CSharp/Portable/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/Core/Portable/Formatting/Context/FormattingContext.InitialContextFinder.cs
  src/Workspaces/Core/Portable/Formatting/Context/FormattingContext.cs
  src/Workspaces/Core/Portable/Formatting/Context/SuppressSpacingData.cs
  src/Workspaces/Core/Portable/Formatting/Context/SuppressWrappingData.cs
  src/Workspaces/Core/Portable/Formatting/Engine/AbstractFormatEngine.OperationApplier.cs
  src/Workspaces/Core/Portable/Formatting/Engine/AbstractFormatEngine.cs
  src/Workspaces/Core/Portable/Formatting/Rules/Operations/SuppressOption.cs
Labels: Area-IDE

#32530 Remove workaround for Navigate To running on old versions of Visual Studio
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.cs
Labels: Area-IDE

#24071 Handle nameof expressions in UnboundIdentifiersDiagnosticAnalyzerBase
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTestsWithAddImportDiagnosticProvider.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/AddImport/AddImportTests.vb
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpUnboundIdentifiersDiagnosticAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/UnboundIdentifiersDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicUnboundIdentifiersDiagnosticAnalyzer.vb
Labels: Approved to merge, Area-IDE

#32633 Update dotnet buildtools
  eng/Versions.props
  src/Tools/RoslynPublish/Program.cs
  src/Tools/RoslynPublish/RoslynPublish.csproj
Labels: Approved to merge, Area-Infrastructure

#32632 Use BuildNumber when publishing OptProf artifacts
  azure-pipelines-official.yml
Labels: Approved to merge, Area-Infrastructure

#32225 Add support for ??= to NullableWalker
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#32652 Make method body generation not rely on destination type
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/Test/CodeGeneration/CodeGenerationTests.Shared.cs
  src/Features/Core/Portable/ExtractInterface/AbstractExtractInterfaceService.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateParameterizedMemberService.CodeAction.cs
  src/VisualStudio/Core/Impl/CodeModel/AbstractCodeModelObject_CodeGen.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
Labels: Approved to merge, Area-IDE

#32591 Finish testing for unmanaged constructed types
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Area-Compilers

#32675 Add bail out cases for unused members analyzer
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnusedMembers/RemoveUnusedMembersTests.vb
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE

#32638 Bail out on error type in CSharpTypeStyleDiagnosticAnalyzer
  src/EditorFeatures/CSharpTest/Diagnostics/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpTypeStyleHelper.cs
Labels: Approved to merge, Area-IDE

#32636 Repos that are on github do not need to archive sources
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#32588 MatchFailureException captures an unreified tuple input
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#30917 Fix symbol resolution by applying groups at a time
  src/EditorFeatures/CSharpTest/InlineDeclaration/CSharpInlineDeclarationTests_FixAllTests.cs
  src/Features/CSharp/Portable/InlineDeclaration/CSharpInlineDeclarationCodeFixProvider.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxEditorExtensions.cs
Labels: Approved to merge, Area-IDE

#24820 Use SHA256 by default in command line compilers
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, Tenet-Compliance

#32673 Add check to AbstractEditorFactory to load new WinForms designer if necessary
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
Labels: Approved to merge

#32642 Ensure we react to metadata reference adds and deletes too
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeWatcher.cs
Labels: Approved to merge, Area-IDE

#32617 Add structure provider for string literals
  src/EditorFeatures/CSharpTest/Structure/StringLiteralExpressionStructureTests.cs
  src/EditorFeatures/VisualBasicTest/Structure/StringLiteralExpressionStructureTests.vb
  src/Features/CSharp/Portable/Structure/CSharpBlockStructureProvider.cs
  src/Features/CSharp/Portable/Structure/Providers/StringLiteralExpressionStructureProvider.cs
  src/Features/VisualBasic/Portable/Structure/Providers/StringLiteralExpressionStructureProvider.vb
  src/Features/VisualBasic/Portable/Structure/VisualBasicBlockStructureProvider.vb
Labels: Approved to merge, Area-IDE, Community

#29309 Require JoinableTaskContext be provided in the MEF container for EditorFeatures
  src/EditorFeatures/Core/Shared/Utilities/ThreadingContext.cs
  src/Workspaces/Core/Portable/Utilities/ForegroundThreadDataKind.cs
  src/Workspaces/CoreTestUtilities/MEF/UseExportProviderAttribute.cs
  src/Workspaces/CoreTestUtilities/TestExportJoinableTaskContext+DenyExecutionSynchronizationContext.cs
  src/Workspaces/CoreTestUtilities/TestExportJoinableTaskContext.cs
Labels: Approved to merge, Area-IDE

#32523 Fix bug with 'add parameter to constructor'
  src/EditorFeatures/CSharpTest/GenerateFromMembers/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.cs
  src/EditorFeatures/VisualBasicTest/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.vb
  src/Features/CSharp/Portable/InitializeParameter/CSharpInitializeMemberFromParameterCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersCodeAction.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/State.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/State.cs
  src/Features/Core/Portable/GenerateFromMembers/AbstractGenerateFromMembersService.cs
Labels: Approved to merge, Area-IDE

#32704 Features/unmanaged constructed types
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Imports.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/BaseTypeAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolWithAnnotations.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedFieldSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/ManagedKind.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ManagedAddressOfTests.cs
Labels: Area-Compilers

#32684 Handled exception from a COM call to `IOleUndoManager`
  src/VisualStudio/Core/Def/Implementation/InlineRename/InlineRenameUndoManager.cs
Labels: Approved to merge, Area-IDE

#32585 Update cross-platform.md to reflect recent infra changes
  docs/infrastructure/cross-platform.md
Labels: Area-Infrastructure

#32689 Implement the check whether runtime supports DefaultImplementationsOfInterfaces.
  eng/Versions.props
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MetadataOrSourceAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MissingCorLibrarySymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CompilationCreationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CorLibrary/CorTypes.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/ClsComplianceTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/ExpressionBodiedMethodTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/ExpressionBodiedPropertyTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/Core/CodeAnalysisTest/CorLibTypesTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SpecialMember.cs
  src/Compilers/Core/Portable/SpecialMembers.cs
  src/Compilers/Core/Portable/SpecialType.cs
  src/Compilers/Core/Portable/SpecialTypes.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/CompilationCreationTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/CorLibrary/CorTypes.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/Test/Utilities/Portable/Mocks/TestReferences.cs
  src/Test/Utilities/Portable/TargetFrameworkUtil.cs
Labels: Area-Compilers, New Language Feature - Default Interface Implementation

#32700 Update the Spanish_Unit_Tests test results path
  azure-pipelines.yml
Labels: Area-Infrastructure

#32726 add new compilation options to data sync to OOP.
  src/Workspaces/CSharp/Portable/Execution/CSharpOptionsSerializationService.cs
  src/Workspaces/Core/Portable/Execution/AbstractOptionsSerializationService.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
  src/Workspaces/VisualBasic/Portable/Execution/VisualBasicOptionsSerializationService.vb
Labels: Approved to merge, Area-IDE

#32740 Enable Mono testing
  src/Compilers/CSharp/Test/Symbol/Compilation/LoadDirectiveTests.cs
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
  src/Compilers/Core/CodeAnalysisTest/EmbeddedTextTests.cs
  src/Compilers/Core/CodeAnalysisTest/Microsoft.CodeAnalysis.UnitTests.csproj
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers

#32640 Dispose pattern based enumerators in foreach:
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenForEachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
Labels: Area-Compilers, New Language Feature - enhanced using

#32574 Improve CFG for switch expression when clauses
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#32710 Fix preview changes application for linked files
  src/VisualStudio/Core/Def/Implementation/Preview/TopLevelChange.cs
Labels: Approved to merge, Area-IDE

#32713 made all VersionStamp constructor to share initialization and argumen…
  src/EditorFeatures/CSharpTest/Workspaces/WorkspaceTests.cs
  src/Workspaces/Core/Portable/Workspace/Solution/VersionStamp.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Approved to merge, Area-IDE

#32750 Fix cast exception in AbstractProject.RemoveDocument
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/AbstractProject.cs
Labels: Approved to merge, Area-IDE

#32500 Issue 27925 - Squiggle first line / entire parenthetical expression in remove unnecessary parentheses diagnostic
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/EditorFeatures/CSharpTest/FullyQualify/FullyQualifyTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Diagnostics/AbstractUserDiagnosticTest.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.vb
  src/Features/Core/Portable/AbstractParenthesesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/RemoveUnnecessaryParentheses/AbstractRemoveUnnecessaryParenthesesDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE

#32708 Switch to IVsDropDownBarClient4 to let us handle image monikers directly
  eng/Versions.props
  eng/targets/VisualStudio.targets
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/VisualStudio/Core/Def/Implementation/Extensions/VisualStudioWorkspaceImplExtensions.cs
  src/VisualStudio/Core/Def/Implementation/NavigationBar/NavigationBarClient.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Approved to merge, Area-IDE

#32748 Tweak bail out approach from unused member analyzer for struct layout types
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Approved to merge, Area-IDE

#32706 Add structure provider for interpolated strings
  src/EditorFeatures/CSharpTest/Structure/InterpolatedStringExpressionStructureTests.cs
  src/EditorFeatures/VisualBasicTest/Structure/InterpolatedStringExpressionStructureTests.vb
  src/Features/CSharp/Portable/Structure/CSharpBlockStructureProvider.cs
  src/Features/CSharp/Portable/Structure/Providers/InterpolatedStringExpressionStructureProvider.cs
  src/Features/VisualBasic/Portable/Structure/Providers/InterpolatedStringExpressionStructureProvider.vb
  src/Features/VisualBasic/Portable/Structure/VisualBasicBlockStructureProvider.vb
Labels: Approved to merge, Area-IDE, Community

#32725 Remove additive classifications when generating ClassifiedText from ClassifiedSpans
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
Labels: Approved to merge, Area-IDE

#32758 Gracefully handle documented exceptions from AssemblyMetadata.GetModules
  src/Workspaces/Core/Portable/Execution/AbstractReferenceSerializationService.cs
Labels: Approved to merge, Area-IDE

#32649 Fix metadata references not always having file watchers
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeWatcherProvider.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/FileWatchedPortableExecutableReferenceFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReference.Snapshot.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceProviderServiceFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioPortableExecutableReference.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/MetadataToProjectReferenceConversionTests.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
Labels: Approved to merge, Area-IDE

#32731 Async-streams: allow pattern-based disposal in await using and foreach
  docs/features/async-streams.md
  src/Compilers/CSharp/Portable/Binder/AwaitableInfo.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Await.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenForEachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForEachTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
Labels: Area-Compilers, New Feature - Async Streams

#32376 Remove workaround for persistent errors
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ErrorList_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/ErrorList_OutOfProc.cs
Labels: Approved to merge, Area-IDE, Integration-Test

#32754 Allow locals, parameters, range variables inside a lambda to shadow names outside the lambda
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/Binder/Binder_NameConflicts.cs
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithLambdaParametersBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NameCollisionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Scope.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/QueryTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers

#32793 Move toolset to the dev16.0p2 compiler
  eng/Versions.props
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
Labels: Area-Infrastructure

#32549 Improve naming style diagnostics when identifier begins with common prefixes
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/NamingStylesTests.cs
  src/EditorFeatures/Test2/Diagnostics/NamingStyles/NamingStyleTests.IdentifierCreation.Compliance.vb
  src/Workspaces/Core/Portable/NamingStyles/NamingStyle.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Area-IDE
