Repository dotnet/roslyn, pull requests merged in 2020-09, with the labels that each got.

#47315 Update Versions.props and PublishData.json for 16.8p3 snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure, auto-merge

#47297 Remove Humanizer package reference from CodeStyle layer
  src/CodeStyle/CSharp/Analyzers/Microsoft.CodeAnalysis.CSharp.CodeStyle.csproj
  src/CodeStyle/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.CodeStyle.Fixes.csproj
  src/Workspaces/CSharp/Portable/Extensions/SemanticModelExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/SemanticsFactsService/CSharpSemanticFacts.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/SemanticFacts/AbstractSemanticFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SemanticsFactsService/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SemanticModelExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SemanticFacts/VisualBasicSemanticFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicSemanticFactsService.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/SemanticFactsService/VisualBasicSemanticFacts.vb
Labels: Area-IDE, auto-merge

#47293 Update nullable annotations in CodeCleanup folder
  src/Workspaces/Core/Portable/CodeCleanup/AbstractCodeCleanerService.cs
  src/Workspaces/Core/Portable/CodeCleanup/CodeCleaner.cs
  src/Workspaces/Core/Portable/CodeCleanup/ICodeCleanerService.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/ExportCodeCleanupProvider.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/FormatCodeCleanupProvider.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/ICodeCleanupProvider.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/PredefinedCodeCleanupProviderNames.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/SimpleCodeCleanupProvider.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/SimplificationCodeCleanupProvider.cs
Labels: Area-IDE, Concept-Null Annotations

#47180 Adjust assertion in AsyncExceptionHandlerRewriter
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Labels: Area-Compilers

#47303 Update nullable annotations in Tags folder
  src/Workspaces/Core/Portable/Tags/WellKnownTags.cs
Labels: Area-IDE, Concept-Null Annotations

#47302 Update nullable annotations in TodoComments folder
  src/Workspaces/Core/Portable/TodoComments/TodoCommentOptions.cs
Labels: Area-IDE, Concept-Null Annotations

#47301 Update annotations in Versions folder
  src/Workspaces/Core/Portable/Versions/PersistedVersionStampLogger.cs
Labels: Area-IDE, Concept-Null Annotations

#47299 Update nullable annotations in Indentation folder
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.Indenter.cs
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.cs
  src/Workspaces/CSharp/Portable/Indentation/CSharpSmartTokenFormatter.cs
  src/Workspaces/Core/Portable/Indentation/IIndentationService.cs
  src/Workspaces/Core/Portable/Indentation/ISmartTokenFormatter.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/FormattingHelpers.cs
Labels: Area-IDE, Concept-Null Annotations

#47298 Update nullable annotations in Formatting folder
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
  src/Workspaces/Core/Portable/CodeCleanup/Providers/FormatCodeCleanupProvider.cs
  src/Workspaces/Core/Portable/Formatting/AbstractFormattingService.cs
  src/Workspaces/Core/Portable/Formatting/Formatter.cs
  src/Workspaces/Core/Portable/Formatting/FormattingOptionsProvider.cs
  src/Workspaces/Core/Portable/Formatting/IFormattingService.cs
  src/Workspaces/Core/Portable/Formatting/Rules/DefaultFormattingRuleFactoryServiceFactory.cs
  src/Workspaces/Core/Portable/Formatting/Rules/IFormattingRule.cs
  src/Workspaces/Core/Portable/Formatting/Rules/IHostDependentFormattingRuleFactoryService.cs
Labels: Area-IDE, Concept-Null Annotations

#47296 Update nullable annotations in ExtensionManager folder
  src/EditorFeatures/Core/Implementation/EditorLayerExtensionManager.cs
  src/Workspaces/Core/Portable/ExtensionManager/AbstractExtensionManager.cs
  src/Workspaces/Core/Portable/ExtensionManager/IExtensionManager.cs
  src/Workspaces/Core/Portable/ExtensionManager/IInfoBarService.cs
  src/Workspaces/Core/Portable/ExtensionManager/ServicesLayerExtensionManager.cs
Labels: Area-IDE, Concept-Null Annotations

#47312 Use the same CDATA color for xml literals as for doc comments
  src/EditorFeatures/Core.Wpf/Classification/ClassificationTypeFormatDefinitions.cs
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2017.xml
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2019.xml
Labels: Area-IDE

#47246 Fix flaky compiler server test.
  src/Compilers/Server/VBCSCompilerTests/NamedPipeClientConnectionHostTests.cs
  src/Compilers/Server/VBCSCompilerTests/TestableClientConnectionHost.cs
Labels: Area-Compilers

#47295 Update nullable annotations in Experiments folder
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE, Concept-Null Annotations

#47213 FeatureOnOffOptionsProvider should provide FeatureOnOffOptions.InlineParameterNameHints option
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
Labels: Area-IDE, Community

#47012 Warn when using a static class in an interface param or return
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
Labels: Area-Compilers, New Feature - Warning Waves, auto-merge

#47321 Enable suggestion mode for LSP completion
  src/Features/Core/Portable/Completion/Providers/AbstractEmbeddedLanguageCompletionProvider.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
Labels: Area-IDE, Bug, CloudEnv, auto-merge

#47349 Rename Pull member(s) up to new base class... to Extract base class...
  src/Features/CSharp/Portable/CodeRefactorings/ExtractClass/CSharpExtractClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/ExtractClass/ExtractClassWithDialogCodeAction.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#47307 Do not include constructor references in the named-type section of a FAR result
  src/EditorFeatures/Test2/Rename/RenameEngineTests.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamedTypeSymbolReferenceFinder.cs
  src/Workspaces/CoreTest/FindReferencesTests.cs
Labels: auto-merge

#47337 Only cache semantic classifications for C# and VB.
  src/VisualStudio/Core/Def/Implementation/SemanticClassificationCache/SemanticClassificationCacheIncrementalAnalyzerProvider.cs
Labels: Approved to merge, Area-IDE, auto-merge

#47339 Do not crash later on if we are unable to roundtrip a symbol to OOP.
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.FindReferencesServerCallback.cs
Labels: Approved to merge, Area-IDE, auto-merge

#47336 Add Breaking changes section to SG cookbook
  docs/features/source-generators.cookbook.md
Labels: Area-Compilers, Documentation

#46991 Remove redundant check
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
Labels: Area-IDE, Community

#47320 Simplify ColorScheme detection
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2017.xml
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2019.pkgdef
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2019.xml
  src/VisualStudio/Core/Def/Implementation/ColorSchemes/ColorSchemeApplier.ClassificationVerifier.cs
  src/VisualStudio/Core/Def/Implementation/ColorSchemes/ColorSchemeApplier.ForegroundColorDefaulter.cs
  src/VisualStudio/Core/Def/Implementation/ColorSchemes/ColorSchemeApplier.Settings.cs
  src/VisualStudio/Core/Def/Implementation/ColorSchemes/ColorSchemeApplier.cs
Labels: Area-IDE

#46478 Move PreserveBaseOverridesAttribute to special types.
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CompilationCreationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CorLibrary/CorTypes.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/ClsComplianceTests.cs
  src/Compilers/Core/CodeAnalysisTest/CorLibTypesTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SpecialMember.cs
  src/Compilers/Core/Portable/SpecialMembers.cs
  src/Compilers/Core/Portable/SpecialType.cs
  src/Compilers/Core/Portable/SpecialTypes.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/CompilationCreationTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/CorLibrary/CorTypes.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Language Feature - Covariant Returns

#47395 Re-run generators when an additional file changes
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationAndGeneratorDriverTranslationAction_Actions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Labels: Area-IDE, auto-merge

#47389 Remove obsolete generator types
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/SourceGeneration/CSharpGeneratorDriver.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/GeneratorContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
Labels: Area-Compilers, New Feature - Source Generators

#47398 Make tree retrieval optional, it's not required for non-C#/VB languages.
  src/EditorFeatures/CSharpTest/TodoComment/NoCompilationTodoCommentTests.cs
  src/EditorFeatures/TestUtilities/TodoComments/AbtractTodoCommentTests.cs
  src/Features/Core/Portable/TodoComments/AbstractTodoCommentsIncrementalAnalyzer.cs
  src/Features/Core/Portable/TodoComments/ITodoCommentService.cs
  src/VisualStudio/Core/Def/Implementation/TodoComments/VisualStudioTodoCommentsService.cs
Labels: auto-merge

#47294 Update nullable annotations in CodeFixes folder
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
  src/Features/Core/Portable/ConflictMarkerResolution/AbstractConflictMarkerCodeFixProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixContext.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/ExportCodeFixProviderAttribute.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchFixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.DiagnosticProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllLogger.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllProviderInfo.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllScope.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/WellKnownFixAllProviders.cs
  src/Workspaces/Core/Portable/CodeFixes/Supression/IConfigurationFixProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/CodeFixCategory.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/CustomCodeActions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/DocumentBasedFixAllProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/FixAll/FixAllState.FixMultipleDiagnosticProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/FixAll/FixAllState.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/FixAllContextHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/SyntaxEditorBasedCodeFixProvider.FixAllProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/SyntaxEditorBasedCodeFixProvider.cs
Labels: Area-IDE, Concept-Null Annotations

#47343 Fix incorrect mapping of body-level-symbols (i.e. locals) between VS and OOP.
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyTests.cs
  src/Workspaces/CSharp/Portable/Workspace/LanguageServices/CSharpSyntaxTreeFactoryService.PositionalSyntaxReference.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyWriter.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.State.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.SymbolToProjectId.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.UnrootedSymbolSet.cs
Labels: Area-IDE, auto-merge

#46509 Inline method feature
  src/EditorFeatures/CSharpTest/InlineMethod/CSharpInlineMethodTests.cs
  src/EditorFeatures/CSharpTest/InlineMethod/CSharpInlineMethodTests_CrossLanguage.cs
  src/EditorFeatures/VisualBasicTest/InlineMethod/VisualBasicInlineMethodTests.vb
  src/EditorFeatures/VisualBasicTest/InlineMethod/VisualBasicInlineMethodTests_CrossLanguage.vb
  src/Features/CSharp/Portable/CodeRefactorings/InlineMethod/CSharpInlineMethodRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/InlineMethod/AbstractInlineMethodRefactoringProvider.InlineContext.cs
  src/Features/Core/Portable/InlineMethod/AbstractInlineMethodRefactoringProvider.MethodParametersInfo.cs
  src/Features/Core/Portable/InlineMethod/AbstractInlineMethodRefactoringProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineMethod/VisualBasicInlineMethodRefactoringProvider.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Approved to merge, Area-IDE, Feature Request

#47375 Update Versions.props
  eng/Versions.props
Labels: Community

#46817 Tooltip for #pragma warning disable
  src/EditorFeatures/CSharpTest/QuickInfo/DiagnosticAnalyzerQuickInfoSourceTests.cs
  src/Features/CSharp/Portable/QuickInfo/CSharpDiagnosticAnalyzerQuickInfoProvider.cs
  src/Features/CSharp/Portable/QuickInfo/CSharpDiagnosticAnalyzerQuickInfoProviderExtensions.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoProviderNames.cs
Labels: Area-IDE, Community, Feature Request, auto-merge

#47452 Rename GetOrValue to GetValueOrDefault
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/IDictionaryExtensions.cs
Labels: Area-IDE

#47456 Fix initializer indentation for 'new()' expression
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/IndentBlockFormattingRule.cs
Labels: Area-IDE, New Language Feature - Target-Typed New

#47397 Update the versions of SCI and SRM to public preview 8
  eng/Versions.props
Labels: Area-Infrastructure, auto-merge

#47464 Reduce threshold in EndToEndTests.Constraints
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
Labels: Area-Compilers, Test

#47422 Short-circuit constant expressions when checking for mutating expressions.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Pattern Matching

#47407 Fix "path cost" calculation when computing the shortest path to the exit of a decision dag...
  src/Compilers/CSharp/Portable/Binder/PatternExplainer.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#47468 Use static lambdas to better express intent concisely
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_StringIds.cs
Labels: auto-merge

#47370 Remove TODO from public documentation
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
Labels: Area-Compilers, Community, Documentation

#47311 Issue Errors on calls to UnmanagedCallersOnly-attributed methods
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/LazyUnmanagedCallersOnlyMethodCalledDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/MethodWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStaticConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Retargeting/RetargetingTests.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonMethodEarlyWellKnownAttributeData.cs
  src/Compilers/Core/Portable/Symbols/Attributes/UnmanagedCallersOnlyAttributeData.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.cs
Labels: Area-Compilers, New Feature - Function Pointers, auto-merge

#47388 Report errors binding to native integer operations and conversions with -langversion:8
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
Labels: Area-Compilers, New Language Feature - Native Int

#47274 Devirtualize TokenMap
  src/Compilers/Core/Portable/CodeGen/TokenMap.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/Core/Portable/Emit/MetadataEntityReferenceComparer.cs
  src/Compilers/Core/Portable/IReferenceOrISignature.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
  src/Compilers/Core/Portable/PEWriter/ReferenceIndexerBase.cs
Labels: Area-Compilers, Community, auto-merge

#47417 Fix and un-skip PropertySubPatternCompletionProviderTests and GenerateVariableTests
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
Labels: Area-IDE, Community, PR For Personal Review Only

#47400 Serialize document states without loading text
  src/EditorFeatures/Core/Implementation/Workspaces/EditorTextFactoryService.cs
  src/VisualStudio/Core/Test.Next/Remote/SerializationValidator.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/Remote/ISerializerService.cs
  src/Workspaces/Core/Portable/Remote/WellKnownSynchronizationKind.cs
  src/Workspaces/Core/Portable/Serialization/SerializableSourceText.cs
  src/Workspaces/Core/Portable/Serialization/SerializationExtensions.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService_Asset.cs
  src/Workspaces/Core/Portable/TemporaryStorage/TemporaryStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Workspace/Host/TemporaryStorage/ITemporaryStorageService2.cs
  src/Workspaces/Core/Portable/Workspace/Host/TemporaryStorage/ITemporaryTextStorageWithName.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState_Checksum.cs
  src/Workspaces/Remote/Core/AbstractAssetProvider.cs
  src/Workspaces/Remote/Core/SolutionAsset.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.SolutionCreator.cs
  src/Workspaces/Remote/ServiceHub/Services/Host/RemoteHostService.cs
Labels: Area-IDE

#39396 Fix brace code style for switch expressions
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/NewLineUserSettingFormattingRule.cs
Labels: Area-IDE, Community

#47416 Add messages to a flaky assertion
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
Labels: Area-Compilers, Community

#47501 Avoid enum boxing for DeclarationModifiers
  src/Compilers/CSharp/Portable/Declarations/DeclarationModifiers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
Labels: Area-Compilers, Community

#47372 Fix IsSafeToChangeAssociativity for dynamic variables
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryParentheses/RemoveUnnecessaryExpressionParenthesesTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
Labels: Area-IDE, Community

#47480 Revert LSP commit characters
  src/Features/Core/Portable/Completion/CompletionTrigger.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Approved to merge, Area-IDE, CloudEnv

#47257 Document SyntaxKinds
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
Labels: Area-Compilers, Community

#47475 Add support to the MinimalAccessibilityVisitor for function pointers
  src/EditorFeatures/CSharpTest/CodeActions/EncapsulateField/EncapsulateFieldTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.MinimalAccessibilityVisitor.cs
Labels: auto-merge

#47428 Fix crash in SpillSequenceSpiller
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenAsyncTests.vb
Labels: Area-Compilers, Needs Shiproom Approval

#47534 Account for bulk configuration editorconfig entries for computing eff…
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/VisualStudio/Core/SolutionExplorerShim/AnalyzersCommandHandler.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItemSource.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DiagnosticDescriptorExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/EditorConfigSeverityStrings.cs
Labels: Area-IDE, auto-merge

#47383 Trigger completion in 'new()' expression
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticBraceCompletionTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/ObjectAndWithInitializerCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractObjectInitializerCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ObjectInitializerCompletionProvider.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE, Community, New Language Feature - Target-Typed New

#47473 Fix extra warning for unused local function
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Labels: Area-Compilers, Community

#47502 Reuse byte arrays for common attribute signatures
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
Labels: Area-Compilers

#47486 Fix for issue 46942. VSIX suppressors do not run when Nuget analyzers / suppressors are installed.
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticSuppressorTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/Test/Utilities/Portable/Diagnostics/DiagnosticDescription.cs
  src/Test/Utilities/Portable/TestBase.cs
  src/Test/Utilities/Portable/TestHelpers.cs
  src/Workspaces/Core/Portable/Diagnostics/SkippedHostAnalyzersInfo.cs
Labels: Area-Analyzers, Community

#46957 Don't offer to make local functions static if they use other local functions
  src/Analyzers/CSharp/Analyzers/MakeLocalFunctionStatic/MakeLocalFunctionStaticDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/MakeLocalFunctionStatic/MakeLocalFunctionStaticHelper.cs
  src/Analyzers/CSharp/Tests/MakeLocalFunctionStatic/MakeLocalFunctionStaticTests.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/CSharpDataFlowAnalysis.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ReadWriteWalker.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/Core/Portable/Compilation/DataFlowAnalysis.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/Analysis/FlowAnalysis/VisualBasicDataFlowAnalysis.vb
  src/EditorFeatures/CSharpTest/MakeLocalFunctionStatic/MakeLocalFunctionStaticRefactoringTests.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/PassInCapturedVariablesAsArgumentsCodeFixProvider.cs
Labels: Area-IDE, auto-merge

#47133 Run continuations asynchronously where necessary
  src/Compilers/Core/CodeAnalysisTest/AsyncQueueTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AsyncQueue.cs
  src/Compilers/Server/VBCSCompiler/IClientConnection.cs
  src/Compilers/Server/VBCSCompiler/ServerDispatcher.cs
Labels: Area-Compilers

#47472 Correctly get binder when a local function is the first thing in top level statements
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
Labels: Area-Compilers, Bug, New Language Feature - Nullable Semantic Model, auto-merge

#47570 show void keyword in completion after readonly in struct
  src/EditorFeatures/CSharpTest2/Recommendations/VoidKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/VoidKeywordRecommender.cs
Labels: Area-IDE

#47429 Fix handling of retargeted fixed size fields
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedFieldSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
Labels: Area-Compilers, Community

#47516 Fix F1 keywords clashing for !_CSharpKeyword
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
Labels: Area-IDE, Community, auto-merge

#47518 Use the correct feature name for error message
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
Labels: Area-Compilers, Community

#47568 Add support for LSP hardcoded custom semantic tokens
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensCache.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensEditsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensTests.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
Labels: Area-IDE, CloudEnv

#47497 Disallow native ints inside nameof
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NameOfTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
Labels: Area-Compilers, Community

#47622 Fix test comments
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
Labels: Area-Compilers, Community

#47552 Signature help should use SymbolDisplayMiscellaneousOptions.AllowDefaultLiteral
  src/EditorFeatures/CSharpTest/SignatureHelp/InvocationExpressionSignatureHelpProviderTests.cs
  src/Features/CSharp/Portable/SignatureHelp/AbstractCSharpSignatureHelpProvider.cs
Labels: Area-IDE, Community

#47544 Eliminate allocation on a hot path with cyclic references
  src/Compilers/CSharp/Portable/Symbols/ReferenceManager.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Binding.cs
  src/Compilers/VisualBasic/Portable/Symbols/ReferenceManager.vb
Labels: 4 - In Review, Area-Compilers, Perf-Epic

#47309 Upgrade MS.CA.Elfie version
  eng/Versions.props
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.DatabaseFactoryService.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
Labels: Area-IDE

#47590 Check EditorBrowsable attribute for unimported ext-methods completion
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.ExtensionMethodSymbolComputer.cs
Labels: Area-IDE

#47653 Generate unsafe constructors
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/EditorFeatures/CSharpTest/GenerateConstructor/GenerateConstructorTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/Features/CSharp/Portable/GenerateConstructor/CSharpGenerateConstructorService.cs
  src/Features/CSharp/Portable/GenerateConstructorFromMembers/CSharpGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.FieldDelegatingCodeAction.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.GenerateConstructorWithDialogCodeAction.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.State.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/AbstractGenerateConstructorService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/AbstractGenerateConstructorService.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.GenerateNamedType.cs
  src/Features/VisualBasic/Portable/GenerateConstructor/VisualBasicGenerateConstructorService.vb
  src/Features/VisualBasic/Portable/GenerateConstructorFromMembers/VisualBasicGenerateConstructorFromMembersCodeRefactoringProvider.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/ConstructorGenerator.cs
  src/Workspaces/Core/Portable/CodeGeneration/CodeGenerationSymbolFactory.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationConstructorInfo.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationConstructorSymbol.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE

#47618 Fix incorrect mapping of nodes/tokens in VBgrammar generator
  src/Compilers/VisualBasic/Portable/Generated/VisualBasic.Grammar.g4
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/Grammar/GrammarGenerator.vb
Labels: Area-Compilers

#47669 Fix steaming ISB service hang
  src/Workspaces/Remote/Core/BrokeredServiceConnection.cs
Labels: Area-IDE, Concept-OOP

#47644 Enable unused integration test parameter
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicKeywordHighlighting.cs
Labels: Area-IDE

#47567 Decision dag: union the set of values when there are two predecessor states.
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Pattern Matching

#47645 Align C# and VB preconditions for GetActualBoundReferencesUsedBy
  src/Compilers/VisualBasic/Portable/Symbols/ReferenceManager.vb
Labels: Area-Compilers, Bug

#46022 Switch to an async nuget api to avoid blocking the UI thread.
  eng/Versions.props
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingNuGetTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/AddImport/AddImportTests_NuGet.vb
  src/Features/Core/Portable/AddImport/AbstractAddImportCodeFixProvider.cs
  src/Features/Core/Portable/AddPackage/AbstractAddPackageCodeFixProvider.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Def/Packaging/PackageInstallerService.ProjectState.cs
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
  src/VisualStudio/Core/Def/SymbolSearch/AbstractDelayStartedService.cs
  src/Workspaces/Core/Portable/Packaging/IPackageInstallerService.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute_Names.cs
Labels: Area-IDE, auto-merge

#47680 Fix `new()` initializer completion for nullable types
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ObjectAndWithInitializerCompletionProvider.cs
Labels: Area-IDE, Community

#47654 Indent braces on 'with' expression relative to starting line
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticBraceCompletionTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/IndentBlockFormattingRule.cs
Labels: Area-IDE, New Language Feature - Records

#46894 Fix convert-to-switch handling of comments at the end of blocks
  src/EditorFeatures/CSharpTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE, Community

#47685 Add test to validate non-repro issue.
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: auto-merge

#47695 only specify minimum heights and widths
  src/VisualStudio/Core/Impl/Options/Style/NamingPreferences/NamingStyleOptionPageControl.xaml
Labels: Area-IDE, auto-merge

#47656 Adjust QuickInfo on record BaseType syntax
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
Labels: Area-IDE, New Language Feature - Records

#47679 Fix lambda completion inside `new()` arguments
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SuggestionModeCompletionProviderTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
Labels: Area-IDE, Community

#47657 Add change signature support for target-typed new
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.OptionalParameter.SymbolKinds.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignature_Delegates.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/RemoveParametersTests.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ReorderParametersTests.cs
  src/Features/CSharp/Portable/ChangeSignature/CSharpChangeSignatureService.cs
Labels: Area-IDE, New Language Feature - Target-Typed New

#47692 Mitigation for IOperation threading issue
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
Labels: Area-Compilers, Bug, Feature - IOperation

#47668 Classify function pointer punctuation
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/TestUtilities/Classification/AbstractClassifierTests.cs
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
Labels: Area-IDE

#47665 always nuget restore in graph mode
  eng/build.ps1
Labels: Area-Infrastructure

#47647 Keep track of the trigger location for async completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
  src/VisualStudio/Core/Test/DebuggerIntelliSense/CSharpDebuggerIntellisenseTests.vb
Labels: Area-IDE

#47686 Show events completion inside NameOf
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/VisualBasic/Portable/Recommendations/VisualBasicRecommendationServiceRunner.vb
Labels: Area-IDE, Community, Language-VB

#47725 Disable TestCancellation
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
Labels: Area-Infrastructure, auto-merge

#47716 Disable flaky optprof test
  eng/config/OptProf.json
Labels: Area-Infrastructure, auto-merge

#43646 Add documentation remarks for syntax kinds
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/Core/Portable/Generated/FlowAnalysis.Generated.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/VisualBasic/Portable/Generated/Syntax.xml.Syntax.Generated.vb
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/IOperationClassWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/GreenNodes/GreenNodeWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/RedNodes/RedNodeWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/Util/WriteUtils.vb
Labels: Area-Compilers, Documentation

#47650 Exclude empty item from completion list
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
Labels: Area-IDE

#47718 Rename in CheckValidNullableMethodOverride
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
Labels: Area-Compilers, Concept-Design Debt

#47727 Add public API test for extended partial methods
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtendedPartialMethodsTests.cs
Labels: Area-Compilers, Test

#47715 Change `Location` of record's primary constructor to point to record's identifier.
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47693 Use a distinct diagnostic ID when an exhaustiveness report uses an unnamed enum value.
  src/Compilers/CSharp/Portable/Binder/PatternExplainer.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, Concept-Diagnostic Clarity, New Language Feature - Pattern Matching

#47689 Error list improvements
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/AbstractHostDiagnosticUpdateSource.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerUpdateArgsId.cs
  src/Features/Core/Portable/Diagnostics/BuildToolId.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService_BuildSynchronization.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_BuildSynchronization.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/LiveDiagnosticUpdateArgsId.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractRoslynTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalyzerInfoCache_CompilationEnd.cs
Labels: Area-IDE

#47708 Emit conversions between native integers and pointers directly
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
  src/Compilers/Core/Portable/CodeGen/ILBuilderConversions.cs
Labels: Area-Compilers, New Language Feature - Native Int

#47752 Delete benchview tool scripts
  scripts/clean_benchview_tools.cmd
  scripts/install_benchview_tools.cmd
Labels: Area-Infrastructure

#47756 Adjust disambiguation rules for type pattern in a switch expression.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#47714 Remove langversion restriction for source generators.
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Workspaces/CSharp/Portable/Workspace/LanguageServices/CSharpCompilationFactoryService.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Labels: Area-Compilers, New Feature - Source Generators

#47670 SignatureHelp for record base type
  src/EditorFeatures/CSharpTest/SignatureHelp/PrimaryConstructorBaseTypeSignatureHelpProviderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/NamedParameterCompletionProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/AttributeSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/ConstructorInitializerSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProviderBase_MethodGroup.cs
  src/Features/CSharp/Portable/SignatureHelp/ObjectCreationExpressionSignatureHelpProvider_NormalType.cs
  src/Features/CSharp/Portable/SignatureHelp/PrimaryConstructorBaseTypeSignatureHelpProvider.cs
  src/Features/Core/Portable/SignatureHelp/AbstractSignatureHelpProvider.cs
  src/Features/VisualBasic/Portable/SignatureHelp/AttributeSignatureHelpProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.vb
  src/Features/VisualBasic/Portable/SignatureHelp/ObjectCreationExpressionSignatureHelpProvider.NormalType.vb
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-IDE, New Language Feature - Records

#47731 bugfix/msbuildworkspace duplicate analyzer references
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.AnalyzerReferencePathComparer.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
Labels: auto-merge

#46597 Harden DiagnosticResultSerializer diagnostic reader part
  src/Features/Core/Portable/Diagnostics/DiagnosticResultSerializer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataSerializer.cs
Labels: Area-IDE

#47785 Supply completions for negative regex categories as well.
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Regex.vb
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexEmbeddedCompletionProvider.cs
Labels: auto-merge

#46884 msbuild workspace global property defaults can be overridden
  src/Workspaces/Core/MSBuild/MSBuild/Build/ProjectBuildManager.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
  src/Workspaces/MSBuildTest/Resources/ProjectFiles/CSharp/ShouldUnsetParentConfigurationAndPlatform.csproj
  src/Workspaces/MSBuildTest/TestFiles/Resources.cs
Labels: Area-IDE, Community

#47536 Consider NativeIntegerAttribute in CopyTypeCustomModifiers()
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NativeIntegerTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/InterfaceImplementationTests.cs
Labels: Area-Compilers

#47769 Remove test caching layer
  eng/build.ps1
  src/Tools/Source/RunTests/Cache/AssemblyUtil.cs
  src/Tools/Source/RunTests/Cache/CachingTestExecutor.cs
  src/Tools/Source/RunTests/Cache/ContentFile.cs
  src/Tools/Source/RunTests/Cache/ContentUtil.cs
  src/Tools/Source/RunTests/Cache/EmptyDataStorage.cs
  src/Tools/Source/RunTests/Cache/IDataStorage.cs
  src/Tools/Source/RunTests/Cache/LocalDataStorage.cs
  src/Tools/Source/RunTests/Cache/WebDataStorage.Json.cs
  src/Tools/Source/RunTests/Cache/WebDataStorage.cs
  src/Tools/Source/RunTests/Constants.cs
  src/Tools/Source/RunTests/ITestExecutor.cs
  src/Tools/Source/RunTests/Options.cs
  src/Tools/Source/RunTests/ProcessTestExecutor.cs
  src/Tools/Source/RunTests/Program.Json.cs
  src/Tools/Source/RunTests/Program.cs
  src/Tools/Source/RunTests/TestRunner.cs
Labels: Area-Infrastructure

#47671 Create conflict annotation when renaming method to get_ or set_ matching property name
  src/EditorFeatures/Test2/Rename/RenameEngineTests.CSharpConflicts.vb
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
Labels: Area-IDE

#47733 Don't remove leading trivia when removing suppression attributes
  src/Analyzers/Core/CodeFixes/RemoveUnnecessarySuppressions/RemoveUnnecessaryPragmaSuppressionsCodeFixProvider.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
Labels: Area-IDE

#47745 Move C# Next to the top and add mixed deconstructions
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#47813 Use verbose logging on Unix
  eng/build.sh
Labels: Area-Infrastructure, auto-merge

#47748 Fix regression in SuppressMessageAttributeState.TargetSymbolResolver
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SuppressMessageTargetSymbolResolverTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.TargetSymbolResolver.cs
Labels: Area-Analyzers, Area-Compilers

#47777 Preserve CustomObsoleteDiagnosticInfo when changing severity
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/Core/Portable/Diagnostic/CustomObsoleteDiagnosticInfo.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticInfo.cs
Labels: Area-Compilers

#47820 Extend the Mac Job Timeout
  azure-pipelines.yml
Labels: Area-Infrastructure, auto-merge

#47652 Allow init accessors in readonly contexts
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47412 Don't map completion items to function
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/ProtocolUnitTests/ProtocolConversionsTests.cs
Labels: Area-IDE

#47805 Allow record's `parameter_list` to be empty.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47734 PrintMembers should exclude indexers and setter-only properties
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPrintMembers.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47764 Initial IDE test sweep for extended partial methods
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/EditorFeatures/CSharpTest/AddParameter/AddParameterTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertForEachToLinqQueryTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLinq/ConvertLinqQueryToForEachTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/NamedParameterCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PartialMethodCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/CSharpTest/InlineMethod/CSharpInlineMethodTests.cs
  src/EditorFeatures/CSharpTest/PullMemberUp/CSharpPullMemberUpTests.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyCompilationsTests.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.CSharp.cs
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.OrdinaryMethodSymbols.vb
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionTests.vb
  src/EditorFeatures/Test2/NavigationBar/CSharpNavigationBarTests.vb
  src/EditorFeatures/Test2/Rename/RenameEngineTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/PartialMethodCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractPartialMethodCompletionProvider.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
Labels: auto-merge

#47697 Dont crash generate variable
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/EditorFeatures/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateVariable/GenerateVariableTests.vb
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.State.cs
  src/Features/Core/Portable/GenerateMember/GenerateVariable/AbstractGenerateVariableService.cs
Labels: Area-Compilers, Area-IDE, auto-merge

#47165 Move to .NET 5 Preview 8 SDK
  azure-pipelines-integration.yml
  docs/contributing/Building, Debugging, and Testing on Unix.md
  docs/contributing/Building, Debugging, and Testing on Windows.md
  eng/common/tools.ps1
  global.json
  src/Interactive/HostProcess/InteractiveHost64.csproj
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/Interactive/HostTest/InteractiveHostDesktopTests.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesCommon.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.Verifier.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownCommandNames.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: auto-merge

#47848 Some more error list performance improvements
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService_BuildSynchronization.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_BuildSynchronization.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Labels: Area-IDE, auto-merge

#47844 Allow genearted local function parameter name to shadow variables
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSemanticFactsService.cs
Labels: Area-IDE, auto-merge

#47846 Fix issues with opening source generated files
  src/VisualStudio/Core/Def/Implementation/Workspace/SourceGeneratedFileManager.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationService.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationServiceFactory.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSourceGenerators.cs
Labels: auto-merge

#47819 Support category-based exclusions in user option for unnecessary supp…
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/AbstractRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
Labels: Area-IDE, auto-merge

#44453 Update Extract Method to support top-level statements
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractLocalFunctionTests.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodBase.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.cs
  src/Features/Core/Portable/ExtractMethod/AbstractExtractMethodService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
Labels: Area-IDE

#47830 Don't warn on unused record primary constructor parameters
  src/Analyzers/CSharp/Analyzers/RemoveUnusedParametersAndValues/CSharpRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnusedParametersAndValues/VisualBasicRemoveUnusedParametersAndValuesDiagnosticAnalyzer.vb
Labels: Area-IDE

#47554 Initialize FatalError handlers in VS and OOP
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/Venus/DocumentService_IntegrationTests.vb
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReferenceHighlighting.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicKeywordHighlighting.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownCommandNames.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Services/BrokeredServiceBase.cs
  src/Workspaces/Remote/ServiceHub/Services/ServiceBase.cs
Labels: Area-IDE, Needs Shiproom Approval

#47537 Update SyntaxNodeAnalysisContext.Compilation to not return null
  src/Analyzers/CSharp/Analyzers/UseInferredMemberName/CSharpUseInferredMemberNameDiagnosticAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
Labels: Area-Compilers

#47868 Exclude constant and static fields from record's PrintMembers
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPrintMembers.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47860 Add tests for renaming records.
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
Labels: auto-merge

#47107 Handle errors in RequestExecutionQueue
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/AbstractRequestHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
  src/Features/LanguageServer/Protocol/Handler/RequestShutdownEventArgs.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Definitions/GoToDefinitionTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Definitions/GoToTypeDefinitionTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/FoldingRanges/FoldingRangesTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentOnTypeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentRangeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Highlights/DocumentHighlightTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Initialize/InitializeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/OnAutoInsert/OnAutoInsertTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/RequestOrderingTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/ProjectContext/GetTextDocumentWithContextHandlerTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/References/FindImplementationsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/AbstractSemanticTokensTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SignatureHelp/SignatureHelpTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Symbols/DocumentSymbolsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Symbols/WorkspaceSymbolsTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractLanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/LiveShareLanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/RazorLanguageClient.cs
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlLanguageServerClient.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLanguageServerProtocol.cs
Labels: Area-IDE

#47509 Don't offer to fix naming for record parameters
  src/Analyzers/CSharp/Analyzers/NamingStyle/CSharpNamingStyleDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/NamingStyles/NamingStylesTests.cs
  src/Analyzers/Core/Analyzers/NamingStyle/NamingStyleDiagnosticAnalyzerBase.cs
  src/Analyzers/VisualBasic/Analyzers/NamingStyle/VisualBasicNamingStyleDiagnosticAnalyzer.vb
Labels: Area-IDE

#47850 A copy constructor shouldn't prevent an automatic addition of a default instance constructor for a record.
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47803 Enable automatic discovery of global editor configs
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
Labels: Area-Compilers, New Feature - Editor Config

#47881 Result of << operator for native integer constants is platform-dependent in unchecked context
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
Labels: Area-Compilers, New Language Feature - Native Int

#47674 Corrected references to language-specific syntax nodes in documentation
  src/Compilers/CSharp/Portable/SymbolDisplay/ObjectDisplay.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTrivia.cs
  src/Compilers/VisualBasic/Portable/SymbolDisplay/ObjectDisplay.vb
Labels: Area-Compilers, Community

#47728 Issue a warning when a global analyzer config contains an invalid section name.
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.SectionNameMatching.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Labels: Area-Compilers, New Feature - Editor Config, New Feature - Source Generators

#47651 Implement UnmanagedCallersOnly conversions support
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/CallingConventionInfo.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Errors/LazyUnmanagedCallersOnlyMethodCalledDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/MethodEarlyWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStaticConstructor.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Retargeting/RetargetingTests.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonMethodEarlyWellKnownAttributeData.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CustomAttributesBag.cs
  src/Compilers/Core/Portable/Symbols/Attributes/UnmanagedCallersOnlyAttributeData.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.cs
Labels: Area-Compilers, New Feature - Function Pointers, auto-merge

#47879 Revert "Require partial method signatures to match" (47576)
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_NativeInteger.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtendedPartialMethodsTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers

#47899 Fix synchronization of DesignTimeDocument
  src/Workspaces/Remote/Core/AbstractAssetProvider.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.SolutionCreator.cs
Labels: Approved to merge, Area-IDE

#47515 Records: Warn if Equals is redefined but not GetHashCode
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, Community

#47903 Ensure IServiceBroker is used on a background thread
  src/Workspaces/Remote/Core/ServiceHubRemoteHostClient.cs
Labels: Approved to merge, Area-IDE

#47912 Add UnmanagedCallersOnly runtime testing
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
Labels: Area-Compilers, New Feature - Function Pointers, auto-merge

#47831 Fix VB invert single line code fix crash
  src/EditorFeatures/VisualBasicTest/InvertIf/InvertSingleLineIfTests.vb
  src/Features/VisualBasic/Portable/InvertIf/VisualBasicInvertIfCodeRefactoringProvider.SingleLine.vb
Labels: Area-IDE, auto-merge
