Repository dotnet/roslyn, pull requests merged in 2020-04, with the labels that each got.

#42931 Ensure that the public GetOption API returns the public CodeStyle opt…
  src/Features/Core/Portable/CodeRefactorings/MoveType/AbstractMoveTypeService.MoveTypeEditor.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerConfigOptionSet.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Wrapping/AbstractCodeActionComputer.cs
  src/VisualStudio/Core/Impl/Options/AbstractOptionPreviewViewModel.cs
  src/VisualStudio/Core/Impl/Options/OptionStore.cs
  src/VisualStudio/Core/Test.Next/Mocks/TestOptionSet.cs
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOption.cs
  src/Workspaces/Core/Portable/Options/DocumentOptionSet.cs
  src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs
  src/Workspaces/Core/Portable/Options/OptionSet.cs
  src/Workspaces/Core/Portable/Options/OptionsHelpers.cs
  src/Workspaces/Core/Portable/Options/SerializableOptionSet.WorkspaceOptionSet.cs
  src/Workspaces/Core/Portable/Options/SerializableOptionSet.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/CoreTest/WorkspaceServiceTests/OptionServiceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/CodeStyleOption2`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/EditorConfig/EditorConfigStorageLocation`1.cs
Labels: Area-IDE

#42926 Fix 'use explicit type' with ref variables.
  src/Analyzers/CSharp/CodeFixes/UseImplicitOrExplicitType/UseExplicitTypeCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseImplicitOrExplicitType/UseImplicitTypeCodeFixProvider.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/UseExplicitTypeRefactoringTests.cs
  src/EditorFeatures/CSharpTest/CodeRefactorings/UseExplicitOrImplicitType/UseImplicitTypeRefactoringTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/UseExplicitTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/UseImplicitTypeCodeRefactoringProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseImplicitTypeHelper.cs
Labels: auto-merge

#42961 Do not offer to simplify ToString on ref structs
  src/EditorFeatures/CSharpTest/SimplifyInterpolation/SimplifyInterpolationTests.cs
  src/Features/Core/Portable/SimplifyInterpolation/Helpers.cs
Labels: Area-IDE, Community

#42942 Improve completion's type inference for parameters of lambdas being passed as arguments
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
  src/Workspaces/VisualBasic/Portable/Recommendations/VisualBasicRecommendationServiceRunner.vb
Labels: Area-IDE

#42313 Optimize switch code generation with relational operators via balanced tree of tests
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.ValueDispatchNode.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.PatternLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Utilities/IValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.BoolValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.EnumeratedValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.EnumeratedValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.FloatingValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.IEqualableValueTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.NumericValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.NumericValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.StringTC.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#42971 Fix parameter code refactoring provider crash
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/CSharpTest/InitializeParameter/InitializeMemberFromParameterTests.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
Labels: Area-IDE

#42930 Target-typed new: Add tests following review
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedObjectCreationTests.cs
Labels: Area-Compilers, New Language Feature - Target-Typed New, Test

#42711 Expression breakpoints for switch expression.
  docs/compilers/CSharp/Expression Breakpoints.md
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.PatternLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BasePatternSwitchLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PatternSwitchStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_SwitchExpression.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/BreakpointSpansTests.cs
  src/Features/CSharp/Portable/EditAndContinue/BreakpointSpans.cs
  src/Test/Utilities/Portable/MarkedSource/MarkupTestFile.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#43000 Port ConvertAnonymousTypeToTuple to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/ConvertAnonymousTypeToTuple/CSharpConvertAnonymousTypeToTupleDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/ConvertAnonymousTypeToTuple/CSharpConvertAnonymousTypeToTupleCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/ConvertAnonymousTypeToTuple/ConvertAnonymousTypeToTupleTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/ConvertAnonymousTypeToTuple/AbstractConvertAnonymousTypeToTupleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/ConvertAnonymousTypeToTuple/AbstractConvertAnonymousTypeToTupleCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/ConvertAnonymousTypeToTuple/VisualBasicConvertAnonymousTypeToTupleDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/CodeFixes/ConvertAnonymousTypeToTuple/VisualBasicConvertAnonymousTypeToTupleCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixes.projitems
  src/Analyzers/VisualBasic/Tests/ConvertAnonymousTypeToTuple/ConvertAnonymousTypeToTupleTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#42886 A much simpler and faster value set implementation.
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.ByteTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.CharTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.DecimalTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.DecimalValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.DoubleTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.FloatingTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.FloatingValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.INumericTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.IntTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.Interval.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.LongTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.NumericValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.NumericValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.SByteTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.ShortTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.SingleTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.UIntTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.ULongTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.UShortTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.cs
  src/Compilers/CSharp/Test/Semantic/Utilities/ValueSetTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#43005 Add a test to demonstrate that an issue has been addressed.
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#42094 Use new debugger EnC APIs
  eng/Versions.props
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/EditAndContinue/Helpers/MockDebuggeeModuleMetadataProvider.cs
  src/Features/Core/Portable/EditAndContinue/ActiveStatementProvider.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceServiceFactory.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/IDebuggeeModuleMetadataProvider.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/ModuleUtilities.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioActiveStatementProvider.Utilities.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioActiveStatementProvider.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioActiveStatementTracker.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebugStateChangeListener.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebuggeeModuleMetadataProvider.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioManagedModuleUpdateProvider.cs
  src/VisualStudio/Core/Def/Utilities/SpanExtensions.cs
  src/VisualStudio/Core/Test.Next/EditAndContinue/ModuleUtilitiesTests.cs
  src/VisualStudio/Core/Test.Next/EditAndContiue/Mocks/DkmActiveStatement.cs
  src/VisualStudio/Core/Test.Next/EditAndContiue/Mocks/DkmClrInstructionAddress.cs
  src/VisualStudio/Core/Test.Next/EditAndContiue/Mocks/DkmClrModuleInstance.cs
  src/VisualStudio/Core/Test.Next/EditAndContiue/Mocks/DkmModule.cs
  src/VisualStudio/Core/Test.Next/EditAndContiue/Mocks/DkmThread.cs
  src/VisualStudio/Core/Test.Next/EditAndContiue/VisualStudioActiveStatementProviderTests.cs
  src/VisualStudio/Core/Test.Next/Roslyn.VisualStudio.Next.UnitTests.csproj
  src/Workspaces/Core/Portable/Utilities/NullableStructExtensions.cs
Labels: Interactive-Debugging

#42999 Generate friendly syntax for nint/nuint
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/TypeSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/TypeSyntax.cs
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.CSharp.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction_Property.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ICompilationExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ITypeSymbolExtensions.TypeSyntaxGeneratorVisitor.cs
Labels: Area-Compilers, Area-IDE

#42996 Additional tests for native integers
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
Labels: Area-Compilers

#43022 Port UseIndexOrRangeOperator to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.InfoCache.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.InfoCache.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.Result.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/Helpers.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/MemberInfo.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseIndexOrRangeOperator/CSharpUseIndexOperatorCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseIndexOrRangeOperator/CSharpUseRangeOperatorCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseIndexOrRangeOperator/Helpers.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseIndexOperatorTests.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseRangeOperatorTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#43029 Initial work to get 'dependent type finding' moved out of process.
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/AbstractGenerateParameterizedMemberService.SignatureInfo.cs
  src/Features/Core/Portable/GenerateMember/GenerateParameterizedMember/TypeParameterSubstitution.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphBuilder.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/CallsGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/ContainsChildrenGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/ContainsGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/ImplementedByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/ImplementsGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/InheritedByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/InheritsGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/IsCalledByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/IsUsedByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/OverriddenByGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/OverridesGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/SearchGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/SymbolContainment.cs
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
  src/VisualStudio/Core/Test/Progression/ProgressionTestState.vb
  src/Workspaces/Core/Portable/FindSymbols/Extensions.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferenceCache.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorInitializerSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamespaceSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferenceLocationExtensions.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolCallerInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy_Current.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy_Legacy.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.ReplaceTypeParameterBasedOnTypeConstraintVisitor.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/CoreTest/DependentTypeFinderTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/INamedTypeSymbolExtensions.cs
Labels: auto-merge

#43030 Add test accessor + more verification on tests and fix flakiness
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/IDictionaryExtensions.cs
Labels: Area-IDE

#42854 Move Find All References to LSP
  src/EditorFeatures/CSharp/FindUsages/CSharpFindUsagesLSPService.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.cs
  src/EditorFeatures/Core/FindUsages/IFindUsagesLSPService.cs
  src/EditorFeatures/VisualBasic/FindUsages/VisualBasicFindUsagesLSPService.vb
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/LiveShare/Impl/Client/References/RoslynFindUsagesService.Exports.cs
  src/VisualStudio/LiveShare/Impl/Client/References/RoslynFindUsagesService.cs
  src/VisualStudio/LiveShare/Impl/Client/RoslynLSPClientService.cs
  src/VisualStudio/LiveShare/Impl/FindAllReferencesHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/FindAllReferencesHandler.cs
  src/VisualStudio/LiveShare/Test/FindAllReferencesHandlerTests.cs
Labels: Area-IDE

#42983 Add notes for deploying roslyn from command-line
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Documentation

#43031 Make methods private.
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/IRenameRewriterLanguageService.cs
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
Labels: auto-merge

#43039 Link Code of Conduct
  CODE-OF-CONDUCT.md
Labels: Area-Infrastructure, auto-merge

#43017 Port UseCompoundAssignment to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UseCompoundAssignment/CSharpUseCompoundAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCompoundAssignment/CSharpUseCompoundCoalesceAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCompoundAssignment/Utilities.cs
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseCompoundAssignment/CSharpUseCompoundAssignmentCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseCompoundAssignment/CSharpUseCompoundCoalesceAssignmentCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseCompoundAssignment/UseCompoundAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseCompoundAssignment/UseCompoundCoalesceAssignmentTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/UseCompoundAssignment/AbstractUseCompoundAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCompoundAssignment/UseCompoundAssignmentUtilities.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/UseCompoundAssignment/AbstractUseCompoundAssignmentCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/UseCompoundAssignment/Utilities.vb
  src/Analyzers/VisualBasic/Analyzers/UseCompoundAssignment/VisualBasicUseCompoundAssignmentDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/CodeFixes/UseCompoundAssignment/VisualBasicUseCompoundAssignmentCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixes.projitems
  src/Analyzers/VisualBasic/Tests/UseCompoundAssignment/UseCompoundAssignmentTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#42894 Pool delegates for IsSupportedDiagnostic
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Dependencies/PooledObjects/Microsoft.CodeAnalysis.PooledObjects.projitems
  src/Dependencies/PooledObjects/PooledDelegates.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-Compilers

#43048 Respond to breaking package changes
  eng/Versions.props
Labels: Area-Infrastructure

#43033 Move away from IEnumerables in core rename results.
  src/Features/Core/Portable/EncapsulateField/AbstractEncapsulateFieldService.cs
  src/Workspaces/Core/Portable/Rename/RenameLocation.ReferenceProcessing.cs
  src/Workspaces/Core/Portable/Rename/RenameLocations.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/ICollectionExtensions.cs
Labels: auto-merge

#42963 Remove duplicate target from Roslyn.Test.Utilities
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
Labels: Area-Infrastructure

#43066 Remove unnecessary rename parameters.
  src/EditorFeatures/Core.Wpf/InlineRename/AbstractEditorInlineRenameService.InlineRenameLocationSet.cs
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/RenameLocations.cs
  src/Workspaces/Core/Portable/Rename/Renamer.cs
Labels: auto-merge

#43069 Port C# MakeStructFieldsWritable analyzer/fixer/tests to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/MakeStructFieldsWritable/CSharpMakeStructFieldsWritableDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/MakeStructFieldsWritable/CSharpMakeStructFieldsWritableCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/MakeStructFieldsWritable/MakeStructFieldsWritableTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#36970 Store sqlite writes to an in-memory DB first. Flush that db to disk at periodic intervals.
  src/Tools/IdeBenchmarks/SQLitePersistentStorageBenchmark.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLiteV1PersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLiteV2PersistentStorageTests.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Storage/PersistenceStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/SQLite/AbstractSQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/OpenFlags.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/ResettableSqlStatement.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/Result.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/SqlConnection.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/SqlException.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/SqlStatement.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/PooledConnection.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_BulkPopulateIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_DocumentIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_DocumentSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_Helpers.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_ProjectIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_ProjectSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_SolutionSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_StringIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_WriteBatching.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Database.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/OpenFlags.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/ResettableSqlStatement.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/Result.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/SqlConnection.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/SqlException.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/SqlStatement.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/PooledConnection.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_BulkPopulateIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_DocumentIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_DocumentSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_FlushWrites.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_Helpers.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_ProjectIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_ProjectSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_SolutionSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_StringIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_Threading.cs
  src/Workspaces/Core/Portable/Storage/StorageOptions.cs
Labels: Area-IDE, Concept-Design Debt, Need Design Review, auto-merge

#43073 Port C# MisplacedUsingDirectives to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/MisplacedUsingDirectives/MisplacedUsingDirectivesDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/MisplacedUsingDirectives/MisplacedUsingDirectivesCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/MisplacedUsingDirectives/MisplacedUsingDirectivesCodeFixProviderTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#43076 Port UseSystemHashCode analyzer/fixer/tests to shared layer
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseSystemHashCode/UseSystemHashCodeTests.cs
  src/Analyzers/CSharp/Tests/UseVarTestExtensions.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/UseSystemHashCode/Analyzer.OperationDeconstructor.cs
  src/Analyzers/Core/Analyzers/UseSystemHashCode/Analyzer.cs
  src/Analyzers/Core/Analyzers/UseSystemHashCode/UseSystemHashCodeDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/UseSystemHashCode/UseSystemHashCodeCodeFixProvider.cs
  src/Analyzers/VisualBasic/Tests/UseSystemHashCode/UseSystemHashCodeTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/AbstractGenerateEqualsAndGetHashCodeService.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateEqualsMethod.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSyntaxGeneratorInternal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions_CreateGetHashCodeMethod.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SyntaxGeneratorInternalExtensions/SyntaxGeneratorInternal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicSyntaxGeneratorInternal.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE

#43068 Port UseSimpleUsingStatement analyzer/fixer/test to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/UseSimpleUsingStatement/UseSimpleUsingStatementDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseSimpleUsingStatement/UseSimpleUsingStatementCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseSimpleUsingStatement/UseSimpleUsingStatementTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#42430 Re-enable find-references progress.
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
Labels: Area-IDE, auto-merge

#43064 Skip test
  src/Features/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
Labels: Area-IDE, Area-Infrastructure, auto-merge

#42893 Add FirstAncestorOrSelf extension with an argument
  src/Analyzers/Core/CodeFixes/ConvertAnonymousTypeToTuple/AbstractConvertAnonymousTypeToTupleCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.cs
  src/CodeStyle/Core/Analyzers/Extensions/CodeStyleSyntaxNodeExtensions.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/EditorFeatures/Core/Implementation/Peek/PeekHelpers.cs
  src/Features/CSharp/Portable/SignatureHelp/ElementAccessExpressionSignatureHelpProvider.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertTupleToStruct/AbstractConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.VariableSymbol.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxEditorExtensions.cs
Labels: Area-Compilers, Area-Performance

#42962 Faster suppressions
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.SuppressionDiagnostic.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.DiagnosticWithProgrammaticSuppression.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticDescriptor.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticWithInfo.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic_SimpleDiagnostic.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/Suppression.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers

#43103 Port UseAutoProperty analyzer and tests to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UseAutoProperty/CSharpUseAutoPropertyAnalyzer.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseAutoProperty/UseAutoPropertyTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/VisualBasic/Analyzers/UseAutoProperty/Utilities.vb
  src/Analyzers/VisualBasic/Analyzers/UseAutoProperty/VisualBasicUseAutoPropertyAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/Tests/UseAutoProperty/UseAutoPropertyTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/ExpressionSyntaxExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ExpressionSyntaxExtensions.vb
Labels: Area-IDE

#43038 Enable analyzer actions for a Simple Program.
  src/Compilers/CSharp/CSharpAnalyzerDriver/CSharpDeclarationComputer.cs
  src/Compilers/CSharp/Portable/Binder/ExecutableCodeBinder.cs
  src/Compilers/CSharp/Portable/Binder/SimpleProgramUnitBinder.cs
  src/Compilers/CSharp/Portable/CSharpExtensions.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DynamicAnalysisInjector.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Block.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/MethodSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SimpleProgramNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SimpleProgramsTests.cs
  src/Compilers/Core/AnalyzerDriver/DeclarationComputer.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/VisualBasic/Portable/Compilation/SemanticModel.vb
  src/Test/Utilities/Portable/Compilation/CompilationExtensions.cs
Labels: Area-Compilers, New Language Feature - Simple Programs

#43036 Add import completion to option keyword list
  src/VisualStudio/CSharp/Impl/VSPackage.resx
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hant.xlf
Labels: Area-IDE

#43042 Order roslyn signature help after LSP command handler.
  src/EditorFeatures/Core/CommandHandlers/SignatureHelpAfterCompletionCommandHandler.cs
  src/EditorFeatures/Core/CommandHandlers/SignatureHelpBeforeCompletionCommandHandler.cs
Labels: Area-IDE

#43095 🐇 Use config cache to avoid tree creation
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Labels: Area-Compilers

#43077 Update BatchFixAllProvider to support nested code actions
  eng/Versions.props
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchFixAllProvider.cs
  src/Workspaces/CoreTest/BatchFixAllProviderTests.cs
  src/Workspaces/CoreTestUtilities/Roslyn.Services.UnitTests.Utilities.csproj
Labels: Approved to merge, Area-IDE

#43100 🐇 Use Regex.IsMatch instead of Regex.Match when no groups are needed
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.SectionNameMatching.cs
Labels: Area-Compilers

#43135 Port C# InlineDeclaration analyzer/fixer/tests to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/InlineDeclaration/CSharpInlineDeclarationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/InlineDeclaration/CSharpInlineDeclarationCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/InlineDeclaration/CSharpInlineDeclarationTests.cs
  src/Analyzers/CSharp/Tests/InlineDeclaration/CSharpInlineDeclarationTests_FixAllTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ILocalSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CSharpWorkspaceExtensions.projitems
Labels: Area-IDE, auto-merge

#43127 Add guard in the UnassignedFieldsWalker for a property without a getter
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers, Bug

#43102 Prefer rare false negatives in testing to false positives
  src/Test/Utilities/Portable/ObjectReference.cs
Labels: Area-Infrastructure

#43072 Suggest interface types when member is implemented as async
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExplicitInterfaceTypeCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ExplicitInterfaceTypeCompletionProvider.cs
Labels: Area-IDE

#43134 Handle null IGoToDefinitionService in peek
  src/EditorFeatures/Core/Implementation/Peek/PeekableItemSource.cs
Labels: Approved to merge, Area-IDE

#43122 Do not incorrectly "optimize" lifted bool "or" and "and"
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-Compilers, Bug

#43146 Port fix for crash in UnassignedFieldsWalker
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers

#43110 Port SimplifyConditional analyzer/fixer/tests to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/SimplifyBooleanExpression/CSharpSimplifyConditionalDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/SimplifyBooleanExpression/SimplifyConditionalTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/SimplifyBooleanExpression/AbstractSimplifyConditionalDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyBooleanExpression/SimplifyBooleanExpressionConstants.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/SimplifyBooleanExpression/SimplifyConditionalCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/SimplifyBooleanExpression/VisualBasicSimplifyConditionalDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/Tests/SimplifyBooleanExpression/SimplifyConditionalTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#43004 Find concrete types for type parameters in completion off of lambda parameters
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
Labels: Area-IDE

#43156 Port UseInferredMemberName analyzer/fixer/tests to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UseInferredMemberName/CSharpUseInferredMemberNameDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseInferredMemberName/CSharpUseInferredMemberNameCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseInferredMemberName/UseInferredMemberNameTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/UseInferredMemberName/AbstractUseInferredMemberNameDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/UseInferredMemberName/AbstractUseInferredMemberNameCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/UseInferredMemberName/VisualBasicUseInferredMemberNameDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/CodeFixes/UseInferredMemberName/VisualBasicUseInferredMemberNameCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixes.projitems
  src/Analyzers/VisualBasic/Tests/UseInferredMemberName/UseInferredMemberNameTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpInferredMemberNameReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpInferredMemberNameReducer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/CSharpInferredMemberNameSimplifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Simplification/VisualBasicInferredMemberNameSimplifier.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/VisualBasicCompilerExtensions.projitems
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicInferredMemberNameReducer.Rewriter.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicInferredMemberNameReducer.vb
Labels: Area-IDE, auto-merge

#43160 Update versions for 16.7
  eng/Versions.props
Labels: Area-Infrastructure, auto-merge

#43158 Port InvokeDelegateWithConditionalAccess to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessTests.cs
  src/Analyzers/CSharp/Tests/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessTests_FixAllTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#43161 Update publishing for 16.6 p3, 16.7
  eng/config/PublishData.json
Labels: Area-Infrastructure, auto-merge

#43006 Set Microsoft.CodeAnalysis.Analyzers package to a release version
  .editorconfig
  eng/Versions.props
  src/Features/CSharp/Portable/UseAutoProperty/CSharpUseAutoPropertyAnalyzer.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs
  src/Features/Core/Portable/UseThrowExpression/AbstractUseThrowExpressionDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/UseAutoProperty/VisualBasicUseAutoPropertyAnalyzer.vb
  src/Test/Utilities/Portable/Diagnostics/CouldHaveMoreSpecificTypeAnalyzer.cs
Labels: Area-Infrastructure

#36272 Track ref returns for Make Field Readonly
  src/Analyzers/CSharp/Tests/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/Analyzers/Core/Analyzers/MakeFieldReadonly/MakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/OperationExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.FlowGraphAnalysisData.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.Walker.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.cs
Labels: Approved to merge, Area-IDE

#43023 Nullable ref type annotation fixes to analyzer APIs
  src/Analyzers/Core/Analyzers/PopulateSwitch/AbstractPopulateSwitchDiagnosticAnalyzer.cs
  src/Analyzers/Core/CodeFixes/PopulateSwitch/AbstractPopulateSwitchCodeFixProvider.cs
  src/Compilers/Core/Portable/CommandLine/SarifErrorLogger.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.DiagnosticWithProgrammaticSuppression.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic_SimpleDiagnostic.cs
  src/Compilers/Core/Portable/InternalUtilities/JsonWriter.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataSerializer.cs
Labels: Area-Compilers, Concept-Null Annotations

#43171 Don't publish assets to myget during PR validation
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#43094 Reduce stack frame size of CheckConstraints
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
Labels: Area-Compilers

#43129 Fix assert in AnalyzerDriver.GetOperationsToAnalyze
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-Analyzers, Area-Compilers

#43120 Merge release/dev16.7-preview1-vs-deps into master-vs-deps
  src/Compilers/Core/Portable/InternalUtilities/FailFast.cs
  src/Features/CSharp/Portable/AddDebuggerDisplay/CSharpAddDebuggerDisplayCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/AddDebuggerDisplay/VisualBasicAddDebuggerDisplayCodeRefactoringProvider.vb
Labels: Area-Infrastructure, auto-merge

#43200 Update color scheme on package initialization.
  src/VisualStudio/Core/Def/Implementation/ColorSchemes/ColorSchemeApplier.cs
Labels: Approved to merge, Area-IDE

#43021 Array and indirect load/store support for function pointers.
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolDistinguisher.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
Labels: Area-Compilers, New Feature - Function Pointers

#43175 Update feature status.
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#43181 Avoid using SymbolDisplay while binding type
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/PropertyTests.cs
Labels: Area-Compilers

#43163 Update lsp package versions.
  eng/Versions.props
  src/VisualStudio/Core/Test.Next/Services/LanguageServiceTests.cs
  src/Workspaces/Remote/ServiceHub/Services/LanguageServer.cs
Labels: Approved to merge, Area-Infrastructure

#41745 Add CompilationOutputFilePath to project snapshot
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/EditAndContinue/Helpers/MockCompilationOutputsProviderService.cs
  src/EditorFeatures/Test/SolutionCrawler/WorkCoordinatorTests.cs
  src/EditorFeatures/TestUtilities/ExceptionUtilities.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceServiceFactory.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/Emit/CompilationOutputFilesWithImplicitPdbPath.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.ICSInputSet.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/CSharpCompilerOptionsTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/LegacyProject/CSharpCompilerOptionsTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Legacy/AbstractLegacyProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioCompilationOutputsProviderService.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioCompilationOutputsProviderServiceFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectOptionsProcessor.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualBasicCompilerOptionsTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/MetadataToProjectReferenceConversionTests.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProject.vb
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Solution/CompilationOutputFilePaths.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/ProjectInfoTests.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/Remote/Core/Services/SolutionCreator.cs
Labels: Area-IDE, Concept-OOP

#43173 Fix override completion to preserve added imports
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractMemberInsertingCompletionProvider.cs
Labels: Approved to merge, Area-IDE

#43236 Remove unused using
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceServiceFactory.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
Labels: auto-merge

#42967 Analyzer file reference
  src/Compilers/CSharp/Test/CommandLine/TouchedFileLoggingTests.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerConfigTests.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceAppDomainTests.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Server/VBCSCompilerTests/TouchedFileLoggingTests.cs
  src/Test/Utilities/Portable/Mocks/TestAnalyzerAssemblyLoader.cs
  src/Test/Utilities/Portable/Mocks/TestAnalyzerReference.cs
  src/VisualStudio/Core/Test.Next/Mocks/TestAnalyzerAssemblyLoader.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
Labels: Area-Analyzers, Area-Compilers

#42733 Polish Complete Statement (semicolon insertion)
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE

#43246 Enable SDL Validation in official builds
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#43211 Fixed the expected backslash in the Compiler Tests for Anonymous Types
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TemplateSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Synthesized.cs
Labels: Area-Compilers

#43083 CanAddNullCheck update for nullable reference types
  src/EditorFeatures/CSharpTest/GenerateConstructor/GenerateConstructorTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs
Labels: Area-IDE, Community

#43238 Mark RichCodeNav.EnvVarDump as private asset
  eng/targets/Settings.props
Labels: auto-merge

#43272 Remove previous docker container
  eng/docker/mono.sh
Labels: Area-Infrastructure, auto-merge

#43081 Record the project associated with a source assembly.
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: auto-merge

#43213 Misc. changes related to Simple Programs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SimpleProgramNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/SimpleProgramsTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/SimpleProgramsParsingTests.cs
Labels: Area-Compilers, New Language Feature - Simple Programs

#43276 Finalize the story around instrumentation for top-level statements in a Simple Program.
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DynamicAnalysisInjector.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
Labels: Area-Compilers, New Language Feature - Simple Programs

#43293 Support converting assignments/returns to conditional expressions, even when they contain a throw statement.
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseConditionalExpression/CSharpUseConditionalExpressionForAssignmentCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseConditionalExpression/CSharpUseConditionalExpressionForReturnCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseConditionalExpression/CSharpUseConditionalExpressionHelpers.cs
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForReturnTests.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/AbstractUseConditionalExpressionDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForAssignment/AbstractUseConditionalExpressionForAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForAssignment/UseConditionalExpressionForAssignmentHelpers.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForReturn/AbstractUseConditionalExpressionForReturnDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForReturn/UseConditionalExpressionForReturnHelpers.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/UseConditionalExpressionHelpers.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/ForAssignment/AbstractUseConditionalExpressionForAssignmentCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/ForReturn/AbstractUseConditionalExpressionForReturnCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/UseConditionalExpression/VisualBasicUseConditionalExpressionForAssignmentCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/UseConditionalExpression/VisualBasicUseConditionalExpressionForReturnCodeFixProvider.vb
  src/Analyzers/VisualBasic/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.vb
  src/Analyzers/VisualBasic/Tests/UseConditionalExpression/UseConditionalExpressionForReturnTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/OperationExtensions.cs
Labels: Area-IDE, auto-merge

#43178 Port CSharpUseLocalFunction analyzer/tests to shared layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseLocalFunction/UseLocalFunctionTests.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/Features/CSharp/Portable/UseLocalFunction/CSharpUseLocalFunctionCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, Need Design Review

#43317 Fix sorting of 'wrapping' items.
  src/EditorFeatures/CSharpTest/Wrapping/SortingTests.cs
  src/Features/Core/Portable/Wrapping/WrapItemsAction.cs
Labels: auto-merge

#43101 Fix AnalyzerRunner failure to load Microsoft.Build.Framework
  eng/Versions.props
  src/Tools/AnalyzerRunner/AnalyzerRunner.csproj
  src/Tools/AnalyzerRunner/Program.cs
Labels: Area-Infrastructure

#43343 Import Microsoft.VsSDK.targets conditionally
  src/VisualStudio/VisualStudioInteractiveComponents/Roslyn.VisualStudio.InteractiveComponents.csproj
Labels: Area-Infrastructure

#43303 Disable CodeStyle analyzers by default in all explicit builds of Roslyn.sln (i.e. csc/vbc invocations both inside Visual Studio and from command line prompt)
  .editorconfig
  eng/targets/Imports.targets
Labels: Area-Infrastructure

#42914 Adds syntax highlighting to code examples
  docs/features/task-types.md
Labels: Area-IDE, Community

#43340 Use a full path for AnalyzerReference in AnalyzerRunner
  src/Tools/AnalyzerRunner/DiagnosticAnalyzerRunner.cs
Labels: Area-Infrastructure

#43268 Update Language Feature Status
  docs/Language Feature Status.md
Labels: Area-Compilers, auto-merge

#43324 Supporting converting more switches to expressions if or-patterns are available
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
  src/Analyzers/CSharp/Analyzers/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionHelpers.cs
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/EnumAndCompletionListTagCompletionProvider.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
Labels: Area-IDE

#43352 Fix NullReferenceException in FailFast handling
  src/Compilers/Core/Portable/InternalUtilities/FailFast.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/SqlConnection.cs
Labels: Area-Infrastructure

#43269 Remove older source generators proposal, and redirect to the new one
  docs/features/generators.md
  docs/features/generators.work.md
Labels: Area-Compilers, Documentation, New Feature - Source Generators, auto-merge

#43363 Support new pattern forms in convert if to switch.
  src/EditorFeatures/CSharpTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.AnalyzedNodes.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Analyzer.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
Labels: auto-merge

#43376 Add a test to demonstrate absence of a reported issue
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#43353 Update Xunit.Combinatorial
  eng/Versions.props
  src/Test/Utilities/Portable/IterationDataAttribute.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/MetadataToProjectReferenceConversionTests.vb
Labels: Area-Infrastructure

#34802 🧹 Move Regex embedded language to the Features layer
  src/EditorFeatures/CSharpTest/EmbeddedLanguages/RegularExpressions/CSharpRegexParserTests.cs
  src/EditorFeatures/CSharpTest/EmbeddedLanguages/RegularExpressions/CSharpRegexParserTests_BasicTests.cs
  src/EditorFeatures/CSharpTest/EmbeddedLanguages/RegularExpressions/CSharpRegexParserTests_DotnetNegativeTests.cs
  src/EditorFeatures/CSharpTest/EmbeddedLanguages/RegularExpressions/CSharpRegexParserTests_ReferenceTests.cs
  src/EditorFeatures/CSharpTest/EmbeddedLanguages/RegularExpressions/CSharpRegexParserTests_TestGeneration.cs
  src/EditorFeatures/CSharpTest/EmbeddedLanguages/ValidateRegexStringTests.cs
  src/EditorFeatures/Core/EmbeddedLanguages/RegularExpressions/RegexEmbeddedLanguageEditorFeatures.cs
  src/EditorFeatures/Test/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexPatternDetectorTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_Regex.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests_Regex.vb
  src/EditorFeatures/VisualBasicTest/EmbeddedLanguages/ValidateRegexStringTests.vb
  src/Features/Core/Portable/EmbeddedLanguages/AbstractEmbeddedLanguagesFeaturesProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/AbstractRegexDiagnosticAnalyzer.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/EmbeddedCompletionContext.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/IRegexNodeVisitor.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexPatternDetector.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexSyntaxClassifier.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexCharClass.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexDocumentHighlightsService.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexEmbeddedCompletionProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexEmbeddedLanguage.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexEmbeddedLanguageFeatures.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexHelpers.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexKind.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexLexer.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexNode.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexNodes.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexParser.CaptureInfoAnalyzer.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexParser.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexTree.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegularExpressionsOptions.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/EmbeddedLanguages/LanguageServices/AbstractEmbeddedLanguagesProvider.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
Labels: Area-IDE

#43338 Add a timeout for InteractiveWindow.SubmitText
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InteractiveWindow_InProc.cs
Labels: Area-Infrastructure

#43248 Followup on usages of TypeKind.Pointer and IsPointerType in the compiler
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Compiler/ClsComplianceChecker.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/FieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeUnification.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeUnificationTests.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/FunctionPointerUtilities.cs
Labels: Area-Compilers, New Feature - Function Pointers, auto-merge

#43369 Fix a comment typo in Csc.cs
  src/Compilers/Core/MSBuildTask/Csc.cs
Labels: Area-Compilers, Documentation

#43380 Cleanup convert-if-to-switch.
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
Labels: auto-merge

#43124 Do not simplify away field as clause - it breaks compilation
  src/EditorFeatures/Test2/Simplification/TypeInferenceSimplifierTests.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicVariableDeclaratorReducer.vb
Labels: Area-IDE, Community

#43306 Do not apply analyzer bulk configuration to non-configurable diagnostics
  src/Compilers/CSharp/Test/Semantic/Diagnostics/GetDiagnosticsTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
Labels: Area-Analyzers, Area-Compilers

#43386 Add classification tests for new patterns.
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
Labels: auto-merge

#43396 Enable ngen for codelens
  src/VisualStudio/CodeLens/Microsoft.VisualStudio.LanguageServices.CodeLens.csproj
Labels: Area-Infrastructure

#43381 Tweak recommendation for assertions
  docs/contributing/Nullable Annotations.md
Labels: Area-Compilers, Documentation

#43263 Show the user how their actual format string will format a DateTime
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_DateAndTime.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
  src/Features/Core/Portable/EmbeddedLanguages/DateAndTime/DateAndTimeEmbeddedCompletionProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/DateAndTime/EmbeddedCompletionContext.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#43388 Add hover support for razor lsp
  src/Features/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractLanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/RazorLanguageClient.cs
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
Labels: Area-IDE, CloudEnv

#43167 Allow the DeclareAsNullable code fix to work for CS8618
  src/EditorFeatures/CSharpTest/Diagnostics/Nullable/CSharpDeclareAsNullableCodeFixTests.cs
  src/Features/CSharp/Portable/CodeFixes/Nullable/CSharpDeclareAsNullableCodeFixProvider.cs
Labels: auto-merge

#43205 Fix 'Use Index' and 'Use Range' analysis for projects with multiple definitions
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.InfoCache.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.InfoCache.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/MemberInfo.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseIndexOperatorTests.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseRangeOperatorTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/CompilationExtensions.cs
Labels: Area-IDE

#43367 Move CodeStyle layer to Microsoft.CodeAnalysis 3.6.0
  eng/Versions.props
  src/Analyzers/CSharp/CodeFixes/UseDeconstruction/CSharpUseDeconstructionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseDeconstruction/UseDeconstructionTests.cs
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/Analyzers/Core/Analyzers/PopulateSwitch/AbstractPopulateSwitchDiagnosticAnalyzer.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
  src/CodeStyle/Core/CodeFixes/LanguageServices/SemanticModelWorkspaceService/SemanticModelWorkspaceServiceFactory.SemanticModelWorkspaceService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ITypeSymbolExtensions.TypeSyntaxGeneratorVisitor.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Utilities/NullableHelpers/NullableExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/TypeInferenceService/AbstractTypeInferenceService.AbstractTypeInferrer.cs
Labels: Area-IDE, auto-merge

#43278 Support CompletionProvider in NuGet packages
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.ProjectCodeFixProvider.cs
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Test/Completion/CompletionServiceTests.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/Common/AbstractProjectExtensionProvider`2.cs
  src/Features/Core/Portable/Completion/CompletionServiceWithProviders+ProjectCompletionProvider.cs
  src/Features/Core/Portable/Completion/CompletionServiceWithProviders.cs
  src/Features/Core/Portable/Completion/ICompletionProviderFactory.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/ConcatImmutableArray`1.cs
Labels: Area-IDE, Feature Request

#43422 Update comment text
  src/Analyzers/Core/Analyzers/UseConditionalExpression/UseConditionalExpressionHelpers.cs
Labels: Area-Infrastructure

#43423 Update comment text
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
Labels: Area-Infrastructure

#42807 Fix Left to Right semantics with fields and arrays in async
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Expressions.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Spilling.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBAsyncTests.vb
Labels: Area-Compilers, Community

#43438 Updating our code-inverting tools to support inverting patterns.
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/EditorFeatures/CSharpTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/EditorFeatures/CSharpTest/InvertLogical/InvertLogicalTests.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/CSharp/Portable/MetadataAsSource/CSharpMetadataAsSourceService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/AbstractCSharpReducer.AbstractReductionRewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpParenthesizedExpressionReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpParenthesizedExpressionReducer.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpParenthesizedPatternReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpParenthesizedPatternReducer.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/OperationExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFactsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSyntaxGeneratorInternal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions_Negate.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: auto-merge

#42947 Add telemetry for Tools->Options generate editorconfig
  src/VisualStudio/Core/Impl/Options/GridOptionPreviewControl.xaml.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#43428 Remove public API on DocumentOptionSet
  src/Workspaces/Core/Portable/Options/DocumentOptionSet.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Approved to merge, Area-IDE

#43454 Enabled partial ngen for LanguageServices
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Area-Infrastructure

#43427 Document new conversions in general test plan
  docs/contributing/Compiler Test Plan.md
Labels: Area-Compilers, Documentation

#43153 Move LSP Find All References to use streaming
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.cs
  src/Features/LanguageServer/Protocol/CustomProtocol/FindUsagesLSPContext.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/LiveShare/Impl/CustomProtocol/LspRequestExtensions.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
Labels: Area-IDE, Area-Performance

#43405 Avoid sharing ReferenceManager across script compilations that do not share previous submission.
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
Labels: Area-Compilers

#43366 Reuse previous lambda body binding if possible
  src/Compilers/CSharp/Portable/Binder/Binder.QueryUnboundLambdaState.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionPerfTests.cs
Labels: Area-Compilers

#43434 Add vscode tasks to run tests in current file/project
  .vscode/tasks.json
  dotnet-tools.json
  eng/build-utils.ps1
  eng/build.ps1
  eng/build.sh
  scripts/vscode-build.ps1
  scripts/vscode-run-tests.ps1
Labels: Area-Infrastructure, Test

#43479 Support go-to impl with symbols in multi-targetting projects.
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.cs
  src/EditorFeatures/Core/FindUsages/FindUsagesHelpers.cs
  src/EditorFeatures/Core/GoToBase/AbstractGoToBaseService.cs
  src/EditorFeatures/Test2/GoToImplementation/GoToImplementationTests.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/LinkedFileReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.cs
Labels: Area-IDE

#43421 Address minor issues from review of #43062
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.BoolValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.BoolValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.ByteTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.CharTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.DecimalTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.DoubleTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.EnumeratedValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.EnumeratedValueSetFactory.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.FloatingValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.IntTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.LongTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.NintValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.NuintValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.NumericValueSet.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.SByteTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.ShortTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.SingleTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.UIntTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.ULongTC.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.UShortTC.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#43491 Annotate InteractiveHost
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineParser.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.InitializedRemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteAsyncOperation.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.Service.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.ShadowCopyReference.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.cs
  src/Interactive/Host/Interactive/Core/InteractiveHostOptions.cs
  src/Interactive/Host/Interactive/Core/ProcessExtensions.cs
  src/Interactive/Host/Interactive/Core/RemoteExecutionResult.cs
  src/Interactive/HostTest/AbstractInteractiveHostTests.cs
  src/Interactive/HostTest/InteractiveHostTests.cs
  src/Interactive/HostTest/StressTests.cs
  src/Interactive/HostTest/SynchronizedTextWriter.cs
Labels: Area-Compilers, Concept-Null Annotations

#43429 Consolidate notes, add notes for 4/15.
  docs/compilers/API Notes/10-29-19.md
  docs/compilers/API Notes/4-15-20.md
  docs/compilers/Design/Notes/9-30-19.md
Labels: Area-Compilers, Design Notes

#43513 Small pieces of find-usages cleanup.
  src/EditorFeatures/Core/FindUsages/FindUsagesHelpers.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/LinkedFileReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.cs
Labels: auto-merge

#43451 Support returning an integer from a Simple Program
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Declarations/SingleTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SimpleProgramNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_Global.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SimpleProgramsTests.cs
Labels: Area-Compilers, New Language Feature - Simple Programs

#43207 Remove restriction limiting OOPability of some operations.
  src/Workspaces/Core/Portable/FindSymbols/IRemoteSymbolFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.FindReferencesServerCallback.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_FindReferences_Current.cs
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.State.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.SymbolToProjectId.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_SymbolFinder.cs
Labels: Area-IDE, auto-merge

#43520 Bump patch version for 16.6 P4
  eng/Versions.props
Labels: Area-Infrastructure

#42101 Fix Issue #41822 Add IsNullOrEmpty or IsNullOrWhiteSpace check for method parameters throws an empty "message"
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/VisualBasicTest/InitializeParameter/AddParameterCheckTests.vb
  src/Features/CSharp/Portable/ConvertToInterpolatedString/CSharpConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/ConvertToInterpolatedString/VisualBasicConvertConcatenationToInterpolatedStringRefactoringProvider.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, Community, auto-merge

#43518 Add a test to verify that a bug is fixed.
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
Labels: Area-Compilers, Test

#43519 Avoid using SQLite types in type signatures
  src/Workspaces/Core/Portable/Storage/SQLite/Interop/SafeSqliteBlobHandle.cs
  src/Workspaces/Core/Portable/Storage/SQLite/Interop/SafeSqliteChildHandle`1.cs
  src/Workspaces/Core/Portable/Storage/SQLite/Interop/SafeSqliteHandle.cs
  src/Workspaces/Core/Portable/Storage/SQLite/Interop/SafeSqliteHandle`1.cs
  src/Workspaces/Core/Portable/Storage/SQLite/Interop/SafeSqliteStatementHandle.cs
Labels: Area-IDE

#43499 make msbuildLogger required in its overload.
  src/Tools/BuildBoss/ProjectCheckerUtil.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildWorkspace.cs
  src/Workspaces/Core/MSBuild/Microsoft.CodeAnalysis.Workspaces.MSBuild.csproj
  src/Workspaces/Core/MSBuild/PublicAPI.Unshipped.txt
Labels: Approved to merge, Area-IDE

#42789 Format the name for an array type with parentheses in VB
  src/Scripting/CSharpTest/ObjectFormatterTests.cs
  src/Scripting/Core/Hosting/ObjectFormatter/CommonTypeNameFormatter.cs
  src/Scripting/CoreTestUtilities/ObjectFormatterTests.Fixtures.cs
  src/Scripting/VisualBasicTest/ObjectFormatterTests.vb
Labels: Community, Interactive-ScriptingIDE

#42879 Enable langversion parsing for script command line
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Scripting/CSharp/CSharpScriptingResources.resx
  src/Scripting/CSharp/xlf/CSharpScriptingResources.cs.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.de.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.es.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.fr.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.it.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.ja.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.ko.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.pl.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.pt-BR.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.ru.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.tr.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.zh-Hans.xlf
  src/Scripting/CSharp/xlf/CSharpScriptingResources.zh-Hant.xlf
  src/Scripting/CSharpTest/CommandLineRunnerTests.cs
  src/Scripting/Core/Hosting/CommandLine/CommandLineRunner.cs
Labels: Area-Compilers, Community

#43463 Don't hoist ref locals
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/IteratorAndAsyncCaptureWalker.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
Labels: Area-Compilers

#43379 Add schema for BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xsd
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/VisualBasic/Portable/BoundTree/BoundNodes.xst
Labels: Area-Compilers, Community

#43378 Add schema for Syntax.xml
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/CSharp/Portable/Syntax/Syntax.xsd
  src/Compilers/VisualBasic/Portable/Syntax/Syntax.xsd
Labels: Area-Compilers, Community

#43456 Fix duplicate razor
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Commands/ExecuteWorkspaceCommandHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToDefinitionHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToTypeDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Highlights/DocumentHighlightHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Features/LanguageServer/Protocol/Handler/IRequestHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Rename/RenameHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SignatureHelp/SignatureHelpHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Definitions/GoToDefinitionTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Definitions/GoToTypeDefinitionTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/FoldingRanges/FoldingRangesTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentOnTypeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentRangeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Highlights/DocumentHighlightTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Initialize/InitializeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/References/FindImplementationsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SignatureHelp/SignatureHelpTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Symbols/DocumentSymbolsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Symbols/WorkspaceSymbolsTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractLanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/RazorLanguageClient.cs
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
  src/VisualStudio/LiveShare/Impl/PreviewCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/RunCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/CodeActionsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
Labels: Area-IDE, CloudEnv

#43467 Fix GetSymbolInfo on ValueTuple declaration
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedObjectCreationTests.cs
Labels: Area-Compilers, New Language Feature - Tuples

#43365 Add keyword completion for new C# 9 patterns
  src/EditorFeatures/CSharpTest2/Recommendations/AndKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NotKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/OrKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/KeywordCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AbstractNativeIntegerKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AndKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/NotKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/OrKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/VarKeywordRecommender.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ContextQuery/SyntaxContext.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ContextQuery/VisualBasicSyntaxContext.vb
Labels: Area-IDE

#43492 Do not offer to remove cast if it will cause the compiler to warn about it.
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Symbols/SpecialTypeExtensions.cs
  src/Compilers/Core/Portable/Operations/CommonConversion.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SpecialTypeExtensions.cs
  src/Compilers/VisualBasic/Portable/Semantics/Conversions.vb
  src/Compilers/VisualBasic/Portable/Symbols/SpecialTypeExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SpecialTypeExtensions.cs
Labels: Area-Compilers, Area-IDE

#43554 Move the 'finding' portoin of rename out of process.
  src/EditorFeatures/Core.Wpf/InlineRename/AbstractEditorInlineRenameService.InlineRenameLocationSet.cs
  src/EditorFeatures/Core.Wpf/InlineRename/AbstractEditorInlineRenameService.SymbolRenameInfo.cs
  src/EditorFeatures/Test2/Rename/CSharp/AliasTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/DeclarationConflictTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/EscapingTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/GenericTypeParameterTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/ImplicitReferenceConflictTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/InteractiveTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/InterfaceTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/LocalConflictTests.vb
  src/EditorFeatures/Test2/Rename/CSharp/OverrideTests.vb
  src/EditorFeatures/Test2/Rename/DashboardTests.vb
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
  src/EditorFeatures/Test2/Rename/RenameCommandHandlerTests.vb
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
  src/EditorFeatures/Test2/Rename/RenameEngineTests.CSharpConflicts.vb
  src/EditorFeatures/Test2/Rename/RenameEngineTests.VisualBasicConflicts.vb
  src/EditorFeatures/Test2/Rename/RenameEngineTests.vb
  src/EditorFeatures/Test2/Rename/RenameNonRenameableSymbols.vb
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
  src/EditorFeatures/Test2/Rename/RenameTestHelpers.vb
  src/EditorFeatures/Test2/Rename/TestHost.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/AliasTests.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/CallSiteConflictResolutionTests.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/DeclarationConflictTests.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/EscapingTests.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/ImplicitReferenceConflictTests.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/InvalidIdentifierTests.vb
  src/EditorFeatures/Test2/Rename/VisualBasic/QualificationTests.vb
  src/Features/Core/Portable/EncapsulateField/AbstractEncapsulateFieldService.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamer.cs
  src/Workspaces/Core/Portable/Rename/RenameLocations.SearchResult.cs
  src/Workspaces/Core/Portable/Rename/RenameLocations.cs
  src/Workspaces/Core/Portable/Rename/RenameOptions.cs
  src/Workspaces/Core/Portable/Rename/RenameRewriterParameters.cs
  src/Workspaces/Core/Portable/Rename/Renamer.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterSymbolKey.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.SymbolToProjectId.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_Renamer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
Labels: auto-merge

#43419 Update `or` combinator narrowed type per LDM
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#43472 Ensure the initial symbol a user searches for is top of hte find-refs list
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.SymbolMoniker.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/FindUsages/IFindSymbolMonikerUsagesService.cs
  src/EditorFeatures/Core/GoToBase/AbstractGoToBaseService.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/RoslynDefinitionBucket.cs
  src/VisualStudio/Core/Def/Implementation/FindUsages/VisualStudioFindSymbolMonikerUsagesService.cs
Labels: auto-merge

#43133 Support struct records
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/LexicalSortKey.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceConstructor.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers

#43302 Replace GeneratePkgDef with impl that does not load assemblies
  eng/targets/GeneratePkgDef.targets
  eng/targets/VisualStudio.targets
  src/Compilers/Extension/AssemblyRedirects.cs
  src/Compilers/Extension/CompilerPackage.cs
  src/Compilers/Extension/PackageRegistration.pkgdef
  src/Compilers/Extension/Roslyn.Compilers.Extension.csproj
  src/ExpressionEvaluator/Package/AssemblyRedirects.cs
  src/ExpressionEvaluator/Package/ExpressionEvaluatorPackage.csproj
  src/VisualStudio/CSharp/Impl/CSharpPackage.cs
  src/VisualStudio/CSharp/Impl/CSharpPackageRegistration.pkgdef
  src/VisualStudio/CSharp/Impl/Interactive/CSharpVsInteractiveWindowPackage.cs
  src/VisualStudio/CSharp/Impl/Microsoft.VisualStudio.LanguageServices.CSharp.csproj
  src/VisualStudio/CSharp/Impl/PackageRegistration.pkgdef
  src/VisualStudio/Core/Def/Implementation/ProvideAutomationPropertiesAttribute.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Def/PackageRegistration.pkgdef
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Def/Utilities/ProvideRoslynVersionRegistration.cs
  src/VisualStudio/IntegrationTest/TestSetup/BindingAttributes.cs
  src/VisualStudio/IntegrationTest/TestSetup/IntegrationTestServicePackage.cs
  src/VisualStudio/IntegrationTest/TestSetup/Microsoft.VisualStudio.IntegrationTest.Setup.csproj
  src/VisualStudio/IntegrationTest/TestSetup/PackageRegistration.pkgdef
  src/VisualStudio/LiveShare/Impl/Client/Debugging/CSharpLspPackage.cs
  src/VisualStudio/LiveShare/Impl/Microsoft.VisualStudio.LanguageServices.LiveShare.csproj
  src/VisualStudio/LiveShare/Impl/PackageRegistration.pkgdef
  src/VisualStudio/Setup.Dependencies/AssemblyRedirects.cs
  src/VisualStudio/Setup.Dependencies/ProvideDependencyBindingRedirection.cs
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.ValueTuple.pkgdef
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
  src/VisualStudio/Setup/AssemblyRedirects.cs
  src/VisualStudio/Setup/PackageRegistration.pkgdef
  src/VisualStudio/Setup/ProvideRoslynBindingRedirection.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicPackage.vb
  src/VisualStudio/VisualBasic/Impl/Microsoft.VisualStudio.LanguageServices.VisualBasic.vbproj
  src/VisualStudio/VisualBasic/Impl/PackageRegistration.pkgdef
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/PackageRegistration.pkgdef
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/Roslyn.VisualStudio.DiagnosticsWindow.csproj
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/VisualStudioDiagnosticsWindowPackage.cs
Labels: Area-Infrastructure
