Repository dotnet/roslyn, pull requests merged in 2020-12, with the labels that each got.

#49608 Clean up and test semantic version
  src/Workspaces/Core/Portable/SemanticModelReuse/SemanticModelWorkspaceServiceFactory.SemanticModelWorkspaceService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/VersionStamp.cs
  src/Workspaces/CoreTest/SolutionTests/ProjectSemanticVersionTests.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTestHelpers.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
  src/Workspaces/CoreTest/WorkspaceTests/AdhocWorkspaceTests.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
  src/Workspaces/MSBuildTest/WorkspaceTestBase.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ProjectExtensions.cs
Labels: Area-IDE

#49650 Use WellKnownMemberNames.TopLevelStatementsEntryPointMethodName
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Area-IDE, auto-merge

#49676 Merge Features/interpolated string constants to master
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_InterpolatedString.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringInterpolation.cs
  src/Compilers/CSharp/Portable/Symbols/ConstantValueUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IInterpolatedStringExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ConstantTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
Labels: Area-Compilers, New Language Feature - Const Interpolated Strings

#48017 Remove the v1 sqlite storage subsystem
  src/Tools/IdeCoreBenchmarks/FindReferencesBenchmarks.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLiteV1PersistentStorageTests.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Storage/PersistenceStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/SQLite/AbstractSQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/ResettableSqlStatement.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/SqlConnection.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/Interop/SqlStatement.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/PooledConnection.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_BulkPopulateIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_DocumentIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_DocumentSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_Helpers.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_ProjectIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_ProjectSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_SolutionSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_StringIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v1/SQLitePersistentStorage_WriteBatching.cs
  src/Workspaces/Core/Portable/Storage/StorageOptions.cs
Labels: Area-IDE, auto-merge

#49673 Fix bug for opening files if a generator produces multiple outputs
  src/VisualStudio/Core/Def/Implementation/Workspace/SourceGeneratedFileManager.cs
Labels: Approved to merge, Area-IDE

#49693 Update feature status
  docs/Language Feature Status.md
Labels: Area-Compilers, auto-merge

#49569 Consolidate implementation of Equals that considers/doesn’t consider TypeCompareKind for VB type symbols.
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/AnonymousTypeDescriptor.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/AnonymousTypeManager.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousDelegate_TypePublicSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousTypeOrDelegatePublicSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousType_TypePublicSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousDelegate_TemplateSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousTypeOrDelegateTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/ArrayTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/ErrorTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/ExtendedErrorTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/IndexedTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/InstanceErrorTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/InstanceTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PETypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/MissingMetadataTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NoPiaAmbiguousCanonicalTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NoPiaIllegalGenericInstantiationSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NoPiaMissingCanonicalTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/PointerTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/ReducedExtensionMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Retargeting/RetargetingTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/CrefTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceNamedTypeSymbol_ComClass.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SubstitutableTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SubstitutedErrorType.vb
  src/Compilers/VisualBasic/Portable/Symbols/SubstitutedMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SubstitutedNamedType.vb
  src/Compilers/VisualBasic/Portable/Symbols/SubstitutedTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SynthesizedSymbols/SynthesizedClonedTypeParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Tuples/TupleTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/TypeSubstitution.vb
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbolExtensions.vb
  src/Compilers/VisualBasic/Portable/Symbols/UnboundGenericType.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/TypeTests.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Symbols/EETypeParameterSymbol.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Symbols/SimpleTypeParameterSymbol.vb
Labels: Area-Compilers

#49506 Add test to validate behavior.
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
Labels: Area-IDE, auto-merge

#49704 Fix performance regression in FixAll code path
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: Area-IDE

#49706 Fix declaration name completion support around nullable-typed things
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.DeclarationInfo.cs
Labels: Area-IDE

#49701 Fix test results publishing
  eng/build.ps1
  src/Tools/Source/RunTests/Options.cs
Labels: Area-Infrastructure

#49594 [LSP] Better error logging and nicer shutdown
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/AbstractRequestHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.QueueItem.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
  src/Features/LanguageServer/ProtocolUnitTests/DocumentChanges/DocumentChangesTests.LinkedDocuments.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractInProcLanguageClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
Labels: Area-IDE

#49687 Increase maximum suggestions to 5, fixes #31002
  src/Features/Core/Portable/AddImport/AbstractAddImportCodeFixProvider.cs
Labels: Area-IDE, Community

#49674 Changes around usage of Nullable.GetValueOrDefault API on conditional access
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/MetadataDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/Symbol.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundCall.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_NullableHelpers.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperators.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory_QueryLambdaRewriter.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/MetadataDecoder.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceParameterSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SymbolExtensions.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenNullable.vb
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.GenerateConstructorWithDialogCodeAction.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndHashWithDialogCodeAction.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionValidator.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Utilities/CastAnalyzer.vb
  src/Workspaces/VisualBasic/Portable/CodeCleanup/Providers/AddMissingTokensCodeCleanupProvider.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Simplifiers/NameSimplifier.vb
Labels: Area-Compilers, Concept-Continuous Improvement

#49719 Report an error for an initialization of a ref-returning property as part of an object initializer inside an expression tree.
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/VisualBasic/Portable/Lowering/Diagnostics/DiagnosticsPass_ExpressionLambdas.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenRefReturnTests.vb
Labels: Area-Compilers

#49707 Couple interpolated string fixes
  src/Compilers/CSharp/Portable/Binder/Binder_InterpolatedString.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IInterpolatedStringExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ConstantTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FieldTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs
Labels: Area-Compilers, New Language Feature - Const Interpolated Strings, Urgency-Now, auto-merge

#49680 Fix implementations of GetDocument(SyntaxTree)
  src/EditorFeatures/Test2/Rename/CSharp/SourceGeneratorTests.vb
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_Create.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE

#49747 Add better error info when pulling upstream -vs-deps fails.
  azure-pipelines-official.yml
  scripts/merge-vs-deps.ps1
Labels: Area-Infrastructure, auto-merge

#49705 Add completion for preprocessor symbols.
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/CompletionProviderOrderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviderOrderTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/Expressions/TrueFalseKeywordRecommenderTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/OverrideCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PreprocessorCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractPreprocessorCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ObjectInitializerCompletionProvider.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/PreprocessorCompletionProvider.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Expressions/TrueFalseKeywordRecommender.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/SyntaxTreeExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTokenExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ContextQuery/SyntaxContext.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ContextQuery/SyntaxTreeExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ContextQuery/VisualBasicSyntaxContext.vb
Labels: Area-IDE, auto-merge

#48898 Feature/disambiguate using keyword
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
Labels: Area-IDE, Community

#48663 [LSP] Support commands in metadata files
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.TestContext.cs
  src/Features/Core/Portable/MetadataAsSource/IMetadataAsSourceFileService.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceFileService.cs
  src/Features/LanguageServer/Protocol/CustomProtocol/FindUsagesLSPContext.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/AbstractGoToDefinitionHandler.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/VisualStudioLspSolutionProvider.cs
Labels: Area-IDE, CloudEnv

#49752 Always run with LSP pull diagnostics in code-spaces.
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueDiagnosticUpdateSourceTests.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticsUpdatedArgs.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticModeService.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioDiagnosticModeService.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioVenusSpanMappingService.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractInProcLanguageClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AlwaysActivateInProcLanguageClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/RazorInProcLanguageClient.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioAnalyzerTests.vb
Labels: Area-IDE, auto-merge

#49756 Add telemetry to usings on paste
  src/EditorFeatures/Core/Implementation/AddImports/AbstractAddImportsPasteCommandHandler.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpAddMissingUsingsOnPaste.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE, auto-merge

#49782 Be resilient to a null-document in the code-folding service.
  src/EditorFeatures/Core.Wpf/Structure/AbstractStructureTaggerProvider.cs
  src/EditorFeatures/Core/DocumentSnapshotSpan.cs
  src/EditorFeatures/Core/InlineHints/InlineHintsDataTaggerProvider.cs
Labels: Area-IDE, auto-merge

#49778 Backport #49365 to use RTM sdk to 16.8 branch
  docs/contributing/Building, Debugging, and Testing on Windows.md
  eng/build.ps1
  eng/targets/Imports.targets
  global.json
  src/Interactive/HostProcess/InteractiveHost64.csproj
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/Workspaces/CoreTestUtilities/Roslyn.Services.UnitTests.Utilities.csproj
  src/Workspaces/MSBuildTest/Resources/global.json
Labels: Area-Infrastructure

#49765 Avoid sharing NullableWalker state between method and nested functions
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionPerfTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#49763 Simplify implementation of IsOrInGenericType helper and reduce code duplication.
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbolExtensions.vb
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb
Labels: Area-Compilers

#49790 Increase CoreCLR dump information
  src/Tools/Source/RunTests/ProcessTestExecutor.cs
Labels: Area-Infrastructure, auto-merge

#49762 [LSP] Implement caching between completion handlers
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsCache.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionListCache.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensCache.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensEditsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
Labels: Area-IDE, CloudEnv

#49773 Fix suggestion mode when typing potential lambda expression
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SuggestionModeCompletionProviderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
Labels: Area-IDE, auto-merge

#49721 Use Unicode for OutputEncoding
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.RemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.Service.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.cs
  src/Interactive/HostTest/AbstractInteractiveHostTests.cs
  src/Interactive/HostTest/InteractiveHostDesktopTests.cs
Labels: Area-Interactive

#49793 Remove unnecessary parens when converting switch statement ot expression
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionFixAllTests.cs
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/OperatorPrecedence.cs
Labels: Area-IDE, auto-merge

#49799 Add StackOverflow InteractiveWindow test for .NET Core
  src/Interactive/HostTest/InteractiveHostCoreTests.cs
Labels: Area-Interactive, auto-merge

#49824 Stop offering to add DebuggerDisplay on static types
  src/EditorFeatures/CSharpTest/AddDebuggerDisplay/AddDebuggerDisplayTests.cs
  src/EditorFeatures/VisualBasicTest/AddDebuggerDisplay/AddDebuggerDisplayTests.vb
  src/Features/Core/Portable/AddDebuggerDisplay/AbstractAddDebuggerDisplayCodeRefactoringProvider.cs
Labels: Area-IDE, Community

#49526 Handle passing a function pointer ref through a ref returning method
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
Labels: Area-Compilers, New Feature - Function Pointers

#49832 Revert "Increase CoreCLR dump information"
  src/Tools/Source/RunTests/ProcessTestExecutor.cs
Labels: Area-Infrastructure, auto-merge

#49771 Update Default RazorDiagnosticMode to Pull API
  src/Workspaces/Core/Portable/Diagnostics/InternalDiagnosticsOptions.cs
Labels: Area-IDE

#49833 Remove reference to closed issue
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Labels: Area-Compilers

#49481 Correctly record the dispose method to be invoked in operations
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Loops/ForEachLoopOperationInfo.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IUsingStatement.vb
Labels: Area-Compilers, Feature - IOperation

#49844 Restore internal API used by VS for Mac
  src/Workspaces/Core/Portable/Workspace/Solution/VersionStamp.cs
Labels: Area-IDE, auto-merge

#49828 Fix crash in DefiniteAssignmentPass.VisitLocal
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowDiagnosticTests.cs
Labels: Area-Compilers, Tenet-Reliability

#49802 Ensure that each generic local function gets its own container to cache dynamic call-sites.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LoweredDynamicOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Labels: Area-Compilers

#49495 Added support to normalize auto properties on a single line.
  src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxFactoryTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList`1.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
Labels: Area-Compilers, Community

#49851 Ensure we don't create duplicate names in test
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/AdditionalSourcesCollectionTests.cs
Labels: Area-Compilers, Flaky, New Feature - Source Generators

#49789 Update corefx assemblies to .NET 5.0 generation
  eng/Versions.props
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
Labels: Area-Infrastructure

#49839 Update our test generator for integration tests to generate multiple files
  src/Features/Lsif/GeneratorTest/CompilerInvocationTests.vb
  src/Features/Lsif/GeneratorTest/ProjectStructureTests.vb
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSourceGenerators.cs
  src/Workspaces/TestSourceGenerator/HelloWorldGenerator.cs
Labels: Area-IDE

#49797 Fix crash where we try previewing a generated document; general cleanup
  src/EditorFeatures/Core.Cocoa/Preview/DifferenceViewerPreview.cs
  src/EditorFeatures/Core.Cocoa/PreviewPane/PreviewFactoryService.cs
  src/EditorFeatures/Core.Cocoa/PreviewPane/PreviewPane.cs
  src/EditorFeatures/Core.Wpf/Preview/PreviewFactoryService.cs
  src/EditorFeatures/Core.Wpf/QuickInfo/ContentControlService.cs
  src/EditorFeatures/Core/Implementation/SolutionPreviewItem.cs
  src/EditorFeatures/Core/Preview/AbstractPreviewFactoryService.cs
  src/EditorFeatures/Core/Preview/DifferenceViewerPreview.cs
  src/EditorFeatures/Core/Shared/Preview/PreviewWorkspace.cs
  src/EditorFeatures/Test/Preview/PreviewWorkspaceTests.cs
  src/VisualStudio/Core/Def/Implementation/Extensions/VisualStudioWorkspaceImplExtensions.cs
  src/VisualStudio/Core/Def/Implementation/Preview/FileChange.cs
  src/VisualStudio/Core/Def/Implementation/Preview/PreviewEngine.cs
  src/VisualStudio/Core/Def/Implementation/Preview/PreviewUpdater.PreviewDialogWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/Preview/PreviewUpdater.Tagger.cs
  src/VisualStudio/Core/Def/Implementation/Preview/PreviewUpdater.cs
  src/VisualStudio/Core/Def/Implementation/Preview/Tagging/PreviewTaggerProvider.cs
  src/VisualStudio/Core/Def/Implementation/PreviewPane/PreviewPane.xaml.cs
  src/VisualStudio/Core/Impl/Options/AbstractOptionPreviewViewModel.cs
Labels: Area-IDE

#49369 Avoid optimizing away temporary for 'is not' pattern
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundPattern.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.PatternLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#49881 Fix typo in comment
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IsPatternOperator.cs
Labels: Area-Compilers

#49711 XamlProjectService fixes
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/XamlProjectService.cs
Labels: Area-IDE

#49893 Fix namespace so that external access wrapper type can be accessed from UT.
  src/Workspaces/Remote/Core/ExternalAccess/UnitTesting/Api/UnitTestingPinnedSolutionInfoWrapper.cs
Labels: Area-Analyzers

#49901 Rename `_availablelocalFunctionOrdinal` to `_availableLocalFunctionOrdinal`
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
Labels: Area-Compilers

#49670 Prefer more specific path map key
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineParser.cs
  src/Compilers/Core/Portable/SourceFileResolver.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers

#49890 Workaround publishing error due to powershell task change
  eng/common/post-build/post-build-utils.ps1
Labels: Area-Infrastructure

#49885 Ensure that synthesized method calls are passed a binder or null
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Event.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_LockStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PropertyAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringConcat.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Rewriters/LocalDeclarationRewriter.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ExceptionLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ObjectAddressLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ObjectIdLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderLocalSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/ReturnValueLocalSymbol.cs
Labels: Area-Compilers

#49906 Loc updates
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.cs.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.de.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.es.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.fr.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.it.xlf
  src/EditorFeatures/VisualBasic/xlf/VBEditorResources.cs.xlf
  src/EditorFeatures/VisualBasic/xlf/VBEditorResources.de.xlf
  src/EditorFeatures/VisualBasic/xlf/VBEditorResources.es.xlf
  src/EditorFeatures/VisualBasic/xlf/VBEditorResources.fr.xlf
  src/EditorFeatures/VisualBasic/xlf/VBEditorResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.cs.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.es.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.fr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/xlf/WorkspaceExtensionsResources.cs.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/xlf/WorkspaceExtensionsResources.de.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/xlf/WorkspaceExtensionsResources.es.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/xlf/WorkspaceExtensionsResources.fr.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/xlf/WorkspaceExtensionsResources.it.xlf
Labels: Area-IDE, auto-merge

#49860 Fix error on out param of extern local function
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_LocalFunctions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
Labels: Area-Compilers

#49883 Handle ref-containing structs returned by value from function-pointers
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
Labels: Area-Compilers, New Feature - Function Pointers

#49914 Add support for more ServiceAudience values
  eng/targets/GeneratePkgDef.targets
Labels: Area-Infrastructure, auto-merge

#49912 VB: Report non-Const locals used in an expression that must have a constant value.
  src/Compilers/VisualBasic/Portable/Binding/Binder_Utils.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenConstLocal.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IConversionExpression.vb
Labels: Area-Compilers, Language-VB

#49891 Allow you to show advanced members in VB
  src/VisualStudio/CSharp/Impl/PackageRegistration.pkgdef
  src/VisualStudio/VisualBasic/Impl/PackageRegistration.pkgdef
Labels: Area-IDE

#49907 VB: Ensure array access indexes undergo conversion to integer even when there is a mismatch with array rank.
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IArrayElementReferenceExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/WithBlockErrorTests.vb
Labels: Area-Compilers, Language-VB, Tenet-Reliability

#48329 Treat record positional parameters as properties
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.DeclarationInfo.cs
Labels: Area-IDE, Community

#49962 VB: Strengthen implementation of `PropertySymbol.IsWritable` against NullReferenceException
  src/Compilers/VisualBasic/Portable/Symbols/PropertySymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/SemanticModelAPITests.vb
Labels: Area-Compilers

#49840 Fix InvalidCastException on SyntaxGenerator.EnumMember when it is FieldDeclaration
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
Labels: Area-IDE, Community

#49757 Generate explicit cast for implicit conversions in 'use pattern matching' codefix
  src/Analyzers/CSharp/Analyzers/UsePatternCombinators/AnalyzedPattern.cs
  src/EditorFeatures/CSharpTest/UsePatternCombinators/CSharpUsePatternCombinatorsDiagnosticAnalyzerTests.cs
  src/Features/CSharp/Portable/UsePatternCombinators/CSharpUsePatternCombinatorsCodeFixProvider.cs
Labels: Area-IDE, Community

#48534 Fix the dotted line for multiline condition in else if
  src/EditorFeatures/CSharpTest/Structure/BlockSyntaxStructureTests.cs
  src/Features/CSharp/Portable/Structure/Providers/BlockSyntaxStructureProvider.cs
Labels: Area-IDE, Community

#49936 Disable OOP on cloud environment client instances
  src/EditorFeatures/Core.Cocoa/RoslynOutliningWorkaround/AbstractStructureTaggerProvider.cs
  src/EditorFeatures/Core.Wpf/Structure/AbstractStructureTaggerProvider.cs
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManagerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSourceProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManagerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/QuickInfoSourceProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/SignatureHelp/Controller.Session_ComputeModel.cs
  src/EditorFeatures/Core/Shared/Extensions/DocumentExtensions.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextBufferExtensions.cs
  src/EditorFeatures/Core/Shared/Utilities/IWorkspaceContextService.cs
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.VsCodeWindowManager.cs
  src/VisualStudio/Core/Def/Implementation/Remote/VisualStudioRemoteHostClientProvider.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/AbstractSnippetCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/VisualStudioWorkspaceContextService.cs
Labels: Area-IDE, CloudEnv

#49915 Allow pattern matching `null` against pointer types when the pointer types contain nested type parameters
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
Labels: Area-Compilers, New Feature - Function Pointers

#49804 Optimize IOperation.Children Implementation
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.RegionBuilder.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.Enumerable.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationExtensions.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Compilers/Core/Portable/Operations/OperationWalker.cs
  src/Compilers/Test/Core/Compilation/OperationTreeVerifier.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/IOperationClassWriter.Verifier.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/IOperationClassWriter.cs
Labels: Area-Compilers, Feature - IOperation

#49202 Add the justification property for the suppression object in the Sari…
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Test/CommandLine/SarifErrorLoggerTests.cs
  src/Compilers/CSharp/Test/CommandLine/SarifV1ErrorLoggerTests.cs
  src/Compilers/CSharp/Test/CommandLine/SarifV2ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/CommandLine/ErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/SarifV1ErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/SarifV2ErrorLogger.cs
  src/Compilers/Test/Core/Compilation/DiagnosticBagErrorLogger.cs
  src/Compilers/Test/Core/Compilation/NullErrorLogger.cs
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Scripting/Core/Hosting/CommandLine/CommandLineRunner.cs
Labels: Area-Compilers

#49909 Implement ArgumentProvider base type and default provider
  src/EditorFeatures/CSharpTest/Completion/ArgumentProviders/AbstractCSharpArgumentProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/ArgumentProviders/AbstractCSharpArgumentProviderTests`1.cs
  src/EditorFeatures/CSharpTest/Completion/ArgumentProviders/ArgumentProviderOrderTests.cs
  src/EditorFeatures/CSharpTest/Completion/ArgumentProviders/DefaultArgumentProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractArgumentProviderTests`1.cs
  src/EditorFeatures/VisualBasicTest/Completion/ArgumentProviderOrderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/ArgumentProviders/AbstractVisualBasicArgumentProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/ArgumentProviders/DefaultArgumentProviderTests.vb
  src/Features/CSharp/Portable/Completion/Providers/DefaultArgumentProvider.cs
  src/Features/CSharp/Portable/Completion/Providers/FirstBuiltInArgumentProvider.cs
  src/Features/CSharp/Portable/Completion/Providers/LastBuiltInArgumentProvider.cs
  src/Features/Core/Portable/Completion/ArgumentContext.cs
  src/Features/Core/Portable/Completion/ArgumentProvider.cs
  src/Features/Core/Portable/Completion/ExportArgumentProviderAttribute.cs
  src/Features/Core/Portable/Completion/Providers/AbstractDefaultArgumentProvider.cs
  src/Features/VisualBasic/Portable/Completion/Providers/DefaultArgumentProvider.vb
  src/Features/VisualBasic/Portable/Completion/Providers/FirstBuiltInArgumentProvider.vb
  src/Features/VisualBasic/Portable/Completion/Providers/LastBuiltInArgumentProvider.vb
Labels: Area-IDE

#49984 Implement ContextVariableArgumentProvider
  src/EditorFeatures/CSharpTest/Completion/ArgumentProviders/ArgumentProviderOrderTests.cs
  src/EditorFeatures/CSharpTest/Completion/ArgumentProviders/ContextVariableArgumentProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/ArgumentProviderOrderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/ArgumentProviders/ContextVariableArgumentProviderTests.vb
  src/Features/CSharp/Portable/Completion/Providers/ContextVariableArgumentProvider.cs
  src/Features/CSharp/Portable/Completion/Providers/DefaultArgumentProvider.cs
  src/Features/VisualBasic/Portable/Completion/Providers/ContextVariableArgumentProvider.vb
  src/Features/VisualBasic/Portable/Completion/Providers/DefaultArgumentProvider.vb
Labels: Area-IDE

#49982 Wait for cancellation before closing streams
  src/Workspaces/Remote/Core/BrokeredServiceConnection.cs
  src/Workspaces/Remote/Core/CancellationTokenSourceExtensions.cs
  src/Workspaces/Remote/Core/RemoteCallback.cs
  src/Workspaces/Remote/Core/RemoteEndPoint.cs
  src/Workspaces/Remote/Core/RemoteHostAssetSerialization.cs
Labels: Area-IDE, auto-merge

#49974 Keep storage objects of serialized metadata references alive during solution replication
  src/VisualStudio/Core/Test.Next/Mocks/SimpleAssetSource.cs
  src/VisualStudio/Core/Test.Next/Remote/SerializationValidator.cs
  src/VisualStudio/Core/Test.Next/Remote/SnapshotSerializationTests.cs
  src/Workspaces/Core/Portable/Remote/ISerializerService.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService_Asset.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService_Reference.cs
  src/Workspaces/Core/Portable/Serialization/SolutionReplicationContext.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum_Factory.cs
  src/Workspaces/CoreTestUtilities/Remote/TestSerializerService.cs
  src/Workspaces/Remote/Core/RemoteHostAssetSerialization.cs
  src/Workspaces/Remote/Core/SolutionAssetProvider.cs
  src/Workspaces/Remote/Core/SolutionAssetStorage.Scope.cs
  src/Workspaces/Remote/Core/SolutionAssetStorage.cs
Labels: Area-IDE

#49980 Share collections
  Compilers.sln
  Compilers.slnf
  Roslyn.sln
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.Package.csproj
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.projitems
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.shproj
  src/Dependencies/Collections/README.md
  src/Dependencies/Collections/SegmentedArrayHelper.cs
  src/Dependencies/Collections/SegmentedArray`1.cs
  src/Dependencies/Collections/Strings.resx
  src/Dependencies/Collections/xlf/Strings.cs.xlf
  src/Dependencies/Collections/xlf/Strings.de.xlf
  src/Dependencies/Collections/xlf/Strings.es.xlf
  src/Dependencies/Collections/xlf/Strings.fr.xlf
  src/Dependencies/Collections/xlf/Strings.it.xlf
  src/Dependencies/Collections/xlf/Strings.ja.xlf
  src/Dependencies/Collections/xlf/Strings.ko.xlf
  src/Dependencies/Collections/xlf/Strings.pl.xlf
  src/Dependencies/Collections/xlf/Strings.pt-BR.xlf
  src/Dependencies/Collections/xlf/Strings.ru.xlf
  src/Dependencies/Collections/xlf/Strings.tr.xlf
  src/Dependencies/Collections/xlf/Strings.zh-Hans.xlf
  src/Dependencies/Collections/xlf/Strings.zh-Hant.xlf
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/CoreTest/Collections/SegmentedArrayHelperTests.cs
  src/Workspaces/CoreTest/Collections/SegmentedArrayTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensionsResources.resx
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.cs.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.de.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.es.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.fr.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.it.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.ja.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.ko.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.pl.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.pt-BR.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.ru.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.tr.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.zh-Hans.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#49774 Refresh CodeLens count when showing popup
  src/Features/Core/Portable/CodeLens/CodeLensReferencesService.cs
  src/Features/Core/Portable/CodeLens/ICodeLensReferencesService.cs
  src/Features/Core/Portable/CodeLens/ReferenceCount.cs
  src/VisualStudio/CodeLens/ReferenceCodeLensProvider.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/CodeLensCallbackListener.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/ICodeLensContext.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/RemoteCodeLensReferencesService.cs
Labels: Area-IDE, auto-merge

#49992 Address remaining PROTOTYPE comments.
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/Core/Portable/Operations/OperationOld.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
Labels: Area-Compilers, auto-merge

#49887 Add experimentation to "Usings on Paste"
  src/EditorFeatures/Core/Implementation/AddImports/AbstractAddImportsPasteCommandHandler.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextBufferExtensions.cs
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPage.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
  src/VisualStudio/Core/Impl/Options/Converters/NullableBoolOptionConverter.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpAddMissingUsingsOnPaste.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPage.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE, auto-merge

#50006 Exec PrepareTests.dll instead of 'dotnet run' on project
  eng/prepare-tests.ps1
  eng/prepare-tests.sh
Labels: Area-Infrastructure

#49614 Ignore tuple names when comparing symbols
  src/Analyzers/CSharp/Analyzers/UseImplicitObjectCreation/CSharpUseImplicitObjectCreationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseImplicitObjectCreation/CSharpUseImplicitObjectCreationTests.cs
Labels: Area-IDE

#49611 Show generated files live in Solution Explorer
  src/EditorFeatures/Core/Shared/Utilities/ResettableDelay.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzerItem/AnalyzerItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzerItem/AnalyzerItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzerItemTracker.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersCommandHandler.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersFolderItem/AnalyzersFolderItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersFolderItem/AnalyzersFolderItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/BaseItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.DiagnosticDescriptorComparer.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/DiagnosticItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/DiagnosticItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/LegacyDiagnosticItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/LegacyDiagnosticItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/LegacyDiagnosticItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/NoSourceGeneratedFilesPlaceholderItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/SourceGeneratedFileItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/SourceGeneratedFileItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/SourceGeneratedFileItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/SourceGeneratedFileItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorerShim.resx
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.cs.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.de.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.es.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.fr.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.it.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.ja.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.ko.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.pl.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.pt-BR.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.ru.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.tr.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.zh-Hans.xlf
  src/VisualStudio/Core/Impl/xlf/SolutionExplorerShim.zh-Hant.xlf
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzerCommandHandlerTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/AnalyzersFolderProviderTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/DiagnosticItemTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/LegacyDiagnosticItemTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/SourceGeneratorItemTests.vb
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
  src/Workspaces/CoreTestUtilities/GenerateFileForEachAdditionalFileWithContentsCommented.cs
Labels: Area-IDE

#50001 Fast checkout
  azure-pipelines-integration.yml
  azure-pipelines.yml
  eng/pipelines/build-unix-job.yml
  eng/pipelines/build-windows-job.yml
  eng/pipelines/checkout-unix-task.yml
  eng/pipelines/checkout-windows-task.yml
Labels: Area-Infrastructure

#50020 Specify publishing location for Microsoft.CodeAnalysis.Collections
  eng/config/PublishData.json
Labels: Area-Infrastructure, auto-merge

#49967 Add tooling to CodeStyle layer to generate global configs
  Compilers.sln
  Roslyn.sln
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/EnforceOnBuild.cs
  src/CodeStyle/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.CodeStyle.Fixes.csproj
  src/CodeStyle/Tools/CodeStyleConfigFileGenerator.csproj
  src/CodeStyle/Tools/Program.cs
  src/CodeStyle/VisualBasic/CodeFixes/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.Fixes.vbproj
Labels: Area-IDE, auto-merge

#50028 Generate fields with the right naming scheme
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateType/GenerateTypeTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateType/GenerateTypeTests.vb
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.Editor.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.GenerateNamedType.cs
Labels: Area-IDE

#49961 Signature Help: Prefer non-obsolete overloads
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/CommonCompletionUtilities.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
Labels: Area-IDE, Community

#49985 Warn when comparing function pointer values
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers

#49842 CFG pattern dispose with args
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/DisposeOperationInfo.cs
  src/Compilers/Core/Portable/Operations/Loops/ForEachLoopOperationInfo.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Test/Core/Compilation/OperationTreeVerifier.cs
  src/Compilers/Test/Core/Compilation/TestOperationVisitor.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
Labels: Area-Compilers, Feature - IOperation

#50045 Set AsynchronousOperationListener audience in Service.props
  eng/targets/Services.props
Labels: Area-Infrastructure, auto-merge

#47768 Make change signature more async and remove UI dialogs from the service
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.AddImports.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.Cascading.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.Delegates.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.Formatting.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.OptionalParameter.Infer.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/AddParameterTests.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignatureTests.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignature_CheckAllSignatureChanges.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignature_Delegates.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignature_Formatting.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/RemoveParametersTests.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ReorderParametersTests.Cascading.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ReorderParametersTests.InvocationErrors.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ReorderParametersTests.InvocationLocation.cs
  src/EditorFeatures/CSharpTest/ChangeSignature/ReorderParametersTests.cs
  src/EditorFeatures/Core/Implementation/ChangeSignature/AbstractChangeSignatureCommandHandler.cs
  src/EditorFeatures/DiagnosticsTestUtilities/ChangeSignature/AbstractChangeSignatureTests.cs
  src/EditorFeatures/DiagnosticsTestUtilities/ChangeSignature/ChangeSignatureTestState.cs
  src/EditorFeatures/VisualBasicTest/ChangeSignature/AddParameterTests.AddImports.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/AddParameterTests.Cascading.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/AddParameterTests.Delegates.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/AddParameterTests.Formatting.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/AddParameterTests.OptionalParameter.Infer.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/AddParameterTests.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ChangeSignature_CheckAllSignatureChanges.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ChangeSignature_Delegates.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ChangeSignature_Formatting.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/RemoveParametersTests.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ReorderParameters.InvocationErrors.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ReorderParameters.InvocationLocations.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ReorderParameters.MultiFile.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ReorderParametersTests.Cascading.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ReorderParametersTests.vb
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureAnalyzedContext.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureCodeAction.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureCodeActionOperation.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureFailureKind.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureResult.cs
  src/VisualStudio/Core/Def/Implementation/ChangeSignature/VisualStudioChangeSignatureOptionsService.cs
Labels: Area-IDE

#49838 Use the same type character that the user already uses in their enum
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateEnumMember/GenerateEnumMemberTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/GenerateEnumMember/GenerateEnumMemberTests.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/EnumMemberGenerator.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/EnumMemberGenerator.vb
Labels: Area-IDE, auto-merge

#49034 Use private protected setters in compilation options.
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/Core/Portable/Compilation/CompilationOptions.cs
  src/Compilers/VisualBasic/Portable/VisualBasicCompilationOptions.vb
Labels: Area-Compilers, Community

#49975 Disallow record with ambiguous constructors
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#50052 Semantic model should use the first non-empty token of a node to calculate its position.
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
Labels: Area-Compilers

#50042 Do not introduce conditional conversions when they are not legal.
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/SpeculationAnalyzer.cs
Labels: Area-IDE, auto-merge

#50019 Fix cross language generate constructor bugs
  src/EditorFeatures/VisualBasicTest/GenerateConstructor/GenerateConstructorTests.vb
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/AbstractGenerateConstructorService.cs
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/GenerateConstructorHelpers.cs
Labels: Area-IDE

#50024 Don't generate documentation for builds that feed into tests
  eng/build.ps1
  eng/build.sh
  eng/pipelines/build-unix-job.yml
  eng/pipelines/build-windows-job.yml
Labels: Area-Infrastructure

#49945 [Change signature] Fix null reference crash in VB
  src/EditorFeatures/VisualBasicTest/ChangeSignature/AddParameterTests.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/RemoveParametersTests.vb
  src/EditorFeatures/VisualBasicTest/ChangeSignature/ReorderParametersTests.vb
  src/Features/VisualBasic/Portable/ChangeSignature/VisualBasicChangeSignatureService.vb
Labels: Area-IDE

#50002 Mark .xlf as generated by default
  .gitattributes
Labels: Area-Infrastructure

#49940 EnC: Handle files added by build but not observed until after the debugging session starts
  src/EditorFeatures/Core/Implementation/EditAndContinue/ActiveStatementTrackingService.cs
  src/EditorFeatures/Core/Implementation/EditAndContinue/EditAndContinueSaveFileCommandHandler.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/EditAndContinue/Helpers/MockCompilationOutputs.cs
  src/EditorFeatures/Test/Emit/CompilationOutputsTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/MockEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/Emit/CompilationOutputFilesWithImplicitPdbPath.cs
  src/Features/Core/Portable/Emit/CompilationOutputs.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioActiveStatementTracker.cs
Labels: Area-Interactive

#50050 Restore caret position when undoing a Complete Statement operation
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCompleteStatement.cs
Labels: Area-IDE

#50065 Update configs for preview 4 snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure, auto-merge

#49834 Support global analyzer config levels:
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerConfigTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
Labels: Area-Compilers, New Feature - Editor Config

#50098 Fix issue 50095
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Labels: Area-Compilers, Community

#50088 Move CodeFixService to the features layer
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test2/CodeFixes/CodeFixServiceTests.vb
  src/Features/CSharp/Portable/CodeCleanup/CSharpCodeCleanupService.cs
  src/Features/Core/Portable/CodeFixes/CodeFixService.FixAllDiagnosticProvider.cs
  src/Features/Core/Portable/CodeFixes/CodeFixService.FixAllPredefinedDiagnosticProvider.cs
  src/Features/Core/Portable/CodeFixes/CodeFixService.ProjectCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#50143 Clean up CA1805 in Visual Basic from approved list of files
  src/EditorFeatures/TestUtilities2/Intellisense/TestSignatureHelpPresenterSession.vb
  src/EditorFeatures/TestUtilities2/Utilities/GoToHelpers/MockDocumentNavigationService.vb
  src/EditorFeatures/TestUtilities2/Utilities/GoToHelpers/MockSymbolNavigationService.vb
  src/EditorFeatures/TestUtilities2/Utilities/MockSymbolNavigationServiceProvider.vb
  src/Features/VisualBasic/Portable/AddDebuggerDisplay/VisualBasicAddDebuggerDisplayCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/CommentSelection/VisualBasicCommentSelectionService.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeModelObjectTests.EventData.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeModelObjectTests.NamespaceData.vb
  src/VisualStudio/TestUtilities2/CodeModel/Mocks/MockVisualStudioWorkspace.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/MockVsFileChangeEx.vb
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicDebuggerIntelliSenseContext.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
  src/Workspaces/VisualBasic/Portable/CodeCleanup/Providers/AddMissingTokensCodeCleanupProvider.vb
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
Labels: Area-IDE

#50122 Update to Microsoft.CodeAnalysis.Testing 1.0.1-beta1.20623.3
  eng/Versions.props
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryImports/RemoveUnnecessaryImportsTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseIndexOperatorTests.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseRangeOperatorTests.cs
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
Labels: Area-Infrastructure

#50128 Dedupe navigate-to results across project flavors
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.SearchResult.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearchResultComparer.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.NoOpDocumentTrackingService.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Workspaces/Core/Portable/FindSymbols/DeclaredSymbolInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
Labels: Area-IDE, auto-merge

#50140 Don't include partial types in nav-to results that exist only to wrap another nested type.
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToTests.cs
  src/EditorFeatures/VisualBasicTest/NavigateTo/NavigateToTests.vb
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Labels: Area-IDE

#49999 Add ThrowHelper helpers for Dictionary<TKey, TValue> and List<T>
  src/Dependencies/Collections/Internal/SegmentedArrayHelper.cs
  src/Dependencies/Collections/Internal/Strings.resx
  src/Dependencies/Collections/Internal/ThrowHelper.cs
  src/Dependencies/Collections/Internal/xlf/Strings.cs.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.de.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.es.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.fr.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.it.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.ja.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.ko.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.pl.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.pt-BR.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.ru.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.tr.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.zh-Hans.xlf
  src/Dependencies/Collections/Internal/xlf/Strings.zh-Hant.xlf
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.Package.csproj
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.projitems
  src/Dependencies/Collections/SegmentedArray`1.cs
  src/Dependencies/Collections/xlf/Strings.cs.xlf
  src/Dependencies/Collections/xlf/Strings.de.xlf
  src/Dependencies/Collections/xlf/Strings.es.xlf
  src/Dependencies/Collections/xlf/Strings.fr.xlf
  src/Dependencies/Collections/xlf/Strings.it.xlf
  src/Dependencies/Collections/xlf/Strings.ja.xlf
  src/Dependencies/Collections/xlf/Strings.ko.xlf
  src/Dependencies/Collections/xlf/Strings.pl.xlf
  src/Dependencies/Collections/xlf/Strings.pt-BR.xlf
  src/Dependencies/Collections/xlf/Strings.ru.xlf
  src/Dependencies/Collections/xlf/Strings.tr.xlf
  src/Dependencies/Collections/xlf/Strings.zh-Hans.xlf
  src/Dependencies/Collections/xlf/Strings.zh-Hant.xlf
  src/Workspaces/CoreTest/Collections/SegmentedArrayHelperTests.cs
Labels: Area-IDE

#50157 Simplify testing of standard analyzer properties
  src/Analyzers/CSharp/Tests/AddAccessibilityModifiers/AddAccessibilityModifiersTests.cs
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Analyzers/CSharp/Tests/MakeStructFieldsWritable/MakeStructFieldsWritableTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessarySuppressions/RemoveUnnecessaryAttributeSuppressionsTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UpdateLegacySuppressions/UpdateLegacySuppressionsTests.cs
  src/Analyzers/VisualBasic/Tests/AddAccessibilityModifiers/AddAccessibilityModifiersTests.vb
  src/Analyzers/VisualBasic/Tests/RemoveUnnecessarySuppressions/RemoveUnnecessarySuppressionsTests.vb
  src/Analyzers/VisualBasic/Tests/UpdateLegacySuppressions/UpdateLegacySuppressionsTests.vb
  src/CodeStyle/Core/Tests/Microsoft.CodeAnalysis.CodeStyle.UnitTestUtilities.csproj
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AnalyzerProperty.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/CodeFixVerifierHelper.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2.cs
Labels: Area-Analyzers

#50121 Don't offer IDE0058 for dynamic returns
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueExpressionStatementTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
Labels: Area-IDE

#50139 Include the filename with navto results for partial symbols to disambiguate them.
  src/EditorFeatures/CSharpTest/Interactive/NavigateTo/InteractiveNavigateToTests.cs
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToTests.cs
  src/EditorFeatures/VisualBasicTest/NavigateTo/NavigateToTests.vb
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.SearchResult.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/Core/Portable/FindSymbols/DeclaredSymbolInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Labels: Area-IDE, auto-merge

#50186 Handle null argument in SignatureHelpParameter
  src/EditorFeatures/CSharpTest/SignatureHelp/TupleConstructionSignatureHelpProviderTests.cs
  src/Features/Core/Portable/SignatureHelp/SignatureHelpParameter.cs
Labels: Area-IDE
