Repository dotnet/roslyn, pull requests merged in 2020-01, with the labels that each got.

#40651 Fix for incorrect concatenation of localized string fragments
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#39739 Update AnalyzerRunner to support code refactorings
  src/Tools/AnalyzerRunner/AnalyzerRunner.csproj
  src/Tools/AnalyzerRunner/CodeRefactoringRunner.cs
  src/Tools/AnalyzerRunner/DiagnosticAnalyzerRunner.cs
  src/Tools/AnalyzerRunner/Options.cs
  src/Tools/AnalyzerRunner/Program.cs
Labels: Area-Analyzers

#40493 Nullable annotations for Compilation
  .vscode/tasks.json
  src/Compilers/Core/Portable/Compilation/CandidateReason.cs
  src/Compilers/Core/Portable/Compilation/CommonModuleCompilationState.cs
  src/Compilers/Core/Portable/Compilation/CommonSyntaxAndDeclarationManager.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Compilation/CompilationOptions.cs
  src/Compilers/Core/Portable/Compilation/CompilationStage.cs
  src/Compilers/Core/Portable/Compilation/ControlFlowAnalysis.cs
  src/Compilers/Core/Portable/Compilation/DataFlowAnalysis.cs
  src/Compilers/Core/Portable/Compilation/EmitResult.cs
  src/Compilers/Core/Portable/Compilation/Expression.cs
  src/Compilers/Core/Portable/Compilation/Extensions.cs
  src/Compilers/Core/Portable/Compilation/LoadDirective.cs
  src/Compilers/Core/Portable/Compilation/OptimizationLevel.cs
  src/Compilers/Core/Portable/Compilation/ParseOptions.cs
  src/Compilers/Core/Portable/Compilation/Platform.cs
  src/Compilers/Core/Portable/Compilation/PreprocessingSymbolInfo.cs
  src/Compilers/Core/Portable/Compilation/ScriptCompilationInfo.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Compilation/SourceReferenceResolver.cs
  src/Compilers/Core/Portable/Compilation/SpeculativeBindingOption.cs
  src/Compilers/Core/Portable/Compilation/SubsystemVersion.cs
  src/Compilers/Core/Portable/Compilation/SymbolFilter.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticWithInfo.cs
  src/Compilers/Core/Portable/InternalUtilities/RoslynLazyInitializer.cs
  src/Compilers/Core/Portable/SourceFileResolver.cs
  src/Features/CSharp/Portable/ImplementInterface/AbstractChangeImplementionCodeRefactoringProvider.cs
  src/Features/Core/Portable/PopulateSwitch/AbstractPopulateSwitchCodeFixProvider.cs
  src/Features/Core/Portable/UseSystemHashCode/Analyzer.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
Labels: Area-Compilers

#39649 Add support for custom unnecessary locations on a diagnostic.
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.cs
  src/EditorFeatures/Core/Implementation/Diagnostics/AbstractDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core/Implementation/Diagnostics/DiagnosticsClassificationTaggerProvider.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataTests.cs
  src/EditorFeatures/VisualBasicTest/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.vb
  src/Features/Core/Portable/Diagnostics/DiagnosticHelper.cs
  src/Features/Core/Portable/RemoveUnnecessaryParentheses/AbstractRemoveUnnecessaryParenthesesDiagnosticAnalyzer.cs
  src/VisualStudio/LiveShare/Impl/DiagnosticHandler.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
Labels: Area-IDE

#40706 Fix for IDE0063 (use simple using statement) throws away compiler directives
  src/EditorFeatures/CSharpTest/UseSimpleUsingStatement/UseSimpleUsingStatementTests.cs
  src/Features/CSharp/Portable/UseSimpleUsingStatement/UseSimpleUsingStatementCodeFixProvider.cs
Labels: Area-IDE

#40701 Avoid boxing Boolean in SyntaxTreeSemanticModel.GetMemberSemanticModel
  src/Compilers/VisualBasic/Portable/Compilation/SyntaxTreeSemanticModel.vb
Labels: Area-Compilers, Language-VB

#40457 Determine whether a stackalloc expression is target-typed when it is bound (not later).
  docs/compilers/Design/Bound Node Design.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Expression.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StackAlloc.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxNodeExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Area-Compilers

#40515 String Splitter - Properly indent when Use Tabs is enabled
  src/EditorFeatures/CSharp/SplitStringLiteral/SplitStringLiteralCommandHandler.StringSplitter.cs
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
Labels: Area-IDE

#40357 Avoid partial construction of finalizable type PinnedRemotableDataScope
  src/Workspaces/Core/Portable/Execution/AssetStorages.cs
  src/Workspaces/Core/Portable/Execution/PinnedRemotableDataScope.cs
  src/Workspaces/Core/Portable/Execution/SolutionSynchronizationService.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
Labels: Area-IDE

#40459 Treat 0- and 1-tuple symbols as tuples
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/TupleTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Tuples.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
Labels: Area-Compilers, New Language Feature - Tuples

#40712 Don't use syntax context cache when the task is cancelled.
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
Labels: Area-IDE

#40681 Fix for extract method crashes when extracting an invalid using statement
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractLocalFunctionTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
Labels: Area-IDE

#40616 Fix cases where the simplification system doesn't simplify properly.
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/EditorFeatures/Test2/Rename/RenameEngineTests.CSharpConflicts.vb
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs
  src/Features/Core/Portable/SimplifyTypeNames/AbstractSimplifyTypeNamesCodeFixProvider.cs
  src/Features/Core/Portable/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Workspaces/CSharp/Portable/Extensions/CrefSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Labels: Area-IDE, Community

#35685 Implement support for CodeRefactoringProvider in NuGet packages
  src/EditorFeatures/Test/CodeRefactorings/CodeRefactoringServiceTest.cs
  src/EditorFeatures/Test/CodeRefactorings/ErrorCases/CodeRefactoringExceptionInComputeRefactorings.cs
  src/EditorFeatures/Test/CodeRefactorings/ErrorCases/CodeRefactoringExceptionInComputeRefactoringsAsync.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/CodeRefactorings/ICodeRefactoringProviderFactory.cs
  src/Workspaces/Core/Portable/Utilities/ConcatImmutableArray`1.cs
  src/Workspaces/Core/Portable/Utilities/ImmutableArrayExtensions.cs
Labels: Area-Analyzers

#40544 Obsolete non-.editorconfig 'simplification options'.
  src/EditorFeatures/Test2/Simplification/TypeInferenceSimplifierTests.vb
  src/EditorFeatures/Test2/Simplification/TypeNameSimplifierTest.vb
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Utilities/CSharpUseImplicitTypeHelper.cs
  src/Workspaces/Core/Portable/Simplification/SimplificationOptionProvider.cs
  src/Workspaces/Core/Portable/Simplification/SimplificationOptions.cs
  src/Workspaces/VisualBasic/Portable/Extensions/ExpressionSyntaxExtensions.vb
Labels: Area-IDE, Community

#40467 Implement parsing for records
  eng/targets/Settings.props
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Declarations/DeclarationModifiers.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/ClassDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/StructDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Portable/Syntax/TypeDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Labels: Area-Compilers

#39625 Handle dependent slots in pattern-matching null tests.
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesVsPatterns.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, New Language Feature - Pattern Matching

#40677 Ignore dynamic vs object, etc in pattern-matching machinery.
  src/Compilers/CSharp/Portable/BoundTree/BoundDagEvaluation.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDagTemp.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#40678 Report erroneous implicit conversions in a switch expression
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#40648 Always return results view, but mark is as having side effects
  eng/Versions.props
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/NativeViewTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ResultsViewTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/NativeViewExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/ResultsViewExpansion.cs
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmEvaluationResultFlags.cs
  src/ExpressionEvaluator/VisualBasic/Test/ResultProvider/ResultsViewTests.vb
Labels: Area-Interactive

#40412 Fixed handling of variable declarations inside of for loops in related code fixers
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnusedVariable/RemoveUnusedVariableTests.cs
  src/Features/CSharp/Portable/RemoveUnusedParametersAndValues/CSharpRemoveUnusedValuesCodeFixProvider.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.cs
  src/Features/Core/Portable/RemoveUnusedVariable/AbstractRemoveUnusedVariableCodeFixProvider.cs
  src/Features/VisualBasic/Portable/RemoveUnusedParametersAndValues/VisualBasicRemoveUnusedValuesCodeFixProvider.vb
Labels: Area-IDE, Community

#40543 Implement designator restrictions for C# 9.0 patterns
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionArmBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#36237 fixed DeclarationNameCompletionProvider when used via Nuget package
  src/Features/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.Features.csproj
Labels: Area-IDE, Need Design Review

#40748 Improve error message for CS0191
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers, Community

#40729 Annotated SyntaxList
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList.WithManyChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.SeparatedWithManyChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.SeparatedWithManyWeakChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.WithManyChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.WithManyWeakChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.WithThreeChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.WithTwoChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.cs
  src/Compilers/Core/Portable/Syntax/SyntaxListBuilder.cs
  src/Compilers/Core/Portable/Syntax/SyntaxListBuilderExtensions.cs
  src/Compilers/Core/Portable/Syntax/SyntaxListBuilder`1.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList`1.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList`1.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
Labels: Area-Compilers, Concept-Null Annotations

#40503 Further work on C# 9 pattern-matching changes
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IPatternSwitchCase.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_InvalidStatement.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/OperationAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternSwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SwitchTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/WhenKeywordRecommenderTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#40395 More refactoring and hardening of remote calls
  src/Compilers/Core/Portable/Serialization/ObjectWriter.cs
  src/EditorFeatures/TestUtilities/Remote/InProcRemostHostClient.cs
  src/EditorFeatures/TestUtilities/Roslyn.Services.Test.Utilities.csproj
  src/Features/Core/Portable/AddImport/Remote/AbstractAddImportFeatureService_Remote.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/VisualStudio/CodeLens/ReferenceCodeLensProvider.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/LanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcClient.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcConnection.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemotableDataJsonRpcEx.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.WorkspaceEventListener.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostOptions.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.ConnectionManager.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.Connections.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.PooledConnection.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Test.Next/Mocks/TestAssetSource.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/AssetServiceTests.cs
  src/VisualStudio/Core/Test.Next/Services/AssetStorageTests.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/Razor/Microsoft.VisualStudio.LanguageServices.Razor.RemoteClient.csproj
  src/VisualStudio/Razor/RazorLanguageServiceClient.cs
  src/Workspaces/Core/Portable/Execution/ISolutionSynchronizationService.cs
  src/Workspaces/Core/Portable/Execution/PinnedRemotableDataScope.cs
  src/Workspaces/Core/Portable/Execution/SolutionSynchronizationService.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSessionWithSolutionWrapper.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.FindLiteralsServerCallback.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.FindReferencesServerCallback.cs
  src/Workspaces/Core/Portable/Remote/DefaultRemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostSessionHelpers.cs
  src/Workspaces/Core/Portable/Utilities/SoftCrashException.cs
  src/Workspaces/Remote/Core/Services/AssetService.cs
  src/Workspaces/Remote/Core/Services/AssetSource.cs
  src/Workspaces/Remote/Core/Shared/SimpleAssetSource.cs
  src/Workspaces/Remote/Razor/Microsoft.CodeAnalysis.Remote.Razor.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingStreamExtensions.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_AddImport.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_CodeLens.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_Diagnostics.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_SymbolFinder.cs
  src/Workspaces/Remote/ServiceHub/Services/LanguageServer.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.PerformanceReporter.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteHostService.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteSymbolSearchUpdateEngine.cs
  src/Workspaces/Remote/ServiceHub/Services/SnapshotService.JsonRpcAssetSource.cs
  src/Workspaces/Remote/ServiceHub/Shared/ClientDirectStream.cs
  src/Workspaces/Remote/ServiceHub/Shared/Extensions.cs
  src/Workspaces/Remote/ServiceHub/Shared/RemoteEndPoint.cs
  src/Workspaces/Remote/ServiceHub/Shared/ServerDirectStream.cs
  src/Workspaces/Remote/ServiceHub/Shared/ServiceHubServiceBase.cs
Labels: Area-Compilers, Area-IDE, Concept-OOP

#40765 Revert "Merge pull request #40410 from sharwell/use-index"
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAwaitHighlighter.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-IDE

#40761 Move run code actions back to liveshare layer so that we can switch t…
  src/Features/LanguageServer/Protocol/Handler/CodeActions/RunCodeActionsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/RunCodeActionsTests.cs
  src/VisualStudio/LiveShare/Impl/RunCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/RunCodeActionsHandlerShim.cs
Labels: Area-IDE

#40769 Update configs for preview 2 snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure

#40770 Unskip and fix integration test
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
Labels: Area-IDE, Integration-Test

#39186 Annotate implementations of IAliasSymbol
  src/Compilers/CSharp/Portable/Binder/Imports.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/AliasSymbol.cs
Labels: Area-Compilers, Concept-Null Annotations

#40752 Annotate CSharpCompilation
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxAndDeclarationManager.LazyState.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/ReferenceManager.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/Core/Portable/Collections/StaticCast.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/InternalUtilities/ReferenceEqualityComparer.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Binding.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Resolution.cs
  src/Compilers/Core/Portable/SignatureComparer.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
Labels: Area-Compilers, Concept-Null Annotations

#40790 Revert "Merge pull request #40765 from dibarbet/revert_use_index"
  src/EditorFeatures/CSharp/Highlighting/KeywordHighlighters/AsyncAwaitHighlighter.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-IDE

#40782 Remove Dispose(disposing) from objects without finalization
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataSerializerTests.cs
  src/EditorFeatures/TestUtilities/Remote/InProcRemostHostClient.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/RunningDocumentTableEventTracker.cs
  src/VisualStudio/Core/Def/Implementation/Remote/JsonRpcConnection.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.PooledConnection.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClient.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/AbstractIntegrationTest.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Harness/MessageFilter.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/TemporaryStorage/TemporaryStorageServiceFactory.MemoryMappedInfo.cs
Labels: Area-IDE

#40510 Consume centrally trained optprof data
  azure-pipelines-official.yml
  eng/InternalTools.props
  eng/Versions.props
  eng/build.ps1
  eng/config/PublishData.json
Labels: Area-Infrastructure

#39191 Annotate implementations of IDynamicTypeSymbol
  src/Compilers/CSharp/Portable/Emitter/Model/DynamicTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/DynamicTypeSymbol.cs
Labels: Area-Compilers, Concept-Null Annotations

#40676 Add Missing Cases for Nullable Enums
  src/EditorFeatures/CSharpTest/PopulateSwitch/PopulateSwitchExpressionTests.cs
  src/EditorFeatures/CSharpTest/PopulateSwitch/PopulateSwitchStatementTests.cs
  src/EditorFeatures/VisualBasicTest/PopulateSwitch/PopulateSwitchStatementTests.vb
  src/Features/Core/Portable/PopulateSwitch/PopulateSwitchExpressionHelpers.cs
  src/Features/Core/Portable/PopulateSwitch/PopulateSwitchStatementHelpers.cs
Labels: Area-IDE, Community

#40812 Disable CommitOnSave test
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicLineCommit.cs
Labels: Area-IDE

#40786 Speed up ISemanticFactsService.GetDeclaredSymbol
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Area-IDE

#40840 Revert "Consume centrally trained optprof data"
  azure-pipelines-official.yml
  eng/InternalTools.props
  eng/Versions.props
  eng/build.ps1
  eng/config/PublishData.json
Labels: Area-Infrastructure

#40794 Don't throw in GetMetadataReference for an unexpected assembly type
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
Labels: Area-Compilers

#40431 Add initial symbol binding for function pointer types
  src/Compilers/CSharp/Portable/Binder/Binder_Crefs.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolVisitor.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolVisitor`1.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolVisitor`2.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FunctionPointerTests.cs
  src/Compilers/Core/Portable/PEWriter/Members.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/MethodKind.cs
  src/Compilers/Core/Portable/Symbols/SymbolKind.cs
  src/Compilers/Core/Portable/Symbols/TypeKind.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/Workspaces/CoreTest/CodeStyle/NamingStylePreferencesUpgradeTests.cs
Labels: Area-Compilers, New Feature - Function Pointers, auto-merge

#40837 Fix language client activation
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Test.Next/Services/LanguageServiceTests.cs
  src/Workspaces/Remote/ServiceHub/Services/LanguageServer.cs
Labels: Approved to merge, Area-IDE, auto-merge

#40855 Update build number for 16.6 P1
  eng/Versions.props
Labels: Area-Infrastructure

#40856 Add new publishing branch for 16.6 p1
  eng/config/PublishData.json
Labels: Area-Infrastructure

#40822 Prevent static local function from referencing generic local function
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
Labels: Area-Compilers, New Language Feature - Local Functions

#40767 Annotate InternalSyntax
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/Compilers/Core/Portable/Syntax/GreenNode.cs
  src/Compilers/Core/Portable/Syntax/GreenNodeExtensions.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/ChildSyntaxList.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/ChildSyntaxList.Reversed.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/ChildSyntaxList.Reversed.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/ChildSyntaxList.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/GreenNodeExtensions.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SeparatedSyntaxList.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SeparatedSyntaxListBuilder.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxDiagnosticInfoList.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList.WithLotsOfChildren.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList.WithManyChildren.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList.WithThreeChildren.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList.WithTwoChildren.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxListBuilder.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxListBuilderExtensions.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxListBuilder`1.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxListPool.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList`1.Enumerator.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxList`1.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxNodeCache.cs
  src/Compilers/Core/Portable/Syntax/SyntaxAnnotation.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.WithThreeChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList.WithTwoChildren.cs
  src/Compilers/Core/Portable/Syntax/SyntaxListBuilder.cs
  src/Compilers/Core/Portable/Syntax/SyntaxList`1.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
Labels: Area-Compilers, Concept-Null Annotations

#40831 Annotate Text
  src/Compilers/Core/Portable/Text/LargeTextWriter.cs
  src/Compilers/Core/Portable/Text/LinePosition.cs
  src/Compilers/Core/Portable/Text/LinePositionSpan.cs
  src/Compilers/Core/Portable/Text/SourceHashAlgorithm.cs
  src/Compilers/Core/Portable/Text/SourceTextComparer.cs
  src/Compilers/Core/Portable/Text/SourceTextContainer.cs
  src/Compilers/Core/Portable/Text/SourceTextStream.cs
  src/Compilers/Core/Portable/Text/SourceTextWriter.cs
  src/Compilers/Core/Portable/Text/StringTextWriter.cs
  src/Compilers/Core/Portable/Text/TextChange.cs
  src/Compilers/Core/Portable/Text/TextChangeEventArgs.cs
  src/Compilers/Core/Portable/Text/TextChangeRange.cs
  src/Compilers/Core/Portable/Text/TextLine.cs
  src/Compilers/Core/Portable/Text/TextLineCollection.cs
  src/Compilers/Core/Portable/Text/TextSpan.cs
  src/Compilers/Core/Portable/Text/TextUtilities.cs
  src/Workspaces/Core/Portable/Shared/Extensions/TextLineExtensions.cs
Labels: Area-Compilers, Concept-Null Annotations

#40833 Annotate Binder.cs and BuckStopsHereBinder
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
Labels: Area-Compilers, Concept-Null Annotations

#40825 Fix incorrect propagation of Concurrent flag
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticStartAnalysisScope.cs
Labels: Area-Compilers

#40871 Include line number in logs
  src/Features/Core/Portable/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
Labels: Area-IDE, Community

#40839 Adopt latest roslyn analyzers
  .editorconfig
  eng/Versions.props
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationViewTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.cs
  src/EditorFeatures/TestUtilities/Threading/WpfFactDiscoverer.cs
  src/EditorFeatures/VisualBasicTest/KeywordHighlighting/AbstractVisualBasicKeywordHighlighterTests.vb
  src/Features/CSharp/Portable/ChangeSignature/CSharpChangeSignatureService.cs
  src/Features/VisualBasic/Portable/ChangeSignature/VisualBasicChangeSignatureService.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Declarations/GetSetKeywordRecommender.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Declarations/ParameterModifiersKeywordRecommender.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Expressions/LambdaKeywordRecommender.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Expressions/NameOfKeywordRecommender.vb
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/Test/Utilities/Portable/Diagnostics/TestDiagnosticAnalyzer.cs
  src/VisualStudio/Core/SolutionExplorerShim/BaseItem.cs
  src/VisualStudio/Core/Test/AnalyzerSupport/AnalyzerDependencyCheckerTests.vb
  src/VisualStudio/LiveShare/Impl/Client/Debugging/CSharpLspPackage.cs
  src/VisualStudio/LiveShare/Impl/Client/Tagger/AbstractAsyncClassificationTaggerProvider.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Area-IDE

#40801 Give special diagnostic for t == default
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedDefaultTests.cs
Labels: Area-Compilers

#34254 Fix incorrect task chaining in InlineRenameSession
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
Labels: Area-IDE

#40762 Ignore casing when looking up Naming Rules/Styles/Symbols
  src/EditorFeatures/CSharpTest/Diagnostics/NamingStyles/EditorConfigNamingStyleParserTests.cs
  src/Workspaces/Core/Portable/NamingStyles/EditorConfig/EditorConfigNamingStyleParser.cs
  src/Workspaces/CoreTest/EditorConfigStorageLocation/NamingStylePreferenceEditorConfigStorageLocationTests.cs
Labels: Area-IDE

#40910 Fix special handling of Winforms Reset method in IDE0051 (RemoveUnuse…
  src/EditorFeatures/CSharpTest/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Features/Core/Portable/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Area-IDE

#40896 Use appropriate code fix title for IDE0059 for unnecessary compound a…
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.cs
  src/Workspaces/CSharp/Portable/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/CSharp/Portable/LanguageServices/CSharpSyntaxFactsService.cs
  src/Workspaces/Core/Portable/LanguageServices/SyntaxFactsService/ISyntaxFactsService.cs
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
Labels: Area-IDE

#40787 Change the default value of ObjectWriter leaveOpen parameter.
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs
  src/Compilers/Core/CodeAnalysisTest/ObjectSerializationTests.cs
  src/Compilers/Core/Portable/Serialization/ObjectReader.cs
  src/Compilers/Core/Portable/Serialization/ObjectWriter.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxNode.vb
  src/EditorFeatures/Core/Implementation/TodoComment/TodoCommentState.cs
  src/EditorFeatures/Test/Utilities/BloomFilterTests.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/DesignerAttributeState.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioSnapshotSerializationTests.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataSerializer.cs
  src/Workspaces/Core/Portable/Execution/AbstractReferenceSerializationService.cs
  src/Workspaces/Core/Portable/Execution/CustomAsset.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Serialization.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/Core/Portable/Storage/SQLite/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Portable/Storage/SQLite/SQLitePersistentStorage_Helpers.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum_Factory.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
  src/Workspaces/CoreTest/FindAllDeclarationsTests.cs
  src/Workspaces/CoreTest/SerializationTests.cs
  src/Workspaces/CoreTest/UtilityTest/SourceTextSerializationTests.cs
  src/Workspaces/CoreTestUtilities/Extensions.cs
  src/Workspaces/Remote/ServiceHub/Services/SnapshotService.JsonRpcAssetSource.cs
Labels: Area-Compilers, Area-IDE

#40792 Add EnumCastDefinitelyCantBeRemoved edge case for casts to numeric types
  src/Workspaces/CSharp/Portable/Extensions/CastExpressionSyntaxExtensions.cs
Labels: Area-IDE, Area-Performance

#40817 Remove unused parameter and clean up MemoryMappedInfo
  src/Workspaces/Core/Portable/TemporaryStorage/TemporaryStorageServiceFactory.MemoryMappedInfo.cs
Labels: Area-IDE

#40815 Document load failures - restore reverted PR #40044
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/FileContentLoadAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/Analyzers/IDEDiagnosticIds.cs
  src/Features/Core/Portable/Diagnostics/DefaultDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticResultSerializer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.ProjectState.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.HostStates.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/Features/Core/Portable/Shared/Extensions/DiagnosticAnalyzerExtensions.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/WorkspaceFailureOutputPane.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/Workspaces/Core/MSBuild/MSBuild/DiagnosticReporter.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildWorkspace.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoaderRegistry.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalysisResult.cs
  src/Workspaces/Core/Portable/Utilities/ValuesSources/ConstantValueSource.cs
  src/Workspaces/Core/Portable/Workspace/FileTextLoader.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/RecoverableTextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextLoader.cs
  src/Workspaces/Core/Portable/Workspace/WorkspaceDiagnosticDescriptors.cs
  src/Workspaces/Core/Portable/WorkspacesResources.Designer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/CoreTestUtilities/WorkspaceExtensions.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-IDE

#40859 Swap compiler test target frameworks to put netcoreapp first
  eng/targets/Settings.props
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
Labels: Area-Compilers

#40936 Ensure that we don't kick off SolutionCrawler's Reanalyze functionali…
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
Labels: Area-IDE

#40469 Fixed IDE0009 suggestion in property pattern.
  src/EditorFeatures/CSharpTest/QualifyMemberAccess/QualifyMemberAccessTests.cs
  src/Features/Core/Portable/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs
Labels: Area-IDE, Community

#40877 Fix cases where we would not simplify in a using alias.
  src/EditorFeatures/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
Labels: Area-IDE, Community

#40900 Do not report IDE0059 for reference taken symbols
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.AnalysisData.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.FlowGraphAnalysisData.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.Walker.cs
Labels: Area-IDE

#40772 Improve diagnostic messages for IDE0060 (remove unused parameter)
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
  src/Features/Core/Portable/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#39187 Annotate implementations of IArrayTypeSymbol
  src/Compilers/CSharp/Portable/Emitter/Model/ArrayTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/ArrayTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationArrayTypeSymbol.cs
Labels: Area-Compilers, Concept-Null Annotations

#40932 Update readme with recent release notes
  docs/ide/README.md
Labels: Area-IDE

#40984 Fix assertion for the bootstrap compiler
  src/Compilers/CSharp/Portable/Symbols/PublicModel/ArrayTypeSymbol.cs
Labels: Area-Compilers

#40965 Refactor some dispose code in SymbolUsageAnalysis
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.AnalysisData.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.DataFlowAnalyzer.FlowGraphAnalysisData.cs
  src/Workspaces/Core/Portable/FlowAnalysis/SymbolUsageAnalysis/SymbolUsageAnalysis.OperationTreeAnalysisData.cs
Labels: Area-IDE

#40783 Don't offer interpolated string refactoring for const variables
  src/EditorFeatures/CSharpTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.cs
  src/EditorFeatures/VisualBasicTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.vb
  src/Features/CSharp/Portable/ConvertToInterpolatedString/CSharpConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ConvertToInterpolatedString/VisualBasicConvertConcatenationToInterpolatedStringRefactoringProvider.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE

#40990 Change the text for the newly added background analysis scope option
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/ServicesVSResources.Designer.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
Labels: Area-IDE

#40988 Use a non-localized category string for DiagnosticDescriptors
  src/CodeStyle/Core/Analyzers/CodeStyleResources.Designer.cs
  src/CodeStyle/Core/Analyzers/CodeStyleResources.resx
  src/CodeStyle/Core/Analyzers/DiagnosticCategory.cs
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.cs.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.de.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.es.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.fr.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.it.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.ja.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.ko.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.pl.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.pt-BR.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.ru.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.tr.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.zh-Hans.xlf
  src/CodeStyle/Core/Analyzers/xlf/CodeStyleResources.zh-Hant.xlf
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueDiagnosticDescriptorsTests.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticCategory.cs
  src/Features/Core/Portable/FeaturesResources.Designer.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#39190 Annotate implementations of IDiscardSymbol
  src/Compilers/CSharp/Portable/Symbols/DiscardSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/DiscardSymbol.cs
Labels: Area-Compilers, Concept-Null Annotations

#39192 Annotate implementations of IErrorTypeSymbol
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.ErrorTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ExtendedErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MissingMetadataTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaAmbiguousCanonicalTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaIllegalGenericInstantiationSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaMissingCanonicalTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/UnboundGenericType.cs
  src/Compilers/CSharp/Portable/Symbols/UnsupportedMetadataTypeSymbol.cs
Labels: Area-Compilers, Concept-Null Annotations

#40966 Fix VisualBasicSyntaxFactsService.IsLeftSideOfCompoundAssignment
  src/Workspaces/VisualBasic/Portable/Extensions/SyntaxNodeExtensions.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSyntaxFactsService.vb
  src/Workspaces/VisualBasicTest/VisualBasicSyntaxFactsServiceTests.vb
Labels: Area-IDE

#40691 Make AnalyzerActions a value type
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerActionCounts.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticStartAnalysisScope.cs
Labels: Area-IDE

#40625 Create synthesized record constructor
  src/Compilers/CSharp/Portable/Binder/BinderFactory.BinderFactoryVisitor.cs
  src/Compilers/CSharp/Portable/Binder/BinderFactory.NodeUsage.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/LookupPosition.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupPositionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers

#40933 Annotate SyntaxNodeOrToken
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/CSharpExtensions.cs
  src/Compilers/Core/CodeAnalysisTest/CommonSyntaxTests.cs
  src/Compilers/Core/Portable/Diagnostic/SourceLocation.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrToken.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrTokenList.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrTokenListBuilder.cs
  src/Compilers/VisualBasic/Test/Syntax/TestSyntaxNodes.vb
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Workspaces/CSharp/Portable/Classification/Worker.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
Labels: Area-Compilers, Concept-Null Annotations

#41028 Insert correct `WithNullableContext` binder into the binder chain to …
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Syntax/NullableContextStateMap.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/EditorFeatures/CSharpTest/InlineDeclaration/CSharpInlineDeclarationTests.cs
  src/Workspaces/CSharpTest/CodeGeneration/AddImportsTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Semantic Model

#41016 Avoid expensive captures
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs
Labels: Area-Analyzers, Area-Compilers, Area-IDE

#41055 Remove capturing lambda from binding hot path
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
Labels: Area-Compilers

#40999 EnC: simplify reporting module diagnostics.
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/LocationlessDiagnostic.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebugStateChangeListener.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/VisualStudioDebuggeeModuleMetadataProvider.cs
  src/VisualStudio/Core/Def/ManagedEditAndContinueService.vsdconfigxml
Labels: Area-IDE, Concept-OOP, Interactive-EnC

#40901 Pythia external access
  src/Features/CSharp/Portable/ExternalAccess/Pythia/Api/IPythiaSignatureHelpProviderImplementation.cs
  src/Features/CSharp/Portable/ExternalAccess/Pythia/Api/PythiaSignatureHelpItemWrapper.cs
  src/Features/CSharp/Portable/ExternalAccess/Pythia/PythiaSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/AbstractOrdinaryMethodSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProviderBase_DelegateInvoke.cs
  src/Features/CSharp/Portable/SignatureHelp/InvocationExpressionSignatureHelpProviderBase_MethodGroup.cs
  src/Features/Core/Portable/Completion/Providers/SymbolMatchPriority.cs
  src/Features/Core/Portable/ExternalAccess/Pythia/Api/PythiaCompletionProviderBase.cs
  src/Features/Core/Portable/ExternalAccess/Pythia/Api/PythiaDocumentationCommentFormatting.cs
  src/Features/Core/Portable/ExternalAccess/Pythia/Api/PythiaGlyph.cs
  src/Features/Core/Portable/ExternalAccess/Pythia/Api/PythiaSymbolMatchPriority.cs
  src/Features/Core/Portable/ExternalAccess/Pythia/Api/PythiaSymbolSorting.cs
  src/Features/Core/Portable/SignatureHelp/AbstractSignatureHelpProvider.cs
  src/Workspaces/CSharp/Portable/ExternalAccess/Pythia/Api/PythiaSymbolExtensions.cs
  src/Workspaces/CSharp/Portable/ExternalAccess/Pythia/Api/PythiaSyntaxExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaDocumentExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaEditDistanceWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaObjectPool.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaOptions.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaRemoteHostClient.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaSemanticModelExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaSyntaxFactsServiceWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/Pythia/Api/PythiaTypeInferenceServiceWrapper.cs
  src/Workspaces/Remote/Core/Services/SolutionService.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/Pythia/Api/PythiaServiceBase.cs
  src/Workspaces/Remote/ServiceHub/Shared/ServiceHubServiceBase.cs
Labels: Area-Infrastructure

#41007 Improving F12 Decompilation Quality By Passing Fuzzy-Matched References
  src/EditorFeatures/CSharp/CSharpEditorResources.Designer.cs
  src/EditorFeatures/CSharp/CSharpEditorResources.resx
  src/EditorFeatures/CSharp/DecompiledSource/AssemblyResolver.cs
  src/EditorFeatures/CSharp/DecompiledSource/CSharpDecompiledSourceService.cs
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.cs.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.de.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.es.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.fr.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.it.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.ja.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.ko.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.pl.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.pt-BR.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.ru.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.tr.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.zh-Hans.xlf
  src/EditorFeatures/CSharp/xlf/CSharpEditorResources.zh-Hant.xlf
Labels: Area-IDE, Community

#40959 Support EnumeratorCancellationAttribute in local functions
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers

#41120 Fix regression in code fix service
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
Labels: Area-IDE

#41061 Simplify closure conversion
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.Tree.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.Analysis.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
Labels: Area-Compilers

#41081 Straightforward cleanup in our simplification code.
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/VisualBasic/Portable/Extensions/ExpressionSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/LanguageServices/VisualBasicSemanticFactsService.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicVariableDeclaratorReducer.vb
Labels: Area-IDE, Community

#40652 Override definition string content to exclude hashcode for screen rea…
  src/VisualStudio/Core/Def/Implementation/FindReferences/RoslynDefinitionBucket.cs
Labels: Area-IDE

#41129 Support ExcludeFromCodeCoverageAttribute in local functions
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DynamicAnalysisInjector.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
Labels: Area-Compilers

#41089 Minor grammar fixes in markdown file
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-Infrastructure, Community

#41113 Update required dotnet to 3.1.100
  global.json
Labels: Area-Infrastructure

#41148 Mark Microsoft.CodeAnalysis.LanguageServer.Protocol as PrivateAssets
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Area-Infrastructure

#41139 Do not emit Array.Empty for an empty params call if the params is an array of pointers.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
Labels: Area-Compilers, Community

#41146 Update Language Feature Status.md
  docs/Language Feature Status.md
Labels: auto-merge

#41141 Add Namespace grouping to API
  src/Workspaces/Remote/Core/Telemetry/ApiUsageIncrementalAnalyzerProvider.cs
Labels: Area-IDE

#41073 Extract simplification helpers into their own class.
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpPreferFrameworkTypeDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/SimplifyThisOrMe/CSharpSimplifyThisOrMeDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicPreferFrameworkTypeDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicSimplifyTypeNamesDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/SimplifyThisOrMe/VisualBasicSimplifyThisOrMeDiagnosticAnalyzer.vb
  src/Workspaces/CSharp/Portable/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Extensions/MemberAccessExpressionSyntaxExtensions.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpNameReducer.cs
  src/Workspaces/CSharp/Portable/Simplification/Simplifiers/AbstractCSharpSimplifier.cs
  src/Workspaces/CSharp/Portable/Simplification/Simplifiers/ExpressionSimplifier.cs
  src/Workspaces/CSharp/Portable/Simplification/Simplifiers/NameSimplifier.cs
  src/Workspaces/CSharp/Portable/Simplification/Simplifiers/QualifiedCrefSimplifier.cs
  src/Workspaces/Core/Portable/Simplification/Simplifiers/AbstractSimplifier.cs
  src/Workspaces/VisualBasic/Portable/Extensions/ExpressionSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/Extensions/MemberAccessExpressionSyntaxExtensions.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicNameReducer.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicVariableDeclaratorReducer.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Simplifiers/AbstractVisualBasicSimplifier.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Simplifiers/ExpressionSimplifier.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Simplifiers/NameSimplifier.vb
Labels: Area-IDE, Community

#41180 Use public APIs instead of reflection
  src/Compilers/Core/MSBuildTask/Utilities.cs
Labels: Area-Compilers, Concept-Continuous Improvement

#41189 Remove unnecessary CS8717 suppressions.
  src/Compilers/Core/Portable/Symbols/SymbolVisitor`1.cs
  src/Compilers/Core/Portable/Symbols/TypedConstant.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostLanguageServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostWorkspaceServices.cs
Labels: Area-Compilers, Concept-Null Annotations

#40998 Delete server side liveshare handlers.
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionCommandHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/VisualStudio/LiveShare/Impl/LiveShareInitializeHandler.cs
  src/VisualStudio/LiveShare/Impl/LoadHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/AbstractLiveShareHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/CompletionHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/CompletionResolverHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/DocumentHighlightHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/DocumentSymbolsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FindImplementationsHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FormatDocumentHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FormatDocumentOnTypeHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/FormatDocumentRangeHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/GoToDefinitionHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/InitializeHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/SignatureHelpHandlerShim.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
  src/VisualStudio/LiveShare/Impl/Shims/WorkspaceSymbolsHandlerShim.cs
  src/VisualStudio/LiveShare/Test/AbstractLiveShareRequestHandlerTests.cs
Labels: Area-IDE

#41011 Synthesize record properties and ctor
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/LambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrRecordPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedBackingFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedNullableAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedRecordPropertySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupPositionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers

#41154 Small refactoring to reuse conditional logic.
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
Labels: Area-Compilers, New Feature - Function Pointers

#40838 Add nullable annotation to the parameter types of equality operators
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeAction.cs
Labels: Area-IDE, New Language Feature - Nullable Reference Types

#41208 Fix System.NullReferenceException in LocalRewriter.MakeTupleFieldAccess
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Field.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
Labels: Area-Compilers, New Language Feature - Tuples

#41226 Generate a using statement when starting a new GlobalSuppressions file
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTest_FixAllTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/Features/CSharp/Portable/CodeFixes/Suppression/CSharpSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageFixAllCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.cs
  src/Features/VisualBasic/Portable/CodeFixes/Suppression/VisualBasicSuppressionCodeFixProvider.vb
Labels: Area-IDE, Community

#40940 Nullable Annotations Guidance
  docs/contributing/Nullable Annotations.md
Labels: Area-Compilers, Area-IDE, Documentation

#41200 Don't crash VS when Signature Help fails to calculate
  src/EditorFeatures/Core/Implementation/IntelliSense/SignatureHelp/Controller.Session_ComputeModel.cs
Labels: Area-IDE

#41191 Make importing streaming find usages presenter lazy and avoid doing g…
  src/EditorFeatures/CSharp/GoToDefinition/CSharpGoToDefinitionService.cs
  src/EditorFeatures/Core/GoToDefinition/AbstractGoToDefinitionService.cs
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionCommandHandlerTests.vb
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionTests.vb
  src/EditorFeatures/VisualBasic/GoToDefinition/VisualBasicGoToDefinitionService.vb
  src/VisualStudio/Core/Def/Implementation/FindReferences/StreamingFindUsagesPresenter.cs
Labels: Area-IDE

#40396 Introduce a DiscardSyntaxClassifier
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/CSharpSyntaxClassificationService.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/DiscardSyntaxClassifier.cs
Labels: Area-IDE, Community

#41057 Handle newly added property sub-pattern operation in OperationExtensi…
  src/EditorFeatures/CSharpTest/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Features/CSharp/Portable/RemoveUnusedParametersAndValues/CSharpRemoveUnusedValuesCodeFixProvider.cs
  src/Workspaces/Core/Portable/Extensions/OperationExtensions.cs
Labels: Area-IDE

#41221 Fix issue with "Add Import" code fix
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
Labels: Area-IDE, Community

#40287 DiagnosticAnalyzerInfoCache refactorings
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticSuppressorTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/OperationAnalyzerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Compilers/CSharp/Test/Syntax/IncrementalParsing/IncrementalParsingTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SuppressMessageAttributeCompilerTests.cs
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.AllInOne.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/OperationAnalyzerTests.vb
  src/Compilers/VisualBasic/Test/Syntax/IncrementalParser/IncrementalParser.vb
  src/Compilers/VisualBasic/Test/Syntax/Parser/ParseDirectives.vb
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test/Diagnostics/SuppressMessageAttributeWorkspaceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/DiagnosticProviderTestUtilities.cs
  src/EditorFeatures/TestUtilities/Diagnostics/DiagnosticTaggerWrapper.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerService.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.vb
  src/Features/Core/Portable/Diagnostics/AnalyzerHelper.cs
  src/Features/Core/Portable/Diagnostics/DefaultDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerService_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerTelemetry.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticResultSerializer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/HostAnalyzerManager.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Log/DiagnosticAnalyzerLogger.cs
  src/Features/Core/Portable/Diagnostics/Log/DiagnosticLogAggregator.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerLogger.cs
  src/Test/Utilities/Portable/Diagnostics/DiagnosticExtensions.cs
  src/Test/Utilities/Portable/Diagnostics/SuppressMessageAttributeTests.DiagnosticAnalyzers.cs
  src/Test/Utilities/Portable/Diagnostics/SuppressMessageAttributeTests.cs
  src/VisualStudio/Core/Def/Implementation/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.RemoteHostClientService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostClientServiceFactory.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/SolutionExplorerShim/DiagnosticItem/BaseDiagnosticItemSource.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/EditAndContinue/EditAndContinueTestHelper.vb
  src/VisualStudio/Core/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.vb
  src/VisualStudio/Core/Test/EditAndContinue/TestActiveStatementProvider.vb
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalysisResultMap.cs
  src/Workspaces/Remote/Core/Diagnostics/DiagnosticComputer.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysisService_Diagnostics.cs
Labels: Area-IDE

#41219 Fix for auto property refactoring formatting bug
  src/EditorFeatures/CSharpTest/UseAutoProperty/UseAutoPropertyTests.cs
  src/EditorFeatures/VisualBasicTest/UseAutoProperty/UseAutoPropertyTests.vb
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
Labels: Area-IDE

#41164 Fix invalid URL
  CONTRIBUTING.md
Labels: Area-Infrastructure, Community

#41250 Check cancellation in GeneratedCodeTokenWalker
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GeneratedCodeTokenWalker.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-Compilers

#41265 Update Code Style links.
  CONTRIBUTING.md
Labels: Area-Infrastructure, Community

#41263 Update code style analyzer to 3.5.0-beta3-20078-04
  dotnet-tools.json
  eng/Versions.props
Labels: Area-Infrastructure

#41018 Handle the implicit/default label in a switch statement in the nullable walker.
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass_Switch.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableReferenceTypesVsPatterns.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#41183 Support SkipLocalsInitAttribute in local functions
  src/Compilers/CSharp/Portable/Lowering/LambdaRewriter/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
Labels: Area-Compilers

#40360 Base interfaces should count for deciding whether to emit nullable annotations
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Test/Utilities/Portable/Metadata/MetadataReaderUtils.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#41266 Remove dependency on TPA list for testing
  .vscode/launch.json
  src/Test/Utilities/Portable/Platform/CoreClr/TestExecutionLoadContext.cs
Labels: Area-Compilers

#40358 Optimize compilation tracker for solution close
  src/EditorFeatures/CSharpTest/Workspaces/WorkspaceTests.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph_AddProject.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph_AddProjectReference.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph_RemoveProject.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph_RemoveProjectReference.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/ProjectDependencyGraphTests.cs
Labels: Area-IDE

#40754 Enable nullable reference types for Microsoft.Build.Tasks.CodeAnalysis
  src/Compilers/Core/CommandLine/BuildProtocol.cs
  src/Compilers/Core/CommandLine/CompilerServerLogger.cs
  src/Compilers/Core/CommandLine/ConsoleUtil.cs
  src/Compilers/Core/CommandLine/NativeMethods.cs
  src/Compilers/Core/MSBuildTask/CanonicalError.cs
  src/Compilers/Core/MSBuildTask/CommandLineBuilderExtension.cs
  src/Compilers/Core/MSBuildTask/CopyRefAssembly.cs
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/Csi.cs
  src/Compilers/Core/MSBuildTask/IAnalyzerConfigFilesHostObject.cs
  src/Compilers/Core/MSBuildTask/ICompilerOptionsHostObject.cs
  src/Compilers/Core/MSBuildTask/ICscHostObject5.cs
  src/Compilers/Core/MSBuildTask/IVbcHostObject6.cs
  src/Compilers/Core/MSBuildTask/InteractiveCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedToolTask.cs
  src/Compilers/Core/MSBuildTask/MapSourceRoots.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
  src/Compilers/Core/MSBuildTask/MvidReader.cs
  src/Compilers/Core/MSBuildTask/PropertyDictionary.cs
  src/Compilers/Core/MSBuildTask/RCWForCurrentContext.cs
  src/Compilers/Core/MSBuildTask/Utilities.cs
  src/Compilers/Core/MSBuildTask/ValidateBootstrap.cs
  src/Compilers/Core/MSBuildTask/Vbc.cs
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
  src/Compilers/Core/MSBuildTaskTests/CsiTests.cs
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
  src/Compilers/Core/MSBuildTaskTests/IntegrationTests.cs
  src/Compilers/Core/MSBuildTaskTests/MapSourceRootTests.cs
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/Compilers/Core/MSBuildTaskTests/MiscTests.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/DotNetSdkTestBase.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/DotNetSdkVersionAttribute.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/EnumerableExtensions.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/MSBuildUtil.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/MockEngine.cs
  src/Compilers/Core/MSBuildTaskTests/VbcTests.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/NamedPipeUtil.cs
  src/Compilers/Shared/RuntimeHostInfo.cs
  src/Test/Utilities/Portable/Platform/Desktop/TestHelpers.cs
Labels: Area-Compilers, Concept-Null Annotations

#41206 Code block callbacks
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/TypeSyntaxSimplifierWalker.cs
  src/Features/Core/Portable/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/TypeSyntaxSimplifierWalker.vb
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicSimplifyTypeNamesDiagnosticAnalyzer.vb
Labels: Area-IDE, Area-Performance

#40816 Properly exclude changes to unchangeable documents from being applied
  src/EditorFeatures/CSharpTest/ChangeSignature/ChangeSignatureTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/CSharpSyncNamespaceTestsBase.cs
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
  src/EditorFeatures/Core.Wpf/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Core.Wpf/Preview/PreviewFactoryService.cs
  src/EditorFeatures/Core/Implementation/CodeActions/CodeActionEditHandlerService.cs
  src/EditorFeatures/Test2/Rename/DashboardTests.vb
  src/EditorFeatures/Test2/Rename/RenameEngineTests.vb
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlConsumption.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureCodeAction.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/VisualStudio/Core/Def/Implementation/Preview/PreviewEngine.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspace.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Test/Venus/DocumentService_IntegrationTests.vb
  src/VisualStudio/LiveShare/Impl/RenameHandler.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISolutionExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectChanges.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionChanges.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocument.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/CoreTestUtilities/SolutionUtilities.cs
Labels: Area-IDE, Bug

#41239 Properly generate suppression attributes (including usings/imports)
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Suppression/SuppressionTests.vb
  src/Features/CSharp/Portable/CodeFixes/Suppression/CSharpSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageFixAllCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.LocalSuppressMessageCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.cs
  src/Features/VisualBasic/Portable/CodeFixes/Suppression/VisualBasicSuppressionCodeFixProvider.vb
Labels: Area-IDE, Community

#41105 sln changes in response to new SharedImports capability
  Roslyn.sln
Labels: Area-IDE, Community

#41292 Speed up TempPECompiler
  src/Compilers/Core/Portable/Compilation/CompilationOptions.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/TempPECompiler.cs
Labels: Area-Compilers, Area-External

#41232 Copy ServiceHub logs to log dir after running integration tests
  eng/build.ps1
Labels: Area-Infrastructure

#41299 Support more well-known attributes in local functions
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_CallerInfoAttributes.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_MarshalAs.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Security.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers

#41333 Disallow ConditionalAttribute on non-static local functions
  src/Compilers/CSharp/Portable/CSharpResources.Designer.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
Labels: Area-Compilers

#41329 Remove some test input to reduce execution time
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
Labels: Area-Infrastructure, Test

#41224 Name suggestions don't contain suggestions starting with a digit.
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.cs
Labels: Area-IDE, Community

#41313 Make ValueText return empty instead of null
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
  src/Compilers/Core/Portable/Syntax/SyntaxToken.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/TypeSyntaxSimplifierWalker.cs
Labels: Area-Compilers

#41160 Emit NativeIntegerAttribute
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/EmbeddableAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NativeIntegerTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/FieldSymbolWithAttributesAndModifiers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedNativeIntegerAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedFieldSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_NativeInteger.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/Attributes/DecodeWellKnownAttributeArguments.cs
  src/Compilers/Core/Portable/Symbols/TypeKind.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/NativeIntegerAttributesVisitor.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/Test/Utilities/Portable/Metadata/MetadataReaderUtils.cs
Labels: Area-Compilers

#41119 Fix issues in MetadataAsSource XML documentation comment conversion
  src/Features/CSharp/Portable/DocumentationComments/DocCommentConverter.cs
  src/Features/Core/Portable/MetadataAsSource/DocumentationCommentUtilities.cs
Labels: Area-IDE, Community
