Repository dotnet/roslyn, pull requests merged in 2020-07, with the labels that each got.

#45561 (16.7) Reduce release/x64 baseline in DeeplyNestedGeneric
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
Labels: Area-Compilers, Test, auto-merge

#45552 Move Encoding serialization to the compiler layer
  src/Compilers/Core/CodeAnalysisTest/ObjectSerializationTests.cs
  src/Compilers/Core/Portable/Serialization/ObjectReader.cs
  src/Compilers/Core/Portable/Serialization/ObjectWriter.cs
  src/Workspaces/Core/Portable/Execution/SerializerService_Asset.cs
  src/Workspaces/Core/Portable/Execution/SerializerService_Encoding.cs
  src/Workspaces/CoreTest/SerializationTests.cs
Labels: Area-Compilers

#45567 Reserve feature branch error codes
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers

#45576 Soft select the item with longest common prefix
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
Labels: Area-IDE, IDE-IntelliSense

#45528 Update status for "top-level statements" feature
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#45518 Align addition of a synthesized override of object.GetHashCode() in records with the latest design.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordGetHashCode.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjectMethod.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#45600 Fix tests broken by two PRs "crossing".
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records, Test, auto-merge

#45425 Inline Parameter Name Hints Tagger
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTag.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTagger.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTaggerProvider.cs
  src/EditorFeatures/Core/InlineParameterNameHints/InlineParameterNameHintDataTag.cs
  src/EditorFeatures/Core/InlineParameterNameHints/InlineParameterNameHintsDataTaggerProvider.cs
  src/EditorFeatures/Test2/InlineParameterNameHints/AbstractInlineParameterNameHintsTests.vb
  src/EditorFeatures/Test2/InlineParameterNameHints/CSharpInlineParameterNameHintsTests.vb
  src/Features/CSharp/Portable/InlineParameterNameHints/InlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineParameterNameHints/IInlineParameterNameHintsService.cs
  src/Features/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute_Names.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ArgumentSyntaxExtensions.cs
Labels: Area-IDE, Feature Request

#45553 Remove obsolete UnitTesting external access APIs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/IUnitTestingExperimentationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingExceptionUtilitesHelpers.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingImmutableArrayExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingInvocationReasonsWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingKeepAliveSessionWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingPredefinedInvocationReasonsAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingRemoteHostClientWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSessionWithSolutionWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionStateWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSymbolExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSymbolKeyWrapper.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingWorkspaceExtensions.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingExperimentationServiceAccessor.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/UnitTestingExperimentationServiceAccessorFactory.cs
  src/Workspaces/Remote/Core/ExternalAccess/UnitTesting/Api/UnitTestingAssetStorageWrapper.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingPinnedSolutionInfoWrapper.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingRoslynServicesWrapper.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingStreamExtensions.cs
Labels: Area-IDE

#45594 Fix issue preventing going to def on a complicated metadata symbol involving nullability and generics
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyCompilationsTests.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyMetadataVsSourceTests.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyTestBase.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
Labels: Area-IDE

#45615 Handle invalid dotnet_diagnostic entry without ID part in configurati…
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/DotNetDiagnosticSeverityBasedSeverityConfigurationTests.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigurationUpdater.cs
Labels: Area-IDE, auto-merge

#45613 Fix AD0001 for IDE0076
  src/Analyzers/CSharp/Tests/RemoveUnnecessarySuppressions/RemoveUnnecessaryAttributeSuppressionsTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/SuppressMessageAttributeState.cs
Labels: Area-IDE, auto-merge

#45601 Align addition of a synthesized override of Base.Equals(Base? other) in records with the latest design.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordBaseEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityContractProperty.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordGetHashCode.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjectMethod.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupPositionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
Labels: Area-Compilers, New Language Feature - Records

#45592 Revert link to previous URL
  src/VisualStudio/Core/Def/Implementation/VirtualMemoryNotificationListener.cs
Labels: Area-IDE

#45102 FIx Redundant Cast incorrect for SimpleArguments #44516
  src/Analyzers/VisualBasic/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Utilities/CastAnalyzer.vb
Labels: Area-IDE, Community

#45454 Address review comments from #33178 documented in comment stream in #33175
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIsPatternExpression.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: 4 - In Review, Area-Compilers, New Language Feature - Pattern Matching

#40448 Add code fix for CS0513
  src/EditorFeatures/CSharpTest/MakeClassAbstract/MakeClassAbstractTests.cs
  src/EditorFeatures/VisualBasicTest/MakeClassAbstract/MakeClassAbstractTests.vb
  src/Features/CSharp/Portable/MakeClassAbstract/CSharpMakeClassAbstractCodeFixProvider.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/MakeClassAbstract/AbstractMakeClassAbstractCodeFixProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/MakeClassAbstract/VisualBasicMakeClassAbstractCodeFixProvider.vb
  src/Test/Utilities/Portable/Traits/Traits.cs
Labels: Area-IDE, Community, Feature Request

#45680 Add missing ArrayBuilder.Free calls
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
Labels: Area-Compilers, Community

#45605 Fix static lambda parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AnonymousFunctionParsingTests.cs
Labels: Area-Compilers

#45689 Unskip and adjust skip reasons for some tests.
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IDiscardOperation.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching, Test

#45575 Upgrade dependencies to versions available on azure feeds
  .editorconfig
  eng/Versions.props
Labels: Area-Infrastructure

#45700 Do not remove necessary casts in an interpolation
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
Labels: auto-merge

#45667 Fix "Tuple to Struct" named parameters being cased incorrectly
  src/EditorFeatures/CSharpTest/ConvertTupleToStruct/ConvertTupleToStructTests.cs
  src/EditorFeatures/VisualBasicTest/ConvertTupleToStruct/ConvertTupleToStructTests.vb
  src/Features/CSharp/Portable/ConvertTupleToStruct/CSharpConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertTupleToStruct/AbstractConvertTupleToStructCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ConvertTupleToStruct/VisualBasicConvertTupleToStructCodeRefactoringProvider.vb
Labels: auto-merge

#45589 Build Roslyn.sln using dotnet
  eng/Versions.props
  eng/build.ps1
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Setup/Installer/Installer.Package.csproj
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/Roslyn.VisualStudio.DiagnosticsWindow.csproj
Labels: Area-Infrastructure

#44924 Fix parsing of nested verbatim interpolated strings started with @$
  src/Compilers/CSharp/Portable/Parser/Lexer_StringLiteral.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
Labels: Area-Compilers, Community

#45663 Use-site diagnostics for a type should include information for type arguments of containing types.
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/EnumTests.cs
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/EnumTests.vb
Labels: Area-Compilers

#45665 Clean up Binder.GetWellKnownType API
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
Labels: Area-Compilers

#44025 Covariant returns part 4
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 5.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitConversion.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/OverriddenOrHiddenMembersHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/OverriddenOrHiddenMembersResult.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOverridingAndHiding.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AmbiguousOverrideTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/AccessorOverriddenOrHiddenMembersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/OverriddenOrHiddenMembersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/Core/Portable/SpecialMember.cs
  src/Compilers/Core/Portable/SpecialMembers.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/OverridesTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Language Feature - Covariant Returns

#45664 Report use-site diagnostics in BindWithExpression
  src/Compilers/CSharp/Portable/Binder/Binder_WithExpression.cs
Labels: Area-Compilers

#45624 VB Generator Fixes
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/GreenNodes/GreenNodeWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/RedNodes/RedNodeWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/RedNodes/SyntaxFactsWriter.vb
Labels: Area-Compilers

#45115 Remove the EditorFeatures.Wpf dependency from Remote.ServiceHub
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Core/SymbolSearch/IAddReferenceDatabaseWrapper.cs
  src/EditorFeatures/Core/SymbolSearch/IDatabaseFactoryService.cs
  src/EditorFeatures/Core/SymbolSearch/IDelayService.cs
  src/EditorFeatures/Core/SymbolSearch/IIOService.cs
  src/EditorFeatures/Core/SymbolSearch/IPatchService.cs
  src/EditorFeatures/Core/SymbolSearch/IRemoteControlService.cs
  src/EditorFeatures/Core/SymbolSearch/Patching/Delta.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.DatabaseFactoryService.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.DelayService.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.IOService.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.PatchService.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.RemoteControlService.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngineFactory.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE

#45461 Origin/bug fix/explicit cast on switch expression
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionFixAllTests.cs
Labels: Area-IDE, Community

#45786 Ensure that we de-dupe the configuration/suppression code actions
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
Labels: Area-IDE, auto-merge

#45641 Plumb through should activate
  src/EditorFeatures/Core/Host/IStreamingFindReferencesPresenter.cs
  src/Features/Core/Portable/DocumentSpanExtensions.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.DocumentLocationDefinitionItem.cs
  src/Features/Core/Portable/FindUsages/DefinitionItem.cs
  src/Features/Core/Portable/Navigation/NavigationOptions.cs
  src/Features/Core/Portable/NavigationBehavior.cs
  src/VisualStudio/Core/Def/Implementation/CallHierarchy/CallHierarchyDetail.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/MetadataDefinitionItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/RoslynDefinitionBucket.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/VisualStudioDefinitionsAndReferencesFactory.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractTableControlEventProcessorProvider.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractTableEntriesSnapshot.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/TableEntriesFactory.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseTodoListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationService.cs
Labels: Area-IDE

#45764 No-op SymbolSearchUpdateEngine on non-Windows OS
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngineFactory.cs
  src/Workspaces/Remote/ServiceHub/Services/RemoteSymbolSearchUpdateEngine.cs
Labels: Area-IDE

#45712 Expose BoundPattern.ConvertedType in IPatternOperation
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationNodes.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IDiscardOperation.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIsPatternExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IParameterReferenceExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IPatternSwitchCase.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ISwitchOperation.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IVariableDeclaration.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_InvalidStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_TryCatch.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationCloner.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Compilation/OperationTreeVerifier.cs
  src/Test/Utilities/Portable/Compilation/TestOperationVisitor.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#45803 Update optprof pipeline for 16.7
  eng/config/PublishData.json
Labels: Area-Infrastructure, auto-merge

#45804 Log optimization data branch name during official build
  eng/build.ps1
Labels: Area-Infrastructure, auto-merge

#45794 Make netcoreapp3.1 the preferred target framework
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/Tools/AnalyzerRunner/AnalyzerRunner.csproj
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
Labels: Area-Infrastructure

#45715 Static lambdas testing
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AnonymousFunctionParsingTests.cs
Labels: Area-Compilers, Test

#45812 Update static and async keyword recommenders
  src/EditorFeatures/CSharpTest2/Recommendations/AsyncKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StaticKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AsyncKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/StaticKeywordRecommender.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, IDE-IntelliSense

#45793 Update Roslyn.Services.UnitTests.Utilities to target netcoreapp3.1
  eng/Versions.props
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioMefHostServices.cs
  src/Workspaces/CoreTestUtilities/DotNetCoreSdk.cs
  src/Workspaces/CoreTestUtilities/OptionsCollection.cs
  src/Workspaces/CoreTestUtilities/Roslyn.Services.UnitTests.Utilities.csproj
  src/Workspaces/CoreTestUtilities/TestExportJoinableTaskContext+DenyExecutionSynchronizationContext.cs
  src/Workspaces/CoreTestUtilities/TestExportJoinableTaskContext.cs
Labels: Area-IDE

#45647 Align addition of a synthesized record.Equals(record? other) in records with the latest design.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordBaseEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordGetHashCode.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjEquals.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#45699 Implement SyntaxFacts.IsInTypeOnlyContext for type of recursive pattern.
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#45771 Do not drop a comma when parsing a tuple pattern
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Pattern Matching

#45822 Standardize .NET Core / Standard references
  eng/Versions.props
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CorLibrary/CorTypes.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceAppDomainTests.cs
  src/Compilers/Core/CodeAnalysisTest/CorLibTypesTests.cs
  src/Compilers/Core/CodeAnalysisTest/ShadowCopyAnalyzerAssemblyLoaderTests.cs
  src/Compilers/Server/VBCSCompilerTests/AnalyzerConsistencyCheckerTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/CorLibrary/CorTypes.vb
  src/Test/Utilities/Portable/Generate.ps1
  src/Test/Utilities/Portable/Generated.cs
  src/Test/Utilities/Portable/Generated.targets
  src/Test/Utilities/Portable/Mocks/TestReferences.cs
  src/Test/Utilities/Portable/Platform/Desktop/TestHelpers.cs
  src/Test/Utilities/Portable/Roslyn.Test.Utilities.csproj
  src/Test/Utilities/Portable/TargetFrameworkUtil.cs
  src/Test/Utilities/Portable/TestBase.cs
Labels: Area-Compilers

#45835 Features/static lambdas
  src/Compilers/CSharp/Portable/Binder/Binder.QueryUnboundLambdaState.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/AnonymousFunctionExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/AnonymousMethodExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ParenthesizedLambdaExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/SimpleLambdaExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AnonymousFunctionParsingTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/AsyncKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StaticKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AsyncKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/StaticKeywordRecommender.cs
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-Compilers

#45628 Update vs-threading analyzers to 16.7.53
  eng/Versions.props
  src/Analyzers/VisualBasic/CodeFixes/RemoveUnnecessaryCast/VisualBasicRemoveUnnecessaryCastCodeFixProvider.vb
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/VisualBasic/Portable/Compilation/MethodCompiler.vb
  src/Compilers/VisualBasic/Portable/Lowering/Rewriter.vb
  src/EditorFeatures/Core.Wpf/InlineRename/AbstractEditorInlineRenameService.FailureInlineRenameInfo.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Inheritdoc.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Links.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Lists.vb
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Styles.vb
  src/EditorFeatures/Test2/IntelliSense/SignatureHelpControllerTests.vb
  src/EditorFeatures/VisualBasicTest/Recommendations/RecommendationTestHelpers.vb
  src/Features/Lsif/GeneratorTest/CompilerInvocationTests.vb
  src/Features/Lsif/GeneratorTest/OutputFormatTests.vb
  src/Features/Lsif/GeneratorTest/ProjectStructureTests.vb
  src/Features/Lsif/GeneratorTest/RangeResultSetTests.vb
  src/Features/VisualBasic/Portable/CodeFixes/Async/VisualBasicConvertToAsyncFunctionCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/GenerateEvent/GenerateEventCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/IncorrectFunctionReturnType/IncorrectFunctionReturnTypeCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/Iterator/VisualBasicChangeToYieldCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/HandlesClauseCompletionProvider.vb
  src/Features/VisualBasic/Portable/UseAutoProperty/VisualBasicUseAutoPropertyCodeFixProvider.vb
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeTracker.cs
  src/VisualStudio/Core/Test/Completion/CSharpCompletionSnippetNoteTests.vb
  src/VisualStudio/Core/Test/DebuggerIntelliSense/CSharpDebuggerIntellisenseTests.vb
  src/VisualStudio/Core/Test/DebuggerIntelliSense/VisualBasicDebuggerIntellisenseTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/WorkspaceChangedEventTests.vb
  src/VisualStudio/LiveShare/Impl/Client/Rename/RoslynRenameService.FailureRenameInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/ValuesSources/WeaklyCachedRecoverableValueSource.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ContextQuery/VisualBasicSyntaxContext.vb
Labels: Area-Infrastructure

#45537 AnalyzerDriver performance improvements
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisScope.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.ExecutableCodeBlockAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActionsForAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.IGroupedAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticStartAnalysisScope.cs
Labels: Area-Analyzers, Area-Compilers

#45824 Strengthen tests for covariant returns
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - Covariant Returns

#45831 Align addition of a synthesized EqualityContract in records with the latest design.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityContractProperty.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPropertySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#45756 Remove LanguageVersionExtensions.CSharp9
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Analyzers/CSharp/Tests/RemoveConfusingSuppression/RemoveConfusingSuppressionTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseIsNullCheck/UseIsNullCheckForReferenceEqualsTests.cs
  src/Analyzers/CSharp/Tests/UseThrowExpression/UseThrowExpressionTests.cs
  src/EditorFeatures/CSharpTest/AddParameter/AddParameterTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/EditorFeatures/CSharpTest/InvertLogical/InvertLogicalTests.cs
  src/EditorFeatures/CSharpTest/UsePatternCombinators/CSharpUsePatternCombinatorsDiagnosticAnalyzerTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RecommenderTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
Labels: Area-IDE

#45622 VB Service Added - Inline Parameter Name Hints
  src/EditorFeatures/Test2/InlineParameterNameHints/VisualBasicInlineParameterNameHintsTests.vb
  src/Features/CSharp/Portable/InlineParameterNameHints/CSharpInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineParameterNameHints/AbstractInlineParameterNameHintsService.cs
  src/Features/VisualBasic/Portable/InlineParameterNameHints/VisualBasicInlineParameterNameHintsService.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/ArgumentSyntaxExtensions.vb
Labels: Area-IDE

#45775 Disallow Clone members in source records
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#45778 Remove trailing commas during conversion to class
  src/EditorFeatures/CSharpTest/ConvertAnonymousTypeToClass/ConvertAnonymousTypeToClassTests.cs
  src/Features/CSharp/Portable/ConvertAnonymousTypeToClass/CSharpConvertAnonymousTypeToClassCodeRefactoringProvider.cs
Labels: Area-IDE, Community

#45796 RemotableDataService refactoring
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/Core/Portable/Execution/RemotableDataService.cs
  src/Workspaces/Core/Portable/Execution/SolutionSynchronizationService.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
  src/Workspaces/CoreTestUtilities/Extensions.cs
  src/Workspaces/CoreTestUtilities/SerializationValidator.cs
  src/Workspaces/CoreTestUtilities/SnapshotSerializationTestBase.cs
Labels: Area-IDE

#45878 Skip flaky test
  src/VisualStudio/Core/Test/Diagnostics/DefaultDiagnosticUpdateSourceTests.vb
Labels: Area-IDE, Disabled Test, Test, auto-merge

#45614 Fix VB case correction for named tuple identifiers
  src/Workspaces/VisualBasic/Portable/CaseCorrection/VisualBasicCaseCorrectionService.Rewriter.vb
  src/Workspaces/VisualBasicTest/CaseCorrection/CaseCorrectionTests.vb
  src/Workspaces/VisualBasicTest/CaseCorrection/VisualBasicCaseCorrectionTestBase.vb
Labels: Area-IDE, Community

#45889 Mark apis as shipped
  src/Compilers/CSharp/Portable/PublicAPI.Shipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Shipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Shipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers, Area-IDE, Concept-API

#45899 Remove experimental feed
  NuGet.config
  eng/Versions.props
Labels: Area-Infrastructure

#45765 Add support to detect unnecessary inline SuppressMessageAttribute suppressions
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessarySuppressions/CSharpRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/AbstractRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/Analyzers/Core/CodeFixes/RemoveUnnecessarySuppressions/RemoveUnnecessaryPragmaSuppressionsCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnnecessarySuppressions/VisualBasicRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.vb
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractUnncessarySuppressionDiagnosticTest.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.vb
  src/Features/Core/Portable/Diagnostics/DocumentAnalysisExecutor.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SemanticModelExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IPragmaSuppressionsAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ForEachSymbols.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/ExpressionSyntaxExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/SemanticModelExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SemanticFacts/VisualBasicSemanticFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/VisualBasicCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CSharpWorkspaceExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ExpressionSyntaxExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicSemanticFactsService.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/VisualBasicWorkspaceExtensions.projitems
Labels: Area-IDE

#45874 Continue on captured context after switching to the main thread
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioActiveDocumentTracker.cs
Labels: Area-IDE

#45139 #3438, use standard Type Conversion Functions when possible
  src/EditorFeatures/Test2/Expansion/ExtensionMethodExpansionRewriteTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/AddExplicitCast/AddExplicitCastTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/AddExplicitCast/AddExplicitCastTests_FixAllTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ITypeSymbolExtensions.vb
Labels: Area-IDE, Community

#45572 Move code actions to LSP
  eng/Versions.props
  src/Analyzers/Core/CodeFixes/CodeFixesResources.resx
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.cs.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.de.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.es.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.fr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.it.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ja.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ko.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pl.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pt-BR.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ru.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.tr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hans.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hant.xlf
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoring.cs
  src/Features/LanguageServer/Protocol/CustomProtocol/RunCodeActionParams.cs
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/RunCodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/VisualStudioLspSolutionProvider.cs
  src/VisualStudio/LiveShare/Impl/Client/CodeActions/RoslynCodeActionProvider.Exports.cs
  src/VisualStudio/LiveShare/Impl/Client/CodeActions/RoslynCodeActionProvider.cs
  src/VisualStudio/LiveShare/Impl/Client/CodeActions/RoslynRemoteCodeAction.cs
  src/VisualStudio/LiveShare/Impl/Client/CodeActions/RoslynRemoteCodeActionOperation.cs
  src/VisualStudio/LiveShare/Impl/Client/RoslynLSPClientService.cs
  src/VisualStudio/LiveShare/Impl/LiveShareInitializeHandler.cs
  src/VisualStudio/LiveShare/Impl/PreviewCodeActionsHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/PreviewCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/RunCodeActionsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/CodeActionsHandlerShim.cs
  src/VisualStudio/LiveShare/Test/PreviewCodeActionsTests.cs
  src/VisualStudio/LiveShare/Test/RunCodeActionsHandlerTests.cs
Labels: Area-IDE

#45763 Update TestImpact public key in additional IVTs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/Microsoft.VisualStudio.IntegrationTest.Utilities.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE, Community

#45908 Support applying attributes to properties and fields that are created to back primary constructor parameters in records.
  src/Compilers/CSharp/Portable/Symbols/OverriddenOrHiddenMembersHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordClone.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityContractProperty.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedBackingFieldSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, New Language Feature - Records

#45638 Fix code analysis messages in command-line parser
  src/Compilers/Core/Portable/CommandLine/CommandLineParser.cs
Labels: Area-Compilers, Community

#44389 Ensure we associate an error with all missing identifiers in the parser.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IConversionExpression.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RefReadonlyTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/TargetTypedObjectCreationParsingTests.cs
Labels: Area-Compilers

#45685 [Feature] Constant Interpolated Strings- Versioning Check & Test Suite
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/ConstantValueUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/ConstantTests.cs
Labels: Area-Compilers, Language-C#, New Language Feature - Const Interpolated Strings

#45930 Ensure consistent scheme for unspeakable names.
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SimpleProgramNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AnonymousFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
Labels: Area-Compilers

#45762 Enable tests and update features to support new language changes around patterns.
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/WhenKeywordRecommenderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/WhenKeywordRecommender.cs
Labels: Area-IDE, auto-merge

#45849 Reduce cascaded WRN_MultipleRuntimeOverrideMatches in certain rare scenarios
  src/Compilers/CSharp/Portable/Symbols/OverriddenOrHiddenMembersHelpers.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
Labels: Area-Compilers, New Language Feature - Covariant Returns

#45840 Change signature accessibility - add screenreader header for empty column
  src/VisualStudio/Core/Def/Implementation/ChangeSignature/ChangeSignatureDialog.xaml
  src/VisualStudio/Core/Def/Implementation/ChangeSignature/ChangeSignatureDialog.xaml.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Area-IDE, Needs Shiproom Approval

#45891 Disable interpreting of strings as DateTime during deserialization
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/Workspaces/Remote/Razor/ServiceHubServiceBase.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/Pythia/Api/PythiaServiceBase.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingServiceBase.cs
  src/Workspaces/Remote/ServiceHub/Shared/RemoteEndPoint.cs
  src/Workspaces/Remote/ServiceHub/Shared/ServiceBase.cs
Labels: Area-IDE, Needs Shiproom Approval

#45985 Update Version for preview 5.
  eng/Versions.props
Labels: Area-Infrastructure

#45858 Add VisualStudio2019.pkgdef to the Roslyn package
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2019.pkgdef
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Approved to merge, Area-IDE

#45990 Fix PropertiesInRecursivePattern_PositionalInFirstProperty_AfterComma
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PropertySubPatternCompletionProviderTests.cs
Labels: Area-Infrastructure

#45975 Reduce nested testing level in x86 release E2E tests.
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
Labels: Area-Compilers, Test, auto-merge

#45942 Include information why symbol key resolution has failed to help with debugging.
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AliasSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousFunctionOrDelegateSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ArrayTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AssemblySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.DynamicTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ErrorTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.EventSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.FieldSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.FunctionPointerTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.MethodSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ModuleSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamespaceSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PointerTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PropertySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TupleTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterOrdinalSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.cs
Labels: auto-merge

#45969 Add module initializers tests
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/AccessibilityTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/GenericsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/ModuleInitializersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/SignatureTests.cs
Labels: Area-Compilers, Test

#46012 Clean up compiler logging
  src/Compilers/Core/CommandLine/BuildProtocol.cs
  src/Compilers/Server/VBCSCompiler/CompilerRequestHandler.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnection.cs
  src/Compilers/Server/VBCSCompiler/ServerDispatcher.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Shared/BuildServerConnection.cs
Labels: Area-Compilers

#45981 Add used assembly references feature branch to publishData
  eng/config/PublishData.json
Labels: Area-Infrastructure

#46028 Skip HighlightRefsMultipleSubmisionsVerifyRenameTags tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReplIdeFeatures.cs
Labels: Area-Infrastructure

#46019 Remove c#_lsp from tools options
  src/VisualStudio/LiveShare/Impl/PackageRegistration.pkgdef
Labels: Area-IDE, CloudEnv, auto-merge

#45979 Remove reference to non-existing VisualStudioInteractiveComponents.vsix from deployment VSIX.
  src/Deployment/source.extension.vsixmanifest
Labels: Approved to merge, Area-IDE

#44372 Fix typos and link in Source Generators cookbook
  docs/features/source-generators.cookbook.md
Labels: Area-Compilers, Documentation

#45898 Check modifiers on record positional members
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: New Language Feature - Records

#45999 Classify ??= as an operator.
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/TestUtilities/Classification/FormattedClassifications.Operators.cs
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
Labels: Area-Compilers, Community

#45870 methodimpl(.override) should be accompanied by [PreserveBaseOverridesAttribute]
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CovariantReturnTests.cs
  src/Compilers/Test/Utilities/CSharp/Extensions.cs
Labels: Area-Compilers, New Language Feature - Covariant Returns

#46048 Fix KeyNotFound exception in RemoveUnnecessaryInlineSuppressionsDiagn…
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/AbstractRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
Labels: Area-IDE

#45750 Implement compiler /warnversion flag and one "wave" warning
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_Warnings.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/WarningVersionTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
Labels: Area-Compilers, Language-C#, New Feature - Warning Waves, auto-merge

#45865 Gracefully handle exceptions in code fixer creation
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
Labels: Area-IDE, auto-merge

#46020 Additional module initializers tests
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/AccessibilityTests.cs
Labels: Area-Compilers, Test

#46071 Features/module initializers
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/LexicalOrderSymbolComparer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/AccessibilityTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/GenericsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/IgnoredTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/ModuleInitializersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/SignatureTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/TargetsTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/Core/Portable/InternalUtilities/ConcurrentSet.cs
  src/Compilers/Core/Portable/PEWriter/RootModuleStaticConstructor.cs
  src/Compilers/Core/Portable/PEWriter/RootModuleType.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMethodSymbol.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.vb
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Area-Compilers

#46062 Fix typo in OptProf configuration
  eng/config/OptProf.json
Labels: Area-Infrastructure

#46079 Better client / server logging
  Compilers.sln
  src/Compilers/Core/CommandLine/CompilerServerLogger.cs
  src/Compilers/Core/MSBuildTask/CopyRefAssembly.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Server/VBCSCompiler/AnalyzerConsistencyChecker.cs
  src/Compilers/Server/VBCSCompiler/ServerDispatcher.cs
  src/Compilers/Shared/BuildServerConnection.cs
Labels: Area-Compilers

#46104 Fix OptProf config
  eng/config/OptProf.json
Labels: Area-Infrastructure

#46078 Use ISpanMapper before sending cross file results to LSP
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/AbstractGoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Definitions/GoToDefinitionTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/References/FindImplementationsTests.cs
  src/VisualStudio/LiveShare/Impl/AbstractGoToDefinitionWithFindUsagesServiceHandler.cs
  src/Workspaces/Remote/ServiceHub/Services/LanguageServer.cs
Labels: Area-IDE, CloudEnv

#46093 Merge master to features/target-typing
  eng/Version.Details.xml
  eng/common/templates/post-build/post-build.yml
  global.json
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/LexicalOrderSymbolComparer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/AccessibilityTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/GenericsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/IgnoredTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/ModuleInitializersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/SignatureTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ModuleInitializers/TargetsTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/Core/Portable/InternalUtilities/ConcurrentSet.cs
  src/Compilers/Core/Portable/PEWriter/RootModuleStaticConstructor.cs
  src/Compilers/Core/Portable/PEWriter/RootModuleType.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Server/VBCSCompiler/MetadataCache.cs
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMethodSymbol.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.vb
  src/Test/Utilities/Portable/Traits/CompilerFeature.cs
Labels: Area-Compilers, auto-merge

#46092 Do not execute RemoveUnnecessaryInlineSuppressions on generated code
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/AbstractRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SyntaxTreeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/GeneratedCodeRecognition/AbstractGeneratedCodeRecognitionService.cs
Labels: Area-IDE

#46069 Add parameter names to synthesized record members
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordBaseEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordCopyCtor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupPositionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#45983 Recover gracefully from a decision dag that somehow has cycles during construction.
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/TopologicalSortTests.cs
  src/Compilers/Core/Portable/Collections/TopologicalSort.cs
Labels: Area-Compilers, Bug, New Language Feature - Pattern Matching

#46053 Update implementation of required record members.
  src/Compilers/CSharp/Portable/Binder/Binder_WithExpression.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordBaseEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordClone.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordCopyCtor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordDeconstruct.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityContractProperty.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordGetHashCode.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjectMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordOrdinaryMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPropertySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#45988 Refactoring ExtensionMethodImportCompletionHelper
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.ExtensionMethodSymbolComputer.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
Labels: Area-IDE

#46145 Update version for snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure

#46043 Backport 45942 to dev16.7. Include information why symbol key resolution has failed to help with debugging
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AliasSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousFunctionOrDelegateSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AnonymousTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ArrayTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.AssemblySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.DynamicTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ErrorTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.EventSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.FieldSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.FunctionPointerTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.MethodSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ModuleSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.NamespaceSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PointerTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PropertySymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TupleTypeSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterOrdinalSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.TypeParameterSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.cs
Labels: Approved to merge, Area-IDE, auto-merge

#46151 Update version for 16.7 Preview6
  eng/Versions.props
Labels: Area-Infrastructure

#46054 Extend SpillSequenceSpiller to handle code in a catch filter.
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/ClosureConversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TryStatement.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationNodes.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_TryCatch.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#45956 Add support for navigation to mapped file paths.
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/RunningDocumentTableEventTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/RunningDocumentTableExtensions.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationService.cs
Labels: Approved to merge, Area-IDE

#46172 Remove PROTOTYPE comments in the compiler
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IThrowOperation.cs
Labels: Area-Compilers

#44838 Rename ComilerTraitDiscoverer.cs to CompilerTraitDiscoverer.cs
  src/Test/Utilities/Portable/Traits/CompilerTraitDiscoverer.cs
Labels: Area-Compilers, Community

#45800 UI Changes - Inline Parameter Name Hints
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsFormatDefinition.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTag.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTagger.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTaggerProvider.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/InlineParameterNameHints/InlineParameterNameHintsDataTaggerProvider.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/Features/CSharp/Portable/InlineParameterNameHints/CSharpInlineParameterNameHintsService.cs
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2017.xml
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2019.xml
Labels: Area-IDE

#46196 Add test for switch expression delegates
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
Labels: Area-IDE

#46183 Add the name of the current type to the exception we throw in an unsupported case.
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionWithNestedActions.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
Labels: Area-IDE, auto-merge

#45943 Allow semi-colon after record type constraints
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 5.md
  docs/compilers/CSharp/Compiler Breaking Changes - post VS2019.md
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit/Emit/EndToEndTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RecordParsing.cs
Labels: Area-Compilers, New Language Feature - Records

#46193 Revise the "warning waves" feature to be based on the /warn flag.
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_Warnings.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOptimizedNullableOperators.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/WarningVersionTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Diagnostic/CommonMessageProvider.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticInfo.cs
Labels: Area-Compilers, New Feature - Warning Waves

#46059 Single overload - Inline Parameter Name Hints
  src/EditorFeatures/Test2/InlineParameterNameHints/CSharpInlineParameterNameHintsTests.vb
  src/EditorFeatures/Test2/InlineParameterNameHints/VisualBasicInlineParameterNameHintsTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ArgumentSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/ArgumentSyntaxExtensions.vb
Labels: Area-IDE

#46211 Fix InteractiveHost32 build
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Approved to merge, Area-Infrastructure, auto-merge

#46141 Allow static members in interfaces to treat type parameters as invariant
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/VarianceSafety.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
Labels: Area-Compilers

#46191 Specify full path to InteractiveHost.exe for NGENing.
  src/Interactive/HostProcess/InteractiveHost32.csproj
  src/Interactive/HostProcess/InteractiveHost64.csproj
Labels: Approved to merge, Area-Infrastructure

#46219 Remove wait for out of process start from OnLoadedAsync as it has not…
  src/VisualStudio/Core/Def/Implementation/LanguageClient/LanguageServerClient.cs
Labels: Area-IDE, Bug

#46038 Move to the .NET 5 SDK
  docs/contributing/Building, Debugging, and Testing on Windows.md
  eng/Versions.props
  global.json
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
  src/Compilers/CSharp/Test/WinRT/Microsoft.CodeAnalysis.CSharp.WinRT.UnitTests.csproj
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenWinMdEvents.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/WinRTCollectionTests.vb
  src/Scripting/CSharpTest/ObjectFormatterTests.cs
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
Labels: Area-Infrastructure

#46227 Rename types to not collide with the much more relevant Workspace equivalents
  src/Features/Lsif/Generator/Generator.cs
  src/Features/Lsif/Generator/Graph/Event.cs
  src/Features/Lsif/Generator/Graph/Item.cs
  src/Features/Lsif/Generator/Graph/LsifDocument.cs
  src/Features/Lsif/Generator/Graph/LsifProject.cs
  src/Features/Lsif/GeneratorTest/ProjectStructureTests.vb
  src/Features/Lsif/GeneratorTest/RangeResultSetTests.vb
  src/Features/Lsif/GeneratorTest/Utilities/TestLsifOutput.vb
Labels: auto-merge

#45842 Use explicit namespace for proprietary resources
  eng/Versions.props
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/CommandLine/TouchedFileLoggingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/WinRT/Metadata/WinMdDumpTest.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Test/Utilities/Portable/Mocks/TestReferences.cs
  src/Test/Utilities/Portable/Platform/Desktop/TestHelpers.cs
  src/Test/Utilities/Portable/TestBase.cs
Labels: Area-Compilers

#46170 Fix #46157
  eng/targets/Settings.props
Labels: Area-IDE, Community

#46111 Rename BoundPattern.ConvertedType to NarrowedType to match specification
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationNodes.cs
Labels: Area-Compilers, New Language Feature - Pattern Matching

#46215 Merge Parameter Hints to Master
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsFormatDefinition.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTag.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTagger.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTaggerProvider.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/InlineParameterNameHints/InlineParameterNameHintDataTag.cs
  src/EditorFeatures/Core/InlineParameterNameHints/InlineParameterNameHintsDataTaggerProvider.cs
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/Test2/InlineParameterNameHints/AbstractInlineParameterNameHintsTests.vb
  src/EditorFeatures/Test2/InlineParameterNameHints/CSharpInlineParameterNameHintsTests.vb
  src/EditorFeatures/Test2/InlineParameterNameHints/VisualBasicInlineParameterNameHintsTests.vb
  src/Features/CSharp/Portable/InlineParameterNameHints/CSharpInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineParameterNameHints/AbstractInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineParameterNameHints/IInlineParameterNameHintsService.cs
  src/Features/VisualBasic/Portable/InlineParameterNameHints/VisualBasicInlineParameterNameHintsService.vb
  src/Features/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Test/Utilities/Portable/Traits/Traits.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2017.xml
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2019.xml
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute_Names.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ArgumentSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/ArgumentSyntaxExtensions.vb
Labels: Area-IDE

#46077 Function pointer brace testing
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticLessAndGreaterThanCompletionTests.cs
  src/EditorFeatures/CSharpTest/BraceHighlighting/BraceHighlightingTests.cs
  src/EditorFeatures/CSharpTest/BraceMatching/CSharpBraceMatcherTests.cs
Labels: Area-IDE

#46149 XAML LSP Support
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/AbstractRequestHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/Handler/ExportLspMethodAttribute.cs
  src/Features/LanguageServer/Protocol/Handler/IRequestHandlerMetadata.cs
  src/Features/LanguageServer/Protocol/ILspSolutionProvider.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AbstractLanguageServerClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/VisualStudioLspSolutionProvider.cs
  src/VisualStudio/Xaml/Impl/Features/Completion/IXamlCompletionItem.cs
  src/VisualStudio/Xaml/Impl/Features/Completion/IXamlCompletionService.cs
  src/VisualStudio/Xaml/Impl/Features/Completion/XamlCompletionKind.cs
  src/VisualStudio/Xaml/Impl/Features/QuickInfo/IXamlQuickInfoService.cs
  src/VisualStudio/Xaml/Impl/Features/QuickInfo/XamlQuickInfo.cs
  src/VisualStudio/Xaml/Impl/Features/Structure/IXamlStructureService.cs
  src/VisualStudio/Xaml/Impl/Features/Structure/IXamlStructureTag.cs
  src/VisualStudio/Xaml/Impl/Features/Structure/XamlStructureTypes.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlLanguageServerClient.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Extensions/SymbolExtensions.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveData.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Hover/HoverHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Initialize/InitializeHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLanguageServerProtocol.cs
  src/VisualStudio/Xaml/Impl/Microsoft.VisualStudio.LanguageServices.Xaml.csproj
  src/VisualStudio/Xaml/Impl/Resources.resx
  src/VisualStudio/Xaml/Impl/XamlStaticTypeDefinitions.cs
  src/VisualStudio/Xaml/Impl/xlf/Resources.cs.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.de.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.es.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.fr.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.it.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.ja.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.ko.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.pl.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.pt-BR.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.ru.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.tr.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.zh-Hans.xlf
  src/VisualStudio/Xaml/Impl/xlf/Resources.zh-Hant.xlf
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ISolutionExtensions.cs
Labels: Area-IDE

#46240 Diagnose a static type used in an 'is' or 'as' expression.
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/WarningVersionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Feature - Warning Waves

#46303 Fix build break.
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
Labels: Area-Infrastructure, Urgency-Now

#46305 Skip a flaky test
  src/Compilers/Core/MSBuildTaskTests/DotNetSdkTests.cs
Labels: Area-Compilers, Disabled Test, auto-merge

#44871 Switch to newer packages and remove reflection
  eng/Versions.props
  scripts/GenerateSdkPackages/files.txt
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Tools/ExternalAccess/FSharp/Microsoft.CodeAnalysis.ExternalAccess.FSharp.csproj
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeWatcher.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/FileChangeWatcherProvider.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/Implementation/VisualStudioDecompilerEulaService.cs
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/MockVsFileChangeEx.vb
  src/VisualStudio/Xaml/Impl/Microsoft.VisualStudio.LanguageServices.Xaml.csproj
Labels: Area-Infrastructure, auto-merge

#46294 Fix NullCoalesceAssignmentTests file name typo
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCoalesceAssignmentTests.cs
Labels: Area-Compilers, Community, Test, auto-merge

#46260 Backport #46237 to dev16.7: Report teh project name that we were unable to recover a symbol from.
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.SymbolKeyReader.cs
Labels: Approved to merge, Area-IDE

#46114 Add use site diagnostics to IsUnmanaged
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/BaseTypeAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UseSiteErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
Labels: Area-Compilers

#46311 Recommend default in type constraint, but not record
  src/EditorFeatures/CSharpTest2/Recommendations/DefaultKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RecordKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/DefaultKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/RecordKeywordRecommender.cs
Labels: Area-IDE, New Language Feature - Nullable Reference Types

#46188 Async-streams: disposal should continue without jump within a finally
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers, New Feature - Async Streams

#46229 Record features merged into 16.7p4
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#46310 Skip flaky test
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test/Diagnostics/DefaultDiagnosticUpdateSourceTests.vb
Labels: Area-IDE, Disabled Test, auto-merge

#46293 A fixed initializer must be bound to its natural type
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TargetTypedConditionalOperatorTests.cs
Labels: Area-Compilers, Bug, Urgency-Soon

#45978 Nullable annotate InvisibleEditor.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/VisualStudioDefinitionsAndReferencesFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/InvisibleEditor.cs
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
  src/VisualStudio/LiveShare/Impl/Client/RemoteLanguageServiceWorkspace.cs
Labels: Area-IDE, Concept-Null Annotations

#46347 Update version of RichCodeNav.EnvVarDump
  eng/Versions.props
Labels: auto-merge

#46353 Update publish data for 16.8
  eng/config/PublishData.json
Labels: Area-Infrastructure

#46136 Update README
  README.md
Labels: Area-Infrastructure

#46220 Remove myget feeds from restore
  NuGet.config
  eng/Versions.props
Labels: Area-Infrastructure

#46176 Bump versions of System.Collections.Immutable and System.Reflection.Metadata to consume the new function pointer metadata changes.
  eng/Versions.props
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/AbstractRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.SnapshotManager.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceAppDomainTests.cs
  src/Compilers/Core/CodeAnalysisTest/ShadowCopyAnalyzerAssemblyLoaderTests.cs
  src/Compilers/Core/Portable/Collections/StaticCast.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfig.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisResult.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
  src/Compilers/Core/Portable/InternalUtilities/GeneratedCodeUtilities.cs
  src/Compilers/Core/Portable/InternalUtilities/ImmutableArrayExtensions.cs
  src/EditorFeatures/Core/Implementation/CodeFixes/CodeFixService.cs
  src/Features/CSharp/Portable/ChangeSignature/CSharpChangeSignatureService.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.ErrorVisitor.cs
  src/Test/Utilities/Portable/Platform/Desktop/TestHelpers.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolNavigationService.cs
  src/VisualStudio/LiveShare/Impl/AbstractGoToDefinitionWithFindUsagesServiceHandler.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/Core/Portable/CodeActions/CodeActionWithOptions.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalysisResultMap.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamer.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/CompilerUtilities/ImmutableDictionaryExtensions.cs
Labels: Area-Infrastructure, New Feature - Function Pointers

#46285 Check in simple end-to-end test for covariant returns.
  eng/build.ps1
  eng/targets/Imports.targets
  src/Compilers/CSharp/Test/Emit/Emit/CovariantReturnTests.cs
  src/Compilers/CSharp/Test/Emit/Microsoft.CodeAnalysis.CSharp.Emit.UnitTests.csproj
  src/Test/Utilities/Portable/Assert/ConditionalFactAttribute.cs
  src/Tools/BuildBoss/ProjectCheckerUtil.cs
Labels: Area-Compilers, New Language Feature - Covariant Returns, auto-merge

#46357 Fix roundtripping of generic error types.
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.ErrorTypeSymbolKey.cs
  src/Workspaces/CoreTest/SymbolKeyTests.cs
Labels: Approved to merge, Area-IDE

#46301 Insert doc comments when typing via LSP
  src/EditorFeatures/CSharp/DocumentationComments/DocumentationCommentCommandHandler.cs
  src/EditorFeatures/CSharp/DocumentationComments/DocumentationCommentSnippetService.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractDocumentationCommentSnippetService.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/DocumentationCommentSnippet.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/IDocumentationCommentSnippetService.cs
  src/EditorFeatures/VisualBasic/DocumentationComments/DocumentationCommentCommandHandler.vb
  src/EditorFeatures/VisualBasic/DocumentationComments/DocumentationCommentSnippetService.vb
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/OnAutoInsert/OnAutoInsertTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
Labels: Area-IDE, CloudEnv
