Repository dotnet/roslyn, pull requests merged in 2020-08, with the labels that each got.

#46221 Produce warnings for definite assignment issues with private fields from metadata.
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/LocalDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedAddressTakenVariablesWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/UnassignedFieldsWalker.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowTestBase.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/StructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/WarningVersionTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticBag.cs
Labels: Area-Compilers, New Feature - Warning Waves

#46484 Document ignored cancellation token
  src/VisualStudio/Core/Impl/CodeModel/FileCodeModel.cs
Labels: Area-IDE, auto-merge

#46323 Readonly fields have an accessible home when accessed from init-only setter
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
Labels: Area-Compilers, New Language Feature - Records

#46466 Add some tests from records test plan
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#46504 don't run CI on changes that do not change code
  azure-pipelines-integration.yml
  azure-pipelines.yml
Labels: auto-merge

#46517 Disallow `static` modifier on records
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#46497 Synthesize equality operators for records.
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedConversionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordClone.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityOperator.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityOperatorBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordInequalityOperator.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#46531 Enable `with` expression on generic type parameters constrained to a record type
  src/Compilers/CSharp/Portable/Binder/Binder_WithExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#46540 Test revert of two recent WinForm perf PRs for RPS validation
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/VisualStudioDesignerAttributeService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostOptions.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeIncrementalAnalyzer.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeIncrementalAnalyzerProvider.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeIncrementalAnalyzer_Serialization.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeService.cs
Labels: Area-Infrastructure

#46299 Remaining extension get enumerator tests and changes
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenForEachTests.cs
Labels: Area-Compilers, Community

#46556 Update GetLeastOverriddenProperty/Event for overload resolution changes
  src/Compilers/CSharp/Portable/Symbols/EventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PropertySymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
Labels: Approved to merge, Area-Compilers

#46568 Fix nint ConstOutOfRange test on non-en-US culture
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
Labels: Area-Compilers, Community, New Language Feature - Native Int, Test

#46574 Add test for EventSymbol.GetLeastOverriddenEvent()
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
Labels: Area-Compilers, Test

#46572 Changed the colors for light/blue theme - Inline Parameter Name Hints
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2017.xml
  src/VisualStudio/Core/Def/ColorSchemes/VisualStudio2019.xml
Labels: Area-IDE

#46581 Update proposal links
  docs/Language Feature Status.md
Labels: Area-Compilers, Community, Documentation

#46144 Replace property with method: Add more support for null catching
  src/Analyzers/CSharp/CodeFixes/RemoveConfusingSuppression/CSharpRemoveConfusingSuppressionCodeFixProvider.cs
  src/Features/CSharp/Portable/ReverseForStatement/CSharpReverseForStatementCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeMemberFromParameterCodeRefactoringProviderMemberCreation.cs
  src/Features/Core/Portable/MakeClassAbstract/AbstractMakeClassAbstractCodeFixProvider.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/AbstractReplaceMethodWithPropertyService.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/ReplaceMethodWithPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/AbstractReplacePropertyWithMethodsService.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/ReplacePropertyWithMethodsCodeRefactoringProvider.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Workspaces/Core/Portable/Editing/SyntaxEditor.cs
Labels: Area-IDE

#46607 Update extension getenumerator status.
  docs/Language Feature Status.md
Labels: Area-Compilers

#46522 Simplify NativeIntegerAttribute encoding
  docs/features/NativeIntegerAttribute.md
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NativeIntegerTypeDecoder.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_NativeInteger.cs
Labels: Area-Compilers, New Language Feature - Native Int

#45151 Fix possible problem with TelemetryId
  src/EditorFeatures/CSharpTest/Extensions/TelemetryExtensionTests.cs
  src/EditorFeatures/Core/Shared/Extensions/TelemetryExtensions.cs
Labels: Area-IDE

#46557 Introduce request context
  src/Features/LanguageServer/Protocol/AbstractRequestHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/AbstractRequestHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/RunCodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Commands/ExecuteWorkspaceCommandHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Commands/IExecuteWorkspaceCommandHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/AbstractGoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToTypeDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/AbstractFormatDocumentHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Highlights/DocumentHighlightHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Features/LanguageServer/Protocol/Handler/IRequestHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/Features/LanguageServer/Protocol/Handler/ProjectContext/GetTextDocumentWithContextHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Rename/RenameHandler.cs
  src/Features/LanguageServer/Protocol/Handler/RequestContext.cs
  src/Features/LanguageServer/Protocol/Handler/SignatureHelp/SignatureHelpHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Hover/HoverHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Initialize/InitializeHandler.cs
Labels: Area-IDE

#46548 Revert "Revert "Merge pull request #46391 from CyrusNajmabadi/formPerf""
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeIncrementalAnalyzer.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeIncrementalAnalyzerProvider.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeIncrementalAnalyzer_Serialization.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeService.cs
Labels: Area-IDE

#46552 Support preselect flag in LSP completion
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
Labels: Area-IDE, CloudEnv

#46564 Enable CSharpOutliningTagger_RegionIsDefinition
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
Labels: Area-IDE, Test

#46563 Enable PasteCommandWithInteractiveFormatAsBoxCopy
  src/EditorFeatures/Test2/InteractivePaste/InteractivePasteCommandHandlerTests.vb
Labels: Area-IDE, Test

#46620 Added interpolated strings to list of possible literals - Inline Parameter Name Hints
  src/EditorFeatures/Test2/InlineParameterNameHints/CSharpInlineParameterNameHintsTests.vb
  src/EditorFeatures/Test2/InlineParameterNameHints/VisualBasicInlineParameterNameHintsTests.vb
  src/Features/CSharp/Portable/InlineParameterNameHints/CSharpInlineParameterNameHintsService.cs
  src/Features/VisualBasic/Portable/InlineParameterNameHints/VisualBasicInlineParameterNameHintsService.vb
Labels: Area-IDE

#46558 Move null check above where the variable is used
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
Labels: Area-IDE

#46510 Fix issue where compiler host dropped connections under load
  src/Compilers/Core/CommandLine/CompilerServerLogger.cs
  src/Compilers/Core/MSBuildTask/ValidateBootstrap.cs
  src/Compilers/Server/VBCSCompiler/ClientConnectionHandler.cs
  src/Compilers/Server/VBCSCompiler/CompletionData.cs
  src/Compilers/Server/VBCSCompiler/DiagnosticListener.cs
  src/Compilers/Server/VBCSCompiler/IClientConnection.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnectionHost.cs
  src/Compilers/Server/VBCSCompiler/ServerDispatcher.cs
  src/Compilers/Server/VBCSCompilerTests/BuildClientTests.cs
  src/Compilers/Server/VBCSCompilerTests/BuildServerControllerTests.cs
  src/Compilers/Server/VBCSCompilerTests/ClientConnectionHandlerTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Server/VBCSCompilerTests/NamedPipeClientConnectionHostTests.cs
  src/Compilers/Server/VBCSCompilerTests/NamedPipeTestUtil.cs
  src/Compilers/Server/VBCSCompilerTests/ServerUtil.cs
  src/Compilers/Server/VBCSCompilerTests/TestableClientConnectionHost.cs
  src/Compilers/Server/VBCSCompilerTests/TouchedFileLoggingTests.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerServerTests.cs
  src/Compilers/Shared/BuildServerConnection.cs
Labels: Area-Compilers

#46576 Add temporary support for colorization in LSP hover
  src/EditorFeatures/CSharpTest/QuickInfo/SyntacticQuickInfoSourceTests.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Helpers.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/QuickInfoSourceProvider.QuickInfoSource.cs
  src/EditorFeatures/Test2/IntelliSense/AbstractIntellisenseQuickInfoBuilderTests.vb
  src/EditorFeatures/TestUtilities/QuickInfo/AbstractQuickInfoSourceTests.cs
  src/Features/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
Labels: Area-IDE, CloudEnv

#46627 Throw IndexOutOfRangeException from BitVector.this[int] if index < 0
  src/Compilers/Core/CodeAnalysisTest/Collections/BitArrayTests.cs
  src/Compilers/Core/Portable/Collections/BitVector.cs
Labels: Area-Compilers

#46082 Combine local and LSP code action logic
  src/Analyzers/Core/CodeFixes/CodeFixesResources.resx
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.cs.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.de.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.es.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.fr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.it.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ja.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ko.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pl.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pt-BR.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ru.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.tr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hans.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hant.xlf
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/CodeFixSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/CodeRefactoringSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/FixAllSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedPredefinedSuggestedActionCategoryNames.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActionSet.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActionSetComparer.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActionSetPriority.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/ICodeFixSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/ICodeRefactoringSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/IFixAllSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/IUnifiedSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedCodeFixSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedCodeRefactoringSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedFixAllSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedSuggestedAction.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedSuggestedActionWithNestedActions.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/RunCodeActionHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
Labels: Area-IDE

#46389 Initial Setup
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/SimplifyLinqExpressions/CSharpSimplifyLinqExpressionsDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/SimplifyLinqExpressions/CSharpSimplifyLinqExpressionsCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/SimplifyLinqExpressions/SimplifyLinqExpressionsFixAllTests.cs
  src/Analyzers/CSharp/Tests/SimplifyLinqExpressions/SimplifyLinqExpressionsTests.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Test/Utilities/Portable/Traits/Traits.cs
Labels: auto-merge

#46492 Delete our use of Microsoft.VisualStudio.CodingConventions
  eng/Versions.props
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.DocumentOptions.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.EmptyCodingConventionContext.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProviderFactory.cs
  src/EditorFeatures/Core.Wpf/Options/LegacyEditorConfigDocumentOptionsProvider_Ide.cs
  src/EditorFeatures/Test/Microsoft.CodeAnalysis.EditorFeatures.UnitTests.csproj
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureCodeStyle/ConfigureCodeStyleOptionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureSeverity/ConfigureSeverityLevelCodeFixProvider.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpFormatting.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/LegacyEditorConfigCondition.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Microsoft.VisualStudio.IntegrationTest.Utilities.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/SolutionExplorer_OutOfProc.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
  src/Workspaces/Core/Portable/Options/EditorConfig/EditorConfigDocumentOptionsProviderFactory.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
  src/Workspaces/Remote/Core/Services/Options/FileWatcher.cs
  src/Workspaces/Remote/Core/Services/RoslynServices.cs
Labels: auto-merge

#44951 Checking for writeable indexers in Use Range Operator feature
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseRangeOperatorTests.cs
Labels: Area-IDE

#46467 Add CallingConventions to the public api
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/MethodSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs
  src/Compilers/Core/Portable/PEWriter/Members.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayMiscellaneousOptions.cs
  src/Compilers/Core/Portable/Symbols/IFunctionPointerTypeSymbol.cs
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/EditorFeatures/CSharpTest/Diagnostics/GenerateMethod/GenerateMethodTests.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedMethodSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractMethodSymbol.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.FunctionPointerTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ITypeSymbolExtensions.TypeSyntaxGeneratorVisitor.cs
Labels: Area-Compilers, Area-IDE, New Feature - Function Pointers, auto-merge

#46296 Expose generator internals:
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/SyntaxAwareGeneratorTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorState.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorSyntaxWalker.cs
  src/Compilers/Core/Portable/SourceGeneration/RunResults.cs
  src/Compilers/Core/Portable/SourceGeneration/SourceGeneratorContext.cs
  src/Test/Utilities/Portable/SourceGeneration/TestGenerators.cs
Labels: Area-Compilers

#46566 Fix couple of issues related to SerializableOptionSet which were leading to checkum validation asserts
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/Options/GlobalOptionService.cs
  src/Workspaces/Core/Portable/Options/SerializableOptionSet.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/CoreTest/Execution/SnapshotSerializationTests.cs
  src/Workspaces/CoreTest/WorkspaceServiceTests/OptionServiceTests.cs
Labels: Area-IDE, auto-merge

#46669 Add a new command line switch to skip analyzer execution
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.VisualBasic.Core.targets
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
  src/Compilers/Core/MSBuildTaskTests/TargetTests.cs
  src/Compilers/Core/MSBuildTaskTests/VbcTests.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineArguments.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Utilities/CSharp/MockCSharpCompiler.cs
  src/Compilers/Test/Utilities/VisualBasic/MockVisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Analyzers, Area-Compilers, auto-merge

#46493 Change GacFileResolver.IsAvailable to check a type from System.Core
  src/Compilers/Shared/GlobalAssemblyCacheHelpers/GacFileResolver.cs
Labels: Area-Compilers

#46690 Update TestRunner.cs
  src/Tools/Source/RunTests/TestRunner.cs
Labels: Area-Infrastructure

#46520 [features/param-nullchecking] The BangBang Update
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/ParameterSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_INullCheckedParameters.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
Labels: Area-Compilers

#46710 File header cleanup
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/CodeCleanup/CSharpCodeCleanupService.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/CodeCleanup/EnabledDiagnosticOptions.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer.cs
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer_DiagnosticIds.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/Implementation/CodeCleanup/CodeCleanUpFixer.cs
Labels: Area-IDE

#46689 Fix crash when typing in an indexer.
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/SemanticModelReuse/CSharpSemanticModelReuseLanguageService.cs
  src/Workspaces/Core/Portable/SemanticModelReuse/AbstractSemanticModelReuseLanguageService.cs
  src/Workspaces/CoreTest/SemanticModelReuse/SemanticModelReuseTests.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
  src/Workspaces/VisualBasic/Portable/SemanticModelReuse/VisualBasicSemanticModelReuseLanguageService.vb
Labels: auto-merge

#46712 Fix failure to apply timeout in WaitForAllAsyncOperations
  src/Test/Diagnostics/TestingOnly_WaitingService.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/IAsynchronousOperationListenerProvider.cs
Labels: Area-IDE, Integration-Test

#46693 Remove prototypes and fix a small bug
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FunctionPointerTests.cs
Labels: Area-Compilers, New Feature - Function Pointers, auto-merge

#46717 Add example that reports diagnostics
  docs/features/source-generators.cookbook.md
Labels: Area-Compilers, Documentation, New Feature - Source Generators

#46594 Adjust log line splitting for shared compiler
  src/Compilers/Core/MSBuildTask/Csc.cs
Labels: Area-Compilers, Community

#46732 Update build number
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure

#46727 Handle exception during teardown
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnectionHost.cs
Labels: Area-Compilers

#46470 Always use a ParameterSyntax to make record properties (#46225)
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Approved to merge, Area-Compilers, New Language Feature - Records

#46713 Allow declaring iterator in records
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#46686 Clean up ref assemblies in solution explorer
  src/Test/Utilities/Portable/Generate.ps1
  src/Test/Utilities/Portable/Generated.targets
Labels: Area-Infrastructure

#46751 Allow declaring iterator in records (#46713)
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#46731 Removes jitteriness - Inline Parameter Name Hints
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTag.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTagger.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTaggerProvider.cs
Labels: Approved to merge, Area-IDE

#46490 Allow TypeScript access to the RemoteLanguageServiceWorkspace
  src/VisualStudio/Core/Def/ExternalAccess/VSTypeScript/Api/IVsTypeScriptRemoteLanguageServiceWorkspaceAccessor.cs
  src/VisualStudio/Core/Def/ExternalAccess/VSTypeScript/Api/VSTypeScriptContainedLanguageWrapper.cs
  src/VisualStudio/LiveShare/Impl/Client/ExternalAccess/VSTypeScript/VSTypeScriptRemoteLanguageServiceWorkspaceAccessor.cs
  src/VisualStudio/LiveShare/Impl/Client/Projects/RoslynRemoteProjectInfoProvider.cs
Labels: auto-merge

#46675 Fix debugger workspace kind usage
  src/VisualStudio/Core/Def/Implementation/DebuggerIntelliSense/DebuggerIntellisenseWorkspace.cs
  src/VisualStudio/LiveShare/Impl/Client/StringConstants.cs
Labels: Area-IDE

#46578 Expose 64-bit OOP as an option, and make it the default
  azure-pipelines-integration.yml
  eng/build.ps1
  src/Features/Core/Portable/DesignerAttribute/AbstractDesignerAttributeIncrementalAnalyzer.cs
  src/Features/Core/Portable/DesignerAttribute/AbstractDesignerAttributeIncrementalAnalyzer_Serialization.cs
  src/Features/Core/Portable/TodoComments/AbstractTodoCommentsIncrementalAnalyzer.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/ExternalAccess/UnitTesting/Api/UnitTestingRemoteHostOptionsAccessor.cs
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/InProcDesignerAttributeIncrementalAnalyzer.cs
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/InProcDesignerAttributeIncrementalAnalyzerProvider.cs
  src/VisualStudio/Core/Def/Implementation/DesignerAttribute/VisualStudioDesignerAttributeService.cs
  src/VisualStudio/Core/Def/Implementation/Remote/DefaultRemoteHostClientProvider.cs
  src/VisualStudio/Core/Def/Implementation/Remote/RemoteHostOptions.cs
  src/VisualStudio/Core/Def/Implementation/Remote/ServiceHubRemoteHostClientProvider.cs
  src/VisualStudio/Core/Def/Implementation/TodoComments/InProcTodoCommentsIncrementalAnalyzer.cs
  src/VisualStudio/Core/Def/Implementation/TodoComments/InProcTodoCommentsIncrementalAnalyzerProvider.cs
  src/VisualStudio/Core/Def/Implementation/TodoComments/VisualStudioTodoCommentsService.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingWellKnownExperimentNamesAccessor.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeIncrementalAnalyzer.cs
  src/Workspaces/Remote/ServiceHub/Services/TodoComments/RemoteTodoCommentsIncrementalAnalyzer.cs
  src/Workspaces/Remote/ServiceHub/Services/TodoComments/RemoteTodoCommentsIncrementalAnalyzerProvider.cs
Labels: Approved to merge, Area-IDE

#46763 Fix flaky test
  src/Compilers/Server/VBCSCompilerTests/TestableClientConnectionHost.cs
Labels: Area-Compilers

#46409 Nullable enable analyzer driver
  src/Compilers/Core/AnalyzerDriver/DeclarationInfo.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/CompilationWithAnalyzersTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.PerAnalyzerState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.CompilationData.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.DeclarationAnalysisData.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.EventProcessedState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.ExecutableCodeBlockAnalyzerActions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GeneratedCodeTokenWalker.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.AnalyzerDiagnosticReporter.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.CompilationAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContextHelpers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalyzerAction.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticQueue.cs
  src/Test/Utilities/Portable/Diagnostics/CommonDiagnosticAnalyzers.cs
Labels: Area-Analyzers, Area-Compilers

#46411 Simplify TypeParameterSymbolExtensions.DependsOn()
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Utilities/FunctionExtensions.cs
  src/Compilers/VisualBasic/Portable/Utilities/FunctionExtensions.vb
Labels: Area-Compilers

#44347 Remove the code for RichNav now that //build has happened
  eng/Versions.props
  eng/targets/VisualStudio.targets
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.DefinitionTrackingContext.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.SymbolMoniker.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService_FindReferences.cs
  src/EditorFeatures/Core/FindUsages/FindUsagesContext.cs
  src/EditorFeatures/Core/FindUsages/IFindSymbolMonikerUsagesService.cs
  src/EditorFeatures/Core/FindUsages/IFindUsagesContext.cs
  src/Features/Core/Portable/FindUsages/ExternalReferenceItem.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithoutReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/ExternalReferenceItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindUsages/CodeIndexExternalReferenceItem.cs
  src/VisualStudio/Core/Def/Implementation/FindUsages/MonikerWrapper.cs
  src/VisualStudio/Core/Def/Implementation/FindUsages/VisualStudioFindSymbolMonikerUsagesService.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/Workspaces/Core/Portable/Utilities/EmptyAsyncEnumerable.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysis/CodeAnalysisService_FindUsages.cs
Labels: Area-IDE, auto-merge

#46679 Update to ICSharpCode.Decompiler 6.1.0.5902
  eng/Versions.props
  src/EditorFeatures/CSharp/DecompiledSource/AssemblyResolver.cs
Labels: Area-IDE

#46704 Enable caching for LSP code actions
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActionSet.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedSuggestedAction.cs
  src/Features/LanguageServer/Protocol/CustomProtocol/FindUsagesLSPContext.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsCache.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/RunCodeActionHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
Labels: Area-IDE, CloudEnv

#46538 Update corefx dependencies
  eng/Versions.props
  src/Scripting/VisualBasicTest/CommandLineRunnerTests.vb
Labels: Area-Infrastructure

#46778 Update versions of VS packages we reference.
  eng/Versions.props
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Initialize/InitializeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/VisualStudio/Core/Def/Implementation/Experimentation/KeybindingResetDetector.cs
  src/VisualStudio/Core/Def/Implementation/Library/ClassView/AbstractSyncClassViewCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolNavigationService.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Initialize/InitializeHandler.cs
Labels: auto-merge

#46796 Use C# 'not' pattern when available.
  src/Analyzers/CSharp/CodeFixes/UsePatternMatching/CSharpAsAndNullCheckCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UsePatternMatching/CSharpAsAndNullCheckTests.cs
Labels: auto-merge

#46759 Diagnostics for CommitOnSave failures
  src/Tools/Source/RunTests/ProcessTestExecutor.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicLineCommit.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/SolutionExplorer_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.Verifier.cs
Labels: Area-IDE

#46474 Quick info for inline parameter name hints
  src/Deployment/Properties/launchSettings.json
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTag.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTagger.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTaggerProvider.cs
  src/EditorFeatures/Core/InlineParameterNameHints/InlineParameterNameHintDataTag.cs
  src/EditorFeatures/Core/InlineParameterNameHints/InlineParameterNameHintsDataTaggerProvider.cs
  src/Features/CSharp/Portable/InlineParameterNameHints/CSharpInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineParameterNameHints/IInlineParameterNameHintsService.cs
  src/Features/VisualBasic/Portable/InlineParameterNameHints/VisualBasicInlineParameterNameHintsService.vb
Labels: Area-IDE, Concept-Continuous Improvement

#46616 Add print methods to records
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordBaseEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordClone.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPrintMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordToString.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupPositionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
Labels: Area-Compilers, New Language Feature - Records

#46801 Ensure the Compilation's options are changed on .editorconfig changes
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Approved to merge, Area-IDE, auto-merge

#46740 Add a cache for AnalyzerConfigSets
  src/Workspaces/Core/Portable/Workspace/Solution/CachingAnalyzerConfigSet.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
Labels: Approved to merge, Area-IDE, auto-merge

#46789 AreStringValuesEqual for real
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpErrorListCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicErrorListCommon.cs
  src/VisualStudio/IntegrationTest/TestUtilities/Common/Comparison.cs
Labels: Area-IDE, auto-merge

#46508 Analyzer driver performance improvements
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Compilation/SemanticModelProvider.cs
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.CompilationData.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CachingSemanticModelProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationCompletedEvent.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationEvent.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationStartedEvent.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationUnitCompletedEvent.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SymbolDeclaredCompilationEvent.cs
  src/Compilers/VisualBasic/Portable/Compilation/MethodCompiler.vb
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
  src/Test/Utilities/Portable/Diagnostics/DiagnosticExtensions.cs
Labels: Area-Analyzers, Area-Compilers

#46830 Fix tests in master
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, Test, auto-merge

#46806 Check if $insertionDir exists before getting children.
  eng/build.ps1
Labels: Area-Infrastructure

#46502 Update to the new issue template workflow
  .github/ISSUE_TEMPLATE/analyzer-suggestion.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: Area-IDE, Community

#46783 Avoid heavy contention in OOP reading from temporary storage
  src/Workspaces/Core/Portable/TemporaryStorage/TemporaryStorageServiceFactory.MemoryMappedInfo.cs
Labels: Area-IDE, Area-Performance

#46742 No PROTOTYPE markers allowed in compiler in certain branches
  eng/test-build-correctness.ps1
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
Labels: Area-Compilers

#46787 Skip test CustomizableTagsForUnnecessaryCode
  src/EditorFeatures/VisualBasicTest/Squiggles/ErrorSquiggleProducerTests.vb
Labels: Area-Infrastructure, Test

#46696 Add DisallowAddingImports completion option
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/OptionSetExtensions.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SuggestionModeCompletionProviderTests.vb
  src/Features/Core/Portable/Completion/CommonCompletionItem.cs
  src/Features/Core/Portable/Completion/CompletionContext.cs
  src/Features/Core/Portable/Completion/CompletionProvider.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionServiceOptions.cs
  src/Features/Core/Portable/Completion/CompletionServiceWithProviders.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.CacheEntry.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ImportCompletionItem.cs
  src/Features/Core/Portable/SpellCheck/AbstractSpellCheckCodeFixProvider.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpIntelliSense.cs
Labels: Area-IDE

#46666 Remove unnecessary code style diagnostic descriptors
  src/Analyzers/CSharp/Analyzers/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnreachableCode/CSharpRemoveUnreachableCodeDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseAutoProperty/CSharpUseAutoPropertyAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseDefaultLiteral/CSharpUseDefaultLiteralDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseInferredMemberName/CSharpUseInferredMemberNameDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/RemoveUnreachableCode/CSharpRemoveUnreachableCodeCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/RemoveUnreachableCode/RemoveUnreachableCodeTests.cs
  src/Analyzers/CSharp/Tests/SimplifyInterpolation/SimplifyInterpolationTests.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AbstractCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/Helpers/DiagnosticHelper.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryCast/AbstractRemoveUnnecessaryCastDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryParentheses/AbstractRemoveUnnecessaryParenthesesDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseObjectInitializer/AbstractUseObjectInitializerDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnnecessaryByVal/VisualBasicRemoveUnnecessaryByValDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/UseAutoProperty/VisualBasicUseAutoPropertyAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/UseInferredMemberName/VisualBasicUseInferredMemberNameDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Tests/SimplifyInterpolation/SimplifyInterpolationTests.vb
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticsClassificationTaggerProviderTests.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Analysis.cs
  src/Features/Core/Portable/SimplifyThisOrMe/AbstractSimplifyThisOrMeDiagnosticAnalyzer.cs
Labels: Area-IDE

#46849 Remove outdated comments related to PortableShim
  src/Compilers/Core/CodeAnalysisTest/EmbeddedTextTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
Labels: Area-Compilers

#46861 VS master -> main
  eng/build.ps1
Labels: Area-Infrastructure

#46882 update publishdata to use new VS branch
  eng/config/PublishData.json
Labels: Area-Infrastructure

#46661 Improve Normalize Whitespace for block lambdas
  src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
Labels: Area-Compilers, Community

#46886 Fix issue causing persistence system to sometimes store the persistence cache off of a directory in the root folder.
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageLocationService.cs
Labels: auto-merge

#46879 Exclude unexercised assembly from optprof config
  eng/config/OptProf.json
Labels: Area-Infrastructure, auto-merge

#46660 Request execution queue
  src/Features/LanguageServer/Protocol/AbstractRequestHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/ExportLspMethodAttribute.cs
  src/Features/LanguageServer/Protocol/Handler/IRequestHandlerMetadata.cs
  src/Features/LanguageServer/Protocol/Handler/RequestContext.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.QueueItem.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/FailingMutatingRequestHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/FailingRequestHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/MutatingRequestHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/NonMutatingRequestHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/RequestOrderingTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/TestRequest.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/TestResponse.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLanguageServerProtocol.cs
Labels: Area-IDE, CloudEnv, auto-merge

#46703 Remove document properties service
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestHostDocument.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Tools/ExternalAccess/Razor/RazorDocumentPropertiesServiceWrapper.cs
  src/Tools/ExternalAccess/Razor/RazorDynamicFileInfoProviderWrapper.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
  src/VisualStudio/Core/Test/Venus/DocumentServiceTests.vb
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Host/DocumentService/DocumentPropertiesService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SourceFiles/DynamicFileInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentInfo.cs
  src/Workspaces/CoreTestUtilities/TestDynamicFileInfoProviderThatProducesFiles.cs
Labels: Area-IDE, auto-merge

#46542 Refactor access to remote workspace
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/AssetProviderTests.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/Workspaces/Core/Portable/Workspace/PrimaryWorkspace.cs
  src/Workspaces/CoreTestUtilities/MEF/ExportProviderCache.cs
  src/Workspaces/CoreTestUtilities/MEF/FeaturesTestCompositions.cs
  src/Workspaces/CoreTestUtilities/MEF/TestComposition.cs
  src/Workspaces/CoreTestUtilities/MEF/UseExportProviderAttribute.cs
  src/Workspaces/CoreTestUtilities/Remote/InProcRemostHostClient.cs
  src/Workspaces/CoreTestUtilities/Remote/InProcRemoteHostClientProvider.cs
  src/Workspaces/Remote/ServiceHub/ExternalAccess/UnitTesting/Api/UnitTestingServiceBase.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspaceManager.cs
  src/Workspaces/Remote/ServiceHub/Host/RoslynServices.cs
  src/Workspaces/Remote/ServiceHub/Host/SolutionCreator.cs
  src/Workspaces/Remote/ServiceHub/Host/SolutionService.cs
  src/Workspaces/Remote/ServiceHub/Host/TemporaryWorkspace.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysis/CodeAnalysisService_CodeLens.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysis/CodeAnalysisService_Diagnostics.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysis/CodeAnalysisService_GlobalNotifications.cs
  src/Workspaces/Remote/ServiceHub/Services/DesignerAttribute/RemoteDesignerAttributeService.cs
  src/Workspaces/Remote/ServiceHub/Services/Host/RemoteHostService.TestDataProvider.cs
  src/Workspaces/Remote/ServiceHub/Services/Host/RemoteHostService.cs
  src/Workspaces/Remote/ServiceHub/Services/Host/RemoteHostTestData.cs
  src/Workspaces/Remote/ServiceHub/Services/LanguageServer/LanguageServer.cs
  src/Workspaces/Remote/ServiceHub/Services/ProjectTelemetry/RemoteProjectTelemetryService.cs
  src/Workspaces/Remote/ServiceHub/Services/ServiceBase.cs
  src/Workspaces/Remote/ServiceHub/Services/TodoComments/RemoteTodoCommentsService.cs
Labels: Area-IDE, Concept-OOP

#46883 Remove incorrect part of warning level comment.
  src/Compilers/Core/Portable/Compilation/CompilationOptions.cs
Labels: Area-Compilers, auto-merge

#46655 Handle deconstruction variables in invalid scenarios
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
Labels: Area-Compilers

#46891 Update code style layer to use package references
  eng/Versions.props
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/AbstractRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/CodeStyle/CSharp/Analyzers/Microsoft.CodeAnalysis.CSharp.CodeStyle.csproj
  src/CodeStyle/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.CodeStyle.Fixes.csproj
  src/CodeStyle/CSharp/Tests/Microsoft.CodeAnalysis.CSharp.CodeStyle.UnitTests.csproj
  src/CodeStyle/Core/Analyzers/Microsoft.CodeAnalysis.CodeStyle.csproj
  src/CodeStyle/Core/CodeFixes/Microsoft.CodeAnalysis.CodeStyle.Fixes.csproj
  src/CodeStyle/VisualBasic/Analyzers/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.vbproj
  src/CodeStyle/VisualBasic/CodeFixes/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.Fixes.vbproj
  src/CodeStyle/VisualBasic/Tests/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.UnitTests.vbproj
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/AbstractGenerateEqualsAndGetHashCodeService.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/ParameterGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions_CreateEqualsMethod.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/FormattingHelpers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SyntaxKindEx.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Lightup/SyntaxFactoryEx.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/MethodKindEx.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SymbolKindEx.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ITypeSymbolExtensions.TypeSyntaxGeneratorVisitor.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSyntaxGeneratorInternal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE

#46874 Avoid deadlock while computing open file semantic diagnostics
  src/Compilers/CSharp/Test/Semantic/Diagnostics/GetDiagnosticsTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
Labels: Approved to merge, Area-Analyzers, Area-Compilers

#46868 Remove unnecessary IDE0060 suppression
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, Community

#46762 Check async modifier in DeclarationModifiers
  src/EditorFeatures/CSharpTest/PullMemberUp/CSharpPullMemberUpTests.cs
  src/Features/Core/Portable/PullMemberUp/AbstractPullMemberUpRefactoringProvider.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/Core/Portable/Editing/DeclarationModifiers.cs
  src/Workspaces/VisualBasicTest/CodeGeneration/SyntaxGeneratorTests.vb
Labels: Area-IDE

#46910 Fix comment
  src/Compilers/CSharp/Portable/LanguageVersion.cs
Labels: Area-Compilers, Community, auto-merge

#46907 Pass CodeGenerationOptions into CodeGenerationService
  src/EditorFeatures/CSharpTest/ExtractInterface/ExtractInterfaceTests.cs
  src/EditorFeatures/TestUtilities/ExtractInterface/AbstractExtractInterfaceTests.cs
  src/EditorFeatures/TestUtilities/ExtractInterface/ExtractInterfaceTestState.cs
  src/Features/Core/Portable/Shared/Utilities/ExtractTypeHelpers.cs
Labels: Area-IDE

#46909 Fix inconsistent language version parsing
  src/Compilers/VisualBasic/Portable/LanguageVersion.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, Community

#46836 Fix goto-impl with netstandard symbols across netstandard/core projects.
  src/EditorFeatures/Test2/GoToImplementation/GoToImplementationTests.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Helpers.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.cs
Labels: Area-IDE, auto-merge

#46924 Change the word in comments
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/HostProcess/InteractiveHostEntryPoint.cs
  src/Interactive/HostTest/InteractiveHostDesktopTests.cs
Labels: Area-IDE

#46804 Add extra exception info to generator warnings.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/SyntaxAwareGeneratorTests.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
Labels: Area-Compilers, New Feature - Source Generators, auto-merge

#46941 Add IVT access for razor temporarily
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE, Bug, auto-merge

#46938 Don't navigate to a mapped document using the RDT if the document is …
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationService.cs
Labels: Area-IDE, Bug

#46904 Add IVT to MonoDevelop.Ide to VSMac can hook up the remote workspace
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
Labels: Area-IDE

#46935 Update default severity for IDE0043
  src/Analyzers/CSharp/Tests/ValidateFormatString/ValidateFormatStringTests.cs
  src/Analyzers/Core/Analyzers/ValidateFormatString/AbstractValidateFormatStringDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Tests/ValidateFormatString/ValidateFormatStringTests.vb
Labels: Area-IDE, auto-merge

#46929 Initialize OOP telemetry session lazily after in-proc one is initialized
  src/VisualStudio/Core/Def/Implementation/Remote/VisualStudioRemoteHostClientProvider.cs
  src/VisualStudio/Core/Def/Telemetry/AbstractWorkspaceTelemetryService.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioWorkspaceTelemetryService.cs
Labels: Area-IDE

#46860 Add parentheses when converting Substring to Range
  src/Analyzers/CSharp/CodeFixes/UseIndexOrRangeOperator/CSharpUseRangeOperatorCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryParentheses/RemoveUnnecessaryExpressionParenthesesTests.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseRangeOperatorTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/OperatorPrecedence.cs
Labels: Area-IDE, Community

#46897 Removed redundant TestImpact facing IVTs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/IntegrationTest/TestUtilities/Microsoft.VisualStudio.IntegrationTest.Utilities.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE

#46959 Revert "Merge pull request #46703 from davidwengier/RemoveDocumentPro…
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestHostDocument.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Tools/ExternalAccess/Razor/RazorDocumentPropertiesServiceWrapper.cs
  src/Tools/ExternalAccess/Razor/RazorDynamicFileInfoProviderWrapper.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
  src/VisualStudio/Core/Test/Venus/DocumentServiceTests.vb
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Host/DocumentService/DocumentPropertiesService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SourceFiles/DynamicFileInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentInfo.cs
  src/Workspaces/CoreTestUtilities/TestDynamicFileInfoProviderThatProducesFiles.cs
Labels: Area-IDE, Area-Infrastructure, auto-merge

#45967 Fix nullable semantic model threading issue
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests.cs
Labels: Area-Compilers, Bug, New Language Feature - Nullable Semantic Model, auto-merge

#46844 Target a few projects to netstandard2 instead of net472
  src/EditorFeatures/Text/Microsoft.CodeAnalysis.EditorFeatures.Text.csproj
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
Labels: Area-IDE, Concept-OOP, auto-merge

#46896 Pass document and solution to request handlers
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/Handler/AbstractRequestHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Commands/ExecuteWorkspaceCommandHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/AbstractGoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToTypeDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/AbstractFormatDocumentHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Highlights/DocumentHighlightHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Features/LanguageServer/Protocol/Handler/IRequestHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Rename/RenameHandler.cs
  src/Features/LanguageServer/Protocol/Handler/RequestContext.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.QueueItem.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
  src/Features/LanguageServer/Protocol/Handler/SignatureHelp/SignatureHelpHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Hover/HoverHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Initialize/InitializeHandler.cs
Labels: Area-IDE, auto-merge

#46828 [features/interpolated-constant-strings] Adding Tests
  src/Compilers/CSharp/Test/Semantic/Semantics/ConstantTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
Labels: Area-Compilers

#46967 Add props file to CodeStyle package to disable built-in code style an…
  src/CodeStyle/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.CodeStyle.Fixes.csproj
  src/CodeStyle/CSharp/CodeFixes/build/Microsoft.CodeAnalysis.CSharp.CodeStyle.props
  src/CodeStyle/VisualBasic/CodeFixes/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.Fixes.vbproj
  src/CodeStyle/VisualBasic/CodeFixes/build/Microsoft.CodeAnalysis.VisualBasic.CodeStyle.props
Labels: Area-Analyzers, Area-IDE, auto-merge

#46928 Check for uninitialized non-nullable static fields in interfaces
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UninitializedNonNullableFieldTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types

#46972 Update versions of VS dependecies
  eng/Versions.props
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/Workspaces/Remote/Core/RemoteEndPoint.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE, auto-merge

#46407 Move semantic tokens to LSP
  src/Features/LanguageServer/Protocol/AbstractRequestHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensCache.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensEditsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/TokenModifiers.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/AbstractSemanticTokensTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensEditsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/LiveShare/Impl/AbstractClassificationsHandler.cs
  src/VisualStudio/LiveShare/Impl/ClassificationsHandler.cs
  src/VisualStudio/LiveShare/Impl/Client/Classification/RoslynClassificationService.Exports.cs
  src/VisualStudio/LiveShare/Impl/Client/Classification/RoslynClassificationService.cs
  src/VisualStudio/LiveShare/Impl/Client/Classification/RoslynClassificationServiceFactory.cs
  src/VisualStudio/LiveShare/Impl/Client/Classification/RoslynSyntaxClassificationService.cs
  src/VisualStudio/LiveShare/Impl/Client/Classification/RoslynSyntaxClassificationServiceFactory.cs
  src/VisualStudio/LiveShare/Impl/CustomProtocol/Classifications.cs
  src/VisualStudio/LiveShare/Impl/CustomProtocol/RoslynMethods.cs
  src/VisualStudio/LiveShare/Test/ClassificationsHandlerTests.cs
  src/Workspaces/Core/Portable/Classification/ClassificationTypeNames.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/CoreTestUtilities/WorkspaceExtensions.cs
Labels: Area-IDE, CloudEnv

#46997 Disable flaky test.
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
Labels: Area-IDE, Disabled Test, Test, auto-merge

#46995 Set AutoGenerateAssemblyVersion for CodeStyle layer
  src/CodeStyle/Directory.Build.props
Labels: Area-Analyzers, Area-IDE

#47007 Disable optimization in PEMethodSymbol.ExplicitInterfaceImplementations
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
Labels: Area-Compilers, auto-merge

#46981 Revert the revert of the removal of DocumentPropertiesService
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestHostDocument.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Tools/ExternalAccess/Razor/RazorDocumentPropertiesServiceWrapper.cs
  src/Tools/ExternalAccess/Razor/RazorDynamicFileInfoProviderWrapper.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedLanguage.cs
  src/VisualStudio/Core/Test/Venus/DocumentServiceTests.vb
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Host/DocumentService/DocumentPropertiesService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SourceFiles/DynamicFileInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentInfo.cs
  src/Workspaces/CoreTestUtilities/TestDynamicFileInfoProviderThatProducesFiles.cs
Labels: Area-IDE

#46978 Add API notes for August 19th, 2020.
  docs/compilers/API Notes/8-19-20.md
Labels: auto-merge

#46547 Simplify code in rename responsible for handling changes in user options.
  src/EditorFeatures/Core.Wpf/InlineRename/AbstractEditorInlineRenameService.SymbolRenameInfo.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamer.cs
  src/Workspaces/Core/Portable/Rename/RenameLocation.ReferenceProcessing.cs
  src/Workspaces/Core/Portable/Rename/RenameLocations.cs
Labels: Area-IDE

#47010 Avoid lost CompilationEvent instances on analysis cancellation
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
Labels: Area-Compilers

#47020 Upgrade build tools version for AllowClientRole breaking change
  eng/Versions.props
Labels: Area-IDE, Area-Infrastructure, auto-merge

#47080 Do not fallback to special-char classifying, prior to doing regex classifying
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/Features/Core/Portable/EmbeddedLanguages/DateAndTime/LanguageServices/DateAndTimeEmbeddedLanguage.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/EmbeddedLanguagesClassifier.cs
Labels: auto-merge

#47052 Update configure severity code fix for IDE code style diagnostics to use dotnet_diagnostic entries
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureCodeStyle/BooleanCodeStyleOptionConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureCodeStyle/EnumCodeStyleOptionConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/CSharpCodeStyleOptionBasedSeverityConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/CodeStyleOptionBasedSeverityConfigurationTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/MultipleCodeStyleOptionBasedSeverityConfigurationTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureSeverity/CodeStyleOptionBasedSeverityConfigurationTests.vb
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureSeverity/MultipleCodeStyleOptionBasedConfigureSeverityTests.vb
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigurationUpdater.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureCodeStyle/ConfigureCodeStyleOptionCodeFixProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/DiagnosticSeverityExtensions.cs
Labels: Area-IDE

#47065 Don't report CS0534 on abstract record members when inheriting in a class
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, Community

#47082 Enable more nullable analysis
  eng/targets/Imports.targets
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpUseNotPatternDiagnosticAnalyzer.cs
  src/Compilers/Core/MSBuildTask/CommandLineBuilderExtension.cs
  src/Compilers/Core/MSBuildTask/Vbc.cs
  src/Compilers/Core/Portable/InternalUtilities/CommandLineUtilities.cs
  src/Dependencies/CodeAnalysis.Debugging/CustomDebugInfoReader.cs
  src/EditorFeatures/CSharpTest/Extensions/TelemetryExtensionTests.cs
  src/EditorFeatures/Core.Wpf/InlineParameterNameHints/InlineParameterNameHintsTag.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace_XmlCreation.cs
  src/Tools/ExternalAccess/Razor/Microsoft.CodeAnalysis.ExternalAccess.Razor.csproj
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractLanguageService`2.VsCodeWindowManager.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/MetadataReferences/VisualStudioFrameworkAssemblyPathResolverFactory.cs
  src/VisualStudio/Core/Impl/RoslynVisualStudioWorkspace.cs
  src/VisualStudio/Core/Test.Next/Remote/SerializationValidator.cs
Labels: auto-merge

#47022 Clean up LSP request handlers
  src/Features/LanguageServer/Protocol/AbstractRequestHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/AbstractRequestHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Commands/ExecuteWorkspaceCommandHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/AbstractGoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Definitions/GoToTypeDefinitionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/ExportLspMethodAttribute.cs
  src/Features/LanguageServer/Protocol/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/AbstractFormatDocumentHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Highlights/DocumentHighlightHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Initialize/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/Features/LanguageServer/Protocol/Handler/ProjectContext/GetTextDocumentWithContextHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Rename/RenameHandler.cs
  src/Features/LanguageServer/Protocol/Handler/RequestContext.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.QueueItem.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensEditsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SignatureHelp/SignatureHelpHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/LanguageServerProtocol.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/FailingMutatingRequestHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/FailingRequestHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/MutatingRequestHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Ordering/NonMutatingRequestHandler.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Hover/HoverHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Initialize/InitializeHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLanguageServerProtocol.cs
Labels: Area-IDE, auto-merge

#47037 Don't include out params in "Add null check for all parameters"
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/VisualBasicTest/InitializeParameter/AddParameterCheckTests.vb
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
Labels: Area-IDE, Community

#47119 Add VS Code contributing instructions
  docs/contributing/Building, Debugging, and Testing on Unix.md
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-Infrastructure, Documentation

#47122 Fix formatting in AddParameterCheckTests
  src/EditorFeatures/VisualBasicTest/InitializeParameter/AddParameterCheckTests.vb
Labels: Area-Infrastructure, auto-merge

#47110 Don't handle local documentation comment commands in the cloud
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
Labels: Area-IDE

#47134 Disable local hover in cloud env
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/QuickInfoSourceProvider.cs
Labels: Area-IDE, CloudEnv, auto-merge

#46919 Expose ParseOptions on generator context
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/SourceGeneratorContext.cs
Labels: Area-Compilers

#47095 Adjust PrintMembers to avoid boxing and avoid extra space
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPrintMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordToString.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47146 Delete Building for Core CLR.md
  docs/compilers/Building for Core CLR.md
Labels: Area-Compilers, Documentation

#47150 Ensure that we do not re-use CompilationWithAnalyzers in presence of cancellation
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test/Microsoft.CodeAnalysis.EditorFeatures.UnitTests.csproj
  src/Features/Core/Portable/Diagnostics/DocumentAnalysisExecutor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysis/Diagnostics/DiagnosticComputer.cs
Labels: Area-IDE, auto-merge

#47025 Recover gracefully from a decision dag that somehow has cycles during construction. (#45983)
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests2.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/TopologicalSortTests.cs
  src/Compilers/Core/Portable/Collections/TopologicalSort.cs
Labels: Approved to merge, Area-Compilers

#46832 Introduce warning for multiple entry points (sync + async)
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilerDiagnosticAnalyzer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Emit/EntryPointTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, Community, New Feature - Warning Waves

#47124 Update nullable annotations for C# 9
  src/CodeStyle/Core/CodeFixes/Host/Mef/CodeStyleHostLanguageServices.MefHostExportProvider.cs
  src/Compilers/CSharp/Portable/CSharpExtensions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/DiscardSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/EventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/LabelSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxVisitor.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisValueProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationAnalysisValueProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticStartAnalysisScope.cs
  src/Compilers/Core/Portable/InternalUtilities/ConsList`1.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/Compilers/Core/Portable/InternalUtilities/OneOrMany.cs
  src/Compilers/Core/Portable/InternalUtilities/ReflectionUtilities.cs
  src/Compilers/Core/Portable/InternalUtilities/RoslynLazyInitializer.cs
  src/Compilers/Core/Portable/InternalUtilities/WeakReferenceExtensions.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Resolution.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonAttributeData.cs
  src/Compilers/Core/Portable/Symbols/SymbolVisitor`1.cs
  src/Compilers/Core/Portable/Symbols/TypedConstant.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceWriter.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/Extensions/IVsHierarchyExtensions.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationArrayTypeSymbol.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationEventSymbol.cs
  src/Workspaces/Core/Portable/Options/IGlobalOptionService.cs
  src/Workspaces/Core/Portable/Options/IOptionService.cs
  src/Workspaces/Core/Portable/Options/OptionServiceFactory.cs
  src/Workspaces/Core/Portable/Remote/RemoteServiceName.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IComparerExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ILanguageMetadataExtensions.cs
  src/Workspaces/Core/Portable/SymbolKey/SymbolKey.PooledArrayBuilder.cs
  src/Workspaces/Core/Portable/Utilities/ReferenceHolder`1.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostLanguageServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostWorkspaceServices.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Remote/ServiceHub/Host/AssetStorage.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ObjectExtensions.TypeSwitch.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/ContextIntervalTree.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/IDictionaryExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/IReadOnlyDictionaryExtensions.cs
Labels: Area-Compilers, Concept-Null Annotations

#47127 Fix crash when lowering decision dag
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
Labels: Approved to merge, Area-Compilers

#47159 Switch from throwing NotImplementedException and return E_NOTIMPL
  src/VisualStudio/Core/Def/Implementation/Library/AbstractLibraryManager_IVsSimpleLibrary2.cs
Labels: auto-merge

#47062 Fix bug when "End statement" is used in single-line if
  src/Compilers/VisualBasic/Portable/Parser/ParseScan.vb
  src/Compilers/VisualBasic/Test/Semantic/Binding/Binder_Statements_Tests.vb
Labels: Area-Compilers, Community, auto-merge

#47113 Don't offer FixReturnType fix if both are void
  src/EditorFeatures/CSharpTest/Diagnostics/FixReturnType/FixReturnTypeTests.cs
  src/Features/CSharp/Portable/CodeFixes/FixReturnType/CSharpFixReturnTypeCodeFixProvider.cs
Labels: Area-IDE, Community

#46987 Fix F1 keyword for interpolated and verbatim strings
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
Labels: Area-IDE, Community

#47008 Initial errors on UnmanagedCallersOnly
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
Labels: Area-Compilers, New Feature - Function Pointers, auto-merge

#47100 Don't load generators that target net framework explicitly.
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerLoadFailureEventArgs.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Labels: Area-Compilers, New Feature - Source Generators

#46955 Cache semantic classifications and display from the cache while a solution is loading.
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationUtilities.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/VisualStudio/Core/Def/Implementation/SemanticClassificationCache/SemanticClassificationCacheIncrementalAnalyzerProvider.cs
  src/VisualStudio/Core/Def/Implementation/SemanticClassificationCache/VisualStudioSemanticClassificationCacheService.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/Workspaces/Core/Portable/Classification/IRemoteSemanticClassificationCacheService.cs
  src/Workspaces/Core/Portable/Classification/IRemoteSemanticClassificationService.cs
  src/Workspaces/Core/Portable/Classification/ISemanticClassificationCacheService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/DocumentKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IChecksummedPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/ProjectKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/SolutionKey.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysis/CodeAnalysisService_SemanticClassification.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeAnalysis/CodeAnalysisService_SemanticClassificationCache.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: auto-merge
