Repository dotnet/roslyn, pull requests merged in 2021-10, with the labels that each got.

#56581 Concurrency issue with fixed fields
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/DeterministicTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/SymbolMatcherTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBIteratorTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
Labels: Area-Compilers

#56829 Avoid UI dependency in CloudCache by passing along the solution folder
  src/Tools/IdeCoreBenchmarks/CloudCache/IdeCoreBenchmarksCloudCacheServiceProvider.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/CloudCachePersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/Mocks/MockCloudCachePersistentStorageService.cs
  src/VisualStudio/Core/Def/Storage/AbstractCloudCachePersistentStorageService.cs
  src/VisualStudio/Core/Def/Storage/CloudCachePersistentStorage.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioCloudCacheStorageService.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioCloudCacheStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/StorageOptions.cs
  src/Workspaces/Remote/ServiceHub/Host/Storage/RemoteCloudCacheStorageServiceFactory.cs
Labels: Area-IDE, Approved to merge

#56893 Delete dead code from analzyer infrastructure
  src/Features/Core/Portable/SolutionCrawler/State/AbstractAnalyzerState.cs
  src/Features/Core/Portable/SolutionCrawler/State/AbstractDocumentAnalyzerState.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/DocumentKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/ProjectKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/SolutionKey.cs
  src/Workspaces/Remote/ServiceHub/Services/NavigateToSearch/RemoteNavigateToSearchService.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassificationCache/RemoteSemanticClassificationCacheService.cs
Labels: Area-IDE

#56881 Add info to logs so we can determine issue serializing options
  src/Workspaces/Core/Portable/Options/SerializableOptionSet.cs
  src/Workspaces/Remote/ServiceHub/Host/TestUtils.cs
Labels: Area-IDE

#56901 Better conversion from expression and lambda return types: add tests and comment for breaking change
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
Labels: Area-Compilers, Test, New Feature - Lambda Improvements

#56897 Give each process a unique DB, not each workspace
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/DocumentKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageConfiguration.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/ProjectKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/SolutionKey.cs
  src/Workspaces/Remote/ServiceHub/Services/NavigateToSearch/RemoteNavigateToSearchService.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassificationCache/RemoteSemanticClassificationCacheService.cs
Labels: Area-IDE

#56588 Ensure we match equivalent paths when retrieving analyzer options in global configs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerConfigTests.cs
  src/Compilers/Core/CodeAnalysisTest/FileUtilitiesTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
  src/Interactive/Host/Microsoft.CodeAnalysis.InteractiveHost.csproj
Labels: Area-Compilers, New Feature - Editor Config

#56902 Don't offer to remove variable in situations where we would crash
  src/EditorFeatures/CSharpTest/RemoveUnusedVariable/RemoveUnusedVariableTests.cs
  src/Features/CSharp/Portable/RemoveUnusedVariable/CSharpRemoveUnusedVariableCodeFixProvider.cs
  src/Features/Core/Portable/RemoveUnusedVariable/AbstractRemoveUnusedVariableCodeFixProvider.cs
  src/Features/VisualBasic/Portable/RemoveUnusedVariable/VisualBasicRemoveUnusedVariableCodeFixProvider.vb
Labels: Area-IDE

#56895 Delete unnecessary code
  src/VisualStudio/Core/Def/Interactive/VsResetInteractive.cs
Labels: Area-Interactive

#56891 Ensure that OOP feature calls read from the right DB.
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/DocumentKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/ProjectKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/SolutionKey.cs
  src/Workspaces/Remote/ServiceHub/Services/NavigateToSearch/RemoteNavigateToSearchService.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassificationCache/RemoteSemanticClassificationCacheService.cs
Labels: Area-IDE, Approved to merge

#56772 Add test verifying VB error ranges
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilerDiagnosticAnalyzer.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/AttributeTests_UnmanagedCallersOnly.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicErrorFactsGenerator/Program.vb
Labels: Area-Analyzers, Area-Compilers

#56909 Add telemetry to let us know how often our navto cache is benefitting the user.
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#56864 Treat receivers as by-value for interpolated string handler constructors
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_InterpolatedString.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers, New Feature - Interpolated String Improvements

#56915 Unskip AttributeTests.GenericAttributeParameter_01
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests.cs
Labels: Area-Compilers, Test

#56759 Emit compiler version to Windows PDB
  src/Compilers/Core/Portable/DiaSymReader/Metadata/IMetadataEmit.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/ISymUnmanagedCompilerInfoWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriter.cs
  src/Compilers/Core/Portable/DiaSymReader/Writer/SymUnmanagedWriterImpl.cs
  src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Test/PdbUtilities/Writer/MockSymUnmanagedWriter.cs
Labels: Area-Compilers

#56917 Add error reporting to Inline Hints
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsTagger.cs
Labels: Area-IDE

#56921 Add A/B option so we can test how important recoverable syntax trees are.
  src/Workspaces/CSharp/Portable/Workspace/LanguageServices/CSharpSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/WorkspaceConfigurationOptions.cs
  src/Workspaces/VisualBasic/Portable/Workspace/LanguageServices/VisualBasicSyntaxTreeFactoryService.vb
Labels: Area-IDE

#56912 Obsolete the legacy persistence service.
  src/EditorFeatures/Test/Preview/PreviewWorkspaceTests.cs
  src/Tools/AnalyzerRunner/IncrementalAnalyzerRunner.cs
  src/Tools/IdeCoreBenchmarks/FindReferencesBenchmarks.cs
  src/Tools/IdeCoreBenchmarks/NavigateToBenchmarks.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Storage/LegacyPersistentStorageService.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostWorkspaceServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageService.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-IDE

#56888 Separate IDE and editorconfig formatting options
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticBraceCompletionTests.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterEnterOnTokenTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterTests.cs
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
  src/EditorFeatures/CSharpTest/Wrapping/AbstractWrappingTests.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.Paste.cs
  src/EditorFeatures/VisualBasic/LineCommit/CommitCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/Wrapping/AbstractParameterWrappingTests.vb
  src/Features/CSharp/Portable/Formatting/CSharpFormattingInteractionService.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsFeatureService.cs
  src/Features/Core/Portable/Wrapping/AbstractCodeActionComputer.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject/AutomationObject.Formatting.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/FormattingOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Test/EditorConfigSettings/DataProvider/DataProviderTests.cs
  src/VisualStudio/Core/Impl/Options/GridOptionPreviewControl.xaml.cs
  src/VisualStudio/VisualBasic/Impl/Options/AutomationObject/AutomationObject.Formatting.vb
  src/Workspaces/CSharp/Portable/Indentation/CSharpIndentationService.cs
  src/Workspaces/Core/Portable/Formatting/Formatter.cs
  src/Workspaces/Core/Portable/Formatting/FormattingBehaviorOptions.cs
  src/Workspaces/Core/Portable/Formatting/FormattingOptions.cs
  src/Workspaces/Core/Portable/Formatting/FormattingOptionsProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/FormattingOptions2.cs
Labels: Area-IDE

#56925 Fix a typo
  src/EditorFeatures/CSharp/AutomaticCompletion/AutomaticLineEnderCommandHandler.cs
Labels: Area-IDE

#56790 See through ref pointer indirection when optimizing stack locals
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PointerElementAccess.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefConditionalOperatorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefOutTests.cs
Labels: Area-Compilers

#56935 Move SymbolKey to a shared-source location so it can be used by our analzyer code.
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AliasSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AnonymousFunctionOrDelegateSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AnonymousTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ArrayTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AssemblySymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.BodyLevelSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ComparisonOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.DynamicTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ErrorTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.EventSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.FieldSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.FunctionPointerTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.MethodSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ModuleSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamespaceSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ParameterSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.PointerTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.PooledArrayBuilder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.PropertySymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyComparer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyWriter.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.TupleTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.TypeParameterOrdinalSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.TypeParameterSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKeyExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKeyResolution.Enumeration.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKeyResolution.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKeyResolutionExtensions.cs
Labels: Area-IDE

#56896 CompletionService: remove public constructor
  docs/Breaking API Changes.md
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/Features/Core/Portable/Completion/CompletionContext.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionServiceWithProviders.cs
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptCompletionServiceWithProviders.cs
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptOptions.cs
  src/Features/Core/Portable/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/FSharp/Completion/FSharpCompletionServiceWithProviders.cs
  src/Tools/ExternalAccess/OmniSharp/Completion/OmniSharpCompletionService.cs
Labels: Area-IDE

#56911 Disallow 'var' as an explicit lambda expression return type
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 6.md
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaReturnTypeParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
Labels: Area-Compilers

#56894 Add external access for vscode telemetry
  global.json
  src/Features/LanguageServer/Protocol/ExternalAccess/VSCode/API/VSCodeTelemetryLogger.cs
  src/VisualStudio/Core/Def/RoslynActivityLogger.cs
  src/Workspaces/Core/Portable/Log/FunctionIdExtensions.cs
Labels: Area-IDE, LSP

#53043 Update support for finding CodeLens references from source generated files
  src/Features/Core/Portable/CodeLens/CodeLensReferencesService.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/CodeLensCallbackListener.cs
  src/VisualStudio/Core/Def/Implementation/CodeLens/RemoteCodeLensReferencesService.cs
  src/Workspaces/Remote/ServiceHub/Services/CodeLensReferences/RemoteCodeLensReferencesService.cs
Labels: Area-IDE

#56944 Create DiagnosticSuppressorDesign.md
  docs/analyzers/DiagnosticSuppressorDesign.md
Labels: Area-Analyzers

#56943 Update PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure

#56970 Update PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure

#56964 Simplify implementation of Inline-Temporary
  src/EditorFeatures/CSharpTest/CodeActions/InlineTemporary/InlineTemporaryTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/InlineTemporary/InlineTemporaryTests.vb
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.InitializerRewriter.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.ReferenceRewriter.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/Core/Portable/InlineTemporary/AbstractInlineTemporaryCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineTemporary/VisualBasicInlineTemporaryCodeRefactoringProvider.ReferenceRewriter.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineTemporary/VisualBasicInlineTemporaryCodeRefactoringProvider.vb
Labels: Area-IDE

#57396 Use VS2022 images when building Roslyn in CI
  azure-pipelines-official.yml
  azure-pipelines-pr-validation.yml
  azure-pipelines-richnav.yml
  azure-pipelines.yml
Labels: Area-Infrastructure

#57456 Forbid interpolated string handler conversions that reference an instance as indexer arguments in nested member initializers
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 7.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers

#57454 Remove legacy property from tagging
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/TaggerContext.cs
Labels: Area-IDE
