Repository dotnet/roslyn, pull requests merged in 2021-04, with the labels that each got.

#52304 Simplify navigate to code.
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
Labels: Area-IDE

#52303 Move IDE0066 'ContainsDirectives' check from analyzer to code fix
  src/Analyzers/CSharp/Analyzers/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
Labels: Area-Analyzers

#52305 Avoid realizing a syntax node from a tree that doesn't own the context.
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
Labels: Area-Compilers

#52260 Address crash in the cloud cache system when doing two single byte reads.
  src/Tools/IdeCoreBenchmarks/IdeCoreBenchmarks.csproj
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Def/Storage/CloudCachePersistentStorage.cs
  src/VisualStudio/Core/Def/Storage/Nerdbank/ReadOnlySequenceStream.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE

#52294 Replace iff with "if and only if"
  src/Compilers/CSharp/Portable/FlowAnalysis/CSharpDataFlowAnalysis.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ControlFlowAnalysis.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/Core/Portable/Compilation/ControlFlowAnalysis.cs
  src/Compilers/Core/Portable/Compilation/DataFlowAnalysis.cs
  src/Compilers/Core/Portable/InternalUtilities/NoThrowStreamDisposer.cs
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Features/Core/Portable/Completion/CompletionHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/System.Text/Rune.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/System.Text/UnicodeUtility.cs
Labels: Area-Compilers

#52335 Fix global option service to handle non-default values from persisters
  src/Workspaces/Core/Portable/Options/GlobalOptionService.cs
  src/Workspaces/CoreTest/Host/WorkspaceServices/TestOptionService.cs
  src/Workspaces/CoreTest/WorkspaceServiceTests/OptionServiceTests.cs
Labels: Approved to merge, Area-IDE

#52086 Make order of extension loading deterministic
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
Labels: Area-Compilers

#52280 Pass CancellationTokens in the EditorFeature layer
  src/EditorFeatures/Core.Cocoa/NavigationCommandHandlers/FindImplementingMembersCommandHandler.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/Controller.Session_ComputeModel.cs
  src/EditorFeatures/Core/Implementation/InlineRename/InlineRenameSession.OpenTextBufferManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/QuickInfoSourceProvider.QuickInfoSource.cs
  src/EditorFeatures/Core/Implementation/RenameTracking/RenameTrackingTaggerProvider.StateMachine.cs
  src/EditorFeatures/Core/Implementation/RenameTracking/RenameTrackingTaggerProvider.cs
  src/EditorFeatures/Core/SymbolSearch/SymbolSearchUpdateEngine.Update.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
Labels: Area-IDE

#52278 Pass CancellationToken at Features layer
  src/Features/CSharp/Portable/Completion/CompletionProviders/XmlDocCommentCompletionProvider.cs
  src/Features/CSharp/Portable/Debugging/CSharpBreakpointResolutionService.cs
  src/Features/CSharp/Portable/Debugging/CSharpProximityExpressionsService.cs
  src/Features/CSharp/Portable/Debugging/DataTipInfoGetter.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.ExtensionMethodSymbolComputer.cs
  src/Features/Core/Portable/Debugging/AbstractBreakpointResolver.cs
  src/Features/Core/Portable/DesignerAttribute/AbstractDesignerAttributeIncrementalAnalyzer.cs
  src/Features/Core/Portable/Diagnostics/DocumentAnalysisExecutor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDocumentAnalysesCache.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineTypeHintsService.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceFileService.cs
  src/Features/Core/Portable/Shared/Utilities/ExtractTypeHelpers.cs
  src/Features/Core/Portable/SolutionCrawler/AbstractDocumentDifferenceService.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.HighPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.IncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.LowPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.NormalPriorityProcessor.cs
  src/Features/VisualBasic/Portable/ChangeSignature/VisualBasicChangeSignatureService.vb
  src/Features/VisualBasic/Portable/CodeFixes/ConvertToAsync/VisualBasicConvertToAsyncFunctionCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeFixes/GenerateEvent/GenerateEventCodeFixProvider.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.ReferenceRewriter.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/XmlDocCommentCompletionProvider.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Declarations/ImplementsKeywordRecommender.vb
  src/Features/VisualBasic/Portable/Completion/KeywordRecommenders/Expressions/BinaryOperatorKeywordRecommender.vb
  src/Features/VisualBasic/Portable/Debugging/VisualBasicBreakpointService.vb
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicSimplifyTypeNamesDiagnosticAnalyzer.vb
  src/Features/VisualBasic/Portable/GenerateType/VisualBasicGenerateTypeService.vb
  src/Features/VisualBasic/Portable/NavigationBar/VisualBasicNavigationBarItemService.vb
  src/Features/VisualBasic/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.vb
Labels: Area-IDE

#52277 Pass CancellationTokens in the Interactive layer
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
Labels: Area-Interactive

#52144 Remove misleading default value for TodoCommentOptions.TokenList
  src/EditorFeatures/CSharpTest/TodoComment/NoCompilationTodoCommentTests.cs
  src/EditorFeatures/CSharpTest/TodoComment/TodoCommentTests.cs
  src/EditorFeatures/TestUtilities/TodoComments/AbtractTodoCommentTests.cs
  src/EditorFeatures/VisualBasicTest/TodoComment/TodoCommentTests.vb
  src/Features/Core/Portable/TodoComments/AbstractTodoCommentService.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/CommentTaskTokenSerializer.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/TodoComments/TodoCommentOptions.cs
Labels: Area-IDE

#52275 Pass CancellationToken in the Workspace layer
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassificationService.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService_Reference.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState_Checksum.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SemanticFacts/VisualBasicSemanticFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Utilities/CastAnalyzer.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ContextQuery/SyntaxTreeExtensions.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/NamedTypeGenerator.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicExtensionMethodReducer.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Simplifiers/ExpressionSimplifier.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Simplifiers/NameSimplifier.vb
  src/Workspaces/VisualBasic/Portable/Simplification/VisualBasicSimplificationService.vb
Labels: Area-IDE

#52145 Inheritance Margin UI
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceGlyphFactory.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceGlyphFactoryProvider.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceMarginHelpers.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceMarginTag.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceMarginTaggerProvider.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/MarginGlyph/InheritanceContextMenuItemViewModel.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/MarginGlyph/InheritanceMargin.xaml
  src/EditorFeatures/Core.Wpf/InheritanceMargin/MarginGlyph/InheritanceMargin.xaml.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/MarginGlyph/InheritanceMarginViewModel.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/MarginGlyph/MemberMenuItemViewModel.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/MarginGlyph/TargetMenuItemViewModel.cs
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionHelpers.cs
  src/EditorFeatures/Core/InheritanceMargin/AbstractInheritanceMarginService.cs
  src/EditorFeatures/Core/InheritanceMargin/AbstractInheritanceMarginService_Helpers.cs
  src/EditorFeatures/Core/InheritanceMargin/IInheritanceMarginService.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceMarginItem.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceTargetItem.cs
  src/EditorFeatures/Test/InheritanceMargin/InheritanceMarginTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#52342 Offer href as completion attribute for <see/> doc comments
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/XmlDocumentationCommentCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractDocCommentCompletionProvider.cs
Labels: Area-IDE, Community

#52332 Mark import completion items as complex
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/AbstractCSharpCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/CrefCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/LoadDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PartialMethodCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ReferenceDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests_NoInteractive.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/XmlDocumentationCommentCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/AbstractVisualBasicCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/OverrideCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/XmlDocCommentCompletionProviderTests.vb
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ImportCompletionItem.cs
Labels: Area-IDE

#51981 Handle function pointer and xml normalization
  src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
Labels: Area-Compilers, Community

#52315 Move to a single simple type for internal NavTo results
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.SearchResult.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/IRemoteNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/RoslynNavigateToItem.cs
  src/Features/Core/Portable/Navigation/NavigableItemFactory.DeclaredSymbolNavigableItem.cs
  src/Features/Core/Portable/Navigation/NavigableItemFactory.cs
  src/Features/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/Core/Portable/FindSymbols/DeclaredSymbolInfo.cs
  src/Workspaces/Remote/ServiceHub/Services/NavigateToSearch/RemoteNavigateToSearchService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ISolutionExtensions.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicDeclaredSymbolInfoFactoryService.vb
Labels: Area-IDE

#52228 Allow `abstract` and `sealed` modifiers on static methods/properties/events in interfaces.
  docs/features/StaticAbstractMembersInInterfaces.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedConversionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
Labels: Area-Compilers

#52359 Restore original OptionSet constructor
  src/Workspaces/Core/Portable/Options/OptionSet.cs
Labels: Approved to merge, Area-IDE

#52355 Remove unnecessary test delays
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
Labels: Area-Infrastructure

#52354 Fix Quick Info integration tests
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/OutOfProcComponent.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/TextViewWindow_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownCommandNames.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute.cs
Labels: Area-IDE

#52282 Enforce passing CancellationTokens were present
  eng/config/globalconfigs/Shipping.globalconfig
  src/Analyzers/CSharp/CodeFixes/InlineDeclaration/CSharpInlineDeclarationCodeFixProvider.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
Labels: Area-Infrastructure

#52366 Implement several aspects of "Static Abstract Members In Interfaces" feature.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldLikeEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/VarianceSafety.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
Labels: Area-Compilers

#52256 Record-structs: Address some PROTOTYPE markers
  src/Compilers/CSharp/CSharpAnalyzerDriver/CSharpDeclarationComputer.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationKind.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Portable/Syntax/TypeDeclarationSyntax.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RecordParsing.cs
Labels: Area-Compilers, New Language Feature - Records

#52364 Handle typeof expression in complete statement
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE, Community

#52363 Fix namespaces
  src/Features/CSharp/Portable/Completion/CompletionProviders/PreprocessorCompletionProvider.cs
  src/Features/CSharp/Portable/ConvertAnonymousTypeToClass/CSharpConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractPreprocessorCompletionProvider.cs
  src/Features/Core/Portable/ConvertAnonymousTypeToClass/AbstractConvertAnonymousTypeToClassCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/PreprocessorCompletionProvider.vb
  src/Features/VisualBasic/Portable/ConvertAnonymousTypeToClass/VisualBasicConvertAnonymousTypeToClassCodeRefactoringProvider.vb
Labels: Area-IDE, Community

#52261 Record-structs: validate and fix a number of IDE tests
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/MakeTypeAbstract/MakeTypeAbstractTests.cs
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToTests.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Callback.cs
  src/EditorFeatures/TestUtilities/NavigateTo/AbstractNavigateToTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationNameCompletionProvider.DeclarationInfo.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.SearchResult.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/NavigateToItemKind.cs
  src/Features/Core/Portable/Navigation/NavigableItemFactory.DeclaredSymbolNavigableItem.cs
  src/Tools/ExternalAccess/FSharp/NavigateTo/FSharpNavigateToItemKind.cs
  src/VisualStudio/CSharp/Impl/Progression/CSharpProgressionLanguageService.cs
  src/VisualStudio/Core/Test/Progression/ContainsGraphQueryTests.vb
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/Core/Portable/FindSymbols/DeclaredSymbolInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Serialization.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
Labels: Area-Compilers, New Language Feature - Records

#52351 Avoid OOP syncing when doing a nav-to search during the initial load of a solution.
  src/EditorFeatures/Core.Wpf/Interactive/InteractiveDocumentNavigationService.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemDisplay.cs
  src/EditorFeatures/TestUtilities2/Utilities/GoToHelpers/MockDocumentNavigationService.vb
  src/EditorFeatures/TestUtilities2/Utilities/MockDocumentNavigationServiceProvider.vb
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/VSTypeScriptNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/IRemoteNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Features/Core/Portable/NavigateTo/RoslynNavigateToItem.cs
  src/Features/Core/Portable/Navigation/DefaultDocumentNavigationService.cs
  src/Features/Core/Portable/Navigation/IDocumentNavigationService.cs
  src/Features/Core/Portable/Navigation/INavigableItem.cs
  src/Features/Core/Portable/Navigation/NavigableItemFactory.SymbolLocationNavigableItem.cs
  src/Tools/ExternalAccess/FSharp/Internal/Navigation/InternalFSharpNavigableItem.cs
  src/VisualStudio/Core/Def/Implementation/SemanticClassificationCache/VisualStudioSemanticClassificationCacheService.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioDocumentNavigationService.cs
  src/VisualStudio/LiveShare/Test/MockDocumentNavigationServiceFactory.cs
  src/Workspaces/Core/Portable/Classification/IRemoteSemanticClassificationCacheService.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder_GlobalSuppressions.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorInitializerSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ExplicitConversionSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Persistence.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_StringIds.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/DocumentKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/ProjectKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/SolutionKey.cs
  src/Workspaces/Remote/ServiceHub/Services/NavigateToSearch/RemoteNavigateToSearchService.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassificationCache/RemoteSemanticClassificationCacheService.cs
Labels: Area-IDE

#52379 Comments clean up for inheritance margin
  src/EditorFeatures/CSharp/InheritanceMargin/CSharpInheritanceMarginService.cs
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/InheritanceMargin/AbstractInheritanceMarginService.cs
  src/EditorFeatures/Test/InheritanceMargin/InheritanceMarginTests.cs
  src/EditorFeatures/VisualBasic/InheritanceMargin/VisualBasicInheritanceMarginService.vb
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceGlyphFactory.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceGlyphFactoryProvider.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceMarginHelpers.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceMarginTag.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceMarginTaggerProvider.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceContextMenuItemViewModel.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceMargin.xaml
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceMargin.xaml.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceMarginViewModel.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/MemberMenuItemViewModel.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/TargetMenuItemViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Area-IDE

#52357 Merge inheritance margin feature
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharp/InheritanceMargin/CSharpInheritanceMarginService.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/GoToBase/FindBaseHelpers.cs
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionHelpers.cs
  src/EditorFeatures/Core/InheritanceMargin/AbstractInheritanceMarginService.cs
  src/EditorFeatures/Core/InheritanceMargin/AbstractInheritanceMarginService_Helpers.cs
  src/EditorFeatures/Core/InheritanceMargin/IInheritanceMarginService.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceMarginItem.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceRelationship.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceTargetItem.cs
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Test/InheritanceMargin/InheritanceMarginTests.cs
  src/EditorFeatures/VisualBasic/InheritanceMargin/VisualBasicInheritanceMarginService.vb
  src/EditorFeatures/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.EditorFeatures.vbproj
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceGlyphFactory.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceGlyphFactoryProvider.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceMarginHelpers.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceMarginTag.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/InheritanceMarginTaggerProvider.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceContextMenuItemViewModel.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceMargin.xaml
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceMargin.xaml.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/InheritanceMarginViewModel.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/MemberMenuItemViewModel.cs
  src/VisualStudio/Core/Def/Implementation/InheritanceMargin/MarginGlyph/TargetMenuItemViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Approved to merge, Area-IDE

#52392 Import System namespace when adding null check
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/VisualBasicTest/InitializeParameter/AddParameterCheckTests.vb
  src/Features/CSharp/Portable/InitializeParameter/CSharpAddParameterCheckCodeRefactoringProvider.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE

#52395 Fix tuple naming
  src/Features/CSharp/Portable/BraceCompletion/ParenthesisBraceCompletionService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE

#52410 Run on both x64 and x86
  src/Compilers/CSharp/Test/Semantic/Semantics/TryCatchTests.cs
Labels: Area-Compilers

#52408 Record-structs: don't offer to complete destructor
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
Labels: Area-IDE, New Language Feature - Records

#52387 Fix typo
  src/Workspaces/Remote/Core/RemoteWorkspacesResources.resx
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.cs.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.de.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.es.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.fr.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.it.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.ja.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.ko.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.pl.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.pt-BR.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.ru.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.tr.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.zh-Hans.xlf
  src/Workspaces/Remote/Core/xlf/RemoteWorkspacesResources.zh-Hant.xlf
Labels: Area-IDE

#52322 Add PathUtilities.CombinePaths with same semantics as Path.Combine
  src/Compilers/Core/CodeAnalysisTest/FileSystem/PathUtilitiesTests.cs
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
Labels: Area-Compilers

#52393 Delete duplicate test
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
Labels: Area-IDE, Community

#52384 Misc EnC fixes and clean-up
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/Remote/IRemoteEditAndContinueService.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
Labels: Area-Interactive

#52188 Fix typos
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Emitter/NoPia/EmbeddedEvent.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/UsedAssembliesTests.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/DebuggerAttributes.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/Portable/Binding/UseSiteInfo.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Attributes.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Lookup.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_Statements.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundMethodGroup.vb
  src/Compilers/VisualBasic/Portable/Emit/NoPia/EmbeddedEvent.vb
  src/Compilers/VisualBasic/Portable/Semantics/Operators.vb
  src/Compilers/VisualBasic/Portable/Symbols/ReducedExtensionMethodSymbol.vb
  src/Compilers/VisualBasic/Test/Symbol/UsedAssembliesTests.vb
Labels: Area-Compilers

#52380 Return cached results from nav to while we are loading the solution
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToSearcherTests.cs
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToTests.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.cs
  src/EditorFeatures/TestUtilities/NavigateTo/AbstractNavigateToTests.cs
  src/EditorFeatures/VisualBasicTest/NavigateTo/NavigateToTests.vb
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/VSTypeScriptNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearcherHost.cs
  src/Features/Core/Portable/NavigateTo/IRemoteNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/Tools/ExternalAccess/FSharp/Internal/NavigateTo/FSharpNavigateToSearchService.cs
  src/VisualStudio/Core/Def/Implementation/NavigateTo/VisualStudioNavigateToItemProviderFactory.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
  src/Workspaces/Remote/ServiceHub/Services/NavigateToSearch/RemoteNavigateToSearchService.cs
Labels: Area-IDE

#52321 Rebuild extern aliases
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.State.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/Rebuild/MetadataReferenceInfo.cs
  src/Compilers/Core/RebuildTest/RebuildCommandLineTests.cs
  src/Compilers/Core/RebuildTest/RoundTripUtil.cs
  src/Tools/BuildValidator/LocalReferenceResolver.cs
Labels: Area-Compilers, New Language Feature - Rebuild

#52362 Enable CA1012
  .editorconfig
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValuesTestsBase.cs
  src/EditorFeatures/CSharpTest/AddUsing/AbstractAddUsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/AbstractCSharpDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractSuppressionDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractUnncessarySuppressionDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractUserDiagnosticTest.cs
  src/EditorFeatures/TestUtilities/Formatting/CoreFormatterTestsBase.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspaceFixture.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/AbstractVisualBasicDiagnosticProviderBasedUserDiagnosticTest.vb
Labels: Area-IDE, Community

#52426 MAke cancellation token optional
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorageService.cs
Labels: Area-IDE

#52337 Fix duplicate text in resource string
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, Community

#52314 Initial API stubs for incremental generation
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/GeneratorContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/IIncrementalGenerator.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalOutputs.cs
Labels: Area-Compilers

#52369 Task 1285177: [LSP] Support Pull Diagnostics correctly for local client
  src/VisualStudio/Xaml/Impl/Features/Diagnostics/XamlDiagnosticSeverity.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/XamlProjectService.cs
  src/VisualStudio/Xaml/Impl/Implementation/XamlProjectService_IVsRunningDocTableEvents3.cs
Labels: Area-IDE

#52381 Some clean up in anyc completion
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/AsyncCompletionLogger.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManagerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionFilterReason.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CompletionSourceProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/FilterSet.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/Helpers.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManagerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/MatchResult.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/RecentItemsManager.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/BraceCompletionMetadata.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/CompletionFilterReason.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/Completion/PrioritizedTaskScheduler.cs
Labels: Area-IDE

#52070 Remove usages of ConfigureAwait in tests
  src/Compilers/Core/CodeAnalysisTest/AsyncQueueTests.cs
  src/Compilers/Server/VBCSCompilerTests/BuildClientTests.cs
  src/Compilers/Server/VBCSCompilerTests/ClientConnectionHandlerTests.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Server/VBCSCompilerTests/NamedPipeClientConnectionHostTests.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerServerTests.cs
Labels: Area-Compilers

#52431 Wait for Quick Info to render before reading content
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
Labels: Area-Infrastructure

#52429 Rename tagger for clarity
  src/EditorFeatures/CSharpTest/Classification/CopyPasteAndPrintingClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/Core/Implementation/Classification/CopyPasteAndPrintingClassificationBufferTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Implementation/Classification/CopyPasteAndPrintingClassificationBufferTaggerProvider.cs
Labels: Area-IDE

#52361 Fix handling of out/ref params
  src/EditorFeatures/Core/ValueTracking/ValueTrackingService.FindReferencesProgress.cs
  src/EditorFeatures/Core/ValueTracking/ValueTrackingService.Visitor.cs
  src/EditorFeatures/Core/ValueTracking/ValueTrackingService.cs
  src/EditorFeatures/Test/ValueTracking/AbstractBaseValueTrackingTests.cs
  src/EditorFeatures/Test/ValueTracking/CSharpValueTrackingTests.cs
  src/EditorFeatures/Test/ValueTracking/VisualBasicValueTrackingTests.cs
Labels: Area-IDE

#52272 Rebuild assemblies with non-embedded PDBs
  src/Compilers/Core/Rebuild/CompilationFactory.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/Rebuild/Extensions.cs
  src/Compilers/Core/RebuildTest/CSharpRebuildTests.cs
  src/Compilers/Core/RebuildTest/Microsoft.CodeAnalysis.Rebuild.UnitTests.csproj
  src/Compilers/Core/RebuildTest/OptionRoundTripTests.cs
  src/Compilers/Core/RebuildTest/RebuildCommandLineTests.cs
  src/Compilers/Core/RebuildTest/RoundTripUtil.cs
  src/Tools/BuildValidator/CompilationDiff.cs
  src/Tools/BuildValidator/LocalSourceResolver.cs
  src/Tools/BuildValidator/Program.cs
Labels: Area-Compilers

#52442 Fix PR validation merge
  eng/setup-pr-validation.ps1
Labels: Area-Infrastructure

#52440 Show arrays as standard public classes.
  src/Features/Core/Portable/Shared/Extensions/ISymbolExtensions_2.cs
Labels: Area-IDE

#52340 Rebuild support for OutputKind
  eng/test-rebuild.ps1
  src/Compilers/Core/Portable/PEWriter/CompilationOptionNames.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Rebuild/CSharpCompilationFactory.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/Rebuild/MetadataCompilationOptions.cs
  src/Compilers/Core/Rebuild/Microsoft.CodeAnalysis.Rebuild.csproj
  src/Compilers/Core/Rebuild/VisualBasicCompilationFactory.cs
  src/Compilers/Core/RebuildTest/CompilationOptionsReaderTests.cs
  src/Compilers/Core/RebuildTest/RebuildCommandLineTests.cs
Labels: Area-Compilers, New Language Feature - Rebuild

#52434 Add reference update operation
  src/VisualStudio/Core/Def/ExternalAccess/ProjectSystem/Api/IProjectSystemReferenceCleanupService2.cs
  src/VisualStudio/Core/Def/ExternalAccess/ProjectSystem/Api/IProjectSystemUpdateReferenceOperation.cs
Labels: Area-IDE

#52446 Update vssdk
  eng/Versions.props
Labels: Area-Infrastructure

#52456 Workaround breaking change to allow LSP integration tests to run on 16.10p1
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
Labels: Area-IDE, Area-Infrastructure, LSP

#52441 Remove reliance on "questionable" UpdateFile operation
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSendToInteractive.cs
Labels: Area-Interactive

#52453 Reset the interactive window using IInteractiveWindowOperations
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InteractiveWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownCommandNames.cs
Labels: Area-Interactive

#52319 Allow 'with' expression on value types
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_WithExpression.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#52479 Fix failure to process RoslynEventSource manifest
  src/Workspaces/Core/Portable/Log/RoslynEventSource.cs
Labels: Area-IDE

#48128 Support abstract methods and records in complete statement command
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
  src/EditorFeatures/CSharpTest/CompleteStatement/CSharpCompleteStatementCommandHandlerTests.cs
Labels: Area-IDE, Community

#52347 Fix code refactoring crash on invalid code
  src/EditorFeatures/VisualBasicTest/ConvertForToForEach/ConvertForToForEachTests.vb
  src/Features/VisualBasic/Portable/ConvertForToForEach/VisualBasicConvertForToForEachCodeRefactoringProvider.vb
Labels: Area-IDE, Community

#52484 Avoid telemetry overhead when opted out
  src/VisualStudio/Core/Def/Telemetry/VSTelemetryLogger.cs
Labels: Area-IDE

#52483 Avoid LOH allocations in ObjectWriter and ObjectReader
  src/Compilers/Core/Portable/Serialization/ObjectReader.cs
  src/Compilers/Core/Portable/Serialization/ObjectWriter.cs
Labels: Area-Compilers

#52389 enable nullable in MSBuildWorkspace
  src/Workspaces/Core/MSBuild/MSBuild/Build/ProjectBuildManager.cs
  src/Workspaces/Core/MSBuild/MSBuild/CSharp/CSharpCommandLineArgumentReader.cs
  src/Workspaces/Core/MSBuild/MSBuild/CSharp/CSharpProjectFile.cs
  src/Workspaces/Core/MSBuild/MSBuild/CSharp/CSharpProjectFileLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/CSharp/CSharpProjectFileLoaderFactory.cs
  src/Workspaces/Core/MSBuild/MSBuild/Constants/ItemNames.cs
  src/Workspaces/Core/MSBuild/MSBuild/Constants/MetadataNames.cs
  src/Workspaces/Core/MSBuild/MSBuild/Constants/PropertyNames.cs
  src/Workspaces/Core/MSBuild/MSBuild/Constants/PropertyValues.cs
  src/Workspaces/Core/MSBuild/MSBuild/Constants/TargetNames.cs
  src/Workspaces/Core/MSBuild/MSBuild/DiagnosticReporter.cs
  src/Workspaces/Core/MSBuild/MSBuild/DiagnosticReportingMode.cs
  src/Workspaces/Core/MSBuild/MSBuild/DiagnosticReportingOptions.cs
  src/Workspaces/Core/MSBuild/MSBuild/Logging/DiagnosticLog.cs
  src/Workspaces/Core/MSBuild/MSBuild/Logging/DiagnosticLogItem.cs
  src/Workspaces/Core/MSBuild/MSBuild/Logging/MSBuildDiagnosticLogItem.cs
  src/Workspaces/Core/MSBuild/MSBuild/Logging/MSBuildDiagnosticLogger.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.SolutionFilterReader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.AnalyzerReferencePathComparer.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker_ResolveReferences.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildWorkspace.cs
  src/Workspaces/Core/MSBuild/MSBuild/PathResolver.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/CommandLineArgumentReader.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/Conversions.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/DocumentFileInfo.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/Extensions.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/IProjectFile.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/IProjectFileLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFile.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileExtensionAttribute.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileInfo.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoaderRegistry.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileReference.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectLoadOperation.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectLoadProgress.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectMap.cs
  src/Workspaces/Core/MSBuild/MSBuild/VisualBasic/VisualBasicCommandLineArgumentReader.cs
  src/Workspaces/Core/MSBuild/MSBuild/VisualBasic/VisualBasicProjectFile.cs
  src/Workspaces/Core/MSBuild/MSBuild/VisualBasic/VisualBasicProjectFileLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/VisualBasic/VisualBasicProjectFileLoaderFactory.cs
  src/Workspaces/Core/MSBuild/WorkspaceMSBuildResources.resx
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.cs.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.de.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.es.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.fr.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.it.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.ja.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.ko.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.pl.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.pt-BR.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.ru.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.tr.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.zh-Hans.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.zh-Hant.xlf
Labels: Area-IDE

#52470 Fix a few dependencies to be privateassets
  src/NuGet/VisualStudio/VS.ExternalAPIs.Roslyn.Package.csproj
Labels: Area-Infrastructure

#52443 Load incremental source generators
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerReference.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalWrapper.cs
  src/Compilers/Test/Core/SourceGeneration/TestGenerators.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/SourceGeneratedFileManager.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocument.cs
Labels: Area-Compilers, New Feature - Source Generators

#52471 Remove no longer used ts handlers
  src/VisualStudio/LiveShare/Impl/AbstractGoToDefinitionWithFindUsagesServiceHandler.cs
  src/VisualStudio/LiveShare/Impl/GotoDefinitionWithFindUsagesServiceHandler.Exports.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
Labels: Area-IDE, LSP

#52465 Improves error message reported by Interactive Window integration tests
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InteractiveWindow_InProc.cs
Labels: Area-Interactive

#52486 Fix race conditions in attribute asserts
  eng/test-rebuild.ps1
  src/Compilers/Core/Portable/Symbols/Attributes/CustomAttributesBag.cs
Labels: Area-Compilers

#52455 Record-structs: adjust symbol display and QuickInfo
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayPartKind.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Labels: Area-Compilers, Area-IDE, New Language Feature - Records

#52462 "Add null check" inserts single line statements if preferred
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/Features/CSharp/Portable/InitializeParameter/CSharpAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/InitializeParameter/VisualBasicAddParameterCheckCodeRefactoringProvider.vb
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE, Community

#52499 Bump prerelease version.
  eng/Versions.props
Labels: Area-Infrastructure

#52510 Add publish data for d17p1 branch
  eng/config/PublishData.json
Labels: Area-Infrastructure

#52488 Use CancellationSeries in ExternalErrorDiagnosticUpdateSource
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Implementation/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/Workspaces/Core/Portable/Utilities/CancellationSeries.cs
  src/Workspaces/CoreTest/UtilityTest/CancellationSeriesTests.cs
Labels: Area-IDE

#52514 Don't throw on cancellation in chained command handlers
  src/EditorFeatures/CSharp/EventHookup/EventHookupCommandHandler_TabKeyCommand.cs
  src/EditorFeatures/CSharp/FixInterpolatedVerbatimString/FixInterpolatedVerbatimStringCommandHandler.cs
  src/EditorFeatures/Core/Implementation/AddImports/AbstractAddImportsPasteCommandHandler.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractXmlTagCompletionCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.Paste.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.cs
Labels: Area-IDE

#52474 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Area-Infrastructure

#52513 MSBuildWorkspace small cleanups
  src/Workspaces/Core/MSBuild/MSBuild/Build/ProjectBuildManager.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.AnalyzerReferencePathComparer.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker_ResolveReferences.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildWorkspace.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/Conversions.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/Extensions.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFile.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileInfo.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectFile/ProjectFileLoaderRegistry.cs
  src/Workspaces/Core/MSBuild/MSBuild/ProjectMap.cs
Labels: Area-IDE

#52521 Load NuGet assemblies on a background thread
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
  src/VisualStudio/Core/Def/SymbolSearch/AbstractDelayStartedService.cs
  src/VisualStudio/Core/Def/SymbolSearch/VisualStudioSymbolSearchService.cs
Labels: Area-IDE

#51952 Feature: CallerArgumentExpressionAttribute
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceClonedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ThisParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_CallerInfoAttributes.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonParameterEarlyWellKnownAttributeData.cs
Labels: Area-Compilers

#52029 Allow record's ToString method to be sealed
  docs/Language Feature Status.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/UpgradeProject/UpgradeProjectTests.cs
  src/Features/CSharp/Portable/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
Labels: Area-Compilers, Community, New Language Feature - Records

#52481 Remove use of Editor.INavigationBarItemService in LSP
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
Labels: Area-IDE

#52560 Prefer async overload
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
Labels: Area-IDE

#52450 EnC test refactoring
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
Labels: Area-Interactive

#52562 Make language feature status 'Developers' column singular
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#52044 [LSP] Respect settings passed in by LSP in format handlers
  src/EditorFeatures/CSharp/Formatting/CSharpEditorFormattingService.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/VSTypeScriptEditorFormattingServiceWrapper.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.Paste.cs
  src/EditorFeatures/Core/Implementation/Formatting/FormatCommandHandler.cs
  src/EditorFeatures/Core/Implementation/Formatting/IEditorFormattingService.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/AbstractFormatDocumentHandlerBase.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Formatting/FormatDocumentRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentOnTypeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentRangeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/OnAutoInsert/OnAutoInsertTests.cs
  src/Tools/ExternalAccess/FSharp/Internal/Editor/FSharpEditorFormattingService.cs
Labels: Area-IDE, LSP

#52525 Reuse existing extension methods
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
Labels: Area-IDE

#52559 Rev codestyle version to 3.9
  eng/Versions.props
Labels: Area-IDE

#52571 UsePatternCombinator: Fix wrong target equivalence comparison.
  src/Analyzers/CSharp/Analyzers/UsePatternCombinators/AnalyzedPattern.cs
  src/EditorFeatures/CSharpTest/UsePatternCombinators/CSharpUsePatternCombinatorsDiagnosticAnalyzerTests.cs
Labels: Area-IDE

#52574 Rebuild PDB documentation
  docs/features/pdb-compilation-options.md
Labels: Area-Compilers, New Language Feature - Rebuild

#52576 VSSdk update
  eng/Versions.props
  eng/targets/VisualStudio.targets
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.Setup.csproj
  src/Setup/DevDivVsix/ServiceHubConfig/Roslyn.VisualStudio.Setup.ServiceHub.csproj
Labels: Area-Infrastructure

#52579 Don't push diagnostics for LSP documents if Pull-diags are enabled.
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Test.Next/Services/LspDiagnosticsTests.cs
Labels: Area-IDE

#52511 Factor out interface for source and references
  src/Compilers/Core/Rebuild/CompilationFactory.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/Rebuild/IRebuildArtifactResolver.cs
  src/Compilers/Core/Rebuild/MetadataReferenceInfo.cs
  src/Compilers/Core/Rebuild/Records.cs
  src/Compilers/Core/Rebuild/SourceFileInfo.cs
  src/Compilers/Core/Rebuild/SourceLink.cs
  src/Compilers/Core/RebuildTest/CompilationRebuildArtifactResolver.cs
  src/Compilers/Core/RebuildTest/RebuildCommandLineTests.cs
  src/Compilers/Core/RebuildTest/RoundTripUtil.cs
  src/Tools/BuildValidator/CompilationDiff.cs
  src/Tools/BuildValidator/LocalReferenceResolver.cs
  src/Tools/BuildValidator/LocalSourceResolver.cs
  src/Tools/BuildValidator/Program.cs
  src/Tools/BuildValidator/RebuildArtifactResolver.cs
  src/Tools/BuildValidator/Records.cs
Labels: Area-Compilers, New Language Feature - Rebuild

#52538 Run test on both x64 and x86
  src/Compilers/VisualBasic/Test/Syntax/Syntax/SerializationTests.vb
Labels: Area-Compilers, Community, Test

#52580 Extract Method Highlight Part of Switch Expression Bug Fix
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
Labels: Area-IDE

#52425 Learn from bool constants and conditional accesses inside ==/!=
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowTests.cs
Labels: Area-Compilers

#52523 Fix goto types to include records
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Callback.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/NavigateToItemKind.cs
  src/Tools/ExternalAccess/FSharp/NavigateTo/FSharpNavigateToItemKind.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
Labels: Area-IDE, New Language Feature - Records

#52544 Correctly supress/elevate diagnostics produced by source generators
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests.vb
Labels: Area-Compilers, New Feature - Source Generators

#50608 Fix extra space in editorconfig
  .editorconfig
  src/VisualStudio/CSharp/Test/CodeModel/AbstractFileCodeElementTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AlwaysActivateInProcLanguageClient.cs
  src/VisualStudio/Core/Def/Implementation/PullMemberUp/MainDialog/PullMemberUpDialogViewModel.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/AbstractSnippetExpansionClient.cs
  src/VisualStudio/Core/Def/Implementation/UnusedReferences/RemoveUnusedReferencesCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/SourceGeneratedFileManager.cs
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
  src/VisualStudio/Core/Impl/Options/AbstractOptionPageControl.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProjectFactory.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/SourceGeneratedFileItemSource.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSourceGenerators.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSquigglesCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicSquigglesCommon.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspaceBase.cs
  src/VisualStudio/LiveShare/Impl/Client/CloudEnvironmentSupportsFeatureService.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/AbstractFormatDocumentHandlerBase.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/FormatDocumentHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Formatting/FormatDocumentRangeHandler.cs
Labels: Area-IDE, Community

#52611 Add sg v2 status
  docs/Language Feature Status.md
Labels: Area-Compilers

#52178 Bind and emit lambda attributes
  src/Compilers/CSharp/Portable/Binder/Binder.QueryUnboundLambdaState.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol_Attributes.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordBaseEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordDeconstruct.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityOperatorBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPrintMembers.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Conditional.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_Security.cs
  src/Compilers/CSharp/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaDiscardParametersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LookupTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DestructorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/IncrementalParsing/IncrementalParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaAttributeParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers

#52515 Escape special characters in section name of editor config
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerConfigTests.cs
  src/Compilers/Core/MSBuildTask/GenerateMSBuildEditorConfig.cs
  src/Compilers/Core/MSBuildTaskTests/GenerateMSBuildEditorConfigTests.cs
Labels: Area-Analyzers, Area-Compilers

#52472 Support reporting more accurate 'changed spans' when doing syntactic classification
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNodeTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
  src/Compilers/Core/Portable/Syntax/SyntaxNodeOrToken.cs
  src/Compilers/Core/Portable/Syntax/SyntaxToken.cs
  src/Compilers/Core/Portable/Text/TextChangeRange.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticTaggerTests.cs
  src/EditorFeatures/Core/Implementation/Classification/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/EditorFeatures/Core/Implementation/Classification/SyntacticClassificationTaggerProvider.cs
  src/EditorFeatures/Test2/Classification/ClassificationTests.vb
  src/EditorFeatures/Test2/Classification/SyntacticChangeRangeComputerTests.vb
  src/Tools/ExternalAccess/FSharp/Internal/Classification/FSharpClassificationService.cs
  src/Tools/IdeCoreBenchmarks/SyntacticChangeRangeBenchmark.cs
  src/Workspaces/Core/Portable/Classification/AbstractClassificationService.cs
  src/Workspaces/Core/Portable/Classification/IClassificationService.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassificationService.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/ISyntaxClassificationService.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/SyntacticChangeRangeComputer.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
Labels: Area-Compilers, Area-IDE

#52618 Improve the Find-References UI for multi-targetting projects
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/Features/LanguageServer/Protocol/CustomProtocol/FindUsagesLSPContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/WithoutReferencesFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/AbstractDocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DefinitionItemEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Entries/DocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/RoslynDefinitionBucket.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/StreamingFindUsagesPresenter.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine_DocumentProcessing.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine_MapCreation.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine_ProjectProcessing.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/LinkedFileReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ReferenceFinders.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/NoOpStreamingFindReferencesProgress.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/StreamingFindReferencesProgress.cs
  src/Workspaces/Core/Portable/FindSymbols/IRemoteSymbolFinderService.cs
  src/Workspaces/Core/Portable/FindSymbols/IStreamingFindReferencesProgress.cs
  src/Workspaces/Core/Portable/FindSymbols/StreamingProgressCollector.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.CallbackDispatcher.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.FindReferencesServerCallback.cs
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Remote/ServiceHub/Services/SymbolFinder/RemoteSymbolFinderService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-IDE

#52572 Improve Server Logging
  azure-pipelines.yml
  eng/test-build-correctness.ps1
  src/Compilers/CSharp/csc/Program.cs
  src/Compilers/Core/CommandLine/BuildProtocol.cs
  src/Compilers/Core/CommandLine/CompilerServerLogger.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Server/VBCSCompiler/BuildProtocolUtil.cs
  src/Compilers/Server/VBCSCompiler/ClientConnectionHandler.cs
  src/Compilers/Server/VBCSCompiler/CompilerRequestHandler.cs
  src/Compilers/Server/VBCSCompiler/IClientConnection.cs
  src/Compilers/Server/VBCSCompiler/ICompilerServerHost.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnection.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnectionHost.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.cs
  src/Compilers/Server/VBCSCompilerTests/BuildProtocolTest.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Server/VBCSCompilerTests/CompilerServerTests.cs
  src/Compilers/Server/VBCSCompilerTests/ServerUtil.cs
  src/Compilers/Server/VBCSCompilerTests/TestableCompilerServerHost.cs
  src/Compilers/Shared/BuildClient.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/VisualBasic/vbc/Program.cs
Labels: Area-Compilers

#52466 Add some UI improvements to Value Tracking
  src/EditorFeatures/Core/ValueTracking/ValueTrackedItem.cs
  src/EditorFeatures/Test/ValueTracking/AbstractBaseValueTrackingTests.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackedTreeItemViewModel.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingCommandHandler.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingEditorCommandArgs.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingToolWindow.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTree.xaml
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTree.xaml.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTreeItemViewModel.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTreeViewModel.cs
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Area-IDE

#51721 Handle trivia correctly
  src/EditorFeatures/VisualBasicTest/Diagnostics/OverloadBase/OverloadBaseTests.vb
  src/Features/VisualBasic/Portable/CodeFixes/OverloadBase/OverloadBaseCodeFixProvider.AddKeywordAction.vb
  src/Features/VisualBasic/Portable/CodeFixes/OverloadBase/OverloadBaseCodeFixProvider.vb
Labels: Area-IDE

#52603 SymbolDisplay: Show underlying non-default type for enums
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests.vb
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/Features/CSharp/Portable/LanguageServices/CSharpSymbolDisplayService.SymbolDescriptionBuilder.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicSymbolDisplayService.SymbolDescriptionBuilder.vb
Labels: Area-Compilers, Community

#52627 Enable test and change to use correct method
  src/EditorFeatures/Test2/Diagnostics/GenerateFromUsage/GenerateMethodCrossLanguageTests.vb
Labels: Area-IDE

#52636 Update interops
  NuGet.config
  eng/Versions.props
  eng/targets/Imports.targets
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeClassTests.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeDelegateTests.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeEventTests.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeFunctionTests.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodePropertyTests.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeVariableTests.vb
  src/VisualStudio/Core/Test/CodeModel/CSharp/CodeFunctionTests.vb
  src/VisualStudio/Core/Test/CodeModel/CSharp/CodePropertyTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/CodeClassTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/CodeDelegateTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/CodeEnumTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/CodeFunctionTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/CodeInterfaceTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/CodePropertyTests.vb
  src/VisualStudio/Core/Test/CodeModel/VisualBasic/CodeStructTests.vb
  src/VisualStudio/TestUtilities2/CodeModel/Mocks/MockTextPoint.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/MockHierarchy.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProject.vb
Labels: Area-IDE

#52077 Add SimplifyObjectCreation analyzer
  src/Analyzers/Core/Analyzers/EnforceOnBuildValues.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Analyzers/VisualBasic/Analyzers/SimplifyObjectCreation/VisualBasicSimplifyObjectCreationDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzersResources.resx
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.cs.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.de.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.es.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.fr.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.it.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.ja.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.ko.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.pl.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.pt-BR.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.ru.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.tr.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.zh-Hans.xlf
  src/Analyzers/VisualBasic/Analyzers/xlf/VisualBasicAnalyzersResources.zh-Hant.xlf
  src/Analyzers/VisualBasic/CodeFixes/SimplifyObjectCreation/VisualBasicSimplifyObjectCreationCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixes.projitems
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixesResources.resx
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.cs.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.de.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.es.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.fr.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.it.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.ja.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.ko.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.pl.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.pt-BR.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.ru.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.tr.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.zh-Hans.xlf
  src/Analyzers/VisualBasic/CodeFixes/xlf/VisualBasicCodeFixesResources.zh-Hant.xlf
  src/Analyzers/VisualBasic/Tests/SimplifyObjectCreation/SimplifyObjectCreationTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/VisualStudio/Core/Test/Options/BasicEditorConfigGeneratorTests.vb
  src/VisualStudio/VisualBasic/Impl/BasicVSResources.resx
  src/VisualStudio/VisualBasic/Impl/Options/StyleViewModel.vb
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.cs.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.de.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.es.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.fr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.it.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ja.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ko.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pl.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.pt-BR.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.ru.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.tr.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hans.xlf
  src/VisualStudio/VisualBasic/Impl/xlf/BasicVSResources.zh-Hant.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/CodeStyle/VisualBasicCodeStyleOptions.vb
Labels: Area-IDE, Community

#52637 Fix doc comment.
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
Labels: Area-IDE

#51926 EnC - Support for records
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTestBase.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/SymbolMatcherTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLambdaTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/CSharpEditAndContinueAnalyzerTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/Test/EditAndContinue/RudeEditDiagnosticTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharp/Portable/EditAndContinue/SyntaxComparer.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/EditAndContinue/SemanticEditInfo.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-Compilers, Area-IDE, New Language Feature - Records

#52631 Multi-target Microsoft.CodeAnalysis.Workspaces.Desktop
  src/Workspaces/Core/Desktop/Microsoft.CodeAnalysis.Workspaces.Desktop.csproj
Labels: Area-IDE

#52480 Records: allow positional members to be implemented with fields
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordDeconstruct.cs
  src/Compilers/CSharp/Portable/Syntax/TypeDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#52628 Update Debugger.Contracts to 16.10.0-beta.21214.1
  eng/Versions.props
  src/EditorFeatures/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/MockManagedEditAndContinueDebuggerService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/Remote/IRemoteEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/Tools/ExternalAccess/DotNetWatch/StubManagedEditAndContinueDebuggerService.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive

#52645 Make image catalog private
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
Labels: Area-IDE, Area-Infrastructure

#52633 Add telemetry for when the infobar is shown
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioErrorReportingService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#52530 Move nav bars to be have no sync blocking
  src/EditorFeatures/CSharp/NavigationBar/CSharpEditorNavigationBarItemService.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/AbstractEditorNavigationBarItemService.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/INavigationBarItemService.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/INavigationBarPresenter.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/NavigationBarItem.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/NavigationBarPresentedItem.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/NavigationBarProjectItem.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/WrappedNavigationBarItem.cs
  src/EditorFeatures/Core/Implementation/NavigationBar/NavigationBarController.cs
  src/EditorFeatures/Core/Implementation/NavigationBar/NavigationBarController_ModelComputation.cs
  src/EditorFeatures/Core/Implementation/NavigationBar/NavigationBarModel.cs
  src/EditorFeatures/Test2/NavigationBar/MockNavigationBarPresenter.vb
  src/EditorFeatures/Test2/NavigationBar/NavigationBarPresenterTests.vb
  src/EditorFeatures/Test2/NavigationBar/TestHelpers.vb
  src/EditorFeatures/TestUtilities2/Utilities/GoToHelpers/MockSymbolNavigationService.vb
  src/EditorFeatures/TestUtilities2/Utilities/MockSymbolNavigationServiceProvider.vb
  src/EditorFeatures/VisualBasic/NavigationBar/VisualBasicEditorNavigationBarItemService.vb
  src/EditorFeatures/VisualBasic/NavigationBar/VisualBasicEditorNavigationBarItemService_CodeGeneration.vb
  src/Features/Core/Portable/Navigation/DefaultSymbolNavigationService.cs
  src/Features/Core/Portable/Navigation/ISymbolNavigationService.cs
  src/Tools/ExternalAccess/FSharp/Internal/Editor/FSharpNavigationBarItemService.cs
  src/VisualStudio/Core/Def/Implementation/NavigationBar/NavigationBarClient.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphNavigatorExtension.cs
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolNavigationService.cs
Labels: Area-IDE

#52605 Enable basic scenarios of consuming abstract static members on type parameters.
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Query.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/Binder/LookupOptions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorSignature.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorSignature.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundTreeRewriter.cs
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/BoundTree/NullabilityRewriter.cs
  src/Compilers/CSharp/Portable/BoundTree/TupleBinaryOperatorInfo.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_Warnings.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.PatternLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PointerElementAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Range.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringConcat.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_TupleBinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/Compilers/Test/Core/TargetFrameworkUtil.cs
Labels: Area-Compilers

#52640 Implement ManagedHotReloadLanguageService
  src/EditorFeatures/Test/EditAndContinue/EmitSolutionUpdateResultsTests.cs
  src/EditorFeatures/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/HotReload/IManagedHotReloadLanguageService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/IRemoteEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditDiagnostic.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/ManagedEditAndContinueLanguageService.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/ManagedHotReloadLanguageService.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/AbstractTableEntriesSnapshot.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.LiveTableDataSource.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseTodoListTable.cs
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioDiagnosticListTable.BuildTableDataSource.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataLocation.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive

#52626 Remove PROTOTYPE comments.
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
Labels: Area-Compilers, New Feature - GlobalUsingDirective

#52644 Make image catalog private
  src/EditorFeatures/Core.Cocoa/Microsoft.CodeAnalysis.EditorFeatures.Cocoa.csproj
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
Labels: Area-Infrastructure

#51831 Ignore static Main methods in NamingStyle analyzer
  src/Analyzers/CSharp/Tests/NamingStyles/NamingStylesTests.cs
  src/Analyzers/Core/Analyzers/NamingStyle/NamingStyleDiagnosticAnalyzerBase.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/IMethodSymbolExtensions.cs
Labels: Area-IDE

#52001 Remove some no longer used loggers
  src/EditorFeatures/Core/Implementation/Classification/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/EditorFeatures/Core/Implementation/InlineRename/InlineRenameSession.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/Workspaces/Core/Portable/LinkedFileDiffMerging/LinkedFileDiffMergingLogger.cs
  src/Workspaces/Core/Portable/LinkedFileDiffMerging/LinkedFileDiffMergingSession.cs
  src/Workspaces/Core/Portable/Log/RequestLatencyTracker.cs
  src/Workspaces/Core/Portable/Log/SyntacticLspLogger.cs
  src/Workspaces/Core/Portable/Versions/PersistedVersionStampLogger.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Remote/Core/ServiceHubRemoteHostClient.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#52575 Update status of record features
  docs/Language Feature Status.md
Labels: Area-Compilers

#52672 Fix syntactic range computation.
  src/EditorFeatures/Test2/Classification/SyntacticChangeRangeComputerTests.vb
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/SyntacticChangeRangeComputer.cs
Labels: Area-IDE

#52656 Fix FAR for less than operator and add tests for all operators
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.OperatorSymbols.vb
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
Labels: Area-IDE

#52675 Update DocumentationMode docs
  src/Compilers/Core/Portable/Compilation/ParseOptions.cs
Labels: Area-Compilers

#52659 Implement lang version check for basic consumption scenarios of abstract static members.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
Labels: Area-Compilers, New Feature - StaticAbstractMembersInInterfaces

#52693 Simplify code style option check
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer.cs
Labels: Area-IDE

#52541 Fix tuple naming
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE

#51760 Offer property attribute target in record positional param
  src/EditorFeatures/CSharpTest2/Recommendations/PropertyKeywordRecommenderTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
Labels: Area-IDE, Community

#52704 Fix build caused by independent merges that conflicted
  src/EditorFeatures/CSharp/CompleteStatement/CompleteStatementCommandHandler.cs
Labels: Area-IDE

#52564 Suggest simplifying ToString with InvariantCulture inside FormattableString.Invariant
  src/Analyzers/CSharp/Tests/SimplifyInterpolation/SimplifyInterpolationTests.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/Helpers.cs
Labels: Area-IDE

#52705 Remove virtual functionality from internal tagger api that was never overridden
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_IEqualityComparer.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.cs
Labels: Area-IDE

#52706 Remove tagger functionality related to pausing/resumign tagging.
  src/EditorFeatures/Core/Implementation/Classification/CompilationAvailableTaggerEventSource.cs
  src/EditorFeatures/Core/Shared/Tagging/EventSources/AbstractTaggerEventSource.cs
  src/EditorFeatures/Core/Shared/Tagging/EventSources/TaggerEventSources.CompositionEventSource.cs
  src/EditorFeatures/Core/Shared/Tagging/EventSources/TaggerEventSources.ViewSpanChangedEventSource.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.BatchChangeNotifier.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Tagging/ITaggerEventSource.cs
Labels: Area-IDE

#52595 Change IImageMonikerService to IImageIdService for better cross platform workitude
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSourceProvider.cs
  src/EditorFeatures/Core.Wpf/Tags/DefaultImageIdService.cs
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Core/PublicAPI.Shipped.txt
  src/EditorFeatures/Core/Shared/Extensions/GlyphExtensions.cs
  src/EditorFeatures/Core/Tags/ExportImageIdServiceAttribute.cs
  src/EditorFeatures/Core/Tags/IImageIdService.cs
  src/EditorFeatures/Test/AssemblyReferenceTests.cs
  src/VisualStudio/Core/Def/Shared/VisualStudioImageIdService.cs
Labels: Area-IDE

#52719 Make ExitingTraceListener log visible
  src/Compilers/CSharp/csc/Program.cs
  src/Compilers/Core/CommandLine/CompilerServerLogger.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompiler.cs
  src/Compilers/Shared/ExitingTraceListener.cs
  src/Compilers/VisualBasic/vbc/Program.cs
Labels: Area-Compilers

#52726 Ensure that we register to analyze generated code for MakeFieldReadO…
  src/Analyzers/CSharp/Tests/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer_Core.cs
  src/Analyzers/Core/Analyzers/MakeFieldReadonly/MakeFieldReadonlyDiagnosticAnalyzer.cs
Labels: Area-IDE

#51357 Features/22051 Introduce Parameter
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceParameter/IntroduceParameterTests.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceParameter/IntroduceParameterTests.vb
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceParameterCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceParameterService.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
  src/Features/VisualBasic/Portable/IntroduceVariable/VisualBasicIntroduceParameterCodeRefactoringProvider.vb
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticEquivalence.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE

#52686 Fix build of our .NET 2.0-targeting projects
  eng/Versions.props
  src/ExpressionEvaluator/CSharp/Source/ResultProvider/NetFX20/CSharpResultProvider.NetFX20.csproj
  src/ExpressionEvaluator/Core/Source/ResultProvider/NetFX20/ResultProvider.NetFX20.csproj
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/NetFX20/BasicResultProvider.NetFX20.vbproj
Labels: Area-Interactive

#52733 Cleanup unused type parameters
  src/EditorFeatures/CSharp/DocumentationComments/DocumentationCommentCommandHandler.cs
  src/EditorFeatures/Core/Implementation/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/VisualBasic/DocumentationComments/DocumentationCommentCommandHandler.vb
Labels: Area-IDE, Community

#52537 Use compile-time solution for solution crawler and EnC
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerRegistrationService.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.HighPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.IncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.LowPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.NormalPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.SemanticChangeProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/Features/Core/Portable/Workspace/CompileTimeSolutionProvider.cs
  src/Features/Core/Portable/Workspace/ICompileTimeSolutionProvider.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/ManagedEditAndContinueLanguageService.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE

#49717 'Simplify interpolation' should not be suggested in VB for non-literal alignments
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/SimplifyInterpolation/CSharpSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/SimplifyInterpolation/CSharpSimplifyInterpolationHelpers.cs
  src/Analyzers/CSharp/CodeFixes/SimplifyInterpolation/CSharpSimplifyInterpolationCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationHelpers.cs
  src/Analyzers/Core/CodeFixes/SimplifyInterpolation/AbstractSimplifyInterpolationCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/SimplifyInterpolation/VisualBasicSimplifyInterpolationDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/SimplifyInterpolation/VisualBasicSimplifyInterpolationHelpers.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/CodeFixes/SimplifyInterpolation/VisualBasicSimplifyInterpolationCodeFixProvider.vb
  src/Analyzers/VisualBasic/Tests/SimplifyInterpolation/SimplifyInterpolationTests.vb
Labels: Area-IDE

#52742 Make method private
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
Labels: Area-IDE

#52660 Error for using positional member that is hidden
  docs/compilers/CSharp/Compiler Breaking Changes - post DotNet 5.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#52609 Ignore razor virtual buffers as they cannot be ren…
  src/VisualStudio/Core/Def/Implementation/VisualStudioSupportsFeatureService.cs
Labels: Area-IDE
