Repository dotnet/roslyn, pull requests merged in 2021-03, with the labels that each got.

#51517 Support constant interpolated strings in refactorings
  src/EditorFeatures/CSharpTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.cs
  src/EditorFeatures/VisualBasicTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.vb
  src/Features/CSharp/Portable/ConvertToInterpolatedString/CSharpConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/ConvertRegularStringToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ConvertToInterpolatedString/VisualBasicConvertConcatenationToInterpolatedStringRefactoringProvider.vb
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSyntaxGeneratorInternal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SyntaxGeneratorInternalExtensions/SyntaxGeneratorInternal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicSyntaxGeneratorInternal.vb
Labels: Area-IDE

#51525 Remove old GUID and comment saying it can be removed
  src/VisualStudio/Core/Def/Guids.cs
Labels: Area-IDE

#51526 EnC support for source-generated files
  BenchmarkDotNet.Artifacts/results/IdeCoreBenchmarks.ProjectOperationBenchmarks.IterateDocuments-report-github.md
  BenchmarkDotNet.Artifacts/results/IdeCoreBenchmarks.ProjectOperationBenchmarks.IterateDocuments-report.csv
  BenchmarkDotNet.Artifacts/results/IdeCoreBenchmarks.ProjectOperationBenchmarks.IterateDocuments-report.html
  src/Compilers/Core/Portable/Emit/EditAndContinue/DefinitionMap.cs
  src/Compilers/Core/Portable/Emit/SemanticEdit.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/CSharpTest/Workspaces/WorkspaceTests.cs
  src/EditorFeatures/Core/Implementation/EditAndContinue/ActiveStatementTrackingService.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueTestAnalyzerConfigOptions.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueTestAnalyzerConfigOptionsProvider.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/TestSourceGenerator.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/SemanticEditInfo.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.RemoveAnalyzerConfigDocumentUndoUnit.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Source.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ChecksumCollection.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectChanges.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationAndGeneratorDriverTranslationAction_Actions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.State.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentStates.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.SolutionCreator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/CompilerUtilities/ImmutableHashMapExtensions.cs
Labels: Area-Interactive

#51455 Rebuild exes
  eng/test-rebuild.ps1
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBSourceLinkTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/Core/Portable/PEWriter/PeWriter.cs
  src/Compilers/Test/Core/Compilation/CompilationExtensions.cs
  src/Compilers/Test/Core/Compilation/IRuntimeEnvironment.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Tools/BuildValidator/CompilationDiff.cs
Labels: Area-Infrastructure

#51536 Update 'Add DebuggerDisplay' refactoring to support constant interpolated strings
  src/EditorFeatures/CSharpTest/AddDebuggerDisplay/AddDebuggerDisplayTests.cs
  src/EditorFeatures/VisualBasicTest/AddDebuggerDisplay/AddDebuggerDisplayTests.vb
  src/Features/CSharp/Portable/AddDebuggerDisplay/CSharpAddDebuggerDisplayCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddDebuggerDisplay/AbstractAddDebuggerDisplayCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/AddDebuggerDisplay/VisualBasicAddDebuggerDisplayCodeRefactoringProvider.vb
Labels: Area-IDE

#51387 Use SegmentedArrayHelper in segment enumerators
  src/Compilers/Core/CodeAnalysisTest/Collections/SegmentedArrayHelperTests.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/SegmentedArrayTests.cs
  src/Dependencies/Collections/SegmentedArray.cs
  src/Dependencies/Collections/SegmentedArray`1.cs
  src/Tools/IdeCoreBenchmarks/SegmentedArrayBenchmarks_Indexer.cs
  src/Tools/IdeCoreBenchmarks/SegmentedListBenchmarks_InsertRange.cs
Labels: Area-Compilers, Area-IDE

#51570 Remove rebuilds that don't work in master-vs-deps
  eng/test-rebuild.ps1
Labels: Area-Infrastructure

#51569 Document state storage refactoring follow-up
  BenchmarkDotNet.Artifacts/results/IdeCoreBenchmarks.ProjectOperationBenchmarks.IterateDocuments-report-github.md
  BenchmarkDotNet.Artifacts/results/IdeCoreBenchmarks.ProjectOperationBenchmarks.IterateDocuments-report.csv
  BenchmarkDotNet.Artifacts/results/IdeCoreBenchmarks.ProjectOperationBenchmarks.IterateDocuments-report.html
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
Labels: Area-Infrastructure

#51458 Add support to lsif generation to generate for a single project
  src/Features/Lsif/Generator/Program.cs
Labels: Area-IDE, auto-merge

#51580 Share NavigableSymbols folder between Mac and Windows
  src/EditorFeatures/Core.Cocoa/Microsoft.CodeAnalysis.EditorFeatures.Cocoa.csproj
Labels: Area-IDE, auto-merge

#51535 Use ImmutableSegmentedDictionary for faster lookup in AnalyzerDriver
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-Analyzers

#51402 IOperation Test Leg
  azure-pipelines.yml
  eng/build.ps1
  src/Tools/Source/RunTests/TestRunner.cs
Labels: Area-Compilers

#51577 Dispose cancellation token source
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
Labels: Area-IDE

#49996 Add feature flag to allow VS to use the LSP based editor
  azure-pipelines-integration-lsp.yml
  azure-pipelines-integration.yml
  eng/build.ps1
  eng/pipelines/test-integration-job.yml
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSourceProvider.cs
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationBufferTaggerProvider.cs
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationViewTaggerProvider.cs
  src/EditorFeatures/Core/Implementation/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RenameHandler.cs
  src/Tools/Source/RunTests/ITestExecutor.cs
  src/Tools/Source/RunTests/Options.cs
  src/Tools/Source/RunTests/ProcessTestExecutor.cs
  src/Tools/Source/RunTests/Program.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AlwaysActivateInProcLanguageClient.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/LiveShareInProcLanguageClient.cs
  src/VisualStudio/Core/Def/Implementation/NavigateTo/VisualStudioNavigateToItemProviderFactory.cs
  src/VisualStudio/Core/Def/Implementation/VisualStudioSupportsFeatureService.cs
  src/VisualStudio/Core/Def/Implementation/VisualStudioWorkspaceContextService.cs
  src/VisualStudio/Core/Def/PackageRegistration.pkgdef
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpGoToDefinition.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpGoToImplementation.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSourceGenerators.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/LanguageServerProtocol/LspGoToDefinition.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicGoToDefinition.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicGoToImplementation.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
Labels: Area-IDE, CloudEnv

#51058 Update analyzers
  eng/Versions.props
  eng/config/globalconfigs/NonShipping.globalconfig
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/ValidateFormatString/AbstractValidateFormatStringDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/CSharpSyntaxGenerator.csproj
Labels: Area-Analyzers

#51604 Remove unnecessary apikey for nuget publishing
  azure-pipelines-official.yml
  eng/publish-assets.ps1
Labels: Area-Infrastructure, auto-merge

#51572 Use extern aliases in BuildValidator
  azure-pipelines.yml
  eng/test-rebuild.ps1
  src/Tools/BuildValidator/BuildConstructor.cs
  src/Tools/BuildValidator/CompilationDiff.cs
  src/Tools/BuildValidator/LocalReferenceResolver.cs
  src/Tools/BuildValidator/Program.cs
Labels: Area-Infrastructure

#51610 Correct incomplete record parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RecordParsing.cs
Labels: Area-Compilers, New Language Feature - Records

#51470 Add IsComplexTextEdit property to CompletionItem
  src/Features/Core/Portable/Completion/CommonCompletionItem.cs
  src/Features/Core/Portable/Completion/CompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/MemberInsertingCompletionItem.cs
  src/Features/Core/Portable/Completion/Providers/SymbolCompletionItem.cs
  src/Features/Core/Portable/PublicAPI.Shipped.txt
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
Labels: Area-IDE

#51603 Fix AnalyzeDocumentAsync to handle generated documents
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
Labels: Area-Interactive, auto-merge

#51419 Tweak completion item selection to prefer matched case
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/MatchResult.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/Core/Portable/Completion/CompletionHelper.cs
Labels: Area-IDE

#51632 Remove namespace test filter
  eng/build.ps1
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpGoToDefinition.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/LanguageServerProtocol/LspGoToDefinition.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstance.cs
  src/VisualStudio/IntegrationTest/TestUtilities/VisualStudioInstanceFactory.cs
Labels: Area-IDE

#51600 Update Readme
  README.md
Labels: Area-Infrastructure, auto-merge

#51605 Fix merge-vs-deps task
  azure-pipelines-official.yml
  scripts/merge-vs-deps.ps1
Labels: Area-Infrastructure, auto-merge

#51636 OnTypeRenameName LSP handler
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Xaml/Impl/Features/TypeRename/IXamlTypeRenameService.cs
  src/VisualStudio/Xaml/Impl/Features/TypeRename/XamlTypeRenameResult.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlCapabilities.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/OnTypeRename/OnTypeRenameHandler.cs
Labels: Area-IDE, auto-merge

#51599 Add documentation for the IOperation test hook.
  docs/compilers/IOperation Test Hook.md
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/VisualBasic/Portable/Operations/VisualBasicOperationFactory.vb
Labels: Area-Compilers, Documentation, Feature - IOperation

#51571 Pick IsExternalInit from corlib over other references
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/InAttributeModifierTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/UnmanagedTypeModifierTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
  src/Compilers/VisualBasic/Portable/Symbols/AssemblySymbol.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/MetadataTypeTests.vb
Labels: Area-Compilers

#51504 Fix bug where parenthesized lambdas were being classified as top level
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/CSharp/Portable/EditAndContinue/SyntaxComparer.cs
Labels: Area-IDE

#51657 Remove dependency on framework implementation for object formatter test
  src/Scripting/CSharpTest/ObjectFormatterTests.cs
Labels: Area-IDE

#51673 Revert "Disable sdl"
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#51671 Configure CompilationOutputInfo for projects created using an MSBuildWorkspace
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
Labels: Area-IDE

#51670 Add Xaml command hanler for CreateEventHandler command
  src/VisualStudio/Xaml/Impl/Features/Commands/IXamlCommandService.cs
  src/VisualStudio/Xaml/Impl/Features/Completion/XamlCompletionItem.cs
  src/VisualStudio/Xaml/Impl/Features/Completion/XamlEventDescription.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlCapabilities.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Commands/CreateEventCommandHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Commands/CreateEventCommandHandlerProvider.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionHandler.cs
  src/VisualStudio/Xaml/Impl/StringConstants.cs
Labels: Area-IDE

#50895 Address NRT issues found by targeting net5.0
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/Core/Portable/AssemblyUtilities.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/InternalUtilities/IncrementalHashExtensions.cs
  src/Compilers/Core/Portable/InternalUtilities/RoslynLazyInitializer.cs
  src/Compilers/Core/Portable/InternalUtilities/XmlUtilities.cs
  src/Compilers/Core/Portable/PEWriter/SigningUtilities.cs
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/Syntax/SyntaxNodeExtensions_Tracking.cs
  src/Compilers/Core/Portable/TreeDumper.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/CodeFixes/AddExplicitCast/AbstractAddExplicitCastCodeFixProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeMemberFromParameterCodeRefactoringProviderMemberCreation.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceFileService.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/ReplaceMethodWithPropertyCodeRefactoringProvider.cs
  src/Workspaces/Core/Portable/Editing/SyntaxEditor.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLiteConnectionPoolService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTreeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/CodeStyleOption2`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/TaskExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/TopologicalSorter.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
Labels: Community, Concept-Null Annotations

#51576 Null-annotate EnC impl in the compiler
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpDefinitionMap.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpLambdaSyntaxFacts.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolChanges.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolMatcher.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/EmitHelpers.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/PEDeltaAssemblyBuilder.cs
  src/Compilers/Core/Portable/CodeGen/MethodBody.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/AddedOrChangedMethodInfo.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DefinitionMap.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DeltaMetadataWriter.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EmitBaseline.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EmitDifferenceResult.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EncHoistedLocalInfo.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EncHoistedLocalMetadata.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EncLocalInfo.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EncVariableSlotAllocator.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/IPEDeltaAssemblyBuilder.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/LambdaSyntaxFacts.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolChange.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolChanges.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolMatcher.cs
  src/Compilers/Core/Portable/MetadataReader/LocalSlotConstraints.cs
  src/Compilers/Core/Portable/PEWriter/Members.cs
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/VisualBasic/Portable/Emit/EditAndContinue/VisualBasicSymbolMatcher.vb
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Labels: Area-Compilers, Interactive-EnC

#50984 Handle patterns in populate switch expressions
  src/Analyzers/CSharp/Tests/PopulateSwitch/PopulateSwitchExpressionTests.cs
  src/Analyzers/Core/Analyzers/PopulateSwitch/PopulateSwitchExpressionHelpers.cs
Labels: Area-IDE

#51498 Implement conditional expression changes in definite assignment
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowTests.cs
Labels: Area-Compilers

#51684 Add lsp server name to log name
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
Labels: Area-IDE, LSP

#51700 PoliCheck fix
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/GenerateConstructorHelpers.cs
Labels: Area-IDE

#51641 PR follow-ups
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentStates.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Area-IDE

#51701 Fix line change calculation to account for source-generated documents
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Labels: Area-Interactive, auto-merge

#51686 Include source generators in TryGetMethodDescriptorAsync
  src/EditorFeatures/CSharpTest/CodeLens/CSharpCodeLensTests.cs
  src/Features/Core/Portable/CodeLens/CodeLensReferencesService.cs
Labels: Area-IDE, Community

#51637 Update the Find-References feature to only find inheritance results that could lead to a specific member being used at runtime.
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService_FindReferences.cs
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.AccessorSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.NamedTypeSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.OrdinaryMethodSymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.PropertySymbols.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.WinmdSymbols.vb
  src/Features/Core/Portable/ChangeSignature/DelegateInvokeMethodReferenceFinder.cs
  src/Features/Core/Portable/CodeLens/CodeLensReferencesService.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesCascadeDirection.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine_MapCreation.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchOptions.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractMethodOrPropertyOrEventSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/DestructorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/EventSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ExplicitInterfaceMethodReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/FieldSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ILanguageServiceReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/IReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/LinkedFileReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/MethodTypeParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamedTypeSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/OrdinaryMethodReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/PropertyAccessorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/PropertySymbolReferenceFinder.cs
  src/Workspaces/VisualBasic/Portable/FindSymbols/VisualBasicReferenceFinder.vb
Labels: Area-IDE, auto-merge

#51696 Show diagnostic ids in analyzer report
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
Labels: Area-Compilers

#51730 Refactor tests that cause warnings in CI
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableContextTests.cs
Labels: Area-Compilers, Test

#51559 Use Environment.CurrentManagedThreadId
  src/Compilers/Core/CommandLine/CompilerServerLogger.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Test/Core/FX/EnsureEnglishUICulture.cs
  src/Compilers/Test/Core/FX/EnsureInvariantCulture.cs
  src/EditorFeatures/TestUtilities/Threading/StaTaskScheduler.cs
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/Loggers/OutputWindowLogger.cs
  src/Workspaces/Core/Portable/Log/TraceLogger.cs
Labels: Area-Compilers

#51676 Refactor symbols and binding pipeline participating in binding of imports and looking up in imports.
  src/Compilers/CSharp/Portable/Binder/AliasAndExternAliasDirective.cs
  src/Compilers/CSharp/Portable/Binder/AliasAndUsingDirective.cs
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/BinderFactory.BinderFactoryVisitor.cs
  src/Compilers/CSharp/Portable/Binder/BinderFlags.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/Binder/Imports.cs
  src/Compilers/CSharp/Portable/Binder/ImportsBinder.cs
  src/Compilers/CSharp/Portable/Binder/InContainerBinder.cs
  src/Compilers/CSharp/Portable/Binder/InSubmissionClassBinder.cs
  src/Compilers/CSharp/Portable/Binder/NamespaceOrTypeAndUsingDirective.cs
  src/Compilers/CSharp/Portable/Binder/WithExternAliasesBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithExternAndUsingAliasesBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithUsingNamespacesAndTypesBinder.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.UsingsFromOptionsAndDiagnostics.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol_Completion.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ImportsTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
Labels: Area-Compilers

#51620 Make var patterns bindable
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
Labels: Area-IDE, Community

#51304 Recommend struct and class keywords after record
  src/EditorFeatures/CSharpTest2/Recommendations/ClassKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StructKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ClassKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/StructKeywordRecommender.cs
Labels: Area-IDE, Community, New Language Feature - Records

#51682 Revert statement that is breaking sqlite on OSX.
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/SqlConnection.cs
Labels: Area-IDE, auto-merge

#51704 Use frozen-partial semantics when producing semantic classifications
  src/EditorFeatures/Core/Implementation/Classification/CompilationAvailableTaggerEventSource.cs
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationBufferTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationUtilities.cs
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationViewTaggerProvider.cs
Labels: Area-IDE, auto-merge

#51709 Extract Rebuild library
  Compilers.sln
  Compilers.slnf
  Roslyn.sln
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Core/Rebuild/BlobReaderExtensions.cs
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/Rebuild/MetadataCompilationOptions.cs
  src/Compilers/Core/Rebuild/MetadataReferenceInfo.cs
  src/Compilers/Core/Rebuild/Rebuild.csproj
  src/Compilers/Core/Rebuild/ResolvedSource.cs
  src/Compilers/Core/Rebuild/SourceFileInfo.cs
  src/Compilers/Core/Rebuild/SourceLink.cs
  src/Tools/BuildValidator/BuildValidator.csproj
  src/Tools/BuildValidator/BuildValidator.sln
  src/Tools/BuildValidator/CompilationDiff.cs
  src/Tools/BuildValidator/LocalSourceResolver.cs
  src/Tools/BuildValidator/Program.cs
Labels: Area-Compilers

#51070 Document breaking change for #46044
  docs/compilers/CSharp/Compiler Breaking Changes - post DotNet 5.md
Labels: Area-Compilers, Documentation

#50762 Provide a new implementation of IPersistenceService that sits on top of the new platform 'cloud cache' system.
  eng/Versions.props
  src/Tools/IdeBenchmarks/SQLitePersistentStorageBenchmark.cs
  src/Tools/IdeCoreBenchmarks/CloudCache/IdeCoreBenchmarksCloudCacheServiceProvider.cs
  src/Tools/IdeCoreBenchmarks/FindReferencesBenchmarks.cs
  src/Tools/IdeCoreBenchmarks/IdeCoreBenchmarks.csproj
  src/Tools/IdeCoreBenchmarks/NavigateToBenchmarks.cs
  src/VisualStudio/CSharp/Test/Microsoft.VisualStudio.LanguageServices.CSharp.UnitTests.csproj
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/CloudCachePersistentStorageTests.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/Mocks/AuthorizationServiceMock.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/Mocks/FileSystemServiceMock.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/Mocks/MockCloudCachePersistentStorageService.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/Mocks/OptionServiceMock.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/Mocks/ServiceBrokerMock.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/Mocks/SolutionServiceMock.cs
  src/VisualStudio/CSharp/Test/PersistentStorage/SQLiteV2PersistentStorageTests.cs
  src/VisualStudio/Core/Def/Storage/AbstractCloudCachePersistentStorageService.cs
  src/VisualStudio/Core/Def/Storage/CloudCachePersistentStorage.cs
  src/VisualStudio/Core/Def/Storage/ProjectContainerKeyCache.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioCloudCacheStorageService.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioCloudCacheStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/CloudCache/ICloudCacheStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/DesktopPersistenceStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/PersistenceStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageConstants.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_DocumentSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_ProjectSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_StringIds.cs
  src/Workspaces/Core/Portable/Storage/StorageDatabase.cs
  src/Workspaces/Core/Portable/Storage/StorageOptions.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/AbstractPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/DefaultPersistentStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/DocumentKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IChecksummedPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/NoOpPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/NoOpPersistentStorageService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/ProjectKey.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/SolutionKey.cs
  src/Workspaces/CoreTest/Host/WorkspaceServices/TestPersistenceService.cs
  src/Workspaces/Remote/ServiceHub/Host/IGlobalServiceBroker.cs
  src/Workspaces/Remote/ServiceHub/Host/Storage/RemoteCloudCacheStorageServiceFactory.cs
  src/Workspaces/Remote/ServiceHub/Host/Storage/RemotePersistentStorageLocationService.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Services/BrokeredServiceBase.FactoryBase.cs
Labels: Area-IDE, auto-merge

#51643 Move todo comments analyzer to Editor Features
  src/EditorFeatures/CSharpTest/TodoComment/NoCompilationTodoCommentTests.cs
  src/Features/Core/Portable/TodoComments/DocumentAndComments.cs
  src/Features/Core/Portable/TodoComments/InProcTodoCommentsIncrementalAnalyzer.cs
  src/Features/Core/Portable/TodoComments/InProcTodoCommentsIncrementalAnalyzerProvider.cs
  src/VisualStudio/Core/Def/Implementation/TodoComments/VisualStudioTodoCommentsService.cs
Labels: Area-IDE

#51623 Update 'UseExpressionBody' tests to the new test library
  src/Analyzers/CSharp/CodeFixes/UseExpressionBody/UseExpressionBodyCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForAccessorsAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForConstructorsAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForConversionOperatorsAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForIndexersAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForLocalFunctionsAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForMethodsAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForOperatorsAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForPropertiesAnalyzerTests.cs
Labels: Area-Analyzers

#51759 Share IWpfDifferenceViewerExtensions with EditorFeatures.Cocoa
  src/EditorFeatures/Core.Cocoa/Preview/ICocoaDifferenceViewerExtensions.cs
  src/EditorFeatures/Core.Cocoa/Preview/PreviewFactoryService.cs
Labels: Area-IDE

#51754 Document breaking change for #50755
  docs/compilers/CSharp/Compiler Breaking Changes - post DotNet 5.md
Labels: Area-Compilers, Documentation

#51763 Add support for running an A/B experiment on the new cloud cache system.
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Storage/DesktopPersistenceStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Storage/StorageOptions.cs
Labels: Area-IDE, auto-merge

#51708 [LSP] Disable text sync for C# in 16.9
  src/Features/LanguageServer/Protocol/Handler/DocumentChanges/DidCloseHandler.cs
  src/Features/LanguageServer/Protocol/Handler/DocumentChanges/DidOpenHandler.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.DocumentChangeTracker.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AlwaysActivateInProcLanguageClient.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Approved to merge, Area-IDE, LSP

#51694 Move Rebuild to have a deny list approach
  eng/test-rebuild.ps1
  src/Tools/BuildValidator/LocalReferenceResolver.cs
  src/Tools/BuildValidator/LocalSourceResolver.cs
  src/Tools/BuildValidator/PEReaderExtensions.cs
  src/Tools/BuildValidator/Program.cs
  src/Tools/BuildValidator/Records.cs
  src/Tools/BuildValidator/Util.cs
Labels: Area-Compilers, auto-merge

#51794 Pass cancellation token to Dequeue method, and rewrite comment
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
Labels: Area-IDE

#51815 Don't use docker for sourcebuild leg
  azure-pipelines.yml
Labels: Area-Infrastructure

#51778 Add Rebuild.UnitTests
  Compilers.sln
  Compilers.slnf
  Roslyn.sln
  eng/test-rebuild.ps1
  src/Compilers/Core/Portable/PEWriter/CompilationOptionNames.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/RebuildTest/Microsoft.CodeAnalysis.Rebuild.UnitTests.csproj
  src/Compilers/Core/RebuildTest/OptionRoundTripTests.cs
  src/Compilers/Test/Core/CommonTestBase.cs
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
  src/Compilers/Test/Utilities/CSharp/Microsoft.CodeAnalysis.CSharp.Test.Utilities.csproj
  src/Tools/BuildValidator/BuildValidator.sln
Labels: Area-Compilers

#51816 Cancel outstanding work on tagger disconnect
  src/EditorFeatures/Core/Implementation/Classification/CompilationAvailableTaggerEventSource.cs
Labels: Area-IDE

#51805 Use ImmutableSegmentedDictionary in the analyzer driver
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActionsForAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Labels: Area-Analyzers

#51720 Record structs: add properties and primary ctor
  src/Compilers/CSharp/Portable/Binder/BinderFactory.BinderFactoryVisitor.cs
  src/Compilers/CSharp/Portable/Binder/BinderFactory.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ExpressionVariableFinder.cs
  src/Compilers/CSharp/Portable/Binder/LocalBinderFactory.cs
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPropertySymbol.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaUtilities.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxNodeExtensions.cs
  src/Compilers/CSharp/Portable/Syntax/TypeDeclarationSyntax.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#51449 Add component debugger support to target files
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/TargetTests.cs
Labels: Area-Compilers

#51811 Simplify portions of symbol completion
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
  src/Workspaces/VisualBasic/Portable/Recommendations/VisualBasicRecommendationServiceRunner.vb
Labels: Area-IDE, auto-merge

#51819 Use RTM version of framework ref assemblies
  eng/Versions.props
  src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb
Labels: Area-Compilers, auto-merge

#51854 Merge main into features/argument-completion
  Compilers.sln
  Compilers.slnf
  Roslyn.sln
  azure-pipelines.yml
  eng/Versions.props
  eng/test-rebuild.ps1
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/TargetTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActionsForAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/PEWriter/CompilationOptionNames.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/RebuildTest/Microsoft.CodeAnalysis.Rebuild.UnitTests.csproj
  src/Compilers/Core/RebuildTest/OptionRoundTripTests.cs
  src/Compilers/Test/Core/CommonTestBase.cs
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
  src/Compilers/Test/Utilities/CSharp/Microsoft.CodeAnalysis.CSharp.Test.Utilities.csproj
  src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/Core/Implementation/Classification/CompilationAvailableTaggerEventSource.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.DocumentChangeTracker.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.cs
  src/Tools/BuildValidator/BuildValidator.sln
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AlwaysActivateInProcLanguageClient.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
  src/Workspaces/VisualBasic/Portable/Recommendations/VisualBasicRecommendationServiceRunner.vb
Labels: Area-Compilers, auto-merge

#51872 Disable embedded interop types on mac
  src/EditorFeatures/Core.Cocoa/Microsoft.CodeAnalysis.EditorFeatures.Cocoa.csproj
Labels: Area-IDE, auto-merge

#51881 Simplify CSharpRequiredLanguageVersion
  src/Compilers/CSharp/Portable/LanguageVersion.cs
Labels: Area-Compilers

#51899 Merge main into feature/value_tracking
  Compilers.sln
  Compilers.slnf
  Roslyn.sln
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/test-rebuild.ps1
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/Compilers/Core/MSBuildTaskTests/TargetTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GroupedAnalyzerActionsForAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/PEWriter/CompilationOptionNames.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/RebuildTest/Microsoft.CodeAnalysis.Rebuild.UnitTests.csproj
  src/Compilers/Core/RebuildTest/OptionRoundTripTests.cs
  src/Compilers/Test/Core/CommonTestBase.cs
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
  src/Compilers/Test/Utilities/CSharp/Microsoft.CodeAnalysis.CSharp.Test.Utilities.csproj
  src/Compilers/Test/Utilities/VisualBasic/CompilationTestUtils.vb
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/Core.Cocoa/Microsoft.CodeAnalysis.EditorFeatures.Cocoa.csproj
  src/EditorFeatures/Core/Implementation/Classification/CompilationAvailableTaggerEventSource.cs
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.DocumentChangeTracker.cs
  src/Tools/BuildValidator/BuildValidator.sln
  src/VisualStudio/Core/Def/Implementation/LanguageClient/AlwaysActivateInProcLanguageClient.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
  src/Workspaces/VisualBasic/Portable/Recommendations/VisualBasicRecommendationServiceRunner.vb
Labels: Area-Compilers

#51852 Better rebuild logging
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/RebuildTest/OptionRoundTripTests.cs
  src/Tools/BuildValidator/CompilationDiff.cs
  src/Tools/BuildValidator/LocalReferenceResolver.cs
  src/Tools/BuildValidator/Program.cs
  src/Tools/BuildValidator/Records.cs
Labels: Area-Compilers, New Language Feature - Rebuild

#51880 Display effective language version for #error version
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
Labels: Area-Compilers, Community

#51897 Code cleanup for Edit and Continue
  src/EditorFeatures/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/MockEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchEditAndContinueWorkspaceService.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdate.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdateStatus.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdateWrapper.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdates.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdatesWrapper.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive

#51851 Ensure NullableWalker.SnapshotManager.ExitWalker() is invoked
  src/Compilers/CSharp/Portable/BoundTree/BoundTreeVisitors.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableContextTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionPerfTests.cs
Labels: Area-Compilers

#51905 Change Compilation.CommonSyntaxTrees to use ImmutableArray
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
Labels: Area-Compilers, Community

#51825 Update generated action table column names
  src/Tools/BuildActionTelemetryTable/Program.cs
Labels: Area-Infrastructure

#51655 Argument completion tweaks
  src/VisualStudio/CSharp/Impl/Snippets/SnippetExpansionClient.cs
  src/VisualStudio/CSharp/Impl/Snippets/SnippetFunctions/SnippetFunctionArgumentValue.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/AbstractSnippetExpansionClient.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/SnippetFunctions/AbstractSnippetFunctionArgumentValue.cs
  src/VisualStudio/Core/Test/Snippets/SnippetTestState.vb
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpArgumentProvider.cs
  src/VisualStudio/VisualBasic/Impl/Snippets/SnippetExpansionClient.vb
  src/VisualStudio/VisualBasic/Impl/Snippets/SnippetFunctions/SnippetFunctionArgumentValue.vb
Labels: Area-IDE

#51753 Provide dotnet-watch access to EnC APIs
  Roslyn.sln
  eng/Versions.props
  eng/targets/Settings.props
  src/EditorFeatures/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/MockEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchEditAndContinueWorkspaceService.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdateStatus.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdateWrapper.cs
  src/Tools/ExternalAccess/DotNetWatch/DotNetWatchManagedModuleUpdatesWrapper.cs
  src/Tools/ExternalAccess/DotNetWatch/Microsoft.CodeAnalysis.ExternalAccess.DotNetWatch.csproj
  src/Tools/ExternalAccess/DotNetWatch/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/DotNetWatch/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/DotNetWatch/StubManagedEditAndContinueDebuggerService.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-IDE

#51925 Add Microsoft.CodeAnalysis.ExternalAccess.DotNetWatch to PublishData
  eng/config/PublishData.json
Labels: Area-Infrastructure

#51918 Remove channel publishing and clean up PublishData
  eng/config/PublishData.json
Labels: Area-Infrastructure, auto-merge

#51845 Rebuild compilations that use top-level statements
  eng/test-rebuild.ps1
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/RebuildTest/CSharpRebuildTests.cs
Labels: Area-Compilers

#51223 Fix Function Pointer RefKind Display
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
Labels: Area-Compilers, Community

#51887 Update vssdk
  eng/Versions.props
  eng/targets/VisualStudio.targets
  src/Setup/DevDivVsix/CompilersPackage/Microsoft.CodeAnalysis.Compilers.Setup.csproj
  src/Setup/DevDivVsix/ServiceHubConfig/Roslyn.VisualStudio.Setup.ServiceHub.csproj
Labels: Area-Infrastructure, auto-merge

#51465 Remove obsolete publishing step
  Roslyn.sln
  azure-pipelines-official.yml
  eng/Versions.props
  eng/publish-assets.ps1
  src/Tools/RoslynPublish/.gitignore
  src/Tools/RoslynPublish/App.config
  src/Tools/RoslynPublish/Program.cs
  src/Tools/RoslynPublish/README.md
  src/Tools/RoslynPublish/RoslynPublish.csproj
  src/Tools/RoslynPublish/RoslynPublish.sln
Labels: Area-Infrastructure

#51575 Change queue time metrics to bucket by 10ms up to 1000ms. 50ms was n…
  src/Features/LanguageServer/Protocol/Handler/RequestExecutionQueue.RequestTelemetryLogger.cs
Labels: Area-IDE

#51916 [LSP] Respect settings passed in by LSP in AutoInsertHandler
  src/EditorFeatures/Core/Implementation/AutomaticCompletion/BraceCompletionSessionProvider.BraceCompletionSession.cs
  src/Features/CSharp/Portable/BraceCompletion/CurlyBraceCompletionService.cs
  src/Features/Core/Portable/BraceCompletion/AbstractBraceCompletionService.cs
  src/Features/Core/Portable/BraceCompletion/IBraceCompletionService.cs
  src/Features/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/OnAutoInsert/OnAutoInsertTests.cs
Labels: Area-IDE, LSP

#51939 Fix parameter casing
  src/Compilers/VisualBasic/Portable/VisualBasicCompilationOptions.vb
Labels: Area-Compilers, Community

#51943 Cache expensive lookup that never changes over life of vs.
  src/VisualStudio/Core/Def/Implementation/LanguageService/AbstractPackage`2.cs
Labels: Area-IDE

#51877 Fix rebuild round trip in unit tests
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Core/Rebuild/BlobReaderExtensions.cs
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CompilationOptionsReader.cs
  src/Compilers/Core/Rebuild/Extensions.cs
  src/Compilers/Core/Rebuild/Records.cs
  src/Compilers/Core/Rebuild/ResolvedSource.cs
  src/Compilers/Core/RebuildTest/OptionRoundTripTests.cs
  src/Compilers/Test/Core/CommonTestBase.cs
  src/Tools/BuildValidator/Extensions.cs
  src/Tools/BuildValidator/Program.cs
  src/Tools/BuildValidator/Records.cs
Labels: Area-Compilers, New Language Feature - Rebuild

#51796 Fix links
  docs/contributing/Nullable Annotations.md
  docs/wiki/C#-Interactive-Walkthrough.md
Labels: Area-Compilers, Documentation

#51557 Remove async method validation
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContextHelpers.cs
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
Labels: Area-Compilers

#51948 Only update snippet model on explicit selection
  src/VisualStudio/Core/Def/Implementation/Snippets/AbstractSnippetExpansionClient.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/IVsExpansionSessionExtensions.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpArgumentProvider.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicArgumentProvider.cs
Labels: Area-IDE

#51963 Fix a build break
  src/Compilers/Core/RebuildTest/CSharpRebuildTests.cs
Labels: Area-Infrastructure, Test

#51847 Remove generator edit framework
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriverState.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorInfo.cs
  src/Compilers/Core/Portable/SourceGeneration/PendingEdit.cs
  src/Compilers/Test/Core/SourceGeneration/TestGenerators.cs
Labels: Area-Compilers, New Feature - Source Generators

#51780 Fix link
  docs/compilers/CSharp/Unicode Version.md
Labels: Area-Compilers, auto-merge

#51724 Update SymbolEqualityComparer.IncludeNullability docs
  src/Compilers/Core/Portable/Symbols/SymbolEqualityComparer.cs
Labels: Area-Compilers, Community

#51855 Implement binding, scoping and name lookup for Global Using directives
  src/Compilers/CSharp/Portable/Binder/BinderFactory.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/WithExternAndUsingAliasesBinder.cs
  src/Compilers/CSharp/Portable/Binder/WithUsingNamespacesAndTypesBinder.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Symbols/Source/QuickAttributeChecker.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol_Completion.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GlobalUsingDirectiveTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ImportsTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/UsedAssembliesTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Test/Core/Diagnostics/DiagnosticDescription.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
Labels: Area-Compilers

#51960 Merge features/argument-completion to main
  src/EditorFeatures/Core.Wpf/SignatureHelp/AbstractSignatureHelpCommandHandler.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/Controller.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/ModelUpdatedEventsArgs.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/SignatureHelpAfterCompletionCommandHandler.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/SignatureHelpBeforeCompletionCommandHandler.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/SignatureHelpControllerProvider.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/AbstractController.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/IController.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/ModelComputation.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextBufferExtensions.cs
  src/EditorFeatures/Test2/IntelliSense/ModelTests.vb
  src/EditorFeatures/TestUtilities/Completion/AbstractArgumentProviderTests`1.cs
  src/Features/CSharp/Portable/Completion/Providers/ContextVariableArgumentProvider.cs
  src/Features/Core/Portable/Completion/ArgumentContext.cs
  src/Features/Core/Portable/Completion/ArgumentProvider.cs
  src/Features/Core/Portable/Completion/CompletionOptions.cs
  src/Features/Core/Portable/Completion/CompletionOptionsProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractContextVariableArgumentProvider.cs
  src/Features/Core/Portable/SignatureHelp/AbstractSignatureHelpProvider.cs
  src/Features/Core/Portable/SignatureHelp/CommonSignatureHelpUtilities.cs
  src/Features/Core/Portable/SignatureHelp/SignatureHelpItems.cs
  src/Features/Core/Portable/SignatureHelp/SignatureHelpState.cs
  src/Features/VisualBasic/Portable/Completion/Providers/ContextVariableArgumentProvider.vb
  src/VisualStudio/CSharp/Impl/Options/IntelliSenseOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/IntelliSenseOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/IntelliSenseOptionPageStrings.cs
  src/VisualStudio/CSharp/Impl/Snippets/SnippetCommandHandler.cs
  src/VisualStudio/CSharp/Impl/Snippets/SnippetExpansionClient.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/AbstractSnippetCommandHandler.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/AbstractSnippetExpansionClient.cs
  src/VisualStudio/Core/Def/Implementation/Snippets/IVsExpansionSessionExtensions.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Snippets/CSharpSnippetExpansionClientTests.vb
  src/VisualStudio/Core/Test/Snippets/SnippetTestState.vb
  src/VisualStudio/Core/Test/Snippets/VisualBasicSnippetExpansionClientTests.vb
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpArgumentProvider.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicArgumentProvider.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/VisualStudioWorkspace_OutOfProc.cs
  src/VisualStudio/VisualBasic/Impl/Options/IntelliSenseOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/IntelliSenseOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/IntelliSenseOptionPageStrings.vb
  src/VisualStudio/VisualBasic/Impl/Snippets/SnippetCommandHandler.vb
  src/VisualStudio/VisualBasic/Impl/Snippets/SnippetCompletionProvider.vb
  src/VisualStudio/VisualBasic/Impl/Snippets/SnippetExpansionClient.vb
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE

#51747 Remove locking while computing our metadata indices for FAR and Add-Using
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Serialization.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Source.cs
Labels: Area-IDE, auto-merge

#51850 Small performance improvements from feedback traces
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentityComparer.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Log/AbstractLogAggregator.cs
Labels: Area-IDE

#51976 Cancellation handling fixes
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticDataSerializer.cs
  src/Workspaces/Remote/Core/BrokeredServiceConnection.cs
Labels: Area-IDE, auto-merge

#51898 Add value tracking service
  src/EditorFeatures/Core/ValueTracking/IValueTrackingService.cs
  src/EditorFeatures/Core/ValueTracking/ValueTrackedItem.cs
  src/EditorFeatures/Core/ValueTracking/ValueTrackingProgressCollector.cs
  src/EditorFeatures/Core/ValueTracking/ValueTrackingService.cs
  src/EditorFeatures/Test/ValueTracking/AbstractBaseValueTrackingTests.cs
  src/EditorFeatures/Test/ValueTracking/CSharpValueTrackingTests.cs
  src/EditorFeatures/Test/ValueTracking/VisualBasicValueTrackingTests.cs
Labels: Area-IDE, auto-merge

#51985 Update RemoveUnnecessaryCastTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
Labels: Area-IDE

#51507 Ensure resource strings will be valid in string literals
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/VisualBasicTest/InitializeParameter/AddParameterCheckTests.vb
  src/Features/CSharp/Portable/InitializeParameter/CSharpAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/InitializeParameter/VisualBasicAddParameterCheckCodeRefactoringProvider.vb
Labels: Area-IDE, auto-merge

#51792 Add compiler support for UnconditionalSuppressMessage
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SuppressMessageAttributeCompilerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.cs
  src/Compilers/Test/Core/Diagnostics/SuppressMessageAttributeTests.cs
  src/EditorFeatures/Test/Diagnostics/SuppressMessageAttributeWorkspaceTests.cs
Labels: Area-Compilers

#51990 Fix additional cancellation case for GetAssetsAsync
  src/Workspaces/Remote/Core/SolutionAssetProvider.cs
Labels: Area-IDE, auto-merge

#51782 Add SolutionFilter support to MSBuildWorkspace
  eng/Versions.props
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.SolutionFilterReader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs
  src/Workspaces/Core/MSBuild/Microsoft.CodeAnalysis.Workspaces.MSBuild.csproj
  src/Workspaces/Core/MSBuild/WorkspaceMSBuildResources.resx
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.cs.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.de.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.es.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.fr.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.it.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.ja.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.ko.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.pl.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.pt-BR.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.ru.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.tr.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.zh-Hans.xlf
  src/Workspaces/Core/MSBuild/xlf/WorkspaceMSBuildResources.zh-Hant.xlf
  src/Workspaces/MSBuildTest/MSBuildWorkspaceTests.cs
  src/Workspaces/MSBuildTest/Resources/SolutionFilters/CSharpSolutionFilter.slnf
  src/Workspaces/MSBuildTest/Resources/SolutionFilters/InvalidSolutionFilter.slnf
  src/Workspaces/MSBuildTest/TestFiles/Resources.cs
Labels: Area-IDE

#51974 Add UI for Value Tracking
  src/EditorFeatures/Core/Extensibility/Commands/PredefinedCommandHandlerNames.cs
  src/EditorFeatures/Core/ValueTracking/ValueTrackedItem.cs
  src/EditorFeatures/Core/ValueTracking/ValueTrackingService.cs
  src/EditorFeatures/Test/ValueTracking/AbstractBaseValueTrackingTests.cs
  src/VisualStudio/Core/Def/Commands.vsct
  src/VisualStudio/Core/Def/Guids.cs
  src/VisualStudio/Core/Def/ID.RoslynCommands.cs
  src/VisualStudio/Core/Def/Implementation/CommandBindings.cs
  src/VisualStudio/Core/Def/PackageRegistration.pkgdef
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Def/ValueTracking/BindableTextBlock.cs
  src/VisualStudio/Core/Def/ValueTracking/EmptyTreeViewItem.cs
  src/VisualStudio/Core/Def/ValueTracking/TreeViewItemBase.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackedTreeItemViewModel.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingCommandHandler.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingEditorCommandArgs.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingToolWindow.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTree.xaml
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTree.xaml.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTreeItemViewModel.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTreeRootViewModel.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingTreeViewModel.cs
  src/VisualStudio/Core/Def/xlf/Commands.vsct.cs.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.de.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.es.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.fr.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.it.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ja.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ko.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.pl.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.ru.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.tr.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/Commands.vsct.zh-Hant.xlf
Labels: Area-IDE, auto-merge

#51994 Update language feature status table
  docs/Language Feature Status.md
Labels: Area-Compilers

#51728 Ignore extern methods in naming style
  src/Analyzers/CSharp/Analyzers/NamingStyle/CSharpNamingStyleDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/NamingStyles/NamingStylesTests.cs
  src/Analyzers/VisualBasic/Analyzers/NamingStyle/VisualBasicNamingStyleDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Tests/NamingStyles/NamingStylesTests.vb
Labels: Area-IDE, Community

#51973 Rename record equality parameters to 'left' and 'right'
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityOperator.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityOperatorBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordInequalityOperator.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InitOnlyMemberTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
Labels: Area-Compilers, Community, New Language Feature - Records

#51961 Move code back from quick info to SymbolDisplay.
  src/Features/Core/Portable/DocumentationComments/AbstractDocumentationCommentFormattingService.cs
  src/Features/Core/Portable/DocumentationComments/IDocumentationCommentFormattingService.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.cs
  src/Features/Core/Portable/Shared/Extensions/ISymbolExtensions_2.cs
Labels: Area-IDE, auto-merge

#52002 Add feature flag so we can remotely disable operator-completion.
  src/Features/CSharp/Portable/Completion/CompletionProviders/OperatorsAndIndexer/UnnamedSymbolCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/OperatorsAndIndexer/UnnamedSymbolCompletionProvider_Operators.cs
  src/Workspaces/Core/Portable/Experiments/IExperimentationService.cs
Labels: Area-IDE

#52000 Use longer timeout for interactive window tests
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpSendToInteractive.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/InteractiveWindow_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/InteractiveWindow_OutOfProc.cs
Labels: Area-Interactive, auto-merge

#51967 Hot Reload watch service
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/MockEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/IRemoteEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/ManagedEditAndContinueLanguageService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive

#52036 Fix for: "Information Loss" caused by use of default in SyntaxNode-Update methods #51997
  src/Compilers/CSharp/Portable/Syntax/BlockSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/BreakStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/CheckedStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ContinueStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/DoStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/EmptyStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/EventDeclarationSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ExpressionStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/FixedStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ForEachStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ForEachVariableStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ForStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/GotoStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/IfStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LabeledStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LocalDeclarationStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LocalFunctionStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LockStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/RefTypeSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ReturnStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/StackAllocArrayCreationExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/SwitchStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/ThrowStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/TryStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/UnsafeStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/UsingStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/WhileStatementSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/YieldStatementSyntax.cs
Labels: Area-Compilers, Community

#52056 Use absolute project paths when loading a Solution Filter
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.SolutionFilterReader.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.cs
Labels: Area-IDE

#51567 Null coalescing in definite assignment
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/FlowTests.cs
  src/Compilers/CSharp/Test/Semantic/FlowAnalysis/RegionAnalysisTests.cs
Labels: Area-Compilers

#51995 Simplify NotNullIfParameterNotNull implementation in PEParameterSymbol
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
Labels: Area-Compilers, Concept-Design Debt

#52055 Downgrade System.Text.Json reference version to 4.7.2
  eng/Versions.props
Labels: Area-Infrastructure, auto-merge

#52073 Obsolete ImportingConstructor
  src/Analyzers/VisualBasic/CodeFixes/RemoveUnnecessaryByVal/VisualBasicRemoveUnnecessaryByValCodeFixProvider.vb
Labels: Area-IDE

#52071 Add missing [Fact] in ConversionCompletionProviderTests
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ConversionCompletionProviderTests.cs
Labels: Area-IDE

#51900 Record-structs: Add equality members
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityOperator.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityOperatorBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordGetHashCode.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordInequalityOperator.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjEquals.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers, New Language Feature - Records

#47360 Make DocumentationCommentCompiler work after NormalizeWhitespace
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/XmlDocCommentTests.cs
Labels: Area-Compilers, Community

#52062 Update IOperation Test Hook Doc
  docs/compilers/IOperation Test Hook.md
Labels: Area-Compilers, Documentation, Feature - IOperation

#49621 Fix parenthesized pattern parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
Labels: Area-Compilers, Community, New Language Feature - Pattern Matching

#52088 Revert "Make DocumentationCommentCompiler work after NormalizeWhitespace"
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/XmlDocCommentTests.cs
Labels: Area-Compilers

#51984 Fix null annotation of SyntaxFactory.UsingStatement
  src/Compilers/CSharp/Portable/Syntax/UsingStatementSyntax.cs
Labels: Area-Compilers, Community

#52050 Consistent ContainsSyntaxTree behavior between VB and C#
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/CompilationAPITests.vb
Labels: Area-Compilers, Community

#51826 Update PublishData for dev17.0
  eng/config/PublishData.json
Labels: Area-Infrastructure, auto-merge

#52093 Downgrade System.Text.Json to 4.7.0
  eng/Versions.props
Labels: Area-Infrastructure

#52096 Extract out common QI code for Xaml to use.
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoUtilities.cs
Labels: Area-IDE, auto-merge

#52079 Rebuild API shape
  src/Compilers/Core/Rebuild/BuildConstructor.cs
  src/Compilers/Core/Rebuild/CSharpCompilationFactory.cs
  src/Compilers/Core/Rebuild/CompilationFactory.cs
  src/Compilers/Core/Rebuild/Records.cs
  src/Compilers/Core/Rebuild/VisualBasicCompilationFactory.cs
  src/Compilers/Core/RebuildTest/CSharpRebuildTests.cs
  src/Compilers/Core/RebuildTest/OptionRoundTripTests.cs
  src/Tools/BuildValidator/CompilationDiff.cs
  src/Tools/BuildValidator/Program.cs
  src/Tools/BuildValidator/Records.cs
Labels: Area-Compilers, New Language Feature - Rebuild

#51929 Add inheritance margin service and tagger
  eng/Versions.props
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharp/InheritanceMargin/CSharpInheritanceMarginService.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceGlyphFactory.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceGlyphFactoryProvider.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceMarginTag.cs
  src/EditorFeatures/Core.Wpf/InheritanceMargin/InheritanceMarginTaggerProvider.cs
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/GoToBase/FindBaseHelpers.cs
  src/EditorFeatures/Core/InheritanceMargin/AbstractInheritanceMarginService.cs
  src/EditorFeatures/Core/InheritanceMargin/AbstractInheritanceMarginService_Helpers.cs
  src/EditorFeatures/Core/InheritanceMargin/IInheritanceMarginService.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceMarginItem.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceRelationship.cs
  src/EditorFeatures/Core/InheritanceMargin/InheritanceTargetItem.cs
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Test/InheritanceMargin/InheritanceMarginTests.cs
  src/EditorFeatures/VisualBasic/InheritanceMargin/VisualBasicInheritanceMarginService.vb
  src/EditorFeatures/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.EditorFeatures.vbproj
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute.cs
Labels: Area-IDE

#51966 Update Versions.props and remove loghub references
  eng/Versions.props
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
Labels: Area-IDE

#51846 XAML QuickInfo update
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Extensions/SymbolExtensions.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Completion/CompletionResolveHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Hover/HoverHandler.cs
Labels: Area-IDE, auto-merge

#51950 Use member type for relational pattern even in error cases
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIsPatternExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests3.cs
Labels: Area-Compilers

#51911 Add intellicode API for generating code action edits from intents and
  eng/targets/Settings.props
  src/EditorFeatures/CSharpTest/Intents/GenerateConstructorIntentTests.cs
  src/EditorFeatures/Core/ExternalAccess/IntelliCode/Api/IIntentSourceProvider.cs
  src/EditorFeatures/Core/ExternalAccess/IntelliCode/IntentProcessor.cs
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/Features/CSharp/Portable/GenerateConstructorFromMembers/CSharpGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.Features.csproj
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.GenerateConstructorWithDialogCodeAction.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/Intents/IIntentProvider.cs
  src/Features/Core/Portable/Intents/IIntentProviderMetadata.cs
  src/Features/Core/Portable/Intents/IntentProviderAttribute.cs
  src/Features/Core/Portable/Intents/IntentResult.cs
  src/Features/Core/Portable/Intents/WellKnownIntents.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Workspaces/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.Workspaces.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#52041 Don't try to highlight operators
  src/EditorFeatures/Core/ReferenceHighlighting/ReferenceHighlightingViewTaggerProvider.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReferenceHighlighting.cs
Labels: Area-IDE

#52087 Add RestrictedIVT to dotnet watch to Features
  eng/targets/Settings.props
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
Labels: Area-IDE

#52129 Enable CodeActions support for XAML
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlInProcLanguageClientDisableUX.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/CodeActions/CodeActionsHandlerProvider.cs
  src/VisualStudio/Xaml/Impl/Implementation/XamlProjectService.cs
  src/VisualStudio/Xaml/Impl/Implementation/XamlProjectService_IVsRunningDocTableEvents3.cs
Labels: Area-IDE

#52130 Update issue number
  docs/Language Feature Status.md
Labels: Area-Compilers

#52140 Remove an unnecessary override.
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordGetHashCode.cs
Labels: Area-Compilers

#52078 Update IDEDiagnosticIDConfigurationTests to be exclusive rather than inclusive
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
Labels: Area-Analyzers, Community

#52101 F5 Hot Reload
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/EditAndContinue/Helpers/ActiveStatementTestHelpers.cs
  src/EditorFeatures/Test/EditAndContinue/Helpers/MockDiagnosticAnalyzerService.cs
  src/EditorFeatures/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/MockEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/ActiveStatementsMap.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueErrorCode.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/IRemoteEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Features/Core/Portable/EditAndContinue/SolutionUpdate.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/VisualStudio/Core/Def/Implementation/EditAndContinue/ManagedEditAndContinueLanguageService.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive

#52083 Use OptimizedVSCompletionList in LSP scenarios (3.7x serialization speed improvement)
  eng/Versions.props
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
Labels: Area-IDE

#52126 Use `null` instead of empty signature helps in LSP
  src/Features/LanguageServer/Protocol/Handler/SignatureHelp/SignatureHelpHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/SignatureHelp/SignatureHelpTests.cs
  src/VisualStudio/Core/Def/Implementation/LanguageClient/InProcLanguageServer.cs
  src/VisualStudio/LiveShare/Impl/Shims/TypeScriptHandlerShims.cs
Labels: Area-IDE, auto-merge
