Repository dotnet/roslyn, pull requests merged in 2022-11, with the labels that each got.

#65129 Better name suggestions when creating new out-variables
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameInfo.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameRecommender.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTokenExtensions.cs
Labels: Area-IDE

#65128 Don't offer 'introduce variable' on 'this' expression
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.State.cs
Labels: Area-IDE

#65135 Add test showing issues do not repro
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.LanguageInteraction.cs
Labels: Area-IDE

#65045 Display lambda default parameter values in QuickInfo
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
Labels: Area-IDE

#65132 Fix implement-interface collisions with ref-returning indexers
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction_Conflicts.cs
  src/Workspaces/Core/Portable/Shared/Utilities/SignatureComparer.cs
Labels: Area-IDE

#64005 Move test method to test code
  src/EditorFeatures/CSharpTest/Structure/CommentStructureTests.cs
  src/Features/CSharp/Portable/Structure/CSharpStructureHelpers.cs
Labels: Area-IDE

#65146 Fix null ref in declaration name computation
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameInfo.cs
Labels: Area-IDE

#65145 Improve 'use simple using statement' for a few cases.
  src/Analyzers/CSharp/Analyzers/UseSimpleUsingStatement/UseSimpleUsingStatementDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseSimpleUsingStatement/UseSimpleUsingStatementTests.cs
Labels: Area-IDE

#65147 Cleanup ?? usage
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/ContextIntervalTree.cs
Labels: Area-IDE

#65078 Fix a race between AsyncQueue operations
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/VisualBasic/Portable/Compilation/MethodCompiler.vb
Labels: Area-Compilers

#65133 Ensure the lookup return the CompletionProvider if exist
  src/EditorFeatures/CSharpTest/Completion/CompletionServiceTests.cs
  src/Features/Core/Portable/Completion/CompletionService.ProviderManager.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractCreateServicesOnTextViewConnection.cs
Labels: Area-IDE

#65149 Improve decl name suggestions for out-vars
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ArgumentSyntaxExtensions.cs
Labels: Area-IDE

#65117 Harden FileLogger against all kind of exceptions during File IO
  src/VisualStudio/Core/Def/Telemetry/FileLogger.cs
Labels: Area-IDE

#65116 Remove the static ConditionalWeakTable for per-project CompilationWit…
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: Area-IDE

#65168 Fix assert in RemoveUnusedMembersDiagnosticAnalyzer
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Area-IDE, Tenet-Reliability

#65175 Remove obsolete TS method
  src/VisualStudio/Core/Def/ProjectSystem/DocumentProvider.cs
Labels: Area-IDE

#65154 Fix implement-interface with parameterized properties
  src/EditorFeatures/Test2/Diagnostics/ImplementInterface/ImplementInterfaceCrossLanguageTests.vb
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction_Property.cs
Labels: Area-IDE

#65177 Nullable enable `ArrayBuilder.FreeAll` extension method
  src/Compilers/Core/Portable/Collections/ArrayBuilderExtensions.cs
Labels: Area-Compilers

#65131 Semantic snippets - Adds tooltip descriptions to snippets
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Snippets/CSharpClassSnippetProvider.cs
  src/Features/CSharp/Portable/Snippets/CSharpInterfaceSnippetProvider.cs
  src/Features/CSharp/Portable/Snippets/CSharpStructSnippetProvider.cs
  src/Features/Core/Portable/Completion/Providers/Snippets/AbstractSnippetCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/Snippets/SnippetCompletionItem.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/Snippets/AbstractSnippetService.cs
  src/Features/Core/Portable/Snippets/SnippetData.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractConsoleSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractForEachLoopSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractIfSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractPropSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractWhileLoopSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/ISnippetProvider.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#65179 Fix use-pattern-matching with arrays of nullables
  src/Analyzers/CSharp/CodeFixes/UsePatternMatching/CSharpAsAndNullCheckCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UsePatternMatching/CSharpAsAndNullCheckTests.cs
Labels: Area-IDE

#65160 Add language specific protocol projects
  Roslyn.sln
  eng/config/PublishData.json
  src/EditorFeatures/VisualBasic/CodeGeneration/VisualBasicCodeGenerationOptionsStorage.vb
  src/EditorFeatures/VisualBasic/CodeStyle/VisualBasicCodeStyleOptionsStorage.vb
  src/EditorFeatures/VisualBasic/Formatting/VisualBasicSyntaxFormattingOptionsStorage.vb
  src/EditorFeatures/VisualBasic/Simplification/VisualBasicSimplifierOptionsStorage.vb
  src/Features/LanguageServer/Microsoft.CodeAnalysis.CSharp.LanguageServer.Protocol/Microsoft.CodeAnalysis.CSharp.LanguageServer.Protocol.csproj
  src/Features/LanguageServer/Microsoft.CodeAnalysis.VisualBasic.LanguageServer.Protocol/Microsoft.CodeAnalysis.VisualBasic.LanguageServer.Protocol.vbproj
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Workspaces/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.Workspaces.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/VisualBasic/Portable/Microsoft.CodeAnalysis.VisualBasic.Workspaces.vbproj
Labels: Area-IDE

#65143 Account for possible failures during attribute retargeting.
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingSymbolTranslator.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Retargeting/RetargetCustomAttributes.cs
  src/Compilers/VisualBasic/Portable/Symbols/Attributes/SourceAttributeData.vb
  src/Compilers/VisualBasic/Portable/Symbols/Retargeting/RetargetingSymbolTranslator.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Retargeting/RetargetingCustomAttributes.vb
Labels: Area-Compilers

#65187 Improve use-pattern-matchign in the presence of a try-block
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpIsAndCastCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UsePatternMatching/CSharpIsAndCastCheckDiagnosticAnalyzerTests.cs
Labels: Area-IDE

#65184 CS4016 diagnostic message generalization
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncMethodBuilderOverrideTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
Labels: Area-Compilers, Community

#65173 Move to the net461 ref assemblies
  eng/Versions.props
  src/Compilers/CSharp/Test/CommandLine/CommandLineTestBase.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOverridingAndHiding.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/Test/Core/Generate.ps1
  src/Compilers/Test/Core/Generated.cs
  src/Compilers/Test/Core/Generated.targets
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
  src/Compilers/Test/Core/TargetFrameworkUtil.cs
  src/Compilers/Test/Core/TestBase.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
Labels: Area-Compilers

#65189 Improve populate-switch to not complain on complete boolean switches.
  src/Analyzers/CSharp/Tests/PopulateSwitch/PopulateSwitchExpressionTests.cs
  src/Analyzers/CSharp/Tests/PopulateSwitch/PopulateSwitchStatementTests.cs
  src/Analyzers/Core/Analyzers/PopulateSwitch/AbstractPopulateSwitchDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/PopulateSwitch/AbstractPopulateSwitchExpressionDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/PopulateSwitch/AbstractPopulateSwitchStatementDiagnosticAnalyzer.cs
Labels: Area-IDE

#65193 Add unsigned right shift operator to Compiler Test Plan
  docs/contributing/Compiler Test Plan.md
Labels: Area-Compilers

#64413 Handle assert found during IDE LSIF testing
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/ExpressionVariableFinder.cs
  src/Compilers/CSharp/Portable/Binder/LocalBinderFactory.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxNodeExtensions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
Labels: Area-Compilers

#65075 Add ExternalAccess name recommender API for Pythia
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameInfo.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameRecommender.NameGenerator.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameRecommender.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/ExportDeclarationNameRecommenderAttribute.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/IDeclarationNameRecommender.cs
  src/Features/CSharp/Portable/ExternalAccess/Pythia/Api/IPythiaDeclarationNameRecommenderImplmentation.cs
  src/Features/CSharp/Portable/ExternalAccess/Pythia/PythiaDeclarationNameRecommender.cs
  src/Features/CSharp/Portable/ExternalAccess/Pythia/PythiaSignatureHelpProvider.cs
Labels: Area-IDE

#65194 Support adding parameters to constructors with expression bodies
  src/EditorFeatures/CSharpTest/GenerateFromMembers/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpCodeGenerationService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/MemberDeclarationSyntaxExtensions.cs
Labels: Area-IDE

#65195 Do not offer decl name completion for clearly errant cases
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameInfo.cs
Labels: Area-IDE

#64156 use xunit apis for test discovery
  Compilers.sln
  Roslyn.sln
  eng/Versions.props
  src/Tools/PrepareTests/PrepareTests.csproj
  src/Tools/PrepareTests/Program.cs
  src/Tools/PrepareTests/TestDiscovery.cs
  src/Tools/TestDiscoveryWorker/Program.cs
  src/Tools/TestDiscoveryWorker/TestDiscoveryWorker.csproj
Labels: Area-Infrastructure

#65208 Switch DocumentKinds to a string array
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test/CodeRefactorings/CodeRefactoringServiceTest.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/Common/AbstractProjectExtensionProvider.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/Workspaces/Core/Portable/CodeFixes/ExportCodeFixProviderAttribute.cs
  src/Workspaces/Core/Portable/CodeRefactorings/ExportCodeRefactoringProviderAttribute.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/TestAnalyzerReference/NonSourceFileRefactoring.cs
Labels: Area-IDE

#65202 Add expanded description for lsp diagnostics
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/AbstractPullDiagnosticTestsBase.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Labels: Area-IDE

#65182 Simplify multiple casts in 'add explicit cast'.
  src/Analyzers/CSharp/CodeFixes/AddExplicitCast/ArgumentFixer.cs
  src/Analyzers/CSharp/CodeFixes/AddExplicitCast/AttributeArgumentFixer.cs
  src/Analyzers/CSharp/CodeFixes/AddExplicitCast/CSharpAddExplicitCastCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/Tests/AddExplicitCast/AddExplicitCastTests.cs
  src/Analyzers/Core/CodeFixes/AddExplicitCast/AbstractAddExplicitCastCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/AddExplicitCast/Fixer.cs
  src/Analyzers/VisualBasic/CodeFixes/AddExplicitCast/ArgumentFixer.vb
  src/Analyzers/VisualBasic/CodeFixes/AddExplicitCast/VisualBasicAddExplicitCastCodeFixProvider.vb
  src/Analyzers/VisualBasic/Tests/AddExplicitCast/AddExplicitCastTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Extensions/ExpressionSyntaxExtensions.vb
Labels: Area-IDE

#65197 Improve title shown by 'use-conditional' in certain cases.
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForReturnTests.cs
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/UseConditionalExpression/AbstractUseConditionalExpressionDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForAssignment/AbstractUseConditionalExpressionForAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForAssignment/UseConditionalExpressionForAssignmentHelpers.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForReturn/AbstractUseConditionalExpressionForReturnDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForReturn/UseConditionalExpressionForReturnHelpers.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/UseConditionalExpressionHelpers.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/ForAssignment/AbstractUseConditionalExpressionForAssignmentCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/ForReturn/AbstractUseConditionalExpressionForReturnCodeFixProvider.cs
Labels: Area-IDE

#65217 Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: Area-Infrastructure

#65185 Remove duplicate property
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Labels: Area-IDE

#65201 Wait for Roslyn Services completes in NavigateTo Tests
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpNavigateTo.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpSourceGenerators.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/InputInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicNavigateTo.cs
Labels: Area-IDE

#65216 Fix typo in API
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/ExternalAccess/Pythia/Api/IPythiaDeclarationNameRecommenderImplmentation.cs
  src/Features/CSharp/Portable/ExternalAccess/Pythia/PythiaDeclarationNameRecommender.cs
Labels: Area-IDE

#65140 Add langversion checks for lambda optional and `params` parameters
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Area-Compilers

#65046 Reduce amount of allocated MissingMetadataTypeSymbol symbols during various lookup operations.
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/AssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/MetadataDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MetadataOrSourceAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MissingAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MissingModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamespaceOrTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaMissingCanonicalTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NonMissingAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NonMissingModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingSymbolTranslator.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Test/Emit/Emit/NoPiaEmbedTypes.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Security.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UseSiteErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Retargeting/NoPia.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeResolutionTests.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder.vb
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Symbols/AssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/MetadataDecoder.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEAssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEModuleSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PENamespaceSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/MetadataOrSourceAssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/MissingAssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/MissingModuleSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/ModuleSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamespaceSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NonMissingAssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/NonMissingModuleSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Retargeting/RetargetingNamespaceSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Retargeting/RetargetingSymbolTranslator.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceAssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/WellKnownMembers.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_WellKnownAttributes.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/CompilationEmitTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/NoPiaEmbedTypes.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/MetadataTypeTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Retargeting/NoPia.vb
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/EETypeNameDecoder.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/EETypeNameDecoder.vb
Labels: Area-Compilers

#65226 Transfer over accessor attributes when converting to methods.
  src/EditorFeatures/CSharpTest/CodeActions/ReplacePropertyWithMethods/ReplacePropertyWithMethodsTests.cs
  src/Features/CSharp/Portable/ReplacePropertyWithMethods/CSharpReplacePropertyWithMethodsService.cs
Labels: Area-IDE

#65225 Filter out complex reduced extensions when we have high confidence they are not applicable.
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationServiceRunner.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
Labels: Area-IDE

#65238 Revert nav-to streaming
  eng/Versions.props
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToSearcherTests.cs
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/VSTypeScriptNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.CachedDocumentSearch.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.GeneratedDocumentSearch.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.NormalSearch.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/IRemoteNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Features/Core/Portable/NavigateTo/RoslynNavigateToItem.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Tools/ExternalAccess/FSharp/Internal/NavigateTo/FSharpNavigateToSearchService.cs
  src/Tools/IdeCoreBenchmarks/NavigateToBenchmarks.cs
  src/VisualStudio/Core/Test.Next/Remote/RemoteHostClientServiceFactoryTests.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/Remote/RemoteServiceConnection.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IAsyncEnumerableExtensions.cs
  src/Workspaces/CoreTest/Remote/ServiceDescriptorTests.cs
  src/Workspaces/Remote/Core/BrokeredServiceConnection.cs
  src/Workspaces/Remote/Core/ServiceDescriptors.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
  src/Workspaces/Remote/ServiceHub/Services/BrokeredServiceBase.cs
  src/Workspaces/Remote/ServiceHub/Services/NavigateToSearch/RemoteNavigateToSearchService.cs
Labels: Area-IDE

#65207 Implement `EEMethodSymbol.DeclaringSyntaxReferences`
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Symbols/EEMethodSymbol.vb
Labels: Area-Compilers, Area-Interactive

#65159 Fix extract local in base initializer
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractLocalFunctionTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/ExtractMethod/ExtractMethodTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionValidator.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
Labels: Area-IDE

#65229 Add F1 help keyword for `default` constraint
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
Labels: Area-IDE

#65089 Improve parser error recovery around misplaced semicolon
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/MemberDeclarationParsingTests.cs
Labels: Area-Compilers

#65248 Allow users to specify only partial accessibility in override completion
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractOverrideCompletionProvider.ItemGetter.cs
Labels: Area-IDE

#65215 Cache translated imports in PEModuleBuilder
  src/Compilers/CSharp/Portable/Binder/ImportChain.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBUsingTests.cs
  src/Compilers/Core/Portable/NativePdbWriter/PdbWriter.cs
  src/Compilers/Core/Portable/PEWriter/CustomDebugInfoWriter.cs
  src/Compilers/Core/Portable/PEWriter/IImportScope.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.PortablePdb.cs
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
  src/Compilers/Core/Portable/PEWriter/ReferenceIndexer.cs
  src/Compilers/VisualBasic/Portable/Emit/SymbolTranslator.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceFile.vb
Labels: Area-Compilers

#65261 Move find-all-refs LSP handler down to LSP layer from editor layer.
  src/EditorFeatures/Core/LanguageServer/Handlers/VSLspExtensionConversions.cs
  src/EditorFeatures/Core/LanguageServer/VSLspExtensionConversions.cs
  src/EditorFeatures/Core/ReferenceHighlighting/Tags/DefinitionHighlightTag.cs
  src/EditorFeatures/Core/ReferenceHighlighting/Tags/ReferenceHighlightTag.cs
  src/EditorFeatures/Core/ReferenceHighlighting/Tags/WrittenReferenceHighlightTag.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/Core/Portable/Common/Glyph.cs
  src/Features/Core/Portable/LanguageServer/IGlyphConversionService.cs
  src/Features/LanguageServer/Protocol/Features/FindUsages/SimpleFindUsagesContext.cs
  src/Features/LanguageServer/Protocol/Features/Options/FindUsagesOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Features/ReferenceHighlighting/ReferenceHighlightingConstants.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindUsagesLSPContext.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/RoslynDocumentSymbolParams.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
Labels: Area-IDE

#65264 Move hover down to LSP layer from editor layer
  src/EditorFeatures/Core/LanguageServer/EditorHoverCreationService.cs
  src/Features/LanguageServer/Protocol/Features/Options/QuickInfoOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Features/Options/SymbolDescriptionOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Handler/Hover/HoverHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Hover/ILspHoverResultCreationService.cs
  src/Features/Lsif/Generator/Generator.cs
Labels: Area-IDE

#65253 Fix delegate inference for `using static` methods
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
Labels: Area-Compilers, New Feature - Lambda Improvements

#65263 Move rename down to LSP layer from editor layer.
  src/EditorFeatures/CSharp/InlineRename/CSharpEditorInlineRenameService.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.FailureInlineRenameInfo.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.InlineRenameReplacementInfo.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.SymbolRenameInfo.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RenameHandler.cs
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/VisualBasic/InlineRename/VisualBasicEditorInlineRenameService.vb
  src/Features/CSharp/Portable/Rename/CSharpRenameIssuesService.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/Rename/IRenameIssuesService.cs
  src/Features/Core/Portable/Rename/SymbolicRenameInfo.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/LanguageServer/Protocol/Handler/Rename/RenameHandler.cs
  src/Features/VisualBasic/Portable/Rename/VisualBasicRenameIssuesService.vb
  src/Tools/ExternalAccess/FSharp/FSharpEditorFeaturesResources.cs
  src/Workspaces/Core/Portable/Rename/ConflictResolution.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamerService.cs
Labels: Area-IDE

#65236 Delete unnecessary implementation of LocalizableProperties
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzerItem/AnalyzerItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersFolderItem/AnalyzersFolderItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/DiagnosticItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/LocalizableProperties.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/SourceGeneratedFileItem.BrowseObject.cs
Labels: Area-IDE

#65281 Explicitly set main-vs-deps draft PRs value to false
  eng/config/PublishData.json
Labels: Area-Infrastructure

#65279 Convert symbol-search crash to NFW
  src/Features/Core/Portable/SymbolSearch/Windows/SymbolSearchUpdateEngine.Update.cs
Labels: Area-IDE

#65266 Move generation of specific subtypes in LSP up to editor layer
  src/EditorFeatures/Core/LanguageServer/EditorLspReferencesResultCreationService.cs
  src/EditorFeatures/Core/LanguageServer/EditorLspSymbolInformationCreationService.cs
  src/EditorFeatures/Core/LanguageServer/VSLspExtensionConversions.cs
  src/Features/Core/Portable/LanguageServer/IGlyphConversionService.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindUsagesLSPContext.cs
  src/Features/LanguageServer/Protocol/Handler/References/ILspReferencesResultCreationService.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/ILspSymbolInformationCreationService.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
Labels: Area-IDE

#65284 Move LSP completion down to LSP layer from editor layer.
  src/EditorFeatures/Core/LanguageServer/EditorLspCompletionResultCreationService.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionListCache.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionListCacheFactory.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandlerFactory.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/ILspCompletionResultCreationService.cs
Labels: Area-IDE

#65267 Semantic snippets - fix new line being added after and line removed before snippet
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/AbstractCSharpConditionalBlockSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpClassSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpConsoleSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpForEachSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpInterfaceSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpStructSnippetCompletionProviderTests.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractSnippetProvider.cs
Labels: Area-IDE

#64961 Add lambda defaults/`params` conversion warnings
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaDiscardParametersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
Labels: Area-Compilers

#65009 Avoid infinite loop in Find All References
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
Labels: Area-IDE

#65214 Add more lambda defaults/`params` tests
  src/Analyzers/CSharp/Tests/UseLocalFunction/UseLocalFunctionTests.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Test/Emit2/FlowAnalysis/FlowTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IAnonymousFunctionExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IInvocationOperation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/IntroduceVariable/IntroduceVariableTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DefaultKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NullKeywordRecommenderTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-Compilers

#65307 Fix null ref in change signature.
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseIndexOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIsNullCheck/CSharpUseNullCheckOverTypeCheckDiagnosticAnalyzer.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFactsExtensions.cs
Labels: Area-IDE

#65038 Fix generators not being added or removed correctly
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
  src/Workspaces/CoreTestUtilities/TestGeneratorReference.cs
Labels: Area-IDE, Needs Shiproom Approval

#65305 Fix "Fix return type" codefix for non-Task awaitable types
  src/Analyzers/CSharp/CodeFixes/FixReturnType/CSharpFixReturnTypeCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/FixReturnType/FixReturnTypeTests.cs
Labels: Area-IDE, Community

#65223 Incremental generator nodes must run when no result history
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/StateTableTests.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/BatchNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/CombineNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/DriverStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/IIncrementalGeneratorNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/InputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SourceOutputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/StateTableStore.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxInputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxReceiverStrategy.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/TransformNode.cs
Labels: Area-Compilers

#65283 Inline Diagnostics - add null check
  src/EditorFeatures/Core.Wpf/Adornments/AbstractAdornmentManager.cs
  src/EditorFeatures/Core.Wpf/InlineDiagnostics/InlineDiagnosticsAdornmentManager.cs
Labels: Area-IDE

#65291 Consistently return the same value from MethodSymbol.IteratorElementTypeWithAnnotations API
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/InMethodBinder.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionOrSourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IteratorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
Labels: Area-Compilers

#65259 Remove ImportCompletion feature flag and enable by default
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/TypeImportCompletionProviderTests.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities2/Intellisense/TestStateFactory.vb
  src/Features/Core/Portable/Completion/CompletionOptions.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/LanguageServer/Protocol/Features/Options/CompletionOptionsStorage.cs
Labels: Area-IDE

#65153 Allow [UnscopedRef] annotation for ref and in parameters
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceClonedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ThisParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, New Language Feature - Ref Fields

#63622 Re-enable argument provider integration tests
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpArgumentProvider.cs
Labels: Area-IDE

#65285 Rename ServiceHub config vsix
  Roslyn.sln
  src/Setup/DevDivVsix/ServiceHubConfig/Roslyn.VisualStudio.Setup.ServiceHub.Desktop.Config.csproj
Labels: Area-Infrastructure

#65328 Fix LSP workspace diagnostics exception when a solution contains a project with no file path
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractDocumentDiagnosticSource.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/IDiagnosticSource.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/ProjectDiagnosticSource.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Labels: Area-IDE, LSP

#65348 Move findusages service implementations down to features
  src/Features/CSharp/Portable/FindUsages/CSharpFindUsagesLSPService.cs
  src/Features/CSharp/Portable/FindUsages/CSharpFindUsagesService.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindImplementationsHandler.cs
  src/Features/VisualBasic/Portable/FindUsages/VisualBasicFindUsagesLSPService.vb
  src/Features/VisualBasic/Portable/FindUsages/VisualBasicFindUsagesService.vb
Labels: Area-IDE, LSP

#65346 Ensure 'when' keyword shows up in a filter-clause in a switch pattern.
  src/EditorFeatures/CSharpTest2/Recommendations/WhenKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/AndKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/WhenKeywordRecommender.cs
Labels: Area-IDE

#65341 Add F1 help keyword for `notnull` and `unmanaged` constraints and `switch` expressions
  docs/contributing/Compiler Test Plan.md
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
Labels: Area-IDE

#65289 Fix two quick actions title
  src/Analyzers/Core/CodeFixes/CodeFixesResources.resx
  src/Analyzers/Core/CodeFixes/NamingStyle/NamingStyleCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.cs.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.de.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.es.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.fr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.it.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ja.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ko.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pl.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.pt-BR.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.ru.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.tr.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hans.xlf
  src/Analyzers/Core/CodeFixes/xlf/CodeFixesResources.zh-Hant.xlf
  src/Features/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpCodeActions.cs
Labels: Area-IDE

#65365 Make the impls of the 'use coalesce expression' features more consistent.
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UseCoalesceExpression/CSharpUseCoalesceExpressionForNullableTernaryConditionalCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCoalesceExpression/CSharpUseCoalesceExpressionForTernaryConditionalCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseCoalesceExpression/UseCoalesceExpressionForNullableTernaryConditionalCheckTests.cs
  src/Analyzers/CSharp/Tests/UseCoalesceExpression/UseCoalesceExpressionForTernaryConditionalCheckTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/UseCoalesceExpression/AbstractUseCoalesceExpressionForNullableDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCoalesceExpression/AbstractUseCoalesceExpressionForTernaryConditionalCheckDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/UseCoalesceExpression/UseCoalesceExpressionForNullableTernaryConditionalCheckCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseCoalesceExpression/UseCoalesceExpressionForTernaryConditionalCheckCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/UseCoalesceExpression/VisualBasicUseCoalesceExpressionForNullableTernaryConditionalCheckDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/UseCoalesceExpression/VisualBasicUseCoalesceExpressionForTernaryConditionalCheckDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Analyzers/VisualBasicAnalyzers.projitems
  src/Analyzers/VisualBasic/Tests/UseCoalesceExpression/UseCoalesceExpressionForNullableTernaryConditionalCheckTests.vb
  src/Analyzers/VisualBasic/Tests/UseCoalesceExpression/UseCoalesceExpressionForTernaryConditionalCheckTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
Labels: Area-IDE

#63366 Fix trivia handling in 'use named arguments' refactoring
  src/EditorFeatures/CSharpTest/UseNamedArguments/UseNamedArgumentsTests.cs
  src/Features/Core/Portable/UseNamedArguments/AbstractUseNamedArgumentsCodeRefactoringProvider.cs
Labels: Area-IDE, Community

#64717 Report obsolete diagnostics for types named var/unmanaged/notnull
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_WellKnownAttributes.cs
Labels: Area-Compilers, Community

#64596 Allow reordering parameters, inserting, and deleting parameters
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-IDE

#65352 Rectify async checks logic in presence of AsyncMethodBuilder attribute
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTasklikeMoreTests.cs
Labels: Area-Compilers

#65364 Add tests for an issue around constrained calls
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
Labels: Area-Compilers

#65315 Fix Package Dependencies For NuGet
  eng/Versions.props
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
Labels: Area-Infrastructure

#65083 Fix ArgumentNullException under a race condition in analyzer driver
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.AnalyzerStateData.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.PerAnalyzerState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisState.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
Labels: Area-Analyzers, Area-Compilers, OnDeckForServicing

#65335 Better infer tuple type for `Fix return type` codefix
  src/Analyzers/CSharp/CodeFixes/FixReturnType/CSharpFixReturnTypeCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/FixReturnType/FixReturnTypeTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ICompilationExtensions.cs
Labels: Area-IDE, Community

#65402 Prevent FileNotFoundException
  src/EditorFeatures/CSharp/DecompiledSource/AssemblyResolver.cs
Labels: Area-IDE

#65366 Complete all foreach binding checks despite LangVer check
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
Labels: Area-Compilers

#64192 TextLoader method override detection
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestHostDocument.cs
  src/Features/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/Preview/PreviewUpdater.PreviewDialogWorkspace.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProject.BatchingDocumentCollection.cs
  src/VisualStudio/LiveShare/Impl/Client/Projects/WorkspaceFileTextLoaderNoException.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Solution/FileTextLoader.cs
  src/Workspaces/Core/Portable/Workspace/Solution/LoadTextOptions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextLoader.cs
  src/Workspaces/CoreTest/SolutionTests/TextLoaderTests.cs
  src/Workspaces/CoreTestUtilities/TestTextLoader.cs
Labels: Area-IDE

#65318 Semantic snippets - don't need to add fully qualified name in syntax generation
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpConsoleSnippetCompletionProviderTests.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractConsoleSnippetProvider.cs
Labels: Area-IDE

#65425 Merge main-vs-deps back to main
  eng/Versions.props
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsTag.cs
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsTagger.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/InlineHint.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
Labels: Area-Infrastructure

#65376 Stop shipping `-vs-deps` branches
  eng/config/PublishData.json
Labels: Area-Infrastructure

#65418 Clarify breaking change for safe-to-escape of ref struct returned from method invocation
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 7.md
Labels: Area-Compilers, Documentation

#64960 Report structural lambda `params` errors
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Area-Compilers

#65434 Gracefully handle additional locations in DiagnosticData.Create
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataTests.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
Labels: Area-IDE, Tenet-Reliability

#65320 Ensure emit layer doesn't ignore diagnostics and dependencies for well known members.
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitAddress.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStackAllocInitializer.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
Labels: Area-Compilers

#65409 Prepare lambda defaults/`params` for merging to `main`
  docs/Language Feature Status.md
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/AnonymousTypeField.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Area-Compilers

#65441 Add back -vs-deps to `PublishData.json`
  eng/config/PublishData.json
Labels: Area-Infrastructure

#65448 Semantic snippets - fix bug where user-created snippets were getting filtered out
  src/Features/CSharp/Portable/Completion/CompletionProviders/SnippetCompletionProvider.cs
  src/Features/CSharp/Portable/Snippets/CSharpConstructorSnippetProvider.cs
Labels: Area-IDE

#65280 17.4: Convert symbol-search crash to NFW
  src/Features/Core/Portable/SymbolSearch/Windows/SymbolSearchUpdateEngine.Update.cs
Labels: Area-IDE

#65382 Fix reading indent style and indent size from VS settings
  src/VisualStudio/Core/Def/Options/VisualStudioSettingsOptionPersister.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/FormattingOptions2.cs
Labels: Area-IDE, OnDeckForServicing

#65268 Add a separate option to control solution crawler's support of generators
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.cs
  src/Features/Core/Portable/SolutionCrawler/ISolutionCrawlerOptionsService.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.ProjectState.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/LanguageServer/Protocol/Features/Options/SolutionCrawlerOptionsService.cs
  src/Features/LanguageServer/Protocol/Features/Options/SolutionCrawlerOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/WorkspacePullDiagnosticHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/AbstractPullDiagnosticTestsBase.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
Labels: Area-IDE

#65420 Fix reading indent style and indent size from VS settings
  src/VisualStudio/Core/Def/Options/VisualStudioSettingsOptionPersister.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/FormattingOptions2.cs
Labels: Area-IDE

#65212 Report analyzer telemetry for lightbulb code path in OOP
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/VisualStudio/Core/Test.Next/Services/PerformanceTrackerServiceTests.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/IPerformanceTrackerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/PerformanceQueue.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/PerformanceTrackerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteProcessTelemetryService.PerformanceReporter.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteProcessTelemetryService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-Analyzers

#65436 Consult secondary index to avoid looking in a document for unit-test matches.
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/UnitTestingSearchHelpers.cs
Labels: Area-IDE

#65385 More tests for an issue around constrained calls
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
Labels: Area-Compilers

#65398 Correct `Nullable<T>.Equals()` calls in `BoundNode.Update()`
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Labels: Area-Compilers

#65350 Implicitly-typed lambda parameters have RefKind.None
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/DelegateTests.cs
Labels: Area-Compilers

#65383 Fix flaky test
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
Labels: Area-IDE

#65437 Add unit test entrypoint to just find a single result
  eng/Versions.props
  src/EditorFeatures/Test2/UnitTesting/UnitTestingSearchHelpersTests.vb
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/UnitTestingSearchHelpers.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/IRemoteUnitTestingSearchService.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Core/Portable/Shared/Extensions/IAsyncEnumerableExtensions.cs
  src/Workspaces/Remote/ServiceHub/Services/UnitTesting/RemoteUnitTestingSearchService.cs
Labels: Area-IDE

#65473 Use [Fact] not [WpfFact]
  src/EditorFeatures/CSharpTest2/Recommendations/AbstractKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/CharKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ClassKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DelegateKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/EnumKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/EventKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/InKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/InterfaceKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/InternalKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NewKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/OverrideKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/PartialKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/PrivateKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/PublicKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ReadOnlyKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/RecordKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SealedKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StaticKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StructKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UnsafeKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UsingKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/VoidKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/VolatileKeywordRecommenderTests.cs
Labels: Area-IDE

#65468 Enable member edit analysis when LSP pull diagnostics is on
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/LanguageServer/Protocol/Features/Options/DiagnosticOptionsStorage.cs
Labels: Area-IDE, LSP

#65431 Allow usage of ref structs in VB despite CompilerFeatureRequired
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Microsoft.CodeAnalysis.VisualBasic.Semantic.UnitTests.vbproj
  src/Compilers/VisualBasic/Test/Semantic/Semantics/RefFieldTests.vb
Labels: Area-Compilers

#65472 Remove unused MismatchedParameterDefaultValue enum value
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/LambdaConversionResult.cs
Labels: Area-Compilers

#65449 Support new all-in-one-symbol-search APIs.
  eng/Versions.props
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToSearcherTests.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemDisplay.cs
  src/EditorFeatures/Core.Wpf/NavigateTo/NavigateToItemProvider.Callback.cs
  src/EditorFeatures/Core/NavigateTo/NavigateToHelpers.cs
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/VSTypeScriptNavigateToSearchService.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchCallback.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchResult.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Features/Core/Portable/NavigateTo/RoslynNavigateToItem.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Tools/ExternalAccess/FSharp/Internal/NavigateTo/InternalFSharpNavigateToSearchResult.cs
  src/Tools/ExternalAccess/OmniSharp/NavigateTo/OmniSharpNavigateToSearchService.cs
  src/Tools/IdeBenchmarks/IdeBenchmarks.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Def/NavigateTo/RoslynCodeSearchResult.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynNavigateToSearchCallback.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynSearchItemsSource.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynSearchItemsSourceProvider.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynSearchResultPreviewPanel.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynSearchResultView.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynSearchResultViewFactory.cs
  src/VisualStudio/Core/Def/NavigateTo/VisualStudioNavigateToItemProviderFactory.cs
  src/VisualStudio/Core/Def/Progression/GraphQueries/ProgressionNavigateToSearchCallback.cs
  src/Workspaces/Core/Portable/PatternMatching/PatternMatch.cs
Labels: Area-IDE

#65314 Enhances the set of cases 'use pattern matching' works for.
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpAsAndMemberAccessDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/UsePatternMatchingHelpers.cs
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UsePatternMatching/CSharpAsAndMemberAccessCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UsePatternMatching/CSharpAsAndMemberAccessTests.cs
  src/Analyzers/Core/Analyzers/EnforceOnBuildValues.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs
Labels: Area-IDE

#65384 Pass in HostServices when creating the LSP server
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/AbstractInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/AlwaysActivateInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/LiveShareInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/RazorInProcLanguageClient.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/CSharpVisualBasicLanguageServerFactory.cs
  src/Features/LanguageServer/Protocol/ILanguageServerFactory.cs
  src/Features/LanguageServer/Protocol/RoslynLanguageServer.cs
  src/Features/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspace.cs
  src/Features/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspaceFactory.cs
  src/Features/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/Features/LanguageServer/Protocol/Workspaces/LspWorkspaceManagerFactory.cs
  src/Features/LanguageServer/ProtocolUnitTests/Miscellaneous/LspMiscellaneousFilesWorkspaceTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/VSTypeScriptHandlerTests.cs
  src/Tools/ExternalAccess/Razor/IRazorLanguageServerFactory.cs
  src/Tools/ExternalAccess/Razor/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/Razor/RazorLanguageServerFactoryWrapper.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlInProcLanguageClient.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageClient/XamlInProcLanguageClientDisableUX.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlLanguageServer.cs
Labels: Area-IDE

#64277 Enhance rule metadata and suppression info in SARIF V2 errorlog
  docs/compilers/Error Log Format.md
  src/Compilers/CSharp/Test/CommandLine/SarifErrorLoggerTests.cs
  src/Compilers/CSharp/Test/CommandLine/SarifV1ErrorLoggerTests.cs
  src/Compilers/CSharp/Test/CommandLine/SarifV2ErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/CommandLine/ErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/SarifErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/SarifV1ErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/SarifV2ErrorLogger.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Test/Core/Compilation/DiagnosticBagErrorLogger.cs
  src/Compilers/Test/Core/Compilation/NullErrorLogger.cs
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/Compilers/Test/Core/Diagnostics/DiagnosticExtensions.cs
  src/Compilers/VisualBasic/Test/CommandLine/SarifErrorLoggerTests.vb
  src/Compilers/VisualBasic/Test/CommandLine/SarifV1ErrorLoggerTests.vb
  src/Compilers/VisualBasic/Test/CommandLine/SarifV2ErrorLoggerTests.vb
Labels: Area-Analyzers, Area-Compilers

#65452 View Call Hierarchy - fix thread block
  src/VisualStudio/CSharp/Test/CallHierarchy/CSharpCallHierarchyTests.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyCommandHandler.cs
  src/VisualStudio/Core/Test/CallHierarchy/CallHierarchyTests.vb
  src/VisualStudio/TestUtilities2/CallHierarchy/CallHierarchyTestState.vb
Labels: Area-IDE

#65457 Check type parameter index bounds when parsing `DocumentationCommentId`
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SuppressMessageTargetSymbolResolverTests.cs
  src/Compilers/Core/CodeAnalysisTest/Symbols/DocumentationCommentIdTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SuppressMessageAttributeState.TargetSymbolResolver.cs
  src/Compilers/Core/Portable/DocumentationCommentId.cs
Labels: Area-Compilers

#65489 Add A/B test to allow us to turn off background compilation/parsing
  src/Features/LanguageServer/Protocol/Features/Options/WorkspaceConfigurationOptionsStorage.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspace.cs
  src/Workspaces/Core/Portable/Workspace/IWorkspaceConfigurationService.cs
Labels: Area-IDE

#65480 Move context-sensitive parsing to context-free parsing.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
Labels: Area-Compilers

#65249 Improve `NormalizeWhitespace` for object initializers
  src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
Labels: Area-Compilers, Community

#65327 Optimize codegen for tuple swap scenarios
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
Labels: Area-Compilers

#65492 Do not import the VSWorkspace during Roslyn package initialization
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/EditorFeatures/Test/SolutionCrawler/WorkCoordinatorTests.cs
  src/EditorFeatures/TestUtilities/EditorTestCompositions.cs
  src/EditorFeatures/TestUtilities/Notification/TestGlobalOperationNotificationService.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingGlobalOperationAwareIdleProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.AbstractUnitTestingPriorityProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.UnitTestingIncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.UnitTestingLowPriorityProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.UnitTestingNormalPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/GlobalOperationAwareIdleProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.AbstractPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.IncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.LowPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.NormalPriorityProcessor.cs
  src/VisualStudio/Core/Def/Notification/VisualStudioGlobalOperationNotificationService.cs
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Remote/GlobalNotificationRemoteDeliveryService.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Def/SolutionEventMonitor.cs
  src/VisualStudio/Core/Def/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/Workspaces/Core/Portable/Notification/AbstractGlobalOperationNotificationService.GlobalOperationRegistration.cs
  src/Workspaces/Core/Portable/Notification/AbstractGlobalOperationNotificationService.cs
  src/Workspaces/Core/Portable/Notification/IGlobalOperationNotificationService.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteGlobalOperationNotificationService.cs
  src/Workspaces/Remote/ServiceHub/Services/GlobalNotificationDelivery/RemoteGlobalNotificationDeliveryService.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteProcessTelemetryService.cs
Labels: Area-IDE

#65505 Ensure lvalue struct receivers are not copied by value due to interpolated string handler rewrite
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FunctionPointerInvocation.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
Labels: Area-Compilers

#65525 Avoid ordering dependency in active statement map
  src/EditorFeatures/Test/EditAndContinue/ActiveStatementsMapTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/ActiveStatementTestHelpers.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/ActiveStatementsDescription.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/Helpers/EditingTestBase.vb
  src/Features/Core/Portable/EditAndContinue/ActiveStatementsMap.cs
  src/Features/Core/Portable/EditAndContinue/NonRemappableRegion.cs
Labels: Area-Interactive

#65372 Fix a NullReferenceException in Signature help
  src/Features/VisualBasic/Portable/SignatureHelp/InvocationExpressionSignatureHelpProvider.vb
Labels: Area-IDE

#65349 Fix bug in partial solutions after a document was removed and added
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Area-IDE

#65539 Delete duplicate "SystemThreadingChannelsVersion"
  eng/Versions.props
Labels: Area-Infrastructure

#65532 [Port] Gracefully handle additional locations in DiagnosticData.Create
  src/EditorFeatures/Test/Diagnostics/DiagnosticDataTests.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
Labels: Area-Analyzers, OnDeckForServicing

#65541 Fix spelling mistake
  src/EditorFeatures/Core.Wpf/InlineDiagnostics/InlineDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/AbstractDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/DiagnosticsClassificationTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/DiagnosticsSquiggleTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/DiagnosticsSuggestionTaggerProvider.cs
Labels: Area-IDE

#65543 Simplify how options are checked in the tagger.
  src/EditorFeatures/Core.Wpf/InlineDiagnostics/InlineDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core.Wpf/LineSeparators/LineSeparatorTaggerProvider.cs
  src/EditorFeatures/Core.Wpf/StringIndentation/StringIndentationTaggerProvider.cs
  src/EditorFeatures/Core/BraceMatching/BraceHighlightingViewTaggerProvider.cs
  src/EditorFeatures/Core/Classification/Semantic/AbstractSemanticOrEmbeddedClassificationViewTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/AbstractDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/DiagnosticsClassificationTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/DiagnosticsSquiggleTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/DiagnosticsSuggestionTaggerProvider.cs
  src/EditorFeatures/Core/KeywordHighlighting/HighlighterViewTaggerProvider.cs
  src/EditorFeatures/Core/ReferenceHighlighting/ReferenceHighlightingViewTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.cs
Labels: Area-IDE

#65549 Fix null ref in add-import
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/AddImport/SearchScopes/ProjectSearchScope.cs
  src/Features/Core/Portable/AddImport/SearchScopes/SourceSymbolsProjectSearchScope.cs
Labels: Area-IDE

#65512 Fix MEF composition used for the LSIF generator
  src/Features/Lsif/Generator/CompilerInvocation.cs
  src/Features/Lsif/Generator/Composition.cs
  src/Features/Lsif/Generator/Generator.cs
  src/Features/Lsif/Generator/Microsoft.CodeAnalysis.LanguageServerIndexFormat.Generator.csproj
  src/Features/Lsif/Generator/Program.cs
  src/Features/Lsif/GeneratorTest/FoldingRangeTests.vb
  src/Features/Lsif/GeneratorTest/HoverTests.vb
  src/Features/Lsif/GeneratorTest/OutputFormatTests.vb
  src/Features/Lsif/GeneratorTest/ProjectStructureTests.vb
  src/Features/Lsif/GeneratorTest/RangeResultSetTests.vb
  src/Features/Lsif/GeneratorTest/Utilities/TestLsifOutput.vb
Labels: Area-IDE

#65557 Fix handling blocks in top level code.
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/CSharp/Portable/EditAndContinue/SyntaxComparer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
Labels: Area-Interactive

#65103 Semantic Snippets - Fix snippet priority in completion list
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractConsoleSnippetProvider.cs
Labels: Area-IDE

#65514 Update to latest version of protocol with new pull diagnostic types
  eng/Versions.props
  src/Features/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/Features/LanguageServer/Protocol/ExternalAccess/VSCode/API/VSCodeAnalyzerLoader.cs
  src/Features/LanguageServer/Protocol/Handler/BufferedProgress.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractDocumentDiagnosticSource.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/DocumentDiagnosticSource.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/WorkspaceDocumentDiagnosticSource.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DocumentPullDiagnosticHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Experimental/ExperimentalDiagnosticsTypes.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Experimental/ExperimentalWorkspacePullDiagnosticsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicDocumentPullDiagnosticHandlerFactory.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicDocumentPullDiagnosticsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicWorkspacePullDiagnosticHandlerFactory.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicWorkspacePullDiagnosticsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/WorkspacePullDiagnosticHandler.cs
  src/Features/LanguageServer/Protocol/Handler/References/FindAllReferencesHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SpellCheck/AbstractSpellCheckingHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/AbstractPullDiagnosticTestsBase.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SpellCheck/SpellCheckTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Symbols/WorkspaceSymbolsTests.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
Labels: Area-IDE

#65553 Move to multi-column primary keys for our sqlite database.
  src/Compilers/Core/Portable/FileSystem/PathUtilities.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/Tools/IdeCoreBenchmarks/NavigateToBenchmarks.cs
  src/Workspaces/Core/Portable/FindSymbols/TopLevelSyntaxTree/DeclaredSymbolInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/TopLevelSyntaxTree/TopLevelSyntaxTreeIndex.DeclarationInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/TopLevelSyntaxTree/TopLevelSyntaxTreeIndex.ExtensionMethodInfo.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageConstants.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageService.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_DocumentIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_DocumentSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_Helpers.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_ProjectIds.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_ProjectSerialization.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage_SolutionSerialization.cs
Labels: Area-IDE

#65570 Make sure the container syntax node is not GlobalStatements
  src/EditorFeatures/CSharpTest/CodeActions/ConvertLocalFunctionToMethod/ConvertLocalFunctionToMethodTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
Labels: Area-IDE

#65565 Add asserts for debug only test failures and fix tests
  src/VisualStudio/Core/Def/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Test/Diagnostics/DiagnosticTableDataSourceTests.vb
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Labels: Test, Tenet-Reliability

#65588 Compress indices before storing in persistence service
  src/Tools/IdeCoreBenchmarks/NavigateToBenchmarks.cs
  src/Workspaces/Core/Portable/FindSymbols/Shared/AbstractSyntaxIndex_Persistence.cs
  src/Workspaces/Core/Portable/Shared/Utilities/IOUtilities.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageConstants.cs
Labels: Area-IDE

#65526 More tests for an issue around constrained calls
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenCallTests.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenCallTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
Labels: Area-Compilers

#65590 Prevent null ref in package disposal
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE

#65583 Add capability to request fine grained DiagnosticKinds to diagnostic analyzer service
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/MockDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticKinds.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Labels: Area-Analyzers

#65617 Move `CSharpUseDefaultLiteralCodeFixProvider` to `VerifyCS`
  src/Analyzers/CSharp/CodeFixes/UseDefaultLiteral/CSharpUseDefaultLiteralCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseDefaultLiteral/UseDefaultLiteralTests.cs
Labels: Area-IDE, Community

#65605 Move "Unseal class" codefix to VerifyCS
  src/Analyzers/CSharp/CodeFixes/UnsealClass/CSharpUnsealClassCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UnsealClass/UnsealClassTests.cs
  src/Analyzers/Core/CodeFixes/UnsealClass/AbstractUnsealClassCodeFixProvider.cs
Labels: Area-IDE, Community

#65611 Move `DisambiguateSameVariableTests` to `VerifyCS`
  src/Analyzers/CSharp/CodeFixes/DisambiguateSameVariable/CSharpDisambiguateSameVariableCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/DisambiguateSameVariable/DisambiguateSameVariableTests.cs
Labels: Area-IDE, Community
