Repository dotnet/roslyn, pull requests merged in 2022-07, with the labels that each got.

#62281 Snippets - Fix option not being tied back to checkbox
  src/VisualStudio/CSharp/Impl/Options/IntelliSenseOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/IntelliSenseOptionPageControl.xaml.cs
Labels: Area-IDE

#62285 Specify builder capacities in incremental generation to avoid wasted scratch arrays.
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/CombineNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/DriverStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/TransformNode.cs
Labels: Area-Compilers

#62310 Respect dotnet_style_namespace_match_folder
  src/Analyzers/CSharp/Tests/MatchFolderAndNamespace/CSharpMatchFolderAndNamespaceTests.cs
  src/Analyzers/Core/Analyzers/MatchFolderAndNamespace/AbstractMatchFolderAndNamespaceDiagnosticAnalyzer.cs
Labels: Area-IDE, Community

#62289 Cache the hash in compilation options
  src/Compilers/CSharp/Portable/CSharpCompilationOptions.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Test/Symbol/Compilation/CSharpCompilationOptionsTests.cs
  src/Compilers/Core/Portable/Compilation/CompilationOptions.cs
  src/Compilers/Core/Portable/InternalUtilities/Hash.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/RebuildTest/BasicDeterministicKeyBuilderTests.cs
  src/Compilers/Core/RebuildTest/CSharpDeterministicKeyBuilderTests.cs
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/VisualBasicCompilationOptions.vb
Labels: Area-Compilers

#62256 Delete some dead code in AbstractCreateServicesOnTextViewConnection
  src/VisualStudio/Core/Def/LanguageService/AbstractCreateServicesOnTextViewConnection.cs
Labels: Area-IDE

#62305 Remove unreachable condition
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/NameOfKeywordRecommender.cs
Labels: Area-IDE, Community

#62244 Theme The "Generate Overrides" Dialog
  src/VisualStudio/Core/Def/PickMembers/PickMembersDialog.xaml
  src/VisualStudio/Core/Def/PickMembers/PickMembersDialog.xaml.cs
Labels: Area-IDE

#62326 Run official build post-build steps on VS2022
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#62343 Fix typos in the incremental generators doc
  docs/features/incremental-generators.md
Labels: Area-Compilers, Community

#62346 Ensure elastic trivia for reusable syntax in field generator
  src/EditorFeatures/VisualBasicTest/MoveStaticMembers/VisualBasicMoveStaticMembersTests.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/FieldGenerator.vb
Labels: Area-IDE, Community

#62215 File types IDE changes
  src/Compilers/CSharp/Portable/Symbols/PublicModel/NamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/KeywordCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyCompilationsTests.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyTests.cs
  src/EditorFeatures/Test/CodeGeneration/CodeGenerationTests.CSharp.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/KeywordCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/FileKeywordRecommender.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/NamedTypeGenerator.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/Editing/DeclarationModifiers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Utilities/SyntaxKindSet.cs
Labels: Area-IDE, Area-Compilers

#62335 Address prototype comments in file types branch
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 7.md
  docs/contributing/Compiler Test Plan.md
  eng/config/globalconfigs/Common.globalconfig
  src/CodeStyle/Core/Analyzers/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/BuckStopsHereBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.UsingsFromOptionsAndDiagnostics.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FileModifierParsingTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Binders/EEMethodBinder.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers

#62323 Do not look for load/reference directives when there can't be any
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.cs
  src/Compilers/CSharp/Portable/Syntax/CompilationUnitSyntax.cs
Labels: Area-Compilers

#62324 REmove use of Lazy in DeclarationTable for rarely used values.
  src/Compilers/CSharp/Portable/Declarations/DeclarationTable.Cache.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTable.cs
Labels: Area-Compilers

#62217 Add an Integration test for 'Go to global usings'
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpGoToGlobalImportsTests.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpInheritanceMarginTests.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/InheritanceMarginInProcess.cs
Labels: Area-IDE

#62290 Do not strip underscore if the result name will be invalid
  src/EditorFeatures/CSharpTest/GenerateFromMembers/GenerateConstructorFromMembers/GenerateConstructorFromMembersTests.cs
  src/Features/Core/Portable/Shared/Naming/IdentifierNameParts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/NamingStyles/NamingStyle.cs
Labels: Area-IDE, Community

#62388 Publish main-vs-deps VS PRs
  eng/config/PublishData.json
Labels: Area-Infrastructure

#62383 Add suggested lookup tests
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Area-Compilers, Test

#62102 Give member refactoring tools consistent field selection
  src/EditorFeatures/CSharpTest/ExtractClass/ExtractClassTests.cs
  src/EditorFeatures/CSharpTest/MoveStaticMembers/CSharpMoveStaticMembersTests.cs
  src/EditorFeatures/CSharpTest/PullMemberUp/CSharpPullMemberUpTests.cs
  src/EditorFeatures/TestUtilities/MoveStaticMembers/TestMoveStaticMembersService.cs
  src/EditorFeatures/TestUtilities/PullMemberUp/TestPullMemberUpService.cs
  src/EditorFeatures/VisualBasicTest/MoveStaticMembers/VisualBasicMoveStaticMembersTests.vb
  src/Features/CSharp/Portable/CodeRefactorings/ExtractClass/CSharpExtractClassCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/MoveStaticMembers/CSharpMoveStaticMembersRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/NodeSelectionHelpers.cs
  src/Features/CSharp/Portable/CodeRefactorings/PullMemberUp/CSharpPullMemberUpCodeRefactoringProvider.cs
  src/Features/Core/Portable/ExtractClass/AbstractExtractClassRefactoringProvider.cs
  src/Features/Core/Portable/ExtractClass/ExtractClassWithDialogCodeAction.cs
  src/Features/Core/Portable/ExtractClass/IExtractClassOptionsService.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/MoveStaticMembers/AbstractMoveStaticMembersRefactoringProvider.cs
  src/Features/Core/Portable/MoveStaticMembers/IMoveStaticMembersOptionsService.cs
  src/Features/Core/Portable/MoveStaticMembers/MoveStaticMembersWithDialogCodeAction.cs
  src/Features/Core/Portable/PullMemberUp/AbstractPullMemberUpRefactoringProvider.cs
  src/Features/Core/Portable/PullMemberUp/Dialog/IPullMemberUpOptionsService.cs
  src/Features/Core/Portable/PullMemberUp/Dialog/PullMemberUpWithDialogCodeAction.cs
  src/Features/Core/Portable/PullMemberUp/MembersPuller.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/CodeRefactorings/MoveStaticMembers/VisualBasicMoveStaticMembersRefactoringProvider.vb
  src/Features/VisualBasic/Portable/CodeRefactorings/NodeSelectionHelpers.vb
  src/Tools/ExternalAccess/OmniSharp/ExtractClass/IOmniSharpExtractClassOptionsService.cs
  src/Tools/ExternalAccess/OmniSharp/Internal/ExtractClass/OmniSharpExtractClassOptionsService.cs
  src/VisualStudio/Core/Def/ExtractClass/VisualStudioExtractClassOptionsService.cs
  src/VisualStudio/Core/Def/MoveStaticMembers/VisualStudioMoveStaticMembersOptionsService.cs
  src/VisualStudio/Core/Def/PullMemberUp/VisualStudioPullMemberUpService.cs
  src/VisualStudio/Core/Test/MoveStaticMembers/MoveStaticMembersViewModelTest.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SelectedMembers/CSharpSelectedMembers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SelectedMembers/AbstractSelectedMembers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SelectedMembers/VisualBasicSelectedMembers.vb
Labels: Area-IDE, Community

#62419 Port VB introduce parameter tests to new testing library
  src/EditorFeatures/VisualBasicTest/CodeActions/IntroduceParameter/IntroduceParameterTests.vb
  src/Features/VisualBasic/Portable/IntroduceVariable/VisualBasicIntroduceParameterCodeRefactoringProvider.vb
Labels: Area-IDE, Community

#62422 Minor refactoring in 'required' handling for override completion
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationPropertySymbol.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE, Community

#62405 Allow OmniSharp options to surface through LegacyGlobalOptions
  src/Tools/ExternalAccess/OmniSharp/Options/IOmniSharpLineFormattingOptionsProvider.cs
  src/Tools/ExternalAccess/OmniSharp/Options/OmniSharpLineFormattingOptions.cs
  src/Tools/ExternalAccess/OmniSharp/Options/OmnisharpLegacyGlobalOptionsWorkspaceService.cs
Labels: Area-IDE

#62322 Skip the balanced switch dispatch optimization for patterns on floating-point inputs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests4.cs
Labels: Area-Compilers

#62255 faster git checkout
  azure-pipelines-integration-dartlab.yml
  eng/pipelines/checkout-unix-task.yml
  eng/pipelines/checkout-windows-task.yml
  eng/pipelines/test-integration-job.yml
Labels: Area-Infrastructure

#62447 Generate SBOM for VS components
  azure-pipelines-official.yml
  global.json
Labels: Area-Infrastructure

#62119 Exclude BCL libraries from Roslyn vsix
  eng/Versions.props
  src/Workspaces/Remote/ServiceHub.CoreComponents/Microsoft.CodeAnalysis.Remote.ServiceHub.CoreComponents.csproj
Labels: Area-Infrastructure

#62466 Fixed shared project file error
  Compilers.sln
  Roslyn.sln
  src/Compilers/CSharp/csc/CscCommandLine.shproj
  src/Compilers/Server/VBCSCompiler/VBCSCompilerCommandLine.shproj
  src/Compilers/VisualBasic/vbc/VbcCommandLine.shproj
Labels: Area-Compilers

#62339 Remove LangVer check from extended nameof binding
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 7.md
  src/Compilers/CSharp/Portable/Binder/LocalBinderFactory.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
Labels: Area-IDE, Area-Compilers

#62413 Complete 'file' support for `SyntaxGenerator`
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpAccessibilityFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/IAccessibilityFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicAccessibilityFacts.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, Community

#62477 Update PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure

#62476 Don't offer '??=' for pointer types
  src/Analyzers/CSharp/Analyzers/UseCompoundAssignment/CSharpUseCompoundCoalesceAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseCompoundAssignment/UseCompoundCoalesceAssignmentTests.cs
Labels: Area-IDE, Community

#62366 Prevent assert from being hit
  src/VisualStudio/VisualStudioDiagnosticsToolWindow/OptionPages/InternalOptionsControl.cs
Labels: Area-IDE

#62486 Add default lambda parameter status
  docs/Language Feature Status.md
Labels: Area-Compilers

#62382 Remove expensive and unneeded syntax tree verification
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationUnitCompletedEvent.cs
Labels: Area-Compilers

#62341 Verify diagnostics in parsing tests
  src/Compilers/CSharp/Test/Syntax/Parsing/AnonymousFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncStreamsParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AwaitParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationScopeParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeconstructionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FileModifierParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/MemberDeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NullableParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserRegressionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RecordParsing.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ScriptParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/SeparatedSyntaxListParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/TopLevelStatementsParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/TypeArgumentListParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ValueTupleTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxTreeTests.cs
Labels: Area-Compilers, Community

#62469 Resolve overflow with deeply nested UTF-8 concatenation
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/Utf8StringsLiteralsTests.cs
Labels: Area-Compilers

#62438 Add link to detailed map of VS and SDK versions
  docs/wiki/NuGet-packages.md
Labels: Area-Compilers, Documentation

#62448 Fix crash with type parameter on type constrained to file-local type
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
Labels: Area-Compilers

#62427 Suggested simplifications to the incremental generator codebase.
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/StateTableTests.cs
  src/Compilers/Core/Portable/InternalUtilities/OneOrMany.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/PredicateSyntaxStrategy.cs
Labels: Area-Compilers

#62502 Export embedded language detector through EA layer for asp.net
  src/Tools/ExternalAccess/AspNetCore/EmbeddedLanguages/AspNetCoreCSharpRouteSyntaxDetector.cs
  src/Tools/ExternalAccess/AspNetCore/EmbeddedLanguages/AspNetCoreVirtualChar.cs
  src/Tools/ExternalAccess/AspNetCore/EmbeddedLanguages/AspNetCoreVirtualCharSequence.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/EmbeddedLanguages/VirtualChars/VirtualCharSequence.Enumerator.cs
Labels: Area-IDE

#62508 Remove line that does nothing
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
Labels: Area-Analyzers, Community

#62489 Add tests showing the limitations of file-local type shadowing
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
Labels: Area-Compilers, Test

#62511 Fix typo
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.State.cs
Labels: Area-IDE

#62512 Add a GH issue template for localization suggestions.
  .github/ISSUE_TEMPLATE/localization-suggestion.md
Labels: Area-Infrastructure

#62453 Enable nullable for classes under Rename folder
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.InlineRenameLocationSet.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.InlineRenameReplacementInfo.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.cs
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
  src/Features/Core/Portable/EncapsulateField/AbstractEncapsulateFieldService.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Tools/ExternalAccess/OmniSharp/Rename/OmniSharpRenamer.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ComplexifiedSpan.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictingIdentifierTracker.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/DeclarationConflictHelpers.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/MutableConflictResolution.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/RelatedLocation.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/RelatedLocationType.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/RenamedSpansTracker.cs
  src/Workspaces/Core/Portable/Rename/ConflictResolution.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamerService.cs
  src/Workspaces/Core/Portable/Rename/RenameEntityKind.cs
  src/Workspaces/Core/Portable/Rename/RenameUtilities.cs
  src/Workspaces/Core/Portable/Rename/Renamer.cs
  src/Workspaces/Core/Portable/Rename/TokenRenameInfo.cs
Labels: Area-IDE

#62151 [EnC] Support more symbol deletes
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.Methods.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-Compilers

#62484 Features/editorconfig lsp
  src/EditorFeatures/Core/Editor/ContentTypeDefinitions.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigDidChangeHandler.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigDidCloseHandler.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigDidOpenHandler.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigInProcLanguageClient.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigLspServerProvider.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigLspWorkspaceManagerFactory.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigRequestDispatcherFactory.cs
  src/EditorFeatures/Core/ExternalAccess/EditorConfig/EditorConfigRequestTelemetryLoggerFactory.cs
  src/EditorFeatures/Text/ContentTypeNames.cs
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/ProtocolConstants.cs
  src/Features/LanguageServer/Protocol/WellKnownLspServerKinds.cs
Labels: Area-Compilers, Community

#62513 Fix null reference in DiagnosticIncrementalAnalyzer.CompilationManager
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
Labels: Area-Analyzers

#62393 Increase timeout for unix single machine job
  eng/pipelines/test-unix-job-single-machine.yml
Labels: Area-Infrastructure

#62505 Record completion of file-types
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#62257 When we're removing the last project, fire SolutionRemoved
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProject.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/WorkspaceChangedEventTests.vb
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpFindReferences.cs
Labels: Area-IDE

#62557 Support reading binary logs in the LSIF generator
  src/Features/Lsif/Generator/CompilerInvocation.cs
  src/Features/Lsif/Generator/Microsoft.CodeAnalysis.LanguageServerIndexFormat.Generator.csproj
  src/Features/Lsif/Generator/Program.cs
Labels: Area-IDE

#55971 Theme some dialogs
  src/VisualStudio/Core/Def/CommonControls/MemberSelection.xaml
  src/VisualStudio/Core/Def/CommonControls/MemberSelection.xaml.cs
  src/VisualStudio/Core/Def/CommonControls/MemberSelectionViewModel.cs
  src/VisualStudio/Core/Def/CommonControls/NewTypeDestinationSelection.xaml
  src/VisualStudio/Core/Def/ExtractClass/ExtractClassDialog.xaml
  src/VisualStudio/Core/Def/ExtractClass/ExtractClassViewModel.cs
  src/VisualStudio/Core/Def/ExtractClass/VisualStudioExtractClassOptionsService.cs
  src/VisualStudio/Core/Def/ExtractInterface/ExtractInterfaceDialog.xaml
  src/VisualStudio/Core/Def/ExtractInterface/ExtractInterfaceDialog.xaml.cs
  src/VisualStudio/Core/Def/ExtractInterface/ExtractInterfaceDialogViewModel.cs
  src/VisualStudio/Core/Def/ExtractInterface/VisualStudioExtractInterfaceOptionsService.cs
  src/VisualStudio/Core/Def/PickMembers/PickMembersDialog.xaml.cs
  src/VisualStudio/Core/Def/PickMembers/PickMembersDialogViewModel.cs
  src/VisualStudio/Core/Def/PullMemberUp/MainDialog/PullMemberUpDialog.xaml
  src/VisualStudio/Core/Def/PullMemberUp/MainDialog/PullMemberUpDialogViewModel.cs
  src/VisualStudio/Core/Def/PullMemberUp/VisualStudioPullMemberUpService.cs
  src/VisualStudio/Core/Def/Utilities/MemberSymbolViewModel.cs
  src/VisualStudio/Core/Def/VSThemeDictionary.xaml
  src/VisualStudio/Core/Test/CommonControls/MemberSelectionViewModelTests.vb
  src/VisualStudio/Core/Test/ExtractInterface/ExtractInterfaceViewModelTests.vb
  src/VisualStudio/Core/Test/PullMemberUp/PullMemberUpViewModelTest.vb
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/ExtractInterfaceDialog_InProc.cs
Labels: Area-IDE, UX Review Not Required

#62483 Immediately filter syntax trees down to those that either have attributes or global-using-aliases.
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_FullyQualifiedName.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_SimpleName.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/StateTableTests.cs
  src/Compilers/Core/Portable/SourceGeneration/GlobalAliases.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxValueProvider_ForAttributeWithSimpleName.cs
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_FullyQualifiedName.vb
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_SimpleName.vb
  src/Tools/IdeCoreBenchmarks/IncrementalSourceGeneratorBenchmarks.cs
Labels: Area-Compilers

#61261 Give a specific message when analyzer references a more-recent compiler version
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceTests.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineArguments.cs
  src/Compilers/Core/Portable/Diagnostic/CommonMessageProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerLoadFailureEventArgs.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Core/AssemblyLoadTestFixture.cs
  src/Compilers/Test/Core/Mocks/TestMessageProvider.cs
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Errors/MessageProvider.vb
  src/Compilers/VisualBasic/Portable/Generated/ErrorFacts.Generated.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/EditorFeatures/Test/Diagnostics/AnalyzerLoadFailureTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor_Helpers.cs
Labels: Area-Compilers, Approved to merge

#62555 Validation: Change seealso to see
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyMetadata.cs
  src/Compilers/Core/Portable/RuleSet/RuleSet.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayFormat.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayPropertyStyle.cs
  src/Compilers/VisualBasic/Portable/Semantics/Conversions.vb
Labels: Area-Compilers, Documentation, Community

#62549 Validation: Move remarks into summary
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/Core/Portable/Compilation/NullableContext.cs
  src/Compilers/Core/Portable/Compilation/OptimizationLevel.cs
  src/Compilers/Core/Portable/OutputKind.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayDelegateStyle.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayMemberOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayMiscellaneousOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayParameterOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayPartKind.cs
  src/Compilers/Core/Portable/Symbols/NullableAnnotation.cs
  src/Workspaces/Core/Portable/Workspace/WorkspaceChangeKind.cs
Labels: Area-Compilers, Documentation, Community

#62270 Always clear diagnostics when ending a debug session
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticUpdateSource.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteDebuggingSessionProxy.cs
Labels: Area-IDE

#62572 Validation: Move tags outside summary
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/Text/SourceText.cs
  src/Compilers/VisualBasic/Portable/VisualBasicCompilationOptions.vb
Labels: Area-Compilers, Documentation, Community

#62580 Use ASP.NET indentation setting in C# scripts in ASPX page
  src/VisualStudio/Core/Def/Venus/ContainedDocument.cs
Labels: Area-IDE

#62581 Theme the Generate Type Dialog
  src/VisualStudio/Core/Def/GenerateType/GenerateTypeDialog.xaml
Labels: Area-IDE, UX Review Not Required

#62433 Run EndToEnd tests in a more isolated/controlled environment
  Compilers.sln
  Compilers.slnf
  Roslyn.sln
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
  src/Compilers/CSharp/Test/EndToEnd/Microsoft.CodeAnalysis.CSharp.EndToEnd.UnitTests.csproj
  src/Compilers/CSharp/Test/EndToEnd/README.md
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
  src/Compilers/Test/Utilities/CSharp/Microsoft.CodeAnalysis.CSharp.Test.Utilities.csproj
  src/EditorFeatures/TestUtilities/Microsoft.CodeAnalysis.EditorFeatures.Test.Utilities.csproj
  src/Scripting/CSharp/Microsoft.CodeAnalysis.CSharp.Scripting.csproj
  src/Test/PdbUtilities/Roslyn.Test.PdbUtilities.csproj
  src/Tools/Source/RunTests/Program.cs
Labels: Area-Compilers

#62589 Revert "Apply changes directly to text buffer (#62337)"
  src/EditorFeatures/CSharpTest/Formatting/Indentation/CSharpFormatterTestsBase.cs
  src/EditorFeatures/Core/CommentSelection/AbstractCommentSelectionBase.cs
  src/EditorFeatures/Core/Formatting/FormatCommandHandler.Paste.cs
  src/EditorFeatures/Core/Formatting/FormatCommandHandler.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Options/TextBufferOptionProviders.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextBufferExtensions.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextSnapshotExtensions.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/VisualBasic/EndConstructGeneration/SpitLinesResult.vb
  src/EditorFeatures/VisualBasic/EndConstructGeneration/VisualBasicEndConstructGenerationService.vb
  src/VisualStudio/Core/Def/Snippets/AbstractSnippetExpansionClient.cs
  src/VisualStudio/Core/Test/Snippets/CSharpSnippetExpansionClientTests.vb
Labels: Area-IDE

#62609 Exclude redundant VS assemblies from vsix
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-Infrastructure

#62602 Fix out of bounds in wrapping refactoring
  src/EditorFeatures/CSharpTest/Wrapping/ParameterWrappingTests.cs
  src/Features/Core/Portable/Wrapping/SeparatedSyntaxList/AbstractSeparatedSyntaxListWrapper.cs
Labels: Area-IDE

#62514 Use "file local types" instead of "file types"
  src/Compilers/CSharp/Portable/Binder/Binder_Constraints.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNameParser.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FileModifierParsingTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/KeywordCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyCompilationsTests.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/NamedTypeGenerator.cs
  src/Workspaces/Core/Portable/CodeGeneration/Symbols/CodeGenerationAbstractNamedTypeSymbol.cs
  src/Workspaces/Core/Portable/Editing/DeclarationModifiers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
Labels: Area-Compilers

#62588 Add "Needs Design Review" and comment to every PR that modifies public APIs.
  .github/fabricbot.json
Labels: Area-Infrastructure

#60855 Provide parse options to the language service more quickly
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTask/Microsoft.VisualBasic.Core.targets
  src/VisualStudio/Core/Def/ProjectSystem/CPS/IWorkspaceProjectContext.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectOptionsProcessor.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
Labels: Area-Compilers

#62551 Store helpful info needed by incremental-generation on syntax-tree itself
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/SourceGeneration/CSharpSyntaxHelper.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/SourceGeneration/ISyntaxHelper.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxValueProvider_ForAttributeWithSimpleName.cs
  src/Compilers/Core/Portable/Syntax/SyntaxTree.cs
  src/Compilers/VisualBasic/Portable/SourceGeneration/VisualBasicSyntaxHelper.vb
Labels: Area-Compilers

#62615 Report error for ref field declared in type other than ref struct
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, New Language Feature - Ref Fields

#62454 EnC: A couple of small fixes
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/EditorFeatures/Test/EditAndContinue/Helpers/DummyLanguageService.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/Extensions.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/CSharpReferencesTests.cs
  src/VisualStudio/Core/Test.Next/Remote/SnapshotSerializationTests.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/CoreTest/Formatter/FormatterTests.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/CoreTestUtilities/NoCompilationLanguageServiceFactory.cs
Labels: Area-Interactive

#62627 Address feedback on the "references newer compiler" diagnostic in the analyzer loader
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/Core/CodeAnalysisTest/Analyzers/AnalyzerFileReferenceTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerLoadFailureEventArgs.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/EditorFeatures/Test/Diagnostics/AnalyzerLoadFailureTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-Compilers

#62616 Cleanup: remove VisualStudioWorkspaceImpl.TryGetContainedDocument
  src/VisualStudio/Core/Def/Diagnostics/VisualStudioVenusSpanMappingService.cs
  src/VisualStudio/Core/Def/Extensions/VsTextSpanExtensions.cs
  src/VisualStudio/Core/Def/Implementation/ContainedLanguageRefactorNotifyService.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractLanguageService`2.VsLanguageDebugInfo.cs
  src/VisualStudio/Core/Def/Library/ObjectBrowser/Extensions.cs
  src/VisualStudio/Core/Def/NavigateTo/VisualStudioNavigateToPreviewService.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Snippets/AbstractSnippetExpansionClient.cs
  src/VisualStudio/Core/Def/TableDataSource/VisualStudioBaseTodoListTable.cs
  src/VisualStudio/Core/Def/Venus/ContainedDocument.cs
  src/VisualStudio/Core/Def/Workspace/VisualStudioDocumentNavigationService.cs
  src/VisualStudio/Core/Def/Workspace/VisualStudioTextUndoHistoryWorkspaceServiceFactory.cs
Labels: Area-IDE

#62601 Bind IterationErrorVariable to a natural type for error recovery
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers, Feature - Interpolated String Improvements

#62628 Update THIRD-PARTY-NOTICES.txt and Signing.props for StructuredLogger
  THIRD-PARTY-NOTICES.txt
  eng/Signing.props
Labels: Area-Infrastructure

#62488 Use secondary buffer in contained language file paths
  src/VisualStudio/Core/Def/ExternalAccess/VSTypeScript/Api/VSTypeScriptContainedLanguageWrapper.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractLanguageService`2.cs
  src/VisualStudio/Core/Def/Venus/ContainedLanguage.cs
  src/VisualStudio/LiveShare/Impl/Client/Razor/CSharpLspContainedLanguageProvider.cs
  src/VisualStudio/VisualBasic/Impl/LanguageService/VisualBasicLanguageService.vb
  src/VisualStudio/VisualBasic/Impl/Venus/VisualBasicContainedLanguage.vb
Labels: Area-IDE, Community

#62654 Keep selection on rename invocation
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentManager.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs
Labels: Area-IDE

#62562 Move the option based fading logic to the diagnostic classification t…
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryDiscardDesignation/CSharpRemoveUnnecessaryDiscardDesignationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryNullableDirective/CSharpRemoveRedundantNullableDirectiveDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryNullableDirective/CSharpRemoveUnnecessaryNullableDirectiveDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnreachableCode/CSharpRemoveUnreachableCodeDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseDefaultLiteral/CSharpUseDefaultLiteralDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseCollectionInitializer/UseCollectionInitializerTests.cs
  src/Analyzers/CSharp/Tests/UseObjectInitializer/UseObjectInitializerTests.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer_Core.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInUnnecessaryCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/IDEDiagnosticIdToOptionMappingHelper.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryCast/AbstractRemoveUnnecessaryCastDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseInferredMemberName/AbstractUseInferredMemberNameDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseObjectInitializer/AbstractUseObjectInitializerDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnnecessaryByVal/VisualBasicRemoveUnnecessaryByValDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Tests/UseObjectInitializer/UseObjectInitializerTests.vb
  src/EditorFeatures/Core/Diagnostics/DiagnosticsClassificationTaggerProvider.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticsClassificationTaggerProviderTests.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Analysis.cs
  src/Features/Core/Portable/SimplifyThisOrMe/AbstractSimplifyThisOrMeDiagnosticAnalyzer.cs
  src/Features/Core/Portable/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Features/LanguageServer/Protocol/Features/Options/IdeAnalyzerOptionsStorage.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject/AutomationObject.Fading.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject/AutomationObject.Style.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AutomationObject/AutomationObject.Fading.vb
  src/VisualStudio/VisualBasic/Impl/Options/AutomationObject/AutomationObject.Style.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/FadingOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/AnalyzerOptionsProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IdeAnalyzerOptions.cs
Labels: Area-IDE

#62662 use dnceng images for Correctness_Determinism
  azure-pipelines.yml
Labels: Area-Infrastructure

#62392 Add array initialization optimization
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/Utf8StringsLiteralsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers

#62655 Remove dependency on Microsoft.VisualStudio.RemoteControl assembly from Features
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/Core/Portable/SymbolSearch/Windows/IFileDownloaderFactory.cs
  src/Features/Core/Portable/SymbolSearch/Windows/IRemoteControlService.cs
  src/Features/Core/Portable/SymbolSearch/Windows/SymbolSearchUpdateEngine.RemoteControlService.cs
  src/Features/Core/Portable/SymbolSearch/Windows/SymbolSearchUpdateEngine.Update.cs
  src/Features/Core/Portable/SymbolSearch/Windows/SymbolSearchUpdateEngine.cs
  src/Features/Core/Portable/SymbolSearch/Windows/SymbolSearchUpdateEngineFactory.cs
  src/VisualStudio/Core/Def/Storage/FileDownloader.cs
  src/VisualStudio/Core/Def/SymbolSearch/VisualStudioSymbolSearchService.cs
  src/VisualStudio/Core/Test/SymbolSearch/SymbolSearchUpdateEngineTests.vb
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Services/SymbolSearchUpdate/RemoteSymbolSearchUpdateService.cs
Labels: Area-IDE

#62171 Cleanups for our logging helpers
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/AsyncCompletionLogger.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/ItemManager.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureTelemetryLogger.cs
  src/Features/Core/Portable/Completion/Log/CompletionProvidersLogger.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/SerializableUnimportedExtensionMethods.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerLogger.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerRegistrationService.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.IncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService_IncrementalAnalyzer.cs
  src/Features/LanguageServer/Protocol/Handler/RequestTelemetryLogger.cs
  src/VisualStudio/Core/Def/InheritanceMargin/InheritanceMarginLogger.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/CommonFixAllState.cs
  src/Workspaces/Core/Portable/Log/CorrelationIdFactory.cs
  src/Workspaces/Core/Portable/Log/HistogramLogAggregator.cs
  src/Workspaces/Core/Portable/Log/StatisticLogAggregator.cs
  src/Workspaces/Core/Portable/Log/StatisticResult.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionLogger.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Log/AbstractLogAggregator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Log/CountLogAggregator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
Labels: Area-IDE

#62690 Use OmniSharp LineFormatting fallback options in more places.
  src/Tools/ExternalAccess/OmniSharp/DocumentationComments/OmniSharpDocumentationCommentOptionsWrapper.cs
  src/Tools/ExternalAccess/OmniSharp/Formatting/OmniSharpOrganizeImportsOptionsWrapper.cs
  src/Tools/ExternalAccess/OmniSharp/Formatting/OmniSharpSyntaxFormattingOptionsWrapper.cs
Labels: Area-Infrastructure

#62646 Add IWorkspaceProjectContextFactory F# wappers
  src/Tools/ExternalAccess/FSharp/Microsoft.CodeAnalysis.ExternalAccess.FSharp.csproj
  src/Tools/ExternalAccess/FSharp/VS/IFSharpWorkspaceProjectContextFactory.cs
Labels: Area-IDE

#62684 Generalize RoamingProfileStorageLocation to ClientSettingsStorageLocation
  src/EditorFeatures/Core.Wpf/SignatureHelp/AbstractSignatureHelpCommandHandler.cs
  src/EditorFeatures/Core/Options/NavigationBarViewOptions.cs
  src/EditorFeatures/Core/Options/NavigationBarViewOptionsStorage.cs
  src/EditorFeatures/Core/Options/SignatureHelpViewOptions.cs
  src/EditorFeatures/Core/Options/SignatureHelpViewOptionsStorage.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpSignatureHelpCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicSignatureHelpCommandHandlerTests.vb
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/LanguageServer/Protocol/Features/Options/CompletionOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Features/Options/DiagnosticModeExtensions.cs
  src/Features/LanguageServer/Protocol/Features/Options/DiagnosticOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Features/Options/FeatureFlagStorageLocation.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractLanguageService`2.VsCodeWindowManager.cs
  src/VisualStudio/Core/Def/Options/LanguageSettingsPersister.cs
  src/VisualStudio/Core/Def/Options/LanguageSettingsPersisterProvider.cs
  src/VisualStudio/Core/Def/Options/VisualStudioSettingsOptionPersister.cs
  src/VisualStudio/Core/Def/Options/VisualStudioSettingsOptionPersisterProvider.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioWorkspaceTelemetryService.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpNavigationBar.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/StateResetInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicNavigationBar.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/FormattingOptions2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/ClientSettingsStorageLocation.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/LocalClientSettingsStorageLocation.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/LocalUserProfileStorageLocation.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/RoamingProfileStorageLocation.cs
Labels: Area-IDE

#62695 Update SymReader to the latest version
  eng/Versions.props
Labels: Area-Infrastructure

#62391 Handle diff3 conflict markers
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/LexicalTests.cs
  src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb
  src/Compilers/VisualBasic/Test/Syntax/Scanner/ScannerTests.vb
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests.cs
  src/EditorFeatures/CSharpTest/ConflictMarkerResolution/ConflictMarkerResolutionTests.cs
  src/EditorFeatures/VisualBasicTest/Classification/SyntacticClassifierTests.vb
  src/EditorFeatures/VisualBasicTest/ConflictMarkerResolution/ConflictMarkerResolutionTests.vb
  src/Features/Core/Portable/ConflictMarkerResolution/AbstractConflictMarkerCodeFixProvider.cs
Labels: Area-Compilers

#62559 Fix new rename showing overloads when not applicable
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentManager.cs
  src/EditorFeatures/Test2/Rename/RenameViewModelTests.vb
Labels: Area-IDE

#62681 Allow symbol keys to resolve against error symbols.
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyErrorTypeTests.cs
  src/EditorFeatures/CSharpTest/SymbolKey/SymbolKeyMetadataVsSourceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AbstractSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AliasSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AnonymousFunctionOrDelegateSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AnonymousTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ArrayTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AssemblySymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.DynamicTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ErrorTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.EventSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.FieldSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.FunctionPointerTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.MethodSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ModuleSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamespaceSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.ParameterSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.PointerTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.PropertySymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyWriter.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.TupleTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.TypeParameterSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.cs
Labels: Area-IDE

#62712 Pass LineFormatting options into OmniSharpCodeAction options
  src/Tools/ExternalAccess/OmniSharp/CodeActions/OmniSharpCodeActionOptions.cs
Labels: Area-Infrastructure

#62617 Apply changes directly to text buffer - take 2
  src/EditorFeatures/CSharpTest/Formatting/Indentation/CSharpFormatterTestsBase.cs
  src/EditorFeatures/Core/CommentSelection/AbstractCommentSelectionBase.cs
  src/EditorFeatures/Core/Editor/IContainedDocument.cs
  src/EditorFeatures/Core/Formatting/FormatCommandHandler.Paste.cs
  src/EditorFeatures/Core/Formatting/FormatCommandHandler.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/Options/TextBufferOptionProviders.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextBufferExtensions.cs
  src/EditorFeatures/Core/Shared/Extensions/ITextSnapshotExtensions.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/VisualBasic/EndConstructGeneration/SpitLinesResult.vb
  src/EditorFeatures/VisualBasic/EndConstructGeneration/VisualBasicEndConstructGenerationService.vb
  src/VisualStudio/Core/Def/Snippets/AbstractSnippetExpansionClient.cs
  src/VisualStudio/Core/Def/Venus/ContainedDocument.cs
  src/VisualStudio/Core/Def/Venus/ContainedLanguage.cs
  src/VisualStudio/Core/Test/Snippets/CSharpSnippetExpansionClientTests.vb
Labels: Area-IDE

#60778 Change ServiceHub host names
  eng/Versions.props
  eng/targets/GenerateServiceHubConfigurationFiles.targets
Labels: Area-Infrastructure

#62745 Revert #62684 and #62695 to resolve infra issues
  eng/Versions.props
  src/EditorFeatures/Core.Wpf/SignatureHelp/AbstractSignatureHelpCommandHandler.cs
  src/EditorFeatures/Core/Options/NavigationBarViewOptions.cs
  src/EditorFeatures/Core/Options/NavigationBarViewOptionsStorage.cs
  src/EditorFeatures/Core/Options/SignatureHelpViewOptions.cs
  src/EditorFeatures/Core/Options/SignatureHelpViewOptionsStorage.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpSignatureHelpCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/VisualBasicSignatureHelpCommandHandlerTests.vb
  src/Features/Core/Portable/Diagnostics/DiagnosticOptions.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/Features/LanguageServer/Protocol/Features/Options/CompletionOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Features/Options/DiagnosticModeExtensions.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractLanguageService`2.VsCodeWindowManager.cs
  src/VisualStudio/Core/Def/Options/LanguageSettingsPersister.cs
  src/VisualStudio/Core/Def/Options/LanguageSettingsPersisterProvider.cs
  src/VisualStudio/Core/Def/Options/RoamingVisualStudioProfileOptionPersister.cs
  src/VisualStudio/Core/Def/Options/RoamingVisualStudioProfileOptionPersisterProvider.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioWorkspaceTelemetryService.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpNavigationBar.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/StateResetInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicNavigationBar.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/FormattingOptions2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/ClientSettingsStorageLocation.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/FeatureFlagStorageLocation.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/LocalClientSettingsStorageLocation.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/LocalUserProfileStorageLocation.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/RoamingProfileStorageLocation.cs
Labels: Area-IDE

#62743 Revert "Update SymReader to the latest version (#62695)"
  eng/Versions.props
Labels: Area-Infrastructure

#62757 Fix PR Validation pipeline
  azure-pipelines-pr-validation.yml
Labels: Area-Infrastructure

#62692 Clean up global options usage in tests
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/PartialMethodCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/EncapsulateField/EncapsulateFieldTestState.cs
  src/EditorFeatures/CSharpTest/EventHookup/EventHookupTestState.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartTokenFormatterFormatRangeTests.cs
  src/EditorFeatures/CSharpTest/InlineDiagnostics/InlineDiagnosticsTaggerProviderTests.cs
  src/EditorFeatures/CSharpTest/Intents/IntentTestsBase.cs
  src/EditorFeatures/CSharpTest/Squiggles/ErrorSquiggleProducerTests.cs
  src/EditorFeatures/DiagnosticsTestUtilities/ChangeSignature/ChangeSignatureTestState.cs
  src/EditorFeatures/Test/CodeGeneration/CodeGenerationTests.CSharp.cs
  src/EditorFeatures/Test/CodeGeneration/CodeGenerationTests.cs
  src/EditorFeatures/Test2/Simplification/AbstractSimplificationTests.vb
  src/EditorFeatures/Test2/Simplification/BlockSimplificationTests.vb
  src/EditorFeatures/Test2/Simplification/TypeInferenceSimplifierTests.vb
  src/EditorFeatures/Test2/Simplification/TypeNameSimplifierTest.vb
  src/EditorFeatures/TestUtilities/Extensions/WorkspaceExtensions.cs
  src/EditorFeatures/TestUtilities/Formatting/CoreFormatterTestsBase.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace.cs
  src/EditorFeatures/VisualBasicTest/SimplifyTypeNames/SimplifyTypeNamesTests.vb
  src/EditorFeatures/VisualBasicTest/Squiggles/ErrorSquiggleProducerTests.vb
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeElementTests`1.vb
  src/VisualStudio/Core/Test/CodeModel/AbstractCodeModelObjectTests.vb
  src/VisualStudio/Core/Test/Completion/CSharpCompletionSnippetNoteTests.vb
  src/VisualStudio/Core/Test/Snippets/SnippetTestState.vb
  src/VisualStudio/Core/Test/Snippets/VisualBasicSnippetExpansionClientTests.vb
  src/Workspaces/CSharpTest/Formatting/FormattingTriviaTests.cs
Labels: Area-IDE

#61976 Fix project based CompletionProvider
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Test/Completion/CompletionServiceTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/CompletionService.ProviderManager.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/VisualBasic/Portable/Completion/VisualBasicCompletionService.vb
  src/VisualStudio/Core/Def/LanguageService/AbstractCreateServicesOnTextViewConnection.cs
Labels: Area-IDE, IDE-IntelliSense

#62518 Generate ReadyToRun binaries for OOP
  eng/Signing.props
  src/Workspaces/Remote/ServiceHub.CoreComponents/Microsoft.CodeAnalysis.Remote.ServiceHub.CoreComponents.csproj
Labels: Area-IDE

#62755 Simplify find refs helpers
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractMemberScopedReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorInitializerSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ExplicitConversionSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamedTypeSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamespaceSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/OperatorSymbolReferenceFinder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ICollectionExtensions.cs
Labels: Area-IDE

#62775 Allow lightbulbs to make text changes, even if an intermediary workspace change occurred.
  src/EditorFeatures/CSharpTest/CodeActions/ApplyChangesOperationTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/Preview/PreviewExceptionTests.cs
  src/EditorFeatures/Core.Wpf/Suggestions/PreviewChanges/PreviewChangesSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionWithNestedActions.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionWithNestedFlavors.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/AbstractFixAllSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/CodeFixSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/CodeRefactoringSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/FixAllCodeFixSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/FixAllCodeRefactoringSuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.State.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSourceProvider.cs
  src/EditorFeatures/Core/CodeActions/CodeActionEditHandlerService.cs
  src/EditorFeatures/Core/CodeActions/ICodeActionEditHandlerService.cs
  src/EditorFeatures/Core/RenameTracking/RenameTrackingTaggerProvider.RenameTrackingCodeAction.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionTest.cs
  src/EditorFeatures/Test/RenameTracking/RenameTrackingTestState.cs
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
  src/Features/Core/Portable/AddImport/CodeActions/AssemblyReferenceCodeAction.cs
  src/Features/Core/Portable/AddImport/CodeActions/InstallPackageAndAddImportCodeAction.cs
  src/Features/Core/Portable/AddImport/CodeActions/ProjectSymbolReferenceCodeAction.cs
  src/Features/Core/Portable/AddPackage/InstallPackageDirectlyCodeActionOperation.cs
  src/Features/Core/Portable/ChangeSignature/ChangeSignatureCodeActionOperation.cs
  src/Features/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActionSet.cs
  src/Features/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioDiagnosticListTableCommandHandler.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioSuppressionFixService.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersCommandHandler.cs
  src/Workspaces/Core/Portable/CodeActions/Operations/ApplyChangesOperation.cs
  src/Workspaces/Core/Portable/CodeActions/Operations/CodeActionOperation.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#62740 Use actual equivalence keys, not loc strings to distinguish helpers
  src/Features/CSharp/Portable/UseExpressionBody/UseExpressionBodyCodeRefactoringProvider.cs
Labels: Area-IDE

#62682 Move our C# syntax generator over to be an IIncrementalGenerator
  eng/Versions.props
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/CachingSourceGenerator.cs
  src/Tools/Source/CompilerGeneratorTools/Source/CSharpSyntaxGenerator/SourceGenerator.cs
Labels: Area-Compilers

#62774 Optimize away unchecked conversions between nint and nuint types.
  src/Compilers/CSharp/Test/Emit2/Emit/NumericIntPtrTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
  src/Compilers/Core/Portable/CodeGen/ILBuilderConversions.cs
Labels: Area-Compilers, New Language Feature - Native Int

#62746 Delete obsolete internal options
  src/Features/CSharp/Portable/Completion/CSharpCompletionOptions.cs
Labels: Area-IDE, Community

#62773 Fix NRE in nullable walker
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Area-Compilers, Community

#60537 Cleanup AbstractBuiltInCodeStyleDiagnosticAnalyzer
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer_Core.cs
  src/Analyzers/Core/Analyzers/FileHeaders/AbstractFileHeaderDiagnosticAnalyzer.cs
Labels: Area-Analyzers, Community

#62685 Remove unused parameter
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxTests.cs
Labels: Area-Compilers, Community

#62406 Find the right symbol when following type forwards
  src/EditorFeatures/CSharpTest/PdbSourceDocument/ImplementationAssemblyLookupServiceTests.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/PdbSourceDocumentTests.cs
  src/Features/Core/Portable/PdbSourceDocument/ImplementationAssemblyLookupService.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbSourceDocumentMetadataAsSourceFileProvider.cs
Labels: Area-IDE

#62789 No need to roundtrip symbol when doing OOP rename call.
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamerService.cs
  src/Workspaces/Core/Portable/Rename/RenameLocations.cs
  src/Workspaces/Remote/ServiceHub/Services/Renamer/RemoteRenamerService.cs
Labels: Area-IDE

#62752 Find references to type-parameters used in object-creation expressions.
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.MethodTypeParameterTypeSymbol.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.TypeParameterTypeSymbol.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractTypeParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/MethodTypeParameterSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/TypeParameterSymbolReferenceFinder.cs
Labels: Area-IDE

#62800 Change rename/inline-rename to no longer marshal symbols from OOP to the host when operating.
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.InlineRenameLocationSet.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.SymbolRenameInfo.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.cs
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
  src/Features/Core/Portable/EncapsulateField/AbstractEncapsulateFieldService.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/Core/Portable/Remote/RemoteArguments.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/HeavyweightRenameLocations.ReferenceProcessing.cs
  src/Workspaces/Core/Portable/Rename/HeavyweightRenameLocations.cs
  src/Workspaces/Core/Portable/Rename/HeavyweightRenameLocations1.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamerService.cs
  src/Workspaces/Core/Portable/Rename/LightweightRenameLocations.cs
  src/Workspaces/Core/Portable/Rename/RenameUtilities.cs
  src/Workspaces/Core/Portable/Rename/Renamer.cs
  src/Workspaces/Core/Portable/WorkspacesResources.resx
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.cs.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.de.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.es.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.fr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.it.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ja.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ko.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pl.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.pt-BR.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.ru.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.tr.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hans.xlf
  src/Workspaces/Core/Portable/xlf/WorkspacesResources.zh-Hant.xlf
  src/Workspaces/Remote/ServiceHub/Services/Renamer/RemoteRenamerService.cs
  src/Workspaces/VisualBasic/Portable/Rename/VisualBasicRenameRewriterLanguageService.vb
Labels: Area-IDE

#62578 Fix cref tags on generated VB's SyntaxFactory
  src/Compilers/VisualBasic/Portable/Generated/Syntax.xml.Internal.Generated.vb
  src/Compilers/VisualBasic/Portable/Generated/Syntax.xml.Main.Generated.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/GreenNodes/GreenNodeFactoryWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/RedNodes/RedNodeFactoryWriter.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/Util/WriteUtils.vb
Labels: Area-Compilers

#62584 Support ref field assignment in object initializers
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/ObjectAndCollectionInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RefFieldParsingTests.cs
Labels: Area-Compilers

#62766 Rename `IPerLanguageOption` and `ILanguageSpecificOption` and add LanguageName property
  src/Analyzers/CSharp/Analyzers/MisplacedUsingDirectives/MisplacedUsingDirectivesDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/UseExpressionBodyDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseImplicitOrExplicitType/CSharpTypeStyleDiagnosticAnalyzerBase.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInUnnecessaryCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AbstractParenthesesDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/ForEachCast/AbstractForEachCastDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIdToOptionMappingHelper.cs
  src/Analyzers/Core/Analyzers/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseInferredMemberName/AbstractUseInferredMemberNameDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseObjectInitializer/AbstractUseObjectInitializerDiagnosticAnalyzer.cs
  src/CodeStyle/VisualBasic/Tests/AbstractVisualBasicDiagnosticProviderBasedUserDiagnosticTest_OptionHelpers.vb
  src/EditorFeatures/Core/EditorConfigSettings/Data/Whitespace/PerLanguageWhitespaceSetting.cs
  src/EditorFeatures/Core/EditorConfigSettings/Data/Whitespace/WhitespaceSetting`1.cs
  src/EditorFeatures/Core/EditorConfigSettings/Updater/SettingsUpdateHelper.cs
  src/Features/Core/Portable/PreferFrameworkType/PreferFrameworkTypeDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/SimplifyThisOrMe/AbstractSimplifyThisOrMeDiagnosticAnalyzer.cs
  src/Features/LanguageServer/Protocol/Features/Options/CodeStyleOptionsStorage.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/Whitespace/ViewModel/OperatorPlacementWhenWrappingViewModel.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/Workspaces/Core/Portable/Options/Option`1.cs
  src/Workspaces/Core/Portable/Options/PerLanguageOption.cs
  src/Workspaces/CoreTest/Options/OptionsTestHelpers.cs
  src/Workspaces/CoreTest/Simplifier/SimplifierTests.cs
  src/Workspaces/CoreTest/WorkspaceServiceTests/GlobalOptionServiceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/CSharpFormattingOptions2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/CodeStyleHelpers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/CodeStyleOptions2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/Option2`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/OptionKey2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/PerLanguageOption2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/CodeStyle/VisualBasicCodeStyleOptions.vb
Labels: Area-IDE, Community

#62675 Move UseExpressionBodyForLambda to Analyzers layer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/UseExpressionBodyForLambda/UseExpressionBodyForLambdaDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBodyForLambda/UseExpressionBodyForLambdaHelpers.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeActionHelpers.cs
  src/Analyzers/CSharp/CodeFixes/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseExpressionBodyForLambda/UseExpressionBodyForLambdasAnalyzerTests.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider_Analysis.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider_Fixing.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Analysis.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Fixing.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.Refactoring.cs
  src/Features/Core/Portable/CodeStyle/AbstractCodeStyleProvider.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Tools/BuildActionTelemetryTable/Program.cs
Labels: Area-IDE, Community

#62686 Produce errors for 'partial file record'
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDestructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/EnumTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/DelegateTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FileModifierParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RoundTrippingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ScriptParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/TopLevelStatementsParsingTests.cs
Labels: Area-Compilers, Community

#62813 Remove 'mangleName' parameter in PENamedTypeSymbolNonGeneric
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
Labels: Area-Compilers

#62760 Fix GetNext/PreviousDirective's handling of duplicate trivia
  src/Compilers/CSharp/Portable/Syntax/DirectiveTriviaSyntax.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNodeTests.cs
Labels: Area-Compilers

#62843 Fixes bad merge
  src/Analyzers/CSharp/Analyzers/UseExpressionBodyForLambda/UseExpressionBodyForLambdaDiagnosticAnalyzer.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
Labels: Area-Infrastructure

#62782 Allow for Parsing Lambda Default Parameters
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-Compilers

#62811 Delete our SetCallstackIfEmpty helper
  src/VisualStudio/Core/Def/Watson/FaultReporter.cs
  src/VisualStudio/Core/Def/Watson/WatsonExtensions.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE

#62830 Move few tests to shared analyzers layer
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/ConvertNamespace/ConvertToBlockScopedNamespaceAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/ConvertNamespace/ConvertToFileScopedNamespaceAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/FixIncorrectConstraint/FixIncorrectConstraintTests.cs
  src/Analyzers/CSharp/Tests/ForEachCast/ForEachCastTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryLambdaExpression/RemoveUnnecessaryLambdaExpressionTests.cs
  src/Analyzers/CSharp/Tests/TransposeRecordKeyword/TransposeRecordKeywordTests.cs
Labels: Area-IDE, Community

#62841 Switch to immutable arrays from arrays in Rename OOP serialization
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/IRemoteRenamerService.cs
  src/Workspaces/Core/Portable/Rename/LightweightRenameLocations.cs
  src/Workspaces/Core/Portable/Rename/SymbolicRenameLocations.cs
Labels: Area-IDE

#62219 Use the prior cached state for the Razor generator in later runs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/EditorFeatures/Test/EditAndContinue/CompileTimeSolutionProviderTests.cs
  src/Features/Core/Portable/Workspace/CompileTimeSolutionProvider.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationAndGeneratorDriverTranslationAction_Actions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE, Area-Compilers

#62862 Break unnecessary inheritance of parentheses analyzers
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer_Core.cs
  src/Analyzers/Core/Analyzers/AbstractParenthesesDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AddRequiredParentheses/AbstractAddRequiredParenthesesDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/ParenthesesDiagnosticAnalyzersHelper.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryParentheses/AbstractRemoveUnnecessaryParenthesesDiagnosticAnalyzer.cs
Labels: Area-IDE, Community

#62769 Remove unneeded 'using OptionSet = ...'
  src/Analyzers/CSharp/Analyzers/ConvertNamespace/ConvertNamespaceAnalysis.cs
  src/Analyzers/CSharp/Analyzers/ConvertNamespace/ConvertToBlockScopedNamespaceDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/ConvertNamespace/ConvertToFileScopedNamespaceDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/Helpers/UseExpressionBodyHelper`1.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/UseExpressionBodyDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseImplicitOrExplicitType/CSharpTypeStyleDiagnosticAnalyzerBase.cs
  src/Analyzers/CSharp/CodeFixes/ConvertNamespace/ConvertNamespaceCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/ConvertNamespace/ConvertNamespaceTransform.cs
  src/Analyzers/CSharp/CodeFixes/InlineDeclaration/CSharpInlineDeclarationCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInUnnecessaryCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/ConvertTypeofToNameof/AbstractConvertTypeOfToNameOfDiagnosticAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/TypeStyle/TypeStyleHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpTypeStyleHelper.State.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpTypeStyleHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseExplicitTypeHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseImplicitTypeHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Indentation/IIndentationService.cs
Labels: Area-IDE, Community

#62853 Ensure OOP solution fast-path cache properly refcounts items during processing
  src/Workspaces/Core/Portable/Workspace/Solution/BranchId.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
Labels: Area-IDE

#62852 Ensure we don't throw first-chance exceptions if we have a null stack
  src/VisualStudio/Core/Def/Watson/FaultReporter.cs
Labels: Area-IDE

#62875 Revert "Merge pull request #62853 from CyrusNajmabadi/oopCaching2"
  src/Workspaces/Core/Portable/Workspace/Solution/BranchId.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
Labels: Area-IDE

#62868 Revert "Add array initialization optimization"
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/Utf8StringsLiteralsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers

#62633 Add external access for unit test generation
  eng/targets/Settings.props
  src/EditorFeatures/Core/ExternalAccess/UnitTestGenerator/Api/UnitTestGeneratorAddMissingImportsFeatureServiceAccessor.cs
  src/EditorFeatures/Core/ExternalAccess/UnitTestGenerator/Api/UnitTestGeneratorOrganizeImportsAccessor.cs
  src/EditorFeatures/Core/ExternalAccess/UnitTestGenerator/Api/WrappedAddImportFixData.cs
  src/EditorFeatures/Core/ExternalAccess/UnitTestGenerator/Api/WrappedAddImportFixKind.cs
  src/EditorFeatures/Core/ExternalAccess/UnitTestGenerator/Api/WrappedMissingImportsAnalysisResult.cs
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
Labels: Area-IDE

#62859 Move AnalyzerOptionsProvider to Analyzers layer
  src/Analyzers/Core/Analyzers/AnalyzerOptionsProvider.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/CodeFixes/AnalyzerOptionsProviders.cs
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
Labels: Area-IDE, Community

#62867 Fix async rename prefs string
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Area-IDE

#62909 Remove SolutionServices in favor of HostWorkspaceServices
  src/Features/Core/Portable/CodeLens/CodeLensReferencesService.cs
  src/Workspaces/Core/Portable/Classification/AbstractClassificationService.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Workspace/Solution/AdditionalDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/AnalyzerConfigDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionServices.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.GeneratedFileReplacingCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.ICompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/MSBuildTest/VisualStudioMSBuildWorkspaceTests.cs
Labels: Area-IDE

#62913 Expose WorkspaceKind off of Solution snapshot instance
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/SyncNamespace/CSharpChangeNamespaceService.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseRecursivePatterns/UseRecursivePatternsCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/Completion/CompletionService.ProviderManager.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/Core/Portable/DocumentHighlighting/AbstractDocumentHighlightsService.cs
  src/Features/Core/Portable/GenerateConstructorFromMembers/AbstractGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateDefaultConstructors/GenerateDefaultConstructorsCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceParameterService.cs
  src/Features/Core/Portable/IntroduceVariable/IntroduceVariableCodeRefactoringProvider.cs
  src/Features/Core/Portable/NameTupleElement/AbstractNameTupleElementCodeRefactoringProvider.cs
  src/Features/Core/Portable/UseNamedArguments/AbstractUseNamedArgumentsCodeRefactoringProvider.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/Features/LanguageServer/Protocol/Features/Options/BlockStructureOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/VisualStudio/Core/Def/InheritanceMargin/InheritanceMarginTaggerProvider.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpGoToGlobalImportsTests.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpInheritanceMarginTests.cs
  src/VisualStudio/VisualBasic/Impl/Help/VisualBasicHelpContextService.vb
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE

#62898 Renamed `ShouldShowItemsFromUnimportNamspaces` to `ShouldShowItemsFromUnimportedNamespaces`
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/Features/Core/Portable/Completion/CompletionOptions.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
Labels: Area-IDE, Community

#62653 Block constant and relational pattern matching on types inheriting from or constrained to INumberBase<T>
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests5.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers

#62917 Skip 3 flaky integration tests
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpCodeActions.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpErrorListCommon.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpSourceGenerators.cs
Labels: Area-Infrastructure

#62849 HasChangesAsync should return false if the document content did not changed
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
Labels: Area-Interactive

#62870 Revert "Fix PR Validation pipeline"
  azure-pipelines-pr-validation.yml
Labels: Area-Infrastructure

#61784 Document Outline Feature
  eng/Versions.props
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/Core/LanguageServer/Handlers/Symbols/DocumentSymbolsHandler.cs
  src/EditorFeatures/Core/LanguageServer/Handlers/Symbols/RoslynDocumentSymbolParams.cs
  src/VisualStudio/CSharp/Test/DocumentOutline/DocumentOutlineTests.cs
  src/VisualStudio/CSharp/Test/DocumentOutline/DocumentOutlineTestsBase.cs
  src/VisualStudio/CSharp/Test/Microsoft.VisualStudio.LanguageServices.CSharp.UnitTests.csproj
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineControl.xaml
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineControl.xaml.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineControl_ModelComputation.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineHelper.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineStrings.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentSymbolData.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentSymbolDataModel.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentSymbolUIItem.cs
  src/VisualStudio/Core/Def/DocumentOutline/ExpansionOption.cs
  src/VisualStudio/Core/Def/DocumentOutline/SortOption.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractLanguageService`2.VsCodeWindowManager.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#62304 Enable updated escape rules if System.Runtime.CompilerServices.RuntimeFeature.ByRefFields exists
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, New Language Feature - Ref Fields

#62925 Remove enterprise level code for 'false'
  src/Features/CSharp/Portable/GenerateType/CSharpGenerateTypeService.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.State.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.cs
  src/Features/Core/Portable/LanguageServices/ProjectInfoService/IProjectInfoService.cs
  src/Features/VisualBasic/Portable/GenerateType/VisualBasicGenerateTypeService.vb
  src/VisualStudio/Core/Def/ProjectInfo/DefaultProjectInfoService.cs
  src/VisualStudio/Core/Def/ProjectInfo/DefaultProjectInfoServiceFactory.cs
Labels: Area-IDE

#62926 Do not access Workspace through HostWorkspaceServices
  src/EditorFeatures/Core/Interactive/Completion/InteractiveCommandCompletionService.cs
  src/EditorFeatures/Test2/IntelliSense/CompletionServiceTests.vb
  src/EditorFeatures/Test2/IntelliSense/CompletionServiceTests_Exclusivitiy.vb
  src/Features/CSharp/Portable/Completion/CSharpCompletionService.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/TypeImportCompletionServiceFactory.cs
  src/Features/CSharp/Portable/Structure/CSharpBlockStructureService.cs
  src/Features/Core/Portable/Completion/CommonCompletionService.cs
  src/Features/Core/Portable/Completion/CompletionService.ProviderManager.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractTypeImportCompletionService.cs
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptCompletionServiceWithProviders.cs
  src/Features/Core/Portable/Structure/BlockStructureServiceWithProviders.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImportCompletionProvider/TypeImportCompletionServiceFactory.vb
  src/Features/VisualBasic/Portable/Completion/VisualBasicCompletionService.vb
  src/Features/VisualBasic/Portable/Structure/VisualBasicBlockStructureService.vb
  src/Tools/ExternalAccess/FSharp/Completion/FSharpCompletionServiceWithProviders.cs
Labels: Area-IDE

#62938 Delete outdated comment
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/CodeStyleOptions2.cs
Labels: Area-IDE, Community

#62895 Derive unnecessary imports analyzer from AbstractBuiltInCodeStyleDiagnosticAnalyzer
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryImports/CSharpRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer_Core.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInUnnecessaryCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/Helpers/DiagnosticHelper.cs
  src/Analyzers/Core/Analyzers/MakeFieldReadonly/MakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnnecessaryImports/VisualBasicRemoveUnnecessaryImportsDiagnosticAnalyzer.vb
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
Labels: Area-IDE, Community

#62910 Do not go back to Workspace in SyntaxEditor
  src/Analyzers/CSharp/CodeFixes/NewLines/EmbeddedStatementPlacement/EmbeddedStatementPlacementCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/RemoveConfusingSuppression/CSharpRemoveConfusingSuppressionCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UnsealClass/AbstractUnsealClassCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/RemoveUnnecessaryCast/VisualBasicRemoveUnnecessaryCastCodeFixProvider.vb
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/Formatting/CSharpAccessibilityModifiersNewDocumentFormattingProvider.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticCodeFixHelper.cs
  src/Features/CSharp/Portable/ReverseForStatement/CSharpReverseForStatementCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddDebuggerDisplay/AbstractAddDebuggerDisplayCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddParameter/AddParameterService.cs
  src/Features/Core/Portable/ConvertLinq/ConvertForEachToLinqQuery/AbstractConvertForEachToLinqQueryProvider.cs
  src/Features/Core/Portable/ExtractInterface/AbstractExtractInterfaceService.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/InvertConditional/AbstractInvertConditionalCodeRefactoringProvider.cs
  src/Features/Core/Portable/MakeMethodSynchronous/AbstractMakeMethodSynchronousCodeFixProvider.cs
  src/Features/Core/Portable/ReplaceMethodWithProperty/ReplaceMethodWithPropertyCodeRefactoringProvider.cs
  src/Features/Core/Portable/ReplacePropertyWithMethods/ReplacePropertyWithMethodsCodeRefactoringProvider.cs
  src/Features/Core/Portable/Shared/Utilities/ExtractTypeHelpers.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Workspaces/Core/Portable/CodeRefactorings/SyntaxEditorBasedCodeRefactoringProvider.cs
  src/Workspaces/Core/Portable/Editing/SyntaxEditor.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IObjectWritableExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostLanguageServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostProjectServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostSolutionServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostWorkspaceServices.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/SyntaxEditorBasedCodeFixProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/DocumentExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/MoveDeclarationNearReference/AbstractMoveDeclarationNearReferenceService.cs
Labels: Area-IDE

#62878 Trivial refactorings around generator document identity
  src/VisualStudio/Core/Def/Workspace/SourceGeneratedFileManager.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SourceGeneratedFileItems/SourceGeneratedFileItemSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocument.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentIdentity.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratorIdentity.cs
Labels: Area-IDE

#62907 Fix deconstruction test
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDeconstructTests.cs
Labels: Area-Compilers, Test

#62847 Remove unnecessary tracking of unmatched parameters in method invocation escape analysis
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers
