Repository dotnet/roslyn, pull requests merged in 2022-01, with the labels that each got.

#58541 Visit anonymous type and optionally custom modifiers in VisitType.
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolExtensionTests.cs
Labels: Area-Compilers, Community

#58430 Improve error reporting for 'this()' initializer from 'record struct' constructor
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
Labels: Area-Compilers, New Language Feature - Records

#58559 Do not offer pattern matching inside an Expression-Tree
  src/Analyzers/CSharp/Analyzers/UsePatternCombinators/CSharpUsePatternCombinatorsDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseThrowExpression/AbstractUseThrowExpressionDiagnosticAnalyzer.cs
  src/Analyzers/Core/CodeFixes/UseCoalesceExpression/UseCoalesceExpressionCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseCoalesceExpression/UseCoalesceExpressionForNullableCodeFixProvider.cs
  src/EditorFeatures/CSharpTest/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzerTests.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameCodeFixProvider.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer.cs
Labels: Area-IDE

#58572 Revert "Update System.Text.Json to 6.0.0 (#58365)"
  eng/Versions.props
Labels: Area-Infrastructure

#57992 Add nullability annotation to CopyAnnotationsTo()
  src/Compilers/Core/Portable/Syntax/SyntaxNode.cs
Labels: Area-Compilers, Community

#41000 Track nullability information in publicAPI files for C# compiler
  docs/contributing/Building, Debugging, and Testing on Windows.md
  src/Compilers/CSharp/Portable/PublicAPI.Shipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/AnonymousMethodExpressionSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/LambdaExpressionSyntax.cs
Labels: Area-Compilers, Concept-Null Annotations

#58580 Exclude service config files for .Net 6 host from ServiceHub folder
  src/Setup/DevDivVsix/ServiceHubConfig/Roslyn.VisualStudio.Setup.ServiceHub.csproj
Labels: Area-IDE, Area-Infrastructure

#58011 Fix branch URLs in Language Feature Status
  docs/Language Feature Status.md
Labels: Area-Compilers, Community

#50365 Remove CS1574 suppression
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/HashFunctions.cs
Labels: Area-Interactive

#58565 CodeFixContext cleanup
  src/Features/CSharp/Portable/CodeFixes/GenerateMethod/GenerateDeconstructMethodCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/CodeFixes/GenerateMember/AbstractGenerateMemberCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/WrapperCodeFixProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixContext.cs
  src/Workspaces/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptCodeFixContextExtensions.cs
Labels: Area-IDE

#58535 Break binding cycles caused by type forwarders.
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/EarlyWellKnownAttributeBinder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol_Attributes.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
Labels: Area-Compilers

#58436 Fix setting InBreakState flag
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EditSessionTelemetry.cs
Labels: Area-Interactive

#58506 Allow valid metadata name characters in source generator hint names
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/AdditionalSourcesCollectionTests.cs
  src/Compilers/Core/Portable/SourceGeneration/AdditionalSourcesCollection.cs
Labels: Area-Compilers

#57657 use pair-wise testing on PR validation
  azure-pipelines-integration-corehost.yml
  azure-pipelines-integration.yml
Labels: Area-Infrastructure

#58515 Refactor IsAutoPropertyWithGetAccessor usage in MethodCompiler
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityContractProperty.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPropertySymbol.cs
Labels: Area-Compilers, Community

#58595 Simplify WorkCoordinator
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
Labels: Area-IDE

#58602 Fix NRE in CompletionListUpdater
  src/EditorFeatures/Core/Implementation/IntelliSense/AsyncCompletion/ItemManager.CompletionListUpdater.cs
Labels: Area-IDE

#58556 Storage options refactoring
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService_FindReferences.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationUtilities.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/Implementation/LanguageServer/Handlers/References/FindUsagesLSPContext.cs
  src/Features/Core/Portable/ClassifiedSpansAndHighlightSpanFactory.cs
  src/Features/Core/Portable/ValueTracking/ValueTrackedItem.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingCommandHandler.cs
  src/Workspaces/Core/Portable/Classification/AbstractClassificationService.cs
  src/Workspaces/Core/Portable/Classification/ClassifierHelper.cs
  src/Workspaces/Core/Portable/Classification/IRemoteSemanticClassificationService.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.Caching.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.cs
Labels: Area-IDE

#58552 Inline hints options refactoring
  src/EditorFeatures/Core/InlineHints/InlineHintsDataTaggerProvider.cs
  src/EditorFeatures/Test2/InlineHints/AbstractInlineHintsTests.vb
  src/Features/Core/Portable/InlineHints/AbstractInlineHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/IInlineHintsService.cs
  src/Features/Core/Portable/InlineHints/IInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/IInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/InlineHintsOptions.cs
  src/Features/Core/Portable/InlineHints/InlineParameterHintsOptions.cs
  src/Features/Core/Portable/InlineHints/InlineTypeHintsOptions.cs
  src/Tools/ExternalAccess/FSharp/Internal/InlineHints/FSharpInlineHintsService.cs
  src/Tools/ExternalAccess/OmniSharp/InlineHints/OmniSharpInlineHintsService.cs
Labels: Area-IDE

#58549 Extract method options refactoring
  src/EditorFeatures/CSharp/ExtractMethod/ExtractMethodCommandHandler.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodBase.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/AbstractExtractMethodCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/ExtractMethodPresentationOptions.cs
  src/EditorFeatures/VisualBasic/ExtractMethod/ExtractMethodCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.LanguageInteraction.vb
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.vb
  src/Features/CSharp/Portable/ExtractMethod/CSharpExtractMethodService.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.StatementResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionValidator.cs
  src/Features/Core/Portable/CodeRefactorings/ExtractMethod/AbstractExtractMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/ExtractMethod/AbstractExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodOptions.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/IExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/ExtractMethod/SelectionResult.cs
  src/Features/Core/Portable/ExtractMethod/SelectionValidator.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicExtractMethodService.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionValidator.vb
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject/AutomationObject.ExtractMethod.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AutomationObject/AutomationObject.ExtractMethod.vb
Labels: Area-IDE, Needs UX Triage

#58617 Make TryNavigateToMetadataSymbol asynchronous
  src/Features/Core/Portable/FindUsages/DefinitionItem.DefaultDefinitionItem.cs
Labels: Area-IDE

#58209 SourceLink quality of life improvements
  src/EditorFeatures/CSharpTest/PdbSourceDocument/AbstractPdbSourceDocumentTests.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/PdbFileLocatorServiceTests.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/PdbSourceDocumentLoaderServiceTests.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/PdbSourceDocumentTests.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/TestSourceLinkService.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/PdbSourceDocument/IPdbFileLocatorService.cs
  src/Features/Core/Portable/PdbSourceDocument/IPdbSourceDocumentLoaderService.cs
  src/Features/Core/Portable/PdbSourceDocument/IPdbSourceDocumentLogger.cs
  src/Features/Core/Portable/PdbSourceDocument/ISourceLinkService.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbFileLocatorService.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbSourceDocumentLoaderService.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbSourceDocumentMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/PdbSourceDocument/TelemetryMessage.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/PdbSourceDocument/PdbSourceDocumentOutputWindowLogger.cs
  src/VisualStudio/Core/Def/PdbSourceDocument/SourceLinkService.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#58596 Remove FileTextLoaderOptions
  src/Workspaces/Core/Portable/Workspace/FileTextLoader.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Area-IDE

#58624 Snapping for 17.1 P3
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure

#58399 Call InitializeTelemetrySession on background thread
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE

#57600 Add truly synchronous indentation service interface for F#
  src/Tools/ExternalAccess/FSharp/Editor/IFSharpIndentationService.cs
  src/Tools/ExternalAccess/FSharp/Internal/Editor/FSharpSynchronousIndentationService.cs
  src/Tools/ExternalAccess/FSharp/Microsoft.CodeAnalysis.ExternalAccess.FSharp.csproj
Labels: Area-IDE

#58638 Fix flaky compiler server test
  src/Compilers/Server/VBCSCompiler/BuildServerController.cs
  src/Compilers/Server/VBCSCompilerTests/VBCSCompilerServerTests.cs
Labels: Area-Compilers

#58631 Merge 17.2 branch back to main
  src/EditorFeatures/CSharp/ExtractMethod/ExtractMethodCommandHandler.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodBase.cs
  src/EditorFeatures/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/EditorFeatures/Core/FindUsages/AbstractFindUsagesService_FindReferences.cs
  src/EditorFeatures/Core/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/EditorFeatures/Core/Implementation/Classification/SemanticClassificationUtilities.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/AbstractExtractMethodCommandHandler.cs
  src/EditorFeatures/Core/Implementation/ExtractMethod/ExtractMethodPresentationOptions.cs
  src/EditorFeatures/Core/Implementation/IntelliSense/QuickInfo/IntellisenseQuickInfoBuilder.cs
  src/EditorFeatures/Core/Implementation/LanguageServer/Handlers/References/FindUsagesLSPContext.cs
  src/EditorFeatures/Core/InlineHints/InlineHintsDataTaggerProvider.cs
  src/EditorFeatures/Test2/InlineHints/AbstractInlineHintsTests.vb
  src/EditorFeatures/VisualBasic/ExtractMethod/ExtractMethodCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.LanguageInteraction.vb
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.vb
  src/Features/CSharp/Portable/ExtractMethod/CSharpExtractMethodService.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.StatementResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionValidator.cs
  src/Features/Core/Portable/ClassifiedSpansAndHighlightSpanFactory.cs
  src/Features/Core/Portable/CodeRefactorings/ExtractMethod/AbstractExtractMethodCodeRefactoringProvider.cs
  src/Features/Core/Portable/ExtractMethod/AbstractExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodOptions.cs
  src/Features/Core/Portable/ExtractMethod/ExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/IExtractMethodService.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/ExtractMethod/SelectionResult.cs
  src/Features/Core/Portable/ExtractMethod/SelectionValidator.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/IInlineHintsService.cs
  src/Features/Core/Portable/InlineHints/IInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/IInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/InlineHintsOptions.cs
  src/Features/Core/Portable/InlineHints/InlineParameterHintsOptions.cs
  src/Features/Core/Portable/InlineHints/InlineTypeHintsOptions.cs
  src/Features/Core/Portable/ValueTracking/ValueTrackedItem.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicExtractMethodService.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionValidator.vb
  src/Tools/ExternalAccess/FSharp/Internal/InlineHints/FSharpInlineHintsService.cs
  src/Tools/ExternalAccess/OmniSharp/InlineHints/OmniSharpInlineHintsService.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject/AutomationObject.ExtractMethod.cs
  src/VisualStudio/Core/Def/Implementation/FindReferences/Contexts/AbstractTableDataSourceFindUsagesContext.cs
  src/VisualStudio/Core/Def/Implementation/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/VisualStudio/Core/Def/ValueTracking/ValueTrackingCommandHandler.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AutomationObject/AutomationObject.ExtractMethod.vb
  src/Workspaces/Core/Portable/Classification/AbstractClassificationService.cs
  src/Workspaces/Core/Portable/Classification/ClassifierHelper.cs
  src/Workspaces/Core/Portable/Classification/IRemoteSemanticClassificationService.cs
  src/Workspaces/Core/Portable/Workspace/FileTextLoader.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.Caching.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.cs
Labels: Area-Infrastructure, auto-merge

#58639 Move off deprecated Mac queue
  azure-pipelines.yml
Labels: Area-Infrastructure

#58649 Fix null reference in SyntaxInputNode
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/SyntaxAwareGeneratorTests.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxInputNode.cs
Labels: Area-Compilers, New Feature - Source Generators

#58367 Simplify fault reporting
  src/VisualStudio/CSharp/Test/Watson/WatsonTests.cs
  src/VisualStudio/Core/Def/Implementation/Watson/FaultReporter.cs
  src/VisualStudio/Core/Def/Implementation/Watson/WatsonExtensions.cs
  src/VisualStudio/IntegrationTest/TestSetup/IntegrationTestServiceCommands.cs
  src/VisualStudio/IntegrationTest/TestSetup/Microsoft.VisualStudio.IntegrationTest.Setup.csproj
  src/VisualStudio/IntegrationTest/TestSetup/TestTraceListener.cs
Labels: Area-IDE, Approved to merge

#58620 [LSP] Fix semantic tokens overlap bug
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/Workspaces/Core/Portable/Classification/ClassifierHelper.cs
Labels: Area-IDE, Approved to merge

#58524 Simplify new integration tests using a source generator
  eng/Versions.props
  src/VisualStudio/IntegrationTest/New.IntegrationTests/AbstractIntegrationTest.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorVerifierInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ErrorListInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/InProcComponent.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/InputInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ShellInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/SolutionExplorerInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/SolutionVerifierInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/StateResetInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/TestServices.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/WorkspaceInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/Microsoft.VisualStudio.LanguageServices.New.IntegrationTests.csproj
Labels: Area-Infrastructure

#58659 Remove workarounds for https://github.com/dotnet/roslyn/issues/29660
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/CodeGenExprLambda.vb
  src/Compilers/VisualBasic/Test/Semantic/Microsoft.CodeAnalysis.VisualBasic.Semantic.UnitTests.vbproj
Labels: Area-Compilers

#58621 Upgrade Microsoft.VisualStudio.Telemetry to 16.4.22
  eng/Versions.props
  src/Compilers/VisualBasic/Test/Semantic/HasValidFonts.vb
  src/Workspaces/MSBuildTest/Microsoft.CodeAnalysis.Workspaces.MSBuild.UnitTests.csproj
Labels: Area-Infrastructure, Approved to merge

#58667 Reduce the number of duplicate ProjectId instances found in OOP
  src/Workspaces/Remote/Core/Serialization/MessagePackFormatters.cs
Labels: Area-IDE

#58661 Set the default value of Combine With Indicator Margin to false
  src/EditorFeatures/Core/Shared/Options/FeatureOnOffOptions.cs
Labels: Area-IDE, Approved to merge

#58674 Call InitializeTelemetrySession on background thread (#58399)
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE, Approved to merge

#58587 Fix MemoryExtensions.TrimStart
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/MemoryExtensions.cs
Labels: Area-Compilers

#58694 Insert casts to ensure that runtime types (And values) are not impacted when converting switch to expression
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.Rewriter.cs
  src/Analyzers/CSharp/CodeFixes/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
Labels: Area-IDE

#58644 Fix a few param-nullchecking parsing bugs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
Labels: Area-Compilers, Feature - Param Null Checking

#55737 Inline Hints: Added double click on hint to insert text
  src/EditorFeatures/Core.Wpf/InlineHints/InlineHintsTag.cs
  src/EditorFeatures/Test2/InlineHints/AbstractInlineHintsTests.vb
  src/EditorFeatures/Test2/InlineHints/CSharpInlineParameterNameHintsTests.vb
  src/EditorFeatures/Test2/InlineHints/CSharpInlineTypeHintsTests.vb
  src/EditorFeatures/Test2/InlineHints/VisualBasicInlineParameterNameHintsTests.vb
  src/Features/CSharp/Portable/InlineHints/CSharpInlineParameterNameHintsService.cs
  src/Features/CSharp/Portable/InlineHints/CSharpInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/InlineHint.cs
  src/Features/Core/Portable/InlineHints/TypeHint.cs
  src/Features/VisualBasic/Portable/InlineHints/VisualBasicInlineParameterNameHintsService.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE, New Feature - Inline Parameter Hints

#58366 Implement GetTypesByMetadataName
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Symbol/CompilationAPITests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/CompilationExtensions.cs
Labels: Area-Compilers

#58712 Don't run CI for docs-only changes
  azure-pipelines-integration-corehost.yml
  azure-pipelines-integration.yml
  azure-pipelines.yml
Labels: Area-Infrastructure, Community

#58656 Move suggestion mode configuration to state reset service
  src/VisualStudio/IntegrationTest/New.IntegrationTests/AbstractEditorTest.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/AbstractIntegrationTest.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/StateResetInProcess.cs
Labels: Area-Infrastructure

#58701 Deduplicate references in CommandLineProject.CreateProjectInfo
  Roslyn.sln
  src/Workspaces/Core/Portable/Workspace/CommandLineProject.cs
  src/Workspaces/CoreTest/CommandLineProject/CommandLineProjectTests.cs
  src/Workspaces/CoreTest/CommandLineProject/CommandLineProjectWorkspaceTests.cs
  src/Workspaces/CoreTest/Editing/SyntaxEditorTests.cs
  src/Workspaces/DesktopTest/Microsoft.CodeAnalysis.Workspaces.Desktop.UnitTests.csproj
Labels: Area-IDE

#58723 Don't run CI for docs-only changes
  azure-pipelines-integration-corehost.yml
  azure-pipelines-integration.yml
  azure-pipelines.yml
Labels: Area-Infrastructure, Community

#58724 Remove implicit conversion from string to `ReadOnlySpan<T>` from test source for `ReadOnlySpan<T>`.
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/ForeachTest.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, Test-Scenario

#58728 Minor simplification in EnC
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
Labels: Area-Interactive

#58743 Offer to generate parameterless constructor for structs to fix CS8983
  src/EditorFeatures/CSharpTest/GenerateDefaultConstructors/GenerateDefaultConstructorsTests.cs
  src/Features/CSharp/Portable/GenerateDefaultConstructors/CSharpGenerateDefaultConstructorsCodeFixProvider.cs
  src/Features/CSharp/Portable/GenerateDefaultConstructors/CSharpGenerateDefaultConstructorsService.cs
  src/Features/Core/Portable/GenerateDefaultConstructors/AbstractGenerateDefaultConstructorsService.State.cs
Labels: Area-IDE

#58704 Don't crash when default namespace isn't a valid name
  src/Analyzers/CSharp/Tests/MatchFolderAndNamespace/CSharpMatchFolderAndNamespaceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/PathMetadataUtilities.cs
Labels: Area-IDE

#45105 Cleanup old workaround for arcadesdk
  eng/Versions.props
Labels: Area-IDE, Community

#58748 Remove IntelliCodeCompletionOptions
  src/Features/Core/Portable/ExternalAccess/IntelliCode/Api/IntelliCodeCompletionOptions.cs
  src/Features/Core/Portable/ExternalAccess/Pythia/Api/PythiaCompletionProviderBase.cs
Labels: Area-IDE

#57295 Synthesize delegate types for lambdas with parameter types or return type that are not valid type arguments
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolMatcher.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/EmitHelpers.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/PEDeltaAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/AnonymousTypeManager.Templates.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.DelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeOrDelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedDelegateSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/SymbolMatcherTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/Core/Portable/Emit/AnonymousTypeKey.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DeltaMetadataWriter.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EmitBaseline.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/IPEDeltaAssemblyBuilder.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolMatcher.cs
  src/Compilers/VisualBasic/Portable/Emit/EditAndContinue/PEDeltaAssemblyBuilder.vb
Labels: Area-Compilers, New Feature - Lambda Improvements

#58657 SpillSequenceSpiller.Spill - ensure sequences under ref assignments are spilled.
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
Labels: Area-Compilers

#58754 Move CSharp/Test/Emit/Attributes to Emit2
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOverridingAndHiding.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Assembly.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_CallerInfoAttributes.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Conditional.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Dynamic.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Embedded.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Experimental.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_IsByRefLike.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_IsUnmanaged.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Locations.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_MarshalAs.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_NativeInteger.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Nullable.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_NullableContext.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_NullablePublicOnly.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_ReadOnlyStruct.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_RefReadOnly.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Security.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_StructLayout.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Synthesized.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Tuples.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/EmitTestStrongNameProvider.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/InternalsVisibleToAndStrongNameTests.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/WellKnownAttributesTestBase.cs
  src/Compilers/CSharp/Test/Emit2/Emit/UnmanagedTypeModifierTests.cs
Labels: Area-Compilers, Test

#58431 Required modifier parsing
  src/Compilers/CSharp/Portable/Declarations/DeclarationModifiers.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/MemberDeclarationParsingTests.cs
  src/Compilers/Test/Core/Traits/CompilerFeature.cs
Labels: Area-Compilers, New Feature - Required Members

#58758 Update language feature status
  docs/Language Feature Status.md
Labels: Area-Compilers

#58450 Update proximity expression tests to cover top level statements
  src/EditorFeatures/CSharpTest/Debugging/ProximityExpressionsGetterTests.cs
  src/Features/CSharp/Portable/Debugging/CSharpProximityExpressionsService.Worker.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/StatementSyntaxExtensions.cs
Labels: Area-IDE

#58772 Remove unused resource string
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
Labels: Area-Compilers, Community

#53318 Fix code generation to add default constraint when needed
  src/EditorFeatures/CSharpTest/GenerateOverrides/GenerateOverridesTests.cs
  src/EditorFeatures/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/EditorFeatures/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/MethodGenerator.cs
Labels: Area-IDE, Community

#58760 Update CSharpUseTupleSwapCodeFixProvider for top-level statements
  src/Analyzers/CSharp/CodeFixes/UseTupleSwap/CSharpUseTupleSwapCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseTupleSwap/UseTupleSwapTests.cs
Labels: Area-IDE

#58761 Additional #line span directive tests
  src/Compilers/CSharp/Portable/Syntax/SyntaxNormalizer.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/LineSpanDirectiveTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
Labels: Area-Compilers

#58690 Better parse when lambda expressions contain default parameter values.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-Compilers

#56845 Use ReadOnlySpan properties over array fields
  src/Compilers/CSharp/Portable/Parser/QuickScanner.cs
  src/Compilers/Core/Portable/PEWriter/InstructionOperandTypes.cs
  src/Compilers/Core/Portable/Xml/XmlCharType.cs
  src/Compilers/Test/Core/Assert/AssertEx.cs
Labels: Area-Compilers, Community

#58784 Revert "Implement GetTypesByMetadataName"
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Symbol/CompilationAPITests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/CompilationExtensions.cs
Labels: Area-Compilers

#58182 Parameter null-checking analyzer and fixer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/UseParameterNullChecking/CSharpUseParameterNullCheckingDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseParameterNullChecking/CSharpUseParameterNullCheckingCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseParameterNullChecking/UseParameterNullCheckingTests.cs
  src/Analyzers/Core/Analyzers/EnforceOnBuildValues.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProvider.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject/AutomationObject.Style.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
Labels: Area-Analyzers, Feature - Param Null Checking

#52923 Make IOperation.ChildOperations public
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/SuppressMessageAttributeState.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/ForAssignment/AbstractUseConditionalExpressionForAssignmentCodeFixProvider.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IVariableDeclaration.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/IOperation.OperationList.Reversed.cs
  src/Compilers/Core/Portable/Operations/IOperation.OperationList.cs
  src/Compilers/Core/Portable/Operations/IOperation.cs
  src/Compilers/Core/Portable/Operations/Operation.Enumerable.cs
  src/Compilers/Core/Portable/Operations/Operation.cs
  src/Compilers/Core/Portable/Operations/OperationExtensions.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Core/CommonTestBase.cs
  src/Compilers/Test/Core/Compilation/OperationTreeVerifier.cs
  src/Compilers/Test/Core/Compilation/TestOperationVisitor.cs
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IConversionExpression.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/BinaryOperators.vb
  src/Features/Core/Portable/ValueTracking/ValueTracker.OperationCollector.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/IOperationClassWriter.cs
Labels: Area-Compilers

#58591 Handle globalconfig files correctly in configuration code actions
  src/EditorFeatures/CSharpTest/Diagnostics/Configuration/ConfigureSeverity/DotNetDiagnosticSeverityBasedSeverityConfigurationTests.cs
  src/EditorFeatures/VisualBasicTest/Diagnostics/Configuration/ConfigureSeverity/DotNetDiagnosticSeverityBasedSeverityConfigurationTests.vb
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigurationUpdater.cs
Labels: Area-IDE

#58460 Handle /warnaserror with Warning analyzer bulk configuration in edito…
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerOptionsExtensions.cs
Labels: Area-Analyzers, Area-Compilers

#58797 Fix failure to hook up TODO processing in-process
  src/VisualStudio/Core/Def/Implementation/TodoComments/VisualStudioTodoCommentsService.cs
Labels: Area-IDE

#58700 Null annotate ParameterSymbol and derived
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ThisParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
Labels: Area-Compilers

#58786 Remove RecoverableTreeLengthThreshold option
  src/Features/Core/Portable/Workspace/ProjectCacheService.cs
  src/Workspaces/Core/Portable/Workspace/Host/Caching/CacheOptions.cs
  src/Workspaces/Core/Portable/Workspace/Host/Caching/IProjectCacheService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.cs
  src/Workspaces/CoreTest/Host/WorkspaceServices/TestProjectCacheService.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTestHelpers.cs
  src/Workspaces/CoreTest/SyntaxReferenceTests.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
  src/Workspaces/Remote/ServiceHub/Host/TemporaryWorkspace.cs
Labels: Area-IDE

#58801 Change the package feeds and remove the main-vs-deps
  eng/config/PublishData.json
Labels: Area-Infrastructure

#58579 Rename and share CompilerAnalyzerConfigOptions
  src/CodeStyle/Core/Analyzers/AnalyzerConfigOptions.cs
  src/CodeStyle/Core/Analyzers/Formatting/FormatterHelper.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Semantic/Diagnostics/GetDiagnosticsTests.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/CommandLine/AnalyzerConfigSet.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerConfigOptions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerAnalyzerConfigOptionsProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DictionaryAnalyzerConfigOptions.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/SettingsProviderBase.cs
  src/Workspaces/Core/Portable/Workspace/Solution/CachingAnalyzerConfigSet.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/AnalyzerConfigOptionsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/EditorConfig/EditorConfigStorageLocationExtensions.cs
Labels: Area-Analyzers

#58059 Fix metadata references declaration
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
Labels: Area-Compilers, New Feature - Source Generators

#58675 Remove contract check to avoid crash
  src/VisualStudio/Core/Def/Implementation/Options/LanguageSettingsPersister.cs
Labels: Area-IDE, Needs Shiproom Approval

#58791 Add test showing case no longer repros
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
Labels: Area-IDE

#58769 Handle more stack frames
  src/EditorFeatures/Core/StackTraceExplorer/AbstractStackTraceSymbolResolver.cs
  src/EditorFeatures/Core/StackTraceExplorer/StackFrameLocalMethodResolver.cs
  src/EditorFeatures/Core/StackTraceExplorer/StackFrameMethodSymbolResolver.cs
  src/EditorFeatures/Core/StackTraceExplorer/StackTraceExplorerUtilities.cs
  src/EditorFeatures/Test/EmbeddedLanguages/StackFrame/StackFrameParserTests.Utilities.cs
  src/EditorFeatures/Test/EmbeddedLanguages/StackFrame/StackFrameParserTests.cs
  src/EditorFeatures/Test/EmbeddedLanguages/StackFrame/StackFrameSyntaxFactory.cs
  src/EditorFeatures/Test/StackTraceExplorer/StackTraceExplorerTests.cs
  src/Features/Core/Portable/EmbeddedLanguages/StackFrame/IStackFrameNodeVisitor.cs
  src/Features/Core/Portable/EmbeddedLanguages/StackFrame/StackFrameKind.cs
  src/Features/Core/Portable/EmbeddedLanguages/StackFrame/StackFrameLexer.cs
  src/Features/Core/Portable/EmbeddedLanguages/StackFrame/StackFrameNodeDefinitions.cs
  src/Features/Core/Portable/EmbeddedLanguages/StackFrame/StackFrameParser.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/EmbeddedLanguages/Common/EmbeddedSyntaxToken.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SemanticFacts/VisualBasicSemanticFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
Labels: Area-IDE

#58288 Cache the delegate for static method group conversions.
  src/Compilers/CSharp/Portable/Compiler/TypeCompilationState.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/DelegateCacheContainer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/DelegateCacheRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNameKind.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenConditionalOperatorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLockTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenNullCoalescingAssignmentTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueDelegateCacheTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTestBase.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenMethodGroupConversionCachingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/Compilers/CSharp/Test/WinRT/CodeGen/WinMdEventTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/Scripting/CSharpTest/ScriptTests.cs
Labels: Area-Compilers, Community

#58802 Handle synthesized delegates without refKinds
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNames.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/GeneratedNamesTests.cs
Labels: Area-Compilers

#58805 Trigger global operation notification during solution close
  src/VisualStudio/Core/Def/SolutionEventMonitor.cs
Labels: Area-Analyzers

#58808 Avoid setting MICROSOFT_DIASYMREADER_NATIVE_ env variables in tests
  src/Compilers/Test/Core/ModuleInitializer.cs
Labels: Area-Compilers

#58829 Fix nrt annotations and impl in syntaxfacts
  src/EditorFeatures/Core/GoToDefinition/AbstractGoToDefinitionService.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/SnippetCompletionProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
Labels: Area-IDE

#58842 Update the insertion instruction after we remove main-vs-deps
  eng/config/PublishData.json
Labels: Area-Infrastructure

#58813 Readd GetTypesByMetadataName
  src/Compilers/CSharp/Test/Symbol/Compilation/CompilationAPITests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Symbol/CompilationAPITests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/CompilationExtensions.cs
Labels: Area-Compilers

#58850 Fix statement completion interaction with argument completion
  src/VisualStudio/CSharp/Impl/Snippets/SnippetCommandHandler.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpArgumentProvider.cs
Labels: Area-IDE

#58785 Perform progression search in two phases.
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphProvider.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueries/SearchGraphQuery.cs
  src/VisualStudio/Core/Def/Implementation/Progression/GraphQueryManager.cs
  src/VisualStudio/Core/Test/Progression/SearchGraphQueryTests_NavigateTo.vb
Labels: Area-IDE

#58456 Add GlassTestsHotReloadService external access
  eng/Versions.props
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Tools/ExternalAccess/Debugger/GlassTestsHotReloadService.cs
  src/Tools/ExternalAccess/Debugger/Microsoft.CodeAnalysis.ExternalAccess.Debugger.csproj
Labels: Area-Infrastructure

#58830 Do not return empty nodes in the refactoring helpers service.
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/CSharpTest/RefactoringHelpers/RefactoringHelpersTests.cs
  src/EditorFeatures/TestUtilities/RefactoringHelpers/RefactoringHelpersTestBase.cs
  src/Features/Core/Portable/CodeRefactoringHelpers.cs
  src/Features/Core/Portable/CodeRefactorings/AbstractRefactoringHelpersService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringContextExtensions.cs
  src/Features/Core/Portable/CodeRefactorings/IRefactoringHelpersService.cs
  src/Features/Core/Portable/UseNamedArguments/AbstractUseNamedArgumentsCodeRefactoringProvider.cs
Labels: Area-IDE

#58852 Update VisualStudioCacheVersion
  eng/Versions.props
Labels: Area-Infrastructure

#58720 Avoid cyclic references during incremental project update
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.SolutionCreator.cs
Labels: Area-IDE

#58851 Add "Utf8 String Literals" to the feature list
  docs/Language Feature Status.md
Labels: Area-Compilers

#58810 Remove formatting suppression for tuple syntax
  dotnet-tools.json
  eng/Versions.props
  eng/test-build-correctness.ps1
  src/Compilers/CSharp/Portable/Binder/EarlyWellKnownAttributeBinder.cs
Labels: Area-Compilers

#58821 Avoid unnecessary array creation
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.vb
Labels: Area-Compilers

#58865 Allow patch releases of the SDK to be used
  global.json
Labels: Area-Infrastructure

#53068 Expand support for context variables
  src/EditorFeatures/CSharpTest/Completion/ArgumentProviders/ContextVariableArgumentProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/ArgumentProviders/ContextVariableArgumentProviderTests.vb
  src/Features/CSharp/Portable/Completion/Providers/ContextVariableArgumentProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractContextVariableArgumentProvider.cs
  src/Features/VisualBasic/Portable/Completion/Providers/ContextVariableArgumentProvider.vb
Labels: Area-IDE

#58204 Fix Integration test MetadataReference
  src/VisualStudio/IntegrationTest/IntegrationTests/Workspace/WorkspacesNetCore.cs
Labels: Area-IDE

#58864 Steps to investigate CI flakiness with async-streams tests
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/Test/Core/Compilation/IRuntimeEnvironment.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers, Test, New Feature - Async Streams

#58869 Add Stack Trace Explorer to our searchable options
  src/VisualStudio/CSharp/Impl/Options/Readme.md
  src/VisualStudio/CSharp/Impl/VSPackage.resx
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hant.xlf
Labels: Area-IDE

#58892 Cherry-Pick 58869
  src/VisualStudio/CSharp/Impl/Options/Readme.md
  src/VisualStudio/CSharp/Impl/VSPackage.resx
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hant.xlf
Labels: Area-IDE

#58901 Fix case where we were not removing a removable cast.
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
Labels: Area-IDE

#58903 Fix 'remove unnecessary paren' case where we weren't removing around a suppressed expression
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryParentheses/RemoveUnnecessaryExpressionParenthesesTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
Labels: Area-IDE

#58896 Introduce helper extensions to make it easier to check LangVersions.
  src/Analyzers/CSharp/Analyzers/ConvertNamespace/ConvertNamespaceAnalysis.cs
  src/Analyzers/CSharp/Analyzers/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
  src/Analyzers/CSharp/Analyzers/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/InvokeDelegateWithConditionalAccess/InvokeDelegateWithConditionalAccessAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/MakeLocalFunctionStatic/MakeLocalFunctionStaticDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryDiscardDesignation/CSharpRemoveUnnecessaryDiscardDesignationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnusedParametersAndValues/CSharpRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/SimplifyPropertyPattern/CSharpSimplifyPropertyPatternDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseAutoProperty/CSharpUseAutoPropertyAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCollectionInitializer/CSharpUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCompoundAssignment/CSharpUseCompoundAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/Helpers/UseExpressionBodyHelper`1.cs
  src/Analyzers/CSharp/Analyzers/UseImplicitObjectCreation/CSharpUseImplicitObjectCreationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIsNullCheck/CSharpUseIsNullCheckForCastAndEqualityOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIsNullCheck/CSharpUseIsNullCheckForReferenceEqualsDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIsNullCheck/CSharpUseNullCheckOverTypeCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseNullPropagation/CSharpUseNullPropagationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseObjectInitializer/CSharpUseObjectInitializerDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternCombinators/CSharpUsePatternCombinatorsDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpIsAndCastCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpUseNotPatternDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseThrowExpression/CSharpUseThrowExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseTupleSwap/CSharpUseTupleSwapDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/RemoveUnusedParametersAndValues/CSharpRemoveUnusedValuesCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseIsNullCheck/CSharpUseIsNullCheckForReferenceEqualsCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UsePatternMatching/CSharpAsAndNullCheckCodeFixProvider.cs
  src/Features/CSharp/Portable/AddDebuggerDisplay/CSharpAddDebuggerDisplayCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseRecursivePatterns/UseRecursivePatternsCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/NamedParameterCompletionProvider.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertToInterpolatedString/CSharpConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/MakeLocalFunctionStaticCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/MakeLocalFunctionStatic/PassInCapturedVariablesAsArgumentsCodeFixProvider.cs
  src/Features/CSharp/Portable/ReplaceMethodWithProperty/CSharpReplaceMethodWithPropertyService.cs
  src/Features/CSharp/Portable/ReplacePropertyWithMethods/CSharpReplacePropertyWithMethodsService.cs
  src/Features/CSharp/Portable/UseAutoProperty/CSharpUseAutoPropertyCodeFixProvider.cs
  src/Features/CSharp/Portable/UseExpressionBodyForLambda/UseExpressionBodyForLambdaCodeStyleProvider.cs
  src/Features/CSharp/Portable/UseLocalFunction/CSharpUseLocalFunctionCodeFixProvider.cs
  src/Features/CSharp/Portable/UseNamedArguments/CSharpUseNamedArgumentsCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/CompilationExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParseOptionsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSemanticFactsService.cs
Labels: Area-IDE

#58875 Restore feature to tell people when a lambda is unnecessary.
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/EnforceOnBuildValues.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharpTest/CodeActions/LambdaSimplifier/LambdaSimplifierTests.cs
  src/EditorFeatures/CSharpTest/RemoveUnnecessaryLambdaExpression/RemoveUnnecessaryLambdaExpressionTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/LambdaSimplifier/LambdaSimplifierCodeRefactoringProvider.Rewriter.cs
  src/Features/CSharp/Portable/CodeRefactorings/LambdaSimplifier/LambdaSimplifierCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicStructuralTypeDisplayService.vb
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProvider.cs
  src/VisualStudio/CSharp/Impl/Options/AutomationObject/AutomationObject.Style.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SemanticFacts/VisualBasicSemanticFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/ISemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicSemanticFactsService.vb
Labels: Area-IDE, Feature Request

#58908 Show a specialized display for anonymous delegates in C#
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/VisualBasicTest/QuickInfo/SemanticQuickInfoSourceTests.vb
  src/Features/CSharp/Portable/LanguageServices/CSharpStructuralTypeDisplayService.cs
  src/Features/CSharp/Portable/LanguageServices/CSharpSymbolDisplayService.SymbolDescriptionBuilder.cs
  src/Features/Core/Portable/LanguageServices/AnonymousTypeDisplayService/AbstractStructuralTypeDisplayService.StructuralTypeCollectorVisitor.cs
  src/Features/Core/Portable/LanguageServices/AnonymousTypeDisplayService/AbstractStructuralTypeDisplayService.cs
  src/Features/Core/Portable/LanguageServices/AnonymousTypeDisplayService/IStructuralTypeDisplayServiceExtensions.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AnonymousTypes.cs
  src/Features/Core/Portable/SignatureHelp/AbstractSignatureHelpProvider.cs
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicStructuralTypeDisplayService.vb
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicSymbolDisplayService.SymbolDescriptionBuilder.vb
  src/Workspaces/Core/Portable/Shared/Extensions/ITypeSymbolExtensions.AnonymousTypeRemover.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
Labels: Area-IDE

#58912 Fix ParameterSyntax.Update to account for '!!'
  src/Compilers/CSharp/Portable/Syntax/ParameterSyntax.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNodeTests.cs
Labels: Area-Compilers, Community

#58919 Update Language Feature Status.md
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#58872 Clone source from mirror for DartLab integration tests
  azure-pipelines-integration-dartlab.yml
Labels: Area-Infrastructure

#58776 Mark APIs as shipped
  src/Compilers/CSharp/Portable/PublicAPI.Shipped.txt
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Shipped.txt
  src/Compilers/VisualBasic/Portable/PublicAPI.Unshipped.txt
  src/EditorFeatures/Core.Cocoa/PublicAPI.Shipped.txt
  src/EditorFeatures/Core.Cocoa/PublicAPI.Unshipped.txt
  src/EditorFeatures/Core.Wpf/PublicAPI.Shipped.txt
  src/EditorFeatures/Core.Wpf/PublicAPI.Unshipped.txt
  src/EditorFeatures/Core/PublicAPI.Shipped.txt
  src/EditorFeatures/Core/PublicAPI.Unshipped.txt
  src/Features/Core/Portable/PublicAPI.Shipped.txt
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
  src/VisualStudio/Core/Def/PublicAPI.Shipped.txt
  src/VisualStudio/Core/Def/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Shipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Infrastructure

#58822 Fix emit of param-nullchecking on async methods
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullChecking.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenNullCheckedParameterTests.cs
Labels: Area-Compilers

#58918 Fix 'add accessibility' false positive with abstract statics in interfaces
  src/Analyzers/CSharp/Tests/AddAccessibilityModifiers/AddAccessibilityModifiersTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpAccessibilityFacts.cs
Labels: Area-IDE

#58889 Syntax tree configuration
  src/Features/Core/Portable/Workspace/ProjectCacheService.cs
  src/VisualStudio/Core/Def/Telemetry/SyntaxTreeConfigurationOptions.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioSyntaxTreeConfigurationService.cs
  src/Workspaces/CSharp/Portable/Workspace/LanguageServices/CSharpSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Telemetry/IRemoteProcessTelemetryService.cs
  src/Workspaces/Core/Portable/Workspace/Host/Caching/IProjectCacheService.cs
  src/Workspaces/Core/Portable/Workspace/Host/SyntaxTreeFactory/AbstractSyntaxTreeFactoryService.cs
  src/Workspaces/Core/Portable/Workspace/ISyntaxTreeConfigurationService.cs
  src/Workspaces/Remote/Core/ServiceHubRemoteHostClient.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteProcessTelemetryService.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteSyntaxTreeConfigurationService.cs
  src/Workspaces/VisualBasic/Portable/Workspace/LanguageServices/VisualBasicSyntaxTreeFactoryService.vb
Labels: Area-IDE

#58930 Revert 58892
  src/VisualStudio/CSharp/Impl/Options/Readme.md
  src/VisualStudio/CSharp/Impl/VSPackage.resx
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/VSPackage.zh-Hant.xlf
Labels: Area-IDE

#58933 Handle null coalescing assign-to-self scenarios
  src/Analyzers/CSharp/Analyzers/UseParameterNullChecking/CSharpUseParameterNullCheckingDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UseParameterNullChecking/CSharpUseParameterNullCheckingCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseParameterNullChecking/UseParameterNullCheckingTests.cs
Labels: Area-IDE

#58938 Allow 'ref' and 'in' parameters to be null-checked
  src/Analyzers/CSharp/Analyzers/UseParameterNullChecking/CSharpUseParameterNullCheckingDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseParameterNullChecking/UseParameterNullCheckingTests.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenNullCheckedParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCheckedParameterTests.cs
Labels: Area-Compilers

#58098 Update API suggestion template
  .github/ISSUE_TEMPLATE/api-suggestion.md
Labels: Area-Infrastructure, Community

#58946 Fix public API parameter (`warningLevel`) documentation
  src/Compilers/Core/Portable/Diagnostic/Diagnostic.cs
Labels: Area-Analyzers, Community

#58820 Fix race in WorkCoordinator when handling document reanalysis
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.cs
Labels: Area-IDE, Approved to merge

#58856 Revert "Merge pull request #57132 from CyrusNajmabadi/branchId3"
  src/Features/Core/Portable/Workspace/CompileTimeSolutionProvider.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ProjectExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/BranchId.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/Remote/Core/SolutionAssetStorage.cs
  src/Workspaces/Remote/Core/SolutionChecksumUpdater.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: Area-IDE, Approved to merge

#58828 Remove unnecessary lock access setting UIContexts in the workspace
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Def/Implementation/ProjectSystem/VisualStudioWorkspaceImpl.cs
Labels: Area-IDE, Approved to merge

#58175 Reduce the memory usage of InheritanceMarginTarget
  src/EditorFeatures/Core/InheritanceMargin/InheritanceMarginServiceHelpers.cs
  src/EditorFeatures/Test/InheritanceMargin/InheritanceMarginTests.cs
Labels: Area-IDE

#58953 Add test for nullable value type
  src/Analyzers/CSharp/Tests/UseParameterNullChecking/UseParameterNullCheckingTests.cs
Labels: Area-IDE

#58854 Add additional nested ambiguity note to GetTypeByMetadataName
  src/Compilers/Core/Portable/Compilation/Compilation.cs
Labels: Area-Compilers

#58915 [EE] Handle ArrayExpansion for 1D array with non-zero lower bounds
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/ArrayExpansion.cs
Labels: Area-Interactive, Community

#57457 List patterns: Slice value is assumed to be never null
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTestBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PatternMatchingTests_ListPatterns.cs
  src/Compilers/Test/Core/Assert/AssertEx.cs
Labels: Area-Compilers, Community, New Feature - List Patterns

#58747 Move reading HideAdvancedMembers option up
  src/EditorFeatures/CSharpTest/AddUsing/AddUsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/CSharpTest/FullyQualify/FullyQualifyTests.cs
  src/EditorFeatures/Core.Wpf/Suggestions/AsyncSuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Implementation/AddImports/AbstractAddImportsPasteCommandHandler.cs
  src/EditorFeatures/Core/Implementation/CodeActions/CodeActionOptionsFactory.cs
  src/EditorFeatures/Core/Implementation/LanguageServer/Handlers/CodeActions/CodeActionHelpers.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractSuppressionDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractUnncessarySuppressionDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractUserDiagnosticTest.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test/CodeRefactorings/CodeRefactoringServiceTest.cs
  src/EditorFeatures/Test2/CodeFixes/CodeFixServiceTests.vb
  src/EditorFeatures/VisualBasicTest/Formatting/CodeCleanUpTests.vb
  src/Features/Core/Portable/AddImport/AbstractAddImportCodeFixProvider.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/AddImport/IAddImportFeatureService.cs
  src/Features/Core/Portable/AddImport/Remote/IRemoteMissingImportDiscoveryService.cs
  src/Features/Core/Portable/AddImport/SymbolReferenceFinder.cs
  src/Features/Core/Portable/AddImport/SymbolReferenceFinder_PackageAssemblySearch.cs
  src/Features/Core/Portable/CodeCleanup/AbstractCodeCleanupService.cs
  src/Features/Core/Portable/CodeCleanup/ICodeCleanupService.cs
  src/Features/Core/Portable/CodeFixes/CodeFixService.cs
  src/Features/Core/Portable/CodeFixes/ICodeFixService.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsFeatureService.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/IAddMissingImportsFeatureService.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/CodeRefactorings/ICodeRefactoringService.cs
  src/Features/Core/Portable/FullyQualify/AbstractFullyQualifyCodeFixProvider.cs
  src/Features/Core/Portable/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/VisualStudio/Core/Def/Implementation/CodeCleanup/AbstractCodeCleanUpFixer.cs
  src/Workspaces/Core/Portable/CodeActions/CodeActionOptions.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixContext.cs
  src/Workspaces/Core/Portable/CodeRefactorings/CodeRefactoringContext.cs
  src/Workspaces/Remote/ServiceHub/Services/MissingImportDiscovery/RemoteMissingImportDiscoveryService.cs
Labels: Area-IDE

#58936 Add formatting analyzer test for param nullchecking
  src/CodeStyle/CSharp/Tests/FormattingAnalyzerTests.cs
Labels: Area-Analyzers, Test

#58957 ensure globalconfig files are lowercase
  src/CodeStyle/Tools/Program.cs
Labels: Area-Analyzers, Area-Infrastructure, IDE-CodeStyle

#58037 Port CSharpCodeActions and CSharpFindReferences to the new test harness
  eng/build.ps1
  src/VisualStudio/Core/Def/Implementation/TableDataSource/VisualStudioBaseDiagnosticListTable.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpCodeActions.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpCodeActions.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpFindReferences.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CriticalIdeTheoryAttribute.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorVerifierInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ErrorListExtensions.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ErrorListInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/FindReferencesWindowInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/LightBulbHelper.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ShellInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/SolutionExplorerInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/SolutionVerifierInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/StateResetInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/TelemetryInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/WorkspaceInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicAddMissingReference.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicNavigationBar.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/Logger.cs
Labels: Area-IDE

#58969 Add Analyzers layer to CODEOWNERS
  .github/CODEOWNERS
Labels: Area-Infrastructure, Community

#58868 Simplify SolutionEventMonitor
  src/VisualStudio/Core/Def/SolutionEventMonitor.cs
Labels: Area-IDE

#58970 Cherry Pick 58819
  src/Features/Core/Portable/StackTraceExplorer/IgnoredFrame.cs
  src/Features/Core/Portable/StackTraceExplorer/ParsedFrame.cs
  src/Features/Core/Portable/StackTraceExplorer/ParsedStackFrame.cs
  src/VisualStudio/Core/Def/StackTraceExplorer/StackTraceExplorerCommandHandler.cs
  src/VisualStudio/Core/Def/StackTraceExplorer/StackTraceExplorerToolWindow.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE

#58849 Support basic end-to-end scenarios for converting string constants to UTF8 byte representation.
  docs/features/utf8-string-literals.md
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedExplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StackAlloc.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/Utf8StringsLiteralsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Test/Utilities/CSharp/Extensions.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, New Feature - Utf8StringLiterals

#53304 Update to ICSharpCode.Decompiler 7.1.0.6543
  eng/Versions.props
  src/EditorFeatures/CSharp/DecompiledSource/AssemblyResolver.cs
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.CSharp.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.VisualBasic.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
Labels: Area-IDE, Community

#58935 Don't treat SyntaxProvider transform step inputs as cached.
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/SyntaxAwareGeneratorTests.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxInputNode.cs
Labels: Area-Compilers, New Feature - Source Generators

#58952 Disallow null checking discard parameters
  src/Analyzers/CSharp/Tests/UseParameterNullChecking/UseParameterNullCheckingTests.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/NullCheckedParameterTests.cs
  src/EditorFeatures/CSharpTest/InitializeParameter/AddParameterCheckTests.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
Labels: Area-Compilers, Feature - Param Null Checking

#58764 Add tests for issues fixed by previous PR
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers

#47833 Fix ParseVBErrorOrWarning
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/Vbc.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/ErrorLoggerEngine.cs
  src/Compilers/Core/MSBuildTaskTests/VbcTests.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, Community

#57667 Allow xml docs to still be created when 'emit metadata only' is on.
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/CompilationEmitTests.vb
Labels: Area-Compilers

#58985 Clarify parameters
  src/Analyzers/CSharp/Tests/UseParameterNullChecking/UseParameterNullCheckingTests.cs
  src/EditorFeatures/Core/Implementation/LanguageServer/VisualStudioInProcLanguageServer.cs
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Registration.cs
Labels: Area-IDE

#58968 Delete CodeAnalysisRules.ruleset
  src/Compilers/CSharp/CSharpCodeAnalysisRules.ruleset
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
  src/Compilers/Core/CodeAnalysisRules.ruleset
  src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj
Labels: Area-Compilers, Community

#58831 [EnC] Store entire spans instead of line deltas
  src/EditorFeatures/Test/EditAndContinue/ActiveStatementsMapTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditSessionActiveStatementsTests.cs
  src/Features/Core/Portable/EditAndContinue/ActiveStatementsMap.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/NonRemappableRegion.cs
Labels: Area-Interactive

#58965 Fix Go To Base for a symbol with a single metadata location
  src/VisualStudio/Core/Def/Implementation/Workspace/VisualStudioSymbolNavigationService.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpGoToBase.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/Editor_InProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/OutOfProcess/Editor_OutOfProc.cs
  src/VisualStudio/IntegrationTest/TestUtilities/WellKnownCommandNames.cs
Labels: Area-IDE

#58951 Assert compiler diagnostics in param-null checking test
  src/Analyzers/CSharp/Tests/UseParameterNullChecking/UseParameterNullCheckingTests.cs
Labels: Area-IDE, Community

#38826 Update CompilerNuGetCheckerUtil.cs
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
Labels: Area-Infrastructure, Community

#53938 don't include implicit/explicit keywords when completing explicit interface operator
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExplicitInterfaceMemberCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ExplicitInterfaceMemberCompletionProvider.CompletionSymbolDisplay.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ExplicitInterfaceMemberCompletionProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/StringBuilderExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
Labels: Area-IDE, New Feature - StaticAbstractMembersInInterfaces

#58978 Remove special interpolation brace kinds
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_InterpolatedString.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/InterpolationSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxKindFacts.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
Labels: Area-Compilers

#58940 Defer part rejection exception in VSTypeScriptFormattingService to time of construction
  src/CodeStyle/Core/CodeFixes/Host/Mef/CodeStyleHostLanguageServices.cs.cs
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/VSTypeScriptFormattingService.cs
Labels: Area-IDE

#58788 Backport SpillSequence Fix to 17.1
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
Labels: Area-Compilers, Approved to merge
