Repository dotnet/roslyn, pull requests merged in 2023-11, with the labels that each got.

#70625 Avoid loading attributes for PE symbols for the purpose of getting AsyncMethodBuilderAttribute information.
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodBuilderMemberCollection.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousManager.TypeOrDelegatePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeOrDelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/AttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/ReadOnlyListType/SynthesizedReadOnlyListTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStaticConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEModuleSymbol.vb
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EECompilationContextMethod.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.cs
Labels: Area-Compilers, untriaged

#70648 Catch connection lost exceptions when disposing of file watchers on close
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspFileChangeWatcher.cs
Labels: Area-IDE, untriaged

#70663 Add Experimental attribute to feature status
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation, untriaged

#70664 Immunize some more frames
  src/VisualStudio/Core/Def/Watson/FaultReporter.cs
Labels: Area-IDE, untriaged

#70401 Ensure proper receiver value is used for a constrained call invocation
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenCallTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
  src/Compilers/VisualBasic/Portable/BoundTree/BoundNodes.xml
  src/Compilers/VisualBasic/Portable/BoundTree/BoundPseudoVariable.vb
  src/Compilers/VisualBasic/Portable/CodeGen/EmitExpression.vb
  src/Compilers/VisualBasic/Portable/CodeGen/Optimizer/StackScheduler.Analyzer.vb
  src/Compilers/VisualBasic/Portable/Generated/BoundNodes.xml.Generated.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Expressions.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Spilling.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_Call.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_ConditionalAccess.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_LateBindingHelpers.vb
  src/Compilers/VisualBasic/Portable/Lowering/LocalRewriter/LocalRewriter_RedimClause.vb
  src/Compilers/VisualBasic/Portable/Lowering/UseTwiceRewriter.vb
  src/Compilers/VisualBasic/Portable/Lowering/WithExpressionRewriter.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenCallTests.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTests.vb
  src/Compilers/VisualBasic/Test/Emit/XmlLiteralTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/AsyncAwait.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/GenericConstraintTests.vb
Labels: Area-Compilers, untriaged

#70666 Convert MethodTypeInferrer to a struct.
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
Labels: Area-Compilers, untriaged

#70645 Fix fix all exception with duplicate Program declaration in top level program
  src/Analyzers/CSharp/CodeFixes/AddAccessibilityModifiers/CSharpAddAccessibilityModifiersCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/AddAccessibilityModifiers/AddAccessibilityModifiersFixAllTests.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Workspaces/Core/Portable/LanguageServices/FixAllSpanMappingService/AbstractFixAllSpanMappingService.cs
Labels: Area-IDE, untriaged

#70673 Disable specific squareBracket completion tests
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpAutomaticBraceCompletion.cs
Labels: Area-IDE, untriaged

#70361 Add MSBuild.BuildHost to AnalyzerRunner project
  src/Tools/AnalyzerRunner/AnalyzerRunner.csproj
Labels: Area-Infrastructure, Community, untriaged

#70657 Rely on GenerateMethodBody/SynthesizesLoweredBoundBody APIs to synthesize body for field like event accessors
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEventAccessorSymbol.cs
Labels: Area-Compilers, untriaged

#70678 Fix capitalization in recently added comments.
  src/Compilers/VisualBasic/Portable/CodeGen/EmitExpression.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Expressions.vb
  src/Compilers/VisualBasic/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncMethodToClassRewriter.Spilling.vb
  src/Compilers/VisualBasic/Portable/Lowering/UseTwiceRewriter.vb
Labels: Area-Compilers, untriaged

#69158 Look scope by scope for method group natural type
  docs/Language Feature Status.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers

#70655 Avoid duplicate analyzer callbacks for PrimaryConstructorBaseTypeSyntax and BaseListSyntax nodes
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RecordTests.cs
Labels: Area-Analyzers, Area-Compilers, untriaged

#70491 Restrict EnableGenerateDocumentationFile to .NET 8 warning wave
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
Labels: Area-Compilers, untriaged

#70680 Only use length-based dispatch optimization under `/optimize+`
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenLengthBasedSwitchTests.cs
Labels: Area-Compilers, untriaged

#70691 Include razor diagnostic details in assert text
  src/Compilers/Test/Core/Diagnostics/DiagnosticDescription.cs
Labels: Area-Compilers, untriaged

#70699 Do not bail out of unused parameter analysis if encountered a `nameof` expression
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedParametersTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
Labels: Area-IDE, Community, untriaged

#70690 Remove deprecated variable groups
  azure-pipelines-official.yml
Labels: Area-Infrastructure, untriaged

#70693 Add null literal to list of standard implicit conversions
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
Labels: Area-Compilers, untriaged

#70653 Fix `IDE0054` for increment/decrement when dealing with user-defined operators
  src/Analyzers/CSharp/Tests/UseCompoundAssignment/UseCompoundAssignmentTests.cs
  src/Analyzers/Core/Analyzers/UseCompoundAssignment/AbstractUseCompoundAssignmentDiagnosticAnalyzer.cs
Labels: Area-IDE, Community, untriaged

#70707 Insert release/dev17.9 to VS rel/d17.9
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#70706 Tweak spell checking spans
  src/EditorFeatures/CSharpTest/SpellCheck/SpellCheckSpanTests.cs
  src/EditorFeatures/TestUtilities/SpellCheck/AbstractSpellCheckSpanTests.cs
  src/Features/Core/Portable/SpellCheck/AbstractSpellCheckSpanService.cs
Labels: Area-IDE, untriaged

#70712 Update CodeStyle analyzer and MicrosoftNetCompilersToolset packages
  .editorconfig
  eng/Versions.props
  src/Analyzers/CSharp/Analyzers/UseImplicitObjectCreation/CSharpUseImplicitObjectCreationDiagnosticAnalyzer.cs
  src/EditorFeatures/Core/LanguageServer/AlwaysActiveLanguageClientEventListener.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/DebuggerVisualizerAttributeTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/UseRecursivePatterns/UseRecursivePatternsCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/YieldReturnConverter.cs
  src/Features/Core/Portable/Completion/Providers/AbstractContextVariableArgumentProvider.cs
  src/Features/Core/Portable/GenerateMember/GenerateConstructor/GenerateConstructorHelpers.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectTelemetry/VsReferenceHashingAlgorithm.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectTelemetry/VsTfmAndFileExtHashingAlgorithm.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/MapCode/MapCodeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangesTests.cs
  src/Test/PdbUtilities/Reader/Token2SourceLineExporter.cs
  src/VisualStudio/CSharp/Impl/Options/Formatting/StyleViewModel.cs
  src/VisualStudio/Core/Def/GenerateType/GenerateTypeDialogViewModel.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpErrorListWeb.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpIntelliSense.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpReferenceHighlighting.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/AddParameterDialogInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ChangeSignatureDialogInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ExtractInterfaceDialogInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/GenerateTypeDialogInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/MoveToNamespaceDialogInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/PickMembersDialogInProcess.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ParameterSymbolReferenceFinder.cs
  src/Workspaces/CoreTest/UtilityTest/BKTreeTests.cs
  src/Workspaces/CoreTest/UtilityTest/EditDistanceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
Labels: Area-Analyzers, untriaged

#62641 Run suppressors insofar as there are suppressible errors
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticSuppressorTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-Compilers, Blocked, Community

#70629 Improve Hover markdown on 'await' keyword
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.MarkdownContentBuilder.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
Labels: Area-IDE, untriaged

#70719 Fix 'generate method' within static lambdas/local-functions
  src/Features/CSharpTest/GenerateMethod/GenerateMethodTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
Labels: Area-IDE, untriaged

#70720 Fix issue with 'implement abstract class' and records
  src/Features/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/INamedTypeSymbolExtensions.cs
Labels: Area-IDE, untriaged

#70718 Fix crash in 'Use primary constructor'
  src/Analyzers/CSharp/CodeFixes/UsePrimaryConstructor/CSharpUsePrimaryConstructorCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UsePrimaryConstructor/UsePrimaryConstructorTests.cs
Labels: Area-IDE, untriaged

#70721 Fix mispelling of type name
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace.cs
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/VisualStudioWorkspace_InProc.cs
  src/Workspaces/Core/Portable/Workspace/Host/IWorkpacePartialSolutionsTestHook.cs
  src/Workspaces/Core/Portable/Workspace/Host/WorkpacePartialSolutionsTestHook.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE, untriaged

#70710 Align VS workspace diagnostics with public spec by keeping request open until the workspace changes
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptPullDiagnosticHandlerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/AbstractWorkspacePullDiagnosticsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicWorkspacePullDiagnosticHandlerFactory.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicWorkspacePullDiagnosticsHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/WorkspacePullDiagnosticHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/WorkspacePullDiagnosticHandlerFactory.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/AbstractPullDiagnosticTestsBase.cs
  src/Features/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Labels: Area-IDE, untriaged

#66000 Disable spell checker for integration tests
  eng/build.ps1
Labels: Area-Infrastructure

#70688 Indicate when syntax errors are first calculated.
  src/EditorFeatures/Core/Diagnostics/AbstractDiagnosticsTaggerProvider.SingleDiagnosticKindPullTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_TagsChanged.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/PullDiagnosticCategories.cs
Labels: Area-IDE, untriaged

#70692 Sentence correction
  docs/features/incremental-generators.md
Labels: Area-Compilers, Community, untriaged

#70669 Only change documents in solution
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/SyncNamespaceDocumentsNotInSolutionException.cs
Labels: Area-IDE, untriaged

#70503 Report all errors and rude edits to the log
  src/Features/Core/Portable/EditAndContinue/SolutionUpdate.cs
Labels: Area-Interactive, untriaged

#70501 EnC: Fix emit for anonymous indexed delegates
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpDefinitionMap.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolMatcher.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/EmitHelpers.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/PEDeltaAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/AnonymousTypeManager.Templates.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.DelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/SymbolMatcherTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/Collections/DictionaryExtensions.cs
  src/Compilers/Core/Portable/Emit/AnonymousDelegateWithIndexedNamePartialKey.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/EmitBaseline.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolMatcher.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SynthesizedTypeMaps.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTest.vb
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/Features/CSharp/Portable/Diagnostics/LanguageServer/CSharpLspBuildOnlyDiagnostics.cs
Labels: Area-Compilers, Interactive-EnC, untriaged

#70724 Implement textDocument/prepareRename for better rename experience
  src/Features/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/Features/LanguageServer/Protocol/Handler/Rename/PrepareRenameHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Rename/PrepareRenameTests.cs
Labels: Area-IDE, untriaged

#70676 Handle ref returning receivers in dynamic calls
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LoweredDynamicOperationFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, untriaged

#70739 Null annotate ArgumentNames.
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNewT.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNoPiaObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/BoundObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundObjectCreationExpressionBase.cs
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AnonymousObjectCreation.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Literal.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LoweredDynamicOperationFactory.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/Core/Portable/Operations/OperationNodes.cs
Labels: Area-Compilers, untriaged

#70717 Collection expressions: report specific error for spread with no GetEnumerator() method
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Labels: Area-Compilers, untriaged

#69798 Properly parse members in type declarations missing an identifier
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests_MissingIdentifiers.cs
  src/EditorFeatures/CSharpTest/Debugging/LocationInfoGetterTests.cs
Labels: Area-Compilers, Community, untriaged

#70700 Link to topic about choosing diagnostic IDs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticDescriptor.cs
Labels: Area-Analyzers, untriaged

#70695 Avoid some first-chance exceptions by returning instead
  eng/Versions.props
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
  src/Compilers/Server/VBCSCompiler/ClientConnectionHandler.cs
  src/Compilers/Server/VBCSCompiler/NamedPipeClientConnection.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/EditorFeatures/Core/NavigationBar/NavigationBarController_ModelComputation.cs
  src/EditorFeatures/Core/RenameTracking/RenameTrackingTaggerProvider.TrackingSession.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Core/Workspaces/ITextBufferVisibilityTracker.cs
  src/Features/CSharp/Portable/ConvertPrimaryToRegularConstructor/ConvertPrimaryToRegularConstructorCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractImportCompletionProvider.cs
  src/Features/Core/Portable/ValueTracking/ValueTracker.OperationCollector.cs
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/AbstractWorkspacePullDiagnosticsHandler.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Callers.cs
  src/Workspaces/Core/Portable/Shared/Extensions/IAsyncEnumerableExtensions.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/AsynchronousOperationListener.cs
  src/Workspaces/Core/Portable/Shared/Utilities/AsyncBatchingWorkQueue`2.cs
  src/Workspaces/Remote/ServiceHub/Services/ClientOptionProviders.cs
Labels: Area-IDE, untriaged

#70755 Fix contract assertion firing with SG OOP syncing.
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/SourceGeneration/IRemoteSourceGenerationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker_Generators.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
Labels: Area-IDE, untriaged

#70523 Remove conflicting key binding for integration tests
  src/VisualStudio/IntegrationTest/New.IntegrationTests/AbstractIntegrationTest.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpQuickInfo.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpRename.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/WorkaroundsInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicQuickInfo.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicRename.cs
Labels: Area-Infrastructure, untriaged

#70363 Pool instances of SymbolDisplayVisitor
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplay.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor_Constants.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor_Minimal.cs
  src/Compilers/Core/Portable/SymbolDisplay/AbstractSymbolDisplayVisitor.cs
  src/Compilers/Core/Portable/SymbolDisplay/AbstractSymbolDisplayVisitor_Minimal.cs
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplay.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor_Constants.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor_Minimal.vb
Labels: Area-Compilers, untriaged

#70764 Fix contract assertion firing with SG OOP syncing. (main)
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/SourceGeneration/IRemoteSourceGenerationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker_Generators.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
Labels: Area-IDE, untriaged

#70768 Disabling roll forward
  global.json
Labels: Area-Infrastructure, untriaged

#70743 Fix commit behvaior where items use default commit chars as their special filter char
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CommitManager.cs
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CompletionSource.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Area-IDE, untriaged

#70773 Fix function pointer calling convention go to definition
  src/EditorFeatures/Test2/GoToDefinition/CSharpGoToDefinitionTests.vb
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/FunctionPointerUnmanagedCallingConventionClassifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/CompilationExtensions.cs
Labels: Area-IDE, Community, untriaged

#70765 Keep the solution pinned (on host and OOP) when making multiple calls between systems.
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToTests.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/EditorFeatures/TestUtilities/NavigateTo/AbstractNavigateToTests.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.GeneratedDocumentSearch.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.NormalSearch.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearcherHost.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Features/LanguageServer/ProtocolUnitTests/Symbols/WorkspaceSymbolsTests.cs
  src/Workspaces/Core/Portable/Remote/IRemoteKeepAliveService.cs
  src/Workspaces/Core/Portable/Remote/RemoteHostClient.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker_Generators.cs
Labels: Area-IDE, untriaged

#70778 Fix issue with raw-string-indentation tag not being drawn if end of string is offscreen
  src/EditorFeatures/Core.Wpf/Adornments/AbstractAdornmentManager.cs
  src/EditorFeatures/Core.Wpf/InlineDiagnostics/InlineDiagnosticsAdornmentManager.cs
  src/EditorFeatures/Core.Wpf/LineSeparators/LineSeparatorAdornmentManager.cs
  src/EditorFeatures/Core.Wpf/StringIndentation/StringIndentationAdornmentManager.cs
Labels: Area-IDE, untriaged

#70449 Enc: Clean up SemanticEdit
  docs/Breaking API Changes.md
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/AssemblyReferencesTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueDelegateCacheTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinuePdbTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTestBase.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DefinitionMap.cs
  src/Compilers/Core/Portable/Emit/SemanticEdit.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/AssemblyReferencesTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinuePdbTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueStateMachineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTest.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/LocalSlotMappingTests.vb
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Test/PdbUtilities/EditAndContinue/EditAndContinueTest.GenerationVerifier.cs
  src/Test/PdbUtilities/EditAndContinue/EditAndContinueTest.cs
  src/Test/PdbUtilities/EditAndContinue/EditAndContinueTestUtilities.cs
Labels: Area-Compilers, Interactive-EnC, untriaged

#70766 [Performance] Reduce allocations in `PENamedTypeSymbol.EnsureTypeParametersAreLoaded`
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
Labels: Area-Compilers, Community, untriaged

#70784 Move keepalive code inwards
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
Labels: Area-IDE, untriaged

#70759 Break some binding cycles
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/IndexerTests.cs
Labels: Area-Compilers, untriaged

#70772 Syntax classification improvement
  src/EditorFeatures/Test2/Classification/SyntacticChangeRangeComputerTests.vb
  src/Tools/IdeCoreBenchmarks/SyntacticChangeRangeBenchmark.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/SyntacticChangeRangeComputer.cs
Labels: Area-IDE, untriaged

#70756 Fix VB intellisense integration test
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpIntelliSense.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/StateResetInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicIntelliSense.cs
Labels: Area-Infrastructure, untriaged

#70791 Remove recursion in ForAttributeWithMetadataName
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
  src/Compilers/Core/Portable/SourceGeneration/ISyntaxHelper.cs
Labels: Area-Compilers, untriaged

#70781 Fix 'make member readonly' with mutation of primary constructor parameters
  src/Analyzers/CSharp/Analyzers/MakeStructMemberReadOnly/CSharpMakeStructMemberReadOnlyAnalyzer.cs
  src/Analyzers/CSharp/Tests/MakeStructMemberReadOnly/MakeStructMemberReadOnlyTests.cs
Labels: Area-IDE, untriaged

#70762 Create params arrays during binding
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/MethodArgumentInfo.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundArrayCreation.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNode.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FunctionPointerInvocation.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/SourceAttributeData.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInParametersTests.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
Labels: Area-Compilers, untriaged

#70799 Fixup an internal compiler iterator to be a struct iterator
  src/Compilers/Core/Portable/SourceGeneration/ISyntaxHelper.cs
  src/Compilers/Core/Portable/Syntax/GreenNode.NodeEnumerable.cs
  src/Compilers/Core/Portable/Syntax/GreenNode.cs
Labels: Area-Compilers, untriaged

#70789 Only show argument completion items when method accepts arguments
  src/EditorFeatures/CSharpTest/TypeInferrer/TypeInferrerTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/SymbolCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractRecommendationServiceBasedCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/SymbolCompletionProvider.vb
Labels: Area-IDE, untriaged

#70801 Modify AbstractReplaceConditionalWithStatementsCodeRefactoringProvider.TryFindConditional to not use recursion
  src/Features/Core/Portable/ReplaceConditionalWithStatements/AbstractReplaceConditionalWithStatementsCodeRefactoringProvider.cs
Labels: Area-IDE, untriaged

#70804 Merge release/dev17.9 to main
  eng/Versions.props
  src/EditorFeatures/Core.Wpf/EditorFeaturesWpfResources.resx
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Dashboard/RenameDashboard.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentManager.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentProvider.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameControl.xaml
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameControl.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.cs.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.de.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.es.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.fr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.it.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ja.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ko.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pl.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.pt-BR.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.ru.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.tr.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hans.xlf
  src/EditorFeatures/Core.Wpf/xlf/EditorFeaturesWpfResources.zh-Hant.xlf
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/EditorFeatures/Test2/Rename/RenameViewModelTests.vb
  src/VisualStudio/CodeLens/ReferenceCodeLensProvider.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute.cs
Labels: Area-Infrastructure, untriaged

#70795 Update doc of `DataFlowAnalysis.Captured`
  src/Compilers/Core/Portable/Compilation/DataFlowAnalysis.cs
Labels: Area-Compilers, Documentation, untriaged

#70794 Thread in a new MSBuild property `EffectiveAnalysisLevelStyle` to IDE code style analyzers
  src/CodeStyle/Tools/Program.cs
Labels: Area-Analyzers, IDE-CodeStyle, untriaged

#70715 Fix for source generator diagnostics not showing up as part of live analysis when generators run in OOP
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-IDE, untriaged

#70802 Switch to using SelectManyAsArray
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/UseExpressionBodyDiagnosticAnalyzer.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestAnalyzerReferenceByLanguage.cs
  src/EditorFeatures/TestUtilities/SpellCheck/AbstractSpellCheckSpanTests.cs
  src/Features/Core/Portable/FindUsages/IDefinitionsAndReferencesFactory.cs
  src/Features/Core/Portable/ImplementAbstractClass/ImplementAbstractClassData.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.CachedDocumentSearch.cs
  src/Features/Core/Portable/Wrapping/ChainedExpression/ChainedExpressionCodeActionComputer.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DefaultDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/Tools/AnalyzerRunner/DiagnosticAnalyzerRunner.cs
  src/VisualStudio/Core/Def/InheritanceMargin/MarginGlyph/InheritanceMarginGlyphViewModel.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationAndGeneratorDriverTranslationAction_Actions.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/INamedTypeSymbolExtensions.cs
Labels: Area-IDE, untriaged

#69843 Compiler support for respecting custom configured analyzer severity settings
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticDescriptor.cs
  src/Compilers/Core/Portable/Diagnostic/WellKnownDiagnosticTags.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerOptionsExtensions.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicDiagnosticFilter.vb
  src/Compilers/VisualBasic/Portable/Errors/MessageProvider.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-IDE, Area-Compilers, untriaged

#70837 Add docs explaining the semantics of SourceText.GetChecksum
  src/Compilers/Core/Portable/Text/SourceText.cs
Labels: Area-Compilers, untriaged

#70475 Add nested code actions to csharp extension
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionFixAllResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/RunCodeActionsTests.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/CodeActions/CodeActionsHandlerProvider.cs
Labels: Area-IDE, untriaged

#70814 Create real `NamedTypeSymbol` for private implementation type and use it as a parent for `SynthesizedGlobalMethodSymbol`.
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolMatcher.cs
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/SynthesizedPrivateImplementationDetailsStaticConstructor.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.DecisionDagRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayAsReadOnlySpanMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayAsSpanMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayElementRefMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayElementRefReadOnlyMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayFirstElementRefMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayFirstElementRefReadOnlyMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterlessThrowMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedPrivateImplementationDetailsType.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStringHashFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedThrowSwitchExpressionExceptionMethod.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/SwitchTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenLengthBasedSwitchTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SwitchTests.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/VisualBasic/Portable/Emit/PEModuleBuilder.vb
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
Labels: Area-Compilers, untriaged

#70806 Suggest installing exact matching .NET SDK in global.json
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-Infrastructure, untriaged

#70769 Handle satellite assembly loading in .NET Core
  src/Compilers/Core/CodeAnalysisTest/AnalyzerAssemblyLoaderTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.Core.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DefaultAnalyzerAssemblyLoader.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/ShadowCopyAnalyzerAssemblyLoader.cs
  src/Compilers/Test/Core/AssemblyLoadTestFixture.cs
  src/VisualStudio/Core/Test.Next/Remote/SnapshotSerializationTests.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteAnalyzerAssemblyLoader.cs
Labels: Area-Compilers, untriaged

#70843 Wrap calls to CompletionProvider extensions such that they go through our extension manager
  src/EditorFeatures/Core/Editor/EditorLayerExtensionManager.cs
  src/EditorFeatures/Core/Options/ExtensionManagerOptions.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoServiceWithProviders.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ExtensionManager.cs
  src/VisualStudio/IntegrationTest/TestSetup/TestExtensionManager.cs
  src/Workspaces/Core/Portable/ExtensionManager/AbstractExtensionManager.cs
  src/Workspaces/Core/Portable/ExtensionManager/IExtensionManager.cs
  src/Workspaces/Core/Portable/ExtensionManager/IExtensionManagerExtensions.cs
  src/Workspaces/Core/Portable/ExtensionManager/ServicesLayerExtensionManager.cs
Labels: Area-IDE, untriaged

#70840 Workaround vscode bug with returning defaultBehavior from prepareRename
  src/Features/LanguageServer/Protocol/Handler/Rename/PrepareRenameHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Rename/PrepareRenameTests.cs
Labels: Area-IDE, untriaged

#69226 Method group natural type: only use methods that can be fully substituted and pass constraint checks
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
Labels: Area-Compilers, untriaged

#70820 Fix race in AsyncLazy where we might not return a single result
  src/Compilers/Test/Core/Assert/AssertEx.cs
  src/EditorFeatures/Test/Utilities/AsyncLazyTests.cs
  src/Workspaces/CoreTest/UtilityTest/AsyncLazyTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/AsyncLazy`1.cs
Labels: Area-IDE, untriaged

#70839 Switch to using spans when doing SourceText.ContentEquals
  src/Compilers/Core/CodeAnalysisTest/Text/SourceTextTests.cs
  src/Compilers/Core/Portable/Text/SourceText.cs
Labels: Area-Compilers, untriaged

#70860 Move some IOperation helpers from LocalRewriter to CSharpOperationFactory
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory_Methods.cs
Labels: Area-Compilers, untriaged

#70848 Fix MSBuildWorkspace test condition
  src/Workspaces/MSBuildTest/VisualStudioMSBuildWorkspaceTests.cs
Labels: Area-Infrastructure, untriaged

#70808 Switch to Xxhash128 from sha256 (copy runtime logic)
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorageConstants.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum_Factory.cs
  src/Workspaces/CoreTest/ChecksumTests.cs
  src/Workspaces/CoreTest/XxHash128Tests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/Hashing/BitOperations.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/Hashing/NonCryptographicHashAlgorithm.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/Hashing/XxHash128.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/Hashing/XxHash64.State.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/Hashing/XxHashShared.cs
Labels: Area-IDE, untriaged

#70763 Enable IntelliSense for collection expressions
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/BaseKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/BoolKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ByteKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/CharKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DecimalKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DelegateKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/DoubleKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/FalseKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/FromKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/GlobalKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/IntKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/LongKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NameOfKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NativeIntegerKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NewKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NullKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ObjectKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/SByteKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StackAllocKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/StringKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ThisKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/TrueKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/TypeOfKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UIntKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ULongKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/UShortKeywordRecommenderTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, Community, untriaged

#70847 Two LSIF tool fixes
  src/Features/Lsif/Generator/Generator.cs
  src/Features/Lsif/Generator/Microsoft.CodeAnalysis.LanguageServerIndexFormat.Generator.csproj
  src/Features/Lsif/GeneratorTest/DocumentSymbolTests.vb
Labels: Area-IDE, untriaged

#70867 Use dnceng connection in darc lab
  azure-pipelines-integration-dartlab.yml
Labels: Area-Infrastructure, untriaged

#70852 Change ImmutableDictionary to Dictionary in AnalyzerManager
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
Labels: Area-Analyzers, untriaged

#70862 Avoid sync-over-async blocking in syntactic classifier
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/Tools/ExternalAccess/FSharp/Internal/Classification/FSharpClassificationService.cs
  src/Workspaces/Core/Portable/Classification/AbstractClassificationService.cs
  src/Workspaces/Core/Portable/Classification/ClassificationServiceExtensions.cs
  src/Workspaces/Core/Portable/Classification/IClassificationService.cs
Labels: Area-IDE, untriaged

#70811 Remove usage of SyntaxWalker and mark it as banned in roslyn
  eng/config/BannedSymbols.txt
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.GeneratedCodeTokenWalker.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorSyntaxWalker.cs
  src/Compilers/Core/Portable/Syntax/SyntaxWalker.cs
  src/Compilers/Core/Portable/Syntax/SyntaxWalkerDepth.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.SymbolMapBuilder.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/Core/Portable/Shared/Utilities/SemanticMap.Walker.cs
Labels: Area-Compilers, untriaged

#70849 Run .NET Core MSBuildWorkspace tests on machines with VS installed
  eng/build.ps1
  src/Workspaces/MSBuildTest/VisualStudioMSBuildWorkspaceTests.cs
Labels: Area-Infrastructure, untriaged

#70869 Fix 'make struct member readonly' with init accessors.
  src/Analyzers/CSharp/Analyzers/MakeStructMemberReadOnly/CSharpMakeStructMemberReadOnlyAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/MakeStructMemberReadOnly/CSharpMakeStructMemberReadOnlyCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/MakeStructMemberReadOnly/MakeStructMemberReadOnlyTests.cs
Labels: Area-IDE, untriaged

#70877 NRT enable storage layer
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/Workspaces/Core/Portable/Storage/AbstractPersistentStorageService.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/IChecksummedPersistentStorage.cs
  src/Workspaces/Core/Portable/Workspace/Host/PersistentStorage/NoOpPersistentStorage.cs
Labels: Area-IDE, untriaged

#70871 Fix use-primary-constructor in the presence of side-effects on the parameters.
  src/Analyzers/CSharp/Analyzers/UsePrimaryConstructor/CSharpUsePrimaryConstructorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UsePrimaryConstructor/UsePrimaryConstructorTests.cs
Labels: Area-IDE, untriaged

#70883 Improve formatting when converting to a collection expression
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForFluentDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UseCollectionExpression/CSharpCollectionExpressionRewriter.cs
  src/Analyzers/CSharp/CodeFixes/UseCollectionExpression/CSharpUseCollectionExpressionForFluentCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForCreateTests.cs
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForFluentTests.cs
Labels: Area-IDE, untriaged

#70845 Remove ImmutableDictionary usage when passing telemetry property information.
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/TelemetryReporterTests.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Contracts/ITelemetryReporter.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Logging/RoslynLogger.cs
  src/VisualStudio/Core/Def/Telemetry/AggregatingTelemetryLog.cs
  src/VisualStudio/DevKit/Impl/Logging/VSCodeTelemetryLogger.cs
  src/Workspaces/Core/Portable/Log/KeyValueLogMessage.cs
Labels: Area-IDE, untriaged

#70872 Downgrade editor packages to fix build break
  eng/Versions.props
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentManager.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentProvider.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
  src/EditorFeatures/Core.Wpf/Lightup/ISmartRenameSessionFactoryWrapper.cs
  src/EditorFeatures/Core.Wpf/Lightup/ISmartRenameSessionWrapper.cs
  src/EditorFeatures/Core.Wpf/Lightup/LightupHelpers.cs
  src/EditorFeatures/Test2/Rename/RenameViewModelTests.vb
Labels: Area-IDE, untriaged

#70884 Pool intermediary collections when performing classification tagging/aggregation.
  src/EditorFeatures/CSharpTest/Classification/SyntacticTaggerTests.cs
  src/EditorFeatures/Core/Classification/CopyPasteAndPrintingClassificationBufferTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Classification/Semantic/ClassificationUtilities.cs
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.cs
  src/EditorFeatures/Core/Classification/TotalClassificationTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/AbstractDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core/Shared/Tagging/Utilities/TagSpanIntervalTree.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AggregateTagger.cs
  src/EditorFeatures/Core/Tagging/AsynchronousTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AsynchronousViewTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AsynchronousViewportTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/EfficientTagger.cs
  src/EditorFeatures/Test/Tagging/AsynchronousTaggerTests.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/Core/Portable/Utilities/SegmentedListPool.cs
Labels: Area-IDE, untriaged

#70906 Remove unnecessary hardcoded value in Generate-Type dialog
  src/VisualStudio/Core/Def/GenerateType/GenerateTypeDialog.xaml
Labels: Area-IDE, untriaged, Needs UX Triage

#70890 Simplify acceptability check helpers in OverloadResolution
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
Labels: Area-Compilers, untriaged

#70882 Cut off deeply nested collection expressions
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Labels: Area-Compilers, untriaged

#70907 Fix spelling mistakes
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
Labels: Area-Compilers, untriaged

#70853 Change inline rename control's color when format map change
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/InlineRenameAdornmentManager.cs
  src/EditorFeatures/Test2/Rename/RenameViewModelTests.vb
Labels: Area-IDE, untriaged

#70810 Fix captured variables analysis
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/StatementEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/CSharpLambdaBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/FieldWithInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/OrdinaryInstanceConstructorWithExplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/OrdinaryInstanceConstructorWithImplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PrimaryConstructorWithExplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PropertyOrIndexerAccessorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/TopLevelCodeDeclarationBody.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractSimpleMemberBody.cs
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/FieldOrPropertyDeclarationBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/MethodBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/VisualBasicLambdaBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/SyntaxUtilities.vb
Labels: Area-IDE, untriaged

#70838 Add SourceText.GetContentHash
  src/Compilers/Core/CodeAnalysisTest/Text/SourceTextTests.cs
  src/Compilers/Core/Portable/Hashing/BitOperations.cs
  src/Compilers/Core/Portable/Hashing/NonCryptographicHashAlgorithm.cs
  src/Compilers/Core/Portable/Hashing/XxHash128.cs
  src/Compilers/Core/Portable/Hashing/XxHash64.State.cs
  src/Compilers/Core/Portable/Hashing/XxHashShared.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Text/SourceText.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-Compilers, untriaged

#70893 Move our OOP syncing code off of source-text checksums, onto content hashes.
  src/Features/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/Workspaces/Core/Portable/Serialization/SerializableSourceText.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService.cs
  src/Workspaces/Core/Portable/SourceGeneration/IRemoteSourceGenerationService.cs
  src/Workspaces/Core/Portable/TemporaryStorage/TemporaryStorageServiceFactory.cs
  src/Workspaces/Core/Portable/Workspace/Host/TemporaryStorage/ITemporaryTextStorageWithName.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker_Generators.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
Labels: Area-Compilers, untriaged

#70873 Convert our checksum type into a struct
  src/Tools/ExternalAccess/Razor/InternalAPI.Unshipped.txt
  src/VisualStudio/Core/Def/Storage/CloudCachePersistentStorage.cs
  src/VisualStudio/Core/Test.Next/Remote/SerializationValidator.cs
  src/VisualStudio/Core/Test.Next/Remote/SnapshotSerializationTests.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingChecksumWrapper.cs
  src/Workspaces/Core/Portable/FindSymbols/Shared/AbstractSyntaxIndex_Persistence.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/Interop/SqlConnection.cs
  src/Workspaces/Core/Portable/Storage/SQLite/v2/SQLitePersistentStorage.Accessor.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ChecksumCollection.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum_Factory.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
  src/Workspaces/CoreTest/ChecksumTests.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
Labels: Area-IDE, untriaged

#70875 Ship Devkit dependencies as a nuget package to support directly including in the C# extension
  Roslyn.sln
  azure-pipelines-official.yml
  eng/Versions.props
  eng/build.ps1
  eng/config/PublishData.json
  eng/publish-assets.ps1
  eng/targets/Settings.props
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Microsoft.CodeAnalysis.LanguageServer.UnitTests.csproj
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Utilities/LanguageServerTestComposition.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/ExportProviderBuilder.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/ServerConfigurationFactory.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Services/AssemblyLoadContextWrapper.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Services/StarredCompletions/StarredCompletionsAssemblyHelper.cs
  src/VisualStudio/DevKit/Impl/.npmrc
  src/VisualStudio/DevKit/Impl/Microsoft.VisualStudio.LanguageServices.DevKit.csproj
  src/VisualStudio/DevKit/Impl/package.json
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
Labels: Area-Infrastructure, untriaged

#70924 Add note about deeply nested expressions
  docs/contributing/Compiler Test Plan.md
Labels: Area-Compilers, untriaged

#70911 Simplify logic around `params` parameters in `OverloadResolution.AnalyzeArguments`
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
Labels: Area-Compilers, untriaged

#70927 Enable route embedded language features in vscode
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Microsoft.CodeAnalysis.LanguageServer.csproj
Labels: Area-Infrastructure, untriaged

#70929 Order items in cref completion by arity
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/CrefCompletionProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/Extensions.cs
Labels: Area-IDE, untriaged

#70925 Fix override completion with nint/nuint parameters
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/CoreTest/SymbolKeyTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamedTypeSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/SymbolEquivalenceComparer.EquivalenceVisitor.cs
Labels: Area-IDE, untriaged

#59086 Remove extra logic to see if users are squatting on keywords
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
Labels: Area-IDE

#70940 Fix F# classification
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.cs
Labels: Area-IDE, untriaged

#70939 Add a unit-test for a customer scenario
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged

#70817 Update to the latest dotnet/command-line-api version
  eng/Version.Details.xml
  eng/Versions.props
Labels: Area-Infrastructure, Community, untriaged

#70954 Set stack trace on logged assertion failure exceptions
  src/VisualStudio/IntegrationTest/TestSetup/TestTraceListener.cs
Labels: Area-Infrastructure, untriaged

#70959 Avoid timeout during cleanup after previous timeout
  src/VisualStudio/IntegrationTest/New.IntegrationTests/AbstractIntegrationTest.cs
Labels: Area-Infrastructure, untriaged

#70950 Decrease allocations in ObjectReaderTextReader.Create.
  src/Workspaces/Core/Portable/Shared/Extensions/SourceTextExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/SharedPools.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Serialization/ObjectReader.cs
Labels: Area-IDE, untriaged

#70931 Update extract-method to respect returning by-ref
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.CSharpCodeGenerator.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.StatementResult.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.cs
  src/Features/CSharpTest/ExtractMethod/ExtractMethodTests.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.AnalyzerResult.cs
  src/Features/Core/Portable/ExtractMethod/SelectionResult.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
Labels: Area-IDE, untriaged

#70944 To not offer overrrides that woudl collide with existing members
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/Core/Portable/Completion/Providers/AbstractOverrideCompletionProvider.ItemGetter.cs
  src/Features/Core/Portable/Completion/Providers/AbstractOverrideCompletionProvider.cs
  src/Features/Core/Portable/GenerateOverrides/GenerateOverridesCodeRefactoringProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/INamedTypeSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/SignatureComparer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Utilities/SemanticDocument.cs
Labels: Area-IDE, untriaged

#70979 Fix code definition window NFW in typescript
  src/EditorFeatures/Core/CodeDefinitionWindow/DefinitionContextTracker.cs
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionHelpers.cs
Labels: Area-IDE, untriaged

#70978 Update publishdata for 17.9.P2 snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#70965 Exclude more errors from those that fail delegate conversion
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
Labels: Area-Compilers, untriaged

#70846 Move to .NET 8 RTM
  docs/contributing/Building, Debugging, and Testing on Unix.md
Labels: Area-Infrastructure, untriaged

#70986 Ship release/dev17.9 to main till VS snaps
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#70984 Ensure no torn writes when reading/initializing our solution checksums
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionInfo.cs
Labels: Area-IDE, untriaged

#70991 Ensure no torn writes when reading/initializing our solution checksums
  src/Compilers/Core/Portable/InternalUtilities/SingleInitNullable.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-IDE, untriaged

#70993 Use new lazily initialized value type in projectinfo
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
Labels: Area-IDE, untriaged

#71003 Add ExternalAccess.EditorConfigGenerator to visx manifest
  src/VisualStudio/Setup/source.extension.vsixmanifest
Labels: Area-IDE, untriaged

#70985 Make sure completion don't trigger source generator
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameRecommender.cs
  src/Features/CSharp/Portable/Debugging/DataTipInfoGetter.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Features/Core/Portable/Completion/Providers/AbstractMemberInsertingCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/Snippets/AbstractSnippetCompletionProvider.cs
  src/Features/Core/Portable/Tagging/CompilationAvailableHelpers.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
Labels: Area-IDE, untriaged

#70729 Allow analyzer exceptions to fall through if desired
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalValueProvider.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxValueProvider.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/ValueSourceExtensions.cs
  src/Compilers/Core/Portable/SourceGeneration/UserFunction.cs
Labels: Area-Analyzers, Area-Compilers, untriaged

#70694 Avoid cycle in tuple explicit interface implementation
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ValueTupleTests.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayFormat.cs
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
Labels: Area-Compilers, untriaged

#71008 Do not return FunctionTypeSymbol from InferBestType helper.
  src/Compilers/CSharp/Portable/Binder/Semantics/BestTypeInferrer.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
Labels: Area-Compilers, untriaged

#71000 Avoid invalid cast exception in BindImplicitConstructorInitializer for top level statements with non-object base type.
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
Labels: Area-Compilers, New Language Feature - Simple Programs, untriaged

#70997 Handle hoisted exception temps during closure rewriting
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/LambdaCapturedVariable.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TryCatchTests.cs
Labels: Area-Compilers, untriaged

#70995 Skip flaky test SearchGraphQueryTests_NavigateTo.SearchForMember
  src/VisualStudio/Core/Test/Progression/SearchGraphQueryTests_NavigateTo.vb
Labels: Area-IDE, untriaged

#71015 Fix doc comment of a SyntaxToken
  src/Compilers/Core/Portable/Syntax/SyntaxToken.cs
Labels: Area-Compilers, Community, untriaged

#71016 Mitigate RemoteControlClient not properly caching values on netcore.
  src/Features/Core/Portable/SymbolSearch/Windows/IFileDownloaderFactory.cs
  src/VisualStudio/Core/Def/Storage/FileDownloader.cs
Labels: Area-IDE, untriaged

#71017 Collection expressions: additional tests for output type inference
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Labels: Area-Compilers, untriaged

#70912 Add GetSemanticModel method with disableNullableAnalysis flag
  eng/config/globalconfigs/Common.globalconfig
  src/Compilers/CSharp/Portable/Compilation/AttributeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compilation/InitializerSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.SpeculativeMemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/NullablePublicAPITests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
  src/Compilers/Core/Portable/Compilation/SemanticModelProvider.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CachingSemanticModelProvider.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/DiagnosticAnalyzerTests.vb
Labels: Area-Compilers, untriaged

#70650 Collection expressions: IOperation support
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpExtensions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IArrayElementReferenceExpression.cs
  src/Compilers/Core/Portable/Generated/OperationKind.Generated.cs
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Core/Compilation/ControlFlowGraphVerifier.cs
  src/Compilers/Test/Core/Compilation/OperationTreeVerifier.cs
  src/Compilers/Test/Core/Compilation/TestOperationVisitor.cs
  src/Features/CSharpTest/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
Labels: Area-Compilers, untriaged, New Feature - Collection Expressions

#71034 Make GetDeclaredSymbol more strongly typed for LocalFunctionDeclarationSyntax
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SpeculativeSemanticModelWithMemberModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
Labels: Area-Compilers, untriaged

#71037 Remove nullable suppression in GetSemanticModel
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
Labels: Area-IDE, untriaged
