Repository dotnet/roslyn, pull requests merged in 2023-07, with the labels that each got.

#68602 Generic interceptors
  docs/features/interceptors.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/EditorFeatures/CSharp/LanguageServer/CSharpLspBuildOnlyDiagnostics.cs
Labels: Area-Compilers, untriaged

#68847 Update PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#68859 Thread in the correct cancellation token into the code action operation
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureCodeStyle/ConfigureCodeStyleOptionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Configuration/ConfigureSeverity/ConfigureSeverityLevelCodeFixProvider.cs
Labels: Area-IDE, untriaged

#68865 Update Telemetry version to 17.7.57
  eng/Versions.props
Labels: Area-Infrastructure, Community, untriaged

#68733 Doc how to test in VSCode
  docs/contributing/Building, Debugging, and Testing on Windows.md
Labels: Area-Compilers, Documentation

#68807 Lookahead parsing for collection exprs vs. local functions.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
Labels: Area-Compilers, untriaged

#68702 Add support for `System.Diagnostics.CodeAnalysis.ExperimentalAttribute`
  src/Compilers/CSharp/Portable/Symbols/ObsoleteAttributeHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol_Attributes.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_Experimental.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/ExperimentalAttributeTests.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonAttributeData.cs
  src/Compilers/Core/Portable/Symbols/Attributes/ObsoleteAttributeData.cs
  src/Compilers/VisualBasic/Portable/Symbols/ObsoleteAttributeHelpers.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol_Attributes.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_Experimental.vb
Labels: Area-Compilers

#68887 BindRefExpression - bind expression in error recovery mode.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, untriaged

#68757 Simplify and make consistent query-context tracking in the parser
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxFactoryContext.cs
Labels: Area-Compilers, untriaged

#68886 Merge features/CollectionLiterals into Main
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
Labels: Area-Compilers, untriaged

#68890 Update to 17.7.58
  eng/Versions.props
Labels: Area-Infrastructure, Community, untriaged

#68845 Fix crash in interpolation handling
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers, untriaged

#68901 Share implementation code for xml-doc close-tag completion between C# and VB
  src/EditorFeatures/CSharp/DocumentationComments/XmlTagCompletionCommandHandler.cs
  src/EditorFeatures/CSharpTest/DocumentationComments/XmlTagCompletionTests.cs
  src/EditorFeatures/Core/DocumentationComments/AbstractXmlTagCompletionCommandHandler.cs
  src/EditorFeatures/TestUtilities/DocumentationComments/AbstractXmlTagCompletionTests.cs
  src/EditorFeatures/VisualBasic/DocumentationComments/XmlTagCompletionCommandHandler.vb
  src/EditorFeatures/VisualBasicTest/DocumentationComments/XmlTagCompletionTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
Labels: Area-IDE, untriaged

#68870 Filter `RequiresLocationAttribute` from `ref readonly` parameters
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#68871 Disallow applying `RequiresLocation` and `Out` attributes to `ref readonly` parameters in source
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#68905 Reduce memory consumption around SpellChecker object creation/usage.
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Serialization.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/BKTree.Builder.cs
Labels: Area-IDE, untriaged

#68832 Avoid quadratic lookup of namespace declarations
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
Labels: Area-Compilers, untriaged

#68846 Check ReturnsVoidIsSetBit flag
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDestructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedPrimaryConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordOrdinaryMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
Labels: Area-Compilers, untriaged

#68906 Moving lexing functions out of SlidingTextWindow
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/Lexer_StringLiteral.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
Labels: Area-Compilers, untriaged

#68917 Followup to https://github.com/dotnet/roslyn/pull/68897 to return errantly stripped comments.
  src/Features/Core/Portable/CodeLens/ReferenceMethodDescriptor.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedActiveStatementDebugInfo.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedActiveStatementUpdate.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedExceptionRegionUpdate.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedHotReloadDiagnostic.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedInstructionId.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedMethodId.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/SequencePointUpdates.cs
  src/Features/Core/Portable/EditAndContinue/SourceFileSpan.cs
Labels: Area-IDE, untriaged

#68915 Fix issue where 'use primary constructor' could lose comments if a type had attributes on it
  src/Analyzers/CSharp/CodeFixes/UsePrimaryConstructor/CSharpUsePrimaryConstructorCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UsePrimaryConstructor/UsePrimaryConstructorTests.cs
Labels: Area-IDE, untriaged

#68629 Implement "extension invocation" section for methods
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Deconstruct.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Query.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/LookupOptions.cs
  src/Compilers/CSharp/Portable/Binder/MethodGroupResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodGroup.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundMethodGroupFlags.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/ExtensionTypeTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_InvalidExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IteratorTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
  src/Compilers/Test/Utilities/CSharp/Extensions.cs
Labels: Area-Compilers, untriaged

#68628 Add EA package for the compiler developer SDK
  .github/CODEOWNERS
  Roslyn.sln
  eng/config/PublishData.json
  eng/targets/Settings.props
  src/Features/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Tools/ExternalAccess/CompilerDeveloperSDK/Extensions/ProtocolConversions.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/GlobalUsings.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/Handler/AbstractCompilerDeveloperSdkLspServiceDocumentRequestHandler.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/Handler/AbstractCompilerDeveloperSdkLspServiceRequestHandler.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/Handler/RequestContext.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/InternalAPI.Shipped.txt
  src/Tools/ExternalAccess/CompilerDeveloperSDK/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/CompilerDeveloperSDK/LspServices/AbstractCompilerDeveloperSdkLspService.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/LspServices/AbstractCompilerDeveloperSdkLspServiceFactory.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/LspServices/CompilerDeveloperSdkLspServices.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/LspServices/CompilerDeveloperSdkMethodAttribute.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/LspServices/ExportCompilerDeveloperSdkLspServiceFactoryAttribute.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/LspServices/ExportStatelessCompilerDeveloperSdkLspServiceAttribute.cs
  src/Tools/ExternalAccess/CompilerDeveloperSDK/Microsoft.CodeAnalysis.ExternalAccess.CompilerDeveloperSDK.csproj
  src/Tools/ExternalAccess/CompilerDeveloperSDK/PublicAPI.Shipped.txt
  src/Tools/ExternalAccess/CompilerDeveloperSDK/PublicAPI.Unshipped.txt
Labels: Area-Infrastructure, untriaged

#68925 [Infra] Publish 17.8 P1 VS PRs
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#68888 [Infra] Update Microsoft.CodeAnalysis.Testing to 1.1.2-beta1.23323.1
  eng/Versions.props
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2+Test.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2+Test.cs
Labels: Area-Infrastructure, untriaged

#68902 Don't hardcode C# 9 in function pointer tests
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
Labels: Area-Compilers, untriaged

#68894 Gracefully handle exceptions from DiagnosticSuppressor.SupportedSuppressions in IDE
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalyzerInfoCache.cs
  src/Workspaces/Core/Portable/Diagnostics/SkippedHostAnalyzersInfo.cs
Labels: Area-IDE, untriaged

#68916 Update analyzers to 23356.2
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#68224 Relax parameter-argument modifier matching for ref readonly parameters
  src/Analyzers/CSharp/CodeFixes/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UpgradeProject/UpgradeProjectTests.cs
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_InterpolatedString.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_PropertyAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#68931 Report nullable safety warnings (vs. "W"-warnings) for assignments to captured primary constructor parameters.
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers, untriaged, New Feature - Primary Constructors

#67600 Allow function breakpoints before module symbols are loaded
  src/ExpressionEvaluator/Core/Source/FunctionResolver/FunctionResolver.cs
Labels: Area-Interactive, untriaged

#68954 Remove option that ab test has concluded on.
  src/Features/LanguageServer/Protocol/Features/Options/WorkspaceConfigurationOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/Workspaces/Core/Portable/Workspace/IWorkspaceConfigurationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
Labels: Area-IDE, untriaged

#68924 Switch 'organize imports' to use the lightweight background wait indicator
  src/EditorFeatures/CSharpTest/Organizing/OrganizeTypeDeclarationTests.cs
  src/EditorFeatures/Core/Organizing/OrganizeDocumentCommandHandler.cs
  src/EditorFeatures/VisualBasicTest/Organizing/OrganizeTypeDeclarationTests.vb
  src/VisualStudio/IntegrationTest/IntegrationTests/VisualBasic/BasicOrganizing.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpOrganizing.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute.cs
Labels: Area-IDE, untriaged

#68964 Fix incremental build issue with CompilerApiVersion
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
Labels: Area-Compilers

#68914 Improve detection of ambiguous type-or-value receiver when it possibly refers to a captured primary constructor parameter
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers, untriaged, New Feature - Primary Constructors

#68970 Update to Microsoft.CodeAnalysis.Testing 1.1.2-beta1.23357.1
  eng/Versions.props
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2+Test.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2+Test.cs
Labels: Area-IDE, untriaged

#68965 Disallow test compositions with include/exclude parts overlapping
  src/EditorFeatures/TestUtilities2/Intellisense/TestState.vb
  src/Workspaces/CoreTestUtilities/MEF/TestComposition.cs
Labels: Area-IDE, untriaged

#68981 Add EE tests for Inline Arrays
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ExpressionCompilerTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/Microsoft.CodeAnalysis.CSharp.ExpressionCompiler.UnitTests.csproj
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68721 Crossgen for .NET 8
  eng/Versions.props
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
  src/Workspaces/Remote/ServiceHub.CoreComponents/arm64/Microsoft.CodeAnalysis.Remote.ServiceHub.CoreComponents.arm64.csproj
  src/Workspaces/Remote/ServiceHub.CoreComponents/x64/Microsoft.CodeAnalysis.Remote.ServiceHub.CoreComponents.x64.csproj
Labels: Area-IDE, untriaged

#68909 Break individual string literals into multiple spell checking spans for all the individual words within them.
  src/EditorFeatures/CSharpTest/SpellCheck/SpellCheckSpanTests.cs
  src/Features/CSharp/Portable/SpellCheck/CSharpSpellCheckSpanService.cs
  src/Features/Core/Portable/SpellCheck/AbstractSpellCheckSpanService.cs
  src/Features/VisualBasicTest/SpellCheck/SpellCheckSpanTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/EmbeddedLanguages/VirtualChars/VirtualChar.cs
Labels: Area-IDE, untriaged

#68428 Fix indentation behavior of convert to block-body namespace
  src/Analyzers/CSharp/CodeFixes/ConvertNamespace/ConvertNamespaceCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/ConvertNamespace/ConvertNamespaceTransform.cs
  src/Analyzers/CSharp/Tests/ConvertNamespace/ConvertToBlockScopedNamespaceAnalyzerTests.cs
  src/EditorFeatures/CSharpTest/Formatting/CSharpNewDocumentFormattingServiceTests.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/Features/CSharp/Portable/ConvertProgram/ConvertProgramTransform_TopLevelStatements.cs
  src/Features/CSharp/Portable/Formatting/CSharpNamespaceDeclarationNewDocumentFormattingProvider.cs
  src/Features/CSharpTest/ConvertNamespace/ConvertNamespaceRefactoringFixAllTests.cs
  src/Features/CSharpTest/ConvertNamespace/ConvertNamespaceRefactoringTests.cs
  src/Features/CSharpTest/ConvertProgram/ConvertToTopLevelStatementsAnalyzerTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeActions/CSharpCodeFixOptionsProvider.cs
Labels: Area-IDE, untriaged

#68986 Address PROTOTYPE comment in interceptors proposal
  docs/features/interceptors.md
Labels: Area-Compilers, untriaged

#68951 Translate `ref readonly` in new synthetic call factory and unskip arglist tests
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#68980 Add Inline Arrays to Compiler Test Plan.md
  docs/contributing/Compiler Test Plan.md
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68960 Fix `unmanaged` type-parameter generation. And fix `init` accessor generation.
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, untriaged

#69003 Use SelectAsArray instead of ArrayBuilder
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingSymbolTranslator.cs
Labels: Area-Compilers, untriaged

#69008 Move to new OSX queue
  azure-pipelines.yml
Labels: Area-Infrastructure, untriaged

#68987 Remove Go To Symbol TypeScript service
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/IVSTypeScriptGoToSymbolServiceImplementation.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptGoToSymbolService.cs
Labels: Area-IDE, Community, untriaged

#68739 Allow client to configure language for resources
  eng/Versions.props
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.InitializationOptions.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspFileChangeWatcher.cs
  src/Features/LanguageServer/Protocol/Handler/IInitializeManager.cs
  src/Features/LanguageServer/Protocol/Handler/InitializeManager.cs
  src/Features/LanguageServer/Protocol/Handler/RequestContextFactory.cs
  src/Features/LanguageServer/Protocol/Handler/ServerLifetime/InitializeHandler.cs
  src/Features/LanguageServer/Protocol/IClientCapabilitiesProvider.cs
  src/Features/LanguageServer/Protocol/RoslynLanguageServer.cs
  src/Features/LanguageServer/Protocol/RoslynRequestExecutionQueue.cs
  src/Features/LanguageServer/ProtocolUnitTests/Initialize/LocaleTests.cs
Labels: Area-IDE, LSP, untriaged

#69024 DocumentSymbol name field cannot be empty
  src/Features/LanguageServer/Protocol/Handler/Symbols/DocumentSymbolsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Symbols/DocumentSymbolsTests.cs
Labels: Area-IDE, untriaged

#69006 Update signature matching rule in interceptors
  docs/features/interceptors.md
Labels: Area-Compilers, untriaged

#68962 Fix assertion failure in semantic model for file-local extension methods
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
Labels: Area-Compilers, untriaged

#68728 Emit modopt for ref readonly parameters in function pointers
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/RefKindExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/CustomModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#68607 Enhance the SARIF v2 log to report analyzer execution time
  docs/compilers/Error Log Format.md
  src/Compilers/CSharp/Test/CommandLine/SarifErrorLoggerTests.cs
  src/Compilers/CSharp/Test/CommandLine/SarifV1ErrorLoggerTests.cs
  src/Compilers/CSharp/Test/CommandLine/SarifV2ErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/CommandLine/ErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/ReportAnalyzerUtil.cs
  src/Compilers/Core/Portable/CommandLine/SarifV1ErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/SarifV2ErrorLogger.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Test/Core/Compilation/DiagnosticBagErrorLogger.cs
  src/Compilers/Test/Core/Compilation/NullErrorLogger.cs
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/Compilers/Test/Utilities/CSharp/MockCSharpCompiler.cs
  src/Compilers/Test/Utilities/VisualBasic/MockVisualBasicCompiler.vb
  src/Compilers/VisualBasic/Test/CommandLine/SarifErrorLoggerTests.vb
  src/Compilers/VisualBasic/Test/CommandLine/SarifV1ErrorLoggerTests.vb
  src/Compilers/VisualBasic/Test/CommandLine/SarifV2ErrorLoggerTests.vb
Labels: Area-Analyzers, Area-Compilers, untriaged

#68864 Warn on shadowing primary constructor parameter by a member from base
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedPrimaryConstructor.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged, New Feature - Primary Constructors

#69037 Only produce string-subspans for spell checking when they contain an escape character
  src/EditorFeatures/CSharpTest/SpellCheck/SpellCheckSpanTests.cs
  src/Features/CSharp/Portable/SpellCheck/CSharpSpellCheckSpanService.cs
  src/Features/Core/Portable/SpellCheck/AbstractSpellCheckSpanService.cs
  src/Features/Core/Portable/SpellCheck/ISpellCheckingSpanService.cs
  src/Features/VisualBasic/Portable/SpellCheck/VisualBasicSpellCheckSpanService.vb
  src/Features/VisualBasicTest/SpellCheck/SpellCheckSpanTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
Labels: Area-IDE, untriaged

#68948 Misc improvements of OneOrMany
  src/Compilers/CSharp/Test/Symbol/Symbols/ConversionTests.cs
  src/Compilers/Core/CodeAnalysisTest/InternalUtilities/OneOrManyTests.cs
  src/Compilers/Core/Portable/InternalUtilities/OneOrMany.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/DeclarationBody.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
Labels: Area-Compilers

#68982 bumped telemetry 17.8.9
  eng/Versions.props
Labels: Area-Infrastructure, Community, untriaged

#69011 Cache RetargetingParameterSymbol.TypeWithAnnotations to avoid ~8.3% allocations in a trace
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingParameterSymbol.cs
Labels: Area-Compilers, Community

#69045 Port 68919 to 17.7
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/Lexer_StringLiteral.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/LexicalErrorTests.cs
Labels: Area-Compilers, OnDeckForQB

#69033 Make the new `RefKind.RefReadonlyParameter` sequential
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/RefKind.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#69058 Move CollectionLiteralTests.cs to Emit2
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionLiteralTests.cs
Labels: Area-Compilers, untriaged

#69043 Update roslyn-analyzers to 8.0.0-preview.23364.2
  eng/Versions.props
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Features/Core/Portable/PublicAPI.Unshipped.txt
  src/Scripting/Core/PublicAPI.Unshipped.txt
  src/Tools/ExternalAccess/AspNetCore/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/FSharp/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/OmniSharp/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/Razor/InternalAPI.Unshipped.txt
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Infrastructure, untriaged

#69062 Fix NRE in TypedConstantComparer
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
Labels: Area-Interactive, untriaged

#68490 Fix ordering issue in analyzer callbacks for nested actions in symbol start analyzers
  src/Analyzers/CSharp/Analyzers/UsePrimaryConstructor/CSharpUsePrimaryConstructorDiagnosticAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
Labels: Area-Analyzers, Area-Compilers

#69010 Do not consider DOTNET_ROOT when finding dotnet
  src/Compilers/Shared/RuntimeHostInfo.cs
Labels: Area-Compilers, untriaged

#69059 Detect rude edits in trivia-only changes
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTestBase.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/LineEditTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/LineEditTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-Interactive, untriaged

#69047 Remove unused `DiagnosticBag` local in `BuildArgumentsForErrorRecovery`
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
Labels: Area-Compilers, Community, untriaged

#69071 Reduce TypeWithAnnotations array allocations for code path that don't use them
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
Labels: Area-Compilers, Community, untriaged

#69069 Reduce bool array allocations in MethodTypeInferrer.FixParameters
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
Labels: Area-Compilers, Community, untriaged

#68956 Move several value types over to being records
  src/CodeStyle/Core/Analyzers/PublicAPI.Unshipped.txt
  src/Features/Core/Portable/CodeLens/CodeLensReferencesService.cs
  src/Features/Core/Portable/CodeLens/ReferenceCount.cs
  src/Features/Lsif/Generator/Graph/Id.cs
  src/VisualStudio/CodeLens/ReferenceCodeLensProvider.cs
  src/Workspaces/Core/Portable/Editing/DeclarationModifiers.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferenceLocation.cs
  src/Workspaces/Core/Portable/Options/OptionKey.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Remote/RemoteServiceCallbackId.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/RelatedLocation.cs
  src/Workspaces/Core/Portable/Workspace/Solution/LoadTextOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/EditorConfig/Parsing/Sections/Section.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/EmbeddedLanguages/VirtualChars/VirtualChar.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/OptionKey2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/System.Text/Rune.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/SyntaxPath.cs
Labels: Area-IDE, untriaged

#69090 Mark interceptors feature as merged
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged

#69005 Simplify core lexing switch
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
Labels: Area-Compilers, untriaged

#68936 Reduce allocations of Location instances
  src/Compilers/CSharp/Portable/Binder/Binder_Await.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/UsingStatementBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/ConstantValueUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFixedFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
Labels: Area-Compilers, Community

#69089 Fix issue where we were offering an invalid coalesce (??) simplication
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UseCoalesceExpression/CSharpUseCoalesceExpressionForNullableTernaryConditionalCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCoalesceExpression/CSharpUseCoalesceExpressionForTernaryConditionalCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCoalesceExpression/UseCoalesceExpressionHelpers.cs
  src/Analyzers/CSharp/Tests/UseCoalesceExpression/UseCoalesceExpressionForNullableTernaryConditionalCheckTests.cs
  src/Analyzers/Core/Analyzers/UseCoalesceExpression/AbstractUseCoalesceExpressionForNullableTernaryConditionalCheckDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/UseCoalesceExpression/VisualBasicUseCoalesceExpressionForNullableTernaryConditionalCheckDiagnosticAnalyzer.vb
Labels: Area-IDE, untriaged

#69072 Update 'initialize member from parameter' to work with primary constructors.
  SpellingExclusions.dic
  src/Analyzers/CSharp/CodeFixes/AssignOutParameters/AbstractAssignOutParametersCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/ConvertToRecord/PositionalParameterInfo.cs
  src/Features/CSharp/Portable/InitializeParameter/CSharpInitializeMemberFromParameterCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InitializeParameter/CSharpInitializeMemberFromPrimaryConstructorParameterCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/InitializeParameter/CSharpInitializeMemberFromPrimaryConstructorParameterCodeRefactoringProvider_Update.cs
  src/Features/CSharp/Portable/InitializeParameter/InitializeParameterHelpers.cs
  src/Features/CSharpTest/InitializeParameter/InitializeMemberFromPrimaryConstructorParameterTests.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeMemberFromParameterCodeRefactoringProviderMemberCreation.cs
  src/Features/Core/Portable/InitializeParameter/AbstractInitializeParameterCodeRefactoringProvider.cs
  src/Features/Core/Portable/InitializeParameter/InitializeParameterHelpersCore.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SemanticModelExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeGeneration/PropertyGenerator.cs
Labels: Area-IDE, untriaged

#68772 Remove redundant SourceBuildTrimNetFrameworkTargets property
  eng/SourceBuild.props
Labels: Area-Infrastructure, Community, untriaged

#68967 Fix missing duplicate diagnostic for enum declarations
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
Labels: Area-Compilers, untriaged

#68765 Improve sequence point placement in primary constructors and records
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DebugInfoInjector.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DebugInfoInjector_SequencePoints.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordCopyCtor.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBLambdaTests.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/Core/Portable/CodeGen/ILBuilder.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/BreakpointSpansTests.cs
  src/Features/CSharp/Portable/EditAndContinue/BreakpointSpans.cs
Labels: Area-Compilers

#68680 Relax ref readonly parameter signature matching
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#69032 Allow default values for `ref readonly` parameters
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/ParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#69034 Widen `RefKindVector` to hold `RefReadonlyParameter`
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LoweredDynamicOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/AnonymousTypeManager.Templates.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/RefKindVector.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/CompilationEmitTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/SymbolMatcherTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#69088 Run ref safety analysis for field initializers on bound nodes transformed to assignments to the target fields.
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, untriaged, New Language Feature - Ref Fields, New Feature - Primary Constructors

#69096 Disallow declaring readonly, volatile, or fixed size buffer fields as element fields of an inline array type.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68889 Implement simple LSP run tests
  eng/Versions.props
  src/Features/CSharp/Portable/Testing/CSharpTestMethodFinder.cs
  src/Features/CSharpTest/Testing/CSharpTestMethodFinderTests.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/Testing/AbstractTestMethodFinder.cs
  src/Features/Core/Portable/Testing/ITestMethodFinder.cs
  src/Features/Core/Portable/Testing/TestFrameworks/ITestFrameworkMetadata.cs
  src/Features/Core/Portable/Testing/TestFrameworks/MSTestTestFrameworkMetadata.cs
  src/Features/Core/Portable/Testing/TestFrameworks/NUnitTestFrameworkMetadata.cs
  src/Features/Core/Portable/Testing/TestFrameworks/XUnitTestFrameworkMetadata.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/DotnetCliHelper.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Microsoft.CodeAnalysis.LanguageServer.csproj
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/ServerConfigurationFactory.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/RunTestsHandler.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestDiscoverer.DiscoveryHandler.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestDiscoverer.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestRunner.TestRunHandler.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestRunner.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Testing/RunTestsParams.cs
  src/Features/LanguageServer/Protocol/Handler/Testing/RunTestsPartialResult.cs
  src/Features/LanguageServer/Protocol/Handler/Testing/TestProgress.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeLens/AbstractCodeLensTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeLens/CSharpCodeLensTests.cs
Labels: Area-IDE, untriaged

#68412 Avoid cancellation exceptions in async queue implementation
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/Workspaces/Core/Portable/Shared/Utilities/AsyncBatchingWorkQueue`2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/TestHooks/ValueTaskExtensions.cs
Labels: Area-IDE, untriaged

#69107 Do not offer 'use collection initializer' in a specific VB case
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/UseCollectionInitializerAnalyzer.cs
  src/Analyzers/VisualBasic/Tests/UseCollectionInitializer/UseCollectionInitializerTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
Labels: Area-IDE, untriaged

#69101 Don't offer to simplify lambdas if it would change semantics
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryLambdaExpression/RemoveUnnecessaryLambdaExpressionTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SemanticEquivalence.cs
Labels: Area-IDE, untriaged

#69091 Add missing IDE buddies to feature status page
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#69102 Address feedback on File types EE support
  src/Compilers/CSharp/Portable/Symbols/FileIdentifier.cs
  src/Compilers/Core/Portable/Text/SourceHashAlgorithms.cs
Labels: Area-Compilers, untriaged

#69110 Don't create a .exe when building platform neutral language server bits
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Microsoft.CodeAnalysis.LanguageServer.csproj
Labels: Area-IDE, untriaged

#69017 Consolidate Interlocked initialize implementations
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/MethodSymbol.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.cs
  src/Compilers/Core/Portable/InternalUtilities/InterlockedOperations.cs
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEMethodSymbol.vb
  src/Features/Core/Portable/Navigation/NavigableItemFactory.SymbolLocationNavigableItem.cs
  src/Tools/ExternalAccess/Razor/RazorDocumentServiceProviderWrapper.cs
  src/Workspaces/Core/Portable/Workspace/Solution/RecoverableTextAndVersion.RecoverableText.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.SymbolToProjectId.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Context/FormattingContext.IndentationData.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/TokenStream.Changes.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/LazyInitialization.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/ReferenceCountedDisposable.cs
Labels: Area-Compilers, untriaged

#69112 Record completion of "collection expressions"
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#69085 Add support for IDE scenarios related to `ref readonly` parameters
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNormalizerTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/CrefCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ReadOnlyKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/CrefCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ReadOnlyKeywordRecommender.cs
  src/Features/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/Features/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests_ThroughMember.cs
  src/Features/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSyntaxGeneratorInternal.cs
Labels: Area-IDE, untriaged, New Feature - Ref Readonly Parameters

#69064 Warn that a user-defined API on an inline array type won’t be used by the language for an element access expression
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#69114 Rename collection literals to collection expressions
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/CollectionLiteralTypeKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Formatting.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionLiteral.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_WhileStatement.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IArrayElementReferenceExpression.cs
  src/Compilers/CSharp/Test/Syntax/IncrementalParsing/IncrementalParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
Labels: Area-Compilers, untriaged

#69098 Implement `IsMoveableVariable` check for inline array element access.
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#69128 LSP: add empty commands array to ServerCapabilites.ExecuteCommandProvider
  src/Features/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
Labels: Community

#69028 Improve EnC analysis to handle active statements in primary constructors
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.Methods.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/BreakpointSpansTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/Helpers/EditingTestBase.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/LineEditTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementMatchingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/Test/EditAndContinue/ActiveStatementsMapTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/ActiveStatementsDescription.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/SourceMarkers.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/ActiveStatementTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/BreakpointSpansTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/Helpers/EditingTestBase.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/StatementMatchingTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/BreakpointSpans.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/CSharpLambdaBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/CopyConstructorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/ExplicitAutoPropertyAccessorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/FieldWithInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/InstanceConstructorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/OrdinaryInstanceConstructorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/OrdinaryInstanceConstructorWithExplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/OrdinaryInstanceConstructorWithImplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PrimaryConstructorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PrimaryConstructorWithExplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PrimaryConstructorWithImplicitInitializerDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PropertyOrIndexerAccessorDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PropertyOrIndexerAccessorWithExplicitBodyDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/PropertyOrIndexerWithExplicitBodyDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/RecordParameterDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/SimpleMemberBody.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/TopLevelCodeDeclarationBody.cs
  src/Features/CSharp/Portable/EditAndContinue/SyntaxUtilities.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractSimpleMemberBody.cs
  src/Features/Core/Portable/EditAndContinue/ActiveStatementEnvelope.cs
  src/Features/Core/Portable/EditAndContinue/ActiveStatementsMap.cs
  src/Features/Core/Portable/EditAndContinue/DeclarationBody.cs
  src/Features/Core/Portable/EditAndContinue/MemberBody.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/BidirectionalMap.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/Extensions.cs
  src/Features/VisualBasic/Portable/EditAndContinue/BreakpointSpans.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/FieldOrPropertyDeclarationBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/FieldWithMultipleAsNewClauseDeclarationBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/MethodBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/PropertyWithInitializerDeclarationBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/PropertyWithNewClauseDeclarationBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/VisualBasicLambdaBody.vb
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
  src/Workspaces/Core/Portable/Differencing/Edit.cs
  src/Workspaces/Core/Portable/Differencing/MapBasedLongestCommonSubsequence.cs
Labels: Area-Interactive, untriaged

#69131 Add test for Experimental usage in Experimental method
  src/Compilers/CSharp/Test/Emit2/Semantics/ExperimentalAttributeTests.cs
Labels: Area-Compilers, Test, untriaged

#69095 Remove tracking link to issue 44902
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordCopyCtor.cs
Labels: Area-Compilers

#69083 Suppress `ref readonly` warning for extension method receiver
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#69119 Disable test codelens when devkit is enabled
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/ServerConfigurationFactory.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensHandler.cs
  src/Features/LanguageServer/Protocol/LspOptionsStorage.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeLens/AbstractCodeLensTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeLens/CSharpCodeLensTests.cs
  src/VisualStudio/Core/Test.Next/Options/VisualStudioOptionStorageTests.cs
Labels: Area-IDE, untriaged

#69121 Localize the output of run tests
  src/EditorFeatures/TestUtilities/EditorTestCompositions.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServerResources.resx
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Microsoft.CodeAnalysis.LanguageServer.csproj
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/RunTestsHandler.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestDiscoverer.DiscoveryHandler.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestDiscoverer.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestRunner.TestRunHandler.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/TestRunner.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.cs.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.de.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.es.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.fr.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.it.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.ja.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.ko.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.pl.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.pt-BR.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.ru.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.tr.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.zh-Hans.xlf
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/xlf/LanguageServerResources.zh-Hant.xlf
  src/Features/LanguageServer/Protocol/LanguageServerResources.cs
Labels: Area-IDE, untriaged

#69146 Avoid allocating when comparing tokens
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-Interactive, untriaged

#69120 Fix dotnet test SDK resolution when server starts as dll
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/DotnetCliHelper.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/RunTestsHandler.cs
Labels: Area-IDE, untriaged

#69155 Fix issue where we were trimming the semicolon errantly from a class when doing override completion
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/TypeDeclarationSyntaxExtensions.cs
Labels: Area-IDE, untriaged

#69149 C# EE: Fix parameter index
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/LocalsTests.cs
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/LocalsTests.vb
Labels: Area-Interactive, untriaged

#69156 Switch way from IVsService in option persister creation
  src/VisualStudio/Core/Def/Options/VisualStudioOptionPersisterProvider.cs
  src/VisualStudio/TestUtilities2/MockServiceProvider.vb
Labels: Area-IDE, untriaged

#69174 Analyze primary constructor parameter captures
  src/Compilers/CSharp/Portable/Syntax/LambdaUtilities.cs
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/Helpers/EditingTestBase.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/Test/EditAndContinue/RudeEditDiagnosticTests.cs
  src/Features/CSharp/Portable/EditAndContinue/DeclarationBody/CSharpLambdaBody.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/DeclarationBody.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/MemberBody.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/Extensions.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/EditAndContinue/DeclarationBody/VisualBasicLambdaBody.vb
Labels: Area-IDE, untriaged

#69171 Small simplifications in helper functions.
  src/Analyzers/CSharp/CodeFixes/ConvertToAsync/CSharpConvertToAsyncMethodCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/ConvertToRecord/ConvertToRecordEngine.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/PartialTypeCompletionProvider.cs
  src/Features/CSharp/Portable/ExtractMethod/Extensions.cs
  src/Features/CSharp/Portable/GenerateType/CSharpGenerateTypeService.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceVariableService_IntroduceLocal.cs
  src/Features/CSharp/Portable/Organizing/Organizers/MemberDeclarationsOrganizer.Comparer.cs
  src/VisualStudio/CSharp/Impl/CodeModel/CSharpCodeModelService.cs
  src/Workspaces/CSharp/Portable/FindSymbols/CSharpDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpEscapingReducer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/TypeDeclarationSyntaxExtensions.cs
Labels: Area-IDE, untriaged

#69070 Reduce `HashSet<TypeWithAnnotations>` allocations in MethodTypeInferrer.Fix
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
Labels: Area-Compilers, Community, untriaged

#69144 Surface a warning at the declaration site for language incompatible [InlineArray] types
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#69187 Update 'implement interface/abstract type' to support primary constructors.
  src/Features/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests_ThroughMember.cs
  src/Features/CSharpTest/ImplementInterface/ImplementInterfaceTests.cs
  src/Features/Core/Portable/ImplementAbstractClass/AbstractImplementAbstractClassCodeFixProvider.cs
  src/Features/Core/Portable/ImplementAbstractClass/ImplementAbstractClassData.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.State.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.cs
  src/Features/Core/Portable/ImplementInterface/ImplementHelpers.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SyntaxGeneratorExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
Labels: Area-IDE, untriaged

#69025 Add support for ref fields and scoped ref parameters to SyntaxGenerator
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/Core/Portable/Editing/DeclarationModifiers.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-IDE, Community, untriaged

#69186 Enable building with a dotnet not on PATH
  src/Compilers/Shared/RuntimeHostInfo.cs
Labels: Area-Compilers, Community, untriaged

#68930 Collection literals: collection builder methods
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/CollectionLiteralTypeKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionLiteral.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousManager.TypeOrDelegatePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeOrDelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/AttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/TypeWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/TypeWellKnownEarlyAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ImplicitNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
Labels: Area-Compilers, untriaged

#69198 Update PublishData.json for 17.8 P1 snap
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#69145 Remove newly documented rules from list
  src/Features/RulesMissingDocumentation.md
Labels: Area-Infrastructure, Community, untriaged

#69191 Use variable group for apiscan
  azure-pipelines-compliance.yml
Labels: Area-Infrastructure, untriaged

#69200 Disable local deploy of the arm64 ServiceHub project
  src/VisualStudio/Setup.ServiceHub/arm64/Roslyn.VisualStudio.ServiceHub.Setup.arm64.csproj
  src/VisualStudio/Setup.ServiceHub/arm64/source.extension.vsixmanifest
Labels: Area-IDE, untriaged

#69179 Remove unnecessary calls to `Contains` for sets
  eng/config/globalconfigs/Common.globalconfig
  src/Compilers/Core/CodeAnalysisTest/Collections/HashSet/ISet_Generic_Tests`1.cs
  src/Compilers/Core/Portable/MetadataReader/MetadataDecoder.cs
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMemberContainerTypeSymbol.vb
  src/EditorFeatures/Core/CodeDefinitionWindow/DefinitionContextTracker.cs
  src/VisualStudio/Core/Def/ChangeSignature/ChangeSignatureDialogViewModel.cs
  src/VisualStudio/Core/Def/Interop/CleanableWeakComHandleTable.cs
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProject.vb
Labels: Area-Compilers, Community, untriaged

#69211 Skip LongInitializerList on Linux for now
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Labels: Area-Compilers, untriaged

#69066 Localize C# Interactive window title
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Interactive/CSharpVsInteractiveWindowProvider.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
Labels: Area-Interactive, untriaged

#69217 Don't compare item2 with itself but with item1
  src/VisualStudio/Core/Def/TaskList/ExternalErrorDiagnosticUpdateSource.cs
Labels: Area-IDE, Community, untriaged

#68830 Source generators/track values etw
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/StateTableTests.cs
  src/Compilers/Core/Portable/CodeAnalysisEventSource.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/BatchNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/CombineNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/InputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeExtensions.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SourceOutputNode.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/TransformNode.cs
Labels: Area-Compilers

#69207 Collection expressions: rename files
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/CollectionExpressionTypeKind.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionExpressionParsingTests.cs
Labels: Area-Compilers, untriaged

#69020 Relax method conversions with ref readonly parameters
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol_ImplementationChecks.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#69104 Allow parsing `ref readonly` parameters in `cref`
  src/Compilers/CSharp/Portable/Binder/Binder_Crefs.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/DocumentationCommentParser.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/CrefParameterSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/CrefTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CrefParsingTests.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#69190 Use consistent failure mode for inline arrays that have unsupported element fields due to different reasons.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#69212 Ensure proper definite assignment analysis for an inline array that is not supported by language.
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#69240 Update `ref readonly` parameters feature status
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#69118 Initial support for a set of analyzers/fixers to update existing code to use collection expressions.
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForArrayDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixesResources.resx
  src/Analyzers/CSharp/CodeFixes/UseCollectionExpression/CSharpUseCollectionExpressionForArrayCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.cs.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.de.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.es.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.fr.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.it.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.ja.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.ko.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.pl.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.pt-BR.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.ru.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.tr.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.zh-Hans.xlf
  src/Analyzers/CSharp/CodeFixes/xlf/CSharpCodeFixesResources.zh-Hant.xlf
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForArrayTests.cs
  src/Analyzers/Core/Analyzers/AnalyzerOptionsProvider.cs
  src/Analyzers/Core/Analyzers/EnforceOnBuildValues.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Features/RulesMissingDocumentation.md
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/CodeStyle/CommonCodeStyleSettingsProvider.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/BasicEditorConfigGeneratorTests.vb
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/SpeculationAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/CodeStyleOptions2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/IdeCodeStyleOptions.cs
Labels: Area-Analyzers, Story, untriaged

#69108 Update cancellation token handling behavior for certain analyzer APIs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/CompilationWithAnalyzersTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalyzerExtensions.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Analyzers

#68989 Find compatible substituted implicit extensions
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeReference.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/MutableTypeMap.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceExtensionTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/TypeUnification.cs
  src/Compilers/CSharp/Portable/Utilities/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/ExtensionTypeTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/BaseClassTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/TypeUnificationTests.cs
Labels: Area-Compilers, untriaged

#69250 Use unique name for bootstrap artifacts
  eng/pipelines/build-bootstrap.yml
Labels: Area-Infrastructure, untriaged

#69195 Update Concord dependency versions and fix nullability warnings
  eng/Versions.props
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/DkmUtilities.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/ExpressionCompiler.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/FrameDecoder.cs
Labels: Area-Interactive, Community, untriaged

#69255 Recommend `this` after `ref readonly`
  src/EditorFeatures/CSharpTest2/Recommendations/ThisKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ThisKeywordRecommender.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, untriaged, New Feature - Ref Readonly Parameters

#69262 Downgrade to non-scouting queue to unblock integration tests
  azure-pipelines-integration.yml
Labels: Area-Infrastructure, untriaged

#69241 Support the StringSyntax attribute in more cases
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/EditorFeatures/VisualBasicTest/Classification/SemanticClassifierTests.vb
  src/Features/Core/Portable/EmbeddedLanguages/EmbeddedLanguageDetector.cs
Labels: Area-IDE, untriaged

#69265 Check InlineDescription when resolving ImportCompletion items
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
Labels: Area-IDE, untriaged

#69205 Fix `ref readonly` mismatch retargeting
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#69183 Add more `ref readonly` tests and address comments
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#69261 Improve and clarify the logic when speculatively comparing old/new code to ensure semantics are the same.
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForArrayDiagnosticAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/SpeculationAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/AbstractSpeculationAnalyzer.cs
Labels: Area-IDE, untriaged

#69274 Remove hardcoded value in tagger
  src/EditorFeatures/Core/Tagging/AsynchronousViewportTaggerProvider.SingleViewportTaggerProvider.cs
Labels: Area-IDE, untriaged

#69276 Update PublishData.json after M2 snap
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#69219 Update "use collection initializer" to use a collection-expression if the user prefers that form.
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForArrayDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/UseCollectionExpressionHelpers.cs
  src/Analyzers/CSharp/Analyzers/UseCollectionInitializer/CSharpUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePrimaryConstructor/CSharpUsePrimaryConstructorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UseCollectionInitializer/CSharpUseCollectionInitializerCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseConditionalExpression/MultiLineConditionalExpressionFormattingRule.cs
  src/Analyzers/CSharp/CodeFixes/UseObjectInitializer/CSharpUseObjectInitializerCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseObjectInitializer/UseInitializerHelpers.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForArrayTests.cs
  src/Analyzers/CSharp/Tests/UseCollectionInitializer/UseCollectionInitializerTests.cs
  src/Analyzers/CSharp/Tests/UseCollectionInitializer/UseCollectionInitializerTests_CollectionExpression.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractObjectCreationExpressionAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/UseCollectionInitializerAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/UseCollectionInitializerHelpers.cs
  src/Analyzers/Core/Analyzers/UseObjectInitializer/AbstractUseObjectInitializerDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseObjectInitializer/UseNamedMemberInitializerAnalyzer.cs
  src/Analyzers/Core/CodeFixes/UseCollectionInitializer/AbstractUseCollectionInitializerCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseObjectInitializer/AbstractUseObjectInitializerCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/UseCollectionInitializer/VisualBasicUseCollectionInitializerDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/CodeFixes/UseCollectionInitializer/VisualBasicUseCollectionInitializerCodeFixProvider.vb
  src/Features/CSharp/Portable/BraceCompletion/BracketBraceCompletionService.cs
  src/Features/LanguageServer/Protocol/Features/Options/CodeActionOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/FormattingHelpers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/ElasticTriviaFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/IndentBlockFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/TokenBasedFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SyntaxNodeOrTokenExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFactsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/CodeActionOptions.cs
Labels: Area-IDE, untriaged

#69268 Reuse the workspace to better take advantage of caches when indexing
  src/Features/Lsif/Generator/Program.cs
Labels: Area-IDE, untriaged

#69254 Allow File-local type to shadow a namespace declaration in a different file
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
Labels: Area-Compilers, untriaged

#69238 Avoid array enumerator allocations in SimpleDiagnostic.Equals
  src/Compilers/Core/Portable/InternalUtilities/ArrayExtensions.cs
Labels: Area-Compilers, untriaged
