Repository dotnet/roslyn, pull requests merged in 2023-06, with the labels that each got.

#68371 add Version.Details entries for source-build product build
  eng/Version.Details.xml
Labels: Area-Infrastructure, Community, untriaged

#68317 Clear dead links to feature branches in `Language Feature Status.md`
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation, Community

#68388 Don't bind named members on missing attribute
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests.cs
Labels: Area-Compilers

#68432 Lift variable for performance in extract method
  src/Features/Core/Portable/ExtractMethod/SelectionResult.cs
Labels: Area-IDE, untriaged

#68445 Change insertion target for release/dev17.7
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#68430 Rename interceptors feature flag
  docs/features/interceptors.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
Labels: Area-Compilers

#68423 Fix LSIF indexing handling of duplicate analyzer references
  src/Features/Lsif/Generator/Program.cs
  src/Workspaces/Core/Portable/Workspace/CommandLineProject.cs
  src/Workspaces/CoreTest/CommandLineProject/CommandLineProjectTests.cs
Labels: Area-IDE, untriaged

#68446 Update Language Feature Status to add IDE buddy
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged

#68334 Fix completions after `unsafe` in using directive
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/KeywordCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/DelegateKeywordRecommender.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTokenExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/SyntaxTreeExtensions.cs
Labels: Area-IDE, Community, untriaged

#68434 Inline Hints - Don't allow double click and insert params arguments
  src/EditorFeatures/Test2/InlineHints/CSharpInlineParameterNameHintsTests.vb
  src/EditorFeatures/Test2/InlineHints/VisualBasicInlineParameterNameHintsTests.vb
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
Labels: Area-IDE, untriaged

#68444 Set TypeDeclarationFlags.AnyMemberHasAttributes for a type with parameter list and a method-targeted attribute.
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers, untriaged, New Feature - Primary Constructors

#68470 Disable MacOS on PRs
  azure-pipelines.yml
Labels: Area-Infrastructure, untriaged

#68468 Skip test that is causing issues in CI
  src/Compilers/CSharp/Test/Emit/PDB/PDBUsingTests.cs
Labels: Area-Compilers, untriaged

#68448 Fix 'use local function' with implicitly typed lambdas
  src/Analyzers/CSharp/Analyzers/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseLocalFunction/UseLocalFunctionTests.cs
Labels: Area-IDE, untriaged

#68442 Only record class can have a copy constructor.
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordCopyCtor.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers, untriaged, New Feature - Primary Constructors

#68441 `makeNotNullMembersMaybeNull` - skip primary constructor capture fields
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers, untriaged, New Feature - Primary Constructors

#68460 Move off of recursion when determining pp-directive information for a file.
  src/Features/CSharp/Portable/BraceMatching/CSharpDirectiveTriviaBraceMatcher.cs
  src/Features/CSharp/Portable/Highlighting/KeywordHighlighters/ConditionalPreprocessorHighlighter.cs
  src/Features/Core/Portable/BraceMatching/AbstractDirectiveTriviaBraceMatcher.cs
  src/Features/VisualBasic/Portable/BraceMatching/VisualBasicDirectiveTriviaBraceMatcher.vb
  src/Features/VisualBasic/Portable/Highlighting/KeywordHighlighters/ConditionalPreprocessorHighlighter.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/DirectiveSyntaxExtensions.DirectiveInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/DirectiveSyntaxExtensions.DirectiveSyntaxEqualityComparer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/DirectiveSyntaxExtensions.DirectiveWalker.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/DirectiveSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/DirectiveInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/DirectiveSyntaxExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/SyntaxNodeExtensions.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Utilities/DirectiveWalker.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/VisualBasicCompilerExtensions.projitems
Labels: Area-IDE, untriaged

#68426 Switch to new lower-overhead spell checking protocol
  eng/Versions.props
  src/Features/LanguageServer/Protocol/Handler/SpellCheck/AbstractSpellCheckingHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SpellCheck/DocumentSpellCheckHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SpellCheck/WorkspaceSpellCheckHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SpellCheck/SpellCheckTests.cs
Labels: Area-IDE, untriaged

#68452 Ensure we only ask for a symbol's documentation comment once
  .editorconfig
  SpellingExclusions.dic
  src/Features/CSharp/Portable/LanguageServices/CSharpSymbolDisplayService.SymbolDescriptionBuilder.cs
  src/Features/CSharp/Portable/LanguageServices/CSharpSymbolDisplayService.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AnonymousTypes.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.cs
  src/Features/Core/Portable/Shared/Extensions/ISymbolExtensions_2.cs
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicSymbolDisplayService.SymbolDescriptionBuilder.vb
  src/Features/VisualBasic/Portable/LanguageServices/VisualBasicSymbolDisplayService.vb
  src/Tools/ExternalAccess/Razor/RazorClassifierAccessor.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISymbolExtensions.cs
  src/Workspaces/Core/Portable/Shared/Utilities/DocumentationComment.cs
Labels: Area-IDE

#68164 Allow parsing `ref readonly` modifier
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/ModifierTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationScopeParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RefReadonlyTests.cs
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#68390 Fix 'use primary constructor' with nested types.
  src/Analyzers/CSharp/Analyzers/UsePrimaryConstructor/CSharpUsePrimaryConstructorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UsePrimaryConstructor/UsePrimaryConstructorTests.cs
Labels: Area-IDE, untriaged

#68339 Implement definite assignment and region analysis for inline array types
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractRegionDataFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ReadWriteWalker.cs
  src/Compilers/CSharp/Test/Emit2/FlowAnalysis/FlowTestBase.cs
  src/Compilers/CSharp/Test/Emit2/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68457 Fix 'Use Local Function' fixer in code style layer
  src/Analyzers/CSharp/CodeFixes/MakeLocalFunctionStatic/MakeLocalFunctionStaticCodeFixHelper.cs
  src/Analyzers/CSharp/CodeFixes/UseLocalFunction/CSharpUseLocalFunctionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/MakeLocalFunctionStatic/MakeLocalFunctionStaticTests.cs
  src/Analyzers/CSharp/Tests/UseLocalFunction/UseLocalFunctionTests.cs
  src/CodeStyle/BannedSymbols.txt
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
Labels: Area-IDE, untriaged

#68297 Support 'foreach' for inline arrays.
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayElementRefMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayElementRefReadOnlyMethod.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68492 Update to Nerdbank.Streams 2.9.116
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#68368 [EnC] Upgrade change types for containing types
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolChanges.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
Labels: Area-Interactive, untriaged

#68497 Update version of roslyn-analyzers that Roslyn itself uses
  eng/Versions.props
  src/Analyzers/CSharp/CodeFixes/Iterator/CSharpAddYieldCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/RemoveUnnecessaryCast/CSharpRemoveUnnecessaryCastCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/UseThrowExpression/AbstractUseThrowExpressionDiagnosticAnalyzer.cs
  src/Analyzers/Core/CodeFixes/AddExplicitCast/InheritanceDistanceComparer.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/ForAssignment/AbstractUseConditionalExpressionForAssignmentCodeFixProvider.cs
  src/EditorFeatures/CSharp/DocumentationComments/XmlTagCompletionCommandHandler.cs
  src/EditorFeatures/VisualBasic/DocumentationComments/XmlTagCompletionCommandHandler.vb
  src/Features/CSharp/Portable/AddImport/CSharpAddImportFeatureService.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/XmlDocCommentCompletionProvider.cs
  src/Features/CSharp/Portable/GenerateConstructorFromMembers/CSharpGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/GenerateType/CSharpGenerateTypeService.cs
  src/Features/CSharp/Portable/Highlighting/KeywordHighlighters/LoopHighlighter.cs
  src/Features/CSharp/Portable/Highlighting/KeywordHighlighters/ReturnStatementHighlighter.cs
  src/Features/CSharp/Portable/Highlighting/KeywordHighlighters/SwitchStatementHighlighter.cs
  src/Features/CSharp/Portable/Highlighting/KeywordHighlighters/YieldStatementHighlighter.cs
  src/Features/CSharp/Portable/ReverseForStatement/CSharpReverseForStatementCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameCodeFixProvider.cs
  src/Features/CSharp/Portable/UsePatternMatching/CSharpIsAndCastCheckWithoutNameDiagnosticAnalyzer.cs
  src/Features/Core/Portable/ConvertForEachToFor/AbstractConvertForEachToForCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/EmbeddedLanguageDetector.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexDocumentHighlighter.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexEmbeddedCompletionProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/RegexParser.cs
  src/Features/Core/Portable/ExtractMethod/MethodExtractor.Analyzer.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineTypeHintsService.cs
  src/Features/Core/Portable/SymbolSearch/Windows/SymbolSearchUpdateEngine.cs
  src/Features/VisualBasic/Portable/AddImport/VisualBasicAddImportFeatureService.vb
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/ImplementsClauseCompletionProvider.vb
  src/Features/VisualBasic/Portable/GenerateType/VisualBasicGenerateTypeService.vb
  src/Features/VisualBasic/Portable/Highlighting/KeywordHighlighters/TryBlockHighlighter.vb
  src/Features/VisualBasic/Portable/InlineHints/VisualBasicInlineParameterNameHintsService.vb
  src/VisualStudio/CSharp/Test/Interactive/Commands/ResetInteractiveTests.cs
  src/VisualStudio/Core/Def/ChangeSignature/AddParameterDialogViewModel.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Test/Preview/PreviewChangesTests.vb
  src/VisualStudio/IntegrationTest/TestUtilities/InProcess/TextViewWindow_InProc.cs
  src/VisualStudio/VisualBasic/Impl/Help/VisualBasicHelpContextService.vb
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.Expander.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService_ChecksumWithChildren.cs
  src/Workspaces/CoreTest/SymbolKeyTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpRemoveUnnecessaryImportsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/VisualBasic/Portable/CodeCleanup/VisualBasicCodeCleanerService.vb
  src/Workspaces/VisualBasic/Portable/CodeGeneration/VisualBasicSyntaxGenerator.vb
Labels: Area-Infrastructure, untriaged

#68450 Add support for 'primary header spans' in sticky-scroll.
  .gitignore
  eng/Versions.props
  src/Compilers/Server/VBCSCompiler/AnalyzerConsistencyChecker.cs
  src/EditorFeatures/CSharpTest/Structure/BlockSyntaxStructureTests.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptBlockStructureService.cs
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Core/Structure/AbstractStructureTaggerProvider.cs
  src/EditorFeatures/Core/Structure/StructureTag.cs
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
  src/EditorFeatures/TestUtilities/Microsoft.CodeAnalysis.EditorFeatures.Test.Utilities.csproj
  src/EditorFeatures/TestUtilities/Structure/AbstractSyntaxStructureProviderTests.cs
  src/Features/CSharp/Portable/Structure/Providers/BlockSyntaxStructureProvider.cs
  src/Features/Core/Portable/Structure/BlockSpan.cs
  src/Features/TestUtilities/Microsoft.CodeAnalysis.Features.Test.Utilities.csproj
  src/Tools/ExternalAccess/FSharp/Internal/Structure/FSharpBlockStructureService.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/Workspaces/Remote/Core/Microsoft.CodeAnalysis.Remote.Workspaces.csproj
Labels: Area-IDE, untriaged

#68505 Remove duplicate NPM publishing step
  eng/publish-assets.ps1
Labels: Area-Infrastructure, untriaged

#68052 Add FilterTree/FilterSpan API on remaining analysis contexts
  src/Analyzers/CSharp/Analyzers/InlineDeclaration/CSharpInlineDeclarationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/MakeStructFieldsWritable/CSharpMakeStructFieldsWritableDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/MakeStructMemberReadOnly/CSharpMakeStructMemberReadOnlyAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/MakeStructReadOnly/CSharpMakeStructReadOnlyDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryNullableDirective/CSharpRemoveUnnecessaryNullableDirectiveDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnusedParametersAndValues/CSharpRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpAsAndNullCheckDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UsePatternMatching/CSharpIsAndCastCheckDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/MakeFieldReadonly/AbstractMakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.BlockAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Analyzers/Core/Analyzers/UseAutoProperty/AbstractUseAutoPropertyAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseSystemHashCode/UseSystemHashCodeDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnusedParametersAndValues/VisualBasicRemoveUnusedParametersAndValuesDiagnosticAnalyzer.vb
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisResultBuilder.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisScope.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticStartAnalysisScope.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/CSharp/Portable/Diagnostics/Analyzers/CSharpSimplifyTypeNamesDiagnosticAnalyzer.cs
  src/Features/VisualBasic/Portable/Diagnostics/Analyzers/VisualBasicSimplifyTypeNamesDiagnosticAnalyzer.vb
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/AnalysisContextExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SyntaxTreeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Helpers/RemoveUnnecessaryImports/AbstractUnnecessaryImportsProvider.cs
Labels: Area-Analyzers, Area-Compilers, untriaged, Performance-Scenario-Diagnostics

#68500 Adds workarounds for Project System bugs in VS Code and a missing des…
  src/Features/Core/Portable/EditAndContinue/EditAndContinueMethodDebugInfoReader.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/BrokeredServices/Services/Descriptors.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProject.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
Labels: Area-IDE, untriaged

#68342 Implement extension member lookup (non-generic)
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Binder_XmlNameAttribute.cs
  src/Compilers/CSharp/Portable/Binder/ExtensionMethodScope.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/InContainerBinder.cs
  src/Compilers/CSharp/Portable/Binder/LookupOptions.cs
  src/Compilers/CSharp/Portable/Binder/WithUsingNamespacesAndTypesBinder.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Symbols/NamespaceOrTypeSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ExtensionTypeTests.cs
Labels: Area-Compilers

#68382 Update our 'delay until visible' logic to not throw cancellation exceptions
  src/EditorFeatures/Core/NavigationBar/NavigationBarController_ModelComputation.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Core/Workspaces/ITextBufferVisibilityTracker.cs
Labels: Area-IDE, untriaged

#68242 Expect mapped paths in InterceptsLocationAttribute
  docs/features/interceptors.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
Labels: Area-Compilers

#68447 Add assertions for shape of possibly intercepted call
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
Labels: Area-Compilers, untriaged

#68507 Avoid UI state manipulation on background thread
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs
Labels: Area-IDE, untriaged

#68522 Reduce allocations in outlining in pathlogical files
  src/Features/CSharp/Portable/Structure/Providers/StringLiteralExpressionStructureProvider.cs
  src/Features/Core/Portable/Structure/BlockStructureContext.cs
  src/Features/Core/Portable/Structure/BlockStructureProvider.cs
  src/Features/Core/Portable/Structure/BlockStructureServiceWithProviders.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Labels: Area-IDE, untriaged

#68525 Prevent Uri/char[] allocs in RoslynErrorTag.Equals
  src/EditorFeatures/Core/Diagnostics/AbstractDiagnosticsAdornmentTaggerProvider.RoslynErrorTag.cs
Labels: Area-IDE, untriaged

#68386 Fix HasFileLocalTypes check for constructed types
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousManager.TypeOrDelegatePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeOrDelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ExtendedErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MissingMetadataTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaAmbiguousCanonicalTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaIllegalGenericInstantiationSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NoPiaMissingCanonicalTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PlaceholderTypeArgumentSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/UnboundGenericType.cs
  src/Compilers/CSharp/Portable/Symbols/UnsupportedMetadataTypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
Labels: Area-Compilers, untriaged

#68316 Skip checks for overridden or hidden members in overload resolution with extension methods
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionPerfTests.cs
Labels: Area-Compilers, untriaged

#68535 Fix missing comma classification in json classification
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests.cs
  src/Features/Core/Portable/EmbeddedLanguages/Json/LanguageServices/JsonClassifier.cs
Labels: Area-IDE, untriaged

#68523 Remove CPD attribute on DiaSymReader dependency
  eng/Version.Details.xml
Labels: Area-Infrastructure, Community, untriaged

#68502 Extract a common helper for adding/getting private implementation class methods.
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68509 Ensure adequate SemanticModel coverage for inline arrays.
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68547 Fix non-deterministic ordering of quick actions
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource_Async.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpCodeActions.cs
Labels: Area-IDE, untriaged

#68456 Refine parsing of potentially ambiguous casts/index expressions with collection literals
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaAttributeParsingTests.cs
Labels: Area-Compilers, untriaged

#68558 Point manual publishing to public feed
  azure-pipelines-official.yml
Labels: Area-IDE, untriaged

#68462 Add more interceptors tests
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
  src/EditorFeatures/CSharp/LanguageServer/CSharpLspBuildOnlyDiagnostics.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
Labels: Area-Compilers, untriaged

#68559 Fix goto-def on partial methods in LSP
  src/EditorFeatures/Core.Wpf/Peek/PeekableItemFactory.cs
  src/EditorFeatures/Core/GoToDefinition/AbstractGoToDefinitionService.cs
  src/EditorFeatures/Core/GoToDefinition/GoToDefinitionHelpers.cs
  src/Features/Core/Portable/GoToDefinition/AbstractFindDefinitionService.cs
  src/Features/Core/Portable/GoToDefinition/GoToDefinitionFeatureHelpers.cs
  src/Features/LanguageServer/ProtocolUnitTests/Definitions/GoToDefinitionTests.cs
Labels: Area-IDE, untriaged

#68331 Include file-local name prefix in names of explicit interface implementations
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayCompilerInternalOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayFormat.cs
Labels: Area-Compilers

#68261 Add new (hopefully easier) telemetry mechanism
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource_Async.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerLogger.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/VisualStudio/Core/Def/Diagnostics/VisualStudioDiagnosticAnalyzerProvider.WorkspaceEventListener.cs
  src/VisualStudio/Core/Def/Telemetry/AggregatingTelemetryLog.cs
  src/VisualStudio/Core/Def/Telemetry/AggregatingTelemetryLogManager.cs
  src/VisualStudio/Core/Def/Telemetry/TelemetryLogProvider.cs
  src/VisualStudio/Core/Def/Telemetry/TelemetryLogger.cs
  src/VisualStudio/Core/Def/Telemetry/TimedTelemetryLogBlock.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioTelemetryLog.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioTelemetryLogManager.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioWorkspaceTelemetryService.cs
  src/VisualStudio/Core/Def/Workspace/VisualStudioWorkspaceStatusServiceFactory.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
  src/Workspaces/Core/Portable/Log/KeyValueLogMessage.cs
  src/Workspaces/Core/Portable/Telemetry/ITelemetryLog.cs
  src/Workspaces/Core/Portable/Telemetry/ITelemetryLogProvider.cs
  src/Workspaces/Core/Portable/Telemetry/TelemetryLogging.cs
  src/Workspaces/Core/Portable/Telemetry/TelemetryLoggingInterpolatedStringHandler.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/PerformanceTrackerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteProcessTelemetryService.PerformanceReporter.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteProcessTelemetryService.cs
  src/Workspaces/Remote/ServiceHub/Services/ProcessTelemetry/RemoteWorkspaceTelemetryService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE, untriaged

#68564 Merge "interceptors" experimental feature to main
  docs/features/interceptors.md
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/InternalUtilities/ConcurrentDictionaryExtensions.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Test/Core/Diagnostics/DiagnosticExtensions.cs
  src/EditorFeatures/CSharp/LanguageServer/CSharpLspBuildOnlyDiagnostics.cs
Labels: Area-Compilers, untriaged

#68417 Package Microsoft.CodeAnalysis.Test.Utilities for razor
  eng/config/PublishData.json
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
Labels: Area-Infrastructure, untriaged

#68577 Only make members required when RequiredMemberAttribute is present
  src/Analyzers/CSharp/CodeFixes/MakeMemberRequired/CSharpMakeMemberRequiredCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/MakeMemberRequired/MakeMemberRequiredTests.cs
Labels: Area-IDE, untriaged

#68551 Improve error reporting around inline array access.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenInParametersTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternSwitchTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68409 add review comment to sb files
  .github/CODEOWNERS
  eng/SourceBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Labels: Area-Infrastructure, Community, untriaged

#68557 Remove stale comments
  src/Compilers/CSharp/Test/Symbol/Compilation/UsedAssembliesTests.cs
Labels: Area-Compilers, Test, untriaged

#68571 Fix error message when trying to use using-static with an invalid type
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolKindExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/UsingAliasTests.cs
Labels: Area-Compilers, untriaged

#68596 Fix document-highlights not working in vscode
  src/Features/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
Labels: Area-IDE, untriaged

#68605 Use GetContainingLineNumber() to reduce allocations
  src/EditorFeatures/Core/Shared/Extensions/ITextViewExtensions.cs
  src/EditorFeatures/Core/Shared/Extensions/SnapshotPointExtensions.cs
  src/EditorFeatures/Test2/Rename/RenameCommandHandlerTests.vb
  src/EditorFeatures/VisualBasic/LineCommit/CommitBufferManager.vb
  src/EditorFeatures/VisualBasicTest/ImplementInterface/ImplementInterfaceCommandHandlerTests.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitOnEnterTests.vb
Labels: Area-IDE, untriaged

#68604 Fix issues with 'use conditional' when using pattern variables
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForAssignment/UseConditionalExpressionForAssignmentHelpers.cs
Labels: Area-IDE, untriaged

#68608 Move to newer CodeStyle, dotnet-format and compiler toolset NuGet packages
  dotnet-tools.json
  eng/Versions.props
  src/Analyzers/CSharp/Tests/HideBase/HideBaseTests.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/Extensions.cs
  src/VisualStudio/Core/Test.Next/Remote/SnapshotSerializationTests.cs
Labels: Area-Infrastructure, untriaged

#68612 Fix 'use primary constructor' in the presence of directives
  src/Analyzers/CSharp/Analyzers/UsePrimaryConstructor/CSharpUsePrimaryConstructorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UsePrimaryConstructor/UsePrimaryConstructorTests.cs
Labels: Area-IDE, untriaged

#68561 Improve collection literal parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
Labels: Area-Compilers, untriaged

#68619 Prevent `EditAndContinueFeedbackDiagnosticFileProvider` from throwing an exception in Razor scenarios
  src/VisualStudio/Core/Def/EditAndContinue/EditAndContinueFeedbackDiagnosticFileProvider.cs
Labels: Area-Interactive, untriaged

#68624 Adjust edit span for LSP completion when triggered in the middle of a word
  src/Features/LanguageServer/Protocol/Handler/Completion/AbstractLspCompletionResultCreationService.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/ILspCompletionResultCreationService.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
Labels: Area-IDE, untriaged

#68528 Update Telemetry Package version to 17.7.47
  eng/Versions.props
Labels: Area-Infrastructure, Community, untriaged

#68508 Semantic snippets - `for` and `forr` snippets
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpForSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpForrSnippetCompletionProviderTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/Completion/CompletionProviders/SnippetCompletionProvider.cs
  src/Features/CSharp/Portable/Snippets/AbstractCSharpForLoopSnippetProvider.cs
  src/Features/CSharp/Portable/Snippets/CSharpForLoopSnippetProvider.cs
  src/Features/CSharp/Portable/Snippets/CSharpReversedForLoopSnippetProvider.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractForLoopSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractInlineStatementSnippetProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFactsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Utilities/NameGenerator.cs
Labels: Area-IDE, Community, untriaged

#68627 Suppress formatter-based serialization warnings in MetadataWriter
  src/Compilers/Core/Portable/PEWriter/MetadataWriter.cs
Labels: Area-Compilers, untriaged

#68494 Handle folders in source-generated file paths
  src/VisualStudio/Core/Def/Workspace/SourceGeneratedFileManager.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpSourceGenerators.cs
  src/Workspaces/TestAnalyzerReference/HelloWorldGenerator.cs
Labels: Area-IDE, New Feature - Source Generators, untriaged

#68625 Reduce allocations in ArrayBuilder.AddMany
  src/Dependencies/PooledObjects/ArrayBuilder.cs
Labels: Area-Infrastructure, Community, untriaged

#68615 Convert xml references when moving to primary constructors
  src/Analyzers/CSharp/CodeFixes/UsePrimaryConstructor/CSharpUsePrimaryConstructorCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UsePrimaryConstructor/CSharpUsePrimaryConstructorCodeFixProvider_DocComments.cs
  src/Analyzers/CSharp/Tests/UsePrimaryConstructor/UsePrimaryConstructorTests.cs
Labels: Area-IDE, untriaged

#68613 Address a prototype comment
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68599 Refactor BindExtensionMethod method and add some assertions
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/MethodGroupResolution.cs
Labels: Area-Compilers, untriaged

#68631 Small perf improvement during code action computation.
  src/Features/Core/Portable/Wrapping/AbstractCodeActionComputer.cs
  src/Features/Core/Portable/Wrapping/SeparatedSyntaxList/SeparatedSyntaxListCodeActionComputer.cs
Labels: Area-IDE, untriaged

#68641 Move ExtensionTypeTests to Emit2 project
  src/Compilers/CSharp/Test/Emit2/Semantics/ExtensionTypeTests.cs
Labels: Area-Compilers, Test, untriaged

#68643 Fix LSP completion edit span computation
  src/Features/LanguageServer/Protocol/Handler/Completion/AbstractLspCompletionResultCreationService.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
Labels: Area-IDE, untriaged

#68647 Use newer version of msbuild
  azure-pipelines-official.yml
  global.json
Labels: Area-Infrastructure, untriaged

#68451 Fix inserting new values with source generators
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_SimpleName.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/StateTableTests.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SourceOutputNode.cs
Labels: Area-Compilers, New Feature - Source Generators, untriaged

#68645 Update EnC-Supported-Edits.md
  docs/wiki/EnC-Supported-Edits.md
Labels: Interactive-EnC, untriaged

#68651 Fix msbuild for real this time
  global.json
Labels: Area-Infrastructure, untriaged

#68633 Correctly handle trivia in inline statement snippets
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/AbstractCSharpConditionalBlockSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpForEachSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpForSnippetCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/Snippets/CSharpForrSnippetCompletionProviderTests.cs
  src/Features/CSharp/Portable/Snippets/AbstractCSharpForLoopSnippetProvider.cs
  src/Features/CSharp/Portable/Snippets/CSharpForEachLoopSnippetProvider.cs
  src/Features/CSharp/Portable/Snippets/CSharpReversedForLoopSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractIfSnippetProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractWhileLoopSnippetProvider.cs
Labels: Area-IDE, Community, untriaged

#68449 Don't rebind object initializer parents
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
Labels: Area-Compilers, untriaged

#68614 Reduce allocations in MergedNamespaceSymbol.SlowGetChildNames
  src/Compilers/CSharp/Portable/Symbols/MergedNamespaceSymbol.cs
  src/Compilers/Core/CodeAnalysisTest/CachingLookupTests.cs
  src/Compilers/Core/Portable/Collections/CachingDictionary.cs
  src/Compilers/VisualBasic/Portable/Symbols/MergedNamespaceSymbol.vb
Labels: Area-Compilers, Community, untriaged

#68504 Update language server publishing
  azure-pipelines-official.yml
  eng/Signing.props
  eng/config/PublishData.json
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Microsoft.CodeAnalysis.LanguageServer.csproj
Labels: Area-Infrastructure, untriaged

#68562 Correct interpolated string addition parts counting
  src/Compilers/CSharp/Portable/Binder/Binder_InterpolatedString.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers, untriaged

#68668 fix index out of range in generator driver
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
Labels: Area-Compilers, New Feature - Source Generators, untriaged

#68630 VisualStudioProjectFactory: import the solution service once instead …
  src/EditorFeatures/TestUtilities/StubLocalRegistry.cs
  src/EditorFeatures/TestUtilities/StubSettingsManagerHost.cs
  src/EditorFeatures/TestUtilities/StubVsServiceExporter`1.cs
  src/EditorFeatures/TestUtilities/StubVsServiceExporter`2.cs
  src/VisualStudio/Core/Def/Options/LocalUserRegistryOptionPersister.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionPersisterProvider.cs
  src/VisualStudio/Core/Def/Options/VisualStudioSettingsOptionPersister.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/TestUtilities2/CodeModel/CodeModelTestHelpers.vb
  src/VisualStudio/TestUtilities2/MockServiceProvider.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/TaskExtensions.cs
Labels: Area-IDE, Community

#68678 Enable spell checking for Razor
  src/EditorFeatures/Core/LanguageServer/RazorInProcLanguageClient.cs
Labels: Area-IDE, untriaged

#68642 Avoid `Span` creation when indexing into an inline array with a constant.
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayFirstElementRefMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayFirstElementRefReadOnlyMethod.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68347 Initialize 'Flags' and 'DeclarationModifiers' in constructor of SourceMemberMethodSymbol
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDestructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldLikeEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedConversionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedPrimaryConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordBaseEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordClone.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordDeconstruct.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordGetHashCode.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjEquals.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjectMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordOrdinaryMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPrintMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordToString.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFacts.cs
Labels: Area-Compilers, Concept-Design Debt

#68660 Omit Slice call when start is 0 and 0 <= end <=length.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68681 Service cleanup
  src/VisualStudio/Core/Def/CodeDefinitionWindow/VisualStudioCodeDefinitionWindowService.cs
  src/VisualStudio/Core/Def/ColorSchemes/ColorSchemeApplier.ClassificationVerifier.cs
  src/VisualStudio/Core/Def/ColorSchemes/ColorSchemeApplier.cs
  src/VisualStudio/Core/Def/Diagnostics/DiagnosticProgressReporter.cs
  src/VisualStudio/Core/Def/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/ErrorReporting/VisualStudioErrorReportingService.cs
  src/VisualStudio/Core/Def/LanguageClient/VisualStudioLogHubLoggerFactory.cs
  src/VisualStudio/Core/Def/Options/LocalUserRegistryOptionPersister.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionPersisterProvider.cs
  src/VisualStudio/Core/Def/Packaging/PackageInstallerServiceFactory.cs
  src/VisualStudio/Core/Def/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/Remote/VisualStudioRemoteHostClientProvider.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/Core/Def/Storage/VisualStudioCloudCacheStorageService.cs
Labels: Area-IDE, untriaged

#68620 Update references to constant fields in parameter initializers when moving to primary constructors.
  src/Analyzers/CSharp/Analyzers/UsePrimaryConstructor/CSharpUsePrimaryConstructorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UsePrimaryConstructor/CSharpUsePrimaryConstructorCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UsePrimaryConstructor/UsePrimaryConstructorTests.cs
Labels: Area-IDE, untriaged

#68179 Add and emit ref kind for ref readonly parameters
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LoweredDynamicOperationFactory.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/AnonymousTypeManager.Templates.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/EmbeddableAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenRefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/RefKind.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolDisplay/SymbolDisplayTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/VisualStudio/Core/Def/ChangeSignature/ChangeSignatureDialogViewModel.ParameterViewModels.cs
  src/VisualStudio/Core/Test/ChangeSignature/ChangeSignatureViewModelTests.vb
Labels: Area-Compilers, New Feature - Ref Readonly Parameters

#68662 Primary Constructors: Implement double storage warning for field initializers
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged, New Feature - Primary Constructors

#68597 Flesh out implementation of ref-safety rules for inline array operations.
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68684 Reduce allocations for LocalScopeBinder.BuildLocals
  src/Compilers/CSharp/Portable/Binder/EmbeddedStatementBinder.cs
  src/Compilers/CSharp/Portable/Binder/LocalScopeBinder.cs
  src/Compilers/CSharp/Portable/Binder/SimpleProgramBinder.cs
Labels: Area-Compilers, Community, untriaged

#68711 Move ref readonly parameter tests to one file
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenRefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
Labels: Area-Compilers, untriaged, New Feature - Ref Readonly Parameters

#68701 Ensure VisualStudioOptionPersister is only created once
  src/VisualStudio/Core/Def/Options/VisualStudioOptionPersisterProvider.cs
Labels: Area-IDE, untriaged

#68699 EnC: Fix variable capture analysis in presense of parameter changes
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/StatementEditingTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/StatementMatchingTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/VisualBasic/Portable/EditAndContinue/SyntaxComparer.vb
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-Interactive, untriaged

#68722 Report exceptions thrown in callbacks in Workspace.SetCurrentSolutionAsync
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Area-IDE, untriaged

#68723 Reduce number of iterations for LongInitializers test
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Labels: Area-Compilers, untriaged

#68598 Update handling of collection literals with no target type
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionLiteral.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IArrayElementReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/Test/Core/Compilation/CompilationExtensions.cs
Labels: Area-Compilers, untriaged

#68734 Fix issue parsing collection literal containing lambdas
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
Labels: Area-Compilers, untriaged

#68713 Don't expose MS.VS.LanguageServer.Protocol types from EA.Razor
  src/EditorFeatures/Core/LanguageServer/AlwaysActivateInProcLanguageClient.cs
  src/Features/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensSchema.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/AbstractSemanticTokensTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/Tools/ExternalAccess/Razor/IRazorCapabilitiesProvider.cs
  src/Tools/ExternalAccess/Razor/IRazorLanguageServerFactory.cs
  src/Tools/ExternalAccess/Razor/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/Razor/RazorLanguageServerFactoryWrapper.cs
  src/Tools/ExternalAccess/Razor/RazorSemanticTokensAccessor.cs
Labels: Area-IDE, untriaged

#68725 Publish additional package for razor testing
  eng/config/PublishData.json
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
  src/Compilers/Test/Resources/Core/Microsoft.CodeAnalysis.Compiler.Test.Resources.csproj
Labels: Area-Compilers, untriaged

#68703 Collection literals: type inference
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
Labels: Area-Compilers, untriaged

#68635 Validate diagnostics reported by source generators
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SourceOutputNode.cs
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests.vb
Labels: Area-Compilers, New Feature - Source Generators, untriaged

#68741 Return correctly formatted URIs for file watching
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/LspFileChangeWatcherTests.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspContractTypes.cs
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspFileChangeWatcher.cs
Labels: Area-IDE, untriaged

#68737 Fix collection literal parsing at the state of a statement expression.
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
Labels: Area-Compilers, untriaged

#68747 Rename CollectionCreationExpression to CollectionExpression
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/GlobalSuppressions.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IArrayElementReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/IncrementalParsing/IncrementalParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaAttributeParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LocalFunctionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/SuppressNullableWarningExpressionParsingTests.cs
  src/Compilers/Test/Core/Compilation/ControlFlowGraphVerifier.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/TokenBasedFormattingRule.cs
Labels: Area-Compilers, untriaged

#68726 Fix assert when using `__arglist` and `in` arguments together
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ArglistTests.cs
Labels: Area-Compilers, New Language Feature - Readonly References, untriaged

#68732 Add razor compiler EA project ref
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-Compilers, untriaged

#68752 Collection literals: remove DictionaryElementSyntax
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaAttributeParsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
Labels: Area-Compilers, untriaged

#68787 Fix parsing certain postfix expressions with top level collection literals
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
Labels: Area-Compilers, untriaged

#68477 EnC: Implement support for editing types with primary constructors
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTest.cs
  src/Compilers/CSharp/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/Test/Utilities/CSharp/Extensions.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/Helpers/EditingTestBase.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/Helpers/EditingTestBase.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/LineEditTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharp/Portable/EditAndContinue/SyntaxComparer.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/BidirectionalMap.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/Extensions.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
Labels: Area-Interactive, untriaged

#68427 Test GetTypeInfo on values given to missing attribute
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests.cs
Labels: Area-Compilers, Test

#66515 Fixed CA1854: Prefer IDictionary.TryGetValue(TKey, out TValue) occurrences
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/Core/CodeAnalysisTest/CachingLookupTests.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/List/IEnumerable.Generic.Tests.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/List/IEnumerable.NonGeneric.Tests.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/MSBuildUtil.cs
  src/Compilers/Test/Core/Compilation/OperationTreeVerifier.cs
  src/Compilers/Test/Utilities/VisualBasic/ParserTestUtilities.vb
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.OpenTextBufferManager.cs
  src/EditorFeatures/Test2/Expansion/AbstractExpansionTest.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.vb
  src/EditorFeatures/Test2/LanguageServices/SyntaxFactsServiceTests.vb
  src/EditorFeatures/Test2/Rename/RenameEngineResult.vb
  src/EditorFeatures/TestUtilities/Workspaces/TestHostDocument.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspace.cs
  src/EditorFeatures/TestUtilities2/Intellisense/MockCompletionPresenterProvider.vb
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/CompilationContext.vb
  src/Features/CSharp/Portable/ExtractMethod/CSharpMethodExtractor.TriviaResult.cs
  src/Features/Core/Portable/Completion/CommonCompletionUtilities.cs
  src/Features/Core/Portable/ExtractMethod/AbstractSyntaxTriviaService.Result.cs
  src/Features/Core/Portable/SyncNamespaces/AbstractSyncNamespacesService.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Features/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/Features/VisualBasic/Portable/ExtractInterface/VisualBasicExtractInterfaceService.vb
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicMethodExtractor.TriviaResult.vb
  src/Features/VisualBasic/Portable/NavigationBar/VisualBasicNavigationBarItemService.vb
  src/Tools/Source/CompilerGeneratorTools/Source/VisualBasicSyntaxGenerator/XML/ParseTreeDescription.vb
  src/VisualStudio/Core/Def/LanguageService/AbstractLanguageService`2.IVsImmediateStatementCompletion2.cs
  src/VisualStudio/IntegrationTest/IntegrationTests/CSharp/CSharpReferenceHighlighting.cs
  src/Workspaces/CSharp/Portable/Rename/CSharpRenameRewriterLanguageService.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/RenamedSpansTracker.cs
  src/Workspaces/CoreTest/CodeCleanup/CodeCleanupTests.cs
  src/Workspaces/Remote/Core/SolutionAssetStorage.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Context/FormattingContext.cs
  src/Workspaces/VisualBasic/Portable/CodeCleanup/Providers/RemoveUnnecessaryLineContinuationCodeCleanupProvider.vb
  src/Workspaces/VisualBasic/Portable/Formatting/Engine/Trivia/TriviaDataFactory.TriviaRewriter.vb
Labels: Area-IDE, Area-Compilers, Community

#68762 Fixes SyntaxFactory.UsingDirective overload which always throws - #68761
  src/Compilers/CSharp/Portable/Syntax/UsingDirectiveSyntax.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxFactoryTests.cs
Labels: Area-Compilers, Community, untriaged

#68792 More workarounds for VS Code project system issues
  src/Features/Core/Portable/EditAndContinue/ActiveStatementsMap.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
Labels: Area-Interactive, untriaged

#68799 Roslyn side changes to enable full solution background analysis in LSP/VSCode
  src/Features/LanguageServer/Protocol/Features/Options/SolutionCrawlerOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Handler/Configuration/DidChangeConfigurationNotificationHandler_OptionList.cs
Labels: Area-IDE, untriaged

#68806 Update VSTelemetry package version
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#68755 remove long gone owners
  src/Compilers/Core/MSBuildTask/CanonicalError.cs
  src/Compilers/Core/MSBuildTask/Csc.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/Vbc.cs
Labels: Area-Compilers, Community, untriaged

#68756 Fix ambiguity parsing collection expressions vs conditional access expressions
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxFactoryContext.cs
  src/Compilers/CSharp/Test/Syntax/IncrementalParsing/IncrementalParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaAttributeParsingTests.cs
Labels: Area-Compilers, untriaged

#68744 "Fix" LSP semantic token modifiers
  src/EditorFeatures/Core/LanguageServer/AlwaysActivateInProcLanguageClient.cs
  src/Features/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensSchema.cs
  src/Tools/ExternalAccess/Razor/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/Razor/RazorSemanticTokensAccessor.cs
Labels: Area-IDE, untriaged

#68808 Include expected custom modifiers for `in` parameters of virtual operators.
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
Labels: Area-Compilers, untriaged

#68810 Rename background analysis option name
  src/Features/LanguageServer/Protocol/Features/Options/SolutionCrawlerOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
Labels: Area-Analyzers, untriaged

#68706 Fix SuppressMessage attributes working on primary constructors
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/Compilation/SemanticModel.cs
Labels: Area-Compilers, untriaged

#68820 Allow declaring ref fields as elements of inline arrays.
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#68823 Update Language Feature Status.md for InlineArrays
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged

#68775 [17.6] Validate diagnostics reported by source generators
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SourceOutputNode.cs
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests.vb
Labels: Area-Compilers, New Feature - Source Generators, OnDeckForServicing

#68795 Collection literals: use NoneOperation
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IArrayElementReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/Test/Core/Compilation/CompilationExtensions.cs
Labels: Area-Compilers, untriaged

#68825 Avoid deadlock what attempting to reopen files
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
Labels: Area-IDE, untriaged

#68655 Fix incorrect non-local diagnostic classification for VB symbol analyzers
  src/Compilers/CSharp/Test/Emit2/Diagnostics/GetDiagnosticsTests.cs
  src/Compilers/VisualBasic/Portable/Compilation/SemanticModel.vb
  src/Compilers/VisualBasic/Test/Semantic/Diagnostics/GetDiagnosticsTests.vb
Labels: Area-Analyzers, Area-Compilers

#68801 Do not emit empty language property in SARIF log
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV1ErrorLoggerTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/SarifV2ErrorLoggerTests.cs
  src/Compilers/Core/Portable/CommandLine/SarifV1ErrorLogger.cs
  src/Compilers/Core/Portable/CommandLine/SarifV2ErrorLogger.cs
Labels: Area-Analyzers, Area-Compilers

#68793 Collection literals: address comments
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionLiteral.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IArrayElementReferenceExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
Labels: Area-Compilers, untriaged

#68788 Improve parser error recovery for certain collection-literal cases
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/CollectionLiteralTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionLiteralParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementAttributeParsingTests.cs
Labels: Area-Compilers, untriaged

#68549 update System.CommandLine to the latest version
  NuGet.config
  eng/Versions.props
  src/Features/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/Features/Lsif/Generator/Microsoft.CodeAnalysis.LanguageServerIndexFormat.Generator.csproj
  src/Features/Lsif/Generator/Program.cs
  src/Tools/BuildValidator/BuildValidator.csproj
  src/Tools/BuildValidator/Program.cs
Labels: Area-Infrastructure, Community, untriaged

#68811 Bind to EnvironmentFontFamily in DocumentOutLineWindow.
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineView.xaml
Labels: Area-IDE, untriaged, Needs UX Triage

#68843 Mitigate costly syntax tree walks in 'remove unused members'.
  src/Analyzers/CSharp/Analyzers/RemoveUnusedMembers/CSharpRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnusedMembers/VisualBasicRemoveUnusedMembersDiagnosticAnalyzer.vb
Labels: Area-IDE, untriaged
