Repository dotnet/roslyn, pull requests merged in 2023-04, with the labels that each got.

#67610 Don't crash server if code lens cache entry does not exist
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensCache.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeLens/CSharpCodeLensTests.cs
Labels: Area-IDE, LSP, untriaged

#67614 Port #67597 to main
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: Area-Analyzers, untriaged

#67617 Merge main-vs-deps back into main
  eng/Versions.props
  global.json
Labels: Area-Infrastructure, untriaged

#67623 Update publishdata for -vs-deps deletion
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#66970 [Lightbulb Perf] Async lightbulb performance improvement
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionPriorityProvider.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource_Async.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/MockDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/CodeFixesAndRefactorings/CodeActionRequestPriorityProvider.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/ICodeFixService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.ActiveFileState.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.AnalysisData.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateSet.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/LanguageServer/Protocol/Features/Options/DiagnosticOptionsStorage.cs
  src/Features/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Labels: Area-IDE

#67606 Use OneOrMany in the node->BoundNode map
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.NodeMapBuilder.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/Core/Portable/Collections/OrderPreservingMultiDictionary.cs
  src/Compilers/Core/Portable/InternalUtilities/OneOrMany.cs
Labels: Area-Compilers

#67603 Avoid having to reread files from secondary storage just to get their version information
  src/Workspaces/Core/Portable/Workspace/Solution/ConstantTextAndVersionSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState_TreeTextSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ITextAndVersionSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/LoadableTextAndVersionSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/RecoverableTextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocument.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
Labels: Area-IDE, untriaged

#67628 Update publishdata for 17.6 after snap
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#67625 Always include syntactic classifications in semantic response
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensRangeHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/Features/Lsif/Generator/Generator.cs
Labels: Area-IDE, untriaged

#67587 Switch semantic model to use `OneOrMany` instead of ImmutableArray for hot paths that often return a single value.
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SymbolInfoFactory.cs
  src/Compilers/Core/Portable/Collections/ArrayBuilderExtensions.cs
  src/Compilers/Core/Portable/Collections/StaticCast.cs
  src/Compilers/Core/Portable/InternalUtilities/OneOrMany.cs
  src/Dependencies/PooledObjects/ArrayBuilder.cs
Labels: Area-Compilers, untriaged

#67629 Fix main-vs-deps merge overwriting merge from 17.6-vs-deps
  global.json
Labels: Area-Infrastructure, untriaged

#67630 Move to newer version of Roslyn analyzers
  eng/Versions.props
Labels: Area-Analyzers, untriaged

#67631 Perf: Modify StringIndentationTaggerProvider to not tag the whole file on every request.
  src/EditorFeatures/Core.Wpf/StringIndentation/StringIndentationTaggerProvider.cs
Labels: Area-IDE, untriaged

#67501 Add razor compiler EA assembly to VSIX
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-Infrastructure, untriaged

#67601 Reduce the number of Location objects created during binding
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/BindingDiagnosticBag.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Field.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Tuples/TupleTypeSymbol.cs
  src/Compilers/Core/Portable/Binding/BindingDiagnosticBag.cs
Labels: Area-Compilers, untriaged

#67627 Remove excessive allocations of SourceLocations with mergedecls
  src/Compilers/CSharp/Portable/Declarations/MergedTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/Core/Portable/InternalUtilities/OneOrMany.cs
Labels: Area-Compilers, untriaged

#58376 Analyzer load failure suppress
  src/Compilers/CSharp/Portable/CommandLine/CSharpCompiler.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineArguments.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Test/Utilities/CSharp/MockCSharpCompiler.cs
  src/Compilers/Test/Utilities/VisualBasic/MockVisualBasicCompiler.vb
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCompiler.vb
Labels: Area-Compilers, New Feature - Editor Config

#67591 [Lightbulb Perf] AnalyzerDriver performance improvements
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisScope.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
Labels: Area-Analyzers, Tenet-Performance, untriaged

#67635 Remove optional parameters from IDiagnosticAnalyzerService
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/EditorFeatures/Core/RenameTracking/RenameTrackingTaggerProvider.StateMachine.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test2/CodeFixes/CodeFixServiceTests.vb
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/MockDiagnosticAnalyzerService.cs
  src/EditorFeatures/TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/EditorFeatures/TestUtilities/Squiggles/SquiggleUtilities.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteDebuggingSessionProxy.cs
  src/Features/Core/Portable/SolutionCrawler/ISolutionCrawlerService.cs
  src/Features/Core/Portable/SolutionCrawler/SolutionCrawlerService.cs
  src/Features/LanguageServer/Protocol/Features/CodeCleanup/AbstractCodeCleanupService.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.FixAllDiagnosticProvider.cs
  src/Features/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService_IncrementalAnalyzer.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_BuildSynchronization.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/ProjectDiagnosticSource.cs
  src/Features/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/WorkspaceDocumentDiagnosticSource.cs
  src/VisualStudio/Core/Def/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioDiagnosticListTableCommandHandler.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioSuppressionFixService.cs
  src/VisualStudio/Core/Def/Venus/ContainedLanguage.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/Core/Test/Venus/DocumentService_IntegrationTests.vb
Labels: Area-IDE, Concept-Continuous Improvement, untriaged

#67648 Upgrade to latest RoslynDiagnosticsNugetPackageVersion
  eng/Versions.props
Labels: Area-Analyzers, untriaged

#67650 Fix for FixAll in project and solution scopes for non-C#/VB projects
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContextHelper.cs
  src/Workspaces/Core/Portable/Shared/Extensions/ISolutionExtensions.cs
Labels: Area-Analyzers, untriaged

#67646 Fix semantic tokens refresh queue to send requests
  src/Features/LanguageServer/Protocol/Handler/LanguageServerNotificationManager.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensRefreshQueue.cs
  src/Features/LanguageServer/Protocol/IClientLanguageServerManager.cs
Labels: Area-IDE, untriaged

#67654 Fix publishdata to create non-draft PRs for main
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#67656 Cache assembly qualified names as they're expensive to compute
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Labels: Area-IDE, untriaged

#67657 Reduce the size/cost of explicit enum symbols
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEnumConstantSymbol.cs
Labels: Area-Compilers, untriaged

#67659 Do not allocate location arrays when determining if a symbol is within a tree
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SymbolDeclaredCompilationEvent.cs
  src/Compilers/Core/Portable/Symbols/ISymbolInternal.cs
  src/Compilers/VisualBasic/Portable/Symbols/Symbol.vb
Labels: Area-Compilers, untriaged

#67664 Fix message in make struct member readonly analyzer
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
Labels: Area-IDE, untriaged

#67658 Move to segmented collections to avoid LOH allocations
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/DiscardSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/OperatorOverloadSyntaxClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/SyntaxTokenClassifier.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/UsingDirectiveSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractNameSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassificationService.Worker.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassifier.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/ISyntaxClassifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/Extensions.cs
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/IdentifierNameSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/ImportAliasClauseSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/NameSyntaxClassifier.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/OperatorOverloadSyntaxClassifier.vb
Labels: Area-IDE, untriaged

#67652 Add info to let named types quickly return 'null' when they have no primary constructor
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Declarations/MergedTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Declarations/SingleTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
Labels: Area-Compilers, untriaged

#66781 Revert "Revert "Remove unused TS brace completion code""
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/IVSTypeScriptBraceMatcherImplementation.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptBraceMatcher.cs
Labels: Area-IDE, Community

#67661 Do not store parameter locations in an array.
  src/Compilers/CSharp/Portable/Binder/Binder_NameConflicts.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LambdaSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceSimpleParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordClone.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordCopyCtor.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordInequalityOperator.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedAccessorValueParameterSymbol.cs
Labels: Area-Compilers, untriaged

#67651 Improve performance if testing if a trivia is strutured trivia or not.
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/CSharpSyntaxNode.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/DirectiveTriviaSyntax.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/StructuredTriviaSyntax.cs
Labels: Area-Compilers

#67666 Adjust solution crawler logic to choose next best project to reduce expensive allocations
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.AsyncDocumentWorkItemQueue.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.AsyncProjectWorkItemQueue.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.AsyncWorkItemQueue.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.HighPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.IncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.LowPriorityProcessor.cs
  src/Features/Core/Portable/SolutionCrawler/WorkCoordinator.NormalPriorityProcessor.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateSet.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Labels: Area-Analyzers, untriaged

#67680 Move tagging and classification over to using SegmentedLists from ArrayBuilders.
  src/EditorFeatures/CSharpTest/Interactive/BraceMatching/InteractiveBraceHighlightingTests.cs
  src/EditorFeatures/Core/Classification/CopyPasteAndPrintingClassificationBufferTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Classification/Semantic/ClassificationUtilities.cs
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.LastLineCache.cs
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
  src/EditorFeatures/Core/Tagging/TaggerContext.cs
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
  src/EditorFeatures/Test2/Classification/ClassificationTests.vb
  src/EditorFeatures/TestUtilities/BraceHighlighting/AbstractBraceHighlightingTests.cs
  src/EditorFeatures/TestUtilities/Classification/AbstractClassifierTests.cs
  src/Features/Core/Portable/EmbeddedLanguages/Classification/AbstractEmbeddedLanguageClassificationService.cs
  src/Features/Core/Portable/EmbeddedLanguages/Classification/EmbeddedLanguageClassifierContext.cs
  src/Tools/ExternalAccess/FSharp/Internal/Classification/FSharpClassificationService.cs
  src/Tools/IdeBenchmarks/RegexClassifierBenchmarks.cs
  src/Tools/IdeCoreBenchmarks/ClassificationBenchmarks.cs
  src/VisualStudio/Core/Def/Venus/ContainedDocument.DocumentServiceProvider.cs
  src/Workspaces/CSharp/Portable/Classification/CSharpClassificationService.cs
  src/Workspaces/CSharp/Portable/Classification/ClassificationHelpers.cs
  src/Workspaces/CSharp/Portable/Classification/SyntaxClassification/CSharpSyntaxClassificationService.cs
  src/Workspaces/CSharp/Portable/Classification/Worker.cs
  src/Workspaces/Core/Portable/Classification/AbstractClassificationService.cs
  src/Workspaces/Core/Portable/Classification/Classifier.cs
  src/Workspaces/Core/Portable/Classification/ClassifierHelper.cs
  src/Workspaces/Core/Portable/Classification/IClassificationService.cs
  src/Workspaces/Core/Portable/Classification/IEmbeddedLanguageClassificationService.cs
  src/Workspaces/Core/Portable/Classification/IRemoteSemanticClassificationService.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassificationService.Worker.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/AbstractSyntaxClassificationService.cs
  src/Workspaces/Core/Portable/Classification/SyntaxClassification/ISyntaxClassificationService.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.Caching.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/Extensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/PooledObject.cs
  src/Workspaces/VisualBasic/Portable/Classification/ClassificationHelpers.vb
  src/Workspaces/VisualBasic/Portable/Classification/SyntaxClassification/VisualBasicSyntaxClassificationService.vb
  src/Workspaces/VisualBasic/Portable/Classification/VisualBasicClassificationService.vb
  src/Workspaces/VisualBasic/Portable/Classification/Worker.vb
Labels: Area-IDE, untriaged

#67683 Update compiler tool set to 4.5.0
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#67694 Remove AnalyzerExecutor.CancellationToken property
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/CodeAnalysisTest/Diagnostics/DiagnosticLocalizationTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalysisResultBuilder.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContextHelpers.cs
  src/Compilers/Test/Core/Diagnostics/DiagnosticExtensions.cs
Labels: Area-Analyzers, untriaged

#67589 Adjust comment for CompilerAnalyzerThrows in resx file
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Labels: Area-Compilers

#67682 Publish packages for PR val builds
  azure-pipelines-pr-validation.yml
  eng/config/PublishData.json
  eng/publish-assets.ps1
Labels: Area-Infrastructure, untriaged

#67698 Lower the priority of the view tagging we do outside the bounds of the visible region of hte file.
  src/EditorFeatures/Core.Wpf/StringIndentation/StringIndentationTaggerProvider.cs
  src/EditorFeatures/Core/BracePairs/BracePairsTaggerProvider.cs
  src/EditorFeatures/Core/Classification/Semantic/AbstractSemanticOrEmbeddedClassificationViewTaggerProvider.cs
  src/EditorFeatures/Core/Diagnostics/AbstractDiagnosticsTaggerProvider.AggregateTagger.cs
  src/EditorFeatures/Core/Diagnostics/AbstractDiagnosticsTaggerProvider.cs
  src/EditorFeatures/Core/Shared/Tagging/EventSources/TaggerConstants.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AggregateTagger.cs
  src/EditorFeatures/Core/Tagging/AsynchronousViewTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AsynchronousViewportTaggerProvider.SingleViewportTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/AsynchronousViewportTaggerProvider.cs
  src/EditorFeatures/Core/Tagging/TaggerDelay.cs
  src/EditorFeatures/Core/Tagging/TaggerUtilities.cs
  src/VisualStudio/Core/Def/InheritanceMargin/InheritanceMarginTaggerProvider.cs
Labels: Area-IDE, untriaged

#67685 Add assertion to detect misbehaving completion with complex edit
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/OperatorsAndIndexer/UnnamedSymbolCompletionProvider_Conversions.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/OperatorsAndIndexer/UnnamedSymbolCompletionProvider_Indexers.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/OperatorsAndIndexer/UnnamedSymbolCompletionProvider_Operators.cs
  src/Features/Core/Portable/Completion/CompletionItem.cs
  src/Features/Core/Portable/Completion/CompletionList.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Features/Core/Portable/Completion/Providers/XmlDocCommentCompletionItem.cs
  src/Features/Core/Portable/EmbeddedLanguages/DateAndTime/DateAndTimeEmbeddedCompletionProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/RegularExpressions/LanguageServices/RegexEmbeddedCompletionProvider.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/ILspCompletionResultCreationService.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionTests.cs
Labels: Area-IDE

#67701 Support using the OOP server from the preview workspace
  src/VisualStudio/Core/Def/Remote/VisualStudioRemoteHostClientProvider.cs
Labels: Area-IDE, untriaged

#67702 Publish packages for PR val builds for 17.6 branch
  azure-pipelines-pr-validation.yml
  eng/config/PublishData.json
  eng/publish-assets.ps1
Labels: Area-Infrastructure, untriaged

#67693 Do not offer to simplify `if` statement to conditional expressions if both assignments are discards
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/ForAssignment/UseConditionalExpressionForAssignmentHelpers.cs
  src/Analyzers/Core/Analyzers/UseConditionalExpression/UseConditionalExpressionHelpers.cs
Labels: Area-IDE, Community, untriaged

#67690 Cache exceptions thrown by DiagnosticDescriptor to avoid excessive string allocations
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
Labels: Area-Analyzers, untriaged

#67719 Remove enumerator allocation in MakeAndCheckNonTypeMemberModifiers
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
Labels: Area-Compilers, untriaged

#67723 Produce less ArrayBuilder waste when converting to dictionary
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
Labels: Area-Compilers, untriaged

#67725 Remove linq allocation overhead
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
Labels: Area-Compilers, untriaged

#67721 Update text in lsp misc files workspace
  src/Features/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspace.cs
  src/Features/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/Features/LanguageServer/ProtocolUnitTests/Miscellaneous/LspMiscellaneousFilesWorkspaceTests.cs
Labels: Area-IDE, LSP, untriaged

#67720 Cache the DiagnosticDescriptors produced by the C# diagnostic analyzer
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilerDiagnosticAnalyzer.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilerDiagnosticAnalyzer.cs
  src/Compilers/Core/Portable/InternalUtilities/InterlockedOperations.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilerDiagnosticAnalyzer.vb
Labels: Area-IDE, untriaged

#67726 LSP Completion Handler refactoring
  src/EditorFeatures/Core/LanguageServer/EditorLspCompletionResultCreationService.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionHandler_CreateLspList.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Completion/ILspCompletionResultCreationService.cs
  src/Features/LanguageServer/ProtocolUnitTests/Completion/CompletionResolveTests.cs
Labels: Area-IDE, untriaged

#67639 [17.6] Only send workspace/configuration request when client supports that
  eng/Versions.props
  src/EditorFeatures/CSharpTest/Squiggles/ErrorSquiggleProducerTests.cs
  src/Features/LanguageServer/Protocol/Handler/Configuration/DidChangeConfigurationNotificationHandler.cs
  src/Features/LanguageServer/Protocol/Handler/Configuration/DidChangeConfigurationNotificationHandler_OnInitialized.cs
  src/Features/LanguageServer/ProtocolUnitTests/Configuration/DidChangeConfigurationNotificationHandlerTest.cs
  src/Tools/BuildActionTelemetryTable/BuildActionTelemetryTable.csproj
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorVerifierInProcess.cs
  src/Workspaces/CoreTestUtilities/MEF/ExportProviderCache.cs
  src/Workspaces/Remote/Core/Serialization/MessagePackFormatters.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspaceManager.cs
Labels: Area-IDE, untriaged

#67728 Do not realize all Document instances in a solution when walking it to create/update indices
  src/VisualStudio/CSharp/Test/PersistentStorage/AbstractPersistentStorageTests.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/Shared/AbstractSyntaxIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/Shared/AbstractSyntaxIndex_Persistence.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/FindSymbols/TopLevelSyntaxTree/IDeclaredSymbolInfoFactoryService.cs
  src/Workspaces/Core/Portable/FindSymbols/TopLevelSyntaxTree/TopLevelSyntaxTreeIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/TopLevelSyntaxTree/TopLevelSyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/LanguageServices/DeclaredSymbolFactoryService/AbstractDeclaredSymbolInfoFactoryService.cs
Labels: Area-IDE, untriaged

#67695 Support attributes on primary constructors
  src/Compilers/CSharp/Portable/Binder/BinderFactory.BinderFactoryVisitor.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol_Attributes.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedPrimaryConstructor.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers, New Feature - Primary Constructors

#67712 Handle additional diagnostic scenarios for captured primary constructor parameters
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers

#67178 EnC telemetry improvements
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSessionTelemetry.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EditSessionTelemetry.cs
Labels: Interactive-EnC

#67718 Move to a SegmentedHashSet from a SegmentedDictionary
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTable.cs
  src/Compilers/CSharp/Portable/Declarations/DeclarationTreeBuilder.cs
  src/Compilers/CSharp/Portable/Declarations/MergedTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Declarations/SingleTypeDeclaration.cs
  src/Compilers/Core/Portable/Collections/ImmutableSegmentedDictionaryBuilderExtensions.cs
Labels: Area-Compilers, untriaged

#66992 [17.6] Cache source generator node tables only if their state counts match
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/StateTableTests.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/NodeStateTable.cs
Labels: Area-Compilers, New Feature - Source Generators

#67752 Port EnC telemetry improvements to 17.6
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSessionTelemetry.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EditSessionTelemetry.cs
Labels: Area-Interactive, untriaged

#67749 Cache AssemblyIdentity instances produced in compiler
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentity.DisplayName.cs
Labels: Area-Compilers, untriaged

#67744 Pool lists used when reusing assembly symbols
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Binding.cs
Labels: Area-Compilers, untriaged

#67677 Set current culture when Interactive Window is initialized
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.Service.cs
  src/Interactive/HostProcess/InteractiveHostEntryPoint.cs
Labels: Area-Interactive, untriaged

#67669 Reduce number of invocations to StateSet.GetOrCreateActiveFileState
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.IncrementalMemberEditAnalyzer.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
Labels: Area-Analyzers, untriaged

#67772 Reduce Location instance allocations.
  src/Compilers/CSharp/Portable/Binder/ExpressionVariableFinder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/GlobalExpressionVariable.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEnumConstantSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
Labels: Area-Compilers, untriaged

#67432 Interceptors
  docs/features/interceptors.md
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/InterceptsLocationAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/MethodWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStaticConstructor.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumUtilties.cs
  src/Compilers/Core/Portable/InternalUtilities/ThreadSafeFlagOperations.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/EditorFeatures/CSharp/LanguageServer/CSharpLspBuildOnlyDiagnostics.cs
  src/EditorFeatures/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EECompilationContextMethod.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.cs
Labels: Area-Compilers

#67765 Avoid allocating UncommonData for common failure case
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
Labels: Area-Compilers, untriaged

#67766 Cache constructed Nullable<T> types for built-ins and enums
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Compilation/BuiltInOperators.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_BinaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
Labels: Area-Compilers, untriaged

#67777 Pool more formatting collections
  src/Dependencies/PooledObjects/ObjectPool`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/AbstractFormatEngine.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/TokenStream.Iterator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/TokenStream.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/Extensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/PooledObject.cs
Labels: Area-IDE, untriaged

#67775 Pool node collections in formatter
  src/Dependencies/PooledObjects/ObjectPool`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/AbstractFormatEngine.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/Extensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/PooledObject.cs
Labels: Area-IDE, untriaged

#67750 Avoid realizing SyntaxReference[] in source methods
  src/Compilers/CSharp/Portable/Symbols/Source/SourceFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
Labels: Area-Compilers, untriaged

#67773 Remove unnecessary Location object allocations when checking lang versions.
  src/Compilers/CSharp/Portable/Binder/Binder_AnonymousTypes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Attributes.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Await.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lambda.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Patterns.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Query.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Binder_WithExpression.cs
  src/Compilers/CSharp/Portable/Binder/BindingDiagnosticBag.cs
  src/Compilers/CSharp/Portable/Binder/SwitchBinder_Patterns.cs
  src/Compilers/CSharp/Portable/Declarations/SingleTypeDeclaration.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/AliasSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ModifierUtils.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedConversionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxNodeExtensions.cs
Labels: Area-Compilers, untriaged

#67461 Allow nested instance member access in `nameof` in static context
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/FlowAnalysis/FlowTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_INameOfOperation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NameOfTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
Labels: Area-Compilers

#67781 Incrementally update dependency graph for new cases
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectDependencyGraph_RemoveAllProjectReferences.cs
Labels: Area-IDE, untriaged

#67747 Source build fixes
  azure-pipelines.yml
  eng/targets/Settings.props
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticSuppressorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
  src/Compilers/Core/Portable/MetadataReference/ModuleMetadata.cs
  src/Compilers/Core/Portable/PublicAPI.Shipped.txt
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/Compilers/VisualBasic/Test/Semantic/Binding/BindingCollectionInitializerTests.vb
  src/NuGet/Microsoft.Net.Compilers.Toolset/AnyCpu/Microsoft.Net.Compilers.Toolset.Package.csproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/AnyCpu/build/Microsoft.Net.Compilers.Toolset.props
  src/NuGet/Microsoft.Net.Compilers.Toolset/arm64/build/Microsoft.Net.Compilers.Toolset.Arm64.props
  src/Tools/BuildBoss/CompilerNuGetCheckerUtil.cs
Labels: Area-Compilers

#67795 Eliminate intermediate pooling in CreateNodeOperations
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ListExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/AbstractFormatEngine.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE, untriaged

#67784 Only modify the linked document once in LSP code action
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionResolveTests.cs
Labels: Area-IDE, untriaged

#67804 Add ServerGC option
  src/VisualStudio/Core/Def/PackageRegistration.pkgdef
Labels: Area-IDE, untriaged

#67805 Fixing source build
  eng/targets/Settings.props
  src/Compilers/CSharp/csc/AnyCpu/csc.csproj
  src/Compilers/Core/MSBuildTask/Microsoft.Build.Tasks.CodeAnalysis.csproj
  src/Compilers/Server/VBCSCompiler/AnyCpu/VBCSCompiler.csproj
  src/Compilers/VisualBasic/vbc/AnyCpu/vbc.csproj
  src/Interactive/csi/csi.csproj
  src/Interactive/vbi/vbi.vbproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/AnyCpu/Microsoft.Net.Compilers.Toolset.Package.csproj
  src/Workspaces/Core/MSBuild/Microsoft.CodeAnalysis.Workspaces.MSBuild.csproj
Labels: Area-Infrastructure, untriaged

#67812 Avoid allocating delegates when formatting trees.
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/AbstractFormatEngine.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/NodeOperations.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/Extensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/ObjectPools/PooledObject.cs
Labels: Area-IDE, untriaged

#67731 Correct generate rename code action in LSP
  src/Features/LanguageServer/Protocol/Extensions/Extensions.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionResolveTests.cs
Labels: Area-IDE, untriaged

#67530 Round-trip extensions via metadata
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeReference.cs
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/NativeIntegerTypeDecoder.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ObsoleteAttributeHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceExtensionTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Extensions/SynthesizedExtensionMarker.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedImplementationMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_IsByRefLike.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ExtensionTypeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/RequiredMembersTests.cs
  src/Compilers/Core/Portable/MetadataReader/ModuleExtensions.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/CompilerFeatureRequiredFeatures.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/Compilers/VisualBasic/Portable/Symbols/ObsoleteAttributeHelpers.vb
Labels: Area-Compilers

#67813 Include matched spans in our 'container' pattern matcher
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.InProcess.cs
  src/Workspaces/Core/Portable/PatternMatching/ContainerPatternMatcher.cs
  src/Workspaces/Core/Portable/PatternMatching/PatternMatcher.cs
Labels: Area-IDE, untriaged

#67810 Fix server crash if inlay hint entry not in cache
  src/Features/LanguageServer/Protocol/Handler/InlayHint/InlayHintCache.cs
  src/Features/LanguageServer/Protocol/Handler/InlayHint/InlayHintHandler.cs
  src/Features/LanguageServer/Protocol/Handler/InlayHint/InlayHintResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/InlayHint/InlayHintResolveHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/InlayHint/CSharpInlayHintTests.cs
Labels: Area-IDE, untriaged

#67742 Defer creation of Location objects to the point they are actually needed.
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/BindingDiagnosticBag.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
Labels: Area-Compilers, untriaged

#67780 Switch to TemporaryArrays while topologically sorting graphs
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/CSharp/Portable/Binder/SwitchExpressionBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundDecisionDag.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/TopologicalSortTests.cs
  src/Compilers/Core/Portable/Collections/TopologicalSort.cs
Labels: Area-Compilers, untriaged

#67827 Add "Inline Arrays" feature to "Language Feature Status.md"
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#65780 Move off of the final usage of an uncached AsyncLazy
  src/Workspaces/Core/Portable/Workspace/Solution/LoadableTextAndVersionSource.cs
Labels: Area-IDE

#67191 Generate branchless IL for `(b ? 1 : 0)`
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitOperators.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenConditionalOperatorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/PatternTests.cs
  src/Compilers/VisualBasic/Portable/CodeGen/EmitExpression.vb
  src/Compilers/VisualBasic/Portable/CodeGen/EmitOperators.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenIfOperator.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenSelectCase.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/TypeOfTests.vb
Labels: Area-Compilers

#67778 Reduce allocations of StateForCase instances.
  src/Compilers/CSharp/Portable/Binder/DecisionDagBuilder.cs
  src/Compilers/Core/CodeAnalysisTest/Collections/TemporaryArrayTests.cs
  src/Compilers/Core/Portable/Collections/TemporaryArray`1.cs
Labels: Area-Compilers

#67207 Have AsyncLazy always cache values
  src/EditorFeatures/Core/RenameTracking/RenameTrackingTaggerProvider.RenameTrackingCommitter.cs
  src/EditorFeatures/Test/Utilities/AsyncLazyTests.cs
  src/Features/Core/Portable/AddImport/SearchScopes/SourceSymbolsProjectSearchScope.cs
  src/Features/Core/Portable/Completion/SharedSyntaxContextsWithSpeculativeModel.cs
  src/Features/Core/Portable/DesignerAttribute/DesignerAttributeDiscoveryService.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDocumentAnalysesCache.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EncapsulateField/EncapsulateFieldResult.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.CachedDocumentSearch.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/VisualStudio/Core/Def/ProjectSystem/FileChangeTracker.cs
  src/Workspaces/Core/Portable/FindSymbols/Declarations/DeclarationFinder_AllDeclarations.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentTypeFinder_ProjectIndex.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Metadata.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Source.cs
  src/Workspaces/Core/Portable/Workspace/Solution/AnalyzerConfigDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState_LinkedFileReuse.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.CompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.GeneratedFileReplacingCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.SkeletonReferenceCache.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/CoreTest/UtilityTest/AsyncLazyTests.cs
  src/Workspaces/Remote/ServiceHub/Services/ClientOptionProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/AsyncLazy`1.cs
Labels: Area-IDE

#67724 Pool 'boxed' helper objects used during constraints checking
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
Labels: Area-Compilers

#67691 Avoid realizing locations array when finding the symbol found in a particular location.
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
Labels: Area-Compilers, untriaged

#67828 Cache the names of assembly symbols for PEReferences
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentProjectsFinder.cs
Labels: Area-IDE, untriaged

#67771 Interactive Window: Flow both culture and UI culture
  src/EditorFeatures/Core/Interactive/InteractiveSession.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.LazyRemoteService.cs
  src/Interactive/Host/Interactive/Core/InteractiveHost.Service.cs
  src/Interactive/Host/Interactive/Core/InteractiveHostOptions.cs
  src/Interactive/HostProcess/InteractiveHostEntryPoint.cs
  src/Interactive/HostTest/AbstractInteractiveHostTests.cs
  src/Interactive/HostTest/InteractiveHostDesktopTests.cs
  src/Interactive/HostTest/StressTests.cs
Labels: Area-Interactive, untriaged

#67825 Move to non-segmented dictionary
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.AliasesAndUsings.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
Labels: Area-Compilers, untriaged

#67842 Qualify values in the RHS of object initializers
  src/Analyzers/CSharp/Analyzers/QualifyMemberAccess/CSharpQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/QualifyMemberAccess/QualifyMemberAccessTests.cs
Labels: Area-IDE, untriaged

#67808 Revert "Use dictionary lookup while resolving assembly references (#6…
  src/Compilers/CSharp/Portable/Symbols/ReferenceManager.cs
  src/Compilers/Core/Portable/MetadataReference/AssemblyIdentityExtensions.cs
  src/Compilers/Core/Portable/ReferenceManager/AssemblyData.cs
  src/Compilers/Core/Portable/ReferenceManager/AssemblyDataForAssemblyBeingBuilt.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Binding.cs
  src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Resolution.cs
  src/Compilers/VisualBasic/Portable/Symbols/ReferenceManager.vb
Labels: Area-Compilers, Regression, untriaged

#67829 Add support for parameter-less LSP requests
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/HandlerProvider.cs
  src/Features/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/IRequestHandler.cs
  src/Features/LanguageServer/Protocol/Handler/ILspServiceRequestHandler.cs
Labels: Area-IDE, untriaged

#67832 Fix formatting of nested list patterns
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests_Patterns.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SpacingFormattingRule.cs
Labels: Community

#67483 Don't look to the global.json when we're loading a binlog
  src/Features/Lsif/Generator/Microsoft.CodeAnalysis.LanguageServerIndexFormat.Generator.csproj
  src/Features/Lsif/Generator/Program.cs
Labels: Area-IDE

#67794 Update `nameof` feature status
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#67823 Do not allocate Location[]s for source methods
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceCustomEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
Labels: Area-Compilers, untriaged

#67843 Add A/B option to test if a pushing data immediately to secondary storage is desirable.
  src/Features/LanguageServer/Protocol/Features/Options/WorkspaceConfigurationOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/Workspaces/Core/Portable/Workspace/IWorkspaceConfigurationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
Labels: Area-IDE, untriaged

#67840 Only used cached remote-host-provider for preview workspace if it shares the same set of host-services.
  src/VisualStudio/Core/Def/Remote/VisualStudioRemoteHostClientProvider.cs
Labels: Area-IDE, untriaged

#67863 Only sync events about C# and VB to unit testing service
  src/EditorFeatures/Core/SolutionEvents/HostLegacySolutionEventsWorkspaceEventListener.cs
Labels: Area-IDE, untriaged

#67853 Adds InternalsVisibleTo for External Access layer for razor benchmark project
  src/Tools/ExternalAccess/Razor/Microsoft.CodeAnalysis.ExternalAccess.Razor.csproj
Labels: Area-Infrastructure, untriaged

#67851 Backport #67430 further
  NuGet.config
  azure-pipelines.yml
Labels: Area-Infrastructure, untriaged

#67835 Clarify documentation of `TrackedOutputSteps`
  src/Compilers/Core/Portable/SourceGeneration/RunResults.cs
Labels: Area-Compilers, Documentation, New Feature - Source Generators

#67873 Simplify code in IncrementalMemberEditAnalyzer for computing updated …
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.IncrementalMemberEditAnalyzer.cs
Labels: Area-IDE, untriaged

#67865 Fix lsp classification mappings
  src/EditorFeatures/Core/LanguageServer/AlwaysActivateInProcLanguageClient.cs
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensRangeHandler.cs
  src/Features/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensSchema.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/AbstractSemanticTokensTests.cs
  src/Features/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/Features/Lsif/Generator/Generator.cs
  src/Tools/ExternalAccess/Razor/InternalAPI.Unshipped.txt
  src/Tools/ExternalAccess/Razor/RazorSemanticTokensAccessor.cs
Labels: Area-IDE, untriaged

#67868 Flatten code actions when client doesn't have VS capability
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
Labels: Area-IDE, untriaged

#67882 Remove unnecessary references from unit testing libraries
  src/Features/CSharpTest/Microsoft.CodeAnalysis.CSharp.Features.UnitTests.csproj
  src/Features/Test/Microsoft.CodeAnalysis.Features.UnitTests.csproj
  src/Features/VisualBasicTest/Microsoft.CodeAnalysis.VisualBasic.Features.UnitTests.vbproj
Labels: Area-IDE, untriaged

#67879 Seal WrappedParameterSymbol.HasUnscopedRefAttribute
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedParameterSymbol.cs
Labels: Area-Compilers, untriaged

#67844 Additional places where locations can be avoided
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.PlaceholderLocal.cs
  src/Compilers/CSharp/Portable/Symbols/ConstantValueUtils.cs
  src/Compilers/CSharp/Portable/Symbols/LocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedLocal.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/TypeSubstitutedLocalSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/UpdatedContainingSymbolLocal.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EELocalSymbolBase.cs
Labels: Area-Compilers, untriaged

#67875 Update ICSharpCode.Decompiler to 7.2.1.6856
  eng/Versions.props
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenConstructorInitTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_CallerInfoAttributes.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenMethodGroupConversionCachingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CustomModifiersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtendedPartialMethodsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolExtensionTests.cs
  src/Compilers/Test/Core/CompilationVerifier.cs
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_CallerArgumentExpression.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/PE/LoadingMethods.vb
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.CSharp.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.VisualBasic.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpGoToDefinition.cs
Labels: Area-IDE, Area-Compilers

#67862 Better recover from missing closing `}` or `]` in switch statements
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
Labels: Area-Compilers, Community

#67892 Do not NGEN our build task
  src/NuGet/Microsoft.Net.Compilers.Toolset/DesktopCompilerArtifacts.targets
Labels: Area-Infrastructure, untriaged

#67727 Pool intermediary dictionaries use to create named type and namespace members
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamespaceSymbol.cs
  src/Compilers/Core/Portable/Collections/ImmutableArrayExtensions.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticUpdateSource.cs
Labels: Area-Compilers, untriaged

#67836 Include diagnostic help URL in output
  src/Compilers/CSharp/Portable/Errors/CSharpDiagnosticFormatter.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/Diagnostic/DiagnosticFormatter.cs
  src/Compilers/VisualBasic/Portable/Errors/DiagnosticFormatter.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers

#65432 Parse pointer to arrays
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Emit2/Emit/ManagedAddressTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaReturnTypeParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
Labels: Area-Compilers, Community

#67830 Implement element access for inline array types
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpressionExtensions.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundInlineArrayAccess.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Statement.cs
  src/Compilers/CSharp/Portable/Emitter/Model/MethodSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousManager.TypeOrDelegatePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeOrDelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/WellKnownAttributeData/TypeWellKnownAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ImplicitNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayAsReadOnlySpanMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayAsSpanMethod.cs
  src/Compilers/CSharp/Portable/Symbols/SynthesizedSimpleMethodTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/Core/Portable/CodeGen/PrivateImplementationDetails.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
Labels: Area-Compilers, untriaged, New Feature - Inline Arrays

#67899 Add additional information to an argument exception
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/Text/LinePositionSpan.cs
  src/Compilers/Core/Portable/Text/TextSpan.cs
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
Labels: Area-Compilers

#67558 Optimize some SegmentedArrayHelper members for JIT
  src/Dependencies/Collections/Internal/SegmentedArrayHelper.cs
  src/Dependencies/Collections/SegmentedArray`1.cs
Labels: Area-IDE, Community, untriaged

#67645 Initial pass at enabling prebuilt detection
  NuGet.config
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  src/Tools/BuildValidator/DemoLogger.cs
  src/Tools/Source/RunTests/ProcessUtil.cs
Labels: Area-Infrastructure, Community, untriaged

#67885 Filter out configure & suppress code fixers when it is not in VS LSP
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/Features/LanguageServer/Protocol/Handler/CodeActions/CodeActionsHandler.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeActions/CodeActionsTests.cs
Labels: Area-IDE, untriaged

#67893 Fix incorrect oversimplification of 'default(T)' arguments
  src/EditorFeatures/Test2/Simplification/BlockSimplificationTests.vb
  src/Workspaces/CSharp/Portable/Simplification/Reducers/AbstractCSharpReducer.AbstractReductionRewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpCastReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpDefaultExpressionReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpDefaultExpressionReducer.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpExtensionMethodReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpInferredMemberNameReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpMiscellaneousReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpNameReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpNullableAnnotationReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpParenthesizedExpressionReducer.Rewriter.cs
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpParenthesizedPatternReducer.Rewriter.cs
Labels: Area-IDE, untriaged

#67919 Revert "Update ICSharpCode.Decompiler to 7.2.1.6856 (#67875)"
  eng/Versions.props
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenConstructorInitTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDynamicTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenLocalFunctionTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadonlyStructTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Emit/PDB/PDBTests.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests.cs
  src/Compilers/CSharp/Test/Emit2/Attributes/AttributeTests_CallerInfoAttributes.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenMethodGroupConversionCachingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/CustomModifiersTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtendedPartialMethodsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/StaticAbstractMembersInInterfacesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolExtensionTests.cs
  src/Compilers/Test/Core/CompilationVerifier.cs
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests_CallerArgumentExpression.vb
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenTuples.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Metadata/PE/LoadingMethods.vb
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.CSharp.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.VisualBasic.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpGoToDefinition.cs
Labels: Area-Compilers, untriaged

#67907 Fix servicing builds
  NuGet.config
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/build-utils.ps1
  eng/build.ps1
  eng/common/build.ps1
  eng/common/cross/arm/tizen-fetch.sh
  eng/common/cross/arm64/tizen-fetch.sh
  eng/common/cross/armel/tizen-fetch.sh
  eng/common/cross/armel/tizen/tizen-dotnet.ks
  eng/common/cross/build-android-rootfs.sh
  eng/common/cross/build-rootfs.sh
  eng/common/cross/toolchain.cmake
  eng/common/cross/x86/tizen-fetch.sh
  eng/common/generate-locproject.ps1
  eng/common/loc/P22DotNetHtmlLocalization.lss
  eng/common/native/init-compiler.sh
  eng/common/sdk-task.ps1
  eng/common/sdl/NuGet.config
  eng/common/sdl/sdl.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/job.yml
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/jobs/source-build.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/steps/execute-sdl.yml
  eng/common/templates/steps/generate-sbom.yml
  eng/common/templates/steps/source-build.yml
  eng/common/templates/variables/pool-providers.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  eng/pipelines/build-windows-job.yml
  eng/test-determinism.ps1
  eng/test-rebuild.ps1
  global.json
  src/Compilers/CSharp/Test/Emit/PDB/PDBConstantTests.cs
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBConstLocalTests.vb
  src/Compilers/VisualBasic/Test/Emit/PDB/PDBTests.vb
  src/Tools/BuildBoss/BuildBoss.csproj
Labels: Area-Infrastructure, untriaged

#67920 Merge 17.0-vs-deps into 17.2
  NuGet.config
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/build-utils.ps1
  eng/build.ps1
  eng/common/build.ps1
  eng/common/cross/arm/tizen-fetch.sh
  eng/common/cross/arm64/tizen-fetch.sh
  eng/common/cross/armel/tizen-fetch.sh
  eng/common/cross/armel/tizen/tizen-dotnet.ks
  eng/common/cross/build-android-rootfs.sh
  eng/common/cross/build-rootfs.sh
  eng/common/cross/toolchain.cmake
  eng/common/cross/x86/tizen-fetch.sh
  eng/common/generate-locproject.ps1
  eng/common/loc/P22DotNetHtmlLocalization.lss
  eng/common/native/init-compiler.sh
  eng/common/sdk-task.ps1
  eng/common/sdl/NuGet.config
  eng/common/sdl/sdl.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/job.yml
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/publish-build-assets.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/jobs/source-build.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/steps/execute-sdl.yml
  eng/common/templates/steps/generate-sbom.yml
  eng/common/templates/steps/source-build.yml
  eng/common/templates/variables/pool-providers.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  eng/pipelines/build-windows-job.yml
  eng/test-determinism.ps1
  eng/test-rebuild.ps1
  global.json
  src/Tools/BuildBoss/BuildBoss.csproj
Labels: Area-Infrastructure, untriaged

#67847 Merge ITextAndVersion and ITextVersionable
  src/Workspaces/Core/Portable/Workspace/Solution/ConstantTextAndVersionSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState_TreeTextSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ITextAndVersionSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ITextVersionable.cs
  src/Workspaces/Core/Portable/Workspace/Solution/LoadableTextAndVersionSource.cs
  src/Workspaces/Core/Portable/Workspace/Solution/RecoverableTextAndVersion.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
Labels: Area-IDE, untriaged

#67906 Give more accurate information when we get an out of bounds error in LSP
  src/Features/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
Labels: Area-IDE, untriaged

#67918 EnC: Implements support for generic type/method updates
  src/EditorFeatures/CSharpTest/EditAndContinue/ActiveStatementTests.Methods.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/LineEditTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/EditorFeatures/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/EditAndContinueTestHelpers.cs
  src/EditorFeatures/VisualBasicTest/EditAndContinue/LineEditTests.vb
  src/EditorFeatures/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueCapabilities.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, Interactive-EnC, untriaged

#67944 Disable slow source generator 'JSImportGenerator' for Roslyn builds
  eng/targets/Imports.targets
Labels: Area-Infrastructure, untriaged

#67845 Add A/B option to test if disabling 'recoverable text' helps/hurts us
  src/Features/LanguageServer/Protocol/Features/Options/WorkspaceConfigurationOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/Workspaces/Core/Portable/Workspace/IWorkspaceConfigurationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
Labels: Area-IDE, untriaged

#67822 Use non-void type for `BoundAwaitOperator` in VB statement
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IAwaitExpression.cs
  src/Compilers/VisualBasic/Portable/Binding/Binder_Expressions.vb
  src/Compilers/VisualBasic/Portable/BoundTree/BoundAwaitOperator.vb
  src/Compilers/VisualBasic/Test/IOperation/IOperation/IOperationTests_IAwaitExpression.vb
Labels: Language-VB, Area-Compilers, Feature - IOperation

#58835 Add a helper diagnostic for enforcing IDE0005 (remove unnecessary usi…
  src/Analyzers/Core/Analyzers/AnalyzersResources.resx
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.cs.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.de.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.es.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.fr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.it.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ja.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ko.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pl.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.pt-BR.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.ru.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.tr.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hans.xlf
  src/Analyzers/Core/Analyzers/xlf/AnalyzersResources.zh-Hant.xlf
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/DiagnosticDescriptorExtensions.cs
Labels: Area-IDE

#67921 Hard code segment constants for common type sizes
  src/Compilers/Core/CodeAnalysisTest/Collections/SegmentedArrayHelperTests.cs
  src/Dependencies/Collections/Internal/SegmentedArrayHelper.cs
Labels: Area-Compilers

#67953 Allow code fixes for source generator diagnostics
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/Features/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
Labels: Area-IDE

#67776 Pool node collections in analyzer driver.
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.DeclarationAnalysisData.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-Analyzers, untriaged

#67958 Move to non-segmented dictionary
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
Labels: Area-Analyzers, untriaged

#67947 Add import completion option to LSP
  src/Features/LanguageServer/Protocol/Handler/Configuration/DidChangeConfigurationNotificationHandler_OptionList.cs
Labels: Area-IDE, untriaged

#67786 Interceptors: handle duplicates, additional signature validation, etc.
  docs/features/interceptors.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Symbols/Attributes/InterceptsLocationAttributeData.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/InterceptorsTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/InternalUtilities/ConcurrentDictionaryExtensions.cs
  src/EditorFeatures/CSharp/LanguageServer/CSharpLspBuildOnlyDiagnostics.cs
Labels: Area-Compilers

#67963 Clear out data from pooled object before returning to pool
  src/Compilers/CSharp/Portable/Symbols/ConstraintsHelper.cs
Labels: Area-Compilers, untriaged

#67896 Make EnC service a MEF service instead of a workspace service
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/EditorFeatures/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/EditorFeatures/TestUtilities/EditAndContinue/MockEditAndContinueWorkspaceService.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteDebuggingSessionProxy.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteEditAndContinueServiceProxy.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/UnitTestingHotReloadService.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/Tools/ExternalAccess/Debugger/GlassTestsHotReloadService.cs
  src/Workspaces/CoreTestUtilities/Remote/InProcRemoteHostClientProvider.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive, untriaged

#67884 Remove code lens cache to improve results returned
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensCache.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensCacheFactory.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveData.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandler.cs
  src/Features/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandlerFactory.cs
  src/Features/LanguageServer/ProtocolUnitTests/CodeLens/CSharpCodeLensTests.cs
Labels: Area-IDE, untriaged

#67964 Update configs for 17.7 p1 snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#67901 Flow the telemetry update change from feature branch to 17.0 release branch
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#67951 Don't provide CodeActionWithDialog if option service is null
  src/Features/Core/Portable/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersCodeRefactoringProvider.cs
Labels: Area-IDE, untriaged

#67593 Incremental Generators documentation fixes
  docs/features/incremental-generators.md
Labels: Area-Compilers, Community, untriaged

#67927 Call `PrimaryDependency` getter once in `PENamedTypeSymbol.GetUseSiteInfo`
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
Labels: Area-Compilers, Community

#67818 Add FilterSpan API to analyzer contexts
  src/Analyzers/Core/Analyzers/Formatting/FormattingAnalyzerHelper.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/CompilationWithAnalyzers.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticAnalysisContext.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Labels: Area-Analyzers, untriaged
