Repository dotnet/roslyn, pull requests merged in 2024-11, with the labels that each got.

#75661 Reduce memory and CPU costs due to SegmentedList usage
  src/Compilers/Core/CodeAnalysisTest/Collections/List/SegmentedList.Generic.Tests.Capacity.cs
  src/Dependencies/Collections/SegmentedArray`1+PrivateMarshal.cs
  src/Dependencies/Collections/SegmentedCollectionsMarshal.cs
  src/Dependencies/Collections/SegmentedList`1.cs
  src/Tools/IdeCoreBenchmarks/SegmentedListBenchmarks_Add.cs
Labels: Area-IDE, untriaged

#75674 Fix flow of CompilerGeneratedFilesOutputPath from CPS
  src/Compilers/Core/MSBuildTask/Microsoft.Managed.Core.targets
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/AdditionalPropertiesTests.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/CPS/CSharpCompilerOptionsTests.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectOptionsProcessor.cs
Labels: Area-IDE, untriaged, VSCode

#75671 Update global.json with updated msbuild version
  global.json
Labels: Area-Infrastructure, untriaged

#75639 Reduce allocations in AbstractAsynchronousTaggerProvider.ComputeDifference
  src/EditorFeatures/Core/Shared/Tagging/Utilities/TagSpanIntervalTree.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_ProduceTags.cs
Labels: Area-IDE, untriaged

#75646 Reduce allocations in ProjectSystemProjectFactory.ConvertMetadataReferencesToProjectReferences_NoLock
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.cs
Labels: Area-IDE, untriaged, VSCode

#75709 Recalculate if LSP inlay hint cache miss
  src/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandler.cs
  src/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandlerFactory.cs
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintCache.cs
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintHandler.cs
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintResolveData.cs
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintResolveHandler.cs
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintResolveHandlerFactory.cs
  src/LanguageServer/ProtocolUnitTests/InlayHint/CSharpInlayHintTests.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/InlayHints.cs
Labels: Area-IDE, untriaged, VSCode

#75718 Do not include source generated documents in related document results
  src/Features/Core/Portable/RelatedDocuments/AbstractRelatedDocumentsService.cs
  src/LanguageServer/ProtocolUnitTests/RelatedDocuments/RelatedDocumentsTests.cs
Labels: Area-IDE, untriaged, VSCode

#75711 Expose code actions to Razor cohosting
  src/LanguageServer/Protocol/ExternalAccess/Razor/FormatNewFileHandler.cs
  src/LanguageServer/Protocol/ExternalAccess/Razor/SimplifyMethodHandler.cs
  src/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHandler.cs
  src/LanguageServer/Protocol/Handler/CodeActions/CodeActionResolveHelper.cs
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/CodeActions.cs
Labels: Area-IDE, untriaged, VSCode

#75713 Use absolute path for CompilerGeneratedFilesOutputPath
  src/Compilers/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.csproj
Labels: Area-Compilers, untriaged

#75721 Also check if reference is isolated file reference for completion providers
  src/Features/Core/Portable/Common/AbstractProjectExtensionProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75717 Add wrapper service broker to allow for easy MEF consumption
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/BrokeredServices/ServiceBrokerFactory.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/BrokeredServices/WrappedServiceBroker.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75728 Support navigating to metadata in progression results
  src/VisualStudio/Core/Def/Progression/GraphNavigatorExtension.cs
Labels: Area-IDE, untriaged

#75758 Have the naming style fixer understand the 'I' pattern for interfaces better
  src/Analyzers/CSharp/Tests/NamingStyles/NamingStylesTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/NamingStyles/NamingStyle.cs
Labels: Area-IDE, untriaged, VSCode

#75757 Improve pattern matching when user is likely providing camel humps
  src/EditorFeatures/Test/Utilities/PatternMatcherTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/Core/Portable/PatternMatching/PatternMatch.cs
  src/Workspaces/Core/Portable/PatternMatching/PatternMatchKind.cs
  src/Workspaces/Core/Portable/PatternMatching/PatternMatcher.TextChunk.cs
  src/Workspaces/Core/Portable/PatternMatching/PatternMatcher.cs
Labels: Area-IDE, untriaged, VSCode

#75763 Update Language Feature Status.md with VB information
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged

#75773 Don't offer 'convert anon type to tuple' when in an expression tree
  src/Features/CSharp/Portable/ConvertAnonymousType/CSharpConvertAnonymousTypeToTupleCodeRefactoringProvider.cs
  src/Features/CSharpTest/ConvertAnonymousType/ConvertAnonymousTypeToTupleTests.cs
  src/Features/Core/Portable/ConvertAnonymousType/AbstractConvertAnonymousTypeToTupleCodeRefactoringProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75789 Update breaking change docs
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 7.md
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 8.md
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 9.md
Labels: Area-Compilers, Documentation, Community, untriaged

#75695 Bind lambda in object initializer despite errors
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenExprLambdaTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IEventAssignmentExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IObjectCreationExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ITupleExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
Labels: Area-Compilers, untriaged

#75788 Fix: fix all for Use Auto Property
  src/Analyzers/CSharp/Tests/UseAutoProperty/UseAutoPropertyTests.cs
  src/Analyzers/CSharp/Tests/UseAutoProperty/UseAutoPropertyTests_Field.cs
  src/EditorFeatures/Test2/IntelliSense/VisualBasicCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/UseAutoProperty/CSharpUseAutoPropertyCodeFixProvider.cs
  src/Features/Core/Portable/Completion/CompletionHelper.cs
  src/Features/Core/Portable/Completion/MatchResult.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Features/Core/Portable/UseAutoProperty/UseAutoPropertyFixAllProvider.cs
  src/Features/VisualBasic/Portable/UseAutoProperty/VisualBasicUseAutoPropertyCodeFixProvider.vb
  src/Workspaces/Core/Portable/PatternMatching/PatternMatch.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeGeneration/CSharpSyntaxTokens.cs
Labels: Area-IDE, untriaged, VSCode

#75812 Merge pull request #75552 from dotnet/dev/jorobich/dont-retain-prval-…
  azure-pipelines-pr-validation.yml
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75813 Bump Telemetry to match VS
  eng/Directory.Packages.props
Labels: Area-Infrastructure, Community, untriaged

#75796 Ensure frozen snapshots don't return less data if solution already has compilation data
  src/Features/CSharp/Portable/Debugging/DataTipInfoGetter.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Features/Core/Portable/Completion/Providers/AbstractMemberInsertingCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/Snippets/AbstractSnippetCompletionProvider.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocument.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Labels: Area-IDE, untriaged, VSCode

#75817 Cherry pick telemetry fix
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#75806 Fix indentation of 'else' keyword after typing it
  src/EditorFeatures/Test2/Formatting/FormattingCommandHandlerTests.vb
  src/Workspaces/CSharp/Portable/Formatting/CSharpSyntaxFormattingService.cs
Labels: Area-IDE, untriaged, VSCode

#75803 Ensure frozen snapshots don't return less data if solution already has compilation data (backport to 17.12)
  src/Features/CSharp/Portable/Debugging/DataTipInfoGetter.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Features/Core/Portable/Completion/Providers/AbstractMemberInsertingCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/Snippets/AbstractSnippetCompletionProvider.cs
  src/Workspaces/Core/Portable/Shared/Extensions/DocumentExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocument.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Labels: Area-IDE, untriaged, VSCode

#75829 Cleanup and document code.
  src/EditorFeatures/CSharp/Formatting/CSharpFormattingInteractionService.cs
  src/Workspaces/CSharp/Portable/Formatting/CSharpSyntaxFormattingService.cs
Labels: Area-IDE, untriaged, VSCode

#75647 Ref safety: replace uint scope with struct SafeContext
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/Binder/SafeContext.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
Labels: Area-Compilers, untriaged

#75808 Update entry point finder to support `async Main`
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpEntryPointFinder.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpEntryPointFinderService.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpProjectShim.ICSharpProjectSite.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/EntryPointFinder.cs
  src/VisualStudio/CSharp/Test/ProjectSystemShim/EntryPointFinderTests.cs
  src/VisualStudio/Core/Def/ProjectSystem/AbstractEntryPointFinder.cs
  src/VisualStudio/Core/Def/ProjectSystem/IEntryPointFinderService.cs
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicEntryPointFinder.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicEntryPointFinderService.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicProject.vb
Labels: Area-IDE, untriaged

#75836 Change inline diagnostics tagger to be a viewport tagger
  src/EditorFeatures/Core/InlineHints/InlineHintDataTag.cs
  src/EditorFeatures/Core/InlineHints/InlineHintsDataTaggerProvider.cs
Labels: Area-IDE, untriaged

#75837 Extract local functions to members
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Labels: Area-Compilers, untriaged

#75831 Fix source-generator reload when in 'balanced' mode
  src/VisualStudio/Core/Test.Next/Remote/SnapshotSerializationTests.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_SourceGeneration.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Labels: Area-IDE, untriaged, VSCode

#75818 Bail out of on-the-fly-docs for razor documents
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75426 Clear current value when awaiting in async-iterator
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
Labels: Area-Compilers, untriaged

#75854 Re-add the IEntryPointFinderService. It is used through IVT
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpEntryPointFinderService.cs
  src/VisualStudio/Core/Def/ProjectSystem/AbstractEntryPointFinderService.cs
  src/VisualStudio/Core/Def/ProjectSystem/IEntryPointFinderService.cs
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicEntryPointFinderService.vb
Labels: Area-IDE, untriaged

#75794 Bump Razor to 9.0.0-preview.24555.12
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#75756 Modify segmented list to grow by growth rate.
  src/Compilers/Core/CodeAnalysisTest/Collections/List/SegmentedList.Generic.Tests.Capacity.cs
  src/Dependencies/Collections/SegmentedList`1.cs
  src/Tools/IdeCoreBenchmarks/SegmentedListBenchmarks_Add.cs
Labels: Area-IDE, untriaged

#75857 Fix issue where doc comment completion was coming up inside a string literal
  src/EditorFeatures/CSharpTest/DocumentationComments/DocumentationCommentTests.cs
  src/EditorFeatures/Core/DocumentationComments/AbstractDocumentationCommentCommandHandler.cs
  src/EditorFeatures/TestUtilities/DocumentationComments/AbstractDocumentationCommentTests.cs
  src/Features/Core/Portable/DocumentationComments/AbstractDocumentationCommentSnippetService.cs
  src/Features/Core/Portable/DocumentationComments/IDocumentationCommentSnippetService.cs
  src/Features/ExternalAccess/OmniSharp/DocumentationComments/OmniSharpDocumentationCommentsSnippetService.cs
  src/LanguageServer/Protocol/Handler/OnAutoInsert/OnAutoInsertHandler.cs
Labels: Area-IDE, untriaged, VSCode

#75719 Adjust semantic model for method group conversion
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ConversionTests.cs
  src/Compilers/VisualBasic/Test/Semantic/Semantics/Conversions.vb
Labels: Area-Compilers

#75851 Move HasHome out of Binder
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator_HasHome.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitAddress.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LoweredDynamicOperationFactory.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
Labels: Area-Compilers, untriaged

#75865 Update structured logger
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#75852 Make VBCSCompiler pipe name insensitive to casing of the path
  src/Compilers/Server/VBCSCompilerTests/BuildClientTests.cs
  src/Compilers/Shared/BuildServerConnection.cs
Labels: Area-Compilers, untriaged

#60545 Add new line before 'where' constraints in Quick Info
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Features/CSharp/Portable/LanguageServices/CSharpSymbolDisplayService.SymbolDescriptionBuilder.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
Labels: Area-IDE, Community, VSCode

#75869 Add support for running lightbulbs even when not fully loaded.
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
Labels: Area-IDE, untriaged

#75873 Change tagging to free a SegmentedList back to a pool
  src/EditorFeatures/Core/Classification/CopyPasteAndPrintingClassificationBufferTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Tagging/EfficientTagger.cs
  src/Workspaces/Core/Portable/Utilities/SegmentedListPool.cs
Labels: Area-IDE, untriaged, VSCode

#75860 Fix formatting of simplify-linq-expression
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/SimplifyLinqExpression/CSharpSimplifyLinqExpressionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/SimplifyLinqExpression/CSharpSimplifyLinqExpressionFixAllTests.cs
  src/Analyzers/CSharp/Tests/SimplifyLinqExpression/CSharpSimplifyLinqExpressionTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/SimplifyLinqExpression/AbstractSimplifyLinqExpressionCodeFixProvider`3.cs
  src/Analyzers/Core/CodeFixes/SimplifyLinqExpression/SimplifyLinqExpressionCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixes.projitems
  src/Analyzers/VisualBasic/Tests/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionFixAllTests.vb
  src/Analyzers/VisualBasic/Tests/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionTests.vb
  src/Tools/BuildActionTelemetryTable/Program.cs
Labels: Area-IDE, untriaged, VSCode

#75594 Update VSSDK versions
  eng/Directory.Packages.props
  eng/Versions.props
  src/EditorFeatures/TestUtilities/StubSettingsManagerHost.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/TestUtilities2/MockComponentModel.vb
Labels: Area-Infrastructure, untriaged

#75702 Struct layout check – break an infinite generic expansion cycle that doesn’t include the target struct (a cycle at the end of the path)
  src/Compilers/CSharp/Portable/Symbols/BaseTypeAnalysis.cs
  src/Compilers/CSharp/Test/Emit3/FlowAnalysis/StructTests.cs
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMemberContainerTypeSymbol.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/Source/TypeTests.vb
Labels: Area-Compilers, untriaged

#75876 Merge main to VBOverloadResolutionPriority
  eng/Directory.Packages.props
  eng/Versions.props
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/SimplifyLinqExpression/CSharpSimplifyLinqExpressionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/SimplifyLinqExpression/CSharpSimplifyLinqExpressionFixAllTests.cs
  src/Analyzers/CSharp/Tests/SimplifyLinqExpression/CSharpSimplifyLinqExpressionTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/SimplifyLinqExpression/AbstractSimplifyLinqExpressionCodeFixProvider`3.cs
  src/Analyzers/Core/CodeFixes/SimplifyLinqExpression/SimplifyLinqExpressionCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixes.projitems
  src/Analyzers/VisualBasic/Tests/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionFixAllTests.vb
  src/Analyzers/VisualBasic/Tests/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionTests.vb
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator_HasHome.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitAddress.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitArrayInitializer.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LoweredDynamicOperationFactory.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/Server/VBCSCompilerTests/BuildClientTests.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Classification/CopyPasteAndPrintingClassificationBufferTaggerProvider.Tagger.cs
  src/EditorFeatures/Core/Tagging/EfficientTagger.cs
  src/EditorFeatures/TestUtilities/StubSettingsManagerHost.cs
  src/Features/CSharp/Portable/LanguageServices/CSharpSymbolDisplayService.SymbolDescriptionBuilder.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.AbstractSymbolDescriptionBuilder.cs
  src/Tools/BuildActionTelemetryTable/Program.cs
  src/VisualStudio/Core/Def/LanguageService/AbstractPackage.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
  src/VisualStudio/TestUtilities2/MockComponentModel.vb
  src/Workspaces/Core/Portable/Utilities/SegmentedListPool.cs
Labels: Area-Compilers, untriaged, VSCode

#75878 Don't let inapplicable members participate in ORPA filtering
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorAnalysisResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorAnalysisResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/IMemberResolutionResultWithPriority.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Test/Emit3/OverloadResolutionPriorityTests.cs
Labels: Area-Compilers, untriaged

#75880 Revert "Collection literals: remove DictionaryElementSyntax (#68752)"
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Generated/CSharp.Generated.g4
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Internal.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Main.Generated.cs
  src/Compilers/CSharp/Portable/Generated/CSharpSyntaxGenerator/CSharpSyntaxGenerator.SourceGenerator/Syntax.xml.Syntax.Generated.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Syntax/Syntax.xml
  src/Compilers/CSharp/Portable/Syntax/SyntaxKind.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Diagnostics/DiagnosticAnalyzerTests.AllInOne.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Syntax/Generated/Syntax.Test.xml.Generated.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaAttributeParsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
Labels: Area-Compilers, untriaged, Needs API Review

#75864 Always sync text changes and active doc info to remote workspace
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution_SemanticModelCaching.cs
  src/Workspaces/Remote/Core/IRemoteAssetSynchronizationService.cs
  src/Workspaces/Remote/ServiceHub/Services/AssetSynchronization/RemoteAssetSynchronizationService.cs
Labels: Area-IDE, untriaged, VSCode

#75895 Fix an allocation regression due to the recent SegmentedList change c…
  src/Compilers/Core/CodeAnalysisTest/Collections/List/SegmentedList.Generic.Tests.Capacity.cs
  src/Dependencies/Collections/SegmentedList`1.cs
Labels: Area-Compilers, untriaged

#75898 Workaround failing official builds
  azure-pipelines-official.yml
  eng/InternalTools.props
Labels: Area-Infrastructure, untriaged

#75874 [EnC] Implement support for restarting subset of projects affected by rude edits
  eng/Directory.Packages.props
  src/Compilers/Test/Core/Assert/AssertEx.cs
  src/Compilers/Test/Core/InstrumentationChecker.cs
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageServiceBridge.cs
  src/EditorFeatures/ExternalAccess/Debugger/GlassTestsHotReloadService.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueLanguageServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/Features/Core/Portable/Contracts/EditAndContinue/IManagedHotReloadLanguageService.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSessionTelemetry.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/EditSessionTelemetry.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/IRemoteEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteDebuggingSessionProxy.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/UnitTestingHotReloadService.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/Features/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Test/EditAndContinue/EmitSolutionUpdateResultsTests.cs
  src/Features/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/Features/Test/EditAndContinue/WatchHotReloadServiceTests.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueWorkspaceTestBase.cs
  src/Features/TestUtilities/EditAndContinue/Extensions.cs
  src/Features/TestUtilities/EditAndContinue/MockEditAndContinueService.cs
  src/VisualStudio/DevKit/Impl/EditAndContinue/ManagedHotReloadLanguageServiceBridge.cs
  src/Workspaces/Remote/Core/EditAndContinue/ManagedHotReloadLanguageService.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive, untriaged, VSCode

#75901 improve goto-def on an invalid override
  src/EditorFeatures/Test2/GoToDefinition/CSharpGoToDefinitionTests.vb
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ITypeSymbolExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#74762 Do not run 'remove unnecessary imports' on generated code
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryImports/RemoveUnnecessaryImportsTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsDiagnosticAnalyzer.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpCodeActions.cs
Labels: Area-IDE, untriaged, VSCode

#75632 Recover better when a user uses commas in a for-statement instead of semicolons
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTestBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests_Scope.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ForLoopErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ForStatementParsingTest.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests_NameDeclarationInfoTests.cs
  src/Features/CSharpTest/ConvertLinq/ConvertLinqQueryToForEachTests.cs
Labels: Area-Compilers, untriaged, VSCode

#75909 Don't map spans for aspx files
  src/VisualStudio/Core/Def/Workspace/VisualStudioDocumentNavigationService.cs
Labels: Area-IDE, untriaged

#75724 Parse directives in trailing trivia as skipped tokens trivia
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingErrorRecoveryTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxNodeTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests_Preprocessor.cs
  src/EditorFeatures/CSharpTest/QuickInfo/DiagnosticAnalyzerQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest/Structure/RegionDirectiveStructureTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
Labels: Area-Compilers, VSCode

#75903 Fix issue where we were recommending removing the GetEnumerator method used in a foreach
  src/Analyzers/CSharp/Analyzers/RemoveUnusedMembers/CSharpRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/RemoveUnusedMembers/VisualBasicRemoveUnusedMembersDiagnosticAnalyzer.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
Labels: Area-IDE, untriaged, VSCode

#75888 Update Gladstone
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#75904 Handle field reference from semantic model in non-field-backed property
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Labels: Area-Compilers, untriaged

#75897 Fix case where we were erroneously offering to convert a dictionary to use a collection expression.
  src/Analyzers/CSharp/Analyzers/UseCollectionInitializer/CSharpUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseCollectionInitializer/UseCollectionInitializerTests_CollectionExpression.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractUseCollectionInitializerDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/UseCollectionInitializer/VisualBasicUseCollectionInitializerDiagnosticAnalyzer.vb
Labels: Area-IDE, untriaged, VSCode

#75911 Reduce some allocations from remote classification serialization
  src/Features/Core/Portable/FindUsages/IRemoteFindUsagesService.cs
  src/Workspaces/Core/Portable/Classification/IRemoteSemanticClassificationService.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.Caching.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticClassification/RemoteSemanticClassificationService.cs
Labels: Area-IDE, untriaged, VSCode

#75841 Use `IsManagedType` for determining which state machine hoisted locals to clear
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenIterators.cs
  src/Compilers/CSharp/Test/Emit/Microsoft.CodeAnalysis.CSharp.Emit.UnitTests.csproj
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
Labels: Area-Compilers, untriaged

#75875 Add embedded classification support for locals passed into an annotated api at a later point
  src/EditorFeatures/CSharpTest/Classification/SemanticClassifierTests_Json.cs
  src/Features/CSharp/Portable/EmbeddedLanguages/CSharpEmbeddedLanguagesProvider.cs
  src/Features/Core/Portable/EmbeddedLanguages/EmbeddedLanguageDetector.cs
  src/Features/Core/Portable/EmbeddedLanguages/EmbeddedLanguageInfo.cs
  src/Features/VisualBasic/Portable/EmbeddedLanguages/VisualBasicEmbeddedLanguagesProvider.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpBlockFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicBlockFactsService.vb
Labels: Area-IDE, untriaged, VSCode

#75921 Update 'use simple using statement' to support global statements
  src/Analyzers/CSharp/Analyzers/UseSimpleUsingStatement/UseSimpleUsingStatementDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UseSimpleUsingStatement/UseSimpleUsingStatementCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseSimpleUsingStatement/UseSimpleUsingStatementTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ListExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#75918 Include projects to restart/rebuild in ManagedHotReloadUpdates
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/EditorFeatures/ExternalAccess/Debugger/GlassTestsHotReloadService.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueWorkspaceTestBase.cs
Labels: Area-Interactive, untriaged, VSCode

#75913 Improve go-to-impl and inheritance margin with error conditions
  src/EditorFeatures/Test/InheritanceMargin/InheritanceMarginTests.cs
  src/EditorFeatures/Test2/GoToImplementation/GoToImplementationTests.vb
  src/Features/Core/Portable/FindUsages/AbstractFindUsagesService_FindImplementations.cs
  src/Features/Core/Portable/GoToBase/AbstractGoToBaseService.cs
  src/Features/Core/Portable/InheritanceMargin/AbstractInheritanceMarginService_Helpers.cs
  src/Features/Core/Portable/InheritanceMargin/InheritanceMarginItem.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/BaseTypeFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/SymbolFinder_Hierarchy.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#75912 Reduce formatting allocation in CodeAnalysis process in scrolling speedometer
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/Engine/AbstractFormatEngine.cs
Labels: Area-IDE, untriaged, VSCode

#75819 Enable TypeDefinitionProvider LSP capability
  src/EditorFeatures/Test2/CodeDefinitionWindow/CrossLanguageCodeDefinitionWindowTests.vb
  src/Features/Core/Portable/Navigation/AbstractNavigableItemsService.cs
  src/Features/Core/Portable/Navigation/INavigableItemsService.cs
  src/LanguageServer/Protocol/DefaultCapabilitiesProvider.cs
  src/LanguageServer/Protocol/Handler/Definitions/AbstractGoToDefinitionHandler.cs
  src/LanguageServer/Protocol/Handler/Definitions/GoToDefinitionHandler.cs
  src/LanguageServer/Protocol/Handler/Definitions/GoToTypeDefinitionHandler.cs
  src/LanguageServer/ProtocolUnitTests/Definitions/GoToTypeDefinitionTests.cs
  src/VisualStudio/ExternalAccess/FSharp/Internal/Navigation/FSharpFindDefinitionService.cs
Labels: Area-IDE, untriaged, VSCode

#75907 Ensure NFW gets reported before result is reported to client and remove async listener in queue
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptRequestExecutionQueueProvider.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/RequestExecutionQueue.cs
  src/LanguageServer/Protocol/LspServices/RequestTelemetryScope.cs
  src/LanguageServer/Protocol/RequestExecutionQueueProvider.cs
  src/LanguageServer/Protocol/RoslynRequestExecutionQueue.cs
  src/LanguageServer/ProtocolUnitTests/HandlerTests.cs
Labels: Area-IDE, untriaged, VSCode

#75849 Update parsing code for conditional access expressions
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
Labels: Area-Compilers, untriaged

#75891 Simplify shape of APIs used for Overload Resolution Priority feature
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/SynthesizedStateMachineProperty.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.PropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SignatureOnlyPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDestructorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventAccessorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/ReadOnlyListType/SynthesizedReadOnlyListProperty.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordObjectMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedGlobalMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInstanceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedIntrinsicOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSimpleProgramEntryPointSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedStaticConstructor.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Wrapped/WrappedPropertySymbol.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonMethodEarlyWellKnownAttributeData.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonPropertyEarlyWellKnownAttributeData.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.cs
Labels: Area-Compilers, untriaged, Feature - Overload Resolution Priority

#75764 EE: Support compact name in `IDkmLanguageInstructionDecoder.GetMethodName()` implementation
  eng/Directory.Packages.props
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CSharpInstructionDecoder.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/InstructionDecoderTests.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/InstructionDecoder.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/LanguageInstructionDecoder.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/VisualBasicInstructionDecoder.vb
  src/ExpressionEvaluator/VisualBasic/Test/ExpressionCompiler/InstructionDecoderTests.vb
Labels: Area-Compilers, Area-Interactive, untriaged

#75889 Update .NET 9 runtime for single machine CI job
  azure-pipelines.yml
  eng/pipelines/test-windows-job-single-machine.yml
Labels: Area-Infrastructure, untriaged

#75935 Update Language Feature Status.md
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation, untriaged

#75847 Optimize single spread of IEnumerable to array
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
Labels: Area-Compilers, untriaged

#75934 Fix UpdateBaseline failure when no valid change has been made before baseline update
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
Labels: Area-Interactive, untriaged, VSCode

#75648 Convert single-line raw strings into multi-line on pressing <enter>
  src/EditorFeatures/CSharp/RawStringLiteral/RawStringLiteralCommandHandler_Return.cs
  src/EditorFeatures/CSharpTest/RawStringLiteral/RawStringLiteralCommandHandlerTests.cs
Labels: Area-IDE, Community, untriaged

#75938 Do not show structure guides on raw string literals
  src/EditorFeatures/CSharpTest/Structure/StringLiteralExpressionStructureTests.cs
  src/Features/CSharp/Portable/Structure/CSharpBlockStructureProvider.cs
  src/Features/CSharp/Portable/Structure/Providers/StringLiteralExpressionStructureProvider.cs
  src/Features/VisualBasic/Portable/Structure/VisualBasicBlockStructureProvider.vb
Labels: Area-IDE, untriaged, VSCode

#75816 Add runtime async design doc
  docs/compilers/CSharp/Runtime Async Design.md
Labels: Area-Compilers, Documentation, untriaged

#75937 Add params vs normal form test
  src/Compilers/CSharp/Test/Emit3/OverloadResolutionPriorityTests.cs
Labels: Area-Compilers, untriaged

#75939 Add server side support for refreshing source generated files
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticsPullCache.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.CacheItem.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratedDocumentCache.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratedDocumentGetTextHandler.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratedDocumentText.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratorGetTextParams.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratorRefreshQueue.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratorRefreshQueueFactory.cs
  src/LanguageServer/Protocol/Handler/SpellCheck/SpellCheckPullCache.cs
  src/LanguageServer/ProtocolUnitTests/Workspaces/SourceGeneratedDocumentTests.cs
Labels: Area-IDE, untriaged, VSCode

#75862 VB: Check overload resolution priority for basic scenarios involving methods
  src/Compilers/CSharp/Test/Emit3/OverloadResolutionPriorityTests.cs
  src/Compilers/Test/Utilities/VisualBasic/MockSymbols.vb
  src/Compilers/VisualBasic/Portable/Binding/Binder_XmlLiterals.vb
  src/Compilers/VisualBasic/Portable/Semantics/Operators.vb
  src/Compilers/VisualBasic/Portable/Semantics/OverloadResolution.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType_PropertySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/ErrorMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Metadata/PE/PEPropertySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/PropertySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/ReducedExtensionMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Retargeting/RetargetingMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Retargeting/RetargetingPropertySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SignatureOnlyMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SignatureOnlyPropertySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/LambdaSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceNamedTypeSymbol_ComClass.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourcePropertySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SubstitutedMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SubstitutedPropertySymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SynthesizedSymbols/SynthesizedDelegateMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/SynthesizedSymbols/SynthesizedGlobalMethodBase.vb
  src/Compilers/VisualBasic/Portable/Symbols/SynthesizedSymbols/SynthesizedMethodBase.vb
  src/Compilers/VisualBasic/Portable/Symbols/SynthesizedSymbols/SynthesizedOverridingWitheventsProperty.vb
  src/Compilers/VisualBasic/Portable/Symbols/SynthesizedSymbols/SynthesizedPropertyBase.vb
  src/Compilers/VisualBasic/Portable/Symbols/Tuples/TupleMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Tuples/TuplePropertySymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/MethodCalls.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OverloadResolutionPriorityTests.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Symbols/EEMethodSymbol.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Symbols/PlaceholderMethodSymbol.vb
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/Symbols/SynthesizedContextMethodSymbol.vb
Labels: Area-Compilers, Feature - Overload Resolution Priority

#75815 Reduce IVsFreeThreadedFileChangeEvents2.DirectoryChangedEx2 notifications from VS shell
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/LspFileChangeWatcherTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/LspFileChangeWatcher.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/FileWatching/SimpleFileChangeWatcher.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
  src/VisualStudio/Core/Def/ProjectSystem/FileChangeWatcher.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/FileChangeWatcherTests.vb
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/FileWatchedPortableExecutableReferenceFactory.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/IFileChangeWatcher.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
Labels: Area-IDE, untriaged, VSCode

#75928 Send over the new sourcetext's content checksum when sending notification of textchanges
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/VisualStudio/Core/Test.Next/Services/ServiceHubServicesTests.cs
  src/Workspaces/Core/Portable/Serialization/SerializableSourceText.cs
  src/Workspaces/Remote/Core/IRemoteAssetSynchronizationService.cs
  src/Workspaces/Remote/ServiceHub/Services/AssetSynchronization/RemoteAssetSynchronizationService.cs
Labels: Area-IDE, untriaged, VSCode

#75952 Handle `using var` in redundant assignment removal
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpReplaceDiscardDeclarationsWithAssignmentsService.cs
Labels: Area-IDE, Community, untriaged, VSCode

#75496 Improve performance on `SymbolCompletionProviderTests`
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/AbstractCSharpCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/AbstractVisualBasicCompletionProviderTests.vb
Labels: Area-IDE, Community, untriaged

#75946 Include list of processes that lock file in `can't write file` error message
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CodeAnalysisResources.resx
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.CompilerEmitStreamProvider.cs
  src/Compilers/Core/Portable/InternalUtilities/FileLockCheck.cs
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.cs.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.de.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.es.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.fr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.it.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ja.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ko.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pl.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.pt-BR.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.ru.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.tr.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hans.xlf
  src/Compilers/Core/Portable/xlf/CodeAnalysisResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, untriaged

#75368 Support unbound generic types in 'nameof' operator.
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/NameofBinder.cs
  src/Compilers/CSharp/Portable/Binder/OpenTypeVisitor.cs
  src/Compilers/CSharp/Portable/Binder/TypeofBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/FlowAnalysis/FlowDiagnosticTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NameOfTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TypeOfTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/TypeArgumentListParsingTests.cs
Labels: Area-Compilers, untriaged

#75978 Postpone respecting the code-style analysis config rule until NET10
  src/CodeStyle/Tools/Program.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75966 Tweaks to inline variable and nullable
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/UseCollectionExpressionHelpers.cs
  src/EditorFeatures/Test2/Simplification/CastSimplificationTests.vb
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharpTest/ExtractMethod/ExtractLocalFunctionTests.cs
  src/Features/CSharpTest/ExtractMethod/ExtractMethodTests2.cs
  src/Features/CSharpTest/InlineTemporary/InlineTemporaryTests.cs
  src/Features/CSharpTest/IntroduceVariable/IntroduceVariableTests.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ArgumentSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#66425 Implement find all references to preprocessing symbols
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/PreprocessingSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelAPITests.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/SymbolVisitor.cs
  src/Compilers/Core/Portable/Symbols/SymbolVisitor`1.cs
  src/Compilers/Core/Portable/Symbols/SymbolVisitor`2.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.vb
  src/Compilers/VisualBasic/Portable/Symbols/PreprocessingSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Compilation/SemanticModelAPITests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolDisplay/SymbolDisplayTests.vb
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.PreprocessingSymbols.vb
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/Core/Portable/FindUsages/DefinitionItemFactory.cs
  src/Features/Core/Portable/Shared/Extensions/ISymbolExtensions_2.cs
  src/LanguageServer/Protocol/Handler/References/FindUsagesLSPContext.cs
  src/LanguageServer/Protocol/Protocol/Internal/VSInternalReferenceItem.cs
  src/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpHelpContextService.cs
  src/VisualStudio/CSharp/Test/F1Help/F1HelpTests.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/DependentProjectsFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/PreprocessingSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ReferenceFinders.cs
  src/Workspaces/Core/Portable/FindSymbols/Shared/AbstractSyntaxIndex_Persistence.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ContextInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
  src/Workspaces/Core/Portable/Shared/Extensions/SemanticModelExtensions.cs
  src/Workspaces/Core/Portable/Shared/Extensions/TokenSemanticInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SemanticFacts/ISemanticFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.NamespaceSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.PreprocessingSymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyReader.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.SymbolKeyWriter.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SemanticFacts/VisualBasicSemanticFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
Labels: Area-Compilers, Community, Needs API Review, VSCode

#75969 Fix TFM of MSBuild.UnitTests
  eng/pipelines/test-integration-helix.yml
  src/Workspaces/MSBuildTest/Microsoft.CodeAnalysis.Workspaces.MSBuild.UnitTests.csproj
Labels: Area-Infrastructure, untriaged

#75821 Null-conditional assignment 1
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IConditionalAccessExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ConditionalOperatorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullConditionalAssignmentTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeconstructionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NullConditionalAssignmentParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/SuppressNullableWarningExpressionParsingTests.cs
  src/Features/CSharpTest/ConvertLinq/ConvertLinqQueryToForEachTests.cs
Labels: Area-Compilers, VSCode, New Feature - Null Conditional Assignment

#75984 [backport] Postpone respecting the code-style analysis config rule until NET10
  src/CodeStyle/Tools/Program.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75987 Remove trailing comma when converting to a tuple
  src/Features/CSharp/Portable/ConvertAnonymousType/CSharpConvertAnonymousTypeToTupleCodeRefactoringProvider.cs
  src/Features/CSharpTest/ConvertAnonymousType/ConvertAnonymousTypeToTupleTests.cs
Labels: Area-IDE, untriaged, VSCode

#75962 Update language feature status
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation, untriaged

#75998 [backport] Workaround failing official builds
  azure-pipelines-official.yml
  eng/InternalTools.props
Labels: Area-Infrastructure, untriaged

#75941 VB Overload Resolution Priority - handle operators and respect language version
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/OverloadResolutionPriorityTests.cs
  src/Compilers/VisualBasic/Portable/Parser/ParserFeature.vb
  src/Compilers/VisualBasic/Portable/Semantics/Operators.vb
  src/Compilers/VisualBasic/Portable/Semantics/OverloadResolution.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OverloadResolutionPriorityTests.vb
Labels: Area-Compilers, untriaged, Feature - Overload Resolution Priority

#75958 Do not pay attention to Overload Resolution Priority for properties assigned in attributes
  src/Compilers/VisualBasic/Portable/Semantics/OverloadResolution.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OverloadResolutionPriorityTests.vb
Labels: Area-Compilers, untriaged, Feature - Overload Resolution Priority

#75994 [backport] Update structured logger
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#75853 Prefer array to ReadOnlySpan over Span
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#75976 Add fixer to convert from bound generic types in nameof to unbound types.
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/CodeStyle/CSharpAnalyzerOptionsProvider.cs
  src/Analyzers/CSharp/Analyzers/UseUnboundGenericTypeInNameOf/CSharpUseUnboundGenericTypeInNameOfDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseUnboundGenericTypeInNameOf/CSharpUseUnboundGenericTypeInNameOfCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseTupleSwap/UseTupleSwapTests.cs
  src/Analyzers/CSharp/Tests/UseUnboundGenericTypeInNameOf/UseUnboundGenericTypeInNameOfTests.cs
  src/Analyzers/Core/Analyzers/EnforceOnBuildValues.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Features/RulesMissingDocumentation.md
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProvider.cs
  src/VisualStudio/CSharp/Test/EditorConfigSettings/DataProvider/DataProviderTests.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
Labels: Area-Compilers, untriaged, VSCode

#75944 Add a couple common type sizes to SegmentedArrayHelper's size/shift/offsetmask methods so those values can be inlined.
  src/Compilers/Core/CodeAnalysisTest/Collections/SegmentedArrayHelperTests.cs
  src/Dependencies/Collections/Internal/SegmentedArrayHelper.cs
Labels: Area-Compilers, untriaged

#75943 Reuse segments during SegmentedDictionary growth
  src/Dependencies/Collections/SegmentedDictionary`2.cs
  src/Dependencies/Collections/SegmentedHashSet`1.cs
  src/Dependencies/Collections/SegmentedList`1.cs
  src/Tools/IdeCoreBenchmarks/SegmentedDictionaryBenchmarks_Add.cs
Labels: Area-IDE, untriaged

#75996 Use VisitRvalue to visit a function pointer
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/FunctionPointerTests.cs
Labels: Area-Compilers, untriaged

#75872 Check for BackingField instead of IsAutoProperty in NullableWalker
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/RequiredMembersTests.cs
Labels: Area-Compilers, untriaged

#75908 Clear hoisted locals when disposing iterator and async-iterator state machines
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncIteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.AsyncIteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorMethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/IteratorRewriter/IteratorRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenDisplayClassOptimisationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenIterators.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UseSiteErrorTests.cs
Labels: Area-Compilers

#76012 Mark used deconstruct methods.
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
Labels: Area-IDE, untriaged, VSCode

#75977 Simplify tests
  src/Analyzers/CSharp/Tests/AddAccessibilityModifiers/AddAccessibilityModifiersTests.cs
  src/Analyzers/CSharp/Tests/ConflictMarkerResolution/ConflictMarkerResolutionTests.cs
  src/Analyzers/CSharp/Tests/ConvertNamespace/ConvertToBlockScopedNamespaceAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/ConvertNamespace/ConvertToFileScopedNamespaceAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionTests.cs
  src/Analyzers/CSharp/Tests/FileHeaders/FileHeaderTests.cs
  src/Analyzers/CSharp/Tests/FixReturnType/FixReturnTypeTests.cs
  src/Analyzers/CSharp/Tests/GenerateDefaultConstructors/GenerateDefaultConstructorsTests.cs
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceTests.cs
  src/Analyzers/CSharp/Tests/MakeAnonymousFunctionStatic/MakeAnonymousFunctionStaticTests.cs
  src/Analyzers/CSharp/Tests/MakeMemberRequired/MakeMemberRequiredTests.cs
  src/Analyzers/CSharp/Tests/MakeStructMemberReadOnly/MakeStructMemberReadOnlyTests.cs
  src/Analyzers/CSharp/Tests/MakeTypePartial/MakeTypePartialTests.cs
  src/Analyzers/CSharp/Tests/NewLines/ArrowExpressionClausePlacement/ArrowExpressionClausePlacementTests.cs
  src/Analyzers/CSharp/Tests/NewLines/ConditionalExpressionPlacement/ConditionalExpressionPlacementTests.cs
  src/Analyzers/CSharp/Tests/NewLines/ConsecutiveBracePlacement/ConsecutiveBracePlacementTests.cs
  src/Analyzers/CSharp/Tests/NewLines/ConsecutiveStatementPlacement/ConsecutiveStatementPlacementTests.cs
  src/Analyzers/CSharp/Tests/NewLines/ConstructorInitializerPlacement/ConstructorInitializerPlacementTests.cs
  src/Analyzers/CSharp/Tests/NewLines/EmbeddedStatementPlacement/EmbeddedStatementPlacementTests.cs
  src/Analyzers/CSharp/Tests/NewLines/MultipleBlankLines/MultipleBlankLinesTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryLambdaExpression/RemoveUnnecessaryLambdaExpressionTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseCoalesceExpression/UseCoalesceExpressionForIfNullStatementCheckTests.cs
  src/Analyzers/CSharp/Tests/UseCollectionInitializer/UseCollectionInitializerTests.cs
  src/Analyzers/CSharp/Tests/UseCompoundAssignment/UseCompoundAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseCompoundAssignment/UseCompoundCoalesceAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/Analyzers/CSharp/Tests/UseDefaultLiteral/UseDefaultLiteralTests.cs
  src/Analyzers/CSharp/Tests/UseExplicitTupleName/UseExplicitTupleNameTests.cs
  src/Analyzers/CSharp/Tests/UseExpressionBody/UseExpressionBodyForAccessorsAnalyzerTests.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseIndexOperatorTests.cs
  src/Analyzers/CSharp/Tests/UseIndexOrRangeOperator/UseRangeOperatorTests.cs
  src/Analyzers/CSharp/Tests/UseNullPropagation/UseNullPropagationTests.cs
  src/Analyzers/CSharp/Tests/UseObjectInitializer/UseObjectInitializerTests.cs
  src/Analyzers/CSharp/Tests/UsePatternMatching/CSharpAsAndMemberAccessTests.cs
  src/Analyzers/CSharp/Tests/UseTupleSwap/UseTupleSwapTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/InitializeParameter/AddParameterCheckTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/MoveStaticMembers/CSharpMoveStaticMembersTests.cs
  src/Features/CSharpTest/ConvertCast/ConvertDirectCastToTryCastTests.cs
  src/Features/CSharpTest/ConvertCast/ConvertTryCastToDirectCastTests.cs
  src/Features/CSharpTest/ConvertIfToSwitch/ConvertIfToSwitchTests.cs
  src/Features/CSharpTest/ConvertNamespace/ConvertNamespaceRefactoringTests.cs
  src/Features/CSharpTest/ConvertProgram/ConvertToProgramMainAnalyzerTests.cs
  src/Features/CSharpTest/ConvertProgram/ConvertToProgramMainRefactoringTests.cs
  src/Features/CSharpTest/ConvertProgram/ConvertToTopLevelStatementsAnalyzerTests.cs
  src/Features/CSharpTest/ConvertProgram/ConvertToTopLevelStatementsRefactoringTests.cs
  src/Features/CSharpTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.cs
  src/Features/CSharpTest/EmbeddedLanguages/JsonStringDetectorTests.cs
  src/Features/CSharpTest/EnableNullable/EnableNullableTests.cs
  src/Features/CSharpTest/ExtractClass/ExtractClassTests.cs
  src/Features/CSharpTest/GenerateFromMembers/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersTests.cs
  src/Features/CSharpTest/SimplifyPropertyPattern/SimplifyPropertyPatternTests.cs
  src/Features/CSharpTest/UseNameofInAttribute/UseNameofInAttributeTests.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeRefactoringVerifier`1+Test.cs
Labels: Area-IDE, untriaged, VSCode

#75795 Make MaxSupportedLangVersion calculation dynamic
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTaskTests/TargetTests.cs
Labels: Area-Compilers, Community, untriaged

#76027 Disable symbol search on generated documents
  src/Workspaces/Remote/ServiceHub/Services/MissingImportDiscovery/RemoteMissingImportDiscoveryService.cs
Labels: Area-IDE, untriaged, VSCode

#76000 Fix symbol display for backing fields
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/RecordTests.cs
  src/Compilers/Core/Portable/CodeGen/CompilationTestData.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayCompilerInternalOptions.cs
  src/Compilers/Core/Portable/SymbolDisplay/SymbolDisplayFormat.cs
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.Members.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolDisplay/SymbolDisplayTests.vb
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Labels: Area-Compilers, untriaged

#76032 Add the 'scoped' modifier in metadata-as-source
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.CSharp.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeGeneration/ParameterGenerator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ITypeSymbolExtensions.TypeSyntaxGeneratorVisitor.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSyntaxGeneratorInternal.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeGeneration/Symbols/CodeGenerationTypeSymbol.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SyntaxGeneratorInternalExtensions/SyntaxGeneratorInternal.cs
Labels: Area-IDE, untriaged, VSCode

#76015 Keep comments when removing unnecessary lambda expressions
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryLambdaExpression/RemoveUnnecessaryLambdaExpressionTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
Labels: Area-IDE, untriaged, VSCode

#76023 Remove unnecessary parentheses around collection expressions
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryParentheses/RemoveUnnecessaryExpressionParenthesesTests.cs
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForReturnTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#76019 Only run Code Cleanup on documents from the VS workspace
  src/VisualStudio/CSharp/Impl/LanguageService/CSharpCodeCleanupFixer.cs
  src/VisualStudio/Core/Def/CodeCleanup/AbstractCodeCleanUpFixer.cs
Labels: Area-IDE, untriaged

#75684 Include project diagnostic suppressors in host analyzer execution
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor_Helpers.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Workspaces/Core/Portable/Diagnostics/AnalysisResultPair.cs
  src/Workspaces/Core/Portable/Diagnostics/CompilationWithAnalyzersPair.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: Area-Analyzers, untriaged, VSCode

#76021 Disable 'use interpolated string' with raw strings
  src/Features/CSharp/Portable/ConvertToInterpolatedString/CSharpConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/CSharpTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
Labels: Area-IDE, untriaged, VSCode

#76039 Keep trivia in 'make method synchronous'
  src/Analyzers/CSharp/Tests/AssignOutParameters/AssignOutParametersAtStartTests.cs
  src/Analyzers/CSharp/Tests/MakeMethodSynchronous/MakeMethodSynchronousTests.cs
  src/Analyzers/CSharp/Tests/RemoveAsyncModifier/RemoveAsyncModifierTests.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/MemberDeclarationSyntaxExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#76022 Fix explicit generation of static conversion methods in interfaces
  src/Analyzers/CSharp/CodeFixes/ImplementInterface/CSharpImplementInterfaceCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeGeneration/ConversionGenerator.cs
Labels: Area-IDE, untriaged, VSCode

#76041 Fix missed case in automatic line ending
  src/EditorFeatures/CSharp/AutomaticCompletion/AutomaticLineEnderCommandHandler.cs
  src/EditorFeatures/CSharp/AutomaticCompletion/AutomaticLineEnderCommandHandler_Helpers.cs
  src/EditorFeatures/CSharpTest/AutomaticCompletion/AutomaticLineEnderTests.cs
Labels: Area-IDE, untriaged

#76048 Anonymous types in quick info should not have navigation links
  src/Features/Core/Portable/LanguageServices/AnonymousTypeDisplayService/StructuralTypeDisplayInfo.cs
Labels: Area-IDE, untriaged, VSCode

#76038 Remove imports should only format the section of the document that was touched
  SpellingExclusions.dic
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryImports/RemoveUnnecessaryImportsTests.cs
  src/Analyzers/Core/CodeFixes/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsCodeFixProvider.cs
  src/EditorFeatures/CSharpTest/CodeActions/MoveType/MoveTypeTests.MoveToNewFile.cs
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpRemoveUnnecessaryImportsService.Rewriter.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpRemoveUnnecessaryImportsService.cs
Labels: Area-IDE, untriaged, VSCode

#76037 Include project diagnostic suppressors in host analyzer execution (target main)
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor_Helpers.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/Workspaces/Core/Portable/Diagnostics/AnalysisResultPair.cs
  src/Workspaces/Core/Portable/Diagnostics/CompilationWithAnalyzersPair.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: Area-Analyzers, untriaged, VSCode

#70423 fix Inline temporary variable adds unnecessary cast
  src/Features/CSharp/Portable/CodeRefactorings/InlineTemporary/InlineTemporaryCodeRefactoringProvider.cs
  src/Features/CSharpTest/InlineTemporary/InlineTemporaryTests.cs
Labels: Area-IDE, Community, untriaged, VSCode

#76008 VBOverloadResolutionPriority: break attribute binding cycles, clone a bunch of C# tests
  src/Compilers/CSharp/Test/Emit3/OverloadResolutionPriorityTests.cs
  src/Compilers/VisualBasic/Portable/Semantics/OverloadResolution.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMethodSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/OverloadResolutionPriorityTests.vb
Labels: Area-Compilers, untriaged, Feature - Overload Resolution Priority

#75982 Record "nameof(UnboundGenericType<>)" as done
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation, untriaged

#76033 Update data for snap 17.13P2
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#76072 Add comment about supported values of platform switch
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
Labels: Area-Compilers, Community, untriaged

#76070 Fix LangVersion computation on non-English locales
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
Labels: Area-Compilers, untriaged

#76011 Update docs to add a new LangVer
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
Labels: Area-Compilers, untriaged

#76017 Fix parameters not showing up in 'nameof' on a method
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/SymbolCompletionProvider.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationService.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Labels: Area-IDE, untriaged, VSCode

#76077 Suppress IDE namespace warning
  src/Compilers/.editorconfig
Labels: Area-Compilers, untriaged

#76049 Fix issue producing interpolated strings from char literals
  src/Features/CSharp/Portable/ConvertToInterpolatedString/CSharpConvertConcatenationToInterpolatedStringRefactoringProvider.cs
  src/Features/CSharpTest/ConvertToInterpolatedString/ConvertConcatenationToInterpolatedStringTests.cs
  src/Features/Core/Portable/ConvertToInterpolatedString/AbstractConvertConcatenationToInterpolatedStringRefactoringProvider.cs
Labels: Area-IDE, untriaged, VSCode

#76052 Do not offer to remove the primary field from an inline array
  src/Analyzers/CSharp/Tests/MakeFieldReadonly/MakeFieldReadonlyTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedMembers/RemoveUnusedMembersTests.cs
  src/Analyzers/Core/Analyzers/MakeFieldReadonly/AbstractMakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Analyzers/Core/CodeFixes/RemoveUnusedMembers/AbstractRemoveUnusedMembersCodeFixProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ICompilationExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#76079 Improve the cases that 'simplify linq' works on
  src/Analyzers/CSharp/Analyzers/SimplifyLinqExpression/CSharpSimplifyLinqExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/SimplifyLinqExpression/CSharpSimplifyLinqExpressionFixAllTests.cs
  src/Analyzers/CSharp/Tests/SimplifyLinqExpression/CSharpSimplifyLinqExpressionTests.cs
  src/Analyzers/Core/Analyzers/SimplifyLinqExpression/AbstractSimplifyLinqExpressionDiagnosticAnalyzer.cs
  src/Analyzers/VisualBasic/Analyzers/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/Tests/SimplifyLinqExpression/VisualBasicSimplifyLinqExpressionTests.vb
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
Labels: Area-IDE, untriaged, VSCode

#76040 Make approved api changes
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxFacts.vb
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxNodeRemover.vb
  src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
Labels: Area-Compilers, untriaged, Needs API Review, VSCode

#76054 Fix formatting when making an accessor readonly
  src/Analyzers/CSharp/CodeFixes/MakeStructMemberReadOnly/CSharpMakeStructMemberReadOnlyCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/AddAccessibilityModifiers/AddAccessibilityModifiersFixAllTests.cs
  src/Analyzers/CSharp/Tests/AddAccessibilityModifiers/AddAccessibilityModifiersTests.cs
  src/Analyzers/CSharp/Tests/MakeLocalFunctionStatic/MakeLocalFunctionStaticTests.cs
  src/Analyzers/CSharp/Tests/MakeMemberStatic/MakeMemberStaticTests.cs
  src/Analyzers/CSharp/Tests/MakeStructMemberReadOnly/MakeStructMemberReadOnlyTests.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/Features/CSharp/Portable/AddDebuggerDisplay/CSharpAddDebuggerDisplayCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/ConvertProgram/ConvertProgramTransform_ProgramMain.cs
  src/Features/CSharp/Portable/ConvertProgram/ConvertToProgramMainCodeFixProvider.cs
  src/Features/CSharpTest/ConvertProgram/ConvertToProgramMainAnalyzerTests.cs
  src/Features/Core/Portable/AddDebuggerDisplay/AbstractAddDebuggerDisplayCodeRefactoringProvider.cs
  src/Workspaces/CSharp/Portable/CodeGeneration/CSharpSyntaxGenerator.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
Labels: Area-IDE, untriaged, VSCode

#76053 Add a helper to determine if a type has a specific attribute or not.
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/ReplaceDefaultLiteral/CSharpReplaceDefaultLiteralCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/MakeFieldReadonly/AbstractMakeFieldReadonlyDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedMembers/AbstractRemoveUnusedMembersDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/RemoveUnusedParametersAndValues/AbstractRemoveUnusedParametersAndValuesDiagnosticAnalyzer.SymbolStartAnalyzer.cs
  src/Features/CSharp/Portable/ExtractMethod/CSharpSelectionResult.ExpressionResult.cs
  src/Features/VisualBasic/Portable/ExtractMethod/VisualBasicSelectionResult.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/IMethodSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#76083 Fix 'create constructor' with types without bodies
  src/Features/CSharp/Portable/ConvertPrimaryToRegularConstructor/ConvertPrimaryToRegularConstructorCodeRefactoringProvider.cs
  src/Features/CSharpTest/ConvertPrimaryToRegularConstructor/ConvertPrimaryToRegularConstructorTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeGeneration/CSharpCodeGenerationService.cs
Labels: Area-IDE, untriaged, VSCode

#76044 Update 'implement interface' to forward explicit members to implicit ones
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceTests.cs
  src/Analyzers/Core/CodeFixes/ImplementAbstractClass/ImplementAbstractClassData.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_Conflicts.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_Method.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_Property.cs
  src/Analyzers/VisualBasic/Tests/ImplementInterface/ImplementInterfaceTests.vb
  src/EditorFeatures/VisualBasicTest/ImplementInterface/ImplementInterfaceCommandHandlerTests.vb
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeGeneration/PropertyGenerator.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeGeneration/CodeGenerationSymbolFactory.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE, untriaged, VSCode

#74645 Fix Sort Usings in Inline Diff
  src/EditorFeatures/Core/Organizing/OrganizeDocumentCommandHandler.cs
Labels: Area-IDE, untriaged

#76082 Reduce allocations from NamedTypeSymbol.AddOperators usage
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedExplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
Labels: Area-Compilers, untriaged

#76060 Support ExperimentalAttribute.Message
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpDiagnosticFilter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/ObsoleteAttributeHelpers.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExperimentalAttributeTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonAttributeData.cs
  src/Compilers/Core/Portable/Symbols/Attributes/ObsoleteAttributeData.cs
  src/Compilers/VisualBasic/Portable/Errors/ErrorFacts.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Generated/ErrorFacts.Generated.vb
  src/Compilers/VisualBasic/Portable/Symbols/ObsoleteAttributeHelpers.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests.vb
Labels: Area-Compilers

#76101 Fix FAR on an alias to a predefined type
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.AliasSymbols.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/NamedTypeSymbolReferenceFinder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/SymbolKey/SymbolKey.AliasSymbolKey.cs
Labels: Area-IDE, untriaged, VSCode

#76098 Fix issue offering to remove an necessary cast to dynamic
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
Labels: Area-IDE, untriaged, VSCode

#76097 Update FindRefs to find constructor references in a primary constructor base type
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.ConstructorSymbols.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/ConstructorSymbolReferenceFinder.cs
  src/Workspaces/Core/Portable/FindSymbols/Shared/AbstractSyntaxIndex_Persistence.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex.ContextInfo.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Create.cs
  src/Workspaces/Core/Portable/FindSymbols/SyntaxTree/SyntaxTreeIndex_Forwarders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFactsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
Labels: Area-IDE, untriaged, VSCode
