Repository dotnet/roslyn, pull requests merged in 2024-10, with the labels that each got.

#74317 Support long chains of `else if` statements
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/LocalBinderFactory.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundTreeRewriter.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundTreeWalker.cs
  src/Compilers/CSharp/Portable/BoundTree/NullabilityRewriter.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.NodeMapBuilder.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/CodeCoverageInstrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/CompoundInstrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/DebugInfoInjector.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/Instrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IfStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_LockStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Syntax/LookupPosition.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIfStatement.cs
  src/Compilers/Core/Portable/Operations/ControlFlowGraphBuilder.cs
  src/Compilers/Core/Portable/Operations/OperationMapBuilder.cs
Labels: Area-Compilers, untriaged

#75257 EnC: Allow reordering members
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharpTest/EditAndContinue/ActiveStatementTests.cs
  src/Features/CSharpTest/EditAndContinue/LineEditTests.cs
  src/Features/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/Test/EditAndContinue/RudeEditDiagnosticTests.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueTestVerifier.cs
  src/Features/VisualBasic/Portable/EditAndContinue/VisualBasicEditAndContinueAnalyzer.vb
  src/Features/VisualBasicTest/EditAndContinue/LineEditTests.vb
  src/Features/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
Labels: Area-IDE, untriaged, VSCode

#75303 PR feedback on "use collection expression".
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForFluentDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractObjectCreationExpressionAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractUseCollectionInitializerAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseObjectInitializer/UseNamedMemberInitializerAnalyzer.cs
Labels: Area-IDE, untriaged, VSCode

#75324 Revert the Revert "Updates content exclusion for on-the-fly-docs (#75172)" (#75279)
  src/EditorFeatures/Core.Wpf/QuickInfo/OnTheFlyDocsView.xaml.cs
  src/EditorFeatures/Core.Wpf/QuickInfo/OnTheFlyDocsViewFactory.cs
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
  src/EditorFeatures/ExternalAccess/Copilot/Analyzer/IExternalCSharpCopilotCodeAnalysisService.cs
  src/EditorFeatures/ExternalAccess/Copilot/Internal/Analyzer/AbstractCopilotCodeAnalysisService.cs
  src/EditorFeatures/ExternalAccess/Copilot/Internal/Analyzer/CSharp/CSharpCopilotCodeAnalysisService.ReflectionWrapper.cs
  src/EditorFeatures/ExternalAccess/Copilot/Internal/Analyzer/CSharp/CSharpCopilotCodeAnalysisService.cs
  src/EditorFeatures/ExternalAccess/Copilot/InternalAPI.Unshipped.txt
  src/EditorFeatures/Test2/CodeFixes/CodeFixServiceTests.vb
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
  src/Features/Core/Portable/Copilot/ICopilotCodeAnalysisService.cs
  src/Features/Core/Portable/QuickInfo/OnTheFlyDocsElement.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE, untriaged, VSCode

#75304 Improve error reporting when reading bad metadata during EnC
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DefinitionMap.cs
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Test/PdbUtilities/EditAndContinue/EditAndContinueTest.cs
Labels: Area-Compilers, untriaged, VSCode

#75301 Fixes comparison of VB XML literals
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxEquivalence.vb
  src/Compilers/VisualBasic/Test/Syntax/Syntax/SyntaxEquivalenceTests.vb
  src/Features/VisualBasicTest/EditAndContinue/StatementEditingTests.vb
  src/Features/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
Labels: Area-Compilers, untriaged, VSCode

#71380 Consider `params` and default values when inferring unique method signature
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 9.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/ModuleCancellationInstrumenter.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
Labels: Area-Compilers, untriaged, New Feature - Lambda Improvements, New Language Feature - Default lambda parameters

#75103 Fix null coalescing operator emit with span conversion
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#75328 Fix ambiguity parsing collection in conditional expressions
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaAttributeParsingTests.cs
Labels: Area-Compilers, untriaged

#75180 Enable support for an LSP client to open source generated files
  src/EditorFeatures/TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/Features/Core/Portable/Navigation/INavigableItem.cs
  src/Features/Lsif/Generator/Generator.cs
  src/Features/Lsif/GeneratorTest/ProjectStructureTests.vb
  src/LanguageServer/BannedSymbols.txt
  src/LanguageServer/Protocol/Extensions/Extensions.cs
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/Protocol/Extensions/SourceGeneratedDocumentUri.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/MapCode/MapCodeHandler.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratedDocumentGetTextHandler.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratedDocumentText.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratorGetTextParams.cs
  src/LanguageServer/Protocol/Handler/SpellCheck/AbstractSpellCheckingHandler.cs
  src/LanguageServer/Protocol/ILanguageInfoProvider.cs
  src/LanguageServer/Protocol/LanguageInfoProvider.cs
  src/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspace.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/LanguageServer/ProtocolUnitTests/Definitions/GoToDefinitionTests.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
  src/LanguageServer/ProtocolUnitTests/DocumentChanges/DocumentChangesTests.cs
  src/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentOnTypeTests.cs
  src/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentRangeTests.cs
  src/LanguageServer/ProtocolUnitTests/Formatting/FormatDocumentTests.cs
  src/LanguageServer/ProtocolUnitTests/InlineCompletions/InlineCompletionsTests.cs
  src/LanguageServer/ProtocolUnitTests/OnAutoInsert/OnAutoInsertTests.cs
  src/LanguageServer/ProtocolUnitTests/ProtocolConversionsTests.cs
  src/LanguageServer/ProtocolUnitTests/Workspaces/LspWorkspaceManagerTests.cs
  src/LanguageServer/ProtocolUnitTests/Workspaces/SourceGeneratedDocumentTests.cs
  src/LanguageServer/ProtocolUnitTests/Workspaces/SourceGeneratedDocumentUriTests.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynSearchResultViewFactory.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Definitions/GoToDefinitionHandler.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.WithFrozenSourceGeneratedDocumentsCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Workspace_Editor.cs
Labels: Area-IDE, untriaged, VSCode

#75336 Use primary constructor in rename command handler
  src/EditorFeatures/Core.Wpf/InlineRename/CommandHandlers/RenameCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_EscapeHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_LineStartEndHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RenameHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_ReturnHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_SaveHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_SelectAllHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_UndoRedoHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_WordDeleteHandler.cs
Labels: Area-IDE, untriaged

#75316 Allow accessing ref fields through rvalues
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, untriaged

#75358 Reduce allocations and UI thread CPU costs in WithDoNotCreateCreationPolicy
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.RegularCompilationTracker.cs
Labels: Area-IDE, untriaged, VSCode

#75351 Reduce allocations during typing
  src/Compilers/Core/Portable/Text/TextChangeRangeExtensions.cs
  src/EditorFeatures/Text/ITextImageHelpers.cs
Labels: Area-IDE, untriaged

#75305 Fix crash with Dispose method with params
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenForEachTests.cs
Labels: Area-Compilers, untriaged

#75362 Log and report NFW when we fail to apply project system update
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProject.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProjectFactoryService.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServerFatalError.cs
Labels: Area-IDE, untriaged, VSCode

#74910 Add required `--locale` option to BuildHost
  src/Workspaces/Core/MSBuild.BuildHost/BuildHostLogger.cs
  src/Workspaces/Core/MSBuild.BuildHost/Program.cs
  src/Workspaces/Core/MSBuild/MSBuild/BuildHostProcessManager.cs
  src/Workspaces/MSBuildTest/BuildHostProcessManagerTests.cs
  src/Workspaces/MSBuildTest/NetCoreTests.cs
  src/Workspaces/MSBuildTest/Resources/ProjectFiles/CSharp/InvalidTFM.csproj
  src/Workspaces/MSBuildTest/TestFiles/Resources.cs
Labels: Area-IDE, untriaged, VSCode

#75364 LSP hover responses escape backticks within inline code
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/ProtocolUnitTests/Hover/HoverTests.cs
Labels: VSCode

#74582 Fix symbol info in identifier name in object initializer
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ObjectAndCollectionInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetDeclaredSymbolAPITests.cs
  src/Compilers/VisualBasic/Test/Semantic/Compilation/SemanticModelAPITests.vb
Labels: Area-Compilers, Community, untriaged

#75355 Avoid linking back to the original TreeSource in document state updates if the associated lazy is already completed
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState_LinkedFileReuse.cs
Labels: Area-IDE, untriaged, VSCode

#75348 Don't update xaml tool
  azure-pipelines-official.yml
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75285 Convert more lambda rude edits to runtime rude edits
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueClosureTests.vb
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharpTest/EditAndContinue/ActiveStatementTests.cs
  src/Features/CSharpTest/EditAndContinue/Helpers/EditAndContinueValidation.cs
  src/Features/CSharpTest/EditAndContinue/Helpers/EditingTestBase.cs
  src/Features/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/Features/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/RudeEditKind.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/TestUtilities/EditAndContinue/EditAndContinueTestVerifier.cs
  src/Features/TestUtilities/EditAndContinue/EditScriptDescription.cs
  src/Features/TestUtilities/EditAndContinue/SourceMarkers.cs
  src/Features/TestUtilities/EditAndContinue/SyntaxMapDescription.cs
  src/Features/VisualBasicTest/EditAndContinue/ActiveStatementTests.vb
  src/Features/VisualBasicTest/EditAndContinue/Helpers/EditAndContinueValidation.vb
  src/Features/VisualBasicTest/EditAndContinue/Helpers/EditingTestBase.vb
  src/Features/VisualBasicTest/EditAndContinue/StatementEditingTests.vb
  src/Features/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
Labels: Area-Interactive, untriaged, VSCode

#75376 Revert "Merge release/dev17.8 to release/dev17.10"
  azure-pipelines-official.yml
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75392 Revert "Merge release/dev17.10 to release/dev17.11"
  azure-pipelines-official.yml
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75390 Revert "Merge release/dev17.11 to release/dev17.12"
  azure-pipelines-official.yml
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75391 Revert "Merge release/dev17.12 to main"
  azure-pipelines-official.yml
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75370 Add keyboard shortcut for 'Add null checks' in generate constructor
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/VisualStudio/Core/Def/PickMembers/PickMembersDialog.xaml
Labels: Area-IDE, untriaged

#75295 Update insertion model after VS snap
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#75223 Mark ISourceGenerator as obsolete for implementation
  .editorconfig
  docs/features/incremental-generators.md
  eng/Version.Details.xml
  eng/Versions.props
  eng/targets/Settings.props
  src/Compilers/Core/Portable/ImplementationIsObsoleteAttribute.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorAdaptor.cs
  src/Compilers/Core/Portable/SourceGeneration/ISourceGenerator.cs
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests.vb
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test2/Rename/CSharp/SourceGeneratorTests.vb
  src/Features/CSharpTest/ConvertToRecord/ConvertToRecordCodeRefactoringTests.cs
  src/Workspaces/TestAnalyzerReference/HelloWorldGenerator.cs
Labels: Area-Compilers, untriaged, VSCode

#75386 Update instructions for adding new `ErrorCode.WRN_`
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
Labels: Area-Compilers, untriaged

#75288 Improve doc comments for `IConditionalOperation.IsRef`
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
Labels: Area-Compilers, Community, untriaged

#75373 Fix suggestions for dotted constant patterns in Color Color case
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Labels: Area-IDE, Community, untriaged, VSCode

#75233 Reapply "Load analyzers and generators in isolated ALCs in our OOP process"
  src/EditorFeatures/Test/Options/GlobalOptionsTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerWorkspaceFactory.cs
  src/LanguageServer/Protocol/Features/Options/WorkspaceConfigurationOptionsStorage.cs
  src/Tools/AnalyzerRunner/AnalyzerRunnerWorkspaceConfigurationService.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test.Next/Remote/SerializationValidator.cs
  src/VisualStudio/Core/Test.Next/Services/SolutionServiceTests.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageStrings.vb
  src/Workspaces/Core/Portable/Serialization/SerializerService_Reference.cs
  src/Workspaces/Core/Portable/Workspace/Host/Metadata/IAnalyzerAssemblyLoaderProvider.cs
  src/Workspaces/Core/Portable/Workspace/IWorkspaceConfigurationService.cs
  src/Workspaces/Core/Portable/Workspace/IsolatedAnalyzerFileReference.cs
  src/Workspaces/Core/Portable/Workspace/IsolatedAnalyzerReferenceSet.Core.cs
  src/Workspaces/Core/Portable/Workspace/IsolatedAnalyzerReferenceSet.Desktop.cs
  src/Workspaces/Core/Portable/Workspace/IsolatedAnalyzerReferenceSet.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.cs
  src/Workspaces/CoreTest/Microsoft.CodeAnalysis.Workspaces.UnitTests.csproj
  src/Workspaces/CoreTest/Resources/Microsoft.CodeAnalysis.TestAnalyzerReference.dll.v1
  src/Workspaces/CoreTest/Resources/Microsoft.CodeAnalysis.TestAnalyzerReference.dll.v2
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
  src/Workspaces/CoreTestUtilities/Remote/TestSerializerService.cs
  src/Workspaces/CoreTestUtilities/Workspaces/TestWorkspaceConfigurationService.cs
  src/Workspaces/CoreTestUtilities/Workspaces/TestWorkspace`1.cs
  src/Workspaces/Remote/Core/AbstractAssetProvider.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteAnalyzerAssemblyLoaderService.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.SolutionCreator.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteWorkspace.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/Remote/ServiceHub/Services/SourceGeneration/RemoteSourceGenerationService.cs
Labels: Area-IDE, untriaged, Needs UX Triage, VSCode

#75394 Remove !! parsing logic from the parser
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Syntax/IncrementalParsing/IncrementalParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/LambdaParameterParsingTests.cs
Labels: Area-Compilers, untriaged

#75341 Do not use overload resolution while lowering interpolated strings
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_InterpolatedString.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodeExtensions.cs
  src/Compilers/CSharp/Portable/BoundTree/InterpolatedStringHandlerData.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringInterpolation.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers, untriaged

#75425 Escape the line
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75384 Add a WorkspaceKind property to ProjectContext.
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/Protocol/Protocol/Extensions/VSProjectContext.cs
  src/LanguageServer/ProtocolUnitTests/ProtocolConversionsTests.cs
Labels: Area-IDE, untriaged, VSCode

#75404 Reduce allocations from creating MissingTokenWithTrivia objects
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/SyntaxFactory.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/SyntaxToken.cs
Labels: Area-Compilers, untriaged

#75403 Fix some more unnecessary NFW reporting
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Logging/LspLogMessageLogger.cs
  src/LanguageServer/Protocol/RoslynRequestExecutionQueue.cs
  src/LanguageServer/ProtocolUnitTests/HandlerTests.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75401 Reduce allocations in TypeSymbolExtensions.IsAtLeastAsVisibleAs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
Labels: Area-Compilers, untriaged

#75427 Do not use overload resolution for expression tree conversion
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/ExpressionLambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenExprLambdaTests.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
Labels: Area-Compilers, untriaged

#75450 Fix endianness issues to fix failures in Emit testsuite
  src/Compilers/Test/Core/Metadata/DynamicAnalysisDataReader.cs
Labels: Area-Compilers, Test, Community

#75457 Bail out gracefully when we can't find service
  src/Analyzers/CSharp/CodeFixes/GenerateVariable/CSharpGenerateVariableCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/GenerateVariable/VisualBasicGenerateVariableCodeFixProvider.vb
Labels: Area-IDE, untriaged, VSCode

#75413 Handle span conversions in `is` operator
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#75317 Only provide fallback options for host analyzers
  src/Analyzers/CSharp/CodeFixes/HideBase/HideBaseCodeFixProvider.AddNewKeywordAction.cs
  src/Analyzers/CSharp/CodeFixes/MisplacedUsingDirectives/MisplacedUsingDirectivesCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/ImplementType/ImplementTypeOptions.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/SettingsProviderBase.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/CSharp/Portable/SyncNamespaces/CSharpSyncNamespacesService.cs
  src/Features/Core/Portable/AddImport/AddImportOptions.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticArguments.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractTypeSnippetProvider.cs
  src/Features/Core/Portable/SymbolSearch/SymbolSearchOptions.cs
  src/Features/Core/Portable/SyncNamespaces/AbstractSyncNamespacesService.cs
  src/Features/Core/Portable/Wrapping/AbstractWrappingCodeRefactoringProvider.cs
  src/Features/ExternalAccess/OmniSharp/Formatting/OmniSharpSyntaxFormattingOptionsWrapper.cs
  src/LanguageServer/Protocol/ExternalAccess/Razor/SimplifyMethodHandler.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor_Helpers.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.IncrementalMemberEditAnalyzer.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.HostStates.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateSet.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.ProjectAndCompilationWithAnalyzers.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersCommandHandler.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/Core/Portable/Diagnostics/CompilationWithAnalyzersPair.cs
  src/Workspaces/Core/Portable/Diagnostics/DocumentAnalysisScope.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/OrganizeImports/OrganizeImportsOptionsProviders.cs
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Solution/AnalyzerConfigData.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Project.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.RegularCompilationTracker_Generators.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.TranslationAction_Actions.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IPragmaSuppressionsAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Formatting/CSharpSyntaxFormattingOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Simplification/CSharpSimplifierOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/AddImport/AddImportPlacementOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeCleanup/CodeCleanupOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeGeneration/CodeGenerationOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/DocumentExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Formatting/DocumentFormattingOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Formatting/LineFormattingOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Formatting/SyntaxFormattingOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/NamingStyles/NamingStylePreferencesProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Options/MemberDisplayOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Simplification/SimplifierOptionsProviders.cs
Labels: Area-Analyzers, untriaged, Needs API Review, VSCode

#75417 Fix updating solution fallback options
  src/LanguageServer/Protocol/Features/Options/SolutionAnalyzerConfigOptionsUpdater.cs
  src/LanguageServer/ProtocolUnitTests/Options/SolutionAnalyzerConfigOptionsUpdaterTests.cs
Labels: Area-IDE, untriaged, VSCode

#74732 Merge "first-class Span types" feature into main
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedExplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingOperator.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/ForeachTest.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IConversionExpression.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StructConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/Utf8StringsLiteralsTests.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers, untriaged, Needs API Review, VSCode, New Feature - First-class Span Types

#75418 Have find references navigate to a position instead of a span
  src/EditorFeatures/Core.Wpf/Interactive/InteractiveDocumentNavigationService.cs
  src/EditorFeatures/Core/Extensibility/NavigationBar/AbstractEditorNavigationBarItemService.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptNavigationBarItemService.cs
  src/EditorFeatures/Core/Navigation/AbstractDefinitionLocationService.cs
  src/EditorFeatures/Core/Navigation/IDocumentNavigationServiceExtensions.cs
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionCommandHandlerTests.vb
  src/EditorFeatures/Test2/GoToDefinition/GoToDefinitionTestsBase.vb
  src/EditorFeatures/Test2/NavigableSymbols/NavigableSymbolsTest.vb
  src/EditorFeatures/TestUtilities2/Utilities/GoToHelpers/MockDocumentNavigationService.vb
  src/EditorFeatures/TestUtilities2/Utilities/MockDocumentNavigationServiceProvider.vb
  src/Features/Core/Portable/DocumentSpanExtensions.cs
  src/Features/Core/Portable/ExternalAccess/VSTypeScript/Api/VSTypeScriptDocumentNavigationServiceWrapper.cs
  src/Features/Core/Portable/Navigation/DefaultDocumentNavigationService.cs
  src/Features/Core/Portable/Navigation/IDocumentNavigationService.cs
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchDocumentNavigationService.cs
  src/VisualStudio/Core/Def/FindReferences/Entries/AbstractDocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Workspace/VisualStudioDocumentNavigationService.cs
  src/VisualStudio/Core/Def/Workspace/VisualStudioSymbolNavigationService.cs
  src/VisualStudio/Core/Test/CallHierarchy/CallHierarchyTests.vb
  src/VisualStudio/ExternalAccess/FSharp/Navigation/FSharpDocumentNavigationService.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpSourceGenerators.cs
  src/VisualStudio/LiveShare/Test/MockDocumentNavigationServiceFactory.cs
Labels: Area-IDE, untriaged, VSCode

#75475 Fix null ref in document-highlights
  src/EditorFeatures/Core/ReferenceHighlighting/ReferenceHighlightingViewTaggerProvider.cs
  src/EditorFeatures/Test2/ReferenceHighlighting/CSharpReferenceHighlightingTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SemanticFacts/CSharpSemanticFacts.cs
Labels: Area-IDE, untriaged, VSCode

#75372 Fixing the OOM in scripting
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/MetadataReference/MetadataReference.cs
  src/Compilers/Test/Core/Microsoft.CodeAnalysis.Test.Utilities.csproj
  src/EditorFeatures/Core/Interactive/InteractiveSession.cs
  src/Features/Core/Portable/Workspace/MiscellaneousFileUtilities.cs
  src/Scripting/CSharp/Hosting/CommandLine/Csi.cs
  src/Scripting/CSharpTest.Desktop/InteractiveSessionReferencesTests.cs
  src/Scripting/CSharpTest.Desktop/ObjectFormatterTests.cs
  src/Scripting/CSharpTest/CommandLineRunnerTests.cs
  src/Scripting/CSharpTest/InteractiveSessionReferencesTests.cs
  src/Scripting/CSharpTest/InteractiveSessionTests.cs
  src/Scripting/CSharpTest/ScriptTests.cs
  src/Scripting/Core/Hosting/CommandLine/CommandLineRunner.cs
  src/Scripting/Core/Hosting/Resolvers/RuntimeMetadataReferenceResolver.cs
  src/Scripting/Core/Script.cs
  src/Scripting/Core/ScriptOptions.cs
  src/Scripting/CoreTestUtilities/CSharpScriptTestBase.cs
  src/Scripting/CoreTestUtilities/README.md
  src/Scripting/CoreTestUtilities/ScriptTestBase.cs
  src/Scripting/CoreTestUtilities/VisualBasicScriptTestBase.cs
  src/Scripting/VisualBasic/Hosting/CommandLine/Vbi.vb
  src/Scripting/VisualBasic/VisualBasicScript.vb
  src/Scripting/VisualBasicTest/CommandLineRunnerTests.vb
  src/Scripting/VisualBasicTest/InteractiveSessionTests.vb
  src/Scripting/VisualBasicTest/ScriptTests.vb
  src/Workspaces/CoreTestUtilities/Workspaces/TestWorkspace`1.cs
Labels: Area-Interactive, untriaged, VSCode

#75460 Navigate to the mapped span when navigating to a mapped file
  src/VisualStudio/Core/Def/Workspace/VisualStudioDocumentNavigationService.cs
Labels: Area-IDE, untriaged

#75461 Field-backed properties: [field:] should not be considered a backing field reference
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
Labels: Area-Compilers, untriaged

#75474 Update "first-class Span" feature status
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged

#75371 Fix circularity issue with binding const local
  src/Compilers/CSharp/Portable/Binder/LocalBinderFactory.cs
  src/Compilers/CSharp/Portable/Binder/LocalInProgressBinder.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceLocalSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/ConstantTests.cs
Labels: Area-Compilers, untriaged

#75462 Improve quick info on `using` keyword
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
Labels: Area-IDE, Community, untriaged, VSCode

#75489 Build and publish .ni.pdb for R2R images
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Labels: Area-IDE, untriaged

#75340 Fix assignment analysis of ref fields
  docs/compilers/CSharp/Warnversion Warning Waves.md
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DataFlowsOutWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ReadWriteWalker.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceAssemblySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/FlowAnalysis/RegionAnalysisTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PrimaryConstructorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/RequiredMembersTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged

#75488 Do not pin the Compilers.Toolset version
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#75487 Test case for analyzer dependency loading
  src/Compilers/Core/CodeAnalysisTest/AnalyzerAssemblyLoaderTests.cs
  src/Compilers/Core/CodeAnalysisTest/InvokeUtil.cs
  src/Compilers/Test/Core/AssemblyLoadTestFixture.cs
Labels: Area-Compilers, untriaged

#75505 Exclude two manually zipped servicehub symbol nupkgs from being signed
  eng/Signing.props
Labels: Area-Infrastructure, untriaged

#75468 [release/dev17.8] Merge from internal 17.8
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#75508 Fix symbol package name
  eng/Signing.props
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Labels: Area-IDE, untriaged

#75504 ExcludeFromSourceBuild->ExcludeFromSourceOnlyBuild
  src/Compilers/CSharp/CSharpAnalyzerDriver/CSharpAnalyzerDriver.shproj
  src/Compilers/CSharp/csc/arm64/csc-arm64.csproj
  src/Compilers/Core/AnalyzerDriver/AnalyzerDriver.shproj
Labels: Area-Compilers, Community, untriaged

#75402 Report LSP loading telemetry
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource_Async.cs
  src/Features/Core/Portable/CodeRefactorings/CodeRefactoringService.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectInitializationHandler.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProjectFactoryService.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Telemetry/VSCodeRequestTelemetryLogger.cs
  src/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/LanguageServer/Protocol/Handler/RequestTelemetryLogger.cs
  src/LanguageServer/Protocol/Handler/Telemetry/RequestTelemetryLogger.cs
  src/LanguageServer/Protocol/Handler/Telemetry/RequestTelemetryLoggerFactory.cs
  src/LanguageServer/Protocol/LspServices/LspServices.cs
  src/LanguageServer/ProtocolUnitTests/LspServicesTests.cs
  src/VisualStudio/Core/Def/Telemetry/AbstractWorkspaceTelemetryService.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/AbstractAggregatingLog.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/AggregatingCounterLog.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/AggregatingHistogramLog.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/AggregatingTelemetryLogManager.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/TelemetryLogProvider.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/TimedTelemetryLogBlock.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/VisualStudioTelemetryLog.cs
  src/VisualStudio/Core/Def/Telemetry/Shared/VisualStudioTelemetryLogManager.cs
  src/VisualStudio/DevKit/Impl/Logging/VSCodeTelemetryLogger.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
  src/Workspaces/Core/Portable/Telemetry/ITelemetryBlockLog.cs
  src/Workspaces/Core/Portable/Telemetry/ITelemetryLog.cs
  src/Workspaces/Core/Portable/Telemetry/ITelemetryLogProvider.cs
  src/Workspaces/Core/Portable/Telemetry/TelemetryLogging.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/PerformanceTrackerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE, untriaged, VSCode

#75501 Mention `Enumerable.Reverse` breaking change
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
Labels: Area-Compilers, Documentation, untriaged, New Feature - First-class Span Types

#75423 EE: Handle notification when metadata has been invalidated
  eng/Directory.Packages.props
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CSharpExpressionCompiler.vsdconfigxml
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/ExpressionCompiler.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/ExpressionEvaluatorFatalError.cs
  src/ExpressionEvaluator/Core/Source/FunctionResolver/CSharp/FunctionResolver.vsdconfigxml
  src/ExpressionEvaluator/Core/Source/FunctionResolver/FunctionResolver.cs
  src/ExpressionEvaluator/Core/Source/FunctionResolver/VisualBasic/FunctionResolver.vsdconfigxml
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmExceptionCode.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/BasicExpressionCompiler.vsdconfigxml
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpImmediate.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicEditAndContinue.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicExpressionEvaluator.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicImmediate.cs
Labels: Area-Interactive, untriaged

#75494 Remove unused option
  src/VisualStudio/CSharp/Impl/CSharpVSResources.resx
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageStrings.cs
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.cs.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.de.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.es.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.fr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.it.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ja.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ko.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pl.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.pt-BR.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.ru.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.tr.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hans.xlf
  src/VisualStudio/CSharp/Impl/xlf/CSharpVSResources.zh-Hant.xlf
Labels: Area-IDE, untriaged, Needs UX Triage

#75517 Fix 'await completion' adding async to the wrong member
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_AwaitCompletion.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/AwaitCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractAwaitCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/AwaitCompletionProvider.vb
Labels: Area-IDE, untriaged, VSCode

#75514 Create nuspec for servicehub r2r symbol packages
  eng/Signing.props
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Labels: Area-Infrastructure, untriaged

#75523 Remove extra invalid character
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Labels: Area-IDE, untriaged

#75509 Do not crash server if we fail to determine language for non-mutating request
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/AbstractLanguageServer.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/IQueueItem.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/QueueItem.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/RequestExecutionQueue.cs
  src/LanguageServer/Protocol/ILanguageInfoProvider.cs
  src/LanguageServer/Protocol/LanguageInfoProvider.cs
  src/LanguageServer/Protocol/RoslynLanguageServer.cs
  src/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspace.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/LanguageServer/ProtocolUnitTests/HandlerTests.cs
  src/LanguageServer/ProtocolUnitTests/UriTests.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75325 Add warning when property has a backing field but a manually implemented accessor does not use it
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Generated/ErrorFacts.Generated.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordEqualityContractProperty.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/Records/SynthesizedRecordPropertySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests_Locations.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/PartialPropertiesTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Diagnostics/DiagnosticTest.cs
Labels: Area-Compilers, untriaged

#75422 Report diagnostics from `TryFindDisposePatternMethod` when binding `foreach` loop
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenForEachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
Labels: Area-Compilers, untriaged

#75522 Clarify the compiler's policy towards well-known types/members
  docs/compilers/CSharp/Deviations from Standard.md
Labels: Area-Compilers, Documentation, untriaged

#75528 Revert "Update BuildHost STJ to 8.0.4"
  src/Workspaces/Core/MSBuild.BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
Labels: Area-IDE, untriaged

#75525 Fix servicehub symbol package name
  eng/Signing.props
  eng/publish-assets.ps1
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Labels: Area-IDE, untriaged

#75519 Fix 'use auto property' when field is passed as method argument
  src/Analyzers/CSharp/Tests/UseAutoProperty/UseAutoPropertyTests_Field.cs
  src/Features/CSharp/Portable/UseAutoProperty/CSharpUseAutoPropertyCodeFixProvider.cs
  src/Features/Core/Portable/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75530 Revert "Update BuildHost STJ to 8.0.4"
  src/Workspaces/Core/MSBuild.BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
Labels: Area-IDE, untriaged

#75515 Also compare other properties when remove block spans
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
  src/Features/Core/Portable/Structure/BlockSpan.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75041 docs: Fix "Augment user code" example
  docs/features/incremental-generators.cookbook.md
Labels: Area-Compilers, Documentation, Community, untriaged

#75159 Remove LittleEndian asserts
  src/Compilers/Core/Portable/CodeGen/BasicBlock.cs
  src/Compilers/Core/Portable/CodeGen/ILBuilder.cs
  src/Compilers/Core/Portable/ConstantValue.cs
Labels: Area-Compilers, Community, untriaged

#75520 Fix keyword recommending in record parameter attributes
  src/EditorFeatures/CSharpTest2/Recommendations/DelegateKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/EventKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/FieldKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NativeIntegerKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NintKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ParamKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/PropertyKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ProtectedKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ReturnKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/DelegateKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/EventKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/FieldKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/MethodKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ParamKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/PropertyKeywordRecommender.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ReturnKeywordRecommender.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/ContextQuery/CSharpSyntaxContext.cs
Labels: Area-IDE, untriaged, VSCode

#75535 Cherry pick #75515
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
  src/Features/Core/Portable/Structure/BlockSpan.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75524 Add new IRazorMappingService to replace IRazorSpanMappingService
  src/Tools/ExternalAccess/Razor/IRazorMappingService.cs
  src/Tools/ExternalAccess/Razor/RazorDocumentServiceProviderWrapper.cs
  src/Tools/ExternalAccess/Razor/RazorMappedSpanResult.cs
  src/Tools/ExternalAccess/Razor/RazorMappingServiceWrapper.cs
Labels: Area-IDE, untriaged

#75540 Platform documentation
  CONTRIBUTING.md
  docs/compilers/README.md
Labels: Area-Compilers, untriaged

#75531 Remove comment for Obsolete on Index or Range
  src/Compilers/CSharp/Test/Emit/CodeGen/IndexAndRangeTests.cs
Labels: Area-Compilers, Test, untriaged

#75500 Move `#if NET` directives forward
  docs/contributing/Target Framework Strategy.md
  src/Compilers/Core/Portable/Hashing/XxHash128.cs
  src/Compilers/Core/Portable/Hashing/XxHashShared.cs
  src/Compilers/Core/Portable/InternalUtilities/CompilerFeatureRequiredAttribute.cs
  src/Compilers/Core/Portable/InternalUtilities/EnumerableExtensions.cs
  src/Compilers/Core/Portable/InternalUtilities/RequiredMemberAttribute.cs
  src/Compilers/Core/Portable/InternalUtilities/SetsRequiredMembersAttribute.cs
  src/Workspaces/Core/MSBuild.BuildHost/Rpc/Contracts/TextReaderExtensions.cs
  src/Workspaces/CoreTest/XxHash128Tests.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75464 Unify collection expression cycle handling
  src/Compilers/CSharp/Portable/Binder/Binder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/ParamsCollectionTypeInProgressBinder.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ParamsCollectionTests.cs
Labels: Area-Compilers, untriaged

#75414 Add more first-class Span tests
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#75546 Speculative changes to PrimaryConstructorBaseTypeSyntax
  src/Features/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/SpeculationAnalyzer.cs
Labels: Area-IDE, Community, untriaged, VSCode

#75533 Remove references to torn analyzers
  eng/targets/Imports.targets
  eng/targets/Settings.props
  src/Features/Core/Portable/IntroduceUsingStatement/AbstractIntroduceUsingStatementCodeRefactoringProvider.cs
  src/VisualStudio/Core/Def/Implementation/AbstractEditorFactory.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75550 Add ETW events when ALCs are created or disposed
  src/Compilers/Core/Portable/CodeAnalysisEventSource.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerAssemblyLoader.Core.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-Compilers, untriaged

#75552 Disable retaining PR val builds
  azure-pipelines-pr-validation.yml
  eng/pipelines/insert.yml
Labels: Area-Infrastructure, untriaged

#75545 Access services on Solution rather than workspace in Razor cohost (Roslyn OOP) scenarios
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
Labels: Area-IDE, Community, untriaged, VSCode

#75490 VB: Do not use overload resolution for expression tree conversion
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/ExpressionLambdaRewriter.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/VisualBasic/Portable/BoundTree/BoundUserDefinedBinaryOperator.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter_BinaryOperator.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter_ConditionalExpresion.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter_Conversion.vb
  src/Compilers/VisualBasic/Portable/Lowering/ExpressionLambdaRewriter/ExpressionLambdaRewriter_UnaryOperator.vb
  src/Compilers/VisualBasic/Test/Emit/ExpressionTrees/CodeGenExprLambda.vb
Labels: Area-Compilers, untriaged

#74686 Collection expressions: nullable analysis of spread element expression
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Features/CSharp/Portable/Snippets/AbstractCSharpAutoPropertySnippetProvider.cs
Labels: Area-Compilers, untriaged, VSCode, New Feature - Collection Expressions

#75551 Dispose of ITextDocument(s) when closing preview view
  src/EditorFeatures/Core/Preview/AbstractPreviewFactoryService.cs
Labels: Area-IDE, untriaged

#75518 [release/dev17.12] EE: Handle notification when metadata has been invalidated (#75423)
  eng/Directory.Packages.props
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CSharpExpressionCompiler.vsdconfigxml
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/ExpressionCompiler.cs
  src/ExpressionEvaluator/Core/Source/ExpressionCompiler/ExpressionEvaluatorFatalError.cs
  src/ExpressionEvaluator/Core/Source/FunctionResolver/CSharp/FunctionResolver.vsdconfigxml
  src/ExpressionEvaluator/Core/Source/FunctionResolver/FunctionResolver.cs
  src/ExpressionEvaluator/Core/Source/FunctionResolver/VisualBasic/FunctionResolver.vsdconfigxml
  src/ExpressionEvaluator/Core/Test/ResultProvider/Debugger/Engine/DkmExceptionCode.cs
  src/ExpressionEvaluator/VisualBasic/Source/ExpressionCompiler/BasicExpressionCompiler.vsdconfigxml
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpImmediate.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicEditAndContinue.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicExpressionEvaluator.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicImmediate.cs
Labels: Area-Interactive, untriaged

#75555 Update Language Feature Status.md
  docs/Language Feature Status.md
Labels: Area-Compilers, untriaged

#74431 Increase driver cache size
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/CommandLine/GeneratorDriverCacheTests.cs
  src/Compilers/Core/Portable/CommandLine/CommonCompiler.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriverCache.cs
  src/Tools/Replay/Replay.cs
  src/Tools/Replay/Replay.csproj
Labels: Area-Compilers, untriaged

#75571 Remove unused parameter
  src/Workspaces/CSharpTest/Formatting/CSharpFormattingTestBase.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTests.cs
  src/Workspaces/CSharpTest/Formatting/FormattingTriviaTests.cs
  src/Workspaces/CoreTestUtilities/Formatting/FormattingTestBase.cs
  src/Workspaces/VisualBasicTest/Formatting/FormattingTests.vb
  src/Workspaces/VisualBasicTest/Formatting/VisualBasicFormattingTestBase.vb
Labels: Area-IDE, untriaged, VSCode

#75559 Avoid unnecessary tail increment in collection expressions codegen
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
Labels: Area-Compilers, Community, untriaged

#75548 ClrOnly condition is not working on mono
  src/Compilers/CSharp/Test/Emit/Emit/DeterministicTests.cs
  src/Compilers/Test/Core/Assert/ConditionalFactAttribute.cs
Labels: Area-Compilers, Community, untriaged, Platform - Mono CoreClr

#75562 Prefer Cancel() rather than Commit() when rename is async.
  src/EditorFeatures/Core.Wpf/InlineRename/CommandHandlers/RenameCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_MoveSelectedLinesHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_OpenLineAboveHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_OpenLineBelowHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RefactoringWithCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RenameHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_SaveHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_SelectAllHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_WordDeleteHandler.cs
Labels: Area-IDE, untriaged

#75585 Remove unused loc string
  src/EditorFeatures/Core/EditorFeaturesResources.resx
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.cs.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.de.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.es.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.fr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.it.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ja.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ko.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pl.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.pt-BR.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.ru.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.tr.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hans.xlf
  src/EditorFeatures/Core/xlf/EditorFeaturesResources.zh-Hant.xlf
Labels: Area-IDE, untriaged

#75588 Update wrapping refactoring provider to be more async
  src/Features/Core/Portable/Wrapping/AbstractCodeActionComputer.cs
  src/Features/Core/Portable/Wrapping/AbstractWrappingCodeRefactoringProvider.cs
  src/Features/Core/Portable/Wrapping/BinaryExpression/AbstractBinaryExpressionWrapper.cs
  src/Features/Core/Portable/Wrapping/BinaryExpression/BinaryExpressionCodeActionComputer.cs
  src/Features/Core/Portable/Wrapping/ChainedExpression/AbstractChainedExpressionWrapper.cs
  src/Features/Core/Portable/Wrapping/ChainedExpression/ChainedExpressionCodeActionComputer.cs
  src/Features/Core/Portable/Wrapping/ICodeActionComputer.cs
  src/Features/Core/Portable/Wrapping/SeparatedSyntaxList/AbstractSeparatedSyntaxListWrapper.cs
  src/Features/Core/Portable/Wrapping/SeparatedSyntaxList/SeparatedSyntaxListCodeActionComputer.cs
Labels: Area-IDE, untriaged, VSCode

#75584 Upgrade .NET reference and crossgen2 package
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#75579 IncrementalBinder - properly bind else-if statement
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingTests.cs
Labels: Area-Compilers, untriaged

#75582 Remove "untriaged" label on issue closure or milestone addition
  .github/policies/resourceManagement.yml
Labels: Area-Infrastructure, untriaged

#75593 Disallow ref like types as iterator element types.
  src/Compilers/CSharp/Portable/Binder/ExecutableCodeBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Labels: Area-Compilers, New Feature - RefStructInterfaces

#75566 Field-backed properties: recognize field in interpolated string
  src/Compilers/CSharp/Portable/Parser/LanguageParser_InterpolatedString.cs
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/FieldKeywordParsingTests.cs
Labels: Area-Compilers, untriaged, New Feature - Field Keyword

#75536 Update source-build team references
  .github/CODEOWNERS
  eng/DotNetBuild.props
  eng/SourceBuildPrebuiltBaseline.xml
Labels: Area-Infrastructure, untriaged

#75561 Use PackageDownloadAndReference to avoid including msbuild dependencies
  eng/targets/PackageDownloadAndReference.targets
  src/Workspaces/Core/MSBuild.BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
Labels: Area-IDE, untriaged

#75479 Cache checksum computation at an collection-element level
  src/Workspaces/Core/Portable/Serialization/SerializerService_Reference.cs
  src/Workspaces/Core/Portable/Workspace/IsolatedAnalyzerReferenceSet.Core.cs
  src/Workspaces/Core/Portable/Workspace/IsolatedAnalyzerReferenceSet.Desktop.cs
  src/Workspaces/Core/Portable/Workspace/IsolatedAnalyzerReferenceSet.cs
  src/Workspaces/Core/Portable/Workspace/Solution/StateChecksums.cs
Labels: Area-IDE, untriaged, VSCode

#75553 Revise expression parsing
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/EndToEnd/EndToEndTests.cs
Labels: Area-Compilers, untriaged

#75587 [LSP] Report unchanged results if diagnostic data is the same as last report
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticsPullCache.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.CacheItem.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache`1.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache`2.cs
  src/LanguageServer/Protocol/Handler/SpellCheck/AbstractSpellCheckingHandler.cs
  src/LanguageServer/Protocol/Handler/SpellCheck/SpellCheckPullCache.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/AdditionalFileDiagnosticsTests.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/DiagnosticsPullCacheTests.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
  src/LanguageServer/ProtocolUnitTests/SpellCheck/SpellCheckTests.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum.cs
Labels: Area-Analyzers, untriaged, VSCode

#75604 Make generate-compiler-code fail if CompilersIOperationGenerator encounters a problem
  src/Compilers/Core/Portable/Generated/Operations.Generated.cs
  src/Compilers/Core/Portable/Operations/OperationInterfaces.xml
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/IOperationClassWriter.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/Model.cs
  src/Tools/Source/CompilerGeneratorTools/Source/IOperationGenerator/Program.cs
Labels: Area-Compilers, untriaged

#75612 Disable flakey test TestHandleExceptionFromGetCompletionChange
  src/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
Labels: Area-IDE, untriaged, VSCode

#75534 When replacing CodeStyle analyzers do not provide Features analyzers fallback options
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.HostStates.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/AnalyzerReferenceTests.vb
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpRedirectFeaturesAnalyzers.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: Area-IDE, untriaged, VSCode

#75601 Fix spelling of an error message
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, untriaged

#75616 Ensure we only capture the BuildNumber when setting OriginalBuildNumber.
  azure-pipelines-pr-validation.yml
Labels: Area-Infrastructure, untriaged

#75613 Use distinct EventSource names for compiler and workspace layer events
  src/Compilers/Core/Portable/CodeAnalysisEventSource.Common.cs
  src/Compilers/Core/Portable/CodeAnalysisEventSource.Compiler.cs
  src/Workspaces/Core/Portable/Diagnostics/CodeAnalysisEventSource.Workspaces.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
Labels: Area-Compilers, untriaged, VSCode

#75610 Reduce lock usage during EditDistance.GetEditDistance and BKTree.Find
  src/Workspaces/Core/Portable/FindSymbols/SymbolTree/SymbolTreeInfo_Source.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/BKTree.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/EditDistance.cs
Labels: Area-IDE, untriaged, VSCode

#74321 Migrate Codelens provider to .NET
  src/EditorFeatures/Core.Wpf/Microsoft.CodeAnalysis.EditorFeatures.Wpf.csproj
  src/EditorFeatures/Core/CodeLens/ICodeLensContext.cs
  src/EditorFeatures/Core/Extensions/GlyphExtensions.cs
  src/EditorFeatures/Core/ExternalAccess/UnitTesting/UnitTestingReferencesService.cs
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Test/AssemblyReferenceTests.cs
  src/VisualStudio/CodeLens/Microsoft.VisualStudio.LanguageServices.CodeLens.csproj
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Setup.ServiceHub/arm64/source.extension.vsixmanifest
  src/VisualStudio/Setup.ServiceHub/x64/source.extension.vsixmanifest
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Labels: Area-IDE, untriaged

#75549 Do not lex `..` as a single DotDotToken
  src/Compilers/CSharp/Portable/Parser/Blender.Reader.cs
  src/Compilers/CSharp/Portable/Parser/Blender.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/QuickScanner.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Test/Syntax/IncrementalParsing/IncrementalParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/CollectionExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ExpressionParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/MemberDeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests_ListPatterns.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/RangeExpressionParsingTests.cs
Labels: Area-Compilers, untriaged

#75596 Propagate spread suppression
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
Labels: Area-Compilers, untriaged

#75621 Fix issue in PatternMatcher code where it was using a caseInsensitive index
  src/EditorFeatures/Test/Utilities/PatternMatcherTests.cs
  src/Workspaces/Core/Portable/PatternMatching/PatternMatcher.cs
Labels: Area-IDE, untriaged, VSCode

#75630 Change from ArrayBuilder => SharedPools for pooling inside AddBracePairsAsync
  src/Features/Core/Portable/BracePairs/IBracePairsService.cs
Labels: Area-IDE, untriaged, VSCode

#75631 Don't allocate while walking a NormalizedSnapshotSpanCollection during classification tagging
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.cs
Labels: Area-IDE, untriaged

#75637 Don't show C# on-the-fly-doc for namespace symbols
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75615 Allow the client to update the server logging level dynamically
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Utilities/LanguageServerTestComposition.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServer/Handler/Logging/UpdateLogLevelHandler.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Logging/LspLogMessageLogger.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Logging/LspLogMessageLoggerProvider.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/ServerConfigurationFactory.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Testing/RunTestsHandler.cs
Labels: Area-Infrastructure, untriaged, VSCode

#75642 Fix inaccessible protected constructors being shown in sig help
  src/EditorFeatures/CSharpTest/SignatureHelp/ObjectCreationExpressionSignatureHelpProviderTests.cs
  src/Features/CSharp/Portable/SignatureHelp/AbstractCSharpSignatureHelpProvider.cs
  src/Features/CSharp/Portable/SignatureHelp/ObjectCreationExpressionSignatureHelpProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions_Accessibility.cs
Labels: Area-IDE, untriaged, VSCode

#75643 Shorten names shown in 'pull member up'
  src/EditorFeatures/CSharpTest/CodeActions/PullMemberUp/CSharpPullMemberUpTests.cs
  src/Features/CSharp/Portable/CodeRefactorings/PullMemberUp/CSharpPullMemberUpCodeRefactoringProvider.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/PullMemberUp/AbstractPullMemberUpRefactoringProvider.cs
  src/Features/Core/Portable/PullMemberUp/MembersPuller.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
Labels: Area-IDE, untriaged, VSCode

#75644 Fix crash when 'add await' analyzers binding expressions
  src/Features/CSharp/Portable/CodeRefactorings/AddAwait/CSharpAddAwaitCodeRefactoringProvider.cs
  src/Features/CSharpTest/AddAwait/AddAwaitTests.cs
  src/Features/Core/Portable/CodeRefactorings/AddAwait/AbstractAddAwaitCodeRefactoringProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
Labels: Area-IDE, untriaged, VSCode

#75650 update configs for 17.13p2 snap
  eng/Versions.props
  eng/config/PublishData.json
Labels: Area-Infrastructure, untriaged

#75629 Add tests for `unmanaged` constraint
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
Labels: Area-Compilers, untriaged

#75645 Fix 'use conditional expression' in top level statements
  src/Analyzers/CSharp/Tests/UseConditionalExpression/UseConditionalExpressionForAssignmentTests.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/ForAssignment/AbstractUseConditionalExpressionForAssignmentCodeFixProvider.cs
Labels: Area-IDE, untriaged, VSCode

#75627 Fix ref safety analysis of captured locals
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
Labels: Area-Compilers, untriaged

#75649 Remove redundant IsMono
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Test/Core/Assert/ConditionalFactAttribute.cs
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, Community, untriaged

#75659 Bump Razor to 9.0.0-preview.24528.3
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#75670 Follow up on fixes in runtime (enable execution of affected scenarios)
  src/Compilers/CSharp/Test/Symbol/Symbols/DefaultInterfaceImplementationTests.cs
Labels: Area-Compilers, Test, New Language Feature - Default Interface Impl, New Feature - StaticAbstractMembersInInterfaces

#75653 Workaround for binding redirect generation issue
  src/Interactive/HostProcess/x64/InteractiveHost64.csproj
Labels: Area-Interactive, untriaged

#75618 Fix ref analysis of self-assignment
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
Labels: Area-Compilers, untriaged, New Language Feature - Ref Fields

#75640 Reduce allocations in TextDocumentStates.AddRange
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentStates.cs
Labels: Area-IDE, untriaged, VSCode

#75654 Reduce allocations in VirtualCharService.CreateVirtualCharSequence
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/EmbeddedLanguages/VirtualChars/CSharpVirtualCharService.cs
Labels: Area-IDE, untriaged, VSCode

#63378 Fix generate type dialog invoked on type argument in a base list
  src/EditorFeatures/CSharpTest/CodeActions/GenerateType/GenerateTypeTests_Dialog.cs
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractUserDiagnosticTest_GenerateTypeDialog.cs
  src/EditorFeatures/VisualBasicTest/CodeActions/GenerateType/GenerateTypeTests_Dialog.vb
  src/Features/CSharp/Portable/GenerateType/CSharpGenerateTypeService.cs
  src/Features/Core/Portable/GenerateType/AbstractGenerateTypeService.CodeAction.cs
  src/Features/VisualBasic/Portable/GenerateType/VisualBasicGenerateTypeService.vb
Labels: Area-IDE, Community, VSCode

#75655 Ensure discards are initially soft selected in VSCode
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/ItemManager.CompletionListUpdater.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionHandler.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionResultFactory.cs
  src/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
Labels: Area-IDE, untriaged, VSCode

#75660 Bind lambda in `yield return` despite errors
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/PrimaryConstructorTests.cs
Labels: Area-Compilers, untriaged

#75668 Detect struct cycles caused by erroneous field-like event declarations
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Test/Emit3/FlowAnalysis/FlowDiagnosticTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/GenericConstraintsTests.cs
Labels: Area-Compilers, untriaged

#75682 Proffer project system query service
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/BrokeredServices/Services/Descriptors.cs
  src/Workspaces/Remote/Core/BrokeredServiceDescriptors.cs
Labels: Area-IDE, Community, untriaged, VSCode
