Repository dotnet/roslyn, pull requests merged in 2024-07, with the labels that each got.

#74216 Do not offer 'convert' namespace when the ns has sibling types
  src/Analyzers/CSharp/Analyzers/ConvertNamespace/ConvertNamespaceAnalysis.cs
  src/Analyzers/CSharp/Tests/ConvertNamespace/ConvertToFileScopedNamespaceAnalyzerTests.cs
  src/Features/CSharp/Portable/ConvertNamespace/ConvertNamespaceCodeRefactoringProvider.cs
  src/Features/CSharpTest/ConvertNamespace/ConvertNamespaceRefactoringTests.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeRefactoringVerifier`1+Test.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/EmbeddedLanguages/PredefinedEmbeddedLanguageClassifierNames.cs
Labels: Area-IDE, untriaged

#73906 Doc Cookbook Auto Interface Implementation
  docs/features/incremental-generators.cookbook.md
Labels: Area-Compilers, Community, untriaged

#74212 MetadataAsSource options
  src/EditorFeatures/CSharpTest/PdbSourceDocument/AbstractPdbSourceDocumentTests.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/NullResultMetadataAsSourceFileProvider.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/PdbSourceDocumentTests.cs
  src/EditorFeatures/Core.Wpf/Peek/DefinitionPeekableItem.cs
  src/EditorFeatures/Core/CodeDefinitionWindow/DefinitionContextTracker.cs
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.TestContext.cs
  src/EditorFeatures/Test/MetadataAsSource/MetadataAsSourceTests.cs
  src/EditorFeatures/Test/Options/GlobalOptionsTests.cs
  src/Features/CSharp/Portable/DecompiledSource/CSharpDecompiledSourceService.cs
  src/Features/Core/Portable/DecompiledSource/IDecompiledSourceService.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.cs
  src/Features/Core/Portable/MetadataAsSource/DecompilationMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/MetadataAsSource/IMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/MetadataAsSource/IMetadataAsSourceFileService.cs
  src/Features/Core/Portable/MetadataAsSource/IMetadataAsSourceService.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceFileService.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceOptions.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbSourceDocumentMetadataAsSourceFileProvider.cs
  src/Features/ExternalAccess/OmniSharp.CSharp/Formatting/OmniSharpSyntaxFormattingOptionsFactory.cs
  src/Features/ExternalAccess/OmniSharp/Formatting/OmniSharpFormatter.cs
  src/Features/ExternalAccess/OmniSharp/Formatting/OmniSharpSyntaxFormattingOptionsWrapper.cs
  src/Features/ExternalAccess/OmniSharp/InternalAPI.Unshipped.txt
  src/Features/ExternalAccess/OmniSharp/MetadataAsSource/OmniSharpMetadataAsSourceService.cs
  src/LanguageServer/Protocol/Features/Options/MetadataAsSourceOptionsStorage.cs
  src/LanguageServer/Protocol/Handler/Definitions/AbstractGoToDefinitionHandler.cs
  src/LanguageServer/Protocol/Handler/References/FindUsagesLSPContext.cs
  src/Tools/ExternalAccess/Xaml/Internal/LocationService.cs
  src/VisualStudio/Core/Def/Workspace/VisualStudioSymbolNavigationService.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/Handler/Definitions/GoToDefinitionHandler.cs
  src/Workspaces/Core/Portable/Formatting/Formatter.cs
  src/Workspaces/Core/Portable/Simplification/Simplifier.cs
  src/Workspaces/CoreTestUtilities/OptionsCollection.cs
  src/Workspaces/CoreTestUtilities/Workspaces/TestWorkspace`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/EditorConfigValueSerializer`1.cs
Labels: Area-IDE, untriaged

#74125 Escaping also considers record structs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
Labels: Area-Compilers, Community, untriaged

#74170 Add analyzer/fixer to move people over to System.Threading.Lock
  eng/Directory.Packages.props
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzers.projitems
  src/Analyzers/CSharp/Analyzers/CSharpAnalyzersResources.resx
  src/Analyzers/CSharp/Analyzers/CodeStyle/CSharpAnalyzerOptionsProvider.cs
  src/Analyzers/CSharp/Analyzers/UseSystemThreadingLock/CSharpUseSystemThreadingLockDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.cs.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.de.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.es.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.fr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.it.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ja.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ko.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pl.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.pt-BR.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.ru.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.tr.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hans.xlf
  src/Analyzers/CSharp/Analyzers/xlf/CSharpAnalyzersResources.zh-Hant.xlf
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/UseSystemThreadingLock/CSharpUseSystemThreadingLockCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseSystemThreadingLock/CSharpUseSystemThreadingLockFixAllProvider.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/UseSystemThreadingLock/UseSystemThreadingLockTests.cs
  src/Analyzers/Core/Analyzers/EnforceOnBuildValues.cs
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/Analyzers/VisualBasic/Tests/Formatting/FormattingAnalyzerTests.vb
  src/Compilers/Test/Core/Traits/Traits.cs
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeRefactoringVerifier`1+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/SharedVerifierState.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeRefactoringVerifier`1+Test.cs
  src/Features/RulesMissingDocumentation.md
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProvider.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpIdeCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
Labels: Area-IDE, untriaged

#74225 Fix issue with 'use explicit cast' and compound assignments
  src/Analyzers/CSharp/CodeFixes/AddExplicitCast/CSharpAddExplicitCastCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/AddExplicitCast/AddExplicitCastTests.cs
  src/Analyzers/Core/CodeFixes/AddExplicitCast/AbstractAddExplicitCastCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/AddExplicitCast/VisualBasicAddExplicitCastCodeFixProvider.vb
Labels: Area-IDE, untriaged

#74052 Preserve trivia for 'Use Collection Expression' fixer in more cases
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/UseCollectionExpressionHelpers.cs
  src/Analyzers/CSharp/CodeFixes/UseCollectionExpression/CSharpCollectionExpressionRewriter.cs
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForArrayTests.cs
  src/Analyzers/CSharp/Tests/UseCollectionExpression/UseCollectionExpressionForFluentTests.cs
  src/Analyzers/CSharp/Tests/UseCollectionInitializer/UseCollectionInitializerTests_CollectionExpression.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxTriviaListExtensions.cs
Labels: Area-IDE, Community, untriaged

#74224 Report a diagnostic on missing body in partial property implementation
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyAccessorSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/PartialPropertiesTests.cs
Labels: Area-Compilers, untriaged, New Feature - Partial Properties

#74215 Add LanguageVersion for C# 13
  docs/Language Feature Status.md
  src/Analyzers/CSharp/CodeFixes/UpgradeProject/CSharpUpgradeProjectCodeFixProvider.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/LanguageVersion.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/IndexAndRangeTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/NumericIntPtrTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/LockTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/ParamsCollectionTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/RefReadonlyParameterTests.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
  src/Compilers/CSharp/Test/Emit3/RefUnsafeInIteratorAndAsyncTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NativeIntegerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefLocalsAndReturnsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SpanStackSafetyTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UnsafeTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/PartialPropertiesTests.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/LexicalErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/LexicalTests.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/PreprocessorTests.cs
  src/Compilers/Core/MSBuildTask/Microsoft.CSharp.Core.targets
  src/Compilers/Core/MSBuildTaskTests/TargetTests.cs
  src/Compilers/Core/RebuildTest/CSharpDeterministicKeyBuilderTests.cs
  src/Compilers/Test/Utilities/CSharp/TestOptions.cs
  src/Workspaces/CSharpTest/EmbeddedLanguages/VirtualChars/CSharpVirtualCharServiceTests.cs
Labels: Area-Compilers, untriaged

#74222 Remove fallback options for SimplifierOptions
  src/Analyzers/CSharp/CodeFixes/UseImplicitObjectCreation/CSharpUseImplicitObjectCreationCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/AnalyzerOptionsProvider.cs
  src/EditorFeatures/CSharpTest/EventHookup/EventHookupTestState.cs
  src/EditorFeatures/CSharpTest/Intents/IntentTestsBase.cs
  src/EditorFeatures/VisualBasic/NavigationBar/VisualBasicEditorNavigationBarItemService_CodeGeneration.vb
  src/Features/CSharp/Portable/CodeRefactorings/UseExplicitOrImplicitType/AbstractUseTypeCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/GenerateConstructorFromMembers/CSharpGenerateConstructorFromMembersCodeRefactoringProvider.cs
  src/Features/CSharp/Portable/IntroduceVariable/CSharpIntroduceLocalForExpressionCodeRefactoringProvider.cs
  src/Features/Core/Portable/EncapsulateField/AbstractEncapsulateFieldService.cs
  src/Features/Core/Portable/InitializeParameter/AbstractAddParameterCheckCodeRefactoringProvider.cs
  src/Features/Core/Portable/IntroduceVariable/AbstractIntroduceVariableService.AbstractIntroduceVariableCodeAction.cs
  src/Features/Core/Portable/SimplifyTypeNames/AbstractSimplifyTypeNamesCodeFixProvider.cs
  src/Features/Core/Portable/Snippets/SnippetProviders/AbstractSnippetProvider.cs
  src/LanguageServer/Protocol/ExternalAccess/Razor/SimplifyMethodHandler.cs
  src/LanguageServer/Protocol/Features/Options/SimplifierOptionsStorage.cs
  src/LanguageServer/Protocol/Handler/InlineCompletions/InlineCompletionsHandler.cs
  src/LanguageServer/ProtocolUnitTests/VSTypeScriptHandlerTests.cs
  src/VisualStudio/Core/Def/Snippets/SnippetFunctions/SnippetFunctionGenerateSwitchCases.cs
  src/VisualStudio/Core/Def/Snippets/SnippetFunctions/SnippetFunctionSimpleTypeName.cs
  src/VisualStudio/Core/Impl/CodeModel/AbstractCodeModelService.cs
  src/VisualStudio/Core/Impl/CodeModel/FileCodeModel.cs
  src/Workspaces/CSharp/Portable/Simplification/CSharpSimplificationService.cs
  src/Workspaces/Core/Portable/Options/LegacyGlobalCodeActionOptionsWorkspaceService.cs
  src/Workspaces/Core/Portable/Simplification/AbstractSimplificationService.cs
  src/Workspaces/Core/Portable/Simplification/Simplifier.cs
  src/Workspaces/CoreTestUtilities/OptionsCollection.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/CSharpSimplification.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeCleanup/CodeCleanupOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/NamingStyles/Serialization/NamingStylePreferencesEditorConfigSerializer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Simplification/AbstractSimplification.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Simplification/ISimplification.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Simplification/SimplifierOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Simplification/VisualBasicSimplification.vb
  src/Workspaces/VisualBasic/Portable/Simplification/VisualBasicSimplificationService.vb
Labels: Area-IDE, untriaged

#74002 Ignore user-defined Span conversions
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversion.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionKindExtensions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedExplicitConversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/UserDefinedImplicitConversions.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
  src/Workspaces/CoreTest/XxHash128Tests.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#74229 Set intermediate path sooner
  src/EditorFeatures/Core/Interactive/InteractiveSession.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceGeneratedFileInfo.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbSourceDocumentMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/Workspace/MiscellaneousFileUtilities.cs
  src/Features/Lsif/Generator/CompilerInvocation.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueTestVerifier.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProject.cs
  src/VisualStudio/LiveShare/Impl/Client/Projects/RoslynRemoteProjectInfoProvider.cs
  src/VisualStudio/LiveShare/Impl/Client/RemoteLanguageServiceWorkspace.cs
  src/Workspaces/Core/MSBuild/MSBuild/MSBuildProjectLoader.Worker.cs
  src/Workspaces/Core/Portable/Workspace/CommandLineProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectCreationInfo.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectInfo.cs
  src/Workspaces/CoreTestUtilities/Workspaces/TestHostProject`1.cs
Labels: Area-IDE, untriaged

#74189 Make project system workspace transformation functions resilient to being attempted twice
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/MetadataService.cs
  src/Workspaces/Core/Portable/Workspace/Host/Metadata/MetadataServiceFactory.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/FileWatchedPortableExecutableReferenceFactory.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.BatchingDocumentCollection.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.ProjectUpdateState.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectFactory.cs
Labels: Area-IDE, untriaged

#74238 Remove obsolete service
  src/Features/Core/Portable/SolutionCrawler/IWorkCoordinatorPriorityService.cs
Labels: Area-IDE, untriaged

#74242 Switch to LanguageVersion.CSharp13 now that the compiler has added this api.
  src/Analyzers/CSharp/Tests/UseSystemThreadingLock/UseSystemThreadingLockTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/LanguageVersionExtensions.cs
Labels: Area-IDE, untriaged

#74240 Fix oop syncing
  src/Workspaces/Remote/Core/AbstractAssetProvider.cs
Labels: Area-IDE, untriaged

#74247 Improve performance of expensive operation
  src/EditorFeatures/Core/EditorConfigSettings/Aggregator/SettingsAggregator.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE, untriaged

#74168 Rename the record parameter when its property get renamed
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
  src/Workspaces/Core/Portable/Rename/SymbolicRenameLocations.ReferenceProcessing.cs
Labels: Area-IDE, untriaged

#74182 Add tests for consuming instance extension methods from VB and previous version of C# compiler.
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/ExtensionTypeTests.vb
Labels: Area-Compilers, Test, untriaged, New Language Feature - Roles

#74246 Avoid recreating stateset objects continually.
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.ProjectStates.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.StateManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
Labels: Area-Analyzers, untriaged

#74256 Fix style binding failure in Document Outline
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineView.xaml
Labels: Area-IDE, untriaged, Needs UX Triage

#74127 New generator apis
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/StateTableTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/SourceGeneration/GeneratorAdaptor.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriver.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorDriverState.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorExtensions.cs
  src/Compilers/Core/Portable/SourceGeneration/GeneratorState.cs
  src/Compilers/Core/Portable/SourceGeneration/IncrementalContexts.cs
Labels: Area-Compilers, New Feature - Source Generators, untriaged

#74226 Dispose various locations using PEReader
  src/Features/Core/Portable/Emit/CompilationOutputs.cs
  src/LanguageServer/Protocol/Features/DecompiledSource/CSharpCodeDecompilerDecompilationService.cs
Labels: Area-IDE, untriaged

#74261 Fix flaky streaming FAR test
  src/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
Labels: Area-Infrastructure, untriaged

#74260 PR feedback on recent work to sync solutions consistently
  src/EditorFeatures/Core/EditorConfigSettings/Aggregator/SettingsAggregator.cs
  src/EditorFeatures/Core/EditorConfigSettings/Aggregator/SettingsAggregatorFactory.cs
  src/Workspaces/Core/Portable/SourceGeneration/IRemoteSourceGenerationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.ICompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.RegularCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.RegularCompilationTracker_Generators.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.WithFrozenSourceGeneratedDocumentsCompilationTracker.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
  src/Workspaces/Remote/ServiceHub/Services/SourceGeneration/RemoteSourceGenerationService.cs
Labels: Area-IDE, untriaged

#74262 Pass along correct VS guid when reporting task list items
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/IDiagnosticProjectInformationService.cs
  src/VisualStudio/Core/Def/LanguageServer/Handler/Diagnostics/VisualStudioDiagnosticProjectInformationService.cs
Labels: Area-IDE, untriaged

#74265 Remove unused legacy-diagnostics-system type (part2).
  src/VisualStudio/Core/Def/TableDataSource/AbstractTableEntriesSnapshot.cs
  src/VisualStudio/Core/Def/TableDataSource/DiagnosticTableItem.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioDiagnosticListSuppressionStateService.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioDiagnosticListTableCommandHandler.cs
  src/VisualStudio/Core/Def/TableDataSource/TableItem.cs
  src/VisualStudio/Xaml/Impl/Extensions.cs
Labels: Area-IDE, untriaged

#74250 Reduce allocations in SymbolDeclaredCompilationEvent
  src/Compilers/Core/Portable/DiagnosticAnalyzer/SymbolDeclaredCompilationEvent.cs
Labels: Area-Analyzers, untriaged

#74258 Reduce closures allocated during invocation of CapturedSymbolReplacement.Replacement
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/ClosureConversion.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/CapturedSymbol.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/MethodToStateMachineRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineRewriter.cs
Labels: Area-Compilers, untriaged

#74237 Fix ID for telemetry logging in on the fly docs
  src/Features/Core/Portable/QuickInfo/OnTheFlyDocsLogger.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Log/FunctionId.cs
Labels: Area-IDE, untriaged

#74152 17.11: Add weak heuristics in our designer scanning code to improve experience during things like configuration switch.
  src/Features/Core/Portable/DesignerAttribute/DesignerAttributeDiscoveryService.cs
  src/VisualStudio/CSharp/Test/DesignerAttribute/DesignerAttributeServiceTests.cs
Labels: Area-IDE, untriaged

#74277 Fix scenario where lightbulbs weren't being displayed
  src/EditorFeatures/Core.Wpf/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Diagnostics/MockDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/CodeFixes/FirstFixResult.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Features/CodeFixes/CodeFixService.cs
  src/LanguageServer/Protocol/Features/CodeFixes/ICodeFixService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
Labels: Area-IDE, untriaged

#72805 Improve parser recovery around nullable types in patterns
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_Patterns.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternMatchingTests2.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternMatchingTests4.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternMatchingTests_NullableTypes.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AwaitParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationExpressionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/NullableParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests2.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/PatternParsingTests_ListPatterns.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/SwitchExpressionParsingTests.cs
Labels: Area-Compilers, Community, untriaged

#74235 Remove fallbacks: IdeAnalyzerOptions
  src/Analyzers/CSharp/Analyzers/CodeStyle/CSharpAnalyzerOptionsProvider.cs
  src/Analyzers/Core/Analyzers/AnalyzerOptionsProvider.cs
  src/Analyzers/Core/CodeFixes/AnalyzerOptionsProviders.cs
  src/Analyzers/VisualBasic/Analyzers/CodeStyle/VisualBasicAnalyzerOptionsProvider.vb
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Features/Options/IdeAnalyzerOptionsStorage.cs
  src/LanguageServer/Protocol/Handler/Formatting/FormatDocumentHandler.cs
  src/LanguageServer/Protocol/Handler/Formatting/FormatDocumentRangeHandler.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/Core/Portable/Diagnostics/WorkspaceAnalyzerOptions.cs
  src/Workspaces/CoreTestUtilities/Workspaces/TestWorkspace`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IdeAnalyzerOptions.cs
Labels: Area-IDE, untriaged

#74293 Fix msbuild issue
  Directory.Build.rsp
Labels: Area-Infrastructure, untriaged

#74290 Allow Document.FilePath to be set to null
  src/Workspaces/Core/Portable/Workspace/Solution/Document.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Area-IDE, untriaged

#74263 Fix style binding failure in Document Outline
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineView.xaml
Labels: Area-IDE, untriaged, Needs UX Triage

#74274 Adjust lowering of a string interpolation in an expression lambda to not use expanded non-array `params` collection in Format/Create calls.
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/ExpressionLambdaRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_StringInterpolation.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit3/ParamsCollectionTests.cs
Labels: Area-Compilers, untriaged, New Feature - ParamsCollections

#74305 Avoid using constants for large string literals
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers, untriaged

#74299 Disable BuildWithNetFrameworkHostedCompiler
  eng/targets/Settings.props
Labels: Area-Infrastructure, untriaged

#74316 Fix UseNullPropagationCodeFixProvider for parenthesized property access
  src/Analyzers/CSharp/Tests/UseNullPropagation/UseNullPropagationTests.cs
  src/Analyzers/Core/CodeFixes/UseNullPropagation/AbstractUseNullPropagationCodeFixProvider.cs
Labels: Area-IDE, Community, untriaged

#74302 Revert "Remove semantic model keep-alive code in completion (#73844)"
  src/EditorFeatures/Core/IntelliSense/AsyncCompletion/CommitManager.cs
  src/Features/Core/Portable/Completion/CompletionService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
Labels: Area-IDE, untriaged

#74059 Fix typos in Roslyn-Overview.md
  docs/wiki/Roslyn-Overview.md
Labels: Area-Compilers, Documentation, Community, untriaged

#74300 Move determination of language for an LSP request into the serialized queue to avoid race
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/Mocks/TestMethodHandlers.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/RequestExecutionQueueTests.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/AbstractHandlerProvider.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/AbstractLanguageServer.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/AbstractRequestScope.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/HandlerProvider.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/IQueueItem.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/IRequestExecutionQueue.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/NewtonsoftLanguageServer.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/QueueItem.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/RequestExecutionQueue.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/SystemTextJsonLanguageServer.cs
  src/LanguageServer/Protocol/Handler/RequestTelemetryLogger.cs
  src/LanguageServer/Protocol/Handler/WorkspaceCommand/ExecuteWorkspaceCommandHandler.cs
  src/LanguageServer/Protocol/LspServices/RequestTelemetryScope.cs
  src/LanguageServer/Protocol/RoslynLanguageServer.cs
  src/LanguageServer/Protocol/RoslynRequestExecutionQueue.cs
  src/LanguageServer/ProtocolUnitTests/HandlerTests.cs
  src/LanguageServer/ProtocolUnitTests/Miscellaneous/LspMiscellaneousFilesWorkspaceTests.cs
  src/VisualStudio/Xaml/Impl/Implementation/LanguageServer/XamlRequestExecutionQueue.cs
Labels: Area-Infrastructure, untriaged

#74307 Avoid more large string constant fields
  src/Compilers/Test/Core/InstrumentationChecker.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/Test/Utilities/CSharp/CompilingTestBase.cs
Labels: Area-Compilers, untriaged

#74255 Fix modification of readonly locals through ref fields
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenForEachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/QueryTests.cs
Labels: Area-Compilers, untriaged

#74279 Fixed grammar in incremental-generators.cookbook.md
  docs/features/incremental-generators.cookbook.md
Labels: Area-Compilers, Community, untriaged

#74334 Merge Internal/release/dev17.10 to release/dev17.10
  azure-pipelines-official.yml
  src/Workspaces/Core/MSBuild.BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
Labels: Area-IDE, untriaged

#74340 Remove 'open file only' concept from analyzer driver
  src/Analyzers/CSharp/Analyzers/UseImplicitOrExplicitType/CSharpTypeStyleDiagnosticAnalyzerBase.cs
  src/Analyzers/Core/Analyzers/AbstractBuiltInCodeStyleDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AbstractCodeQualityDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/AnalyzerOptionsProvider.cs
  src/Analyzers/Core/Analyzers/QualifyMemberAccess/AbstractQualifyMemberAccessDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test/Options/GlobalOptionsTests.cs
  src/EditorFeatures/Test/Preview/PreviewWorkspaceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/Diagnostics/Analyzers/UnboundIdentifiersDiagnosticAnalyzerBase.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
  src/Features/Core/Portable/EmbeddedLanguages/Json/LanguageServices/AbstractJsonDetectionAnalyzer.cs
  src/Features/Core/Portable/EmbeddedLanguages/Json/LanguageServices/AbstractJsonDiagnosticAnalyzer.cs
  src/Features/Core/Portable/PreferFrameworkType/PreferFrameworkTypeDiagnosticAnalyzerBase.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeRefactoringVerifier`1+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/SharedVerifierState.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeRefactoringVerifier`1+Test.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractSuppressionAllCodeTests.cs
  src/Features/ExternalAccess/OmniSharp/Analyzers/OmniSharpWorkspaceAnalyzerOptionsFactory.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor_Helpers.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.ProjectState.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Features/Options/IdeAnalyzerOptionsStorage.cs
  src/Tools/AnalyzerRunner/DiagnosticAnalyzerRunner.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/VisualStudio/ExternalAccess/FSharp/Internal/Diagnostics/FSharpDocumentDiagnosticAnalyzer.cs
  src/VisualStudio/ExternalAccess/FSharp/Internal/Diagnostics/FSharpSimplifyNameDiagnosticAnalyzer.cs
  src/VisualStudio/ExternalAccess/FSharp/Internal/Diagnostics/FSharpUnusedDeclarationsAnalyzer.cs
  src/VisualStudio/ExternalAccess/FSharp/Internal/Diagnostics/FSharpUnusedOpensDiagnosticAnalyzer.cs
  src/Workspaces/Core/Portable/Diagnostics/WorkspaceAnalyzerOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IBuiltInAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IdeAnalyzerOptions.cs
Labels: Area-Analyzers, untriaged

#74323 Remove fallbacks (3)
  src/EditorFeatures/TestUtilities/Utilities/CSharpCodeActionOptions.cs
  src/EditorFeatures/TestUtilities/Utilities/VisualBasicCodeActionOptions.cs
  src/EditorFeatures/VisualBasic/ImplementAbstractClass/ImplementAbstractClassCommandHandler.vb
  src/EditorFeatures/VisualBasic/ImplementInterface/ImplementInterfaceCommandHandler.vb
  src/EditorFeatures/VisualBasic/Utilities/CommandHandlers/AbstractImplementAbstractClassOrInterfaceCommandHandler.vb
  src/Features/CSharp/Portable/ImplementInterface/CSharpImplementInterfaceCodeFixProvider.cs
  src/Features/Core/Portable/ImplementAbstractClass/AbstractImplementAbstractClassCodeFixProvider.cs
  src/Features/Core/Portable/ImplementAbstractClass/ImplementAbstractClassData.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.CodeAction.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.DisposePatternCodeAction.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.cs
  src/Features/Core/Portable/ImplementInterface/IImplementInterfaceService.cs
  src/Features/VisualBasic/Portable/ImplementInterface/VisualBasicImplementInterfaceCodeFixProvider.vb
  src/LanguageServer/Protocol/Features/Options/CodeActionOptionsStorage.cs
  src/LanguageServer/Protocol/Features/Options/CodeStyleOptionsStorage.cs
  src/LanguageServer/Protocol/Features/Options/ImplementTypeOptionsStorage.cs
  src/LanguageServer/ProtocolUnitTests/Options/LspOptionsTests.cs
  src/Workspaces/CSharp/Portable/CodeStyle/CSharpCodeStyleService.cs
  src/Workspaces/Core/Portable/CodeStyle/ICodeStyleService.cs
  src/Workspaces/Core/Portable/ImplementType/ImplementTypeOptions.cs
  src/Workspaces/CoreTest/Remote/ServiceDescriptorTests.cs
  src/Workspaces/Remote/Core/Serialization/MessagePackFormatters.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpIdeCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/CodeStyleOptions2.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/IdeCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/VisualBasic/VisualBasicCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeStyle/VisualBasic/VisualBasicIdeCodeStyleOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/CodeActionOptions.cs
  src/Workspaces/VisualBasic/Portable/CodeCleanup/Providers/NormalizeModifiersOrOperatorsCodeCleanupProvider.vb
  src/Workspaces/VisualBasic/Portable/CodeStyle/VisualBasicCodeStyleService.vb
Labels: Area-IDE, untriaged

#74232 Switch implicit span to conversion from type
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
  src/Workspaces/CoreTest/XxHash128Tests.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#74330 Handle missing System.Nullable type
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/NullableTests.cs
Labels: Area-Compilers, New Language Feature - Nullable Reference Types, untriaged

#74301 Note that toolset package layout is hard-coded in SDK
  src/NuGet/Microsoft.Net.Compilers.Toolset/Framework/Microsoft.Net.Compilers.Toolset.Framework.Package.csproj
Labels: Area-Compilers, untriaged

#74320 Fix layering of Implement-Interface code-fixer vs language service
  src/Features/CSharp/Portable/ImplementInterface/CSharpImplementInterfaceCodeFixProvider.cs
  src/Features/CSharp/Portable/ImplementInterface/CSharpImplementInterfaceService.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceCodeFixProvider.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.AccessibilityHelper.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.State.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceService.cs
  src/Features/Core/Portable/ImplementInterface/IImplementInterfaceService.cs
  src/Features/Core/Portable/ImplementInterface/ImplementHelpers.cs
  src/Features/Core/Portable/ImplementInterface/ImplementInterfaceGenerator.cs
  src/Features/Core/Portable/ImplementInterface/ImplementInterfaceGenerator_Conflicts.cs
  src/Features/Core/Portable/ImplementInterface/ImplementInterfaceGenerator_DisposePattern.cs
  src/Features/Core/Portable/ImplementInterface/ImplementInterfaceGenerator_Method.cs
  src/Features/Core/Portable/ImplementInterface/ImplementInterfaceGenerator_Property.cs
  src/Features/VisualBasic/Portable/ImplementInterface/VisualBasicImplementInterfaceCodeFixProvider.vb
  src/Features/VisualBasic/Portable/ImplementInterface/VisualBasicImplementInterfaceService.vb
  src/Features/VisualBasicTest/ImplementInterface/ImplementInterfaceTests_FixAllTests.vb
Labels: Area-IDE, untriaged

#74205 Work around MSBuild task ordering bug
  eng/targets/Settings.props
Labels: Area-Infrastructure, untriaged

#74251 Do not include collection expression conversion to nullable value type in ClassifyStandardImplicitConversion()
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Labels: Area-Compilers, untriaged

#73102 Optimize codegen for collections expression of single spread of `ReadOnlySpan` for collection builder emit strategy
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/CollectionExpressionTests.cs
Labels: Area-Compilers, Blocked, Community, untriaged

#74338 Add a ParamCollection test which uses the attribute included in .NET 9 SDK
  src/Compilers/CSharp/Test/Emit2/Semantics/ParamsCollectionTests.cs
Labels: Area-Compilers, untriaged

#74357 Eliminate IdeAnalyzerOptions
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test/Options/GlobalOptionsTests.cs
  src/EditorFeatures/Test/Preview/PreviewWorkspaceTests.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticArguments.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeFixVerifier`2+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/CSharpCodeRefactoringVerifier`1+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/SharedVerifierState.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeFixVerifier`2+Test.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeRefactoringVerifier`1+Test.cs
  src/Features/ExternalAccess/OmniSharp/Analyzers/OmniSharpWorkspaceAnalyzerOptionsFactory.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Features/Diagnostics/DocumentAnalysisExecutor_Helpers.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.InProcOrRemoteHostAnalyzerRunner.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/LanguageServer/Protocol/Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer_IncrementalAnalyzer.cs
  src/LanguageServer/Protocol/Features/Options/IdeAnalyzerOptionsStorage.cs
  src/Tools/AnalyzerRunner/DiagnosticAnalyzerRunner.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/Core/Portable/Diagnostics/WorkspaceAnalyzerOptions.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IdeAnalyzerOptions.cs
Labels: Area-Analyzers, untriaged

#74352 Remove diagnostic category flag
  src/EditorFeatures/CSharpTest/Diagnostics/DiagnosticAnalyzerDriver/DiagnosticAnalyzerDriverTests.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/DiagnosticAnalyzerCategory.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Diagnostics/IBuiltInAnalyzer.cs
Labels: Area-IDE, untriaged

#74351 Clarify error for AssemblyVersion with wildcard when deterministic VB
  src/Compilers/VisualBasic/Portable/Errors/ErrorFacts.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceAssemblySymbol.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Emit/Attributes/AssemblyAttributes.vb
Labels: Area-Compilers, Community, untriaged

#74358 Simplify passing around of FAR symbol groups
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine_FindReferencesInDocuments.cs
Labels: Area-IDE, untriaged

#74311 Use more precise wording for errors specifying requirements for types that can be used in a `using` statement.
  src/Analyzers/CSharp/CodeFixes/MakeStatementAsynchronous/CSharpMakeStatementAsynchronousCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/MakeMethodSynchronous/MakeMethodSynchronousTests.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingDeclarationTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenUsingStatementTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/OutVarTests.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUsingStatement.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IVariableDeclaration.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocInitializerTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StackAllocSpanExpressionsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/UsingStatementTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/AnonymousTypesSemanticsTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ConversionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Features/Core/Portable/IntroduceUsingStatement/AbstractIntroduceUsingStatementCodeRefactoringProvider.cs
Labels: Area-Compilers, untriaged, New Feature - RefStructInterfaces

#73842 Use correct get / set inside ref safety analysis
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundExpression.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/BoundTree/Constructors.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/PatternMatchingTests.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
  src/Compilers/CSharp/Test/Semantic/Microsoft.CodeAnalysis.CSharp.Semantic.UnitTests.csproj
  src/Compilers/CSharp/Test/Semantic/Semantics/RecordStructTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefFieldTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/StructConstructorTests.cs
  src/Compilers/Test/Core/CompilerTraitAttribute.cs
  src/Compilers/Test/Core/Traits/CompilerFeature.cs
  src/Tools/Source/RunTests/TestRunner.cs
Labels: Area-Compilers, untriaged

#74336 Remove fallbacks and providers (4)
  src/EditorFeatures/CSharpTest/CodeActions/ImplementInterface/ImplementInterfaceTests.cs
  src/EditorFeatures/CSharpTest/Organizing/OrganizeTypeDeclarationTests.cs
  src/EditorFeatures/Core/ExternalAccess/UnitTestGenerator/Api/UnitTestGeneratorOrganizeImportsAccessor.cs
  src/EditorFeatures/Core/Organizing/OrganizeDocumentCommandHandler.cs
  src/EditorFeatures/Test/Options/GlobalOptionsTests.cs
  src/EditorFeatures/Test2/NavigationBar/TestHelpers.vb
  src/EditorFeatures/TestUtilities/Utilities/CSharpCodeActionOptions.cs
  src/EditorFeatures/TestUtilities/Utilities/VisualBasicCodeActionOptions.cs
  src/EditorFeatures/VisualBasic/NavigationBar/VisualBasicEditorNavigationBarItemService.vb
  src/EditorFeatures/VisualBasic/NavigationBar/VisualBasicEditorNavigationBarItemService_CodeGeneration.vb
  src/EditorFeatures/VisualBasicTest/Formatting/CodeCleanUpTests.vb
  src/EditorFeatures/VisualBasicTest/Organizing/OrganizeTypeDeclarationTests.vb
  src/Features/Core/Portable/ImplementAbstractClass/AbstractImplementAbstractClassCodeFixProvider.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceCodeFixProvider.cs
  src/Features/ExternalAccess/OmniSharp/CodeActions/OmniSharpCodeActionOptions.cs
  src/Features/ExternalAccess/OmniSharp/Formatting/OmniSharpOrganizeImportsOptionsWrapper.cs
  src/Features/ExternalAccess/OmniSharp/InternalAPI.Unshipped.txt
  src/Features/ExternalAccess/OmniSharp/Options/OmnisharpLegacyGlobalOptionsWorkspaceService.cs
  src/Features/VisualBasic/Portable/CodeFixes/GenerateEvent/GenerateEventCodeFixProvider.vb
  src/Features/VisualBasic/Portable/Formatting/VisualBasicOrganizeUsingsNewDocumentFormattingProvider.vb
  src/LanguageServer/Protocol/Features/CodeCleanup/AbstractCodeCleanupService.cs
  src/LanguageServer/Protocol/Features/Options/CodeActionOptionsStorage.cs
  src/LanguageServer/Protocol/Features/Options/GlobalCodeActionOptionsProvider.cs
  src/LanguageServer/Protocol/Features/Options/OrganizeImportsOptionsStorage.cs
  src/Workspaces/Core/Portable/Formatting/Formatter.cs
  src/Workspaces/Core/Portable/OrganizeImports/OrganizeImportsOptions.cs
  src/Workspaces/CoreTest/Remote/ServiceDescriptorTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/AddImport/AddImportPlacementOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeCleanup/CodeCleanupOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeGeneration/CleanCodeGenerationOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CodeGeneration/CodeGenerationOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/DocumentFormattingOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/LineFormattingOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/SyntaxFormattingOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Simplification/SimplifierOptions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/CodeActionOptions.cs
Labels: Area-IDE, untriaged

#74339 Do not use memory mapped files on non-windows
  src/VisualStudio/Core/Def/ProjectSystem/MetadataReferences/VisualStudioMetadataReferenceManager.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService.cs
  src/Workspaces/Core/Portable/Serialization/SerializerService_Reference.cs
  src/Workspaces/Core/Portable/TemporaryStorage/TemporaryStorageService.Factory.cs
  src/Workspaces/Core/Portable/TemporaryStorage/TemporaryStorageService.TemporaryStorageStreamHandle.cs
  src/Workspaces/Core/Portable/TemporaryStorage/TrivialTemporaryStorageService.cs
  src/Workspaces/Core/Portable/Workspace/Host/TemporaryStorage/ITemporaryStorageStreamHandle.cs
Labels: Area-IDE, untriaged

#74354 Fix debug assert with operation blocks in invalid code
  src/Analyzers/CSharp/Tests/UseSystemHashCode/UseSystemHashCodeTests.cs
  src/Analyzers/Core/Analyzers/UseSystemHashCode/UseSystemHashCodeDiagnosticAnalyzer.cs
  src/Compilers/CSharp/Test/Emit2/Diagnostics/DiagnosticAnalyzerTests.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerDriver.cs
Labels: Area-IDE, untriaged

#74367 Test Lock with .NET 9 runtime
  src/Compilers/CSharp/Test/Emit2/Semantics/LockTests.cs
  src/Compilers/VisualBasic/Test/Semantic/Binding/SyncLockTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Microsoft.CodeAnalysis.VisualBasic.Semantic.UnitTests.vbproj
Labels: Area-Compilers, untriaged, New Feature - Lock Type

#74349 Handle span conversions in expression trees
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#74283 Avoid reporting redundant and possibly misleading WRN_InlineArrayNotSupportedByLanguage
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit2/Semantics/InlineArrayTests.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Labels: Area-Compilers, untriaged, New Feature - RefStructInterfaces

#74391 Update asserts to improve diagnosability of dartlab test failure
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpBuild.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/VisualBasic/BasicEditAndContinue.cs
Labels: Area-IDE, untriaged

#74271 Remove double array allocation in SemanticTokens
  src/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
Labels: Area-Infrastructure, untriaged

#74402 Razor EA changes to allow better tests in Razor
  src/LanguageServer/Protocol/WellKnownLspServerKinds.cs
  src/Tools/ExternalAccess/Razor/Cohost/AbstractRazorRequestHandler.cs
  src/Tools/ExternalAccess/Razor/Testing/AbstractRazorLanguageServerFactoryWrapper.cs
  src/Tools/ExternalAccess/Razor/Testing/IRazorTestCapabilitiesProvider.cs
  src/Tools/ExternalAccess/Razor/Testing/RazorTestAnalyzerLoader.cs
  src/Tools/ExternalAccess/Razor/Testing/RazorTestLanguageServerFactory.cs
  src/Tools/ExternalAccess/Razor/Testing/RazorTestWorkspaceRegistrationService.cs
  src/Tools/ExternalAccess/Razor/Testing/TestSolutionStore.cs
Labels: Area-IDE, untriaged

#74401 Add the ResolveKeySource workround back
  eng/targets/Settings.props
Labels: Area-Infrastructure, untriaged

#74310 SpillSequenceSpiller – preserve `ref` BoundConditionalOperator in presence of spilling in its either branch
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefConditionalOperatorTests.cs
Labels: Area-Compilers, New Language Feature - Ref Locals and Returns, untriaged

#74282 Additional tests for `ref struct interfaces` feature
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Labels: Area-Compilers, untriaged, New Feature - RefStructInterfaces

#74346 Revert "Extensions: Emit and roundtrip underlying instance field (#73407)"
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceExtensionTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
Labels: Area-Compilers, untriaged, New Language Feature - Roles

#74387 Improve span conversion tests
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#74376 Convert ImplementTypeOptions to editorconfig options
  src/EditorFeatures/CSharpTest/CodeActions/ImplementInterface/ImplementInterfaceTests.cs
  src/EditorFeatures/VisualBasic/ImplementAbstractClass/ImplementAbstractClassCommandHandler.vb
  src/EditorFeatures/VisualBasic/ImplementInterface/ImplementInterfaceCommandHandler.vb
  src/EditorFeatures/VisualBasic/Utilities/CommandHandlers/AbstractImplementAbstractClassOrInterfaceCommandHandler.vb
  src/Features/CSharpTest/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/Features/Core/Portable/ImplementAbstractClass/AbstractImplementAbstractClassCodeFixProvider.cs
  src/Features/Core/Portable/ImplementAbstractClass/ImplementAbstractClassData.cs
  src/Features/Core/Portable/ImplementInterface/AbstractImplementInterfaceCodeFixProvider.cs
  src/Features/Core/Portable/ImplementType/ImplementTypeInsertionBehavior.cs
  src/Features/Core/Portable/ImplementType/ImplementTypeOptions.cs
  src/Features/Core/Portable/ImplementType/ImplementTypePropertyGenerationBehavior.cs
  src/Features/Core/Portable/Microsoft.CodeAnalysis.Features.csproj
  src/Features/Core/Portable/Options/EditorConfig/EditorConfigOptionsEnumerator.cs
  src/Features/Core/Portable/Options/MemberDisplayOptions.cs
  src/Features/DiagnosticsTestUtilities/CodeActionsLegacy/AbstractCodeActionOrUserDiagnosticTest_NoEditor.cs
  src/Features/ExternalAccess/OmniSharp/CodeActions/OmniSharpCodeActionOptions.cs
  src/Features/ExternalAccess/OmniSharp/CodeActions/OmniSharpCodeFixContextFactory.cs
  src/Features/VisualBasicTest/ImplementAbstractClass/ImplementAbstractClassTests.vb
  src/Features/VisualBasicTest/ImplementInterface/ImplementInterfaceTests.vb
  src/LanguageServer/Protocol/Features/Options/CodeActionOptionsStorage.cs
  src/LanguageServer/Protocol/Features/Options/ImplementTypeOptionsStorage.cs
  src/LanguageServer/Protocol/Handler/Configuration/DidChangeConfigurationNotificationHandler.cs
  src/LanguageServer/ProtocolUnitTests/Configuration/DidChangeConfigurationNotificationHandlerTest.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Test/Options/BasicEditorConfigGeneratorTests.vb
  src/VisualStudio/Core/Test/Options/CSharpEditorConfigGeneratorTests.vb
  src/Workspaces/Core/Portable/ImplementType/ImplementTypeOptions.cs
  src/Workspaces/CoreTest/Options/OptionSerializerTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/EditorConfigValueSerializer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Options/EditorConfigValueSerializer`1.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/BidirectionalMap.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/CodeActionOptions.cs
Labels: Area-IDE, untriaged

#74364 Switch to STJ for client side LSP serialization
  src/EditorFeatures/Core/LanguageServer/AbstractInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/AbstractLanguageClientMiddleLayer.cs
  src/Tools/ExternalAccess/Razor/RazorCSharpInterceptionMiddleLayer.cs
  src/VisualStudio/CSharp/Test/DocumentOutline/DocumentOutlineTestsBase.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentOutlineViewModel_Utilities.cs
  src/VisualStudio/Core/Def/DocumentOutline/DocumentSymbolNewtonsoft.cs
Labels: Area-IDE, untriaged

#73873 Smart Rename: Provide additional context for renamed symbol
  src/EditorFeatures/CSharp/InlineRename/CSharpEditorInlineRenameService.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
  src/EditorFeatures/Core.Wpf/Lightup/ISmartRenameSessionWrapper.cs
  src/EditorFeatures/Core.Wpf/Lightup/LightupHelpers.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/IEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameUIOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Def/PackageRegistration.pkgdef
  src/VisualStudio/ExternalAccess/FSharp/Internal/Editor/FSharpEditorInlineRenameService.cs
  src/VisualStudio/Xaml/Impl/Features/InlineRename/XamlEditorInlineRenameService.cs
Labels: Area-IDE, Community, untriaged

#74405 Use modreq to prevent consumption of instance extensions from other compilers
  src/Compilers/CSharp/Portable/Symbols/Extensions/SynthesizedExtensionThisParameterMetadataSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/ExtensionTypeTests.vb
Labels: Area-Compilers, untriaged, New Language Feature - Roles

#74267 Improve performance of SourceText.LineInfo indexer.
  src/Compilers/Core/Portable/Text/SourceText.cs
  src/Compilers/Core/Portable/Text/TextLine.cs
Labels: Area-Compilers, untriaged

#74414 Switch first-class Span tests to C#13
  src/Compilers/CSharp/Test/Emit3/FirstClassSpanTests.cs
Labels: Area-Compilers, untriaged, New Feature - First-class Span Types

#74188 Display lifted primary constructor parameters in watch window …
  src/Compilers/CSharp/Portable/Symbols/Synthesized/GeneratedNameParser.cs
  src/ExpressionEvaluator/CSharp/Source/ResultProvider/CSharpResultProvider.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/FullNameTests.cs
  src/ExpressionEvaluator/CSharp/Test/ResultProvider/ResultsViewTests.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Expansion/MemberExpansion.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/MemberAndDeclarationInfo.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/TypeHelpers.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/Helpers/ValueHelpers.cs
  src/ExpressionEvaluator/Core/Source/ResultProvider/ResultProvider.cs
  src/ExpressionEvaluator/VisualBasic/Source/ResultProvider/VisualBasicResultProvider.vb
Labels: Area-Interactive, untriaged

#74294 Fix SourceCodeKind setting
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState_LinkedFileReuse.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionTests.cs
Labels: Area-IDE, untriaged

#74412 Bump razor for serialization changes
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#74428 Adjust overload resolution priority from LDM
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Test/Emit3/OverloadResolutionPriorityTests.cs
Labels: Area-Compilers, untriaged

#74389 Fill some gaps in Test Plan for "Ref Struct Interfaces" feature
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Labels: Area-Compilers, untriaged, New Feature - RefStructInterfaces

#74433 Skip TestCode classification type when computing tokens.
  src/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
Labels: Area-IDE, untriaged

#74193 Address PR feedback on https://github.com/dotnet/roslyn/pull/74132
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
Labels: Area-Compilers, untriaged

#74227 Escape `record` keywords
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.cs
  src/Compilers/CSharp/Test/Symbol/SymbolDisplay/SymbolDisplayTests.cs
Labels: Area-Compilers, Community, untriaged

#74424 Remove ifdefs related to formatting
  src/Analyzers/CSharp/CodeFixes/RemoveUnusedParametersAndValues/CSharpRemoveUnusedValuesCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseCollectionExpression/CSharpCollectionExpressionRewriter.cs
  src/Analyzers/CSharp/CodeFixes/UseConditionalExpression/CSharpUseConditionalExpressionForAssignmentCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseConditionalExpression/CSharpUseConditionalExpressionForReturnCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/Formatting/AbstractFormattingAnalyzer.cs
  src/Analyzers/Core/Analyzers/Formatting/FormatterHelper.cs
  src/Analyzers/Core/Analyzers/Formatting/FormattingAnalyzerHelper.cs
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/Formatting/FormattingCodeFixHelper.cs
  src/Analyzers/Core/CodeFixes/Formatting/FormattingCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/RemoveUnusedParametersAndValues/VisualBasicRemoveUnusedValuesCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/UseConditionalExpression/VisualBasicUseConditionalExpressionForAssignmentCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/UseConditionalExpression/VisualBasicUseConditionalExpressionForReturnCodeFixProvider.vb
  src/EditorFeatures/Core/Organizing/OrganizeDocumentCommandHandler.cs
  src/Features/CSharp/Portable/ConvertProgram/ConvertProgramTransform_TopLevelStatements.cs
  src/Features/Core/Portable/CodeRefactorings/MoveType/AbstractMoveTypeService.MoveTypeEditor.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/PullMemberUp/MembersPuller.cs
  src/LanguageServer/Protocol/ExternalAccess/Razor/FormatNewFileHandler.cs
  src/LanguageServer/Protocol/Features/CodeCleanup/AbstractCodeCleanupService.cs
  src/VisualStudio/Xaml/Impl/CodeFixes/RemoveUnnecessaryUsings/XamlRemoveUnnecessaryUsingsCodeFixProvider.cs
  src/VisualStudio/Xaml/Impl/Features/OrganizeImports/XamlRemoveUnnecessaryImportsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpRemoveUnnecessaryImportsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/RemoveUnnecessaryImports/IRemoveUnnecessaryImportsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/LanguageServices/VisualBasicRemoveUnnecessaryImportsService.vb
Labels: Area-IDE, untriaged

#74413 Also checking line end when block structure is filtered
  src/EditorFeatures/CSharpTest/Structure/MetadataAsSource/InvalidIdentifierStructureTests.cs
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Labels: Area-IDE, untriaged

#74436 Avoid shipping dependency on EA.RazorCompiler to SDK
  src/Compilers/CSharp/csc/CscCommandLine.projitems
  src/Compilers/Server/VBCSCompiler/VBCSCompilerCommandLine.projitems
  src/Compilers/VisualBasic/vbc/VbcCommandLine.projitems
Labels: Area-Compilers, untriaged

#74411 Reduce allocations in AnalyzerFileReference.GetAnalyzerTypeNameMap
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerFileReference.cs
Labels: Area-Analyzers, untriaged

#74447 Add monthly smoke test to release branch official builds
  azure-pipelines-official.yml
Labels: Area-Infrastructure, untriaged

#74448 Cleanup in VS generator UI code.
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzerItem/AnalyzerItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/BaseItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/DiagnosticItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/DiagnosticItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/LegacyDiagnosticItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/LegacyDiagnosticItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/SourceGeneratorItem.cs
  src/VisualStudio/Core/Test/SolutionExplorer/CpsDiagnosticItemSourceTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/SourceGeneratorItemTests.vb
  src/Workspaces/Core/Portable/SourceGeneration/IRemoteSourceGenerationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratorIdentity.cs
  src/Workspaces/Remote/ServiceHub/Services/SourceGeneration/RemoteSourceGenerationService.cs
Labels: Area-IDE, untriaged

#74055 Simplify HostAnalysisScope storage
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerExecutor.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.AnalyzerExecutionContext.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/AnalyzerManager.cs
  src/Compilers/Core/Portable/DiagnosticAnalyzer/DiagnosticStartAnalysisScope.cs
Labels: Area-Analyzers, untriaged

#47951 Dispose per-instance services created by factories
  src/Workspaces/Core/Portable/PublicAPI.Unshipped.txt
  src/Workspaces/Core/Portable/Workspace/Host/HostLanguageServices.cs
  src/Workspaces/Core/Portable/Workspace/Host/HostWorkspaceServices.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensionsResources.resx
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.cs.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.de.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.es.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.fr.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.it.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.ja.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.ko.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.pl.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.pt-BR.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.ru.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.tr.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.zh-Hans.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/xlf/CompilerExtensionsResources.zh-Hant.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Workspace/Mef/LayeredServiceUtilities.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Workspace/Mef/MefLanguageServices.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Workspace/Mef/MefUtilities.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Workspace/Mef/MefWorkspaceServices.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
Labels: Area-IDE

#74462 Ignore MSBuild_Logs folder
  .gitignore
Labels: Area-Infrastructure, untriaged

#74408 Remove diagnostic for 'value' as a contextual keyword
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenTupleTest.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/FieldAndValueKeywordTests.cs
Labels: Area-Compilers, untriaged

#74449 Add more descriptive error message when editorconfig value is incorrect
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CSharpCompilerExtensionsResources.resx
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions_Parsing.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.cs.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.de.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.es.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.fr.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.it.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.ja.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.ko.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.pl.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.pt-BR.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.ru.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.tr.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.zh-Hans.xlf
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/xlf/CSharpCompilerExtensionsResources.zh-Hant.xlf
Labels: Area-IDE, untriaged

#74285 Enable running in ARM64-native mode on .NET Framework.
  eng/config/app.manifest
Labels: Area-Compilers, Area-Infrastructure, Community, untriaged

#74446 Merge internal release/dev17.11 back to release/dev17.11
  azure-pipelines-official.yml
  src/Workspaces/Core/MSBuild.BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
Labels: Area-Infrastructure, untriaged

#74468 Fix issue with ForAttributeWithMetadataName being in an inconsistent state after a match.
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_FullyQualifiedName.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxValueProvider_ForAttributeWithSimpleName.cs
Labels: Area-Compilers, untriaged

#74467 Move suppressions to code instead of .gdnsuppress
  eng/build.ps1
  eng/config/guardian/.gdnsuppress
  src/EditorFeatures/CSharpTest2/EmbeddedLanguages/Json/CSharpJsonParserTests_BasicTests.cs
Labels: Area-IDE, Community, untriaged

#74341 Tests to verify ref safety bug fix
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers, untriaged

#74382 Remove Overload Resolution Priority from working set
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation, Community, untriaged

#74236 Editor color scheme is visible but disabled when unsupported theme is selected
  src/VisualStudio/CSharp/Impl/Options/AdvancedOptionPageControl.xaml.cs
  src/VisualStudio/VisualBasic/Impl/Options/AdvancedOptionPageControl.xaml.vb
Labels: Area-IDE, untriaged

#74483 Move to new version of MS.DevDiv.Optimization.Data.Powershell
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#74479 17.11 : Also checking line end when block structure is filtered
  src/EditorFeatures/CSharpTest/Structure/MetadataAsSource/InvalidIdentifierStructureTests.cs
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Labels: Area-IDE, untriaged

#74477 17.10 : Also checking line end when block structure is filtered
  src/EditorFeatures/CSharpTest/Structure/MetadataAsSource/InvalidIdentifierStructureTests.cs
  src/EditorFeatures/Test/Structure/StructureTaggerTests.cs
  src/Features/Core/Portable/Structure/Syntax/AbstractBlockStructureProvider.cs
Labels: Area-Infrastructure, untriaged

#74481 Remove C++ sources from repo
  src/Compilers/RealParserTests/CLibraryShim/AssemblyInfo.cpp
  src/Compilers/RealParserTests/CLibraryShim/CLibraryShim.cpp
  src/Compilers/RealParserTests/CLibraryShim/CLibraryShim.h
  src/Compilers/RealParserTests/CLibraryShim/CLibraryShim.vcxproj
  src/Compilers/RealParserTests/Properties/AssemblyInfo.cs
  src/Compilers/RealParserTests/RandomRealParserTests.cs
  src/Compilers/RealParserTests/RealParserTests.csproj
  src/Compilers/RealParserTests/RealParserTests.sln
  src/Compilers/Test/Resources/Core/Microsoft.CodeAnalysis.Compiler.Test.Resources.csproj
  src/Compilers/Test/Resources/Core/SymbolsTests/CustomModifiers/CppCli.cpp
  src/Compilers/Test/Resources/Core/SymbolsTests/CustomModifiers/GenericMethodWithModifiers.cpp
Labels: Area-Compilers, untriaged

#74361 Add IsEnabled property to IEditorInlineRenameService
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/Api/IVSTypeScriptEditorInlineRenameService.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RenameHandler.cs
  src/EditorFeatures/Core/InlineRename/IEditorInlineRenameService.cs
  src/VisualStudio/ExternalAccess/FSharp/Internal/Editor/FSharpEditorInlineRenameService.cs
  src/VisualStudio/Xaml/Impl/Features/InlineRename/XamlEditorInlineRenameService.cs
Labels: Area-IDE, Community, untriaged

#74421 WithDocumentAttributes
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE, untriaged

#74486 Include PrepareResources before ExtensionJsonOutputGroup
  eng/targets/VisualStudio.targets
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
Labels: Area-Infrastructure, untriaged

#74432 Support VS System theme
  src/VisualStudio/Core/Def/ColorSchemes/ColorSchemeApplier.cs
  src/Workspaces/Core/Portable/Shared/TestHooks/FeatureAttribute.cs
Labels: Area-IDE, untriaged

#74437 Instance extensions - flesh out code gen for iterator/async methods.
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/IteratorAndAsyncCaptureWalker.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionMetadataMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SynthesizedExtensionThisParameterMetadataSymbol.cs
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
Labels: Area-Compilers, untriaged, New Language Feature - Roles

#74459 Flesh out delegate creation from instance extensions
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
Labels: Area-Compilers, untriaged, New Language Feature - Roles

#74463 Flesh out capturing of `this` into a closure in an instance extension member.
  src/Compilers/CSharp/Portable/Symbols/Source/ThisParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
Labels: Area-Compilers, untriaged, New Language Feature - Roles

#74390 Add source.dot.net stage 1 asset publication
  azure-pipelines-official.yml
Labels: Area-Infrastructure, Community, untriaged

#74444 Do not load generators in VS process
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSourceProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/DiagnosticItem.BrowseObject.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/DiagnosticItem.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/LegacyDiagnosticItemSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/LegacyDiagnosticItemSourceProvider.cs
  src/VisualStudio/Core/Test/SolutionExplorer/CpsDiagnosticItemSourceTests.vb
  src/VisualStudio/Core/Test/SolutionExplorer/SourceGeneratorItemTests.vb
  src/Workspaces/Core/Portable/SourceGeneration/IRemoteSourceGenerationService.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratorIdentity.cs
  src/Workspaces/Remote/ServiceHub/Services/SourceGeneration/RemoteSourceGenerationService.cs
Labels: Area-IDE, untriaged

#74503 Cherrypick (#73873) into 17.11
  src/EditorFeatures/CSharp/InlineRename/CSharpEditorInlineRenameService.cs
  src/EditorFeatures/Core.Wpf/InlineRename/UI/SmartRename/SmartRenameViewModel.cs
  src/EditorFeatures/Core.Wpf/Lightup/ISmartRenameSessionWrapper.cs
  src/EditorFeatures/Core.Wpf/Lightup/LightupHelpers.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/IEditorInlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameUIOptionsStorage.cs
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/Core/Def/PackageRegistration.pkgdef
  src/VisualStudio/ExternalAccess/FSharp/Internal/Editor/FSharpEditorInlineRenameService.cs
  src/VisualStudio/Xaml/Impl/Features/InlineRename/XamlEditorInlineRenameService.cs
Labels: Area-IDE, untriaged

#74487 Don't check constraints on methods which are not substituted
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/ExtensionMethodTests.cs
Labels: Area-Compilers, untriaged

#74343 Fix UnscopedRef handling in indexers
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers, untriaged

#74441 Unify code paths that update ordinary/additional/analyzerconfig documents
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.TranslationAction_Actions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE, untriaged

#74510 Fix crash in sighelp
  src/EditorFeatures/Core.Wpf/SignatureHelp/Controller.Session_ComputeModel.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/Controller.Session_UpdateModel.cs
  src/EditorFeatures/Core.Wpf/SignatureHelp/Model.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpSignatureHelpCommandHandlerTests.vb
  src/EditorFeatures/Test2/IntelliSense/SignatureHelpControllerTests.vb
  src/EditorFeatures/TestUtilities/SignatureHelp/AbstractSignatureHelpProviderTests.cs
  src/Features/CSharp/Portable/SignatureHelp/TupleConstructionSignatureHelpProvider.cs
  src/Features/Core/Portable/SignatureHelp/AbstractSignatureHelpProvider.cs
  src/Features/Core/Portable/SignatureHelp/SignatureHelpItems.cs
  src/Features/Core/Portable/SignatureHelp/SignatureHelpState.cs
  src/Features/VisualBasic/Portable/SignatureHelp/AbstractIntrinsicOperatorSignatureHelpProvider.vb
  src/LanguageServer/Protocol/Handler/SignatureHelp/SignatureHelpHandler.cs
Labels: Area-IDE, untriaged

#74488 Adds support for metadata LSP language features in VSCode
  src/EditorFeatures/CSharpTest/PdbSourceDocument/NullResultMetadataAsSourceFileProvider.cs
  src/EditorFeatures/Test/MetadataAsSource/AbstractMetadataAsSourceTests.TestContext.cs
  src/Features/Core/Portable/MetadataAsSource/DecompilationMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/MetadataAsSource/IMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/MetadataAsSource/IMetadataAsSourceFileService.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceFileService.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbSourceDocumentMetadataAsSourceFileProvider.cs
  src/LanguageServer/Protocol/RoslynLanguageServer.cs
  src/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspace.cs
  src/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspaceProvider.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/LanguageServer/ProtocolUnitTests/Metadata/LspMetadataAsSourceWorkspaceTests.cs
  src/VisualStudio/Core/Def/ProjectSystem/MiscellaneousFilesWorkspace.cs
Labels: Area-IDE, untriaged

#74529 Include InterpolatedString conversions in standard implicit conversion from expression assert
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/ConversionsBase.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
Labels: Area-Compilers, untriaged

#74409 Remove assembly loading light-up from scripting
  src/Scripting/Core/CoreLightup.cs
  src/Scripting/Core/Hosting/AssemblyLoader/AssemblyAndLocation.cs
  src/Scripting/Core/Hosting/AssemblyLoader/AssemblyLoadResult.cs
  src/Scripting/Core/Hosting/AssemblyLoader/AssemblyLoaderImpl.cs
  src/Scripting/Core/Hosting/AssemblyLoader/CoreAssemblyLoaderImpl.cs
  src/Scripting/Core/Hosting/AssemblyLoader/DesktopAssemblyLoaderImpl.cs
  src/Scripting/Core/Hosting/AssemblyLoader/InteractiveAssemblyLoader.cs
  src/Scripting/Core/Microsoft.CodeAnalysis.Scripting.csproj
  src/Scripting/Core/Utilities/PdbHelpers.cs
Labels: Area-Interactive, untriaged

#74542 Rerun generators when an additional file is saved.
  src/VisualStudio/Core/Def/ProjectSystem/IOpenTextBufferEventListener.cs
  src/VisualStudio/Core/Def/ProjectSystem/MiscellaneousFilesWorkspace.cs
  src/VisualStudio/Core/Def/ProjectSystem/OpenTextBufferProvider.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl_SourceGenerators.cs
  src/VisualStudio/Core/Def/Workspace/SourceGeneratedFileManager.cs
  src/VisualStudio/LiveShare/Impl/Client/RemoteLanguageServiceWorkspace.cs
Labels: Area-IDE, untriaged

#74551 Move IDS_FeatureRefStructInterfaces to C# 13
  src/Compilers/CSharp/Portable/Errors/MessageID.cs
  src/Compilers/CSharp/Test/Emit3/RefStructInterfacesTests.cs
Labels: Area-Compilers, untriaged, New Feature - RefStructInterfaces

#74549 Set FlagNetStandard1XDependencies=true
  eng/Versions.props
Labels: Area-Infrastructure, Community, untriaged

#74554 Feedback from 'source gen save' pr
  src/EditorFeatures/Core/Extensibility/Commands/PredefinedCommandHandlerNames.cs
  src/VisualStudio/Core/Def/ServicesVSResources.resx
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.cs.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.de.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.es.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.fr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.it.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ja.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ko.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pl.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.ru.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.tr.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/ServicesVSResources.zh-Hant.xlf
Labels: Area-IDE, untriaged

#74268 Merge changes from a single DidChange notification
  src/LanguageServer/Protocol/Extensions/Extensions.cs
  src/LanguageServer/Protocol/Handler/DocumentChanges/DidChangeHandler.cs
  src/LanguageServer/ProtocolUnitTests/DocumentChanges/DocumentChangesTests.cs
Labels: Area-Infrastructure, untriaged

#74507 Don't try and add the result diagnostics if they are default or empty
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.RegularCompilationTracker.cs
Labels: Area-IDE, untriaged

#74489 Update SystemTextJsonVersion to 8.0.4
  eng/Versions.props
Labels: Area-Infrastructure, untriaged

#74508 Instance extensions: prevent user's code from changing value of receiver when it has reference type and is passed by reference.
  src/Compilers/CSharp/Portable/Lowering/InstanceExtensionMethodReferenceRewriter.cs
  src/Compilers/CSharp/Test/Emit3/ExtensionTypeTests.cs
Labels: Area-Compilers, untriaged, New Language Feature - Roles

#74558 Don't bring up completion when deleting in an xml doc comment's text
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/AbstractCSharpCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/CrefCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/LoadDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/OverrideCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ReferenceDirectiveCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests_NoInteractive.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/XmlDocumentationCommentCompletionProviderTests.cs
  src/EditorFeatures/TestUtilities/Completion/AbstractCompletionProviderTests.cs
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/AbstractVisualBasicCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/ObjectInitializerCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/OverrideCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/SymbolCompletionProviderTests.vb
  src/EditorFeatures/VisualBasicTest/Completion/CompletionProviders/XmlDocCommentCompletionProviderTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/XmlDocCommentCompletionProvider.cs
  src/Features/VisualBasic/Portable/Completion/CompletionProviders/XmlDocCommentCompletionProvider.vb
Labels: Area-IDE, untriaged

#74563 Remove a closure allocation from WrappedNavigationBarItem.ctor
  src/EditorFeatures/Core/Extensibility/NavigationBar/WrappedNavigationBarItem.cs
Labels: Area-IDE, untriaged

#74559 DocumentState constructors refactoring
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/VisualStudio/Core/Test/Venus/DocumentServiceTests.vb
  src/Workspaces/Core/Portable/Workspace/Host/DocumentService/Extensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/AdditionalDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/AnalyzerConfigDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/DocumentState_LinkedFileReuse.cs
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocument.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/TextDocumentState_Checksum.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
Labels: Area-IDE, untriaged

#74561 Eliminate contentChanged parameter
  src/Workspaces/Core/Portable/Workspace/Solution/ProjectState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
Labels: Area-IDE, untriaged

#74495 Do not parse methods with accessibility modifiers as local functions (alt)
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Syntax/InternalSyntax/TypeDeclarationSyntax.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/AsyncParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/MemberDeclarationParsingTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParserErrorMessageTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/ParsingErrorRecoveryTests.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/StatementParsingTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartIndenterTests.cs
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharpTest/ExtractClass/ExtractClassTests.cs
Labels: Area-Compilers, untriaged

#74570 Fix dll load issue when loading Razor projects in VSCode
  eng/Directory.Packages.props
Labels: Area-Infrastructure, untriaged

#74566 Fix race condition in LSP FindAllReferences when linked files were involved.
  src/LanguageServer/Protocol/Handler/References/FindUsagesLSPContext.cs
  src/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerFeaturesTests.cs
Labels: Area-Infrastructure, untriaged

#74560 Cherry-pick #74507
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.CompilationTracker.cs
Labels: Area-IDE, untriaged

#74536 Make it possible to build/run tests on linux-arm64
  eng/Directory.Packages.props
  eng/targets/ILAsm.targets
  eng/targets/ILDAsm.targets
  src/Compilers/Test/Core/Metadata/IlasmUtilities.cs
  src/Tools/BuildValidator/BuildValidator.csproj
  src/Tools/BuildValidator/IldasmUtilities.cs
  src/Tools/Source/RunTests/Options.cs
  src/Tools/Source/RunTests/RunTests.csproj
Labels: Area-Infrastructure, Community, untriaged

#74548 Expose inlay hints to Razor cohosting
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintHandler.cs
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintResolveHandler.cs
  src/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
  src/Tools/ExternalAccess/Razor/Cohost/Handlers/InlayHints.cs
  src/Tools/ExternalAccess/Razor/Microsoft.CodeAnalysis.ExternalAccess.Razor.csproj
Labels: Area-IDE, untriaged

#74470 Address issues with VSIX item publishing projects and FUTDC
  eng/targets/VisualStudio.targets
  src/Features/CSharpTest/Microsoft.CodeAnalysis.CSharp.Features.UnitTests.csproj
  src/Interactive/HostProcess/x64/InteractiveHost64.csproj
  src/Interactive/HostProcess/x86/InteractiveHost32.csproj
  src/Interactive/HostTest/InteractiveHost.UnitTests.csproj
  src/Tools/SemanticSearch/ReferenceAssemblies/SemanticSearch.ReferenceAssemblies.csproj
  src/VisualStudio/Setup.ServiceHub/arm64/Roslyn.VisualStudio.ServiceHub.Setup.arm64.csproj
  src/VisualStudio/Setup.ServiceHub/x64/Roslyn.VisualStudio.ServiceHub.Setup.x64.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
Labels: Area-Interactive, untriaged
