Repository dotnet/roslyn, pull requests merged in 2025-09, with the labels that each got.

#80102 Allow Razor to get task list items for a document
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/TaskListDiagnosticSource.cs
  src/Tools/ExternalAccess/Razor/Features/Cohost/Handlers/Diagnostics.cs
Labels: Area-IDE, VSCode

#80117 Fix issue with removing necessary span cast
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/RoslynAnalyzers/Utilities/Compiler/Analyzer.Utilities.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
Labels: Area-IDE, VSCode

#80124 Improve the logging error handling in our ServiceHub MEF creation
  src/Deployment/Properties/launchSettings.json
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServerExportProviderBuilder.cs
  src/VisualStudio/Core/Def/ErrorReporting/VisualStudioErrorReportingService.cs
  src/Workspaces/Remote/Core/ExportProviderBuilder.cs
  src/Workspaces/Remote/ServiceHub/Host/RemoteExportProviderBuilder.cs
  src/Workspaces/Remote/ServiceHub/Services/Initialization/RemoteInitializationService.cs
Labels: Area-IDE, VSCode

#80026 Use apphost for core compiler
  azure-pipelines.yml
  eng/build.sh
  src/Compilers/CSharp/csc/AnyCpu/csc.csproj
  src/Compilers/Core/MSBuildTask/InteractiveCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedCompiler.cs
  src/Compilers/Core/MSBuildTask/ManagedToolTask.cs
  src/Compilers/Core/MSBuildTaskTests/CscTests.cs
  src/Compilers/Core/MSBuildTaskTests/IntegrationTests.cs
  src/Compilers/Core/MSBuildTaskTests/MSBuildManagedToolTests.cs
  src/Compilers/Core/MSBuildTaskTests/Microsoft.Build.Tasks.CodeAnalysis.UnitTests.csproj
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/IntegrationTestBase.cs
  src/Compilers/Core/MSBuildTaskTests/TestUtilities/TaskTestUtil.cs
  src/Compilers/Core/Portable/InternalUtilities/PlatformInformation.cs
  src/Compilers/Core/SdkTaskTests/Microsoft.Build.Tasks.CodeAnalysis.Sdk.UnitTests.csproj
  src/Compilers/Core/SdkTaskTests/SdkManagedToolTests.cs
  src/Compilers/Server/VBCSCompiler/AnyCpu/VBCSCompiler.csproj
  src/Compilers/Server/VBCSCompilerTests/CompilerServerApiTest.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/RuntimeHostInfo.cs
  src/Compilers/VisualBasic/vbc/AnyCpu/vbc.csproj
  src/NuGet/Microsoft.Net.Compilers.Toolset/CoreClrCompilerArtifacts.targets
  src/Tools/PrepareTests/MinimizeUtil.cs
Labels: Area-Compilers

#80116 Avoid localizing parameter name
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
Labels: Area-Compilers, Community

#80154 Disable tiered compilation in the compiler
  src/Compilers/CSharp/csc/AnyCpu/csc.csproj
  src/Compilers/Server/VBCSCompiler/AnyCpu/VBCSCompiler.csproj
  src/Compilers/VisualBasic/vbc/AnyCpu/vbc.csproj
Labels: Area-Compilers

#80064 Store client's version for open docs in LSP
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/RequestExecutionQueue.cs
  src/LanguageServer/Protocol.TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/LanguageServer/Protocol/Handler/DocumentChanges/DidChangeHandler.cs
  src/LanguageServer/Protocol/Handler/DocumentChanges/DidOpenHandler.cs
  src/LanguageServer/Protocol/Handler/IDocumentChangeTracker.cs
  src/LanguageServer/Protocol/Handler/RequestContext.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/LanguageServer/Protocol/Workspaces/TrackedDocumentInfo.cs
  src/LanguageServer/ProtocolUnitTests/DocumentChanges/DocumentChangesTests.cs
Labels: Area-IDE, VSCode

#80114 Extensions: allow more CREFs
  src/Compilers/CSharp/Portable/Binder/Binder_Crefs.cs
  src/Compilers/CSharp/Portable/Binder/WithCrefTypeParametersBinder.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers, Feature - Extension Everything

#80137 IDE0071 should suggest removing ToString on {ReadOnly}Span<char> for .NET 6+
  src/Analyzers/CSharp/Tests/SimplifyInterpolation/SimplifyInterpolationTests.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationHelpers.cs
  src/Analyzers/Core/CodeFixes/SimplifyInterpolation/AbstractSimplifyInterpolationCodeFixProvider.cs
Labels: Area-IDE, Community, VSCode

#80186 FailFast if the MEF composition is clearly broken
  src/Workspaces/Remote/Core/ExportProviderBuilder.cs
Labels: Area-IDE, VSCode

#80158 Reference specific MS.Build.Tasks.Core version
  src/RoslynAnalyzers/NuGet/Microsoft.CodeAnalysis.Metrics/Microsoft.CodeAnalysis.Metrics.Package.csproj
  src/RoslynAnalyzers/Tools/Metrics.Legacy/Metrics.Legacy.csproj
  src/RoslynAnalyzers/Tools/Metrics/Metrics.csproj
Labels: Area-Infrastructure

#80177 Remove 'filters' from IDiagService and make it a pure data api.
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.FixAllDiagnosticProvider.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ForceCodeAnalysisDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ProduceProjectDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_RemoteOrLocalDispatcher.cs
  src/LanguageServer/Protocol.TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSourceProviders/WorkspaceDocumentsAndProjectDiagnosticSourceProvider.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractProjectDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractWorkspaceDocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/NonLocalDocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicDocumentNonLocalDiagnosticSourceProvider.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioSuppressionFixService.cs
  src/VisualStudio/Core/Test/Venus/DocumentService_IntegrationTests.vb
  src/Workspaces/Core/Portable/Diagnostics/AnalyzerFilter.cs
  src/Workspaces/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-IDE, VSCode

#80187 Targeting IFormattable builds a FormattableString too
  src/Analyzers/CSharp/Tests/SimplifyInterpolation/SimplifyInterpolationTests.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Compilation/CompilationExtensions.cs
Labels: Area-IDE, Community, VSCode

#80185 Reduce allocations in InlineHintHelpers.GetDescriptionAsync
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
  src/Features/Core/Portable/InlineHints/AbstractInlineTypeHintsService.cs
  src/Features/Core/Portable/InlineHints/InlineHintHelpers.cs
Labels: Area-IDE, VSCode

#80191 Make diagnostic id filtering into pure data
  src/Analyzers/Core/Analyzers/IDEDiagnosticIdToOptionMappingHelper.cs
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.FixAllDiagnosticProvider.cs
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticIdFilter.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_GetDiagnosticsForSpan.cs
  src/LanguageServer/Protocol/Features/CodeCleanup/AbstractCodeCleanupService.cs
Labels: Area-IDE, VSCode

#80195 Avoid loading MEF caches that are clearly bad
  src/Workspaces/Remote/Core/ExportProviderBuilder.cs
Labels: VSCode

#80208 Rename some internal CodeFix/CodeRefactoring symbols for clarity
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.TestFixers.cs
  src/EditorFeatures/Core/Suggestions/Copilot/FlavoredSuggestedAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActionWithNestedActions.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActionWithNestedFlavors.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/AbstractFixAllSuggestedAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/CodeFixSuggestedAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/FixAllCodeFixSuggestedAction.FixAllCodeAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/FixAllCodeFixSuggestedAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/FixAllCodeRefactoringSuggestedAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/SuggestedAction.cs
  src/EditorFeatures/VisualBasicTest/Formatting/CodeCleanUpTests.vb
  src/Features/Core/Portable/CodeFixes/FixAllOccurrences/AbstractFixAllCodeFixCodeAction.cs
  src/Features/Core/Portable/CodeFixes/FixAllOccurrences/FixMultipleCodeAction.cs
  src/Features/Core/Portable/CodeFixesAndRefactorings/AbstractFixAllCodeAction.cs
  src/Features/Core/Portable/CodeFixesAndRefactorings/AbstractFixAllGetFixesService.cs
  src/Features/Core/Portable/CodeFixesAndRefactorings/IFixAllGetFixesService.cs
  src/Features/Core/Portable/CodeRefactorings/FixAllOccurences/FixAllCodeRefactoringCodeAction.cs
  src/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActions/IFixAllCodeFixSuggestedAction.cs
  src/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActions/IFixAllCodeRefactoringSuggestedAction.cs
  src/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedFixAllCodeFixSuggestedAction.cs
  src/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActions/UnifiedFixAllCodeRefactoringSuggestedAction.cs
  src/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/LanguageServer/Protocol/Handler/CodeActions/FixAllCodeAction.cs
  src/Workspaces/Core/Portable/CodeFixes/CodeFixProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/CommonFixAllState.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/DefaultFixAllProviderHelpers.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/DocumentBasedFixAllProviderHelpers.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/FixAllLogger.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/FixAllProviderInfo.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/IRefactorOrFixAllContext.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/IRefactorOrFixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/IRefactorOrFixAllState.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/IRefactorOrFixProvider.cs
  src/Workspaces/Core/Portable/CodeRefactorings/CodeRefactoringProvider.cs
  src/Workspaces/Core/Portable/CodeRefactorings/FixAllOccurences/RefactorAllContext.cs
  src/Workspaces/Core/Portable/CodeRefactorings/FixAllOccurences/RefactorAllProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/SyntaxEditorBasedCodeFixProvider.cs
Labels: Area-IDE, Needs API Review, VSCode

#80194 Remove in-memory callbacks controlling deprioritization of diagnostic analyzers.
  src/EditorFeatures/Core/Suggestions/SuggestedActionPriorityProvider.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActionsSource_Async.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test2/CodeFixes/CodeFixServiceTests.vb
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.FixAllDiagnosticProvider.cs
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.cs
  src/Features/Core/Portable/CodeFixes/Service/ICodeFixService.cs
  src/Features/Core/Portable/CodeFixesAndRefactorings/CodeActionRequestPriorityProvider.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.HostAnalyzerInfo.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.ProjectStates.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_CompilationWithAnalyzersPair.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_DeprioritizationCandidates.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ForceCodeAnalysisDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ProduceProjectDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_RemoteOrLocalDispatcher.cs
  src/LanguageServer/Protocol/Features/CodeCleanup/AbstractCodeCleanupService.cs
  src/LanguageServer/Protocol/Features/UnifiedSuggestions/UnifiedSuggestedActionsSource.cs
  src/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticIdFilter.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticKind.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-IDE, VSCode

#80220 Fix broken link for C# 14 lambda parameter modifiers
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
Labels: Area-Compilers, Community

#80222 add flags to unblock CI
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#80219 Switch from windows combobox to visualstudio combobox
  eng/Directory.Packages.props
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/Microsoft.VisualStudio.LanguageServices.New.IntegrationTests.csproj
Labels: Area-Infrastructure

#80264 Rename SuggestedAction types.
  src/EditorFeatures/CSharpTest/CodeActions/PreviewExceptionTests.cs
  src/EditorFeatures/Core/Suggestions/PreviewChanges/PreviewChangesCodeAction.cs
  src/EditorFeatures/Core/Suggestions/RefineUsingCopilot/RefineUsingCopilotCodeAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/EditorSuggestedAction.CaretPositionRestorer.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/EditorSuggestedAction.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/EditorSuggestedActionForRefactorOrFixAll.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/EditorSuggestedActionWithNestedActions.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActions/EditorSuggestedActionWithNestedFlavors.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActionsSource_Async.cs
  src/LanguageServer/Protocol/Features/Suggestions/SuggestedAction.cs
  src/LanguageServer/Protocol/Features/Suggestions/SuggestedActionFlavors.cs
  src/LanguageServer/Protocol/Features/Suggestions/SuggestedActionSet.cs
  src/LanguageServer/Protocol/Features/Suggestions/UnifiedPredefinedSuggestedActionCategoryNames.cs
  src/LanguageServer/Protocol/Features/Suggestions/UnifiedSuggestedActionSetComparer.cs
  src/LanguageServer/Protocol/Features/Suggestions/UnifiedSuggestedActionsSource.cs
  src/LanguageServer/Protocol/Handler/CodeActions/CodeActionHelpers.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorInProcess.cs
Labels: Area-IDE, VSCode

#79115 Better error recovery for incomplete local declarations
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/DeclarationParsingTests_MissingIdentifiers.cs
Labels: Area-Compilers

#80262 Restore SemanticModel behavior for invocations of not invocable targets
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/SemanticModelGetSemanticInfoTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#80249 Address missed feedback on SyntaxGenerator
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
Labels: Area-IDE, VSCode

#80268 Move extensions to where they are actually called
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_CoreAnalyze.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Labels: Area-Analyzers, VSCode

#80280 Track proposal id in copilot adjustment requests
  src/EditorFeatures/Core/Copilot/RoslynProposalAdjusterProvider.cs
Labels: Area-IDE

#80141 Remove CompilationPair abstraction in diagnostic analyzer subsystem
  src/EditorFeatures/CSharpTest/Formatting/CodeCleanupTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_CompilationWithAnalyzersPair.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ComputeDiagnosticAnalysisResults.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_CoreAnalyze.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_DeprioritizationCandidates.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_GetDiagnosticsForSpan.cs
  src/Features/Core/Portable/Diagnostics/Service/DocumentAnalysisExecutor.cs
  src/VisualStudio/Core/Test.Next/Services/VisualStudioDiagnosticAnalyzerExecutorTests.cs
  src/Workspaces/Core/Portable/Diagnostics/AnalysisResultPair.cs
  src/Workspaces/Core/Portable/Diagnostics/CompilationWithAnalyzersPair.cs
  src/Workspaces/Core/Portable/Diagnostics/DocumentAnalysisScope.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Labels: Area-Analyzers, Needs API Review, VSCode

#80299 Update the solution-explorer symbol-tree dropdown when a document has been explicitly opened.
  src/VisualStudio/Core/Impl/SolutionExplorer/SymbolTree/RootSymbolTreeItemCollectionSource.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SymbolTree/RootSymbolTreeItemSourceProvider.cs
Labels: Area-IDE

#80286 Delete old workaround that's now obsolete
  eng/targets/VisualStudio.FastUpToDateCheckWorkarounds.targets
Labels: Area-Infrastructure

#80287 Reduce allocations in XmlDocumentationProvider.GetDocumentationForSymbol
  src/Workspaces/Core/Portable/Utilities/Documentation/XmlDocumentationProvider.cs
Labels: Area-IDE, VSCode

#80125 Report error when MetadataUpdateDeletedAttribute is applied manually
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol_Attributes.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/VisualBasic/Portable/Errors/ErrorFacts.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Symbols/Symbol_Attributes.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Emit/Attributes/AttributeTests.vb
Labels: Area-Compilers

#80309 Rename unified settings from "textEditor" to "language"
  src/VisualStudio/CSharp/Impl/PackageRegistration.pkgdef
  src/VisualStudio/CSharp/Impl/UnifiedSettings/csharpSettings.registration.json
  src/VisualStudio/Core/Test.Next/UnifiedSettings/UnifiedSettingsTests.cs
  src/VisualStudio/VisualBasic/Impl/PackageRegistration.pkgdef
  src/VisualStudio/VisualBasic/Impl/UnifiedSettings/visualBasicSettings.registration.json
Labels: Area-IDE

#80318 Add test for no Razor diags in FSA
  src/LanguageServer/ProtocolUnitTests/Diagnostics/WorkspaceProjectDiagnosticsTests.cs
Labels: Area-IDE, VSCode

#80164 Extensions: DocumentationCommentId and ExtensionGroupingName/ExtensionMarkerName APIs, update grouping type metadata name
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/DocumentationComments/DocumentationCommentIDVisitor.PartVisitor.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplay.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/PublicSymbols/AnonymousManager.TypeOrDelegatePublicSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/SynthesizedSymbols/AnonymousType.TypeOrDelegateTemplateSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/DynamicTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ErrorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/NativeIntegerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/NamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/PublicModel/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Retargeting/RetargetingNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ExtensionGroupingInfo.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ImplicitNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/ReadOnlyListType/SynthesizedReadOnlyListEnumeratorTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/ReadOnlyListType/SynthesizedReadOnlyListTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedAttributeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedHotReloadExceptionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedInlineArrayTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedPrivateImplementationDetailsType.cs
  src/Compilers/CSharp/Portable/Symbols/TypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MockNamedTypeSymbol.cs
  src/Compilers/Core/Portable/DocumentationCommentId.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/INamedTypeSymbol.cs
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplay.vb
  src/Compilers/VisualBasic/Portable/SymbolDisplay/SymbolDisplayVisitor.Types.vb
  src/Compilers/VisualBasic/Portable/Symbols/NamedTypeSymbol.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolDisplay/SymbolDisplayTests.vb
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EENamedTypeSymbol.cs
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedNamedTypeSymbol.cs
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.txt
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeGeneration/Symbols/CodeGenerationAbstractNamedTypeSymbol.cs
Labels: Area-Compilers, Feature - Extension Everything, Needs API Review, VSCode

#80292 Reduce allocations in SourceGeneratedDocumentIdentity.Generate
  src/Workspaces/Core/Portable/Workspace/Solution/Checksum_Factory.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratedDocumentIdentity.cs
  src/Workspaces/CoreTest/ChecksumTests.cs
Labels: Area-IDE, VSCode

#80324 Improve virtualproject support for older .NET SDKs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/VirtualProjectXmlProvider.cs
Labels: Area-IDE, VSCode

#79880 Propagate `params` to lambdas and local functions
  docs/compilers/CSharp/Compiler Breaking Changes - DotNet 10.md
  src/Compilers/CSharp/Portable/BoundTree/UnboundLambda.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/SynthesizedMethodBaseSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/LocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ParameterHelpers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceConstructorSymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceDelegateMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ParamsCollectionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
  src/Compilers/Test/Utilities/CSharp/TestSources.cs
Labels: Area-Compilers, breaking-change

#80341 Only restore based on assets file changes if the actual content changed
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
Labels: Area-IDE, VSCode

#80357 Remove bogus xlf tag
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
Labels: Area-Compilers

#80350 Use recursive patterns
  src/Analyzers/CSharp/Analyzers/ConvertSwitchStatementToExpression/ConvertSwitchStatementToExpressionDiagnosticAnalyzer.Analyzer.cs
  src/Analyzers/CSharp/Analyzers/ConvertTypeofToNameof/CSharpConvertTypeOfToNameOfDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/MakeStructMemberReadOnly/CSharpMakeStructMemberReadOnlyAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryDiscardDesignation/CSharpRemoveUnnecessaryDiscardDesignationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryLambdaExpression/CSharpRemoveUnnecessaryLambdaExpressionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryParentheses/CSharpRemoveUnnecessaryExpressionParenthesesDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/UseCollectionExpressionHelpers.cs
  src/Analyzers/CSharp/Analyzers/UseCompoundAssignment/CSharpUseCompoundCoalesceAssignmentDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseDeconstruction/CSharpUseDeconstructionDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/Helpers/UseExpressionBodyForLocalFunctionHelper.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/Helpers/UseExpressionBodyForMethodsHelper.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/Helpers.cs
  src/Analyzers/CSharp/Analyzers/UseIsNullCheck/CSharpUseIsNullCheckForCastAndEqualityOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseLocalFunction/CSharpUseLocalFunctionDiagnosticAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ArgumentSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/AttributeArgumentSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ConversionExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ExpressionSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SemanticModelExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/SyntaxNodeExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Engine/Trivia/TriviaDataFactory.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/FormattingHelpers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/ElasticTriviaFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/IndentBlockFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SpacingFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/WrappingFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/NameSyntaxComparer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/SpeculationAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseExplicitTypeHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseImplicitTypeHelper.cs
Labels: Area-IDE, VSCode

#80297 Extensions: fix GetDocumentationCommentXml with netmodule
  src/Compilers/CSharp/Portable/Compiler/DocumentationCommentCompiler.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#80365 Unskip tests that are working again
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpGoToImplementation.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpWinForms.cs
Labels: Area-IDE

#80363 Fix CSharpReplIdeFeatures failing integration tests
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpReplIdeFeatures.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ShellInProcess.cs
Labels: Area-IDE

#80360 Fix handling edits in types nested in reloadable types
  src/Features/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Features/VisualBasicTest/EditAndContinue/TopLevelEditingTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Symbols/INamedTypeSymbolExtensions.cs
Labels: Area-Interactive, VSCode

#80378 Fix a replay bug
  src/Tools/Replay/Replay.cs
Labels: Area-IDE

#80379 Propagate CompilerLoweringPreserve marked attributes in more scenarios involving async local functions.
  src/Compilers/CSharp/Portable/Lowering/StateMachineRewriter/StateMachineFieldSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IteratorTests.cs
Labels: Area-Compilers

#80337 Block spreads in exception filters
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/CodeGen/EmitStatement.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTests.cs
Labels: Area-Compilers, Feature - Collection Expressions

#80380 Update configs for 18.0.P2 snap
  eng/Versions.props
  eng/config/PublishData.json
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.sarif
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers.sarif
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.sarif
  src/RoslynAnalyzers/PublicApiAnalyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.sarif
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Roslyn.Diagnostics.Analyzers.sarif
  src/RoslynAnalyzers/Text.Analyzers/Text.Analyzers.sarif
Labels: Area-Infrastructure

#80443 Create proper syntax kind for enums passed as attribute arguments
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeGeneration/AbstractFlagsEnumGenerator.cs
Labels: Area-IDE, VSCode

#80433 Fix check for extension params parameter in nullable analysis
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers

#80447 Fix formatting on semicolon
  src/EditorFeatures/CSharp/AutomaticCompletion/AutomaticLineEnderCommandHandler.cs
  src/EditorFeatures/CSharpTest/Formatting/FormattingEngineTests.cs
  src/EditorFeatures/CSharpTest/Formatting/Indentation/SmartTokenFormatterFormatRangeTests.cs
  src/LanguageServer/Protocol/Handler/Formatting/FormatDocumentOnTypeHandler.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/FormattingRangeHelper.cs
Labels: Area-IDE, VSCode

#80393 Make syntax diagnostic offsets relative to the *Start* of a node/token instead of relative to the *FullStart*
  src/Compilers/CSharp/Portable/Errors/SyntaxDiagnosticInfo.cs
  src/Compilers/CSharp/Portable/Parser/AbstractLexer.cs
  src/Compilers/CSharp/Portable/Parser/DirectiveParser.cs
  src/Compilers/CSharp/Portable/Parser/DocumentationCommentParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser_InterpolatedString.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxTreeDiagnosticEnumerator.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/CrefTests.cs
  src/Compilers/CSharp/Test/Symbol/DocumentationComments/ParameterTests.cs
  src/Compilers/Core/Portable/Syntax/InternalSyntax/SyntaxListBuilder.cs
Labels: Area-Compilers

#80423 Extensions: AssociatedExtensionImplementation on constructed symbols
  src/Compilers/CSharp/Portable/Symbols/PublicModel/MethodSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Workspaces/Core/Portable/Editing/SyntaxGenerator.cs
Labels: Area-Compilers, Feature - Extension Everything, VSCode

#80490 Improve diagnostic location for top-level-program with a reachable end
  src/Compilers/CSharp/Portable/FlowAnalysis/FlowAnalysisPass.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
Labels: Area-Compilers

#80464 Handle some scenarios where attributes applied in local functions or lambdas within extension blocks were missing in metadata
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/LambdaCapturedVariable.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/RewrittenLambdaOrLocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/RewrittenMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenMethodGroupConversionCachingTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DynamicTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IteratorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/LocalFunctionTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#80457 Extension block members do not have `this` parameter
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodBodySynthesizer.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/RuntimeAsyncRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EECompilationContextMethod.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EEMethodSymbol.cs
Labels: Area-Compilers, Feature - Extension Everything

#80394 Final mop-up for the diagnostic offset fixing and cleaning pass.
  src/Compilers/CSharp/Portable/Parser/DocumentationCommentParser.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Parser/SyntaxParser.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxTreeDiagnosticEnumerator.cs
Labels: Area-Compilers

#80478 Update TPN with CG generated notices
  THIRD-PARTY-NOTICES.txt
Labels: Area-IDE
