Repository dotnet/roslyn, pull requests merged in 2025-08, with the labels that each got.

#79736 Move fix all helpers to shared location so that CodeStyle can reference them
  src/Workspaces/Core/Portable/Shared/Extensions/ISolutionExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/FixAllContextHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ISolutionExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
Labels: Area-IDE, VSCode

#79737 Move 'use auto prop' to code style layer.
  src/Analyzers/CSharp/CodeFixes/CSharpCodeFixes.projitems
  src/Analyzers/CSharp/CodeFixes/ImplementInterface/CSharpImplementInterfaceService.cs
  src/Analyzers/CSharp/CodeFixes/UseAutoProperty/CSharpUseAutoPropertyCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseAutoProperty/SingleLinePropertyFormattingRule.cs
  src/Analyzers/CSharp/CodeFixes/UseAutoProperty/UseAutoPropertyRewriter.cs
  src/Analyzers/CSharp/CodeFixes/UseCollectionExpression/CSharpUseCollectionExpressionForFluentCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseAutoProperty/UseAutoPropertyTests.cs
  src/Analyzers/Core/CodeFixes/CodeFixes.projitems
  src/Analyzers/Core/CodeFixes/Formatting/FormattingCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/AbstractImplementInterfaceService.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_DisposePattern.cs
  src/Analyzers/Core/CodeFixes/RemoveUnusedParametersAndValues/AbstractRemoveUnusedValuesCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseAutoProperty/AbstractUseAutoPropertyCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseAutoProperty/UseAutoPropertyFixAllProvider.cs
  src/Analyzers/Core/CodeFixes/UseConditionalExpression/AbstractUseConditionalExpressionCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UseObjectInitializer/AbstractUseObjectInitializerCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/ImplementInterface/VisualBasicImplementInterfaceService.vb
  src/Analyzers/VisualBasic/CodeFixes/UseAutoProperty/VisualBasicUseAutoPropertyCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/VisualBasicCodeFixes.projitems
  src/Analyzers/VisualBasic/Tests/UseAutoProperty/UseAutoPropertyTests.vb
  src/EditorFeatures/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest_NoEditor.cs
  src/Workspaces/CSharp/Portable/Microsoft.CodeAnalysis.CSharp.Workspaces.csproj
  src/Workspaces/Core/Portable/CodeActions/CodeAction_Cleanup.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/Core/Portable/Formatting/Formatter.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SymbolUsageInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CSharpWorkspaceExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/CodeFixesAndRefactorings/CSharpFixAllSpanMappingService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Formatting/CSharpSyntaxFormattingService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Formatting/TypingFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpRemoveUnnecessaryImportsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeCleanup/CodeCleanupHelpers.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/FixAllContextHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixesAndRefactorings/AbstractFixAllSpanMappingService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixesAndRefactorings/IFixAllSpanMappingService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Formatting/FormatterShared.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Formatting/SyntaxFormattingOptionsProviders.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/WorkspaceExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/CodeFixesAndRefactorings/VisualBasicFixAllSpanMappingService.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Formatting/VisualBasicSyntaxFormattingService.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/VisualBasicWorkspaceExtensions.projitems
Labels: Area-IDE, VSCode

#79673 Add Copilot semantic search
  eng/Directory.Packages.props
  src/Features/ExternalAccess/Copilot/Microsoft.CodeAnalysis.ExternalAccess.Copilot.csproj
  src/NuGet/VS.ExternalAPIs.Roslyn.Package/VS.ExternalAPIs.Roslyn.Package.csproj
  src/VisualStudio/Setup/Roslyn.VisualStudio.Setup.csproj
  src/VisualStudio/Setup/source.extension.vsixmanifest
  src/Workspaces/Remote/Core/ExportProviderBuilder.cs
  src/Workspaces/Remote/ServiceHub.CoreComponents/CoreComponents.Shared.targets
  src/Workspaces/Remote/ServiceHub/Host/RemoteExportProviderBuilder.cs
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
Labels: Area-IDE, VSCode

#79742 Semantic search updates
  Roslyn.sln
  src/Features/Core/Portable/SemanticSearch/IRemoteSemanticSearchService.cs
  src/Features/Core/Portable/SemanticSearch/ISemanticSearchQueryService.cs
  src/Features/Core/Portable/SemanticSearch/ISemanticSearchResultsObserver.cs
  src/Features/Core/Portable/SemanticSearch/QueryExecutionOptions.cs
  src/Features/ExternalAccess/Copilot/Internal/SemanticSearch/CopilotSemanticSearchQueryExecutor.cs
  src/Features/ExternalAccess/Copilot/Internal/SemanticSearch/CopilotSemanticSearchQueryService.cs
  src/Features/ExternalAccess/Copilot/InternalAPI.Unshipped.txt
  src/Features/ExternalAccess/Copilot/SemanticSearch/ICopilotSemanticSearchQueryService.cs
  src/Tools/SemanticSearch/Extensions/Microsoft.CodeAnalysis.SemanticSearch.Extensions.csproj
  src/Tools/SemanticSearch/Extensions/ProjectModel.cs
  src/Tools/SemanticSearch/ReferenceAssemblies/SemanticSearch.ReferenceAssemblies.csproj
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchPresenterController.cs
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchQueryExecutor.cs
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchToolWindowImpl.cs
  src/Workspaces/Core/Portable/Microsoft.CodeAnalysis.Workspaces.csproj
  src/Workspaces/Remote/ServiceHub/Services/SemanticSearch/RemoteSemanticSearchService.cs
Labels: Area-IDE, VSCode

#79729 Introduce helper to ensure span mapping is consistent everywhere
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/Tools/ExternalAccess/Razor/Features/RazorSourceGeneratedDocumentSpanMappingServiceWrapper.cs
  src/VisualStudio/Core/Def/CodeLens/RemoteCodeLensReferencesService.cs
  src/VisualStudio/Core/Def/FindReferences/Entries/AbstractDocumentSpanEntry.cs
  src/VisualStudio/Core/Def/Workspace/VisualStudioDocumentNavigationService.cs
  src/Workspaces/Core/Portable/Workspace/Host/DocumentService/ISourceGeneratedDocumentSpanMappingService.cs
  src/Workspaces/Core/Portable/Workspace/Host/DocumentService/SpanMappingHelper.cs
Labels: Area-IDE, VSCode

#79388 Fixed irregular spacing between list items
  src/EditorFeatures/Test2/IntelliSense/IntellisenseQuickInfoBuilderTests_Lists.vb
  src/Features/Core/Portable/QuickInfo/Presentation/TaggedTextExtensions.cs
Labels: Area-IDE, VSCode

#79769 [Backport] Fix file-based programs getting stuck in the host workspace
  src/LanguageServer/Protocol/Extensions/Extensions.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/LanguageServer/ProtocolUnitTests/Miscellaneous/LspMiscellaneousFilesWorkspaceTests.cs
Labels: VSCode

#79771 Add a few tests to ensure Razor span mapping is hooked up
  src/LanguageServer/ProtocolUnitTests/Definitions/GoToDefinitionTests.cs
  src/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
  src/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/LanguageServer/ProtocolUnitTests/TestSourceGeneratedDocumentSpanMappingService.cs
Labels: Area-IDE, VSCode

#79578 Fix nameof no longer appear in call hierarchy
  src/VisualStudio/CSharp/Test/CallHierarchy/CSharpCallHierarchyTests.cs
  src/Workspaces/Core/Portable/FindSymbols/ReferenceLocationExtensions.cs
  src/Workspaces/CoreTest/FindReferencesTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SymbolUsageInfo.cs
Labels: Area-IDE, VSCode

#79494 Locate usable MSBuild when launching .NET Core BuildHost
  eng/Directory.Packages.props
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/Workspaces/MSBuild/BuildHost/BuildHost.cs
  src/Workspaces/MSBuild/BuildHost/Rpc/Contracts/IBuildHost.cs
  src/Workspaces/MSBuild/BuildHost/Rpc/Contracts/MSBuildLocation.cs
  src/Workspaces/MSBuild/BuildHost/Rpc/Contracts/MonoMSBuildDiscovery.cs
  src/Workspaces/MSBuild/Core/MSBuild/BuildHostProcessManager.cs
  src/Workspaces/MSBuild/Core/Rpc/RemoteBuildHost.cs
  src/Workspaces/MSBuild/Test/BuildHostProcessManagerTests.cs
Labels: Area-IDE, VSCode

#79795 Allow Razor to call into codelens
  src/LanguageServer/Protocol/Handler/CodeLens/CodeLensHandler.cs
  src/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandler.cs
  src/Tools/ExternalAccess/Razor/Features/Cohost/Handlers/CodeLens.cs
Labels: Area-IDE, VSCode

#79801 Simplify code that was always using a constant.
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.cs
Labels: Area-IDE

#79776 Remove lazy enumerables
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.cs
  src/Features/Core/Portable/CodeFixes/Service/ICodeFixService.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/FixAllProviderInfo.cs
Labels: Area-IDE, VSCode

#79827 Fix invalid link to Analyzer Configuration.md
  src/RoslynAnalyzers/PublicApiAnalyzers/PublicApiAnalyzers.Help.md
Labels: Area-Analyzers, Community

#79702 Extensions: check for collisions
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/ModuleCancellationInstrumenter.cs
  src/Compilers/CSharp/Portable/Symbols/FunctionPointers/FunctionPointerTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSignatureComparer.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ExtensionGroupingInfo.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolEqualityComparer.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeWithAnnotations.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests_Assembly.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/FunctionPointerTypeSymbolTests.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonAttributeDataComparer.cs
  src/Compilers/Core/Portable/Symbols/TypeCompareKind.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/CompilationContext.cs
Labels: Area-Compilers, Feature - Extension Everything

#79755 ExtensionGroupingInfo - reduce consumed memory and delay creation of Cci adapter instances until emit
  src/Compilers/CSharp/Portable/Symbols/Source/ExtensionGroupingInfo.cs
Labels: Area-Compilers, Feature - Extension Everything

#79838 Fix renaming of locals in source generated documents
  src/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/Workspaces/Core/Portable/Rename/RenameUtilities.cs
Labels: Area-IDE, VSCode

#79849 Do not use .GetHashCode in .Equals impl
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/Analyzer/AnalyzerSettingsProvider.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
Labels: Area-IDE, VSCode

#79829 Extensions: change naming convention and update attribute name
  src/Compilers/CSharp/Portable/Emitter/Model/PEAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/Compilation_WellKnownMembers.cs
  src/Compilers/CSharp/Portable/Symbols/EmbeddableAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEPropertySymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/FieldSymbolWithAttributesAndModifiers.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceEventSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceModuleSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodOrUserDefinedOperatorSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Symbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedEmbeddedExtensionMarkerNameAttributeSymbol.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IBinaryOperatorExpression.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_ICompoundAssignmentOperation.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IIncrementOrDecrementOperation.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IUnaryOperatorExpression.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/MissingSpecialMember.cs
  src/Compilers/Core/Portable/MetadataReader/PEModule.cs
  src/Compilers/Core/Portable/Symbols/Attributes/AttributeDescription.cs
  src/Compilers/Core/Portable/Symbols/WellKnownMemberNames.cs
  src/Compilers/Core/Portable/WellKnownMember.cs
  src/Compilers/Core/Portable/WellKnownMembers.cs
  src/Compilers/Core/Portable/WellKnownTypes.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
  src/Compilers/VisualBasic/Test/Symbol/SymbolDisplay/SymbolDisplayTests.vb
  src/Compilers/VisualBasic/Test/Symbol/SymbolsTests/WellKnownTypeValidationTests.vb
Labels: Area-Compilers, Feature - Extension Everything

#79669 Add waitForAsyncOperations LSP request
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectDependencyHelper.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectInitializationHandler.cs
  src/LanguageServer/Protocol/Handler/Testing/WaitForAsyncOperationsHandler.cs
Labels: Area-IDE, VSCode

#79297 Move to Resx MVP
  src/Analyzers/Core/Analyzers/IDEDiagnosticIds.cs
  src/Analyzers/Core/CodeFixes/PredefinedCodeFixProviderNames.cs
  src/EditorFeatures/Test/Diagnostics/IDEDiagnosticIDConfigurationTests.cs
  src/Features/CSharp/Portable/CSharpFeaturesResources.resx
  src/Features/CSharp/Portable/MoveToResx/CSharpMoveToResxCodeFixProvider.cs
  src/Features/CSharp/Portable/MoveToResx/CSharpMoveToResxDiagnosticAnalyzer.cs
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.cs.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.de.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.es.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.fr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.it.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ja.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ko.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pl.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.pt-BR.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.ru.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.tr.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hans.xlf
  src/Features/CSharp/Portable/xlf/CSharpFeaturesResources.zh-Hant.xlf
  src/Features/RulesMissingDocumentation.md
Labels: VSCode

#79821 Fix issue where analyzers are missing when computing diagnostics OOP
  src/Compilers/Test/Core/Diagnostics/CommonDiagnosticAnalyzers.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/DiagnosticComputer.cs
Labels: VSCode

#79808 Remove analyzer cache from public surface area
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/Analyzer/AnalyzerSettingsProvider.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/NamingStyles/NamingStyleSettingsProvider.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/SettingsProviderBase.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProvider.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/Whitespace/CSharpWhitespaceSettingsProvider.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/CodeStyle/CommonCodeStyleSettingsProvider.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/Whitespace/CommonWhitespaceSettingsProvider.cs
  src/VisualStudio/Core/Def/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/TaskList/ProjectExternalErrorReporter.cs
Labels: Area-IDE, VSCode

#79809 Update new IDiagnosticAnalyzerService methods to be async.
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/Analyzer/AnalyzerSettingsProvider.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/Analyzer/AnalyzerSettingsProviderFactory.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/Analyzer/AnalyzerSettingsWorkspaceServiceFactory.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/NamingStyles/NamingStyleSettingsProvider.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/NamingStyles/NamingStyleSettingsProviderFactory.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/NamingStyles/NamingStyleSettingsWorkspaceServiceFactory.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/SettingsProviderBase.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsLanguageServiceFactory.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProvider.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProviderFactory.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/Whitespace/CSharpWhitespaceSettingsLanguageServiceFactory.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/Whitespace/CSharpWhitespaceSettingsProvider.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/Whitespace/CSharpWhitespaceSettingsProviderFactory.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/CodeStyle/CommonCodeStyleSettingsProvider.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/CodeStyle/CommonCodeStyleSettingsProviderFactory.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/CodeStyle/CommonCodeStyleSettingsWorkspaceServiceFactory.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/Whitespace/CommonWhitespaceSettingsProvider.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/Whitespace/CommonWhitespaceSettingsProviderFactory.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/Whitespace/CommonWhitespaceSettingsWorkspaceServiceFactory.cs
  src/VisualStudio/Core/Def/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-IDE, VSCode

#79812 Compute diagnostic descriptor info in OOP process
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/Analyzer/AnalyzerSettingsProvider.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/NamingStyles/NamingStyleSettingsProvider.cs
  src/EditorFeatures/Core/EditorConfigSettings/DataProvider/SettingsProviderBase.cs
  src/Features/Core/Portable/Diagnostics/DiagnosticAnalyzerExtensions.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/CodeStyle/CSharpCodeStyleSettingsProvider.cs
  src/VisualStudio/CSharp/Impl/EditorConfigSettings/DataProvider/Whitespace/CSharpWhitespaceSettingsProvider.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/CodeStyle/CommonCodeStyleSettingsProvider.cs
  src/VisualStudio/Core/Def/EditorConfigSettings/DataProvider/Whitespace/CommonWhitespaceSettingsProvider.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/BaseDiagnosticAndGeneratorItemSource.cs
  src/Workspaces/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-IDE, VSCode

#79577 Allow using `/main` with top-level statements
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Semantic/Semantics/TopLevelStatementsTests.cs
Labels: Area-Compilers

#79741 Fix flow analysis of extern local functions
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Test/Emit3/FlowAnalysis/FlowTests.cs
  src/Compilers/CSharp/Test/Emit3/FlowAnalysis/LocalFunctions.cs
Labels: Area-Compilers

#79839 Disable incremental binary analysis to workaround duplicate VSSetup artifacts
  azure-pipelines-official.yml
Labels: Area-Infrastructure

#79772 Workaround VSCode's lack of support for case sorting in completion
  src/LanguageServer/Protocol/Handler/Completion/CompletionResolveHandler.cs
  src/LanguageServer/Protocol/Handler/Completion/CompletionResultFactory.cs
  src/LanguageServer/ProtocolUnitTests/Completion/CompletionFeaturesTests.cs
Labels: Area-IDE, VSCode

#79789 Reenable/Fix integration test reporting
  eng/Directory.Packages.props
  src/EditorFeatures/Core/LanguageServer/AlwaysActiveLanguageClientEventListener.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/EditorInProcess.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/Options/GlobalOptionsTest.cs
Labels: Area-IDE

#79876 Update package restore error message.
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/LanguageServer/Handler/Restore/RestoreHandler.cs
Labels: Area-Infrastructure, VSCode

#79877 Extensions: Address follow-ups related to collection expressions
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Symbols/Source/ExtensionGroupingInfo.cs
  src/Compilers/CSharp/Portable/Symbols/SymbolEqualityComparer.cs
  src/Compilers/CSharp/Portable/Symbols/TypeMap.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbolExtensions.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers, Feature - Extension Everything

#79869 Fix nullable annotations of `SymbolDisplay.FormatPrimitive`
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/SymbolDisplay/ObjectDisplay.cs
  src/Compilers/CSharp/Portable/SymbolDisplay/SymbolDisplay.cs
  src/Compilers/CSharp/Portable/Symbols/TypedConstantExtensions.cs
  src/Compilers/CSharp/Portable/Utilities/ValueSetFactory.CharTC.cs
Labels: Area-Compilers, Needs API Review

#79915 Reorder checks to report issue as early as possible
  src/VisualStudio/Core/Def/TaskList/ProjectExternalErrorReporter.cs
Labels: Area-IDE

#79947 Fix results streamed by ForAttributeWithMetadataName with multiple parts
  src/Compilers/CSharp/Portable/SourceGeneration/CSharpSyntaxHelper.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_FullyQualifiedName.cs
  src/Compilers/Core/Portable/SourceGeneration/ISyntaxHelper.cs
  src/Compilers/Core/Portable/SourceGeneration/Nodes/SyntaxValueProvider_ForAttributeWithMetadataName.cs
  src/Compilers/VisualBasic/Portable/SourceGeneration/VisualBasicSyntaxHelper.vb
  src/Compilers/VisualBasic/Test/Semantic/SourceGeneration/GeneratorDriverTests_Attributes_FullyQualifiedName.vb
Labels: Area-Compilers

#79950 Update yml files to use community branch
  .github/policies/resourceManagement.yml
  azure-pipelines-integration-dartlab.yml
  azure-pipelines-integration-lsp.yml
  azure-pipelines-integration-scouting.yml
  azure-pipelines-integration.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
Labels: Area-Infrastructure

#79878 Fix failing test case BindingAsyncTasklikeMoreTests.Dynamic on Mono
  src/Compilers/CSharp/Test/Semantic/Semantics/BindingAsyncTasklikeMoreTests.cs
Labels: Area-Compilers, Community

#79945 Add tests for field keyword semantic model and IOperation
  src/Compilers/CSharp/Test/Emit3/FieldKeywordTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IFieldReferenceExpression.cs
  src/Compilers/Test/Utilities/CSharp/CSharpTestBase.cs
Labels: Area-Compilers

#79971 Mark 'Use expr body' as a syntax-only fixer
  src/Analyzers/CSharp/CodeFixes/UseExpressionBody/UseExpressionBodyCodeFixProvider.cs
  src/Features/CSharp/Portable/UseExpressionBody/UseExpressionBodyCodeRefactoringProvider.cs
Labels: Area-IDE, VSCode

#79974 Update publishdata.json for release/dev18.0
  eng/config/PublishData.json
Labels: Area-Infrastructure

#79963 Delete unused property
  src/Workspaces/Core/Portable/Log/AbstractLogAggregator.cs
Labels: Area-IDE, VSCode

#79960 Add auto-generated to EmbeddedAttribute
  src/Compilers/CSharp/Portable/SourceGeneration/CSharpGeneratorDriver.cs
  src/Compilers/CSharp/Test/Semantic/SourceGeneration/GeneratorDriverTests.cs
Labels: Area-Compilers, Community

#79955 Modify Attribute_TypedParamsConstant_EnumArray_ConstructorArgument test to work on Mono
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenFunctionPointersTests.cs
Labels: Area-Compilers, Community

#79978 Only cache compilation if we have the same set of analyzers
  src/Features/Core/Portable/Diagnostics/Service/EngineV2/DiagnosticIncrementalAnalyzer.CompilationManager.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-Analyzers, VSCode

#79983 Immediately remote diagnostics call to OOP
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/Workspaces/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-Analyzers, VSCode

#79988 Emit telemetry 'durations' with known radix point '.'
  src/EditorFeatures/Core/Copilot/RoslynProposalAdjusterProvider.cs
  src/Features/Core/Portable/Copilot/CopilotChangeAnalysisUtilities.cs
Labels: Area-IDE, VSCode

#79837 EnC: Fix symbol mapping of delegates with indexed name
  src/Compilers/CSharp/Portable/Compilation/CSharpCompilation.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/CSharpSymbolMatcher.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/EmitHelpers.cs
  src/Compilers/CSharp/Portable/Emitter/EditAndContinue/PEDeltaAssemblyBuilder.cs
  src/Compilers/CSharp/Portable/Emitter/Model/PEModuleBuilder.cs
  src/Compilers/CSharp/Portable/Symbols/AnonymousTypes/AnonymousTypeManager.Templates.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueClosureTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/SymbolMatcherTests.cs
  src/Compilers/Core/Portable/Compilation/Compilation.cs
  src/Compilers/Core/Portable/Emit/CommonPEModuleBuilder.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/DeltaMetadataWriter.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/IPEDeltaAssemblyBuilder.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SymbolMatcher.cs
  src/Compilers/Core/Portable/Emit/EditAndContinue/SynthesizedTypeMaps.cs
  src/Compilers/Core/Portable/Symbols/AnonymousTypes/CommonAnonymousTypeManager.cs
  src/Compilers/Test/Core/Compilation/CompilationDifference.cs
  src/Compilers/Test/Core/Metadata/ILValidation.cs
  src/Compilers/VisualBasic/Portable/Compilation/VisualBasicCompilation.vb
  src/Compilers/VisualBasic/Portable/Emit/EditAndContinue/EmitHelpers.vb
  src/Compilers/VisualBasic/Portable/Emit/EditAndContinue/PEDeltaAssemblyBuilder.vb
  src/Compilers/VisualBasic/Portable/Emit/EditAndContinue/VisualBasicSymbolMatcher.vb
  src/Compilers/VisualBasic/Portable/Emit/PEModuleBuilder.vb
  src/Compilers/VisualBasic/Portable/Symbols/AnonymousTypes/AnonymousTypeManager_Templates.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTestBase.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/EditAndContinueTests.vb
  src/Compilers/VisualBasic/Test/Emit/Emit/EditAndContinue/SymbolMatcherTests.vb
  src/Features/CSharpTest/EditAndContinue/StatementEditingTests.cs
  src/Features/Core/Portable/EditAndContinue/AbstractEditAndContinueAnalyzer.cs
  src/Test/PdbUtilities/EditAndContinue/EditAndContinueTest.GenerationVerifier.cs
Labels: Area-Compilers, VSCode

#79989 Move computation of deprioritized analyzers to oop
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/Service/EngineV2/DiagnosticIncrementalAnalyzer_GetDiagnosticsForSpan.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-Analyzers, VSCode

#79857 Allow large InlineHint ArrayBuilder pooling
  src/Features/Core/Portable/InlineHints/AbstractInlineParameterNameHintsService.cs
Labels: Area-IDE, VSCode

#80004 Generate `init` accessor for required properties inside `readonly struct`s
  src/Features/CSharp/Portable/Snippets/CSharpProprSnippetProvider.cs
  src/Features/CSharpTest/Snippets/CSharpProprSnippetProviderTests.cs
Labels: Area-IDE, Community, VSCode

#80000 Expose protocol types to new Razor test assemblies
  src/LanguageServer/Protocol/Microsoft.CodeAnalysis.LanguageServer.Protocol.csproj
Labels: Area-Infrastructure

#79964 Simplify processing of errors reported by the build
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_RemoteOrLocalDispatcher.cs
  src/VisualStudio/Core/Def/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/TaskList/ProjectExternalErrorReporter.cs
  src/Workspaces/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-Analyzers, VSCode

#80013 Cleanup methods in DiagAnalyzerService
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.ProjectStates.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_CompilationWithAnalyzersPair.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ComputeDiagnosticAnalysisResults.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_CoreAnalyze.cs
  src/Features/Core/Portable/Diagnostics/Service/DocumentAnalysisExecutor.cs
Labels: Area-Analyzers, VSCode

#80019 Update PublishData.json
  eng/config/PublishData.json
Labels: Area-Infrastructure

#80021 Don't cache known-broken compositions
  src/Workspaces/Remote/Core/ExportProviderBuilder.cs
Labels: Area-IDE, VSCode

#80016 Update doc for IMethodSymbol.IsExtensionMethod
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Symbols/ISymbolExtensions.cs
Labels: Area-Compilers, Documentation, Feature - Extension Everything, VSCode

#79875 Add another UI context to control Razor cohost pre-init
  src/Tools/ExternalAccess/Razor/Features/Cohost/Constants.cs
  src/Tools/ExternalAccess/Razor/Features/Cohost/RazorStartupServiceFactory.cs
Labels: Area-IDE

#80002 msbuild dogfood
  eng/pipelines/variables-build.yml
Labels: Area-Infrastructure, Community

#80045 Cache diagnostic analyzer computation
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_DeprioritizationCandidates.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_RemoteOrLocalDispatcher.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ISolutionExtensions.cs
Labels: Area-Analyzers, VSCode

#80050 Cache project analyzers
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.HostAnalyzerInfo.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
Labels: Area-Analyzers, VSCode

#80032 Extensions: propagate attributes on type parameters
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Portable/Lowering/MethodToClassRewriter.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/RewrittenLambdaOrLocalFunctionSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/RewrittenMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedContainer.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedImplementationMethod.cs
  src/Compilers/CSharp/Portable/Symbols/Synthesized/SynthesizedSubstitutedTypeParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/TypeMap.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/ExpressionEvaluator/CSharp/Source/ExpressionCompiler/Symbols/EECompilationContextMethod.cs
Labels: Area-Compilers, Feature - Extension Everything

#80071 Fix issue reporting diagnostic in additional file when diagnostic produced by a source generator
  src/LanguageServer/ProtocolUnitTests/Diagnostics/AdditionalFileDiagnosticsTests.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticAnalysisResultBuilder.cs
Labels: Area-Analyzers, VSCode

#80062 Move the initialization of the global notification service
  src/VisualStudio/Core/Def/ExternalAccess/UnitTesting/SolutionEventMonitor.cs
  src/VisualStudio/Core/Def/ExternalAccess/UnitTesting/VisualStudioGlobalOperationNotificationService.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE

#80010 Ensure that CheckValue isn't called twice on lambda query receivers
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Query.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/QueryTests.cs
Labels: Area-Compilers

#80083 Keep necessary parentheses around a collection expression.
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryParentheses/RemoveUnnecessaryExpressionParenthesesTests.cs
  src/Features/CSharpTest/InlineTemporary/InlineTemporaryTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Extensions/ParenthesizedExpressionSyntaxExtensions.cs
Labels: Area-IDE, VSCode

#79832 Mark VB features as shipped in .NET 10
  docs/Language Feature Status.md
Labels: Area-Compilers, Documentation

#80084 Switch diagnostic parameter to being an array instead of a single value
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticProviderTests.vb
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.FixAllDiagnosticProvider.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol.TestUtilities/Diagnostics/TestDiagnosticAnalyzerDriver.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractWorkspaceDocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/NonLocalDocumentDiagnosticSource.cs
  src/VisualStudio/Core/Def/TableDataSource/Suppression/VisualStudioSuppressionFixService.cs
  src/VisualStudio/Core/Test/Venus/DocumentService_IntegrationTests.vb
Labels: Area-IDE, VSCode

#80031 Block manual application of MethodImplAttribute.Async to methods
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Errors/MessageProvider.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/TypeSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/Core/Portable/Diagnostic/CommonMessageProvider.cs
  src/Compilers/Core/Portable/Symbols/Attributes/CommonAttributeData.cs
  src/Compilers/Core/Portable/Symbols/ITypeSymbolInternal.cs
  src/Compilers/Test/Core/Mocks/TestMessageProvider.cs
  src/Compilers/VisualBasic/Portable/Errors/ErrorFacts.vb
  src/Compilers/VisualBasic/Portable/Errors/Errors.vb
  src/Compilers/VisualBasic/Portable/Errors/MessageProvider.vb
  src/Compilers/VisualBasic/Portable/Symbols/Source/SourceMethodSymbol.vb
  src/Compilers/VisualBasic/Portable/Symbols/TypeSymbol.vb
  src/Compilers/VisualBasic/Portable/VBResources.resx
  src/Compilers/VisualBasic/Portable/xlf/VBResources.cs.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.de.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.es.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.fr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.it.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ja.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ko.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pl.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.pt-BR.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.ru.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.tr.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hans.xlf
  src/Compilers/VisualBasic/Portable/xlf/VBResources.zh-Hant.xlf
  src/Compilers/VisualBasic/Test/Emit/CodeGen/CodeGenAsyncTests.vb
  src/Compilers/VisualBasic/Test/Emit/Microsoft.CodeAnalysis.VisualBasic.Emit.UnitTests.vbproj
Labels: Area-Compilers, Feature - Runtime Async

#80029 Update runtime feature docs
  docs/Language Feature Status.md
  docs/compilers/CSharp/Runtime Async Design.md
Labels: Area-Compilers, Feature - Runtime Async

#80085 Update VSInternalContinueCharacter* serialization
  src/LanguageServer/Protocol/Protocol/Internal/VSInternalContinueCharacterClass.cs
  src/LanguageServer/Protocol/Protocol/Internal/VSInternalContinueCharacterRange.cs
  src/LanguageServer/Protocol/Protocol/Internal/VSInternalContinueCharacterSingle.cs
Labels: Area-IDE, VSCode

#80096 Cleanup src/RoslynAnalyzers
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/MetaAnalyzers/CSharpDiagnosticAnalyzerAPIUsageAnalyzer.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.cs
  src/RoslynAnalyzers/Utilities/Compiler/Analyzer.Utilities.projitems
  src/RoslynAnalyzers/Utilities/Compiler/Extensions/DiagnosticExtensions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Extensions/IMethodSymbolExtensions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Extensions/IOperationExtensions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Extensions/ISymbolExtensions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Extensions/ITypeSymbolExtensions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Options/AggregateCategorizedAnalyzerConfigOptions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Options/AnalyzerConfigOptionsProviderExtensions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Options/AnalyzerOptionsExtensions.cs
  src/RoslynAnalyzers/Utilities/Compiler/Options/MSBuildItemOptionNames.cs
  src/RoslynAnalyzers/Utilities/Compiler/Options/MSBuildPropertyOptionNames.cs
  src/RoslynAnalyzers/Utilities/Compiler/Options/SyntaxTreeCategorizedAnalyzerConfigOptions.cs
  src/RoslynAnalyzers/Utilities/Compiler/PathHelper.cs
  src/RoslynAnalyzers/Utilities/Compiler/SymbolEqualityComparer.cs
Labels: Area-Analyzers, Community

#80060 Remove the 'force compute' entrypoint for diagnostics
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test/Diagnostics/DiagnosticAnalyzerServiceTests.cs
  src/EditorFeatures/Test2/Diagnostics/DiagnosticServiceTests.vb
  src/EditorFeatures/TestUtilities/Extensions/IDiagnosticServiceExtensions.cs
  src/Features/Core/Portable/CodeFixes/Service/CodeFixService.FixAllDiagnosticProvider.cs
  src/Features/Core/Portable/Diagnostics/CodeAnalysisDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ForceAnalyzeProject.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_ProduceProjectDiagnostics.cs
  src/Features/Core/Portable/Diagnostics/Service/DiagnosticAnalyzerService_RemoteOrLocalDispatcher.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractProjectDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractWorkspaceDocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/NonLocalDocumentDiagnosticSource.cs
  src/Workspaces/Core/Portable/Diagnostics/IRemoteDiagnosticAnalyzerService.cs
  src/Workspaces/Remote/ServiceHub/Services/DiagnosticAnalyzer/RemoteDiagnosticAnalyzerService.cs
Labels: Area-Analyzers, VSCode
