Repository dotnet/roslyn, pull requests merged in 2025-10, with the labels that each got.

#80530 Update codeflow metadata to fix backflow
  eng/Version.Details.xml
Labels: Area-Infrastructure

#80453 Disambiguate extension methods in "ambiguous call" error message when they have the same name but are from different assemblies
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AmbiguousOverrideTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InheritanceBindingTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SemanticErrorTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/Source/FileModifierTests.cs
  src/ExpressionEvaluator/CSharp/Test/ExpressionCompiler/ReferencedModulesTests.cs
Labels: Area-Compilers

#80524 Deprioritize the .editorconfig designer (but let you still pick it)
  src/VisualStudio/Core/Def/PackageRegistration.pkgdef
  src/VisualStudio/Core/Def/VSPackage.Designer.cs
  src/VisualStudio/Core/Def/VSPackage.resx
  src/VisualStudio/Core/Def/xlf/VSPackage.cs.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.de.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.es.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.fr.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.it.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.ja.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.ko.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.pl.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.pt-BR.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.ru.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.tr.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.zh-Hans.xlf
  src/VisualStudio/Core/Def/xlf/VSPackage.zh-Hant.xlf
Labels: Area-IDE

#80538 Add telemetry indicating when file-based programs are used
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectTelemetry/ProjectLoadTelemetryEvent.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/ProjectTelemetry/ProjectLoadTelemetryReporter.cs
Labels: Area-IDE, VSCode

#80541 Update proposal adjuster to acquire feature flags from VS
  src/EditorFeatures/Core/Copilot/RoslynProposalAdjusterProvider.cs
  src/EditorFeatures/Test2/Copilot/RoslynProposalAdjusterTests.vb
  src/Features/CSharp/Portable/Copilot/CSharpCopilotProposalAdjusterService.cs
  src/Features/Core/Portable/Copilot/IProposalAdjusterService.cs
  src/Workspaces/Remote/ServiceHub/Services/Copilot/RemoteCopilotProposalAdjusterService.cs
Labels: Area-IDE, VSCode

#80549 Log a debug message for ContentModified exceptions.
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests.csproj
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/QueueItemTests.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework.UnitTests/TestExampleLanguageServer.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/LspErrorCodes.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/QueueItem.cs
  src/LanguageServer/Protocol/Handler/CodeLens/CodeLensResolveHandler.cs
  src/LanguageServer/Protocol/Handler/InlayHint/InlayHintResolveHandler.cs
Labels: Area-Infrastructure, VSCode

#80455 Add followup async public apis
  src/Compilers/CSharp/Portable/Binder/ForEachEnumeratorInfo.cs
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpExtensions.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/CSharpSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/ForEachStatementInfo.cs
  src/Compilers/CSharp/Portable/Compilation/MemberSemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SpeculativeSemanticModelWithMemberModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/ExitPointsWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/PublicAPI.Unshipped.txt
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IForEachLoopStatement.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/AwaitExpressionTests.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/ForEachStatementInfoTests.cs
  src/Compilers/CSharp/Test/Symbol/Microsoft.CodeAnalysis.CSharp.Symbol.UnitTests.csproj
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.CSharp.txt
Labels: Area-Compilers, Needs API Review, Feature - Runtime Async

#80495 Add support for `with(...)` elements in collection expressions.
  src/Compilers/CSharp/Portable/Binder/Binder_Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/CollectionExpressionTypeKind.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/AbstractFlowPass.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CollectionExpression.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_ArraysAndSpans.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_Constructor.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests_WithElement_Extra.cs
  src/Compilers/CSharp/Test/Syntax/Parsing/WithElementParsingTests.cs
Labels: Needs API Review, Feature - Collection Arguments
