Repository dotnet/roslyn, pull requests merged in 2025-07, with the labels that each got.

#79181 Simplify matching code
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/MisplacedUsingDirectives/MisplacedUsingDirectivesCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/Helpers/HashCodeAnalyzer/HashCodeAnalyzer.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.OpenTextBufferManager.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource_TagsChanged.cs
  src/EditorFeatures/Core/Tagging/AsynchronousViewportTaggerProvider.SingleViewportTaggerProvider.cs
  src/Features/CSharp/Portable/ConvertIfToSwitch/CSharpConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/CSharp/Portable/EditAndContinue/CSharpEditAndContinueAnalyzer.cs
  src/Features/CSharp/Portable/GenerateConstructors/CSharpGenerateConstructorsCodeRefactoringProvider.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Analyzer.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.Rewriting.cs
  src/Features/Core/Portable/ConvertIfToSwitch/AbstractConvertIfToSwitchCodeRefactoringProvider.cs
  src/Features/VisualBasic/Portable/ConvertIfToSwitch/VisualBasicConvertIfToSwitchCodeRefactoringProvider.Rewriting.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/EmbeddedLanguages/VirtualChars/CSharpVirtualCharService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/IndentBlockFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Formatting/Rules/SuppressFormattingRule.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFactsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/CompilationUnitSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Extensions/TypeDeclarationSyntaxExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Indentation/CSharpIndentationService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpRemoveUnnecessaryImportsService.Rewriter.cs
Labels: Area-IDE, VSCode

#79209 Remove duplicate method
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
Labels: Area-Compilers

#79199 Remove legacy intents that are no longer hooked up
  src/EditorFeatures/CSharpTest/Intents/DeleteParameterIntentTests.cs
  src/EditorFeatures/CSharpTest/Intents/RenameIntentTests.cs
  src/EditorFeatures/Core/Intents/DeleteParameterIntentProvider.cs
  src/EditorFeatures/Core/Intents/RenameIntentProvider.cs
Labels: Area-IDE, VSCode

#79202 Remove unnecessary folder in project file
  src/EditorFeatures/CSharpTest/Microsoft.CodeAnalysis.CSharp.EditorFeatures.UnitTests.csproj
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/Scripting/VisualBasicTest.Desktop/Microsoft.CodeAnalysis.VisualBasic.Scripting.Desktop.UnitTests.vbproj
  src/VisualStudio/TestUtilities2/Microsoft.VisualStudio.LanguageServices.Test.Utilities2.vbproj
  src/Workspaces/Remote/ServiceHub/Microsoft.CodeAnalysis.Remote.ServiceHub.csproj
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-IDE

#79206 Update dartlab pipeline to trigger on main-vs-deps
  azure-pipelines-integration-dartlab.yml
Labels: Area-Infrastructure

#79214 Extract common lexer code into helpers
  src/Compilers/CSharp/Portable/Parser/AbstractLexer.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/Lexer_RawStringLiteral.cs
  src/Compilers/CSharp/Portable/Parser/Lexer_StringLiteral.cs
Labels: Area-Compilers

#79126 [REDO] Ensure the LSP server is loaded after a solution is closed
  src/EditorFeatures/Core/LanguageServer/AbstractInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/AlwaysActiveLanguageClientEventListener.cs
Labels: Area-IDE

#78986 Add a source package that can be used to connect to the roslyn build server
  Compilers.slnf
  Roslyn.sln
  eng/config/PublishData.json
  src/Compilers/CSharp/csc/CscCommandLine.projitems
  src/Compilers/Core/MSBuildTask/Directory.Build.props
  src/Compilers/Core/Portable/InternalUtilities/Debug.cs
  src/Compilers/Core/Portable/InternalUtilities/PlatformInformation.cs
  src/Compilers/Server/VBCSCompiler/VBCSCompilerCommandLine.projitems
  src/Compilers/Shared/BuildProtocol.cs
  src/Compilers/Shared/BuildServerConnection.cs
  src/Compilers/Shared/CompilerServerLogger.cs
  src/Compilers/Shared/ConsoleUtil.cs
  src/Compilers/Shared/NamedPipeUtil.cs
  src/Compilers/Shared/NativeMethods.cs
  src/Compilers/Shared/RuntimeHostInfo.cs
  src/Compilers/VisualBasic/vbc/VbcCommandLine.projitems
  src/NuGet/Microsoft.CodeAnalysis.BuildClient.Package/Microsoft.CodeAnalysis.BuildClient.Package.csproj
  src/NuGet/Microsoft.CodeAnalysis.BuildClient.Package/Microsoft.CodeAnalysis.BuildClient.targets
  src/Tools/Replay/Replay.csproj
Labels: Area-Compilers, Feature - Run File

#79167 Address some known functionality gaps for extension operators
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79232 Use spans in low level lexer char array handling code
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/LexerCache.cs
  src/Compilers/CSharp/Portable/Parser/QuickScanner.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
  src/Compilers/Core/CodeAnalysisTest/StringTableTests.cs
  src/Compilers/Core/Portable/InternalUtilities/Hash.cs
  src/Compilers/Core/Portable/InternalUtilities/StringTable.cs
  src/Compilers/Core/Portable/InternalUtilities/TextKeyedCache.cs
  src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb
  src/Compilers/VisualBasic/Test/Syntax/QuickTokenTableTests.vb
Labels: Area-Compilers

#79234 Remove unused functions
  src/Compilers/Core/Portable/InternalUtilities/Hash.cs
  src/Compilers/Core/Portable/InternalUtilities/StringTable.cs
Labels: Area-Compilers

#78975 Allow LanguageServerProjectSystems to load into more than one workspace
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerWorkspaceFactory.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
  src/LanguageServer/Protocol/Workspaces/ILspMiscellaneousFilesWorkspaceProvider.cs
  src/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspaceProvider.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
Labels: Area-IDE, VSCode

#79056 Extensions: adjust logic related to primary ctor parameter
  src/Compilers/CSharp/Portable/Binder/Binder.CapturedParametersFinder.cs
  src/Compilers/CSharp/Portable/Binder/Binder.IdentifierUsedAsValueFinder.cs
  src/Compilers/CSharp/Portable/Binder/Binder.WithQueryLambdaParametersBinder.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Symbols.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79227 Address another set of functionality gaps for extension operators
  src/Compilers/CSharp/Portable/Binder/Binder_Crefs.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Lowering/ClosureConversion/SynthesizedClosureMethod.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Symbols/UserDefinedCompoundAssignmentOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79245 Revert "Use spans in low level lexer char array handling code"
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/LexerCache.cs
  src/Compilers/CSharp/Portable/Parser/QuickScanner.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
  src/Compilers/Core/CodeAnalysisTest/StringTableTests.cs
  src/Compilers/Core/Portable/InternalUtilities/Hash.cs
  src/Compilers/Core/Portable/InternalUtilities/StringTable.cs
  src/Compilers/Core/Portable/InternalUtilities/TextKeyedCache.cs
  src/Compilers/VisualBasic/Portable/Scanner/Scanner.vb
  src/Compilers/VisualBasic/Test/Syntax/QuickTokenTableTests.vb
Labels: Area-Compilers

#79250 Use spans in low level lexer char array handling code (part 2)
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/LexerCache.cs
  src/Compilers/CSharp/Portable/Parser/QuickScanner.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
  src/Compilers/Core/CodeAnalysisTest/StringTableTests.cs
  src/Compilers/Core/Portable/InternalUtilities/Hash.cs
  src/Compilers/Core/Portable/InternalUtilities/StringTable.cs
  src/Compilers/Core/Portable/InternalUtilities/TextKeyedCache.cs
Labels: Area-Compilers

#79256 Backport quick info crash when hovering over PP directives
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/ISymbolExtensions_Accessibility.cs
Labels: Area-IDE, VSCode

#78271 Fix debugging of build tasks
  .vscode/tasks.json
  src/NuGet/Microsoft.Net.Compilers.Toolset/AnyCpu/Microsoft.Net.Compilers.Toolset.Package.csproj
Labels: Area-Infrastructure, untriaged

#79288 Revert unintentional compiler change
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenReadOnlySpanConstructionTest.cs
Labels: Area-Compilers

#79217 Extensions: extension grouping type names
  docs/contributing/Compiler Test Plan.md
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Extension.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers, Feature - Extension Everything

#79034 Fix ref safety of user-defined increment operators
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
  src/Compilers/CSharp/Test/Emit3/Symbols/UserDefinedCompoundAssignmentOperatorsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RefEscapingTests.cs
Labels: Area-Compilers, Feature - Ref Fields

#79292 Reduce probability of stack overflow during exception handling in ModelComputation
  src/EditorFeatures/Core/IntelliSense/ModelComputation.cs
Labels: Area-IDE

#78839 Remove synchronous rename
  src/EditorFeatures/Core/IInlineRenameSession.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_MoveSelectedLinesHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_OpenLineAboveHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_OpenLineBelowHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RefactoringWithCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_RenameHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_ReturnHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_SaveHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/AbstractRenameCommandHandler_WordDeleteHandler.cs
  src/EditorFeatures/Core/InlineRename/CommandHandlers/RenameCommandHandler.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameService.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSessionOptionsStorage.cs
  src/EditorFeatures/Core/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Test2/Rename/InlineRenameTests.vb
  src/EditorFeatures/Test2/Rename/RenameCommandHandlerTests.vb
  src/EditorFeatures/Test2/Rename/RenameTagProducerTests.vb
  src/EditorFeatures/VisualBasicTest/LineCommit/CommitTestData.vb
  src/VisualStudio/Core/Def/Options/VisualStudioOptionStorage.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/CSharp/CSharpRename.cs
Labels: Area-IDE

#79294 Remove unnecessary await
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/WorkspaceProjectFactoryService.cs
Labels: Area-IDE, VSCode

#78984 Allow rename to (optionally) process source generated documents
  src/EditorFeatures/Core/InlineRename/AbstractEditorInlineRenameService.cs
  src/Features/Core/Portable/Rename/SymbolicRenameInfo.cs
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/Protocol/Handler/Rename/PrepareRenameHandler.cs
  src/LanguageServer/Protocol/Handler/Rename/RenameHandler.cs
  src/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/Tools/ExternalAccess/Razor/Features/Cohost/Handlers/Rename.cs
  src/Tools/ExternalAccess/Razor/Features/RazorGeneratedDocumentIdentity.cs
  src/Tools/ExternalAccess/Razor/Features/RazorUri.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.Session.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/ConflictResolver.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/MutableConflictResolution.cs
  src/Workspaces/Core/Portable/Rename/ConflictEngine/RenamedSpansTracker.cs
  src/Workspaces/Core/Portable/Rename/RenameOptions.cs
  src/Workspaces/Core/Portable/Rename/SymbolicRenameLocations.ReferenceProcessing.cs
  src/Workspaces/Core/Portable/Rename/SymbolicRenameLocations.cs
Labels: Area-IDE, VSCode

#79284 Fix Rename adornment positioning after scrolling
  src/EditorFeatures/Core/InlineRename/UI/Adornment/RenameFlyout.xaml.cs
Labels: Area-IDE, Community

#79282 Move telemetry initialization out of our UI-thread bound helper
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/Telemetry/VisualStudioWorkspaceTelemetryService.cs
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
Labels: Area-IDE

#79276 Add cookbook section for avoiding inheritance
  docs/features/incremental-generators.cookbook.md
Labels: Area-IDE

#78778 Remove most remaining uses of WorkspaceChanged off the UI thread
  src/EditorFeatures/Core/Shared/Tagging/EventSources/TaggerEventSources.DocumentActiveContextChangedEventSource.cs
  src/EditorFeatures/Core/Tagging/ITaggerEventSource.cs
  src/Features/Core/Portable/Diagnostics/CodeAnalysisDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceRegistrationService.cs
  src/VisualStudio/Core/Def/StackTraceExplorer/StackTraceExplorerViewModel.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSource.cs
Labels: Area-IDE, VSCode

#79303 Fix Rename adornment positioning after scrolling
  src/EditorFeatures/Core.Wpf/InlineRename/UI/Adornment/RenameFlyout.xaml.cs
Labels: Community

#79298 Fix document diagnostics document open check
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractDocumentPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSourceProviders/DocumentSyntaxAndSemanticDiagnosticSourceProvider.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/Public/PublicDocumentNonLocalDiagnosticSourceProvider.cs
  src/LanguageServer/Protocol/Handler/EditAndContinue/DocumentEditAndContinueDiagnosticSourceProvider.cs
  src/LanguageServer/Protocol/Handler/RequestContext.cs
  src/LanguageServer/Protocol/Handler/Tasks/DocumentTaskDiagnosticSourceProvider.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Labels: Area-IDE, VSCode

#79233 Remove duplicate code for processing arrays vs strings
  src/Compilers/Core/Portable/InternalUtilities/Hash.cs
  src/Compilers/Core/Portable/InternalUtilities/StringTable.cs
Labels: Area-Compilers

#79316 Fix argument indentation
  src/Analyzers/CSharp/Tests/GenerateConstructor/GenerateConstructorTests.cs
  src/Analyzers/CSharp/Tests/GenerateDefaultConstructors/GenerateDefaultConstructorsTests.cs
  src/Analyzers/CSharp/Tests/GenerateMethod/GenerateMethodTests.cs
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceTests.cs
  src/Analyzers/CSharp/Tests/MakeLocalFunctionStatic/MakeLocalFunctionStaticTests.cs
  src/Analyzers/CSharp/Tests/MakeMethodAsynchronous/MakeMethodAsynchronousTests.cs
  src/Analyzers/CSharp/Tests/MakeStructReadOnly/MakeStructReadOnlyTests.cs
  src/Analyzers/CSharp/Tests/QualifyMemberAccess/QualifyMemberAccessTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryParentheses/RemoveUnnecessaryExpressionParenthesesTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueExpressionStatementTests.cs
  src/Analyzers/CSharp/Tests/UseAutoProperty/UseAutoPropertyTests.cs
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/Analyzers/CSharp/Tests/UseIsNullCheck/UseIsNullCheckForCastAndEqualityOperatorTests.cs
  src/Analyzers/CSharp/Tests/UseIsNullCheck/UseIsNullCheckForReferenceEqualsTests.cs
  src/EditorFeatures/CSharpTest/Classification/TotalClassifierTests.cs
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/SymbolCompletionProviderTests.cs
  src/EditorFeatures/CSharpTest/GenerateConstructors/GenerateConstructorsTests.cs
  src/EditorFeatures/CSharpTest/MoveToNamespace/MoveToNamespaceTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest/Rename/CSharpRenamerTests.cs
  src/EditorFeatures/CSharpTest2/EmbeddedLanguages/Json/CSharpJsonParserTests_NstTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/EventKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/MethodKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/NativeIntegerKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/PropertyKeywordRecommenderTests.cs
  src/EditorFeatures/CSharpTest2/Recommendations/ReturnKeywordRecommenderTests.cs
  src/EditorFeatures/Core/DocumentationComments/DocumentationCommentSuggestion.cs
  src/EditorFeatures/Core/EncapsulateField/AbstractEncapsulateFieldCommandHandler.cs
  src/EditorFeatures/Test/InheritanceMargin/InheritanceMarginTests.cs
  src/Features/CSharpTest/EditAndContinue/TopLevelEditingTests.cs
  src/Features/CSharpTest/GenerateVariable/GenerateVariableTests.cs
  src/Features/CSharpTest/InlineTemporary/InlineTemporaryTests.cs
  src/Features/CSharpTest/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/CSharpTest/MakeLocalFunctionStatic/MakeLocalFunctionStaticRefactoringTests.cs
  src/Features/CSharpTest/MakeLocalFunctionStatic/PassInCapturedVariablesAsArgumentsCodeFixProviderTests.cs
  src/Features/CSharpTest/ReplaceMethodWithProperty/ReplaceMethodWithPropertyTests.cs
  src/Features/CSharpTest/ReplacePropertyWithMethods/ReplacePropertyWithMethodsTests.cs
  src/Features/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
  src/Features/CSharpTest/Wrapping/ArgumentWrappingTests.cs
  src/Features/CSharpTest/Wrapping/BinaryExpressionWrappingTests.cs
  src/Features/CSharpTest/Wrapping/ChainedExpressionWrappingTests.cs
  src/Features/CSharpTest/Wrapping/ParameterWrappingTests.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/CodeStyle/CSharpCodeStyleOptions.cs
Labels: Area-IDE, VSCode

#79327 Set RoslynCompilerType=Custom in all toolset package flavors
  src/NuGet/Microsoft.Net.Compilers.Toolset/Framework/build/Microsoft.Net.Compilers.Toolset.Framework.Core.props
  src/NuGet/Microsoft.Net.Compilers.Toolset/arm64/build/Microsoft.Net.Compilers.Toolset.Arm64.props
Labels: Area-Compilers

#79293 Fix code gen for some increment/compound assignment scenarios involving constrained calls.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenCallTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
Labels: Area-Compilers

#79340 Fix crash in use-null-prop fixer
  src/Analyzers/CSharp/Analyzers/UseNullPropagation/CSharpUseNullPropagationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UseNullPropagation/CSharpUseNullPropagationCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseNullPropagation/UseNullPropagationTests.cs
  src/Analyzers/Core/Analyzers/Analyzers.projitems
  src/Analyzers/Core/Analyzers/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer_IfStatement.cs
  src/Analyzers/Core/Analyzers/UseNullPropagation/AnalysisResults.cs
  src/Analyzers/Core/CodeFixes/UseNullPropagation/AbstractUseNullPropagationCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/UseNullPropagation/VisualBasicUseNullPropagationDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/CodeFixes/UseNullPropagation/VisualBasicUseNullPropagationCodeFixProvider.vb
Labels: Area-IDE, VSCode

#79356 Fix not offering to remove unnecessary nullable pragmas
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryNullableDirective/CSharpRemoveUnnecessaryNullableDirectiveDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/RemoveUnnecessaryNullableDirective/NullableImpactingSpanWalker.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryNullableDirective/CSharpRemoveUnnecessaryNullableDirectiveTests.cs
Labels: Area-IDE, VSCode

#79348 Fix 'use var' with spans
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseImplicitTypeTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseImplicitTypeHelper.cs
Labels: Area-IDE, VSCode

#79355 Fix issue offering to remove nullable cast in a ternary expression
  src/Analyzers/CSharp/Tests/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Simplification/Simplifiers/CastSimplifier.cs
Labels: Area-IDE, VSCode

#79357 Fix issue with remove unnecessary parens in vb
  src/Analyzers/VisualBasic/Tests/RemoveUnnecessaryParentheses/RemoveUnnecessaryParenthesesTests.vb
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Extensions/ParenthesizedExpressionSyntaxExtensions.vb
Labels: Area-IDE, VSCode

#79353 Make tests more consistent
  src/Analyzers/CSharp/Tests/AddObsoleteAttribute/AddObsoleteAttributeTests.cs
  src/Analyzers/CSharp/Tests/FileHeaders/FileHeaderTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnnecessarySuppressions/RemoveUnnecessaryAttributeSuppressionsTests.cs
  src/Analyzers/CSharp/Tests/UpdateLegacySuppressions/UpdateLegacySuppressionsTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/MoveStaticMembers/CSharpMoveStaticMembersTests.cs
  src/Features/CSharpTest/GenerateComparisonOperators/GenerateComparisonOperatorsTests.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests/ResxGeneratorTests.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/AvoidAllocationWithArrayEmptyCodeFixTests.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/CallSiteImplicitAllocationAnalyzerTests.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/ConcatenationAllocationAnalyzerTests.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/DisplayClassAllocationAnalyzerTests.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/EnumeratorAllocationAnalyzerTests.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/ExplicitAllocationAnalyzerTests.cs
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/TypeConversionAllocationAnalyzerTests.cs
Labels: Area-Infrastructure, VSCode

#78930 Reapply "Update code to use null propagation (#78733)"
  src/EditorFeatures/CSharpTest/CodeActions/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Core/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core/Shared/Utilities/CaretPreservingEditTransaction.cs
  src/EditorFeatures/Core/SignatureHelp/Presentation/SignatureHelpPresenter.SignatureHelpPresenterSession.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionTest.cs
  src/Features/Core/Portable/GenerateOverrides/GenerateOverridesWithDialogCodeAction.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoUtilities.cs
  src/Features/DiagnosticsTestUtilities/CodeActionsLegacy/AbstractCodeActionTest_NoEditor.cs
  src/Scripting/Core/ScriptBuilder.cs
  src/VisualStudio/Core/Def/InheritanceMargin/InheritanceMarginLogger.cs
  src/VisualStudio/Core/Def/Utilities/TaskItemsEnum.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersCommandHandler.cs
Labels: Area-IDE, VSCode

#79367 Add test showing issue no longer repros.
  src/EditorFeatures/CSharpTest/CodeActions/AddUsing/AbstractAddUsingTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/AddUsing/AddUsingTests.cs
  src/EditorFeatures/CSharpTest/Diagnostics/AbstractCSharpDiagnosticProviderBasedUserDiagnosticTest.cs
Labels: Area-IDE

#79372 Fix issue where typeof/sizeof weren't classified properly in FindRefs
  src/EditorFeatures/Test2/FindReferences/FindReferencesTests.NamedTypeSymbols.vb
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/Finders/AbstractReferenceFinder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Extensions/SymbolUsageInfo.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxKinds.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxKinds.vb
Labels: Area-IDE, VSCode

#79317 Delete unused types
  src/Features/Core/Portable/SemanticSearch/ISemanticSearchCopilotService.cs
  src/Features/ExternalAccess/Copilot/Internal/SemanticSearch/SemanticSearchCopilotServiceWrapper.cs
  src/Features/ExternalAccess/Copilot/SemanticSearch/ISemanticSearchCopilotServiceImpl.cs
  src/VisualStudio/ExternalAccess/Copilot/SemanticSearch/ISemanticSearchCopilotUIProviderImpl.cs
Labels: Area-IDE, VSCode

#79382 Offer 'implement interface' when inside a type's body
  src/Analyzers/CSharp/CodeFixes/ImplementInterface/CSharpImplementInterfaceCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/ImplementInterface/CSharpImplementInterfaceService.cs
  src/Analyzers/CSharp/Tests/CSharpAnalyzers.UnitTests.projitems
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceCodeFixTests.cs
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceCodeFixTests_FixAllTests.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/AbstractImplementInterfaceCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/AbstractImplementInterfaceService.State.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/AbstractImplementInterfaceService.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/IImplementInterfaceService.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_Conflicts.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_DisposePattern.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_Method.cs
  src/Analyzers/Core/CodeFixes/ImplementInterface/ImplementInterfaceGenerator_Property.cs
  src/Analyzers/VisualBasic/CodeFixes/ImplementInterface/VisualBasicImplementInterfaceCodeFixProvider.vb
  src/Analyzers/VisualBasic/CodeFixes/ImplementInterface/VisualBasicImplementInterfaceService.vb
  src/Analyzers/VisualBasic/Tests/ImplementInterface/ImplementInterfaceCodeFixTests.vb
  src/Analyzers/VisualBasic/Tests/ImplementInterface/ImplementInterfaceCodeFixTests_FixAllTests.vb
  src/Analyzers/VisualBasic/Tests/VisualBasicAnalyzers.UnitTests.projitems
  src/Features/CSharpTest/ImplementInterface/ImplementInterfaceCodeRefactoringTests.cs
  src/Features/Core/Portable/CodeRefactorings/PredefinedCodeRefactoringProviderNames.cs
  src/Features/Core/Portable/ImplementInterface/ImplementInterfaceCodeRefactoringProvider.cs
  src/Features/DiagnosticsTestUtilities/CodeActions/VisualBasicCodeRefactoringVerifier`1.cs
  src/Features/VisualBasicTest/ImplementInterface/ImplementInterfaceCodeRefactoringTests.vb
Labels: Area-IDE, VSCode

#79396 Delete unnecessary GetServiceAsync calls
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE

#78425 Support interpolated string handlers in extension blocks
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/RefSafetyAnalysis.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundInterpolatedStringArgumentPlaceholder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Operations/CSharpOperationFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/ReceiverParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/RewrittenParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceComplexParameterSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertyClonedParameterSymbolForAccessors.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/IOperation/IOperation/IOperationTests_IInterpolatedStringOperation.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/InterpolationTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/RawInterpolationTests_Handler.cs
Labels: Area-Compilers, Feature - Extension Everything

#79400 Fix loss of nullability attributes when getting the 'constructed reduced from' method.
  src/Analyzers/Core/Analyzers/SimplifyTypeNames/SimplifyTypeNamesDiagnosticAnalyzerBase.cs
  src/Compilers/CSharp/Portable/Symbols/MethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/ReducedExtensionMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/SubstitutedMethodSymbol.cs
  src/Compilers/CSharp/Test/Symbol/Compilation/GetSemanticInfoTests.cs
  src/Features/CSharpTest/SimplifyTypeNames/SimplifyTypeNamesTests.cs
Labels: Area-Compilers, VSCode

#79427 Add tracking issue for disabled assert
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodReferenceRewriter.cs
Labels: Area-Compilers

#79422 Special case a few well-known immutable types in use-auto-prop
  src/Analyzers/CSharp/Tests/UseAutoProperty/UseAutoPropertyTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Symbols/ITypeSymbolExtensions.cs
Labels: Area-IDE, VSCode

#79403 Indent test arguments
  src/Analyzers/CSharp/Tests/GenerateMethod/GenerateConversionTests.cs
  src/Analyzers/CSharp/Tests/MakeLocalFunctionStatic/MakeLocalFunctionStaticTests.cs
  src/Analyzers/CSharp/Tests/RemoveUnusedParametersAndValues/RemoveUnusedValueAssignmentTests.cs
  src/EditorFeatures/CSharpTest/Classification/SyntacticClassifierTests_Preprocessor.cs
  src/EditorFeatures/CSharpTest/CodeActions/AddUsing/AddUsingTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/AddUsing/AddUsingTests_ExtensionMethods.cs
  src/EditorFeatures/CSharpTest/CodeActions/GenerateType/GenerateTypeWithUnboundAnalyzerTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/InitializeParameter/InitializeMemberFromParameterTests.cs
  src/EditorFeatures/CSharpTest/MoveToNamespace/MoveToNamespaceTests.cs
  src/EditorFeatures/CSharpTest/QuickInfo/SyntacticQuickInfoSourceTests.cs
  src/EditorFeatures/CSharpTest/SplitComment/SplitCommentCommandHandlerTests.cs
  src/EditorFeatures/CSharpTest/SplitStringLiteral/SplitStringLiteralCommandHandlerTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteKnownSourceIntoMultiLineRawInterpolatedStringTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteKnownSourceIntoMultiLineRawStringTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteKnownSourceIntoSingleLineRawInterpolatedStringTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteKnownSourceIntoSingleLineRawStringTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteUnknownSourceIntoMultiLineInterpolatedRawStringTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteUnknownSourceIntoMultiLineRawStringTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteUnknownSourceIntoSingleLineInterpolatedRawStringTests.cs
  src/EditorFeatures/CSharpTest/StringCopyPaste/PasteUnknownSourceIntoSingleLineRawStringTests.cs
  src/EditorFeatures/CSharpTest2/EmbeddedLanguages/Json/CSharpJsonParserTests_NstTests.cs
  src/Features/CSharp/Portable/ConvertLinq/CSharpConvertLinqQueryToForEachProvider.cs
  src/Features/CSharpTest/ConvertLocalFunctionToMethod/ConvertLocalFunctionToMethodTests.cs
  src/Features/CSharpTest/FullyQualify/FullyQualifyTests.cs
  src/Features/CSharpTest/IntroduceVariable/InteractiveIntroduceVariableTests.cs
  src/Features/CSharpTest/RemoveUnnecessaryCast/RemoveUnnecessaryCastTests_AsTests.cs
  src/Features/CSharpTest/ReplacePropertyWithMethods/ReplacePropertyWithMethodsTests.cs
  src/Features/CSharpTest/Wrapping/ArgumentWrappingTests.cs
  src/Features/CSharpTest/Wrapping/BinaryExpressionWrappingTests.cs
  src/Features/CSharpTest/Wrapping/ChainedExpressionWrappingTests.cs
  src/Features/CSharpTest/Wrapping/ParameterWrappingTests.cs
  src/Workspaces/CSharpTest/CodeGeneration/SyntaxGeneratorTests.cs
Labels: Area-IDE, VSCode

#79425 Change how trailing trivia is preserved in use-auto-prop
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/Helpers/UseExpressionBodyForPropertiesHelper.cs
  src/Analyzers/CSharp/Analyzers/UseExpressionBody/Helpers/UseExpressionBodyHelper`1.cs
  src/Features/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForConstructorsRefactoringTests.cs
  src/Features/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForConversionOperatorsRefactoringTests.cs
  src/Features/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForIndexersRefactoringTests.cs
  src/Features/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForMethodsRefactoringTests.cs
  src/Features/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForOperatorsRefactoringTests.cs
  src/Features/CSharpTest/UseExpressionBody/Refactoring/UseExpressionBodyForPropertiesRefactoringTests.cs
Labels: Area-IDE, VSCode

#79339 Fix code gen for some compound assignment scenarios involving extension properties.
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenCallTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79311 Avoid eliding pointer-to-ref conversions
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/CodeGen/Optimizer.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenRefLocalTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/UnsafeTests.cs
Labels: Area-Compilers

#79434 Move to xunit.runner.visualstudio 3.1.3
  eng/Directory.Packages.props
Labels: Area-IDE

#79345 Adds EqualityComparer<T>.Create polyfill
  src/Compilers/Core/Portable/InternalUtilities/EmptyComparer.cs
  src/Dependencies/Contracts/EqualityComparerExtensions.cs
  src/Dependencies/Contracts/Microsoft.CodeAnalysis.Contracts.projitems
  src/Dependencies/Contracts/ReferenceEqualityComparer.cs
  src/EditorFeatures/Test/Collections/Immutable/Maps/MapTests.cs
  src/Features/Core/Portable/Completion/Providers/AbstractKeywordCompletionProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-Compilers, VSCode

#79454 Fix static extension method not showing up on enum type
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/EnumAndCompletionListTagCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
  src/Workspaces/Core/Portable/Recommendations/AbstractRecommendationService.cs
Labels: Area-IDE, VSCode

#79432 Remove assumption about a tree shape that compound assignment produces
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_AssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_DeconstructionAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FunctionPointerInvocation.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_IndexerAccess.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_NullCoalescingAssignmentOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectCreationExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UsingStatement.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenOperators.cs
  src/Compilers/CSharp/Test/Emit2/CodeGen/CodeGenCallTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/GenericConstraintTests.cs
Labels: Area-Compilers

#79475 Update System.Memory to prevent bootstrap failure
  eng/Versions.props
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
Labels: Area-Infrastructure

#79474 Move RoslynParallel and ProducerConsumer to threading source package
  src/Dependencies/Threading/ChannelReaderExtensions.cs
  src/Dependencies/Threading/IAsyncEnumerableExtensions.cs
  src/Dependencies/Threading/Microsoft.CodeAnalysis.Threading.Package.csproj
  src/Dependencies/Threading/Microsoft.CodeAnalysis.Threading.projitems
  src/Dependencies/Threading/ParallelExtensions.NetFramework.cs
  src/Dependencies/Threading/ParallelExtensions.cs
  src/Dependencies/Threading/ProducerConsumer.cs
  src/Dependencies/Threading/ProducerConsumerOptions.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptFindUsagesContext.cs
  src/EditorFeatures/Core/ExternalAccess/VSTypeScript/VSTypeScriptFindUsagesService.cs
  src/Features/CSharp/Portable/CodeRefactorings/EnableNullable/EnableNullableCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/ChangeSignature/AbstractChangeSignatureService.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionBatchFixAllProvider.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsFeatureService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/Completion/CompletionService_GetCompletions.cs
  src/Features/Core/Portable/Completion/Providers/AbstractSymbolCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.SymbolComputer.cs
  src/Features/Core/Portable/FindUsages/AbstractFindUsagesService.ProgressAdapter.cs
  src/Features/Core/Portable/IntroduceParameter/AbstractIntroduceParameterCodeRefactoringProvider.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.CachedDocumentSearch.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.GeneratedDocumentSearch.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.NormalSearch.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Features/Core/Portable/RelatedDocuments/AbstractRelatedDocumentsService.cs
  src/Features/Core/Portable/SemanticSearch/Tools/ReferencingSyntaxFinder.cs
  src/Features/Core/Portable/UseAutoProperty/UseAutoPropertyFixAllProvider.cs
  src/Features/Core/Portable/ValueTracking/ValueTracker.OperationCollector.cs
  src/Features/ExternalAccess/Copilot/Internal/Completion/CSharpContextProviderService.cs
  src/Interactive/Host/Microsoft.CodeAnalysis.InteractiveHost.csproj
  src/VisualStudio/Core/Def/CodeCleanup/AbstractCodeCleanUpFixer.cs
  src/VisualStudio/Core/Def/Diagnostics/VisualStudioDiagnosticAnalyzerService.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/SymbolTree/RootSymbolTreeItemSourceProvider.cs
  src/VisualStudio/ExternalAccess/FSharp/Internal/Editor/FindUsages/FSharpFindUsagesContext.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction_Cleanup.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/DocumentBasedFixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContext.DiagnosticProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllContextHelper.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/DocumentBasedFixAllProviderHelpers.cs
  src/Workspaces/Core/Portable/CodeRefactorings/FixAllOccurences/DocumentBasedFixAllProvider.cs
  src/Workspaces/Core/Portable/Diagnostics/Extensions.cs
  src/Workspaces/Core/Portable/FindSymbols/FindLiterals/FindLiteralsSearchEngine.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine.cs
  src/Workspaces/Core/Portable/FindSymbols/FindReferences/FindReferencesSearchEngine_FindReferencesInDocuments.cs
  src/Workspaces/Remote/Core/RemoteHostAssetWriter.cs
  src/Workspaces/Remote/ServiceHub/Services/ConvertTupleToStructCodeRefactoringProvider/RemoteConvertTupleToStructCodeRefactoringService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/IAsyncEnumerableExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/RoslynParallel.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/Editing/CSharpImportAdder.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Simplification/AbstractSimplificationService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/VisualBasic/Editing/VisualBasicImportAdder.vb
Labels: Area-IDE, VSCode

#79478 Correctly change return type of partial method definition part when making method async
  src/Analyzers/CSharp/CodeFixes/MakeMethodAsynchronous/CSharpMakeMethodAsynchronousCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/MakeMethodAsynchronous/MakeMethodAsynchronousTests.cs
  src/Analyzers/Core/CodeFixes/MakeMethodAsynchronous/AbstractMakeMethodAsynchronousCodeFixProvider.cs
  src/Analyzers/VisualBasic/CodeFixes/MakeMethodAsynchronous/VisualBasicMakeMethodAsynchronousCodeFixProvider.vb
Labels: Area-IDE, Community, VSCode

#79490 Find add-using results in SG docs
  src/EditorFeatures/CSharpTest/CodeActions/AddUsing/AddUsingTests.cs
  src/Features/CSharp/Portable/FullyQualify/CSharpFullyQualifyCodeFixProvider.cs
  src/Features/CSharpTest/FullyQualify/FullyQualifyTests.cs
  src/Features/Core/Portable/AddImport/SearchScopes/MetadataSymbolsSearchScope.cs
  src/Features/Core/Portable/AddImport/SearchScopes/ProjectSearchScope.cs
  src/Features/Core/Portable/AddImport/SearchScopes/SearchScope.cs
Labels: Area-IDE, VSCode

#79495 Ignore all targets of MS.CA.Threading.Package in rebuild
  eng/test-rebuild.ps1
Labels: Area-Infrastructure

#79492 Do not place SuppressMessage attributes on an extension block
  src/Features/CSharp/Portable/Diagnostics/CSharpAnalyzerDriverService.cs
  src/Features/CSharpTest/Diagnostics/Suppression/SuppressionTests.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.AbstractSuppressionCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.LocalSuppressMessageCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.cs
  src/Features/Core/Portable/CodeFixes/Suppression/NestedSuppressionCodeAction.cs
  src/Features/Core/Portable/Diagnostics/AbstractAnalyzerDriverService.cs
  src/Features/Core/Portable/Diagnostics/IAnalyzerDriverService.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractSuppressionDiagnosticTest_NoEditor.cs
  src/Features/VisualBasic/Portable/Diagnostics/VisualBasicAnalyzerDriverService.vb
Labels: Area-IDE, VSCode

#79480 Use globs in .projitems for source packages
  src/Dependencies/CodeAnalysis.Debugging/Microsoft.CodeAnalysis.Debugging.projitems
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.projitems
  src/Dependencies/Contracts/Microsoft.CodeAnalysis.Contracts.projitems
  src/Dependencies/PooledObjects/Microsoft.CodeAnalysis.PooledObjects.projitems
  src/Dependencies/Threading/Microsoft.CodeAnalysis.Threading.projitems
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/Microsoft.CommonLanguageServerProtocol.Framework.Shared.projitems
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Microsoft.CodeAnalysis.Extensions.projitems
Labels: Area-IDE

#79446 Generate complogs on build failure
  eng/pipelines/publish-logs.yml
  src/Compilers/Core/Portable/CommandLine/CommandLineArguments.cs
Labels: Area-Infrastructure

#79497 Fix name declaration completion in primary constructor parameters
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/DeclarationNameCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameCompletionProvider.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/DeclarationName/DeclarationNameRecommender.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpSemanticFactsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/LanguageServices/SemanticsFactsService/AbstractSemanticFactsService.cs
Labels: Area-IDE, VSCode

#79323 Extensions: add test for function type scenario
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79517 Update VMR orchestrator property
  eng/Versions.props
Labels: Area-Infrastructure

#79516 Fix escaping of enum members in completion
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/EnumAndCompletionListTagCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/SymbolCompletionItem.cs
Labels: Area-IDE, VSCode

#79512 Allow captured primary constructor parameters to be still used in base-list
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests.vb
  src/Workspaces/CSharp/Portable/Recommendations/CSharpRecommendationServiceRunner.cs
Labels: Area-IDE, VSCode

#79524 Prevent auth issue in PR val builds
  azure-pipelines-pr-validation.yml
Labels: Area-IDE

#79514 Fix 'this' keyword not being recomended where allowed
  src/EditorFeatures/CSharpTest2/Recommendations/ThisKeywordRecommenderTests.cs
  src/Features/CSharp/Portable/Completion/KeywordRecommenders/ThisKeywordRecommender.cs
Labels: Area-IDE, VSCode

#79523 Downgrade System.Memory to make VS happy
  eng/Versions.props
Labels: Area-Infrastructure

#79530 Allow add using to work on Razor generated documents
  src/Workspaces/Remote/ServiceHub/Services/MissingImportDiscovery/RemoteMissingImportDiscoveryService.cs
Labels: Area-IDE, VSCode

#79452 Extensions: address or split remaining open issues directly associated with test plan
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Lookup.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Query.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Conversions/Conversions.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/MethodTypeInference.cs
  src/Compilers/CSharp/Portable/Binder/WithUsingNamespacesAndTypesBinder.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Compilation/MethodBodySemanticModel.cs
  src/Compilers/CSharp/Portable/Compilation/SyntaxTreeSemanticModel.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/Emitter/Model/NamedTypeSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Call.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol_Bases.cs
  src/Compilers/CSharp/Portable/Symbols/TypeMap.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/DelegateTypeTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79205 Cleanup split between lexer and sliding-text-window
  src/Compilers/CSharp/Portable/Parser/AbstractLexer.cs
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/LexerCache.cs
  src/Compilers/CSharp/Portable/Parser/Lexer_StringLiteral.cs
  src/Compilers/CSharp/Portable/Parser/QuickScanner.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/LexicalTests.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/SyntaxTokenParserTests.cs
  src/Compilers/CSharp/Test/Syntax/Resources.resx
Labels: Area-Compilers

#79539 Add Version.Details.props
  eng/Version.Details.props
Labels: Area-Infrastructure, Community

#79536 Remove lots of duplication in our test harness.
  src/Analyzers/CSharp/Tests/UseVarTestExtensions.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionOrUserDiagnosticTest_OptionHelpers.cs
  src/Features/CSharpTest/CodeActions/AbstractCSharpCodeActionTest_NoEditor.cs
  src/Features/CSharpTest/Diagnostics/AbstractCSharpDiagnosticProviderBasedUserDiagnosticTest_NoEditor.cs
  src/Features/DiagnosticsTestUtilities/CodeActionsLegacy/AbstractCodeActionOrUserDiagnosticTest_NoEditor.cs
  src/Features/DiagnosticsTestUtilities/CodeActionsLegacy/AbstractCodeActionOrUserDiagnosticTest_NoEditor_OptionHelpers.cs
  src/Features/DiagnosticsTestUtilities/CodeActionsLegacy/AbstractCodeActionOrUserDiagnosticTest_NoEditor_TestAddDocument.cs
  src/Features/DiagnosticsTestUtilities/CodeActionsLegacy/AbstractCodeActionTest_NoEditor.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractDiagnosticProviderBasedUserDiagnosticTest_NoEditor.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractSuppressionDiagnosticTest_NoEditor.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractUnncessarySuppressionDiagnosticTest.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractUserDiagnosticTest_NoEditor.FixAllDiagnosticProvider.cs
  src/Features/DiagnosticsTestUtilities/Diagnostics/AbstractUserDiagnosticTest_NoEditor.cs
  src/Features/VisualBasicTest/CodeActions/AbstractVisualBasicCodeActionTest_NoEditor.vb
  src/Features/VisualBasicTest/Diagnostics/AbstractVisualBasicDiagnosticProviderBasedUserDiagnosticTest_NoEditor.vb
Labels: Area-IDE, VSCode

#79540 Fix name qualification when moving a using alias outside of a file scoped namespace
  src/Analyzers/CSharp/CodeFixes/MisplacedUsingDirectives/MisplacedUsingDirectivesCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/MisplacedUsingDirectives/MisplacedUsingDirectivesTests.cs
Labels: Area-IDE, VSCode

#79548 Also downgrade System.Numerics.Vectors for VS
  eng/Versions.props
Labels: Area-Infrastructure

#79531 Properly handle optional arguments when converting a local function to a method.
  src/Features/CSharp/Portable/CodeRefactorings/ConvertLocalFunctionToMethod/CSharpConvertLocalFunctionToMethodCodeRefactoringProvider.cs
  src/Features/CSharpTest/CodeActions/AbstractCSharpCodeActionTest_NoEditor.cs
  src/Features/CSharpTest/ConvertLocalFunctionToMethod/ConvertLocalFunctionToMethodTests.cs
Labels: Area-IDE, VSCode

#79554 Fix main build break
  src/Analyzers/CSharp/Tests/UseImplicitOrExplicitType/UseExplicitTypeTests.cs
Labels: Area-IDE, VSCode

#79430 Projects to deploy
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueLanguageServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EditSessionTelemetry.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/ProjectDifferences.cs
  src/Features/Core/Portable/EditAndContinue/SolutionUpdate.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/Extensions.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/Features/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Test/EditAndContinue/EmitSolutionUpdateResultsTests.cs
  src/Features/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/Features/TestUtilities/EditAndContinue/Extensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/PooledBuilderExtensions.cs
Labels: Area-Interactive, Interactive-EnC, VSCode

#79559 Fix main build break AGAIN
  src/Features/CSharpTest/CodeActions/AbstractCSharpCodeActionTest_NoEditor.cs
  src/Features/CSharpTest/ConvertLocalFunctionToMethod/ConvertLocalFunctionToMethodTests.cs
Labels: Area-IDE, VSCode

#79567 Add back in helpers that were removed in #79559
  src/Features/CSharpTest/CodeActions/AbstractCSharpCodeActionTest_NoEditor.cs
Labels: Area-IDE, VSCode

#79565 Remove obsolete API the project system was using
  src/VisualStudio/Core/Def/ProjectSystem/AbstractEntryPointFinderService.cs
  src/VisualStudio/Core/Def/ProjectSystem/IEntryPointFinderService.cs
Labels: Area-IDE

#79576 Fix creating skeleton cross-language references
  src/Workspaces/Core/Portable/TemporaryStorage/TrivialTemporaryStorageService.cs
  src/Workspaces/CoreTest/WorkspaceTests/AdhocWorkspaceTests.cs
Labels: Area-IDE, VSCode

#79522 SemanticSearchService refactoring
  src/Dependencies/Collections/Extensions/FixedSizeArrayBuilder.cs
  src/Dependencies/Collections/Extensions/IListExtensions.cs
  src/EditorFeatures/Core/SemanticSearch/SemanticSearchEditorWorkspace.cs
  src/Features/CSharp/Portable/SemanticSearch/CSharpSemanticSearchService.cs
  src/Features/CSharp/Portable/SemanticSearch/CSharpSemanticSearchUtilities.cs
  src/Features/CSharpTest/SemanticSearch/CSharpSemanticSearchServiceTests.cs
  src/Features/CSharpTest/SemanticSearch/Mocks/MockSemanticSearchResultsObserver.cs
  src/Features/Core/Portable/FeaturesResources.resx
  src/Features/Core/Portable/SemanticSearch/AbstractSemanticSearchService.cs
  src/Features/Core/Portable/SemanticSearch/ExecuteQueryResult.cs
  src/Features/Core/Portable/SemanticSearch/IRemoteSemanticSearchService.cs
  src/Features/Core/Portable/SemanticSearch/ISemanticSearchQueryService.cs
  src/Features/Core/Portable/SemanticSearch/ISemanticSearchResultsObserver.cs
  src/Features/Core/Portable/SemanticSearch/ISemanticSearchSolutionService.cs
  src/Features/Core/Portable/SemanticSearch/QueryExecutionContext.cs
  src/Features/Core/Portable/SemanticSearch/QueryKind.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchDocumentSupportsFeatureService.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchProjectConfiguration.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchUtilities.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchWorkspace.cs
  src/Features/Core/Portable/SemanticSearch/Tools/ReferencingSyntaxFinder.cs
  src/Features/Core/Portable/SemanticSearch/Tools/SemanticModelGetter.cs
  src/Features/Core/Portable/xlf/FeaturesResources.cs.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.de.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.es.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.fr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.it.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ja.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ko.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pl.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.pt-BR.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.ru.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.tr.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hans.xlf
  src/Features/Core/Portable/xlf/FeaturesResources.zh-Hant.xlf
  src/Features/ExternalAccess/Copilot/Internal/SemanticSearch/CopilotSemanticSearchQueryExecutor.cs
  src/Features/ExternalAccess/Copilot/Internal/SemanticSearch/CopilotSemanticSearchQueryService.cs
  src/Features/ExternalAccess/Copilot/Internal/SemanticSearch/CopilotSemanticSearchSolutionService.cs
  src/Features/ExternalAccess/Copilot/InternalAPI.Unshipped.txt
  src/Features/ExternalAccess/Copilot/Microsoft.CodeAnalysis.ExternalAccess.Copilot.csproj
  src/Features/ExternalAccess/Copilot/SemanticSearch/CopilotSemanticSearchUtilities.cs
  src/Features/ExternalAccess/Copilot/SemanticSearch/ICopilotSemanticSearchQueryService.cs
  src/Features/ExternalAccess/Copilot/SemanticSearch/ICopilotSemanticSearchResultsObserver.cs
  src/Features/ExternalAccess/Copilot/SemanticSearch/ICopilotSemanticSearchSolutionService.cs
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchDocumentNavigationService.cs
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchQueryExecutor.cs
  src/VisualStudio/CSharp/Impl/SemanticSearch/SemanticSearchToolWindowImpl.cs
  src/VisualStudio/SemanticSearch/Microsoft.VisualStudio.LanguageServices.SemanticSearch.csproj
  src/Workspaces/Remote/ServiceHub/Services/BrokeredServiceBase.cs
  src/Workspaces/Remote/ServiceHub/Services/SemanticSearch/RemoteSemanticSearchService.cs
Labels: Area-IDE, VSCode

#79551 Modify LSP folding ranges to account for AutoCollapse
  src/LanguageServer/Protocol/Handler/FoldingRanges/FoldingRangesHandler.cs
  src/LanguageServer/ProtocolUnitTests/FoldingRanges/FoldingRangesTests.cs
Labels: Area-IDE, VSCode

#79277 Update debugger contracts to 18.0.0-beta.25353.1
  eng/Directory.Packages.props
  src/EditorFeatures/Core/EditAndContinue/Contracts/ContractWrappers.cs
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageServiceBridge.cs
  src/EditorFeatures/ExternalAccess/Debugger/GlassTestsHotReloadService.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueLanguageServiceTests.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/IManagedHotReloadLanguageService.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedHotReloadUpdates.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ProjectInstanceId.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/RunningProjectInfo.cs
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/IEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/ModuleUpdateStatus.cs
  src/Features/Core/Portable/EditAndContinue/Remote/IRemoteEditAndContinueService.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteDebuggingSessionProxy.cs
  src/Features/Core/Portable/EditAndContinue/RunningProjectInfo.cs
  src/Features/Core/Portable/EditAndContinue/RunningProjectOptions.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/UnitTestingHotReloadService.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/Features/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Test/EditAndContinue/EmitSolutionUpdateResultsTests.cs
  src/Features/Test/EditAndContinue/RemoteEditAndContinueServiceTests.cs
  src/Features/Test/EditAndContinue/WatchHotReloadServiceTests.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueWorkspaceTestBase.cs
  src/Features/TestUtilities/EditAndContinue/MockEditAndContinueService.cs
  src/VisualStudio/DevKit/Impl/EditAndContinue/ManagedHotReloadLanguageServiceBridge.cs
  src/Workspaces/Remote/Core/EditAndContinue/ManagedHotReloadLanguageService.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Infrastructure, VSCode

#78886 Add metadata documents to the MAS workspace upfront
  src/EditorFeatures/CSharpTest/PdbSourceDocument/AbstractPdbSourceDocumentTests.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/NullResultMetadataAsSourceFileProvider.cs
  src/EditorFeatures/CSharpTest/PdbSourceDocument/PdbSourceDocumentTests.cs
  src/Features/Core/Portable/MetadataAsSource/DecompilationMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/MetadataAsSource/IMetadataAsSourceFileProvider.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceFileService.cs
  src/Features/Core/Portable/MetadataAsSource/MetadataAsSourceGeneratedFileInfo.cs
  src/Features/Core/Portable/PdbSourceDocument/PdbSourceDocumentMetadataAsSourceFileProvider.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsWorkspaceProviderFactory.cs
  src/LanguageServer/Protocol.TestUtilities/LanguageServer/AbstractLanguageServerProtocolTests.cs
  src/LanguageServer/Protocol/Workspaces/ILspMiscellaneousFilesWorkspaceProvider.cs
  src/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspaceProvider.cs
  src/LanguageServer/Protocol/Workspaces/LspMiscellaneousFilesWorkspaceProviderFactory.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/LanguageServer/ProtocolUnitTests/Initialize/LocaleTests.cs
  src/LanguageServer/ProtocolUnitTests/LanguageServerTargetTests.cs
  src/LanguageServer/ProtocolUnitTests/LspServicesTests.cs
  src/LanguageServer/ProtocolUnitTests/Metadata/LspMetadataAsSourceWorkspaceTests.cs
Labels: Area-IDE, VSCode

#79428 Nullable extensions: Add assertion to AsMemberOfType and handle failures
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers, Feature - Extension Everything

#79588 Delay MatchesContainingTypeParameters check for extensions loaded from metadata
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PEMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers, Feature - Extension Everything

#79591 Reduce allocations during CommonCompletionItem.Create
  src/Features/Core/Portable/Common/TaggedText.cs
  src/Features/Core/Portable/Completion/CommonCompletionItem.cs
Labels: Area-IDE, VSCode

#79602 Fix eol handling on the last token in a file when formatting code actions
  src/Analyzers/CSharp/Tests/ImplementAbstractClass/ImplementAbstractClassTests.cs
  src/Analyzers/CSharp/Tests/ImplementInterface/ImplementInterfaceCodeFixTests.cs
  src/Analyzers/CSharp/Tests/PopulateSwitch/PopulateSwitchStatementTests_FixAllTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/GenerateType/GenerateTypeTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/InitializeParameter/InitializeMemberFromPrimaryConstructorParameterTests.cs
  src/EditorFeatures/CSharpTest/CodeActions/PullMemberUp/CSharpPullMemberUpTests.cs
  src/EditorFeatures/VisualBasicTest/ExtractMethod/ExtractMethodTests.LanguageInteraction.vb
  src/Features/CSharpTest/ConvertPrimaryToRegularConstructor/ConvertPrimaryToRegularConstructorTests.cs
  src/Features/CSharpTest/ExtractClass/ExtractClassTests.cs
  src/Features/CSharpTest/GenerateOverrides/GenerateOverridesTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Formatting/FormattingExtensions.cs
Labels: Area-IDE, VSCode

#79505 Baseline struct lifting tests
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncEHTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
Labels: Area-Compilers, Needs API Review, VSCode, Feature - Runtime Async

#79618 Generate semantic search ref assemblies package
  eng/config/PublishData.json
  src/Tools/SemanticSearch/ReferenceAssemblies/SemanticSearch.ReferenceAssemblies.csproj
Labels: Area-Infrastructure

#79507 Fix issue with source generator diagnostics not refreshing on save in…
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticsPullCache.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.CacheItem.cs
  src/LanguageServer/Protocol/Handler/PullHandlers/VersionedPullCache.cs
  src/LanguageServer/Protocol/Handler/SourceGenerators/SourceGeneratedDocumentCache.cs
  src/LanguageServer/Protocol/Handler/SpellCheck/SpellCheckPullCache.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/PullDiagnosticTests.cs
Labels: Area-IDE, VSCode

#79593 Refine Caching example
  docs/features/incremental-generators.md
Labels: Area-Compilers, Documentation, Community

#79347 Remove UI thread use of UIContext
  eng/Directory.Packages.props
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/VisualStudio/Core/Def/ProjectSystem/Legacy/AbstractLegacyProject_IVsReportExternalErrors.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl_SourceGenerators.cs
  src/VisualStudio/Core/Def/TaskList/ExternalErrorDiagnosticUpdateSource.cs
  src/VisualStudio/Core/Def/TaskList/ProjectExternalErrorReporter.cs
  src/VisualStudio/Core/Impl/ProjectSystem/CPS/CPSProject_ExternalErrorReporting.cs
  src/VisualStudio/Core/Test/Diagnostics/ExternalDiagnosticUpdateSourceTests.vb
  src/VisualStudio/TestUtilities2/CodeModel/CodeModelTestHelpers.vb
  src/VisualStudio/TestUtilities2/CodeModel/Mocks/MockVisualStudioWorkspace.vb
  src/VisualStudio/TestUtilities2/MockServiceBroker.vb
  src/VisualStudio/TestUtilities2/MockServiceProvider.vb
  src/VisualStudio/TestUtilities2/MockVsRunningDocumentTable.vb
  src/VisualStudio/TestUtilities2/ProjectSystemShim/Framework/TestEnvironment.vb
  src/VisualStudio/TestUtilities2/VisualStudioTestCompositions.vb
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
Labels: Area-IDE, VSCode

#79391 Remove most remaining workspace changed on UI thread
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/EditorFeatures/Core/Shared/Tagging/EventSources/TaggerEventSources.DocumentActiveContextChangedEventSource.cs
  src/EditorFeatures/Core/Tagging/ITaggerEventSource.cs
  src/Features/Core/Portable/Diagnostics/CodeAnalysisDiagnosticAnalyzerService.cs
  src/Features/Core/Portable/Diagnostics/IDiagnosticAnalyzerService.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceRegistrationService.cs
  src/VisualStudio/Core/Def/StackTraceExplorer/StackTraceExplorerViewModel.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/DiagnosticItem/CpsDiagnosticItemSource.cs
Labels: Area-IDE, VSCode

#79636 Fixup quick info for suppressed nullable operations.
  src/EditorFeatures/CSharpTest/QuickInfo/SemanticQuickInfoSourceTests.cs
  src/EditorFeatures/Test2/Workspaces/SymbolDescriptionServiceTests.vb
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/AbstractSymbolDisplayService.cs
  src/Features/Core/Portable/LanguageServices/SymbolDisplayService/ISymbolDisplayService.cs
  src/Features/Core/Portable/QuickInfo/CommonSemanticQuickInfoProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Services/SyntaxFacts/CSharpSyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFacts.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Services/SyntaxFacts/ISyntaxFactsExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/VisualBasic/Services/SyntaxFacts/VisualBasicSyntaxFacts.vb
Labels: Area-IDE, VSCode

#79421 File-based program directive diagnostics in editor
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/RunApiModels.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/VirtualProjectXmlDiagnosticSourceProvider.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/VirtualProjectXmlProvider.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectLoader.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerProjectSystem.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/IDiagnosticSource.cs
Labels: Area-IDE, VSCode

#79644 Pass in referenceAssembliesDir to ISemanticSearchSolutionService
  src/Features/Core/Portable/SemanticSearch/ISemanticSearchSolutionService.cs
  src/Features/Core/Portable/SemanticSearch/SemanticSearchWorkspace.cs
  src/Features/ExternalAccess/Copilot/Internal/SemanticSearch/CopilotSemanticSearchSolutionService.cs
  src/Features/ExternalAccess/Copilot/InternalAPI.Unshipped.txt
  src/Features/ExternalAccess/Copilot/SemanticSearch/ICopilotSemanticSearchSolutionService.cs
Labels: Area-IDE, VSCode

#79640 Fix logging when item counts change in LoadedProject
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LoadedProject.cs
Labels: Area-IDE, VSCode

#79668 Trap on-the-fly-doc exceptions in quick info
  src/EditorFeatures/Core/QuickInfo/OnTheFlyDocsView.xaml.cs
  src/EditorFeatures/Core/QuickInfo/OnTheFlyDocsViewFactory.cs
  src/Features/CSharp/Portable/QuickInfo/CSharpSemanticQuickInfoProvider.cs
  src/Features/CSharp/Portable/QuickInfo/OnTheFlyDocsUtilities.cs
  src/Features/Core/Portable/QuickInfo/OnTheFlyDocsInfo.cs
Labels: Area-IDE, VSCode

#79676 Enable View -> Stack Trace Explorer by default
  src/VisualStudio/Core/Def/Commands.vsct
Labels: Area-IDE, Community

#79680 Delete unused quick info code
  src/Features/CSharp/Portable/QuickInfo/CSharpQuickInfoSevice.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoServiceWithProviders.cs
  src/Features/VisualBasic/Portable/QuickInfo/VisualBasicQuickInfoService.vb
Labels: Area-IDE, VSCode

#79683 Fix extension-method add-import completion in syntactically ambiguous scenarios
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/Features/CSharp/Portable/Completion/CompletionProviders/ImportCompletion/ExtensionMethodImportCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/AbstractExtensionMethodImportCompletionProvider.cs
Labels: Area-IDE, VSCode

#79682 Recognize known `ToString` methods inside interpolation
  src/Analyzers/CSharp/Tests/SimplifyInterpolation/SimplifyInterpolationTests.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/SimplifyInterpolation/AbstractSimplifyInterpolationHelpers.cs
  src/Analyzers/Core/CodeFixes/SimplifyInterpolation/AbstractSimplifyInterpolationCodeFixProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Compilation/CompilationExtensions.cs
Labels: Area-IDE, Community, VSCode

#79208 Revert "Move methods back to a place where TypeScript can reference them
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Dependencies/Collections/Extensions/ImmutableArrayExtensions.cs
Labels: Area-IDE

#79628 Handle concurrent requests to update workspace contents and workspace SG info.
  src/EditorFeatures/Core/EditAndContinue/PdbMatchingSourceTextProvider.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueLanguageServiceTests.cs
  src/Features/Core/Portable/Completion/Providers/CompletionUtilities.cs
  src/LanguageServer/Protocol/Workspaces/LspWorkspaceManager.cs
  src/LanguageServer/ProtocolUnitTests/Workspaces/LspWorkspaceManagerTests.cs
  src/LanguageServer/ProtocolUnitTests/Workspaces/SourceGeneratedDocumentTests.cs
  src/Tools/ExternalAccess/Razor/Features/SolutionExtensions.cs
  src/VisualStudio/IntegrationTest/New.IntegrationTests/InProcess/ITextViewWindowVerifierInProcessExtensions.cs
  src/Workspaces/Core/Portable/CodeActions/Operations/ApplyChangesOperation.cs
  src/Workspaces/Core/Portable/ExternalAccess/UnitTesting/Api/UnitTestingSolutionExtensions.cs
  src/Workspaces/Core/Portable/Workspace/Solution/Solution.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionCompilationState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SolutionState.cs
  src/Workspaces/Core/Portable/Workspace/Solution/SourceGeneratorExecutionVersion.cs
  src/Workspaces/Core/Portable/Workspace/Workspace.cs
  src/Workspaces/CoreTest/SolutionTests/SolutionWithSourceGeneratorTests.cs
Labels: Area-IDE, VSCode

#79677 Razor span mapping in LSP for cohosting
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.cs
  src/LanguageServer/ProtocolUnitTests/Rename/RenameTests.cs
  src/Tools/ExternalAccess/Razor/Features/IRazorSourceGeneratedDocumentSpanMappingService.cs
  src/Tools/ExternalAccess/Razor/Features/RazorGeneratedDocumentIdentity.cs
  src/Tools/ExternalAccess/Razor/Features/RazorSourceGeneratedDocumentSpanMappingServiceWrapper.cs
  src/Tools/ExternalAccess/Razor/Features/RazorUri.cs
  src/Workspaces/Core/Portable/Workspace/Host/DocumentService/ISourceGeneratedDocumentSpanMappingService.cs
Labels: Area-IDE, VSCode

#79692 Add Copilot.EA IVT
  src/Features/ExternalAccess/Copilot/Microsoft.CodeAnalysis.ExternalAccess.Copilot.csproj
Labels: Area-IDE

#79691 Simplify determination of live vs. build diagnostics
  src/Compilers/Core/Portable/Diagnostic/WellKnownDiagnosticTags.cs
  src/LanguageServer/ExternalAccess/VisualDiagnostics/Internal/HotReloadDiagnosticSource.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/VirtualProjectXmlDiagnosticSourceProvider.cs
  src/LanguageServer/Protocol/Extensions/ProtocolConversions.Diagnostics.cs
  src/LanguageServer/Protocol/Features/EditAndContinue/EditAndContinueDiagnosticSource_OpenDocument.cs
  src/LanguageServer/Protocol/Features/EditAndContinue/EditAndContinueDiagnosticSource_Workspace.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/AbstractPullDiagnosticHandler.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSourceProviders/DiagnosticSourceManager.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractDocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractProjectDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/AbstractWorkspaceDocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/DocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/IDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/NonLocalDocumentDiagnosticSource.cs
  src/LanguageServer/Protocol/Handler/Diagnostics/DiagnosticSources/TaskListDiagnosticSource.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/AdditionalFileDiagnosticsTests.cs
  src/LanguageServer/ProtocolUnitTests/Diagnostics/DiagnosticsPullCacheTests.cs
  src/Tools/ExternalAccess/Razor/Features/Cohost/Handlers/Diagnostics.cs
  src/Tools/ExternalAccess/Xaml/Internal/XamlDiagnosticSource.cs
  src/Workspaces/Core/Portable/Diagnostics/DiagnosticData.cs
Labels: VSCode

#79557 Extensions: address instrumentation follow-ups
  src/Compilers/CSharp/Portable/BoundTree/BoundNodes.xml
  src/Compilers/CSharp/Portable/CodeGen/EmitExpression.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/DefiniteAssignment.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodBodyRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodReferenceRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/Instrumentation/LocalStateTracingInstrumenter.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Test/Emit/Emit/DynamicAnalysis/DynamicInstrumentationTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/LocalStateTracing/LocalStateTracingTests.cs
Labels: Area-Compilers, Feature - Extension Everything
