Repository dotnet/roslyn, pull requests merged in 2025-06, with the labels that each got.

#78787 Fixed crash in `RemoveUnnecessarySuppressions` caused by multi-variable declaration
  src/Analyzers/Core/Analyzers/RemoveUnnecessarySuppressions/AbstractRemoveUnnecessaryPragmaSuppressionsDiagnosticAnalyzer.cs
  src/Features/CSharpTest/Diagnostics/Suppression/RemoveUnnecessaryPragmaSuppressionsTests.cs
Labels: Area-Analyzers, Community, VSCode

#78788 Directly create virtual project when dotnet run-api is missing for now
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/VirtualProjectXmlProvider.cs
Labels: Area-IDE, VSCode

#78798 Add main to main-vs-deps flow
  .github/workflows/main-merge.yml
  eng/config/PublishData.json
  eng/config/branch-merge.jsonc
  eng/config/main-to-main-vs-deps-branch-merge.jsonc
Labels: Area-Infrastructure

#78706 Initial support for conditional logical binary extension operators
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Symbols/NamespaceSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78728 Improve applicability to receiver type check for extension binary operators
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78690 Extensions: mark skeleton type with 'specialname'
  src/Compilers/CSharp/Portable/Symbols/Metadata/PE/PENamedTypeSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceNamedTypeSymbol.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78685 Extensions: fix lowering of implicit conversion on receiver in pattern-based scenarios
  src/Compilers/CSharp/Portable/Binder/Binder.ValueChecks.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.PatternLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_Conversion.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Lowering/SyntheticBoundNodeFactory.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers, Feature - Extension Everything

#78774 Fix corruption of sliding text window when trying to peek backwards.
  src/Compilers/CSharp/Portable/Parser/Lexer.cs
  src/Compilers/CSharp/Portable/Parser/SlidingTextWindow.cs
  src/Compilers/CSharp/Test/Syntax/LexicalAndXml/LexicalTests.cs
  src/Compilers/CSharp/Test/Syntax/Resources.resx
  src/Compilers/Core/Portable/Syntax/SyntaxTreeExtensions.cs
Labels: Area-Compilers

#78744 EnC: Partial solution updates
  src/Features/Core/Portable/EditAndContinue/CommittedSolution.cs
  src/Features/Core/Portable/EditAndContinue/DebuggingSession.cs
  src/Features/Core/Portable/EditAndContinue/EditAndContinueDiagnosticDescriptors.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/ModuleUpdateStatus.cs
  src/Features/Core/Portable/EditAndContinue/PendingSolutionUpdate.cs
  src/Features/Core/Portable/EditAndContinue/Remote/RemoteDebuggingSessionProxy.cs
  src/Features/Core/Portable/EditAndContinue/SolutionUpdate.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/API/UnitTestingHotReloadService.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/Features/Test/EditAndContinue/EditAndContinueWorkspaceServiceTests.cs
  src/Features/Test/EditAndContinue/EmitSolutionUpdateResultsTests.cs
  src/Features/Test/EditAndContinue/WatchHotReloadServiceTests.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueWorkspaceTestBase.cs
  src/Workspaces/Remote/Core/EditAndContinue/ManagedHotReloadLanguageService.cs
  src/Workspaces/Remote/ServiceHub/Services/EditAndContinue/RemoteEditAndContinueService.cs
Labels: Area-Interactive, VSCode

#78819 Fix LSP references for using alias
  src/LanguageServer/Protocol/Handler/References/FindUsagesLSPContext.cs
  src/LanguageServer/ProtocolUnitTests/References/FindAllReferencesHandlerTests.cs
Labels: Area-IDE, VSCode

#78810 Initial support for `++`/`--` extension operators
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Statements.cs
  src/Compilers/CSharp/Portable/Binder/Binder_TupleOperators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/UnaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_UnaryOperator.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78834 Extensions: use specific tracking issues for different areas
  src/Compilers/CSharp/Portable/Binder/Binder_Expressions.cs
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolutionResult.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/OverloadResolution/OverloadResolution_ArgsToParameters.cs
  src/Compilers/CSharp/Portable/Compiler/MethodCompiler.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker_Patterns.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter.PatternLocalRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_FixedStatement.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ObjectOrCollectionInitializerExpression.cs
  src/Compilers/CSharp/Portable/Parser/LanguageParser.cs
  src/Compilers/CSharp/Portable/Symbols/MemberSymbolExtensions.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMemberContainerSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
Labels: Area-Compilers, Feature - Extension Everything

#78844 Don't output empty blank lines for ValueTypes in bound nodes
  src/Compilers/CSharp/Portable/Generated/BoundNodes.xml.Generated.cs
  src/Compilers/VisualBasic/Portable/Generated/BoundNodes.xml.Generated.vb
  src/Tools/Source/CompilerGeneratorTools/Source/BoundTreeGenerator/BoundNodeClassWriter.cs
Labels: Area-Compilers

#78832 Refactor binary operator binding in preparation for future work.
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Test/Emit3/Symbols/UserDefinedCompoundAssignmentOperatorsTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OperatorTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78842 Follow up on decisions for extension operators (LDM-2025-06-04)
  src/Compilers/CSharp/Portable/Binder/Semantics/Operators/BinaryOperatorOverloadResolution.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceUserDefinedOperatorSymbolBase.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78862 Switch to existing helpers for multi-dictionary use
  src/VisualStudio/Core/Impl/SolutionExplorer/SymbolTree/RootSymbolTreeItemSourceProvider.cs
Labels: Area-IDE

#78823 Fix await completion in an async iterator
  src/EditorFeatures/Test2/IntelliSense/CSharpCompletionCommandHandlerTests_AwaitCompletion.vb
  src/Features/CSharp/Portable/Completion/CompletionProviders/AwaitCompletionProvider.cs
  src/Features/Core/Portable/Completion/Providers/AbstractAwaitCompletionProvider.cs
Labels: Area-IDE, VSCode

#78679 Add CommandLineResource API
  src/Compilers/CSharp/Portable/CommandLine/CSharpCommandLineParser.cs
  src/Compilers/CSharp/Test/CommandLine/CommandLineTests.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineArguments.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineParser.cs
  src/Compilers/Core/Portable/CommandLine/CommandLineResource.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/VisualBasic/Portable/CommandLine/VisualBasicCommandLineParser.vb
  src/Compilers/VisualBasic/Test/CommandLine/CommandLineTests.vb
Labels: Area-Compilers, Needs API Review

#78890 Fix issue with not resetting valueLength
  src/LanguageServer/Protocol/Protocol/Internal/Converters/ImageElementConverter.cs
  src/LanguageServer/Protocol/Protocol/Internal/Converters/ImageIdConverter.cs
  src/LanguageServer/Protocol/Protocol/Internal/Converters/VSInternalExtensionUtilities.cs
Labels: Area-IDE, VSCode

#78907 Remove RemoteControl workaround
  src/VisualStudio/Core/Def/Storage/FileDownloader.cs
Labels: Area-IDE

#78902 Yield in task continuation to prevent stack overflow
  src/EditorFeatures/Core/IntelliSense/ModelComputation.cs
Labels: Area-IDE

#78909 Simplify workspace hookup in syntactic tagger
  src/EditorFeatures/Core/Classification/Semantic/EmbeddedLanguageClassificationViewTaggerProvider.cs
  src/EditorFeatures/Core/Classification/Semantic/SemanticClassificationViewTaggerProvider.cs
  src/EditorFeatures/Core/Classification/Syntactic/SyntacticClassificationTaggerProvider.TagComputer.cs
  src/EditorFeatures/Core/LineSeparators/LineSeparatorTaggerProvider.cs
  src/EditorFeatures/Core/Shared/Tagging/EventSources/TaggerEventSources.TextChangedEventSource.cs
Labels: Area-IDE

#78731 Update to using unbound nameof(X<>) expressions
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForBuilderDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForFluentDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/CSharpUseCollectionExpressionForNewDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Analyzers/UseCollectionExpression/UseCollectionExpressionHelpers.cs
  src/Analyzers/CSharp/Analyzers/UseIndexOrRangeOperator/CSharpUseRangeOperatorDiagnosticAnalyzer.InfoCache.cs
  src/Analyzers/CSharp/CodeFixes/MakeMethodAsynchronous/CSharpMakeMethodAsynchronousCodeFixProvider.cs
  src/Analyzers/CSharp/CodeFixes/UseUtf8StringLiteral/UseUtf8StringLiteralCodeFixProvider.cs
  src/Analyzers/Core/Analyzers/UseCoalesceExpression/AbstractUseCoalesceExpressionForNullableTernaryConditionalCheckDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/UpdateExpressionState.cs
  src/Analyzers/Core/Analyzers/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer.cs
  src/Analyzers/Core/CodeFixes/ForEachCast/AbstractForEachCastCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/GenerateParameterizedMember/AbstractGenerateMethodService.State.cs
  src/Analyzers/Core/CodeFixes/UseNullPropagation/AbstractUseNullPropagationCodeFixProvider.cs
  src/EditorFeatures/Core/Lightup/ISmartRenameSessionWrapper.cs
  src/EditorFeatures/TestUtilities/Diagnostics/DiagnosticTaggerWrapper.cs
  src/Features/CSharp/Portable/ConvertLinq/ConvertForEachToLinqQuery/ToToListConverter.cs
  src/Features/Core/Portable/GenerateComparisonOperators/GenerateComparisonOperatorsCodeRefactoringProvider.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/MethodHandlerDetails.cs
  src/LanguageServer/Microsoft.CommonLanguageServerProtocol.Framework/RequestExecutionQueue.cs
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/MetaAnalyzers/Helpers/DiagnosticWellKnownNames.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/AbstractApplyTraitToClass`1.cs
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/AbstractCreateTestAccessor`1.cs
  src/Tools/ExternalAccess/Extensions/Internal/ExtensionMessageHandlerWrapper.cs
  src/VisualStudio/CSharp/Test/CodeModel/AbstractFileCodeElementTests.cs
  src/Workspaces/CoreTest/UtilityTest/AsyncLazyTests.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/CSharp/Utilities/TypeStyle/CSharpUseImplicitTypeHelper.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/Utilities/ReferenceCountedDisposable.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Symbols/ITypeSymbolExtensions.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/CSharp/LanguageServices/CSharpTypeInferenceService.TypeInferrer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/SyntaxGeneratorExtensions.cs
Labels: Area-IDE, VSCode

#78733 Update code to use null propagation
  src/EditorFeatures/CSharpTest/CodeActions/GenerateEqualsAndGetHashCodeFromMembers/GenerateEqualsAndGetHashCodeFromMembersTests.cs
  src/EditorFeatures/Core/InlineRename/InlineRenameSession.cs
  src/EditorFeatures/Core/InlineRename/UI/Adornment/RenameFlyoutViewModel.cs
  src/EditorFeatures/Core/Shared/Utilities/CaretPreservingEditTransaction.cs
  src/EditorFeatures/Core/SignatureHelp/Presentation/SignatureHelpPresenter.SignatureHelpPresenterSession.cs
  src/EditorFeatures/DiagnosticsTestUtilities/CodeActions/AbstractCodeActionTest.cs
  src/Features/Core/Portable/GenerateOverrides/GenerateOverridesWithDialogCodeAction.cs
  src/Features/Core/Portable/QuickInfo/QuickInfoUtilities.cs
  src/Features/DiagnosticsTestUtilities/CodeActionsLegacy/AbstractCodeActionTest_NoEditor.cs
  src/Scripting/Core/ScriptBuilder.cs
  src/VisualStudio/Core/Def/InheritanceMargin/InheritanceMarginLogger.cs
  src/VisualStudio/Core/Def/Utilities/TaskItemsEnum.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/AnalyzersCommandHandler.cs
Labels: Area-IDE, VSCode

#78895 Fix issue serializing null options in VB
  src/Workspaces/VisualBasic/Portable/Serialization/VisualBasicOptionsSerializationService.vb
  src/Workspaces/VisualBasicTest/Serialization/OptionsSerializationTests.vb
Labels: Area-IDE, VSCode

#78910 Remove more workspace registration hookup code.
  src/EditorFeatures/Core/Suggestions/SuggestedActionsSource.State.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActionsSource.cs
  src/EditorFeatures/Core/Suggestions/SuggestedActionsSource_Async.cs
  src/EditorFeatures/Core/Tagging/AbstractAsynchronousTaggerProvider.TagSource.cs
Labels: Area-IDE

#78900 Inline Hints - do not allow double click for collection expression type hint
  src/EditorFeatures/Test2/InlineHints/CSharpInlineTypeHintsTests.vb
  src/Features/CSharp/Portable/InlineHints/CSharpInlineTypeHintsService.cs
Labels: Area-IDE, VSCode

#78908 Initial support for compound assignment expression utilizing extension operators
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_CompoundAssignmentOperator.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78929 Pass missing Hot Reload result properties
  src/EditorFeatures/Core/EditAndContinue/Contracts/ContractWrappers.cs
  src/Features/Core/Portable/Contracts/EditAndContinue/ManagedHotReloadUpdates.cs
  src/Workspaces/Remote/Core/EditAndContinue/ManagedHotReloadLanguageService.cs
Labels: Area-IDE, VSCode

#78950 Obsolete api
  src/VisualStudio/Core/Def/Progression/GraphNodeCreation.cs
Labels: Area-IDE

#78942 Support extension operators in Linq Expression Trees
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Lowering/DiagnosticsPass_ExpressionTrees.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodBodyRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/ExtensionMethodReferenceRewriter.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78923 Add a layer of constraint filtering for 'add import for extension methods' completion.
  src/EditorFeatures/CSharpTest/Completion/CompletionProviders/ExtensionMethodImportCompletionProviderTests.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.SymbolComputer.cs
  src/Features/Core/Portable/Completion/Providers/ImportCompletionProvider/ExtensionMethodImportCompletionHelper.SymbolComputer_Constraints.cs
Labels: Area-IDE, VSCode

#78813 Expose `IsIterator` as a public API
  src/Compilers/CSharp/Portable/Symbols/PublicModel/MethodSymbol.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/IteratorTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/Core/Portable/PublicAPI.Unshipped.txt
  src/Compilers/Core/Portable/Symbols/IMethodSymbol.cs
  src/Compilers/VisualBasic/Portable/Symbols/MethodSymbol.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/IteratorTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/LambdaTests.vb
  src/Features/Core/Portable/MetadataAsSource/AbstractMetadataAsSourceService.WrappedMethodSymbol.cs
  src/Tools/SemanticSearch/ReferenceAssemblies/Apis/Microsoft.CodeAnalysis.txt
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeGeneration/Symbols/CodeGenerationAbstractMethodSymbol.cs
Labels: Area-Compilers, Community, Needs API Review, VSCode

#78969 Do not make unnecessarily simplification changes in sync-namespace.
  src/EditorFeatures/CSharpTest/CodeActions/SyncNamespace/SyncNamespaceTests_ChangeNamespace.cs
  src/Features/CSharp/Portable/CodeRefactorings/SyncNamespace/CSharpChangeNamespaceService.cs
  src/Features/CSharp/Portable/CodeRefactorings/SyncNamespace/CSharpSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractChangeNamespaceService.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/AbstractSyncNamespaceCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/SyncNamespace/LocationForAffectedSymbol.cs
  src/Features/VisualBasic/Portable/CodeRefactorings/SyncNamespace/VisualBasicChangeNamespaceService.vb
  src/Workspaces/CSharp/Portable/Simplification/Reducers/CSharpNameReducer.cs
  src/Workspaces/Core/Portable/ChangeNamespace/IChangeNamespaceService.cs
  src/Workspaces/VisualBasic/Portable/Simplification/Reducers/VisualBasicNameReducer.vb
  src/Workspaces/VisualBasic/Portable/Simplification/Simplifiers/ExpressionSimplifier.vb
Labels: Area-IDE, VSCode

#78949 Expose a couple of things to Razor
  src/Tools/ExternalAccess/Razor/Features/Constants.cs
  src/Tools/ExternalAccess/Razor/Features/RazorCSharpFormattingInteractionService.cs
  src/Tools/ExternalAccess/Razor/Features/RazorCSharpSyntaxFormattingOptions.cs
Labels: Area-IDE

#78953 Use static extension operators regardless of LangVer
  src/Compilers/CSharp/Portable/Binder/Binder_Operators.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#78958 Delete unused package references
  eng/Directory.Packages.props
  eng/config/globalconfigs/Common.globalconfig
  eng/targets/Settings.props
  src/Compilers/Test/Core/Traits/Traits.cs
  src/VisualStudio/Core/Def/Microsoft.VisualStudio.LanguageServices.csproj
  src/VisualStudio/Core/Test/Microsoft.VisualStudio.LanguageServices.UnitTests.vbproj
  src/VisualStudio/LiveShare/Impl/Microsoft.VisualStudio.LanguageServices.LiveShare.csproj
Labels: Area-Infrastructure

#78796 Second attempt at updating versions
  azure-pipelines-integration.yml
  azure-pipelines.yml
  eng/Directory.Packages.props
  eng/Versions.props
  src/EditorFeatures/Test/Formatting/InferredIndentationTests.cs
  src/EditorFeatures/TestUtilities/Workspaces/TestWorkspaceFixture.cs
  src/Setup/DevDivInsertionFiles/DevDivInsertionFiles.csproj
  src/Tools/BuildActionTelemetryTable/BuildActionTelemetryTable.csproj
  src/VisualStudio/CSharp/Test/CallHierarchy/CSharpCallHierarchyTests.cs
  src/VisualStudio/Core/Def/CallHierarchy/CallHierarchyProvider.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.cs
  src/VisualStudio/Setup.Dependencies/Roslyn.VisualStudio.Setup.Dependencies.csproj
  src/VisualStudio/TestUtilities2/MockServiceProvider.vb
  src/VisualStudio/TestUtilities2/MockVsRunningDocumentTable.vb
  src/Workspaces/CoreTestUtilities/MEF/UseExportProviderAttribute.cs
  src/Workspaces/CoreTestUtilities/TestExportJoinableTaskContext.cs
Labels: Area-Infrastructure, VSCode

#78972 Fix locating startup objects
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpEntryPointFinder.cs
  src/VisualStudio/CSharp/Impl/ProjectSystemShim/CSharpEntryPointFinderService.cs
  src/VisualStudio/Core/Def/ProjectSystem/AbstractEntryPointFinderService.cs
  src/VisualStudio/Core/Def/ProjectSystem/IEntryPointFinderService.cs
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicEntryPointFinder.vb
  src/VisualStudio/VisualBasic/Impl/ProjectSystemShim/VisualBasicEntryPointFinderService.vb
Labels: Area-IDE

#77311 Support IsActiveDocument in RoslynCodeSearchResult
  eng/Directory.Packages.props
  src/EditorFeatures/CSharpTest/NavigateTo/NavigateToSearcherTests.cs
  src/EditorFeatures/Core/NavigateTo/NavigateToItemProvider.Callback.cs
  src/Features/Core/Portable/NavigateTo/AbstractNavigateToSearchService.NormalSearch.cs
  src/Features/Core/Portable/NavigateTo/INavigateToSearchCallback.cs
  src/Features/Core/Portable/NavigateTo/NavigateToSearcher.cs
  src/Features/ExternalAccess/OmniSharp/NavigateTo/OmniSharpNavigateToSearchService.cs
  src/LanguageServer/Protocol/Handler/Symbols/WorkspaceSymbolsHandler.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynCodeSearchResult.cs
  src/VisualStudio/Core/Def/NavigateTo/RoslynNavigateToSearchCallback.cs
  src/VisualStudio/Core/Impl/SolutionExplorer/Search/RoslynSolutionExplorerSearchProvider.cs
Labels: Area-IDE, untriaged, VSCode

#78989 Fix SubText ctor parameter verification.
  src/Compilers/Core/CodeAnalysisTest/Text/TextChangeTests.cs
  src/Compilers/Core/Portable/Text/SubText.cs
Labels: Area-Compilers

#78926 Fix nullable analysis involving extensions and collection expressions
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.DebugVerifier.cs
  src/Compilers/CSharp/Portable/FlowAnalysis/NullableWalker.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/CollectionExpressionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Labels: Area-Compilers, Feature - Collection Expressions

#78905 Move tracking of builds to unit-test solution crawler code
  src/EditorFeatures/Core/Remote/SolutionChecksumUpdater.cs
  src/EditorFeatures/TestUtilities/EditorTestCompositions.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/Notification/AbstractGlobalOperationNotificationService.GlobalOperationRegistration.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/Notification/AbstractGlobalOperationNotificationService.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/Notification/IGlobalOperationNotificationService.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingGlobalOperationAwareIdleProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.AbstractUnitTestingPriorityProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.UnitTestingIncrementalAnalyzerProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.UnitTestingLowPriorityProcessor.cs
  src/Features/Core/Portable/ExternalAccess/UnitTesting/SolutionCrawler/UnitTestingWorkCoordinator.UnitTestingNormalPriorityProcessor.cs
  src/VisualStudio/Core/Def/ExternalAccess/UnitTesting/SolutionEventMonitor.cs
  src/VisualStudio/Core/Def/ExternalAccess/UnitTesting/VisualStudioGlobalOperationNotificationService.cs
  src/VisualStudio/Core/Def/Notification/VisualStudioGlobalOperationNotificationService.cs
  src/VisualStudio/Core/Def/RoslynPackage.cs
Labels: Area-IDE, VSCode

#79025 Avoid acquiring the workspace lock on the UI thread if unneeded
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
Labels: Area-IDE

#78992 Update 'use null propagation' to understand more patterns
  src/Analyzers/CSharp/Analyzers/UseNullPropagation/CSharpUseNullPropagationDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/CodeFixes/UseNullPropagation/CSharpUseNullPropagationCodeFixProvider.cs
  src/Analyzers/CSharp/Tests/UseNullPropagation/UseNullPropagationTests.cs
  src/Analyzers/Core/Analyzers/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer.cs
  src/Analyzers/Core/Analyzers/UseNullPropagation/AbstractUseNullPropagationDiagnosticAnalyzer_IfStatement.cs
  src/Analyzers/Core/CodeFixes/UseNullPropagation/AbstractUseNullPropagationCodeFixProvider.cs
  src/Analyzers/VisualBasic/Analyzers/UseNullPropagation/VisualBasicUseNullPropagationDiagnosticAnalyzer.vb
  src/Analyzers/VisualBasic/CodeFixes/UseNullPropagation/VisualBasicUseNullPropagationCodeFixProvider.vb
Labels: Area-IDE, VSCode

#78794 Implement the editor's new 'speculative edit' api to allow copilot suggestions to be classified accurately with Roslyn.
  eng/Directory.Packages.props
  src/EditorFeatures/Core/Microsoft.CodeAnalysis.EditorFeatures.csproj
  src/EditorFeatures/Core/SpeculativeEdits/RoslynSpeculativeEditProvider.cs
Labels: Area-Infrastructure, VSCode

#79032 Unify roslyn analyzers on a single version
  eng/Versions.props
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.AnalyzerUtilities/Microsoft.CodeAnalysis.AnalyzerUtilities.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/Microsoft.CodeAnalysis.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/Microsoft.CodeAnalysis.Analyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/UnitTests/Microsoft.CodeAnalysis.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/CSharp/Microsoft.CodeAnalysis.CSharp.BannedApiAnalyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/Core/Microsoft.CodeAnalysis.BannedApiAnalyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/UnitTests/Microsoft.CodeAnalysis.BannedApiAnalyzers.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.BannedApiAnalyzers/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.BannedApiAnalyzers.vbproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.VisualBasic/Microsoft.CodeAnalysis.ResxSourceGenerator.VisualBasic.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.csproj
  src/RoslynAnalyzers/NuGet/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.Package.csproj
  src/RoslynAnalyzers/NuGet/Microsoft.CodeAnalysis.Metrics/Microsoft.CodeAnalysis.Metrics.Package.csproj
  src/RoslynAnalyzers/NuGet/Microsoft.CodeAnalysis.RulesetToEditorconfigConverter/Microsoft.CodeAnalysis.RulesetToEditorconfigConverter.Package.csproj
  src/RoslynAnalyzers/NuGet/Roslyn.Diagnostics.Analyzers/Roslyn.Diagnostics.Analyzers.Package.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/CSharp/Analyzers/Microsoft.CodeAnalysis.CSharp.PerformanceSensitiveAnalyzers.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/CSharp/CodeFixes/Microsoft.CodeAnalysis.CSharp.PerformanceSensitiveAnalyzers.CodeFixes.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/Core/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.csproj
  src/RoslynAnalyzers/PerformanceSensitiveAnalyzers/UnitTests/Microsoft.CodeAnalysis.PerformanceSensitiveAnalyzers.UnitTests.csproj
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.Impl.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/Analyzers/DeclarePublicApiAnalyzer.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/Analyzers/Microsoft.CodeAnalysis.PublicApiAnalyzers.csproj
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/AnnotatePublicApiFix.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/DeclarePublicApiFix.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/Microsoft.CodeAnalysis.PublicApiAnalyzers.CodeFixes.csproj
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/NullableEnablePublicApiFix.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/Core/CodeFixes/PublicApiFixHelpers.cs
  src/RoslynAnalyzers/PublicApiAnalyzers/UnitTests/Microsoft.CodeAnalysis.PublicApiAnalyzers.UnitTests.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/Roslyn.Diagnostics.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/Roslyn.Diagnostics.Analyzers.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/UnitTests/Roslyn.Diagnostics.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/Roslyn.Diagnostics.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Test.Utilities/Test.Utilities.csproj
  src/RoslynAnalyzers/Text.Analyzers/CSharp/Text.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Text.Analyzers/Core/Text.Analyzers.csproj
  src/RoslynAnalyzers/Text.Analyzers/UnitTests/Text.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Text.Analyzers/VisualBasic/Text.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Tools/GenerateDocumentationAndConfigFiles/GenerateDocumentationAndConfigFiles.csproj
  src/RoslynAnalyzers/Tools/GenerateDocumentationAndConfigFilesForBrokenRuntime/GenerateDocumentationAndConfigFilesForBrokenRuntime.csproj
  src/RoslynAnalyzers/Tools/Metrics.Legacy/Metrics.Legacy.csproj
  src/RoslynAnalyzers/Tools/Metrics/Metrics.csproj
  src/RoslynAnalyzers/Tools/RulesetToEditorconfigConverter/Source/RulesetToEditorconfigConverter.csproj
  src/RoslynAnalyzers/Tools/RulesetToEditorconfigConverter/Tests/RulesetToEditorconfigConverter.UnitTests.csproj
  src/RoslynAnalyzers/Utilities.UnitTests/Analyzer.Utilities.UnitTests.csproj
  src/RoslynAnalyzers/Utilities.UnitTests/Lightup/LightupHelpersTests.cs
  src/RoslynAnalyzers/Utilities/Compiler/Analyzer.Utilities.projitems
  src/RoslynAnalyzers/Utilities/Compiler/Extensions/IOperationExtensions.cs
  src/RoslynAnalyzers/Utilities/Workspaces/SyntaxGeneratorExtensions.cs
Labels: Area-Infrastructure

#79018 Fix a couple of issues with committing and diagnostic reporting
  src/EditorFeatures/Core/EditAndContinue/EditAndContinueLanguageService.cs
  src/EditorFeatures/Test/EditAndContinue/EditAndContinueLanguageServiceTests.cs
  src/Features/Core/Portable/EditAndContinue/EditSession.cs
  src/Features/Core/Portable/EditAndContinue/EmitSolutionUpdateResults.cs
  src/Features/Core/Portable/EditAndContinue/Utilities/Extensions.cs
  src/Features/Core/Portable/ExternalAccess/Watch/Api/WatchHotReloadService.cs
  src/Features/Test/EditAndContinue/WatchHotReloadServiceTests.cs
  src/Features/TestUtilities/EditAndContinue/EditAndContinueWorkspaceTestBase.cs
Labels: Area-Interactive, VSCode

#78904 The LSIF experiment has been abandoned. Removing our code.
  Roslyn.sln
  src/Features/Lsif/Directory.Build.props
  src/Features/Lsif/Generator/.editorconfig
  src/Features/Lsif/Generator/App.config
  src/Features/Lsif/Generator/CompilerInvocation.cs
  src/Features/Lsif/Generator/Composition.cs
  src/Features/Lsif/Generator/Generator.cs
  src/Features/Lsif/Generator/GeneratorOptions.cs
  src/Features/Lsif/Generator/Graph/Capabilities.cs
  src/Features/Lsif/Generator/Graph/DefinitionRangeTag.cs
  src/Features/Lsif/Generator/Graph/DefinitionResult.cs
  src/Features/Lsif/Generator/Graph/DocumentSymbolResult.cs
  src/Features/Lsif/Generator/Graph/Edge.cs
  src/Features/Lsif/Generator/Graph/Element.cs
  src/Features/Lsif/Generator/Graph/Event.cs
  src/Features/Lsif/Generator/Graph/FoldingRangeResult.cs
  src/Features/Lsif/Generator/Graph/HoverResult.cs
  src/Features/Lsif/Generator/Graph/Id.cs
  src/Features/Lsif/Generator/Graph/IdFactory.cs
  src/Features/Lsif/Generator/Graph/Item.cs
  src/Features/Lsif/Generator/Graph/LsifDocument.cs
  src/Features/Lsif/Generator/Graph/LsifProject.cs
  src/Features/Lsif/Generator/Graph/Moniker.cs
  src/Features/Lsif/Generator/Graph/Range.cs
  src/Features/Lsif/Generator/Graph/RangeBasedDocumentSymbol.cs
  src/Features/Lsif/Generator/Graph/RangeTag.cs
  src/Features/Lsif/Generator/Graph/ReferenceResult.cs
  src/Features/Lsif/Generator/Graph/ResultSet.cs
  src/Features/Lsif/Generator/Graph/SemanticTokensCapabilities.cs
  src/Features/Lsif/Generator/Graph/SemanticTokensResult.cs
  src/Features/Lsif/Generator/Graph/Vertex.cs
  src/Features/Lsif/Generator/Logging/LsifFormatLogger.cs
  src/Features/Lsif/Generator/Logging/PlainTextLogger.cs
  src/Features/Lsif/Generator/Microsoft.CodeAnalysis.LanguageServerIndexFormat.Generator.csproj
  src/Features/Lsif/Generator/Program.cs
  src/Features/Lsif/Generator/README.md
  src/Features/Lsif/Generator/ResultSetTracking/DelegatingResultSetTracker.cs
  src/Features/Lsif/Generator/ResultSetTracking/IResultSetTracker.cs
  src/Features/Lsif/Generator/ResultSetTracking/IResultSetTrackerExtensions.cs
  src/Features/Lsif/Generator/ResultSetTracking/SymbolHoldingResultSetTracker.cs
  src/Features/Lsif/Generator/Utilities.cs
  src/Features/Lsif/Generator/Writing/BatchingLsifJsonWriter.cs
  src/Features/Lsif/Generator/Writing/ILsifJsonWriter.cs
  src/Features/Lsif/Generator/Writing/JsonModeLsifJsonWriter.cs
  src/Features/Lsif/Generator/Writing/LineModeLsifJsonWriter.cs
  src/Features/Lsif/Generator/Writing/LsifConverter.cs
  src/Features/Lsif/Generator/Writing/LsifFormat.cs
  src/Features/Lsif/GeneratorTest/CompilerInvocationTests.vb
  src/Features/Lsif/GeneratorTest/DocumentSymbolTests.vb
  src/Features/Lsif/GeneratorTest/FoldingRangeTests.vb
  src/Features/Lsif/GeneratorTest/HoverTests.vb
  src/Features/Lsif/GeneratorTest/LsifFormatLoggerTests.vb
  src/Features/Lsif/GeneratorTest/Microsoft.CodeAnalysis.LanguageServerIndexFormat.Generator.UnitTests.vbproj
  src/Features/Lsif/GeneratorTest/OutputFormatTests.vb
  src/Features/Lsif/GeneratorTest/ProjectStructureTests.vb
  src/Features/Lsif/GeneratorTest/RangeResultSetTests.vb
  src/Features/Lsif/GeneratorTest/SemanticTokensTests.vb
  src/Features/Lsif/GeneratorTest/Utilities/TestLsifJsonWriter.vb
  src/Features/Lsif/GeneratorTest/Utilities/TestLsifOutput.vb
Labels: Area-IDE, VSCode

#79042 Revert "Avoid acquiring the workspace lock on the UI thread if unneeded (#79025)"
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
Labels: Area-IDE

#78852 Razor assembly redirector
  src/Compilers/Core/Portable/CodeAnalysisEventSource.Common.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/Utilities/LanguageServerTestComposition.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/HostDiagnosticAnalyzerProvider.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/LanguageServerWorkspaceFactory.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/Program.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/ServerConfigurationFactory.cs
  src/Tools/ExternalAccess/Razor/Features/RazorAnalyzerAssemblyRedirector.cs
  src/VisualStudio/Core/Def/Diagnostics/VisualStudioDiagnosticAnalyzerProvider.cs
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioProjectFactory.cs
  src/VisualStudio/Core/Test/Diagnostics/VisualStudioDiagnosticAnalyzerProviderTests.vb
  src/VisualStudio/Core/Test/ProjectSystemShim/VisualStudioProjectTests/AnalyzerReferenceTests.vb
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/IHostDiagnosticAnalyzerProvider.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProject.cs
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/ProjectSystemProjectHostInfo.cs
Labels: VSCode

#79021 Extensions: allow extern and disallow in nameof
  src/Compilers/CSharp/Portable/Binder/Binder_Invocation.cs
  src/Compilers/CSharp/Portable/CSharpResources.resx
  src/Compilers/CSharp/Portable/Emitter/Model/MethodSymbolAdapter.cs
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Portable/Errors/ErrorFacts.cs
  src/Compilers/CSharp/Portable/Symbols/Extensions/SourceExtensionImplementationMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceMethodSymbolWithAttributes.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourceOrdinaryMethodSymbol.cs
  src/Compilers/CSharp/Portable/Symbols/Source/SourcePropertySymbol.cs
  src/Compilers/CSharp/Portable/xlf/CSharpResources.cs.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.de.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.es.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.fr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.it.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ja.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ko.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pl.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.pt-BR.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.ru.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.tr.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hans.xlf
  src/Compilers/CSharp/Portable/xlf/CSharpResources.zh-Hant.xlf
  src/Compilers/CSharp/Test/Emit3/Attributes/AttributeTests_WellKnownAttributes.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests2.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LambdaTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/LocalFunctionTests.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/OverloadResolutionTests.cs
  src/Compilers/CSharp/Test/Symbol/Symbols/SymbolErrorTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79060 Do not offer add parameter on a type that cannot become a parameter
  src/Features/CSharpTest/IntroduceParameter/IntroduceParameterTests.cs
  src/Features/CSharpTest/IntroduceVariable/IntroduceVariableTests.cs
  src/Features/Core/Portable/IntroduceParameter/AbstractIntroduceParameterCodeRefactoringProvider.cs
Labels: Area-IDE, VSCode

#79061 Tweaks to existing "copilot completions" processing code to get it ready for auto-fixing copilot suggestions.
  src/EditorFeatures/Core/Copilot/CopilotEditorUtilities.cs
  src/EditorFeatures/Core/Copilot/CopilotWpfTextCreationListener.cs
  src/EditorFeatures/Core/ExternalAccess/UnitTestGenerator/Api/UnitTestGeneratorAddMissingImportsFeatureServiceAccessor.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportCodeFixProvider.cs
  src/Features/Core/Portable/AddImport/AbstractAddImportFeatureService.cs
  src/Features/Core/Portable/AddImport/AddImportOptions.cs
  src/Features/Core/Portable/AddImport/References/AssemblyReference.cs
  src/Features/Core/Portable/AddImport/References/PackageReference.cs
  src/Features/Core/Portable/AddImport/References/Reference.cs
  src/Features/Core/Portable/AddImport/References/SymbolReference.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsFeatureService.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/AbstractAddMissingImportsRefactoringProvider.cs
  src/Features/Core/Portable/CodeRefactorings/AddMissingImports/IAddMissingImportsFeatureService.cs
  src/Features/Core/Portable/Copilot/CopilotChangeAnalysisUtilities.cs
  src/Features/Core/Portable/Copilot/CopilotUtilities.cs
  src/Features/Core/Portable/Copilot/ICopilotChangeAnalysisService.cs
  src/Features/Core/Portable/Copilot/IRemoteCopilotChangeAnalysisService.cs
  src/Features/ExternalAccess/Copilot/Analyzer/CopilotAnalysisUtilities.cs
Labels: Area-IDE, VSCode

#79062 Preserve trailing directives when converting a Program.Main program to top level statements.
  src/Features/CSharp/Portable/ConvertProgram/ConvertProgramTransform_TopLevelStatements.cs
  src/Features/CSharpTest/ConvertProgram/ConvertToTopLevelStatementsRefactoringTests.cs
Labels: Area-IDE, VSCode

#79050 Allow Razor to configure source generator execution in tests
  src/Tools/ExternalAccess/Razor/Features/Testing/TestRoslynOptionsHelper.cs
Labels: Area-IDE

#78880 Address feedback from #78648
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer.UnitTests/VirtualProjectXmlProviderTests.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/DotnetCliHelper.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/FileBasedProgramsProjectSystem.cs
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/FileBasedPrograms/VirtualProjectXmlProvider.cs
Labels: Area-Infrastructure, VSCode

#79070 Fix roslyn test modifiers in semantic tokens
  src/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensHelpers.cs
  src/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensSchema.cs
  src/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensRangeTests.cs
  src/LanguageServer/ProtocolUnitTests/SemanticTokens/SemanticTokensSchemaTests.cs
Labels: Area-IDE, VSCode

#79105 Fix unnecessary dictionary allocations in semantic token classification
  src/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensSchema.cs
Labels: Area-IDE, VSCode

#79107 Merge main
  src/LanguageServer/Protocol/Handler/SemanticTokens/SemanticTokensSchema.cs
Labels: VSCode

#79048 Ensure the LSP server is loaded after a solution is closed
  src/EditorFeatures/Core/LanguageServer/AbstractInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/AlwaysActiveLanguageClientEventListener.cs
Labels: Area-IDE

#79108 Improve performance of fix all that only changes syntax
  src/Analyzers/Core/CodeFixes/Formatting/FormattingCodeFixProvider.cs
  src/Analyzers/Core/CodeFixes/UpgradeProject/AbstractUpgradeProjectCodeFixProvider.cs
  src/EditorFeatures/Core/Suggestions/FixAll/FixMultipleOccurrencesService.cs
  src/EditorFeatures/Core/Suggestions/RefineUsingCopilot/RefineUsingCopilotCodeAction.cs
  src/EditorFeatures/Test/CodeFixes/CodeFixServiceTests.cs
  src/EditorFeatures/Test/CodeRefactorings/CodeRefactoringServiceTest.cs
  src/Features/CSharp/Portable/CodeRefactorings/EnableNullable/EnableNullableCodeRefactoringProvider.FixAllProvider.cs
  src/Features/CSharp/Portable/CodeRefactorings/EnableNullable/EnableNullableCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/CodeFixes/FixAllOccurrences/FixMultipleCodeAction.cs
  src/Features/Core/Portable/CodeFixes/Suppression/AbstractSuppressionCodeFixProvider.GlobalSuppressMessageFixAllCodeAction.cs
  src/Features/Core/Portable/CodeFixesAndRefactorings/AbstractFixAllCodeAction.cs
  src/Features/Core/Portable/CodeFixesAndRefactorings/AbstractFixAllGetFixesService.cs
  src/Features/Core/Portable/OrganizeImports/OrganizeImportsCodeRefactoringProvider.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction.cs
  src/Workspaces/Core/Portable/CodeActions/CodeAction_Cleanup.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/BatchFixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixes/FixAllOccurrences/FixAllProvider.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/DefaultFixAllProviderHelpers.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/DocumentBasedFixAllProviderHelpers.cs
  src/Workspaces/Core/Portable/CodeFixesAndRefactorings/IFixAllProvider.cs
  src/Workspaces/Core/Portable/CodeRefactorings/FixAllOccurences/FixAllProvider.cs
  src/Workspaces/Core/Portable/CodeRefactorings/SyntaxEditorBasedCodeRefactoringProvider.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/CodeFixes/SyntaxEditorBasedCodeFixProvider.cs
Labels: Area-IDE, VSCode

#78790 Keep parse options in the result of `SyntaxFactory.Parse*` methods
  eng/config/BannedSymbols.txt
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxNode.cs
  src/Compilers/CSharp/Portable/Syntax/CSharpSyntaxTree.cs
  src/Compilers/CSharp/Portable/Syntax/SyntaxFactory.cs
  src/Compilers/CSharp/Test/Semantic/Semantics/SyntaxTreeRootTests.cs
  src/Compilers/CSharp/Test/Syntax/Syntax/SyntaxFactoryTests.cs
  src/Compilers/VisualBasic/Portable/Parser/Parser.vb
  src/Compilers/VisualBasic/Portable/Syntax/SyntaxNodeFactories.vb
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxNode.vb
  src/Compilers/VisualBasic/Portable/Syntax/VisualBasicSyntaxTree.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/ScriptSemanticsTests.vb
  src/Compilers/VisualBasic/Test/Semantic/Semantics/SyntaxTreeRootTests.vb
  src/Compilers/VisualBasic/Test/Syntax/Syntax/SyntaxFactoryTests.vb
Labels: Area-Compilers, Community

#78773 Exception Handler support
  src/Compilers/CSharp/Portable/Binder/ForEachLoopBinder.cs
  src/Compilers/CSharp/Portable/BoundTree/BoundAwaitableInfo.cs
  src/Compilers/CSharp/Portable/CodeGen/CodeGenerator.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/AsyncExceptionHandlerRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/AsyncRewriter/RuntimeAsyncRewriter.cs
  src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_ForEachStatement.cs
  src/Compilers/CSharp/Portable/Lowering/SpillSequenceSpiller.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncEHTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncIteratorTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncLocalsTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncSpillTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAsyncTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitForeachTests.cs
  src/Compilers/CSharp/Test/Emit/CodeGen/CodeGenAwaitUsingTests.cs
  src/Compilers/CSharp/Test/Emit2/Emit/EditAndContinue/EditAndContinueStateMachineTests.cs
  src/Compilers/CSharp/Test/Emit2/PDB/PDBAsyncTests.cs
Labels: Area-Compilers, Feature - Runtime Async

#79125 Revert "Ensure the LSP server is loaded after a solution is closed"
  src/EditorFeatures/Core/LanguageServer/AbstractInProcLanguageClient.cs
  src/EditorFeatures/Core/LanguageServer/AlwaysActiveLanguageClientEventListener.cs
Labels: Area-IDE

#79128 Clear provider on disposal
  src/LanguageServer/Microsoft.CodeAnalysis.LanguageServer/HostWorkspace/Razor/RazorDynamicFileInfoProvider.cs
Labels: Area-IDE, VSCode

#79119 Use ProjectReferences in source build
  src/RoslynAnalyzers/Directory.Build.props
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.AnalyzerUtilities/Microsoft.CodeAnalysis.AnalyzerUtilities.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/CSharp/Microsoft.CodeAnalysis.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/Core/Microsoft.CodeAnalysis.Analyzers.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/UnitTests/Microsoft.CodeAnalysis.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.Analyzers/VisualBasic/Microsoft.CodeAnalysis.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp/Microsoft.CodeAnalysis.ResxSourceGenerator.CSharp.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests/Microsoft.CodeAnalysis.ResxSourceGenerator.UnitTests.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.VisualBasic/Microsoft.CodeAnalysis.ResxSourceGenerator.VisualBasic.csproj
  src/RoslynAnalyzers/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator/Microsoft.CodeAnalysis.ResxSourceGenerator.csproj
  src/RoslynAnalyzers/NuGet/Microsoft.CodeAnalysis.Analyzers/Microsoft.CodeAnalysis.Analyzers.Package.csproj
  src/RoslynAnalyzers/NuGet/Roslyn.Diagnostics.Analyzers/Roslyn.Diagnostics.Analyzers.Package.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/CSharp/Roslyn.Diagnostics.CSharp.Analyzers.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/Core/Roslyn.Diagnostics.Analyzers.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/UnitTests/Roslyn.Diagnostics.Analyzers.UnitTests.csproj
  src/RoslynAnalyzers/Roslyn.Diagnostics.Analyzers/VisualBasic/Roslyn.Diagnostics.VisualBasic.Analyzers.vbproj
  src/RoslynAnalyzers/Tools/GenerateDocumentationAndConfigFiles/GenerateDocumentationAndConfigFiles.csproj
  src/RoslynAnalyzers/Tools/GenerateDocumentationAndConfigFilesForBrokenRuntime/GenerateDocumentationAndConfigFilesForBrokenRuntime.csproj
  src/RoslynAnalyzers/Tools/RulesetToEditorconfigConverter/Source/RulesetToEditorconfigConverter.csproj
Labels: Area-Infrastructure

#79148 Pack error numbers for extension operators
  src/Compilers/CSharp/Portable/Errors/ErrorCode.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionOperatorsTests.cs
  src/Compilers/CSharp/Test/Emit3/Semantics/ExtensionTests.cs
Labels: Area-Compilers, Feature - Extension Everything

#79139 Slight allocation reduction in CommandLineParser.FlattenArgs
  src/Compilers/Core/Portable/CommandLine/CommandLineParser.cs
Labels: Area-Compilers

#79140 Small but trivial allocation improvement in FileWatchedReferenceFactory.StopWatchingReference
  src/Workspaces/Core/Portable/Workspace/ProjectSystem/FileWatchedPortableExecutableReferenceFactory.cs
Labels: Area-IDE, VSCode

#79047 Avoid acquiring the workspace lock on the UI thread if unneeded
  src/VisualStudio/Core/Def/ProjectSystem/VisualStudioWorkspaceImpl.OpenFileTracker.cs
Labels: Area-IDE

#79158 Avoid hitting object pool when not needed
  src/Dependencies/Collections/Extensions/FixedSizeArrayBuilder.cs
  src/Dependencies/Collections/Extensions/ImmutableArrayExtensions.cs
  src/Dependencies/Collections/Microsoft.CodeAnalysis.Collections.projitems
  src/Workspaces/MSBuild/BuildHost/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.csproj
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Core/CompilerExtensions.projitems
Labels: Area-IDE

#79159 Tweak clarity rules for parentheses where ?? is involved
  src/Analyzers/CSharp/Analyzers/AddRequiredParentheses/CSharpAddRequiredExpressionParenthesesDiagnosticAnalyzer.cs
  src/Analyzers/CSharp/Tests/AddRequiredParentheses/AddRequiredExpressionParenthesesTests.cs
  src/Analyzers/Core/Analyzers/AddRequiredParentheses/AbstractAddRequiredParenthesesDiagnosticAnalyzer.cs
Labels: Area-IDE, VSCode

#79154 Don't load the razor redirector unless it could actually be a razor assembly
  src/Tools/ExternalAccess/Razor/Features/RazorAnalyzerAssemblyRedirector.cs
Labels: Area-Analyzers, Area-Compilers

#79157 Fix issue where we offered to use a collection expression when teh user didn't have a viable Add method
  src/Analyzers/CSharp/Analyzers/UseCollectionInitializer/CSharpUseCollectionInitializerAnalyzer.cs
  src/Analyzers/CSharp/Tests/UseCollectionInitializer/UseCollectionInitializerTests_CollectionExpression.cs
  src/Analyzers/Core/Analyzers/UseCollectionInitializer/AbstractUseCollectionInitializerAnalyzer.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Compiler/Extensions/Symbols/ITypeSymbolExtensions.cs
Labels: Area-IDE, VSCode

#79170 Make cancellation token required
  src/EditorFeatures/Test2/GoToHelpers/GoToHelpers.vb
  src/Features/Core/Portable/DocumentHighlighting/AbstractDocumentHighlightsService.cs
  src/Features/Core/Portable/DocumentHighlighting/IRemoteDocumentHighlightsService.cs
  src/Workspaces/SharedUtilitiesAndExtensions/Workspace/Core/Extensions/ISolutionExtensions.cs
Labels: Area-IDE, VSCode

#79173 Speed up performance of remove-unused-imports fix all
  src/Analyzers/Core/CodeFixes/RemoveUnnecessaryImports/AbstractRemoveUnnecessaryImportsCodeFixProvider.cs
Labels: Area-IDE, VSCode

#79177 Simplify array helpers
  src/Dependencies/Collections/Extensions/ImmutableArrayExtensions.cs
Labels: Area-IDE

#79175 Fix renaming constructor via alias
  src/EditorFeatures/Test2/Rename/CSharp/AliasTests.vb
  src/Workspaces/Core/Portable/Rename/SymbolicRenameLocations.ReferenceProcessing.cs
Labels: Area-IDE, VSCode

#79179 Remove the 'intent' subsystem from roslyn
  src/EditorFeatures/CSharpTest/Intents/AddConstructorParameterIntentTests.cs
  src/EditorFeatures/CSharpTest/Intents/DeleteParameterIntentTests.cs
  src/EditorFeatures/CSharpTest/Intents/GenerateConstructorIntentTests.cs
  src/EditorFeatures/CSharpTest/Intents/IntentTestsBase.cs
  src/EditorFeatures/CSharpTest/Intents/RenameIntentTests.cs
  src/EditorFeatures/Core/ExternalAccess/IntelliCode/Api/IIntentSourceProvider.cs
  src/EditorFeatures/Core/ExternalAccess/IntelliCode/IntentProcessor.cs
  src/EditorFeatures/Core/Intents/DeleteParameterIntentProvider.cs
  src/EditorFeatures/Core/Intents/RenameIntentProvider.cs
  src/Features/CSharp/Portable/GenerateConstructors/CSharpGenerateConstructorsCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateConstructors/AbstractGenerateConstructorsCodeRefactoringProvider.cs
  src/Features/Core/Portable/Intents/IIntentProvider.cs
  src/Features/Core/Portable/Intents/IIntentProviderMetadata.cs
  src/Features/Core/Portable/Intents/IntentDataProvider.cs
  src/Features/Core/Portable/Intents/IntentProviderAttribute.cs
  src/Features/Core/Portable/Intents/IntentResult.cs
  src/Features/Core/Portable/Intents/WellKnownIntents.cs
Labels: Area-IDE, VSCode

#79198 Revert "Remove the 'intent' subsystem from roslyn (#79179)"
  src/EditorFeatures/CSharpTest/Intents/AddConstructorParameterIntentTests.cs
  src/EditorFeatures/CSharpTest/Intents/DeleteParameterIntentTests.cs
  src/EditorFeatures/CSharpTest/Intents/GenerateConstructorIntentTests.cs
  src/EditorFeatures/CSharpTest/Intents/IntentTestsBase.cs
  src/EditorFeatures/CSharpTest/Intents/RenameIntentTests.cs
  src/EditorFeatures/Core/ExternalAccess/IntelliCode/Api/IIntentSourceProvider.cs
  src/EditorFeatures/Core/ExternalAccess/IntelliCode/IntentProcessor.cs
  src/EditorFeatures/Core/Intents/DeleteParameterIntentProvider.cs
  src/EditorFeatures/Core/Intents/RenameIntentProvider.cs
  src/Features/CSharp/Portable/GenerateConstructors/CSharpGenerateConstructorsCodeRefactoringProvider.cs
  src/Features/Core/Portable/AddConstructorParametersFromMembers/AddConstructorParametersFromMembersCodeRefactoringProvider.cs
  src/Features/Core/Portable/GenerateConstructors/AbstractGenerateConstructorsCodeRefactoringProvider.cs
  src/Features/Core/Portable/Intents/IIntentProvider.cs
  src/Features/Core/Portable/Intents/IIntentProviderMetadata.cs
  src/Features/Core/Portable/Intents/IntentDataProvider.cs
  src/Features/Core/Portable/Intents/IntentProviderAttribute.cs
  src/Features/Core/Portable/Intents/IntentResult.cs
  src/Features/Core/Portable/Intents/WellKnownIntents.cs
Labels: Area-IDE, VSCode
